Data/xapidocs/api_javadocs/XSD/CommonCategoryDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/CommonCategoryDetails"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/CommonCategoryDetails" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="CommonCategoryDetails.xsd" yfc:rootElement="Category">
        <xsd:appinfo source="yfc:structure">
            <Category hasAttributes="Y">
                <AdditionalAttributeList>
                    <AdditionalAttribute hasAttributes="Y"/>
                </AdditionalAttributeList>
                <ItemServiceAssocList>
                    <ItemServiceAssoc hasAttributes="Y">
                        <ItemServiceAssocSkillList>
                            <ItemServiceAssocSkill hasAttributes="Y"/>
                        </ItemServiceAssocSkillList>
                    </ItemServiceAssoc>
                </ItemServiceAssocList>
                <AssetList hasAttributes="Y">
                    <Asset hasAttributes="Y">
                        <AssetLocaleList hasAttributes="Y">
                            <AssetLocale hasAttributes="Y"/>
                        </AssetLocaleList>
                    </Asset>
                </AssetList>
                <CategoryLocaleList hasAttributes="Y">
                    <CategoryLocale hasAttributes="Y"/>
                </CategoryLocaleList>
                <ClassificationItemAttribute hasAttributes="Y">
                    <SafetyFactorDefinitions>
                        <SafetyFactorDefinition hasAttributes="Y"/>
                    </SafetyFactorDefinitions>
                </ClassificationItemAttribute>
            </Category>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Category" type="yfc:CategoryXSDType">
        <xsd:annotation yfc:tableName="YFS_CATEGORY">
            <xsd:documentation>This table stores item category master information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CategoryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalAttributeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemServiceAssocList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CategoryLocaleList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ClassificationItemAttribute"/>
        </xsd:all>
        <xsd:attribute name="AuthorizedSubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="AUTH_SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>This field indicates the sub-catalog organization that the catalog organization authorizes to maintain the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The category domain associated with this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The unique identifier for this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The primary key for the YFS_CATEGORY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryPath" type="yfctype:Text-800" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The path for the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-2000" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The description of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The code for the organization this category is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentCategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_CATEGORY_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The parent category associated with this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The display sequence of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The short description of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:EnumShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The status of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The sub-catalog organization that maintains the category definition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="AdditionalAttributeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalAttribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttribute">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdditionalAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ADDITIONAL_ATTRIBUTE_KEY" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Primary key attribute of YFS_ADDITIONAL_ATTRIBUTE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DoubleValue" use="optional">
                <xsd:annotation yfc:columnName="DOUBLE_VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'DECIMAL'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IntegerValue" use="optional">
                <xsd:annotation yfc:columnName="INTEGER_VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'INTEGER'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IsInherited" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INHERITED" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>This field indicates whether the assignment of attribute value as additional attribute was based on inheritance. For ParentTable='YFS_CATEGORY', a value of 'Y' indicates that the assignment is based on inheritance of the value assigned to the upper level category. For ParentTable='YFS_ITEM', a value of 'Y' indicates that the assignment is based on inheritance of the value assigned to the category to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemServiceAssoc"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssoc">
        <xsd:annotation yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
            <xsd:documentation>All valid provided service items and delivery service associated to an item are maintained in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ItemServiceAssocSkillList"/>
            </xsd:all>
            <xsd:attribute name="HoldSchedTillCompletion"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="HOLD_SCHED_TILL_COMPLETION" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Flag to indicate whether to hold the schedule for the line containing provided service or delivery service item till line containing the parent item has been shipped.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Item for which service association is being maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingProductQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_PRODUCT_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Pricing Quantity for item used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingServiceQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_SERVICE_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Pricing Quantity for service used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Quantity for item used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemDesc" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ServiceItemId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_ID" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Provided service or delivery service item associated as option when selling the parent item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Quantity for service used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceTimeOffset"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ServiceUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_UOM" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>UOM of the provided service or delivery service item associated to the parent item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocSkillList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemServiceAssocSkill"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocSkill">
        <xsd:annotation yfc:tableName="YFS_ITEM_SERVICE_ASSC_SKILL">
            <xsd:documentation>This table stores Service Skill information for the service item association.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SERVICE_SKILL">
                    <xsd:documentation>Description of the Service Skill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSkillId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SKILL_ID" yfc:tableName="YFS_ITEM_SERVICE_ASSC_SKILL">
                    <xsd:documentation>Identifier of a Service Skill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Asset"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Asset">
        <xsd:annotation yfc:tableName="YFS_ASSET">
            <xsd:documentation>This table stores Asset information such as images, audio, datasheets, video, and URLs. Assets can be used to further describe Items, Categories, Attributes, and Attribute Allowed Values.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetLocaleList"/>
            </xsd:all>
            <xsd:attribute name="AssetID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ASSET_ID" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>The unique identifier for the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Primary key attribute of YFS_ASSET.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentID" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentLocation" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>External location of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentSize" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_SIZE" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Size of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Description of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayLocalizedFieldInLocale"
                type="yfctype:Locale" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Label" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="LABEL" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Label of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Type of asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetLocale"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetLocale">
        <xsd:annotation yfc:tableName="YFS_ASSET_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related asset in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ASSET table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssetLocaleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_LOCALE_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ASSET_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentID" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentLocation" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>External location of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Description of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Label" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="LABEL" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Label of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CategoryLocale"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryLocale">
        <xsd:annotation yfc:tableName="YFS_CATEGORY_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related category in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CategoryKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The reference key to the YFS_CATEGORY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryLocaleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_LOCALE_KEY" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The primary key of the YFS_CATEGORY_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The description of the category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The short description of the category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClassificationItemAttribute">
        <xsd:annotation yfc:tableName="YFS_CLASS_ITEM_ATTR">
            <xsd:documentation>This table stores common item attributes, which can be derived to items belonging to the specified classification during runtime.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SafetyFactorDefinitions"/>
            </xsd:all>
            <xsd:attribute name="ATPRule" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATP_RULE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The available to promise rule to be used for the item to determine availability.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdvanceNotificationTime" use="optional">
                <xsd:annotation
                    yfc:columnName="ADVANCE_NOTIFICATION_TIME" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The advance notification time for this item. Communication to ship the order to shipping node/supplier is made at most this many days before the expected shipment date. Used during the release process.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AssumeInfiniteInventory"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ASSUME_INFINITE_INVENTORY" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether an item is assumed to be always available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_PRODUCT_CLASS" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The default product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="FUTURE_SAFETY_FACTOR_PCT" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The future safety factor percentage of this item.  While retrieving availability of this item at a node with a node type that has ApplyOnhandSafetyFactor set to 'Y', the percentage specified as FutureSafetyFactorPercentage will be subtracted from the actual future availability of the item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="InventoryMonitorRule"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_MONITOR_RULE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The monitoring rule that will be used by the availability monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDeliveryAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DELIVERY_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the delivery method DEL is allowed for item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsEligibleForShippingDiscount"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ELIGIBLE_FOR_SHIP_DISC" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>Determines whether the item is eligible for shipping discounts. Default Value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFifoTracked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FIFO_TRACKED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether an item is FIFO tracked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemBasedAllocationAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_IBA_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the item is allowed for Item Based Allocation process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsParcelShippingAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PARCEL_SHIPPING_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the item can be shipped through parcel service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PICKUP_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the delivery method PICK is allowed for item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsReturnable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RETURNABLE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the item belonging to the classification is returnable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSerialTracked" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsShippingAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SHIPPING_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the delivery method SHP is allowed for item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LeadTime" use="optional">
                <xsd:annotation yfc:columnName="LEAD_TIME" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The lead time for getting the product delivered. Purchase order placed today will arrive after this many days at the warehouse.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaximumNotificationTime" use="optional">
                <xsd:annotation yfc:columnName="MAX_NOTIFICATION_TIME" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The maximum notification time for this item. Communication to ship the order to shipping node/supplier is made at most this many shipping calendar hours before the expected shipment date. Used during the release process.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MinNotificationTime" use="optional">
                <xsd:annotation yfc:columnName="MIN_NOTIFICATION_TIME" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The minimum notification time for this item. Communication to ship the order should be made at least this many days before the expected shipment date. Used to determine the earliest ship date on the line.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NodeLevelInventoryMonitorRule"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="NODE_LEVEL_INV_MONITOR_RULE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The monitoring rule that will be used by the real-time availability monitor for node-level monitoring.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_PCT" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The on-hand safety factor percentage of this item.  While retrieving availability of this item at a node with a node type that has ApplyOnhandSafetyFactor set to 'Y', the percentage specified as OnhandSafetyFactorPercentage will be subtracted from the actual on-hand availability of the item.  OnhandSafetyFactorPercentage will be used only when OnhandSafetyFactorQuantity is not specified.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorQuantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_QTY" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The on-hand safety factor quantity of this item.  While retrieving availability of this item at a node with a node type that has ApplyOnhandSafetyFactor set to 'Y', OnhandSafetyFactorQuantity will be subtracted from the actual on-hand availability of the item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RequiresDGOverride" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="REQUIRES_DG_OVERRIDE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates if the Default Distribution Rule has to be overridden for real time availability monitoring.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnWindow" use="optional">
                <xsd:annotation yfc:columnName="RETURN_WINDOW" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The number of days after which return may not be accepted.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UseUnplannedInventory"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USE_UNPLANNED_INV" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the item is allowed to use unplanned inventory. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SafetyFactorDefinitions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SafetyFactorDefinition"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SafetyFactorDefinition">
        <xsd:annotation yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
            <xsd:documentation>This table stores safety factor definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="FutureSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="FUTURE_SAFETY_FACTOR_PCT" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The future safety factor percentage of this item.  The FutureSafetyFactorPercentage will be excluded from the actual future availability of the item if the scheduling rule, node type, and supply type are configured to apply future safety factor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_PCT" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The on-hand safety factor percentage of this item.  The OnhandSafetyFactorPercentage will be excluded from the actual on-hand availability of the item if the scheduling rule, node type, and supply type are configured to apply on-hand safety factor.   OnhandSafetyFactorPercentage will be used only when OnhandSafetyFactorQuantity is not specified.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorQuantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_QTY" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The on-hand safety factor quantity of this item.  The OnhandSafetyFactorQuantity will be excluded from the actual on-hand availability of the item if the scheduling rule, node type, and supply type are configured to apply on-hand safety factor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
