Data/xapidocs/api_javadocs/XSD/INV_getResourcePoolConsumptionDetailsList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolConsumptionDetailsList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolConsumptionDetailsList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getResourcePoolConsumptionDetailsList_input.xsd" yfc:rootElement="ConsumptionDetail">
        <xsd:appinfo source="yfc:structure">
            <ConsumptionDetail hasAttributes="Y">
                <AdditionalCapacityLimits>
                    <AdditionalCapacityLimit hasAttributes="Y"/>
                </AdditionalCapacityLimits>
                <CapacityConsumption hasAttributes="Y">
                    <ResourcePool hasAttributes="Y"/>
                    <ServiceResource hasAttributes="Y"/>
                </CapacityConsumption>
            </ConsumptionDetail>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ConsumptionDetail" type="yfc:ConsumptionDetailXSDType">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
            <xsd:documentation>
                <div>
			Resource pool capacity consumption details input criteria. 
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ConsumptionDetailXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalCapacityLimits"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacityConsumption"/>
        </xsd:all>
        <xsd:attribute name="AppointmentSequence" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="APPT_SEQ" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The appointment sequence that reserved the capacity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Capacity" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The capacity consumed by this reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsSlotBased" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_SLOT_BASED" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>This flag indicates whether the consumption is slot based. Default value is Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManuallyCreatedReservation"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="MANUALLY_CREATED_RESERVATION" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>This flag indicates whether the reservation is created through the system resource capacity UI. Default value is N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The order associated with this capacity reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The order line associated with this capacity reservation. The service line which consumes reservation and blocks capacity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The order release associated with this capacity reservation. Only applicable to inventory capacity resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideCapacityCheck" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_OVERRIDDEN" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>This flag indicates whether capacity was ignored when taking the appointment. Default value is N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReservationExpirationDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RESERVATION_EXPIRATION_DATE" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The date on which the reservation expires. Capacity purge agent will remove reservations based on the reservation expiration timestamp.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReservationId" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="RESERVATION_ID" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The identifier for this capacity reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReservationReason" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="RESERVATION_REASON" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The reason this capacity reservation was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                <xsd:documentation>The work order associated with this capacity reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="AdditionalCapacityLimits">
        <xsd:annotation>
            <xsd:documentation>
                <div>The dimensions in which the resource pool's capacity is constrained, in addition to the resource pool's primary capacity dimension.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalCapacityLimit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimit">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
            <xsd:documentation>This table contains units of measures that are used as secondary resource pool capacity constraints.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Capacity" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The quantity consumed in the secondary capacity unit of measure.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
                    <xsd:documentation>
                        <div>The secondary capacity unit of measure in which the resource pool's capacity is limited.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CapacityConsumption">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
            <xsd:documentation>This table stores resource pool capacity consumption for each date/shift combination.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePool"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResource"/>
            </xsd:all>
            <xsd:attribute name="ConsumptionDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="CONSUMPTION_DATE" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The date that this capacity consumption is specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The shift end time for which consumption is specified. For INVENTORY resource pools, this defaults to 23:59:59.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The shift start time for which consumption is specified. For INVENTORY resource pools, this defaults to 00:00:00.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePool">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>This table stores information for a resource pool. A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (like regions serviced and skill sets). Capacity for providing services is maintained at the Resource Pool level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The node that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResource">
        <xsd:annotation yfc:tableName="YFS_SERVICE_RESOURCE">
            <xsd:documentation>This table stores the service resources defined for resource pools.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The node that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>Resource pool that the service resource belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>The unique identifier of the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_KEY" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_RESOURCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
