Data/xapidocs/api_javadocs/XSD/INV_getServiceSlotGroupList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getServiceSlotGroupList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getServiceSlotGroupList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getServiceSlotGroupList_input.xsd" yfc:rootElement="ServiceSlotGroup">
        <xsd:appinfo source="yfc:structure">
            <ServiceSlotGroup hasAttributes="Y">
                <ServiceSlotList>
                    <ServiceSlot hasAttributes="Y"/>
                </ServiceSlotList>
            </ServiceSlotGroup>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ServiceSlotGroup" type="yfc:ServiceSlotGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_SERVICE_SLOT_GROUP">
            <xsd:documentation>
                <div>
				A service slot group is a collection of service slots.
				<Validation>
                        <Condition>
							The <b>
                                <code>OrganizationKey</code>
                            </b> attribute is mandatory. If it is not passed:
						</Condition>
                        <Error
                            Description="INV: Missing mandatory attribute" ErrorCode="INV10008"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServiceSlotGroupXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceSlotList"/>
        </xsd:all>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode2" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>The type of item for this service slot group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>
                    <div>
					A Service Slot Group is created for a Capacity Organization. An Organization can use service slot groups within the same Capacity Organization.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSlotGroupDesc"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_DESC" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>Service Slot Group Identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSlotGroupId"
            type="yfctype:SlotGroupId" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_ID" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>Service Slot Group Identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSlotGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_KEY" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>Primary key attribute of YFS_SERVICE_SLOT_GROUP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ServiceSlotList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceSlot"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceSlot">
        <xsd:annotation yfc:tableName="YFS_SERVICE_SLOT">
            <xsd:documentation>
                <div>
					A service slot is a defined period of time against which service item promising can be made.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanUseForAppointment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_USE_FOR_APPT" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>This flag indicates whether or not appointments can be taken against this service slot.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>End time of Slot. For INVENTORY resource pools, this defaults to 23:59:59.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentSlotKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_SLOT_KEY" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Key attribute of the parent slot of the current service slot. Will be null if current slot has no parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotDesc"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_DESC" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Service Slot Description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_KEY" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_SLOT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_KEY" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_SLOT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Start time of Slot. For INVENTORY resource pools, this defaults to 00:00:00.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
