Data/xapidocs/api_javadocs/XSD/INV_getInventoryOwnershipTransferRecordList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getInventoryOwnershipTransferRecordList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getInventoryOwnershipTransferRecordList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getInventoryOwnershipTransferRecordList_output.xsd" yfc:rootElement="InventoryOwnershipTransferRecordList">
        <xsd:appinfo source="yfc:structure">
            <InventoryOwnershipTransferRecordList hasAttributes="Y">
                <InventoryOwnershipTransferRecord hasAttributes="Y"/>
            </InventoryOwnershipTransferRecordList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryOwnershipTransferRecordList" type="yfc:InventoryOwnershipTransferRecordListXSDType"/>
    <xsd:complexType name="InventoryOwnershipTransferRecordListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InventoryOwnershipTransferRecord"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InventoryOwnershipTransferRecord">
        <xsd:annotation yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
            <xsd:documentation>Complete audit of the inventory transferred from one inventory organization to another inventory organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:TagNo" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The batch number of the item whose inventory ownership got transfered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="FROM_ITEM_ID" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>Item ID of the Item, in source organization, whose ownership is transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="FROM_ORGANIZATION_CODE" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The organization from which the ownership gets transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromUnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="FROM_UOM" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>Unit Of Measure of the Item, in source organization, whose ownership is transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOwnerTransferRecordKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="INV_OWN_TRANSFER_RCD_KEY" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The primary key for the YFS_INV_OWN_TRANSFER_RCD  table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsStatisticsUpdated"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_STATISTICS_UPDATED" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>This flag will be used by the agent to update the yfs_ownership_transfer_summary table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:TagNo" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The lot number of the item whose inventory ownership got transfered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The Ship Node in which ownership is getting transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>Product Class of the Item whose ownership is transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>Inventory Quantity that has been transferred from 'FromOrganizationCode' to 'ToOrganizationCode' using the api 'transferInventoryOwnership'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The reason code for this inventory ownership transfer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The description of the reason for this inventory ownership transfer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The reference1 for inventory ownership transfer. If the inventory adjustment is the result of a change in the order for which the inventory is associated, the order's OrderHeaderKey will be posted as the value of Reference1.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The reference2 for this inventory ownership transfer. If the inventory adjustment is the result of a change in the order line for which the inventory is associated, the order line's OrderLineKey will be posted as the value of Reference2.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The reference3 for inventory ownership transfer. If the inventory adjustment is the result of receiving order, the receipt's ReceiptHeaderKey will be posted as the value of Reference3. If the inventory adjustment is the result of shipment confirmation, the shipment's ShipmentHeaderKey will be posted as the value of Reference3.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference4" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The reference4 for inventory ownership transfer. If the inventory adjustment is the result of receiving order, the receipt line's ReceiptLineKey will be posted as the value of Reference4. If the inventory adjustment is the result of shipment confirmation, the shipment line's ShipmentLineKey will be posted as the value of Reference4.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference5" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_5" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The reference5 for this inventory ownership transfer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:TagNo" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The revision number of the item whose inventory ownership got transfered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The inventory segment of the item whose inventory ownership got transfered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The inventory segment type of the item whose inventory ownership got transfered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The ship by date of the item whose inventory ownership got transfered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:SupplyType" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The supply type of the inventory whose ownership got transfered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The tag number of the item whose inventory ownership got transfered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="TO_ITEM_ID" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>Item ID of the Item in target organization, to whom ownership is transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="TO_ORGANIZATION_CODE" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>The organization to which the ownership gets transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToUnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TO_UOM" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>Unit Of Measure of the Item in target organization, to whom ownership is transferred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransferType"
                type="yfctype:TransferType" use="optional">
                <xsd:annotation yfc:columnName="TRANSFER_TYPE" yfc:tableName="YFS_INV_OWN_TRANSFER_RCD">
                    <xsd:documentation>Transfer type. Valid values: Manual and Automatic.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
