Data/xapidocs/api_javadocs/XSD/INV_getInventoryAuditSummary_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getInventoryAuditSummary/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getInventoryAuditSummary/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getInventoryAuditSummary_input.xsd" yfc:rootElement="InventoryAuditSummary">
        <xsd:appinfo source="yfc:structure">
            <InventoryAuditSummary hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryAuditSummary" type="yfc:InventoryAuditSummaryXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_AUDIT">
            <xsd:documentation>This table stores audit information for inventory.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryAuditSummaryXSDType">
        <xsd:attribute name="IgnoreOrdering" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						By default, the API output is ordered by INVENTORY_ITEM_KEY in ascending order. If <code>IgnoreOrdering</code> is passed as <b>
                            <code>Y</code>
                        </b>,this default ordering is omitted by the API.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The identifier of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates the organization.
						<Validation>
                            <Condition>Must be a valid organization. </Condition>
                            <Error
                                Description="Invalid organization code" ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> must be passed. </Condition>
                            <Error
                                Description="OrganizationCode is mandatory" ErrorCode="YFS10435"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The product class for the item of this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The inventory segment on this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The inventory segment type on this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The ship node associated with this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SummarizeAcrossShipByDate"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						By default, the API output is grouped accross <code>ShipByDate</code> of inventory audit. If <code>SummarizeAcrossTagAndSegment</code> is passed as <b>
                            <code>N</code>
                        </b>,this default grouping is omitted by the API.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SummarizeAcrossTagAndSegment"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						By default, the API output is grouped accross segment and tag attributes of inventory audit. If <code>SummarizeAcrossTagAndSegment</code> is passed as <b>
                            <code>N</code>
                        </b>,this default grouping is omitted by the API.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The supply type on this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionType" type="yfctype:ID-15" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_TYPE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The transaction type on this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The unit of measure for the item of this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
