Data/xapidocs/api_javadocs/XSD/INV_loadInventoryMismatch_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/loadInventoryMismatch/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/loadInventoryMismatch/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_loadInventoryMismatch_output.xsd" yfc:rootElement="Items">
        <xsd:appinfo source="yfc:structure">
            <Items hasAttributes="Y">
                <Item hasAttributes="Y">
                    <Supplies>
                        <Supply hasAttributes="Y">
                            <Tag hasAttributes="Y"/>
                        </Supply>
                    </Supplies>
                </Item>
            </Items>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Items" type="yfc:ItemsXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			The Items element contains common attributes for loading inventory picture of its children (Item elements) into the YFS_INVENTORY_SUPPLY_TEMP table.  Furthermore, these common attributes will be used by the syncLoadedInventory API.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Item"/>
        </xsd:sequence>
        <xsd:attribute name="ApplyDifferences" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				 Indicates whether to apply the differences to the <code>YFS_INVENTORY_SUPPLY</code> table in the database during the inventory synchronization process.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>If <code>ApplyDifferences</code> is passed as <b>
                            <code>Y</code>
                        </b>, the inventory mismatches detected are applied to the <code>YFS_INVENTORY_SUPPLY</code> table in the database.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompleteInventoryFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates whether to check all of the inventory for mismatches, or only those items described in the input XML during the inventory synchronization process.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>If <code>CompleteInventoryFlag</code> is passed as <b>
                            <code>Y</code>
                        </b>,  all the inventory supplies in the database for the <code>ShipNode</code> are checked for mismatches.
				<br/>If <code>CompleteInventoryFlag</code> is passed as <b>
                            <code>N</code>
                        </b>, only the supplies provided in the input XML are checked for mismatches.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PublishedTime" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				 Date and Time when inventory snapshot was taken.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The code of the reason for this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The description of the reason for this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The ship node where this inventory supply is located.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="YantraMessageGroupID"
            type="yfctype:Text-128" use="optional">
            <xsd:annotation yfc:columnName="YANTRA_MESSAGE_GROUP_ID" yfc:tableName="YFS_INVENTORY_SUPPLY_TEMP">
                <xsd:documentation>System message group identification.  This is an identifier that is used to group the inventory picture during the inventory synchronization process.  Inventory supplies loaded into YFS_Inventory_Supply_Temp table with the provided YantraMessageGroupID in the input XML of the syncLoadedInventory API will be considered during the inventory synchronization process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Supplies"/>
            </xsd:all>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Unprocessed" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Indicates whether the item was processed by the api or not.
				<br/>This flag will come in the output if the value is <code>Y</code> or if it is passed in the template.
				<br/>If <code>Unprocessed</code> is <code>Y</code> then the <code>Item</code> element is not template driven.			
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Supplies">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Supply"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Supply">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
            <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Tag"/>
            </xsd:all>
            <xsd:attribute name="AvailabilityType"
                type="yfctype:EnumAvailabilityType" use="optional">
                <xsd:annotation yfc:columnName="AVAILABILITY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>This field indicates the availability type for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ETA" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="ETA" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The date when this inventory supply will be first available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity"
                type="yfctype:QuantityPositiveAndNegative" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The quantity of this inventory supply. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set)</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The segment for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The segment type for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The date when this inventory supply will be last available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyLineReference" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_LINE_REFERENCE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The supply line reference for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyReference"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_REFERENCE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The reference for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyReferenceType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_REFERENCE_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The reference type for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The supply type of this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Tag">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Unique identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
