Data/xapidocs/api_javadocs/XSD/INV_getInventoryAuditSummary_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getInventoryAuditSummary/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getInventoryAuditSummary/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getInventoryAuditSummary_output.xsd" yfc:rootElement="InventoryAuditSummaries">
        <xsd:appinfo source="yfc:structure">
            <InventoryAuditSummaries hasAttributes="Y">
                <InventoryAuditSummary hasAttributes="Y">
                    <Item hasAttributes="Y">
                        <LanguageDescriptionList>
                            <LanguageDescription hasAttributes="Y"/>
                        </LanguageDescriptionList>
                    </Item>
                </InventoryAuditSummary>
            </InventoryAuditSummaries>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryAuditSummaries" type="yfc:InventoryAuditSummariesXSDType"/>
    <xsd:complexType name="InventoryAuditSummariesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InventoryAuditSummary"/>
        </xsd:sequence>
        <xsd:attribute name="SummarizeAcrossShipByDate"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates whether the API output is grouped across <code>ShipByDate</code> of inventory audit or not. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SummarizeAcrossTagAndSegment"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates whether the API output is grouped across segment and tag attributes of inventory audit or not.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Total number of records that match the input criteria. </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InventoryAuditSummary">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_AUDIT">
            <xsd:documentation>This table stores audit information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Item"/>
            </xsd:all>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The batch number on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The inventory item associated with this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The code of the organization that maintains the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The identifier of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The lot number on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The product class for the item of this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity"
                type="yfctype:QuantityPositiveAndNegative" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The adjusted quantity on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The revision number on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The inventory segment on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The inventory segment type on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The ship by date on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The ship node associated with this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The supply type on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The tag number on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionType" type="yfctype:ID-15" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_TYPE" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The transaction type on this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_AUDIT">
                    <xsd:documentation>The unit of measure for the item of this inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LanguageDescriptionList"/>
            </xsd:all>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The extended multi-line description of the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescriptionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LanguageDescription"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescription">
        <xsd:annotation yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
            <xsd:documentation>This table stores description in different languages.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>A localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>An extended localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_CODE" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Locale for which the extended description is stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Short description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
