Data/xapidocs/api_javadocs/XSD/INV_getNodeCostList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getNodeCostList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getNodeCostList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getNodeCostList_output.xsd" yfc:rootElement="NodeCostList">
        <xsd:appinfo source="yfc:structure">
            <NodeCostList hasAttributes="Y">
                <NodeCost hasAttributes="Y"/>
            </NodeCostList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeCostList" type="yfc:NodeCostListXSDType"/>
    <xsd:complexType name="NodeCostListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NodeCost"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The total number of opportunity records that match the input criteria.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NodeCost">
        <xsd:annotation yfc:tableName="YFS_NODE_COST">
            <xsd:documentation>This table stores information about the inventory node cost shared by JDA integrated service</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CalculatedCost"
                type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="CALCULATED_COST" yfc:tableName="YFS_NODE_COST">
                    <xsd:documentation>The calculated cost for the fulfillment node</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostCurrency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="COST_CURRENCY" yfc:tableName="YFS_NODE_COST">
                    <xsd:documentation>The currency in which the cost is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveEndDate" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YFS_NODE_COST">
                    <xsd:documentation>The ending date and time from which the node cost is effective</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EffectiveStartDate" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_NODE_COST">
                    <xsd:documentation>The starting date and time from which the node cost is effective</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE" yfc:tableName="YFS_NODE_COST">
                    <xsd:documentation>The node for which the cost represents</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_NODE_COST">
                    <xsd:documentation>Primary key attribute of YFS_ORGANIZATION table. The Enterprise code</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
