Data/xapidocs/api_javadocs/XSD/INV_syncLoadedInventory_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/syncLoadedInventory/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/syncLoadedInventory/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_syncLoadedInventory_input.xsd" yfc:rootElement="Inventory">
        <xsd:appinfo source="yfc:structure">
            <Inventory hasAttributes="Y">
                <SupplyTypes>
                    <SupplyType hasAttributes="Y"/>
                </SupplyTypes>
            </Inventory>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Inventory" type="yfc:InventoryXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			Perform inventory synchronization for the loaded inventory supplies in YFS_Inventory_Supply_Temp table with the provided ShipNode and YantraMessageGroupID combination.  
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SupplyTypes"/>
        </xsd:all>
        <xsd:attribute name="ApplyDifferences" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				 Indicates whether to apply the differences to the <code>YFS_INVENTORY_SUPPLY</code> table in the database during the inventory synchronization process.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>If <code>ApplyDifferences</code> is passed as <b>
                            <code>Y</code>
                        </b>, the inventory mismatches detected are applied to the <code>YFS_INVENTORY_SUPPLY</code> table in the database.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompleteInventoryFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates whether to check for mismatches for all of the inventory, or only the supplies, which were loaded into the YFS_INVENTORY_SUPPLY_TEMP table by the loadInventoryMismatch API.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>If <code>CompleteInventoryFlag</code> is passed as <b>
                            <code>Y</code>
                        </b>, all the inventory supplies in the database for the <code>ShipNode</code> are checked for mismatches.
				<br/>If <code>CompleteInventoryFlag</code> is passed as <b>
                            <code>N</code>
                        </b>, only the supplies in the YFS_INVENTORY_SUPPLY_TEMP table, are checked for mismatches.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InsertInventoryItem" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates whether to have the API inserts new inventory items and updates the <code>INVENTORY_ITEM_KEY</code> of the corresponding record in the <code>YFS_INVENTORY_SUPPLY_TEMP table</code>.   This is needed if the loadInventoryMismatch API was not used to load data into the <code>YFS_INVENTORY_SUPPLY_TEMP table</code>.While inserting records into <code>YFS_INVENTORY_SUPPLY_TEMP table</code> manually,unique constraints  defined on this table must be honoured. While honoring the unique constrains, if <code>INVENTORY_ITEM_KEY</code> cannot be inserted as blank, then you can insert the value of <code>INVENTORY_ITEM_KEY</code> such that it has a value like <code>InventoryItemKeysStartingWith</code> + a unique key.
				<br/>System will insert new inventory items and updates <code>INVENTORY_ITEM_KEY</code> of the corresponding record in the <code>YFS_INVENTORY_SUPPLY_TEMP table</code> if <code>INVENTORY_ITEM_KEY</code> is blank or has attribute <code>InventoryItemKeysStartingWith</code>.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryItemKeysStartingWith"
            type="yfctype:Text-24" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				This attribute is used only when <code>InsertInventoryItem</code> is passed as Y. While inserting records into <code>YFS_INVENTORY_SUPPLY_TEMP table</code> manually,unique constraints  defined on this table must be honoured. While honoring the unique constrains, if <code>INVENTORY_ITEM_KEY</code> cannot be inserted as blank, then you can insert the value of <code>INVENTORY_ITEM_KEY</code> such that has a value like <code>InventoryItemKeysStartingWith</code> + a unique key.
				<br/>If record is inserted in this temp table in this particular manner,pass this <code>InventoryItemKeysStartingWith</code> attribute,otherwise there is no need of passing this attribute.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PublishedTime" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				 Date and Time when inventory snapshot was taken.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The code of the reason for this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The description of the reason for this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RemoveInventoryNodeControl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates if inventory node controls of the item at the node should be removed if exists.
				        <br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>
                    <div>
				Node where inventory is located.
				<Validation>
                            <Condition>
                                <code>ShipNode</code> is not passed.
					</Condition>
                            <Error
                                Description="Missing mandatory parameters." ErrorCode="YFS10364"/>
                        </Validation>
                        <Validation>
                            <Condition>Must be a valid node in the system.
					</Condition>
                            <Error Description="Invalid Ship Node." ErrorCode="YFS10048"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SynchNonOnHandInventory"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Non-Onhand inventory is synched when this flag is Y.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="YantraMessageGroupID"
            type="yfctype:Text-128" use="optional">
            <xsd:annotation yfc:columnName="YANTRA_MESSAGE_GROUP_ID" yfc:tableName="YFS_INVENTORY_SUPPLY_TEMP">
                <xsd:documentation>
                    <div>
				System message group identification.  Inventory supplies loaded into YFS_Inventory_Supply_Temp table with the provided <code>YantraMessageGroupID</code> will be considered during the inventory synchronization process.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SupplyTypes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SupplyType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SupplyType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
            <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The supply type of this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
