Data/xapidocs/api_javadocs/XSD/INV_deleteInventoryMonitorRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/deleteInventoryMonitorRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/deleteInventoryMonitorRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_deleteInventoryMonitorRule_input.xsd" yfc:rootElement="InventoryMonitorRule">
        <xsd:appinfo source="yfc:structure">
            <InventoryMonitorRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryMonitorRule" type="yfc:InventoryMonitorRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
            <xsd:documentation>This table stores configuration information for setting up inventory monitoring rules.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryMonitorRuleXSDType">
        <xsd:attribute name="InventoryMonitorRule" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_MONITOR_RULE"
                yfc:isConditional="Y" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Inventory monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryMonitorRulesKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_MONITOR_RULES_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Primary key of YFS_Inventory_Monitor_Rules.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Organization which maintains the inventory monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
