Data/xapidocs/api_javadocs/XSD/INV_generateSerialNumbers_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/generateSerialNumbers/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/generateSerialNumbers/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_generateSerialNumbers_input.xsd" yfc:rootElement="Serials">
        <xsd:appinfo source="yfc:structure">
            <Serials>
                <SerialList hasAttributes="Y">
                    <SerialElem hasAttributes="Y"/>
                </SerialList>
            </Serials>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Serials" type="yfc:SerialsXSDType"/>
    <xsd:complexType name="SerialsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SerialList"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="SerialList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SerialElem"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:String" use="required"/>
            <xsd:attribute name="OrganizationCode" type="yfctype:String" use="required"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SerialElem">
        <xsd:complexType>
            <xsd:attribute name="FromSerialNo" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				This is the starting serial number of a range.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToSerialNo" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				This is the ending serial number of a range. 
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
