Data/xapidocs/api_javadocs/XSD/INV_manageInventoryMonitorRule_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/manageInventoryMonitorRule/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/manageInventoryMonitorRule/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_manageInventoryMonitorRule_output.xsd" yfc:rootElement="InventoryMonitorRules">
        <xsd:appinfo source="yfc:structure">
            <InventoryMonitorRules hasAttributes="Y">
                <DeliveryMethodListToMonitor>
                    <DeliveryMethodToMonitor hasAttributes="Y"/>
                </DeliveryMethodListToMonitor>
                <ProcurementFulfillmentTypeList>
                    <ProcurementFulfillmentType hasAttributes="Y"/>
                </ProcurementFulfillmentTypeList>
            </InventoryMonitorRules>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryMonitorRules" type="yfc:InventoryMonitorRulesXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
            <xsd:documentation>This table stores configuration information for setting up inventory monitoring rules.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryMonitorRulesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DeliveryMethodListToMonitor"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProcurementFulfillmentTypeList"/>
        </xsd:all>
        <xsd:attribute name="AlwaysRaiseBeyondLevel" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ALWAYS_RAISE_BEYOND_LEVEL" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Whenever availability falls below the level set for AlwaysRaiseBeyondLevel, alert will always be raised. Valid Values:{1,2,3}</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BeyondLeadTimeLevel1Action"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="BEYOND_LEAD_TIME_LEVEL1_ACTION" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
	    			Action to perform when available quantity beyond lead time is less then or equals to BEYOND_LEAD_TIME_LEVEL1_QTY. 
	    		</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BeyondLeadTimeLevel1Qty"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="BEYOND_LEAD_TIME_LEVEL1_QTY" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
					Level 1 quantity to monitor for inventory beyond the lead time. 
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BeyondLeadTimeLevel2Action"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="BEYOND_LEAD_TIME_LEVEL2_ACTION" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
					Action to perform when available quantity beyond lead time is less then or equals to BEYOND_LEAD_TIME_LEVEL2_QTY. 
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BeyondLeadTimeLevel2Qty"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="BEYOND_LEAD_TIME_LEVEL2_QTY" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
					Level 2 quantity to monitor for inventory beyond the lead time. 
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BeyondLeadTimeLevel3Action"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="BEYOND_LEAD_TIME_LEVEL3_ACTION" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
					Action to perform when available quantity beyond lead time is less then or equals to BEYOND_LEAD_TIME_LEVEL3_QTY. 
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BeyondLeadTimeLevel3Qty"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="BEYOND_LEAD_TIME_LEVEL3_QTY" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
					Level 3 quantity to monitor for inventory beyond the lead time. 
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderProcurementAtLevel"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CONSIDER_PROC_AT_LEVEL" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>When Inventory reaches this level, Procurements will be considered into the future availability. Valid values:{1,2,3}</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisableFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DISABLE_FLAG" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Indicates if the inventory monitor rule is disabled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryMonitorRule" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_MONITOR_RULE" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Inventory monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryMonitorRuleKey"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="InventoryMonitorRuleName"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_MONITOR_RULE_NAME" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Name of inventory monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryMonitorRuleType"
            type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_MONITOR_RULE_TYPE" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>The type of the inventory monitor rule. Default value: <code>ACTION</code>. Values:<br/>
                    <b>
                        <code>EVENT</code>
                    </b> - used for the event based monitor.<br/>
                    <b>
                        <code>ACTION</code>
                    </b> - <b>Deprecated.</b> As of 9.5 this has been replaced by <code>EVENT</code>.
						used for the action based monitor.
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LeadTimeLevel1Action" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LEAD_TIME_LEVEL1_ACTION" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
					Action to perform when available quantity is less then or equals to LEAD_TIME_LEVEL1_QTY. 
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LeadTimeLevel1Qty" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="LEAD_TIME_LEVEL1_QTY" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Level 1 (high) quantity to monitor for inventory within the lead time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LeadTimeLevel2Action" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LEAD_TIME_LEVEL2_ACTION" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
					Action to perform when available quantity is less then or equals to LEAD_TIME_LEVEL2_QTY. 
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LeadTimeLevel2Qty" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="LEAD_TIME_LEVEL2_QTY" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Level 2 (med) quantity to monitor for inventory within the lead time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LeadTimeLevel3Action" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LEAD_TIME_LEVEL3_ACTION" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 Inventory Monitor has been replaced by Realtime Availability Monitor.<br/>
					Action to perform when available quantity is less then or equals to LEAD_TIME_LEVEL3_QTY. 
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LeadTimeLevel3Qty" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="LEAD_TIME_LEVEL3_QTY" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Level 3 (low) quantity to monitor for inventory within the lead time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxMonitorDays" type="yfctype:NumberOfDays" use="optional">
            <xsd:annotation yfc:columnName="MAX_MONITOR_DAYS" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Maximum monitor days to monitor to, from current date.  For the REALTIME_ATP_MONITOR agent, if the the maximum monitor days is setup with value greater than 0, it will be used to calculate the horizon date instead of the item's lead days.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_MONITOR_RULES">
                <xsd:documentation>Organization which maintains the inventory monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="DeliveryMethodListToMonitor">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DeliveryMethodToMonitor"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeliveryMethodToMonitor">
        <xsd:annotation yfc:tableName="INV_MON_RULE_DEL_METHOD">
            <xsd:documentation>This table stores which delivery methods to consider for monitoring.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="INV_MON_RULE_DEL_METHOD">
                    <xsd:documentation>The delivery method to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorRuleDeliveryMethodKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MON_RULE_DEL_METHOD_KEY" yfc:tableName="INV_MON_RULE_DEL_METHOD">
                    <xsd:documentation>The primary key of the INV_MON_RULE_DEL_METHOD table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProcurementFulfillmentTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ProcurementFulfillmentType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProcurementFulfillmentType">
        <xsd:annotation yfc:tableName="INV_MON_RULE_FULFILLMENT_TYPE">
            <xsd:documentation>This table stores which Fulfillment Types to use for Procurements when availability is below the configured procurement threshold.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FulfillmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FULFILLMENT_TYPE" yfc:tableName="INV_MON_RULE_FULFILLMENT_TYPE">
                    <xsd:documentation>The Fulfillment Type to consider for Procurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
