Data/xapidocs/api_javadocs/XSD/INV_getInventoryReservationList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getInventoryReservationList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getInventoryReservationList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getInventoryReservationList_input.xsd" yfc:rootElement="InventoryReservation">
        <xsd:appinfo source="yfc:structure">
            <InventoryReservation hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryReservation" type="yfc:InventoryReservationXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_RESERVATION">
            <xsd:documentation>This table stores reservation information about an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryReservationXSDType">
        <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>The delivery method associated with the reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Demand type of the reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Expiration timestamp of the reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinShipByDate" use="optional">
            <xsd:annotation yfc:columnName="MIN_SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>The minimum ship by date of the demand of the reservation.  The demand can only consume from supplies with ship by dates, which are greater than or equal to its minimum ship by date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Organization which maintains the reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductAvailabilityDate" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_AVAILABILITY_DATE" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>The product availability date of the supply against which the reservation is made.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Reserved quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReservationID" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="RESERVATION_ID" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Identification of a reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Ship date of the reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Node where the reservation is being made.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
