Data/xapidocs/api_javadocs/XSD/INV_CAPACITY_CHANGE.ON_STD_CAPACITY_FREED.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/CAPACITY_CHANGE/ON_STD_CAPACITY_FREED"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/CAPACITY_CHANGE/ON_STD_CAPACITY_FREED" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_CAPACITY_CHANGE.ON_STD_CAPACITY_FREED.xsd" yfc:rootElement="Node">
        <xsd:appinfo source="yfc:structure">
            <Node hasAttributes="Y">
                <ResourcePools>
                    <ResourcePool hasAttributes="Y">
                        <ServiceSlots>
                            <ServiceSlot hasAttributes="Y">
                                <Dates>
                                    <Date hasAttributes="Y"/>
                                </Dates>
                            </ServiceSlot>
                        </ServiceSlots>
                    </ResourcePool>
                </ResourcePools>
            </Node>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Node" type="yfc:NodeXSDType"/>
    <xsd:complexType name="NodeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePools"/>
        </xsd:all>
        <xsd:attribute name="EndDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>End Date of the date range.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
					The node associated with the resource pool.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>Start Date of the date range.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ResourcePools">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ResourcePool"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePool">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>This table stores information for a resource pool. A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (like regions serviced and skill sets). Capacity for providing services is maintained at the Resource Pool level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceSlots"/>
            </xsd:all>
            <xsd:attribute name="AllRegionsServiced" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALL_REGIONS_SERVICED" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether all regions are serviced by this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The calendar that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityInfoAvailable"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_INFO_AVAILABLE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether this resource pool has capacity information available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityMaintainAtResourceLevel"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAP_MAINTAIN_AT_RESOURCE_LEVEL" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether capacity is maintained at the resource level for this resource pool. Default Value is 'N'.  If set to Y, resource pool is allowed to define resources, and Standard and/or Override capacity cannot be defined for the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>
                        <div>
							A Resource Pool is always created wihin the context of a Capacity Organization. An Organization can source services from any Resource Pools within the same Capacity Organization.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_UOM" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unit of measure in which resource pool capacity should be specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:EnumItemGroupCode2" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The type of item that this resource pool services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>
                        <div>
							The node associated with the resource pool.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderContactAddressKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_CONTACT_ADDRESS_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The provider contact address that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProvidesAllServices"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PROVIDES_ALL_SERVICES" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether all services are provided by this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The region schema associated with this resource pool. If region schema is defined for a resource pool, it will override the region schema associated at provider organization level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_DESC" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The desciption of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotGroupId"
                type="yfctype:SlotGroupId" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The identifier of the service slot.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSupervisorId"
                type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This field represents the supervisor responsible for the reosurce pool.This will be a valid user ID in the system. This user will belong to the node owning the reosurce pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceSlots">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceSlot"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceSlot">
        <xsd:annotation yfc:tableName="YFS_SERVICE_SLOT">
            <xsd:documentation>This table stores the list of service slots for a Slot Group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Dates"/>
            </xsd:all>
            <xsd:attribute name="CanUseForAppointment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_USE_FOR_APPT" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>This flag indicates whether or not appointments can be taken against this service slot.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>End time of Slot. For INVENTORY resource pools, this defaults to 23:59:59.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentSlotKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_SLOT_KEY" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Key attribute of the parent slot of the current service slot. Will be null if current slot has no parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotDesc"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_DESC" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Service Slot Description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_KEY" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_SLOT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_KEY" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_SLOT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Start time of Slot. For INVENTORY resource pools, this defaults to 00:00:00.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Dates">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Date">
        <xsd:annotation>
            <xsd:documentation>
                <div>This element shows the capacity picture on a particular date and for a particular unit of measure.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllocatedConsumption"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Allocated Consumption of the resource pool for the date.  For the resource pool which maintains capacity at resource level, this is the sum of allocated consumptions of the resources.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Availability" type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Availability of the resource pool for the date.  If the <code>ConsiderSupplementalCapacity</code> flag is passed as <b>
                            <code>Y</code>
                        </b> in the input, supplemental capacity is considered in the <code>Availability</code>.  For the resource pool which maintains capacity at resource level, this is the sum of the availabilities of the resources.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Capacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Capacity of the resource pool for the date.  For the resource pool which maintains capacity at resource level, this is the sum of capacities of the resources.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The capacity unit of measure in which the capacities are defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComputedCapacityFromResources"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Sum of capacity from each service resource associated with the resource pool in the slot for the date.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Date" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayOfWeek" type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Day of the week.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCapacityOverridden"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicate if the Capacity is the overridden capacity for the date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsWorkingDay" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicate if the date is a working day.  For the resource pool which defines resources, <code>IsWorkingDay</code> will be set to <code>
                            <b>Y</b>
                        </code>, if at least one of the resource is working on this day. </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideReason" type="yfctype:Text-200" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The reason this capacity was overridden.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StandardCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Standard Capacity of the resource pool for the date.  For the resource pool which maintains capacity at resource level, <code>StandardCapacity</code> will be 0. </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StandardSupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The standard supplemental capacity of the resource pool for the date.  For the resource pool which maintains capacity at resource level, <code>StandardSupplementalCapacity</code> will be 0. </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The supplemental capacity of the resource pool for the date.  For the resource pool which maintains capacity at resource level, <code>SupplementalCapacity</code> will be 0. </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
