Data/xapidocs/api_javadocs/XSD/INV_getCostFactorGroupList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getCostFactorGroupList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getCostFactorGroupList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getCostFactorGroupList_input.xsd" yfc:rootElement="CostFactorGroup">
        <xsd:appinfo source="yfc:structure">
            <CostFactorGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CostFactorGroup" type="yfc:CostFactorGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_COST_FACTOR_GROUP">
            <xsd:documentation>This table stores information about cost factor groups defined in the system. Cost factor group are defined by the enterprise organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CostFactorGroupXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>Organization used to get the list of cost factor groups.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostFactorGroupDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation
                yfc:columnName="COST_FACTOR_GROUP_DESCRIPTION" yfc:tableName="YFS_COST_FACTOR_GROUP">
                <xsd:documentation>Description of the Cost Factor Group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostFactorGroupName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="COST_FACTOR_GROUP_NAME" yfc:tableName="YFS_COST_FACTOR_GROUP">
                <xsd:documentation>Name of the Cost Factor Group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COST_FACTOR_GROUP">
                <xsd:documentation>Organization code of the enterprise, which owns the cost factor group.Link to YFS_Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
