Data/xapidocs/api_javadocs/XSD/INV_manageServiceSlotGroup_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/manageServiceSlotGroup/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/manageServiceSlotGroup/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_manageServiceSlotGroup_output.xsd" yfc:rootElement="ServiceSlotGroup">
        <xsd:appinfo source="yfc:structure">
            <ServiceSlotGroup hasAttributes="Y">
                <ServiceSlotList hasAttributes="Y">
                    <ServiceSlot hasAttributes="Y"/>
                </ServiceSlotList>
            </ServiceSlotGroup>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ServiceSlotGroup" type="yfc:ServiceSlotGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_SERVICE_SLOT_GROUP">
            <xsd:documentation>The master table for defining service slots (time periods). A Resource Pool is associated to a single Slot Group.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServiceSlotGroupXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceSlotList"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The code of the organization that will request a change for service slot</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode2" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>The type of item for this service slot group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>Primary key attribute of YFS_ORGANIZATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSlotGroupDesc"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_DESC" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>Service Slot Group Identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSlotGroupId"
            type="yfctype:SlotGroupId" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_ID" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>Service Slot Group Identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSlotGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_KEY" yfc:tableName="YFS_SERVICE_SLOT_GROUP">
                <xsd:documentation>Primary key attribute of YFS_SERVICE_SLOT_GROUP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ServiceSlotList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceSlot"/>
            </xsd:sequence>
            <xsd:attribute name="ServiceSlotGroupDesc"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceSlot">
        <xsd:annotation yfc:tableName="YFS_SERVICE_SLOT">
            <xsd:documentation>This table stores the list of service slots for a Slot Group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EndTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>End time of Slot. For INVENTORY resource pools, this defaults to 23:59:59.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotDesc"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_DESC" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Service Slot Description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_KEY" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_SLOT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_KEY" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_SLOT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Start time of Slot. For INVENTORY resource pools, this defaults to 00:00:00.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
