Data/xapidocs/api_javadocs/XSD/INV_getResourcePoolDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getResourcePoolDetails_input.xsd" yfc:rootElement="ResourcePool">
        <xsd:appinfo source="yfc:structure">
            <ResourcePool hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResourcePool" type="yfc:ResourcePoolXSDType">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>
                <div>
				A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (for example, regions serviced and skill sets). Capacity for providing services is maintained against a Resource Pool.
					<Validation>
                        <Condition>
						A Resource Pool must already be present in the system. If a Resource Pool is not present:
						</Condition>
                        <Error
                            Description="Resource Pool for given criteria not found" ErrorCode="INV10014"/>
                    </Validation>
                    <Validation>
                        <Condition>
						The Root Node must be ResourcePool. If not:
						</Condition>
                        <Error Description="Invalid Root Node" ErrorCode="INV10003"/>
                    </Validation>
                    <Validation>
                        <Condition>
						Either <code>ResourcePoolKey</code> or {<code>Node</code> + <code>ResourcePoolId</code> + <code>CapacityOrganizationCode</code>} must be passed. If not:
						</Condition>
                        <Error
                            Description="Missing Mandatory Attributes" ErrorCode="INV10008"/>
                    </Validation>
                    <Validation>
                        <Condition>
						The output template must be found. If output template not found:
						</Condition>
                        <Error Description="Output template not found" ErrorCode="YFS10379"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ResourcePoolXSDType">
        <xsd:attribute name="CapacityOrganizationCode"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
					A Resource Pool is always created wihin the context of a Capacity Organization. An Organization can source services from any Resource Pools within the same Capacity Organization.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					If both <code>EffectiveStartDate</code> and <code>EffectiveEndDate</code> are passed, only the effective periods with matching <code>StartDate</code> and <code>EndDate</code> are returned.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					If both <code>EffectiveStartDate</code> and <code>EffectiveEndDate</code> are passed, only the effective periods with matching <code>StartDate</code> and <code>EndDate</code> are returned.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The node that is associated with this resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OnlyCurrentEffectivePeriod"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Valid values are <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>.<br>
					If <b>
                                <code>Y</code>
                            </b>, retrieve only the effective periods into which today's date falls.</br>
					If <b>
                            <code>N</code>
                        </b> (the default value), retrieve all effective periods of the resource pool.<br>
					If <b>
                                <code>Y</code>
                            </b> is passed, <code>EffectiveStartDate</code> and <code>EffectiveEndDate</code> are ignored.</br>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactInWorkDay" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Applicable for resource pools with purpose <code>
                            <b>WMS-RP</b>
                        </code>. The flag indicates whether to return the capacities in terms of Work Day defined at the node or not.<br>
					Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </br>
					If no value is passed, the default is <b>
                            <code>N</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
