Data/xapidocs/api_javadocs/XSD/INV_getInventoryNodeControlList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getInventoryNodeControlList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getInventoryNodeControlList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getInventoryNodeControlList_input.xsd" yfc:rootElement="InventoryNodeControl">
        <xsd:appinfo source="yfc:structure">
            <InventoryNodeControl hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryNodeControl" type="yfc:InventoryNodeControlXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
            <xsd:documentation>Stores inventory control information for inventory organization, node, and item combinations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryNodeControlXSDType">
        <xsd:attribute name="InvPictureIncorrectTillDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="INV_PIC_INCORRECT_TILL_DATE" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                <xsd:documentation>Timestamp for which the inventory picture for an item at a node is incorrect until.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                <xsd:documentation>
                    <div>
              Item for which inventory control is being setup.<br/>
                        <br/>
              ItemID is a required field when using cassandra
              </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                <xsd:documentation>Node for which inventory control is being setup.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeControlType"
            type="yfctype:EnumNodeControlType" use="optional">
            <xsd:annotation yfc:columnName="NODE_CONTROL_TYPE" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                <xsd:documentation>
                    <div>
						The type of inventory node control represented by this record.  Valid values include:
						<ul>
                            <li>
                                <code>
                                    <b>ON_HOLD</b>
                                </code> - Inventory is on hold for sourcing for this item/node combination.</li>
                            <li>
                                <code>
                                    <b>IDLE_ASSET</b>
                                </code> - Inventory is idle for this item/node combination.</li>
                        </ul>
						If not passed, node control records will be returned across all node control types.<br/>
                        <br/>
						NodeControlType is a required field when using cassandra
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                <xsd:documentation>
                    <div>
              Inventory Organization Code.<br/>
                        <br/>
              OrganizationCode is a required field when using cassandra
              </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                <xsd:documentation>
                    <div>
              Product Class of the item.<br/>
                        <br/>
              ProductClass is a required field when using cassandra
              </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_DATE" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                <xsd:documentation>The timestamp after which to apply this inventory node control record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                <xsd:documentation>
                    <div>
              Unit of Measure of the item. <br/>
                        <br/>
              UnitOfMeasure is a required field when using cassandra
              </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
