Data/xapidocs/api_javadocs/XSD/INV_getResourcePoolList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getResourcePoolList_output.xsd" yfc:rootElement="ResourcePools">
        <xsd:appinfo source="yfc:structure">
            <ResourcePools>
                <ResourcePool hasAttributes="Y">
                    <AdditionalCapacityLimitList hasAttributes="Y">
                        <AdditionalCapacityLimit hasAttributes="Y"/>
                    </AdditionalCapacityLimitList>
                    <ServiceResources hasAttributes="Y">
                        <ServiceResource hasAttributes="Y">
                            <ServiceResourceCalendar hasAttributes="Y"/>
                            <ServiceResourceContactAddress hasAttributes="Y"/>
                            <ServiceResourceUsers hasAttributes="Y">
                                <ServiceResourceUser hasAttributes="Y"/>
                            </ServiceResourceUsers>
                        </ServiceResource>
                    </ServiceResources>
                </ResourcePool>
            </ResourcePools>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResourcePools" type="yfc:ResourcePoolsXSDType"/>
    <xsd:complexType name="ResourcePoolsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ResourcePool"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ResourcePool">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>
                <div>
				A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (for example, regions serviced and skill sets). Capacity for providing services is maintained against a resource pool.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalCapacityLimitList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResources"/>
            </xsd:all>
            <xsd:attribute name="AllRegionsServiced" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALL_REGIONS_SERVICED" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether all regions are serviced by this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssociateRegionBySlot"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_REGION_BY_SLOT" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The flag indicates whether the resource pool is associated to the regions by using service slots.  Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The calendar that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityInfoAvailable"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_INFO_AVAILABLE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether this resource pool has capacity information available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityMaintainAtResourceLevel"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAP_MAINTAIN_AT_RESOURCE_LEVEL" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether capacity is maintained at the resource level for this resource pool. Default Value is 'N'.  If set to Y, resource pool is allowed to define resources, and Standard and/or Override capacity cannot be defined for the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>
                        <div>
					A Resource Pool is always created within the context of a Capacity Organization. An Organization can source services from any Resource Pools within the same Capacity Organization.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_UOM" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unit of measure in which resource pool capacity should be specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:EnumItemGroupCode2" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The type of item that this resource pool services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The node that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderContactAddressKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_CONTACT_ADDRESS_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The provider contact address that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProvidesAllServices"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PROVIDES_ALL_SERVICES" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This flag indicates whether all services are provided by this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose"
                type="yfctype:INVResourcePoolPurpose" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This field indicates if the resource pool is used for service or dock scheduling. Default value: SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_DESC" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The desciption of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSupervisorId"
                type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>This field represents the supervisor responsible for the reosurce pool.This will be a valid user ID in the system. This user will belong to the node owning the reosurce pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimitList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalCapacityLimit"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Total number of records.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimit">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
            <xsd:documentation>This table contains units of measures that are used as secondary resource pool capacity constraints.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
                    <xsd:documentation>
                        <div>
							The secondary capacity unit of measure in which the resource pool's capacity is additionally limited.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResources">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceResource"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Total number of records.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResource">
        <xsd:annotation yfc:tableName="YFS_SERVICE_RESOURCE">
            <xsd:documentation>This table stores the service resources defined for resource pools.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResourceCalendar"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResourceContactAddress"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResourceUsers"/>
            </xsd:all>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>The node that is associated with this resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>Additional information about the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>The unique identifier of the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_KEY" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_RESOURCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResourceCalendar">
        <xsd:annotation yfc:tableName="YFS_CALENDAR">
            <xsd:documentation>Stores information related to a Calendar. Calendar can be created for an organization or for a ship node.  Calendar is created by the createCalendar API and managed by changeCalendar API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CalendarId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_ID" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Unique key to identify a Calendar.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Primary key attribute of YFS_CALENDAR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Organization which owns the Calendar.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResourceContactAddress">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternateEmailID"
                type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The company this person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Department" type="yfctype:Department" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxt" type="yfctype:ErrorText" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TXT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The first name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JobTitle" type="yfctype:Title-40" use="optional">
                <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The job title of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The last name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:MiddleName" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
                <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonInfoKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PERSON_INFO_KEY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary key for the YFS_PERSON_INFO table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredShipAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="USE_COUNT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VerificationStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="VERIFICATION_STATUS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResourceUsers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceResourceUser"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Total number of records.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResourceUser">
        <xsd:annotation yfc:tableName="YFS_SERVICE_RESOURCE_USER">
            <xsd:documentation>This table stores the node users who are defined for a service resource.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="UserId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_SERVICE_RESOURCE_USER">
                    <xsd:documentation>User Id of the resource member.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
