Data/xapidocs/api_javadocs/XSD/INV_getResourcePoolCapacity_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolCapacity/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolCapacity/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getResourcePoolCapacity_input.xsd" yfc:rootElement="ResourcePool">
        <xsd:appinfo source="yfc:structure">
            <ResourcePool hasAttributes="Y">
                <PersonInfo hasAttributes="Y"/>
            </ResourcePool>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResourcePool" type="yfc:ResourcePoolXSDType">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>
                <div>
				A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (for example, regions serviced and skill sets). Capacity for providing services is maintained against a Resource Pool.
					<Validation>
                        <Condition>
						The <code>CapacityOrganizationCode</code>, <code>ProviderOrganizationCode</code> or <code>CallingOrganizationCode</code> along with <code>Node</code>, and <code>ItemGroupCode</code> attributes must be passed. If not passed:
						</Condition>
                        <Error
                            Description="INV: Missing mandatory attribute" ErrorCode="INV10008"/>
                    </Validation>
                    <Validation>
                        <Condition>
						If <code>StartDate</code> and <code>EndDate</code> are passed, <code>StartDate</code> must be before <code>EndDate</code>. If <code>StartDate</code> is after <code>EndDate</code>:
						</Condition>
                        <Error
                            Description="INV: StartDate must be before EndDate" ErrorCode="INV10026"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ResourcePoolXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PersonInfo"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Pass either <code>CapacityOrganizationCode</code> and <code>ProviderOrganizationCode</code> Or <code>CallingOrganizationCode</code> along with <code>Node</code> and <code>ItemGroupCode</code>. If <code>CapacityOrganizationCode</code> is not passed and <code>CallingOrganizationCode</code> is passed, <code>CapacityOrganizationCode</code> will be derived from <code>CallingOrganizationCode</code>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CapacityInfoAvailable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_INFO_AVAILABLE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This flag indicates whether this resource pool has capacity information available.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CapacityOrganizationCode"
            type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="CAPACITY_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
					A Resource Pool is always created wihin the context of a Capacity Organization. An Organization can source services from any Resource Pools within the same Capacity Organization.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CapacityUnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_UOM" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The unit of measure in which resource pool capacity should be specified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderSupplementalCapacity"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The flag indicates whether or not to consider supplemental capacity when computing the availability.<br>
					Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </br>
					If no value is passed, the default is <b>
                            <code>N</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The End Date of the date range.  If <code>EndDate</code> is not passed, it defaults as follows:<br>
					if <code>NumberOfDaysFromStartDate</code> is passed, <code>EndDate</code> = <code>StartDate</code> + <code>NumberOfDaysFromStartDate</code> (including the Start Date)</br>
					else <code>EndDate</code> = <code>StartDate</code> + 7 (including the Start Date).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode2" use="required">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The type of item that this resource pool services.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
					The node associated with the resource pool.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfDaysFromStartDate"
            type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The number of days from the Start Date for the date range to the End Date.<br>
					If <code>NumberOfDaysFromStartDate</code> is passed, it is used to calculate <code>EndDate</code>, if <code>EndDate</code> is not passed.</br>
					If <code>NumberOfDaysFromStartDate</code> is not passed, it defaults to 7 days.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProviderOrganizationCode"
            type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_DESC" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The desciption of the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSupervisorId" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This field represents the supervisor responsible for the reosurce pool.This will be a valid user ID in the system. This user will belong to the node owning the reosurce pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The Start Date of the date range.  If <code>StartDate</code> is not passed, it defaults to today's date.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactInWorkDay" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Applicable for resource pools with purpose <code>
                            <b>WMS-RP</b>
                        </code>. The flag indicates whether to return the capacities and availablities in terms of Work Day defined at the node or not.<br>
					Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </br>
					If no value is passed, the default is <b>
                            <code>N</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseCapacityCache" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The flag indicates whether or not to read the capacity data from capacity cache Instead of reading from Capacity tables when EndDate is less than or equal to capacity configured days.
					<br>
					Valid values: 
						<b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </br>
					If no value is passed, the default is 
					<b>
                            <code>N</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PersonInfo">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>
                <div>
					The address of the serviced location. The <code>queryType</code> attribute cannot be passed for any of the input attributes. If this element is passed, <code>Country</code> is mandatory.
					<Validation>
                        <Condition>
						If <code>Country</code> is not passed or invalid:
						</Condition>
                        <Error Description="Invalid Country" ErrorCode="YCP0129"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
