Data/xapidocs/api_javadocs/XSD/INV_getInventoryNodeControlList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getInventoryNodeControlList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getInventoryNodeControlList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getInventoryNodeControlList_output.xsd" yfc:rootElement="InventoryNodeControlList">
        <xsd:appinfo source="yfc:structure">
            <InventoryNodeControlList>
                <InventoryNodeControl hasAttributes="Y">
                    <ShipNode hasAttributes="Y"/>
                </InventoryNodeControl>
            </InventoryNodeControlList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryNodeControlList" type="yfc:InventoryNodeControlListXSDType"/>
    <xsd:complexType name="InventoryNodeControlListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryNodeControl"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="InventoryNodeControl">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
            <xsd:documentation>Stores inventory control information for inventory organization, node, and item combinations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipNode"/>
            </xsd:all>
            <xsd:attribute name="InvPictureIncorrectNow"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Indicates if the inventory picture is incorrect right now based on the current database time.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvPictureIncorrectTillDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="INV_PIC_INCORRECT_TILL_DATE" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                    <xsd:documentation>Timestamp for which the inventory picture for an item at a node is incorrect until.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                    <xsd:documentation>Item for which inventory control is being setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                    <xsd:documentation>Node for which inventory control is being setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeControlType"
                type="yfctype:EnumNodeControlType" use="optional">
                <xsd:annotation yfc:columnName="NODE_CONTROL_TYPE" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                    <xsd:documentation>The type of inventory node control.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                    <xsd:documentation>Inventory Organization Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                    <xsd:documentation>Product Class of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="START_DATE" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                    <xsd:documentation>The timestamp after which to apply this inventory node control record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_NODE_CONTROL">
                    <xsd:documentation>Unit of Measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNode">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>the description of the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IdentifiedByParentAs"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="IDENTIFIED_BY_PARENT_AS" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The store or distribution center identifier assigned by the parent organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The owner organization that is associated with this ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
