Data/xapidocs/api_javadocs/XSD/INV_getATPRulesList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getATPRulesList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getATPRulesList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getATPRulesList_output.xsd" yfc:rootElement="AtpRulesList">
        <xsd:appinfo source="yfc:structure">
            <AtpRulesList hasAttributes="Y">
                <AtpRules hasAttributes="Y"/>
            </AtpRulesList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AtpRulesList" type="yfc:AtpRulesListXSDType"/>
    <xsd:complexType name="AtpRulesListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AtpRules"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="AtpRules">
        <xsd:annotation yfc:tableName="YFS_ATP_RULES">
            <xsd:documentation>This table stores 'available to promise' rules.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AccumulationDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="ACCUMULATION_DAYS" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Number of days configured for accumulation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdvanceNotificationTime"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation
                    yfc:columnName="ADVANCE_NOTIFICATION_TIME" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Number of days befores which notification is required.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AtpRule" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="ATP_RULE" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Unique Identifier for an ATP Rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AtpRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATP_RULE_KEY" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Primary key of an ATP rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AtpRuleName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATP_RULE_NAME" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Name of an ATP rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BackwardConsumptionDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation
                    yfc:columnName="BACKWARD_CONSUMPTION_DAYS" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Number of days configured for backward consumption.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsiderPoForAlloc" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CONSIDER_PO_FOR_ALLOC" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>No logic around this flag currently.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForwardConsumptionDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation
                    yfc:columnName="FORWARD_CONSUMPTION_DAYS" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Number of days configured for forward consumption.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxInventoryHoldDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="MAX_INVENTORY_HOLD_DAYS" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Maximum number of days for which inventory can be held.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Organization Code of an ATP rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PastDueDemandDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="PAST_DUE_DEMAND_DAYS" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Consider Demands not older than this many days.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PastDueSupplyDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="PAST_DUE_SUPPLY_DAYS" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Consider Supply not older than this many days.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessingTime"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="PROCESSING_TIME" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Number of days required for processing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
