Data/xapidocs/api_javadocs/XSD/INV_getItemNodeVelocityList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getItemNodeVelocityList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getItemNodeVelocityList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getItemNodeVelocityList_output.xsd" yfc:rootElement="ItemNodeVelocities">
        <xsd:appinfo source="yfc:structure">
            <ItemNodeVelocities hasAttributes="Y">
                <ItemNodeVelocity hasAttributes="Y"/>
            </ItemNodeVelocities>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemNodeVelocities" type="yfc:ItemNodeVelocitiesXSDType"/>
    <xsd:complexType name="ItemNodeVelocitiesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ItemNodeVelocity"/>
        </xsd:all>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="ItemNodeVelocity">
        <xsd:annotation yfc:tableName="YFS_ITEM_NODE_VELOCITY">
            <xsd:documentation>Peak velocities for an inventory item and ship node pair.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_ITEM_NODE_VELOCITY">
                    <xsd:documentation>The primary key of the YFS_INVENTORY_ITEM record for which this is a velocity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemNodeVelocityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_NODE_VELOCITY_KEY" yfc:tableName="YFS_ITEM_NODE_VELOCITY">
                    <xsd:documentation>The primary key for the YFS_ITEM_NODE_VELOCITY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityInMaxWindow" use="optional">
                <xsd:annotation yfc:columnName="QTY_IN_MAX_WINDOW" yfc:tableName="YFS_ITEM_NODE_VELOCITY">
                    <xsd:documentation>The number of items for which demand was created (or supply reduced) in the maximum window.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="QuantityInMinWindow" use="optional">
                <xsd:annotation yfc:columnName="QTY_IN_MIN_WINDOW" yfc:tableName="YFS_ITEM_NODE_VELOCITY">
                    <xsd:documentation>The number of items for which demand was created (or supply reduced) in the minimum window.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_ITEM_NODE_VELOCITY">
                    <xsd:documentation>The primary key of the YFS_SHIPNODE record for which this is a velocity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VelocityDate" use="optional">
                <xsd:annotation yfc:columnName="VELOCITY_DATE" yfc:tableName="YFS_ITEM_NODE_VELOCITY">
                    <xsd:documentation>The time the velocity was recorded.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
