Data/xapidocs/api_javadocs/XSD/INV_getResourcePoolConsumptionDetailsList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolConsumptionDetailsList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getResourcePoolConsumptionDetailsList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getResourcePoolConsumptionDetailsList_output.xsd" yfc:rootElement="ConsumptionDetailList">
        <xsd:appinfo source="yfc:structure">
            <ConsumptionDetailList>
                <ConsumptionDetail hasAttributes="Y">
                    <AdditionalCapacityLimits>
                        <AdditionalCapacityLimit hasAttributes="Y"/>
                    </AdditionalCapacityLimits>
                    <CapacityConsumption hasAttributes="Y">
                        <ResourcePool hasAttributes="Y">
                            <ResourcePoolAttributeList>
                                <ResourcePoolAttribute hasAttributes="Y"/>
                            </ResourcePoolAttributeList>
                        </ResourcePool>
                        <ServiceResource hasAttributes="Y"/>
                    </CapacityConsumption>
                </ConsumptionDetail>
            </ConsumptionDetailList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ConsumptionDetailList" type="yfc:ConsumptionDetailListXSDType"/>
    <xsd:complexType name="ConsumptionDetailListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConsumptionDetail"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ConsumptionDetail">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
            <xsd:documentation>
                <div>
			Resource pool capacity consumption details information. 
			</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalCapacityLimits"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacityConsumption"/>
            </xsd:all>
            <xsd:attribute name="AppointmentSequence"
                type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="APPT_SEQ" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The appointment sequence that reserved the capacity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Capacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The capacity consumed by this reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSlotBased" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SLOT_BASED" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>This flag indicates whether the consumption is slot based. Default value is Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManuallyCreatedReservation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="MANUALLY_CREATED_RESERVATION" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>This flag indicates whether the reservation is created through the system resource capacity UI. Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The order associated with this capacity reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The order line associated with this capacity reservation. The service line which consumes reservation and blocks capacity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The order release associated with this capacity reservation. Only applicable to inventory capacity resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideCapacityCheck"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_OVERRIDDEN" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>This flag indicates whether capacity was ignored when taking the appointment. Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReservationExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="RESERVATION_EXPIRATION_DATE" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The date on which the reservation expires. Capacity purge agent will remove reservations based on the reservation expiration timestamp.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReservationId" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="RESERVATION_ID" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The identifier for this capacity reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReservationReason"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="RESERVATION_REASON" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The reason this capacity reservation was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>The unique identifier of the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSlotDesc"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SLOT_DESC" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>Service Slot Description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The work order associated with this capacity reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimits">
        <xsd:annotation>
            <xsd:documentation>
                <div>The dimensions in which the resource pool's capacity is constrained, in addition to the resource pool's primary capacity dimension.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalCapacityLimit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimit">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
            <xsd:documentation>This table contains units of measures that are used as secondary resource pool capacity constraints.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Capacity" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The quantity consumed in the secondary capacity unit of measure.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
                    <xsd:documentation>
                        <div>The secondary capacity unit of measure in which the resource pool's capacity is limited.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CapacityConsumption">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
            <xsd:documentation>This table stores resource pool capacity consumption for each date/shift combination.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePool"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResource"/>
            </xsd:all>
            <xsd:attribute name="ConsumptionDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="CONSUMPTION_DATE" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The date that this capacity consumption is specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The shift end time for which consumption is specified. For INVENTORY resource pools, this defaults to 23:59:59.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The shift start time for which consumption is specified. For INVENTORY resource pools, this defaults to 00:00:00.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePool">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>This table stores information for a resource pool. A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (like regions serviced and skill sets). Capacity for providing services is maintained at the Resource Pool level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePoolAttributeList"/>
            </xsd:all>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The node that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePoolAttributeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ResourcePoolAttribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePoolAttribute">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_ATTR">
            <xsd:documentation>
                <div>
						 	This element defines attributes and their values for the resource pool.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The delivery method for which the resource pool is defined. <br/>
								Valid values: <code>SHP</code> - Shipment, <code>PICK</code> - Pickup by user
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RES_POOL_ATTR_KEY" yfc:tableName="YFS_RES_POOL_ATTR">
                    <xsd:documentation>Primary key attribute of YFS_RES_POOL_ATTR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL_ATTR">
                    <xsd:documentation>Link to YFS_RES_POOL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResource">
        <xsd:annotation yfc:tableName="YFS_SERVICE_RESOURCE">
            <xsd:documentation>This table stores the service resources defined for resource pools.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The node that is associated with this resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>Resource pool that the service resource belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>The unique identifier of the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_KEY" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_RESOURCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
