Data/xapidocs/api_javadocs/XSD/INV_getInventoryConsiderationsList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getInventoryConsiderationsList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getInventoryConsiderationsList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getInventoryConsiderationsList_output.xsd" yfc:rootElement="InventoryConsiderationsList">
        <xsd:appinfo source="yfc:structure">
            <InventoryConsiderationsList hasAttributes="Y">
                <InventoryConsiderations hasAttributes="Y"/>
            </InventoryConsiderationsList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryConsiderationsList" type="yfc:InventoryConsiderationsListXSDType"/>
    <xsd:complexType name="InventoryConsiderationsListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InventoryConsiderations"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records found matching the input criteria</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InventoryConsiderations">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
            <xsd:documentation>This table stores configuration information for valid supply and demand matches.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
                    <xsd:documentation>Demand type to consider against the supply type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryConsiderationsKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_CONSIDERATIONS_KEY" yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
                    <xsd:documentation>Primary key that identifies an inventory consideration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOperation"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_OPERATION" yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
                    <xsd:documentation>For future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
                    <xsd:documentation>Supply type to consider against the demand type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
