Data/xapidocs/api_javadocs/XSD/INV_getSerialNumbers_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getSerialNumbers/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getSerialNumbers/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getSerialNumbers_input.xsd" yfc:rootElement="Serial">
        <xsd:appinfo source="yfc:structure">
            <Serial hasAttributes="Y">
                <SerialElem hasAttributes="Y"/>
            </Serial>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Serial" type="yfc:SerialXSDType">
        <xsd:annotation yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
            <xsd:documentation>This table stores details about serial numbers. Since serial number scanning is an overhead if it has to be done at every single move operation in the warehouse for tracking purposes, warehouses typically just record the fact that the serial number has reached the warehouse during the receiving process. Similarly, the serial number is scanned at shipping to record the fact that the serial number has left the warehouse. So, the location at any time is the last location at which it was scanned. Similarly, the ship node on the serial number will reflect the ship node at which it was last scanned.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SerialXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SerialElem"/>
        </xsd:all>
        <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                <xsd:documentation>Indicates the inventory item associated with the serial number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Specifies the item to which serial belongs</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:ID-40" use="required">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                <xsd:documentation>The unique identifier for Location. This in conjunction with SHIPNODE_KEY identifies a unique location in the ship node. The location ID on the serial number will reflect the location at which it was last scanned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Specifies the organization to which the item belongs</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Specifies the product class of the item</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                <xsd:documentation>
                    <div>Specifies the ship node key to which serial belongs</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Specifies the unit of measure of the item</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SerialElem">
        <xsd:complexType>
            <xsd:attribute name="FromSerialNo" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				This is the starting serial number of a range.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToSerialNo" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				This is the ending serial number of a range. 
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
