Data/xapidocs/api_javadocs/XSD/INV_getExternalResourcePoolCapacityUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getExternalResourcePoolCapacityUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getExternalResourcePoolCapacityUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getExternalResourcePoolCapacityUE_output.xsd" yfc:rootElement="ResourcePoolCapacity">
        <xsd:appinfo source="yfc:structure">
            <ResourcePoolCapacity>
                <ServiceSlots>
                    <ServiceSlot hasAttributes="Y">
                        <Dates>
                            <Date hasAttributes="Y">
                                <AdditionalCapacityLimits>
                                    <AdditionalCapacityLimit hasAttributes="Y"/>
                                </AdditionalCapacityLimits>
                                <ServiceRequests>
                                    <ServiceRequest hasAttributes="Y"/>
                                </ServiceRequests>
                            </Date>
                        </Dates>
                    </ServiceSlot>
                </ServiceSlots>
            </ResourcePoolCapacity>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResourcePoolCapacity" type="yfc:ResourcePoolCapacityXSDType"/>
    <xsd:complexType name="ResourcePoolCapacityXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ServiceSlots"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ServiceSlots">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:ServiceSlot"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceSlot">
        <xsd:annotation yfc:tableName="YFS_SERVICE_SLOT">
            <xsd:documentation>This table stores the list of service slots for a Slot Group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Dates"/>
            </xsd:all>
            <xsd:attribute name="CapacityReference" type="yfctype:ID-24" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Capacity reference of service slot.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:Time" use="required">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>
                        <div>
						End time of service slot.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:Time" use="required">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_SERVICE_SLOT">
                    <xsd:documentation>
                        <div>
						Start time of service slot.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Dates">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Date">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalCapacityLimits"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceRequests"/>
            </xsd:all>
            <xsd:attribute name="Capacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Available capacity.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Date" type="yfctype:Date" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Date for which capacity will be available.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimits">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalCapacityLimit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimit">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
            <xsd:documentation>This table contains units of measures that are used as secondary resource pool capacity constraints.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Capacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The capacity available in the current unit of measure.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
                    <xsd:documentation>
                        <div>The unit of measure in which the capacity is allocated.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceRequests">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceRequest"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceRequest">
        <xsd:complexType>
            <xsd:attribute name="ServiceRequestId" type="yfctype:ID-24" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										Service Request Identification.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
