Data/xapidocs/api_javadocs/XSD/INV_getTagNoUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getTagNoUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getTagNoUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_getTagNoUE_input.xsd" yfc:rootElement="InventoryTagAttributes">
        <xsd:appinfo source="yfc:structure">
            <InventoryTagAttributes hasAttributes="Y">
                <TagAttribute hasAttributes="Y"/>
                <ExtendedTagAttributes>
                    <TagAttribute hasAttributes="Y"/>
                </ExtendedTagAttributes>
            </InventoryTagAttributes>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryTagAttributes" type="yfc:InventoryTagAttributesXSDType"/>
    <xsd:complexType name="InventoryTagAttributesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="TagAttribute">
                <xsd:complexType>
                    <xsd:attribute name="Name" type="yfctype:String" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>XML name of the unique identifier attribute.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Value" type="yfctype:String" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>Value of the unique identifier attribute.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ExtendedTagAttributes"/>
        </xsd:all>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unique identifier for an item that belongs to a catalog organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Organization code whose product information is being stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unit of measure for Item quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ExtendedTagAttributes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="TagAttribute">
                    <xsd:complexType>
                        <xsd:attribute name="Name" type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>XML name of the unique identifier attribute.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Value"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Value of the unique identifier attribute.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
