Data/xapidocs/api_javadocs/XSD/INV_CALCULATE_CAPACITY_AVAILABILITY.ON_CAPACITY_AVAILABILITY_CALCULATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/CALCULATE_CAPACITY_AVAILABILITY/ON_CAPACITY_AVAILABILITY_CALCULATION"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/CALCULATE_CAPACITY_AVAILABILITY/ON_CAPACITY_AVAILABILITY_CALCULATION" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_CALCULATE_CAPACITY_AVAILABILITY.ON_CAPACITY_AVAILABILITY_CALCULATION.xsd" yfc:rootElement="ResourcePool">
        <xsd:appinfo source="yfc:structure">
            <ResourcePool hasAttributes="Y">
                <ResourcePoolAttributeList>
                    <ResourcePoolAttribute hasAttributes="Y"/>
                </ResourcePoolAttributeList>
                <Slots>
                    <Slot hasAttributes="Y">
                        <Dates>
                            <Date hasAttributes="Y"/>
                        </Dates>
                    </Slot>
                </Slots>
            </ResourcePool>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResourcePool" type="yfc:ResourcePoolXSDType">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>This table stores information for a resource pool. A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (like regions serviced and skill sets). Capacity for providing services is maintained at the Resource Pool level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ResourcePoolXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePoolAttributeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Slots"/>
        </xsd:all>
        <xsd:attribute name="AllRegionsServiced" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ALL_REGIONS_SERVICED" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This flag indicates whether all regions are serviced by this resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The calendar that is associated with this resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CapacityInfoAvailable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_INFO_AVAILABLE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This flag indicates whether this resource pool has capacity information available.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CapacityMaintainAtResourceLevel"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="CAP_MAINTAIN_AT_RESOURCE_LEVEL" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This flag indicates whether capacity is maintained at the resource level for this resource pool. Default Value is 'N'.  If set to Y, resource pool is allowed to define resources, and Standard and/or Override capacity cannot be defined for the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CapacityOrganizationCode"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
							A Resource Pool is always created wihin the context of a Capacity Organization. An Organization can source services from any Resource Pools within the same Capacity Organization.
							</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CapacityUnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_UOM" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The unit of measure in which resource pool capacity should be specified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode2" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The type of item that this resource pool services.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
							The node associated with the resource pool.
							</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProviderContactAddressKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="PROVIDER_CONTACT_ADDRESS_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The provider contact address that is associated with this resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProviderOrganizationCode"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The code of the organization that owns the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The region schema associated with this resource pool. If region schema is defined for a resource pool, it will override the region schema associated at provider organization level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_DESC" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The desciption of the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ResourcePoolAttributeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ResourcePoolAttribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePoolAttribute">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_ATTR">
            <xsd:documentation>
                <div>
						 	This element defines attributes and their values for the resource pool.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The delivery method for which the resource pool is defined. <br/>
								Valid values: <code>SHP</code> - Shipment, <code>PICK</code> - Pickup by user
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RES_POOL_ATTR_KEY" yfc:tableName="YFS_RES_POOL_ATTR">
                    <xsd:documentation>Primary key attribute of YFS_RES_POOL_ATTR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL_ATTR">
                    <xsd:documentation>Link to YFS_RES_POOL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Slots">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Slot"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Slot">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Dates"/>
            </xsd:all>
            <xsd:attribute name="EndTime" type="yfctype:String" use="optional"/>
            <xsd:attribute name="StartTime" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Dates">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Date">
        <xsd:annotation>
            <xsd:documentation>
                <div>This element shows the available capacity picture on a particular date.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdditionalStandardCapacity1"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Additional Standard Capacity.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdditionalStandardCapacity2"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Additional Standard Capacity.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdditionalSupplementCapacity1"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Additional Supplement Capacity.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdditionalSupplementCapacity2"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Additional Supplement Capacity.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AvailableCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Remaining capacity.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AvailableDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											The date that this capacity consumption is specified.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalStandardCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Total Standard Capacity.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalSupplementCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Total Supplement Capacity.
											</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
