Data/xapidocs/api_javadocs/XSD/INV_manageNodeCost_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/manageNodeCost/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/manageNodeCost/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_manageNodeCost_output.xsd" yfc:rootElement="NodeCost">
        <xsd:appinfo source="yfc:structure">
            <NodeCost hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeCost" type="yfc:NodeCostXSDType">
        <xsd:annotation yfc:tableName="YFS_NODE_COST">
            <xsd:documentation>This table stores information about the inventory node cost shared by JDA integrated service</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeCostXSDType">
        <xsd:attribute name="CalculatedCost" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="CALCULATED_COST" yfc:tableName="YFS_NODE_COST">
                <xsd:documentation>The calculated cost for the fulfillment node</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostCurrency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="COST_CURRENCY" yfc:tableName="YFS_NODE_COST">
                <xsd:documentation>The currency in which the cost is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YFS_NODE_COST">
                <xsd:documentation>The ending date and time from which the node cost is effective</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_NODE_COST">
                <xsd:documentation>The starting date and time from which the node cost is effective</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE" yfc:tableName="YFS_NODE_COST">
                <xsd:documentation>The node for which the cost represents</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeCostKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_COST_KEY" yfc:tableName="YFS_NODE_COST">
                <xsd:documentation>Primary key for the YFS_NODE_COST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_NODE_COST">
                <xsd:documentation>Primary key attribute of YFS_ORGANIZATION table. The Enterprise code</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
