Data/xapidocs/api_javadocs/XSD/INV_getInventoryConsiderationsList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/getInventoryConsiderationsList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/getInventoryConsiderationsList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_getInventoryConsiderationsList_input.xsd" yfc:rootElement="InventoryConsiderations">
        <xsd:appinfo source="yfc:structure">
            <InventoryConsiderations hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryConsiderations" type="yfc:InventoryConsiderationsXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
            <xsd:documentation>This table stores configuration information for valid supply and demand matches.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryConsiderationsXSDType">
        <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
                <xsd:documentation>Demand type to consider against the supply type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryConsiderationsKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="INVENTORY_CONSIDERATIONS_KEY" yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
                <xsd:documentation>Primary key that identifies an inventory consideration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_CONSIDERATIONS">
                <xsd:documentation>Supply type to consider against the demand type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
