Data/xapidocs/api_javadocs/XSD/INV_CAPACITY_CHANGE.ON_CAPACITY_ADJUSTMENT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/CAPACITY_CHANGE/ON_CAPACITY_ADJUSTMENT"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/CAPACITY_CHANGE/ON_CAPACITY_ADJUSTMENT" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="INV_CAPACITY_CHANGE.ON_CAPACITY_ADJUSTMENT.xsd" yfc:rootElement="ResourcePool">
        <xsd:appinfo source="yfc:structure">
            <ResourcePool hasAttributes="Y">
                <ResourceCalendar hasAttributes="Y"/>
                <ProviderContactAddress hasAttributes="Y"/>
                <RegionsServiced hasAttributes="Y">
                    <RegionServiced hasAttributes="Y"/>
                </RegionsServiced>
                <ServiceSkills hasAttributes="Y">
                    <ServiceSkill hasAttributes="Y"/>
                </ServiceSkills>
                <ServiceResources>
                    <ServiceResource hasAttributes="Y">
                        <ServiceResourceCalendar hasAttributes="Y"/>
                        <ServiceResourceContactAddress hasAttributes="Y"/>
                        <ServiceResourceUsers>
                            <ServiceResourceUser hasAttributes="Y"/>
                        </ServiceResourceUsers>
                    </ServiceResource>
                </ServiceResources>
                <AdditionalCapacityLimitList>
                    <AdditionalCapacityLimit hasAttributes="Y"/>
                </AdditionalCapacityLimitList>
                <EffectiveDateRanges hasAttributes="Y">
                    <EffectiveDateRange hasAttributes="Y">
                        <CapacitiesPerSlot hasAttributes="Y">
                            <CapacityPerSlot hasAttributes="Y"/>
                        </CapacitiesPerSlot>
                    </EffectiveDateRange>
                </EffectiveDateRanges>
                <ResourcePoolAttributeList>
                    <ResourcePoolAttribute hasAttributes="Y"/>
                </ResourcePoolAttributeList>
            </ResourcePool>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResourcePool" type="yfc:ResourcePoolXSDType">
        <xsd:annotation yfc:tableName="YFS_RES_POOL">
            <xsd:documentation>
                <div>
				A resource pool represents a collection of resources for providing services. The resources represented by a resource pool should have common characteristics (such as regions serviced and skill sets). The capacity for providing services is maintained against a resource pool.<br>
				Either <code>ResourcePoolKey</code> or {<code>Node</code> and <code>ResourcePoolId</code> and <code>CapacityOrganizationCode</code>} can be used to identify a Resource Pool.</br>
                    <Validation>
                        <Condition>
						The Resource Pool must already be present in the system. If not present:
						</Condition>
                        <Error
                            Description="Resource Pool for given criteria not found" ErrorCode="INV10014"/>
                    </Validation>
                    <Validation>
                        <Condition>
						The root node must be ResourcePool. If not:
						</Condition>
                        <Error Description="Invalid Root Node" ErrorCode="INV10003"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ResourcePoolXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourceCalendar"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProviderContactAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RegionsServiced"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceSkills"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResources"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalCapacityLimitList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EffectiveDateRanges"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePoolAttributeList"/>
        </xsd:all>
        <xsd:attribute name="AllRegionsServiced" use="optional">
            <xsd:annotation yfc:columnName="ALL_REGIONS_SERVICED" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This flag indicates whether all regions are serviced by this resource pool.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="AssociateRegionBySlot" use="optional">
            <xsd:annotation yfc:columnName="ASSOC_REGION_BY_SLOT" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
					The flag indicates whether the resource pool is associated to the regions by using service slots.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <Validation>
                            <Condition>
                                <code>AssociateRegionBySlot</code> is set to <b>
                                    <code>Y</code>
                                </b> and <code>StartTime</code> or <code>EndTime</code> is not passed in  <code>RegionServiced</code> element.
							</Condition>
                            <Error
                                Description="Resource pool is associated to regions by slots, StartTime and EndTime must be passed in the RegionServiced element." ErrorCode="INV73_001"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>AssociateRegionBySlot</code> is set to <b>
                                    <code>N</code>
                                </b> and <code>StartTime</code> or <code>EndTime</code> is passed in  <code>RegionServiced</code> element.
							</Condition>
                            <Error
                                Description="Resource pool is not associated to regions by slots, StartTime and EndTime should not be passed in the RegionServiced element." ErrorCode="INV73_002"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>AssociateRegionBySlot</code> is set to <b>
                                    <code>Y</code>
                                </b> and all RegionServiced with the same Region are not passed as deleted when one or more are passed as to be deleted.
							</Condition>
                            <Error
                                Description="Resource pool is associated to regions by slots, all RegionServiced with the same Region must be deleted if one or more are passed as to be deleted." ErrorCode="INV73_005"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>AssociateRegionBySlot</code> is set to <b>
                                    <code>Y</code>
                                </b> and Priority of all RegionServiced with the same Region are not the same.
							</Condition>
                            <Error
                                Description="Resource pool is associated to regions by slots, Priority of all RegionServiced with the same Region must be the same." ErrorCode="INV73_006"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="CapacityInfoAvailable" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_INFO_AVAILABLE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This flag indicates whether this resource pool has capacity information available.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="CapacityOrganizationCode"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CAPACITY_ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
					A Resource Pool is always created wihin the context of a Capacity Organization. An Organization can source services from any Resource Pools within the same Capacity Organization.
						<Validation>
                            <Condition>
							The <code>CapacityOrganizationCode</code> attribute cannot be changed. If it is changed:
							</Condition>
                            <Error
                                Description="CapacityOrganizationCode of resource pool cannot be changed" ErrorCode="INV10025"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
					The Node that is associated with the resource pool.
						<Validation>
                            <Condition>
							The <code>Node</code> attribute cannot be changed. If it is changed:
							</Condition>
                            <Error
                                Description="Node of the resource pool cannot be changed" ErrorCode="INV10023"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                           Valid value is <b>
                            <code>Delete</code>
                        </b>.  Set <code>Operation</code> = "<b>
                            <code>Delete</code>
                        </b>" to delete the resource pool.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProvidesAllServices" use="optional">
            <xsd:annotation yfc:columnName="PROVIDES_ALL_SERVICES" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This flag indicates whether all services are provided by this resource pool.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Purpose"
            type="yfctype:INVResourcePoolPurpose" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This field indicates if the resource pool is used for service or dock scheduling. Default value: SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_DESC" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The desciption of the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>The primary key for the YFS_RES_POOL table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSlotGroupId"
            type="yfctype:SlotGroupId" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SLOT_GROUP_ID" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>
                    <div>
					The Id of the Service Slot.
						<Validation>
                            <Condition>
							The <code>ServiceSlotGroupId</code> must be for an existing ServiceSlotGroup of CapacityOrganization. If not:
							</Condition>
                            <Error
                                Description="ServiceSlotGroup not found" ErrorCode="INV10031"/>
                        </Validation>
                        <Validation>
                            <Condition>
							If the resource pool maintains capacity at resource level, ServiceSlots within the ServiceSlotGroup cannot be overlapped.
							</Condition>
                            <Error
                                Description="Resource pool that maintains capacity at the resource level cannot have overlapping service slots." ErrorCode="INV73_004"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSupervisorId" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_RES_POOL">
                <xsd:documentation>This field represents the supervisor responsible for the reosurce pool.This will be a valid user ID in the system. This user will belong to the node owning the reosurce pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactInWorkDay" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Applicable for resource pools with purpose <code>
                            <b>WMS-RP</b>
                        </code>. The flag indicates whether the capacities are defined and returned in terms of Work Day defined at the node or not.<br>
					Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </br>
					If no value is passed, the default is <b>
                            <code>N</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ResourceCalendar">
        <xsd:annotation yfc:tableName="YFS_CALENDAR">
            <xsd:documentation>
                <div>
					This element stores information related to a calendar. A calendar can be created for an organization or for a ship node. A calendar is created using the <code>createCalendar</code> API and managed using the  <code>changeCalendar</code> API. 
						<Validation>
                        <Condition>
							If provided, the calendar should be available and must belong to the node of resource pool or its primary enterprise. Either <code>CalendarKey</code> or {<code>OrganizationCode</code> and <code>CalendarId</code>} must be passed.
							</Condition>
                        <Error Description="Invalid Calendar" ErrorCode="INV10001"/>
                        <Error
                            Description="Node or its primary enterprise does not own the Calendar" ErrorCode="INV10032"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CalendarId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_ID" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Unique key to identify a Calendar.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Primary key attribute of YFS_CALENDAR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Organization which owns the Calendar.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProviderContactAddress">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternateEmailID"
                type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The company this person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Department" type="yfctype:Department" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxt" type="yfctype:ErrorText" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TXT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The first name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JobTitle" type="yfctype:Title-40" use="optional">
                <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The job title of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The last name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:MiddleName" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
                <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredShipAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VerificationStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="VERIFICATION_STATUS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RegionsServiced">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:RegionServiced"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                  If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old entities are removed and replaced with the new ones.   
                  If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
                  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RegionServiced">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_REGION">
            <xsd:documentation>
                <div>
						 These are the regions that are serviced by a Resource Pool. If <code>RegionServiced</code> is passed, <code>RegionKey</code> is mandatory.
							<Validation>
                        <Condition>
								The regions should be valid and from the same schema. If not:
								</Condition>
                        <Error
                            Description="Region should be valid (YFS_REGION)" ErrorCode="INV10002"/>
                        <Error
                            Description="All regions should be from same schema" ErrorCode="INV10015"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EndTime" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>The end time of the valid slot that the resource pool can serve the region.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FridayValid" use="optional">
                <xsd:annotation yfc:columnName="FRIDAY_VALID" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Indicates if Friday is a working day for the resource pool.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MondayValid" use="optional">
                <xsd:annotation yfc:columnName="MONDAY_VALID" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Indicates if Monday is a working day for the resource pool.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                           Valid value is <b>
                                <code>Delete</code>
                            </b>.  Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
                          </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="required">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Priority of the resource pool servicing the region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Link to YFS_REGION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SaturdayValid" use="optional">
                <xsd:annotation yfc:columnName="SATURDAY_VALID" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Indicates if Saturday is a working day for the resource pool.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="StartTime" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>The start time of the valid slot that the resource pool can serve the region.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SundayValid" use="optional">
                <xsd:annotation yfc:columnName="SUNDAY_VALID" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Indicates if Sunday is a working day for the resource pool.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ThursdayValid" use="optional">
                <xsd:annotation yfc:columnName="THURSDAY_VALID" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Indicates if Thursday is a working day for the resource pool.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TuesdayValid" use="optional">
                <xsd:annotation yfc:columnName="TUESDAY_VALID" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Indicates if Tuesday is a working day for the resource pool.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="WednesdayValid" use="optional">
                <xsd:annotation yfc:columnName="WEDNESDAY_VALID" yfc:tableName="YFS_RES_POOL_REGION">
                    <xsd:documentation>Indicates if Wednesday is a working day for the resource pool.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceSkills">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceSkill"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                  If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old item service skills are removed and replaced with the new ones.   
                  If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
                  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceSkill">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_SERVICE_SKILL">
            <xsd:documentation>This table defines the service skills a Resource Pool has to perform services. These service skills are defined in the catalog of a Resource Pool's Capacity Organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                           Valid value is <b>
                                <code>Delete</code>
                            </b>.  Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
                          </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RES_POOL_SERVICE_SKILL">
                    <xsd:documentation>Primary key attribute of YFS_ORGANIZATION table. This will be the Organization Code of the catalog organization of Resource Pool's Capacity Organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSkillId"
                type="yfctype:ServiceSkillId" use="required">
                <xsd:annotation yfc:columnName="SERVICE_SKILL_ID" yfc:tableName="YFS_RES_POOL_SERVICE_SKILL">
                    <xsd:documentation>Unique identifier for service skill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResources">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceResource"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResource">
        <xsd:annotation yfc:tableName="YFS_SERVICE_RESOURCE">
            <xsd:documentation>This table stores the service resources defined for resource pools.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResourceCalendar"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResourceContactAddress"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceResourceUsers"/>
            </xsd:all>
            <xsd:attribute name="Notes" type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>Additional information about the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                           Valid value is <b>
                                <code>Delete</code>
                            </b>.  Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
                          </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>The unique identifier of the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResourceCalendar">
        <xsd:annotation yfc:tableName="YFS_CALENDAR">
            <xsd:documentation>
                <div>
						This element stores information related to a calendar. A calendar can be created for an organization or for a ship node. A calendar is created using the <code>createCalendar</code> API and managed using the  <code>changeCalendar</code> API. 
							<Validation>
                        <Condition>
								If provided, the calendar should be available and must belong to the node of resource pool or its primary enterprise. Either <code>CalendarKey</code> or {<code>OrganizationCode</code>  and <code>CalendarId</code>} must be passed.
								</Condition>
                        <Error Description="Invalid Calendar" ErrorCode="INV10001"/>
                        <Error
                            Description="Node or its primary enterprise does not own the Calendar" ErrorCode="INV10032"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CalendarId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_ID" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Unique key to identify a Calendar.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Primary key attribute of YFS_CALENDAR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>Organization which owns the Calendar.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResourceContactAddress">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternateEmailID"
                type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The company this person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Department" type="yfctype:Department" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxt" type="yfctype:ErrorText" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TXT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The first name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JobTitle" type="yfctype:Title-40" use="optional">
                <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The job title of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The last name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:MiddleName" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
                <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredShipAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="USE_COUNT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VerificationStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="VERIFICATION_STATUS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResourceUsers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceResourceUser"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceResourceUser">
        <xsd:annotation yfc:tableName="YFS_SERVICE_RESOURCE_USER">
            <xsd:documentation>This table stores the node users who are defined for a service resource.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								   Valid value is <b>
                                <code>Delete</code>
                            </b>.  Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
								  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_SERVICE_RESOURCE_USER">
                    <xsd:documentation>User Id of the resource member.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimitList">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The dimensions in which the resource pool's capacity is constrained, in addition to the resource pool's primary capacity dimension. Additional capacity limits can only be set for a resource pool whose capacity is not maintained at the resource level. Also, once set for a resource pool, additional capacity limits cannot be modified or deleted.
						<Validation>
                        <Condition>
							If the resource pool maintains capacity at resource level, additional capacity limits should not be passed. If not:
							</Condition>
                        <Error
                            Description="Resource pool cannot have additional capacity limits if it's capacity is maintained at resource level." ErrorCode="INV80_009"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalCapacityLimit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCapacityLimit">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
            <xsd:documentation>This table contains units of measures that are used as secondary resource pool capacity constraints.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RES_POOL_SECONDARY_UOM">
                    <xsd:documentation>
                        <div>
							The secondary capacity unit of measure in which the resource pool's capacity is limited.
								<Validation>
                                <Condition>
									If additional capacity limits are to be defined, <code>CapacityUnitOfMeasure</code> attribute is mandatory. If not:
									</Condition>
                                <Error
                                    Description="Mandatory parameter missing." ErrorCode="INV80_010"/>
                            </Validation>
                            <Validation>
                                <Condition>
									The passed <code>CapacityUnitOfMeasure</code> attribute should be defined in the UOM Master table. If not:
									</Condition>
                                <Error Description="Invalid UOM." ErrorCode="YFS10397"/>
                            </Validation>
                            <Validation>
                                <Condition>
									The passed <code>CapacityUnitOfMeasure</code> attribute's UOM Type must either be <code>WEIGHT</code> or <code>VOLUME</code>. If not:
									</Condition>
                                <Error
                                    Description="The passed CapacityUOM must be of type WEIGHT or VOLUME only." ErrorCode="INV80_011"/>
                            </Validation>
                            <Validation>
                                <Condition>
									The passed <code>CapacityUnitOfMeasure</code> attribute's UOM Type should be unique. If not:
									</Condition>
                                <Error
                                    Description="UOM type for the additional capacity limit must be unique." ErrorCode="INV80_012"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EffectiveDateRanges">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EffectiveDateRange"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                  If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old entities are removed and replaced with the new ones.
                  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EffectiveDateRange">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_STD_CAPCTY_PERD">
            <xsd:documentation>
                <div>
						 This element defines date ranges for which standard (default) capacity can be maintained for a Resource Pool. These periods cannot overlap for a given Resource Pool.<br>
                        <b>Note:</b> In the Output XML, the <code>/ResourcePool/EffectiveDateRanges/EffectiveDateRange/DayValidity</code> element is not template controlled.</br>
                    <Validation>
                        <Condition>
								The <code>EffectiveStartDate</code> and <code>EffectiveEndDate</code> attributes are mandatory. Also, <code>EffectiveStartDate</code> must be earlier than <code>EffectiveEndDate</code>. If not:
								<b>
                                <code>Y</code>
                            </b>
                        </Condition>
                        <Error Description="Invalid Dates Passed" ErrorCode="INV10010"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>CapacityMaintainAtResourceLevel</code> is set to <b>
                                <code>Y</code>
                            </b> and <code>Purpose</code> is <b>
                                <code>SERVICE</code>
                            </b> and an <code>EffectiveDateRange</code> is specified.
								</Condition>
                        <Error
                            Description="Cannot specify EffectiveDateRange for Resource Pool which maintains capacity at the resource level." ErrorCode="INV71_2"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacitiesPerSlot"/>
            </xsd:all>
            <xsd:attribute name="EffectiveEndDate" type="yfctype:Date" use="required">
                <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_RES_POOL_STD_CAPCTY_PERD">
                    <xsd:documentation>End date of the effectivity period.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveStartDate" type="yfctype:Date" use="required">
                <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_RES_POOL_STD_CAPCTY_PERD">
                    <xsd:documentation>Start date of the effectivity period.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                           Valid value is <b>
                                <code>Delete</code>
                            </b>.  Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
                          </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResPoolStdCapacityPeriodKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="RES_POOL_STD_CAPCTY_PERD_KEY" yfc:tableName="YFS_RES_POOL_STD_CAPCTY_PERD">
                    <xsd:documentation>Primary key attribute of YFS_RES_POOL_STD_CAPCTY_PERD table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CapacitiesPerSlot">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					 For every date range defined in YFS_RES_POOL_STD_CAPCTY_PERD, this table defines the standard capacity for each working day / shift combination.
						<Validation>
                        <Condition>
							If the resource pool's <code>Purpose<b>SERVICE</b>
                            </code> is not <code>
                                <b>SERVICE</b>
                            </code> and there are overlapping <code>CapacityPerSlot</code>.
							</Condition>
                        <Error
                            Description="Resource Pool cannot have overlapping CapacityPerSlot" ErrorCode="INV75_003"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CapacityPerSlot"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						  If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old entities are removed and replaced with the new ones.   
						  If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
						  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CapacityPerSlot">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
            <xsd:documentation>
                <div>
								 For every date range defined in YFS_RES_POOL_STD_CAPCTY_PERD, this table defines the standard capacity for each working day / shift combination.
									<Validation>
                        <Condition>
										The <code>StartTime</code> and <code>EndTime</code> 
										attributes are mandatory except if the 
										resource pool serves the <code>INVENTORY</code>
										purpose. Also, <code>StartTime</code> must be earlier than <code>EndTime</code>. If not:
										</Condition>
                        <Error Description="Invalid Time Passed" ErrorCode="INV10011"/>
                    </Validation>
                    <Validation>
                        <Condition>
										If negative capacity is being passed for any of the capacity or supplemental capacity fields:
										</Condition>
                        <Error Description="Invalid capacity" ErrorCode="INV71_8"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CapacityUnitOfMeasure"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>
                        <div>
									The capacity unit of measure for which the standard and supplemental capacities are defined for each working day / shift combination. If this attribute is not passed, it is assumed to be the resource pool's primary unit of measure.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>End time of the shift. For INVENTORY resource pools, this defaults to 23:59:59.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FridayCapacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="FRIDAY_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Capacity for Friday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FridaySupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="FRIDAY_SUPPL_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Supplemental capacity for Friday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MondayCapacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="MONDAY_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Capacity for Monday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MondaySupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="MONDAY_SUPPL_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Supplemental capacity for Monday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								   Valid value is <b>
                                <code>Delete</code>
                            </b>.  Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
								  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SaturdayCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="SATURDAY_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Capacity for Saturday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SaturdaySupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="SATURDAY_SUPPL_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Supplemental capacity for Saturday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Start time of the Shift. For INVENTORY resource pools, this defaults to 00:00:00.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SundayCapacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="SUNDAY_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Capacity for Sunday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SundaySupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="SUNDAY_SUPPL_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Supplemental capacity for Sunday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ThursdayCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="THURSDAY_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Capacity for Thursday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ThursdaySupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="THURSDAY_SUPPL_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Supplemental capacity for Thursday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TuesdayCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="TUESDAY_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Capacity for Tuesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TuesdaySupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="TUESDAY_SUPPL_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Supplemental capacity for Tuesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WednesdayCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="WEDNESDAY_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Capacity for Wednesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WednesdaySupplementalCapacity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation
                    yfc:columnName="WEDNESDAY_SUPPL_CAPACITY" yfc:tableName="YFS_RES_POOL_DOW_CAPCTY">
                    <xsd:documentation>Supplemental capacity for Wednesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePoolAttributeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ResourcePoolAttribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePoolAttribute">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_ATTR">
            <xsd:documentation>
                <div>
						 	This element defines attributes and their values for the resource pool.
							<Validation>
                        <Condition>
								If the resource pool is not of Purpose <code>INVENTORY</code>
                        </Condition>
                        <Error
                            Description="Resource pool attribute can only be defined for resource pool of Purpose INVENTORY" ErrorCode="INV93_001"/>
                    </Validation>
                    <Validation>
                        <Condition>
								Invalid attribute value passed in input
								</Condition>
                        <Error
                            Description="Attribute value passed is not among the valid values of the resource pool attribute" ErrorCode="INV93_002"/>
                    </Validation>
                    <Validation>
                        <Condition>
								Same attribute value can not be part of different resource pools
								</Condition>
                        <Error
                            Description="Attribute value included is already part of another resource pool" ErrorCode="INV93_003"/>
                    </Validation>
                    <Validation>
                        <Condition>
								Resource pool must cater to at least one attribute value for the specified attribute
								</Condition>
                        <Error
                            Description="No Attribute value found for the attribute in the resource pool" ErrorCode="INV93_004"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The delivery method for which the resource pool is defined. <br/>
								Valid values: <code>SHP</code> - Shipment, <code>PICK</code> - Pickup by user
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RES_POOL_ATTR_KEY" yfc:tableName="YFS_RES_POOL_ATTR">
                    <xsd:documentation>Primary key attribute of YFS_RES_POOL_ATTR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_RES_POOL_ATTR">
                    <xsd:documentation>Link to YFS_RES_POOL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
