Data/xapidocs/api_javadocs/XSD/INV_manageItemStatusRules_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/INV/manageItemStatusRules/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/INV/manageItemStatusRules/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="INV_manageItemStatusRules_output.xsd" yfc:rootElement="ItemStatusRules">
        <xsd:appinfo source="yfc:structure">
            <ItemStatusRules hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemStatusRules" type="yfc:ItemStatusRulesXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_STATUS_RULES">
            <xsd:documentation>Setup information for Inventory monitoring at ship node level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemStatusRulesXSDType">
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>The item requiring monitoring at a shipnode.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxAction1" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MAX_ACTION_1" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Action to be raised when inventory level raises above maximum quantity 1.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxAction2" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MAX_ACTION_2" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Action to be raised when inventory level raises above maximum quantity 2.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxAction3" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MAX_ACTION_3" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Action to be raised when inventory level raises above maximum quantity 3.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxAction4" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MAX_ACTION_4" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Action to be raised when inventory level raises above maximum quantity 4.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumQty1" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="MAXIMUM_QTY_1" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Watch if inventory raises above this level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumQty2" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="MAXIMUM_QTY_2" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Watch if inventory raises above this level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumQty3" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="MAXIMUM_QTY_3" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Watch if inventory raises above this level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumQty4" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="MAXIMUM_QTY_4" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Watch if inventory raises above this level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinAction1" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MIN_ACTION_1" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Action to be raised when inventory falls below minimum quantity 1.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinAction2" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MIN_ACTION_2" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Action to be raised when inventory falls below minimum quantity 2.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinAction3" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MIN_ACTION_3" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Action to be raised when inventory falls below minimum quantity 3.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinAction4" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MIN_ACTION_4" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Action to be raised when inventory falls below minimum quantity 4.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQty1" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QTY_1" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>To watch if inventory falls below this level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQty2" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QTY_2" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Watch if inventory fall below this level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQty3" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QTY_3" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Watch if inventory fall below this level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQty4" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QTY_4" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Watch if inventory fall below this level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Organization ID setting up the monitoring rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RULE_KEY" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Primary key that Identifies an Item status rule record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ITEM_STATUS_RULES">
                <xsd:documentation>Ship node where items are monitored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
