Data/xapidocs/api_javadocs/XSD/MasterInventoryValueChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterInventoryValueChange"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterInventoryValueChange" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterInventoryValueChange.xsd" yfc:rootElement="Cost">
        <xsd:appinfo source="yfc:structure">
            <Cost hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Cost" type="yfc:CostXSDType"/>
    <xsd:complexType name="CostXSDType">
        <xsd:attribute name="AverageCost" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current Average Cost of the item. This is the new average cost.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeInInvValue" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>Change in Inventory Value. Amount by which the inventory value is increased due to the receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostCurrency" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Currency in which the unit cost of the order line shipped is specified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryValue" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current Inventory value of the item. This includes the change in inventory value due to this transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation>
                <xsd:documentation>Item Id of the item getting received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PostingClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Posting Classification of the item received</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimarySupplier" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Primary Supplier of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation>
                <xsd:documentation>Product Class of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>Quantity received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Ship node that received the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unit Of Measure of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
