Data/xapidocs/api_javadocs/XSD/masterPropertyTitleCase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/masterPropertyTitleCase"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/masterPropertyTitleCase" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="masterPropertyTitleCase.xsd" yfc:rootElement="Property">
        <xsd:appinfo source="yfc:structure">
            <Property hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Property" type="yfc:PropertyXSDType">
        <xsd:annotation yfc:tableName="PLT_PROPERTY">
            <xsd:documentation>
                <div>
					This element holds information about properties associated to item.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PropertyXSDType">
        <xsd:attribute name="Name" type="yfctype:Text-480" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The name of the property.							
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Path" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The path to the item that contains the property.									
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The datatype of the property.
						<br/>Valid Values: <b>
                            <code>bigdecimal</code>
                        </b> or <b>
                            <code>int</code>
                        </b> or <b>
                            <code>List</code>
                        </b> or <b>
                            <code>long</code>
                        </b> or <b>
                            <code>double</code>
                        </b> or <b>
                            <code>String</code>
                        </b> or <b>
                            <code>date</code>
                        </b> or <b>
                            <code>unknown</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Value" type="yfctype:Text-480" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The value in string form for the property. List values are returned with each value separated by a carriage return.		
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
