Data/xapidocs/api_javadocs/XSD/MasterOrderRelationshipInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterOrderRelationshipInput"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterOrderRelationshipInput" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterOrderRelationshipInput.xsd" yfc:rootElement="OrderRelationship">
        <xsd:appinfo source="yfc:structure">
            <OrderRelationship hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderRelationship" type="yfc:OrderRelationshipXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSACTIONAL_RELATION">
            <xsd:documentation>
                <div>This table stores details about the relationship between two transactional records.</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderRelationshipXSDType">
        <xsd:attribute name="HierarchyLevel" use="optional">
            <xsd:annotation yfc:columnName="HIERARCHY_LEVEL" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                <xsd:documentation>The depth of this transactional record relative to the root node in the hierarchy.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:NUMBER-10"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsDependencyResolved" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_DEPENDENCY_RESOLVED" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                <xsd:documentation>This flag may be used to store whether the dependency on the related transactional record is resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelatedTableKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RELATED_TABLE_KEY" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                <xsd:documentation>The primary key of the related transactional record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelatedTableName" type="yfctype:TableName" use="optional">
            <xsd:annotation yfc:columnName="RELATED_TABLE_NAME" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                <xsd:documentation>
                    <div>The TableName of the related transactional record.</div>
                    <div>If not passed, it will be defaulted to TableName.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipType"
            type="yfctype:RelationShipType" use="required">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                <xsd:documentation>
                    <div>The type of relationship between the two transactional records.
						<Validation>
                            <Condition>
								The RelationshipType must be passed.
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RootNodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ROOT_NODE_KEY" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                <xsd:documentation>The primary key of the root transactional record, if this relationship is part of a hierarchy. This column may be used to store the common ancestor in the hierarchy.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
