Data/xapidocs/api_javadocs/XSD/masterReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/masterReport"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/masterReport" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="masterReport.xsd" yfc:rootElement="Report">
        <xsd:appinfo source="yfc:structure">
            <Report hasAttributes="Y">
                <MissingMessage/>
                <UnexpectedMessage/>
                <MissingProperty/>
                <UnexpectedProperty/>
                <NonMatchingProperty/>
                <MissingPick/>
                <UnexpectedPick/>
                <NonMatchingPick/>
            </Report>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Report" type="yfc:ReportXSDType"/>
    <xsd:complexType name="ReportXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MissingMessage"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UnexpectedMessage"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MissingProperty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UnexpectedProperty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NonMatchingProperty"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MissingPick"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UnexpectedPick"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NonMatchingPick"/>
        </xsd:all>
        <xsd:attribute name="LastTested" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The time at which the test case was last executed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Severity" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The severity of the issue reported.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TestPerformance" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The performance of the test case in milli seconds(ms).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalProblem" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				 		The total number of issues reported.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="MissingMessage">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The list of messages missing in response when compared with the baseline.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="UnexpectedMessage">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The list of messages present in the response, but not in the baseline.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="MissingProperty">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The list of properties missing in response when compared with the baseline.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="UnexpectedProperty">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The list of properties present in the response, but not in the baseline.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="NonMatchingProperty">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The list of non matching properties in terms of the value.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="MissingPick">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The list of picks missing in response when compared with the baseline.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="UnexpectedPick">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The list of picks present in the response, but not in the baseline.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="NonMatchingPick">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The list of non matching picks in terms of value, quantity and type.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
