Data/xapidocs/api_javadocs/XSD/masterIncludeFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/masterIncludeFilter"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/masterIncludeFilter" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="masterIncludeFilter.xsd" yfc:rootElement="Include">
        <xsd:appinfo source="yfc:structure">
            <Include hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Include" type="yfc:IncludeXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                    <p>
						Used to include the elements that are returned from the API. The API includes an 
						element if:
						<ul>
                            <li>The element matches the one of the inclusion specifiers <b>OR</b> no include filters are specified</li>
                            <br/>
                            <b>AND</b>
                            <li>The element doesn't match any of the exclusion specifiers <b>OR</b> no exclude filters are specified</li>
                        </ul>
                    </p>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="IncludeXSDType">
        <xsd:attribute name="Class" type="yfctype:Text-120" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The class of item this inclusion specifier operates on.							
						<br/>Valid Values: <b>
                            <code>Item</code>
                        </b> or <b>
                            <code>Optionclass</code>
                        </b> or <b>
                            <code>Optionitem</code>
                        </b> or <b>
                            <code>Property</code>
                        </b> or <b>
                            <code>Tab</code>
                        </b> or <b>
                            <code>Messages</code>
                        </b> or <b>
                            <code>Summary</code>
                        </b> or <b>
                            <code>TraceLog</code>
                        </b> or <b>
                            <code>PropertyPool</code>
                        </b>
                        <p>
                            <b>
                                <code>Item</code>
                            </b> can be specified to include both <code>Optionclass</code> and <code>Optionitem</code>.
						</p>
                        <Validation>
                            <Condition>
                                <code>Class</code> is not passed or is void. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-480" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						A regular expression that is matched against the name of the item, property name, or tab name.				
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						A regular expression that is matched against the path of an item. Not valid for tab class.				
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						This attribute is only valid for the property class. This attribute should contain the datatype 
						name of the properties that need to match.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
