Data/xapidocs/api_javadocs/XSD/MasterChangeProjectApprover_Input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterChangeProjectApprover/Input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterChangeProjectApprover/Input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterChangeProjectApprover_Input.xsd" yfc:rootElement="ChangeProjectApprover">
        <xsd:appinfo source="yfc:structure">
            <ChangeProjectApprover hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeProjectApprover" type="yfc:ChangeProjectApproverXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_PROJECT_APPROVER">
            <xsd:documentation>This table stores information about the users who can approve a Change Project.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeProjectApproverXSDType">
        <xsd:attribute name="ChangeProjectApproverKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_PROJECT_APPROVER_KEY" yfc:tableName="YFS_CHANGE_PROJECT_APPROVER">
                <xsd:documentation>Primary key attribute of YFS_CHANGE_PROJECT_APPROVER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserID" type="yfctype:LoginId-50" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CHANGE_PROJECT_APPROVER">
                <xsd:documentation>The identifier for the user who can approve this change project.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
