Data/xapidocs/api_javadocs/XSD/MasterChangeRequestAssignment_Input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterChangeRequestAssignment/Input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterChangeRequestAssignment/Input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="MasterChangeRequestAssignment_Input.xsd" yfc:rootElement="ChangeRequestAssignment">
        <xsd:appinfo source="yfc:structure">
            <ChangeRequestAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeRequestAssignment" type="yfc:ChangeRequestAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST_ASSIGNMENT">
            <xsd:documentation>This table stores information about Change Request assignments.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeRequestAssignmentXSDType">
        <xsd:attribute name="ChangeRequestAssignmentKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="CHANGE_REQUEST_ASSIGNMENT_KEY" yfc:tableName="YFS_CHANGE_REQUEST_ASSIGNMENT">
                <xsd:documentation>Primary key attribute of YFS_CHANGE_REQUEST_ASSIGNMENT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserID" type="yfctype:LoginId-50" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CHANGE_REQUEST_ASSIGNMENT">
                <xsd:documentation>Identifier for the user assigned to the Change Request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
