Data/xapidocs/api_javadocs/XSD/MasterItemAttributeList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterItemAttributeList"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterItemAttributeList" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterItemAttributeList.xsd" yfc:rootElement="ItemAttributeList">
        <xsd:appinfo source="yfc:structure">
            <ItemAttributeList hasAttributes="Y">
                <ItemAttribute hasAttributes="Y">
                    <ItemAttrGroupType hasAttributes="Y">
                        <ItemAttrGrpTypeLocaleList hasAttributes="Y">
                            <ItemAttrGrpTypeLocale hasAttributes="Y"/>
                        </ItemAttrGrpTypeLocaleList>
                    </ItemAttrGroupType>
                </ItemAttribute>
            </ItemAttributeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemAttributeList" type="yfc:ItemAttributeListXSDType"/>
    <xsd:complexType name="ItemAttributeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttribute"/>
        </xsd:sequence>
        <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If <code>Reset</code> is passed as <b>
                            <code>Y</code>
                        </b>, the old Item Attribute records are removed and replaced with the new ones.
				If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                            <code>N</code>
                        </b>, only the deltas are applied. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemAttribute">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR">
            <xsd:documentation>
                <div>
                    This table stores item attribute definition for each item attribute group.
					<Validation>
                        <Condition>
							 If an <code>ItemAttribute</code> record for an <code>ItemAttributeGroupType</code> of FOR_FILTER is assigned to a category and if the flag <code>IsAllowedValueDefined</code> on the <code>Attribute</code> 
							 record is not set to <code>Y</code>
                        </Condition>
                        <Error
                            Description="Cannot create an ItemAttribute for an ItemAttributeGroupType of FOR_FILTER if the corresponding Attribute is not configured to have IsAllowedValueDefined flag as 'Y'" ErrorCode="YCM90_002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGroupType"/>
            </xsd:all>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The category that this attribute is assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInherited" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INHERITED" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the assignment is based on inheritance of the attribute assigned to the upper level category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsKeyAttribute" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_KEY_ATTR" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates that the item attribute is a key attribute for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The description of specification attribute on an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The specification group that this specification attribute belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The item attribute group type this attribute belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_NAME" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The name of the item attribute that the specification attribute represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Operation to perform
						<br/>Valid Values: 
						<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
						<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
						<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
						<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
						<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The sequence of the specifcation attribute within the specification group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGroupType">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
            <xsd:documentation>This table stores item attribute group types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGrpTypeLocaleList"/>
            </xsd:all>
            <xsd:attribute name="DisplayLocalizedFieldInLocale"
                type="yfctype:Locale" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_TYPE_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR_GROUP_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGrpTypeLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGrpTypeLocale"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old records are removed and replaced with the new ones.
									If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGrpTypeLocale">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related item attribute group type in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The description of this group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGroupTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_TYPE_KEY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ITEM_ATTR_GROUP_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGrpTypeLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GRP_TYPE_LOCALE_KEY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ITEM_ATTR_GRP_TYPE_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										Valid value is <b>
                                <code>Delete</code>
                            </b>. Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
