Data/xapidocs/api_javadocs/XSD/MasterChangeRequestUser.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterChangeRequestUser"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterChangeRequestUser" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterChangeRequestUser.xsd" yfc:rootElement="ChangeRequestUser">
        <xsd:appinfo source="yfc:structure">
            <ChangeRequestUser hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeRequestUser" type="yfc:ChangeRequestUserXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST_USER">
            <xsd:documentation>This table stores information about users working on a change request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeRequestUserXSDType">
        <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>The reference key to the YFS_CHANGE_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeRequestUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_USER_KEY" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>Primary key attribute of YFS_CHANGE_USER_ASSIGNMENT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserID" type="yfctype:LoginId-50" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CHANGE_REQUEST_USER">
                <xsd:documentation>The identifier for the user who worked on the change request. This is taken from the Environment if not passed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
