Data/xapidocs/api_javadocs/XSD/MasterChangeRequest_Input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterChangeRequest/Input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterChangeRequest/Input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterChangeRequest_Input.xsd" yfc:rootElement="ChangeRequest">
        <xsd:appinfo source="yfc:structure">
            <ChangeRequest hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeRequest" type="yfc:ChangeRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST">
            <xsd:documentation>This table stores Change Request definitions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeRequestXSDType">
        <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST">
                <xsd:documentation>Primary key attribute of YFS_CHANGE_REQUEST.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LongDescription"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST">
                <xsd:documentation>The long description of the Change Request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST">
                <xsd:documentation>The short description of the Change Request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ChangeRequestStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHANGE_REQUEST">
                <xsd:documentation>The status of the Change Request. As the request progresses through the change process, the status changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
