Data/xapidocs/api_javadocs/XSD/MasterChangeProjectLocale_Input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterChangeProjectLocale/Input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterChangeProjectLocale/Input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterChangeProjectLocale_Input.xsd" yfc:rootElement="ChangeProjectLocale">
        <xsd:appinfo source="yfc:structure">
            <ChangeProjectLocale hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeProjectLocale" type="yfc:ChangeProjectLocaleXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
            <xsd:documentation>The table is used to store localized information for the related Change Projects in different locales.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeProjectLocaleXSDType">
        <xsd:attribute name="ChangeProjectLocaleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_PROJECT_LOCALE_KEY" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                <xsd:documentation>The primary key of the YFS_CHANGE_PROJECT_LOCALE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Country" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                <xsd:documentation>The country associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                <xsd:documentation>The language associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LongDescription"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                <xsd:documentation>The long description of the Change Project.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                <xsd:documentation>The short description of the Change Project.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_CHANGE_PROJECT_LOCALE">
                <xsd:documentation>The variant associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
