Data/xapidocs/api_javadocs/XSD/MasterOrderHoldType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterOrderHoldType"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterOrderHoldType" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterOrderHoldType.xsd" yfc:rootElement="OrderHoldType">
        <xsd:appinfo source="yfc:structure">
            <OrderHoldType hasAttributes="Y">
                <OrderHoldTypeLogs>
                    <OrderHoldTypeLog hasAttributes="Y"/>
                </OrderHoldTypeLogs>
            </OrderHoldType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderHoldType" type="yfc:OrderHoldTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HOLD_TYPE">
            <xsd:documentation>This table stores contains all the hold types defined for an order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderHoldTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderHoldTypeLogs"/>
        </xsd:all>
        <xsd:attribute name="HoldType" type="yfctype:CodeType" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>Hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastHoldTypeDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_HOLD_TYPE_DATE" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>Timestamp when this hold type was added to the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>User who modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_AUDIT_KEY" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>Primary key for YFS_ORDER_AUDIT table. This can be used to view the modification types that would have added this hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>Primary Key of YFS_ORDER_HEADER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>Primary Key of YFS_ORDER_Line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>The reason text associates to the order hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolverUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="RESOLVER_USER_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>This is the user who can resolve or reject this hold. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>Status of the order hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusDescription" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TransactionId" type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                <xsd:documentation>The unique identifier of the transaction which applied the hold type on order .</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionName" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="OrderHoldTypeLogs">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderHoldTypeLog"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderHoldTypeLog">
        <xsd:annotation yfc:tableName="YFS_ORDER_HOLD_TYPE_LOG">
            <xsd:documentation>This table stores the log notes when status of a hold type changes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderAuditKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_AUDIT_KEY" yfc:tableName="YFS_ORDER_HOLD_TYPE_LOG">
                    <xsd:documentation>Primary key for YFS_ORDER_AUDIT table. This can be used to view the modification types that would have added this hold type log.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHoldTypeLogKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HOLD_TYPE_LOG_KEY" yfc:tableName="YFS_ORDER_HOLD_TYPE_LOG">
                    <xsd:documentation>Primary key for YFS_ORDER_HOLD_TYPE_LOG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_HOLD_TYPE_LOG">
                    <xsd:documentation>The reason text associates to this order hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolverUserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="RESOLVER_USER_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE_LOG">
                    <xsd:documentation>This is the user who can approve or reject this hold. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_HOLD_TYPE_LOG">
                    <xsd:documentation>Status of the order hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE_LOG">
                    <xsd:documentation>The unique identifier for the transaction which applied the hold type on order .</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UserId" type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE_LOG">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
