Data/xapidocs/api_javadocs/XSD/MasterCurrentUserOrderApprovalDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterCurrentUserOrderApprovalDetails"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterCurrentUserOrderApprovalDetails" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="MasterCurrentUserOrderApprovalDetails.xsd" yfc:rootElement="CurrentUserOrderApprovalDetails">
        <xsd:appinfo source="yfc:structure">
            <CurrentUserOrderApprovalDetails>
                <CurrentOrderApprovalDetails hasAttributes="Y">
                    <OrderApprovalDetail hasAttributes="Y">
                        <OrderLine hasAttributes="Y">
                            <BundleParentLine hasAttributes="Y"/>
                        </OrderLine>
                    </OrderApprovalDetail>
                </CurrentOrderApprovalDetails>
                <PredecessorOrderApprovalDetails hasAttributes="Y">
                    <OrderApprovalDetail hasAttributes="Y">
                        <OrderLine hasAttributes="Y">
                            <BundleParentLine hasAttributes="Y"/>
                        </OrderLine>
                    </OrderApprovalDetail>
                </PredecessorOrderApprovalDetails>
            </CurrentUserOrderApprovalDetails>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CurrentUserOrderApprovalDetails" type="yfc:CurrentUserOrderApprovalDetailsXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div> The records shown below are based on the <code>ApproverUserID</code> passed in the input.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CurrentUserOrderApprovalDetailsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CurrentOrderApprovalDetails"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PredecessorOrderApprovalDetails"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="CurrentOrderApprovalDetails">
        <xsd:annotation>
            <xsd:documentation>
                <div> This element shows the order approval detail record of those order approvals which
	                	got created for the current user's user group.	                			
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderApprovalDetail">
                    <xsd:annotation yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                        <xsd:documentation>This tables stores order approval details which get created either when an quote is created/changed   or when a quote is sent for approval. These records are created based on approval plan and order approval rules. An order approval   detail without an order approval record indicates that the quote has not been sent for approval yet. An order approval detail   associated to an order approval indicates what a user would be approving while approving the associated order approval.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="OrderLine">
                                <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="BundleParentLine">
                                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="OrderLineKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PrimeLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The order line number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SubLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The sub line number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="OrderLineKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="ApprovalRuleID"
                            type="yfctype:OrderApprovalRuleRuleID" use="optional">
                            <xsd:annotation
                                yfc:columnName="APPROVAL_RULE_ID" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>Indicates which rule triggered the approvals.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Message"
                            type="yfctype:OrderApprovalRuleMessage" use="optional">
                            <xsd:annotation yfc:columnName="MESSAGE" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>Message to be displayed when approval rule is violated.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MessageCode"
                            type="yfctype:OrderApprovalRuleMessageCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="MESSAGE_CODE" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>Message code to be displayed when approval rule is violated.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderApprovalDetailKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_APPROVAL_DTL_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>The primary key of the YFS_ORDER_APPROVAL_DTL table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderApprovalKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_APPROVAL_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>The primary key of the order approval that this order approval detail is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderHeaderKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>The primary key of the order that this order approval detail is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>The primary key of the order line that this order approval detail is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total number of order approval detail records.                   
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PredecessorOrderApprovalDetails">
        <xsd:annotation>
            <xsd:documentation>
                <div> This element shows the order approval detail records of those order approvals
	                	which the current user can approve.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderApprovalDetail">
                    <xsd:annotation yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                        <xsd:documentation>This tables stores order approval details which get created either when an quote is created/changed   or when a quote is sent for approval. These records are created based on approval plan and order approval rules. An order approval   detail without an order approval record indicates that the quote has not been sent for approval yet. An order approval detail   associated to an order approval indicates what a user would be approving while approving the associated order approval.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="OrderLine">
                                <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="BundleParentLine">
                                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="OrderLineKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PrimeLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The order line number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SubLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The sub line number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="OrderLineKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="ApprovalRuleID"
                            type="yfctype:OrderApprovalRuleRuleID" use="optional">
                            <xsd:annotation
                                yfc:columnName="APPROVAL_RULE_ID" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>Indicates which rule triggered the approvals.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Message"
                            type="yfctype:OrderApprovalRuleMessage" use="optional">
                            <xsd:annotation yfc:columnName="MESSAGE" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>Message to be displayed when approval rule is violated.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MessageCode"
                            type="yfctype:OrderApprovalRuleMessageCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="MESSAGE_CODE" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>Message code to be displayed when approval rule is violated.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderApprovalDetailKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_APPROVAL_DTL_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>The primary key of the YFS_ORDER_APPROVAL_DTL table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderApprovalKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_APPROVAL_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>The primary key of the order approval that this order approval detail is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderHeaderKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>The primary key of the order that this order approval detail is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                                <xsd:documentation>The primary key of the order line that this order approval detail is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total number of predecessor order approval detail records.                   
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
