Data/xapidocs/api_javadocs/XSD/MasterSyncSubscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterSyncSubscription"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterSyncSubscription" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterSyncSubscription.xsd" yfc:rootElement="SyncSubscription">
        <xsd:appinfo source="yfc:structure">
            <SyncSubscription hasAttributes="Y">
                <SyncProfileList hasAttributes="Y">
                    <SyncProfile hasAttributes="Y"/>
                </SyncProfileList>
                <SyncTargetList hasAttributes="Y">
                    <SyncTarget hasAttributes="Y"/>
                </SyncTargetList>
            </SyncSubscription>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SyncSubscription" type="yfc:SyncSubscriptionXSDType">
        <xsd:annotation yfc:tableName="YFS_SYNC_SUBSCRIPTION">
            <xsd:documentation>
                <div>
			This table holds information about SyncSubscriptions.  One of SyncSubscriptionKey or both SyncSubscriptionID and OrganizationCode must be passed to uniquely identify this SyncSubscription.
					<Validation>
                        <Condition>
                            <code>OrganizationCode</code> passed should be a valid OrganizationCode.</Condition>
                        <Error
                            Description="OrganizationCode does not exist." ErrorCode="YSC921_0007"/>
                    </Validation>
                    <Validation>
                        <Condition>Pass either <Code>SyncSubscriptionKey</Code>, or both <Code>SyncSubscriptionID</Code> and <Code>OrganizationCode</Code>.</Condition>
                        <Error
                            Description="Mandatory SyncSubscription attributes missing." ErrorCode="YSC921_0009"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SyncSubscriptionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SyncProfileList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SyncTargetList"/>
        </xsd:all>
        <xsd:attribute name="LongDescription"
            type="yfctype:FreeDescription-1500" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_SYNC_SUBSCRIPTION">
                <xsd:documentation>The long description of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_SUBSCRIPTION">
                <xsd:documentation>The organization associated with this SyncSubscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription"
            type="yfctype:FreeDescription-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_SYNC_SUBSCRIPTION">
                <xsd:documentation>The short description of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncSubscriptionID"
            type="yfctype:SyncTableID-40" use="optional">
            <xsd:annotation yfc:columnName="SYNC_SUBSCRIPTION_ID" yfc:tableName="YFS_SYNC_SUBSCRIPTION">
                <xsd:documentation>The ID for this Subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncSubscriptionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SYNC_SUBSCRIPTION_KEY" yfc:tableName="YFS_SYNC_SUBSCRIPTION">
                <xsd:documentation>The primary key of the YFS_SUBSCRIPTION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SyncProfileList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SyncProfile"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SyncProfile">
        <xsd:annotation yfc:tableName="YFS_SYNC_PROFILE">
            <xsd:documentation>
                <div>
				This table holds information about SyncProfiles.  One of SyncProfileKey or both SyncProfileID and OrganizationCode must be passed to uniquely identify this SyncProfile. 
						<Validation>
                        <Condition>
                            <code>TableGroup</code> passed should be a valid TableGroup.</Condition>
                        <Error
                            Description="Invalid TableGroup passed in the input." ErrorCode="YSC921_0002"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>SyncQueryKey</code> passed should be a valid Query Key.</Condition>
                        <Error
                            Description="Invalid SyncQueryKey passed in the input." ErrorCode="YSC921_0003"/>
                    </Validation>
                    <Validation>
                        <Condition>Pass either <Code>SyncProfileKey</Code>, or both <Code>SyncProfileID</Code> and <Code>OrganizationCode</Code>.</Condition>
                        <Error
                            Description="Mandatory SyncProfile attributes missing." ErrorCode="YSC921_0006"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>OrganizationCode</code> passed should be a valid OrganizationCode.</Condition>
                        <Error
                            Description="OrganizationCode does not exist." ErrorCode="YSC921_0007"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LongDescription"
                type="yfctype:FreeDescription-1500" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_SYNC_PROFILE">
                    <xsd:documentation>The long description of the profile.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_PROFILE">
                    <xsd:documentation>The organization associated with this SyncProfile.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:FreeDescription-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_SYNC_PROFILE">
                    <xsd:documentation>The short description of the profile.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncProfileID"
                type="yfctype:SyncTableID-40" use="optional">
                <xsd:annotation yfc:columnName="SYNC_PROFILE_ID" yfc:tableName="YFS_SYNC_PROFILE">
                    <xsd:documentation>The ID for this SyncProfile.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncProfileKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SYNC_PROFILE_KEY" yfc:tableName="YFS_SYNC_PROFILE">
                    <xsd:documentation>The primary key of the YFS_SYNC_PROFILE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncQueryKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SYNC_QUERY_KEY" yfc:tableName="YFS_SYNC_PROFILE">
                    <xsd:documentation>The query used to filter elements into this profile.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncType" type="yfctype:ID-15" use="optional">
                <xsd:annotation yfc:columnName="SYNC_TYPE" yfc:tableName="YFS_SYNC_PROFILE">
                    <xsd:documentation>The data synchronization type for which this SyncProfile is defined. Possible values are FULL, DELTA or null. If null, the SyncProfile would be used for both FULL and DELTA data synchronization types.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableGroup"
                type="yfctype:SyncTableID-40" use="optional">
                <xsd:annotation yfc:columnName="TABLEGROUP" yfc:tableName="YFS_SYNC_PROFILE">
                    <xsd:documentation>This defines what entity is associated with this profile.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SyncTargetList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SyncTarget"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SyncTarget">
        <xsd:annotation yfc:tableName="YFS_SYNC_TARGET">
            <xsd:documentation>
                <div>
					This table holds information about SyncTargets.  One of SyncTargetKey or both SyncTargetID and OrganizationCode must be passed to uniquely identify this SyncTarget. 
							<Validation>
                        <Condition>
                            <code>OrganizationCode</code> passed should be a valid OrganizationCode.</Condition>
                        <Error
                            Description="OrganizationCode does not exist." ErrorCode="YSC921_0007"/>
                    </Validation>
                    <Validation>
                        <Condition>Pass either <Code>SyncTargetKey</Code>, or both <Code>SyncTargetID</Code> and <Code>OrganizationCode</Code>
                        </Condition>
                        <Error
                            Description="Mandatory SyncTarget attributes missing." ErrorCode="YSC921_0008"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>TargetingOrg</code> passed must have its primary enterprise as the <Code>OrganizationCode</Code> on the SyncTarget</Condition>
                        <Error
                            Description="TargetingOrg passed in the input must have its PrimaryEnterprise as the OrganizationCode on the SyncTarget." ErrorCode="YSC921_0011"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LongDescription"
                type="yfctype:FreeDescription-1500" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_SYNC_TARGET">
                    <xsd:documentation>The long description of the target.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SYNC_TARGET">
                    <xsd:documentation>The primary Enterprise that owns this SyncTarget.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:FreeDescription-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_SYNC_TARGET">
                    <xsd:documentation>The short description of the target.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncSubscriptionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SYNC_SUBSCRIPTION_KEY" yfc:tableName="YFS_SYNC_TARGET">
                    <xsd:documentation>The SyncSubscription to which this SyncTarget belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncTargetID"
                type="yfctype:SyncTableID-40" use="optional">
                <xsd:annotation yfc:columnName="SYNC_TARGET_ID" yfc:tableName="YFS_SYNC_TARGET">
                    <xsd:documentation>The ID for this Target.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SyncTargetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SYNC_TARGET_KEY" yfc:tableName="YFS_SYNC_TARGET">
                    <xsd:documentation>The primary key of the YFS_SYNC_TARGET table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetingOrg" type="yfctype:OrgCode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Organization that is assigned to this SyncTarget</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
