Data/xapidocs/api_javadocs/XSD/masterInputProperties_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/masterInputProperties/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/masterInputProperties/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="masterInputProperties_output.xsd" yfc:rootElement="InputProperties">
        <xsd:appinfo source="yfc:structure">
            <InputProperties>
                <Property hasAttributes="Y"/>
            </InputProperties>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InputProperties" type="yfc:InputPropertiesXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					A holder of input properties applicable for the current model. It contains:
					<ol>
                        <li>External properties injected into the current model.</li>
                        <li>Properties derived from parent state, based on the input property list defined in the current model. 
						This information is initially captured while punching into the current model from its parent.</li>
                    </ol>
					These input property values are considered while evaluating the rules in the current model. 
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InputPropertiesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Property"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Property">
        <xsd:annotation yfc:tableName="PLT_PROPERTY">
            <xsd:documentation>
                <div>
						This element holds information about input properties for 
						the current model.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="External" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				  			The flag to indicate whether the property is an external input property or not. 
				  			Default value is <b>
                                <code>N</code>
                            </b>.
					  	</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The name of the property in the property pool.				
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The path to a property from the property pool.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The datatype of the property.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The value of the property.				
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
