Data/xapidocs/api_javadocs/XSD/masterModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/masterModel"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/masterModel" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="masterModel.xsd" yfc:rootElement="Model">
        <xsd:appinfo source="yfc:structure">
            <Model hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Model" type="yfc:ModelXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					A model is a terminal node and represents a configurable product or a reusable building block.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ModelXSDType">
        <xsd:attribute name="Country" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The country identifier for the model.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The language identifier for the model.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The human-readable model name. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The configurator path to a model. This path is 'mangled' such that special characters are replaced by their Unicode code preceded by an underscore char.						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The type of model.
						<br/>Valid Values: <b>
                            <code>model</code>
                        </b> or <b>
                            <code>ocg</code>
                        </b> or <b>
                            <code>oig</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
