Data/xapidocs/api_javadocs/XSD/MasterOrderHierarchyOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterOrderHierarchyOutput"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterOrderHierarchyOutput" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterOrderHierarchyOutput.xsd" yfc:rootElement="OrderHierarchy">
        <xsd:appinfo source="yfc:structure">
            <OrderHierarchy hasAttributes="Y">
                <Order hasAttributes="Y">
                    <OrderLines>
                        <OrderLine hasAttributes="Y">
                            <ItemDetails hasAttributes="Y"/>
                        </OrderLine>
                    </OrderLines>
                    <ChildOrderList>
                        <Order hasAttributes="Y">
                            <OrderLines>
                                <OrderLine hasAttributes="Y">
                                    <ItemDetails hasAttributes="Y"/>
                                </OrderLine>
                            </OrderLines>
                        </Order>
                    </ChildOrderList>
                </Order>
            </OrderHierarchy>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderHierarchy" type="yfc:OrderHierarchyXSDType"/>
    <xsd:complexType name="OrderHierarchyXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="Order">
                <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="OrderLines">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="OrderLine">
                                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="ItemDetails">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ItemID"
                                    type="yfctype:String" use="optional"/>
                                    <xsd:attribute
                                    name="UnitOfMeasure"
                                    type="yfctype:String" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="OrderedQty"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PrimeLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The order line number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SubLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The sub line number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChildOrderList"/>
                    </xsd:all>
                    <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                        <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DocumentType"
                        type="yfctype:Text-40" use="optional">
                        <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DraftOrderFlag"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="DRAFT_ORDER_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>This flag indicates whether the order is yet to be confirmed. Order lines can only be deleted from the system in draft stage. This flag is not applicable for Quotes.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EnterpriseCode"
                        type="yfctype:OrgCode" use="optional">
                        <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OrderHeaderKey"
                        type="yfctype:Key" use="optional">
                        <xsd:annotation
                            yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OrderNo"
                        type="yfctype:VarcharDocumentNo" use="optional">
                        <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OrderType"
                        type="yfctype:Text-20" use="optional">
                        <xsd:annotation yfc:columnName="ORDER_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The order classification attribute. This field can be used for reporting purposes or to build conditions for modeling your business process. Sterling Selling And Fulfillment Suite system has no default logic based on this field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xsd:sequence>
        <xsd:attribute name="IncompleteHierarchy" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>This flag indicates if the hierarchical structure is incomplete due to one or more missing <code>TransactionalRelationship</code> records.</div>
                    <div>This attribute is not template controlled.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ChildOrderList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="Order">
                    <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
                        <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="OrderLines">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="OrderLine">
                                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="ItemDetails">
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="ItemID"
                                    type="yfctype:String" use="optional"/>

                                    <xsd:attribute
                                    name="UnitOfMeasure"
                                    type="yfctype:String" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="OrderedQty"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PrimeLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The order line number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SubLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The sub line number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="DocumentType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DraftOrderFlag"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="DRAFT_ORDER_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                                <xsd:documentation>This flag indicates whether the order is yet to be confirmed. Order lines can only be deleted from the system in draft stage. This flag is not applicable for Quotes.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EnterpriseCode"
                            type="yfctype:OrgCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="HasOrderHierarchy"
                            type="yfctype:String" use="optional"/>
                        <xsd:attribute name="OrderHeaderKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderNo"
                            type="yfctype:VarcharDocumentNo" use="optional">
                            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderType"
                            type="yfctype:Text-20" use="optional">
                            <xsd:annotation yfc:columnName="ORDER_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                                <xsd:documentation>The order classification attribute. This field can be used for reporting purposes or to build conditions for modeling your business process. Sterling Selling And Fulfillment Suite system has no default logic based on this field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Status"
                            type="yfctype:String" use="optional"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
