Data/xapidocs/api_javadocs/XSD/MasterOrderApproval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterOrderApproval"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterOrderApproval" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterOrderApproval.xsd" yfc:rootElement="OrderApprovals">
        <xsd:appinfo source="yfc:structure">
            <OrderApprovals hasAttributes="Y">
                <OrderApproval hasAttributes="Y">
                    <OrderApprovalDetails hasAttributes="Y">
                        <OrderApprovalDetail hasAttributes="Y">
                            <OrderLine hasAttributes="Y">
                                <BundleParentLine hasAttributes="Y"/>
                            </OrderLine>
                        </OrderApprovalDetail>
                    </OrderApprovalDetails>
                    <PredecessorOrderApprovals hasAttributes="Y">
                        <OrderApproval hasAttributes="Y"/>
                    </PredecessorOrderApprovals>
                </OrderApproval>
            </OrderApprovals>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderApprovals" type="yfc:OrderApprovalsXSDType"/>
    <xsd:complexType name="OrderApprovalsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderApproval">
                <xsd:annotation yfc:tableName="YFS_ORDER_APPROVAL">
                    <xsd:documentation>This table stores order approval records that are created while evaluating whether a   quote needs approvals. These records are created based on order approval rules and approval plan applicable   to the quote. The UserGroupID and TeamCode determine the user who can approval an order approval record.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderApprovalDetails"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PredecessorOrderApprovals"/>
                    </xsd:all>
                    <xsd:attribute name="ApprovalCycle"
                        type="yfctype:OrderApprovalCycle" use="optional">
                        <xsd:annotation yfc:columnName="APPROVAL_CYCLE" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>This attribute keeps track of how many times the approval process has been initiated and what is the current iteration for the approvals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ApprovalGroupKey"
                        type="yfctype:Key" use="optional">
                        <xsd:annotation
                            yfc:columnName="APPROVAL_GROUP_KEY" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Indicates the approval group used for this order approval.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ApproverComments"
                        type="yfctype:OrderApprovalApproverComments" use="optional">
                        <xsd:annotation
                            yfc:columnName="APPROVER_COMMENTS" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>This attribute keeps track of how many times the approval process has been initiated and what is the current iteration for the approvals.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ApproverUserID"
                        type="yfctype:LoginId-50" use="optional">
                        <xsd:annotation
                            yfc:columnName="APPROVER_USER_ID" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Indicates user who has approved or rejected the Order Approval.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DelegateUserID"
                        type="yfctype:LoginId-50" use="optional">
                        <xsd:annotation
                            yfc:columnName="DELEGATE_USER_ID" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Indicates the delegate who has been assigned to approve the order on behalf of the UserID.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="IsForCurrentUser"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>Indicates whether the current user can approve this record.                   
						</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="IsMandatory"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation yfc:columnName="IS_MANDATORY" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Indicates if the approval is mandatory and is required regardless of the hierarchy.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OrderApprovalKey"
                        type="yfctype:Key" use="optional">
                        <xsd:annotation
                            yfc:columnName="ORDER_APPROVAL_KEY" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>The primary key of the YFS_ORDER_APPROVAL table.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OrderHeaderKey"
                        type="yfctype:Key" use="optional">
                        <xsd:annotation
                            yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="PredecessorOrderApprSeq"
                        type="yfctype:Text-200" use="optional">
                        <xsd:annotation
                            yfc:columnName="PREDECESSOR_ORDER_APPR_SEQ" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Indicates the sequence or comma separated sequences of order approvals                     which needs to be approved before this record can be approve.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Sequence" use="optional">
                        <xsd:annotation yfc:columnName="SEQUENCE" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Indicates the sequence of the approval.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:union>
                                <xsd:simpleType>
                                    <xsd:restriction base="yfctype:LongSequence"/>
                                </xsd:simpleType>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:union>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="Status" use="optional">
                        <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Indicates approval status.</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:union>
                                <xsd:simpleType>
                                    <xsd:restriction base="yfctype:OrderApprovalStatus"/>
                                </xsd:simpleType>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:union>
                        </xsd:simpleType>
                    </xsd:attribute>
                    <xsd:attribute name="TeamCode"
                        type="yfctype:DataSecurityGroupId" use="optional">
                        <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Team which has to approve the document.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="UserGroupID"
                        type="yfctype:UserGroup" use="optional">
                        <xsd:annotation yfc:columnName="USER_GROUP_ID" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>User group which has to approve the document.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="UserID"
                        type="yfctype:LoginId-50" use="optional">
                        <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_ORDER_APPROVAL">
                            <xsd:documentation>Indicates user who needs to approve the order.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The total number of order approval records.                   
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderApprovalDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderApprovalDetail"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total number of order approval detail records.                   
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderApprovalDetail">
        <xsd:annotation yfc:tableName="YFS_ORDER_APPROVAL_DTL">
            <xsd:documentation>This tables stores order approval details which get created either when an quote is created/changed   or when a quote is sent for approval. These records are created based on approval plan and order approval rules. An order approval   detail without an order approval record indicates that the quote has not been sent for approval yet. An order approval detail   associated to an order approval indicates what a user would be approving while approving the associated order approval.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
            <xsd:attribute name="ApprovalRuleID"
                type="yfctype:OrderApprovalRuleRuleID" use="optional">
                <xsd:annotation yfc:columnName="APPROVAL_RULE_ID" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                    <xsd:documentation>Indicates which rule triggered the approvals.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Message"
                type="yfctype:OrderApprovalRuleMessage" use="optional">
                <xsd:annotation yfc:columnName="MESSAGE" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                    <xsd:documentation>Message to be displayed when approval rule is violated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MessageCode"
                type="yfctype:OrderApprovalRuleMessageCode" use="optional">
                <xsd:annotation yfc:columnName="MESSAGE_CODE" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                    <xsd:documentation>Message code to be displayed when approval rule is violated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderApprovalDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_APPROVAL_DTL_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                    <xsd:documentation>The primary key of the YFS_ORDER_APPROVAL_DTL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderApprovalKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_APPROVAL_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                    <xsd:documentation>The primary key of the order approval that this order approval detail is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                    <xsd:documentation>The primary key of the order that this order approval detail is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_APPROVAL_DTL">
                    <xsd:documentation>The primary key of the order line that this order approval detail is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BundleParentLine"/>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BundleParentLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PredecessorOrderApprovals">
        <xsd:annotation>
            <xsd:documentation>
                <div> Each child element corresponds to an Order Approval records which is a predecessor of this Order Approval.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderApproval">
                    <xsd:annotation yfc:tableName="YFS_ORDER_APPROVAL">
                        <xsd:documentation>This table stores order approval records that are created while evaluating whether a   quote needs approvals. These records are created based on order approval rules and approval plan applicable   to the quote. The UserGroupID and TeamCode determine the user who can approval an order approval record.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="OrderApprovalKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_APPROVAL_KEY" yfc:tableName="YFS_ORDER_APPROVAL">
                                <xsd:documentation>The primary key of the YFS_ORDER_APPROVAL table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Sequence" use="optional">
                            <xsd:annotation yfc:columnName="SEQUENCE" yfc:tableName="YFS_ORDER_APPROVAL">
                                <xsd:documentation>Indicates the sequence of the approval.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:LongSequence"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total number of predecessor order approval records.                   
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
