Data/xapidocs/api_javadocs/XSD/MasterOrderAuditInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterOrderAuditInput"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterOrderAuditInput" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterOrderAuditInput.xsd" yfc:rootElement="OrderAudits">
        <xsd:appinfo source="yfc:structure">
            <OrderAudits>
                <OrderAudit hasAttributes="Y">
                    <OrderAuditLevels>
                        <OrderAuditLevel hasAttributes="Y">
                            <OrderLine hasAttributes="Y"/>
                            <OrderAuditDetails>
                                <OrderAuditDetail hasAttributes="Y">
                                    <IDs>
                                    <ID hasAttributes="Y"/>
                                    </IDs>
                                    <Attributes>
                                    <Attribute hasAttributes="Y"/>
                                    </Attributes>
                                    <CustomAuditDetails>
                                    <OrderAuditDetail hasAttributes="Y">
                                    <IDs>
                                    <ID hasAttributes="Y"/>
                                    </IDs>
                                    <Attributes>
                                    <Attribute hasAttributes="Y"/>
                                    </Attributes>
                                    </OrderAuditDetail>
                                    </CustomAuditDetails>
                                </OrderAuditDetail>
                            </OrderAuditDetails>
                            <ModificationTypes>
                                <ModificationType hasAttributes="Y"/>
                            </ModificationTypes>
                        </OrderAuditLevel>
                    </OrderAuditLevels>
                </OrderAudit>
            </OrderAudits>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderAudits" type="yfc:OrderAuditsXSDType"/>
    <xsd:complexType name="OrderAuditsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderAudit"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OrderAudit">
        <xsd:annotation yfc:tableName="YFS_ORDER_AUDIT">
            <xsd:documentation>This table stores order audit information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderAuditLevels"/>
            </xsd:all>
            <xsd:attribute name="AuditTransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>The identifier of the audit transaction. All records for a modification are tied together using this ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewBuffer" type="yfctype:Text-1500" use="optional">
                <xsd:annotation yfc:columnName="NEW_BUFFER" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>New values are stored as name-value pairs in this field. This field is used by deprecated APIs that log audits in non-XML format.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldBuffer" type="yfctype:Text-1500" use="optional">
                <xsd:annotation yfc:columnName="OLD_BUFFER" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>Old values are stored as name-value pairs in this field. This field is used by deprecated APIs that log audits in non-XML format.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>The order header that this order audit is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>The reason code of this order audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>The reason text of this order audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference4" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="XMLFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="XML_FORMAT" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>This flag indicates whether or not this audit record is stored in XML format. Only deprecated APIs log audits in non-XML format.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderAuditLevels">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderAuditLevel"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderAuditLevel">
        <xsd:annotation yfc:tableName="YFS_ORDER_AUDIT_LEVEL">
            <xsd:documentation>This table stores all the modifications that occurred on entities for an audit record in YFS_Order_Audit table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderAuditDetails"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ModificationTypes"/>
            </xsd:all>
            <xsd:attribute name="ModificationLevel"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_LEVEL" yfc:tableName="YFS_ORDER_AUDIT_LEVEL">
                    <xsd:documentation>Level at which modification is done. Order, Order_Line, Order_Release or Order_Release_Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModificationType"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_TYPE" yfc:tableName="YFS_ORDER_AUDIT_LEVEL">
                    <xsd:documentation>The type of modification that has occurred, such as AddQuantity, or ChangeAppointment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_AUDIT_LEVEL">
                    <xsd:documentation>Link to order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionalLineId"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									A virtual field meant to identify order lines when <code>PrimeLineNo</code> and <code>SubLineNo</code> are not accepted in input. This <code>TransactionalLineId</code> is not stored in the database and cannot be used after an order has been created.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderAuditDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderAuditDetail">
                    <xsd:annotation yfc:tableName="YFS_ORDER_AUDIT_DETAIL">
                        <xsd:documentation>This table stores detailed information about attributes that changed for a record in YFS_Order_Audit_Level in XML format.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="IDs">
                                <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ID">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:Text-30" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Name of the ID</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Value"
                                    type="yfctype:Text-30" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Value of the ID</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Attributes">
                                <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="1" name="Attribute">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Extended" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the attribute is an extended field. If this attribute
								is not available, then it means the attribute is not extended.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Flag">

                                    <xsd:enumeration value="N"/>

                                    <xsd:enumeration value="Y"/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ModificationType"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Modification Type used for changing the attribute</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:Text-30" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Name of the Attribute Changed</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="NewValue"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>New Value of the attribute modified</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OldValue"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Old Value of the attribute modified</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomAuditDetails"/>
                        </xsd:all>
                        <xsd:attribute name="Action"
                            type="yfctype:Text-10" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Action</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AuditType"
                            type="yfctype:Text-30" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Audit Type</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomAuditDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderAuditDetail">
                    <xsd:annotation yfc:tableName="YFS_ORDER_AUDIT_DETAIL">
                        <xsd:documentation>This table stores detailed information about attributes that changed for a record in YFS_Order_Audit_Level in XML format.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="IDs">
                                <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ID">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:Text-30" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Name of the ID</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Value"
                                    type="yfctype:Text-30" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Value of the ID</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Attributes">
                                <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="1" name="Attribute">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Extended" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the attribute is an extended field. If this attribute
								is not available, then it means the attribute is not extended.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Flag">

                                    <xsd:enumeration value="N"/>

                                    <xsd:enumeration value="Y"/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ModificationType"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Modification Type used for changing the attribute</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:Text-30" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Name of the Attribute Changed</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="NewValue"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>New Value of the attribute modified</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OldValue"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Old Value of the attribute modified</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="Action"
                            type="yfctype:Text-10" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Action</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AuditType"
                            type="yfctype:Text-30" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Audit Type</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ModificationTypes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ModificationType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ModificationType">
        <xsd:annotation yfc:tableName="YFS_ORDER_AUDIT">
            <xsd:documentation>This table stores order audit information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_TYPE" yfc:tableName="YFS_ORDER_AUDIT">
                    <xsd:documentation>The type of modification that has occurred, for example AddQuantity or ChangeAppointment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
