Data/xapidocs/api_javadocs/XSD/MasterAdditionalAttributeListForInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterAdditionalAttributeListForInput"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterAdditionalAttributeListForInput" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="MasterAdditionalAttributeListForInput.xsd" yfc:rootElement="AdditionalAttributeList">
        <xsd:appinfo source="yfc:structure">
            <AdditionalAttributeList>
                <AdditionalAttribute hasAttributes="Y"/>
            </AdditionalAttributeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AdditionalAttributeList" type="yfc:AdditionalAttributeListXSDType"/>
    <xsd:complexType name="AdditionalAttributeListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:AdditionalAttribute"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="AdditionalAttribute">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>
                <div>
	This entity is used to store values for an attribute assigned to a category or item. This entity is also used to store dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.
	<Validation>
                        <Condition>If this element is passed, <code>Name</code> attribute cannot be blank.</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                    <Validation>
                        <Condition>If this element is passed, either <code>Value</code> or  <code>IntegerValue</code>  or <code>DoubleValue</code> must be passed.</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                    <Validation>
                        <Condition>An <code>AdditionalAttribute</code> record is not allowed for an <code>Attribute</code> record that has an <code>AttributeReference</code> associated to it.</Condition>
                        <Error
                            Description="Cannot Assign Value To Reference Attribute." ErrorCode="YSC84_0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If the associated <code>Attribute</code> record is configured with <code>AllowMultipleValues</code> as 'N', then only one <code>AdditionalAttribute</code> record is allowed for that <code>Attribute</code> for the associated item or category of this <code>AdditionalAttribute</code> record.</Condition>
                        <Error
                            Description="Cannot Define Multiple Values For This Attribute." ErrorCode="YSC84_0011"/>
                    </Validation>
                    <Validation>
                        <Condition>If the associated <code>Attribute</code> record is of <code>DataType</code> 'TEXT' and is configured with an <code>AllowedValueLength</code> and the flag  <code>IsAllowedValueDefined</code> is not set to 'Y', then  the length of this <code>Value</code> attribute may not exceed the defined <code>AllowedValueLength</code>.</Condition>
                        <Error
                            Description="Length Of Assigned Value Cannot Exceed Allowed Value Length Of The Attribute." ErrorCode="YSC84_0012"/>
                    </Validation>
                    <Validation>
                        <Condition>If this <code>AdditionalAttribute</code> record is associated to an <code>Attribute</code> record and the flag  <code>IsAllowedValueDefined</code> is set to 'Y', then either <code>Value</code> or  <code>IntegerValue</code>  or <code>DoubleValue</code> must be one of the computed values from the <code>AttributeAllowedValue</code> record.</Condition>
                        <Error
                            Description="Invalid Value Assigned To The Attribute." ErrorCode="YSC84_0006"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="required">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="required">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DoubleValue" use="optional">
                <xsd:annotation yfc:columnName="DOUBLE_VALUE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'DECIMAL'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IntegerValue" use="optional">
                <xsd:annotation yfc:columnName="INTEGER_VALUE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'INTEGER'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Operation to perform
				<br/>Valid Values: 
				<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
				<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
				<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
				<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
				<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Action">
                        <xsd:enumeration value="Manage"/>
                        <xsd:enumeration value="Create"/>
                        <xsd:enumeration value="Modify"/>
                        <xsd:enumeration value="Delete"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
