Data/xapidocs/api_javadocs/XSD/MasterAwardInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterAwardInput"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterAwardInput" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterAwardInput.xsd" yfc:rootElement="Awards">
        <xsd:appinfo source="yfc:structure">
            <Awards>
                <Award hasAttributes="Y"/>
            </Awards>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Awards" type="yfc:AwardsXSDType"/>
    <xsd:complexType name="AwardsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Award"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Award">
        <xsd:annotation yfc:tableName="YFS_PROMOTION_AWARD">
            <xsd:documentation>
                <div>
					Awards that are created out of the promotions. A single promotion can result in to multiple awards. AwardId must be passed to identify the award.
			<Validation>
                        <Condition>PromotionId must be passed and it must be a valid one to add the award</Condition>
                        <Error
                            Description="All awards must be associated to a promotion on the order" ErrorCode="OMP77_10003"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Action to perform on this <code>Award</code>.
					<br/>Default: <code>Null</code> - if not passed awards will be added if not exist or modified.
					<br/>Valid Values: 
						<br/>
                            <b>
                                <code>REMOVE</code>
                            </b> - Removes the award.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AwardAmount"
                type="yfctype:ExternalAmount" use="optional">
                <xsd:annotation yfc:columnName="AWARD_AMOUNT" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>The amount of discount or charge that was applied as a part of this award.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AwardApplied" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="AWARD_APPLIED" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AwardId" type="yfctype:Text-120" use="optional">
                <xsd:annotation yfc:columnName="AWARD_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AwardQuantity" use="optional">
                <xsd:annotation yfc:columnName="AWARD_QUANTITY" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>Indicates the remaining free gift quantity available for the promotion.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AwardType" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="AWARD_TYPE" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>The charge category of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>The charge name of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DenialReason" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>If the award is denied, the reason for the denial.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFreeGiftAward" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FREE_GIFT_AWARD" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>Indicates that the award is associated with a free gift rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PosReasonCode" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="POS_REASON_CODE" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>Reason this promotion was applied.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PromotionId" type="yfctype:PromoCode" use="optional">
                <xsd:annotation yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                    <xsd:documentation>This identifies the promotion that is added to this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
