Data/xapidocs/api_javadocs/XSD/MasterAddedRemovedAwardsOutput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterAddedRemovedAwardsOutput"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterAddedRemovedAwardsOutput" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterAddedRemovedAwardsOutput.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order>
                <OrderLines>
                    <OrderLine>
                        <AddedAwards hasAttributes="Y">
                            <Award hasAttributes="Y"/>
                        </AddedAwards>
                        <RemovedAwards hasAttributes="Y">
                            <Award hasAttributes="Y"/>
                        </RemovedAwards>
                    </OrderLine>
                </OrderLines>
                <AddedAwards hasAttributes="Y">
                    <Award hasAttributes="Y"/>
                </AddedAwards>
                <RemovedAwards hasAttributes="Y">
                    <Award hasAttributes="Y"/>
                </RemovedAwards>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AddedAwards">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Award">
                            <xsd:annotation yfc:tableName="YFS_PROMOTION_AWARD">
                                <xsd:documentation>This table stores information regarding awards that are created out of the promotions or information regarding pricing rules applied on the order. A single promotion or pricing rule can result in multiple awards.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="AwardAmount"
                                    type="yfctype:ExternalAmount" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_AMOUNT" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The amount of discount or charge that was applied as a part of this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_APPLIED" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardId"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_AWARD_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION_AWARD table.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_TYPE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ChargeCategory"
                                    type="yfctype:ChargeCategory" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge category of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ChargeName"
                                    type="yfctype:ChargeName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge name of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>If the award is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Description"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="IsPromotionOnOrder"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the Award was created for a Promotion
							on the order.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PosReasonCode"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="POS_REASON_CODE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Reason this promotion was applied.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This identifies the promotion that is added to this order.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The promotion this award belongs to.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="TotalNumberOfRecords"
                        type="yfctype:Number" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>Number of Added Awards on the Order.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="RemovedAwards">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Award">
                            <xsd:annotation yfc:tableName="YFS_PROMOTION_AWARD">
                                <xsd:documentation>This table stores information regarding awards that are created out of the promotions or information regarding pricing rules applied on the order. A single promotion or pricing rule can result in multiple awards.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="AwardAmount"
                                    type="yfctype:ExternalAmount" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_AMOUNT" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The amount of discount or charge that was applied as a part of this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_APPLIED" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardId"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_AWARD_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION_AWARD table.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_TYPE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ChargeCategory"
                                    type="yfctype:ChargeCategory" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge category of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ChargeName"
                                    type="yfctype:ChargeName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge name of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>If the award is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Description"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="IsPromotionOnOrder"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the Award was created for a Promotion
							on the order.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PosReasonCode"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="POS_REASON_CODE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Reason this promotion was applied.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This identifies the promotion that is added to this order.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The promotion this award belongs to.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="TotalNumberOfRecords"
                        type="yfctype:Number" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>Number of Removed Awards on the Order.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="AddedAwards">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Award">
                                <xsd:annotation yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This table stores information regarding awards that are created out of the promotions or information regarding pricing rules applied on the order. A single promotion or pricing rule can result in multiple awards.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="AwardAmount"
                                    type="yfctype:ExternalAmount" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_AMOUNT" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The amount of discount or charge that was applied as a part of this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_APPLIED" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardId"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_AWARD_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION_AWARD table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_TYPE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ChargeCategory"
                                    type="yfctype:ChargeCategory" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge category of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ChargeName"
                                    type="yfctype:ChargeName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge name of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>If the award is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="IsPromotionOnOrder"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the Award was created for a Promotion
							on the order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="IsPromotionOnOrderLine"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the Award was created for a Promotion
							on the order line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PosReasonCode"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="POS_REASON_CODE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Reason this promotion was applied.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This identifies the promotion that is added to this order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The promotion this award belongs to.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="TotalNumberOfRecords"
                            type="yfctype:Number" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Number of Added Awards on the Order Line.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="RemovedAwards">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Award">
                                <xsd:annotation yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This table stores information regarding awards that are created out of the promotions or information regarding pricing rules applied on the order. A single promotion or pricing rule can result in multiple awards.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="AwardAmount"
                                    type="yfctype:ExternalAmount" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_AMOUNT" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The amount of discount or charge that was applied as a part of this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_APPLIED" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardId"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_AWARD_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION_AWARD table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_TYPE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ChargeCategory"
                                    type="yfctype:ChargeCategory" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge category of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ChargeName"
                                    type="yfctype:ChargeName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge name of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>If the award is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="IsPromotionOnOrder"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the Award was created for a Promotion
							on the order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="IsPromotionOnOrderLine"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the Award was created for a Promotion
							on the order line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PosReasonCode"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="POS_REASON_CODE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Reason this promotion was applied.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This identifies the promotion that is added to this order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The promotion this award belongs to.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="TotalNumberOfRecords"
                            type="yfctype:Number" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Number of Removed Awards on the Order Line.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
