Data/xapidocs/api_javadocs/XSD/MasterCustomerAnalytics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterCustomerAnalytics"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterCustomerAnalytics" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterCustomerAnalytics.xsd" yfc:rootElement="CustomerAnalytics">
        <xsd:appinfo source="yfc:structure">
            <CustomerAnalytics hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerAnalytics" type="yfc:CustomerAnalyticsXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ANALYTICS">
            <xsd:documentation>The table stores the customer information like customer grade information for a customer, from an external BI system. This table is meant for either direct data upload through custom BI system or can also be updated using the managecustomer api. If this table is inserted or updated through direct db update (ETL), no events will be raised.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerAnalyticsXSDType">
        <xsd:attribute name="CustomerAnalyticsKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ANALYTICS_KEY" yfc:tableName="YFS_CUSTOMER_ANALYTICS">
                <xsd:documentation>The primary key of the YFS_CUSTOMER_ANALYTICS table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GradeCode" type="yfctype:GradeCode" use="optional">
            <xsd:annotation yfc:columnName="GRADE_CODE" yfc:tableName="YFS_CUSTOMER_ANALYTICS">
                <xsd:documentation>The grade code assigned for the range values between MINIMUM_RATING and MAXIMUM_RATING.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GradeDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="GRADE_DESCRIPTION" yfc:tableName="YFS_CUSTOMER_ANALYTICS">
                <xsd:documentation>The description for the grade code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
