Data/xapidocs/api_javadocs/XSD/MasterChangeRequestLocale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterChangeRequestLocale"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterChangeRequestLocale" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="MasterChangeRequestLocale.xsd" yfc:rootElement="ChangeRequestLocale">
        <xsd:appinfo source="yfc:structure">
            <ChangeRequestLocale hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeRequestLocale" type="yfc:ChangeRequestLocaleXSDType">
        <xsd:annotation yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
            <xsd:documentation>The table is used to store localized information for the related Change Requests in different locales.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeRequestLocaleXSDType">
        <xsd:attribute name="ChangeRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_KEY" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                <xsd:documentation>The reference key to the YFS_CHANGE_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeRequestLocaleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHANGE_REQUEST_LOCALE_KEY" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                <xsd:documentation>The primary key of the YFS_CHANGE_REQUEST_LOCALE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Country" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                <xsd:documentation>The country associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                <xsd:documentation>The language associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LongDescription"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                <xsd:documentation>The long description of the Change Request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                <xsd:documentation>The short description of the Change Request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_CHANGE_REQUEST_LOCALE">
                <xsd:documentation>The variant associated with the locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
