Data/xapidocs/api_javadocs/XSD/OMP_manageNodeTransferScheduleOverride_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/manageNodeTransferScheduleOverride/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/manageNodeTransferScheduleOverride/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_manageNodeTransferScheduleOverride_input.xsd" yfc:rootElement="NodeTransferScheduleOverrideList">
        <xsd:appinfo source="yfc:structure">
            <NodeTransferScheduleOverrideList hasAttributes="Y">
                <NodeTransferScheduleOverride hasAttributes="Y"/>
            </NodeTransferScheduleOverrideList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeTransferScheduleOverrideList" type="yfc:NodeTransferScheduleOverrideListXSDType"/>
    <xsd:complexType name="NodeTransferScheduleOverrideListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:NodeTransferScheduleOverride"/>
        </xsd:sequence>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="FROM_NODE" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                <xsd:documentation>
                    <div>Indicates Node receiving the transfer.
						<Validation>
                            <Condition>If creating new record, FromNode is not passed or value passed is Null.</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="TO_NODE" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                <xsd:documentation>
                    <div>Indicates Node from which transfer originates.
						<Validation>
                            <Condition>If creating new record, ToNode is not passed or value passed is Null. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NodeTransferScheduleOverride">
        <xsd:annotation yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
            <xsd:documentation>This table contains information about Node Transfer Schedule Overrides.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanShip" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_SHIP" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>Determines if the transfer can originate on this date. If the value is Y, then it is allowed. Otherwise it is disallowed. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CutOffTime" use="optional">
                <xsd:annotation yfc:columnName="CUT_OFF_TIME" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>Cut off time for  Node transfer  schedule for the overridden date</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NodeTransferScheduleOverrideKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="NODE_TRAN_SCH_OVERRIDE_KEY" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>Primary key attribute of YFS_NODE_TRAN_SCH_OVERRIDE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Set <code>Operation</code> to <b>Delete</b> to delete the matching record.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideTransitDays"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <b>Deprecated.</b> As of 9.5 this has been replaced by <code>OverrideTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				Number of transit days for this override date. This is only used 
				when CanShip is Y. Default value: 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideTransitTime"
                type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="OVERRIDE_TRANSIT_DAYS" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>Transit time for this overridden date. This is only used when CanShip is Y. Default value: 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The date that has been overridden. This date takes precedence over the transfer schedule.
					<Validation>
                                <Condition>ShipDate and NodeTransferScheduleOverrideKey is not passed or value passed is Null. </Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransitUnitOfMeasure" use="optional">
                <xsd:annotation yfc:columnName="TRANSIT_UOM" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>
                        <div>This determines the UOM used for this transfer schedule override. If null, then it is 
				assumed to be DAY. Possible values: DAY, HR.
					<Validation>
                                <Condition>
                                    <code>TransitUnitOfMeasure</code> passed along with a deprecated attribute.</Condition>
                                <Error
                                    Description="TransitUnitOfMeasure cannot be used in conjunction with deprecated attributes." ErrorCode="OMP950_0001"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:UOM">
                        <xsd:enumeration value="DAY"/>
                        <xsd:enumeration value="HR"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
