Data/xapidocs/api_javadocs/XSD/OMP_modifyCTRMappingUE_CommonEle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/modifyCTRMappingUE_CommonEle"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/modifyCTRMappingUE_CommonEle" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_modifyCTRMappingUE_CommonEle.xsd" yfc:rootElement="CommonEle">
        <xsd:appinfo source="yfc:structure">
            <CommonEle hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CommonEle" type="yfc:CommonEleXSDType"/>
    <xsd:complexType name="CommonEleXSDType">
        <xsd:attribute name="RemainingAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>RemainingAmount is how much is remaining to be needed after the current mapping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalRequiredMappingAmount"
            type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>The total amount to be mapped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
