Data/xapidocs/api_javadocs/XSD/OMP_getStopDeliveryRequestDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getStopDeliveryRequestDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getStopDeliveryRequestDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_getStopDeliveryRequestDetails_input.xsd" yfc:rootElement="StopDeliveryRequest">
        <xsd:appinfo source="yfc:structure">
            <StopDeliveryRequest hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StopDeliveryRequest" type="yfc:StopDeliveryRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_STOP_DEL_REQ_HDR">
            <xsd:documentation>This table stores information regarding a stop delivery request for an order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StopDeliveryRequestXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="StopDeliveryRequestHeaderKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STOP_DEL_REQ_HDR_KEY" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The primary key for the YFS_STOP_DEL_REQ_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopDeliveryRequestID" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="STOP_DEL_REQ_ID" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The ID for this stop delivery request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
