Data/xapidocs/api_javadocs/XSD/OMP_returnOrderAssociationUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/returnOrderAssociationUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/returnOrderAssociationUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_returnOrderAssociationUE_input.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <Item hasAttributes="Y"/>
                        <AssociableOrderLines>
                            <OrderLine hasAttributes="Y">
                                <Item hasAttributes="Y"/>
                                <Order hasAttributes="Y"/>
                            </OrderLine>
                        </AssociableOrderLines>
                    </OrderLine>
                </OrderLines>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
        </xsd:all>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The seller organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderLine">
                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                        <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Item">
                                <xsd:annotation yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The table stores product information.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ProductClass"
                                    type="yfctype:String" use="optional"/>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssociableOrderLines"/>
                        </xsd:all>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="required">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderedQty"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssociableOrderLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="OrderLine">
                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                        <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Item">
                                <xsd:annotation yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The table stores product information.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ProductClass"
                                    type="yfctype:String" use="optional"/>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Order">
                                <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="DocumentType"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="EnterpriseCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OrderHeaderKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OrderNo"
                                    type="yfctype:VarcharDocumentNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SellerOrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The seller organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="OrderHeaderKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The order header that this order line is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderedQty"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
