Data/xapidocs/api_javadocs/XSD/OMP_modifyCTRMappingUE_ChargeTranListForOP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/modifyCTRMappingUE_ChargeTranListForOP"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/modifyCTRMappingUE_ChargeTranListForOP" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_modifyCTRMappingUE_ChargeTranListForOP.xsd" yfc:rootElement="ChargeTransactionList">
        <xsd:appinfo source="yfc:structure">
            <ChargeTransactionList>
                <ChargeTransaction hasAttributes="Y"/>
            </ChargeTransactionList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChargeTransactionList" type="yfc:ChargeTransactionListXSDType"/>
    <xsd:complexType name="ChargeTransactionListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ChargeTransaction"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ChargeTransaction">
        <xsd:complexType>
            <xsd:attribute name="ChargeTransactionKey"
                type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="CHARGE_TRANSACTION_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The primary key for the YFS_CHARGE_TRANSACTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MappedAmount" type="yfctype:Money" use="required">
                <xsd:annotation>
                    <xsd:documentation>The amount mapped to the MappableGroup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
