Data/xapidocs/api_javadocs/XSD/OMP_getPurgedDataCountUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getPurgedDataCountUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getPurgedDataCountUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_getPurgedDataCountUE_output.xsd" yfc:rootElement="GDPRData">
        <xsd:appinfo source="yfc:structure">
            <GDPRData hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GDPRData" type="yfc:GDPRDataXSDType"/>
    <xsd:complexType name="GDPRDataXSDType">
        <xsd:attribute name="TotalPurgedOpportunities"
            type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>The total number of purged opportunites assosciated with the input attributes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalPurgedOrders" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>The total number of purged orders assosciated with the input attributes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
