Data/xapidocs/api_javadocs/XSD/OMP_manageStopDeliveryRequest_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/manageStopDeliveryRequest/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/manageStopDeliveryRequest/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_manageStopDeliveryRequest_output.xsd" yfc:rootElement="StopDeliveryRequest">
        <xsd:appinfo source="yfc:structure">
            <StopDeliveryRequest hasAttributes="Y">
                <Order hasAttributes="Y"/>
                <StopDeliveryRequestDetails hasAttributes="Y">
                    <StopDeliveryRequestDetail hasAttributes="Y">
                        <OrderLine hasAttributes="Y"/>
                    </StopDeliveryRequestDetail>
                </StopDeliveryRequestDetails>
            </StopDeliveryRequest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StopDeliveryRequest" type="yfc:StopDeliveryRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_STOP_DEL_REQ_HDR">
            <xsd:documentation>This table stores information regarding a stop delivery request for an order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StopDeliveryRequestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StopDeliveryRequestDetails"/>
        </xsd:all>
        <xsd:attribute name="Comments" type="yfctype:Comments" use="optional">
            <xsd:annotation yfc:columnName="COMMENTS" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>Comments made in regards to this Stop Delivery Request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_DATE" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The date and time the stop request was made.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopDeliveryRequestHeaderKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STOP_DEL_REQ_HDR_KEY" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The primary key for the YFS_STOP_DEL_REQ_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopDeliveryRequestID" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="STOP_DEL_REQ_ID" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The ID for this stop delivery request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StopDeliveryRequestDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:StopDeliveryRequestDetail"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total number of <code>StopDeliveryRequestDetail</code> elements returned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StopDeliveryRequestDetail">
        <xsd:annotation yfc:tableName="YFS_STOP_DEL_REQ_DTL">
            <xsd:documentation>This table stores information regarding a stop delivery request's detail.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
            <xsd:attribute name="Comments" type="yfctype:Comments" use="optional">
                <xsd:annotation yfc:columnName="COMMENTS" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>Comments made in regards to this Stop Delivery Request Detail.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_QTY" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>The quantity requested to stop delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StopDeliveryRequestDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="STOP_DEL_REQ_DTL_KEY" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>The primary key for the YFS_STOP_DEL_REQ_DTL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuccessfulQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SUCCESSFUL_QTY" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>The quantity that was successfully stopped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
