Data/xapidocs/api_javadocs/XSD/OMP_modifyCTRMappingUE_CTR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/modifyCTRMappingUE_CTR"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/modifyCTRMappingUE_CTR" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_modifyCTRMappingUE_CTR.xsd" yfc:rootElement="ChargeTransactionRequest">
        <xsd:appinfo source="yfc:structure">
            <ChargeTransactionRequest hasAttributes="Y">
                <ChargeTransactionList>
                    <ChargeTransaction hasAttributes="Y">
                        <PaymentMethod hasAttributes="Y"/>
                    </ChargeTransaction>
                </ChargeTransactionList>
            </ChargeTransactionRequest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChargeTransactionRequest" type="yfc:ChargeTransactionRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_CHARGE_TRAN_REQUEST">
            <xsd:documentation>This table holds the ORDER_HEADER_KEY and the request id which make a set of unique groups for payment processing on the order.  Authorizations will be split such that each authorization is for only one request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChargeTransactionRequestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChargeTransactionList"/>
        </xsd:all>
        <xsd:attribute name="ChargeTransactionRequestId"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_TRAN_REQUEST_ID" yfc:tableName="YFS_CHARGE_TRAN_REQUEST">
                <xsd:documentation>The unique identifier of the request in combination with the ORDER_HEADER_KEY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeTransactionRequestKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_TRAN_REQUEST_KEY" yfc:tableName="YFS_CHARGE_TRAN_REQUEST">
                <xsd:documentation>The primary key for the YFS_CHARGE_TRAN_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeTransactionRequestSequence"
            type="yfctype:PossibleKey" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_SEQUENCE" yfc:tableName="YFS_CHARGE_TRAN_REQUEST">
                <xsd:documentation>The order in which the Groups should be authorized.  Records with REQUEST_SEQUENCE NOT NULL will be processed first; NULL Sequences will be ordered by CHARGE_TRAN_REQUEST_ID, ascending.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxRequestAmount" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="MAX_REQUEST_AMOUNT" yfc:tableName="YFS_CHARGE_TRAN_REQUEST">
                <xsd:documentation>The maximum amount this unique identifier represents before distribution to another group begins to become Authorized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_CHARGE_TRAN_REQUEST">
                <xsd:documentation>The OrderHeaderKey that is associated with this charge tran request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentStatus"
            type="yfctype:AuthorizationPaymentStatus" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_STATUS" yfc:tableName="YFS_CHARGE_TRAN_REQUEST">
                <xsd:documentation>The Payment Status of the request.  This is computed in the same manner as the Order's Payment Status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RemainingAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>RemainingAmount is how much is remaining to be needed after the current mapping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalRequiredMappingAmount"
            type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>The total amount to be mapped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ChargeTransactionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ChargeTransaction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChargeTransaction">
        <xsd:annotation yfc:tableName="YFS_CHARGE_TRANSACTION">
            <xsd:documentation>This table stores information about financial transactions associated with order processing. Every action carried out on an order which may have an impact on financial components is logged in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PaymentMethod"/>
            </xsd:sequence>
            <xsd:attribute name="AsyncRequestIdentifier"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation
                    yfc:columnName="ASYNC_REQUEST_IDENTIFIER" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>For Asynchronous requests only, this field holds the identifier to the transaction closed as asynchronous. This identifier will be used for recording the actual response back in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditTransactionID"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorizationExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="AUTHORIZATION_EXPIRATION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The date and time until which the authorization specified by the authorization ID is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorizationID"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="AUTHORIZATION_ID" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>For authorization requests, this field holds the identifier of the authorization that was made. For charge requests, this field holds the authroization ID to be used for charging the amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BookAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="BOOK_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The amount that could be charged to the buyer if the order was fulfilled. At the time of fulfillment, a negative entry is made in this column and positive entry in the DEBIT_AMOUNT column.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CallForAuthorizationStatus"
                type="yfctype:CallForAuthStatus" use="optional">
                <xsd:annotation yfc:columnName="CALL_FOR_AUTH_STATUS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This column indicates the transaction is valid for a call for authorization and whether or not the authorization code was acquired.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CashBackAmount" use="optional">
                <xsd:annotation yfc:columnName="CASH_BACK_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The amount of cashback that has been charged using this transaction. Only valid for transactions of ChargeType CHARGE.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PlusMinusMoney"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargeTransactionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_TRANSACTION_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The primary key for the YFS_CHARGE_TRANSACTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeType"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_TYPE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The type of charge that is being applied to the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CollectionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="COLLECTION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The date and time when the charge was realized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The amount that was actually charged or refunded to the buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DebitAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="DEBIT_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The amount that should be charged or refunded to the buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributedAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTED_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This field is used internally by the application to keep track of the amount which has been posted in the invoices as "collected".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExecutionDate" use="optional">
                <xsd:annotation yfc:columnName="EXECUTION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The date and time when the charge request was processed.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ForAsyncRequestIdentifier"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation
                    yfc:columnName="FOR_ASYNC_REQUEST_IDENTIFIER" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>Reference to AsyncRequestIdentifier, the actual transaction that was closed as async for which the response is now recorded in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldAgainstBook" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_AGAINST_BOOK" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This flag indicates whether the request was created for a precharge or a payment method whose payment type has the ChargeInsteadOfAuth flag turned on.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InPerson" use="optional">
                <xsd:annotation yfc:columnName="IN_PERSON" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This flag indicates that the transaction represents an in person, or card in hand, transaction.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MappedAmount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The amount that is mapped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OfflineStatus" use="optional">
                <xsd:annotation yfc:columnName="OFFLINE_STATUS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This flag indicates the transaction attempted to reach the payment gateway within a UserExit, but the UserExit was unable to contact the gateway.  This may be updated to N by the user exit, and will be reset to null when the record moves to CLOSED status.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OpenAuthorizedAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="OPEN_AUTHORIZED_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The amount that is authorized for the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The order header that is associated with this charge transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderInvoiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_INVOICE_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The key to the invoice that was created for this record, if applicable. Invoices are created for shipments, returns, or debit and credit memos.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentEntryType"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_ENTRY_TYPE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>Entry Type used to enter payment information into the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The payment method that is associated with this charge transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PostponedAmount" use="optional">
                <xsd:annotation yfc:columnName="POSTPONED_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The total amount that does not require authorization or payment capture on the order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PlusMinusMoney"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This field can be used to store reason code for transaction update.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="REQUEST_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The amount that is requested for the charge or authorization of record of types "REQUEST_CHARGE" and "REQUEST_AUTHORIZATION". Once the request is processed, the actual amount will be shown as "CreditAmount" or "OpenAuthorizedAmount", for charge and authorization requests respectively.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SettledAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="SETTLED_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This field holds the amount for which a pre-settlement (settlement before invoice) is requested. Charge requests will be created for this amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:EnumStatus2" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This field indicates the status of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>Transaction Date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransferFromOhKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSFER_FROM_OH_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The Order Header Key of the order that funds are being transferred from.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransferToOhKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSFER_TO_OH_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The Order Header Key of the order that funds are being transferred to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnusuableAmount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The unusable amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserExitStatus" type="yfctype:Text-15" use="optional">
                <xsd:annotation yfc:columnName="USER_EXIT_STATUS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The user exit call status of this record. The status will be "INVOKED" if the transaction fails during or after the user exit call, otherwise the value will be blank.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VoidTransaction" use="optional">
                <xsd:annotation yfc:columnName="VOID_TRANSACTION" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>This flag indicates that the Charge Transaction is either a Void request or submitted for a Void operation.  Valid values for a Void Charge Transaction are V (is a void request), R (is a forced refund request), C (closed error record, already recreated) and null. Valid value for a Charge Transaction that has been requested for Void operation is S (void submitted for this transaction).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="V"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value="S"/>
                        <xsd:enumeration value="C"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PaymentMethod">
        <xsd:annotation yfc:tableName="YFS_PAYMENT">
            <xsd:documentation>This table stores details about the customer's payment methods. The key to this table is posted in YFS_CHARGE_TRANSACTION table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AwaitingAuthInterfaceAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total authorization amount that has not been
								sent to the payment processing system for processing yet.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AwaitingChargeInterfaceAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total charge amount that has not been sent to
								the payment
								processing system for processing yet.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_KEY" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The bill to address that is associated with this payment. Can be passed if different from the bill to address on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CashBackAmount" use="optional">
                <xsd:annotation yfc:columnName="CASH_BACK_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The amount that is given back as cash for this payment method. This is not supported on a return order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Money"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargeSequence"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_SEQUENCE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The sequence in which the payment method is to be used for charging.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CheckNo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CHEQUE_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The cheque number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CheckReference" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CHEQUE_REFERENCE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The cheque reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardExpDate"
                type="yfctype:CreditCardExpDate" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_EXP_DATE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The expiration date for the credit card.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The credit card name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup CREDIT_CARD; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardType" type="yfctype:Text-32" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_TYPE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The credit card type group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ACCOUNT_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup CUSTOMER_ACCOUNT; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPONo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The customer PO account number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DebitCardNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="DEBIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup DEBIT_CARD; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayCreditCardNo"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_CREDIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the credit card number that should be displayed.  If not passed, it is defaulted to be the last four digits of the credit card number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayCustomerAccountNo"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_CUST_ACCT_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the customer account number that should be displayed.  If not passed, it is defaulted to be the last four digits of the customer account number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayDebitCardNo"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_DEBIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the debit card number that should be displayed.  If not passed, it is defaulted to be the last four digits of the debit card number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayPaymentReference1"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_PAYMENT_REF1" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the payment reference 1 that should be displayed.  If not passed, it is defaulted to be the last four digits of the payment reference 1.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayPrimaryAccountNo"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The appropriate display value of the primary
								identifier of this PaymentType, depending upon the
								PaymentTypeGroup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplaySvcNo" type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_SVC_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the stored value card that should be displayed.  If not passed, it is defaulted to be the last four digits of the stored value card number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The first name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FundsAvailable" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The funds available to be charged on this payment method as
									determined by the
									<code>YFSGetFundsAvailableUE</code>
									user exit, if it was invoked. If the order is created for a
									customer and the payment method is a valid customer payment
									method, it indicates the amount available for the customer
									account. If customer account is not maintained internally or if
									the MaxChargeLimit is not set on the customer payment method,
									this value is returned as 0.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GetFundsAvailableUserExitInvoked"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									Indicates if the
									<code>YFSGetFundsAvailableUE</code>
									user exit was invoked for this payment method.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IncompletePaymentType"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INCOMPLETE_PAYMENT_TYPE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>This flag indicates whether the payment type is incomplete.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The last name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxChargeLimit" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="MAX_CHARGE_LIMIT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The maximum amount that can be charged on this payment method. However, if UnlimitedCharges=Y, this amount will not be considered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The middle name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_KEY" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary key for the YFS_PAYMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference1"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE1" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 1. Additionally, this is the primary account number for payment methods that are defined under the PaymentTypeGroup OTHER; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference2"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE2" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 2.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference3"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE3" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 3.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference4"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE4" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 4. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference5"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE5" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 5. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference6"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE6" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 6. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference7"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE7" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 7. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference8"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE8" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 8. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference9"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE9" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 9. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTemplateType"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TEMPLATE_TYPE" yfc:tableName="YFS_PAYMENT_TYPE">
                    <xsd:documentation>This field indicates User Interfaces to use the template required to capture Payment Methods of this Payment Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment type of this payment method.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTypeGroup"
                type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE_GROUP" yfc:tableName="YFS_PAYMENT_TYPE">
                    <xsd:documentation>This filed indicates the payment type group, which will determine behavior.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedRefundAmount" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_REFUND_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The amount that will be refunded on this payment method. This field is set for only Return Orders indicating the refund amount.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Money"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PrimaryAccountNo"
                type="yfctype:Text-1000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The appropriate primary identifier of this
								PaymentType, depending upon the PaymentTypeGroup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>Reason code for last update.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedAuthAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_AUTH_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The total amount of authorizations sent to an
								external
								system and still
								awaiting response on this payment
								method.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedChargeAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_CHARGE_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The total amount of charges sent to an external
								system and still
								awaiting response on this payment method.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedRefundAmount" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_REFUND_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The total amount of refunds sent to an external
								system and still
								awaiting response on this payment method. This
								number will be
								positive. This total will no longer be included in
								the
								RequestedChargeAmount, but if an asynchronous refund is
								submitted
								in excess of this amount, the RequestedChargeAmount
								will
								be
								reduced for backwards compatibility.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Money"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SuspendAnyMoreCharges"
                type="yfctype:Text-1" use="optional">
                <xsd:annotation
                    yfc:columnName="SUSPEND_ANY_MORE_CHARGES" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>Sets whether or not this payment method has been suspended. If the value is Y, then the PaymentMethod is suspended for charging, although refunds can still be made to this PaymentMethod. All open AUTHORIZATION and CHARGE records for positive amounts for this payment method are closed.  If the value is B then both charge and refund are suspended and all open AUTHORIZATION or CHARGE records are closed.  Default: N.  Valid Values: Y, B, or N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuspendExpiredAuthReversal"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SUSPEND_EXP_AUTH_REVERSAL" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>This flag indicates whether or not the reversal of expired authorization has to be initiated for a payment method that has been suspended. If the value is set to Y, then the authorization reversal are not created even though Authorization Reversal Strategy is configured for the payment type. Please note the flag comes into action only when SuspendAnyMoreCharges is either set to Y or B. Valid Values are N or Y (Null value behaves similar to setting it to N ).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SvcNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="SVC_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup STORED_VALUE_CARD; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAltRefundedAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="TOTAL_ALT_REFUNDED_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The amount that has been refunded to a new payment method based on this payment's payment type refund preferences.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAuthorized" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_AUTHORIZED" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The total amount auhorized on this payment method.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalCharged" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_CHARGED" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The total amount charged on this payment method.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalRefundedAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_REFUNDED_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The total refunded amount on this payment method.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnlimitedCharges" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="UNLIMITED_CHARGES" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>Indicates if there is a limit to the amount that can be charged on the payment method. If not passed, defaults to Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
