Data/xapidocs/api_javadocs/XSD/OMP_getSourcingCorrectionsUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getSourcingCorrectionsUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getSourcingCorrectionsUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_getSourcingCorrectionsUE_output.xsd" yfc:rootElement="Promise">
        <xsd:appinfo source="yfc:structure">
            <Promise>
                <PromiseLines>
                    <PromiseLine hasAttributes="Y">
                        <SourcingRuleDetails>
                            <SourcingRuleDetail hasAttributes="Y">
                                <ShipNodes>
                                    <ShipNode hasAttributes="Y"/>
                                </ShipNodes>
                            </SourcingRuleDetail>
                        </SourcingRuleDetails>
                    </PromiseLine>
                </PromiseLines>
                <PromiseServiceLines>
                    <PromiseServiceLine hasAttributes="Y">
                        <SourcingRuleDetails>
                            <SourcingRuleDetail hasAttributes="Y">
                                <ShipNodes>
                                    <ShipNode hasAttributes="Y"/>
                                </ShipNodes>
                            </SourcingRuleDetail>
                        </SourcingRuleDetails>
                    </PromiseServiceLine>
                </PromiseServiceLines>
            </Promise>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Promise" type="yfc:PromiseXSDType"/>
    <xsd:complexType name="PromiseXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PromiseLines"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PromiseServiceLines"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="PromiseLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PromiseLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PromiseLine">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="SourcingRuleDetails">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="SourcingRuleDetail">
                                <xsd:annotation yfc:tableName="YFS_SOURCING_RULE_DTL">
                                    <xsd:documentation>This table stores detailed information for a given sourcing rule header.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="ShipNodes">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ShipNode">
                                    <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
                                    <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="ShipNode"
                                    type="yfctype:ShipNode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                                    <xsd:documentation>
                                    <div>
												Shipping node from which the inventory should be found.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="SeqNo"
                                    type="yfctype:Count" use="required">
                                    <xsd:annotation
                                    yfc:columnName="SEQ_NO" yfc:tableName="YFS_SOURCING_RULE_DTL">
                                    <xsd:documentation>The sequence number of the sourcing rule details.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="LineId" type="yfctype:Text-40" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Unique identifier for the line. 
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PromiseServiceLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PromiseServiceLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PromiseServiceLine">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="SourcingRuleDetails">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="SourcingRuleDetail">
                                <xsd:annotation yfc:tableName="YFS_SOURCING_RULE_DTL">
                                    <xsd:documentation>This table stores detailed information for a given sourcing rule header.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="ShipNodes">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ShipNode">
                                    <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
                                    <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="ShipNode"
                                    type="yfctype:ShipNode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                                    <xsd:documentation>
                                    <div>
												Shipping node from which the capacity should be found.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="SeqNo"
                                    type="yfctype:Count" use="required">
                                    <xsd:annotation
                                    yfc:columnName="SEQ_NO" yfc:tableName="YFS_SOURCING_RULE_DTL">
                                    <xsd:documentation>The sequence number of the sourcing rule details.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="LineId" type="yfctype:Text-40" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Unique identifier for the line. 
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
