Data/xapidocs/api_javadocs/XSD/OMP_getChargeTransactionList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getChargeTransactionList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getChargeTransactionList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_getChargeTransactionList_input.xsd" yfc:rootElement="ChargeTransactionDetail">
        <xsd:appinfo source="yfc:structure">
            <ChargeTransactionDetail hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChargeTransactionDetail" type="yfc:ChargeTransactionDetailXSDType">
        <xsd:annotation yfc:tableName="YFS_CHARGE_TRANSACTION">
            <xsd:documentation>This table stores information about financial transactions associated with order processing. Every action carried out on an order which may have an impact on financial components is logged in this table.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChargeTransactionDetailXSDType">
        <xsd:attribute name="AsyncRequestIdentifier"
            type="yfctype:Text-255" use="optional">
            <xsd:annotation yfc:columnName="ASYNC_REQUEST_IDENTIFIER" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>For Asynchronous requests only, this field holds the identifier to the transaction closed as asynchronous. This identifier will be used for recording the actual response back in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuditTransactionID"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthorizationExpirationDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation
                yfc:columnName="AUTHORIZATION_EXPIRATION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The date and time until which the authorization specified by the authorization ID is applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthorizationID" type="yfctype:Text-255" use="optional">
            <xsd:annotation yfc:columnName="AUTHORIZATION_ID" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>For authorization requests, this field holds the identifier of the authorization that was made. For charge requests, this field holds the authroization ID to be used for charging the amount.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BookAmount" type="yfctype:PlusMinusMoney" use="optional">
            <xsd:annotation yfc:columnName="BOOK_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The amount that could be charged to the buyer if the order was fulfilled. At the time of fulfillment, a negative entry is made in this column and positive entry in the DEBIT_AMOUNT column.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallForAuthorizationStatus"
            type="yfctype:CallForAuthStatus" use="optional">
            <xsd:annotation yfc:columnName="CALL_FOR_AUTH_STATUS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This column indicates the transaction is valid for a call for authorization and whether or not the authorization code was acquired.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CashBackAmount" use="optional">
            <xsd:annotation yfc:columnName="CASH_BACK_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The amount of cashback that has been charged using this transaction. Only valid for transactions of ChargeType CHARGE.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:PlusMinusMoney"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ChargeTransactionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_TRANSACTION_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The primary key for the YFS_CHARGE_TRANSACTION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeType" type="yfctype:ChargeCategory" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_TYPE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The type of charge that is being applied to the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CollectionDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="COLLECTION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The date and time when the charge was realized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreditAmount" type="yfctype:PlusMinusMoney" use="optional">
            <xsd:annotation yfc:columnName="CREDIT_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The amount that was actually charged or refunded to the buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DebitAmount" type="yfctype:PlusMinusMoney" use="optional">
            <xsd:annotation yfc:columnName="DEBIT_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The amount that should be charged or refunded to the buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributedAmount"
            type="yfctype:PlusMinusMoney" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTED_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This field is used internally by the application to keep track of the amount which has been posted in the invoices as "collected".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DoNotIncludeAlreadyVoidedOrRefunded"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>When passed as Y, ChargeTransactionDetails which are already voided, as well as the Void/Refund records themselves, will not be returned.  Default: N</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionDate" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The date and time when the charge request was processed.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ForAsyncRequestIdentifier"
            type="yfctype:Text-255" use="optional">
            <xsd:annotation
                yfc:columnName="FOR_ASYNC_REQUEST_IDENTIFIER" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>Reference to AsyncRequestIdentifier, the actual transaction that was closed as async for which the response is now recorded in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldAgainstBook" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HOLD_AGAINST_BOOK" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This flag indicates whether the request was created for a precharge or a payment method whose payment type has the ChargeInsteadOfAuth flag turned on.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InPerson" use="optional">
            <xsd:annotation yfc:columnName="IN_PERSON" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This flag indicates that the transaction represents an in person, or card in hand, transaction.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OfflineStatus" use="optional">
            <xsd:annotation yfc:columnName="OFFLINE_STATUS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This flag indicates the transaction attempted to reach the payment gateway within a UserExit, but the UserExit was unable to contact the gateway.  This may be updated to N by the user exit, and will be reset to null when the record moves to CLOSED status.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OpenAuthorizedAmount"
            type="yfctype:PlusMinusMoney" use="optional">
            <xsd:annotation yfc:columnName="OPEN_AUTHORIZED_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The amount that is authorized for the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The order header that is associated with this charge transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderInvoiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_INVOICE_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The key to the invoice that was created for this record, if applicable. Invoices are created for shipments, returns, or debit and credit memos.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentEntryType" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_ENTRY_TYPE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>Entry Type used to enter payment information into the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The payment method that is associated with this charge transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PostponedAmount" use="optional">
            <xsd:annotation yfc:columnName="POSTPONED_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The total amount that does not require authorization or payment capture on the order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:PlusMinusMoney"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This field can be used to store reason code for transaction update.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestAmount"
            type="yfctype:PlusMinusMoney" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The amount that is requested for the charge or authorization of record of types "REQUEST_CHARGE" and "REQUEST_AUTHORIZATION". Once the request is processed, the actual amount will be shown as "CreditAmount" or "OpenAuthorizedAmount", for charge and authorization requests respectively.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SettledAmount"
            type="yfctype:PlusMinusMoney" use="optional">
            <xsd:annotation yfc:columnName="SETTLED_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This field holds the amount for which a pre-settlement (settlement before invoice) is requested. Charge requests will be created for this amount.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:EnumStatus2" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This field indicates the status of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>Transaction Date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransferFromOhKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSFER_FROM_OH_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The Order Header Key of the order that funds are being transferred from.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransferToOhKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSFER_TO_OH_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The Order Header Key of the order that funds are being transferred to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserExitStatus" type="yfctype:Text-15" use="optional">
            <xsd:annotation yfc:columnName="USER_EXIT_STATUS" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The user exit call status of this record. The status will be "INVOKED" if the transaction fails during or after the user exit call, otherwise the value will be blank.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VoidTransaction" use="optional">
            <xsd:annotation yfc:columnName="VOID_TRANSACTION" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>This flag indicates that the Charge Transaction is either a Void request or submitted for a Void operation.  Valid values for a Void Charge Transaction are V (is a void request), R (is a forced refund request), C (closed error record, already recreated) and null. Valid value for a Charge Transaction that has been requested for Void operation is S (void submitted for this transaction).</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="V"/>
                    <xsd:enumeration value="R"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="C"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
