Data/xapidocs/api_javadocs/XSD/OMP_manageNodeTransferScheduleOverride_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/manageNodeTransferScheduleOverride/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/manageNodeTransferScheduleOverride/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_manageNodeTransferScheduleOverride_output.xsd" yfc:rootElement="NodeTransferScheduleOverrideList">
        <xsd:appinfo source="yfc:structure">
            <NodeTransferScheduleOverrideList hasAttributes="Y">
                <NodeTransferScheduleOverride hasAttributes="Y"/>
            </NodeTransferScheduleOverrideList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeTransferScheduleOverrideList" type="yfc:NodeTransferScheduleOverrideListXSDType"/>
    <xsd:complexType name="NodeTransferScheduleOverrideListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NodeTransferScheduleOverride"/>
        </xsd:sequence>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FROM_NODE" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                <xsd:documentation>Indicates Node from which transfer originates.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TO_NODE" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                <xsd:documentation>Indicates Node receiving the transfer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NodeTransferScheduleOverride">
        <xsd:annotation yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
            <xsd:documentation>This table contains information about Node Transfer Schedule Overrides.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanShip" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_SHIP" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>Determines if the transfer can originate on this date. If the value is Y, then it is allowed. Otherwise it is disallowed. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CutOffTime" use="optional">
                <xsd:annotation yfc:columnName="CUT_OFF_TIME" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>Cut off time for  Node transfer  schedule for the overridden date</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NodeTransferScheduleOverrideKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="NODE_TRAN_SCH_OVERRIDE_KEY" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>Primary key attribute of YFS_NODE_TRAN_SCH_OVERRIDE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideTransitDays"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <b>Deprecated.</b> As of 9.5 this has been replaced by <code>OverrideTransitTime</code>
					and <code>TransitUnitOfMeasure</code>.<br/>
					Number of transit days for this override date. This is only used 
					when CanShip is Y. Default value: 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideTransitTime"
                type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="OVERRIDE_TRANSIT_DAYS" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>Transit time for this overridden date. This is only used when CanShip is Y. Default value: 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>The date that has been overridden. This date takes precedence over the transfer schedule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransitUnitOfMeasure"
                type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TRANSIT_UOM" yfc:tableName="YFS_NODE_TRAN_SCH_OVERRIDE">
                    <xsd:documentation>This determines the UOM used for this transfer schedule override. If null, then it is assumed to be DAY. Possible values: DAY, HR</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
