Data/xapidocs/api_javadocs/XSD/OMP_confirmRefundDistributionUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/confirmRefundDistributionUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/confirmRefundDistributionUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_confirmRefundDistributionUE_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <RefundPaymentMethods>
                    <RefundPaymentMethod hasAttributes="Y">
                        <RefundForPaymentMethods>
                            <RefundForPaymentMethod hasAttributes="Y"/>
                        </RefundForPaymentMethods>
                        <RefundFulfillmentDetails hasAttributes="Y"/>
                        <PersonInfoBillTo hasAttributes="Y"/>
                    </RefundPaymentMethod>
                </RefundPaymentMethods>
                <RefundFulfillmentOrderOverride>
                    <PersonInfoBillTo hasAttributes="Y"/>
                </RefundFulfillmentOrderOverride>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RefundPaymentMethods"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RefundFulfillmentOrderOverride"/>
        </xsd:all>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="RefundPaymentMethods">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:RefundPaymentMethod"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefundPaymentMethod">
        <xsd:annotation yfc:tableName="YFS_PAYMENT">
            <xsd:documentation>
                <div>
                    <code>PaymentMethod</code>
							can be added, modified or removed .
							<br/>
							If payment processing is not required for the order, any payment
							method passed in the input xml is still subject to validations.
							<br/>
							Only the
							<code>PaymentMethod</code>
							attributes specified in the input xml can be changed. Attempting
							to change other attributes
							on
							<code>PaymentMethod</code>
							, such as
							<code>TotalAuthorized</code>
							or
							<code>TotalCharged</code>
							results in an error.
							<Validation>
                        <Condition>Pass changed value for attributes not specfied in
									input xml.
				</Condition>
                        <Error
                            Description="Payment attributes cannot be modified." ErrorCode="YFS10458"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RefundForPaymentMethods"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RefundFulfillmentDetails"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="PersonInfoBillTo">
                    <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
                        <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="AddressID"
                            type="yfctype:Text-256" use="optional">
                            <xsd:annotation yfc:columnName="ADDRESS_ID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>A user specified label for an address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine1"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 1 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine2"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 2 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine3"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 3 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine4"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 4 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine5"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 5 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine6"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 6 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AlternateEmailID"
                            type="yfctype:EMailID" use="optional">
                            <xsd:annotation
                                yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Beeper"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="City" type="yfctype:City" use="optional">
                            <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The city in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Company"
                            type="yfctype:Company" use="optional">
                            <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The company this person is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Country"
                            type="yfctype:Country" use="optional">
                            <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The country in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DayFaxNo"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DayPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Department"
                            type="yfctype:Department" use="optional">
                            <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EMailID"
                            type="yfctype:EMailID" use="optional">
                            <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EveningFaxNo"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EveningPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FirstName"
                            type="yfctype:PersonName" use="optional">
                            <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The first name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IsAddressVerified"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="IS_ADDRESS_VERIFIED" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>This flag indicates whether or not the address in this record has been verified by an address verification program. Intended for future use.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IsCommercialAddress"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="JobTitle"
                            type="yfctype:Title-40" use="optional">
                            <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The job title of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LastName"
                            type="yfctype:PersonName" use="optional">
                            <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The last name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Latitude" use="optional">
                            <xsd:annotation yfc:columnName="LATITUDE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The latitude of this location.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:DecimalWithNegative"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="Longitude" use="optional">
                            <xsd:annotation yfc:columnName="LONGITUDE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The longitude of this location.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:DecimalWithNegative"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="MiddleName"
                            type="yfctype:MiddleName" use="optional">
                            <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The middle name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MobilePhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OtherPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PersonID"
                            type="yfctype:PersonId" use="optional">
                            <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PersonInfoKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="PERSON_INFO_KEY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The primary key for the YFS_PERSON_INFO table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="State" type="yfctype:State" use="optional">
                            <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The state in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Suffix"
                            type="yfctype:Suffix" use="optional">
                            <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TaxGeoCode"
                            type="yfctype:GeoCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Title"
                            type="yfctype:Title-10" use="optional">
                            <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ZipCode"
                            type="yfctype:ZipCode" use="optional">
                            <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The zip code in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="BillToKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_KEY" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The bill to address that is associated with this payment. Can be passed if different from the bill to address on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CashBackAmount" use="optional">
                <xsd:annotation yfc:columnName="CASH_BACK_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The amount that is given back as cash for this payment method. This is not supported on a return order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Money"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ChargeSequence"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_SEQUENCE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>
                        <div>
								Used to identify the order to which charges are applied.
								<br/>
								The Seller Organization can configure the payment types so that
								they are charged and refunded in a particular sequence. The
								charge sequence and refund sequence are independent of each
								other. A
								<code>PaymentType</code>
								with a
								<code>ChargeSequence</code>
								set to
								<b>
                                <code>0</code>
                            </b>
								is charged before another
								<code>PaymentType</code>
								with
								<code>ChargeSequence</code>
								set to
								<b>
                                <code>1</code>
                            </b>
								.
								<br/>
								The Buyer can also specify the
								<code>ChargeSequence</code>
								of the
								<code>PaymentMethod</code>
								in the
								<code>createOrder</code>
								input xml. If a charge sequence is not specified by the Buyer,
								the Seller's
								<code>ChargeSequence</code>
								is followed.
								<br/>
                            <br/>
								If both the Buyer and the Seller supply
								<code>ChargeSequence</code>
								, charges are made in the order
								that the Seller specifies, but
								within a particular charge type, such
								as CreditCard, the Buyer's
								sequence is honored.
								<br/>
                            <br/>
								For example:
								<br/>
								A seller specifies the
								<code>ChargeSequence</code>
								as 0 for CUSTOMER_ACCOUNT, 1 for CREDIT_CARD, 2 for OTHER.
								<br/>
								A buyer specifies the
								<code>ChargeSequence</code>
								as 1 for MyBank-CreditCard, 2 for CUSTOMER_ACCOUNT, and 3 for
								MyOther-CreditCard.
								<br/>
								The payment methods are charged in the following sequence:
								<br/>
								CUSTOMER_ACCOUNT, MyBank-CreditCard, MyOther-CreditCard.
								<br/>
								The Customer account is charged because that is the seller's
								preferred method, and the two credit cards are charged based on
								the order that the buyer specified.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CheckNo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CHEQUE_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The cheque number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CheckReference" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CHEQUE_REFERENCE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The cheque reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardExpDate"
                type="yfctype:CreditCardExpDate" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_EXP_DATE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The expiration date for the credit card.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The credit card name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup CREDIT_CARD; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardType" type="yfctype:Text-32" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_TYPE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The credit card type group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ACCOUNT_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup CUSTOMER_ACCOUNT; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPONo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The customer PO account number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DebitCardNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="DEBIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup DEBIT_CARD; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayCreditCardNo"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_CREDIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the credit card number that should be displayed.  If not passed, it is defaulted to be the last four digits of the credit card number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayCustomerAccountNo"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_CUST_ACCT_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the customer account number that should be displayed.  If not passed, it is defaulted to be the last four digits of the customer account number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayDebitCardNo"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_DEBIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the debit card number that should be displayed.  If not passed, it is defaulted to be the last four digits of the debit card number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayPaymentReference1"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_PAYMENT_REF1" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the payment reference 1 that should be displayed.  If not passed, it is defaulted to be the last four digits of the payment reference 1.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplaySvcNo" type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_SVC_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The four digits of the stored value card that should be displayed.  If not passed, it is defaulted to be the last four digits of the stored value card number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntryType" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The Entry Type used to enter payment information into the
								system.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The first name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The last name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The middle name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary key for the YFS_PAYMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference1"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE1" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 1. Additionally, this is the primary account number for payment methods that are defined under the PaymentTypeGroup OTHER; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference2"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE2" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 2.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference3"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE3" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 3.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference4"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE4" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 4. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference5"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE5" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 5. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference6"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE6" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 6. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference7"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE7" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 7. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference8"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE8" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 8. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference9"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE9" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 9. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="required">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>
                        <div>
								Type of payment.
								<br/>
								The
								<code>PaymentType</code>
								must be a value that is already configured for the Seller
								Organization.
								<br/>
								If a
								<code>PaymentMethod</code>
								element is passed, the
								<code>PaymentType</code>
								is validated, even if payment processing is not required for the
								order.
								<Validation>
                                <Condition>Must be a value defined for the Seller Organization.
					</Condition>
                                <Error
                                    Description="Payment Type not set up for seller." ErrorCode="YFS10491"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>PaymentType</code>
										must be passed.
									</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedRefundAmount" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_REFUND_AMOUNT" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The amount that will be refunded on this payment method. This field is set for only Return Orders indicating the refund amount.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Money"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>Reason code for last update.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RefundAmount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Amount to be refunded to this payment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuspendExpiredAuthReversal"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SUSPEND_EXP_AUTH_REVERSAL" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>This flag indicates whether or not the reversal of expired authorization has to be initiated for a payment method that has been suspended. If the value is set to Y, then the authorization reversal are not created even though Authorization Reversal Strategy is configured for the payment type. Please note the flag comes into action only when SuspendAnyMoreCharges is either set to Y or B. Valid Values are N or Y (Null value behaves similar to setting it to N ).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SvcNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="SVC_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup STORED_VALUE_CARD; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefundForPaymentMethods">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:RefundForPaymentMethod"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefundForPaymentMethod">
        <xsd:annotation yfc:tableName="YFS_PAYMENT">
            <xsd:documentation>The PaymentMethod that the above RefundPaymentMethod is created for.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PaymentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_KEY" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary key for the YFS_PAYMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RefundAmount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The amount from this payment method that is being refunded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefundFulfillmentDetails">
        <xsd:annotation>
            <xsd:documentation>The fulfillment details for this refund payment method. This will be presented
							when the refund payment requires refund fulfillment.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RefundFulfillmentOrderOverride">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						Pass this element to override PersonInfoBillTo and PersonInfoShipTo on Refund Fulfillment Order.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="PersonInfoBillTo">
                    <xsd:complexType>
                        <xsd:attribute name="AddressID"
                            type="yfctype:Text-256" use="optional"/>
                        <xsd:attribute name="AddressLine1"
                            type="yfctype:Address" use="optional"/>
                        <xsd:attribute name="AddressLine2"
                            type="yfctype:Address" use="optional"/>
                        <xsd:attribute name="AddressLine3"
                            type="yfctype:Address" use="optional"/>
                        <xsd:attribute name="AddressLine4"
                            type="yfctype:Address" use="optional"/>
                        <xsd:attribute name="AddressLine5"
                            type="yfctype:Address" use="optional"/>
                        <xsd:attribute name="AddressLine6"
                            type="yfctype:Address" use="optional"/>
                        <xsd:attribute name="AlternateEmailID"
                            type="yfctype:EMailID" use="optional"/>
                        <xsd:attribute name="Beeper"
                            type="yfctype:PhoneNo" use="optional"/>
                        <xsd:attribute name="City" type="yfctype:City" use="optional"/>
                        <xsd:attribute name="Company"
                            type="yfctype:Company" use="optional"/>
                        <xsd:attribute name="Country"
                            type="yfctype:Country" use="optional"/>
                        <xsd:attribute name="DayFaxNo"
                            type="yfctype:PhoneNo" use="optional"/>
                        <xsd:attribute name="DayPhone"
                            type="yfctype:PhoneNo" use="optional"/>
                        <xsd:attribute name="Department"
                            type="yfctype:Department" use="optional"/>
                        <xsd:attribute name="EMailID"
                            type="yfctype:EMailID" use="optional"/>
                        <xsd:attribute name="EveningFaxNo"
                            type="yfctype:PhoneNo" use="optional"/>
                        <xsd:attribute name="EveningPhone"
                            type="yfctype:PhoneNo" use="optional"/>
                        <xsd:attribute name="FirstName"
                            type="yfctype:PersonName" use="optional"/>
                        <xsd:attribute name="IsCommercialAddress"
                            type="yfctype:Flag" use="optional"/>
                        <xsd:attribute name="JobTitle"
                            type="yfctype:Title-40" use="optional"/>
                        <xsd:attribute name="LastName"
                            type="yfctype:PersonName" use="optional"/>
                        <xsd:attribute name="MiddleName"
                            type="yfctype:MiddleName" use="optional"/>
                        <xsd:attribute name="MobilePhone"
                            type="yfctype:PhoneNo" use="optional"/>
                        <xsd:attribute name="OtherPhone"
                            type="yfctype:PhoneNo" use="optional"/>
                        <xsd:attribute name="PersonID"
                            type="yfctype:PersonId" use="optional"/>
                        <xsd:attribute name="State" type="yfctype:State" use="optional"/>
                        <xsd:attribute name="Suffix"
                            type="yfctype:Suffix" use="optional"/>
                        <xsd:attribute name="TaxGeoCode"
                            type="yfctype:GeoCode" use="optional"/>
                        <xsd:attribute name="Title"
                            type="yfctype:Title-10" use="optional"/>
                        <xsd:attribute name="ZipCode"
                            type="yfctype:ZipCode" use="optional"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
