Data/xapidocs/api_javadocs/XSD/OMP_MasterOverallTotals.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/MasterOverallTotals"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/MasterOverallTotals" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_MasterOverallTotals.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order>
                <OverallTotalsInEnterpriseCurrency hasAttributes="Y"/>
                <RemainingTotalsInEnterpriseCurrency hasAttributes="Y"/>
                <OverallTotals hasAttributes="Y">
                    <OverallChargeTotals>
                        <OverallChargeTotal hasAttributes="Y"/>
                    </OverallChargeTotals>
                </OverallTotals>
                <InvoicedTotals hasAttributes="Y"/>
                <RemainingTotals hasAttributes="Y"/>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OverallTotalsInEnterpriseCurrency"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RemainingTotalsInEnterpriseCurrency"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OverallTotals"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InvoicedTotals"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RemainingTotals"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="OverallTotalsInEnterpriseCurrency">
        <xsd:complexType>
            <xsd:attribute name="AdditionalLinePriceTotal"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Price for all Non-Informational and Non-Recurring Additional
					Line Prices for the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount in the enterprise's currency of charges applied on the order and lines.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount in the enterprise's currency of discounts applied on the order and lines.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount in the enterprise's currency of taxes applied on the order and lines.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			  The grand total in the enterprise's currency for the order. Includes all line charges and taxes.
			  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount in the enterprise's currency of charges applied directly to the order header.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount in the enterprise's currency of discounts applied directly to the order header.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount in the enterprise's currency of taxes applied directly to the order header.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount in the enterprise's currency of the order excluding line totals.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The line sub total in the enterprise's currency for this order. This is the sum of each line's <code>ExtendedPrice</code>.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RecurringAdditionalLinePriceTotal"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Price for all Non-Informational and Recurring Additional
					Line Prices for the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RemainingTotalsInEnterpriseCurrency">
        <xsd:complexType>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Charges in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Discount in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Tax in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Total in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Charges in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Discount in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Tax in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Total in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Line Sub Total in Enterprise currency</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OverallTotals">
        <xsd:annotation>
            <xsd:documentation>
                <div>
		  Contains information about the price and total amount details for the order line.
		  </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OverallChargeTotals"/>
            </xsd:all>
            <xsd:attribute name="AdditionalLinePriceTotal"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Price for all Non-Informational and Non-Recurring Additional
					Line Prices for the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount of charges applied on the order and lines.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount of discounts applied on the order and lines.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandShippingBaseCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The amount that will be charged for shipping without discounts or charges for the entire order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandShippingCharges"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total of charges associated with shipping for the entire order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandShippingDiscount"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total of discounts associated with shipping for the entire order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandShippingTotal"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total amount for shipping the line including shipping discounts and charges for the entire order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount of taxes applied on the order and lines.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The grand total for the order. Includes all line charges and taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount of charges applied directly to the order header.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount of discounts applied directly to the order header.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrShippingBaseCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The amount that will be charged for shipping without discounts or charges for the order header only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrShippingCharges"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total of charges associated with shipping for the order header only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrShippingDiscount"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total of discounts associated with shipping for the order header only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrShippingTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total amount for shipping the line including shipping discounts and charges for the order header only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount of taxes applied directly to the order header.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total amount of the order excluding line totals.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The line sub total for this order. This is the sum of each line's <code>ExtendedPrice</code>.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManualDiscountPercentage"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The percentage of the total for which manual discounts were applied.
			  <code>Sum of Manual Charges on Order and Lines / (Order Total - Sum of Manual Charges on Order and Lines)</code>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentProfitMargin"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The percentage of the amount being made on the product being sold.<code>
			  	( (Extended Price of all items on the order
			  	+ charges that are considered for profit margin calculation) - (Sum of Item Cost across all lines))/(Extended Price of all items on the order
			  	+ charges that are considered for profit margin calculation)</code>
                            <br/>If <code>ExtendedPrice+Charges</code> is zero, 
			  	<code>PercentProfitMargin</code> is not returned.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RecurringAdditionalLinePriceTotal"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Price for all Non-Informational and Recurring Additional
					Line Prices for the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OverallChargeTotals">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OverallChargeTotal"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OverallChargeTotal">
        <xsd:annotation>
            <xsd:documentation>Represents the total charges and discounts on the order for the
						specified <code>ChargeCategory</code> and <code>ChargeName</code>.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_CHARGE_CATEGORY">
                    <xsd:documentation>The charge category for the <code>OverallChargeTotal</code>.
							</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>The charge name for the <code>OverallChargeTotal</code>.
							</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total charges on the order for the
							<code>ChargeCategory</code> - <code>ChargeName</code> combination.
							</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total discounts on the order for the
							<code>ChargeCategory</code> - <code>ChargeName</code> combination.
							</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsBillable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_BILLABLE" yfc:tableName="YFS_CHARGE_CATEGORY">
                    <xsd:documentation>Indicates if a charge is billable to the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDiscount" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DISCOUNT" yfc:tableName="YFS_CHARGE_CATEGORY">
                    <xsd:documentation>Indicates if a charge category is a discount category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsManual"
                type="yfctype:EnumIsManualCharge" use="optional">
                <xsd:annotation yfc:columnName="IS_MANUAL" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>Determines whether the charge was manually created or created
							automatically through pricing engine.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsRefundable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_REFUNDABLE" yfc:tableName="YFS_CHARGE_CATEGORY">
                    <xsd:documentation>Indicates if a charge is refundable during returns.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShippingCharge" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Determines whether the charge is a shipping charge. This attribute value is system defined and cannot be overridden. The value for this attribute is set as <code>Y</code> only for Charge Name configured as <code>CHARGE_NAME_FOR_SHIPPING</code> in financial rule. For all other Charges this attribute is set to <code>N</code>.
							</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value=""/>
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Reference" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>Reference information about this charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InvoicedTotals">
        <xsd:complexType>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Charges</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Discount</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Tax</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Total</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Charges</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Discount</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Tax</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Total</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Line Sub Total</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RemainingTotals">
        <xsd:annotation>
            <xsd:documentation>
                <div>
		  Contains information about the price and total amount details that are not invoiced for the order.
		  </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Charges</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Discount</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Tax</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Grand Total</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Charges</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Discount</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Tax</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Header Total</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Line Sub Total</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
