Data/xapidocs/api_javadocs/XSD/OMP_getSurroundingNodeListUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getSurroundingNodeListUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getSurroundingNodeListUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_getSurroundingNodeListUE_output.xsd" yfc:rootElement="NodeList">
        <xsd:appinfo source="yfc:structure">
            <NodeList>
                <Node hasAttributes="Y"/>
            </NodeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeList" type="yfc:NodeListXSDType"/>
    <xsd:complexType name="NodeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Node"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Node">
        <xsd:complexType>
            <xsd:attribute name="DistanceFromShipToAddress"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							It is returned in <code>DistanceToConsiderUOM</code> specified in input xml. If <code>DistanceToConsiderUOM</code> is blank then <code>DistanceFromShipToAddress</code> should be in MILE.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
