Data/xapidocs/api_javadocs/XSD/OMP_validatePlannedRefundUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/validatePlannedRefundUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/validatePlannedRefundUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_validatePlannedRefundUE_output.xsd" yfc:rootElement="PaymentMethods">
        <xsd:appinfo source="yfc:structure">
            <PaymentMethods>
                <PaymentMethod hasAttributes="Y"/>
            </PaymentMethods>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentMethods" type="yfc:PaymentMethodsXSDType">
        <xsd:annotation>
            <xsd:documentation>A list of payment methods with invalid <code>PlannedRefundAmount</code> values. If any child elements are passed, an exception will be thrown.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PaymentMethodsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PaymentMethod"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="PaymentMethod">
        <xsd:annotation yfc:tableName="YFS_PAYMENT">
            <xsd:documentation>This table stores details about the customer's payment methods. The key to this table is posted in YFS_CHARGE_TRANSACTION table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PaymentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_KEY" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary key of a <code>PaymentMethod</code> with a <code>PlannedRefundAmount</code> in violation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
