Data/xapidocs/api_javadocs/XSD/OMP_getStopDeliveryRequestList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getStopDeliveryRequestList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getStopDeliveryRequestList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_getStopDeliveryRequestList_input.xsd" yfc:rootElement="StopDeliveryRequest">
        <xsd:appinfo source="yfc:structure">
            <StopDeliveryRequest hasAttributes="Y">
                <StopDeliveryRequestDetails>
                    <StopDeliveryRequestDetail hasAttributes="Y"/>
                </StopDeliveryRequestDetails>
            </StopDeliveryRequest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StopDeliveryRequest" type="yfc:StopDeliveryRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_STOP_DEL_REQ_HDR">
            <xsd:documentation>This table stores information regarding a stop delivery request for an order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StopDeliveryRequestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StopDeliveryRequestDetails"/>
        </xsd:all>
        <xsd:attribute name="Comments" type="yfctype:Comments" use="optional">
            <xsd:annotation yfc:columnName="COMMENTS" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>Comments made in regards to this Stop Delivery Request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The primary key of the order that this stop delivery is for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_DATE" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The date and time the stop request was made.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopDeliveryRequestHeaderKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STOP_DEL_REQ_HDR_KEY" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The primary key for the YFS_STOP_DEL_REQ_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopDeliveryRequestID" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="STOP_DEL_REQ_ID" yfc:tableName="YFS_STOP_DEL_REQ_HDR">
                <xsd:documentation>The ID for this stop delivery request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="StopDeliveryRequestDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:StopDeliveryRequestDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StopDeliveryRequestDetail">
        <xsd:annotation yfc:tableName="YFS_STOP_DEL_REQ_DTL">
            <xsd:documentation>This table stores information regarding a stop delivery request's detail.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Comments" type="yfctype:Comments" use="optional">
                <xsd:annotation yfc:columnName="COMMENTS" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>Comments made in regards to this Stop Delivery Request Detail.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>The primary key of the order line that this stop delivery is for.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_QTY" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>The quantity requested to stop delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StopDeliveryRequestDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="STOP_DEL_REQ_DTL_KEY" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>The primary key for the YFS_STOP_DEL_REQ_DTL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuccessfulQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SUCCESSFUL_QTY" yfc:tableName="YFS_STOP_DEL_REQ_DTL">
                    <xsd:documentation>The quantity that was successfully stopped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
