Data/xapidocs/api_javadocs/XSD/OMP_getInvoiceNoUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getInvoiceNoUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getInvoiceNoUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_getInvoiceNoUE_output.xsd" yfc:rootElement="InvoiceHeader">
        <xsd:appinfo source="yfc:structure">
            <InvoiceHeader hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InvoiceHeader" type="yfc:InvoiceHeaderXSDType"/>
    <xsd:complexType name="InvoiceHeaderXSDType">
        <xsd:attribute name="InvoiceNo" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
