Data/xapidocs/api_javadocs/XSD/OMP_voidChargeTransaction_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/voidChargeTransaction/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/voidChargeTransaction/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_voidChargeTransaction_input.xsd" yfc:rootElement="ChargeTransactionDetails">
        <xsd:appinfo source="yfc:structure">
            <ChargeTransactionDetails>
                <ChargeTransactionDetail hasAttributes="Y"/>
            </ChargeTransactionDetails>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChargeTransactionDetails" type="yfc:ChargeTransactionDetailsXSDType"/>
    <xsd:complexType name="ChargeTransactionDetailsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChargeTransactionDetail"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ChargeTransactionDetail">
        <xsd:annotation yfc:tableName="YFS_CHARGE_TRANSACTION">
            <xsd:documentation>This table stores information about financial transactions associated with order processing. Every action carried out on an order which may have an impact on financial components is logged in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeTransactionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_TRANSACTION_KEY" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The primary key for the YFS_CHARGE_TRANSACTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
