Data/xapidocs/api_javadocs/XSD/OMP_determineBestMultistopTransferUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/determineBestMultistopTransferUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/determineBestMultistopTransferUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_determineBestMultistopTransferUE_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order>
                <Lines>
                    <Line hasAttributes="Y">
                        <MultiStopTransfers>
                            <MultiStopTransfer hasAttributes="Y">
                                <Stops>
                                    <Stop hasAttributes="Y"/>
                                </Stops>
                            </MultiStopTransfer>
                        </MultiStopTransfers>
                    </Line>
                </Lines>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Lines"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Lines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Line"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Line">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MultiStopTransfers"/>
            </xsd:all>
            <xsd:attribute name="LineId" type="yfctype:Text-40" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Unique identifier for the line. It is mandatory to pass this attribute.
	                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MultiStopTransfers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:MultiStopTransfer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MultiStopTransfer">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Stops"/>
            </xsd:all>
            <xsd:attribute name="DestinationNode"
                type="yfctype:ShipNode" use="required">
                <xsd:annotation>
                    <xsd:documentation>The final node where inventory will be arriving.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginNode" type="yfctype:ShipNode" use="required">
                <xsd:annotation>
                    <xsd:documentation>The initial node where inventory is being shipped from.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Stops">
        <xsd:annotation>
            <xsd:documentation>The stops desired to take. The <code>Stop</code>s should be in desired order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Stop"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Stop">
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:ShipNode" use="required">
                <xsd:annotation>
                    <xsd:documentation>The node for which the stop will be made.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
