Data/xapidocs/api_javadocs/XSD/OMP_getItemSubstitutesOverrideUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getItemSubstitutesOverrideUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getItemSubstitutesOverrideUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_getItemSubstitutesOverrideUE_output.xsd" yfc:rootElement="ItemList">
        <xsd:appinfo source="yfc:structure">
            <ItemList hasAttributes="Y">
                <Item hasAttributes="Y">
                    <AssociationList>
                        <Association hasAttributes="Y">
                            <Item hasAttributes="Y"/>
                        </Association>
                    </AssociationList>
                </Item>
            </ItemList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemList" type="yfc:ItemListXSDType"/>
    <xsd:complexType name="ItemListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="Item">
                <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssociationList"/>
                    </xsd:all>
                    <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                        <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                            <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ProductClass"
                        type="yfctype:ProductClass" use="optional">
                        <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                            <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="UnitOfMeasure"
                        type="yfctype:UOM" use="optional">
                        <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                            <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="AssociationList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Association"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Association">
        <xsd:annotation yfc:tableName="YFS_ASSOCIATION">
            <xsd:documentation>This table stores various item associations. Item associations can be cross-sells, up-sells, alternatives, or supersessions for a given item. Items can be associated with queries, categories, or specific items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Item">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                        <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ItemID"
                            type="yfctype:ItemID" use="optional">
                            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrganizationCode"
                            type="yfctype:OrgCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ProductClass"
                            type="yfctype:ProductClass" use="optional">
                            <xsd:annotation
                                yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UnitOfMeasure"
                            type="yfctype:UOM" use="optional">
                            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="AssociationType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ASSOCIATION_TYPE" yfc:tableName="YFS_ASSOCIATION">
                    <xsd:documentation>Type of association maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveFrom" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_FROM" yfc:tableName="YFS_ASSOCIATION">
                    <xsd:documentation>Date from when an association is valid.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveTo" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_TO" yfc:tableName="YFS_ASSOCIATION">
                    <xsd:documentation>Date till when an association is valid.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ASSOCIATION">
                    <xsd:documentation>Priority associated with an Association. The association with highest priority (lowest value) will be considered first in automatic item substitution during scheduling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
