Data/xapidocs/api_javadocs/XSD/OMP_getAvailabilityCache_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getAvailabilityCache/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getAvailabilityCache/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_getAvailabilityCache_output.xsd" yfc:rootElement="Availability">
        <xsd:appinfo source="yfc:structure">
            <Availability hasAttributes="Y">
                <ShipToAddress hasAttributes="Y"/>
                <Lines>
                    <Line hasAttributes="Y">
                        <NetworkAvailabilities>
                            <NetworkAvailability hasAttributes="Y"/>
                        </NetworkAvailabilities>
                        <ShipNodeAvailabilities>
                            <ShipNodeAvailability hasAttributes="Y"/>
                        </ShipNodeAvailabilities>
                    </Line>
                </Lines>
            </Availability>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Availability" type="yfc:AvailabilityXSDType"/>
    <xsd:complexType name="AvailabilityXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipToAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Lines"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The organization for which items and cached availability will be inquired.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistanceToConsider" type="yfctype:Distance" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates radius within which nodes can be considered for cached availbility. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistanceUOMToConsider" type="yfctype:UOM" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates radius unit of measure.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfClosestNodesToConsider"
            type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>If passed, only the closest number of nodes with availability will be returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OnlyConsiderAvailableCache"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines whether all cache (<code>YFS_INVENTORY_ALERTS</code>) data should be considered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipToAddress">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Latitude" use="optional">
                <xsd:annotation yfc:columnName="LATITUDE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The latitude of this location.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:DecimalWithNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Longitude" use="optional">
                <xsd:annotation yfc:columnName="LONGITUDE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The longitude of this location.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:DecimalWithNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
                <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Lines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Line"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Line">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NetworkAvailabilities"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipNodeAvailabilities"/>
            </xsd:all>
            <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Delivery method for alerts.  Only alerts with specified delivery method are returned, SHP is used by default if none are specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineID" type="yfctype:Identifier" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The unique identifier for this line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NetworkAvailabilities">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NetworkAvailability"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NetworkAvailability">
        <xsd:annotation>
            <xsd:documentation>Network level availability information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AlertLevel" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ALERT_LEVEL" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Level of alert raised. 3 for low, 2 for medium, 1 for high, and 0 for thresholds greater.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlertType" type="yfctype:AlertType" use="optional">
                <xsd:annotation yfc:columnName="ALERT_TYPE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Type of alert.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AvailableDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The earliest date when the product is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The quantity available for the product.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>The delivery method used for computing the alert information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributionRuleId"
                type="yfctype:DistributionRuleId" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_DISTRIBUTION_RULE">
                    <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstFutureAvailableDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation
                    yfc:columnName="FIRST_FUTURE_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Earliest date when any future inventory will be available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureAvailableDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="FUTURE_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Date when the maximum future inventory will be available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureAvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="FUTURE_AVAILABLE_QUANTITY" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Maximum future inventory available quantity within the monitoring period.  The end of the monitoring period is determined by the lead time override (if specifies) in the monitor rule or the lead time of the monitoring item. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OnhandAvailableDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="ONHAND_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Date when on-hand inventory quantity is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OnhandAvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_AVAILABLE_QUANTITY" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Total on-hand inventory available quantity. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_DISTRIBUTION_RULE">
                    <xsd:documentation>The owner organization that is associated with this distribution rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNodeAvailabilities">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipNodeAvailability"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNodeAvailability">
        <xsd:annotation>
            <xsd:documentation>Ship node level availability information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AlertLevel" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ALERT_LEVEL" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Level of alert raised. 3 for low, 2 for medium, 1 for high, and 0 for thresholds greater.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlertType" type="yfctype:AlertType" use="optional">
                <xsd:annotation yfc:columnName="ALERT_TYPE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Type of alert.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AvailableDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The earliest date when the product is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The quantity available for the product.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>The delivery method used for computing the alert information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Distance" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Distance between the ship to address and node's address measured in 
								<code>MILES</code>.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstFutureAvailableDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation
                    yfc:columnName="FIRST_FUTURE_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Earliest date when any future inventory will be available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureAvailableDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="FUTURE_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Date when the maximum future inventory will be available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureAvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="FUTURE_AVAILABLE_QUANTITY" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Maximum future inventory available quantity within the monitoring period.  The end of the monitoring period is determined by the lead time override (if specifies) in the monitor rule or the lead time of the monitoring item. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OnhandAvailableDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="ONHAND_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Date when on-hand inventory quantity is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OnhandAvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_AVAILABLE_QUANTITY" yfc:tableName="YFS_INVENTORY_ALERTS">
                    <xsd:documentation>Total on-hand inventory available quantity. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
