Data/xapidocs/api_javadocs/XSD/OMP_getPurgedDataCountUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getPurgedDataCountUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getPurgedDataCountUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_getPurgedDataCountUE_input.xsd" yfc:rootElement="GDPRData">
        <xsd:appinfo source="yfc:structure">
            <GDPRData hasAttributes="Y">
                <PersonInfoList>
                    <PersonInfo hasAttributes="Y"/>
                </PersonInfoList>
            </GDPRData>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GDPRData" type="yfc:GDPRDataXSDType"/>
    <xsd:complexType name="GDPRDataXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PersonInfoList"/>
        </xsd:all>
        <xsd:attribute name="CustomerID" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The identifier for the customer. If this attribute is passed, OrganizationCode is required to be passed too.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerKey" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The primary key for the YFS_CUSTOMER table.
					This attribute corresponds to the PrimaryKey Fact</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The organization code of organization that defines this customer.
					This attribute corresponds to the OrganizationCode Fact.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PersonInfoKey" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Primary key attribute of YFS_PERSON_INFO that stores contact information
					of a person or a business. 
					This attribute corresponds to the PrimaryKey Fact.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PersonInfoList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:PersonInfo"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PersonInfo">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PersonInfoKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PERSON_INFO_KEY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Primary key attribute of YFS_PERSON_INFO that stores contact information
							of a person or a business.
							This attribute corresponds to the PrimaryKey Fact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
