Data/xapidocs/api_javadocs/XSD/OMP_getExternalCostForOptions_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getExternalCostForOptions/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getExternalCostForOptions/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_getExternalCostForOptions_output.xsd" yfc:rootElement="Promise">
        <xsd:appinfo source="yfc:structure">
            <Promise hasAttributes="Y">
                <PromiseLines>
                    <PromiseLine hasAttributes="Y">
                        <PossibleAssignments>
                            <Assignment hasAttributes="Y">
                                <PossibleCarriers>
                                    <Carrier hasAttributes="Y"/>
                                </PossibleCarriers>
                                <Costs hasAttributes="Y"/>
                                <SubstituteItems>
                                    <SubstituteItem hasAttributes="Y">
                                    <Costs hasAttributes="Y"/>
                                    <Procurements>
                                    <Procurement hasAttributes="Y">
                                    <Costs hasAttributes="Y"/>
                                    </Procurement>
                                    </Procurements>
                                    </SubstituteItem>
                                </SubstituteItems>
                                <Procurements>
                                    <Procurement hasAttributes="Y">
                                    <Costs hasAttributes="Y"/>
                                    </Procurement>
                                </Procurements>
                            </Assignment>
                        </PossibleAssignments>
                    </PromiseLine>
                </PromiseLines>
            </Promise>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Promise" type="yfc:PromiseXSDType"/>
    <xsd:complexType name="PromiseXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PromiseLines"/>
        </xsd:all>
        <xsd:attribute name="Overridden" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The <code>Overridden</code> flag is considered when the rule <code> ENABLE_SHADOW_SOLVER</code> is enabled for the enterprise. The flag should be set to Y if any of the possible assignments from the UE is modified.				
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PromiseLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PromiseLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PromiseLine">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PossibleAssignments"/>
            </xsd:all>
            <xsd:attribute name="LineId" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Unique identifier for the line. 
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PossibleAssignments">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Assignment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Assignment">
        <xsd:annotation>
            <xsd:documentation>
                <div>Assignment node.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PossibleCarriers"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Costs">
                    <xsd:complexType>
                        <xsd:attribute name="Currency"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Currency in which cost is maintained. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="HoursOfSupplyCostPerUnit"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Hours of Supply cost per unit of the item. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ItemInventoryCostPerUnit"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Per unit inventory cost of the item at the node. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="NodePriorityCostPerUnit"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Per unit priority cost of the item at the node. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute
                            name="NodeShippingCapacityCostPerUnit"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Per unit shipping capacity cost of the item at the node. This value will be used as is and NodeShippingCapacityCost won't be recalculated while determining solutions.</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute
                            name="OutboundShipmentHandlingCostPerUnit"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Outbound shipment handling cost per unit of the item. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentDelayCostPerUnit"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Shipment Delay cost per unit of the item. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubstituteItems"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Procurements">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Procurement">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="Costs">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Currency"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Currency in which cost is maintained. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ItemInventoryCostPerUnit"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Per unit inventory cost of the item at the node. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="NodePriorityCostPerUnit"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Per unit priority cost of the item at the node. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="NodeShippingCapacityCostPerUnit"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Per unit shipping capacity cost of the item at the node. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OutboundShipmentHandlingCostPerUnit"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Outbound shipment handling cost per unit of the item. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="AssignmentKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Assignment key of the supporting choice.</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="AssignmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Assignment key of the choice.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Quantity that can be obtained for this assignemnt.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RejectChoice" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if the assignment is to be rejected.<div>
                            <br/>Default: <b>
                                <code>N</code>
                            </b>
                            <br/>Valid Values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RejectionReason" type="yfctype:Text-24" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Reason for the assignment rejection</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PossibleCarriers">
        <xsd:annotation>
            <xsd:documentation>
                <div>
										Carrier services to be considered for this assignment.
									</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Carrier"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Carrier">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE">
            <xsd:documentation>Services provided by a carrier.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>A code that identifies a service provided by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubstituteItems">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubstituteItem"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubstituteItem">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Costs">
                    <xsd:complexType>
                        <xsd:attribute name="Currency"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Currency in which cost is maintained. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ItemInventoryCostPerUnit"
                            type="yfctype:Text-24" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Per unit inventory cost of the item at the node. </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Procurements">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Procurement">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="Costs">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Currency"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Currency in which cost is maintained. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ItemInventoryCostPerUnit"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Per unit inventory cost of the item at the node. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="NodePriorityCostPerUnit"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Per unit priority cost of the item at the node. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="NodeShippingCapacityCostPerUnit"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Per unit shipping capacity cost of the item at the node. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OutboundShipmentHandlingCostPerUnit"
                                    type="yfctype:Text-24" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Outbound shipment handling cost per unit of the item. </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="AssignmentKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>Assignment key of the supporting choice.</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="AssignmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Assignment key of the supporting choice.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
