Data/xapidocs/api_javadocs/XSD/OMP_getOpportunityDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getOpportunityDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getOpportunityDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_getOpportunityDetails_input.xsd" yfc:rootElement="Opportunity">
        <xsd:appinfo source="yfc:structure">
            <Opportunity hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Opportunity" type="yfc:OpportunityXSDType">
        <xsd:annotation yfc:tableName="YFS_OPPORTUNITY">
            <xsd:documentation>This tables stores an opportunity. An opportunity is a sales opportunity that a sales representative foresees and is used to keep track of multiple quotes that will be presented to a specific buyer. Any of these quotes can be negotiated upon but only one of these quotes can be accepted by the buyer, thereby permanently rejecting all other quotes. The opportunity will be closed once an order is created from the buyer selected quote.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OpportunityXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The document type that is associated with this opportunity. For example, Opportunity document (0020). OpportunityID, DocumentType, EnterpriseCode are required attributes to uniquely identify an opportunity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The enterprise code. This field is a part of an opportunity's unique key. The EnterpriseCode, DocumentType and OpportunityID together uniquely identify an opportunity. Default value: DEFAULT</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpportunityID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="OPPORTUNITY_ID" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The identification number of the opportunity, which can be passed during opportunity creation or generated based on a system rule setting or obtained directly from the user exit implementation. OpportunityID, DocumentType, EnterpriseCode are required attributes to uniquely identify an opportunity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpportunityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OPPORTUNITY_KEY" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The primary key of the YFS_OPPORTUNITY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
