Data/xapidocs/api_javadocs/XSD/OMP_changeOpportunityStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/changeOpportunityStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/changeOpportunityStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="OMP_changeOpportunityStatus_input.xsd" yfc:rootElement="Opportunity">
        <xsd:appinfo source="yfc:structure">
            <Opportunity hasAttributes="Y">
                <Notes>
                    <Note hasAttributes="Y"/>
                </Notes>
            </Opportunity>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Opportunity" type="yfc:OpportunityXSDType">
        <xsd:annotation yfc:tableName="YFS_OPPORTUNITY">
            <xsd:documentation>This tables stores an opportunity. An opportunity is a sales opportunity that a sales representative foresees and is used to keep track of multiple quotes that will be presented to a specific buyer. Any of these quotes can be negotiated upon but only one of these quotes can be accepted by the buyer, thereby permanently rejecting all other quotes. The opportunity will be closed once an order is created from the buyer selected quote.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OpportunityXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Notes"/>
        </xsd:all>
        <xsd:attribute name="BaseDropStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The base drop status for the specified transaction ID, or the status to use if there is no <code>TransactionId</code> passed.
				This value is required if <code>ChangeForAllAvailableQty</code> is passed as <b>
                            <code>Y</code>
                        </b>. If no status is configured for the transaction and the <code>BaseDropStatus</code> is passed, the status is changed to the value of the <code>BaseDropStatus</code> passed. 
				<br/> The <code>BaseDropStatus</code> can be passed at either the <code>OrderLine</code> or at the <code>OrderStatusChange</code>. If a value is passed for both, the value at the <code>OrderLine</code> is used. The <code>BaseDropStatus</code> must be passed at either the <code>OrderStatusChange</code> level or the <code>OrderLine</code> level if it is needed.  If the specified <code>TransactionID</code> has multiple drop statuses, <code>BaseDropStatus</code> must be passed.
				<br/>
                        <code>BaseDropStatus</code> does not get validated against status modification type.
				 <Validation>
                            <Condition>The <code>BaseDropStatus</code> is not a valid status for the base status of the transaction identified by the <code>TransactionID</code>.
					 </Condition>
                            <Error Description="YFS:Invalid Status" ErrorCode="YFS10235"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The document type that is associated with this opportunity. For example, Opportunity document (0020). OpportunityID, DocumentType, EnterpriseCode are required attributes to uniquely identify an opportunity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The enterprise code. This field is a part of an opportunity's unique key. The EnterpriseCode, DocumentType and OpportunityID together uniquely identify an opportunity. Default value: DEFAULT</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpportunityID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="OPPORTUNITY_ID" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The identification number of the opportunity, which can be passed during opportunity creation or generated based on a system rule setting or obtained directly from the user exit implementation. OpportunityID, DocumentType, EnterpriseCode are required attributes to uniquely identify an opportunity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpportunityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OPPORTUNITY_KEY" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The primary key of the YFS_OPPORTUNITY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TransactionID" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Identifies a transaction that changes the status of the order.
						<Validation>
                            <Condition>
                                <code>TransactionID</code> not passed.</Condition>
                            <Error
                                Description="Invalid input to change status" ErrorCode="YFS10428"/>
                        </Validation>
                        <Validation>
                            <Condition>Invalid<code>TransactionID</code> passed.
						</Condition>
                            <Error Description="Invalid Transaction." ErrorCode="YCP0063"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>TransactionID</code> of a system transaction passed.
						</Condition>
                            <Error
                                Description="Invalid Transaction Type." ErrorCode="YFS10156"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Notes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Note"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Note">
        <xsd:annotation yfc:tableName="YFS_NOTES">
            <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuditTransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactReference"
                type="yfctype:NotesContactReference" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone no can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactTime" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_USER" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The user who made the contact. The default value will the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="required">
                <xsd:annotation yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VisibleToAll" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
