Data/xapidocs/api_javadocs/XSD/OMP_executePaymentTransactions_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/executePaymentTransactions/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/executePaymentTransactions/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_executePaymentTransactions_output.xsd" yfc:rootElement="PaymentMethods">
        <xsd:appinfo source="yfc:structure">
            <PaymentMethods hasAttributes="Y">
                <PaymentMethod hasAttributes="Y">
                    <PaymentDetails hasAttributes="Y"/>
                    <TransactionError hasAttributes="Y"/>
                </PaymentMethod>
            </PaymentMethods>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentMethods" type="yfc:PaymentMethodsXSDType"/>
    <xsd:complexType name="PaymentMethodsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:PaymentMethod"/>
        </xsd:sequence>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div> The unique identifier for the Document Type that all payment methods associates to. 
			<Validation>
                            <Condition> Invalid value passed.</Condition>
                            <Error
                                Description="YFS:Missing Mandatory Parameters." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Identifies the Enterprise governing this batch of payment transactions. 
			<Validation>
                            <Condition> Invalid value passed.</Condition>
                            <Error
                                Description="YFS:Missing Mandatory Parameters." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntryType" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The entry type used for payment.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div> Identifies the seller organization governing this batch of payment transactions. <br/>If the <code>USE_ENTERPRISE_CODE_FOR_PAYMENT</code> flag is set to <code>N</code> in the configurator and the <code>SellerOrganizationCode</code> is passed then it will be used to determine the payment group. If not passed it is defaulted to the <code>EnterpriseCode</code>.
		  </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PaymentMethod">
        <xsd:annotation yfc:tableName="YFS_PAYMENT">
            <xsd:documentation>This table stores details about the customer's payment methods. The key to this table is posted in YFS_CHARGE_TRANSACTION table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PaymentDetails"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionError"/>
            </xsd:all>
            <xsd:attribute name="AuthorizationId"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="AUTHORIZATION_ID" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>For authorization requests, this field holds the identifier of the authorization that was made. For charge requests, this field holds the authroization ID to be used for charging the amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_KEY" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>
                        <div>
								The unique identifier for bill to address information on the
								payment. If
								<code>BillToKey</code>
								is passed, then
								<code>PersonInfoBillTo</code>
								element is ignored
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeType"
                type="yfctype:ChargeCategory" use="required">
                <xsd:annotation yfc:columnName="CHARGE_TYPE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>
                        <div>
								Mandatory. The type of charge that is being applied to the
								payment method.
								<br/>
								Valid Values:
								<b>
                                <code>AUTHORIZATION</code>
                            </b>
								or
								<b>
                                <code>CHARGE</code>
                            </b>
                            <Validation>
                                <Condition> Default error code when user exit error code not
										defined. 
							</Condition>
                                <Error Description="Invalid Data." ErrorCode="YFS10190"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CheckNo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CHEQUE_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The cheque number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CheckReference" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CHEQUE_REFERENCE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The cheque reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardExpDate"
                type="yfctype:CreditCardExpDate" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_EXP_DATE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The expiration date for the credit card.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The credit card name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>
                        <div>
								Credit card number. Required if
								<code>PaymentType</code>
								is CREDIT_CARD
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardType" type="yfctype:Text-32" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_TYPE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The credit card type group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>
                        <div> The currency of the requested amount.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ACCOUNT_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup CUSTOMER_ACCOUNT; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPONo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The PO number of the customer. For purchase orders, this can be used for storing the purchase order number of the purchasing system if that number is not already stored as part of the order number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DebitCardNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="DEBIT_CARD_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup DEBIT_CARD; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The first name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The last name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MerchantId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MERCHANT_ID" yfc:tableName="YFS_PAYMENT_RULE">
                    <xsd:documentation>The merchant identifier used for the collection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The middle name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference1"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE1" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 1. Additionally, this is the primary account number for payment methods that are defined under the PaymentTypeGroup OTHER; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference2"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE2" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 2.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference3"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE3" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 3.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference4"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE4" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 4. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference5"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE5" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 5. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference6"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE6" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 6. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference7"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE7" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 7. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference8"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE8" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 8. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentReference9"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_REFERENCE9" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The payment reference 9. This does not identify the payment method uniquely.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTransactionFailed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
            Indicates if this payment transaction has failed. <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="required">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>
                        <div>
								Mandatory. Defines the type of payment for this transaction.
								<br/>
								The
								<code>PaymentType</code>
								must be a value that is already configured for the Seller
								Organization.
								<br/>
								Valid Values:
								<code>CREDIT_CARD</code>
								,
								<code>CUSTOMER_ACCOUNT</code>
								,
								<code>STORED_VALUE_CARD</code>
								, or
								<code>OTHER</code>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>Reason code for last update.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestAmount"
                type="yfctype:PlusMinusMoney" use="required">
                <xsd:annotation yfc:columnName="REQUEST_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>
                        <div>
								Mandatory. The amount request being requested for authorization
								or charging. If
								<code>RequestAmount</code>
								is negative and is in
								<code>CHARGE</code>
								mode, the payment type will be check if it is valid for return.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>
                        <div>
								The ShipTo unique identifier for this payment method. If
								<code>ShipToKey</code>
								is passed, then
								<code>PersonInfoShipTo</code>
								element is ignored
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SvcNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="SVC_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>The primary account number for payment methods that are defined under the PaymentTypeGroup STORED_VALUE_CARD; payment methods of this group will be considered incomplete if this is not passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PaymentDetails">
        <xsd:annotation yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
            <xsd:documentation>This table stores detailed information about authorizations and charges made against all supported payment types. Typically, this information would be returned by credit card interface programs such as CyberSource or PaymentTek.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuthAvs" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="AUTH_AVS" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The AVS authorization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="AUTH_CODE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The authorization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthReturnCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="AUTH_RETURN_CODE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The authorization return code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthReturnFlag" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="AUTH_RETURN_FLAG" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The authorization return flag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthReturnMessage"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="AUTH_RETURN_MESSAGE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The authorization return message.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthTime" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="AUTH_TIME" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The authorization time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorizationExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="AUTHORIZATION_EXPIRATION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The date and time until which the authorization specified by the authorization ID is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorizationID"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="AUTHORIZATION_ID" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>For authorization requests, this field holds the identifier of the authorization that was made. For charge requests, this field holds the authroization ID to be used for charging the amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CVVAuthCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="CVV_AUTH_CODE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The CVV authorization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeType"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_TYPE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>
                        <div> The type of charge that is being applied to the payment method. <br/>Valid Values: <b>
                                <code>AUTHORIZATION</code>
                            </b> or <b>
                                <code>CHARGE</code>
                            </b>
                            <Validation>
                                <Condition> Invalid value passed. </Condition>
                                <Error
                                    Description="YFS:Invalid Transaction Type." ErrorCode="YFS10156"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CollectionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="COLLECTION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The date and time when the charge was realized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayPaymentReference1"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_PAYMENT_REF1" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>
                        <div> The four digit of the payment refrence 1 for displaying. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplaySvcNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_SVC_NO" yfc:tableName="YFS_PAYMENT">
                    <xsd:documentation>
                        <div> The four digit of the store value card number for displaying. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExecutionDate" use="optional">
                <xsd:annotation yfc:columnName="EXECUTION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>The date and time when the charge request was processed.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="HoldOrderAndRaiseEvent"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates if this transaction has failed. <br/>Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldReason" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Specifies the problem occured in this transaction when <code>HoldOrderAndRaiseEvent</code> is set to <b>
                                <code>Y</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InternalReturnCode"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="INTERNAL_RETURN_CODE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The internal return code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InternalReturnFlag"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="INTERNAL_RETURN_FLAG" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The internal return flag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InternalReturnMessage"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="INTERNAL_RETURN_MESSAGE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The internal return message.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessedAmount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> The amount that has been authorized or charged. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE1" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The reference 1.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE2" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The reference 2.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> The Reference 3. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="REQUEST_AMOUNT" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>
                        <div> The amount request being requested for authorization or charging. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestId" type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="REQUEST_ID" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The request identifier returned by the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RetryFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Flag indicating if retry is required for payment processing by the user exit. <br/>Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RetryVoidAsRefund" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Identifies that void request should be retried as a refund request when recreated.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SuspendPayment" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Flag indicating if the <code>PaymentMethod</code> should be suspended. <br/>Valid values: <b>
                                <code>Y</code>
                            </b>,<b>
                                <code>B</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TRAN_AMOUNT" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>
                        <div> The transaction amount. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranRequestTime"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="TRAN_REQUEST_TIME" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The time at which the transaction request was made.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranReturnCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="TRAN_RETURN_CODE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The return code for the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranReturnFlag" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="TRAN_RETURN_FLAG" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The flag returned by the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranReturnMessage"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="TRAN_RETURN_MESSAGE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The message returned by the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TRAN_TYPE" yfc:tableName="YFS_CREDIT_CARD_TRANSACTION">
                    <xsd:documentation>The transaction type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VoidTransaction" use="optional">
                <xsd:annotation yfc:columnName="VOID_TRANSACTION" yfc:tableName="YFS_CHARGE_TRANSACTION">
                    <xsd:documentation>
                        <div> Identifies the request is a tender void, if <code>Y</code>.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="V"/>
                        <xsd:enumeration value="R"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionError">
        <xsd:complexType>
            <xsd:attribute name="ErrorCode" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Describes the error code caused by the transaction failure in the user exit. 
              <br>If error code is not available, the default error code is provided.</br>
              The error code should be set by creating a <code>YFSUserExitException</code> then use 
              setErrorCode and setErrorDescription to define the custom error code.
              <Validation>
                                <Condition> Default error code if the user exit exception does not already have one.
							</Condition>
                                <Error
                                    Description="Payment system failed to process payment due to internal error." ErrorCode="OMP80_0052"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorMessage" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Description of the error returned from the user exit. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
