Data/xapidocs/api_javadocs/XSD/OMP_getPromotionsForOrdering_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/OMP/getPromotionsForOrdering/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/OMP/getPromotionsForOrdering/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OMP_getPromotionsForOrdering_output.xsd" yfc:rootElement="PricingRuleList">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleList hasAttributes="Y">
                <PricingRule hasAttributes="Y">
                    <PricingRuleItemList>
                        <PricingRuleItem hasAttributes="Y"/>
                    </PricingRuleItemList>
                    <PricingRuleTargetItemList>
                        <PricingRuleTargetItem hasAttributes="Y"/>
                    </PricingRuleTargetItemList>
                    <PricingRuleTargetAttributeValueList>
                        <PricingRuleTargetAttributeValue hasAttributes="Y"/>
                    </PricingRuleTargetAttributeValueList>
                    <PricingRuleAttributeValueList>
                        <PricingRuleAttributeValue hasAttributes="Y"/>
                    </PricingRuleAttributeValueList>
                    <PricingRuleCategoryList>
                        <PricingRuleCategory hasAttributes="Y"/>
                    </PricingRuleCategoryList>
                    <PricingRuleTargetCategoryList>
                        <PricingRuleTargetCategory hasAttributes="Y"/>
                    </PricingRuleTargetCategoryList>
                    <PricingRuleActionList>
                        <PricingRuleAction hasAttributes="Y"/>
                    </PricingRuleActionList>
                    <PricingRuleLocaleList>
                        <PricingRuleLocale hasAttributes="Y"/>
                    </PricingRuleLocaleList>
                    <PricingRulePricelistExclusionList>
                        <PricingRulePricelistExclusion hasAttributes="Y"/>
                    </PricingRulePricelistExclusionList>
                </PricingRule>
            </PricingRuleList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleList" type="yfc:PricingRuleListXSDType"/>
    <xsd:complexType name="PricingRuleListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRule"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PricingRule">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE">
            <xsd:documentation>This table provides the information for each pricing rule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRuleItemList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRuleTargetItemList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRuleTargetAttributeValueList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRuleAttributeValueList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRuleCategoryList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRuleTargetCategoryList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRuleActionList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRuleLocaleList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRulePricelistExclusionList"/>
            </xsd:all>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Currency in which this rule is applicable.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:PricingRuleDescription" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Description of the rule.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnableMixNMatchItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ENABLE_MIX_N_MATCH_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>
                            <p>Indicates that discount can be applied in the scenario where the combinations can not satisfied by single item, but can be satisfied by including Items which belongs to same category or having same attribute values defined in the rule. Default value is null.<br/>
							When this flag is enabled for Quantity rules and <code>WHEN_TO_APPLY=SINGLE_ITEM</code>, then field <code>TargetItemDeterminationRule</code> value is used for selecting to which item adjustment should be applied. If the <code>TargetItemDeterminationRule</code> value is null, this value will be defaulted to <code>HIGH_PRICED_ITEM</code>. 
							This flag is not applicable for getItemPrice API.
							Note: Item aggregated quantity will not be distributed among the rule's criteria to satisfy the criteria condition.
						 </p>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>After this date the rule is not active.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndTime" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If not void indicates that the rule is applicable till this time.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ExclusivityId" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="EXCLUSIVITY_ID" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>ExclusivityID is used to group set of Pricing Rules for mutual exclusivity. Exclusivity Type settings are applicable among Pricing Rules having same ExclusvityID</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExclusivityType"
                type="yfctype:EnumPricingExclusivityType" use="optional">
                <xsd:annotation yfc:columnName="EXCLUSIVITY_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Exclusivity Type of the Pricing Rule</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnFriday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_FRIDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If set indicates that the rule is applicable on Friday.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnMonday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_MONDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If set indicates that the rule is applicable on Monday.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnSaturday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SATURDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If set indicates that the rule is applicable on Saturday.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnSunday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SUNDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If set indicates that the rule is applicable on Sunday.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnThursday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_THURSDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If set indicates that the rule is applicable on Thursday.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnTuesday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_TUESDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If set indicates that the rule is applicable on Tuesday.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnWednesday"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_WEDNESDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If set indicates that the rule is applicable on Wednesday.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ITEM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Indicates whether the rule is targeted on items or not.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Pricing organization to which the configuration belongs.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>The rule is applicable for this Payment Type.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Primary key attribute of YPM_PRICING_RULE table.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleName"
                type="yfctype:PricingRuleName" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_NAME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Name of the pricing rule.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Indicates the status of the pricing rule ACTIVE or INACTIVE.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This attribute is used to prioritize Pricing Rule among a list of applicable pricing rules with same Exclusivity settings. Higher the value of this attribute, higher the priority of Pricing Rule, to be applied to an order/item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleCategory"
                type="yfctype:EnumRuleCategory" use="optional">
                <xsd:annotation yfc:columnName="RULE_CATEGORY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Indicates the category to which the rule belongs PRICING or SHIPPING.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleType" type="yfctype:EnumRuleType" use="optional">
                <xsd:annotation yfc:columnName="RULE_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Indicates the type of the rule COMBINATION ORDER_TOTAL ITEM_QUANTITY or SURCHARGE</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>Date from which the rule is active.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="StartTime" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>
                        <div>If not void indicates that the rule is applicable from this time.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleItemList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRuleItem"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleItem">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ITEM">
            <xsd:documentation>This table maintains the information of combinations of item and quantity conditions that trigger the pricing rule. The data in this table is populated only for combination rule type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_ITEM">
                    <xsd:documentation>The attribute indicates whether the Item and Quantity combination is used to trigger or to filter out the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICING_RULE_ITEM">
                    <xsd:documentation>The unique identifier of the target item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_ITEM_KEY" yfc:tableName="YPM_PRICING_RULE_ITEM">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ITEM">
                    <xsd:documentation>The rule this item quantity condition is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_ITEM">
                    <xsd:documentation>Quantity of the item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICING_RULE_ITEM">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleTargetItemList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRuleTargetItem"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleTargetItem">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
            <xsd:documentation>This table maintains information about the items on which the pricing rule adjustments are targeted.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                    <xsd:documentation>Indicates whether certain items should be included or excluded from adjustments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                    <xsd:documentation>The rule this target item is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleTargetItemKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_RULE_TARGET_ITEM_KEY" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_TARGET_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                    <xsd:documentation>Quantity of the item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TargetItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="TARGET_ITEM_ID" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                    <xsd:documentation>The unique identifier of the target item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetUnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TARGET_UOM" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                    <xsd:documentation>The unit of measure of the target item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleTargetAttributeValueList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRuleTargetAttributeValue"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleTargetAttributeValue">
        <xsd:annotation yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
            <xsd:documentation>This table maintains information about the item attribute values of the items on which the pricing rule adjustments are targeted. Targeting by item attribute is allowed only for item quantity and surcharge rule types of pricing category only.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="GroupId" use="optional">
                <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The group id of the attribute value. All attributes with same group id are evaluated together.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>Indicates whether certain items should be included or excluded from adjustments depending on item's attribute values.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The rule this target item attribute value is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleTargetAttributeValueKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRCNG_RULE_TARG_ATTR_VALUE_KEY" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>Primary key attribute of YPM_PRCNG_RULE_TARG_ATTR_VALUE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>Quantity of the item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TargetAttributeDomainID"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetAttributeDoubleValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOUBLE_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The double value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TargetAttributeGroupID"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetAttributeID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>Unique identifier of the item attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetAttributeIntegerValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_INTEGER_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The integer value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TargetAttributeMaxValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_MAX_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The Max value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TargetAttributeMinValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_MIN_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The Min value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TargetAttributeValue"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                    <xsd:documentation>The TEXT value of the item attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleAttributeValueList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRuleAttributeValue"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleAttributeValue">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
            <xsd:documentation>This table maintains information about the item attributes of the products on which pricing rule is triggered.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="GroupId" use="optional">
                <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>Logical group id for the attribute values. All attributes with same group id are evaluated together.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>Indicates whether the item's attribute value and Quantity combination is used to trigger or to filter out the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleAttributeValueKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_RULE_ATTR_VALUE_KEY" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>Primary key attribute of YPM_PRCNG_RULE_ATTR_VALUE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>The rule this trigger item attribute value is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>Quantity of the item which has the attribute being configured.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TriggerAttributeDomainID"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TriggerAttributeDoubleValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOUBLE_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>The double value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TriggerAttributeGroupID"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TriggerAttributeID"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>Unique identifier of the item attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TriggerAttributeIntegerValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_INTEGER_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>The integer value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TriggerAttributeMaxValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_MAX_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>The Max value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TriggerAttributeMinValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_MIN_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>The Min value of the item attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TriggerAttributeValue"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                    <xsd:documentation>The TEXT value of the item attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleCategoryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRuleCategory"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleCategory">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_CATEGORY">
            <xsd:documentation>This table maintains information about the category of the products on which pricing rule is triggered.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                    <xsd:documentation>Indicates whether the item's category and Quantity combination is used to trigger or to filter out the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleCategoryKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_RULE_CATEGORY_KEY" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_CATEGORY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                    <xsd:documentation>Quantity of the item associated with the category being configured.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TriggerCategoryID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                    <xsd:documentation>Unique identifier for this category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TriggerCategoryPath"
                type="yfctype:VARCHAR2-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YPM_PRICING_RULE_CATEGORY">
                    <xsd:documentation>The path for the category of the product on which pricing rule is triggered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleTargetCategoryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRuleTargetCategory"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleTargetCategory">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_TARG_CATEGORY">
            <xsd:documentation>This table maintains information about the category of the products on which pricing rule is targeted.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:EnumIncludeOrExclude" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_TARG_CATEGORY">
                    <xsd:documentation>Indicates whether the item's category is used to trigger or to filter out the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleTargetCategoryKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_RULE_TARG_CATEGORY_KEY" yfc:tableName="YPM_PRICING_RULE_TARG_CATEGORY">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_TARG_CATEGORY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_TARG_CATEGORY">
                    <xsd:documentation>Quantity of the item associated with the category being configured.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TargetCategoryID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YPM_PRICING_RULE_TARG_CATEGORY">
                    <xsd:documentation>Unique identifier for this category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetCategoryPath"
                type="yfctype:VARCHAR2-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YPM_PRICING_RULE_TARG_CATEGORY">
                    <xsd:documentation>The path for the category of the product on which pricing rule is triggered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleActionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricingRuleAction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleAction">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ACTION">
            <xsd:documentation>This table maintains the information about the actions of a pricing rule. One of the actions is fired depending on the condition satisfied. This table also maintains the tiered conditions of order total and item quantity rule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Adjustment" use="optional">
                <xsd:annotation yfc:columnName="ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Adjustment to be applied as part of this action.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentType"
                type="yfctype:EnumPricingAdjustmentType" use="optional">
                <xsd:annotation yfc:columnName="ADJUSTMENT_TYPE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Type of adjustment. FLAT_FEE, PERCENT or ABSOLUTE.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplyAdjustmentToRemainder"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="APPLY_ADJ_TO_REMAINDER" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Indicates that adjustments should be applied only to the remainder of the transaction.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Unique identifier of the Charge Name. Category to which the charge name belongs to.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxAbsoluteAdjustment" use="optional">
                <xsd:annotation yfc:columnName="MAX_ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Maximum absolute adjustment that can be provided for this pricing rule action within a transaction.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleActionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_ACTION_KEY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Primary key attribute of YPM_PRICING_RULE_ACTION table.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>The rule this action is associated.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QualifierAmount" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIER_AMOUNT" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>A number that needs to be satisfied in conjunction with the QUALIFIER_AMOUNT_TYPE for the rule condition to satisfy.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="QualifierAmountType"
                type="yfctype:EnumQualifierAmountType" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIER_AMOUNT_TYPE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Specifies qualifier amount type of the action. Qualifier amount type can be based on minimum unit price or minimum total extended price.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Quantity of triggering item for tiered actions. Applicable only for rule type item quantity.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TargetItemDeterminationRule"
                type="yfctype:EnumTargetItemDeterminationRule" use="optional">
                <xsd:annotation yfc:columnName="TARGET_ITEM_DETER_RULE" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>Specifies on which target item the action should be applied. This is required while specifying apply on: 'one quantity of target item' or 'every combination'</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetOccurrenceLimit"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Maximum Number of occurrences of adjustment because of this rule in an order.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WhenToApply"
                type="yfctype:EnumRuleApplicationType" use="optional">
                <xsd:annotation yfc:columnName="WHEN_TO_APPLY" yfc:tableName="YPM_PRICING_RULE_ACTION">
                    <xsd:documentation>
                        <div>Indicates how to apply the action. As SINGLE_ITEM, ALL or EACH_COMBINATION.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleLocaleList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:PricingRuleLocale"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRuleLocale">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_LOCALE">
            <xsd:documentation>The table is used to store localized information for the related pricing rule in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:PricingRuleDescription" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                    <xsd:documentation>Description of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                    <xsd:documentation>The reference key to the YPM_PRICING_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_LOCALE_KEY" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                    <xsd:documentation>The primary key of the YPM_PRICING_RULE_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YPM_PRICING_RULE_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRulePricelistExclusionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:PricingRulePricelistExclusion"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRulePricelistExclusion">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_PRCLST_EXCL">
            <xsd:documentation>Maintains a list of price lists the pricing rule should exclude</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICING_RULE_PRCLST_EXCL">
                    <xsd:documentation>Price list to be excluded</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_PRCLST_EXCL">
                    <xsd:documentation>The Pricing rule the exclusion is for</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRulePricelistExclusionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_RULE_PRCLST_EXCL_KEY" yfc:tableName="YPM_PRICING_RULE_PRCLST_EXCL">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_PRCLST_EXCL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
