Data/xapidocs/api_javadocs/XSD/ORDER_MONITOR_EX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/ORDER/MONITOR_EX"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/ORDER/MONITOR_EX" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="ORDER_MONITOR_EX.xsd" yfc:rootElement="MonitorConsolidation">
        <xsd:appinfo source="yfc:structure">
            <MonitorConsolidation hasAttributes="Y">
                <Order hasAttributes="Y">
                    <OrderStatuses>
                        <OrderStatus hasAttributes="Y">
                            <Details hasAttributes="Y"/>
                            <MonitorRule hasAttributes="Y"/>
                        </OrderStatus>
                    </OrderStatuses>
                </Order>
            </MonitorConsolidation>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorConsolidation" type="yfc:MonitorConsolidationXSDType">
        <xsd:annotation yfc:tableName="YFS_MONITORING_CONSOLIDATION">
            <xsd:documentation>This table stores the configuration of alert consolidation for different monitors.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MonitorConsolidationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
        </xsd:all>
        <xsd:attribute name="AutoResolve" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUTO_RESOLVE" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the issue  can be automatically resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>Program that created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>User who created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The description of the monitor consolidation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field10IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_10_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 10 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field1IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_1_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 1 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field2IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_2_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 2 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field3IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_3_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 3 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field4IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_4_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 4 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field5IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_5_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 5 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field6IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_6_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 6 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field7IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_7_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 7 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field8IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_8_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 8 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field9IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_9_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 9 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FLOW_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_FLOW table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField1" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_1" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 1 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField10" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_10" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 10 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField2" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_2" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 2 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField3" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_3" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 3 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField4" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_4" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 4 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField5" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_5" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 5 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField6" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_6" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 6 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField7" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_7" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 7 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField8" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_8" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 8 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField9" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_9" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 9 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The monitor rule that is defined for this organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>Program that modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>User who modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationId"
            type="yfctype:MonitorConsolidationId" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_ID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>An identifier for the monitor consolidation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_MONITOR_CONSOLIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_TYPE_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key attribute of the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key attribute of the YFS_PROCESS_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RealertInterval" type="yfctype:ShortNumber" use="optional">
            <xsd:annotation yfc:columnName="REALERT_INTERVAL" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The re-alert time interval.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RealertRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REALERT_REQUIRED" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indiacates that re-alert will be raised if the issue has not been resolved within a certain timeframe.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderStatuses"/>
            </xsd:all>
            <xsd:attribute name="AllocationRuleID"
                type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="ALLOCATION_RULE_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the scheduling rule to be used while checking inventory availability.  If not passed, the allocation rule with the ID 'SYSTEM' for the enterprise is used. If the allocation rule with the ID 'SYSTEM' is not found, the allocation rule with the ID 'SYSTEM' for the enterprise 'DEFAULT' is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorizationExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="AUTHORIZATION_EXPIRATION_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The smallest expiration date of currently valid expirations. This field is used by the system payment processing agents. Any transaction having a financial implication will set this date to current system date. This field is used as a trigger by payment processing agents to create charge and authorization reqeusts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The buyer organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerUserId"
                type="yfctype:ContactUserId" use="optional">
                <xsd:annotation yfc:columnName="BUYER_USER_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This is the User Id of the customer for which order is created. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The account number of the customer with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The carrier service code for this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeActualFreightFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_ACTUAL_FREIGHT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the actual freight charges should be passed on to the customer. If set to 'Y', invoicing picks up charges from shipments and uses that to invoice the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerEMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_EMAILID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The E-mail ID of the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPONo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The PO number of the customer. For purchase orders, this can be used for storing the purchase order number of the purchasing system if that number is not already stored as part of the order number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryCode"
                type="yfctype:DeliveryCode" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The organization that pays the freight charges. For example, SUPPLIER, ENTERPRISE, and MARKETPLACE. However, you could pass any other value which is a valid shipment charge type as understood by the carrier by which the shipment is transported. See YFS_SHIPMENT_CONTAINER.carrier_payment_type for additional information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Division" type="yfctype:Division" use="optional">
                <xsd:annotation yfc:columnName="DIVISION" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The order classification attribute. This field can be used for reporting purposes. Sterling Selling And Fulfillment Suite system has no logic based on this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DraftOrderFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DRAFT_ORDER_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the order is yet to be confirmed. Order lines can only be deleted from the system in draft stage. This flag is not applicable for Quotes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The system or sales person who created the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntryType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ENTRY_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The channel through which this order was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDate" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date by which the quote has to be accepted by customer. This only applies to Quotes. The expiration date is computed by the expiration policy before presenting a quote to the customer. The expiration date is computed by adding EXPIRATION_PERIOD rule to the current date. The expiration date can also be updated before presenting to the customer. If the date is overridden, further computations of the date are ignored and the overridden expiration date is published on the quote for the customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOB" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>Indicates Freight Terms for the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the order or any order line is on hold. If the order is on hold, default configuration will stop the scheduling and release process for the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldReasonCode"
                type="yfctype:HoldReasonCode" use="optional">
                <xsd:annotation yfc:columnName="HOLD_REASON_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The reason code for putting the order on hold.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsExpirationDateOverridden"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_EXPIRATION_DATE_OVERRIDDEN" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the expiration date is overridden or whether it is computed by the default expiration policy. The value is Y if expiration date is overridden. This flag only applies to Quotes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LinkedSourceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LINKED_SOURCE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used to link an order of a different document classification to this order record. e.g. Order header key of the quote is stored in this column.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxOrderStatus" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxOrderStatusDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinOrderStatus" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinOrderStatusDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NotificationReference"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="NOTIFICATION_REFERENCE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field provides details on notifications based on the notification type. For example, for notification type 'e-mail' this would be the e-mail address. This field is not used within the application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NotificationType"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="NOTIFICATION_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is not used within the application. It is published with events so that external decisions can be made based on it.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NotifyAfterShipmentFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="NOTIFY_AFTER_SHIPMENT_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpportunityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OPPORTUNITY_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The opportunity that is associated with this order. It is the primary key of the YFS_OPPORTUNITY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ORDER_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date on which the order was taken. If not passed during order creation, it is defaulted to current system date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderName" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NAME" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The name given to the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ORDER_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The order classification attribute. This field can be used for reporting purposes or to build conditions for modeling your business process. Sterling Selling And Fulfillment Suite system has no default logic based on this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalContainerKey" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_CONTAINER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OriginalTax" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_TAX" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>Total tax amount at the time of the order creation.This attribute only reflects the header tax.This field is not updated later in the cycle and can be used to track changes made since the order creation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalTotalAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The total amount at the time of the order creation. This field is not updated later in the cycle and can be used to track changes made since the order creation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherCharges"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="OTHER_CHARGES" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The sum of the other charges at the header level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentStatus"
                type="yfctype:VarcharShortStatus" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_STATUS" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The information about the payment status of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonalizeCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PERSONALIZE_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The code that describes the personalization required for the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceProgramKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_PROGRAM_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The price program that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingClassificationCode" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_CLASSIFICATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriorityCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The priority code of the order. External logic can be built for prioritizing orders.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriorityNumber" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY_NUMBER" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The numeric priority code as opposed to alphanumeric field PRIORITY_CODE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is passed out in the tax calculation user exits.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The node an order is to be shipped to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReqCancelDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_CANCEL_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The requested cancel date. If this date is in the future, the order will be scheduled only up to this date. If this date is in the past, the order can be scheduled for shipping today as long as it has not been cancelled already. The order line level cancel date overrides this attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqDeliveryDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_DELIVERY_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The requested delivery date. This date is stamped on order lines (as requested delivery date) during order creation if no requested delivery date was passed at the order line level.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqShipDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_SHIP_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date the customer has requested the order to be shipped on. Based on the 'Driver Date' parameter of the document type, the ship date or delivery date will be calculated based on transit time calculations (if not passed at order creation).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The carrier assigned to the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndService" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ScacAndServiceKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SearchCriteria1"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SEARCH_CRITERIA_1" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SearchCriteria2"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SEARCH_CRITERIA_2" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The seller organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipCompleteFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the ship to customer.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SoldToKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SOLD_TO_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceKey" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is deprecated.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SourceType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is internal. Validate value is 'Quote'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxExemptFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAX_EXEMPT_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the buyer is extempt from paying taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The buyer's tax exemption certificate.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxJurisdiction" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_JURISDICTION" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The tax jurisdiction of the buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxPayerId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAXPAYER_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TermsCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="TERMS_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The terms code of the order. This is passed on to the invoice and published with the invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAdjustmentAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ADJUSTMENT_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>the sum of all the credit and debit memos issued against this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderStatuses">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderStatus"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderStatus">
        <xsd:annotation yfc:tableName="YFS_ORDER_RELEASE_STATUS">
            <xsd:documentation>This table stores status-quantity break up for each line-schedule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Details"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MonitorRule"/>
            </xsd:all>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The order header that is associated with this order release status record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The order line that is associated with this order release status record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineScheduleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_SCHEDULE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The order line schedule that this order release status record is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The order release that is associated with this order release status record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseStatusKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_RELEASE_STATUS_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The primary key for the YFS_ORDER_RELEASE_STATUS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The pipeline that this release line belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>This field indicates the status of the order release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The date when a positive quantity was moved to this status for the first time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="StatusQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="STATUS_QUANTITY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The quantity currently in this status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusReason" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_QUANTITY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The total quantity to ever be moved into this status. If you have a cyclic status (for instance backorder, which can happen multiple times), this column will not provide useful information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Details">
        <xsd:complexType>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="LotNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipByDate" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MonitorRule">
        <xsd:annotation yfc:tableName="YFS_MONITOR_RULE">
            <xsd:documentation>This table stores the rules for facilitating alert based monitoring for shipments, orders and so forth.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Age"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="AGE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The age of the monitor rule. The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonDateSubType"
                type="yfctype:DateSubType" use="optional">
                <xsd:annotation
                    yfc:columnName="COMPARISON_DATE_SUB_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The subtype of the comparison date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonDateType"
                type="yfctype:ComparisonDateType" use="optional">
                <xsd:annotation yfc:columnName="COMPARISON_DATE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The type of the comparison date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="COMPARISON_STATUS" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The comparison status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConditionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The condition key associated to this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The program that created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The user who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateSubTypeToMonitor"
                type="yfctype:EnumDateSubTypeToMonitor" use="optional">
                <xsd:annotation
                    yfc:columnName="DATE_SUB_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>This field indicates the date sub type to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateTypeToMonitor"
                type="yfctype:DateType" use="optional">
                <xsd:annotation yfc:columnName="DATE_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The date type to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The program that modified the  record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The timestamp when the record was modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The user who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorConsolidationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The monitor consolidation key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_RULE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The primary key of the YFS_MONITOR_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorType" type="yfctype:MonitorType" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The monitor type associated with this montior rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The pipeline key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The priority in which conditions are processed for an event. The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The process type key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusToMonitor"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The status to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
