Data/xapidocs/api_javadocs/XSD/OSI_getExternalOrderLineArchiveUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="OSI_getExternalOrderLineArchiveUE_output.xsd" yfc:rootElement="ExternalOrderLineArchiveData">
        <xsd:appinfo source="yfc:structure">
            <ExternalOrderLineArchiveData>
                <Entity hasAttributes="Y"/>
            </ExternalOrderLineArchiveData>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExternalOrderLineArchiveData" type="yfc:ExternalOrderLineArchiveDataXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
  					ExternalOrderLineArchiveData holds the list of custom entities related to Order Line for which entity relationship is not defined in IBM Sterling Order Management System.
  					<Validation>
                        <Condition>If UE returns null or invalid output document.
						</Condition>
                        <Error
                            Description="User Exit output xml is null or invalid." ErrorCode="OSI10_UE01"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ExternalOrderLineArchiveDataXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Entity"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Entity">
        <xsd:annotation>
            <xsd:documentation>
                <div>
	           Each Entity element should provide the data related to the same custom table. To provide the data from multiple custom tables, Entity element should be repeated with related custom table details and data.
	         </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="TableName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                      Table Name of the custom entity related to Order Line for which entity relationship is not defined in IBM Sterling Order Management System.
                   </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
