Data/xapidocs/api_javadocs/XSD/SBA_getSBAWorkspaceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SBA/getSBAWorkspaceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SBA/getSBAWorkspaceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SBA_getSBAWorkspaceList_output.xsd" yfc:rootElement="SBAWorkspaceList">
        <xsd:appinfo source="yfc:structure">
            <SBAWorkspaceList>
                <SBAWorkspace hasAttributes="Y">
                    <SBAWorkspaceNodeList>
                        <SBAWorkspaceNode hasAttributes="Y"/>
                    </SBAWorkspaceNodeList>
                </SBAWorkspace>
            </SBAWorkspaceList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SBAWorkspaceList" type="yfc:SBAWorkspaceListXSDType"/>
    <xsd:complexType name="SBAWorkspaceListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SBAWorkspace"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SBAWorkspace">
        <xsd:annotation yfc:tableName="YFS_SBA_WORKSPACE">
            <xsd:documentation>Stores SBA Workspace configurations</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SBAWorkspaceNodeList"/>
            </xsd:all>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_SBA_WORKSPACE">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SBA_WORKSPACE">
                    <xsd:documentation>The enterprise that is associated with this workspace.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDefault" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DEFAULT" yfc:tableName="YFS_SBA_WORKSPACE">
                    <xsd:documentation>This flag will indicate if this is the default workspace</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_SBA_WORKSPACE">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorPending" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_PENDING" yfc:tableName="YFS_SBA_WORKSPACE">
                    <xsd:documentation>This flag will indicate if pending orders should be monitored</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SBAWorkspaceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SBA_WORKSPACE_KEY" yfc:tableName="YFS_SBA_WORKSPACE">
                    <xsd:documentation>Primary key of YFS_SBA_WORKSPACE</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkspaceName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="WORKSPACE_NAME" yfc:tableName="YFS_SBA_WORKSPACE">
                    <xsd:documentation>Name of this workspace</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SBAWorkspaceNodeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SBAWorkspaceNode"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SBAWorkspaceNode">
        <xsd:annotation yfc:tableName="YFS_SBA_WORKSPACE_NODE">
            <xsd:documentation>Stores SBA Workspace configurations</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SBA_WORKSPACE_NODE">
                    <xsd:documentation>The ship node of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
