Data/xapidocs/api_javadocs/XSD/SBA_getSBAWorkspaceList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SBA/getSBAWorkspaceList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SBA/getSBAWorkspaceList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SBA_getSBAWorkspaceList_input.xsd" yfc:rootElement="SBAWorkspace">
        <xsd:appinfo source="yfc:structure">
            <SBAWorkspace hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SBAWorkspace" type="yfc:SBAWorkspaceXSDType">
        <xsd:annotation yfc:tableName="YFS_SBA_WORKSPACE">
            <xsd:documentation>
                <div>
			  Master table for workspaces
			<Validation>
                        <Condition>SBA is enabled.
				</Condition>
                        <Error
                            Description="SBA must be enabled for the instance." ErrorCode="SBA0011"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SBAWorkspaceXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>The enterprise that is associated with this workspace.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsDefault" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_DEFAULT" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>This flag will indicate if this is the default workspace</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorPending" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_PENDING" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>This flag will indicate if pending orders should be monitored</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SBAWorkspaceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SBA_WORKSPACE_KEY" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>Primary key of YFS_SBA_WORKSPACE</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkspaceName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="WORKSPACE_NAME" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>Name of this workspace</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
