Data/xapidocs/api_javadocs/XSD/SBA_manageSBAWorkspace_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SBA/manageSBAWorkspace/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SBA/manageSBAWorkspace/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SBA_manageSBAWorkspace_input.xsd" yfc:rootElement="SBAWorkspace">
        <xsd:appinfo source="yfc:structure">
            <SBAWorkspace hasAttributes="Y">
                <SBAWorkspaceNodeList>
                    <SBAWorkspaceNode hasAttributes="Y"/>
                </SBAWorkspaceNodeList>
            </SBAWorkspace>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SBAWorkspace" type="yfc:SBAWorkspaceXSDType">
        <xsd:annotation yfc:tableName="YFS_SBA_WORKSPACE">
            <xsd:documentation>
                <div>
			  Master table for workspaces
			<Validation>
                        <Condition>Valid Action is provided.
				</Condition>
                        <Error Description="Invalid value for Action." ErrorCode="SBA0010"/>
                    </Validation>
                    <Validation>
                        <Condition>SBA is enabled.
				</Condition>
                        <Error
                            Description="SBA must be enabled for the instance." ErrorCode="SBA0011"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid WorkspaceName is provided when creating a SBAWorkspace.
				</Condition>
                        <Error
                            Description="Workspace name cannot be empty." ErrorCode="SBA0012"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid WorkspaceName is provided when creating a SBAWorkspace.
				</Condition>
                        <Error
                            Description="Workspace name cannot be longer than 40 characters." ErrorCode="SBA0013"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid EnterpriseCode is provided when creating a SBAWorkspace.
				</Condition>
                        <Error
                            Description="EnterpriseCode cannot be empty." ErrorCode="SBA0014"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid EnterpriseCode is provided when creating a SBAWorkspace.
				</Condition>
                        <Error
                            Description="Invalid Organization for EnterpriseCode." ErrorCode="SBA0015"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid EnterpriseCode is provided when creating a SBAWorkspace.
				</Condition>
                        <Error
                            Description="Organization is not an enterprise." ErrorCode="SBA0016"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid SBAWorkspaceKey is provided when creating a SBAWorkspace.
				</Condition>
                        <Error
                            Description="Workspace key cannot be longer than than 24 characters." ErrorCode="SBA0017"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid SBAWorkspaceKey is provided when creating a SBAWorkspace.
				</Condition>
                        <Error Description="Workspace already exists." ErrorCode="SBA0018"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid SBAWorkspaceKey is provided to modify/delete a SBAWorkspace.
				</Condition>
                        <Error
                            Description="Workspace key cannot be empty." ErrorCode="SBA0019"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid SBAWorkspaceKey is provided to modify/delete a SBAWorkspace.
				</Condition>
                        <Error Description="Workspace does not exist." ErrorCode="SBA0020"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid SBAWorkspaceKey is provided to modify a SBAWorkspace.
				</Condition>
                        <Error
                            Description="Cannot update workspace of another user." ErrorCode="SBA0021"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid SBAWorkspaceKey is provided to delete a SBAWorkspace.
				</Condition>
                        <Error
                            Description="Cannot delete workspace of another user." ErrorCode="SBA0022"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid value is provided for IsDefault.
				</Condition>
                        <Error Description="Invalid IsDefault value." ErrorCode="SBA0023"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid value is provided for MonitorPending.
				</Condition>
                        <Error
                            Description="Invalid MonitorPending value." ErrorCode="SBA0024"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SBAWorkspaceXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SBAWorkspaceNodeList"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>The enterprise that is associated with this workspace.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsDefault" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_DEFAULT" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>If this Attribute is Y, the workspace will be set as the default workspace for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorPending" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_PENDING" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>If this Attribute is Y, orders that are not assigned to a ship node will be monitored in the workspace.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SBAWorkspaceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SBA_WORKSPACE_KEY" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>Primary key of YFS_SBA_WORKSPACE</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkspaceName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="WORKSPACE_NAME" yfc:tableName="YFS_SBA_WORKSPACE">
                <xsd:documentation>Name of this workspace</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SBAWorkspaceNodeList">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			      Nodes associated with a workspace
			    <Validation>
                        <Condition>Ship nodes are provided when creating a SBAWorkspace.
	    			</Condition>
                        <Error
                            Description="At least one ship node is required when creating a workspace." ErrorCode="SBA0026"/>
                    </Validation>
                    <Validation>
                        <Condition>Ship nodes are provided when modifying a SBAWorkspace.
			    	</Condition>
                        <Error
                            Description="At least one ship node must be added." ErrorCode="SBA0027"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SBAWorkspaceNode"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SBAWorkspaceNode">
        <xsd:annotation yfc:tableName="YFS_SBA_WORKSPACE_NODE">
            <xsd:documentation>
                <div>
			      Node associated with a workspace
			    <Validation>
                        <Condition>Valid ShipNode is provided when associating a node to a SBAWorkspace.
	    			</Condition>
                        <Error Description="Invalid ship node." ErrorCode="SBA0025"/>
                    </Validation>
                    <Validation>
                        <Condition>Valid ShipNode is provided when creating a SBAWorkspace.
				    </Condition>
                        <Error Description="ShipNode cannot be empty." ErrorCode="SBA0028"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SBA_WORKSPACE_NODE">
                    <xsd:documentation>The ship node of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
