Data/xapidocs/api_javadocs/XSD/SCP_getUserUiStateList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SCP/getUserUiStateList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SCP/getUserUiStateList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SCP_getUserUiStateList_output.xsd" yfc:rootElement="UserUiStateList">
        <xsd:appinfo source="yfc:structure">
            <UserUiStateList>
                <UserUiState hasAttributes="Y"/>
            </UserUiStateList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UserUiStateList" type="yfc:UserUiStateListXSDType"/>
    <xsd:complexType name="UserUiStateListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:UserUiState"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UserUiState">
        <xsd:annotation yfc:tableName="PLT_USER_UI_STATE">
            <xsd:documentation>This table stores the user preference regarding the state of the UI.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplicationName"
                type="yfctype:ApplicationName" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_NAME" yfc:tableName="PLT_USER_UI_STATE">
                    <xsd:documentation>The identifier of the application for which the state is being stored</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComponentName"
                type="yfctype:ComponentName" use="optional">
                <xsd:annotation yfc:columnName="COMPONENT_NAME" yfc:tableName="PLT_USER_UI_STATE">
                    <xsd:documentation>Component to which this ui state belongs</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Definition" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="DEFINITION" yfc:tableName="PLT_USER_UI_STATE">
                    <xsd:documentation>The actual ui state definition</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="PLT_USER_UI_STATE">
                    <xsd:documentation>User associated with this ui state</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PltUserUiStateKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PLT_USER_UI_STATE_KEY" yfc:tableName="PLT_USER_UI_STATE">
                    <xsd:documentation>The primary key for the PLT_USER_UI_STATE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScreenName"
                type="yfctype:ScreenName-200" use="optional">
                <xsd:annotation yfc:columnName="SCREEN_NAME" yfc:tableName="PLT_USER_UI_STATE">
                    <xsd:documentation>Screen to which this ui state belongs</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
