Data/xapidocs/api_javadocs/XSD/SCP_getDocumentDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SCP/getDocumentDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SCP/getDocumentDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SCP_getDocumentDetails_input.xsd" yfc:rootElement="Document">
        <xsd:appinfo source="yfc:structure">
            <Document hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Document" type="yfc:DocumentXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>DocumentId</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DocumentXSDType">
        <xsd:attribute name="DocumentId" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The unique identifier of a Document</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
