Data/xapidocs/api_javadocs/XSD/SCP_getDocumentDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SCP/getDocumentDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SCP/getDocumentDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SCP_getDocumentDetails_output.xsd" yfc:rootElement="Document">
        <xsd:appinfo source="yfc:structure">
            <Document hasAttributes="Y">
                <Body hasAttributes="Y"/>
            </Document>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Document" type="yfc:DocumentXSDType"/>
    <xsd:complexType name="DocumentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Body"/>
        </xsd:all>
        <xsd:attribute name="BodyName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The title or name of the body.  Often this matches the filename from the DocumentName or is null.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CharEncoding" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>UTF-8, SJIS, etc.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContentSubType" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>This is simply a refinement of the ContentType</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContentType" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>This could anything really.  text/html, binary, Application, null, etc.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreateTime" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The system time when this Document was created.  This is not based on the time a file on disk was created that may become the body of the Document.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The unique identifier of a given Document.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The full path to the document from which this Document object was originally created.  Null is also seen sometimes for internal docs.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentSize" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The size of this document, in bytes.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreviousDocumentId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The previous documentId if a Document has been altered.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StorageType" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>FS|DB: File System or Database</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Subject" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Anything describing the content of the Document.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkFlowId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The WorkFlowId this Document is tied to.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Body">
        <xsd:annotation>
            <xsd:documentation>
                <div>This is expected as CDATA content.  This is a required element.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OutOfBand" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>true|false.  This indicates if the nested CDATA content of the Body element will have the actual body of the Document or a token to be used with OutOfBand access functionality to retrieve the content.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
