Data/xapidocs/api_javadocs/XSD/SCP_getUserUiStateList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SCP/getUserUiStateList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SCP/getUserUiStateList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SCP_getUserUiStateList_input.xsd" yfc:rootElement="UserUiState">
        <xsd:appinfo source="yfc:structure">
            <UserUiState hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UserUiState" type="yfc:UserUiStateXSDType">
        <xsd:annotation yfc:tableName="PLT_USER_UI_STATE">
            <xsd:documentation>This table stores the user preference regarding the state of the UI.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UserUiStateXSDType">
        <xsd:attribute name="ApplicationName"
            type="yfctype:ApplicationName" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_NAME" yfc:tableName="PLT_USER_UI_STATE">
                <xsd:documentation>The identifier of the application for which the state is being stored</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComponentName" type="yfctype:ComponentName" use="optional">
            <xsd:annotation yfc:columnName="COMPONENT_NAME" yfc:tableName="PLT_USER_UI_STATE">
                <xsd:documentation>Component to which this ui state belongs</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="PLT_USER_UI_STATE">
                <xsd:documentation>User associated with this ui state</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScreenName" type="yfctype:ScreenName-200" use="optional">
            <xsd:annotation yfc:columnName="SCREEN_NAME" yfc:tableName="PLT_USER_UI_STATE">
                <xsd:documentation>Screen to which this ui state belongs</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
