Data/xapidocs/api_javadocs/XSD/SCW_copyNode_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SCW/copyNode/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SCW/copyNode/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SCW_copyNode_input.xsd" yfc:rootElement="Organization">
        <xsd:appinfo source="yfc:structure">
            <Organization hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Organization" type="yfc:OrganizationXSDType">
        <xsd:annotation yfc:tableName="YFS_ORGANIZATION">
            <xsd:documentation>
                <div>
					Both <code>OrganizationCode</code> and <code>ClonedOrganizationCode</code> 
					 should be passed.
					<Validation>
                        <Condition>If both <code>ClonedOrganizationCode</code> and <code>OrganizationCode</code> are not passed
						</Condition>
                        <Error
                            Description="Mandatory Parameter(s) not passed." ErrorCode="WMS00063"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrganizationXSDType">
        <xsd:attribute name="ClonedOrganizationCode"
            type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>The existing WMS node configuration that needs to be copied. 
						This should be a networked WMS node.
						<Validation>
                            <Condition>If <code>ClonedOrganizationCode</code> is not a networked WMS node.
							</Condition>
                            <Error
                                Description="Node passed does not exist" ErrorCode="WMS00042"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>The new WMS node configuration to be created.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
