Data/xapidocs/api_javadocs/XSD/SHIPMENT_MONITOR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/SHIPMENT/MONITOR"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/SHIPMENT/MONITOR" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="SHIPMENT_MONITOR.xsd" yfc:rootElement="MonitorConsolidation">
        <xsd:appinfo source="yfc:structure">
            <MonitorConsolidation hasAttributes="Y">
                <Shipment hasAttributes="Y">
                    <MonitorRule hasAttributes="Y"/>
                </Shipment>
            </MonitorConsolidation>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorConsolidation" type="yfc:MonitorConsolidationXSDType">
        <xsd:annotation yfc:tableName="YFS_MONITORING_CONSOLIDATION">
            <xsd:documentation>This table stores the configuration of alert consolidation for different monitors.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MonitorConsolidationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
        </xsd:all>
        <xsd:attribute name="AutoResolve" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUTO_RESOLVE" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the issue  can be automatically resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>Program that created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>User who created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The description of the monitor consolidation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field10IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_10_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 10 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field1IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_1_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 1 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field2IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_2_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 2 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field3IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_3_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 3 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field4IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_4_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 4 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field5IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_5_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 5 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field6IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_6_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 6 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field7IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_7_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 7 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field8IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_8_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 8 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field9IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_9_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 9 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FLOW_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_FLOW table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField1" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_1" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 1 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField10" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_10" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 10 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField2" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_2" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 2 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField3" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_3" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 3 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField4" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_4" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 4 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField5" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_5" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 5 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField6" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_6" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 6 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField7" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_7" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 7 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField8" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_8" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 8 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField9" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_9" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 9 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The monitor rule that is defined for this organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>Program that modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>User who modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationId"
            type="yfctype:MonitorConsolidationId" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_ID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>An identifier for the monitor consolidation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_MONITOR_CONSOLIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_TYPE_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key attribute of the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key attribute of the YFS_PROCESS_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RealertInterval" type="yfctype:ShortNumber" use="optional">
            <xsd:annotation yfc:columnName="REALERT_INTERVAL" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The re-alert time interval.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RealertRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REALERT_REQUIRED" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indiacates that re-alert will be raised if the issue has not been resolved within a certain timeframe.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MonitorRule"/>
            </xsd:all>
            <xsd:attribute name="ActualDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment was actually delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual freight charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual shipment date. This is updated by the confirmShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppointmentNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="APPOINTMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number which helps the ship node and the carrier identify the pick up details and any relevant details about the shipment delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The bill of lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The buyer organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The account number of the customer or buying organization with the carrier. This is used for arriving at the billing account number. See YFS_SHIPMENT_CONTAINER.carrier_bill_account.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier service availed for transporting this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The type of carrier. This field is denormalized from YFS_SCAC_AND_SERVICE for the scac and carrier service code on the shipment. Typical values are PARCEL, LTL, and so forth.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommercialValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="COMMERCIAL_VALUE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The commercial or declared value of the shipment for insurance purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The currency corresponding to the shipment charges.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryPlanKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_PLAN_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The delivery plan to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryTS" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_TS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date at which the shipment is delivered at its intended destination.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DestinationZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESTINATION_ZONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A classification of data on which a particular set of business processes must be applied. In this case, it happens to be the document type of the order document - basically the document type of the orders comprising the shipment. A document type derived from the base document type 0001 - ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DownLoadCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="DOWNLOAD_COUNT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of times that the shipment information has been downloaded from the user interface.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment is expected to be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as planned or arrived at in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportTaxpayerID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_TAXPAYER_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The tax payer ID of the shipping organization if the shipment is meant for export.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The entity that pays the freight. Freight Terms determines whether a shipment is Pre Paid, 3rd Party Billing or Collect Billing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The from address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="FROM_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time after which an appointment can be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasOtherShipments" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_OTHER_SHIPMENTS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HazardousMaterialFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAZARDOUS_MATERIAL_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment carries an item that is marked hazardous.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeldForConfirmation"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ITDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="IT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the IT number was stamped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ITNo" type="yfctype:NText-30" use="optional">
                <xsd:annotation yfc:columnName="IT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The license number given by government or customs for shipments going to bonded warehouses.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Indicates the level of service required for this shipment.  Default is Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to store manifest number assigned by carrier server. ManifestKey on shipment is where the actual manifesting related information is stored for the manifesting process in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The timestamp for the next alert. This is a computed field, which is used internally by the shipment monitor to proactively identify when the shipment could potentially be realerted on a business exception as per the monitor rules setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfCartons"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of cartons in the shipment. This field is only an approximation and not accurate depiction of the number of containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfPallets"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of pallets in the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ORIGIN_ZONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackListType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PACKLIST_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The packlist type. One of the attributes used in shipment consolidation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickListNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PICK_LIST_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number that indicates a group of shipments which will be picked together. A picklist is a document used for picking. It is generated for a ship node across one or more shipments and contains information on the shipment lines and the quantity for each line that is to be picked. Picklist is created by the printPickList API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickticketNo"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="PICKTICKET_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number assigned to group related shipments under one head. This is input by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The pipeline to which this shipment belongs. This is determined by the createShipment API based on the document type and several other key attributes of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The proof of delivery number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The progressive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The node that receives the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SealNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seal number on the load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_MODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to identify the mode of shipment. Typical values are TL - Truck Load, LTL - Less Than Truck Load, etc. This attribute can also be used to store any of your own categorizations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipVia" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="SHIP_VIA" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The means of shipment. This is usually Land, Air, Sea, or Ocean.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentClosedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CLOSED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is closed. This is a computed field, which is used internally as a way to logically mark data for purge so that transactions do not look into this data. This data is later purged by the purge agent at preset intervals. This is updated by the close shipment agent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConfirmUpdatesDone"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONFIRM_UPDATES_DONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment confirm updates have been done. This is an internal field, which is used by the confirmShipment API to identify if shipment confirmation updates have already been performed on the shipment. Since there are various ways through which shipment confirmation updates could happen -- receiveIntransitUpdates, closeManifest, or confirmShipment -- it is required that there be an attribute that identifies if the shipment confirmation has indeed been done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerizedFlag"
                type="yfctype:EnumShipmentContainerizedFlag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONTAINERIZED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This is an internal field that indicates the containerization state of the shipment. The values being: 01 - not containerized, 02 - containerization in progress and 03 - indicating complete containerization. This is updated by all shipment APIs that containerize or uncontainerize. APIs include createShipment, packShipment, unpackShipment, confirmShipment and changeShipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentDeliverUpdatesDone"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_DELIVER_UPDATES_DONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This internal field is used by the receiveIntransitUpdates API to identify if delivery updates have already been done. Delivery updates are possible by explicitly invoking the deliverShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentPlannedFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_PLANNED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is planned. This is a computed field. When every leg of the shipment from source to destination is included into loads, the shipment is said to be planned. This is updated by the manageLoad API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user-defined shipment type. This is used to indicate the composition of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The status of the shipment. As various transactions in the shipment's pipeline act upon the shipment, the shipment status changes. Typical values are 1100 - Created, 1200 - Being Picked, 1400 - Shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The to address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="TO_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time before which an appointment could be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalActualCharge" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ACTUAL_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalEstimatedCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ESTIMATED_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The estimated charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total volume of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME_UOM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of volume specified in TotalVolume attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total weight of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of weight specified in Total_Weight attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The trailer number by which the shipment leaves the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MonitorRule">
        <xsd:annotation yfc:tableName="YFS_MONITOR_RULE">
            <xsd:documentation>This table stores the rules for facilitating alert based monitoring for shipments, orders and so forth.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Age"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="AGE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The age of the monitor rule. The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonDateSubType"
                type="yfctype:DateSubType" use="optional">
                <xsd:annotation
                    yfc:columnName="COMPARISON_DATE_SUB_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The subtype of the comparison date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonDateType"
                type="yfctype:ComparisonDateType" use="optional">
                <xsd:annotation yfc:columnName="COMPARISON_DATE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The type of the comparison date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="COMPARISON_STATUS" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The comparison status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConditionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The condition key associated to this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The program that created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The user who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateSubTypeToMonitor"
                type="yfctype:EnumDateSubTypeToMonitor" use="optional">
                <xsd:annotation
                    yfc:columnName="DATE_SUB_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>This field indicates the date sub type to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateTypeToMonitor"
                type="yfctype:DateType" use="optional">
                <xsd:annotation yfc:columnName="DATE_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The date type to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The program that modified the  record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The timestamp when the record was modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The user who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorConsolidationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The monitor consolidation key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_RULE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The primary key of the YFS_MONITOR_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorType" type="yfctype:MonitorType" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The monitor type associated with this montior rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The pipeline key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The priority in which conditions are processed for an event. The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The process type key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusToMonitor"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The status to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
