Data/xapidocs/api_javadocs/XSD/VAS_getWorkOrderStatusAuditList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/VAS/getWorkOrderStatusAuditList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/VAS/getWorkOrderStatusAuditList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="VAS_getWorkOrderStatusAuditList_input.xsd" yfc:rootElement="WorkOrderStatusAudit">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderStatusAudit hasAttributes="Y">
                <WorkOrder hasAttributes="Y">
                    <WorkOrderComponents>
                        <WorkOrderComponent hasAttributes="Y">
                            <WorkOrderComponentTag hasAttributes="Y"/>
                        </WorkOrderComponent>
                    </WorkOrderComponents>
                    <WorkOrderActivities>
                        <WorkOrderActivity hasAttributes="Y">
                            <WorkOrderActivityDtls>
                                <WorkOrderActivityDtl hasAttributes="Y"/>
                            </WorkOrderActivityDtls>
                            <WorkOrderActivityInstructions>
                                <Instruction hasAttributes="Y"/>
                            </WorkOrderActivityInstructions>
                        </WorkOrderActivity>
                    </WorkOrderActivities>
                    <WorkOrderTag hasAttributes="Y"/>
                </WorkOrder>
            </WorkOrderStatusAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderStatusAudit" type="yfc:WorkOrderStatusAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
            <xsd:documentation>This table stores work order status change audit. whenever the work order status changes because of a business process, an audit is posted along with the status, timestamp, reason code and text, user ID and program ID. All transactions in the work order pipeline in fact will have entries in this table upon completion of a transaction.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderStatusAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrder"/>
        </xsd:all>
        <xsd:attribute name="AuditTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>The unique identifier of an external Transaction reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuditTransactionIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AuditUserId" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_USER_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>The unique identifier of a user who performed the transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuditUserIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Comments" type="yfctype:Text-1500" use="optional">
            <xsd:annotation yfc:columnName="COMMENTS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Free form comments that may be recorded during the execution of the transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CommentsQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromAuditTransactionId"
            type="yfctype:TransactionID" use="optional"/>
        <xsd:attribute name="FromAuditUserId" type="yfctype:UserId" use="optional"/>
        <xsd:attribute name="FromComments" type="yfctype:Text-1500" use="optional"/>
        <xsd:attribute name="FromNewStatus" type="yfctype:ShortStatus" use="optional"/>
        <xsd:attribute name="FromNewStatusDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromOldStatus" type="yfctype:ShortStatus" use="optional"/>
        <xsd:attribute name="FromOldStatusDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromReasonCode" type="yfctype:ReasonCode" use="optional"/>
        <xsd:attribute name="FromTransactionId"
            type="yfctype:TransactionID" use="optional"/>
        <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromWorkOrderStatusAuditKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="NewStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Status of the work order after the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Status date recorded on the work order at the most recent status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatusDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="NewStatusQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OldStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="OLD_STATUS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Status of the work order before the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldStatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="OLD_STATUS_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Status date as recorded on the work order at the previous status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldStatusDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="OldStatusQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Reason code indicating the reason for the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToAuditTransactionId"
            type="yfctype:TransactionID" use="optional"/>
        <xsd:attribute name="ToAuditUserId" type="yfctype:UserId" use="optional"/>
        <xsd:attribute name="ToComments" type="yfctype:Text-1500" use="optional"/>
        <xsd:attribute name="ToNewStatus" type="yfctype:ShortStatus" use="optional"/>
        <xsd:attribute name="ToNewStatusDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToOldStatus" type="yfctype:ShortStatus" use="optional"/>
        <xsd:attribute name="ToOldStatusDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToReasonCode" type="yfctype:ReasonCode" use="optional"/>
        <xsd:attribute name="ToTransactionId"
            type="yfctype:TransactionID" use="optional"/>
        <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToWorkOrderStatusAuditKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="TransactionId" type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>The unique identifier of a transaction that was executed on the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Primary key of YFS_WORK_ORDER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WorkOrderStatusAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_STS_AUDIT_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Primary key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderStatusAuditKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
    </xsd:complexType>
    <xsd:element name="WorkOrder">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>This table stores the information about the work orders to be done at a node on an inventory item or a license plate.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderComponents"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderActivities"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderTag"/>
            </xsd:all>
            <xsd:attribute name="AllocatedLevel" type="yfctype:String" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Indicates the extent of allocation for the work order. The valid values are FULL, PARTIAL, NONE, and ANY. The respective values tells wether the work order is fully, partially, not allocated or is in any of the the previously mentioned states.
	        		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllocatedLevelQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Case for which the work order is processed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The document type for this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date a task should not finish later than. Pass through fields to be stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FinishNoLaterThanQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="FromAllocatedLevel"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromCaseId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="FromDocumentType"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromEnterpriseCode"
                type="yfctype:ID-24" use="optional"/>
            <xsd:attribute name="FromFinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromHoldFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromInvUpdateActivityCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromItemID" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLevelOfService"
                type="yfctype:LevelOfService" use="optional"/>
            <xsd:attribute name="FromNextAlertTs"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromNodeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOpenWorkOrderFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromPalletId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="FromPipeLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPreCallStatus"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromPriority" type="yfctype:Integer" use="optional"/>
            <xsd:attribute name="FromProductClass"
                type="yfctype:Text-10" use="optional"/>
            <xsd:attribute name="FromPromisedApptEndDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromPromisedApptStartDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromPurpose"
                type="yfctype:EnumPurpose2" use="optional"/>
            <xsd:attribute name="FromQuantityAllocated"
                type="yfctype:Capacity" use="optional"/>
            <xsd:attribute name="FromQuantityCompleted"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromQuantityReleased"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromQuantityRemoved"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromQuantityRequested"
                type="yfctype:Capacity" use="optional"/>
            <xsd:attribute name="FromReasonCode"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="FromReasonText"
                type="yfctype:ReasonText" use="optional"/>
            <xsd:attribute name="FromReleasedLevel"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromSegment" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromSegmentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromSerialNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromServiceComplexityLevel"
                type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromServiceItemGroupCode"
                type="yfctype:EnumServiceItemGroupCode" use="optional"/>
            <xsd:attribute name="FromServiceItemID"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromServiceSupervisorId"
                type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="FromServiceUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromShipByDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromShipmentNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="FromStartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromStatus" type="yfctype:Status" use="optional"/>
            <xsd:attribute name="FromStatusDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the work order has any non-resolved hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InvUpdateActivityCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INV_UPD_ACTIVITY_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The activity code against which inventory needs to be updated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvUpdateActivityCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The item identifier for this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>Indicates the level of service required for this work order.  Default from corresponding order lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfServiceQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="NextAlertTs" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the next time the work order would be considered for monitoring.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTsQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OpenWorkOrderFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OPEN_WORK_ORDER_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the execution of the work order has ended.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpenWorkOrderFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order that is associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order line associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order number of the order with which the work order is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Pallet for which the work order is processed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PipeLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The pipeline associated with this work order. This is determined by the document type and several other key attributes of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipeLineKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PreCallStatus" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRE_CALL_STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the status of the pre-call process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreCallStatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Priority" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriorityQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ProductClass" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClassQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PromisedApptEndDate" use="optional">
                <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The promised end date of the appointment. Used in case of provided service work order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptEndDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="PromisedApptStartDate" use="optional">
                <xsd:annotation
                    yfc:columnName="PROMISED_APPT_START_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The promised start date of the appointment. Used in case of provided service work order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptStartDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="Purpose" type="yfctype:EnumPurpose2" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the purpose for the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PurposeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityAllocated"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_ALLOCATED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity that was allocated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityAllocatedQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="QuantityCompleted"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_COMPLETED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which work order is completely confirmed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityCompletedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityReleased"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_RELEASED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity released.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityReleasedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityRemoved"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REMOVED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity removed due to exceptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRemovedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityRequested"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REQUESTED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRequestedQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ReasonCode" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The reason code indicating the reason for the work order to get cancelled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The reason text indicating the reason entered by user while cancelling the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonTextQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReleasedLevel" type="yfctype:String" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Indicates the extent to which the work order is released. The valid values are FULL, PARTIAL, NONE, and ANY. The respective values tells wether the work order is fully, partially, not relased or is in any of the previously mentioned states.
	            	</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleasedLevelQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Segment" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The segment to which the inventory involved in the work order belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SegmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the segment type. Valid values are: - MTO : Made To Order - MTC : Made To Customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field identifies a serial number for the serialized item involved in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceComplexityLevel"
                type="yfctype:Count" use="optional">
                <xsd:annotation
                    yfc:columnName="SERVICE_COMPLEXITY_LEVEL"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The service complexity level which indicates complexity of the work order, and is computed based on all service lines in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceComplexityLevelQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ServiceItemGroupCode"
                type="yfctype:EnumServiceItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_GROUP_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the service item group on this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemGroupCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The identifier for the service item on this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceSupervisorId"
                type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field represents the supervisor responsible for this work order.This will be a valid user ID in the system. This user will belong to the node performing the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSupervisorIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceUom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_UOM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The unit of measure for the service item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceUomQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date before which a time-sensitive inventory must be shipped out.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The shipment associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The shipment number of the shipment with which the work order is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="StartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date a task should not start earlier than. Pass through fields to be stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartNoEarlierThanQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The status of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="StatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToAllocatedLevel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToCaseId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="ToDocumentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToEnterpriseCode" type="yfctype:ID-24" use="optional"/>
            <xsd:attribute name="ToFinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToHoldFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToInvUpdateActivityCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToItemID" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLevelOfService"
                type="yfctype:LevelOfService" use="optional"/>
            <xsd:attribute name="ToNextAlertTs" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToNodeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOpenWorkOrderFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToPalletId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="ToPipeLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPreCallStatus" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToPriority" type="yfctype:Integer" use="optional"/>
            <xsd:attribute name="ToProductClass" type="yfctype:Text-10" use="optional"/>
            <xsd:attribute name="ToPromisedApptEndDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToPromisedApptStartDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToPurpose" type="yfctype:EnumPurpose2" use="optional"/>
            <xsd:attribute name="ToQuantityAllocated"
                type="yfctype:Capacity" use="optional"/>
            <xsd:attribute name="ToQuantityCompleted"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToQuantityReleased"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToQuantityRemoved"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToQuantityRequested"
                type="yfctype:Capacity" use="optional"/>
            <xsd:attribute name="ToReasonCode" type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="ToReasonText" type="yfctype:ReasonText" use="optional"/>
            <xsd:attribute name="ToReleasedLevel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToSegment" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToSegmentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToSerialNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToServiceComplexityLevel"
                type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToServiceItemGroupCode"
                type="yfctype:EnumServiceItemGroupCode" use="optional"/>
            <xsd:attribute name="ToServiceItemID" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToServiceSupervisorId"
                type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="ToServiceUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToShipByDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToShipmentNo" type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ToStartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToStatus" type="yfctype:Status" use="optional"/>
            <xsd:attribute name="ToStatusDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UOM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The unit of measure for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UomQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The primary key of the YFS_WORK_ORDER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderComponents">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:WorkOrderComponent"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderComponent">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_COMPONENT">
            <xsd:documentation>
                <div>
			This table stores information about all the components required by the work order.<br/>Components are not mandatory for work orders created for the <code>KITTING</code> service item group code.
			</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderComponentTag"/>
            </xsd:all>
            <xsd:attribute name="ComponentQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="COMPONENT_QUANTITY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>The component quantity per work order item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComponentQuantityQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromComponentQuantity"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromItemID" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromProductClass"
                type="yfctype:Text-10" use="optional"/>
            <xsd:attribute name="FromSegment" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromSegmentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromSerialNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromShipByDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromWorkOrderComponentKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>The unique identifier for the item associated with this work order component.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProductClass" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>The product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClassQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Segment" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>The segment to which the inventory involved in the work order belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SegmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>This field indicates the segment type. Valid values are: - MTO : Made To Order - MTC : Made To Customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>This field identifies a serial number for the serialized item involved in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>The date before which any time-sensitive inventory must be shipped out.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ToComponentQuantity"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToItemID" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToProductClass" type="yfctype:Text-10" use="optional"/>
            <xsd:attribute name="ToSegment" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToSegmentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToSerialNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToShipByDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToWorkOrderComponentKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UOM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>The unit of measure for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UomQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderComponentKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="WORK_ORDER_COMPONENT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>The primary key for the YFS_WORK_ORDER_COMPONENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderComponentKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                    <xsd:documentation>The work order associated with this work order component.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderComponentTag">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
            <xsd:documentation>
                <div>
					Stores details of the inventory tag attributes for work order components that are tag tracked. Tag information is stored only if the <code>Node</code> tracks tag information in inventory.	
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BatchNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromBatchNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotAttribute1"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotAttribute2"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotAttribute3"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotKeyReference"
                type="yfctype:Text-4000" use="optional"/>
            <xsd:attribute name="FromLotNumber" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromManufacturingDate"
                type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromRevisionNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromWorkOrderComponentKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderComponentTagKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Stores reference information for the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReferenceQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumberQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToBatchNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotAttribute1" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotAttribute2" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotAttribute3" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotKeyReference"
                type="yfctype:Text-4000" use="optional"/>
            <xsd:attribute name="ToLotNumber" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToManufacturingDate"
                type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToRevisionNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToWorkOrderComponentKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderComponentTagKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="WorkOrderComponentKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="WORK_ORDER_COMPONENT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_COMPONENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderComponentKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderComponentTagKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_COMP_TAG_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_COMP_TAG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderComponentTagKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderActivities">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:WorkOrderActivity"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderActivity">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
            <xsd:documentation>This table stores the list of activities to be performed to complete the work order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderActivityDtls"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderActivityInstructions"/>
            </xsd:all>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                    <xsd:documentation>Activity Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ActivitySeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_SEQ_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                    <xsd:documentation>Identifies the sequence in which this activity needs to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivitySeqNoQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="FromActivityCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromActivitySeqNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromIsComplete" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromQuantityComplete"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromWorkOrderActivityKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="IsComplete" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMPLETE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                    <xsd:documentation>Indicates if the entire activity is complete for the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCompleteQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityComplete"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_COMPLETE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                    <xsd:documentation>Quantity completed on confirmation of this activity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityCompleteQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToActivityCode" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToActivitySeqNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToIsComplete" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToQuantityComplete"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToWorkOrderActivityKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="WorkOrderActivityKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_ACTIVITY_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_ACTIVITY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderActivityKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderActivityDtls">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:WorkOrderActivityDtl"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderActivityDtl">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
            <xsd:documentation>This table stores details on where and to what extent an activity is confirmed.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                    <xsd:documentation>Activity Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ActivityLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_LOCATION_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                    <xsd:documentation>The unique identifier for an Activity Location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityLocationIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Case for which the activity is performed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromActivityCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromActivityLocationId"
                type="yfctype:LocationId" use="optional"/>
            <xsd:attribute name="FromCaseId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="FromPalletId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="FromQuantityCompleted"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromQuantityReleased"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromQuantityRequested"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromSerialNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromWorkOrderActivityDtlKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Pallet for which the activity is performed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityCompleted"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_COMPLETED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                    <xsd:documentation>Quantity for which Activity is completely confirmed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityCompletedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityReleased"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_RELEASED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                    <xsd:documentation>Quantity for which the Activity detail is released.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityReleasedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityRequested"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REQUESTED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                    <xsd:documentation>Quantity Requested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRequestedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                    <xsd:documentation>A Serial number of the parent item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToActivityCode" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToActivityLocationId"
                type="yfctype:LocationId" use="optional"/>
            <xsd:attribute name="ToCaseId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="ToPalletId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="ToQuantityCompleted"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToQuantityReleased"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToQuantityRequested"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToSerialNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToWorkOrderActivityDtlKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="WorkOrderActivityDtlKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_ACTY_DTL_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_ACTY_DTL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderActivityDtlKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderActivityInstructions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Instruction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instruction">
        <xsd:annotation yfc:tableName="YFS_INSTRUCTION_DETAIL">
            <xsd:documentation>Generic table used to store instructions associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromInstructionDetailKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInstructionText"
                type="yfctype:InstructionText" use="optional"/>
            <xsd:attribute name="FromInstructionType"
                type="yfctype:InstructionType" use="optional"/>
            <xsd:attribute name="FromInstructionURL" type="yfctype:URL" use="optional"/>
            <xsd:attribute name="FromInstructionUsage"
                type="yfctype:InstructionUsage" use="optional"/>
            <xsd:attribute name="FromSequenceNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="InstructionDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_DETAIL_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Primary key attribute of YFS_INSTRUCTION_DETAIL table that identifies an instruction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionDetailKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InstructionText"
                type="yfctype:InstructionText" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TEXT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Free-form text indicating any additional information related to the instruction type or otherwise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionTextQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InstructionType"
                type="yfctype:InstructionType" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Categorization of instructions so that they can be grouped together for reference. For example, you may have instructions of type Pick, Pack, and Ship for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InstructionURL" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_URL"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>The URL relating to and/or containing the instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionURLQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InstructionUsage"
                type="yfctype:InstructionUsage" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_USAGE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Another way of categorization of instructions, over and above the instruction type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionUsageQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>You could have an instruction exceeding the limits of a single record. Sequence number is used to provide a way to store a link between such instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNoQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ToInstructionDetailKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInstructionText"
                type="yfctype:InstructionText" use="optional"/>
            <xsd:attribute name="ToInstructionType"
                type="yfctype:InstructionType" use="optional"/>
            <xsd:attribute name="ToInstructionURL" type="yfctype:URL" use="optional"/>
            <xsd:attribute name="ToInstructionUsage"
                type="yfctype:InstructionUsage" use="optional"/>
            <xsd:attribute name="ToSequenceNo" type="yfctype:Count" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderTag">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_TAG">
            <xsd:documentation>This table stores details of the inventory tag attributes of the work order item that is tag tracked.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BatchNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromBatchNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotAttribute1"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotAttribute2"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotAttribute3"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotKeyReference"
                type="yfctype:Text-4000" use="optional"/>
            <xsd:attribute name="FromLotNumber" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromManufacturingDate"
                type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromRevisionNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderTagKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Stores reference information for the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReferenceQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumberQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToBatchNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotAttribute1" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotAttribute2" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotAttribute3" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotKeyReference"
                type="yfctype:Text-4000" use="optional"/>
            <xsd:attribute name="ToLotNumber" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToManufacturingDate"
                type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToRevisionNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderTagKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_TAG_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_TAG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderTagKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
