Data/xapidocs/api_javadocs/XSD/VAS_getWorkOrderAllocConsList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/VAS/getWorkOrderAllocConsList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/VAS/getWorkOrderAllocConsList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="VAS_getWorkOrderAllocConsList_output.xsd" yfc:rootElement="WorkOrderAllocConsList">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderAllocConsList hasAttributes="Y">
                <WorkOrderAllocCons hasAttributes="Y"/>
            </WorkOrderAllocConsList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderAllocConsList" type="yfc:WorkOrderAllocConsListXSDType"/>
    <xsd:complexType name="WorkOrderAllocConsListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:WorkOrderAllocCons"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of Records fetched from the DB satisfying the passed criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="WorkOrderAllocCons">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
            <xsd:documentation>This table stores the demand and the supply types for the work order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualSupplyTypeConsumed"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="ACTUAL_SUPPLY_TYPE_CONSUMED" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>Type of supply actually associated with consumed components after confirmation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualSupplyTypeCreated"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="ACTUAL_SUPPLY_TYPE_CREATED" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>Type of supply actually associated with the created item after confirmation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllocationDemandTypeForConsumed"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLCN_DEMAND_TYPE_FOR_CONSUMED" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>Type of demand, which needs to be associated with consumed components while work order allocation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllocationSupplyTypeForCreated"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLCN_SUPPLY_TYPE_FOR_CREATED" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>Type of supply which needs to be updated for the created item while work order allocation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandTypeForConsumed"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="DEMAND_TYPE_FOR_CONSUMED" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>Type of demand, which needs to be associated with consumed components while work order creation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>Document Type for which the consideration is configured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemGroupCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_GROUP_CODE" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>The Service Group to which the consideration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyTypeForCreated"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE_FOR_CREATED" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>Type of supply, which needs to be updated for the created item while work order creation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderAllocConsKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="WORK_ORDER_ALLOC_CONS_KEY" yfc:tableName="YFS_WORK_ORDER_ALLOC_CONS">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_ALLOC_CONS.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
