Data/xapidocs/api_javadocs/XSD/VAS_shouldWorkOrderMonitorAlertBeRaisedUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/VAS/shouldWorkOrderMonitorAlertBeRaisedUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/VAS/shouldWorkOrderMonitorAlertBeRaisedUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="VAS_shouldWorkOrderMonitorAlertBeRaisedUE_output.xsd" yfc:rootElement="WorkOrderMonitor">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderMonitor hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderMonitor" type="yfc:WorkOrderMonitorXSDType"/>
    <xsd:complexType name="WorkOrderMonitorXSDType">
        <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>This determines the earliest time when the work order will be picked up for monitoring again.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RaiseAlert" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines whether to raise an alert or not based on this flag.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
