Data/xapidocs/api_javadocs/XSD/VAS_WORK_ORDER_HOLD_CONDITION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/VAS/WORK_ORDER_HOLD_CONDITION"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/VAS/WORK_ORDER_HOLD_CONDITION" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="VAS_WORK_ORDER_HOLD_CONDITION.xsd" yfc:rootElement="WorkOrder">
        <xsd:appinfo source="yfc:structure">
            <WorkOrder hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrder" type="yfc:WorkOrderXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>This table stores the information about the work orders to be done at a node on an inventory item or a license plate.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderXSDType">
        <xsd:attribute name="AdditionalRequestedQuantity"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ADDITIONAL_REQUESTED_QUANTITY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApptStatusDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Description of appointment status.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Case for which the work order is processed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComputedRequestedQuantity"
            type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="COMPUTED_REQUESTED_QUANTITY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity for which the work order is created based on service lines.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CurrentApptSeq" type="yfctype:LineNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>For work orders where multiple appointments are not required, this field denotes the current appointment sequence.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DelayAppointmentTaking" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DELAY_APPOINTMENT_TAKING" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This flag indicates whether the taking of appointment can be delayed or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The document type for this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FinishNoLaterThan" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The date a task should not finish later than. Pass through fields to be stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This flag indicates whether the work order has any non-resolved hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvUpdateActivityCode"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INV_UPD_ACTIVITY_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The activity code against which inventory needs to be updated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsMultiApptRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MULTI_APPT_REQUIRED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This flag indicates whether the work order can have multiple appointments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlanningComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNING_COMPLETE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This flag indicates whether work order planning has been completed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsQuantityRequestedOverridden"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_QTY_REQUESTED_OVERRIDDEN" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This flag indicates whether the requested quantity is overridden.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The item identifier for this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LevelOfService"
            type="yfctype:LevelOfService" use="optional">
            <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>Indicates the level of service required for this work order.  Default from corresponding order lines.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NextAlertTs" use="optional">
            <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the next time the work order would be considered for monitoring.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpenWorkOrderFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OPEN_WORK_ORDER_FLAG" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This flag indicates whether the execution of the work order has ended.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The order that is associated with this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The order line associated with this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The order number of the order with which the work order is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pallet for which the work order is processed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipeLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The pipeline associated with this work order. This is determined by the document type and several other key attributes of the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreCallStatus" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRE_CALL_STATUS" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the status of the pre-call process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreCallStatusDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Description of Pre-call status.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreferredResourcePoolId"
            type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="PREFERRED_RESOURCE_POOL_ID" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The preferred resource pool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreferredServiceResourceId"
            type="yfctype:ID-24" use="optional">
            <xsd:annotation
                yfc:columnName="PREFERRED_SERVICE_RESOURCE_ID" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The preferred service resource.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductAmount" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_AMOUNT" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The total value of the product items on the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The product class of an item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptEndDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The promised end date of the appointment. Used in case of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptStartDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_START_DATE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The promised start date of the appointment. Used in case of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ProviderOrganizationCode"
            type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The organization which provides services on the work order.  For PS work orders, this will be node's owner.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:EnumPurpose2" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the purpose for the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityAllocated" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_ALLOCATED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity that was allocated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityCompleted" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_COMPLETED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity for which work order is completely confirmed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityReleased" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_RELEASED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity released.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRemoved" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REMOVED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity removed due to exceptions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRequested" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REQUESTED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The reason code indicating the reason for the work order to get cancelled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCodeDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Description of Reason Code.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The reason text indicating the reason entered by user while cancelling the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The segment to which the inventory involved in the work order belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the segment type. Valid values are: - MTO : Made To Order - MTC : Made To Customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The seller organization for which the work order is placed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field identifies a serial number for the serialized item involved in the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceAmount" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_AMOUNT" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The total value of the service items on the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceComplexityLevel"
            type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_COMPLEXITY_LEVEL" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>
                    <div>This field denotes the highest service level across all service items included in the work order.  For PS work orders only PS service items are considered.  Applicable only for PS or DS work orders.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceItemDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Description of Service Item.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceItemGroupCode"
            type="yfctype:EnumServiceItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_ITEM_GROUP_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the service item group on this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceItemID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_ITEM_ID" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The identifier for the service item on this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSupervisorId" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field represents the supervisor responsible for this work order.This will be a valid user ID in the system. This user will belong to the node performing the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceUom" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_UOM" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The unit of measure for the service item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The date before which a time-sensitive inventory must be shipped out.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The shipment associated with this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The shipment number of the shipment with which the work order is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The date a task should not start earlier than. Pass through fields to be stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The status of the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Description of WorkOrder status.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Timezone" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TIMEZONE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The time zone in which the work order will be executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The total value of the work order.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalVolume" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>
                    <div>The quantity requested in the volume unit of measure.</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TotalWeight" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>
                    <div>The quantity requested in the weight unit of measure.</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The unit of measure for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VolumeUOM" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="VOLUME_UOM" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>
                    <div>The volume unit of measure in which quantity needs to be requested.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WeightUOM" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>
                    <div>The weight unit of measure in which quantity needs to be requested.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The primary key of the YFS_WORK_ORDER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates if data should be retrieved from the history table rather than the regular table. 
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
