Data/xapidocs/api_javadocs/XSD/VAS_ON_HOLD_TYPE_STATUS_CHANGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/VAS/ON_HOLD_TYPE_STATUS_CHANGE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/VAS/ON_HOLD_TYPE_STATUS_CHANGE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="VAS_ON_HOLD_TYPE_STATUS_CHANGE.xsd" yfc:rootElement="WorkOrderHoldType">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderHoldType hasAttributes="Y">
                <WorkOrderHoldTypeLogs>
                    <WorkOrderHoldTypeLog hasAttributes="Y"/>
                </WorkOrderHoldTypeLogs>
            </WorkOrderHoldType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderHoldType" type="yfc:WorkOrderHoldTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_WO_HOLD_TYPE">
            <xsd:documentation>This table stores all the hold types defined for a work order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderHoldTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderHoldTypeLogs"/>
        </xsd:all>
        <xsd:attribute name="FromStatus" type="yfctype:String" use="optional"/>
        <xsd:attribute name="HoldType" type="yfctype:CodeType" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_WO_HOLD_TYPE">
                <xsd:documentation>Hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastHoldTypeDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_HOLD_TYPE_DATE" yfc:tableName="YFS_WO_HOLD_TYPE">
                <xsd:documentation>Timestamp when this hold type was added to the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WO_HOLD_TYPE">
                <xsd:documentation>The reason text indicating the reason entered by user while putting hold on the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_WO_HOLD_TYPE">
                <xsd:documentation>Status of the work order hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>Description of hold type status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_ID" yfc:tableName="YFS_WO_HOLD_TYPE">
                <xsd:documentation>Transaction which changed the hold type status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionName"
            type="yfctype:TransactionName-50" use="optional">
            <xsd:annotation yfc:columnName="TRANNAME" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>Transaction name which created the hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WO_HOLD_TYPE">
                <xsd:documentation>The primary key of the YFS_WORK_ORDER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="WorkOrderHoldTypeLogs">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:WorkOrderHoldTypeLog"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderHoldTypeLog">
        <xsd:annotation yfc:tableName="YFS_WO_HOLD_TYPE_LOG">
            <xsd:documentation>This table stores the log notes when status of a hold type changes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WO_HOLD_TYPE_LOG">
                    <xsd:documentation>The reason text indicating the reason entered by user while putting hold on the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_WO_HOLD_TYPE_LOG">
                    <xsd:documentation>Status of the work order hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Transaction name which changed the status of the hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_ID" yfc:tableName="YFS_WO_HOLD_TYPE_LOG">
                    <xsd:documentation>The unique idetifier for a transaction which changes the hold type status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionName"
                type="yfctype:TransactionName-50" use="optional">
                <xsd:annotation yfc:columnName="TRANNAME" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>Transaction name which changed the status of the hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_WO_HOLD_TYPE_LOG">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderHoldTypeLogKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WO_HOLD_TYPE_LOG_KEY" yfc:tableName="YFS_WO_HOLD_TYPE_LOG">
                    <xsd:documentation>Primary key for YFS_WO_HOLD_TYPE_LOG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
