Data/xapidocs/api_javadocs/XSD/VAS_getWorkOrderAppointmentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/VAS/getWorkOrderAppointmentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/VAS/getWorkOrderAppointmentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="VAS_getWorkOrderAppointmentList_input.xsd" yfc:rootElement="WorkOrderAppointment">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderAppointment hasAttributes="Y">
                <WorkOrder hasAttributes="Y">
                    <Order hasAttributes="Y"/>
                </WorkOrder>
            </WorkOrderAppointment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderAppointment" type="yfc:WorkOrderAppointmentXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_APPT">
            <xsd:documentation>This table stores information about appointments taken on the work order. Used only for PS/DS work orders.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderAppointmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrder"/>
        </xsd:all>
        <xsd:attribute name="AdditionalEquipmentUsed"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ADDITIONAL_EQUIPMENT_USED"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates items that were used, which were not originally requested.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AdditionalEquipmentUsedQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AlertSales" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ALERT_SALES"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates that the sales person has to be notified and entered information is send to the sales person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertSalesQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AlertScheduler" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ALERT_SCHEDULER"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates that the scheduler has to be notified and entered information is send to the scheduler.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertSchedulerQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AllocatedQuantity" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="ALLOCATED_QUANTITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The capacity allocated for the service or delivery line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllocatedQuantityQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ApptSeq" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="APPT_SEQ"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This number denotes the position in the sequence when the current appointment would be executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApptSeqQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ApptStatus" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="APPT_STATUS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The appointment status. Will be in synch with the service order line. Used in case of provided service work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApptStatusQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AttentionRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ATTENTION_REQUIRED"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This flag indicates that some problems exist with work order and it has to be looked at.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttentionRequiredQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ConsiderCurrentSlot" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>
					The <code>ConsiderCurrentSlot</code> flag indicates that system should consider the available capacity of the current slots, which the current timestamp falls under.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderCurrentSlotQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExecutionBy" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_BY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The technician executing the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionByQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExecutionComments" type="yfctype:Text-1500" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_COMMENTS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The execution comments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionCommentsQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExecutionDuration"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_DURATION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The amount of time took to perform the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionDurationQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ExecutionEndTime" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_END_TIME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The last date when the execution of the service was attempted. This can correspond to either a successful or failed attempt.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExecutionEndTimeQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ExecutionStartTime" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_START_TIME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The last date when the execution of the service was attempted. This can correspond to either a successful or failed attempt.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExecutionStartTimeQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ExpectedApptEndDate" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_APPT_END_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The expected end date of the appointment. Populated during route planning of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExpectedApptEndDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ExpectedApptStartDate" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_APPT_START_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The expected start date of the appointment.Populated during route planning of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExpectedApptStartDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="FromAdditionalEquipmentUsed"
            type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromAlertSales" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromAlertScheduler" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromAllocatedQuantity"
            type="yfctype:Capacity" use="optional"/>
        <xsd:attribute name="FromApptSeq" type="yfctype:LineNo" use="optional"/>
        <xsd:attribute name="FromApptStatus" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="FromAttentionRequired" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromConsiderCurrentSlot"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromExecutionBy" type="yfctype:UserId" use="optional"/>
        <xsd:attribute name="FromExecutionComments"
            type="yfctype:Text-1500" use="optional"/>
        <xsd:attribute name="FromExecutionDuration"
            type="yfctype:NumberOfHours" use="optional"/>
        <xsd:attribute name="FromExecutionEndTime"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromExecutionStartTime"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromExpectedApptEndDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromExpectedApptStartDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromIsRoutePlanningComplete"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromItemsNotUsed" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromMaximumRecords" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="FromNonInventoryItemsReturned"
            type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromPromisedApptEndDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromPromisedApptStartDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromRequestedQuantity"
            type="yfctype:Capacity" use="optional"/>
        <xsd:attribute name="FromRequestedVolume"
            type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="FromRequestedWeight"
            type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="FromResourcePoolId" type="yfctype:ID-24" use="optional"/>
        <xsd:attribute name="FromServiceResourceId" type="yfctype:ID-24" use="optional"/>
        <xsd:attribute name="FromStopNumber" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="FromVehicleNumber" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="FromVehicleOdometerReading"
            type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="FromVehicleServiceRequest"
            type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromWorkOrderApptKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="IsRoutePlanningComplete"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ROUTE_PLANNING_COMPLETE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This flag indicates whether the route planning has been completed and expected appointments dates and stop number were populated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsRoutePlanningCompleteQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ItemsNotUsed" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ITEMS_NOT_USED"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates items that were returned back and were not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemsNotUsedQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecordsQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="NonInventoryItemsReturned"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="NON_INV_ITEMS_RETURNED"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates special tools that were used and then returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NonInventoryItemsReturnedQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="PromisedApptEndDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The promised end date of the appointment. Used in case of provided service or delivery service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptEndDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="PromisedApptStartDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_START_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The promised start date of the appointment. Used in case of provided service or delivery service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptStartDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="RequestedQuantity" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_QUANTITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The requested capacity for the service or delivery line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedQuantityQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="RequestedVolume" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>The quantity requested in the work order's volume unit of measure, which is specified in the <code>VolumeUOM</code> field of the work order</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedVolumeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RequestedWeight" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>The quantity requested in the work order's weight unit of measure, which is specified in the <code>WeightUOM</code> field of the work order</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedWeightQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The identifier for the resource pool associated with this work order appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The identifier for the service resource associated with this work order appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceResourceIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="StopNumber" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="STOP_NUMBER"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The stop number assigned during route planning, indicating the order in which this appointemnt will be attempted during the route execution.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopNumberQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ToAdditionalEquipmentUsed"
            type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToAlertSales" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToAlertScheduler" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToAllocatedQuantity"
            type="yfctype:Capacity" use="optional"/>
        <xsd:attribute name="ToApptSeq" type="yfctype:LineNo" use="optional"/>
        <xsd:attribute name="ToApptStatus" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="ToAttentionRequired" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToConsiderCurrentSlot" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToExecutionBy" type="yfctype:UserId" use="optional"/>
        <xsd:attribute name="ToExecutionComments"
            type="yfctype:Text-1500" use="optional"/>
        <xsd:attribute name="ToExecutionDuration"
            type="yfctype:NumberOfHours" use="optional"/>
        <xsd:attribute name="ToExecutionEndTime"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToExecutionStartTime"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToExpectedApptEndDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToExpectedApptStartDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToIsRoutePlanningComplete"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToItemsNotUsed" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToMaximumRecords" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="ToNonInventoryItemsReturned"
            type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToPromisedApptEndDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToPromisedApptStartDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToRequestedQuantity"
            type="yfctype:Capacity" use="optional"/>
        <xsd:attribute name="ToRequestedVolume" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="ToRequestedWeight" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="ToResourcePoolId" type="yfctype:ID-24" use="optional"/>
        <xsd:attribute name="ToServiceResourceId" type="yfctype:ID-24" use="optional"/>
        <xsd:attribute name="ToStopNumber" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="ToVehicleNumber" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="ToVehicleOdometerReading"
            type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="ToVehicleServiceRequest"
            type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToWorkOrderApptKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="VehicleNumber" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_NUMBER"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates vehicle number that was used for job completion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleNumberQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="VehicleOdometerReading"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_ODOMETER_READING"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates odometer reading at the time of appointment completion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleOdometerReadingQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="VehicleServiceRequest"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_SERVICE_REQUEST"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates what were the problems with the vehicle that required service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleServiceRequestQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WorkOrderApptKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_APPT_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The primary key of the YFS_WORK_ORDER_APPT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderApptKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
    </xsd:complexType>
    <xsd:element name="WorkOrder">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>This table stores the information about the work orders to be done at a node on an inventory item or a license plate.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
            </xsd:all>
            <xsd:attribute name="AllocatedLevel" type="yfctype:String" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Indicates the extent of allocation for the work order. The valid values are FULL, PARTIAL, NONE, and ANY. The respective values tells wether the work order is fully, partially, not allocated or is in any of the the previously mentioned states.
	        		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllocatedLevelQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Case for which the work order is processed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The document type for this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date a task should not finish later than. Pass through fields to be stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FinishNoLaterThanQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="FromAllocatedLevel"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromCaseId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="FromDocumentType"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromEnterpriseCode"
                type="yfctype:ID-24" use="optional"/>
            <xsd:attribute name="FromFinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromHoldFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromInvUpdateActivityCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromItemID" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLevelOfService"
                type="yfctype:LevelOfService" use="optional"/>
            <xsd:attribute name="FromNextAlertTs"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromNodeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOpenWorkOrderFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromPalletId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="FromPipeLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPreCallStatus"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromPriority" type="yfctype:Integer" use="optional"/>
            <xsd:attribute name="FromProductClass"
                type="yfctype:Text-10" use="optional"/>
            <xsd:attribute name="FromPromisedApptEndDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromPromisedApptStartDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromPurpose"
                type="yfctype:EnumPurpose2" use="optional"/>
            <xsd:attribute name="FromQuantityAllocated"
                type="yfctype:Capacity" use="optional"/>
            <xsd:attribute name="FromQuantityCompleted"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromQuantityReleased"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromQuantityRemoved"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromQuantityRequested"
                type="yfctype:Capacity" use="optional"/>
            <xsd:attribute name="FromReasonCode"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="FromReasonText"
                type="yfctype:ReasonText" use="optional"/>
            <xsd:attribute name="FromReleasedLevel"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromSegment" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromSegmentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromSerialNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromServiceComplexityLevel"
                type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromServiceItemGroupCode"
                type="yfctype:EnumServiceItemGroupCode" use="optional"/>
            <xsd:attribute name="FromServiceItemID"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromServiceSupervisorId"
                type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="FromServiceUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromShipByDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromShipmentNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="FromStartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromStatus" type="yfctype:Status" use="optional"/>
            <xsd:attribute name="FromStatusDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the work order has any non-resolved hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InvUpdateActivityCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INV_UPD_ACTIVITY_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The activity code against which inventory needs to be updated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvUpdateActivityCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The item identifier for this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>Indicates the level of service required for this work order.  Default from corresponding order lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfServiceQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="NextAlertTs" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the next time the work order would be considered for monitoring.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTsQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OpenWorkOrderFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OPEN_WORK_ORDER_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the execution of the work order has ended.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpenWorkOrderFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order that is associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order line associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order number of the order with which the work order is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Pallet for which the work order is processed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PipeLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The pipeline associated with this work order. This is determined by the document type and several other key attributes of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipeLineKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PreCallStatus" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRE_CALL_STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the status of the pre-call process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreCallStatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Priority" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriorityQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ProductClass" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClassQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PromisedApptEndDate" use="optional">
                <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The promised end date of the appointment. Used in case of provided service work order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptEndDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="PromisedApptStartDate" use="optional">
                <xsd:annotation
                    yfc:columnName="PROMISED_APPT_START_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The promised start date of the appointment. Used in case of provided service work order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptStartDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="Purpose" type="yfctype:EnumPurpose2" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the purpose for the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PurposeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityAllocated"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_ALLOCATED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity that was allocated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityAllocatedQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="QuantityCompleted"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_COMPLETED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which work order is completely confirmed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityCompletedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityReleased"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_RELEASED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity released.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityReleasedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityRemoved"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REMOVED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity removed due to exceptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRemovedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QuantityRequested"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REQUESTED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRequestedQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ReasonCode" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The reason code indicating the reason for the work order to get cancelled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The reason text indicating the reason entered by user while cancelling the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonTextQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReleasedLevel" type="yfctype:String" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y">
                    <xsd:documentation>
                        <div>Indicates the extent to which the work order is released. The valid values are FULL, PARTIAL, NONE, and ANY. The respective values tells wether the work order is fully, partially, not relased or is in any of the previously mentioned states.
	            	</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleasedLevelQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Segment" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The segment to which the inventory involved in the work order belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SegmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the segment type. Valid values are: - MTO : Made To Order - MTC : Made To Customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field identifies a serial number for the serialized item involved in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceComplexityLevel"
                type="yfctype:Count" use="optional">
                <xsd:annotation
                    yfc:columnName="SERVICE_COMPLEXITY_LEVEL"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The service complexity level which indicates complexity of the work order, and is computed based on all service lines in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceComplexityLevelQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ServiceItemGroupCode"
                type="yfctype:EnumServiceItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_GROUP_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the service item group on this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemGroupCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The identifier for the service item on this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceSupervisorId"
                type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field represents the supervisor responsible for this work order.This will be a valid user ID in the system. This user will belong to the node performing the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSupervisorIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceUom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_UOM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The unit of measure for the service item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceUomQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date before which a time-sensitive inventory must be shipped out.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The shipment associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The shipment number of the shipment with which the work order is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="StartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date a task should not start earlier than. Pass through fields to be stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartNoEarlierThanQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The status of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="StatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToAllocatedLevel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToCaseId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="ToDocumentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToEnterpriseCode" type="yfctype:ID-24" use="optional"/>
            <xsd:attribute name="ToFinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToHoldFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToInvUpdateActivityCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToItemID" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLevelOfService"
                type="yfctype:LevelOfService" use="optional"/>
            <xsd:attribute name="ToNextAlertTs" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToNodeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOpenWorkOrderFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToPalletId" type="yfctype:LPNNo" use="optional"/>
            <xsd:attribute name="ToPipeLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPreCallStatus" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToPriority" type="yfctype:Integer" use="optional"/>
            <xsd:attribute name="ToProductClass" type="yfctype:Text-10" use="optional"/>
            <xsd:attribute name="ToPromisedApptEndDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToPromisedApptStartDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToPurpose" type="yfctype:EnumPurpose2" use="optional"/>
            <xsd:attribute name="ToQuantityAllocated"
                type="yfctype:Capacity" use="optional"/>
            <xsd:attribute name="ToQuantityCompleted"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToQuantityReleased"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToQuantityRemoved"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToQuantityRequested"
                type="yfctype:Capacity" use="optional"/>
            <xsd:attribute name="ToReasonCode" type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="ToReasonText" type="yfctype:ReasonText" use="optional"/>
            <xsd:attribute name="ToReleasedLevel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToSegment" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToSegmentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToSerialNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToServiceComplexityLevel"
                type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToServiceItemGroupCode"
                type="yfctype:EnumServiceItemGroupCode" use="optional"/>
            <xsd:attribute name="ToServiceItemID" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToServiceSupervisorId"
                type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="ToServiceUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToShipByDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToShipmentNo" type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ToStartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToStatus" type="yfctype:Status" use="optional"/>
            <xsd:attribute name="ToStatusDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToUom" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UOM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The unit of measure for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UomQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The primary key of the YFS_WORK_ORDER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromBillToID" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="ToBillToID" type="yfctype:ID-40" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
