Data/xapidocs/api_javadocs/XSD/VAS_MODIFY_WORK_ORDER.ATTENTION_REQUIRED.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/VAS/MODIFY_WORK_ORDER/ATTENTION_REQUIRED"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/VAS/MODIFY_WORK_ORDER/ATTENTION_REQUIRED" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="VAS_MODIFY_WORK_ORDER.ATTENTION_REQUIRED.xsd" yfc:rootElement="WorkOrderAppointment">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderAppointment hasAttributes="Y">
                <WorkOrder hasAttributes="Y"/>
                <ResourcePoolCapacityConsumptionDetails hasAttributes="Y"/>
                <WorkOrderAppointmentUsers>
                    <WorkOrderAppointmentUser hasAttributes="Y"/>
                </WorkOrderAppointmentUsers>
            </WorkOrderAppointment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderAppointment" type="yfc:WorkOrderAppointmentXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_APPT">
            <xsd:documentation>This table stores information about appointments taken on the work order. Used only for PS/DS work orders.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderAppointmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrder"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePoolCapacityConsumptionDetails"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderAppointmentUsers"/>
        </xsd:all>
        <xsd:attribute name="AdditionalEquipmentUsed"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ADDITIONAL_EQUIPMENT_USED" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates items that were used, which were not originally requested.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertSales" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ALERT_SALES" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates that the sales person has to be notified and entered information is send to the sales person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertScheduler" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ALERT_SCHEDULER" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates that the scheduler has to be notified and entered information is send to the scheduler.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllocatedQuantity" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="ALLOCATED_QUANTITY" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The capacity allocated for the service or delivery line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApptSeq" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="APPT_SEQ" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This number denotes the position in the sequence when the current appointment would be executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApptStatus" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="APPT_STATUS" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The appointment status. Will be in synch with the service order line. Used in case of provided service work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttentionRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ATTENTION_REQUIRED" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This flag indicates that some problems exist with work order and it has to be looked at.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderCurrentSlot" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The <code>ConsiderCurrentSlot</code> flag indicates that system should consider the available capacity of the current slots, which the current timestamp falls under.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionBy" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_BY" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The technician executing the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionComments" type="yfctype:Text-1500" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_COMMENTS" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The execution comments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionDuration"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_DURATION" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The amount of time took to perform the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionEndTime" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_END_TIME" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The last date when the execution of the service was attempted. This can correspond to either a successful or failed attempt.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExecutionStartTime" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_START_TIME" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The last date when the execution of the service was attempted. This can correspond to either a successful or failed attempt.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExpectedApptEndDate" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_APPT_END_DATE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The expected end date of the appointment. Populated during route planning of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExpectedApptStartDate" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_APPT_START_DATE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The expected start date of the appointment.Populated during route planning of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsRoutePlanningComplete"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ROUTE_PLANNING_COMPLETE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This flag indicates whether the route planning has been completed and expected appointments dates and stop number were populated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemsNotUsed" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ITEMS_NOT_USED" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates items that were returned back and were not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NonInventoryItemsReturned"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="NON_INV_ITEMS_RETURNED" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates special tools that were used and then returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptEndDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The promised end date of the appointment. Used in case of provided service or delivery service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptStartDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_START_DATE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The promised start date of the appointment. Used in case of provided service or delivery service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="RequestedQuantity" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_QUANTITY" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The requested capacity for the service or delivery line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedVolume" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The quantity requested in the work order's volume unit of measure, which is specified in the <code>VolumeUOM</code> field of the work order</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedWeight" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The quantity requested in the work order's weight unit of measure, which is specified in the <code>WeightUOM</code> field of the work order</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The identifier for the resource pool associated with this work order appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The identifier for the service resource associated with this work order appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopNumber" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="STOP_NUMBER" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The stop number assigned during route planning, indicating the order in which this appointemnt will be attempted during the route execution.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleNumber" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_NUMBER" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates vehicle number that was used for job completion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleOdometerReading"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_ODOMETER_READING" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates odometer reading at the time of appointment completion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleServiceRequest"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_SERVICE_REQUEST" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates what were the problems with the vehicle that required service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderApptKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_APPT_KEY" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The primary key of the YFS_WORK_ORDER_APPT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="WorkOrder">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>This table stores the information about the work orders to be done at a node on an inventory item or a license plate.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdditionalRequestedQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ADDITIONAL_REQUESTED_QUANTITY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApptStatusDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of appointment status.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Case for which the work order is processed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComputedRequestedQuantity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation
                    yfc:columnName="COMPUTED_REQUESTED_QUANTITY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which the work order is created based on service lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CurrentApptSeq" type="yfctype:LineNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>For work orders where multiple appointments are not required, this field denotes the current appointment sequence.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DelayAppointmentTaking"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="DELAY_APPOINTMENT_TAKING" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the taking of appointment can be delayed or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The document type for this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date a task should not finish later than. Pass through fields to be stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the work order has any non-resolved hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvUpdateActivityCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INV_UPD_ACTIVITY_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The activity code against which inventory needs to be updated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsMultiApptRequired"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MULTI_APPT_REQUIRED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the work order can have multiple appointments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlanningComplete" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PLANNING_COMPLETE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether work order planning has been completed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsQuantityRequestedOverridden"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_QTY_REQUESTED_OVERRIDDEN" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the requested quantity is overridden.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The item identifier for this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>Indicates the level of service required for this work order.  Default from corresponding order lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTs" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the next time the work order would be considered for monitoring.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpenWorkOrderFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OPEN_WORK_ORDER_FLAG" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the execution of the work order has ended.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order that is associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order line associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order number of the order with which the work order is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Pallet for which the work order is processed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipeLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The pipeline associated with this work order. This is determined by the document type and several other key attributes of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreCallStatus" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRE_CALL_STATUS" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the status of the pre-call process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreCallStatusDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of Pre-call status.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredResourcePoolId"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation
                    yfc:columnName="PREFERRED_RESOURCE_POOL_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The preferred resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredServiceResourceId"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation
                    yfc:columnName="PREFERRED_SERVICE_RESOURCE_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The preferred service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_AMOUNT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The total value of the product items on the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptEndDate" use="optional">
                <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The promised end date of the appointment. Used in case of provided service work order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptStartDate" use="optional">
                <xsd:annotation
                    yfc:columnName="PROMISED_APPT_START_DATE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The promised start date of the appointment. Used in case of provided service work order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The organization which provides services on the work order.  For PS work orders, this will be node's owner.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:EnumPurpose2" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the purpose for the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityAllocated"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_ALLOCATED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity that was allocated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityCompleted"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_COMPLETED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which work order is completely confirmed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityReleased"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_RELEASED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity released.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRemoved"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REMOVED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity removed due to exceptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRequested"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REQUESTED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The reason code indicating the reason for the work order to get cancelled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCodeDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of Reason Code.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The reason text indicating the reason entered by user while cancelling the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The segment to which the inventory involved in the work order belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the segment type. Valid values are: - MTO : Made To Order - MTC : Made To Customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The seller organization for which the work order is placed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field identifies a serial number for the serialized item involved in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_AMOUNT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The total value of the service items on the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceComplexityLevel"
                type="yfctype:Count" use="optional">
                <xsd:annotation
                    yfc:columnName="SERVICE_COMPLEXITY_LEVEL" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>This field denotes the highest service level across all service items included in the work order.  For PS work orders only PS service items are considered.  Applicable only for PS or DS work orders.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of Service Item.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemGroupCode"
                type="yfctype:EnumServiceItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_GROUP_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the service item group on this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The identifier for the service item on this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSupervisorId"
                type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field represents the supervisor responsible for this work order.This will be a valid user ID in the system. This user will belong to the node performing the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceUom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_UOM" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The unit of measure for the service item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date before which a time-sensitive inventory must be shipped out.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The shipment associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The shipment number of the shipment with which the work order is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date a task should not start earlier than. Pass through fields to be stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The status of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of WorkOrder status.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Timezone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TIMEZONE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The time zone in which the work order will be executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAmount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total value of the work order.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolume" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>The quantity requested in the volume unit of measure.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TotalWeight" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>The quantity requested in the weight unit of measure.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The unit of measure for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VolumeUOM" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="VOLUME_UOM" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>The volume unit of measure in which quantity needs to be requested.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>The weight unit of measure in which quantity needs to be requested.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The primary key of the YFS_WORK_ORDER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates if data should be retrieved from the history table rather than the regular table. 
				<br/>Default: <b>
                                <code>N</code>
                            </b>
                            <br/>Valid Values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePoolCapacityConsumptionDetails">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
            <xsd:documentation>This table stores capacity consumption details of reservations, service lines, and work order appointments.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Capacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The capacity consumed by this reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideCapacityCheck"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_OVERRIDDEN" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>This flag indicates whether capacity was ignored when taking the appointment. Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>The unique identifier of the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderAppointmentUsers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:WorkOrderAppointmentUser"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderAppointmentUser">
        <xsd:annotation yfc:tableName="YFS_WO_APPT_USER">
            <xsd:documentation>This table stores the list of users who worked/assigned for an appointment in the work order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OverriddenFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OVERRIDDEN_FLAG" yfc:tableName="YFS_WO_APPT_USER">
                    <xsd:documentation>By default, the users configured in the resource user table will be copied in to this table if the appointment is serviced by the resource. If any other  user served this appointment then the overridden flag will be "Y".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_WO_APPT_USER">
                    <xsd:documentation>The unique identifier of the user who is working on this appointment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WoApptUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WO_APPT_USER_KEY" yfc:tableName="YFS_WO_APPT_USER">
                    <xsd:documentation>The primary key of the YFS_WO_APPT_USER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderApptKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_APPT_KEY" yfc:tableName="YFS_WO_APPT_USER">
                    <xsd:documentation>Key pointing to the appointment in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
