Data/xapidocs/api_javadocs/XSD/VAS_cancelWorkOrder_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/VAS/cancelWorkOrder/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/VAS/cancelWorkOrder/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="VAS_cancelWorkOrder_input.xsd" yfc:rootElement="WorkOrder">
        <xsd:appinfo source="yfc:structure">
            <WorkOrder hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrder" type="yfc:WorkOrderXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>
                <div>The work order to be cancelled. Pass  <code>WorkOrderKey</code>
                    <i>or</i> pass <code>WorkOrderNo</code>, <code>NodeKey</code> and <code>EnterpriseCode</code> to identify the work order.
				<Validation>
                        <Condition>The passed attributes are unable to identify an existing work order.
					</Condition>
                        <Error Description="Invalid Work Order." ErrorCode="VAS00013"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideModificationRules"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pass <b>
                            <code>Y</code>
                        </b> to override the cancel work order modifcation type validation on the work order.
						<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRemoved" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REMOVED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>
                    <div>Quantity to be removed from <code>WorkOrder</code> due to exceptions. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>
                    <div>Cancellation Reason Code. 
					<Validation>
                            <Condition> It should be passed.
					</Condition>
                            <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The reason text indicating the reason entered by user while cancelling the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The primary key of the YFS_WORK_ORDER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
