Data/xapidocs/api_javadocs/XSD/WMS_createSortingTasks_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/createSortingTasks/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/createSortingTasks/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_createSortingTasks_input.xsd" yfc:rootElement="Task">
        <xsd:appinfo source="yfc:structure">
            <Task hasAttributes="Y">
                <Inventory hasAttributes="Y"/>
                <TaskType hasAttributes="Y"/>
            </Task>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Task" type="yfc:TaskXSDType">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <code>OrganizationCode</code>, <code>SourceLocationId</code> and <code>EnterpriseKey</code> attributes must be passed and must be valid. 
					</Condition>
                        <Error Description="" ErrorCode=""/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Inventory"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TaskType"/>
        </xsd:all>
        <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>
                                <code>EnterpriseKey</code> is not passed.
					</Condition>
                            <Error
                                Description="WMS:EnterpriseCode has to be passed in the input" ErrorCode="WMS00030"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
				Identifies the organization. 
				<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not passed.
					</Condition>
                            <Error
                                Description="WMS: Organization Code not passed." ErrorCode="WMS00077"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourceLocationId" type="yfctype:LocationId" use="required">
            <xsd:annotation yfc:columnName="SOURCE_LOCATION_ID" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>
                                <code>SourceLocationId</code> is not passed.
					</Condition>
                            <Error
                                Description="WMS:LocationId has to be passed in the input." ErrorCode="WMS00034"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourceZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation yfc:columnName="SOURCE_ZONE_ID" yfc:tableName="YFS_TASK">
                <xsd:documentation>The Zone corresponding to the source location.  Denormalized here for better performance.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Inventory">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <code>SourcePalletId</code>, <code>SourceCaseId</code> OR <code>ItemId</code> attributes must be passed in the input.
						</Condition>
                        <Error
                            Description="WMS:Either Item Or LPN information is required." ErrorCode="WMS00178"/>
                    </Validation>
                    <Validation>
                        <Condition>All Item Details should be passed in the input.
						</Condition>
                        <Error
                            Description="WMS: Item details are not passed in input." ErrorCode="WMS00020"/>
                    </Validation>
                    <Validation>
                        <Condition>Quantity should be passed in the input.
						</Condition>
                        <Error
                            Description="WMS:Quantity not passed in the input." ErrorCode="WMS00021"/>
                    </Validation>
                    <Validation>
                        <Condition>Inventory must exist at the Source Location for putaway.
						</Condition>
                        <Error
                            Description="WMS: There is no inventory for put away at the Source Location." ErrorCode="WMS00056"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The country in which the item was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The status of the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The identifier of the item for which the task is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The product class ofthe item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The quantity for which the task is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The receipt number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The segment number. When inventory is customized for a specific order, it needs to be tracked separately so that it can be allocated to that order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The segment type. SKUs are sometimes custom made. This field stores the customization details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The date by which the shipment has to be shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceCaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_LPN_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>
                        <div>Source Case Id of the task</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourcePalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_LPN_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>
                        <div>Source Pallet Id of the task</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_OF_MEASURE" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskType">
        <xsd:annotation yfc:tableName="YFS_TASK_TYPE">
            <xsd:documentation>
                <div>
							If both ActivityCode and ActivityGroupId are not specified, ActivityCode is defaulted to <code>STORAGE</code> and ActivityGroupId defaulted to <code>RECEIPT</code> .
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The code of the activity within the Activity Group.  For example, STORAGE.  This is system defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityGroupId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The activities performed in a warehouse are grouped in an activity group Id. For example, PUTAWAY. Activity groups are system defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
