Data/xapidocs/api_javadocs/XSD/WMS_getCountTaskForItem_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getCountTaskForItem/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getCountTaskForItem/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getCountTaskForItem_input.xsd" yfc:rootElement="GetCountTaskForItem">
        <xsd:appinfo source="yfc:structure">
            <GetCountTaskForItem hasAttributes="Y">
                <Task hasAttributes="Y"/>
            </GetCountTaskForItem>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetCountTaskForItem" type="yfc:GetCountTaskForItemXSDType"/>
    <xsd:complexType name="GetCountTaskForItemXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Task"/>
        </xsd:sequence>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						Item that has been counted.
						<Validation>
                            <Condition>The <code>ItemID</code> is mandatory.
							</Condition>
                            <Error
                                Description="Item Details not passed." ErrorCode="WMS00020"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						Indicates the enterprise of the item counted.
						<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is mandatory.
							</Condition>
                            <Error
                                Description="Item Details not passed." ErrorCode="WMS00020"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="required">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						Indicates the unit of measure of the item counted.
						<Validation>
                            <Condition>
                                <code>UnitOfMeasure</code> is mandatory.
							</Condition>
                            <Error
                                Description="Item Details not passed." ErrorCode="WMS00020"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Task">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>This table stores list of all tasks across nodes.  Tasks represent a logical or a physical activity.  Every task must belong to a task type, which identifies the type of activity.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT">
                    <xsd:documentation>
                        <div>
							The task that has been accepted by the user.
							<Validation>
                                <Condition>The <code>TaskId</code> is mandatory.
								</Condition>
                                <Error Description="Task is mandatory." ErrorCode="WMS00117"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
