Data/xapidocs/api_javadocs/XSD/WMS_getMoveRequestStatusAuditDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getMoveRequestStatusAuditDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getMoveRequestStatusAuditDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getMoveRequestStatusAuditDetails_input.xsd" yfc:rootElement="MoveRequestStatusAudit">
        <xsd:appinfo source="yfc:structure">
            <MoveRequestStatusAudit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MoveRequestStatusAudit" type="yfc:MoveRequestStatusAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
            <xsd:documentation>This entity stores audits of all status changes on the move request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MoveRequestStatusAuditXSDType">
        <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>
                    <div>
                        <code>MoveRequestKey</code> identifies the move request to which this status audit belongs. This is the unique key of the <code>YFS_Move_Request_Status_Audit</code> table.
							<Validation>
                            <Condition>Either primary key (<code>MoveRequestStatusAuditKey</code>) or all attributes of unique key (<code>MoveRequestKey</code>, <code>OldStatus</code> and <code>NewStatus</code>) must be passed. Error if <code>MoveRequestKey</code> not passed alongwith <code>OldStatus</code> and <code>NewStatus</code>. 
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed." ErrorCode="WMS00063"/>
                        </Validation>
                        <Validation>
                            <Condition>Either primary key (<code>MoveRequestStatusAuditKey</code>) or all attributes of unique key (<code>MoveRequestKey</code>, <code>OldStatus</code> and <code>NewStatus</code>) must be passed. Error if Move request status audit for the passed <code>MoveRequestKey</code> does not exist in the database. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestStatusAuditKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="MOVE_REQUEST_STATUS_AUDIT_KEY" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>
                    <div>
						Primary key attribute of <code>YFS_Move_Request_Status_Audit</code> table.
							<Validation>
                            <Condition>Either primary key (<code>MoveRequestStatusAuditKey</code>) or all attributes of unique key (<code>MoveRequestKey</code>, <code>OldStatus</code> and <code>NewStatus</code>) must be passed. Error if <code>MoveRequestStatusAuditKey</code> is passed but not exist in the database. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatus" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>
                    <div>
                        <code>NewStatus</code> indicates new status of the move request. This is the unique key of the <code>YFS_Move_Request_Status_Audit</code> table.
							<Validation>
                            <Condition>Either primary key (<code>MoveRequestStatusAuditKey</code>) or all attributes of unique key (<code>MoveRequestKey</code>, <code>OldStatus</code> and <code>NewStatus</code>) must be passed. Error if <code>NewStatus</code> not passed alongwith <code>MoveRequestKey</code> and <code>OldStatus</code>. 
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed." ErrorCode="WMS00063"/>
                        </Validation>
                        <Validation>
                            <Condition>Either primary key (<code>MoveRequestStatusAuditKey</code>) or all attributes of unique key (<code>MoveRequestKey</code>, <code>OldStatus</code> and <code>NewStatus</code>) must be passed. Error if Move request status audit for the passed <code>NewStatus</code> does not exist in the database. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldStatus" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>
                    <div>
                        <code>OldStatus</code> indicates old status of the move request. This is the unique key of the <code>YFS_Move_Request_Status_Audit</code> table.
							<Validation>
                            <Condition>Either primary key (<code>MoveRequestStatusAuditKey</code>) or all attributes of unique key (<code>MoveRequestKey</code>, <code>OldStatus</code> and <code>NewStatus</code>) must be passed. Error if <code>OldStatus</code> not passed alongwith <code>MoveRequestKey</code> and <code>NewStatus</code>. 
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed." ErrorCode="WMS00063"/>
                        </Validation>
                        <Validation>
                            <Condition>Either primary key (<code>MoveRequestStatusAuditKey</code>) or all attributes of unique key (<code>MoveRequestKey</code>, <code>OldStatus</code> and <code>NewStatus</code>) must be passed. Error if Move request status audit for the passed <code>OldStatus</code> does not exist in the database. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
