Data/xapidocs/api_javadocs/XSD/WMS_transferLocnInvOwnership_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/transferLocnInvOwnership/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/transferLocnInvOwnership/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_transferLocnInvOwnership_input.xsd" yfc:rootElement="TransferOwnership">
        <xsd:appinfo source="yfc:structure">
            <TransferOwnership hasAttributes="Y">
                <Source hasAttributes="Y">
                    <FromInventory hasAttributes="Y">
                        <InventoryItem hasAttributes="Y"/>
                    </FromInventory>
                    <ToInventory>
                        <InventoryItem hasAttributes="Y"/>
                    </ToInventory>
                </Source>
                <Audit hasAttributes="Y"/>
            </TransferOwnership>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransferOwnership" type="yfc:TransferOwnershipXSDType"/>
    <xsd:complexType name="TransferOwnershipXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Source"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Audit"/>
        </xsd:all>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="required"/>
        <xsd:attribute name="Node" type="yfctype:String" use="required"/>
    </xsd:complexType>
    <xsd:element name="Source">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FromInventory"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ToInventory"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LocationId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PalletId" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FromInventory">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                        <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="InventoryOrganizationCode"
                            type="yfctype:OrgCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryStatus"
                            type="yfctype:String" use="required"/>
                        <xsd:attribute name="ItemID"
                            type="yfctype:ItemID" use="optional">
                            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ProductClass"
                            type="yfctype:ProductClass" use="optional">
                            <xsd:annotation
                                yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UnitOfMeasure"
                            type="yfctype:UOM" use="optional">
                            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="InventoryItemKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InventoryStatus" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Node" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipByDate" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToInventory">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                        <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="InventoryOrganizationCode"
                            type="yfctype:OrgCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Audit">
        <xsd:annotation yfc:tableName="YFS_AUDIT">
            <xsd:documentation>This table stores the audit record for entities that require an audit. A record for every update and delete for the 'audited' entity will be inserted in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DocumentType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReasonCode" type="yfctype:String" use="required"/>
            <xsd:attribute name="ReasonText" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Reference1"
                type="yfctype:ReferenceValue-255" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference4"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference5"
                type="yfctype:ReferenceValue-200" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_5" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
