Data/xapidocs/api_javadocs/XSD/WMS_overrideShipmentGroupUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/overrideShipmentGroupUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/overrideShipmentGroupUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_overrideShipmentGroupUE_output.xsd" yfc:rootElement="ShipmentGroup">
        <xsd:appinfo source="yfc:structure">
            <ShipmentGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipmentGroup" type="yfc:ShipmentGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_GROUP">
            <xsd:documentation>
                <div>
                This element must be passed. If shipment group information is returned it must be returned for the same <code>Node</code> as what is passed to the user exit. There is no validation performed for this. If shipment group information is not returned then shipment passed will be removed from the wave.
            </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentGroupXSDType">
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>
                    <div>
				This must be passed if <code>ShipmentGroupId</code> is passed. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>
                    <div>
				If passed, must be a valid <code>ShipmentGroupId</code> for the Node, in the table <code>YFS_SHIPMENT_GROUP</code>.
				<Validation>
                            <Error Description="Invalid Shipment Group." ErrorCode="WMS00128"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>
                    <div>
				If passed, must be a valid <code>ShipmentGroupKey</code> for the Node, in the table <code>YFS_SHIPMENT_GROUP</code>.
				<Validation>
                            <Error Description="Invalid Shipment Group." ErrorCode="WMS00128"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
