Data/xapidocs/api_javadocs/XSD/WMS_canLocationBeSuggestedForPutawayUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/canLocationBeSuggestedForPutawayUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/canLocationBeSuggestedForPutawayUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_canLocationBeSuggestedForPutawayUE_output.xsd" yfc:rootElement="CanLocationBeSuggested">
        <xsd:appinfo source="yfc:structure">
            <CanLocationBeSuggested hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CanLocationBeSuggested" type="yfc:CanLocationBeSuggestedXSDType"/>
    <xsd:complexType name="CanLocationBeSuggestedXSDType">
        <xsd:attribute name="LocationIsOK" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>This determines whether to suggest this location or ignore it.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
