Data/xapidocs/api_javadocs/XSD/WMS_getZoneListForCount_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getZoneListForCount/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getZoneListForCount/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getZoneListForCount_input.xsd" yfc:rootElement="Zone">
        <xsd:appinfo source="yfc:structure">
            <Zone hasAttributes="Y">
                <ZoneEnterprise hasAttributes="Y"/>
            </Zone>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Zone" type="yfc:ZoneXSDType">
        <xsd:annotation yfc:tableName="YFS_ZONE">
            <xsd:documentation>This table stores the zone level setup details for a warehouse. The warehouse may be divided into multiple zones based on the product storage, packaging types, etc. Zone is a way of classifying a set of locations that share common properties. Locations belong to zones. Zone level storage constraints are auto propagated to locations through membership in a zone. The mix and do not mix constraints at zone level, apply to every single location in the zone.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ZoneXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZoneEnterprise"/>
        </xsd:all>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The node key that is associated with this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ZoneEnterprise">
        <xsd:annotation yfc:tableName="YFS_ZONE_ENTERPRISE">
            <xsd:documentation>This table defines different enterprises that store inventory in a given zone. One or more enterprise's inventory can be stored in a zone. However, whether inventory from two different enterprises can be mixed in a location depends on the mix enterprise attribute on the zone, which is propagated to every location of the zone.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>This field specifies the enterprise identifier. This is a unique key attribute of the YFS_ENTERPRISE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
