Data/xapidocs/api_javadocs/XSD/WMS_getLocationInventoryAuditDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getLocationInventoryAuditDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getLocationInventoryAuditDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getLocationInventoryAuditDetails_input.xsd" yfc:rootElement="LocationInventoryAudit">
        <xsd:appinfo source="yfc:structure">
            <LocationInventoryAudit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationInventoryAudit" type="yfc:LocationInventoryAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
            <xsd:documentation>Stores audit information for every single location inventory transaction.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationInventoryAuditXSDType">
        <xsd:attribute name="LocnInventoryAuditKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="LOCN_INVENTORY_AUDIT_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>
                    <div>
					Primary key attribute of <code>YFS_ LOCN_INVENTORY_AUDIT</code> table.
						<Validation>
                            <Condition>
                                <code>LocnInventoryAuditKey</code> passed does not exist. 
							</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
