Data/xapidocs/api_javadocs/XSD/WMS_MANAGE_DOCK_APPOINTMENT.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/MANAGE_DOCK_APPOINTMENT/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/MANAGE_DOCK_APPOINTMENT/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_MANAGE_DOCK_APPOINTMENT.ON_SUCCESS.xsd" yfc:rootElement="DockAppointment">
        <xsd:appinfo source="yfc:structure">
            <DockAppointment hasAttributes="Y">
                <ResourcePoolCapacityConsumptionDetails hasAttributes="Y">
                    <CapacityConsumption hasAttributes="Y"/>
                </ResourcePoolCapacityConsumptionDetails>
            </DockAppointment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DockAppointment" type="yfc:DockAppointmentXSDType">
        <xsd:annotation yfc:tableName="YFS_DOCK_APPOINTMENT">
            <xsd:documentation>All appointments taken for dock location(s) are stored in this table. The table can also store the reference to the shipment, load, carrier etc. for which appointment is taken.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DockAppointmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePoolCapacityConsumptionDetails"/>
        </xsd:all>
        <xsd:attribute name="AppointmentNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="APPOINTMENT_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The appointment number is a one up number that system generates to uniquely identify the dock appointments in a node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppointmentType" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="APPOINTMENT_TYPE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>This field indicates the appointment type of the appointment being taken. It can either be OUTBOUND or INBOUND.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BolNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The bill of lading number .</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Carrier" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="CARRIER" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The carrier service code associated with the dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DockAppointmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DOCK_APPOINTMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The primary key for the YFS_DOCK_APPOINTMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The load key of the load associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The node key that is associated with this appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The order header key of the order associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>Organization code of the user creating the appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The progressive number. It is generated for Loads with shipment mode as LTL, also if shipment mode changes from any other mode to LTL. Re-generation of PRO number happens, when the Carrier changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResPoolConsmptnDtlsKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RES_POOL_CONSMPTN_DTLS_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The primary key for the YFS_RES_POOL_CONSMPTN_DTLS_KEY table which is associated to this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The shipment key of the shipment associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The trailer number by which the shipment/load leaves the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ResourcePoolCapacityConsumptionDetails">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
            <xsd:documentation>This table stores capacity consumption details of reservations, service lines, and work order appointments.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacityConsumption"/>
            </xsd:all>
            <xsd:attribute name="ReservationId" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="RESERVATION_ID" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The identifier for this capacity reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CapacityConsumption">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
            <xsd:documentation>This table stores resource pool capacity consumption for each date/shift combination.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConsumptionDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="CONSUMPTION_DATE" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The date that this capacity consumption is specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The shift end time for which consumption is specified. For INVENTORY resource pools, this defaults to 23:59:59.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YFS_RES_POOL_CAPCTY_CONSMPTN">
                    <xsd:documentation>The shift start time for which consumption is specified. For INVENTORY resource pools, this defaults to 00:00:00.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
