Data/xapidocs/api_javadocs/XSD/WMS_getCountRecordSummary_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getCountRecordSummary/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getCountRecordSummary/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getCountRecordSummary_input.xsd" yfc:rootElement="CountRecordSummary">
        <xsd:appinfo source="yfc:structure">
            <CountRecordSummary hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountRecordSummary" type="yfc:CountRecordSummaryXSDType"/>
    <xsd:complexType name="CountRecordSummaryXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="required">
            <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						The task identifier for which count is performed.
						<Validation>
                            <Condition>The <code>TaskId</code> is mandatory.
							</Condition>
                            <Error Description="Task is mandatory." ErrorCode="WMS00117"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
