Data/xapidocs/api_javadocs/XSD/WMS_getCanActivitybePerformed_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getCanActivitybePerformed/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getCanActivitybePerformed/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getCanActivitybePerformed_output.xsd" yfc:rootElement="ActivityGroupInfo">
        <xsd:appinfo source="yfc:structure">
            <ActivityGroupInfo hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ActivityGroupInfo" type="yfc:ActivityGroupInfoXSDType"/>
    <xsd:complexType name="ActivityGroupInfoXSDType">
        <xsd:attribute name="ActivityGroup" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ActivityGroupId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The API is called to find out if any activity belonging to this activity group can be performed or not.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanActivityBePerformed"
            type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						This attribute states whether the activity passed in the input can be performed or not.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISECODE" yfc:tableName="YFS_ENTERPRISE">
                <xsd:documentation>
                    <div>
						Enterprise passed in input.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
