Data/xapidocs/api_javadocs/XSD/WMS_releaseWave_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/releaseWave/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/releaseWave/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_releaseWave_input.xsd" yfc:rootElement="Wave">
        <xsd:appinfo source="yfc:structure">
            <Wave hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Wave" type="yfc:WaveXSDType">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <code>WaveKey</code> attribute OR the <code>WaveNo</code> and <code>Node</code> attributes must be passed and must be valid. 
					</Condition>
                        <Error
                            Description="WMS: Wave does not exist for the input passed." ErrorCode="WMS00129"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WaveXSDType">
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
