Data/xapidocs/api_javadocs/XSD/WMS_getShipmentProfileSummary_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getShipmentProfileSummary/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getShipmentProfileSummary/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getShipmentProfileSummary_input.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:attribute name="ConsiderShipmentsIncludedInwave"
            type="yfctype:Text-1" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        Default: <b>
                            <code>A</code>
                        </b>
                        <br/>Valid Values:
                        <br/>
                        <b>
                            <code>A</code>
                        </b> - Consider All Profiles
                        <br/>
                        <b>
                            <code>Y</code>
                        </b> - Consider Profiles included in a wave
						<br/>
                        <b>
                            <code>N</code>
                        </b> - Consider Profiles not included in a wave
                  </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>Indicates the node or warehouse.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderBy" type="yfctype:Text-1" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        Default: <b>
                            <code>H</code>
                        </b>
                        <br/>Valid Values:
                        <br/>
                        <b>
                            <code>H</code>
                        </b> - Returns records in descending order of Total No of shipments
                        <br/>
                        <b>
                            <code>L</code>
                        </b> - Returns records in ascending order of Total No of shipments.
                  </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProfileId" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
