Data/xapidocs/api_javadocs/XSD/WMS_postPickContainerization_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/postPickContainerization/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/postPickContainerization/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_postPickContainerization_output.xsd" yfc:rootElement="ContainerizeShipmentLines">
        <xsd:appinfo source="yfc:structure">
            <ContainerizeShipmentLines hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ContainerizeShipmentLines" type="yfc:ContainerizeShipmentLinesXSDType"/>
    <xsd:complexType name="ContainerizeShipmentLinesXSDType">
        <xsd:attribute name="BatchNo" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
				Batch # whose shipment lines needs to be containerized.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION">
                <xsd:documentation>
                    <div>A valid location in the Node</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>
                    <div>
				Ship Node corresponding to the specified Batch # or Inventory Pallet Id.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>
                    <div>
				Seller Organization Code of the shipment that needs to be containerized.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>
                    <div>
				Shipment key of the shipment that needs to be containerized.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>
                    <div>
				Shipment # of the shipment that needs to be containerized.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StationId" type="yfctype:EquipmentId" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_ID" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>
                    <div>Station associated to pack location</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetLPNNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TARGET_LPN_NO" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
				Inventory Pallet Id whose shipment lines need to be containerized.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
