Data/xapidocs/api_javadocs/XSD/WMS_getPickLocationsForMoves_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPickLocationsForMoves/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPickLocationsForMoves/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getPickLocationsForMoves_input.xsd" yfc:rootElement="getPickLocationsForMoves">
        <xsd:appinfo source="yfc:structure">
            <getPickLocationsForMoves hasAttributes="Y">
                <Target hasAttributes="Y">
                    <Inventory hasAttributes="Y">
                        <Receipt hasAttributes="Y"/>
                        <InventoryItem hasAttributes="Y"/>
                        <TagDetail hasAttributes="Y"/>
                    </Inventory>
                </Target>
                <EligibleInventoryStatusList>
                    <EligibleInventoryStatus hasAttributes="Y"/>
                </EligibleInventoryStatusList>
            </getPickLocationsForMoves>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getPickLocationsForMoves" type="yfc:getPickLocationsForMovesXSDType"/>
    <xsd:complexType name="getPickLocationsForMovesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Target"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EligibleInventoryStatusList"/>
        </xsd:all>
        <xsd:attribute name="Activity" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ActivityGroup" type="yfctype:String" use="optional"/>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="Target">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Inventory"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the Id of the Case which contains the Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the Id of the Pallet which contains the Item or contains the Case containing the Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Inventory">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryItem"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TagDetail"/>
            </xsd:all>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FifoNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InventoryItemKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InventoryStatus" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InventoryTagKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Quantity" type="yfctype:String" use="required"/>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Segment" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SegmentType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipByDate" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryItem">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="required">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="required">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TagDetail">
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LotAttribute1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LotAttribute2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LotAttribute3" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LotKeyReference" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LotNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturingDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="RevisionNo" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EligibleInventoryStatusList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EligibleInventoryStatus"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EligibleInventoryStatus">
        <xsd:complexType>
            <xsd:attribute name="InventoryStatus" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
