Data/xapidocs/api_javadocs/XSD/WMS_getShipmentGroupList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getShipmentGroupList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getShipmentGroupList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getShipmentGroupList_output.xsd" yfc:rootElement="ShipmentGroupList">
        <xsd:appinfo source="yfc:structure">
            <ShipmentGroupList>
                <ShipmentGroup hasAttributes="Y"/>
            </ShipmentGroupList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipmentGroupList" type="yfc:ShipmentGroupListXSDType"/>
    <xsd:complexType name="ShipmentGroupListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipmentGroup"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ShipmentGroup">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_GROUP">
            <xsd:documentation>A shipment group is a group of shipments that share similar operational characteristics.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AcceptWave" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ACCEPT_WAVE" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Valid values are: Auto, Manual, Conditional. If it is conditional then either Min_Volume or Min_No_Of_Shipments should be specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Calendar Key used in wave release schedule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>A brief description of the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveDateFrom"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_DATE_FROM" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the date on which the shipment group is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveDateTo" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_DATE_TO" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the date after which this shipment group is not available.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Specifies maximum number of records to be fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinNoOfShipments"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MIN_NO_OF_SHIPMENTS" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>If the number of shipments in a wave exceeds this number, the wave will be accepted automatically depending on the accept_value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinVolume" type="yfctype:Volume" use="optional">
                <xsd:annotation yfc:columnName="MIN_VOLUME" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>If volume of the wave exceeds this number, the wave will be accepted automatically depending on the accept_value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfConcurrentWaves"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="NO_OF_CONCURRENT_WAVES" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field specifies the number of waves that were released concurrently.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickStrategyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PICK_STRATEGY_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the pipeline this wave belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:EnumPriority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Valid values are: 1 - Urgent, 2 - High, 3 - Normal (Default), 4 - Low.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the sequence number for the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field identifies the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_GROUP_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SortStrategyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SORT_STRATEGY_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
