Data/xapidocs/api_javadocs/XSD/WMS_ZONE_DEFINITION.AFTER_DELETE_ZONE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/ZONE_DEFINITION/AFTER_DELETE_ZONE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/ZONE_DEFINITION/AFTER_DELETE_ZONE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_ZONE_DEFINITION.AFTER_DELETE_ZONE.xsd" yfc:rootElement="Zone">
        <xsd:appinfo source="yfc:structure">
            <Zone hasAttributes="Y">
                <InventoryStatusTransitions>
                    <InventoryStatusTransition hasAttributes="Y"/>
                </InventoryStatusTransitions>
                <ZoneEnterprises>
                    <ZoneEnterprise hasAttributes="Y">
                        <StorageConstraints>
                            <StorageConstraint hasAttributes="Y"/>
                        </StorageConstraints>
                    </ZoneEnterprise>
                </ZoneEnterprises>
                <ZoneLocations>
                    <ZoneLocation hasAttributes="Y">
                        <LocationSize hasAttributes="Y">
                            <LocationCapacities>
                                <LocationCapacity hasAttributes="Y"/>
                            </LocationCapacities>
                        </LocationSize>
                        <SKUDedications>
                            <SKUDedication hasAttributes="Y"/>
                        </SKUDedications>
                    </ZoneLocation>
                </ZoneLocations>
            </Zone>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Zone" type="yfc:ZoneXSDType">
        <xsd:annotation yfc:tableName="YFS_ZONE">
            <xsd:documentation>This table stores the zone level setup details for a warehouse. The warehouse may be divided into multiple zones based on the product storage, packaging types, etc. Zone is a way of classifying a set of locations that share common properties. Locations belong to zones. Zone level storage constraints are auto propagated to locations through membership in a zone. The mix and do not mix constraints at zone level, apply to every single location in the zone.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ZoneXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryStatusTransitions"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZoneEnterprises"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZoneLocations"/>
        </xsd:all>
        <xsd:attribute name="AttemptSKUConsolidation"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ATTEMPT_SKU_CONSOLIDATION" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether the putaway item should be consolidated in a location that contains similar items as per the inventory. This attribute is used during putaway location selection.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuildingNumber" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="BUILDING_NUMBER" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field identifies the building number where zone is located.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CheckDigit" type="yfctype:VText-5" use="optional">
            <xsd:annotation yfc:columnName="CHECK_DIGIT" yfc:tableName="YFS_ZONE">
                <xsd:documentation>Check Digit is a numeric representation of Zone. It is generally used by Voice Systems to verify the Zone. Zone Check Digit is unique for a Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfirmLocnEmptyAfterPick"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CNF_LOCN_EMT_AFTER_PICK" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether the empty location confirmation screen on the mobile pick and retrieval transaction displays whenever the location is empty, as a part of the pick process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ZONE">
                <xsd:documentation>A brief description of the zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForceLocnScanOnVisit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FORCE_LOCN_SCAN_ON_VISIT" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether an RF user is forced to scan a location per visit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActiveZone" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE_ZONE" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether the zone is a forward pick zone. This is used by putaway location selection.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationsPerItem"
            type="yfctype:NonZeroCount" use="optional">
            <xsd:annotation yfc:columnName="LOCATIONS_PER_ITEM" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates the maximum number of locations that any item can occupy in this zone. This is relevant in zones that are close to the docks, considered premium zones, which typically stock all representative fast selling items. The number of locations per item should not exceed this number as they may occupy a more number of locations when they arrive in large numbers while receiving.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ZONE">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixCountryOfOrigin"
            type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_COUNTRY_OF_ORIGIN" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items with different country of origin can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items with different country of origin will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items with different country of origin, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory with different country of origin within that zone. Never allow: Indicates that items with different country of origin will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixEnterprise"
            type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_ENTERPRISE" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items belonging to different enterprises can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different enterprises will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different enterprises, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to various enterprises within that zone. Never allow: Indicates that items belonging to different enterprises will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixFifo" type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_FIFO" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items arriving at the node on a  different date and at a different time with different FIFO numbers can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items with different FIFO numbers will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items with different FIFO numbers, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory with different FIFO numbers within that zone. Never allow: Indicates that items with different FIFO numbers will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixInventoryStatus"
            type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_INVENTORY_STATUS" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether the items belonging to different statuses can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different statuses will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different statuses, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to different statuses within that zone. Never allow: Indicates that items belonging to different statuses will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixInventoryTag"
            type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_INVENTORY_TAG" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items belonging to different lots can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different lots will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different lots, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to various lots within that zone. Never allow: Indicates that items belonging to different lots will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixProductClass"
            type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_PRODUCT_CLASS" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items belonging to different product classes can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different product classes will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different product classes, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to various product classes within that zone. Never allow: Indicates that items belonging to different product classes will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixReceiptNo"
            type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_RECEIPT_NO" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items belonging to different receipts can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different receipts will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different receipts, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to different receipts within that zone. Never allow: Indicates that items belonging to different receipts will never be mixed in this zone. This ensures that the receipt number of all non-license plated stock in that location will be blanked out.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixSKU" type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_SKU" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items belonging to different SKUs can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different SKUs will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different SKUs, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to various SKUs within that zone. Never allow: Indicates that items belonging to different SKUs will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixSegment"
            type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_SEGMENT" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items customized for a customer or a customer's order can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items customized for a customer or a customer's order will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that customized for a customer or a customer's order, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory customized for a customer or a customer's order within that zone. Never allow: Indicates that items customized for a customer or a customer's order will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MixShipByDate"
            type="yfctype:EnumMixConstraints" use="optional">
            <xsd:annotation yfc:columnName="MIX_SHIP_BY_DATE" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field indicates whether the items with different ship by date can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items with different ship by date will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items with different ship by date, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory with different ship by date within that zone. Never allow: Indicates that items with different ship by date will never be mixed in this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The node key that is associated with this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimaryBulkZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation yfc:columnName="PRIMARY_BULK_ZONE_ID" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This field identifies the primary bulk zone identifier. The primary bulk zone identifies the active zone in which a bulk stock is stored to replenish the zone. This is used for forward pick zones when suggesting putaway to locations nearest to the dedicated locations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PutOnVarianceHold" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PUT_ON_VARIANCE_HOLD" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether the locations belonging to a zone are put on variance hold for pick and putaway. When negative variance is found during the count process, all locations belonging to the zone with this flag checked will be put on variance hold for pick and putaway.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrackCaseLPN" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TRACK_CARTON_LPN" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether the inventory is tracked in this zone. Typically, in forward pick zone, the business process may mandate that inventory should not be tracked at license plate level to avoid extra scans from the user at every pick. Otherwise, the user would need to scan the license plate for every unit picked to specify the license plate from where the stock was picked up.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrackInventory" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TRACK_INVENTORY" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether the inventory is tracked in this zone. In instances where a warehouse has a manufacturing plant attached to it, and it is required that there be a hand-off of inventory between these two systems, then the WMS application will simply move inventory to a location in this zone, and automatically move inventory out of the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrackPalletLPN" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TRACK_PALLET_LPN" yfc:tableName="YFS_ZONE">
                <xsd:documentation>This flag indicates whether the inventory is tracked in this zone. Typically, in forward pick zone, the business process may mandate that inventory should not be tracked at license plate level to avoid extra scans from the user at every pick. Otherwise, the user would need to scan the license plate for every unit picked, to specify the license plate from where the stock was picked up.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The field indicates the zone identifier. This forms a unique key for the YFS_ZONE table associated with the NODE_KEY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The primary key for the YFS_ZONE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InventoryStatusTransitions">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryStatusTransition"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryStatusTransition">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
            <xsd:documentation>To support automatic change of inventory status and therefore the supplies associated with it, zones have an inventory status transition matrix associated with them. What this implies is that as a result of an operation if inventory is moved to a specific zone, inventory status would automatically change and as a result the supply picture would change automatically. For example, let's consider Inventory in status Awaiting QC check in the QC area. Once the inventory check is done and the product moved to a zone where put away of QC okay products are typically stored, then the inventory status changes from Awaiting QC to Normal.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The inventory status of the product being put away to this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatusTransitionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_STATUS_TRAN_KEY" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The primary key for the YFS_INVENTORY_STATUS_TRAN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewInventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="NEW_INVENTORY_STATUS" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The new inventory status acquired by a product upon moving to a zone. Inventory will be status Awaiting QC check in the QC area. Once the inventory check is done and the product moved to a zone where put away of QC okay products are typically stored, then the inventory status changes from Awaiting QC to Normal.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                    <xsd:documentation>The identifier of the  zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZoneEnterprises">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZoneEnterprise"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZoneEnterprise">
        <xsd:annotation yfc:tableName="YFS_ZONE_ENTERPRISE">
            <xsd:documentation>This table defines different enterprises that store inventory in a given zone. One or more enterprise's inventory can be stored in a zone. However, whether inventory from two different enterprises can be mixed in a location depends on the mix enterprise attribute on the zone, which is propagated to every location of the zone.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StorageConstraints"/>
            </xsd:all>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>This field specifies the enterprise identifier. This is a unique key attribute of the YFS_ENTERPRISE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneEnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ENTERPRISE_KEY" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The primary key for the YFS_ZONE_ENTERPRISE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The primary key for the YFS_ZONE_ENTERPRISE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StorageConstraints">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StorageConstraint"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StorageConstraint">
        <xsd:annotation yfc:tableName="YFS_STORAGE_CONSTRAINT">
            <xsd:documentation>This table stores one or more records indicating what items or category of items may be stored in a zone/location. This could also be imagined to as having dedication information for a zone/location for an item, product line, velocity, catalog organization, etc. While doing put away, these constraints are used to determine the zone to stow away received inventory. Zones or locations with no storage constraints can store any inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification1"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_1" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>This field indicates that the items are grouped under item classification one.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification2"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_2" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>This field indicates that the items are grouped under item classification two.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification3"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_3" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>This field indicates that the items are grouped under item classification three.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageConstraintKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_CONSTRAINT_KEY" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The primary key for the YFS_STORAGE_CONSTRAINT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneEnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ENTERPRISE_KEY" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The primary key for the YFS_STORAGE_CONSTRAINT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZoneLocations">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZoneLocation"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZoneLocation">
        <xsd:annotation yfc:tableName="YFS_LOCATION">
            <xsd:documentation>Warehouse zones are further divided into locations of different sizes where inventory is stored. Each location belongs to a zone and a node. It is classified as INTRANSIT, REGULAR, VIRTUAL, STAGING or DOCK. It has attributes like aisle number, bay number, level number etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationSize"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SKUDedications"/>
            </xsd:all>
            <xsd:attribute name="AisleNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="AISLE_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the aisle Number of the location. The locations belong to zones which have travel aisle's between them. A zone could belong to multiple aisles and multiple zones could belong to an aisle. But a location in a zone always belongs to one and only one aisle.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AisleSuffix" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="AISLE_SUFFIX" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>this field indicates the aisle section of the location id.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BayNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="BAY_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the location's bay number. Typically, the aisle, level and bay put together represents the physical location of the location in a node, if they are based on coordinate system. The bay attribute of the location (x-coordinate from the beginning of the aisle) is used in arriving at locations nearest to the dedicated locations algorithm that is used in putaway. Typically, the bay attribute is contained within the location ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeMoveIn" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FREEZE_MOVE_IN" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This flag indicates whether the inventory is moved into the location. This is used for warehouses with certain number of locations. However, the usage of locations is phased out over a period of time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeMoveOut" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FREEZE_MOVE_OUT" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This flag indicates whether inventory is moved out of the location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InStagingLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="IN_STAGING_LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that the inventory is dropped into the drop off locations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the level number of the location. The height of the location (y-co-ordinate of the location from the floor) is classified as levels. The level attribute of the location is used in arriving at locations nearest to the dedicated locations algorithm used during the putaway process. Typically, the level attribute is contained within the location ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationBarCode"
                type="yfctype:LocationBarCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_BAR_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that a numeric barcode of the location identifier is stored for this location. The way this is intended to be used in WMS is that an RF operator when prompted to scan the location Id is also expected to scan the location bar code on the RF terminal. This ensures that the operator has traveled to the location suggested by the system and picked up or dropped off inventory at the specified location. Simply keying in the human readable form of the location ID on the RF terminal will be rejected by the system. The objective of this feature is to ensure inventory accuracy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the unique identifier for the location. The combination of the LOCATION_ID and NODE_KEY forms the unique key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_KEY" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The primary key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationSizeCode"
                type="yfctype:LocationSizeCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field defines the capacity of the location. All locations having the same size (dimensions and ability to hold the same weight) are classified under the same size code. This maps to the primary key attribute of the YFS_LOCATION_SIZE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationType"
                type="yfctype:EnumLocationType" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_TYPE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is a system defined classification of location to aid association of locations of certain types for certain other operations with WMS. The supported types are: INTRANSIT (Mobile locations), STAGING, VIRTUAL, REGULAR and DOCK. For example, all equipment locations should be of type INTRANSIT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveInSeqNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MOVE_IN_SEQ_NO" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is used by task management to suggest location while moving in the inventory (putaway). The putaway location selection algorithm uses this information to select locations from a list of locations based on the move in sequence.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveOutSeqNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MOVE_OUT_SEQ_NO" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is used by task management to suggest location while moving out inventory (picking). The pick location selection algorithm uses this information to select locations from a list of locations based on its move in sequence.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutStagingLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="OUT_STAGING_LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the Out Drop off Location where moves originated at this location, and may be dropped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageCode" type="yfctype:StorageCode" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is an attribute of the location that allows the warehouse to store items with similar storage profile as that of the location.  For example, hazardous inflammable items need locations close to fire extinguishers. In this case the locations will be marked as having a storage code, which is suitable for storing Inflammable items. This ensures that only inflammable items get to these locations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VelocityCode"
                type="yfctype:VelocityCode" use="optional">
                <xsd:annotation yfc:columnName="VELOCITY_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that the items are classified as 'A', 'B' or 'C' class items based on whether they are fast selling, not so fast selling and low selling items. These item classifications are typically followed by all enterprises to optimize certain operations such as sourcing and stocking. The reason to have locations that prefer certain velocity codes is to have locations closer to dock stocking 'A' class items, and locations furthest away from the dock stocking 'C' class items. The velocity code is a preference on the location and not a constraint. If 'A' class items fill up all locations meant for 'A' class items, then they can be moved to 'B' and later 'C'. Similarly, 'C' can go to 'B' and 'A' for lack of space in the respective locations preferred for a specific velocity code. The 'B' class items move into 'C' and then into 'A'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the zone to which a location belongs. This when associated with the  node key identifies a unique zone within the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationSize">
        <xsd:annotation yfc:tableName="YFS_LOCATION_SIZE">
            <xsd:documentation>Each location belongs to a specific location size code. Location size code defines the dimensions of the location, and the weight that it can withstand when products are stored in the location.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationCapacities"/>
            </xsd:all>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>A brief description of the size code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DimensionUom" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Unit of measure for Dimension. This unit of measure applies to Height, Length and Width attributes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Height" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="HEIGHT" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>This field indicates the height of location. The height is as per the dimension UOM set up against the node's locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInfiniteCapacity" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INFINITE_CAPACITY" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>This flag indicates whether the dimension related fields are used to compute capacity, and whether the capacity checks are done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Length" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="LENGTH" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>This field specifies the length of the location. The length is as per the dimension UOM set up against the node's locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationSizeCode"
                type="yfctype:LocationSizeCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>This field specifies the location size identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationSizeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_SIZE_KEY" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>The primary key for the YFS_LOCATION_SIZE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MAX_WEIGHT" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>This field indicates the maximum weight that this location can hold. The weight's UOM is as per the weight UOM set up against the node's locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Volume" type="yfctype:Volume" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Volume that a location can hold. This field is computed using the Height, Length and Width attributes as defined above.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VolumeUom" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Unit of measure for Volume.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUom" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Unit of measure for Weight.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Width" type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="WIDTH" yfc:tableName="YFS_LOCATION_SIZE">
                    <xsd:documentation>This field specifies the width of the location. The dimension UOM of breadth is as per the dimension UOM set up against the node's locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationCapacities">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationCapacity"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationCapacity">
        <xsd:annotation yfc:tableName="YFS_LOCATION_CAPACITY">
            <xsd:documentation>Each location has a certain capacity in terms of number of packages of certain packaging type. Item has dimensions and so has the location (size code). We could very easily have computed the location capacity by volume of item versus the volume of the location. If you notice, we have classified locations as belonging to locations of a certain size type and then associated dimensions with the size type. This significantly reduces the amount of data that needs to be configured. Similarly, we would need to classify items into categories for purposes of capacity calculations, so that we have lesser data to configure. For example, all items coming in a 2 feet * 2 feet * 2 feet box can be classified as having a capacity code of 2 feet cube packaged as a carton (packaging type). Similarly we could have the same item coming in a 6 * 6 * 6 feet pallet, which could be classified as 6 feet cube pallet. What is defined here is how many such packages can fit within the location of a particular size code. If this is not setup here at the item classification level, then capacity computation is done using volumes of the item versus volume of the location.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field specifies the enterprise identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassificationCode"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_CLASSIFICATION_CODE" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field specifies the item classification identifier. This field allows to dynamically select a capacity classification attribute of an item for defining the capacity constraints.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationCapacityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_CAPACITY_KEY" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The primary key for the YFS_LOCATION_CAPACITY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationSizeCode"
                type="yfctype:LocationSizeCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field specifies the location size identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfPackages" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="NO_OF_PACKAGES" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field indicates the location capacity in terms of number of packages.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackagingType"
                type="yfctype:PackagingType" use="optional">
                <xsd:annotation yfc:columnName="PACKAGING_TYPE" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field indicates the packaging type, such as Pallets, Cartons.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SKUDedications">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SKUDedication"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SKUDedication">
        <xsd:annotation yfc:tableName="YFS_SKU_DEDICATION">
            <xsd:documentation>This contains definitions of locations that are dedicated to certain SKUs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>This field identifies the enterprise to which the location is dedicated .</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>This field specifies the item's ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>This field specifies the location identifier. This field when associated with the NODE_KEY identifies a unique location in the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MAX_QTY" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>This quantity indicates the maximum quantity upto which location can be replenished. This quantity is used by Release Wave and Location Monitor transactions while replenishing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MIN_QTY" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>If the inventory at the dedicated location goes below this quantity then replenishment is triggered for the location. Replenishment is triggered by Release Wave and Location Monitor transactions upon additional configuration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>This field specifies the item's product class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SKUDedicationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SKU_DEDICATION_KEY" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>The primary key for the YFS_SKU_DEDICATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>This field stores customization details for those items that are custom specific. When the inventory is customized for a specific order, it needs to be tracked separately so that it can be allocated to that order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>This field stores customization details for items that are custom specific.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_SKU_DEDICATION">
                    <xsd:documentation>The item's unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
