Data/xapidocs/api_javadocs/XSD/WMS_managePhysicalCount_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/managePhysicalCount/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/managePhysicalCount/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_managePhysicalCount_input.xsd" yfc:rootElement="PhysicalCountPlan">
        <xsd:appinfo source="yfc:structure">
            <PhysicalCountPlan hasAttributes="Y">
                <PhysicalCountPlanActivities>
                    <PhysicalCountPlanActivity hasAttributes="Y"/>
                </PhysicalCountPlanActivities>
            </PhysicalCountPlan>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PhysicalCountPlan" type="yfc:PhysicalCountPlanXSDType">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_PLAN">
            <xsd:documentation>This transaction table is to store the values of a planned physical count in a warehouse.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PhysicalCountPlanXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PhysicalCountPlanActivities"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>Specifies the Action to be performed.Valid Actions are 'CREATE' , 'MODIFY', 'CANCEL' and 'DELETE'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Duration" type="yfctype:Quantity" use="required">
            <xsd:annotation yfc:columnName="PHY_CNT_DURATION" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>The duration of the physical count plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DurationUOM" type="yfctype:UOM" use="required">
            <xsd:annotation yfc:columnName="DURATION_UOM" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>Physical Count's Duration UOM.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Enterprise" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:Text-24" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>Node for which physical count plan is setup.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlanName" type="yfctype:Text-24" use="required">
            <xsd:annotation yfc:columnName="PHY_CNT_PLAN_NAME" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>Plan Name of the physical count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:TimeStamp" use="required">
            <xsd:annotation yfc:columnName="PHY_CNT_START_DATE" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>The date of start of the physical count plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PhysicalCountPlanActivities">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PhysicalCountPlanActivity"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PhysicalCountPlanActivity">
        <xsd:complexType>
            <xsd:attribute name="Duration" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DurationUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PCActivityCategoryName"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
