Data/xapidocs/api_javadocs/XSD/WMS_getDockAppointmentDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getDockAppointmentDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getDockAppointmentDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getDockAppointmentDetails_output.xsd" yfc:rootElement="DockAppointment">
        <xsd:appinfo source="yfc:structure">
            <DockAppointment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DockAppointment" type="yfc:DockAppointmentXSDType">
        <xsd:annotation yfc:tableName="YFS_DOCK_APPOINTMENT">
            <xsd:documentation>All appointments taken for dock location(s) are stored in this table. The table can also store the reference to the shipment, load, carrier etc. for which appointment is taken.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DockAppointmentXSDType">
        <xsd:attribute name="AppointmentDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Appointment date of Dock appointment.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppointmentType" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="APPOINTMENT_TYPE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>This field indicates the appointment type of the appointment being taken. It can either be OUTBOUND or INBOUND.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BolNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The bill of lading number .</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Carrier" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="CARRIER" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The carrier service code associated with the dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Cases" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Specifies the number of cases in Shipment/Load.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndTime" type="yfctype:Time" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> End time of Dock appointment.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The load key of the load associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Specifies the Dock location for which appointment is taken.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The node key that is associated with this appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Notes" type="yfctype:Text-256" use="optional">
            <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The notes associated with the dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The order header key of the order associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>Organization code of the user creating the appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Pallets" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Specifies the number of pallets in Shipment/Load.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The progressive number. It is generated for Loads with shipment mode as LTL, also if shipment mode changes from any other mode to LTL. Re-generation of PRO number happens, when the Carrier changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The shipment key of the shipment associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartTime" type="yfctype:Time" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Start time of Dock appointment.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The trailer number by which the shipment/load leaves the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Volume" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Total volume of Shipment/Load.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VolumeUOM" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Volume UOM of Shipment/Load.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Weight" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Total weight of Shipment/Load.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WeightUOM" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Weight UOM of Shipment/Load.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
