Data/xapidocs/api_javadocs/XSD/WMS_manageChangeInventoryAttributesCriteria_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/manageChangeInventoryAttributesCriteria/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/manageChangeInventoryAttributesCriteria/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_manageChangeInventoryAttributesCriteria_input.xsd" yfc:rootElement="ChangeInventoryAttributesCriteria">
        <xsd:appinfo source="yfc:structure">
            <ChangeInventoryAttributesCriteria hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeInventoryAttributesCriteria" type="yfc:ChangeInventoryAttributesCriteriaXSDType"/>
    <xsd:complexType name="ChangeInventoryAttributesCriteriaXSDType">
        <xsd:attribute name="ChangeInventoryAttrsCriteriaKey"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="CountryOfOrigin" type="yfctype:String" use="optional"/>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="FifoNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="FromShipByDate" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InventoryStatus" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ItemClassification1" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ItemClassification2" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ItemClassification3" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ItemId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LPNNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LPNType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LocationId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NewCountryOfOrigin" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NewFifoNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NewInventoryStatus" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NewProductClass" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NewSegment" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NewSegmentType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NewShipByDate" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NewTagAttributes" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NoOfDays" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ProductClass" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ReasonCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ReasonText" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ReceiptNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Segment" type="yfctype:String" use="optional"/>
        <xsd:attribute name="SegmentType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TagAttributes" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ToShipByDate" type="yfctype:String" use="optional"/>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ZoneId" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
