Data/xapidocs/api_javadocs/XSD/WMS_getWaveAuditList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getWaveAuditList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getWaveAuditList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getWaveAuditList_output.xsd" yfc:rootElement="WaveAuditList">
        <xsd:appinfo source="yfc:structure">
            <WaveAuditList>
                <WaveAudit hasAttributes="Y"/>
            </WaveAuditList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WaveAuditList" type="yfc:WaveAuditListXSDType"/>
    <xsd:complexType name="WaveAuditListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WaveAudit"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="WaveAudit">
        <xsd:annotation yfc:tableName="YFS_WAVE_AUDIT">
            <xsd:documentation>This table stores audits for a wave.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ModificationLevel"
                type="yfctype:TableName" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_LEVEL" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>This column indicates at what level the modification is done - either at Wave level or Shipment level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModificationType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_TYPE" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>The Context of the modification.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewValue" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NEW_VALUE" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>New Value of the Modified Attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfShipments" type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="NO_OF_SHIPMENTS" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>This gives the number of shipments in the Wave.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>Indicates the node or warehouse where wave(s) are created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldValue" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="OLD_VALUE" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>Old Value of the Modified Attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>Reason code for modifying the Wave.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>Additional Information as to why the wave was modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>The User who performed the specified Wave operation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_WAVE_AUDIT">
                    <xsd:documentation>Unique Identifier of the Wave that is being audited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
