Data/xapidocs/api_javadocs/XSD/WMS_getPhysicalCountCategoryList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountCategoryList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountCategoryList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getPhysicalCountCategoryList_output.xsd" yfc:rootElement="PhysicalCountCategoryList">
        <xsd:appinfo source="yfc:structure">
            <PhysicalCountCategoryList>
                <PhysicalCountCategory hasAttributes="Y">
                    <PhysicalCountCategoryActivityGroupList hasAttributes="Y">
                        <PhysicalCountCategoryActivityGroup hasAttributes="Y"/>
                    </PhysicalCountCategoryActivityGroupList>
                </PhysicalCountCategory>
            </PhysicalCountCategoryList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PhysicalCountCategoryList" type="yfc:PhysicalCountCategoryListXSDType"/>
    <xsd:complexType name="PhysicalCountCategoryListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PhysicalCountCategory"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="PhysicalCountCategory">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_CATEGORY">
            <xsd:documentation>This transaction table is to store the values of a physical count Categories in a warehouse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PhysicalCountCategoryActivityGroupList"/>
            </xsd:all>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PhysicalCountCategoryKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_CATEGORY_KEY" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>The primary key for the YFS_PC_CATEGORY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PhysicalCountCategoryName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_CATEGORY_NAME" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                    <xsd:documentation>Category Name of the activities in physical count.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PhysicalCountCategoryActivityGroupList">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
            <xsd:documentation>This transaction table is to store the values Activities that belong to the Categories corresponding to the physical count in a warehouse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PhysicalCountCategoryActivityGroup"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PhysicalCountCategoryActivityGroup">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
            <xsd:documentation>This transaction table is to store the values Activities that belong to the Categories corresponding to the physical count in a warehouse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityGroup" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_GROUP" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>Activity Group for which physical count plan is setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PhysicalCountCategoryActivityGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_CAT_ACT_GRP_KEY" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>The primary key for the YFS_PHY_CNT_CAT_ACT_GRP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PhysicalCountCategoryKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_CATEGORY_KEY" yfc:tableName="YFS_PHY_CNT_CAT_ACT_GRP">
                    <xsd:documentation>The primary key for the YFS_PHY_CNT_CATEGORY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
