Data/xapidocs/api_javadocs/XSD/WMS_getPhysicalCountPlanList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountPlanList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountPlanList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getPhysicalCountPlanList_output.xsd" yfc:rootElement="PhysicalCountPlanList">
        <xsd:appinfo source="yfc:structure">
            <PhysicalCountPlanList>
                <PhysicalCountPlan hasAttributes="Y">
                    <PhysicalCountPlanActList hasAttributes="Y">
                        <PhysicalCountPlanAct hasAttributes="Y"/>
                    </PhysicalCountPlanActList>
                </PhysicalCountPlan>
            </PhysicalCountPlanList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PhysicalCountPlanList" type="yfc:PhysicalCountPlanListXSDType"/>
    <xsd:complexType name="PhysicalCountPlanListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PhysicalCountPlan"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="PhysicalCountPlan">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_PLAN">
            <xsd:documentation>This transaction table is to store the values of a planned physical count in a warehouse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PhysicalCountPlanActList"/>
            </xsd:all>
            <xsd:attribute name="CancellationReasonCode"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation
                    yfc:columnName="CANCELLATION_REASON_CODE" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The cancellation reason code for canceling the Physical Count request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Duration" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_DURATION" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The duration of the physical count plan.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DurationUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="DURATION_UOM" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>Physical Count's Duration UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The enterprise code associated with the physical count plan.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>Node for which physical count plan is setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PhysicalCountPlanKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_PLAN_KEY" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The primary key for the YFS_PHY_CNT_PLAN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlanName" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_PLAN_NAME" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>Plan Name of the physical count.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_START_DATE" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The date of start of the physical count plan.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_PHY_CNT_PLAN">
                    <xsd:documentation>The current status of the Physical Count program.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PhysicalCountPlanActList">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
            <xsd:documentation>This transaction table is to store the values of the Categories corresponding to the physical count in a warehouse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PhysicalCountPlanAct"/>
            </xsd:all>
            <xsd:attribute name="CanActivitybePerformed"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Specifies wheter the activity can be performed now or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Specifies the total no number of records .</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PhysicalCountPlanAct">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
            <xsd:documentation>This transaction table is to store the values of the Categories corresponding to the physical count in a warehouse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityGroup" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>Activity Group for which physical count plan is setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanActivitybePerformed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Duration" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_CAT_DURATION" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The duration before which this category needs to be disabled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DurationUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CAT_DURATION_UOM" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>Category's Duration UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PCPlanActGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_PLAN_ACT_KEY" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The primary key for the YFS_PHY_CNT_PLAN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PhysicalCountPlanKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PHY_CNT_PLAN_KEY" yfc:tableName="YFS_PHY_CNT_PLAN_ACT">
                    <xsd:documentation>The primary key for the YFS_PHY_CNT_PLAN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
