Data/xapidocs/api_javadocs/XSD/WMS_startPhysicalCount_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/startPhysicalCount/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/startPhysicalCount/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_startPhysicalCount_input.xsd" yfc:rootElement="PhysicalCount">
        <xsd:appinfo source="yfc:structure">
            <PhysicalCount hasAttributes="Y">
                <Zones>
                    <Zone hasAttributes="Y"/>
                </Zones>
            </PhysicalCount>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PhysicalCount" type="yfc:PhysicalCountXSDType"/>
    <xsd:complexType name="PhysicalCountXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Zones"/>
        </xsd:all>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="required">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The node for which the plan is configured</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PhysicalCountPlanName"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Name of the Physical Count plan
								<Validation>
                            <Condition>If <code>Physical Count Plan</code> is specified then <code>Zone Id</code> is a mandatory parameter.
									</Condition>
                            <Error Description="Node not passed" ErrorCode="WMS00054"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Proposed Start Date for the Physical Count</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Zones">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Zone"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Zone">
        <xsd:annotation yfc:tableName="YFS_ZONE">
            <xsd:documentation>This table stores the zone level setup details for a warehouse. The warehouse may be divided into multiple zones based on the product storage, packaging types, etc. Zone is a way of classifying a set of locations that share common properties. Locations belong to zones. Zone level storage constraints are auto propagated to locations through membership in a zone. The mix and do not mix constraints at zone level, apply to every single location in the zone.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The field indicates the zone identifier. This forms a unique key for the YFS_ZONE table associated with the NODE_KEY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
