Data/xapidocs/api_javadocs/XSD/WMS_changeCountRequestStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/changeCountRequestStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/changeCountRequestStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_changeCountRequestStatus_input.xsd" yfc:rootElement="ChangeCountRequestStatus">
        <xsd:appinfo source="yfc:structure">
            <ChangeCountRequestStatus hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeCountRequestStatus" type="yfc:ChangeCountRequestStatusXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_REQUEST">
            <xsd:documentation>This transaction table stores count requests to perform inventory count in a warehouse. The count process in a warehouse begins with the count request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeCountRequestStatusXSDType">
        <xsd:attribute name="AcceptOutOfSequenceUpdates"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Flag used to determine the drop status for the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BaseDropStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="DROP_STATUS" yfc:tableName="YFS_PIPELINE_DEFINITION">
                <xsd:documentation>Base drop status for transaction</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The primary key for the YFS_COUNT_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_NO" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The count request number associated with the document type and node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The document type associated with the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The node key that is associated with this count request list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskQKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_Q_KEY" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>
                    <div> Task Q request for count request status change. 
					<Validation>
                            <Condition>If <code>TaskQKey</code> is not passed, <code>CountRequestKey</code> or <code>CountRequestNo, Node and DocumentType</code> must be passed.
						</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed" ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TranId" use="optional">
            <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The unique identifier for a transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
