Data/xapidocs/api_javadocs/XSD/WMS_getLocationPrioritySchemeUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getLocationPrioritySchemeUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getLocationPrioritySchemeUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getLocationPrioritySchemeUE_output.xsd" yfc:rootElement="LocationPriority">
        <xsd:appinfo source="yfc:structure">
            <LocationPriority hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationPriority" type="yfc:LocationPriorityXSDType"/>
    <xsd:complexType name="LocationPriorityXSDType">
        <xsd:attribute name="PriorityDedicatedLocation"
            type="yfctype:Priority" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines the priority of a location that is dedicated to the inventory for which the location
						is being considered for put away.The default priority value for an dedicated location is 2.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriorityEmptyLocation"
            type="yfctype:Priority" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines the priority of an Empty Location while considering location for put away. The default priority value for an empty location is 1.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrioritySameReceipt"
            type="yfctype:Priority" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines the priority of a location having the inventory belonging to the same
							Receipt as inventory for which the location is being considered for put away. The default priority value for the same receipt is 1.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrioritySameSKU" type="yfctype:Priority" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines the priority of a location having the same SKU as inventory for which the location
						is being considered for put away. The default priority value for the same SKU is 3.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
