Data/xapidocs/api_javadocs/XSD/WMS_RELEASE_WAVE.SHORTAGES_DETECTED.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/RELEASE_WAVE/SHORTAGES_DETECTED"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/RELEASE_WAVE/SHORTAGES_DETECTED" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_RELEASE_WAVE.SHORTAGES_DETECTED.xsd" yfc:rootElement="Wave">
        <xsd:appinfo source="yfc:structure">
            <Wave hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Wave" type="yfc:WaveXSDType">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>This table stores wave definitions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WaveXSDType">
        <xsd:attribute name="Description" type="yfctype:FreeText-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_WAVE">
                <xsd:documentation>A brief description of the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The pipeline key that is associated with the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoEarlierThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_EARLIER_THAN" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking before this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoLaterThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_LATER_THAN" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking after this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field identifies the shipment group to which the wave belongs. The combination of the Node_Key and Shipment_Group_Id columns form a foreign key to the YFS_Wave table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveStatus" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="WAVE_STATUS" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the status the wave is currently in.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
