Data/xapidocs/api_javadocs/XSD/WMS_MODIFY_MOVE_REQUEST.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/MODIFY_MOVE_REQUEST/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/MODIFY_MOVE_REQUEST/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_MODIFY_MOVE_REQUEST.ON_SUCCESS.xsd" yfc:rootElement="MoveRequest">
        <xsd:appinfo source="yfc:structure">
            <MoveRequest hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <WorkOrder hasAttributes="Y"/>
                <Wave hasAttributes="Y"/>
                <Priority hasAttributes="Y"/>
                <Status hasAttributes="Y"/>
                <FromActivityGroup hasAttributes="Y"/>
                <ForActivityCode hasAttributes="Y"/>
                <MoveRequestStatusAudits>
                    <MoveRequestStatusAudit hasAttributes="Y">
                        <OldStatus hasAttributes="Y"/>
                        <NewStatus hasAttributes="Y"/>
                    </MoveRequestStatusAudit>
                </MoveRequestStatusAudits>
                <MoveRequestLines>
                    <MoveRequestLine hasAttributes="Y">
                        <Receipt hasAttributes="Y"/>
                        <MoveRequestLineTag hasAttributes="Y"/>
                    </MoveRequestLine>
                </MoveRequestLines>
            </MoveRequest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MoveRequest" type="yfc:MoveRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST">
            <xsd:documentation>This table stores all the move requests that are created for a node. The move requests may be created from any activity group.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MoveRequestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrder"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Wave"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Priority"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Status"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FromActivityGroup"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ForActivityCode"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MoveRequestStatusAudits"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MoveRequestLines"/>
        </xsd:all>
        <xsd:attribute name="FinishNoLaterThan" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The timestamp for the time by which the task has to finish. This is a pass through field which is stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForActivityCode" type="yfctype:Activity" use="optional">
            <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>This code identifies the activity for which the move request is being logged.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromActivityGroup"
            type="yfctype:EnumActivityGroup" use="optional">
            <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The department requesting the move. Valid values are: Replenishment, Outbound Picking, Receipt, Count, Value Added Services, Packing, Outbound Inventory Container Build, Shipping Container Build, and Inspection.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasExceptions" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAS_EXCEPTIONS" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>This flag indicates whether there were any exceptions in either creating or executing the tasks for the move request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The primary key for the YFS_MOVE_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_NO" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The number of the move request. This field identifies a move request for a node, within the context of a module.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The node key that is associated with this move request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>This code identifies the reason why the move request was cancelled. The user defined Common Code Type is "MOVE_REQ_CANCEL_RSN".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The description of the reason why the move request was cancelled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_USER_ID" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The user who requested the move.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The shipment key that is associated with this move request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The timestamp for the time when the task can start. This is a pass through field which is stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status"
            type="yfctype:EnumMoveRequestStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The status of the move request. The system defined Common Code Type is "MOVE_REQUEST_STATUS." Valid values are: Created, Released, Cancellation Requested, Cancellation Failed and Closed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The wave key that is associated with this move request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The work order key that is associated with this move request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrder">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>This table stores the information about the work orders to be done at a node on an inventory item or a license plate.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Wave">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>This table stores wave definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Priority">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST">
            <xsd:documentation>This table stores all the move requests that are created for a node. The move requests may be created from any activity group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Short description for the priority associated with the Move Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Status">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST">
            <xsd:documentation>This table stores all the move requests that are created for a node. The move requests may be created from any activity group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Short description for the status associated with the Move Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumMoveRequestStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The status of the move request. The system defined Common Code Type is "MOVE_REQUEST_STATUS." Valid values are: Created, Released, Cancellation Requested, Cancellation Failed and Closed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FromActivityGroup">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST">
            <xsd:documentation>This table stores all the move requests that are created for a node. The move requests may be created from any activity group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Short description for the activity group associated with the Move Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromActivityGroup"
                type="yfctype:EnumActivityGroup" use="optional">
                <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The department requesting the move. Valid values are: Replenishment, Outbound Picking, Receipt, Count, Value Added Services, Packing, Outbound Inventory Container Build, Shipping Container Build, and Inspection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ForActivityCode">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST">
            <xsd:documentation>This table stores all the move requests that are created for a node. The move requests may be created from any activity group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies the activity for which the move request is being logged</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForActivityCode"
                type="yfctype:Activity" use="optional">
                <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>This code identifies the activity for which the move request is being logged.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestStatusAudits">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:MoveRequestStatusAudit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestStatusAudit">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
            <xsd:documentation>This entity stores audits of all status changes on the move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OldStatus"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NewStatus"/>
            </xsd:all>
            <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The move request key that is associated with this move request status audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestStatusAuditKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MOVE_REQUEST_STATUS_AUDIT_KEY" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The primary key for the YFS_MOVE_REQ_STATUS_AUDIT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The new (latest) status of the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewStatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEW_STATUS_DATE" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The timestamp for the date on which the status of this move request was changed to the new (latest) status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The old (previous) status of the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldStatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="OLD_STATUS_DATE" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The timestamp for the date on which the status of this move request was changed to the old (previous) status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OldStatus">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
            <xsd:documentation>This entity stores audits of all status changes on the move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Short description for the old status associated with the Move Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The old (previous) status of the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NewStatus">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
            <xsd:documentation>This entity stores audits of all status changes on the move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Short description for the new status associated with the Move Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The new (latest) status of the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:MoveRequestLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestLine">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST_LINE">
            <xsd:documentation>This table contains details of the inventory that needs to be moved against a move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MoveRequestLineTag"/>
            </xsd:all>
            <xsd:attribute name="CancelledFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CANCELLED_FLAG" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>This flag indicates whether a line is cancelled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A Case Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The country in which the item that is moved was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>This code identifies the enterprise to which the item that is moved belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasExceptions" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_EXCEPTIONS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>This flag indicates whether there were any exceptions in either creating or executing tasks for the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The inventory status of the item that is moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The item that is moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The move request key that is associated with this move request line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The primary key for the YFS_MOVE_REQUEST_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A Pallet Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The product class of the item that is moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>This code identifies the reason why the move request was cancelled. The user defined Common Code Type is "MOVE_REQ_CANCEL_RSN".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The description of the reason why the move request was cancelled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The receipt header key that is associated with this move request line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleasedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="RELEASED_FLAG" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>This code indicates whether a line is fully tasked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleasedQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="RELEASED_QUANTITY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The quantity in the item's unit of measure for which tasks have been created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="REQUEST_QUANTITY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The quantity in the item's unit of measure that needs to be moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The segment to which the inventory that is moved belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The segment type of the item  that is moved. Typical values are: MTO (made to order) and MTC (made to customer).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>A serial number for a request involving serialized items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The date before which a time-sensitive inventory must be shipped out.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_LOCATION_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The source location from where the inventory is moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="TARGET_LOCATION_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The destination location to which the inventory is moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The unit of measure of the item that is moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The Receiving Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestLineTag">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
            <xsd:documentation>This table stores the details of the inventory tags, for inventory that needs to be moved against a move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The batch number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotManufactureDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The date of manufacture of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The lot number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The move request line key that is associated with this move request line tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineTagKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MOVE_REQUEST_LINE_TAG_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The primary key for the YFS_MOVE_REQUEST_LINE_TAG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The revision number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
