Data/xapidocs/api_javadocs/XSD/WMS_getLPNList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getLPNList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getLPNList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getLPNList_output.xsd" yfc:rootElement="LPNs">
        <xsd:appinfo source="yfc:structure">
            <LPNs>
                <LPN hasAttributes="Y">
                    <Receipt hasAttributes="Y"/>
                    <LPNLocation hasAttributes="Y"/>
                </LPN>
            </LPNs>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LPNs" type="yfc:LPNsXSDType"/>
    <xsd:complexType name="LPNsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LPN"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="LPN">
        <xsd:annotation yfc:tableName="YFS_LPN_HDR">
            <xsd:documentation>Stores the LPN and its hierarchy.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LPNLocation"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates the Id of the Case.											
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DimensionUom" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FreezeOnVariance" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FREEZE_ON_VARIANCE" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>This flah indicates whether the LPN had variance detected during a Count operation. This drives whether the LPN can be allocated during Pick Location Assignment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Height" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="HEIGHT" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The height of the LPN. This will be present only if the user has overridden the dimension at LPN creation, typically during receipts. Otherwise, the dimensions are picked up based on the standard packaging type for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsOutboundContainer"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_OUTBOUND_CONTAINER" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>This flag indicates whether the LPN is an Outbound Container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LPNHdrKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LPN_HDR_KEY" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The primary key for the YFS_LPN_HDR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Length" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="LENGTH" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The length of the LPN. This will be present only if the user has overridden the dimension at LPN creation, typically during receipts. Otherwise, the dimensions are picked up based on the standard packaging type for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The code of the organization to which the LPN belongs. This is usually filled in situations where the LPN does not have contents. Usually, if we know the items on the LPN, we know the organization to which it belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OuterMostCaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates the Id of the Outer Most Case.													
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OuterMostPalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates the Id of the Outer Most Pallet.													
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates the Id of the Pallet.													
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentCaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates the Id of the Parent Case.						
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentPalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates the Id of the Parent Pallet.													
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The receipt header key that is associated with this LPN header. &#xd;
This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The segment to which the inventory belongs. This helps to track inventory separately when the inventory is customized for a specific order so that the inventory can be allocated to that order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The segment type of the inventory. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Volume" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Weight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The weight of the LPN. This will be present only if the user has overridden the weight at LPN creation, typically during receipts. Otherwise, the weight is picked up based on the standard packaging type for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUom" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Width" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="WIDTH" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The width of the LPN. This will be present only if the user has overridden the dimension at LPN creation, typically during receipts.  Otherwise, the dimensions are picked up based on the standard packaging type for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>
                        <div>
								Indicates the receipt to which <code>LPN</code> belongs.							
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LPNLocation">
        <xsd:annotation yfc:tableName="YFS_LPN_LOCATION">
            <xsd:documentation>Stores location of the LPN that directly sits on the location. In other words, it stores only the outermost LPN.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>
                        <div>
							Location where the <code>LPN</code> is residing.							
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LPN_LOCATION">
                    <xsd:documentation>
                        <div>
						The Node in which the <code>LPN</code> exists.						
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_LPN_LOCATION">
                    <xsd:documentation>The zone to which the location belongs. This, in conjunction with NODE_KEY, forms the unique key of the YFS_ZONE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
