Data/xapidocs/api_javadocs/XSD/WMS_overridePickLocationAssignmentUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/overridePickLocationAssignmentUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/overridePickLocationAssignmentUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_overridePickLocationAssignmentUE_output.xsd" yfc:rootElement="overridePickLocationAssignment">
        <xsd:appinfo source="yfc:structure">
            <overridePickLocationAssignment hasAttributes="Y">
                <Target hasAttributes="Y">
                    <Inventory hasAttributes="Y">
                        <Receipt hasAttributes="Y"/>
                        <InventoryItem hasAttributes="Y"/>
                        <TagAttributes hasAttributes="Y"/>
                    </Inventory>
                </Target>
                <Suggestion>
                    <SourceList>
                        <Source hasAttributes="Y">
                            <Inventory hasAttributes="Y">
                                <Receipt hasAttributes="Y"/>
                                <InventoryItem hasAttributes="Y"/>
                                <TagDetail hasAttributes="Y"/>
                            </Inventory>
                        </Source>
                    </SourceList>
                    <ActivityDemandList>
                        <ActivityDemand hasAttributes="Y">
                            <WorkOrder hasAttributes="Y"/>
                            <Shipment hasAttributes="Y"/>
                            <Order hasAttributes="Y"/>
                        </ActivityDemand>
                    </ActivityDemandList>
                </Suggestion>
            </overridePickLocationAssignment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="overridePickLocationAssignment" type="yfc:overridePickLocationAssignmentXSDType"/>
    <xsd:complexType name="overridePickLocationAssignmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Target"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Suggestion"/>
        </xsd:all>
        <xsd:attribute name="Activity" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Identifier of an activity E.g. PUTAWAY, COUNT, MONOGRAM, EMBROIDER, PROGRAM FREQUENCY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivityGroup" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>The group to which an activity belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISECODE" yfc:tableName="YFS_ENTERPRISE">
                <xsd:documentation>The organization that is associated with this enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Target">
        <xsd:annotation yfc:tableName="YFS_LOCATION">
            <xsd:documentation>Contains information about the target where inventory needs to be replenished.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Inventory">
                    <xsd:annotation yfc:tableName="YFS_LOCATION_INVENTORY">
                        <xsd:documentation>Non-license plated inventory is tracked using this table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Receipt">
                                <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
                                    <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ReceiptNo"
                                    type="yfctype:ReceiptNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                                <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ProductClass"
                                    type="yfctype:ProductClass" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TagAttributes"/>
                        </xsd:all>
                        <xsd:attribute name="CountryOfOrigin"
                            type="yfctype:Country" use="optional">
                            <xsd:annotation
                                yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The country in which the item was manufactured.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FifoNo"
                            type="yfctype:Integer" use="optional">
                            <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryItemKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The inventory item key that is associated with this location inventory.  This points to a SKU that comprises the Inventory Organization, Item ID, Product Class and Unit of Measure.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryStatus"
                            type="yfctype:InventoryStatus" use="optional">
                            <xsd:annotation
                                yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The inventory status that is associated with this location inventory.  This refers to an inventory sub classification based on the results of the inventory control processes within the warehouse.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryTagKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The inventory tag key that is associated with this location inventory. This points to lot and related attributes (revision etc) for the item whose inventory is tracked here.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Quantity"
                            type="yfctype:Quantity" use="required">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The number of units of the item available at this location.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ReceiptHeaderKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The receipt header key that is associated with this LPN header. &#xd;
This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Segment"
                            type="yfctype:Segment" use="optional">
                            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The segment to which the inventory belongs. This helps to track inventory separately when the inventory is customized for a specific order so that the inventory can be allocated to that order.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SegmentType"
                            type="yfctype:SegmentType" use="optional">
                            <xsd:annotation
                                yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The segment type of the inventory. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipByDate"
                            type="yfctype:Date" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the unique identifier for the location. The combination of the LOCATION_ID and NODE_KEY forms the unique key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TagAttributes">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Suggestion">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SourceList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ActivityDemandList"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SourceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Source"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Source">
        <xsd:annotation yfc:tableName="YFS_LOCATION">
            <xsd:documentation>Contains information about the source inventory is being adjusted.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Inventory">
                    <xsd:annotation yfc:tableName="YFS_LOCATION_INVENTORY">
                        <xsd:documentation>Non-license plated inventory is tracked using this table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Receipt">
                                <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
                                    <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ReceiptNo"
                                    type="yfctype:ReceiptNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                                <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ProductClass"
                                    type="yfctype:ProductClass" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TagDetail"/>
                        </xsd:all>
                        <xsd:attribute name="CountryOfOrigin"
                            type="yfctype:Country" use="optional">
                            <xsd:annotation
                                yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The country in which the item was manufactured.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FifoNo"
                            type="yfctype:Integer" use="optional">
                            <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryItemKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The inventory item key that is associated with this location inventory.  This points to a SKU that comprises the Inventory Organization, Item ID, Product Class and Unit of Measure.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryStatus"
                            type="yfctype:InventoryStatus" use="optional">
                            <xsd:annotation
                                yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The inventory status that is associated with this location inventory.  This refers to an inventory sub classification based on the results of the inventory control processes within the warehouse.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryTagKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The inventory tag key that is associated with this location inventory. This points to lot and related attributes (revision etc) for the item whose inventory is tracked here.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Quantity"
                            type="yfctype:Quantity" use="required">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The number of units of the item available at this location.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ReceiptHeaderKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The receipt header key that is associated with this LPN header. &#xd;
This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Segment"
                            type="yfctype:Segment" use="optional">
                            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The segment to which the inventory belongs. This helps to track inventory separately when the inventory is customized for a specific order so that the inventory can be allocated to that order.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SegmentType"
                            type="yfctype:SegmentType" use="optional">
                            <xsd:annotation
                                yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The segment type of the inventory. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipByDate"
                            type="yfctype:Date" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_LOCATION_INVENTORY">
                                <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="CrossDockLocation" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if the chosen location is a cross dock location</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DedicatedLocation" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if the chosen location is a dedicated location</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DynamicLocation" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if the chosen location is a dynamic slot location</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="required">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>
                        <div>
                            <Validation>
                                <Condition>
                                    <code>LocationId</code> must be passed.
								</Condition>
                                <Error
                                    Description="Source location is mandatory for tasks of this task type." ErrorCode="WMS00215"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>LocationId</code> should be a valid location in the warehouse.
								</Condition>
                                <Error
                                    Description="Location does not exist." ErrorCode="WMS00005"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverAllocatedQty" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if the quantity that is overallocated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverAllocating" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if the chosen location is a allocated beyond the inventory available at the location. This is 'Y' when a dedicated location is overallocated and when location is of type dynamic slot location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the quantity that will be picked from this location</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="required">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>
                        <div>
                            <Validation>
                                <Condition>Must be a valid <code>TaskType</code> , in the table <code>YFS_TASK_TYPE</code>.
					</Condition>
                                <Error Description="Invalid task type" ErrorCode="YCP0130"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>TaskType</code> not passed.
					</Condition>
                                <Error
                                    Description="Task type determinations not set up for the task type group." ErrorCode="YCP0134"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the zone to which a location belongs. This when associated with the  node key identifies a unique zone within the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TagDetail">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ActivityDemandList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ActivityDemand"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ActivityDemand">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY_DEMAND">
            <xsd:documentation>
                <div>
			Demand on inventory may be placed for an activity from antother activity group. This entity stores information about such demands placed. Following attributes together form the Unique key of the table: <code>Node</code>, <code>FromActivityGroup</code>, <code>ForActivityCode</code>, <code>ShipmentKey</code>, <code>WorkOrderKey</code>, <code>ForShipmentLineKey</code>, <code>ForWorkOrderKey</code>, <code>ForMoveRequestLineKey</code>, <code>LPNNo</code>, <code>LPNType</code>, <code>OrganizationCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code>, <code>ProductClass</code>, <code>InventoryStatus</code>, <code>SegmentType</code>, <code>Segment</code>, <code>DemandLocationId</code>, <code>OrderHeaderKey</code>, <code>OrderNo</code>, <code>DocumentType</code>. Unique Keys of the <code>YFS_Activity_Demand</code> table should not be violated.
				<Validation>
                        <Condition>activity demand being created should not already be existing in the database.
					</Condition>
                        <Error Description="Record Already Exists." ErrorCode="YCP0051"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrder"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>CaseId</code> against which activity demand has been placed. <code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code> define a SKU. Pallet/Case are LPN types and <code>PalletId</code>/<code>CaseId</code> represents an LPN. Either of SKU details or (<code>PalletId</code>/<code>CaseId</code>) must be passed.
						<Validation>
                                <Condition>Either of (<code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code>) or (<code>PalletId</code>/<code>CaseId</code>) should be passed.
							</Condition>
                                <Error
                                    Description="Either of CaseId/PalletId or SKU Details must be passed." ErrorCode="WMS00051"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_LOCATION_ID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
					Location Identifier. The location Id to which the demanded product must be diverted. If passed, then during put away, location considered for the demand fulfillment would be this location.
						<Validation>
                                <Condition>Location Id passed should be valid location in the node.
							</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                            <Validation>
                                <Condition>Location Id passed should not be of type <code>INTRANSIT</code> or <code>VIRTUAL</code>.
							</Condition>
                                <Error
                                    Description="Invalid Location Type." ErrorCode="WMS00067"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_QTY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
					Quantity of the product that is demanded for the activity. If demand quantity is not passed then demand is considered to be infinite ans this demand never gets completed. For a demand without inbound shipment/order information, quantity is mandatory. 
						<Validation>
                                <Condition>If passed, the value passed must be greater than zero. For a <code>CaseId</code>/<code>PalletId</code>, it is defaulted to zero.
							</Condition>
                                <Error
                                    Description="Quantity passed cannot be negative." ErrorCode="WMS00057"/>
                            </Validation>
                            <Validation>
                                <Condition>If not passed, then inbound shipment/order information should be passed. 
							</Condition>
                                <Error
                                    Description="Cannot create an infinite activity demand for item." ErrorCode="WMS00275"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>
                        <div>
					Unique key attribute of the <code>YFS_ENTERPRISE_CODE</code> table. This is used to identify the enterprise for which the demand(<code>SKU</code>/<code>CaseId</code>/<code>PalletId</code>) is being placed. It is de-referenced to inventory organization code in <code>YFS_Activity_Demand</code> table. This is done so because put away is performed for the stock based on activity demand and the inventory picture.
						<Validation>
                                <Condition>
                                    <code>EnterpriseCode</code> should be passed.
							</Condition>
                                <Error
                                    Description="EnterpriseCode has to be passed in the input." ErrorCode="WMS00030"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>EnterpriseCode</code> passed should be a valid node.
							</Condition>
                                <Error
                                    Description="Invalid Enterprise Code." ErrorCode="YCP0011"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForActivityCode"
                type="yfctype:Activity" use="required">
                <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
					Identifies the department/purpose for which demand was created.
						<Validation>
                                <Condition>
                                    <code>ForActivityCode</code> should be passed.
							</Condition>
                                <Error
                                    Description="ActivityCode not passed." ErrorCode="WMS00049"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>ForActivityCode</code> must be valid.
							</Condition>
                                <Error Description="No Record Found." ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForMoveRequestLineKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="FOR_MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>The move request line key associated with this activity demand.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForShipmentLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FOR_SHIPMENT_LINE_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
                            <code>ForShipmentLineKey</code> identifies the shipment line for which the demand was placed. Primary key attribute of <code>YFS_SHIPMENT_LINE</code> table. 
						<Validation>
                                <Condition>
                                    <code>ForShipmentLineKey</code> if passed should be a valid key.
							</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForWorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FOR_WORK_ORDER_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
                            <code>ForWorkOrderKey</code> identifies the work order for which the demand was placed. Primary key attribute of <code>YFS_WORK_ORDER</code> table. 
						<Validation>
                                <Condition>
                                    <code>ForWorkOrderKey</code> if passed should be a valid key.
							</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromActivityGroup"
                type="yfctype:EnumActivityGroup" use="required">
                <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
					Identifies the department from which demand was requested.
						<Validation>
                                <Condition>
                                    <code>FromActivityGroup</code> should be passed.
							</Condition>
                                <Error
                                    Description="Module Code must be given." ErrorCode="WMS00053"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>FromActivityGroup</code> must be valid.
							</Condition>
                                <Error Description="No Record Found." ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>The unique key of the YFS_INVENTORY_STATUS table. This key refers to an inventory sub-classification based on the results of the inventory control processes within a warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
                            <code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code> define a SKU. Pallet/Case are LPN types and <code>PalletId</code>/<code>CaseId</code> represents an LPN. Either of SKU details or (<code>PalletId</code>/<code>CaseId</code>) must be passed.
						<Validation>
                                <Condition>Either of (<code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code>) or (<code>PalletId</code>/<code>CaseId</code>) should be passed.
							</Condition>
                                <Error
                                    Description="Either of CaseId/PalletId or SKU Details must be passed." ErrorCode="WMS00051"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
					Primary key attribute of <code>YFS_SHIP_NODE</code> table. Required to uniquely identify a location within the node.
						<Validation>
                                <Condition>
                                    <code>Node</code> should be passed.
							</Condition>
                                <Error Description="Node not passed." ErrorCode="WMS00054"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>Node</code> passed should be a valid node.
							</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
                            <code>OrderHeaderKey</code> identifies an order against which the Activity Demand is placed. Primary key attribute of <code>YFS_ORDER_HEADER</code> table.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>PalletId</code> against which activity demand has been placed. <code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code> define a SKU. Pallet/Case are LPN types and <code>PalletId</code>/<code>CaseId</code> represents an LPN. Either of SKU details or (<code>PalletId</code>/<code>CaseId</code>) must be passed.
						<Validation>
                                <Condition>Either of (<code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code>) or (<code>PalletId</code>/<code>CaseId</code>) should be passed.
							</Condition>
                                <Error
                                    Description="Either of CaseId/PalletId or SKU Details must be passed." ErrorCode="WMS00051"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
					Identifies the Priority with which the demand is created. 
						<Validation>
                                <Condition>
                                    <code>Priority</code> if passed should be a valid value.
							</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
                            <code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code> define a SKU. Pallet/Case are LPN types and <code>PalletId</code>/<code>CaseId</code> represents an LPN. Either of SKU details or (<code>PalletId</code>/<code>CaseId</code>) must be passed.
						<Validation>
                                <Condition>Either of (<code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code>) or (<code>PalletId</code>/<code>CaseId</code>) should be passed.
							</Condition>
                                <Error
                                    Description="Either of CaseId/PalletId or SKU Details must be passed." ErrorCode="WMS00051"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>This field indicates that when inventory is customized for a specific order, it needs to be tracked separately so that it can be allocated to that order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>This field indicates that when inventory is customized, the inventory needs to be tracked separately for the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
                            <code>ShipmentKey</code> helps identifying all stock attached to a shipment against which the demand is placed. Primary key attribute of <code>YFS_SHIPMENT</code> table.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
                            <code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code> define a SKU. Pallet/Case are LPN types and <code>PalletId</code>/<code>CaseId</code> represents an LPN. Either of SKU details or (<code>PalletId</code>/<code>CaseId</code>) must be passed.
						<Validation>
                                <Condition>Either of (<code>EnterpriseCode</code>, <code>ItemId</code>, <code>UnitOfMeasure</code> and <code>ProductClass</code>) or (<code>PalletId</code>/<code>CaseId</code>) should be passed.
							</Condition>
                                <Error
                                    Description="Either of CaseId/PalletId or SKU Details must be passed." ErrorCode="WMS00051"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                    <xsd:documentation>
                        <div>
                            <code>WorkOrderKey</code> identifies a work order in context for the Activity Demand. The demand is created against this work order. Primary key attribute of <code>YFS_WORK_ORDER</code> table.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrder">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>This table stores the information about the work orders to be done at a node on an inventory item or a license plate.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>
                            <code>NodeKey</code> identifies node, where work orders would be executed.
							<Validation>
                                <Condition>Unique key should be passed.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00171"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>
                            <code>WorkOrderNo</code> is a part of unique key.
							<Validation>
                                <Condition>Unique key should be passed.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00171"/>
                            </Validation>
                            <Validation>
                                <Condition>Passed <code>WorkOrderNo</code> should exist in the database.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                            <Validation>
                                <Condition>Multiple records should not exist for the passed <code>WorkOrderNo</code>.
								</Condition>
                                <Error
                                    Description="Record cannot be uniquely determined." ErrorCode="WMS00074"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>
						Seller organization to which this shipment belongs. <code>ShipNode</code> and <code>SellerOrganizationCode</code> identify the origin of the shipment (i.e The place from where the shipment was shipped).
							<Validation>
                                <Condition>Unique key should be passed.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00171"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>
                            <code>ShipNode</code> and <code>SellerOrganizationCode</code> identify the origin of the shipment (i.e The place from where the shipment was shipped).
							<Validation>
                                <Condition>Unique key should be passed.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00171"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>
                            <code>ShipmentNo</code> is a part of unique key.
							<Validation>
                                <Condition>Unique key should be passed.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00171"/>
                            </Validation>
                            <Validation>
                                <Condition>Passed <code>ShipmentNo</code> should exist in the database.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                            <Validation>
                                <Condition>Multiple records should not exist for the passed <code>ShipmentNo</code>.
								</Condition>
                                <Error
                                    Description="Record cannot be uniquely determined." ErrorCode="WMS00074"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>
                        <div>
                            <code>OrderNo</code>, <code>DocumentType</code> and <code>EnterpriseCode</code> identify the order.
							<Validation>
                                <Condition>Unique key should be passed.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00171"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>
                        <div>
                            <code>OrderNo</code> is a part of unique key. Required, if OrderHeaderKey is not passed.
							<Validation>
                                <Condition>Unique key should be passed.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00171"/>
                            </Validation>
                            <Validation>
                                <Condition>Multiple records should not exist for the passed <code>OrderNo</code>.
								</Condition>
                                <Error
                                    Description="Record cannot be uniquely determined." ErrorCode="WMS00074"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
