Data/xapidocs/api_javadocs/XSD/WMS_getExecutionExceptionList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getExecutionExceptionList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getExecutionExceptionList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getExecutionExceptionList_output.xsd" yfc:rootElement="ExecutionExceptions">
        <xsd:appinfo source="yfc:structure">
            <ExecutionExceptions hasAttributes="Y">
                <ExecutionException hasAttributes="Y">
                    <Flow hasAttributes="Y"/>
                </ExecutionException>
            </ExecutionExceptions>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExecutionExceptions" type="yfc:ExecutionExceptionsXSDType"/>
    <xsd:complexType name="ExecutionExceptionsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ExecutionException"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ExecutionException">
        <xsd:annotation yfc:tableName="YFS_EXECUTION_EXCEPTION">
            <xsd:documentation>This table stores the user-defined execution exception codes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Flow"/>
            </xsd:all>
            <xsd:attribute name="AllowPartialDeposit"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOW_PARTIAL_DEPOSIT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This flag indicates whether to allow partial deposit of picked inventory at the suggested location. Valid values are Y and N. Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowPartialDepositQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CheckDigit" type="yfctype:VText-5" use="optional">
                <xsd:annotation yfc:columnName="CHECK_DIGIT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>Check Digit is a numeric representation of Execution Exception. It is generally used by Voice Systems to verify the Execution Exception. Execution Exception Check Digit is unique for a Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CheckDigitQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This field specifies the unique code of the user defined execution exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionLongDescription"
                type="yfctype:CodeLongDescription" use="optional">
                <xsd:annotation
                    yfc:columnName="EXCEPTION_LONG_DESCRIPTION"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This field specifies the long description of the user defined execution exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionLongDescriptionQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionShortDescription"
                type="yfctype:CodeShortDescription" use="optional">
                <xsd:annotation
                    yfc:columnName="EXCEPTION_SHORT_DESCRIPTION"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This field specifies the short description of the user defined execution exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionShortDescriptionQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionType"
                type="yfctype:EnumExecutionException" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This field indicates the execution exception types. Valid values are: PICK, DEPOSIT, and SKIP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExecutionExceptionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EXECUTION_EXCEPTION_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>The primary key for the YFS_EXECUTION_EXCEPTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExecutionExceptionKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FlowKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FLOW_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>The flow key that is associated with this execution exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FreezeSourceForMoveOut"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="FREEZE_SOURCE_FOR_MOVE_OUT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This flag indicates whether the source location is frozen for moving out the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeSourceForMoveOutQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FreezeTargetForMoveIn"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="FREEZE_TARGET_FOR_MOVE_IN"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This flag indicates whether the target location is frozen for moving in the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeTargetForMoveInQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromAllowPartialDeposit"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromCheckDigit" type="yfctype:VText-5" use="optional"/>
            <xsd:attribute name="FromExceptionCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromExceptionLongDescription"
                type="yfctype:CodeLongDescription" use="optional"/>
            <xsd:attribute name="FromExceptionShortDescription"
                type="yfctype:CodeShortDescription" use="optional"/>
            <xsd:attribute name="FromExceptionType"
                type="yfctype:EnumExecutionException" use="optional"/>
            <xsd:attribute name="FromExecutionExceptionKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromFlowKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromFreezeSourceForMoveOut"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromFreezeTargetForMoveIn"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromHoldTask" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromInventoryStatusForUnavailableQty"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromMarkTargetAsFull"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromSuggestedAlternateDepositLocation"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromSuggestedAlternatePickLocation"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromUnassignUser" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="HoldTask" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_TASK"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This flag indicates whether the task should be held.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldTaskQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InventoryStatusForUnavailableQty"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="INV_STS_FOR_UNAVAILABLE_QTY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This field indicates the inventory status of the unavailable item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="InventoryStatusForUnavailableQtyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="MarkTargetAsFull" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MARK_TARGET_AS_FULL"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This flag indicates whether the target location should be marked as full.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MarkTargetAsFullQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>The node key that is associated with this execution exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SuggestedAlternateDepositLocation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SUGGESTED_ALT_DEPOSIT_LCN"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This flag indicates whether an alternate deposit location should be suggested. This is used when a deposit exception is encountered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="SuggestedAlternateDepositLocationQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SuggestedAlternatePickLocation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SUGGESTED_ALTERNATE_PICK_LCN"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This flag indicates whether an alternate pick location is suggested. This is used when a pick exception encounters.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuggestedAlternatePickLocationQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToAllowPartialDeposit"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToCheckDigit" type="yfctype:VText-5" use="optional"/>
            <xsd:attribute name="ToExceptionCode" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToExceptionLongDescription"
                type="yfctype:CodeLongDescription" use="optional"/>
            <xsd:attribute name="ToExceptionShortDescription"
                type="yfctype:CodeShortDescription" use="optional"/>
            <xsd:attribute name="ToExceptionType"
                type="yfctype:EnumExecutionException" use="optional"/>
            <xsd:attribute name="ToExecutionExceptionKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToFlowKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToFreezeSourceForMoveOut"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToFreezeTargetForMoveIn"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToHoldTask" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToInventoryStatusForUnavailableQty"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToMarkTargetAsFull" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToSuggestedAlternateDepositLocation"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToSuggestedAlternatePickLocation"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToUnassignUser" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="UnassignUser" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="UNASSIGN_USER"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                    <xsd:documentation>This flag indicates whether the current task should be rejected.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnassignUserQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Flow">
        <xsd:annotation yfc:tableName="YFS_FLOW">
            <xsd:documentation>This table stores all the configured services. It is populated when configuring services using the service builder framework or when configuring time triggered transactions for agents.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FlowGroupName"
                type="yfctype:GroupName-40" use="optional">
                <xsd:annotation yfc:columnName="FLOW_GROUP_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The service group name, which is used as a logical placeholder for the services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowGroupNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FlowKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FLOW_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>Primary key attribute of YFS_FLOW.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
                <xsd:annotation yfc:columnName="FLOW_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The flow name is a unique identifier of the service. The field size is 128  bits to accommodate the backward compatibility naming format.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FlowType" type="yfctype:EnumFlowType" use="optional">
                <xsd:annotation yfc:columnName="FLOW_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The flow type identifies the service associated with this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromFlowGroupName"
                type="yfctype:GroupName-40" use="optional"/>
            <xsd:attribute name="FromFlowKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromFlowName" type="yfctype:FlowName" use="optional"/>
            <xsd:attribute name="FromFlowType"
                type="yfctype:EnumFlowType" use="optional"/>
            <xsd:attribute name="FromGraphUIKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromIsOutGoing" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromIsRealTime"
                type="yfctype:EnumIsRealTime" use="optional"/>
            <xsd:attribute name="FromOwnerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromProcessTypeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromTransportTypeKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="GraphUIKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="GRAPH_UI_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This identifier is a reference to the YFS_GRAPH_UI table, where the pictorial representation of the service is stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GraphUIKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="IsOutGoing" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_OUT_GOING"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This flag indicates whether the service is invoked synchronously or asynchronously.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsOutGoingQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="IsRealTime"
                type="yfctype:EnumIsRealTime" use="optional">
                <xsd:annotation yfc:columnName="IS_REAL_TIME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This flag determines whether a real time response is needed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsRealTimeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This key indicates the owner of the service. This value is "DEFAULT", which is the hub organization for all services. However, when moving event handlers and user exits, the user interface populates this          with the appropriate enterprise organization  key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This key determines all the services belonging to some process type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToFlowGroupName"
                type="yfctype:GroupName-40" use="optional"/>
            <xsd:attribute name="ToFlowKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToFlowName" type="yfctype:FlowName" use="optional"/>
            <xsd:attribute name="ToFlowType" type="yfctype:EnumFlowType" use="optional"/>
            <xsd:attribute name="ToGraphUIKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToIsOutGoing" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToIsRealTime"
                type="yfctype:EnumIsRealTime" use="optional"/>
            <xsd:attribute name="ToOwnerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToProcessTypeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToTransportTypeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="TransportTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSPORT_TYPE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The transport type key of the beginning transport node for asynchronous services or LOCAL for synchronous services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransportTypeKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
