Data/xapidocs/api_javadocs/XSD/WMS_SKU_DEDICATION.INV_EXIST_FOR_NON_DED_ITEM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/SKU_DEDICATION/INV_EXIST_FOR_NON_DED_ITEM"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/SKU_DEDICATION/INV_EXIST_FOR_NON_DED_ITEM" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_SKU_DEDICATION.INV_EXIST_FOR_NON_DED_ITEM.xsd" yfc:rootElement="SKUDedication">
        <xsd:appinfo source="yfc:structure">
            <SKUDedication hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SKUDedication" type="yfc:SKUDedicationXSDType">
        <xsd:annotation yfc:tableName="YFS_SKU_DEDICATION">
            <xsd:documentation>This contains definitions of locations that are dedicated to certain SKUs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SKUDedicationXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>This field identifies the enterprise to which the location is dedicated .</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>This field specifies the item's ID.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>This field specifies the location identifier. This field when associated with the NODE_KEY identifies a unique location in the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxQuantity" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>The primary key for the YFS_SKU_DEDICATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>This field specifies the item's product class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SKUDedicationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SKU_DEDICATION_KEY" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>The primary key for the YFS_SKU_DEDICATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>This field stores customization details for those items that are custom specific. When the inventory is customized for a specific order, it needs to be tracked separately so that it can be allocated to that order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>This field stores customization details for items that are custom specific.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_SKU_DEDICATION">
                <xsd:documentation>The item's unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
