Data/xapidocs/api_javadocs/XSD/WMS_getNextDepositLocation_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getNextDepositLocation/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getNextDepositLocation/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getNextDepositLocation_input.xsd" yfc:rootElement="DepositLocation">
        <xsd:appinfo source="yfc:structure">
            <DepositLocation hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DepositLocation" type="yfc:DepositLocationXSDType"/>
    <xsd:complexType name="DepositLocationXSDType">
        <xsd:attribute name="CaseId" type="yfctype:UCC128" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Source CaseId for which deposit location is needed.
						No actual validation for existence of the case is done.
						<Validation>
                            <Condition>Both <code>CaseId</code> and <code>PalletId</code> 
								cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
							</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentId" type="yfctype:ID-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Equipment id used by the User. 
						Used in combination with loginid to get user tasks.
						<Validation>
                            <Condition>If <code>EquipmentId</code> is not valid.
							</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>ItemId for which deposit location is needed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Current location of the User. If set, this location is used instead of the 		location of last picked task by the user to determine source dropOff.
						<Validation>
                            <Condition>
                                <code>LocationId</code> must be valid for the ModuleCode passed..
							</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>
                    <div>Login id of the User for whom the tasks are got.
						<Validation>
                            <Condition>
                                <code>Loginid</code> not passed.
							</Condition>
                            <Error Description="UserId is mandatory." ErrorCode="YCP0149"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Loginid</code> passed but not valid.
							</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>
                    <div> Indicates the node or warehouse from where the location is uniquely identified.
							<Validation>
                            <Condition>
                                <code>Node</code> not passed.
								</Condition>
                            <Error Description="Node not passed." ErrorCode="WMS00054"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Node</code> passed but does not exist.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:UCC128" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Source PalletId for which deposit location is needed.
						No actual validation for existence of the pallet is done.
						<Validation>
                            <Condition>Both <code>CaseId</code> and <code>PalletId</code> 
								cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
							</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
