Data/xapidocs/api_javadocs/XSD/WMS_getDockAppointmentDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getDockAppointmentDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getDockAppointmentDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getDockAppointmentDetails_input.xsd" yfc:rootElement="DockAppointment">
        <xsd:appinfo source="yfc:structure">
            <DockAppointment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DockAppointment" type="yfc:DockAppointmentXSDType">
        <xsd:annotation yfc:tableName="YFS_DOCK_APPOINTMENT">
            <xsd:documentation>All appointments taken for dock location(s) are stored in this table. The table can also store the reference to the shipment, load, carrier etc. for which appointment is taken.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DockAppointmentXSDType">
        <xsd:attribute name="DockAppointmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DOCK_APPOINTMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The primary key for the YFS_DOCK_APPOINTMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResPoolConsmptnDtlsKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RES_POOL_CONSMPTN_DTLS_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The primary key for the YFS_RES_POOL_CONSMPTN_DTLS_KEY table which is associated to this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
