Data/xapidocs/api_javadocs/XSD/WMS_getCountResultList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getCountResultList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getCountResultList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getCountResultList_input.xsd" yfc:rootElement="CountResult">
        <xsd:appinfo source="yfc:structure">
            <CountResult hasAttributes="Y">
                <CountResultTag hasAttributes="Y"/>
                <CountRequest hasAttributes="Y"/>
                <DataAccessFilter hasAttributes="Y"/>
            </CountResult>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountResult" type="yfc:CountResultXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_RESULT">
            <xsd:documentation>This transaction table stores results of the count requests.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CountResultXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountResultTag"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountRequest"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataAccessFilter"/>
        </xsd:all>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
				A CaseId 
					<div>
                        <Validation>
                            <Condition>Both <code>CaseId</code> and <code>PalletId</code> cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
							</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="COUNT_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates the physically counted quantity for the count criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The count request key that is associated with this count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountResultKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_RESULT_KEY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The primary key for the YFS_COUNT_RESULT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field is a unique key for the YFS_INVENTORY_STATUS table. This field refers to an inventory sub-classification based on the inventory control process results within the warehouse.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The inventory tag key that is associated with this count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsResolvable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_RESOLVABLE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This flag indicates whether the variance can be resolved for the count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates the item that was counted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LatestSummaryTask" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>If the input has value for this attribute set as <code>
                            <b>Y.</b>
                        </code>
                        <br/>If <code>CountRequestKey</code> is passed.
						
						<br/>For the given count request, the API returns all the count results of most recent summary task that matches the input criteria. For count request with multiple summary tasks, the API will return <code>PreviousVarianceQuantity</code>, <code>PreviousVarianceValue</code>, <code>PreviousButOneVarianceQuantity</code>, and <code>PreviousButOneVarianceValue</code> for these results grouped by <code>LocationId</code>, <code>OrganizationCode</code>, <code>ItemID</code>, <code>ProductClass</code> and <code>UnitOfMeasure</code>. The API will also return <code>CountIteration</code>, <code>NetVarainceValue</code>, <code>NoOfItemsInVariance</code>, <code>NoOfLocationsInVariance</code>. If the count request was for a single item, the API returns <code>NetVarianceQuantity</code> for the item.
						
						
						<br/>If <code>CountRequestKey</code> is not passed.
						
						<br/>For each of the count request, the API will return the latest summary task results that matches the input criteria. For count request with multiple summary tasks, the API will return <code>PreviousVarianceQuantity</code>, <code>PreviousVarianceValue</code>, <code>PreviousButOneVarianceQuantity</code>, and <code>PreviousButOneVarianceValue</code> for these results grouped by <code>LocationId</code>, <code>OrganizationCode</code>, <code>ItemID</code>, <code>ProductClass</code> and <code>UnitOfMeasure</code>.
						
						<br/>If the input has this attribute with value other than <code>
                            <b>Y.</b>
                        </code>
                        <br/>The API returns all the count results that match the input criteria.
						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>A Location in the node where count was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Maximum number of records to be fetched in the list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The node key that is associated with this count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The organization to which the inventory belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation> 
				A PalletId 
					<div>
                        <Validation>
                            <Condition>Both <code>CaseId</code> and <code>PalletId</code> cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
							</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The inventory classification of the item that is classified based on the product characteristics.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>Whenever the inventory is customized for a specific order, the inventory needs to be tracked separately. This field indicates the order to which the inventory is allocated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>Whenever inventory is customized, it needs to be tracked separately. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates the serial number that was generated during the count process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SummaryTaskId" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="SUMMARY_TASK_ID" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The summary task identifier associated with the count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates the system reported quantity for the count criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The task id that is associated with this count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field is a two-digit code that identifies the task type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates the item's unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VarianceAccepted" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="VARIANCE_ACCEPTED" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates if the variance was accepted for the count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VariancePercentage" use="optional">
            <xsd:annotation yfc:columnName="VARIANCE_PERCENTAGE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field specifies the variance percentage which is calculated as 100* VARIANCE_QUANTITY divided by SYSTEM_QUANTITY.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:BigPercentage"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="VarianceQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="VARIANCE_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field specifies the difference between the count quantity and system quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VarianceType"
            type="yfctype:EnumVarianceType" use="optional">
            <xsd:annotation yfc:columnName="VARIANCE_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field determines the variance type based on the count results. If the Variance Quantity &gt; 0, the Variance Type for the items will be 'New', 'Missing' if the Variance Quantity &lt; 0, and 'No Variance' if the Variance Quantity = 0. However, for License Plates the Variance Type will not be computed based on the Variance Quantity. Instead, the Variance Type will be set to 'New' if a Case/Pallet is found in the location, but does not exist in the system inventory of the location, 'Missing' if the Case/Pallet is not found in the location, but  exists in the system inventory of the location, 'No Variance' in situations when there is no count discrepancy.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VarianceValue" type="yfctype:VarianceValue" use="optional">
            <xsd:annotation yfc:columnName="VARIANCE_VALUE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field is computed as the summation of VARIANCE_QUANTITY * UNIT_COST for all tasks in the count request for the latest completed iteration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CountResultTag">
        <xsd:annotation yfc:tableName="YFS_COUNT_RESULT_TAG">
            <xsd:documentation>This transaction table stores tag information of the inventory that resulted after counting.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the batch number associated with the tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountResultKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_RESULT_KEY" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The count result key that is associated with this count result tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountResultTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_RESULT_TAG_KEY" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The primary key for the YFS_COUNT_RESULT_TAG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number associated with the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The date on which the lot was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the revision number associated with the tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountRequest">
        <xsd:annotation yfc:tableName="YFS_COUNT_REQUEST">
            <xsd:documentation>This transaction table stores count requests to perform inventory count in a warehouse. The count process in a warehouse begins with the count request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>The primary key for the YFS_COUNT_REQUEST table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_NO" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>The count request number associated with the document type and node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>The document type associated with the count request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>The node key that is associated with this count request list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataAccessFilter">
        <xsd:complexType>
            <xsd:attribute name="ApplyDataSecurityFilters"
                type="yfctype:Text-1" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Default: <b>
                                <code>N</code>
                            </b>
                            <br/>Valid Values:
						<br/>
                            <b>
                                <code>Y</code>
                            </b> - Returns records by honoring the Data Security Groups.	
						<br/>
                            <b>
                                <code>N</code>
                            </b> - Returns records by ignoring the Data Security Groups.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
