Data/xapidocs/api_javadocs/XSD/WMS_getOrderPlannedEffort_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getOrderPlannedEffort/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getOrderPlannedEffort/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getOrderPlannedEffort_output.xsd" yfc:rootElement="PlannedTasks">
        <xsd:appinfo source="yfc:structure">
            <PlannedTasks hasAttributes="Y">
                <PlannedTask hasAttributes="Y"/>
            </PlannedTasks>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PlannedTasks" type="yfc:PlannedTasksXSDType"/>
    <xsd:complexType name="PlannedTasksXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PlannedTask"/>
        </xsd:sequence>
        <xsd:attribute name="EntityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_KEY" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies a entity key being planned for. This is the primary key of the entity being planned for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntityName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_NAME" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies the entity being planned for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The flag indicates whether to reset all the relevant planned tasks.					
					<br/>Valid values - <code>
                            <b>Y</b>
                        </code>, <code>
                            <b>N</b>
                        </code>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PlannedTask">
        <xsd:annotation yfc:tableName="YFS_PLANNED_TASK">
            <xsd:documentation>This table holds data for all planned tasks for an entity whose execution is being planned (e.g. Shipment).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Completed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="COMPLETED" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>Indicates if this planned task is completed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTITY_KEY" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>Identifies a entity key being planned for.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntityName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ENTITY_NAME" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>Identifies the entity being planned for.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>Identifies the node for which planning is done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedDate" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_DATE" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>The date planned for consumption of the capacity. Defaulted to expected shipment date of the order when Entity name is YFS_ORDER_HEADER.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PlannedTaskKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_TASK_KEY" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>The primary key for the YFS_PLANNED_TASK table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiredCapacity" use="optional">
                <xsd:annotation yfc:columnName="REQUIRED_CAPACITY" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>Indicates the capacity expected to be consumed by the pools.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Capacity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>Identifies the resource pool from which capacity is being consumed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>Identifies the task type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
