Data/xapidocs/api_javadocs/XSD/WMS_getNodeInventory_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getNodeInventory/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getNodeInventory/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getNodeInventory_output.xsd" yfc:rootElement="NodeInventory">
        <xsd:appinfo source="yfc:structure">
            <NodeInventory hasAttributes="Y">
                <LocationInventoryList hasAttributes="Y">
                    <LocationInventory hasAttributes="Y">
                        <InventoryItem hasAttributes="Y">
                            <Item hasAttributes="Y">
                                <PrimaryInformation hasAttributes="Y"/>
                            </Item>
                        </InventoryItem>
                        <SummaryAttributes hasAttributes="Y">
                            <Receipt hasAttributes="Y"/>
                            <TagSummary hasAttributes="Y"/>
                        </SummaryAttributes>
                        <ItemInventoryDetailList hasAttributes="Y">
                            <ItemInventoryDetail hasAttributes="Y">
                                <Receipt hasAttributes="Y"/>
                                <TagDetail hasAttributes="Y"/>
                                <SerialList>
                                    <SerialDetail hasAttributes="Y"/>
                                </SerialList>
                            </ItemInventoryDetail>
                        </ItemInventoryDetailList>
                    </LocationInventory>
                </LocationInventoryList>
                <LPNList hasAttributes="Y">
                    <LPN hasAttributes="Y">
                        <Receipt hasAttributes="Y"/>
                        <LPNLocation hasAttributes="Y"/>
                        <ParentLPN hasAttributes="Y"/>
                        <OuterMostLPN hasAttributes="Y"/>
                    </LPN>
                </LPNList>
            </NodeInventory>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeInventory" type="yfc:NodeInventoryXSDType"/>
    <xsd:complexType name="NodeInventoryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationInventoryList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LPNList"/>
        </xsd:all>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The organization that owns the inventory of this organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                <xsd:documentation>The node key that is associated with this location inventory.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LocationInventoryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LocationInventory"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationInventory">
        <xsd:annotation yfc:tableName="YFS_LOCATION_INVENTORY">
            <xsd:documentation>Non-license plated inventory is tracked using this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryItem"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SummaryAttributes"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemInventoryDetailList"/>
            </xsd:all>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The inventory item key that is associated with this location inventory.  This points to a SKU that comprises the Inventory Organization, Item ID, Product Class and Unit of Measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="required">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The identifier for the location. This, in conjunction with NODE_KEY, identifies a unique location in the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MultipleSummaryAttributes"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if multiple records exist for the summary attributes</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PendInQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PEND_IN_QTY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>Indicates the total Quantity of the Item Pending In to this Location in the Node</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PendOutQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the total Quantity of the Item Pending Out Of this Location in the Node</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="required">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>Indicates the total Quantity of the Item in this Location in the Node</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="required">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The zone id that is associated with this location. This is the unique key attribute of the YFS_ZONE table in conjunction with NODE_KEY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryItem">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SummaryAttributes">
        <xsd:annotation yfc:tableName="YFS_LOCATION_INVENTORY">
            <xsd:documentation>Non-license plated inventory is tracked using this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Receipt">
                    <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
                        <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ReceiptNo"
                            type="yfctype:ReceiptNo" use="optional">
                            <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                                <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TagSummary"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the Id of the Case which contains the Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The country in which the item was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The inventory item key that is associated with this location inventory.  This points to a SKU that comprises the Inventory Organization, Item ID, Product Class and Unit of Measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The inventory status that is associated with this location inventory.  This refers to an inventory sub classification based on the results of the inventory control processes within the warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The inventory tag key that is associated with this location inventory. This points to lot and related attributes (revision etc) for the item whose inventory is tracked here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the Id of the Pallet which contains the Item or contains the Case containing the Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The receipt header key that is associated with this LPN header. &#xd;
This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The segment to which the inventory belongs. This helps to track inventory separately when the inventory is customized for a specific order so that the inventory can be allocated to that order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The segment type of the inventory. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TagSummary">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Unique identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemInventoryDetailList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemInventoryDetail"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemInventoryDetail">
        <xsd:annotation yfc:tableName="YFS_LOCATION_INVENTORY">
            <xsd:documentation>Non-license plated inventory is tracked using this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="Receipt">
                    <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
                        <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ReceiptNo"
                            type="yfctype:ReceiptNo" use="optional">
                            <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                                <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TagDetail"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SerialList"/>
            </xsd:sequence>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the Id of the Case which contains the Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The country in which the item was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The inventory item key that is associated with this location inventory.  This points to a SKU that comprises the Inventory Organization, Item ID, Product Class and Unit of Measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The inventory status that is associated with this location inventory.  This refers to an inventory sub classification based on the results of the inventory control processes within the warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The inventory tag key that is associated with this location inventory. This points to lot and related attributes (revision etc) for the item whose inventory is tracked here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the Id of the Pallet which contains the Item or contains the Case containing the Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PendInQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PEND_IN_QTY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>Indicates the Quantity of the Item Pending In to this Location in the Node</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PendOutQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the Quantity of the Item Pending Out Of this Location in the Node</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>Indicates the Quantity of the inventory</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The receipt header key that is associated with this LPN header. &#xd;
This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The segment to which the inventory belongs. This helps to track inventory separately when the inventory is customized for a specific order so that the inventory can be allocated to that order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The segment type of the inventory. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_LOCATION_INVENTORY">
                    <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TagDetail">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Unique identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SerialList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SerialDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SerialDetail">
        <xsd:annotation yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
            <xsd:documentation>This table stores details about serial numbers. Since serial number scanning is an overhead if it has to be done at every single move operation in the warehouse for tracking purposes, warehouses typically just record the fact that the serial number has reached the warehouse during the receiving process. Similarly, the serial number is scanned at shipping to record the fact that the serial number has left the warehouse. So, the location at any time is the last location at which it was scanned. Similarly, the ship node on the serial number will reflect the ship node at which it was last scanned.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SecondarySerial1"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_1" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SecondarySerial2"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_2" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SecondarySerial3"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_3" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SecondarySerial4"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_4" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SecondarySerial5"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_5" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SecondarySerial6"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_6" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SecondarySerial7"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_7" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SecondarySerial8"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_8" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SecondarySerial9"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SECONDARY_SERIAL_9" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Component serial numbers of the item. For example if we are recording serial number of the computer as SERIAL_NO, we could store the serial number of the battery, hard disk etc. in the secondary serial fields.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Serial number of the item. This is expected to be unique across each instance of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LPNList">
        <xsd:annotation>
            <xsd:documentation>Displays a list of all LPNs lying directly on the Set of Locations selected (i.e only OuterMostLPNs). If The search is based on a LPN, list of LPNs lying directly on the LPN are displayed.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LPN"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LPN">
        <xsd:annotation yfc:tableName="YFS_LPN_HDR">
            <xsd:documentation>Stores the LPN and its hierarchy.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Receipt">
                    <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
                        <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ReceiptNo"
                            type="yfctype:ReceiptNo" use="optional">
                            <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                                <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LPNLocation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ParentLPN"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OuterMostLPN"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A CaseId</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="CASE_QUANTITY" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The case quantity of the LPN. This will be present only if the user has overridden the case quantity at LPN creation, typically during receipts, because the case quantity is non-standard in this particular LPN. Otherwise, the case quantity is picked up based on the standard packaging type for the item. This attribute is of significance only when we are talking about single SKU pallet LPNs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DimensionUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="DIMENSION_UOM" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The unit of measure in which the length, width, and height of the LPN are measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Height" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="HEIGHT" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The height of the LPN. This will be present only if the user has overridden the dimension at LPN creation, typically during receipts. Otherwise, the dimensions are picked up based on the standard packaging type for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Length" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="LENGTH" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The length of the LPN. This will be present only if the user has overridden the dimension at LPN creation, typically during receipts. Otherwise, the dimensions are picked up based on the standard packaging type for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The code of the organization to which the LPN belongs. This is usually filled in situations where the LPN does not have contents. Usually, if we know the items on the LPN, we know the organization to which it belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A PalletId</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The receipt header key that is associated with this LPN header. &#xd;
This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Weight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The weight of the LPN. This will be present only if the user has overridden the weight at LPN creation, typically during receipts. Otherwise, the weight is picked up based on the standard packaging type for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The unit of measure in which the weight of the LPN is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Width" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="WIDTH" yfc:tableName="YFS_LPN_HDR">
                    <xsd:documentation>The width of the LPN. This will be present only if the user has overridden the dimension at LPN creation, typically during receipts.  Otherwise, the dimensions are picked up based on the standard packaging type for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LPNLocation">
        <xsd:annotation yfc:tableName="YFS_LPN_LOCATION">
            <xsd:documentation>Stores location of the LPN that directly sits on the location. In other words, it stores only the outermost LPN.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LPN_LOCATION">
                    <xsd:documentation>The identifier for the location. This, in conjunction with NODE_KEY, identifies a unique location in the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_LPN_LOCATION">
                    <xsd:documentation>The zone to which the location belongs. This, in conjunction with NODE_KEY, forms the unique key of the YFS_ZONE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ParentLPN">
        <xsd:annotation yfc:tableName="YFS_LPN_HDR">
            <xsd:documentation>Stores the LPN and its hierarchy.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A CaseId</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A PalletId</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OuterMostLPN">
        <xsd:annotation yfc:tableName="YFS_LPN_HDR">
            <xsd:documentation>Stores the LPN and its hierarchy.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A CaseId</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A PalletId</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
