Data/xapidocs/api_javadocs/XSD/WMS_getLocationSizeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getLocationSizeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getLocationSizeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getLocationSizeList_input.xsd" yfc:rootElement="LocationSize">
        <xsd:appinfo source="yfc:structure">
            <LocationSize hasAttributes="Y">
                <LocationCapacities>
                    <LocationCapacity hasAttributes="Y"/>
                </LocationCapacities>
            </LocationSize>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationSize" type="yfc:LocationSizeXSDType">
        <xsd:annotation yfc:tableName="YFS_LOCATION_SIZE">
            <xsd:documentation>Each location belongs to a specific location size code. Location size code defines the dimensions of the location, and the weight that it can withstand when products are stored in the location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationSizeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationCapacities"/>
        </xsd:all>
        <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>A brief description of the size code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DimensionUom" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>Unit of measure for Dimension. This unit of measure applies to Height, Length and Width attributes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DimensionUomQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromDescription" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromDimensionUom" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="FromHeight" type="yfctype:Dimension" use="optional"/>
        <xsd:attribute name="FromIsInfiniteCapacity" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromLength" type="yfctype:Dimension" use="optional"/>
        <xsd:attribute name="FromLocationSizeCode"
            type="yfctype:LocationSizeCode" use="optional"/>
        <xsd:attribute name="FromLocationSizeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromMaxWeight" type="yfctype:Dimension" use="optional"/>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromVolume" type="yfctype:Volume" use="optional"/>
        <xsd:attribute name="FromVolumeUom" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="FromWeightUom" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="FromWidth" type="yfctype:Number" use="optional"/>
        <xsd:attribute name="Height" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="HEIGHT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>This field indicates the height of location. The height is as per the dimension UOM set up against the node's locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HeightQryType" type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="IsInfiniteCapacity" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_INFINITE_CAPACITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>This flag indicates whether the dimension related fields are used to compute capacity, and whether the capacity checks are done.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsInfiniteCapacityQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Length" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="LENGTH"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>This field specifies the length of the location. The length is as per the dimension UOM set up against the node's locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LengthQryType" type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="LocationSizeCode"
            type="yfctype:LocationSizeCode" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>This field specifies the location size identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationSizeCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="LocationSizeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_SIZE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>The primary key for the YFS_LOCATION_SIZE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationSizeKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="MaxWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="MAX_WEIGHT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>This field indicates the maximum weight that this location can hold. The weight's UOM is as per the weight UOM set up against the node's locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxWeightQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>The primary key for the YFS_LOCATION_SIZE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToDescription" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToDimensionUom" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="ToHeight" type="yfctype:Dimension" use="optional"/>
        <xsd:attribute name="ToIsInfiniteCapacity" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToLength" type="yfctype:Dimension" use="optional"/>
        <xsd:attribute name="ToLocationSizeCode"
            type="yfctype:LocationSizeCode" use="optional"/>
        <xsd:attribute name="ToLocationSizeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToMaxWeight" type="yfctype:Dimension" use="optional"/>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToVolume" type="yfctype:Volume" use="optional"/>
        <xsd:attribute name="ToVolumeUom" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="ToWeightUom" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="ToWidth" type="yfctype:Number" use="optional"/>
        <xsd:attribute name="Volume" type="yfctype:Volume" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>Volume that a location can hold. This field is computed using the Height, Length and Width attributes as defined above.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VolumeQryType" type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="VolumeUom" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>Unit of measure for Volume.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VolumeUomQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WeightUom" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>Unit of measure for Weight.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WeightUomQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Width" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="WIDTH"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>This field specifies the width of the location. The dimension UOM of breadth is as per the dimension UOM set up against the node's locale.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WidthQryType" type="yfctype:NumberQryType" use="optional"/>
    </xsd:complexType>
    <xsd:element name="LocationCapacities">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LocationCapacity"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationCapacity">
        <xsd:annotation yfc:tableName="YFS_LOCATION_CAPACITY">
            <xsd:documentation>Each location has a certain capacity in terms of number of packages of certain packaging type. Item has dimensions and so has the location (size code). We could very easily have computed the location capacity by volume of item versus the volume of the location. If you notice, we have classified locations as belonging to locations of a certain size type and then associated dimensions with the size type. This significantly reduces the amount of data that needs to be configured. Similarly, we would need to classify items into categories for purposes of capacity calculations, so that we have lesser data to configure. For example, all items coming in a 2 feet * 2 feet * 2 feet box can be classified as having a capacity code of 2 feet cube packaged as a carton (packaging type). Similarly we could have the same item coming in a 6 * 6 * 6 feet pallet, which could be classified as 6 feet cube pallet. What is defined here is how many such packages can fit within the location of a particular size code. If this is not setup here at the item classification level, then capacity computation is done using volumes of the item versus volume of the location.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field specifies the enterprise identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromEnterpriseCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromItemClassificationCode"
                type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="FromLocationCapacityKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromLocationSizeCode"
                type="yfctype:LocationSizeCode" use="optional"/>
            <xsd:attribute name="FromNoOfPackages"
                type="yfctype:Integer" use="optional"/>
            <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPackagingType"
                type="yfctype:PackagingType" use="optional"/>
            <xsd:attribute name="ItemClassificationCode"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_CLASSIFICATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field specifies the item classification identifier. This field allows to dynamically select a capacity classification attribute of an item for defining the capacity constraints.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassificationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LocationCapacityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_CAPACITY_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The primary key for the YFS_LOCATION_CAPACITY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationCapacityKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LocationSizeCode"
                type="yfctype:LocationSizeCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field specifies the location size identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationSizeCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="NoOfPackages" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="NO_OF_PACKAGES"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field indicates the location capacity in terms of number of packages.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfPackagesQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>The primary key for the YFS_LOCATION_CAPACITY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PackagingType"
                type="yfctype:PackagingType" use="optional">
                <xsd:annotation yfc:columnName="PACKAGING_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_CAPACITY">
                    <xsd:documentation>This field indicates the packaging type, such as Pallets, Cartons.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackagingTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToEnterpriseCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToItemClassificationCode"
                type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="ToLocationCapacityKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToLocationSizeCode"
                type="yfctype:LocationSizeCode" use="optional"/>
            <xsd:attribute name="ToNoOfPackages" type="yfctype:Integer" use="optional"/>
            <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPackagingType"
                type="yfctype:PackagingType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
