Data/xapidocs/api_javadocs/XSD/WMS_beforeCreateMoveRequestUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/beforeCreateMoveRequestUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/beforeCreateMoveRequestUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_beforeCreateMoveRequestUE_output.xsd" yfc:rootElement="MoveRequest">
        <xsd:appinfo source="yfc:structure">
            <MoveRequest hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <WorkOrder hasAttributes="Y"/>
                <Wave hasAttributes="Y"/>
                <MoveRequestLines>
                    <MoveRequestLine hasAttributes="Y">
                        <Receipt hasAttributes="Y"/>
                        <MoveRequestLineTag hasAttributes="Y"/>
                    </MoveRequestLine>
                </MoveRequestLines>
            </MoveRequest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MoveRequest" type="yfc:MoveRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST">
            <xsd:documentation>This table stores all the move requests that are created for a node. The move requests may be created from any activity group.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MoveRequestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrder"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Wave"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:MoveRequestLines"/>
        </xsd:all>
        <xsd:attribute name="FinishNoLaterThan" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						Pass through field to be stamped on each task. It indicates that the task has to be completed before this date.
							<Validation>
                            <Condition>Passed value should not be less than the <code>StartNoEarlierThan</code> date.
								</Condition>
                            <Error
                                Description="Finish no later than date cannot be before Start no earlier than date." ErrorCode="WMS00139"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForActivityCode" type="yfctype:Activity" use="optional">
            <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
							Identifies the activity for which the move request is being logged. If this is passed, both source and target locations need not be passed. Activity location (i.e target location) for the passed activity is determined using getPutawayLocations API and inventory will be retrieved to this location.
							<Validation>
                            <Condition>
                                <code>ForActivityCode</code> passed should be a valid activity code.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="YCP0045"/>
                        </Validation>
                        <Validation>
                            <Condition>Either <code>FromActivityGroup</code> or <code>ForActivityCode</code> should be passed. 
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed." ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromActivityGroup"
            type="yfctype:EnumActivityGroup" use="optional">
            <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						Identifies the department, which created this move request. All the activity groups that are not multi-location in nature can create the move request for the activity groups that are multi-location in nature, e.g. <code>RECEIPT</code> can create move request for <code>PUTAWAY</code> and <code>RETRIEVAL</code>. Valid values - <code>RECEIPT</code>, <code>VAS</code>, <code>PACK_AND_HOLD</code>, <code>ADHOC_MOVE</code>, <code>PICK</code> and <code>REPLENISHMENT</code>.
							<Validation>
                            <Condition>
                                <code>FromActivityGroup</code> passed should be a valid activity group.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                        <Validation>
                            <Condition>Either <code>FromActivityGroup</code> or <code>ForActivityCode</code> should be passed. 
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed." ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>The primary key for the YFS_MOVE_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_NO" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
                        <code>MoveRequestNo</code> identifies a move request within the context of an activity group for a node. This is the unique key of the <code>YFS_Move_Request</code> entity. If not passed, then is populated with one up number that is generated using the DB sequence.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						This is the <code>Node</code> where move request would be executed. It is the primary key attribute of the <code>YFS_SHIP_NODE</code> table. 
							<Validation>
                            <Condition>Either primary key (<code>MoveRequestKey</code>) or all attributes of unique key (<code>MoveRequestNo</code> and <code>Node</code>) must be passed. Error if <code>Node</code> is not passed alongwith <code>MoveRequestNo</code>. 
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed." ErrorCode="WMS00063"/>
                        </Validation>
                        <Validation>
                            <Condition>Either primary key (<code>MoveRequestKey</code>) or all attributes of unique key (<code>MoveRequestNo</code> and <code>Node</code>) must be passed. Error if Move request for the <code>Node</code> does not exist in the database. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						An integer priority. Requests will be processed in the order of this priority. System defined Common Code with CodeType <code>PRIORITY</code>. If priority is not passed, then it is defaulted to value <code>
                            <b>3</b>
                        </code> i.e. <code>Normal</code>
                        <br/>Valid values - <code>
                            <b>1</b>
                        </code>, <code>
                            <b>2</b>
                        </code>, <code>
                            <b>3</b>
                        </code>, <code>
                            <b>4</b>
                        </code>. These values correspond to <code>Urgent</code>, <code>High</code>, <code>Normal</code> and <code>Low</code> values respectively.
							<Validation>
                            <Condition>Passed value should be greater than zero. Error if the passed value is less than zero.
								</Condition>
                            <Error
                                Description="Priority value cannot be less than Zero." ErrorCode="WMS00143"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value should be should correspond to one of the Common Code values.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RejectRequest" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>This flag indicates whether the request is to be created or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Release" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>This flag indicates whether the request is to be released immediately after creation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_USER_ID" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						User who requested the move.
							<Validation>
                            <Condition>
                                <code>RequestUserId</code> if passed, should be a valid user. Error if <code>RequestUserId</code> passed is not a  valid user.
								</Condition>
                            <Error
                                Description="Invalid User identifiers passed." ErrorCode="YCP0084"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						Identifies a <code>Shipment</code> in context of the move request. If not passed, then <code>ShipmentKey</code> is determined based on the child node Shipment.
							<Validation>
                            <Condition>shipment corresponding to the passed <code>ShipmentKey</code> must exist in the database.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						Pass through field to be stamped on each task. It indicates that the task is not to be picked up before this date.
							<Validation>
                            <Condition>Passed value should not be less than the current date. Error if passed value is less than the current date.
								</Condition>
                            <Error
                                Description="Start no earlier than date cannot be before current time." ErrorCode="WMS00138"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						Identifies a <code>Wave</code> in context of the move request. If not passed, then <code>WaveKey</code> is determined based on the child node Wave.
							<Validation>
                            <Condition>Record corresponding to the passed <code>WaveKey</code> must exist in the database.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                <xsd:documentation>
                    <div>
						Identifies a <code>WorkOrder</code> in context of the move request. If not passed, then WorkOrderKey is determined based on the child node WorkOrder.
							<Validation>
                            <Condition>Record corresponding to the passed <code>WorkOrderKey</code> must exist in the database.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
					The <code>Shipment</code> child node is optional. If <code>ShipmentKey</code> is not passed and Shipment child node is passed then, <code>ShipmentKey</code> can be determined based on the passed unique key of the <code>YFS_Shipment entity</code>: <code>ShipmentNo</code>, <code>ShipNode</code> (same as <code>Node</code> passed in the <code>MoveRequest</code>) and <code>SellerOrganizationCode</code>.
						<Validation>
                        <Condition>Multiple records should not exist for the passed Shipment criteria. Error if it exists.
								</Condition>
                        <Error
                            Description="Multiple records found for passed inputs." ErrorCode="WMS00003"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>
                            <code>ShipmentNo</code> is a part of unique key. ShipNode and SellerOrganizationCode identify the origin of the shipment (i.e. The place from where the shipment was shipped).
							<Validation>
                                <Condition>Record corresponding to the passed <code>ShipmentNo</code> must exist in the database.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrder">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>
                <div>
					The <code>WorkOrder</code> child node is optional. If <code>WorkOrderKey</code> is not passed and <code>WorkOrder</code> child node is passed then, <code>WorkOrderKey</code> can be determined based on the passed unique key of the <code>YFS_Work_Order entity</code>: <code>WorkOrderNo</code>, <code>Node</code> (same as <code>Node</code> passed in the MoveRequest) and <code>EnterpriseCode</code>.
						<Validation>
                        <Condition>Multiple records should not exist for the passed WorkOrder criteria. Error if it exists.
								</Condition>
                        <Error
                            Description="Multiple records found for passed inputs." ErrorCode="WMS00003"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>
                            <code>WorkOrderNo</code> is a part of unique key. Node is where work orders would be executed. EnterpriseCode to which inventory belongs.
							<Validation>
                                <Condition>Record corresponding to the passed <code>WorkOrderNo</code> must exist in the database.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Wave">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>
                <div>
					The <code>Wave</code> child node is optional. If <code>WaveKey</code> is not passed and Wave child node is passed then, <code>WaveKey</code> can be determined based on the passed unique key of the <code>YFS_Wave entity</code>: <code>WaveNo</code>, <code>Node</code> (same as <code>Node</code> passed in the <code>MoveRequest</code>).
						<Validation>
                        <Condition>Multiple records should not exist for the passed Wave criteria. Error if it exists.
								</Condition>
                        <Error
                            Description="Multiple records found for passed inputs." ErrorCode="WMS00003"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>
                        <div>
                            <code>WaveNo</code> is a part of unique key. Node identify the origin of the Wave (i.e. The place from where the Wave was created). 
							<Validation>
                                <Condition>Record corresponding to the passed <code>WaveNo</code> must exist in the database.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:MoveRequestLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestLine">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST_LINE">
            <xsd:documentation>This table contains details of the inventory that needs to be moved against a move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MoveRequestLineTag"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								A CaseId
									<Validation>
                                <Condition>Both <code>CaseId</code> and <code>PalletId</code> cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
										</Condition>
                                <Error
                                    Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                            </Validation>
                            <Validation>
                                <Condition>If passed, should be a valid license plate i.e. this license plate must exist in the database.
										</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                            <Validation>
                                <Condition>If passed along with <code>SourceLocationId</code>, then this license plate should be on this location passed.
										</Condition>
                                <Error
                                    Description="CaseId/PalletId exists at a different location." ErrorCode="WMS00014"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Country in which the item was manufactured.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Enterprise to which the item belongs.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Inventory status of the item.
									<Validation>
                                <Condition>If passed, should be a valid inventory status defined in the given Node.
										</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
                            <code>ItemId</code> for which move is to be created.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The move request key that is associated with this move request line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								This is the primary key of the <code>YFS_Move_Request_Line</code> entity.
									<Validation>
                                <Condition>If passed, then MoveRequestLine corresponding to this key should not exist in the database.
										</Condition>
                                <Error
                                    Description="Cannot create new record." ErrorCode="WMS00124"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								A PalletId 
									<Validation>
                                <Condition>Both <code>CaseId</code> and <code>PalletId</code> cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
										</Condition>
                                <Error
                                    Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                            </Validation>
                            <Validation>
                                <Condition>If passed, should be a valid license plate i.e. this license plate must exist in the database.
										</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                            <Validation>
                                <Condition>If passed along with <code>SourceLocationId</code>, then this license plate should be on this location passed.
										</Condition>
                                <Error
                                    Description="CaseId/PalletId exists at a different location." ErrorCode="WMS00014"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Product class of the item.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Identifies the receipt against which an inventory was received in the node. If not passed, then <code>ReceiptHeaderKey</code> is determined based on the child node Receipt.
									<Validation>
                                <Condition>
                                    <code>ReceiptHeaderKey</code> if passed, should be a valid key i.e. receipt corresponding to this <code>ReceiptHeaderKey</code> must exist in the database.
										</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="REQUEST_QUANTITY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Quantity in the Item's unit of measure that is required to be moved. If action is <code>MODIFY</code>, then <code>RequestQuanity</code> is modified.
									<Validation>
                                <Condition>If passed, value should not be negative.
										</Condition>
                                <Error
                                    Description="Quantity passed cannot be negative." ErrorCode="WMS00057"/>
                            </Validation>
                            <Validation>
                                <Condition>If passed, then Item details (<code>ItemId</code>, <code>UnitOfMeasure</code>, <code>EnterpriseCode</code> and <code>ProductClass</code>) must be passed.
										</Condition>
                                <Error
                                    Description="Item details are not passed in input." ErrorCode="WMS00020"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>The segment to which the inventory that is moved belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								MTO/MTC indicating made to order or made to customer. System defined common code CodeType <code>SEGMENT_TYPE</code>. Valid values - MTO, MTC.
									<Validation>
                                <Condition>If passed, should be a valid common code CodeValue.
										</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                            <Validation>
                                <Condition>If passed, then Segment should be also passed.
										</Condition>
                                <Error
                                    Description="Both Segment and SegmentType are required." ErrorCode="WMS00101"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Identifies a serial number for a Request involving serialized item.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Date before which a time-sensitive inventory must be shipped out.  If not passed, it is defaulted to DB high date.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_LOCATION_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Source Location from where inventory is moved to a target location. If not passed, source locations from where inventory is to be fetched are determined during the release of move request by calling <code>getPickLocations</code> API with other line attributes as its input criteria.
									<Validation>
                                <Condition>If passed, <code>SourceLocationId</code> should be a valid location in the given Node.
										</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="TARGET_LOCATION_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                    <xsd:documentation>
                        <div>
								Destination Location where the inventory is moved from a source location. If not passed, target locations where inventory is to be moved are determined during the release of move request by calling <code>getPutawayLocations</code> API with other line attributes as its input criteria.
									<Validation>
                                <Condition>If passed, <code>TargetLocationId</code>  should be a valid location in the given Node.
										</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Unit of Measure for the item.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>
                <div>
                    <code>ReceiptNo</code> is a part of unique key, which identifies a receipt along with <code>ReceivingNode</code>. <code>ShipmentKey</code> specifies the shipment being received.
						<Validation>
                        <Condition>Multiple records should not exist for the passed Receipt criteria.
								</Condition>
                        <Error
                            Description="Multiple records found for passed inputs." ErrorCode="WMS00003"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>
                        <div>
						Unique key or business key, which by itself identifies a receipt along with ReceivingNode.
							<Validation>
                                <Condition>
                                    <code>ReceiptNo</code> if passed, receipt corresponding to this <code>ReceiptNo</code> must exist in the database.
								</Condition>
                                <Error
                                    Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The Receiving Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestLineTag">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
            <xsd:documentation>This table stores the details of the inventory tags, for inventory that needs to be moved against a move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The batch number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotManufactureDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The date of manufacture of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The lot number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The move request line key that is associated with this move request line tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineTagKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MOVE_REQUEST_LINE_TAG_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The primary key for the YFS_MOVE_REQUEST_LINE_TAG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The revision number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
