Data/xapidocs/api_javadocs/XSD/WMS_getAdjustmentReasonList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getAdjustmentReasonList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getAdjustmentReasonList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getAdjustmentReasonList_output.xsd" yfc:rootElement="AdjustmentReasonList">
        <xsd:appinfo source="yfc:structure">
            <AdjustmentReasonList hasAttributes="Y">
                <AdjustmentReason hasAttributes="Y">
                    <AdjustmentReasonDetails hasAttributes="Y">
                        <AdjustmentReasonDetail hasAttributes="Y"/>
                    </AdjustmentReasonDetails>
                    <AdjustmentLocationSequenceList>
                        <AdjustmentLocationSequence hasAttributes="Y"/>
                    </AdjustmentLocationSequenceList>
                </AdjustmentReason>
            </AdjustmentReasonList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AdjustmentReasonList" type="yfc:AdjustmentReasonListXSDType"/>
    <xsd:complexType name="AdjustmentReasonListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdjustmentReason"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="AdjustmentReason">
        <xsd:annotation yfc:tableName="YFS_ADJUSTMENT_REASON">
            <xsd:documentation>Stores the reason for inventory adjustment.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdjustmentReasonDetails"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdjustmentLocationSequenceList"/>
            </xsd:all>
            <xsd:attribute name="AccountingBinLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation
                    yfc:columnName="ACCOUNTING_BIN_LOCATION_ID" yfc:tableName="YFS_ADJUSTMENT_REASON">
                    <xsd:documentation>The identifier of the accounting bin location. This, in conjunction with NODE_KEY, identifies a unique location in the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentReasonKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ADJUSTMENT_REASON_KEY" yfc:tableName="YFS_ADJUSTMENT_REASON">
                    <xsd:documentation>The primary key for the YFS_ADJUSTMENT_REASON table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ADJUSTMENT_REASON">
                    <xsd:documentation>The description of the adjustment status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImplyDecrement" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IMPLY_DECREMENT" yfc:tableName="YFS_ADJUSTMENT_REASON">
                    <xsd:documentation>This flag implies that the adjustment reason usually results in decrement.  Valid Value: Y/N.  Default Value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImplyIncrement" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IMPLY_INCREMENT" yfc:tableName="YFS_ADJUSTMENT_REASON">
                    <xsd:documentation>This flag implies that the adjustment reason usually results in increment.  Valid Value: Y/N.  Default Value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ADJUSTMENT_REASON">
                    <xsd:documentation>The node key that is associated with this adjustment reason.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_ADJUSTMENT_REASON">
                    <xsd:documentation>The reason for the inventory transaction. This field is typically populated when the user does an inventory adjustment. Inventory bins, which will be used to adjust inventory (for inventory synchronization) on the host systems, will be tied to this reason code. This can be associated to a sequence of loations in YFS_Adjustment_Locn_Seq entity. During inventory adjustments if the location to be adjusted is not known, these associated locations associated are used to deduct inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdjustmentReasonDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdjustmentReasonDetail"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdjustmentReasonDetail">
        <xsd:annotation yfc:tableName="YFS_ADJUSTMENT_REASON_DTL">
            <xsd:documentation>Stores the reason for inventory adjustment.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdjustmentReasonDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ADJUSTMENT_REASON_DTL_KEY" yfc:tableName="YFS_ADJUSTMENT_REASON_DTL">
                    <xsd:documentation>The primary key for the YFS_ADJUSTMENT_REASON_DTL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentReasonKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ADJUSTMENT_REASON_KEY" yfc:tableName="YFS_ADJUSTMENT_REASON_DTL">
                    <xsd:documentation>The adjustment reason key that is associated with this adjustment reason detail.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ADJUSTMENT_REASON_DTL">
                    <xsd:documentation>The code of the inventory organization to which the reason code is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HostReasonCode"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="HOST_REASON_CODE" yfc:tableName="YFS_ADJUSTMENT_REASON_DTL">
                    <xsd:documentation>The reason for the inventory transaction. This field is typically populated when the user does an inventory adjustment. Inventory bins, which will be used to adjust inventory (for inventory synchronization) on the host systems, will be tied to this reason code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdjustmentLocationSequenceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdjustmentLocationSequence"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdjustmentLocationSequence">
        <xsd:annotation yfc:tableName="YFS_ADJUSTMENT_LOCN_SEQ">
            <xsd:documentation>This table stores the zone or location sequence for inventory adjustments. During inventory adjustments, these locations or zones are considered in the order of sequence. If zones are configured in the adjustment sequence, locations within the zone are considered in the order of pick sequence and location id. Inventory is deducted from non-virtual locations till a virtual location is reached, and the rest of the inventory is deducted from that location. The inventory adjustment is such that only the virtual location configured in the adjustment sequence goes negative.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdjustmentLocationSequenceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ADJUSTMENT_LOCN_SEQ_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ADJUSTMENT_LOCN_SEQ">
                    <xsd:documentation>Primary key attribute of YFS_ADJUSTMENT_LOCN_SEQ table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentLocationSequenceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="AdjustmentReasonKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ADJUSTMENT_REASON_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ADJUSTMENT_LOCN_SEQ">
                    <xsd:documentation>Primary key attribute of YFS_ADJUSTMENT_REASON table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdjustmentReasonKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromAdjustmentLocationSequenceKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromAdjustmentReasonKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromLocationKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromSequence" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromZoneKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="LocationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ADJUSTMENT_LOCN_SEQ">
                    <xsd:documentation>Primary key attribute of YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Sequence" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ADJUSTMENT_LOCN_SEQ">
                    <xsd:documentation>Sequence in which the location or zone has to be considered while adjusting inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ToAdjustmentLocationSequenceKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToAdjustmentReasonKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToLocationKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToSequence" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToZoneKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ADJUSTMENT_LOCN_SEQ">
                    <xsd:documentation>Primary key attribute of YFS_ZONE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
