Data/xapidocs/api_javadocs/XSD/WMS_getWaveAuditList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getWaveAuditList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getWaveAuditList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getWaveAuditList_input.xsd" yfc:rootElement="WaveAudit">
        <xsd:appinfo source="yfc:structure">
            <WaveAudit hasAttributes="Y">
                <Wave hasAttributes="Y"/>
            </WaveAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WaveAudit" type="yfc:WaveAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_WAVE_AUDIT">
            <xsd:documentation>This table stores audits for a wave.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WaveAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Wave"/>
        </xsd:all>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_WAVE_AUDIT">
                <xsd:documentation>Unique Identifier of the Wave that is being audited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Wave">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>This table stores wave definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>Indicates the node or warehouse where wave(s) are created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
