Data/xapidocs/api_javadocs/XSD/WMS_circumventLooseContainerizationUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/circumventLooseContainerizationUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/circumventLooseContainerizationUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_circumventLooseContainerizationUE_input.xsd" yfc:rootElement="LooseContainerization">
        <xsd:appinfo source="yfc:structure">
            <LooseContainerization>
                <ContainerList>
                    <Item hasAttributes="Y">
                        <PrimaryInformation hasAttributes="Y"/>
                        <ClassificationCodes hasAttributes="Y"/>
                        <ContainerInformation hasAttributes="Y"/>
                        <SkuUnitSizeCodeList>
                            <SkuUnitSizeCode hasAttributes="Y"/>
                        </SkuUnitSizeCodeList>
                    </Item>
                </ContainerList>
                <ItemToBePackedList>
                    <ItemToBePacked hasAttributes="Y"/>
                </ItemToBePackedList>
            </LooseContainerization>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LooseContainerization" type="yfc:LooseContainerizationXSDType"/>
    <xsd:complexType name="LooseContainerizationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemToBePackedList"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ContainerList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ClassificationCodes"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SkuUnitSizeCodeList"/>
            </xsd:all>
            <xsd:attribute name="GlobalItemID"
                type="yfctype:GlobalItemID" use="optional">
                <xsd:annotation yfc:columnName="GLOBAL_ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique global identifier used to cross reference an item with another catalog organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:ItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The item group code. Used to identify if the item is a Product, Provided Service, Provided Service Option, Delivery Service or Delivery Service Option.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CapacityQuantityStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_QUANTITY_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the capacity quantity is arrived at for provided and delivery services from the inventory quantity.   Valid values: ORD - Based on the ordered service quantity; ASSOC - Based on the service and product association.  Default value: ORD.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostCurrency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="COST_CURRENCY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The currency in which the item's cost is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The item's country of origin/manufacture.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_PRODUCT_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The default product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The extended multi-line description of the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsReturnable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RETURNABLE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether this product item is returnable. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShippingAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method SHP is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShippingCntr" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SHIPPING_CNTR" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether this item is a container or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The generic type of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitCode" type="yfctype:EnumKitCode" use="optional">
                <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates the kit code for this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerItem"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_ITEM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The identifier used by a manufacturer to identify an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerItemDesc"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_ITEM_DESC" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of an item, from a manufacturer's view point.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerName"
                type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_NAME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The manufacturer of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterCatalogID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="MASTER_CATALOG_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The master catalog to which an item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxOrderQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MAX_ORDER_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The maximum order quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinOrderQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MIN_ORDER_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The minimum order quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumCapacityQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="MINIMUM_CAPACITY_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This is the minimum capacity quantity which will be assumed when  the inventory quantity of the line to arrive at the capacity quantity when the strategy is to arrive at the capacity quantity by association with product line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryEnterpriseCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_ENTERPRISE_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary enterprise associated with an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductLine" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The product line associated with the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresProdAssociation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRES_PROD_ASSOCIATION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>IThis flag indicates whether the item must be associated to an order line having a group code of PROD. Applicable for service items which must be associated to a Product order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:EnumShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates the status of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The cost of one unit of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitHeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_HEIGHT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The height of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitHeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_HEIGHT_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which item height is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitLength" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_LENGTH" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The length of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitLengthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_LENGTH_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which an item length is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WEIGHT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The weight of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WEIGHT_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which the item weight is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWidth" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WIDTH" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The width of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWidthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WIDTH_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which an item's width is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClassificationCodes">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CommodityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COMMODITY_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The commodity code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ECCNNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ECCN_NO" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The ECCN number of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HarmonizedCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="HARMONIZED_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The harmonized code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HazmatClass" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="HAZMAT_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The hazardous material classification code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NAICSCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NAICS_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NAICS code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NMFCClass" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="NMFC_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NMFC class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NMFCCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NMFC_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NMFC code for an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OperationalConfigurationComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="OPERATIONAL_CONFIG_COMPLETE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the operational configuration is complete.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickingType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PICKING_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The picking type code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Schedule_B_Code" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCHEDULE_B_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The schedule B code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The storage type code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxProductCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_PRODUCT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The tax product code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UNSPSC" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UNSPSC" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The UNSPSC code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VelocityCode"
                type="yfctype:VelocityCode" use="optional">
                <xsd:annotation yfc:columnName="VELOCITY_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The velocity code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CapacityVolume"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_VOLUME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The maximum volume of the container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityVolumeUom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_VOLUME_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The volume unit of measure of the container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerSize" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_SIZE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The code that identifies this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerType" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The type of the container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EmptyCnrWeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxCnrWeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxCnrWeightUom" type="yfctype:String" use="optional"/>
            <xsd:attribute name="VolumeAllowance"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="VOLUME_ALLOWANCE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The volume allowance that is permitted for this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SkuUnitSizeCodeList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SkuUnitSizeCode"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SkuUnitSizeCode">
        <xsd:complexType>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="sizeCode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemToBePackedList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemToBePacked"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemToBePacked">
        <xsd:complexType>
            <xsd:attribute name="ContainerCategory"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Height" type="yfctype:String" use="optional"/>
            <xsd:attribute name="HeightUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IdentifierKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Length" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LengthUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductClass" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SKUUnitSizeCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SourceSortSequence"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SourceZoneId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalVolume" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalVolumeUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalWeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalWeightUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Width" type="yfctype:String" use="optional"/>
            <xsd:attribute name="WidthUOM" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
