Data/xapidocs/api_javadocs/XSD/WMS_getLocationInventorySummary_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getLocationInventorySummary/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getLocationInventorySummary/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getLocationInventorySummary_input.xsd" yfc:rootElement="LocationInventorySummary">
        <xsd:appinfo source="yfc:structure">
            <LocationInventorySummary hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationInventorySummary" type="yfc:LocationInventorySummaryXSDType"/>
    <xsd:complexType name="LocationInventorySummaryXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div> 
					Inventory Organization Code. The Enterprise whose product information is being stored.
						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION_INVENTORY">
                <xsd:documentation>
                    <div> 
					Specifies the location in which the inventory is stored.
					<Validation>
                            <Condition>
                                <code>Node</code> must be passed.
							</Condition>
                            <Error
                                Description="Mandatory parameters not passed." ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LOCATION_INVENTORY">
                <xsd:documentation>
                    <div> Business key or unique identifier for a ship node.
					<Validation>
                            <Condition>
                                <code>Node</code> must be passed.
							</Condition>
                            <Error
                                Description="Mandatory parameters not passed." ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
