Data/xapidocs/api_javadocs/XSD/WMS_getLocationStorageCodeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getLocationStorageCodeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getLocationStorageCodeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getLocationStorageCodeList_input.xsd" yfc:rootElement="LocationStorageCode">
        <xsd:appinfo source="yfc:structure">
            <LocationStorageCode hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationStorageCode" type="yfc:LocationStorageCodeXSDType">
        <xsd:annotation yfc:tableName="YFS_LOCATION_STORAGE_CODE">
            <xsd:documentation>A location may be associated with a location storage code. A storage code indicates a storage classification of location. It is an attribute of the location that allows the warehouse to store items that have the same storage profile as that of the location.  For example, hazardous inflammable items need locations close to fire extinguishers. In this case the locations will be marked as having a storage code which is suitable for storing inflammable item. This ensures that only inflammable items get to these locations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationStorageCodeXSDType">
        <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>A brief description of the storage code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromDescription" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromLocationStorageCode"
            type="yfctype:StorageCode" use="optional"/>
        <xsd:attribute name="FromLocationStorageKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="LocationStorageCode"
            type="yfctype:StorageCode" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_STORAGE_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>A storage code indicates a storage classification of the location. It is an attribute of the location that allows the warehouse to store items with similar storage profile as that of the location.  For example, hazardous inflammable items need locations close to fire extinguishers. In this case, the locations will be marked as having a storage code which is suitable for storing inflammable item. This ensures that only inflammable items are stored in these locations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationStorageCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="LocationStorageKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_STORAGE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>The primary key for the YFS_LOCATION_STORAGE_CODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationStorageKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>Node Identifier. Primary key of the YFS_SHIP_NODE table. Identifies the node to which the location belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToDescription" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToLocationStorageCode"
            type="yfctype:StorageCode" use="optional"/>
        <xsd:attribute name="ToLocationStorageKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
    </xsd:complexType>
</xsd:schema>
