Data/xapidocs/api_javadocs/XSD/WMS_manageDockAppointment_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/manageDockAppointment/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/manageDockAppointment/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_manageDockAppointment_output.xsd" yfc:rootElement="DockAppointment">
        <xsd:appinfo source="yfc:structure">
            <DockAppointment hasAttributes="Y">
                <CapacityReservation hasAttributes="Y">
                    <CapacityConsumption hasAttributes="Y"/>
                </CapacityReservation>
            </DockAppointment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DockAppointment" type="yfc:DockAppointmentXSDType">
        <xsd:annotation yfc:tableName="YFS_DOCK_APPOINTMENT">
            <xsd:documentation>All appointments taken for dock location(s) are stored in this table. The table can also store the reference to the shipment, load, carrier etc. for which appointment is taken.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DockAppointmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacityReservation"/>
        </xsd:all>
        <xsd:attribute name="AppointmentType" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="APPOINTMENT_TYPE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>This field indicates the appointment type of the appointment being taken. It can either be OUTBOUND or INBOUND.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BolNo" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The bill of lading number .</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Carrier" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="CARRIER" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The carrier service code associated with the dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DockAppointmentKey" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="DOCK_APPOINTMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The primary key for the YFS_DOCK_APPOINTMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The load key of the load associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Specifies the Dock location for which appointment is taken.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The node key that is associated with this appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The order header key of the order associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>Organization code of the user creating the appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNo" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The progressive number. It is generated for Loads with shipment mode as LTL, also if shipment mode changes from any other mode to LTL. Re-generation of PRO number happens, when the Carrier changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResPoolConsmptnDtlsKey"
            type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="RES_POOL_CONSMPTN_DTLS_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The primary key for the YFS_RES_POOL_CONSMPTN_DTLS_KEY table which is associated to this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The shipment key of the shipment associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerNo" type="yfctype:String" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The trailer number by which the shipment/load leaves the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CapacityReservation">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacityConsumption"/>
            </xsd:all>
            <xsd:attribute name="ReservationId" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> ReservationId of Dock appointment.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CapacityConsumption">
        <xsd:complexType>
            <xsd:attribute name="ConsumptionDate" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the date of Dock appointment.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> End time of Dock appointment.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Start time of Dock appointment.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
