Data/xapidocs/api_javadocs/XSD/WMS_getExecutionExceptionAuditList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getExecutionExceptionAuditList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getExecutionExceptionAuditList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getExecutionExceptionAuditList_output.xsd" yfc:rootElement="ExecutionExceptionAuditList">
        <xsd:appinfo source="yfc:structure">
            <ExecutionExceptionAuditList hasAttributes="Y">
                <ExecutionExceptionAudit hasAttributes="Y"/>
            </ExecutionExceptionAuditList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExecutionExceptionAuditList" type="yfc:ExecutionExceptionAuditListXSDType"/>
    <xsd:complexType name="ExecutionExceptionAuditListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ExecutionExceptionAudit"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ExecutionExceptionAudit">
        <xsd:annotation yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
            <xsd:documentation>This table stores the execution exception audits.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityGroupId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The activity group of the task in context.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowPartialDeposit"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOW_PARTIAL_DEPOSIT" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether picked inventory is partially deposited at the suggested location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternateDepositLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation
                    yfc:columnName="ALTERNATE_DEPOSIT_LOCATION_ID" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The alternate deposit location suggested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternatePickLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation
                    yfc:columnName="ALTERNATE_PICK_LOCATION_ID" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The alternate pick location suggested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The enterprise key that is associated with the task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_CODE" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This field specifies the unique code of the user defined execution exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_QUANTITY" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The quantity for which the exception is executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionType"
                type="yfctype:EnumExecutionException" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This field indicates the execution exception types. Valid values are: PICK, DEPOSIT, and SKIP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeSourceForMoveOut"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="FREEZE_SOURCE_FOR_MOVE_OUT" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether the source location is frozen for moving out the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeTargetForMoveIn"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="FREEZE_TARGET_FOR_MOVE_IN" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether the target location is frozen for moving in the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatusForUnavailableQty"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="INV_STS_FOR_UNAVAILABLE_QTY" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This field indicates the inventory status of the unavailable item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsTaskHeld" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_TASK_HELD" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether the task is held.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsTaskSkipped" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_TASK_SKIPPED" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether the task is skipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MarkTargetAsFull" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MARK_TARGET_AS_FULL" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether the target location is marked as full.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The ship node's organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_QUANTITY" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The quantity for which the task is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalSourceLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation
                    yfc:columnName="ORIGINAL_SOURCE_LOCATION_ID" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The original location from where inventory has to be picked up.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalTargetLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation
                    yfc:columnName="ORIGINAL_TARGET_LOCATION_ID" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The original location where inventory has to be deposited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuggestAlternateDepositLocation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SUGGEST_ALT_DEPOSIT_LCN" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether an alternate deposit location is requested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuggestAlternatePickLocation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SUGGEST_ALTERNATE_PICK_LCN" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether an alternate pick location is requested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The one up number that uniquely identifies the task against which the exception is recorded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The task type associated with the task in context.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnassignUser" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="UNASSIGN_USER" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>This flag indicates whether the current task is rejected.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_EXECUTION_EXCEPTION_AUDIT">
                    <xsd:documentation>The user who executed the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
