Data/xapidocs/api_javadocs/XSD/WMS_getPhysicalCountCategoryList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountCategoryList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountCategoryList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getPhysicalCountCategoryList_input.xsd" yfc:rootElement="PhysicalCountCategory">
        <xsd:appinfo source="yfc:structure">
            <PhysicalCountCategory hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PhysicalCountCategory" type="yfc:PhysicalCountCategoryXSDType">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_CATEGORY">
            <xsd:documentation>This transaction table is to store the values of a physical count Categories in a warehouse.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PhysicalCountCategoryXSDType">
        <xsd:attribute name="PhysicalCountCategoryKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PHY_CNT_CATEGORY_KEY" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                <xsd:documentation>The primary key for the YFS_PC_CATEGORY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PhysicalCountCategoryName"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PHY_CNT_CATEGORY_NAME" yfc:tableName="YFS_PHY_CNT_CATEGORY">
                <xsd:documentation>Category Name of the activities in physical count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
