Data/xapidocs/api_javadocs/XSD/WMS_getPhysicalCountPlanDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountPlanDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountPlanDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getPhysicalCountPlanDetails_input.xsd" yfc:rootElement="PhysicalCountPlan">
        <xsd:appinfo source="yfc:structure">
            <PhysicalCountPlan hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PhysicalCountPlan" type="yfc:PhysicalCountPlanXSDType">
        <xsd:annotation yfc:tableName="YFS_PHY_CNT_PLAN">
            <xsd:documentation>This transaction table is to store the values of a planned physical count in a warehouse.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PhysicalCountPlanXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>The enterprise code associated with the physical count plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>Node for which physical count plan is setup.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PhysicalCountPlanKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="PHY_CNT_PLAN_KEY" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>The primary key for the YFS_PHY_CNT_PLAN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlanName" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="PHY_CNT_PLAN_NAME" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>Plan Name of the physical count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="PHY_CNT_START_DATE" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>The date of start of the physical count plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_PHY_CNT_PLAN">
                <xsd:documentation>The current status of the Physical Count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
