Data/xapidocs/api_javadocs/XSD/WMS_manageWave_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/manageWave/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/manageWave/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_manageWave_input.xsd" yfc:rootElement="Wave">
        <xsd:appinfo source="yfc:structure">
            <Wave hasAttributes="Y">
                <ShipmentList>
                    <Shipment hasAttributes="Y"/>
                </ShipmentList>
                <ShipmentCriteria hasAttributes="Y">
                    <ShipmentLines>
                        <ShipmentLine/>
                    </ShipmentLines>
                </ShipmentCriteria>
            </Wave>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Wave" type="yfc:WaveXSDType">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If action is other than <b>
                                <code>CREATE</code>
                            </b>, then the <code>WaveKey</code> attribute OR the <code>WaveNo</code> and <code>Node</code> attributes must be passed and must be valid. 
					</Condition>
                        <Error
                            Description="WMS: Wave does not exist for the input passed." ErrorCode="WMS00129"/>
                    </Validation>
                    <Validation>
                        <Condition>Either <b>
                                <code>ShipmentList</code>
                            </b>or <code>ShipmentCriteria</code> Child Element must be passed
					</Condition>
                        <Error
                            Description="WMS:Either ShipmentList or ShipmentCriteria needs to be passed" ErrorCode="WMS00029"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WaveXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentCriteria"/>
        </xsd:all>
        <xsd:attribute name="AcceptImmediately" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If passed as <code>Y</code>
                        <code>Wave</code> will be accepted at the time of creation itself. This attribute is ignored if the API is called to modify an existing <code>Wave</code>.
						<br/>Default:<b>
                            <code>N</code>
                        </b> - Auto acceptance rules specified in <code>ShipmentGroup</code> are applied.
						<br/>Valid Values:
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - Wave is created in  <code> Accepted(1100.10)</code>. 
						<br/>
                        <b>
                            <code>N</code>
                        </b> - Wave can be created in <code>Created (1100)</code> or in <code>Auto Accepted (1100.10)</code> status depending on <code>ShipmentGroup</code>.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Action" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Action to perform on this <code>Wave</code>.
						<br/>Default:<b>
                            <code>MODIFY</code>
                        </b> - Wave attributes can be modified.
						<br/>Valid Values:
						<br/>
                        <b>
                            <code>CANCEL</code>
                        </b> - Cancels an entire <code>Wave</code>. WaveNo is blanked out from all the shipment lines belonging to the wave.
						<br/>
                        <b>
                            <code>CREATE</code>
                        </b> - Creates a new wave.  If action is CREATE, WaveNo, WaveKey passed to this api will be ignored.
						<br/>
                        <b>
                            <code>MODIFY</code>
                        </b> - Changes a line.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
				 Mandatory when <code>Action</code> is <code>CREATE</code>
                        <Validation>
                            <Condition>Must be a valid <code>Node</code> , in the table <code>YFS_SHIP_NODE</code>.
					</Condition>
                            <Error
                                Description="WMS:Node passed does not exist." ErrorCode="WMS00042"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Node</code> must be passed.
					</Condition>
                            <Error Description="WMS: Node not passed." ErrorCode="WMS00054"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideConcurrentWave" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERRIDE_CONCURRENT_WAVE" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
						Pass this to override<code>NoOfConcurrentWaves</code> attribute of the <code>ShipmentGroup</code> wave belongs to.
						<br/>Default:<b>
                            <code>N</code>
                        </b> - Wave will be released according to <code>NoOfConcurrentWaves</code>attribute of the <code>ShipmentGroup</code>. 
						<br/>Valid Values:
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - <code>NoOfConcurrentWaves</code> attribute of the <code>ShipmentGroup</code> will be ignored.
						<br/>
                        <b>
                            <code>N</code>
                        </b>.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideReleaseDate" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERRIDE_RELEASE_DATE" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
						Pass this to override wave release schedule.
						<br/>Default:<b>
                            <code>N</code>
                        </b> - Wave will be released according to <code>ReleaseNoEarlierThan</code> and <code>ReleaseNoLaterThan</code> attributes on the <code> wave</code>.
						<br/>Valid Values:
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - <code>ReleaseNoEarlierThan</code> and <code>ReleaseNoLaterThan</code> attributes on the <code> wave</code> will be ignored.
						<br/>
                        <b>
                            <code>N</code>
                        </b>.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoEarlierThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_EARLIER_THAN" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking before this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoLaterThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_LATER_THAN" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking after this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
				Must be a valid <code>ShipmentGroupId</code> for the Node, in the table <code>YFS_SHIPMENT_GROUP</code>.
				<Validation>
                            <Condition> Mandatory when <code>Action</code> is <code>CREATE</code>
                            </Condition>
                            <Error Description="Invalid Shipment Group." ErrorCode="WMS00128"/>
                        </Validation>
                        <Validation>
                            <Condition>If not passed when <code>Action</code> is <code>CREATE</code>: 
						  </Condition>
                            <Error
                                Description="WMS: Shipment Group is not passed and it is mandatory for this operation." ErrorCode="WMS00127"/>
                        </Validation>
                        <Validation>
                            <Condition> If wave status is neither <code>CREATED</code> nor <code>ACCEPTED</code> when <code>Action</code> is <code>MODIFY</code>
                            </Condition>
                            <Error
                                Description="Shipment Group cannot be modified in current status of wave." ErrorCode="WMS79_003"/>
                        </Validation>
                        <Validation>
                            <Condition> Non-existent when <code>Action</code> is <code>MODIFY</code>
                            </Condition>
                            <Error Description="Invalid Shipment Group." ErrorCode="WMS00128"/>
                        </Validation>
                        <Validation>
                            <Condition> If belongs to different pipeline when <code>Action</code> is <code>MODIFY</code>
                            </Condition>
                            <Error
                                Description="New shipment group doesnot belong to the same pipeline as the old shipment group." ErrorCode="WMS79_004"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipmentList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Shipment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
			Required when <code>Action</code> at wave level is <code>CREATE</code>. Multiple <code>ShipmentLine</code>s can be associated with single wave. At least one <code>ShipmentLine</code> must exist for a wave. Pass a <code>Shipment</code> to associate or disassociate its lines from a <code>Wave</code>. <code>Shipment</code> attributes cannot be modified using this API. 
						<Validation>
                        <Condition>No <code>Shipment</code> passed for a new <code>Wave</code>.</Condition>
                        <Error
                            Description="WMS: Wave cannot be created without shipment lines." ErrorCode="WMS00130"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ShipmentKey</code> attribute OR <code>ShipmentNo</code> and <code>SellerOrganizationCode</code> must be passed and must be valid. 
					</Condition>
                        <Error
                            Description="ShipmentKey or combination of ShipmentNo, SellerOrganizationCode and Node points to an invalid shipment" ErrorCode="YDM00017"/>
                    </Validation>
                    <Validation>
                        <Condition>Shipment must be in <code>Sent to node (1100.70)</code> status. 
					</Condition>
                        <Error
                            Description="WMS:Shipment cannot be processed." ErrorCode="WMS00185"/>
                    </Validation>
                    <Validation>
                        <Condition>Shipments having shipment lines that are for specific serial numbers can not be included in a wave. 
					</Condition>
                        <Error
                            Description="WMS: Shipment having shipment lines for serial numbers cannot be included in a wave." ErrorCode="WMS00231"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Action to perform on this <code>Shipment</code>.
						<br/>Valid Values:
						<br/>
                            <b>
                                <code>ADD</code>
                            </b> - Adds eligible <code>ShipmentLine</code>s to <code>Wave</code>. WaveNo is updated on the <code>ShipmentLine</code>. <br/>
                            <b>
                                <code>REMOVE</code>
                            </b> - Removes the <code>ShipmentLine</code> from the <code>Wave</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentCriteria">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			This can be used when  <code>Wave</code>
                    <code>CREATION</code> or <code>MODIFICATION</code> is done on  <code>Shipments</code> which satisfy a certain criteria
			</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLines"/>
            </xsd:all>
            <xsd:attribute name="Action" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Action to perform on this <code>ShipmentCriteria</code>.
						<br/>Valid Values:
						<br/>
                            <b>
                                <code>CANCEL</code>
                            </b> - Removes the <code>Shipments</code> satisfying the criteria from the <code>Wave</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumRecords" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProfileID" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLine"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLine">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>Stores information about shipment lines. Shipment lines are created using createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
