Data/xapidocs/api_javadocs/XSD/WMS_EXECUTE_COUNT_PROGRAM.NO_REQUESTS_CREATED.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/EXECUTE_COUNT_PROGRAM/NO_REQUESTS_CREATED"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/EXECUTE_COUNT_PROGRAM/NO_REQUESTS_CREATED" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_EXECUTE_COUNT_PROGRAM.NO_REQUESTS_CREATED.xsd" yfc:rootElement="CountProgram">
        <xsd:appinfo source="yfc:structure">
            <CountProgram hasAttributes="Y">
                <CountRequests hasAttributes="Y"/>
            </CountProgram>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountProgram" type="yfc:CountProgramXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_PROGRAM">
            <xsd:documentation>This configuration table stores count programs that are used to perform cycle counting in a warehouse.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CountProgramXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:CountRequests"/>
        </xsd:all>
        <xsd:attribute name="CountProgramName" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="COUNT_PROGRAM_NAME" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>A name assigned to the count program by either a node or an enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The node key that is associated with this count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CountRequests">
        <xsd:complexType>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Specifies total number of count requests created for count program.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
