Data/xapidocs/api_javadocs/XSD/WMS_deleteCountRecordsForTask_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/deleteCountRecordsForTask/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/deleteCountRecordsForTask/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_deleteCountRecordsForTask_input.xsd" yfc:rootElement="DeleteCountRecordsForTask">
        <xsd:appinfo source="yfc:structure">
            <DeleteCountRecordsForTask hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DeleteCountRecordsForTask" type="yfc:DeleteCountRecordsForTaskXSDType"/>
    <xsd:complexType name="DeleteCountRecordsForTaskXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="required">
            <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						The task identifier for which counts are to be deleted.
						<Validation>
                            <Condition>The <code>TaskId</code> is mandatory.
							</Condition>
                            <Error Description="Task is mandatory." ErrorCode="WMS00117"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
