Data/xapidocs/api_javadocs/XSD/WMS_containerizeShipmentLines_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/containerizeShipmentLines/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/containerizeShipmentLines/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_containerizeShipmentLines_input.xsd" yfc:rootElement="ContainerizeShipmentLines">
        <xsd:appinfo source="yfc:structure">
            <ContainerizeShipmentLines hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ContainerizeShipmentLines" type="yfc:ContainerizeShipmentLinesXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					Identifies either the Shipment or Wave for which the containerization API will be called on all uncontainerized Shipment lines. 
				</div>
                <Validation>
                    <Condition>All the attributes that can help us uniquely identify a Shipment or a Wave 		need to be passed in the input.In this case, Either <code>ShipmentKey</code> or 		<code>ShipmentNo</code> or <code>WaveNo</code> and <code>Node</code> need to be 		passed in the input.
					</Condition>
                    <Error Description="Wave not found" ErrorCode="WMS00129"/>
                    <Error Description="Unable to locate record" ErrorCode="WMS00002"/>
                </Validation>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerizeShipmentLinesXSDType">
        <xsd:attribute name="Node" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y"/>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y"/>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y"/>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y"/>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
