Data/xapidocs/api_javadocs/XSD/WMS_breakParentContainer_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/breakParentContainer/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/breakParentContainer/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_breakParentContainer_input.xsd" yfc:rootElement="BreakParentContainer">
        <xsd:appinfo source="yfc:structure">
            <BreakParentContainer hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="BreakParentContainer" type="yfc:BreakParentContainerXSDType"/>
    <xsd:complexType name="BreakParentContainerXSDType">
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>The CaseId to break.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="required">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>The PalletId to break.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
