Data/xapidocs/api_javadocs/XSD/WMS_endPhysicalCount_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/endPhysicalCount/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/endPhysicalCount/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_endPhysicalCount_input.xsd" yfc:rootElement="PhysicalCount">
        <xsd:appinfo source="yfc:structure">
            <PhysicalCount hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PhysicalCount" type="yfc:PhysicalCountXSDType">
        <xsd:annotation yfc:tableName="YFS_NODE_TRAN_ATTR">
            <xsd:documentation>This table is used to get one up number for entities like wave.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PhysicalCountXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Enterprise for which the plan has been configured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>The node for which the plan is configured</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PhysicalCountPlanName"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Name of the Physical Count plan</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
