Data/xapidocs/api_javadocs/XSD/WMS_cancelCorporateCountRequest_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/cancelCorporateCountRequest/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/cancelCorporateCountRequest/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_cancelCorporateCountRequest_input.xsd" yfc:rootElement="CancelCountProgram">
        <xsd:appinfo source="yfc:structure">
            <CancelCountProgram hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CancelCountProgram" type="yfc:CancelCountProgramXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_PROGRAM">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>The count program can be canceled either in 'CREATED' or 'CNT_REQ_GNTD' status.
						</Condition>
                        <Error
                            Description="WMS: Count program cannot be canceled." ErrorCode="WMS00266"/>
                    </Validation>
                    <Validation>
                        <Condition>Either primary key (<code>CountProgramKey</code>) or all 
							attributes of unique key (<code>CountProgramName</code> along with either
							<code>OwnerKey</code> or <code>Node</code>) or <code>EnterpriseCode</code>) must be passed. Error if either of them not passed. 
						</Condition>
                        <Error
                            Description="Mandatory Parameter(s) not passed" ErrorCode="WMS00063"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CancelCountProgramXSDType">
        <xsd:attribute name="CancellationReasonCode"
            type="yfctype:CommonCode" use="required">
            <xsd:annotation yfc:columnName="CANCELLATION_REASON_CODE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>
                                <code>CancellationReasonCode</code> not passed.
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed" ErrorCode="WMS00063"/>
                        </Validation>
                        <Validation>
                            <Condition>If passed, should be a valid cancellation reason code defined in <code>YFS_Common_Code</code> entity for CodeType <code>COUNT_REQ_CANCEL_RSN</code>. 
								</Condition>
                            <Error
                                Description="Invalid Cancellation reason code." ErrorCode="WMS00110"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountProgramKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_PROGRAM_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>
                                <code>CountProgramKey</code> passed but not valid.
								</Condition>
                            <Error Description="No record found." ErrorCode="WMS00102"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountProgramName" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="COUNT_PROGRAM_NAME" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>If CountProgram key is not passed then  <code>CountProgramName</code> 
								should be passed.
								</Condition>
                            <Error
                                Description="Count program name not passed." ErrorCode="WMS00249"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either <code>OwnerKey</code>, <code>Node</code> or <code>EnterpriseCode</code> should be passed.
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed" ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either <code>OwnerKey</code>, <code>Node</code> or <code>EnterpriseCode</code> should be passed.
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed" ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either <code>OwnerKey</code>, <code>Node</code> or <code>EnterpriseCode</code> should be passed.
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed" ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>Free form reason text for the count request cancellation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
