Data/xapidocs/api_javadocs/XSD/WMS_POST_PICK_CNTR.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/POST_PICK_CNTR/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/POST_PICK_CNTR/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_POST_PICK_CNTR.ON_SUCCESS.xsd" yfc:rootElement="ContainerList">
        <xsd:appinfo source="yfc:structure">
            <ContainerList>
                <Container hasAttributes="Y">
                    <PackLocation hasAttributes="Y"/>
                    <SpecialServices hasAttributes="Y">
                        <SpecialService hasAttributes="Y"/>
                    </SpecialServices>
                    <AdditionalAttributes hasAttributes="Y">
                        <AdditionalAttribute hasAttributes="Y"/>
                    </AdditionalAttributes>
                    <ContainerDetails hasAttributes="Y">
                        <ContainerDetail hasAttributes="Y">
                            <ShipmentTagSerials hasAttributes="Y">
                                <ShipmentTagSerial hasAttributes="Y"/>
                            </ShipmentTagSerials>
                        </ContainerDetail>
                    </ContainerDetails>
                    <Instructions hasAttributes="Y">
                        <Instruction hasAttributes="Y"/>
                    </Instructions>
                </Container>
            </ContainerList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ContainerList" type="yfc:ContainerListXSDType"/>
    <xsd:complexType name="ContainerListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Container"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PackLocation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SpecialServices"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalAttributes"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerDetails"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Instructions"/>
            </xsd:all>
            <xsd:attribute name="ActualFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the freight charge as arrived at by the carrier server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppliedWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="APPLIED_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the weight that was used for freight charge calculations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppliedWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="APPLIED_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of weight specified in APPLIED_WEIGHT attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BasicFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="BASIC_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerGrossWeight"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_GROSS_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The weight of the container, inclusive of weights of items and packing material used, if any. The unit of weight is as specified by the CONTAINER_GROSS_WEIGHT_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerGrossWeightUOM"
                type="yfctype:UOM" use="optional">
                <xsd:annotation
                    yfc:columnName="CONTAINER_GROSS_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of weight specified in CONTAINER_GROSS_WEIGHT attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerHeight"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_HEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The height of the container. The units of height are as specified by the CONTAINER_HEIGHT_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerHeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_HEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of height specified in CONTAINER_HEIGHT attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerLength"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_LENGTH" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The length of the container. The units of length are as specified by the CONTAINER_LENGTH_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerLengthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_LENGTH_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of length specified in CONTAINER_LENGTH attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNetWeight"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NET_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The weight of just the items in the container. This does not include weight of the packing material. The unit of weight is as specified by the CONTAINER_NET_WEIGHT_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNetWeightUOM"
                type="yfctype:UOM" use="optional">
                <xsd:annotation
                    yfc:columnName="CONTAINER_NET_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of weight specified in CONTAINER_NET_WEIGHT attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>A unique number which helps identify the shipper as well as the goods.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerSeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_SEQ_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerType" type="yfctype:Text-6" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_TYPE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The type of container. You could use it as an attribute to group containers - either based on size of the container, type of goods that it carries, and so forth.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerWidth"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_WIDTH" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The width of the container. The units of width are as specified by the CONTAINER_WIDTH_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerWidthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_WIDTH_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of width specified in CONTAINER_WIDTH attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomsValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMS_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeclaredValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="DECLARED_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The value of the container as declared on the carrier manifest for insurance purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DimmedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DIMMED_FLAG" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscountAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_AMOUNT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasOtherContainers" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_OTHER_CONTAINERS" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This flag indicates whether this container is a parent container. Parent containers have other containers.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHazmat" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HAZMAT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>Indicates whether the shipment container contains hazardous items or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OversizedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OVERSIZED_FLAG" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentContainerNo" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="PARENT_CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>A container that encloses the current container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RoutingCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ROUTING_CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_CONTAINER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpecialServicesSurcharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="SPECIAL_SERVICES_SURCHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The information returned by the carrier server if carrier server integration is availed for the shipment. This indicates the special service charge levied for the special services selected.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The tracking number. If carrier integration is availed for the carrier on the shipment, then this information is returned by the carrier server. This is a unique number assigned to each container that can be used to track individual containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Ucc128code" type="yfctype:UCC128" use="optional">
                <xsd:annotation yfc:columnName="UCC128CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Zone" type="yfctype:Text-15" use="optional">
                <xsd:annotation yfc:columnName="ZONE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if data is fetched from the regular table or the history table. Valid values are Y, N and Void. Void implies N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PackLocation">
        <xsd:complexType>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A valid location in the Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Node at which Packing is taking place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StationId" type="yfctype:EquipmentId" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Station associated to pack location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StationType" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecialServices">
        <xsd:annotation yfc:tableName="YFS_SPECIAL_SERVICES">
            <xsd:documentation>This table stores special services supported by various carriers that can be used when shipping packages. Examples of special services are signature required upon delivery of the package, Saturday pick-up and Saturday delivery.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SpecialService"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecialService">
        <xsd:annotation yfc:tableName="YFS_SPECIAL_SERVICE_REF">
            <xsd:documentation>This table stores various special services used for a container. Examples of special services are signature required upon delivery of the package, Saturday pick-up, Saturday delivery and so forth.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_KEY" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                    <xsd:documentation>Link to YFS_SHIPMENT_CONTAINER.shipment_container_key. This points to a package for which special service is availed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                    <xsd:documentation>Points to the table code of the table for which data is stored in the reference key attribute. The data will read YFS_SHIPMENT_CONTAINER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpecialServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SPECIAL_SERVICE_KEY" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                    <xsd:documentation>Link to YFS_SEPCIAL_SERVICES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpecialServiceRefKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SPECIAL_SERVICE_REF_KEY" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                    <xsd:documentation>Primary key attribute of YFS_SPECIAL_SERVICE_REF that identifies a special service reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpecialServiceSurcharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="SPECIAL_SERVICE_SURCHARGE" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                    <xsd:documentation>Surcharge associated with a particular special service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpecialServicesCode"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="SPECIAL_SERVICES_CODE" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                    <xsd:documentation>Special services code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttributes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalAttribute"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttribute">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdditionalAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ADDITIONAL_ATTRIBUTE_KEY" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Primary key attribute of YFS_ADDITIONAL_ATTRIBUTE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_KEY" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Link to parent entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentTable" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PARENT_TABLE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Name of entity for which dynamic attributes are stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if data is fetched from the regular table or the history table. Valid values are Y, N and Void. Void implies N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerDetail"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerDetail">
        <xsd:annotation yfc:tableName="YFS_CONTAINER_DETAILS">
            <xsd:documentation>Stores information about containerized shipment lines.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentTagSerials"/>
            </xsd:all>
            <xsd:attribute name="ContainerDetailsKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_DETAILS_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The primary key for the YFS_CONTAINER_DETAILS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The identifier of one of the items in the container. This field is a part of the unique key. The ITEM_ID can be same as the SHIPMENT_LINE or it can be different in case of logical kit components.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The product class of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The quantity of the item packed in this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The shipment container key that is associated with this container details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The shipment key that is associated with this container details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if data is fetched from the regular table or the history table. Valid values are Y, N and Void. Void implies N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentTagSerials">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentTagSerial"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentTagSerial">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
            <xsd:documentation>This table stores additional information related to tag number, serial number, ship by date for a shipment line or container detail. Tag information is stored only if the Node tracks tag information in inventory or the Buyer mandates tag information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerDetailKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_DETAIL_KEY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Link to YFS_CONTAINER_DETAILS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Serial number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>For time sensitive items, date by which it should be shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Link to YFS_SHIPMENT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentTagSerialKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_TAG_SERIAL_KEY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Primary key attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instructions">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Instruction"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instruction">
        <xsd:annotation yfc:tableName="YFS_INSTRUCTION_DETAIL">
            <xsd:documentation>Generic table used to store instructions associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InstructionText"
                type="yfctype:InstructionText" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TEXT" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Free-form text indicating any additional information related to the instruction type or otherwise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionType"
                type="yfctype:InstructionType" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TYPE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Categorization of instructions so that they can be grouped together for reference. For example, you may have instructions of type Pick, Pack, and Ship for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionURL" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_URL" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>The URL relating to and/or containing the instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionUsage"
                type="yfctype:InstructionUsage" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_USAGE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Another way of categorization of instructions, over and above the instruction type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>You could have an instruction exceeding the limits of a single record. Sequence number is used to provide a way to store a link between such instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if data is fetched from the regular table or the history table. Valid values are Y, N and Void. Void implies N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
