Data/xapidocs/api_javadocs/XSD/WMS_canChangeInventoryAttrsWithOpenTasksUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/canChangeInventoryAttrsWithOpenTasksUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/canChangeInventoryAttrsWithOpenTasksUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_canChangeInventoryAttrsWithOpenTasksUE_output.xsd" yfc:rootElement="CanChangeInventoryAttributesWithOpenTasks">
        <xsd:appinfo source="yfc:structure">
            <CanChangeInventoryAttributesWithOpenTasks hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CanChangeInventoryAttributesWithOpenTasks" type="yfc:CanChangeInventoryAttributesWithOpenTasksXSDType"/>
    <xsd:complexType name="CanChangeInventoryAttributesWithOpenTasksXSDType">
        <xsd:attribute name="CanChangeAttributesWithOpenTasks"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>This determines whether to proceed with the change without throwing an exception OR throw an exception when open tasks exist for the inventory getting modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanChangeInventoryAttributesWithOpenTasks"
            type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
