Data/xapidocs/api_javadocs/XSD/WMS_getEquipmentTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getEquipmentTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getEquipmentTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getEquipmentTypeList_output.xsd" yfc:rootElement="EquipmentTypes">
        <xsd:appinfo source="yfc:structure">
            <EquipmentTypes hasAttributes="Y">
                <EquipmentType hasAttributes="Y"/>
            </EquipmentTypes>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EquipmentTypes" type="yfc:EquipmentTypesXSDType"/>
    <xsd:complexType name="EquipmentTypesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EquipmentType"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="EquipmentType">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT_TYPE">
            <xsd:documentation>All equipment types of the warehouse are defined in this table. e.g. GRABTRUCK, FORKLIFT etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>A brief description of the equipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>This field specifies the equipment type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE_KEY" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
