Data/xapidocs/api_javadocs/XSD/WMS_getLocationInventoryAuditList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getLocationInventoryAuditList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getLocationInventoryAuditList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getLocationInventoryAuditList_input.xsd" yfc:rootElement="LocationInventoryAudit">
        <xsd:appinfo source="yfc:structure">
            <LocationInventoryAudit hasAttributes="Y">
                <TagDetail hasAttributes="Y"/>
                <InventoryItem hasAttributes="Y"/>
                <Receipt hasAttributes="Y"/>
                <CountRequest hasAttributes="Y"/>
            </LocationInventoryAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationInventoryAudit" type="yfc:LocationInventoryAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
            <xsd:documentation>Stores audit information for every single location inventory transaction.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationInventoryAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TagDetail"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryItem"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountRequest"/>
        </xsd:all>
        <xsd:attribute name="AdjustmentType"
            type="yfctype:EnumAdjustmentType" use="optional">
            <xsd:annotation yfc:columnName="ADJUSTMENT_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The type of adjustment done for the inventory processed. Some of the possible values are like RECEIPT, RETURN, SHIPMENT and ADJUSTMENT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AdjustmentTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AuditOperation" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OPERATION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>This flag indicates whether it was a an addition to or a substraction of inventory.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuditOperationQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The Bill of Lading number. An audit reference indicating that this inventory transaction was for a BOL is detailed here.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BolNoQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						A CaseId
							<Validation>
                            <Condition>Both <code>CaseId</code> and <code>PalletId</code> cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
								</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The count request key that is associated with this location inventory audit. This specifies the count request against which the audit is written.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The country in which the item was manufactured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountryOfOriginQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreateprogidQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The timestamp for the creation of this record. 
					If createts is not passed, it will take today as the default date and returns audits written today.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreatetsQryType" type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreateuseridQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DocumentType" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The document type for the inventory transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The inventory organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="FIFO_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FifoNoQryType" type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="FromAdjustmentType"
            type="yfctype:EnumAdjustmentType" use="optional"/>
        <xsd:attribute name="FromAuditOperation" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromBolNo" type="yfctype:VarcharDocumentNo" use="optional"/>
        <xsd:attribute name="FromCountRequestKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromCountryOfOrigin" type="yfctype:Country" use="optional"/>
        <xsd:attribute name="FromCreateprogid"
            type="yfctype:Createprogid" use="optional"/>
        <xsd:attribute name="FromCreatets" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromCreateuserid"
            type="yfctype:Createuserid" use="optional"/>
        <xsd:attribute name="FromDocumentType" type="yfctype:Text-24" use="optional"/>
        <xsd:attribute name="FromEnterpriseCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromFifoNo" type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="FromInventoryItemKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromInventoryStatus"
            type="yfctype:InventoryStatus" use="optional"/>
        <xsd:attribute name="FromInventoryTagKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromLocationId" type="yfctype:LocationId" use="optional"/>
        <xsd:attribute name="FromLockid" type="yfctype:Lockid" use="optional"/>
        <xsd:attribute name="FromLocnInventoryAuditKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromModifyprogid"
            type="yfctype:Modifyprogid" use="optional"/>
        <xsd:attribute name="FromModifyts" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromModifyuserid"
            type="yfctype:Modifyuserid" use="optional"/>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromOrderNo"
            type="yfctype:VarcharDocumentNo" use="optional"/>
        <xsd:attribute name="FromPrimeLineNo" type="yfctype:LineNo" use="optional"/>
        <xsd:attribute name="FromQuantity" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="FromReasonCode" type="yfctype:ReasonCode" use="optional"/>
        <xsd:attribute name="FromReasonText" type="yfctype:ReasonText" use="optional"/>
        <xsd:attribute name="FromReceiptHeaderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromReference1" type="yfctype:Text-50" use="optional"/>
        <xsd:attribute name="FromReference2" type="yfctype:Text-50" use="optional"/>
        <xsd:attribute name="FromReference3" type="yfctype:Text-50" use="optional"/>
        <xsd:attribute name="FromReference4" type="yfctype:Text-254" use="optional"/>
        <xsd:attribute name="FromReference5" type="yfctype:Text-254" use="optional"/>
        <xsd:attribute name="FromReleaseNo" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="FromSegment" type="yfctype:Segment" use="optional"/>
        <xsd:attribute name="FromSegmentType" type="yfctype:SegmentType" use="optional"/>
        <xsd:attribute name="FromSequenceNo" type="yfctype:LongSequence" use="optional"/>
        <xsd:attribute name="FromSerialNo" type="yfctype:SerialNo" use="optional"/>
        <xsd:attribute name="FromShipByDate" type="yfctype:Date" use="optional"/>
        <xsd:attribute name="FromShipmentNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="FromTaskType" type="yfctype:TaskType" use="optional"/>
        <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The inventory item key that is associated with this location inventory audit. This points to a SKU that comprises the Inventory Organization, Item ID, Product Class, and Unit of Measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryItemKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with when it arrives at the warehouse. Typical values of product class are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatusQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The inventory tag key that is associated with this location inventory audit. This points to the lot and related attributes (revision, etc.) for the item whose inventory is tracked here.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryTagKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The identifier for the location. This, in conjunction with NODE_KEY, identifies a unique location in the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LockidQryType" type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="LocnInventoryAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCN_INVENTORY_AUDIT_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The primary key for the YFS_LOCN_INVENTORY_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocnInventoryAuditKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModifyprogidQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModifytsQryType" type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModifyuseridQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The node key that is associated with this location inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The order # against which inventory transaction was made. This is a part of the unique key for the order.The Enterprise code and the order # together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OuterMostCaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Outer most case in the containment hierarchy</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OuterMostPalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Outer most Pallet in the containment hierarchy</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						A PalletId
							<Validation>
                            <Condition>Both <code>CaseId</code> and <code>PalletId</code> cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
								</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="PRIME_LINE_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The order line number. This is part of an order line's unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNoQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The number of units of the item available at this location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The reason for the inventory transaction. This field is typically populated when the user does an inventory adjustment. Inventory bins, which will be used to adjust inventory (for inventory synchronization) on the host systems, will be tied to this reason code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The description of the reason for the inventory adjustment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonTextQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The receipt header key that is associated with this location inventory audit. This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptHeaderKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Reference1" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference1QryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Reference2" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_2"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference2QryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Reference3" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_3"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference3QryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Reference4" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_4"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference4QryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Reference5" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_5"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference5QryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The release number. This is generated as a one up number against that release.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The segment to which the inventory belongs. This helps to track inventory separately when the inventory is customized for a specific order so that the inventory can be allocated to that order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The segment type of the inventory. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SequenceNo" type="yfctype:LongSequence" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The sequence number of the program creating the audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNoQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The serial of the inventory being modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The shipment number against which the inventory transaction was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The nature of the work (task type) that caused the inventory picture to be altered. Typical examples are RECEIPT, PUTAWAY, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToAdjustmentType"
            type="yfctype:EnumAdjustmentType" use="optional"/>
        <xsd:attribute name="ToAuditOperation" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToBolNo" type="yfctype:VarcharDocumentNo" use="optional"/>
        <xsd:attribute name="ToCountRequestKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToCountryOfOrigin" type="yfctype:Country" use="optional"/>
        <xsd:attribute name="ToCreateprogid" type="yfctype:Createprogid" use="optional"/>
        <xsd:attribute name="ToCreatets" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToCreateuserid" type="yfctype:Createuserid" use="optional"/>
        <xsd:attribute name="ToDocumentType" type="yfctype:Text-24" use="optional"/>
        <xsd:attribute name="ToEnterpriseCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ToFifoNo" type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="ToInventoryItemKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToInventoryStatus"
            type="yfctype:InventoryStatus" use="optional"/>
        <xsd:attribute name="ToInventoryTagKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToLocationId" type="yfctype:LocationId" use="optional"/>
        <xsd:attribute name="ToLockid" type="yfctype:Lockid" use="optional"/>
        <xsd:attribute name="ToLocnInventoryAuditKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToModifyprogid" type="yfctype:Modifyprogid" use="optional"/>
        <xsd:attribute name="ToModifyts" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToModifyuserid" type="yfctype:Modifyuserid" use="optional"/>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToOrderNo" type="yfctype:VarcharDocumentNo" use="optional"/>
        <xsd:attribute name="ToPrimeLineNo" type="yfctype:LineNo" use="optional"/>
        <xsd:attribute name="ToQuantity" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="ToReasonCode" type="yfctype:ReasonCode" use="optional"/>
        <xsd:attribute name="ToReasonText" type="yfctype:ReasonText" use="optional"/>
        <xsd:attribute name="ToReceiptHeaderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToReference1" type="yfctype:Text-50" use="optional"/>
        <xsd:attribute name="ToReference2" type="yfctype:Text-50" use="optional"/>
        <xsd:attribute name="ToReference3" type="yfctype:Text-50" use="optional"/>
        <xsd:attribute name="ToReference4" type="yfctype:Text-254" use="optional"/>
        <xsd:attribute name="ToReference5" type="yfctype:Text-254" use="optional"/>
        <xsd:attribute name="ToReleaseNo" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="ToSegment" type="yfctype:Segment" use="optional"/>
        <xsd:attribute name="ToSegmentType" type="yfctype:SegmentType" use="optional"/>
        <xsd:attribute name="ToSequenceNo" type="yfctype:LongSequence" use="optional"/>
        <xsd:attribute name="ToSerialNo" type="yfctype:SerialNo" use="optional"/>
        <xsd:attribute name="ToShipByDate" type="yfctype:Date" use="optional"/>
        <xsd:attribute name="ToShipmentNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="ToTaskType" type="yfctype:TaskType" use="optional"/>
    </xsd:complexType>
    <xsd:element name="TagDetail">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromInventoryItemKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInventoryTagKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromLotAttribute1"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotAttribute2"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotAttribute3"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLotKeyReference"
                type="yfctype:Text-4000" use="optional"/>
            <xsd:attribute name="FromLotNumber" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromManufacturingDate"
                type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromRevisionNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromTotalDemand"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromTotalOnhandSupply"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="FromTotalOtherSupply"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Primary key of YFS_INVENTORY_ITEM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Primary key of YFS_INVENTORY_TAG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTagKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReferenceQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumberQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToInventoryItemKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInventoryTagKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToLotAttribute1" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotAttribute2" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotAttribute3" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLotKeyReference"
                type="yfctype:Text-4000" use="optional"/>
            <xsd:attribute name="ToLotNumber" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToManufacturingDate"
                type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToRevisionNo" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToTotalDemand" type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToTotalOnhandSupply"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="ToTotalOtherSupply"
                type="yfctype:Quantity" use="optional"/>
            <xsd:attribute name="TotalDemand" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_DEMAND"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total demand.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalDemandQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TotalOnhandSupply"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ONHAND_SUPPLY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total onhand type supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalOnhandSupplyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TotalOtherSupply"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_OTHER_SUPPLY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total supply not of the type onhand.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalOtherSupplyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryItem">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromInventoryItemKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromItemID" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="FromProductClass"
                type="yfctype:ProductClass" use="optional"/>
            <xsd:attribute name="FromUnitOfMeasure" type="yfctype:UOM" use="optional"/>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The primary key for the YFS_INVENTORY_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganizationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClassQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToInventoryItemKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToItemID" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="ToProductClass"
                type="yfctype:ProductClass" use="optional"/>
            <xsd:attribute name="ToUnitOfMeasure" type="yfctype:UOM" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasureQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_SHIPMENT_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Actual Shipment date. Updated by confirmShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualShipmentDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ArrivalDateTime"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ARRIVAL_DATE_TIME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The timestamp when the receipt arrived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ArrivalDateTimeQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Bill of lading #.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Buyer organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Carrier service availed for transporting this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DriverName" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="DRIVER_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The name of the driver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DriverNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The enterprise to which this receipt belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Shipment date as planned or arrived at in the Sterling system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Shipment date as planned or arrived at in the Sterling system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="FromActualShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromArrivalDateTime"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromBolNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromBuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromCarrierServiceCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromDriverName" type="yfctype:Text-50" use="optional"/>
            <xsd:attribute name="FromEnterpriseCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromNextAlertTs"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromNumOfCartons" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromNumOfPallets" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromOpenReceiptFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromOrderReleaseKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPickticketNo"
                type="yfctype:VarcharID-24" use="optional"/>
            <xsd:attribute name="FromPipelineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPodNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromPrimeLineNo" type="yfctype:LineNo" use="optional"/>
            <xsd:attribute name="FromProNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromReceiptDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromReceiptHeaderKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromReceiptNo" type="yfctype:ReceiptNo" use="optional"/>
            <xsd:attribute name="FromReceivingDock"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromReceivingNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromReleaseNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromScac" type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromSealNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromSellerOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromShipNode" type="yfctype:ShipNode" use="optional"/>
            <xsd:attribute name="FromShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromShipmentNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="FromStatus" type="yfctype:ShortStatus" use="optional"/>
            <xsd:attribute name="FromStatusDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromTrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromTrailerLPNNo" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="FromTrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>A computed field used internally by the receipt monitor to proactively identify when the receipt could potentially be realerted on a business exception as per the monitor rules setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTsQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="NumOfCartons" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CARTONS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The number of cartons in the receipt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfCartonsQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="NumOfPallets" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The number of pallets in the receipt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfPalletsQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="OpenReceiptFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OPEN_RECEIPT_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>This flag indicates whether the receiving can be done against the receipt. Receiving can be done only for open receipts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpenReceiptFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Link to YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Order number of the order for the Shipment while creating with SingleOrder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Link to YFS_ORDER_RELEASE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PickticketNo"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="PICKTICKET_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>User input. A number assigned to group related shipments under one head.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickticketNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The pipeline to which this receipt belongs. This is determined during receipt creation based on the document type and several other key attributes of the shipment and order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="POD_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Proof of Delivery #.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PodNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>PrimeLineNo of the corresponding OrderLine.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNoQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PRO_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Progessive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReceiptDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The date when the receipt was started.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The primary key for the YFS_RECEIPT_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReceivingDock" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_DOCK_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The location where the receiving is done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingDockQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The Receiving Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>ReleaseNo of the OrderRelease for the Shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNoQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SealNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SEAL_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Seal number on the load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SealNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Seller organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Ship node from where shipment was made.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Part of Unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The status of the receipt. As various transactions in the receipts pipeline act upon Receipt, the Receipt Status changes. Typical values are 1200-Receipt Started, 1300-Receipt In Progress, 1400-Inspection In Progress, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="StatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToActualShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToArrivalDateTime"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToBolNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToBuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToCarrierServiceCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToDriverName" type="yfctype:Text-50" use="optional"/>
            <xsd:attribute name="ToEnterpriseCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToNextAlertTs" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToNumOfCartons" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToNumOfPallets" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToOpenReceiptFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToOrderReleaseKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPickticketNo"
                type="yfctype:VarcharID-24" use="optional"/>
            <xsd:attribute name="ToPipelineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPodNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToPrimeLineNo" type="yfctype:LineNo" use="optional"/>
            <xsd:attribute name="ToProNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToReceiptDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToReceiptHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToReceiptNo" type="yfctype:ReceiptNo" use="optional"/>
            <xsd:attribute name="ToReceivingDock" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToReceivingNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToReleaseNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToScac" type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToSealNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToSellerOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToShipNode" type="yfctype:ShipNode" use="optional"/>
            <xsd:attribute name="ToShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToShipmentNo" type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ToStatus" type="yfctype:ShortStatus" use="optional"/>
            <xsd:attribute name="ToStatusDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToTrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToTrailerLPNNo" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="ToTrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TrailerLPNNo" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_LPN_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The License Plate Number of the Trailer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerLPNNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Trailer number by which the shipment leaves the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNoQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountRequest">
        <xsd:annotation yfc:tableName="YFS_COUNT_REQUEST">
            <xsd:documentation>This transaction table stores count requests to perform inventory count in a warehouse. The count process in a warehouse begins with the count request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CountRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>Identifier of the request within the context of a document type and node</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountRequestNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DocumentType" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>Purpose for the request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromCountRequestNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="FromDocumentType"
                type="yfctype:Text-24" use="optional"/>
            <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>Node where the request was processed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToCountRequestNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ToDocumentType" type="yfctype:Text-24" use="optional"/>
            <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
