Data/xapidocs/api_javadocs/XSD/WMS_getCanActivitybePerformed_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getCanActivitybePerformed/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getCanActivitybePerformed/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getCanActivitybePerformed_input.xsd" yfc:rootElement="CanActivitybePerformed">
        <xsd:appinfo source="yfc:structure">
            <CanActivitybePerformed hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CanActivitybePerformed" type="yfc:CanActivitybePerformedXSDType"/>
    <xsd:complexType name="CanActivitybePerformedXSDType">
        <xsd:attribute name="ActivityGroup" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The API is called to find out if any activity belonging to this activity group can be performed or not.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISECODE" yfc:tableName="YFS_ENTERPRISE">
                <xsd:documentation>
                    <div>
						One can pass in this attribute the Enterprise for which activity can be performed or not is to be found out.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
