Data/xapidocs/api_javadocs/XSD/WMS_getPreferenceZoneListUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPreferenceZoneListUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPreferenceZoneListUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getPreferenceZoneListUE_output.xsd" yfc:rootElement="LocationPreferences">
        <xsd:appinfo source="yfc:structure">
            <LocationPreferences hasAttributes="Y">
                <LocationPreference hasAttributes="Y">
                    <Zone hasAttributes="Y"/>
                    <Location hasAttributes="Y"/>
                </LocationPreference>
            </LocationPreferences>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationPreferences" type="yfc:LocationPreferencesXSDType">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
            <xsd:documentation>Stores attributes values based on whose values locations where the activity may be perfomed is configured. Allows setup at Item classification level, by inventory status (quality status), UOM etc. The Location selection algorithm uses the best matched configuration for determining locations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationPreferencesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LocationPreference"/>
        </xsd:sequence>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>
                    <div>
                        Primary key attribute of <code>YFS_SHIP_NODE</code> table. Required to uniquely identify a location within the node. It should be same as for which put away is being done. 
                        <Validation>
                            <Condition>
                                <code>Node</code> returned should be same as passed in the input XML. 
                            </Condition>
                            <Error
                                Description="Same Node should be returned as passed in the input XML" ErrorCode="WMS00103 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LocationPreference">
        <xsd:annotation yfc:tableName="YFS_LOCATION_PREFERENCE">
            <xsd:documentation>For an activity, the preference list of zones where that activity may be performed is configured by priority.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Zone"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Location"/>
            </xsd:all>
            <xsd:attribute name="LocationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_KEY" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>
                        <div>
                       Optional. Primary key of <code>YFS_LOCATION</code> table. Indicates the location into which the product must be put away. 
                       <Validation>
                                <Condition>
                                    <code>LocationKey </code>returned should belong to the same building as of source location in the given Node. 
                           </Condition>
                                <Error
                                    Description="Location returned should belong to same building as of the source location in the Node" ErrorCode="WMS00105 "/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationStorageCode"
                type="yfctype:StorageCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_STORAGE_CODE" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>
                        <div>
         Optional. It is an attribute of the location that allows the warehouse to store items that have the same storage profile as that of the location. 
         <Validation>
                                <Condition>
                                    <code>LocationStorageCode</code>returned should be a valid storage code in the Node
                                          </Condition>
                                <Error
                                    Description="The StorageCode is invalid." ErrorCode="WMS00100 "/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="required">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>This field indicates the zone priority where the product must be putaway based upon the business criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>
                        <div>
                       Optional. Primary key of <code>YFS_ZONE</code> table. Indicates the zone into which the product must be put away. 
                       <Validation>
                                <Condition>
                                    <code>ZoneKey </code>returned should belong to the same building as of source location in the given Node. 
                           </Condition>
                                <Error
                                    Description="Zone returned should belong to same building as of the source location in the Node" ErrorCode="WMS00105 "/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Zone">
        <xsd:annotation yfc:tableName="YFS_ZONE">
            <xsd:documentation>This table stores the zone level setup details for a warehouse. The warehouse may be divided into multiple zones based on the product storage, packaging types, etc. Zone is a way of classifying a set of locations that share common properties. Locations belong to zones. Zone level storage constraints are auto propagated to locations through membership in a zone. The mix and do not mix constraints at zone level, apply to every single location in the zone.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="required">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>
                        <div>
        Required, if <code>ZoneKey or Location details </code>is not passed. Zone Identifier. Forms unique key of this table in conjunction with the NODE_KEY
              <Validation>
                                <Condition>
                      ZoneId should be returned if ZoneKey or Location details is not returned. 
                  </Condition>
                                <Error
                                    Description="Same Node should be returned as passed in the input XML" ErrorCode="WMS00104 "/>
                            </Validation>
                            <Validation>
                                <Condition>
                      ZoneId returned should belong to the same building as of source location in the given Node. 
                  </Condition>
                                <Error
                                    Description="Same Node should be returned as passed in the input XML" ErrorCode="WMS00105 "/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Location">
        <xsd:annotation yfc:tableName="YFS_LOCATION">
            <xsd:documentation>Warehouse zones are further divided into locations of different sizes where inventory is stored. Each location belongs to a zone and a node. It is classified as INTRANSIT, REGULAR, VIRTUAL, STAGING or DOCK. It has attributes like aisle number, bay number, level number etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="required">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>
                        <div>
        Required, if <code>LocationKey or Zone details</code>is not passed. Location Identifier. Forms unique key of this table in conjunction with the NODE_KEY
              <Validation>
                                <Condition>
                      LocationId should be returned if LocationKey or Zone details is not returned. 
                  </Condition>
                                <Error
                                    Description="Same Node should be returned as passed in the input XML" ErrorCode="WMS00104 "/>
                            </Validation>
                            <Validation>
                                <Condition>
                      LocationId returned should belong to the same building as of source location in the given Node. 
                  </Condition>
                                <Error
                                    Description="Same Node should be returned as passed in the input XML" ErrorCode="WMS00105 "/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
