Data/xapidocs/api_javadocs/XSD/WMS_getPhysicalCountStatus_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountStatus/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPhysicalCountStatus/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getPhysicalCountStatus_output.xsd" yfc:rootElement="PhysicalCount">
        <xsd:appinfo source="yfc:structure">
            <PhysicalCount hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PhysicalCount" type="yfc:PhysicalCountXSDType"/>
    <xsd:complexType name="PhysicalCountXSDType">
        <xsd:attribute name="IsPhysicalCountOn" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
