Data/xapidocs/api_javadocs/XSD/WMS_MOVE_PLANNED_TASKS.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/MOVE_PLANNED_TASKS/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/MOVE_PLANNED_TASKS/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_MOVE_PLANNED_TASKS.ON_SUCCESS.xsd" yfc:rootElement="Entity">
        <xsd:appinfo source="yfc:structure">
            <Entity hasAttributes="Y">
                <ExpectedDate hasAttributes="Y"/>
            </Entity>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Entity" type="yfc:EntityXSDType">
        <xsd:annotation yfc:tableName="YFS_PLANNED_TASK">
            <xsd:documentation>This table holds data for all planned tasks for an entity whose execution is being planned (e.g. Shipment).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EntityXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:ExpectedDate"/>
        </xsd:sequence>
        <xsd:attribute name="EntityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_KEY" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies a entity key being planned for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntityName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_NAME" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies the entity being planned for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ExpectedDate">
        <xsd:annotation yfc:tableName="YFS_PLANNED_TASK">
            <xsd:documentation>This table holds data for all planned tasks for an entity whose execution is being planned (e.g. Shipment).</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PlannedDate" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_DATE" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>The date planned for consumption of the capacity. Defaulted to expected shipment date of the shipment when Entity name is YFS_SHIPMENT.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PlannedDateType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_DATE_TYPE" yfc:tableName="YFS_PLANNED_TASK">
                    <xsd:documentation>Identifies a date type like Picking, Shipping.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
