Data/xapidocs/api_javadocs/XSD/WMS_confirmDemandPlanningCompletion_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/confirmDemandPlanningCompletion/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/confirmDemandPlanningCompletion/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_confirmDemandPlanningCompletion_input.xsd" yfc:rootElement="DemandPlan">
        <xsd:appinfo source="yfc:structure">
            <DemandPlan hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DemandPlan" type="yfc:DemandPlanXSDType"/>
    <xsd:complexType name="DemandPlanXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Organization for which this planning is done.
				<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not passed.
					</Condition>
                            <Error
                                Description="OrganizationCode is mandatory." ErrorCode="WMS00077"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedForDate" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Date for which planning is done.
				<Validation>
                            <Condition>
                                <code>PlannedForDate</code> is not passed.
					</Condition>
                            <Error
                                Description="PlannedForDate is mandatory." ErrorCode="WMSRP80_001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedOnTimestamp" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Time stamp when planning was marked complete for a date. If this is not
				passed then current time stamp is taken as the input.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
