Data/xapidocs/api_javadocs/XSD/WMS_getShipmentGroupList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getShipmentGroupList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getShipmentGroupList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getShipmentGroupList_input.xsd" yfc:rootElement="ShipmentGroup">
        <xsd:appinfo source="yfc:structure">
            <ShipmentGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipmentGroup" type="yfc:ShipmentGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_GROUP">
            <xsd:documentation>A shipment group is a group of shipments that share similar operational characteristics.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentGroupXSDType">
        <xsd:attribute name="AcceptWave" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ACCEPT_WAVE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>Valid values are: Auto, Manual, Conditional. If it is conditional then either Min_Volume or Min_No_Of_Shipments should be specified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AcceptWaveQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>Calendar Key used in wave release schedule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalendarKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>A brief description of the shipment group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EffectiveDateFrom" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_DATE_FROM"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>This field indicates the date on which the shipment group is available.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveDateFromQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="EffectiveDateTo" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_DATE_TO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>This field indicates the date after which this shipment group is not available.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveDateToQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="FromAcceptWave" type="yfctype:Text-20" use="optional"/>
        <xsd:attribute name="FromCalendarKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromDescription"
            type="yfctype:FreeText-100" use="optional"/>
        <xsd:attribute name="FromEffectiveDateFrom"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromEffectiveDateTo"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromMaximumRecords" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="FromMinNoOfShipments"
            type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="FromMinVolume" type="yfctype:Volume" use="optional"/>
        <xsd:attribute name="FromNoOfConcurrentWaves"
            type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromPickStrategyKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromPipelineKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromPriority" type="yfctype:EnumPriority" use="optional"/>
        <xsd:attribute name="FromSeqNo" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="FromShipmentGroupId" type="yfctype:ID-10" use="optional"/>
        <xsd:attribute name="FromShipmentGroupKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromSortStrategyKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>Specifies maximum number of records to be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecordsQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="MinNoOfShipments" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="MIN_NO_OF_SHIPMENTS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>If the number of shipments in a wave exceeds this number, the wave will be accepted automatically depending on the accept_value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinNoOfShipmentsQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="MinVolume" type="yfctype:Volume" use="optional">
            <xsd:annotation yfc:columnName="MIN_VOLUME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>If volume of the wave exceeds this number, the wave will be accepted automatically depending on the accept_value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinVolumeQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="NoOfConcurrentWaves" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="NO_OF_CONCURRENT_WAVES"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>This field specifies the number of waves that were released concurrently.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoOfConcurrentWavesQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="PickStrategyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PICK_STRATEGY_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickStrategyKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>This field indicates the pipeline this wave belongs to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Priority" type="yfctype:EnumPriority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>Valid values are: 1 - Urgent, 2 - High, 3 - Normal (Default), 4 - Low.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriorityQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SEQ_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>This field indicates the sequence number for the shipment group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SeqNoQryType" type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>This field identifies the shipment group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShipmentGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SortStrategyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SORT_STRATEGY_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT_GROUP">
                <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SortStrategyKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToAcceptWave" type="yfctype:Text-20" use="optional"/>
        <xsd:attribute name="ToCalendarKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToDescription" type="yfctype:FreeText-100" use="optional"/>
        <xsd:attribute name="ToEffectiveDateFrom"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToEffectiveDateTo" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToMaximumRecords" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="ToMinNoOfShipments" type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="ToMinVolume" type="yfctype:Volume" use="optional"/>
        <xsd:attribute name="ToNoOfConcurrentWaves"
            type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToPickStrategyKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToPipelineKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToPriority" type="yfctype:EnumPriority" use="optional"/>
        <xsd:attribute name="ToSeqNo" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="ToShipmentGroupId" type="yfctype:ID-10" use="optional"/>
        <xsd:attribute name="ToShipmentGroupKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToSortStrategyKey" type="yfctype:Key" use="optional"/>
    </xsd:complexType>
</xsd:schema>
