Data/xapidocs/api_javadocs/XSD/WMS_overrideContainerizationCategoryUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/overrideContainerizationCategoryUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/overrideContainerizationCategoryUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_overrideContainerizationCategoryUE_output.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y">
                <ItemToBePackedList>
                    <ItemToBePacked hasAttributes="Y"/>
                </ItemToBePackedList>
            </Shipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemToBePackedList"/>
        </xsd:all>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemToBePackedList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemToBePacked"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemToBePacked">
        <xsd:complexType>
            <xsd:attribute name="ContainerCategory"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ContainerCategory1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ContainerCategory2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ContainerCategory3"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ContainerCategory4"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IdentifierKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OverridenContainerCategory"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OverridenContainerCategory1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OverridenContainerCategory2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OverridenContainerCategory3"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OverridenContainerCategory4"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
