Data/xapidocs/api_javadocs/XSD/WMS_getEquipmentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getEquipmentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getEquipmentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getEquipmentList_input.xsd" yfc:rootElement="Equipment">
        <xsd:appinfo source="yfc:structure">
            <Equipment hasAttributes="Y">
                <EquipmentType hasAttributes="Y"/>
                <EquipmentDevices>
                    <EquipmentDevice hasAttributes="Y"/>
                </EquipmentDevices>
                <EquipmentDetails>
                    <EquipmentDetail hasAttributes="Y">
                        <Location hasAttributes="Y"/>
                    </EquipmentDetail>
                </EquipmentDetails>
            </Equipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Equipment" type="yfc:EquipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT">
            <xsd:documentation>All equipments used in the warehouse are defined in this table. The equipment table stores instance of an equipment of a particular type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EquipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EquipmentType"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EquipmentDevices"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EquipmentDetails"/>
        </xsd:all>
        <xsd:attribute name="CheckDigit" type="yfctype:VText-5" use="optional">
            <xsd:annotation yfc:columnName="CHECK_DIGIT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>Check Digit is a numeric representation of Equipment. It is generally used by Voice Systems to verify the Equipment. Equipment Check Digit is unique for a Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CheckDigitQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EquipmentId" type="yfctype:EquipmentId" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>This field identifies the equipment. For example, if the warehouse has 10 fork lifts, the equipment IDs can be FORKLIFT1 to FORKLIFT10.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EquipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>The primary key for the YFS_EQUIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EquipmentType" type="yfctype:EquipmentType" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>This field identifies the equipment type, such as  FORKLIFT, GRABTRUCK. The equipment types are defined in the YFS_EQUIPMENT_TYPE entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromCheckDigit" type="yfctype:VText-5" use="optional"/>
        <xsd:attribute name="FromEquipmentId" type="yfctype:EquipmentId" use="optional"/>
        <xsd:attribute name="FromEquipmentKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromEquipmentType"
            type="yfctype:EquipmentType" use="optional"/>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>The primary key for the YFS_EQUIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToCheckDigit" type="yfctype:VText-5" use="optional"/>
        <xsd:attribute name="ToEquipmentId" type="yfctype:EquipmentId" use="optional"/>
        <xsd:attribute name="ToEquipmentKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToEquipmentType"
            type="yfctype:EquipmentType" use="optional"/>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
    </xsd:complexType>
    <xsd:element name="EquipmentType">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT_TYPE">
            <xsd:documentation>All equipment types of the warehouse are defined in this table. e.g. GRABTRUCK, FORKLIFT etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>A brief description of the equipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DescriptionQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>This field specifies the equipment type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentTypeKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EquipmentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromDescription"
                type="yfctype:Text-200" use="optional"/>
            <xsd:attribute name="FromEquipmentType"
                type="yfctype:EquipmentType" use="optional"/>
            <xsd:attribute name="FromEquipmentTypeKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToDescription" type="yfctype:Text-200" use="optional"/>
            <xsd:attribute name="ToEquipmentType"
                type="yfctype:EquipmentType" use="optional"/>
            <xsd:attribute name="ToEquipmentTypeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EquipmentDevices">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EquipmentDevice"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EquipmentDevice">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT_DEVICE">
            <xsd:documentation>Equipment may have one or more devices associated with it. For example, a forklift has an RF scanner associated with it. Similarly, a packing station has a scanner and printer associated with it.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeviceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DEVICE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DEVICE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_DEVICE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeviceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EquipmentDeviceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_DEVICE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DEVICE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_DEVICE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentDeviceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EquipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DEVICE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_DEVICE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromDeviceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromEquipmentDeviceKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromEquipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToDeviceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToEquipmentDeviceKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToEquipmentKey" type="yfctype:Key" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EquipmentDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EquipmentDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EquipmentDetail">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT_DETAIL">
            <xsd:documentation>An equipment may have more than a placeholder location associated with it. For example, a cart may have one or more locations to indicate stock in various bins. For example, left top, right bottom etc. Another example is a sortation equipment that has more than a lane associated with it.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Location"/>
            </xsd:all>
            <xsd:attribute name="EquipmentDetailKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_DETAIL_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DETAIL">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_DETAIL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentDetailKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EquipmentId" type="yfctype:EquipmentId" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DETAIL">
                    <xsd:documentation>This field indicates the equipment identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DETAIL">
                    <xsd:documentation>This field identifies the equipment type, such as FORKLIFT, GRABTRUCK. The equipment types are defined in the YFS_EQUIPMENT_TYPE entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromEquipmentDetailKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromEquipmentId"
                type="yfctype:EquipmentId" use="optional"/>
            <xsd:attribute name="FromEquipmentType"
                type="yfctype:EquipmentType" use="optional"/>
            <xsd:attribute name="FromLocationId" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLocationLogicalName"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromLocationSizeCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="LocationId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DETAIL">
                    <xsd:documentation>This field indicates the location ID associated with the location in order to query and track inventory in the location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LocationLogicalName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_LOGICAL_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DETAIL">
                    <xsd:documentation>This field indicates the locagical name of the location. For example, a cart location may have various positions that may be occupied by the cartons based on the carton size. For example, right top, left bottom, A1...A4 etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationLogicalNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LocationSizeCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DETAIL">
                    <xsd:documentation>This field identifies the unique key attribute of YFS_LOCATION_SIZE_CODE table associated with the NODE_KEY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationSizeCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EQUIPMENT_DETAIL">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_DETAIL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToEquipmentDetailKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToEquipmentId"
                type="yfctype:EquipmentId" use="optional"/>
            <xsd:attribute name="ToEquipmentType"
                type="yfctype:EquipmentType" use="optional"/>
            <xsd:attribute name="ToLocationId" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLocationLogicalName"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToLocationSizeCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Location">
        <xsd:annotation yfc:tableName="YFS_LOCATION">
            <xsd:documentation>Warehouse zones are further divided into locations of different sizes where inventory is stored. Each location belongs to a zone and a node. It is classified as INTRANSIT, REGULAR, VIRTUAL, STAGING or DOCK. It has attributes like aisle number, bay number, level number etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AisleNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="AISLE_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the aisle Number of the location. The locations belong to zones which have travel aisle's between them. A zone could belong to multiple aisles and multiple zones could belong to an aisle. But a location in a zone always belongs to one and only one aisle.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BayNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="BAY_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the location's bay number. Typically, the aisle, level and bay put together represents the physical location of the location in a node, if they are based on coordinate system. The bay attribute of the location (x-coordinate from the beginning of the aisle) is used in arriving at locations nearest to the dedicated locations algorithm that is used in putaway. Typically, the bay attribute is contained within the location ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeMoveIn" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FREEZE_MOVE_IN" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This flag indicates whether the inventory is moved into the location. This is used for warehouses with certain number of locations. However, the usage of locations is phased out over a period of time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeMoveOut" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FREEZE_MOVE_OUT" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This flag indicates whether inventory is moved out of the location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InStagingLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="IN_STAGING_LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that the inventory is dropped into the drop off locations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the level number of the location. The height of the location (y-co-ordinate of the location from the floor) is classified as levels. The level attribute of the location is used in arriving at locations nearest to the dedicated locations algorithm used during the putaway process. Typically, the level attribute is contained within the location ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationBarCode"
                type="yfctype:LocationBarCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_BAR_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that a numeric barcode of the location identifier is stored for this location. The way this is intended to be used in WMS is that an RF operator when prompted to scan the location Id is also expected to scan the location bar code on the RF terminal. This ensures that the operator has traveled to the location suggested by the system and picked up or dropped off inventory at the specified location. Simply keying in the human readable form of the location ID on the RF terminal will be rejected by the system. The objective of this feature is to ensure inventory accuracy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the unique identifier for the location. The combination of the LOCATION_ID and NODE_KEY forms the unique key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_KEY" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The primary key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationSizeCode"
                type="yfctype:LocationSizeCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field defines the capacity of the location. All locations having the same size (dimensions and ability to hold the same weight) are classified under the same size code. This maps to the primary key attribute of the YFS_LOCATION_SIZE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationType"
                type="yfctype:EnumLocationType" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_TYPE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is a system defined classification of location to aid association of locations of certain types for certain other operations with WMS. The supported types are: INTRANSIT (Mobile locations), STAGING, VIRTUAL, REGULAR and DOCK. For example, all equipment locations should be of type INTRANSIT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveInSeqNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MOVE_IN_SEQ_NO" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is used by task management to suggest location while moving in the inventory (putaway). The putaway location selection algorithm uses this information to select locations from a list of locations based on the move in sequence.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveOutSeqNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MOVE_OUT_SEQ_NO" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is used by task management to suggest location while moving out inventory (picking). The pick location selection algorithm uses this information to select locations from a list of locations based on its move in sequence.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The primary key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutStagingLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="OUT_STAGING_LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the Out Drop off Location where moves originated at this location, and may be dropped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageCode" type="yfctype:StorageCode" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is an attribute of the location that allows the warehouse to store items with similar storage profile as that of the location.  For example, hazardous inflammable items need locations close to fire extinguishers. In this case the locations will be marked as having a storage code, which is suitable for storing Inflammable items. This ensures that only inflammable items get to these locations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VelocityCode"
                type="yfctype:VelocityCode" use="optional">
                <xsd:annotation yfc:columnName="VELOCITY_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that the items are classified as 'A', 'B' or 'C' class items based on whether they are fast selling, not so fast selling and low selling items. These item classifications are typically followed by all enterprises to optimize certain operations such as sourcing and stocking. The reason to have locations that prefer certain velocity codes is to have locations closer to dock stocking 'A' class items, and locations furthest away from the dock stocking 'C' class items. The velocity code is a preference on the location and not a constraint. If 'A' class items fill up all locations meant for 'A' class items, then they can be moved to 'B' and later 'C'. Similarly, 'C' can go to 'B' and 'A' for lack of space in the respective locations preferred for a specific velocity code. The 'B' class items move into 'C' and then into 'A'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the zone to which a location belongs. This when associated with the  node key identifies a unique zone within the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
