Data/xapidocs/api_javadocs/XSD/WMS_getWaveList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getWaveList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getWaveList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getWaveList_input.xsd" yfc:rootElement="Wave">
        <xsd:appinfo source="yfc:structure">
            <Wave hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Wave" type="yfc:WaveXSDType">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>This table stores wave definitions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WaveXSDType">
        <xsd:attribute name="Description" type="yfctype:FreeText-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>A brief description of the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the document type to which the wave belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EstimatedMinutes" use="optional">
            <xsd:annotation yfc:columnName="ESTIMATED_MINUTES"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>Indicates the number of minutes it is estimated that the wave would take to execute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Count"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EstimatedMinutesQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="FromDescription"
            type="yfctype:FreeText-200" use="optional"/>
        <xsd:attribute name="FromDocumentType" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="FromEstimatedMinutes" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromOverrideConcurrentWave"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromOverrideReleaseDate"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromPipelineKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromPriority" type="yfctype:Priority" use="optional"/>
        <xsd:attribute name="FromReasonCode" type="yfctype:ReasonCode" use="optional"/>
        <xsd:attribute name="FromReasonText" type="yfctype:ReasonText" use="optional"/>
        <xsd:attribute name="FromReleaseNoEarlierThan"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromReleaseNoLaterThan"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromRemainingMinutes" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="FromSeqNo" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="FromShipmentGroupId" type="yfctype:ID-10" use="optional"/>
        <xsd:attribute name="FromWaveKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromWaveNo" type="yfctype:SequenceNo" use="optional"/>
        <xsd:attribute name="FromWaveStatus" type="yfctype:Status" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
                        Indicates the node or warehouse where wave(s) are created.
                        <Validation>
                            <Condition>
                                <code>Node</code> attribute OR the <code>WaveKey</code>     attribute must be passed and must be valid.  
                            </Condition>
                            <Error
                                Description="Mandatory parameter not passed." ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OverrideConcurrentWave" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERRIDE_CONCURRENT_WAVE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This flag indicates whether the wave overrides the concurrent wave that is released. If 'Y' is selected, the Assign Pick Location (Release Wave) agent ignores the number of waves released concurrently that is defined for a specific shipment group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideConcurrentWaveQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OverrideReleaseDate" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERRIDE_RELEASE_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This flag indicates whether the wave overrides the wave release date. If 'Y' is selected, the Assign Pick Location (Release Wave) agent ignores the Release No Earlier Than and Release No Later Than date ranges.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideReleaseDateQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The pipeline key that is associated with the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the priority to apply to the wave. All waves will be processed in the order of this priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriorityQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the reason code for modifying the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field describes any additional information as to why the wave was modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonTextQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ReleaseNoEarlierThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_EARLIER_THAN"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking before this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoEarlierThanQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ReleaseNoLaterThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_LATER_THAN"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking after this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoLaterThanQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="RemainingMinutes" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>Indicates the time required for the planned tasks that are not yet complete.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Count"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="RemainingMinutesQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SEQ_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the sequence number associated with the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SeqNoQryType" type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field identifies the shipment group to which the wave belongs. The combination of the Node_Key and Shipment_Group_Id columns form a foreign key to the YFS_Wave table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToDescription" type="yfctype:FreeText-200" use="optional"/>
        <xsd:attribute name="ToDocumentType" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="ToEstimatedMinutes" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToOverrideConcurrentWave"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToOverrideReleaseDate" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToPipelineKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToPriority" type="yfctype:Priority" use="optional"/>
        <xsd:attribute name="ToReasonCode" type="yfctype:ReasonCode" use="optional"/>
        <xsd:attribute name="ToReasonText" type="yfctype:ReasonText" use="optional"/>
        <xsd:attribute name="ToReleaseNoEarlierThan"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToReleaseNoLaterThan"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToRemainingMinutes" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="ToSeqNo" type="yfctype:Count" use="optional"/>
        <xsd:attribute name="ToShipmentGroupId" type="yfctype:ID-10" use="optional"/>
        <xsd:attribute name="ToWaveKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToWaveNo" type="yfctype:SequenceNo" use="optional"/>
        <xsd:attribute name="ToWaveStatus" type="yfctype:Status" use="optional"/>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
                            Primary key attribute. Identifies a <code>Wave</code>
                        <Validation>
                            <Condition>
                                <code>Node</code> attribute OR the <code>WaveKey</code>     attribute must be passed and must be valid.  
                                </Condition>
                            <Error
                                Description="Mandatory parameter not passed." ErrorCode="WMS00063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNoQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WaveStatus" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="WAVE_STATUS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the status the wave is currently in.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveStatusQryType"
            type="yfctype:StringQryType" use="optional"/>
    </xsd:complexType>
</xsd:schema>
