Data/xapidocs/api_javadocs/XSD/WMS_getMoveRequestStatusAuditList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getMoveRequestStatusAuditList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getMoveRequestStatusAuditList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getMoveRequestStatusAuditList_output.xsd" yfc:rootElement="MoveRequestStatusAudits">
        <xsd:appinfo source="yfc:structure">
            <MoveRequestStatusAudits hasAttributes="Y">
                <MoveRequestStatusAudit hasAttributes="Y">
                    <OldStatus hasAttributes="Y"/>
                    <NewStatus hasAttributes="Y"/>
                    <MoveRequest hasAttributes="Y"/>
                </MoveRequestStatusAudit>
            </MoveRequestStatusAudits>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MoveRequestStatusAudits" type="yfc:MoveRequestStatusAuditsXSDType"/>
    <xsd:complexType name="MoveRequestStatusAuditsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:MoveRequestStatusAudit"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="MoveRequestStatusAudit">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
            <xsd:documentation>This entity stores audits of all status changes on the move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OldStatus"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NewStatus"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:MoveRequest"/>
            </xsd:all>
            <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The move request key that is associated with this move request status audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestStatusAuditKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MOVE_REQUEST_STATUS_AUDIT_KEY" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The primary key for the YFS_MOVE_REQ_STATUS_AUDIT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The new (latest) status of the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewStatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEW_STATUS_DATE" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The timestamp for the date on which the status of this move request was changed to the new (latest) status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The old (previous) status of the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldStatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="OLD_STATUS_DATE" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The timestamp for the date on which the status of this move request was changed to the old (previous) status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OldStatus">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
            <xsd:documentation>This entity stores audits of all status changes on the move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Short description for the old status associated with the Move Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The old (previous) status of the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NewStatus">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
            <xsd:documentation>This entity stores audits of all status changes on the move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Short description for the new status associated with the Move Request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                    <xsd:documentation>The new (latest) status of the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequest">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST">
            <xsd:documentation>This table stores all the move requests that are created for a node. The move requests may be created from any activity group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The timestamp for the time by which the task has to finish. This is a pass through field which is stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForActivityCode"
                type="yfctype:Activity" use="optional">
                <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>This code identifies the activity for which the move request is being logged.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromActivityGroup"
                type="yfctype:EnumActivityGroup" use="optional">
                <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The department requesting the move. Valid values are: Replenishment, Outbound Picking, Receipt, Count, Value Added Services, Packing, Outbound Inventory Container Build, Shipping Container Build, and Inspection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasExceptions" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_EXCEPTIONS" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>This flag indicates whether there were any exceptions in either creating or executing the tasks for the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The primary key for the YFS_MOVE_REQUEST table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_NO" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The number of the move request. This field identifies a move request for a node, within the context of a module.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The node key that is associated with this move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>This code identifies the reason why the move request was cancelled. The user defined Common Code Type is "MOVE_REQ_CANCEL_RSN".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The description of the reason why the move request was cancelled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestUserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="REQUEST_USER_ID" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The user who requested the move.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The shipment key that is associated with this move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The timestamp for the time when the task can start. This is a pass through field which is stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumMoveRequestStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The status of the move request. The system defined Common Code Type is "MOVE_REQUEST_STATUS." Valid values are: Created, Released, Cancellation Requested, Cancellation Failed and Closed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The wave key that is associated with this move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The work order key that is associated with this move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
