Data/xapidocs/api_javadocs/XSD/WMS_recordCount_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/recordCount/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/recordCount/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_recordCount_input.xsd" yfc:rootElement="RecordCount">
        <xsd:appinfo source="yfc:structure">
            <RecordCount hasAttributes="Y">
                <SerialRangeList>
                    <SerialRange hasAttributes="Y"/>
                </SerialRangeList>
                <CountTag hasAttributes="Y"/>
            </RecordCount>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RecordCount" type="yfc:RecordCountXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT">
            <xsd:documentation>This transaction table stores the counts done for the task.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RecordCountXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SerialRangeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountTag"/>
        </xsd:all>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					A CaseId 
						<Validation>
                            <Condition>Both <code>CaseId</code> and <code>PalletId</code> cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
							</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_KEY" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The primary key for the YFS_COUNT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="COUNT_QUANTITY" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The physically counted quantity for the count criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The count request key that is associated with this count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_COUNT">
                <xsd:documentation>A unique key for the inventory status table. This key refers to an inventory sub-classification based on the results of the inventory control processes within the warehouse.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The inventory tag key that is associated with this count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The item's item ID that was counted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="required">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>A Location in the node where count was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The node key that is associated with this count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COUNT">
                <xsd:documentation>Indicates the organization to which the inventory belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					A PalletId 
						<Validation>
                            <Condition>Both <code>CaseId</code> and <code>PalletId</code> cannot be passed. Error if both <code>CaseId</code> and <code>PalletId</code> are given.
							</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The inventory classification of the item, classified based on the product's characteristics. Typical examples are FQ - First Quality, SQ - Second Quality, and so on.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_COUNT">
                <xsd:documentation>Whenever the inventory is customized for a specific order, it needs to be tracked separately so that it can be allocated to that order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_COUNT">
                <xsd:documentation>Whenever the inventory is customized, it needs to be tracked separately. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The serial number that was generated during the count process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SummaryTaskId" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="SUMMARY_TASK_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The summary task identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
            <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_COUNT">
                <xsd:documentation>Indicates the tag number associated with the inventory.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="required">
            <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The task id that is associated with this count table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_COUNT">
                <xsd:documentation>A two-digit code that identifies the task type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT">
                <xsd:documentation>The item's unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SerialRangeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:SerialRange"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SerialRange">
        <xsd:complexType>
            <xsd:attribute name="FromSerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Staring serial number of a range for item. 
 							<Validation>
                                <Condition> If item has secondary serials, serial range entry is not supported.
								</Condition>
                                <Error
                                    Description="Secondary serial exists for the item. Single serial scanning is required." ErrorCode="INV80_037"/>
                            </Validation>
                            <Validation>
                                <Condition> From Serial Number is blank.
								</Condition>
                                <Error
                                    Description="From Serial Number is blank." ErrorCode="INV80_043"/>
                            </Validation>
                            <Validation>
                                <Condition> To Serial Number is blank.
								</Condition>
                                <Error
                                    Description="To Serial Number is blank." ErrorCode="INV80_044"/>
                            </Validation>
                            <Validation>
                                <Condition> Both From and To Serial numbers are blank.
								</Condition>
                                <Error
                                    Description="Both From and To Serial numbers are blank." ErrorCode="INV80_039"/>
                            </Validation>
                            <Validation>
                                <Condition> Serial range entry is not supported when From and To Serial numbers are of different length.
								</Condition>
                                <Error
                                    Description="From and To Serial numbers are of different length, Manual Scanning Required." ErrorCode="INV80_045"/>
                            </Validation>
                            <Validation>
                                <Condition> Default implementation is given only for numeric serial numbers.
								</Condition>
                                <Error
                                    Description="Serial is neither Integer nor Long. User Exit needs to be implemented." ErrorCode="INV80_038"/>
                            </Validation>
                            <Validation>
                                <Condition> To serial numbers needs to be greater than from serial number for default implementation.
								</Condition>
                                <Error
                                    Description="From Serial number is greater than To Serial number." ErrorCode="INV80_040"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToSerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Ending serial number of a range for item. 
 							<Validation>
                                <Condition> If item has secondary serials, serial range entry is not supported.
								</Condition>
                                <Error
                                    Description="Secondary serial exists for the item. Single serial scanning is required." ErrorCode="INV80_037"/>
                            </Validation>
                            <Validation>
                                <Condition> From Serial Number is blank.
								</Condition>
                                <Error
                                    Description="From Serial Number is blank." ErrorCode="INV80_043"/>
                            </Validation>
                            <Validation>
                                <Condition> To Serial Number is blank.
								</Condition>
                                <Error
                                    Description="To Serial Number is blank." ErrorCode="INV80_044"/>
                            </Validation>
                            <Validation>
                                <Condition> Both From and To Serial numbers are blank.
								</Condition>
                                <Error
                                    Description="Both From and To Serial numbers are blank." ErrorCode="INV80_039"/>
                            </Validation>
                            <Validation>
                                <Condition> Serial range entry is not supported when From and To Serial numbers are of different length.
								</Condition>
                                <Error
                                    Description="From and To Serial numbers are of different length, Manual Scanning Required." ErrorCode="INV80_045"/>
                            </Validation>
                            <Validation>
                                <Condition> Default implementation is given only for numeric serial numbers.
								</Condition>
                                <Error
                                    Description="Serial is neither Integer nor Long. User Exit needs to be implemented." ErrorCode="INV80_038"/>
                            </Validation>
                            <Validation>
                                <Condition> To serial numbers needs to be greater than from serial number for default implementation.
								</Condition>
                                <Error
                                    Description="From Serial number is greater than To Serial number." ErrorCode="INV80_040"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountTag">
        <xsd:annotation yfc:tableName="YFS_COUNT_TAG">
            <xsd:documentation>Gives the information about the tag to which inventory belongs. Attributes passed in this element will be used to identify a tag for the item in inventory based on attributes marked as unique tag attributes in the item catalog. If a tag is present, it will be used and the existing tag will be updated with the other non-unique tag attributes passed in the <code>CountTag</code> element (if different from the existing tag record). 
				</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field specifies the batch number associated with the tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_KEY" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>The count key that is associated with this count tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_TAG_KEY" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>The primary key for the YFS_COUNT_TAG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field indicates the lot number associated with the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field specifies the date on which the lot was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field indicates the revision number associated with the tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_COUNT_TAG">
                    <xsd:documentation>This field indicates the tag number associated with the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
