Data/xapidocs/api_javadocs/XSD/WMS_getShipmentProfileSummary_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getShipmentProfileSummary/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getShipmentProfileSummary/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getShipmentProfileSummary_output.xsd" yfc:rootElement="ShipmentProfileSummary">
        <xsd:appinfo source="yfc:structure">
            <ShipmentProfileSummary>
                <Profile hasAttributes="Y"/>
            </ShipmentProfileSummary>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipmentProfileSummary" type="yfc:ShipmentProfileSummaryXSDType"/>
    <xsd:complexType name="ShipmentProfileSummaryXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Profile"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Profile">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="NumberOfShipments"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Number of Shipments for that profile</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfShipmentsNotWaved"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Number of Shipments  not in a wave for that profile</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfShipmentsWaved"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Number of Shipments in a wave for that profile</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProfileId" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
