Data/xapidocs/api_javadocs/XSD/WMS_getCountRequestDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getCountRequestDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getCountRequestDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getCountRequestDetails_output.xsd" yfc:rootElement="CountRequest">
        <xsd:appinfo source="yfc:structure">
            <CountRequest hasAttributes="Y">
                <CountResultList>
                    <CountResult hasAttributes="Y">
                        <CountResultTag hasAttributes="Y"/>
                    </CountResult>
                </CountResultList>
                <Item hasAttributes="Y"/>
                <Status hasAttributes="Y"/>
                <Receipt hasAttributes="Y"/>
                <Priority hasAttributes="Y"/>
                <Pipeline hasAttributes="Y"/>
                <Document hasAttributes="Y"/>
                <RequestingUser hasAttributes="Y"/>
                <AllowedTransactions>
                    <Transaction/>
                </AllowedTransactions>
                <AllowedModifications>
                    <Modification hasAttributes="Y"/>
                </AllowedModifications>
            </CountRequest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountRequest" type="yfc:CountRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_REQUEST">
            <xsd:documentation>This transaction table stores count requests to perform inventory count in a warehouse. The count process in a warehouse begins with the count request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CountRequestXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountResultList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Status"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Priority"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Pipeline"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Document"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RequestingUser"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AllowedTransactions"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AllowedModifications"/>
        </xsd:sequence>
        <xsd:attribute name="CancellationReasonCode"
            type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="CANCELLATION_REASON_CODE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The cancellation reason code for canceling the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>A CaseId</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountProgramName" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="COUNT_PROGRAM_NAME" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The count program name for which the count request is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The primary key for the YFS_COUNT_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_NO" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The count request number associated with the document type and node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The document type associated with the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The enterprise for which the count request is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FinishNoLaterThan" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The timestamp associated with the task. This timestamp is stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromLocation" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="FROM_LOCATION" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>This is starting location of the range of locations that the user wants to count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification1"
            type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION1" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The first item classification for the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification2"
            type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION2" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The second item classification for the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification3"
            type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION3" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The third item classification for the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The item to be counted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>A Location in the node where the count should be performed. The LOCATION_ID associated with the NODE_KEY field identifies a unique location in the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The node key that is associated with this count request list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>A PalletId</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>A logical foreign key to the YFS_PIPELINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The count request priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The item's inventory classification, classified based on the product's characteristics. Typical examples are, FQ - First Quality, SQ - Second Quality, and so on.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>Additional information as to why the count request was cancelled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The logical foreign key to the YFS_RECEIPT_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestType" type="yfctype:RequestType" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_TYPE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>This field indicates the count request type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestingUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="REQUESTING_USER_ID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The user who requested for the count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The timestamp associated with the task. This timestamp is stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The current status of the count request. Some of the statuses are 1100 - Count Request Created, 1200 - Count Tasks Created, 1300 - Count Tasks Completed, 2000 - Count Request Completed and 9000 - Count Request Cancelled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToLocation" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="TO_LOCATION" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>This is the end location of the range of locations that the user wants to count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The item's unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The zone where the count should be performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CountResultList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CountResult"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountResult">
        <xsd:annotation yfc:tableName="YFS_COUNT_RESULT">
            <xsd:documentation>This transaction table stores results of the count requests.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountResultTag"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A CaseId</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="COUNT_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the physically counted quantity for the count criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The count request key that is associated with this count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountResultKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_RESULT_KEY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The primary key for the YFS_COUNT_RESULT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field is a unique key for the YFS_INVENTORY_STATUS table. This field refers to an inventory sub-classification based on the inventory control process results within the warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The inventory tag key that is associated with this count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsResolvable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RESOLVABLE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This flag indicates whether the variance can be resolved for the count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the item that was counted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>A Location in the node where count was performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The node key that is associated with this count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The organization to which the inventory belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A PalletId</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The inventory classification of the item that is classified based on the product characteristics.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>Whenever the inventory is customized for a specific order, the inventory needs to be tracked separately. This field indicates the order to which the inventory is allocated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>Whenever inventory is customized, it needs to be tracked separately. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the serial number that was generated during the count process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SummaryTaskId"
                type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="SUMMARY_TASK_ID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The summary task identifier associated with the count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SYSTEM_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the system reported quantity for the count criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The task id that is associated with this count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field is a two-digit code that identifies the task type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the item's unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VarianceAccepted" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_ACCEPTED" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates if the variance was accepted for the count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VariancePercentage" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_PERCENTAGE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field specifies the variance percentage which is calculated as 100* VARIANCE_QUANTITY divided by SYSTEM_QUANTITY.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:BigPercentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="VarianceQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field specifies the difference between the count quantity and system quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VarianceType"
                type="yfctype:EnumVarianceType" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field determines the variance type based on the count results. If the Variance Quantity &gt; 0, the Variance Type for the items will be 'New', 'Missing' if the Variance Quantity &lt; 0, and 'No Variance' if the Variance Quantity = 0. However, for License Plates the Variance Type will not be computed based on the Variance Quantity. Instead, the Variance Type will be set to 'New' if a Case/Pallet is found in the location, but does not exist in the system inventory of the location, 'Missing' if the Case/Pallet is not found in the location, but  exists in the system inventory of the location, 'No Variance' in situations when there is no count discrepancy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VarianceValue"
                type="yfctype:VarianceValue" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_VALUE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field is computed as the summation of VARIANCE_QUANTITY * UNIT_COST for all tasks in the count request for the latest completed iteration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountResultTag">
        <xsd:annotation yfc:tableName="YFS_COUNT_RESULT_TAG">
            <xsd:documentation>This transaction table stores tag information of the inventory that resulted after counting.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the batch number associated with the tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountResultKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_RESULT_KEY" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The count result key that is associated with this count result tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountResultTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_RESULT_TAG_KEY" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The primary key for the YFS_COUNT_RESULT_TAG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number associated with the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The date on which the lot was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the revision number associated with the tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Status">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The unique identifier for the status within a process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Priority">
        <xsd:annotation yfc:tableName="YFS_COUNT_REQUEST">
            <xsd:documentation>This transaction table stores count requests to perform inventory count in a warehouse. The count process in a warehouse begins with the count request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description"
                type="yfctype:CodeShortDescription" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Description of the priority. 1 is High, 2 is Medium, 3 is Normal and 4 is Low.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>The count request priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Pipeline">
        <xsd:annotation yfc:tableName="YFS_PIPELINE">
            <xsd:documentation>This table stores information about pipelines.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PipelineId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_ID" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The unique identifier for the pipeline.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The primary key for the YFS_PIPELINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Document">
        <xsd:annotation yfc:tableName="YFS_DOCUMENT_PARAMS">
            <xsd:documentation>This table stores information about document types. Orders can be classified into various types of documents. For example, Purchase Orders, Sales Orders, or Planned Orders, This table is a configuration table which controls behaviour of all system transactions for a given type of order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DOCUMENT_PARAMS">
                    <xsd:documentation>The description of the document type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DOCUMENT_PARAMS">
                    <xsd:documentation>This field indicates the type of document for which parameters are configured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RequestingUser">
        <xsd:annotation yfc:tableName="YFS_COUNT_REQUEST">
            <xsd:documentation>This transaction table stores count requests to perform inventory count in a warehouse. The count process in a warehouse begins with the count request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="RequestingUserId"
                type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="REQUESTING_USER_ID" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>The user who requested for the count.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserName" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AllowedTransactions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Transaction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Transaction">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION">
            <xsd:documentation>This table stores transactions defined within the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="AllowedModifications">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Modification"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Modification">
        <xsd:annotation yfc:tableName="YFS_STATUS_MODIFICATION_TYPE">
            <xsd:documentation>Modifications of various attributes on entities or operations that could be performed on entities are catogorized as modification types. These modification types are stored in this entity.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ModificationType"
                type="yfctype:ModificationType" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_TYPE" yfc:tableName="YFS_STATUS_MODIFICATION_TYPE">
                    <xsd:documentation>Modification type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ThroughOverride" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if modification is allowed through ovveride. Valid values are Y, N and Void. Void implies N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
