Data/xapidocs/api_javadocs/XSD/WMS_prepareForDeposit_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/prepareForDeposit/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/prepareForDeposit/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_prepareForDeposit_input.xsd" yfc:rootElement="PrepareForDeposit">
        <xsd:appinfo source="yfc:structure">
            <PrepareForDeposit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PrepareForDeposit" type="yfc:PrepareForDepositXSDType"/>
    <xsd:complexType name="PrepareForDepositXSDType">
        <xsd:attribute name="EquipmentId" type="yfctype:EquipmentId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Equipment id used by the User. 
						Used in combination with loginid to get user tasks.
						<Validation>
                            <Condition>If <code>EquipmentId</code> is not valid.
							</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="required">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>
                    <div>
					Login id of the User for whom the tasks are got. It is the primary key attribute of the <code>YFS_User</code> table. It is required to uniquely identify tasks picked by a user.
						<Validation>
                            <Condition>
                                <code>UserId</code> should be passed.
								</Condition>
                            <Error Description="UserId not passed." ErrorCode="YCP0149"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>UserId</code> passed should be a valid <code>UserId</code>.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Primary key attribute of <code>YFS_SHIP_NODE</code> table. It is required to uniquely identify a location within the ship node.
						<Validation>
                            <Condition>
                                <code>Node</code> should be passed.
								</Condition>
                            <Error Description="Node not passed." ErrorCode="WMS00054"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Node</code> passed should be a valid node.
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
