Data/xapidocs/api_javadocs/XSD/WMS_getPlannedEffort_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPlannedEffort/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPlannedEffort/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getPlannedEffort_input.xsd" yfc:rootElement="Request">
        <xsd:appinfo source="yfc:structure">
            <Request hasAttributes="Y">
                <Attributes>
                    <Attribute hasAttributes="Y"/>
                </Attributes>
                <RequestLines>
                    <RequestLine hasAttributes="Y">
                        <Attributes>
                            <Attribute hasAttributes="Y"/>
                        </Attributes>
                    </RequestLine>
                </RequestLines>
            </Request>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Request" type="yfc:RequestXSDType"/>
    <xsd:complexType name="RequestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="Attributes">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attribute">
                            <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                                <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="Name"
                                    type="yfctype:String" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Name of a header level attribute</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Value"
                                    type="yfctype:String" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Value of a header level attribute</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RequestLines"/>
        </xsd:all>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>EnterpriseCode for which Effort is being planned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>Ship Node for which Effort is being planned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableKey" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>Identifies the table record for which Effort is being planned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableName" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>Name of the Table for which Effort is being planned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="RequestLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:RequestLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RequestLine">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Attributes">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Attribute">
                                <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                                    <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Name"
                                    type="yfctype:String" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Name of a line level attribute</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Value"
                                    type="yfctype:String" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Value of a line level attribute</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Country of origin for the item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedPickDate" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>ExpectedPickDate on the request line. This is required if conditions are defined for ExpectedPickDate.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Expected Shipment Date on the request line. This is required if conditions are defined for ExpectedShipmentDate.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies an item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitCode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The kit code of the item, if it is a Kit item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A product class</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Quantity on the request line</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies an inventory segment</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies the type of inventory segment</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Unit of measure</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
