Data/xapidocs/api_javadocs/XSD/WMS_OPEN_CONTAINER.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/OPEN_CONTAINER/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/OPEN_CONTAINER/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_OPEN_CONTAINER.ON_SUCCESS.xsd" yfc:rootElement="OpenContainer">
        <xsd:appinfo source="yfc:structure">
            <OpenContainer hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OpenContainer" type="yfc:OpenContainerXSDType">
        <xsd:annotation yfc:tableName="YFS_OPEN_CONTAINER">
            <xsd:documentation>This table stores information about all open pallets available in the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OpenContainerXSDType">
        <xsd:attribute name="IsShippingContainer" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_SHIPPING_CONTAINER" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>This flag indicates whether the container is a shipping container or inventory container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LPNNo" type="yfctype:LPNNo" use="optional">
            <xsd:annotation yfc:columnName="LPN_NO" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>The case or pallet License Plate Number. This field is a foreign key to the YFS_LPN_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LPNType" type="yfctype:EnumLPNType" use="optional">
            <xsd:annotation yfc:columnName="LPN_TYPE" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>This field indicates the system defined values for the LPN type associated with the LPN number for which an open container exists. Currently, the system supports only CASE and PALLET LPN types.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>The load key that is associated with the open container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>This field indicates the location in a warehouse where the container exists.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>The node key that is associated with the open container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpenContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OPEN_CONTAINER_KEY" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>The primary key for the YFS_OPEN_CONTAINER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Scac" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>The Standard Carrier Alpha Code (SCAC) associated with the open container. This code is assigned to identify the carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>The date by which the container must be shipped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>The shipment key that is associated with the open container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>This field identifies the zone in which the container exists.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
