Data/xapidocs/api_javadocs/XSD/WMS_beforeCreateWaveUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/beforeCreateWaveUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/beforeCreateWaveUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_beforeCreateWaveUE_input.xsd" yfc:rootElement="Wave">
        <xsd:appinfo source="yfc:structure">
            <Wave hasAttributes="Y">
                <ShipmentList>
                    <Shipment hasAttributes="Y"/>
                </ShipmentList>
            </Wave>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Wave" type="yfc:WaveXSDType">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>This table stores wave definitions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WaveXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentList"/>
        </xsd:all>
        <xsd:attribute name="AcceptImmediately" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If passed as <code>Y</code>
                        <code>Wave</code> will be accepted at the time of creation itself. 
						<br/>Default:<b>
                            <code>N</code>
                        </b> - Auto acceptance rules specified in <code>ShipmentGroup</code> are applied.
						<br/>Valid Values:
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - Wave is created in  <code> Accepted(1100.20)</code>. 
						<br/>
                        <b>
                            <code>N</code>
                        </b> - Wave can be created in <code>Created (1100)</code> or in <code>Auto Accepted (1100.10)</code> status depending on <code>ShipmentGroup</code>.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Must be a valid <code>Node</code> , in the table <code>YFS_SHIP_NODE</code>.
					</Condition>
                            <Error
                                Description="WMS:Node passed does not exist." ErrorCode="WMS00042"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Node</code> must be passed.
					</Condition>
                            <Error Description="WMS: Node not passed." ErrorCode="WMS00054"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideConcurrentWave" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERRIDE_CONCURRENT_WAVE" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
						Pass this to override<code>NoOfConcurrentWaves</code> attribute of the <code>ShipmentGroup</code> wave belongs to.
						<br/>Default:<b>
                            <code>N</code>
                        </b> - Wave will be released according to <code>NoOfConcurrentWaves</code>attribute of the <code>ShipmentGroup</code>. 
						<br/>Valid Values:
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - <code>NoOfConcurrentWaves</code> attribute of the <code>ShipmentGroup</code> will be ignored.
						<br/>
                        <b>
                            <code>N</code>
                        </b>.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideReleaseDate" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERRIDE_RELEASE_DATE" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
						Pass this to override wave release schedule.
						<br/>Default:<b>
                            <code>N</code>
                        </b> - Wave will be released according to <code>ReleaseNoEarlierThan</code> and <code>ReleaseNoLaterThan</code> attributes on the <code> wave</code>.
						<br/>Valid Values:
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - <code>ReleaseNoEarlierThan</code> and <code>ReleaseNoLaterThan</code> attributes on the <code> wave</code> will be ignored.
						<br/>
                        <b>
                            <code>N</code>
                        </b>.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoEarlierThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_EARLIER_THAN" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking before this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoLaterThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_LATER_THAN" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking after this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="required">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_WAVE">
                <xsd:documentation>
                    <div>
				Must be a valid <code>ShipmentGroupId</code> for the Node, in the table <code>YFS_SHIPMENT_GROUP</code>.
				<Validation>
                            <Error Description="Invalid Shipment Group." ErrorCode="WMS00128"/>
                        </Validation>
                        <Validation>
                            <Condition>If not passed: 
						  </Condition>
                            <Error
                                Description="WMS: Shipment Group is not passed and it is mandatory for this operation." ErrorCode="WMS00127"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipmentList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Shipment"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
			Required. Multiple <code>ShipmentLine</code>s can be associated with single wave. At least one <code>ShipmentLine</code> must exist for a wave. Pass a <code>Shipment</code> to associate or disassociate its lines from a <code>Wave</code>. <code>Shipment</code> attributes cannot be modified using this API. 
						<Validation>
                        <Condition>No <code>Shipment</code> passed for a new <code>Wave</code>.</Condition>
                        <Error
                            Description="WMS: Wave cannot be created without shipment lines." ErrorCode="WMS00130"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ShipmentKey</code> attribute OR <code>ShipmentNo</code> and <code>SellerOrganizationCode</code> must be passed and must be valid. 
					</Condition>
                        <Error
                            Description="ShipmentKey or combination of ShipmentNo, SellerOrganizationCode and Node points to an invalid shipment" ErrorCode="YDM00017"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
