Data/xapidocs/api_javadocs/XSD/WMS_circumventLooseContainerizationUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/circumventLooseContainerizationUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/circumventLooseContainerizationUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_circumventLooseContainerizationUE_output.xsd" yfc:rootElement="LooseContainerization">
        <xsd:appinfo source="yfc:structure">
            <LooseContainerization>
                <ContainerList>
                    <Container hasAttributes="Y">
                        <ItemToBePackedList>
                            <ItemToBePacked hasAttributes="Y"/>
                        </ItemToBePackedList>
                    </Container>
                </ContainerList>
            </LooseContainerization>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LooseContainerization" type="yfc:LooseContainerizationXSDType"/>
    <xsd:complexType name="LooseContainerizationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerList"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ContainerList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Container"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemToBePackedList"/>
            </xsd:all>
            <xsd:attribute name="ItemKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalQuantityplaced"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalVolume" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalVolumeUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalWeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalWeightUOM" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemToBePackedList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemToBePacked"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemToBePacked">
        <xsd:complexType>
            <xsd:attribute name="IdentifierKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
