Data/xapidocs/api_javadocs/XSD/WMS_doesItemMatchCountTask_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/doesItemMatchCountTask/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/doesItemMatchCountTask/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_doesItemMatchCountTask_input.xsd" yfc:rootElement="DoesItemMatchCountTask">
        <xsd:appinfo source="yfc:structure">
            <DoesItemMatchCountTask hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DoesItemMatchCountTask" type="yfc:DoesItemMatchCountTaskXSDType"/>
    <xsd:complexType name="DoesItemMatchCountTaskXSDType">
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						Item that has been counted against the task.
						<Validation>
                            <Condition>The <code>ItemID</code> is mandatory.
							</Condition>
                            <Error
                                Description="Item Details not passed." ErrorCode="WMS00020"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						Indicates the enterprise of the item counted.
						<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is mandatory.
							</Condition>
                            <Error
                                Description="Item Details not passed." ErrorCode="WMS00020"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="required">
            <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						The task identifier for which count is being performed.
						<Validation>
                            <Condition>The <code>TaskId</code> is mandatory.
							</Condition>
                            <Error Description="Task is mandatory." ErrorCode="WMS00117"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="required">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT">
                <xsd:documentation>
                    <div>
						Indicates the unit of measure of the item counted.
						<Validation>
                            <Condition>
                                <code>UnitOfMeasure</code> is mandatory.
							</Condition>
                            <Error
                                Description="Item Details not passed." ErrorCode="WMS00020"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
