Data/xapidocs/api_javadocs/XSD/WMS_changeWaveStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/changeWaveStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/changeWaveStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_changeWaveStatus_input.xsd" yfc:rootElement="Wave">
        <xsd:appinfo source="yfc:structure">
            <Wave hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Wave" type="yfc:WaveXSDType">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>Either TaskQKey or one of WaveKey, (WaveNo, Node) is mandatory
						</Condition>
                        <Error
                            Description="WMS: Wave does not exist for the input passed." ErrorCode="WMS00129"/>
                    </Validation>
                    <Validation>
                        <Condition>Either TaskQKey or TransactionId is mandatory
						</Condition>
                        <Error Description="YCP:Field Mandatory" ErrorCode="YCP0046"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WaveXSDType">
        <xsd:attribute name="BaseDropStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="DROP_STATUS" yfc:tableName="YFS_PIPELINE_DEFINITION">
                <xsd:documentation>
                    <div>Value passed is used to determine the actual drop status that the transaction assigns to the wave. If <code>BaseStatus</code> is not passed, then the transaction must have only one base status defined as part of the setup.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskQKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_Q_KEY" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>Task Q request for wave status change.
				<div>
                        <Validation>
                            <Condition>Must be a valid <code>TaskQ</code> , in the table <code>YFS_TASK_Q</code>.
					</Condition>
                            <Error
                                Description="YFS: Invalid Task Q data." ErrorCode="YFS10406"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TranId" use="optional">
            <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>
                    <div>Identifies a transaction.  If <code>TaskQKey</code> is passed, any <code>TransactionId</code> passed is ignored.
				<Validation>
                            <Condition>If <code>TransactionId</code> is passed, the transaction identified must be derived from the abstract transaction <code>CHANGE_WAVE_STATUS</code>.
					</Condition>
                            <Error Description="Invalid Transaction." ErrorCode="YCP0063"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
