Data/xapidocs/api_javadocs/XSD/WMS_openContainer_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/openContainer/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/openContainer/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_openContainer_input.xsd" yfc:rootElement="OpenContainer">
        <xsd:appinfo source="yfc:structure">
            <OpenContainer hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OpenContainer" type="yfc:OpenContainerXSDType">
        <xsd:annotation yfc:tableName="YFS_OPEN_CONTAINER">
            <xsd:documentation>This table stores information about all open pallets available in the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OpenContainerXSDType">
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> A case identifier. 
					<Validation>
                            <Condition> Both<code>CaseId</code> and <code>PalletId</code> should not be passed.
						</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                        <Validation>
                            <Condition> Either <code>CaseId</code> or <code>PalletId</code> should be passed.
						</Condition>
                            <Error
                                Description="CaseId/PalletId not passed in the input." ErrorCode="WMS00011"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Enterprise Code for which the case is created in inventory. 
				<Validation>
                            <Condition> Mandatory.
				</Condition>
                            <Error
                                Description="EnterpriseCode has to be      passed in the input" ErrorCode="WMS00030"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreExistingContainer"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> If this flag is passed as 'N' then this Api will throw error if the LPN already exists.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>
                    <div> The location where the license plate is created.
				<Validation>
                            <Condition> Must be a valid <code>Node</code> and <code>LocationId</code> combination.
				</Condition>
                            <Error
                                Description="Invalid Node and LocationId      combination" ErrorCode="WMS00037"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>
                    <div> The shipnode where the license plate is created.
				<Validation>
                            <Condition> Mandatory.
				</Condition>
                            <Error Description="Node not passed." ErrorCode="WMS00054"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>A pallet identifier.
						<Validation>
                            <Condition> Both<code>CaseId</code> and <code>PalletId</code> should not be passed.
							</Condition>
                            <Error
                                Description="Only One of Case/Pallet Can Be Used." ErrorCode="WMS00028"/>
                        </Validation>
                        <Validation>
                            <Condition> Either <code>CaseId</code> or <code>PalletId</code> should be passed.
							</Condition>
                            <Error
                                Description="CaseId/PalletId not passed in the input." ErrorCode="WMS00011"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetLocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="TARGET_LOCATION_ID" yfc:tableName="YFS_OPEN_CONTAINER">
                <xsd:documentation>
                    <div> Location to which the container should move the Inventory.
				<Validation>
                            <Condition> If Passed it must be a valid <code>Node</code> and <code>LocationId</code> combination.
				</Condition>
                            <Error
                                Description="Invalid Node and LocationId      combination" ErrorCode="WMS00037"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
