Data/xapidocs/api_javadocs/XSD/WMS_getWaveSummary_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getWaveSummary/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getWaveSummary/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getWaveSummary_output.xsd" yfc:rootElement="WaveSummary">
        <xsd:appinfo source="yfc:structure">
            <WaveSummary>
                <TaskSummaryList>
                    <TaskSummary hasAttributes="Y">
                        <TaskType hasAttributes="Y"/>
                    </TaskSummary>
                </TaskSummaryList>
                <ShipmentSummaryList>
                    <ShipmentSummary hasAttributes="Y">
                        <Wave hasAttributes="Y"/>
                        <Status hasAttributes="Y"/>
                    </ShipmentSummary>
                </ShipmentSummaryList>
                <ShipmentProfileSummaryList>
                    <ShipmentProfileSummary hasAttributes="Y">
                        <Wave hasAttributes="Y"/>
                        <Status hasAttributes="Y"/>
                    </ShipmentProfileSummary>
                </ShipmentProfileSummaryList>
                <ContainerSummaryList>
                    <ContainerSummary hasAttributes="Y">
                        <Status hasAttributes="Y"/>
                    </ContainerSummary>
                </ContainerSummaryList>
                <WorkOrderSummaryList>
                    <WorkOrderSummary hasAttributes="Y"/>
                </WorkOrderSummaryList>
                <PlannedTaskSummaryList>
                    <PlannedTaskSummary hasAttributes="Y"/>
                </PlannedTaskSummaryList>
                <OverallSummary hasAttributes="Y">
                    <QuantitySummary hasAttributes="Y"/>
                </OverallSummary>
                <WaveList>
                    <Wave hasAttributes="Y">
                        <ShipmentGroup hasAttributes="Y"/>
                    </Wave>
                </WaveList>
            </WaveSummary>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WaveSummary" type="yfc:WaveSummaryXSDType"/>
    <xsd:complexType name="WaveSummaryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TaskSummaryList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentSummaryList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentProfileSummaryList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerSummaryList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderSummaryList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PlannedTaskSummaryList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OverallSummary"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WaveList"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="TaskSummaryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TaskSummary"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskSummary">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:TaskType"/>
            </xsd:all>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>Indicates the node or warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskStatus" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="TASK_STATUS" yfc:tableName="YFS_TASK">
                    <xsd:documentation>Status of the Task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The identifier of the task type. Typically, this would be a short two-digit code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalQuantity" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total quantity obtained by grouping on TaskStatus and TaskType.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskType">
        <xsd:annotation yfc:tableName="YFS_TASK_TYPE">
            <xsd:documentation>This table stores different types of tasks performed in a warehouse.  Different task types typically represent tasks that are physically different.  For instance, paper based putaway as opposed to RF based putaway.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The identifier of the task type. Typically, this would be a short two-digit code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskTypeName"
                type="yfctype:TaskTypeName" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE_NAME" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The descriptive name of the task type.  This is used to display data in drop-downs in the user interface, wherever the user can select a task type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentSummaryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipmentSummary"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentSummary">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Wave">
                    <xsd:annotation yfc:tableName="YFS_WAVE">
                        <xsd:documentation>This table stores wave definitions.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="TotalShipments"
                            type="yfctype:Number" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>is the total number of shipments obtained for this WaveNo.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="WaveNo"
                            type="yfctype:SequenceNo" use="optional">
                            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Status">
                    <xsd:annotation yfc:tableName="YFS_STATUS">
                        <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Description"
                            type="yfctype:Description" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                                <xsd:documentation>The description of the status.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Status"
                            type="yfctype:Status" use="optional">
                            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS">
                                <xsd:documentation>The unique identifier for the status within a process type.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>Indicates the node or warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The status of the shipment. As various transactions in the shipment's pipeline act upon the shipment, the shipment status changes. Typical values are 1100 - Created, 1200 - Being Picked, 1400 - Shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalShipments" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of shipments obtained by grouping on SCAC,  Status and WaveNo.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentProfileSummaryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipmentProfileSummary"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentProfileSummary">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Wave">
                    <xsd:annotation yfc:tableName="YFS_WAVE">
                        <xsd:documentation>This table stores wave definitions.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="TotalShipments"
                            type="yfctype:Number" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>is the total number of shipments obtained for this WaveNo.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="WaveNo"
                            type="yfctype:SequenceNo" use="optional">
                            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Status">
                    <xsd:annotation yfc:tableName="YFS_STATUS">
                        <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Description"
                            type="yfctype:Description" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                                <xsd:documentation>The description of the status.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Status"
                            type="yfctype:Status" use="optional">
                            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS">
                                <xsd:documentation>The unique identifier for the status within a process type.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>Indicates the node or warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProfileId"
                type="yfctype:ShipmentProfileID" use="optional">
                <xsd:annotation yfc:columnName="PROFILE_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The profile_id of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The status of the shipment. As various transactions in the shipment's pipeline act upon the shipment, the shipment status changes. Typical values are 1100 - Created, 1200 - Being Picked, 1400 - Shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalShipments" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of shipments obtained by grouping on ProfileID,  Status and WaveNo.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerSummaryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ContainerSummary"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerSummary">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Status">
                    <xsd:annotation yfc:tableName="YFS_STATUS">
                        <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Description"
                            type="yfctype:Description" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                                <xsd:documentation>The description of the status.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Status"
                            type="yfctype:Status" use="optional">
                            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS">
                                <xsd:documentation>The unique identifier for the status within a process type.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>Indicates the node or warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfCases" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of Case type containers obtained by grouping on Status, WaveNo.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfPallets" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of Pallet type containers obtained by grouping on Status, WaveNo.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The status of the shipment. As various transactions in the shipment's pipeline act upon the shipment, the shipment status changes. Typical values are 1100 - Created, 1200 - Being Picked, 1400 - Shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderSummaryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:WorkOrderSummary"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderSummary">
        <xsd:complexType>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                    <xsd:documentation>Activity Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CompletedWorkOrders"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of completed work orders for this  AcivityCode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>Indicates the node or warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PendingWorkOrders"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of pending work orders for this  ActivityCode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PlannedTaskSummaryList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PlannedTaskSummary"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PlannedTaskSummary">
        <xsd:complexType>
            <xsd:attribute name="EstimatedMinutes" use="optional">
                <xsd:annotation yfc:columnName="ESTIMATED_MINUTES" yfc:tableName="YFS_WAVE">
                    <xsd:documentation>Indicates the number of minutes it is estimated that the wave would take to execute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RemainingMinutes" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the time required for the planned tasks that are not yet complete.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_DESC" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The desciption of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OverallSummary">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:QuantitySummary"/>
            </xsd:all>
            <xsd:attribute name="TotalProfiles" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total  Profiles that belong to the given list of waves.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalSKU" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total SKUs that belong to the given list of waves.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalShipmentLines"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total ShipmentLines that belong to the given list of waves.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalShipments" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total Shipments that belong to the given list of waves.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolume" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the summed up volume of items in all shipment lines that belong to the given list of waves.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWorkOrders" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="QuantitySummary">
        <xsd:complexType>
            <xsd:attribute name="FullCaseEstimated"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of full cases estimated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FullCaseQuantity" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the quantity of full cases estimated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LessThanCaseEstimated"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of less than cases estimated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LessThanCaseQuantity"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the quantity of less than cases estimated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfFullCases" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the actual number of full cases.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfLooseCases" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the actual number of loose cases.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfFullCases"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NumberOfLooseCases"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalEstimated" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of cases estimated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalNoOfCases" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total number of cases.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalNumberOfCases"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalQuantity" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>is the total quantity of estimated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WaveList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Wave">
                    <xsd:annotation yfc:tableName="YFS_WAVE">
                        <xsd:documentation>This table stores wave definitions.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentGroup"/>
                        </xsd:all>
                        <xsd:attribute name="Createts"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createuserid"
                            type="yfctype:Createuserid" use="optional">
                            <xsd:annotation
                                yfc:columnName="CREATEUSERID" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>The user who created this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Description"
                            type="yfctype:FreeText-200" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>A brief description of the wave.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DocumentType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field indicates the document type to which the wave belongs.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EstimatedMinutes" use="optional">
                            <xsd:annotation
                                yfc:columnName="ESTIMATED_MINUTES" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>Indicates the number of minutes it is estimated that the wave would take to execute.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Count"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OverrideConcurrentWave"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="OVERRIDE_CONCURRENT_WAVE" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This flag indicates whether the wave overrides the concurrent wave that is released. If 'Y' is selected, the Assign Pick Location (Release Wave) agent ignores the number of waves released concurrently that is defined for a specific shipment group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OverrideReleaseDate"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="OVERRIDE_RELEASE_DATE" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This flag indicates whether the wave overrides the wave release date. If 'Y' is selected, the Assign Pick Location (Release Wave) agent ignores the Release No Earlier Than and Release No Later Than date ranges.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PipelineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>The pipeline key that is associated with the wave.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Priority"
                            type="yfctype:Priority" use="optional">
                            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field indicates the priority to apply to the wave. All waves will be processed in the order of this priority.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ReasonCode"
                            type="yfctype:ReasonCode" use="optional">
                            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field indicates the reason code for modifying the wave.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ReasonText"
                            type="yfctype:ReasonText" use="optional">
                            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field describes any additional information as to why the wave was modified.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ReleaseNoEarlierThan" use="optional">
                            <xsd:annotation
                                yfc:columnName="RELEASE_NO_EARLIER_THAN" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field indicates that the wave is not released for picking before this date.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:TimeStamp"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="ReleaseNoLaterThan" use="optional">
                            <xsd:annotation
                                yfc:columnName="RELEASE_NO_LATER_THAN" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field indicates that the wave is not released for picking after this date.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:TimeStamp"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="RemainingMinutes" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Indicates the time required for the planned tasks that are not yet complete.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Count"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
                            <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field indicates the sequence number associated with the wave.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentGroupId"
                            type="yfctype:ID-10" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field identifies the shipment group to which the wave belongs. The combination of the Node_Key and Shipment_Group_Id columns form a foreign key to the YFS_Wave table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="WaveNo"
                            type="yfctype:SequenceNo" use="optional">
                            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="WaveStatus"
                            type="yfctype:Status" use="optional">
                            <xsd:annotation yfc:columnName="WAVE_STATUS" yfc:tableName="YFS_WAVE">
                                <xsd:documentation>This field indicates the status the wave is currently in.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentGroup">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_GROUP">
            <xsd:documentation>A shipment group is a group of shipments that share similar operational characteristics.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AcceptWave" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ACCEPT_WAVE" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Valid values are: Auto, Manual, Conditional. If it is conditional then either Min_Volume or Min_No_Of_Shipments should be specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Calendar Key used in wave release schedule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>A brief description of the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveDateFrom"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_DATE_FROM" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the date on which the shipment group is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveDateTo" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_DATE_TO" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the date after which this shipment group is not available.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumRecords" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinNoOfShipments"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MIN_NO_OF_SHIPMENTS" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>If the number of shipments in a wave exceeds this number, the wave will be accepted automatically depending on the accept_value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinVolume" type="yfctype:Volume" use="optional">
                <xsd:annotation yfc:columnName="MIN_VOLUME" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>If volume of the wave exceeds this number, the wave will be accepted automatically depending on the accept_value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfConcurrentWaves"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="NO_OF_CONCURRENT_WAVES" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field specifies the number of waves that were released concurrently.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickStrategyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PICK_STRATEGY_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the pipeline this wave belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:EnumPriority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Valid values are: 1 - Urgent, 2 - High, 3 - Normal (Default), 4 - Low.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the sequence number for the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field identifies the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_GROUP_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SortStrategyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SORT_STRATEGY_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
