Data/xapidocs/api_javadocs/XSD/WMS_getCountRecordSummary_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getCountRecordSummary/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getCountRecordSummary/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getCountRecordSummary_output.xsd" yfc:rootElement="CountRecordSummary">
        <xsd:appinfo source="yfc:structure">
            <CountRecordSummary hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountRecordSummary" type="yfc:CountRecordSummaryXSDType"/>
    <xsd:complexType name="CountRecordSummaryXSDType">
        <xsd:attribute name="NumberOfCases" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Total number of cases counted.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfDifferentItems"
            type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The number of different items counted.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfPallets" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Total number of pallets counted.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfUnits" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Total number of units counted across items.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
