Data/xapidocs/api_javadocs/XSD/WMS_getActivityDemandDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getActivityDemandDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getActivityDemandDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getActivityDemandDetails_input.xsd" yfc:rootElement="ActivityDemand">
        <xsd:appinfo source="yfc:structure">
            <ActivityDemand hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ActivityDemand" type="yfc:ActivityDemandXSDType">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY_DEMAND">
            <xsd:documentation>Demand on inventory may be placed for an activity from another activity group. This entity stores information about such demands placed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ActivityDemandXSDType">
        <xsd:attribute name="ActivityDemandKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_DEMAND_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DemandLocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_LOCATION_ID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForActivityCode" type="yfctype:Activity" use="optional">
            <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field uniquely identifies an activity for which the demand is placed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromActivityGroup"
            type="yfctype:ActivityGroup" use="optional">
            <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Either primary key (<code>ActivityDemandKey</code>) or all attributes of unique key (<code>FromActivityGroup</code>,<code>ShipmentKey</code>,<code>WorkOrderKey</code>,<code>CaseId</code> or <code>PalletId</code>,<code>EnterpriseCode</code>,<code>ItemId</code>,<code>UnitOfMeasure</code>,<code>ProductClass</code>,<code>InventoryStatus</code>,<code>SegmentType</code>,<code>Segment</code>,<code>DemandLocationId</code> and <code>Node</code>) must be passed. If invalid <code>ActivityDemandKey</code> is passed. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
