Data/xapidocs/api_javadocs/XSD/WMS_getPlannedTasks_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getPlannedTasks/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getPlannedTasks/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_getPlannedTasks_input.xsd" yfc:rootElement="PlannedTask">
        <xsd:appinfo source="yfc:structure">
            <PlannedTask hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PlannedTask" type="yfc:PlannedTaskXSDType">
        <xsd:annotation yfc:tableName="YFS_PLANNED_TASK">
            <xsd:documentation>This table holds data for all planned tasks for an entity whose execution is being planned (e.g. Shipment).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PlannedTaskXSDType">
        <xsd:attribute name="Completed" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="COMPLETED"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Indicates if this planned task is completed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompletedQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EntityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies a entity key being planned for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntityKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EntityName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies the entity being planned for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntityNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromCompleted" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromEntityKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromEntityName" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromPlannedDate" type="yfctype:Date" use="optional"/>
        <xsd:attribute name="FromPlannedDateType" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="FromPlannedTaskKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromRequiredCapacity"
            type="yfctype:Capacity" use="optional"/>
        <xsd:attribute name="FromResourcePoolKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromTaskType" type="yfctype:TaskType" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies the node for which planning is done.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="PlannedDate" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>The date planned for consumption of the capacity. Defaulted to expected shipment date of the shipment when Entity name is YFS_SHIPMENT.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PlannedDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="PlannedDateType" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_DATE_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies a date type like Picking, Shipping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedDateTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="PlannedTaskKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_TASK_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>The primary key for the YFS_PLANNED_TASK table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedTaskKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RequiredCapacity" use="optional">
            <xsd:annotation yfc:columnName="REQUIRED_CAPACITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Indicates the capacity expected to be consumed by the pools.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Capacity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="RequiredCapacityQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ResourcePoolKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies the resource pool from which capacity is being consumed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PLANNED_TASK">
                <xsd:documentation>Identifies the task type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToCompleted" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToEntityKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToEntityName" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToPlannedDate" type="yfctype:Date" use="optional"/>
        <xsd:attribute name="ToPlannedDateType" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="ToPlannedTaskKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToRequiredCapacity" type="yfctype:Capacity" use="optional"/>
        <xsd:attribute name="ToResourcePoolKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToTaskType" type="yfctype:TaskType" use="optional"/>
    </xsd:complexType>
</xsd:schema>
