Data/xapidocs/api_javadocs/XSD/WMS_REGISTER_DEMAND_COMPLETE.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/REGISTER_DEMAND_COMPLETE/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/REGISTER_DEMAND_COMPLETE/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_REGISTER_DEMAND_COMPLETE.ON_SUCCESS.xsd" yfc:rootElement="ActivityDemand">
        <xsd:appinfo source="yfc:structure">
            <ActivityDemand hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
            </ActivityDemand>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ActivityDemand" type="yfc:ActivityDemandXSDType">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY_DEMAND">
            <xsd:documentation>Demand on inventory may be placed for an activity from another activity group. This entity stores information about such demands placed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ActivityDemandXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
        </xsd:all>
        <xsd:attribute name="ActivityDemandKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_DEMAND_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The primary key for the YFS_ACTIVITY_DEMAND table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>CaseId for which diversion record was made.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DemandLocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_LOCATION_ID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field specifies the location identifier. This in conjunction with NODE_KEY identifies a unique location in the node, the location where  an activity can be performed on the product. Typically, this field will be selected when the product should be placed in a specific location. For example, if the warehouse has just one QC location, then the quantity being requested should be placed in the QC location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DemandQty" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_QTY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field specifies the demand quantity that should be placed in a location to perform the activity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DemandSatisfied" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_SATISFIED" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This flag indicates whether the demand has been satisifed. This is automatically determined by the system based on demand quantities.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForActivityCode" type="yfctype:Activity" use="optional">
            <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field uniquely identifies an activity for which the demand is placed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForMoveRequestLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FOR_MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The move request line key associated with this activity demand.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForShipmentLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FOR_SHIPMENT_LINE_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The shipment line key that is associated with this activity demand.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForWorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FOR_WORK_ORDER_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The work order key associated with this activity demand.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromActivityGroup"
            type="yfctype:EnumActivityGroup" use="optional">
            <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field identifies an activity group on which the demand is placed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The unique key of the YFS_INVENTORY_STATUS table. This key refers to an inventory sub-classification based on the results of the inventory control processes within a warehouse.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsInfiniteDemand" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_INFINITE_DEMAND" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This flag indicates whether the demand is of a permanent nature. All permanent demands are never marked satisfied but purged when it is out of context. For e.g. when a shipment gets purged, all unsatisfied demands for the shipment are also purged.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field indicates the unique item identifier associated with the organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The primary key for the YFS_ACTIVITY_DEMAND table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>Primary key of YFS_Order_Header table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The inventory organization against which the inventory is stocked for this item in the location inventory tables. Even though the Enterprise Code is passed as input in the activity demand APIs, it is not referenced to inventory consolidator. This is done because putaway is performed for the stock based on the demand and existing inventory.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>PalletId for which diversion record was made.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field identifies the priority with which the demand is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>Inventory classification of an item based on product's characteristics. Typical values are FQ - First Quality, SQ - Second Quality etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SatisfiedQty" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="SATISFIED_QTY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field specifies the actual quantity diverted till now. This quantity bucket gets updated every time a product is diverted for a specific purpose.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field indicates that when inventory is customized for a specific order, it needs to be tracked separately so that it can be allocated to that order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field indicates that when inventory is customized, the inventory needs to be tracked separately for the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The primary key for the YFS_ACTIVITY_DEMAND table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>This field indicates the item's unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_ACTIVITY_DEMAND">
                <xsd:documentation>The primary key for the YFS_ACTIVITY_DEMAND table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
