Data/xapidocs/api_javadocs/XSD/WMS_suggestOpenContainer_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/suggestOpenContainer/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/suggestOpenContainer/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WMS_suggestOpenContainer_input.xsd" yfc:rootElement="SuggestContainer">
        <xsd:appinfo source="yfc:structure">
            <SuggestContainer hasAttributes="Y">
                <Container hasAttributes="Y">
                    <Shipment hasAttributes="Y"/>
                    <Load hasAttributes="Y"/>
                </Container>
            </SuggestContainer>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SuggestContainer" type="yfc:SuggestContainerXSDType"/>
    <xsd:complexType name="SuggestContainerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Container"/>
        </xsd:all>
        <xsd:attribute name="ActivityCode" type="yfctype:Activity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>ActivityCode to be associated with container while suggesting a parent. 
				<Validation>
                            <Condition> Cannot be blank. </Condition>
                            <Error
                                Description="Mandatory Parameter(s) not       passed" ErrorCode="WMS00063"/>
                        </Validation>
                        <Validation>
                            <Condition> Must be a valid activity code. </Condition>
                            <Error Description="Invalid Activity Code" ErrorCode="WMS00172"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsDummyContainer" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LPNType" type="yfctype:LPNType" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Container Type <code>Pallet</code> or <code>Case</code>
                        <br/>Default: <b>
                            <code>Pallet</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Pallet</code>
                        </b> or <b>
                            <code>Case</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Node identifier. 
				<Validation>
                            <Condition> Cannot be blank. </Condition>
                            <Error Description="Node not passed." ErrorCode="WMS00054"/>
                        </Validation>
                        <Validation>
                            <Condition> Must be a valid node. </Condition>
                            <Error
                                Description="Node passed does not exist." ErrorCode="WMS00042"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Zone identifier where suggestion is requested. </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>
                <div>
						An existing <code>Container</code> is identified by using one of the following: 
						<code>ShipmentContainerKey </code>
                    <code>ContainerNo</code>, <code>ShipmentKey</code>, <code>LoadKey </code>
						If a shipment container cannot be identified an error is thrown.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Load"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The container identifier for which suggestion is requested. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>A unique number which helps identify the shipper as well as the goods.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The load key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The container identifier for which suggestion is requested. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_CONTAINER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
							If this element is present an existing <code>Shipment</code> is identified using 
							<code>ShipmentNo</code>, <code>ShipNodeKey</code>, <code>SellerOrganizationCode </code>
							If a shipment cannot be identified an error is thrown.
							</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Load">
        <xsd:annotation yfc:tableName="YFS_LOAD">
            <xsd:documentation>
                <div>
							If this element is present an existing <code>Load</code> is identified by using <code>LoadNo</code> 
							If a <code>Load</code> cannot be identified an error is thrown.
							</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                    <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
