Data/xapidocs/api_javadocs/XSD/WMS_getMoveRequestLineDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WMS/getMoveRequestLineDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WMS/getMoveRequestLineDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="WMS_getMoveRequestLineDetails_input.xsd" yfc:rootElement="MoveRequestLine">
        <xsd:appinfo source="yfc:structure">
            <MoveRequestLine hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MoveRequestLine" type="yfc:MoveRequestLineXSDType">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST_LINE">
            <xsd:documentation>This table contains details of the inventory that needs to be moved against a move request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MoveRequestLineXSDType">
        <xsd:attribute name="MoveRequestLineKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>
                    <div>
						Primary key attribute of <code>YFS_Move_Request_Line</code> table.
							<Validation>
                            <Condition>
                                <code>MoveRequestLineKey</code> must be passed. Error if <code>MoveRequestLineKey</code> is not passed. 
								</Condition>
                            <Error
                                Description="Mandatory Parameter(s) not passed." ErrorCode="WMS00063"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>MoveRequestLineKey</code> must be passed. Error if <code>MoveRequestLineKey</code> is passed but not exist in the database. 
								</Condition>
                            <Error
                                Description="No record found for passed inputs." ErrorCode="WMS00002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
