Data/xapidocs/api_javadocs/XSD/WORK_ORDER_MONITOR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/WORK/ORDER_MONITOR"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/WORK/ORDER_MONITOR" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="WORK_ORDER_MONITOR.xsd" yfc:rootElement="MonitorConsolidation">
        <xsd:appinfo source="yfc:structure">
            <MonitorConsolidation hasAttributes="Y">
                <WorkOrder hasAttributes="Y">
                    <OrderLine hasAttributes="Y">
                        <LinePriceInfo hasAttributes="Y"/>
                        <ItemDetails hasAttributes="Y">
                            <PrimaryInformation hasAttributes="Y"/>
                        </ItemDetails>
                    </OrderLine>
                    <MonitorRule hasAttributes="Y"/>
                </WorkOrder>
            </MonitorConsolidation>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorConsolidation" type="yfc:MonitorConsolidationXSDType">
        <xsd:annotation yfc:tableName="YFS_MONITORING_CONSOLIDATION">
            <xsd:documentation>This table stores the configuration of alert consolidation for different monitors.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MonitorConsolidationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrder"/>
        </xsd:all>
        <xsd:attribute name="AutoResolve" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUTO_RESOLVE" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the issue  can be automatically resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The description of the monitor consolidation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field10IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_10_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 10 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field1IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_1_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 1 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field2IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_2_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 2 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field3IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_3_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 3 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field4IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_4_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 4 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field5IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_5_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 5 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field6IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_6_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 6 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field7IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_7_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 7 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field8IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_8_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 8 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field9IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_9_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 9 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FLOW_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_FLOW table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField1" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_1" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 1 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField10" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_10" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 10 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField2" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_2" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 2 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField3" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_3" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 3 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField4" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_4" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 4 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField5" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_5" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 5 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField6" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_6" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 6 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField7" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_7" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 7 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField8" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_8" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 8 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField9" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_9" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 9 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The monitor rule that is defined for this organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationId"
            type="yfctype:MonitorConsolidationId" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_ID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>An identifier for the monitor consolidation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_MONITOR_CONSOLIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_TYPE_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key attribute of the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key attribute of the YFS_PROCESS_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RealertInterval" type="yfctype:ShortNumber" use="optional">
            <xsd:annotation yfc:columnName="REALERT_INTERVAL" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The re-alert time interval.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RealertRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REALERT_REQUIRED" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indiacates that re-alert will be raised if the issue has not been resolved within a certain timeframe.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="WorkOrder">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>This table stores the information about the work orders to be done at a node on an inventory item or a license plate.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MonitorRule"/>
            </xsd:all>
            <xsd:attribute name="AdditionalRequestedQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ADDITIONAL_REQUESTED_QUANTITY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApptStatusDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of appointment status.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Case for which the work order is processed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComputedRequestedQuantity"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation
                    yfc:columnName="COMPUTED_REQUESTED_QUANTITY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which the work order is created based on service lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CurrentApptSeq" type="yfctype:LineNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>For work orders where multiple appointments are not required, this field denotes the current appointment sequence.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DelayAppointmentTaking"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="DELAY_APPOINTMENT_TAKING" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the taking of appointment can be delayed or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The document type for this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date a task should not finish later than. Pass through fields to be stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the work order has any non-resolved hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvUpdateActivityCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INV_UPD_ACTIVITY_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The activity code against which inventory needs to be updated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsMultiApptRequired"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MULTI_APPT_REQUIRED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the work order can have multiple appointments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlanningComplete" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PLANNING_COMPLETE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether work order planning has been completed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsQuantityRequestedOverridden"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_QTY_REQUESTED_OVERRIDDEN" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the requested quantity is overridden.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The item identifier for this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>Indicates the level of service required for this work order.  Default from corresponding order lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTs" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the next time the work order would be considered for monitoring.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpenWorkOrderFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OPEN_WORK_ORDER_FLAG" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This flag indicates whether the execution of the work order has ended.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order that is associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order line associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The order number of the order with which the work order is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Pallet for which the work order is processed.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipeLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The pipeline associated with this work order. This is determined by the document type and several other key attributes of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreCallStatus" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRE_CALL_STATUS" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the status of the pre-call process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreCallStatusDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of Pre-call status.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredResourcePoolId"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation
                    yfc:columnName="PREFERRED_RESOURCE_POOL_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The preferred resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredServiceResourceId"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation
                    yfc:columnName="PREFERRED_SERVICE_RESOURCE_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The preferred service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_AMOUNT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The total value of the product items on the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptEndDate" use="optional">
                <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The promised end date of the appointment. Used in case of provided service work order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptStartDate" use="optional">
                <xsd:annotation
                    yfc:columnName="PROMISED_APPT_START_DATE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The promised start date of the appointment. Used in case of provided service work order.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ProviderOrganizationCode"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation
                    yfc:columnName="PROVIDER_ORGANIZATION_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The organization which provides services on the work order.  For PS work orders, this will be node's owner.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:EnumPurpose2" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the purpose for the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityAllocated"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_ALLOCATED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity that was allocated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityCompleted"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_COMPLETED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which work order is completely confirmed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityReleased"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_RELEASED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity released.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRemoved"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REMOVED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity removed due to exceptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityRequested"
                type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_REQUESTED" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The reason code indicating the reason for the work order to get cancelled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCodeDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of Reason Code.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The reason text indicating the reason entered by user while cancelling the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The segment to which the inventory involved in the work order belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the segment type. Valid values are: - MTO : Made To Order - MTC : Made To Customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:ID-24" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The seller organization for which the work order is placed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field identifies a serial number for the serialized item involved in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_AMOUNT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The total value of the service items on the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceComplexityLevel"
                type="yfctype:Count" use="optional">
                <xsd:annotation
                    yfc:columnName="SERVICE_COMPLEXITY_LEVEL" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>This field denotes the highest service level across all service items included in the work order.  For PS work orders only PS service items are considered.  Applicable only for PS or DS work orders.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of Service Item.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemGroupCode"
                type="yfctype:EnumServiceItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_GROUP_CODE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field indicates the service item group on this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The identifier for the service item on this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSupervisorId"
                type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>This field represents the supervisor responsible for this work order.This will be a valid user ID in the system. This user will belong to the node performing the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceUom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_UOM" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The unit of measure for the service item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date before which a time-sensitive inventory must be shipped out.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The shipment associated with this work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The shipment number of the shipment with which the work order is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date a task should not start earlier than. Pass through fields to be stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The status of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Description of WorkOrder status.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Timezone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TIMEZONE" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The time zone in which the work order will be executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAmount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The total value of the work order.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolume" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>The quantity requested in the volume unit of measure.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TotalWeight" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>The quantity requested in the weight unit of measure.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The unit of measure for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VolumeUOM" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="VOLUME_UOM" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>The volume unit of measure in which quantity needs to be requested.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>
                        <div>The weight unit of measure in which quantity needs to be requested.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The primary key of the YFS_WORK_ORDER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                    <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates if data should be retrieved from the history table rather than the regular table. 
				<br/>Default: <b>
                                <code>N</code>
                            </b>
                            <br/>Valid Values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LinePriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemDetails"/>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Timezone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TIMEZONE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The timezone in which the promised appointment has been recorded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LinePriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The actual pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdditionalLinePriceTotal"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundleTotal" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DiscountPercentage"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_PERCENTAGE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The discount percentage is the percentage decrease in price between the list and unit price for a given buyer. This value is calculated by subtracting the difference between the list price and unit price and divided by the list price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedLineTotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="INVOICED_LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The total invoiced amount for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="INVOICED_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The invoiced pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsEligibleForShippingDiscount"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ELIGIBLE_FOR_SHIP_DISC" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag can override the configured value for the item. Otherwise it is the same as the configured value for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsLinePriceForInformationOnly"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_INFO_ONLY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether price information passed on the line is for information only. If it is 'Y' then line total will not be considered in order total. Invoiced amount for such lines will always be 0. If it is not passed or passed as 'N' then line price is considered in order total.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPriceLocked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether UnitPrice passed at LinePriceInfo element must be used and price determination ignored, if price determination is configured and enabled. Valid values are 'Y' or 'N'. Default value is 'N'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The grand total for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>the list price of the item. This is an informational field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQtyConversionFactor"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_QUANTITY_CONV_FACTOR" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity conversion factor. This field is used for finding Pricing_Quantity, using Ordered_Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="PRICING_UOM" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing UOM for the order line. If "PricingUOM" is not passed it will be defaulted from Catalog. If "PricingUOM" is passed and different from inventory uom, "PricingQtyConversionFactor" attribute will be used for pricing quantity conversion. If "PricingQtyConversionFactor" is not passed it will be considered as zero.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RepricingQty" use="optional">
                <xsd:annotation yfc:columnName="REPRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>Represents the quantity that can be used for pricing the item. Typically, the price lists are based on the total purchase quantity. But if some quantity is cancelled because of inventory shortage (non customer fault), the pricing quantity (which is based on the ordered quantity) changes, but repricing_quantity is not changed.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RetailPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The retail price of the item. this is an informational field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SettledAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="SETTLED_AMOUNT" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The amount which should be settled before it is actually invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SettledQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SETTLED_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity which should be settled before it is actually invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The Tax Exemption Certificate applied to this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether this order line is taxable or not. This field is for informational purposes only. Currently, it is not used in any tax calculations. If not passed, this flag is defaulted to that of item in the catalog, if exists, else it is defaulted to "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            </xsd:all>
            <xsd:attribute name="CanUseAsServiceTool"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="GlobalItemID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsItemSuperseded" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemGroupCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SubCatalogOrganizationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:complexType>
            <xsd:attribute name="AgeVerificationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="AllowGiftWrap" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AssumeInfiniteInventory"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundleFulfillmentMode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundlePricingStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CapacityPerOrderedQty"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CapacityQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ColorCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ComputedUnitCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfigurationKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfigurationModelName"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfiguredModelKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CostCurrency" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditWOReceipt" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Description" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DisplayItemDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="EffectiveEndDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EffectiveStartDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExtendedDisplayDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedCapacityQtyPerLine"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedPricingQtyPerLine"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageLabel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageLocation" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InvoiceBasedOnActuals"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="InvolvesSegmentChange"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsAirShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsConfigurable" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsDeliveryAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsEligibleForShippingDiscount"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsForwardingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsFreezerRequired"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsHazmat" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsModelItem" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsParcelShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsPreConfigured" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsProcurementAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsReturnService" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsReturnable" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsSoldSeparately" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsStandaloneService"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsSubOnOrderAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsValid" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Keywords" type="yfctype:String" use="optional"/>
            <xsd:attribute name="KitCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerItem" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerItemDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MasterCatalogID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxOrderQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinOrderQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinimumCapacityQuantity"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ModelItemUnitOfMeasure"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NumSecondarySerials"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderingQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingQuantityConvFactor"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingUOMStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PrimaryEnterpriseCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PrimarySupplier" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductLine" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RequiresProdAssociation"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RunQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SerializedFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ServiceTypeID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentConsolidationWindow"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShortDescription" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SizeCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxableFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitHeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitHeightUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitLength" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitLengthUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitVolume" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitVolumeUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWeightUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWidth" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWidthUOM" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MonitorRule">
        <xsd:annotation yfc:tableName="YFS_MONITOR_RULE">
            <xsd:documentation>This table stores the rules for facilitating alert based monitoring for shipments, orders and so forth.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Age"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="AGE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The age of the monitor rule. The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonDateSubType"
                type="yfctype:DateSubType" use="optional">
                <xsd:annotation
                    yfc:columnName="COMPARISON_DATE_SUB_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The subtype of the comparison date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonDateType"
                type="yfctype:ComparisonDateType" use="optional">
                <xsd:annotation yfc:columnName="COMPARISON_DATE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The type of the comparison date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="COMPARISON_STATUS" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The comparison status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConditionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The condition key associated to this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateSubTypeToMonitor"
                type="yfctype:EnumDateSubTypeToMonitor" use="optional">
                <xsd:annotation
                    yfc:columnName="DATE_SUB_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>This field indicates the date sub type to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateTypeToMonitor"
                type="yfctype:DateType" use="optional">
                <xsd:annotation yfc:columnName="DATE_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The date type to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MonitorConsolidationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The monitor consolidation key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_RULE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The primary key of the YFS_MONITOR_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorType" type="yfctype:MonitorType" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The monitor type associated with this montior rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The pipeline key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The priority in which conditions are processed for an event. The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The process type key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusToMonitor"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The status to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
