Data/xapidocs/api_javadocs/XSD/YCD_overrideDeliveryMethodForLinesUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/overrideDeliveryMethodForLinesUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/overrideDeliveryMethodForLinesUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_overrideDeliveryMethodForLinesUE_input.xsd" yfc:rootElement="OrderLineList">
        <xsd:appinfo source="yfc:structure">
            <OrderLineList>
                <OrderLine hasAttributes="Y">
                    <ItemDetails hasAttributes="Y">
                        <PrimaryInformation hasAttributes="Y"/>
                        <Extn/>
                    </ItemDetails>
                    <Shipnode hasAttributes="Y"/>
                    <Extn/>
                </OrderLine>
            </OrderLineList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderLineList" type="yfc:OrderLineListXSDType"/>
    <xsd:complexType name="OrderLineListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ItemDetails"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipnode"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Extn">
                    <xsd:complexType/>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemDetails">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PrimaryInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Extn">
                    <xsd:complexType/>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IsDeliveryAllowed" type="yfctype:Flag" use="required">
                <xsd:annotation yfc:columnName="IS_DELIVERY_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method DEL is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:Flag" use="required">
                <xsd:annotation yfc:columnName="IS_PICKUP_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method PICK is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShippingAllowed" type="yfctype:Flag" use="required">
                <xsd:annotation yfc:columnName="IS_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method SHP is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipnode">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
