Data/xapidocs/api_javadocs/XSD/YCD_manageStoreBatch_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/manageStoreBatch/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/manageStoreBatch/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_manageStoreBatch_input.xsd" yfc:rootElement="StoreBatch">
        <xsd:appinfo source="yfc:structure">
            <StoreBatch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StoreBatch" type="yfc:StoreBatchXSDType">
        <xsd:annotation yfc:tableName="YFS_STORE_BATCH">
            <xsd:documentation>This table stores the batches for Web Store. A batch consists of multiple shipment lines which can be picked together.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StoreBatchXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					         </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignedToUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_ID" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The user who is currently working on this batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BatchNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The unique batch number to identify this batch in this store.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BatchType" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="BATCH_TYPE" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>Type of the batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The store's organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The status of the Batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StoreBatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STORE_BATCH_KEY" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The primary key of the YFS_STORE_BATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
