Data/xapidocs/api_javadocs/XSD/YCD_getEventAuditorList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getEventAuditorList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getEventAuditorList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getEventAuditorList_output.xsd" yfc:rootElement="EventAuditorList">
        <xsd:appinfo source="yfc:structure">
            <EventAuditorList>
                <EventAuditor hasAttributes="Y"/>
            </EventAuditorList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EventAuditorList" type="yfc:EventAuditorListXSDType"/>
    <xsd:complexType name="EventAuditorListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EventAuditor"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="EventAuditor">
        <xsd:annotation yfc:tableName="YFS_EVENT_AUDITOR">
            <xsd:documentation>This table stores the configuration for order audit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE" yfc:tableName="YFS_EVENT_AUDITOR">
                    <xsd:documentation>Y/N flag indicating if this auditor event is active and should perform the action it corresponds to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EventAuditorKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EVENT_AUDITOR_KEY" yfc:tableName="YFS_EVENT_AUDITOR">
                    <xsd:documentation>The primary key of the YFS_EVENT_AUDITOR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EventAuditorType"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="EVENT_AUDITOR_TYPE" yfc:tableName="YFS_EVENT_AUDITOR">
                    <xsd:documentation>Determines the type of auditor event this record corresponds to. Valid values are: TRANSACTION_EVENT, HOLD_ADDED_EVENT, HOLD_RESOLVED_EVENT, HOLD_REJECTED_EVENT, or APPLICATION_EVENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldType" type="yfctype:CodeType" use="optional">
                <xsd:annotation yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_EVENT_AUDITOR">
                    <xsd:documentation>If this auditor record corresponds to a hold event, this column stores the hold type that this record corresponds to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteType" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TYPE" yfc:tableName="YFS_EVENT_AUDITOR">
                    <xsd:documentation>The note type that will be logged in the notes table (stored in the notes table as ReasonCode).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_EVENT_AUDITOR">
                    <xsd:documentation>The organization code assocaited with this event auditor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransformationFile"
                type="yfctype:FileName" use="optional">
                <xsd:annotation yfc:columnName="TRANSFORMATION_FILE" yfc:tableName="YFS_EVENT_AUDITOR">
                    <xsd:documentation>The XSL file that will be used to transform the XML data to the notes text.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
