Data/xapidocs/api_javadocs/XSD/YCD_getDashboardContentForStore_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getDashboardContentForStore/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getDashboardContentForStore/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getDashboardContentForStore_output.xsd" yfc:rootElement="Dashboard">
        <xsd:appinfo source="yfc:structure">
            <Dashboard hasAttributes="Y">
                <UserTasksInProgress hasAttributes="Y"/>
                <SfsOrdersToPick hasAttributes="Y"/>
                <SfsOrdersToPack hasAttributes="Y"/>
                <BopusOrdersToPick hasAttributes="Y"/>
            </Dashboard>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Dashboard" type="yfc:DashboardXSDType"/>
    <xsd:complexType name="DashboardXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UserTasksInProgress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SfsOrdersToPick"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SfsOrdersToPack"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BopusOrdersToPick"/>
        </xsd:all>
        <xsd:attribute name="AssignedToUserId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ShipNode" type="yfctype:String" use="required"/>
    </xsd:complexType>
    <xsd:element name="UserTasksInProgress">
        <xsd:complexType>
            <xsd:attribute name="CountPriority1" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					 	Count of orders that have breached the SLA
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountPriority2" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					 	Count of orders that are nearing the SLA
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountPriority3" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					 	Count of orders that are within the SLA
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Total" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					 	Total Count of orders
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SfsOrdersToPick">
        <xsd:complexType>
            <xsd:attribute name="CountPriority1" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							 	Count of orders that have breached the SLA
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountPriority2" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							 	Count of orders that are CountPriority2
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountPriority3" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							 	Count of orders that are CountPriority3
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Total" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SfsOrdersToPack">
        <xsd:complexType>
            <xsd:attribute name="CountPriority1" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							 	Count of orders that have breached the SLA
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountPriority2" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							 	Count of orders that are CountPriority2
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountPriority3" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							 	Count of orders that are CountPriority3
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Total" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BopusOrdersToPick">
        <xsd:complexType>
            <xsd:attribute name="CountPriority1" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									 	Count of orders that have breached the SLA
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountPriority2" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									 	Count of orders that are CountPriority2
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountPriority3" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									 	Count of orders that are CountPriority3
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Total" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									 	Total Count of orders
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
