Data/xapidocs/api_javadocs/XSD/YCD_listCarrierService_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/listCarrierService/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/listCarrierService/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_listCarrierService_output.xsd" yfc:rootElement="CarrierServiceList">
        <xsd:appinfo source="yfc:structure">
            <CarrierServiceList>
                <CarrierService hasAttributes="Y">
                    <CarrierServiceScheduleList>
                        <CarrierServiceSchedule hasAttributes="Y">
                            <CarrierServiceOverrideList>
                                <CarrierServiceOverride hasAttributes="Y"/>
                            </CarrierServiceOverrideList>
                        </CarrierServiceSchedule>
                    </CarrierServiceScheduleList>
                </CarrierService>
            </CarrierServiceList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CarrierServiceList" type="yfc:CarrierServiceListXSDType"/>
    <xsd:complexType name="CarrierServiceListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CarrierService"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="CarrierService">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE">
            <xsd:documentation>Services provided by a carrier.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CarrierServiceScheduleList"/>
            </xsd:all>
            <xsd:attribute name="CanDeliverOnFriday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanDeliverOnMonday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanDeliverOnSaturday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanDeliverOnSunday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanDeliverOnThursday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanDeliverOnTuesday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanDeliverOnWednesday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipOnFriday" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipOnMonday" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipOnSaturday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipOnSunday" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipOnThursday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipOnTuesday" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipOnWednesday"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Deprecated. Use the attribute under CarrierServiceSchedule element instead. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>A code that identifies a service provided by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceDesc"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_DESC" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>A description of the service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>Primary key attribute of YFS_CARRIER_SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_TYPE" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>Type of Carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistancePerDay" type="yfctype:Distance" use="optional">
                <xsd:annotation yfc:columnName="DISTANCE_PER_DAY" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>Distance the service covers in a day.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistanceUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="DISTANCE_UOM" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>Unit of measure for DISTANCE_PER_DAY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FixedTransitDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="FIXED_TRANSIT_DAYS" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>Number of Transit days in which the service would provide delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumTransitDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="MAXIMUM_TRANSIT_DAYS" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>The maximum number of days that the carrier service takes to deliver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsedForOrdering" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USED_FOR_ORDERING" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>This attribute indicates that the Carrier Service can be used for ordering.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CarrierServiceScheduleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CarrierServiceSchedule"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CarrierServiceSchedule">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE_DOW">
            <xsd:documentation>Defines a carrier service's schedule for days that can be delivered and are available for transit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CarrierServiceOverrideList"/>
            </xsd:all>
            <xsd:attribute name="EffectiveFromDate" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>The date that this carrier schedule is applicable from.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EffectiveToDate" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>The date that this carrier schedule is applicable to.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FridayDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FRIDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Friday is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FridayTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FRIDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Friday is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MondayDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MONDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Monday is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MondayTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MONDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Monday is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SaturdayDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SATURDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Saturday is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SaturdayTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SATURDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Saturday is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SundayDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SUNDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Sunday is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SundayTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SUNDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Sunday is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ThursdayDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="THURSDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Thursday is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ThursdayTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="THURSDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Thursday is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TuesdayDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TUESDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Tuesday is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TuesdayTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TUESDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Tuesday is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WednesdayDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="WEDNESDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Wednesday is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WednesdayTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="WEDNESDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                    <xsd:documentation>Determines if Wednesday is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CarrierServiceOverrideList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CarrierServiceOverride"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CarrierServiceOverride">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE_OVR">
            <xsd:documentation>Defines a carrier service's override date that can be delivered on or available to for transit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Determines if the date is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Determines if the date is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>The key of the carrier service for which this override date is defined for.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceOverrideKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_OVR_KEY" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Primary key attribute of YFS_CARRIER_SERVICE_OVR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideDate" use="optional">
                <xsd:annotation yfc:columnName="OVERRIDE_DATE" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>The date that this carrier has an override for.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
