Data/xapidocs/api_javadocs/XSD/YCD_recordShortageForPack_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/recordShortageForPack/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/recordShortageForPack/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_recordShortageForPack_output.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y">
                <ShipmentLines hasAttributes="Y">
                    <ShipmentLine hasAttributes="Y">
                        <ItemDetails hasAttributes="Y">
                            <PrimaryInformation hasAttributes="Y"/>
                        </ItemDetails>
                    </ShipmentLine>
                </ShipmentLines>
                <Containers>
                    <Container hasAttributes="Y"/>
                </Containers>
            </Shipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLines"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Containers"/>
        </xsd:all>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipmentLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipmentLine"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLine">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>Stores information about shipment lines. Shipment lines are created using createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemDetails"/>
            </xsd:all>
            <xsd:attribute name="ActualQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Actual quantity of the shipment line shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BackroomPickComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="BACKROOM_PICK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field indicates whether the backroom pick of shipment line is complete.The filed will be Y when the Backroom pick is complete</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BackroomPickedQty" use="optional">
                <xsd:annotation yfc:columnName="BACKROOM_PICKED_QTY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the quantity picked during backroom pick.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="BackroomPickedQuantity"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BatchPickPriority" use="optional">
                <xsd:annotation yfc:columnName="BATCH_PICK_PRIORITY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the priority in which the shipment line is picked when the shipment line is included in a batch.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:LineNo"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="BuyerMarkForNodeId" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUYER_MARK_FOR_NODE_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Mark For Node as identified by the buyer for eg: it could be a person,store,DC.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CancelReason" type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="CANCEL_REASON" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the cancel reason for shipment line</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChainedFromOrderHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CHAINED_FROM_ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order header that is associated with this chained order line. If this line is chained from another order line, this key will point to the parent order line's header record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChainedFromOrderLineKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CHAINED_FROM_ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line that is associated with this chained order line. If this line is chained from another order line, this key will point to the parent order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The country of origin.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPickedQuantity" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PICKED_QTY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the quantity picked by the customer</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CustomerPoLineNo"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The customer PO # for the order during createorder time. While creating shipments, this values is consolidated acroos all orders belonging to this shipment and stored in the shipment header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPoNo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The customer PO # for the order during createorder time. While creating shipments, this values is consolidated acroos all orders belonging to this shipment and stored in the shipment header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The document type of the orders comprising the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternalReleaseIdentifier"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="EXTERNAL_RELEASE_IDENTIFIER" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The identifier of the external release. This attribute along with OrderNo and ReleaseNo will uniquely identify the order release external to the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupSequenceNumber" use="optional">
                <xsd:annotation yfc:columnName="GROUP_SEQUENCE_NUM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field is used to assign a decimal value to each line for the purpose of sorting them in a specific sequence.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:ConversionRate"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IsCustomerPickComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_CUSTOMER_PICK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field indicates whether the customer pick for a shipment line is complete.The filed will be Y when the customer picking is complete</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHazmat" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HAZMAT" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Indicates whether the shipment line is for hazardous item or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPackComplete" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PACK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field indicates whether the packing of shipment line is complete.The filed will be Y when the container packing is complete</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPickable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PICKABLE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This flag indicates whether this shipment line can be picked or not.This flag is set to 'N' only for Logical Kit Parent line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemDesc" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="ITEM_DESCRIPTION" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The description of item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The identifier of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitCode" use="optional">
                <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The kit code of the item, if it is a Kit item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Text-20">
                        <xsd:enumeration value="LK"/>
                        <xsd:enumeration value=""/>
                        <xsd:enumeration value=" "/>
                        <xsd:enumeration value=" "/>
                        <xsd:enumeration value="Blanks"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Indicates the level of service required for this shipment line.  Default from corresponding order release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NetWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="NET_WEIGHT" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The weight of the items in the shipment. The unit of weight is as specified by the NetWeightUom attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NetWeightUom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="NET_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The unit of net weight.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderAvailableOnSystem"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates whether the order is available on the system or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order header key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order line key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order number corresponding to the order for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order release key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverShipQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="OVER_SHIP_QUANTITY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The quantity over picked for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickLocation" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="PICK_LOCATION" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Pick Location of the line item in a store sales floor or backroom. Primarily used in store application for backroom picking.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickLocationSeq" use="optional">
                <xsd:annotation yfc:columnName="PICK_LOCATION_SEQ" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Pick Location Sequence of the pick location for the line. Used in store application for suggesting picks to user in a sequential manner.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PlacedQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The sum of all placed quantity in the container details for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The prime line number of the corresponding order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The product class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The shipment line quantity. Entering a quantity is mandatory when creating a shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivedQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Quantity received for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The release number of the order release for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedSerialNo"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_SERIAL_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The requested serial number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnShippingLabelLevel"
                type="yfctype:Text-1" use="optional">
                <xsd:annotation
                    yfc:columnName="RETURN_SHIPPING_LABEL_LEVEL" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field indicates the level at which the Return Shipping Label should be generated for the item present in the shipment line. Valid values are N,S and P. N indicates that the item does not require return label, S indicates that the item requires return label at SKU level and P indicates that the item requires retun label at package level. If the value for the field is not passed, it is defaulted to the corresponding value of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The segment of inventory customized for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The segment type of inventory customized for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToCustomerId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_CUSTOMER_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The ship to identifier.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConsolidationGroupId"
                type="yfctype:VarcharShipNode" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONSOL_GROUP_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>It is a consolidation group id  that is used as a standard do not mix constraint. Releases belonging to same shipment consolidation group may consolidate to same shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The shipment key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>A part of the primary key . The shipment line number is unique for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSubLineNo"
                type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This is a part of the unique key. ShipmentSubLineNo along with the ShipmentLineNo is used to identify the logical kit component shipment line. The value of this field is zero - for kit parent shipment lines and shipment lines with items that are not kit components, and greater than zero if the the shipment line corresponds to a logical kit component item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortageQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SHORTAGE_QTY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The quantity that is not available at the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortageResolutionReason"
                type="yfctype:CodeValue" use="optional">
                <xsd:annotation
                    yfc:columnName="SHORTAGE_RESOLUTION_REASON" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the shortage resolution reason while picking the line quantity</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StoreBatchKey" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="STORE_BATCH_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the StoreBatchKey of the batch to which this shipment line belongs. This is for batch picking.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The sub line number of the corresponding order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The wave number to which the line belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            </xsd:all>
            <xsd:attribute name="ItemGroupCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:complexType>
            <xsd:attribute name="ExtendedDisplayDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageLabel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageLocation" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Containers">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Container"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>A unique number which helps identify the shipper as well as the goods.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
