Data/xapidocs/api_javadocs/XSD/YCD_FRAUD_CHECK.0001.ON_FRAUDULENT_ORDER.0001.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/FRAUD_CHECK/0001.ON_FRAUDULENT_ORDER.0001"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/FRAUD_CHECK/0001.ON_FRAUDULENT_ORDER.0001" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_FRAUD_CHECK.0001.ON_FRAUDULENT_ORDER.0001.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <FraudCheckResponseMessages>
                    <FraudCheckResponseMessage hasAttributes="Y"/>
                </FraudCheckResponseMessages>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FraudCheckResponseMessages"/>
        </xsd:all>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FraudCheckResponseCode"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The result of the fraud check. Valid values are: <code>SUCCESS</code> and <code>FAILED</code>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="FraudCheckResponseMessages">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FraudCheckResponseMessage"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FraudCheckResponseMessage">
        <xsd:complexType>
            <xsd:attribute name="Text" type="yfctype:Text-200" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>This will contain the reason due to which fraud check is failed.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
