Data/xapidocs/api_javadocs/XSD/YCD_getPriceMatchCompetitorsUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchCompetitorsUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchCompetitorsUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getPriceMatchCompetitorsUE_input.xsd" yfc:rootElement="PriceMatchCompetitors">
        <xsd:appinfo source="yfc:structure">
            <PriceMatchCompetitors hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatchCompetitors" type="yfc:PriceMatchCompetitorsXSDType"/>
    <xsd:complexType name="PriceMatchCompetitorsXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="required"/>
    </xsd:complexType>
</xsd:schema>
