Data/xapidocs/api_javadocs/XSD/YCD_listCarrierService_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/listCarrierService/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/listCarrierService/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_listCarrierService_input.xsd" yfc:rootElement="CarrierService">
        <xsd:appinfo source="yfc:structure">
            <CarrierService hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CarrierService" type="yfc:CarrierServiceXSDType">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE">
            <xsd:documentation>Services provided by a carrier.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CarrierServiceXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					If <code>CallingOrganizationCode</code> is passed, the consolidated carrier service list for the calling organization, its enterprise hierarchy and hub is returned.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>A code that identifies a service provided by a carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceDesc" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_DESC" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>A description of the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>Primary key attribute of YFS_CARRIER_SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_TYPE" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>Type of Carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistancePerDay" type="yfctype:Distance" use="optional">
            <xsd:annotation yfc:columnName="DISTANCE_PER_DAY" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>Distance the service covers in a day.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistanceUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="DISTANCE_UOM" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>Unit of measure for DISTANCE_PER_DAY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FixedTransitDays"
            type="yfctype:NumberOfDays" use="optional">
            <xsd:annotation yfc:columnName="FIXED_TRANSIT_DAYS" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>Number of Transit days in which the service would provide delivery.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumNontransitDays" use="optional">
            <xsd:annotation yfc:columnName="MAX_NONTRANSIT_DAYS" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>The maximum number of days that the carrier service supports holding an item on days that it cannot transfer.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:NumberOfDays"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MaximumTransitDays"
            type="yfctype:NumberOfDays" use="optional">
            <xsd:annotation yfc:columnName="MAXIMUM_TRANSIT_DAYS" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>The maximum number of days that the carrier service takes to deliver.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>The organization code of organization that defines this service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UsedForOrdering" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USED_FOR_ORDERING" yfc:tableName="YFS_CARRIER_SERVICE">
                <xsd:documentation>This attribute indicates that the Carrier Service can be used for ordering.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
