Data/xapidocs/api_javadocs/XSD/YCD_getStoreBatchLocationList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getStoreBatchLocationList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getStoreBatchLocationList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getStoreBatchLocationList_output.xsd" yfc:rootElement="StoreBatchLocationList">
        <xsd:appinfo source="yfc:structure">
            <StoreBatchLocationList>
                <StoreBatchLocation hasAttributes="Y"/>
            </StoreBatchLocationList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StoreBatchLocationList" type="yfc:StoreBatchLocationListXSDType"/>
    <xsd:complexType name="StoreBatchLocationListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StoreBatchLocation"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="StoreBatchLocation">
        <xsd:annotation yfc:tableName="YFS_STORE_BATCH_LOCATION">
            <xsd:documentation>This table stores the tote information of a shipment in a batch. A batch will have one tote for one shipment.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>The delivery method for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>The shipment key that is associated with this batch location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StoreBatchKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="STORE_BATCH_KEY" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>The batch key that is associated with this batch location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StoreBatchLocationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="STORE_BATCH_LOCATION_KEY" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>The primary key for the YFS_STORE_BATCH_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToteId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TOTE_ID" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>This field indicates the unique identifier of a tote.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
