Data/xapidocs/api_javadocs/XSD/YCD_provideAppeasementAsCouponUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/provideAppeasementAsCouponUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/provideAppeasementAsCouponUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_provideAppeasementAsCouponUE_input.xsd" yfc:rootElement="AppeasementOffers">
        <xsd:appinfo source="yfc:structure">
            <AppeasementOffers>
                <Order hasAttributes="Y">
                    <AppeasementReason hasAttributes="Y"/>
                    <Coupon hasAttributes="Y"/>
                    <OrderLines>
                        <OrderLine hasAttributes="Y">
                            <LinePriceInfo hasAttributes="Y"/>
                            <LineOverallTotals hasAttributes="Y"/>
                        </OrderLine>
                    </OrderLines>
                    <PriceInfo hasAttributes="Y"/>
                    <OverallTotals hasAttributes="Y"/>
                </Order>
            </AppeasementOffers>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AppeasementOffers" type="yfc:AppeasementOffersXSDType"/>
    <xsd:complexType name="AppeasementOffersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AppeasementReason"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Coupon"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OverallTotals"/>
            </xsd:all>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AppeasementReason">
        <xsd:complexType>
            <xsd:attribute name="ReasonCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										The reason of appeasement.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Coupon">
        <xsd:annotation yfc:tableName="YPM_COUPON">
            <xsd:documentation>This table stores information about the coupon. The coupon behavior is defined by the pricing rule associated with it.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssignedUniqueCodes"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates  associated unique codes are individual customer assignments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CodeFormat" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CODE_FORMAT" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Format of generated part of unique code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CouponID" type="yfctype:CouponId" use="optional">
                <xsd:annotation yfc:columnName="COUPON_ID" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Unique identifier of a coupon.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CouponKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUPON_KEY" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Primary key attribute of YPM_COUPON table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GenerateUniqueCodes"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="GENERATE_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Specifies whether coupon definition has generated unique codes</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GenerationStatus"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="GENERATION_STATUS" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Status of Unique Code generation</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImportUniqueCodes" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IMPORT_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates associated unique codes are imported from an external system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsExclusive" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_EXCLUSIVE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates whether the coupon is exclusive or not. Either a single exclusive coupon or multiple non-exclusive coupons can be applied on an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfCodesToGenerate" use="optional">
                <xsd:annotation
                    yfc:columnName="NUMBER_OF_CODES_TO_GENERATE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Specifies the number of unique codes to generate</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-10"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Pricing rule associated with the coupon.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LinePriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineOverallTotals"/>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LinePriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The actual pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The grand total for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineOverallTotals">
        <xsd:annotation>
            <xsd:documentation>
                <div>
									Contains information about the price and total amount details for the order line.
									</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Charges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Charges.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Discount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Discount amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedPrice" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Extended price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Line total amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OptionPrice" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Option amount for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Pricing Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Tax amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Unit price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The currency code in which this order is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The grand total for the order. Includes all line charges and taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OverallTotals">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						  Contains information about the price and total amount details for the order.
						  </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Total Charges
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Total Discount
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Grand total Tax Amount for the order
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Grand total amount for the Order
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Order Header Level Charges
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Order Header Level Discount
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Order Header Level Tax
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Order Header Level Total amount
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  Sub Total amount for all the lines
							  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
