Data/xapidocs/api_javadocs/XSD/YCD_canPriceMatchBePerformedOnLinesUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/canPriceMatchBePerformedOnLinesUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/canPriceMatchBePerformedOnLinesUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_canPriceMatchBePerformedOnLinesUE_input.xsd" yfc:rootElement="OrderLineList">
        <xsd:appinfo source="yfc:structure">
            <OrderLineList>
                <OrderLine hasAttributes="Y"/>
            </OrderLineList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderLineList" type="yfc:OrderLineListXSDType"/>
    <xsd:complexType name="OrderLineListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>
                <div>
						Contains information about order.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:EnumItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This field indicates what kind of item is on the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
