Data/xapidocs/api_javadocs/XSD/YCD_checkOrderPriceMatchUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/checkOrderPriceMatchUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/checkOrderPriceMatchUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_checkOrderPriceMatchUE_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <PriceInfo hasAttributes="Y"/>
                <PersonInfoShipTo hasAttributes="Y"/>
                <OverallTotals hasAttributes="Y"/>
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <Item hasAttributes="Y"/>
                        <LinePriceInfo hasAttributes="Y"/>
                        <LineOverallTotals hasAttributes="Y"/>
                        <PriceMatchResult hasAttributes="Y">
                            <AbsoluteMatch hasAttributes="Y"/>
                            <PossibleMatches>
                                <PossibleMatch hasAttributes="Y"/>
                            </PossibleMatches>
                        </PriceMatchResult>
                    </OrderLine>
                </OrderLines>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>
                <div>
			Contains information about order.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PersonInfoShipTo"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OverallTotals"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
        </xsd:all>
        <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The buyer organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ORDER_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The date on which the order was taken. If not passed during order creation, it is defaulted to current system date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The seller organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This is the Currency of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PersonInfoShipTo">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>
                <div>
					Contains information about Person.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternateEmailID"
                type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The company this person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Department" type="yfctype:Department" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxt" type="yfctype:ErrorText" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TXT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The first name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAddressVerified" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ADDRESS_VERIFIED" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This flag indicates whether or not the address in this record has been verified by an address verification program. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JobTitle" type="yfctype:Title-40" use="optional">
                <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The job title of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The last name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:MiddleName" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
                <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonInfoKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PERSON_INFO_KEY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary key for the YFS_PERSON_INFO table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredShipAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="USE_COUNT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VerificationStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="VERIFICATION_STATUS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OverallTotals">
        <xsd:complexType>
            <xsd:attribute name="GrandCharges" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Grand Charges of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Grand Discount of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Grand Tax of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Grand Total of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Header Charges of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Header Discount of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Header Tax of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Header Total of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Line Sub Total of the Order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LinePriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineOverallTotals"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceMatchResult"/>
            </xsd:all>
            <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This is the Order Line key Of the OrderLine  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This is the Ordered Quantity of the Item in the OrderLine.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonalizeFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PERSONALIZE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This is the Personalize Flag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchCompetitor"
                type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchMinQuantity"
                type="yfctype:Number" use="required">
                <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Minimum Quantity for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchPrice" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor's Price of the Item  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchShippingCharge"
                type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatched" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the the Flag which says whether Price was matched or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionCity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RegionState" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LinePriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>
                <div>
				Contains information about order line pricing and quantity details.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IsPriceLocked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether UnitPrice passed at LinePriceInfo element must be used and price determination ignored, if price determination is configured and enabled. Valid values are 'Y' or 'N'. Default value is 'N'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineOverallTotals">
        <xsd:complexType>
            <xsd:attribute name="Charges" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is charges associated with the Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Discount" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is Discount associated with the Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedPrice" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is Extended Price Of the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTotal" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is Line Total.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OptionPrice" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is Option Price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQty" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is Pricing Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is Tax associated with the Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is Unit Price Of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceMatchResult">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AbsoluteMatch"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PossibleMatches"/>
            </xsd:all>
            <xsd:attribute name="PriceMatchStatus" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>This is the Status of the price Match.possible values for this field are ALLOWED, POSSIBLE,MANUAL and REJECTED. If the status is ALLOWED then AbsoluteMatch element should be passed with the required attributes. If the status is POSSIBLE then PossibleMatches element should be passed and under that all the PossibleMatch elements with the required attributes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchStatusMessage"
                type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>This is the Status Message of the price Match.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AbsoluteMatch">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This element should be passed when the PriceMatchStaus is ALLOWED.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Competitor" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDate"
                type="yfctype:TimeStamp" use="required">
                <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="required">
                <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Minimum Quantity for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewUnitPrice" type="yfctype:String" use="required"/>
            <xsd:attribute name="RegionCity" type="yfctype:City" use="required">
                <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionState" type="yfctype:State" use="required">
                <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingCharges" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PossibleMatches">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PossibleMatch"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PossibleMatch">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This element should be passed when the PriceMatchStaus is POSSIBLE.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Competitor" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Minimum Quantity for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewUnitPrice" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RegionCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingCharges" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
