Data/xapidocs/api_javadocs/XSD/YCD_registerBarcodeForBackroomPick_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/registerBarcodeForBackroomPick/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/registerBarcodeForBackroomPick/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_registerBarcodeForBackroomPick_input.xsd" yfc:rootElement="BarCode">
        <xsd:appinfo source="yfc:structure">
            <BarCode hasAttributes="Y">
                <ContextualInfo hasAttributes="Y"/>
                <ItemContextualInfo hasAttributes="Y"/>
                <ShipmentContextualInfo hasAttributes="Y"/>
                <LocationContextualInfo hasAttributes="Y"/>
            </BarCode>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="BarCode" type="yfc:BarCodeXSDType">
        <xsd:annotation yfc:tableName="YFS_BARCODE_TRANSLATION">
            <xsd:documentation>This table defines how barcodes are validated based on the context of the data.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="BarCodeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ContextualInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemContextualInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentContextualInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationContextualInfo"/>
        </xsd:all>
        <xsd:attribute name="BarCodeData" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					BarCode data to be translated.
						<Validation>
                            <Condition>
                                <code>BarCodeData</code> should be passed.
							</Condition>
                            <Error
                                Description="BarCodeData is mandatory." ErrorCode="YCP0187"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BarCodeType" type="yfctype:Text-100" use="required">
            <xsd:annotation yfc:columnName="BARCODE_TYPE" yfc:tableName="YFS_BARCODE_TRANSLATION">
                <xsd:documentation>
                    <div>
					BarCode Type associated with the data being scanned.
						<Validation>
                            <Condition>
                                <code>BarCodeType</code> should be passed.
							</Condition>
                            <Error
                                Description="BarCodeType is mandatory." ErrorCode="YCP0186"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvokeUpdateInventoryUE"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					This attribute is used to invoke Update Inventory User Exit. As part of Web Store 9.3 FP release, this user exit call was happening from UI after getting the response from registerBarcodeForBackroomPick API. In Web Store 9.4 release, the user exit will be invoked as part of the API execution. In order to support backward compatibility, this attribute is introduced. If this attribute is passed with value as "true", then user exit will be invoked as part of API. If the attribute is passed with value as "false" or not passed as part of the API input, user exit will not be invoked.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ContextualInfo">
        <xsd:annotation yfc:tableName="YFS_BARCODE_TRANSLATION">
            <xsd:documentation>This table defines how barcodes are validated based on the context of the data.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies the buying organization</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>An Enterprise in general implies a business undertaking. In the Yantra participant modeling, the enterprise is understood to be a broker/mediator, and is also used to arrive at the inventory org and subsequently the catalog org. So, bar code translators dependent on inventory, catalog or various enterprise dependent document types would use this de-referencing mechanism to translate data.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_BARCODE_TRANSLATION">
                    <xsd:documentation>
                        <div>
					This is the organization from which bar code set up will be picked up.
						<Validation>
                                <Condition>
                                    <code>OrganizationCode</code> should be passed.
							</Condition>
                                <Error
                                    Description="Organization code is mandatory for this operation." ErrorCode="YFS10513"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies the selling organization</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemContextualInfo">
        <xsd:complexType>
            <xsd:attribute name="AlternateUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Alternate UOM applicable for the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitCode" type="yfctype:EnumKitCode" use="optional">
                <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates the kit code for this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass" type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="CODE_VALUE" yfc:tableName="YFS_COMMON_CODE">
                    <xsd:documentation>The unique code value belonging to a particular code type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity"
                type="yfctype:ConversionQuantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Conversion quantity to the inventory UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentContextualInfo">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
	  				To identify the <code>Shipment</code>, pass either <code>ShipmentKey</code> or <code>ShipmentNo</code>, <code>SellerOrganizationCode</code> and <code>ShipNode</code>
                    <Validation>
                        <Condition>Unique keys of Shipment are not passed.
						</Condition>
                        <Error
                            Description="Either ShipmentKey or ShipmentNo, ShipNode and SellerOrganizationCode is mandatory." ErrorCode="YDM00065"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationContextualInfo">
        <xsd:complexType>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Pick Location Identifier. If passed, a Shipment Line having this location as Pick Location will be picked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
