Data/xapidocs/api_javadocs/XSD/YCD_MANAGE_PRC_MTCH.ON_STATUS_CHANGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/MANAGE_PRC_MTCH/ON_STATUS_CHANGE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/MANAGE_PRC_MTCH/ON_STATUS_CHANGE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_MANAGE_PRC_MTCH.ON_STATUS_CHANGE.xsd" yfc:rootElement="PriceMatch">
        <xsd:appinfo source="yfc:structure">
            <PriceMatch hasAttributes="Y">
                <Competitor/>
                <Item/>
            </PriceMatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatch" type="yfc:PriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This Table Stores information about the price of Items at which the competitors are offering items in different Regions</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceMatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Competitor"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
        </xsd:all>
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Competitor">
        <xsd:annotation yfc:tableName="YFS_COMPETITOR">
            <xsd:documentation>This Table Store the Competitor Information used in a Price Match</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
