Data/xapidocs/api_javadocs/XSD/YCD_getTrackingNumberURLUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getTrackingNumberURLUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getTrackingNumberURLUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getTrackingNumberURLUE_input.xsd" yfc:rootElement="TrackingNumbers">
        <xsd:appinfo source="yfc:structure">
            <TrackingNumbers>
                <TrackingNumber hasAttributes="Y"/>
            </TrackingNumbers>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TrackingNumbers" type="yfc:TrackingNumbersXSDType"/>
    <xsd:complexType name="TrackingNumbersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TrackingNumber"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="TrackingNumber">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>
							The carrier service availed for transporting this shipment.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestNo" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							This is a field available in both input and output of this user exit. This field will be used to uniquely identify the proper URL for a tracking number.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>
							The carrier name to which the container got manifested.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndService" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Value of SCAC and Service code. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="required">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>
							The tracking number. If carrier integration is availed for the carrier on the shipment, then this information is returned by the carrier. This is a unique number assigned to each container that can be used to track individual containers in a shipment. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
