Data/xapidocs/api_javadocs/XSD/YCD_manageAssociationRelationship_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/manageAssociationRelationship/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/manageAssociationRelationship/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_manageAssociationRelationship_output.xsd" yfc:rootElement="AsscRelationshipList">
        <xsd:appinfo source="yfc:structure">
            <AsscRelationshipList>
                <AsscRelationship hasAttributes="Y"/>
            </AsscRelationshipList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AsscRelationshipList" type="yfc:AsscRelationshipListXSDType"/>
    <xsd:complexType name="AsscRelationshipListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AsscRelationship"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="AsscRelationship">
        <xsd:annotation yfc:tableName="YFS_ASSC_RELATIONSHIP">
            <xsd:documentation>This table will contain the RelationshipType to be used for an association type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AsscRelationshipKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSC_RELATIONSHIP_KEY" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                    <xsd:documentation>The primary key for the YFS_ASSC_RELATIONSHIP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssociationType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ASSOCIATION_TYPE" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                    <xsd:documentation>Type of association maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                    <xsd:documentation>The Document Type for which the relationship was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                    <xsd:documentation>Enterprise for which the relationship type to be used for association type is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Function" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ASSC_FUNCTION" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                    <xsd:documentation>The function (Replace or Relate) using which the item is to be added to the order</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryChkRequired"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_CHECK_REQUIRED" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                    <xsd:documentation>This flag indicates whether inventory check should be performed for the particular association.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                    <xsd:documentation>Type of Relation between Order Lines</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShowInUI" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHOW_IN_UI" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                    <xsd:documentation>This flag indicates whether the association should be displayed on UI.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
