Data/xapidocs/api_javadocs/XSD/YCD_getOrderHoldResolutionList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getOrderHoldResolutionList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getOrderHoldResolutionList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getOrderHoldResolutionList_output.xsd" yfc:rootElement="OrderHoldTypes">
        <xsd:appinfo source="yfc:structure">
            <OrderHoldTypes hasAttributes="Y">
                <OrderHoldType hasAttributes="Y">
                    <OrderLine hasAttributes="Y">
                        <ItemDetails hasAttributes="Y">
                            <PrimaryInformation hasAttributes="Y"/>
                        </ItemDetails>
                        <Item hasAttributes="Y"/>
                    </OrderLine>
                </OrderHoldType>
            </OrderHoldTypes>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderHoldTypes" type="yfc:OrderHoldTypesXSDType"/>
    <xsd:complexType name="OrderHoldTypesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderHoldType"/>
        </xsd:all>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of Holds on the Order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderHoldType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HOLD_TYPE">
            <xsd:documentation>This table stores contains all the hold types defined for an order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
            <xsd:attribute name="Enabled" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>If the current user can resolve this order hold, the value will be "Y" else "N".</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>
                        <div>If there is a corresponding Alert for this Hold Type, the <code>InboxKey</code> identifier will be returned as <code>ExceptionKey</code>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>If the Order Hold record is associated to an order line, this will be "Line" otherwise this will be "Order".</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldType" type="yfctype:CodeType" use="optional">
                <xsd:annotation yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                    <xsd:documentation>Hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldTypeDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                    <xsd:documentation>The reason text associates to the order hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemDetails"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The product class. This field is used as an inventory identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemDetails">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_PRODUCT_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The default product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDisplayDescription"
                type="yfctype:Text-500" use="optional">
                <xsd:annotation
                    yfc:columnName="EXTENDED_DISPLAY_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Display description for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImageID" type="yfctype:ImageID" use="optional">
                <xsd:annotation yfc:columnName="IMAGE_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Unique ID of the image in the external location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImageLabel" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="IMAGE_LABEL" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Label of the image.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImageLocation" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="IMAGE_LOCATION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>External location of the image.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
