Data/xapidocs/api_javadocs/XSD/YCD_managePriceMatchUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/managePriceMatchUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/managePriceMatchUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_managePriceMatchUE_output.xsd" yfc:rootElement="PriceMatch">
        <xsd:appinfo source="yfc:structure">
            <PriceMatch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatch" type="yfc:PriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This Table Stores information about the price of Items at which the competitors are offering items in different Regions</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceMatchXSDType">
        <xsd:attribute name="Competitor" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This the Currency for which is price is applied for the Item</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Enterprise that performed the price match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This is the date When the price offered by the competitor expires, it will default to the number of days to expire rule configured in the price match rule for the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The ItemId of the Item for which the price match was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Minimum quantity required to get the lower price</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewUnitPrice" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NoHassleOverridden" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="NO_HASSLE_OVERRIDDEN" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This is to indicate that the data which is being entered follows Enterprise rules for Price Match or Not</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>This is the operation which has to be performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionCity" type="yfctype:City" use="optional">
            <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>If the price that was matched is only offered in a specific region, this field should store the region's city</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionState" type="yfctype:State" use="optional">
            <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>If the price that was matched is only offered in a specific region, this field should store the region's state.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShippingCharges" type="yfctype:String" use="optional"/>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UNIT_OF_MEASURE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The Unit Of Measure for the Item for which price Match is to be performed</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
