Data/xapidocs/api_javadocs/XSD/YCD_checkOrderPriceMatch_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/checkOrderPriceMatch/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/checkOrderPriceMatch/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_checkOrderPriceMatch_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <PriceMatchResult hasAttributes="Y">
                            <AbsoluteMatch hasAttributes="Y"/>
                            <PossibleMatches>
                                <PossibleMatch hasAttributes="Y"/>
                            </PossibleMatches>
                        </PriceMatchResult>
                    </OrderLine>
                </OrderLines>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>
                <div/>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:OrderLines"/>
        </xsd:all>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>
                <div/>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceMatchResult"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the ItemID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This is the Order Line key Of the OrderLine  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This is the Ordered Quantity of the Item in the OrderLine.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonalizeFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PERSONALIZE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This is the Personalize Flag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchCompetitor"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchCurrency"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Currency of the Price of the Item  for which price Match has been performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchMinQuantity"
                type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Minimum Quantity for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchPrice" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor's Price of the Item  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchShippingCharge"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatched" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the the Flag which says whether Price was matched or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>If the price that was matched is only offered in a specific region, this field should store the region's city</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>If the price that was matched is only offered in a specific region, this field should store the region's state.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceMatchResult">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AbsoluteMatch"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PossibleMatches"/>
            </xsd:all>
            <xsd:attribute name="PriceMatchStatus" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Status of the price Match.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchStatusMessage"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Status Message of the price Match.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AbsoluteMatch">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>
                <div/>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Competitor" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Minimum Quantity for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewUnitPrice" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RegionCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingCharges" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PossibleMatches">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PossibleMatch"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PossibleMatch">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>
                <div/>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Competitor" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Minimum Quantity for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewUnitPrice" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RegionCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingCharges" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
