Data/xapidocs/api_javadocs/XSD/YCD_getStoreBatchDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getStoreBatchDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getStoreBatchDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getStoreBatchDetails_input.xsd" yfc:rootElement="StoreBatch">
        <xsd:appinfo source="yfc:structure">
            <StoreBatch hasAttributes="Y">
                <StoreBatchLine hasAttributes="Y"/>
                <OrderBy>
                    <Attribute hasAttributes="Y"/>
                </OrderBy>
            </StoreBatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StoreBatch" type="yfc:StoreBatchXSDType">
        <xsd:annotation yfc:tableName="YFS_STORE_BATCH">
            <xsd:documentation>This table stores the batches for Web Store. A batch consists of multiple shipment lines which can be picked together.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StoreBatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StoreBatchLine"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderBy"/>
        </xsd:all>
        <xsd:attribute name="BatchNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The unique batch number to identify this batch in this store.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The store's organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StoreBatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STORE_BATCH_KEY" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The primary key of the YFS_STORE_BATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="StoreBatchLine">
        <xsd:complexType>
            <xsd:attribute name="BackroomPickComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										This attribute is Y if the batch line is completely picked. It can be used to filter <code>StoreBatchLines</code>.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>
                        <div>
										Item ID of the batch line. It can be used along with <code>UnitOfMeasure</code> to filter <code>StoreBatchLines</code>.
										The lines will be filtered only if both <code>ItemID</code> and <code>UOM</code> are passed.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StagingComplete" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										This attribute is Y if the batch line is completely staged. It can be used to filter <code>StoreBatchLines</code>.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>
                        <div>
										Unit of measure of the batch line. It can be used along with <code>ItemID</code> to filter <code>StoreBatchLines</code>.
										The lines will be filtered only if both <code>ItemID</code> and <code>UOM</code> are passed.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderBy">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				This <code>OrderBy</code> element is passed as input to <code>getShipmentLineList</code> API. This can be used to sequence batch lines for picking.
				If OrderBy element is passed, orders returned by the API are sorted in the same order as Attribute elements passed.
				 Having many attributes in OrderBy element may have performance implications when large number of orders are returned by the API.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Attribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Desc" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Sort in decending order.
						Valid values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
						Default value: <b>
                            <code>N</code>
                        </b>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-32" use="required">
                <xsd:annotation>
                    <xsd:documentation>Name of the attribute to use for sorting the results.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
