Data/xapidocs/api_javadocs/XSD/YCD_PromotionValidationUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/PromotionValidationUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/PromotionValidationUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_PromotionValidationUE_input.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <PriceInfo hasAttributes="Y"/>
                <Promotions>
                    <Promotion hasAttributes="Y"/>
                </Promotions>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>
                <div>
			Contains information about order.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceInfo"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Promotions"/>
        </xsd:all>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The buyer organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerUserId" type="yfctype:ContactUserId" use="optional">
            <xsd:annotation yfc:columnName="BUYER_USER_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This is the User Id of the customer for which order is created. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingClassificationCode" use="optional">
            <xsd:annotation yfc:columnName="PRICING_CLASSIFICATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Number20"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="required">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>Currency to be validated</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Promotions">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Promotion"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Promotion">
        <xsd:annotation yfc:tableName="YFS_PROMOTION">
            <xsd:documentation>This table stores information regarding promotions that are associated to an order or any of its lines.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PromotionId" type="yfctype:PromoCode" use="required">
                <xsd:annotation yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION">
                    <xsd:documentation>Promotion ID to be validated</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
