Data/xapidocs/api_javadocs/XSD/YCD_emailOrderUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/MasterOrder"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/MasterOrder" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_emailOrderUE_input.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>
                <div>
				Contains information about order.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Only applicable for published data of Delete Order event, which
						can be raised by the deleteOrder API.
						<code>Action</code>
						=
						<b>
                            <code>DELETE</code>
                        </b>
						will be published to indicate that the order will be deleted.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualPricingDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The date that will be used for pricing the order.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllAddressesVerified" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ALL_ADDRESSES_VERIFIED" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag determines whether or not the addresses in this order have been verified by an address verification program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllocationRuleID" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="ALLOCATION_RULE_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the scheduling rule to be used while checking inventory availability.  If not passed, the allocation rule with the ID 'SYSTEM' for the enterprise is used. If the allocation rule with the ID 'SYSTEM' is not found, the allocation rule with the ID 'SYSTEM' for the enterprise 'DEFAULT' is used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApprovalCycle"
            type="yfctype:OrderApprovalCycle" use="optional">
            <xsd:annotation yfc:columnName="APPROVAL_CYCLE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The approval cycle the order is currently in.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthorizationExpirationDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation
                yfc:columnName="AUTHORIZATION_EXPIRATION_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The smallest expiration date of currently valid expirations. This field is used by the system payment processing agents. Any transaction having a financial implication will set this date to current system date. This field is used as a trigger by payment processing agents to create charge and authorization reqeusts.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthorizedClient" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="AUTHORIZED_CLIENT" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The owner channel of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AutoCancelDate" use="optional">
            <xsd:annotation yfc:columnName="AUTO_CANCEL_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The date on which the order will automatically be cancelled. If not provided, it is defaulted as null on order creation. This date can be set or reset at any point in time by calling changeorder API.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BillToKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The bill to address that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerMarkForNodeId" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BUYER_MARK_FOR_NODE_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Mark For Node as identified by the buyer for eg: it could be a person,store,DC.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The buyer organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerReceivingNodeId"
            type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_RECEIVING_NODE_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Receiving node as identified by the buyer for eg:Store,DC Number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerUserId" type="yfctype:ContactUserId" use="optional">
            <xsd:annotation yfc:columnName="BUYER_USER_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This is the User Id of the customer for which order is created. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CancelOrderOnBackorder" use="optional">
            <xsd:annotation yfc:columnName="CANCEL_ORDER_ON_EXCP_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the order needs to be cancelled in case of inventory shortage.  If not specified, most restrictive rule will be used from customer preference or scheduling rule.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="CarrierAccountNo" type="yfctype:AccountNo" use="optional">
            <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The account number of the customer with the carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The carrier service code for this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CartId" type="yfctype:VARCHAR2-40" use="optional">
            <xsd:annotation yfc:columnName="CART_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field stores the WC Cart ID</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Cc" type="yfctype:EMailID" use="optional">
            <xsd:annotation>
                <xsd:documentation>Cc Email Address</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChainType" type="yfctype:EnumChainType" use="optional">
            <xsd:annotation yfc:columnName="CHAIN_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Specifies the chaining type of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeActualFreightFlag"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_ACTUAL_FREIGHT" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the actual freight charges should be passed on to the customer. If set to 'Y', invoicing picks up charges from shipments and uses that to invoice the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComplimentaryGiftBoxQty" use="optional">
            <xsd:annotation yfc:columnName="COMPL_GIFT_BOX_QTY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>No. of complimentary gift boxes to be given out with the order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:DelayWindow"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="CreatedAtNode" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CREATED_AT_NODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the order was created by a node. This field is used during blind return creation at the nodes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>User who created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustCustPONo" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_CUSTOMER_PO_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The PO number of the customer's customer. In some situations, this may need to be printed on the actual packaging.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerContactID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_CONTACT_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This is the customer contact ID for the order. This field maps to contact ID field of YFS_Customer_Contact.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerDOB" type="yfctype:String" use="optional"/>
        <xsd:attribute name="CustomerEMailID" type="yfctype:EMailID" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_EMAILID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The E-mail ID of the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerFirstName"
            type="yfctype:PersonName" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_FIRST_NAME" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>First name of the customer placing the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerLastName" type="yfctype:PersonName" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_LAST_NAME" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Last name of the customer placing the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerPONo" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The PO number of the customer. For purchase orders, this can be used for storing the purchase order number of the purchasing system if that number is not already stored as part of the order number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerPhoneNo" type="yfctype:PhoneNo" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_PHONE_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Daytime Phone number of the customer placing the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerRewardsNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_REWARDS_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the customer's rewards number</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerZipCode" type="yfctype:ZipCode" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ZIP_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Address Zip Code of the customer placing the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DefaultCustomerInformation"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates if the billing, shipping, payment, tax, and currency
						information on the order should be defaulted from the customer
						information. When the flag is set to "Y", and a valid customer is
						found, the billing, shipping, and tax information on the order
						will be defaulted either from the customer or from the customer
						contact. The payment method on the order will only be defaulted if
						there is no payment method on the order. The currency will only be
						defaulted if the customer's
						<code>IsDefaultCurrency</code>
						is set to 'Y'.
						<br/>
						Default:
						<b>
                            <code>N</code>
                        </b>
                        <br/>
						Valid Values:
						<b>
                            <code>Y</code>
                        </b>
						or
						<b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DefaultTemplate" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_TEMPLATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether this order is to be used as the default template. For this order to be used as a default template, the document type of the order being created should be configured to set the template document type as this orders document type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryCode" type="yfctype:DeliveryCode" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The organization that pays the freight charges. For example, SUPPLIER, ENTERPRISE, and MARKETPLACE. However, you could pass any other value which is a valid shipment charge type as understood by the carrier by which the shipment is transported. See YFS_SHIPMENT_CONTAINER.carrier_payment_type for additional information.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field can be used for order classification and reporting purposes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Division" type="yfctype:Division" use="optional">
            <xsd:annotation yfc:columnName="DIVISION" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The order classification attribute. This field can be used for reporting purposes. Sterling Selling And Fulfillment Suite system has no logic based on this field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DraftOrderFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DRAFT_ORDER_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the order is yet to be confirmed. Order lines can only be deleted from the system in draft stage. This flag is not applicable for Quotes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DriverDate" type="yfctype:Text-2" use="optional">
            <xsd:annotation>
                <xsd:documentation>Date used to driver order processing. '01' represents
					ReqShipDate, '02' represents ReqDeliveryDate.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The system or sales person who created the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntryType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ENTRY_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>
						The channel through which this order was created. If the value of EntryType on the order matches the value of the common code Entry_Type, 
						the common code's attributes are considered during order validation.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExchangeType"
            type="yfctype:EnumExchangeType" use="optional">
            <xsd:annotation yfc:columnName="EXCHANGE_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field indicates the exchange type of the order. The payment processing logic is dependent on this attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The date by which the quote has to be accepted by customer. This only applies to Quotes. The expiration date is computed by the expiration policy before presenting a quote to the customer. The expiration date is computed by adding EXPIRATION_PERIOD rule to the current date. The expiration date can also be updated before presenting to the customer. If the date is overridden, further computations of the date are ignored and the overridden expiration date is published on the quote for the customer.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="FOB" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Indicates Freight Terms for the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasChainedLines" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates if this order has chained or related lines.
						<br/>
						Default:
						<b>
                            <code>N</code>
                        </b>
                        <br/>
						Valid Values:
						<b>
                            <code>Y</code>
                        </b>
						or
						<b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasDeliveryLines" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates if the order has any delivery lines.
						<br/>
						Default:
						<b>
                            <code>N</code>
                        </b>
                        <br/>
						Valid Values:
						<b>
                            <code>Y</code>
                        </b>
						or
						<b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasDerivedChild" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAS_DERIVED_CHILD" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the order has any derived children.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasDerivedParent" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAS_DERIVED_PARENT" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the order has any derived parent.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasPendingChanges" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
					If order has
					<code>pending changes</code>
					then this flag will be returned as "Y".
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasProductLines" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates if the order has any product lines.
						<br/>
						Default:
						<b>
                            <code>N</code>
                        </b>
                        <br/>
						Valid Values:
						<b>
                            <code>Y</code>
                        </b>
						or
						<b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasServiceLines" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates if the order has any service lines.
						<br/>
						Default:
						<b>
                            <code>N</code>
                        </b>
                        <br/>
						Valid Values:
						<b>
                            <code>Y</code>
                        </b>
						or
						<b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>
						This flag determines whether an hold has been placed on the order
						when certain hold types criteria are met. If order is on hold,
						default configuration will stop the shceduling and release process
						for the order. The flag is reset to 'N' when all the hold types
						have been resolved on the order and all of its order lines. Based
						on hold type configuration, certain transactions may not be
						allowed to process. Note that there is no validation made on the
						hold applied but this flag can be reset by the application based
						on hold types existed on the order.
						<br/>
						Default:
						<b>
                            <code>N</code>
                        </b>
                        <br/>
						Valid Values:
						<b>
                            <code>Y</code>
                        </b>
						or
						<b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldReasonCode"
            type="yfctype:HoldReasonCode" use="optional">
            <xsd:annotation yfc:columnName="HOLD_REASON_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The reason code for putting the order on hold.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursBeforeNextIteration" use="optional">
            <xsd:annotation yfc:columnName="HRS_BEFORE_NEXT_ITER" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of hours between iterations. If null, then it is assumed to be 0. Default is Null.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:NumberOfHours"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="InStorePaymentRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IN_STORE_PAYMENT_REQUIRED" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates if this order line will have its payment processed later. When set, the line's total will be added to the postponed amount.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsExpirationDateComputed"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						This flag indicates whether the expiration date is a system
						recommended date or whether it is already determined for the
						buyer. The value is
						<code>Y</code>
						if expiration date is system recommended. This flag only applies
						to Quotes.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsExpirationDateOverridden"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_EXPIRATION_DATE_OVERRIDDEN" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the expiration date is overridden or whether it is computed by the default expiration policy. The value is Y if expiration date is overridden. This flag only applies to Quotes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsLineShipComplete" use="optional">
            <xsd:annotation yfc:columnName="IS_LINE_SHIP_COMPLETE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the complete line needs to be shipped.  If not specified, most restrictive rule will be used from customer preference or scheduling rule.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsLineShipSingleNode" use="optional">
            <xsd:annotation yfc:columnName="IS_LINE_SHIP_SINGLE_NODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the complete order line needs to be shipped from a single ship node.  If not specified, most restrictive rule will be used from customer preference or scheduling rule.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsShipComplete" use="optional">
            <xsd:annotation yfc:columnName="IS_SHIP_COMPLETE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the complete order needs to be shipped.  If not specified, most restrictive rule will be used from customer preference or scheduling rule.The constraint only applies to Order Lines eligible for schedule or release.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsShipSingleNode" use="optional">
            <xsd:annotation yfc:columnName="IS_SHIP_SINGLE_NODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the complete order needs to be shipped from a single ship node.  If not specified, most restrictive rule will be used from customer preference or scheduling rule.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="LevelOfService"
            type="yfctype:LevelOfService" use="optional">
            <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Indicates the level of service required for this order.  Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LinkedSourceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LINKED_SOURCE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is used to link an order of a different document classification to this order record. e.g. Order header key of the quote is stored in this column.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxOrderStatus" type="yfctype:Status" use="optional">
            <xsd:annotation>
                <xsd:documentation>Maximum order status based on all records that belong
					to an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxOrderStatusDesc" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>Description of maximum order status based on all
					records that belong to an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Memo" type="yfctype:DetailDescription" use="optional">
            <xsd:annotation>
                <xsd:documentation>Introduction to the email</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinOrderStatus" type="yfctype:Status" use="optional">
            <xsd:annotation>
                <xsd:documentation>Minimum order status based on all records that belong
					to an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinOrderStatusDesc" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>Description of minimum order status based on all
					records that belong to an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>User who modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MultipleStatusesExist" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>If order is in more than one status then this flag will
					be returned as "Y".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NextIterationDate" use="optional">
            <xsd:annotation yfc:columnName="NEXT_ITER_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The date when the next iteration will be run.  Default is Null.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="NextIterationSeqNo" use="optional">
            <xsd:annotation yfc:columnName="NEXT_ITER_SEQ_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The next sequence number for the next iteration run. This only applies to Master Orders. If null, it is assumed to be 1. Default is Null.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:LongSequence"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="NoOfAuthStrikes" use="optional">
            <xsd:annotation yfc:columnName="NO_OF_AUTH_STRIKES" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>No. of credit card authorization strikes failed for the order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:DoubleDigit"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="NotificationReference"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="NOTIFICATION_REFERENCE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field provides details on notifications based on the notification type. For example, for notification type 'e-mail' this would be the e-mail address. This field is not used within the application.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NotificationType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="NOTIFICATION_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is not used within the application. It is published with events so that external decisions can be made based on it.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NotifyAfterShipmentFlag"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="NOTIFY_AFTER_SHIPMENT_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpportunityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OPPORTUNITY_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The opportunity that is associated with this order. It is the primary key of the YFS_OPPORTUNITY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OptimizationType"
            type="yfctype:EnumOptimizationType" use="optional">
            <xsd:annotation yfc:columnName="OPTIMIZATION_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field indicates what scheduling will first optimize on.  If not specified scheduling rule will be used to determine optimization type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ORDER_CLOSED" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the order has reached the end of its processing lifecycle.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ORDER_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The date on which the order was taken. If not passed during order creation, it is defaulted to current system date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderName" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NAME" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The name given to the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderPurpose"
            type="yfctype:EnumOrderPurpose" use="optional">
            <xsd:annotation yfc:columnName="ORDER_PURPOSE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This indicates what, if any, specific purpose this order was created for. The only valid value is 'EXCHANGE' which means the order is created for exchange purpose. But, the system may create an order with OrderPurpose of REFUND for internal use.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ORDER_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The order classification attribute. This field can be used for reporting purposes or to build conditions for modeling your business process. Sterling Selling And Fulfillment Suite system has no default logic based on this field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OriginalContainerKey" use="optional">
            <xsd:annotation yfc:columnName="ORIGINAL_CONTAINER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Number20"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OriginalTax" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ORIGINAL_TAX" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Total tax amount at the time of the order creation.This attribute only reflects the header tax.This field is not updated later in the cycle and can be used to track changes made since the order creation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OriginalTotalAmount" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ORIGINAL_TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The total amount at the time of the order creation. This field is not updated later in the cycle and can be used to track changes made since the order creation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OtherCharges" type="yfctype:ComputedMoney" use="optional">
            <xsd:annotation yfc:columnName="OTHER_CHARGES" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The sum of the other charges at the header level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverallStatus" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>A description of the order's overall status determined by the <code>YFSGetOverallStatusUE</code>.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentRuleId" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_RULE_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The payment rule that is associated with this order. All decisions on payment handling are controlled by this rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentStatus"
            type="yfctype:VarcharShortStatus" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_STATUS" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The information about the payment status of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PendingChangesUserID"
            type="yfctype:Text-24" use="optional">
            <xsd:annotation>
                <xsd:documentation>This attribute indicates user, who performed pending
					changes on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PendingTransferIn" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="PENDING_TRANSFER_IN" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The amount of funds available for the exchange order. This is the same as the total order amount of the return order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PersonalizeCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PERSONALIZE_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The code that describes the personalization required for the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The price program that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingClassificationCode" use="optional">
            <xsd:annotation yfc:columnName="PRICING_CLASSIFICATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Number20"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PriorityCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The priority code of the order. External logic can be built for prioritizing orders.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriorityNumber" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY_NUMBER" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The numeric priority code as opposed to alphanumeric field PRIORITY_CODE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessPaymentOnReturnOrder"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates that payment methods should be copied onto
					the return order and that refunds should be processed there, as
					opposed to the original sales order. This is only valid for return
					orders.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PurgeHistoryDate" use="optional">
            <xsd:annotation yfc:columnName="PURGE_HISTORY_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The date that this order should be purged from the history table. If set, this date will override the date determined based on the History Purge Lead Days.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is passed out in the tax calculation user exits.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The node an order is to be shipped to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReqCancelDate" use="optional">
            <xsd:annotation yfc:columnName="REQ_CANCEL_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The requested cancel date. If this date is in the future, the order will be scheduled only up to this date. If this date is in the past, the order can be scheduled for shipping today as long as it has not been cancelled already. The order line level cancel date overrides this attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReqDeliveryDate" use="optional">
            <xsd:annotation yfc:columnName="REQ_DELIVERY_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The requested delivery date. This date is stamped on order lines (as requested delivery date) during order creation if no requested delivery date was passed at the order line level.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReqShipDate" use="optional">
            <xsd:annotation yfc:columnName="REQ_SHIP_DATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The date the customer has requested the order to be shipped on. Based on the 'Driver Date' parameter of the document type, the ship date or delivery date will be calculated based on transit time calculations (if not passed at order creation).</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReturnByGiftRecipient" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="RETURN_BY_GIFT_RECIPIENT" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the return was initiated by the gift recipient. This field is only used by return orders.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnOrderHeaderKeyForExchange"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RETURN_OH_KEY_FOR_EXCHANGE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The return order header key for which this exchange order was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Role" type="yfctype:UserGroup" use="optional">
            <xsd:annotation yfc:columnName="USER_GROUP_ID" yfc:tableName="YFS_APPROVAL_PLAN">
                <xsd:documentation>
                    <div>The User Group of the user who created the order.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SCAC" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The carrier assigned to the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SaleVoided" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SALE_VOIDED" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the sale transaction has been voided.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndService" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Value of SCAC and Service code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Link to YFS_SCAC_AND_SERVICE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchCriteria1" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_CRITERIA_1" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchCriteria2" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_CRITERIA_2" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The seller organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The ship node at which this order will be fulfilled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipToID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="SHIP_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the ship to customer.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipToKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIP_TO_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The ship to address that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SoldToKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SOLD_TO_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourceIPAddress" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="SOURCE_IP_ADDRESS" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>IP address of the system from which the order was placed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourceKey" use="optional">
            <xsd:annotation yfc:columnName="SOURCE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is deprecated.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Number20"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SourceType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SOURCE_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This field is internal. Validate value is 'Quote'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourcingClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SOURCING_CLASSIFICATION" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This attribute will be used to determine node for
					sourcing.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>Status description of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaxExemptFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TAX_EXEMPT_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>This flag indicates whether the buyer is extempt from paying taxes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaxExemptionCertificate"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The buyer's tax exemption certificate.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaxJurisdiction" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TAX_JURISDICTION" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The tax jurisdiction of the buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaxPayerId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TAXPAYER_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Indicates a team that can manage this order.  Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TermsCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="TERMS_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The terms code of the order. This is passed on to the invoice and published with the invoice.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="To" type="yfctype:EMailID" use="optional">
            <xsd:annotation>
                <xsd:documentation>To Email Address</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalAdjustmentAmount" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_ADJUSTMENT_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>the sum of all the credit and debit memos issued against this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VendorID" type="yfctype:VarcharID-24" use="optional">
            <xsd:annotation yfc:columnName="VENDOR_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The seller's vendor identifier, as defined by the buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates if data should be retrieved from the history table
						rather than the regular table.
						<br/>
						Default:
						<b>
                            <code>N</code>
                        </b>
                        <br/>
						Valid Values:
						<b>
                            <code>Y</code>
                        </b>
						or
						<b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
