Data/xapidocs/api_javadocs/XSD/YCD_addAllContainersToManifest_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/addAllContainersToManifest/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/addAllContainersToManifest/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_addAllContainersToManifest_output.xsd" yfc:rootElement="FailedContainers">
        <xsd:appinfo source="yfc:structure">
            <FailedContainers hasAttributes="Y">
                <Container hasAttributes="Y">
                    <Shipment hasAttributes="Y"/>
                </Container>
                <DistinctManifestList hasAttributes="Y">
                    <Manifest hasAttributes="Y"/>
                </DistinctManifestList>
            </FailedContainers>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="FailedContainers" type="yfc:FailedContainersXSDType"/>
    <xsd:complexType name="FailedContainersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Container"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DistinctManifestList"/>
        </xsd:all>
        <xsd:attribute name="TotalFailures" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of shipment container records which couldn't be added to manifest.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            </xsd:all>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_CONTAINER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The tracking number. If carrier integration is availed for the carrier on the shipment, then this information is returned by the carrier server. This is a unique number assigned to each container that can be used to track individual containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DistinctManifestList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Manifest"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Manifest">
        <xsd:annotation yfc:tableName="YFS_MANIFEST">
            <xsd:documentation>Stores carrier manifest created during the manifesting process. A manifest is a carrier specific document that comprises of shipments. A manifest is created for a ship node and carrier. At any point in time, there is only one open manifest for a ship node and carrier. Every parcel shipment that is containerized is included in a manifest. Containerization is done using the packShipment and changeShipment API. All shipments included in the manifest are ship confirmed using the closeManifest API. All parcel related carrier services for a carrier are part of a single manifest.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Primary key attribute of YFS_MANIFEST table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
