Data/xapidocs/api_javadocs/XSD/YCD_recordShortageForPack_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/recordShortageForPack/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/recordShortageForPack/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_recordShortageForPack_input.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y">
                <ShipmentLines>
                    <ShipmentLine hasAttributes="Y"/>
                </ShipmentLines>
            </Shipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
	  				To identify the <code>Shipment</code>, pass either <code>ShipmentKey</code> or <code>ShipmentNo</code>, <code>SellerOrganizationCode</code> and <code>ShipNode</code>
                    <Validation>
                        <Condition>Unique keys of Shipment are not passed.
						</Condition>
                        <Error
                            Description="Either ShipmentKey or ShipmentNo, ShipNode and SellerOrganizationCode is mandatory." ErrorCode="YDM00065"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLines"/>
        </xsd:all>
        <xsd:attribute name="AddReasonCodeAsNoteAudit"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Valid values Y/N. <br/>
							If Y, the API will persist the shortage reason code in order line notes <code>AuditTransactionId</code> column<br/>
							Default Value is N.<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MarkInventoryShort" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Valid values Y/N. <br/>
							If Y, the API will cancel the <code>ShortageQty</code> on shipment line and backordered the same units on order line.<br/>
							If N, and the <code>ShortageReason</code> is not <code>inventoryShortage</code>, then the API will not update shipment line but just add a note recording shortage on corresponding orderline.<br/>
							Default Value is N.<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortageReason" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="CODE_VALUE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The unique code value belonging to a particular code type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipmentLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipmentLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLine">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>
                <div>
	  				To record shortage at ShipmentLine level, pass  <code>ShipmentLineKey</code>,<code>ShortageReason</code>
                    <Validation>
                        <Condition>Unique keys of ShipmentLine are not passed.
						</Condition>
                        <Error
                            Description="ShipmentLine key is mandatory." ErrorCode="YCD00069"/>
                    </Validation>
                    <Validation>
                        <Condition>ShortageReason is not passed
						</Condition>
                        <Error
                            Description="ShortageReason is mandatory either at Shipment or Shipment Line level" ErrorCode="YCD00070"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortageReason" type="yfctype:String" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
