Data/xapidocs/api_javadocs/XSD/YCD_provideAppeasementAsGiftCardUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/provideAppeasementAsGiftCardUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/provideAppeasementAsGiftCardUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_provideAppeasementAsGiftCardUE_output.xsd" yfc:rootElement="AppeasementOffers">
        <xsd:appinfo source="yfc:structure">
            <AppeasementOffers hasAttributes="Y">
                <AppeasementOffer hasAttributes="Y">
                    <GiftCard hasAttributes="Y"/>
                </AppeasementOffer>
            </AppeasementOffers>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AppeasementOffers" type="yfc:AppeasementOffersXSDType"/>
    <xsd:complexType name="AppeasementOffersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AppeasementOffer"/>
        </xsd:all>
        <xsd:attribute name="ChargeCategory"
            type="yfctype:ChargeCategory" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
								Charge Category for Appeasement Offers.
							</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
								Charge Name for Appeasement Offers.
							</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
								OrderHeaderKey of the order.
							</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
								Reason for Appeasement.
							</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="AppeasementOffer">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:GiftCard"/>
            </xsd:all>
            <xsd:attribute name="DiscountPercent"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The discount percentage of the offer.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OfferAmount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The total amount of the offer.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OfferType" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The type of the offer. Valid values are: <code>FLAT_AMOUNT_ORDER</code>, <code>PERCENT_ORDER</code>, <code>PERCENT_FUTURE_ORDER</code> and <code>VARIABLE_AMOUNT_ORDER</code>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Preferred" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Flag to indicate if the offer is the preferred offer. Valid values are: <code>Y</code> and <code>N</code>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GiftCard">
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The Currency in which the gift card has been issued.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpiryDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Expiry date for the gift card
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GiftCardNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The unique identifier for the gift card.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GiftCardValue" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The total value of the gift card.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
