Data/xapidocs/api_javadocs/XSD/YCD_getCustomerAccessibility_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getCustomerAccessibility/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getCustomerAccessibility/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getCustomerAccessibility_input.xsd" yfc:rootElement="Customer">
        <xsd:appinfo source="yfc:structure">
            <Customer hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Customer" type="yfc:CustomerXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER">
            <xsd:documentation>
                <div>
			        The <code>CustomerKey</code> attribute <i>or</i> the <code>CustomerID</code> and <code>OrganizationCode</code> attributes must be passed to identify the Customer.
			 		<Validation>
                        <Condition>If no customer matches the input</Condition>
                        <Error Description="Invalid Customer" ErrorCode="YCP0165"/>
                        <Condition>CustomerKey attribute or the CustomerID and OrganizationCode attributes are not passed</Condition>
                        <Error Description="Invalid input to API" ErrorCode="YCD00004"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerXSDType">
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>
                    <div>The identifier for the customer.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>
                    <div>The primary key for the YFS_CUSTOMER table.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>
                    <div>The organization code of organization that defines this customer.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
