Data/xapidocs/api_javadocs/XSD/YCD_getItemAvailabilityForStore_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getItemAvailabilityForStore/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getItemAvailabilityForStore/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getItemAvailabilityForStore_output.xsd" yfc:rootElement="Promise">
        <xsd:appinfo source="yfc:structure">
            <Promise>
                <PromiseLines>
                    <PromiseLine hasAttributes="Y">
                        <Availabilities hasAttributes="Y">
                            <Availability hasAttributes="Y"/>
                        </Availabilities>
                    </PromiseLine>
                </PromiseLines>
            </Promise>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Promise" type="yfc:PromiseXSDType"/>
    <xsd:complexType name="PromiseXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PromiseLines"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="PromiseLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PromiseLine"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PromiseLine">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Availabilities"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					The unique identifier for the item. 
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The product class associated with the item.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RequiredQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Requested quantity.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The unit of measure for item quantity. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Availabilities">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Availability"/>
            </xsd:all>
            <xsd:attribute name="HasAnyUnavailableQty"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										This flag indicates whether there are any unavailable quantities.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAvailabilityRealTimeData"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										This flag indicates whether availability is real time or cached data.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Availability">
        <xsd:complexType>
            <xsd:attribute name="AvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										Total available quantity in current store.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryMethod"
                type="yfctype:DeliveryMethod" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										DeliveryMethod used for obtaining the promise line.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EarliestShipDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										The earliest ship date available for the assignment.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasAnyUnavailableQty"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										This flag indicates whether there are any unavailable quantities.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductAvailDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										The latest product availability date of all the assignments.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductAvailableDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										 The unique identifier for the ship node. 
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeDescription"
                type="yfctype:Description-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										 The description of the ship node. 
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
