Data/xapidocs/api_javadocs/XSD/YCD_getPriceMatchDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getPriceMatchDetails_input.xsd" yfc:rootElement="PriceMatch">
        <xsd:appinfo source="yfc:structure">
            <PriceMatch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatch" type="yfc:PriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>
                <div>
			The details of the Price Match. To uniquely identify the Price Match <code>PriceMatchKey</code> should be passed
				<Validation>
                        <Condition>
                            <code>PriceMatchKey</code> is not passed.
					</Condition>
                        <Error Description="PriceMatchKey not passed." ErrorCode="YCD00010"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceMatchXSDType">
        <xsd:attribute name="CompetitorDiscounts" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_DISCOUNTS" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitors Discounts applied to order line</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitor Key that had the lower price</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorUnitPrice"
            type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_UNIT_PRICE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitors Price to be matched</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This the Currency for which is price is applied for the Item</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Enterprise that performed the price match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>When the price offered by the competitor expires. If not entered, this should default to 30 days.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The ItemId of the Item for which the price match was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Minimum quantity required to get the lower price</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceMatchDescription"
            type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_DESCRIPTION" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Stores a description of the price match for information about the price match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The status the Price Match is in</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UNIT_OF_MEASURE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The Unit Of Measure for the Item for which price Match is to be performed</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
