Data/xapidocs/api_javadocs/XSD/YCD_getCustomerAccessibility_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getCustomerAccessibility/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getCustomerAccessibility/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getCustomerAccessibility_output.xsd" yfc:rootElement="CustomerAccessibility">
        <xsd:appinfo source="yfc:structure">
            <CustomerAccessibility hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerAccessibility" type="yfc:CustomerAccessibilityXSDType"/>
    <xsd:complexType name="CustomerAccessibilityXSDType">
        <xsd:attribute name="TeamAccess" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Does the user's team have access to the provided customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserAccess" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Does the user have access to the provided customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
