Data/xapidocs/api_javadocs/XSD/YCD_getPriceMatchDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getPriceMatchDetails_output.xsd" yfc:rootElement="PriceMatch">
        <xsd:appinfo source="yfc:structure">
            <PriceMatch hasAttributes="Y">
                <Competitor hasAttributes="Y"/>
                <Item hasAttributes="Y">
                    <PrimaryInformation hasAttributes="Y"/>
                    <ComputedPrice hasAttributes="Y">
                        <QuantityRangePriceList>
                            <QuantityRangePrice hasAttributes="Y"/>
                        </QuantityRangePriceList>
                    </ComputedPrice>
                    <ItemAttributeGroupTypeList>
                        <ItemAttributeGroupType hasAttributes="Y">
                            <ItemAttributeGroupList>
                                <ItemAttributeGroup hasAttributes="Y">
                                    <ItemAttributeList>
                                    <ItemAttribute hasAttributes="Y"/>
                                    </ItemAttributeList>
                                </ItemAttributeGroup>
                            </ItemAttributeGroupList>
                        </ItemAttributeGroupType>
                    </ItemAttributeGroupTypeList>
                    <ItemAliasList>
                        <ItemAlias hasAttributes="Y"/>
                    </ItemAliasList>
                </Item>
            </PriceMatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatch" type="yfc:PriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This Table Stores information about the price of Items at which the competitors are offering items in different Regions</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceMatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Competitor"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
        </xsd:all>
        <xsd:attribute name="CompetitorDiscounts" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_DISCOUNTS" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitors Discounts applied to order line</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitor Key that had the lower price</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorUnitPrice"
            type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_UNIT_PRICE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitors Price to be matched</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This the Currency for which is price is applied for the Item</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Enterprise that performed the price match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>When the price offered by the competitor expires. If not entered, this should default to 30 days.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The ItemId of the Item for which the price match was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Minimum quantity required to get the lower price</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceMatchDescription"
            type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_DESCRIPTION" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Stores a description of the price match for information about the price match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The status the Price Match is in</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UNIT_OF_MEASURE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The Unit Of Measure for the Item for which price Match is to be performed</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Competitor">
        <xsd:annotation yfc:tableName="YFS_COMPETITOR">
            <xsd:documentation>This Table Store the Competitor Information used in a Price Match</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CompetitorDesc"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="COMPETITOR_DESC" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Competitor Description used for notes and descriptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CompetitorKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COMPETITOR_KEY" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>The primary key for the YFS_COMPETITOR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CompetitorName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COMPETITOR_NAME" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Competitor Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Enteprise that the Competitor is Competing with</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentPriceMatch"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation yfc:columnName="PERCENT_PRICE_MATCH" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Percentage of Price Match</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Authorization Status</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WebAddress" type="yfctype:URL-100" use="optional">
                <xsd:annotation yfc:columnName="WEB_ADDRESS" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Competitor Web Site</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ComputedPrice"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroupTypeList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAliasList"/>
            </xsd:all>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:ItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The item group code. Used to identify if the item is a Product, Provided Service, Provided Service Option, Delivery Service or Delivery Service Option.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_PRODUCT_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The default product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasProvidedServiceAssociated"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsDeliveryAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DELIVERY_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method DEL is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsModelItem" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MODEL_ITEM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates that the item is an item with variations (formerly known as a model item). An item with variations represents a group of items with similar set of attributes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PICKUP_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method PICK is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShippingAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method SHP is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsStandaloneService"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_STANDALONE_SERVICE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether a PS Item is standalone and does not require associations with product lines for it to be included on an order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderingQuantityStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDERING_QUANTITY_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the ordered quantity is arrived at for a service line.  Valid values: ENT - Based on the entered value on the order line; PROD - Based on the associated product line.  Default value: ENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ComputedPrice">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:QuantityRangePriceList"/>
            </xsd:all>
            <xsd:attribute name="ListPrice" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitPrice" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="QuantityRangePriceList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:QuantityRangePrice"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="QuantityRangePrice">
        <xsd:complexType>
            <xsd:attribute name="BreakQtyHigh" type="yfctype:String" use="optional"/>
            <xsd:attribute name="BreakQtyLow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitPrice" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupTypeList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroupType"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupType">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
            <xsd:documentation>This table stores item attribute group types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroupList"/>
            </xsd:all>
            <xsd:attribute name="ClassificationPurposeCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CLASSIFICATION_PURPOSE_CODE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The classification purpose this group type is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The description of this group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_TYPE_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR_GROUP_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroup"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroup">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP">
            <xsd:documentation>This table stores specification group definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeList"/>
            </xsd:all>
            <xsd:attribute name="ItemAttributeGroupID"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_ID" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The identification of the item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The sequence of the item attribute group within the item attribute group type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttribute"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttribute">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR">
            <xsd:documentation>This table stores item attribute definition for each item attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemAttributeDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The description of specification attribute on an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_NAME" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The name of the item attribute that the specification attribute represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The sequence of the specifcation attribute within the specification group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAliasList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAlias"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAlias">
        <xsd:annotation yfc:tableName="YFS_ITEM_ALIAS">
            <xsd:documentation>This table is used to cross-reference item id of one organization to another. It also stores all aliases for an item. One of the aliases can be designated as a "cross-referencing" alias.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AliasName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ALIAS_NAME" yfc:tableName="YFS_ITEM_ALIAS">
                    <xsd:documentation>Alias type. For example, UPC, EAN, MFG. CODE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AliasValue" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="ALIAS_VALUE" yfc:tableName="YFS_ITEM_ALIAS">
                    <xsd:documentation>Alias value for the corresponding alias name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
