Data/xapidocs/api_javadocs/XSD/YCD_getCompetitorDetailsUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getCompetitorDetailsUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getCompetitorDetailsUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getCompetitorDetailsUE_input.xsd" yfc:rootElement="Competitor">
        <xsd:appinfo source="yfc:structure">
            <Competitor hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Competitor" type="yfc:CompetitorXSDType">
        <xsd:annotation yfc:tableName="YFS_COMPETITOR">
            <xsd:documentation>
                <div>
			The details of the Competitor. To uniquely identify the Competitor, either <code>CompetitorKey</code> or <code>EnterpriseCode</code> and <code>CompetitorName</code> should be passed
				<Validation>
                        <Condition>
                            <code>CompetitorKey</code> is not passed.
					</Condition>
                        <Error Description="CompetitorKey not passed." ErrorCode="YCD00010"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CompetitorXSDType">
        <xsd:attribute name="CompetitorKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_KEY" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>The primary key for the YFS_COMPETITOR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_NAME" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>Competitor Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>Enteprise that the Competitor is Competing with</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
