Data/xapidocs/api_javadocs/XSD/YCD_applyPriceMatch_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/applyPriceMatch/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/applyPriceMatch/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_applyPriceMatch_output.xsd" yfc:rootElement="PriceMatch">
        <xsd:appinfo source="yfc:structure">
            <PriceMatch hasAttributes="Y">
                <Order hasAttributes="Y">
                    <OrderLine hasAttributes="Y">
                        <Notes>
                            <Note hasAttributes="Y"/>
                        </Notes>
                    </OrderLine>
                </Order>
            </PriceMatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatch" type="yfc:PriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This Table Stores information about the price of Items at which the competitors are offering items in different Regions</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceMatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
        </xsd:all>
        <xsd:attribute name="Competitor" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This the Currency for which is price is applied for the Item</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Enterprise that performed the price match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>When the price offered by the competitor expires. If not entered, this should default to 30 days.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The ItemId of the Item for which the price match was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Minimum quantity required to get the lower price</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewUnitPrice" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NoHassleOverridden" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="NO_HASSLE_OVERRIDDEN" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This is to indicate that the data which is being entered follows Enterprise rules for Price Match or Not</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionCity" type="yfctype:City" use="optional">
            <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>If the price that was matched is only offered in a specific region, this field should store the region's city</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionState" type="yfctype:State" use="optional">
            <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>If the price that was matched is only offered in a specific region, this field should store the region's state.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShippingCharges" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
            <xsd:attribute name="CallingOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Calling Organization Code</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Notes"/>
            </xsd:all>
            <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>Enterprise that performed the price match</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the operation(create, modify, delete) to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchCompetitor"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Competitor  for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchCurrency"
                type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This the Currency for which is price is applied for the Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchMinQuantity"
                type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Minimum Quantity for which price Match is to be performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchPrice" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Final price allowed for the price match (incorporates shipping charges)</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceMatchShippingCharge"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                    <xsd:documentation>This is the Shipping Charges difference of Retailer and Competitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Notes">
        <xsd:annotation yfc:tableName="YFS_NOTES">
            <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Note"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Note">
        <xsd:annotation yfc:tableName="YFS_NOTES">
            <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
