Data/xapidocs/api_javadocs/XSD/YCD_getBatchPickPriorityUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getBatchPickPriorityUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getBatchPickPriorityUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getBatchPickPriorityUE_output.xsd" yfc:rootElement="ShipmentLines">
        <xsd:appinfo source="yfc:structure">
            <ShipmentLines>
                <ShipmentLine hasAttributes="Y"/>
            </ShipmentLines>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipmentLines" type="yfc:ShipmentLinesXSDType"/>
    <xsd:complexType name="ShipmentLinesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:ShipmentLine"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ShipmentLine">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>Stores information about shipment lines. Shipment lines are created using createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchPickPriority" use="optional">
                <xsd:annotation yfc:columnName="BATCH_PICK_PRIORITY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the priority in which the shipment line is picked when the shipment line is included in a batch.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:LineNo"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The shipment key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>A part of the primary key . The shipment line number is unique for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSubLineNo"
                type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This is a part of the unique key. ShipmentSubLineNo along with the ShipmentLineNo is used to identify the logical kit component shipment line. The value of this field is zero - for kit parent shipment lines and shipment lines with items that are not kit components, and greater than zero if the the shipment line corresponds to a logical kit component item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
