Data/xapidocs/api_javadocs/XSD/YCD_verifyAddress_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/verifyAddress/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/verifyAddress/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_verifyAddress_input.xsd" yfc:rootElement="PersonInfo">
        <xsd:appinfo source="yfc:structure">
            <PersonInfo hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PersonInfo" type="yfc:PersonInfoXSDType">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PersonInfoXSDType">
        <xsd:attribute name="AVSMode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The <code>AVSMode</code> determines how to handle the possibility of multiple values returned from the Address Verification System. The values for <code>AVSMode</code> are: <code>SINGLE</code> and <code>MULTIPLE</code>. If called in <code>SINGLE</code> mode, and multiple records are returned from the Address Verification System, this record will be marked as failed verification. If called in <code>MULTIPLE</code> mode, multiple returned records from the Address Verification System are allowed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
            <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The address line 1 field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
            <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The address line 2 field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
            <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The address line 3 field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
            <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The address line 4 field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
            <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The address line 5 field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
            <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The address line 6 field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlternateEmailID" type="yfctype:EMailID" use="optional">
            <xsd:annotation yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
            <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="City" type="yfctype:City" use="optional">
            <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The city in the address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Company" type="yfctype:Company" use="optional">
            <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The company this person is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Country" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The country in the address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
            <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
            <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Department" type="yfctype:Department" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
            <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The <code>EnterpriseCode</code> determines the enterprise for which the address is being verified. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
            <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
            <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FirstName" type="yfctype:PersonName" use="optional">
            <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The first name of the person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
            <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JobTitle" type="yfctype:Title-40" use="optional">
            <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The job title of the person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastName" type="yfctype:PersonName" use="optional">
            <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The last name of the person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Latitude" use="optional">
            <xsd:annotation yfc:columnName="LATITUDE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The latitude of this location.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:DecimalWithNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Longitude" use="optional">
            <xsd:annotation yfc:columnName="LONGITUDE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The longitude of this location.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:DecimalWithNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MiddleName" type="yfctype:MiddleName" use="optional">
            <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The middle name of the person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
            <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OtherPhone" type="yfctype:PhoneNo" use="optional">
            <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
            <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The unique identifier for a person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PersonInfoKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PERSON_INFO_KEY" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The primary key for the YFS_PERSON_INFO table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="State" type="yfctype:State" use="optional">
            <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The state in the address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
            <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
            <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
            <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>The zip code in the address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
