Data/xapidocs/api_javadocs/XSD/YCD_getPriceMatchCompetitors_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchCompetitors/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchCompetitors/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getPriceMatchCompetitors_output.xsd" yfc:rootElement="PriceMatchCompetitors">
        <xsd:appinfo source="yfc:structure">
            <PriceMatchCompetitors>
                <PriceMatchCompetitor hasAttributes="Y"/>
            </PriceMatchCompetitors>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatchCompetitors" type="yfc:PriceMatchCompetitorsXSDType"/>
    <xsd:complexType name="PriceMatchCompetitorsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PriceMatchCompetitor"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PriceMatchCompetitor">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>
                <div/>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Competitor" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This is the CompetitorName</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
