Data/xapidocs/api_javadocs/XSD/YCD_listOrderLinePriceMatch_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/listOrderLinePriceMatch/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/listOrderLinePriceMatch/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_listOrderLinePriceMatch_input.xsd" yfc:rootElement="OrderLinePriceMatch">
        <xsd:appinfo source="yfc:structure">
            <OrderLinePriceMatch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderLinePriceMatch" type="yfc:OrderLinePriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE_PRICE_MATCH">
            <xsd:documentation>This Table is a hang off table for the yfs_order_line table and stores the information about the price match and the relationship between Order Line and Price Match</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderLinePriceMatchXSDType">
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_LINE_PRICE_MATCH">
                <xsd:documentation>Order header key for this order line price match record</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_ORDER_LINE_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
