Data/xapidocs/api_javadocs/XSD/YCD_getDashboardContentForStore_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getDashboardContentForStore/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getDashboardContentForStore/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getDashboardContentForStore_input.xsd" yfc:rootElement="Dashboard">
        <xsd:appinfo source="yfc:structure">
            <Dashboard hasAttributes="Y">
                <Element hasAttributes="Y"/>
                <Attributes>
                    <Attribute hasAttributes="Y">
                        <Description>
                            <div>
                                <Validation>
                                    <Condition>
                                    <code/>
                                    </Condition>
                                    <Error hasAttributes="Y"/>
                                </Validation>
                            </div>
                        </Description>
                    </Attribute>
                </Attributes>
            </Dashboard>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Dashboard" type="yfc:DashboardXSDType"/>
    <xsd:complexType name="DashboardXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Element"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attributes"/>
        </xsd:all>
        <xsd:attribute name="AssignedToUserId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="required"/>
        <xsd:attribute name="ShipNode" type="yfctype:String" use="required"/>
    </xsd:complexType>
    <xsd:element name="Element">
        <xsd:complexType>
            <xsd:attribute name="EntityName" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attributes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attribute"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Description"/>
            </xsd:all>
            <xsd:attribute name="Name" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Description">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:div"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="div">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Validation"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Validation">
        <xsd:annotation yfc:tableName="YFS_VALIDATION">
            <xsd:documentation>This table stores the configuration for a validation</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Condition"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Error"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Condition">
        <xsd:annotation yfc:tableName="YFS_CONDITION">
            <xsd:documentation>This table stores various conditions created in the sytem during scenario modelling.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:code"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="code">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="Error">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR">
            <xsd:documentation>This table stores infomation about the interop reprocessable errors.  When a service is configured to reprocess errors, the IntegrationServer populates this table with the appropriate error message and the input XML. This information is displayed in the exception console and the user can correct the XML and reprocess the error.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" use="optional">
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:String">
                        <xsd:enumeration value="CountType"/>
                        <xsd:enumeration value="is"/>
                        <xsd:enumeration value="mandatory."/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ErrorCode" type="yfctype:ErrorCode-128" use="optional">
                <xsd:annotation yfc:columnName="ERRORCODE" yfc:tableName="YFS_REPROCESS_ERROR">
                    <xsd:documentation>The error code of the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
