Data/xapidocs/api_javadocs/XSD/YCD_getOrderLinesForPriceMatch_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getOrderLinesForPriceMatch/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getOrderLinesForPriceMatch/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getOrderLinesForPriceMatch_output.xsd" yfc:rootElement="PriceMatch">
        <xsd:appinfo source="yfc:structure">
            <PriceMatch hasAttributes="Y">
                <OrderLineList>
                    <AvailableOrderLines>
                        <OrderLine hasAttributes="Y">
                            <Order hasAttributes="Y"/>
                            <Item hasAttributes="Y"/>
                            <LinePriceInfo hasAttributes="Y"/>
                        </OrderLine>
                    </AvailableOrderLines>
                    <UnavailableOrderLines>
                        <OrderLine hasAttributes="Y">
                            <Order hasAttributes="Y"/>
                            <Item hasAttributes="Y"/>
                            <LinePriceInfo hasAttributes="Y"/>
                        </OrderLine>
                    </UnavailableOrderLines>
                </OrderLineList>
            </PriceMatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatch" type="yfc:PriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This Table Stores information about the price of Items at which the competitors are offering items in different Regions</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceMatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLineList"/>
        </xsd:all>
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLineList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AvailableOrderLines"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UnavailableOrderLines"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AvailableOrderLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="OrderLine">
                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                        <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Order">
                                <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="DocumentType"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="EnterpriseCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OrderHeaderKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OrderNo"
                                    type="yfctype:VarcharDocumentNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Item">
                                <xsd:annotation yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The table stores product information.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="LinePriceInfo">
                                <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="ActualPricingQty"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ACTUAL_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The actual pricing quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DiscountPercentage"
                                    type="yfctype:Percentage" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DISCOUNT_PERCENTAGE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The discount percentage is the percentage decrease in price between the list and unit price for a given buyer. This value is calculated by subtracting the difference between the list price and unit price and divided by the list price.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DiscountReference"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DISCOUNT_REFERENCE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The reference number for the discount.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="DiscountType"
                                    type="yfctype:Text-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DISCOUNT_TYPE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The type of discount used.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InvoicedLineTotal"
                                    type="yfctype:Money" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INVOICED_LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The total invoiced amount for the line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InvoicedPricingQty"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INVOICED_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The invoiced pricing quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="IsPriceLocked"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This flag indicates whether UnitPrice passed at LinePriceInfo element must be used and price determination ignored, if price determination is configured and enabled. Valid values are 'Y' or 'N'. Default value is 'N'.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LineTotal"
                                    type="yfctype:Money" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The grand total for the line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ListPrice"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>the list price of the item. This is an informational field.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OrderedPricingQty"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The pricing quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PricingQtyConversionFactor"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICING_QUANTITY_CONV_FACTOR" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The pricing quantity conversion factor. This field is used for finding Pricing_Quantity, using Ordered_Quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PricingQuantityStrategy"
                                    type="yfctype:EnumPricingQuantityStrategy" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICING_QUANTITY_STRATEGY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The pricing quantity strategy.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PricingUOM"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICING_UOM" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The pricing UOM for the order line. If "PricingUOM" is not passed it will be defaulted from Catalog. If "PricingUOM" is passed and different from inventory uom, "PricingQtyConversionFactor" attribute will be used for pricing quantity conversion. If "PricingQtyConversionFactor" is not passed it will be considered as zero.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="RepricingQty" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REPRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>Represents the quantity that can be used for pricing the item. Typically, the price lists are based on the total purchase quantity. But if some quantity is cancelled because of inventory shortage (non customer fault), the pricing quantity (which is based on the ordered quantity) changes, but repricing_quantity is not changed.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Quantity"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="RetailPrice"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The retail price of the item. this is an informational field.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SettledAmount"
                                    type="yfctype:Money" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SETTLED_AMOUNT" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The amount which should be settled before it is actually invoiced.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SettledQuantity"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SETTLED_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The quantity which should be settled before it is actually invoiced.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Tax"
                                    type="yfctype:Money" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TAX" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The tax associated with the line. This is summed from the line taxes.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="TaxableFlag"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This flag indicates whether this order line is taxable or not. This field is for informational purposes only. Currently, it is not used in any tax calculations. If not passed, this flag is defaulted to that of item in the catalog, if exists, else it is defaulted to "N".</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitPrice"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderedQty"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PrimeLineNo"
                            type="yfctype:LineNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The order line number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SubLineNo"
                            type="yfctype:LineNo" use="optional">
                            <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The sub line number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UnavailableOrderLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="OrderLine">
                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                        <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Order">
                                <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="DocumentType"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="EnterpriseCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OrderHeaderKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OrderNo"
                                    type="yfctype:VarcharDocumentNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Item">
                                <xsd:annotation yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The table stores product information.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="LinePriceInfo">
                                <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="ActualPricingQty"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ACTUAL_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The actual pricing quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DiscountPercentage"
                                    type="yfctype:Percentage" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DISCOUNT_PERCENTAGE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The discount percentage is the percentage decrease in price between the list and unit price for a given buyer. This value is calculated by subtracting the difference between the list price and unit price and divided by the list price.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DiscountReference"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DISCOUNT_REFERENCE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The reference number for the discount.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="DiscountType"
                                    type="yfctype:Text-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DISCOUNT_TYPE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The type of discount used.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InvoicedLineTotal"
                                    type="yfctype:Money" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INVOICED_LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The total invoiced amount for the line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InvoicedPricingQty"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INVOICED_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The invoiced pricing quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="IsPriceLocked"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This flag indicates whether UnitPrice passed at LinePriceInfo element must be used and price determination ignored, if price determination is configured and enabled. Valid values are 'Y' or 'N'. Default value is 'N'.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LineTotal"
                                    type="yfctype:Money" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The grand total for the line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ListPrice"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>the list price of the item. This is an informational field.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OrderedPricingQty"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The pricing quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PricingQtyConversionFactor"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICING_QUANTITY_CONV_FACTOR" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The pricing quantity conversion factor. This field is used for finding Pricing_Quantity, using Ordered_Quantity.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PricingQuantityStrategy"
                                    type="yfctype:EnumPricingQuantityStrategy" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICING_QUANTITY_STRATEGY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The pricing quantity strategy.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PricingUOM"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICING_UOM" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The pricing UOM for the order line. If "PricingUOM" is not passed it will be defaulted from Catalog. If "PricingUOM" is passed and different from inventory uom, "PricingQtyConversionFactor" attribute will be used for pricing quantity conversion. If "PricingQtyConversionFactor" is not passed it will be considered as zero.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="RepricingQty" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REPRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>Represents the quantity that can be used for pricing the item. Typically, the price lists are based on the total purchase quantity. But if some quantity is cancelled because of inventory shortage (non customer fault), the pricing quantity (which is based on the ordered quantity) changes, but repricing_quantity is not changed.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Quantity"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="RetailPrice"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The retail price of the item. this is an informational field.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SettledAmount"
                                    type="yfctype:Money" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SETTLED_AMOUNT" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The amount which should be settled before it is actually invoiced.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SettledQuantity"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SETTLED_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The quantity which should be settled before it is actually invoiced.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Tax"
                                    type="yfctype:Money" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TAX" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The tax associated with the line. This is summed from the line taxes.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="TaxableFlag"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>This flag indicates whether this order line is taxable or not. This field is for informational purposes only. Currently, it is not used in any tax calculations. If not passed, this flag is defaulted to that of item in the catalog, if exists, else it is defaulted to "N".</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitPrice"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderedQty"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PrimeLineNo"
                            type="yfctype:LineNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The order line number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SubLineNo"
                            type="yfctype:LineNo" use="optional">
                            <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The sub line number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
