Data/xapidocs/api_javadocs/XSD/YCD_getTrackingNumberURLUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getTrackingNumberURLUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getTrackingNumberURLUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getTrackingNumberURLUE_output.xsd" yfc:rootElement="TrackingNumbers">
        <xsd:appinfo source="yfc:structure">
            <TrackingNumbers>
                <TrackingNumber hasAttributes="Y"/>
            </TrackingNumbers>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TrackingNumbers" type="yfc:TrackingNumbersXSDType"/>
    <xsd:complexType name="TrackingNumbersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:TrackingNumber"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="TrackingNumber">
        <xsd:complexType>
            <xsd:attribute name="RequestNo" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							This is a field available in both input and output of this user exit. This field will be used to uniquely identify the proper URL for a tracking number
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="URL" type="yfctype:Text-250" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							This field will give a unique URL, which will take user to corresponding carrier web sites.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
