Data/xapidocs/api_javadocs/XSD/YCD_getAssociationRelationshipList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getAssociationRelationshipList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getAssociationRelationshipList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getAssociationRelationshipList_input.xsd" yfc:rootElement="AsscRelationship">
        <xsd:appinfo source="yfc:structure">
            <AsscRelationship hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AsscRelationship" type="yfc:AsscRelationshipXSDType">
        <xsd:annotation yfc:tableName="YFS_ASSC_RELATIONSHIP">
            <xsd:documentation>This table will contain the RelationshipType to be used for an association type</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AsscRelationshipXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>This is the enterprise code for which all the item association relationship is to be listed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                <xsd:documentation>This is the document type for which all the item association relationships listed belong too.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_ASSC_RELATIONSHIP">
                <xsd:documentation>This is the relationship type for which all the association relationship is to be listed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
