Data/xapidocs/api_javadocs/XSD/YCD_registerBarcodeForPacking_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/registerBarcodeForPacking/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/registerBarcodeForPacking/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_registerBarcodeForPacking_output.xsd" yfc:rootElement="BarCode">
        <xsd:appinfo source="yfc:structure">
            <BarCode hasAttributes="Y">
                <Shipment hasAttributes="Y">
                    <ShipmentLine hasAttributes="Y">
                        <ContainerDetail hasAttributes="Y"/>
                    </ShipmentLine>
                    <Containers>
                        <Container hasAttributes="Y">
                            <ContainerDetails>
                                <ContainerDetail hasAttributes="Y">
                                    <ShipmentLine hasAttributes="Y">
                                    <ShipmentLineInvAttRequest hasAttributes="Y"/>
                                    </ShipmentLine>
                                </ContainerDetail>
                            </ContainerDetails>
                        </Container>
                    </Containers>
                </Shipment>
            </BarCode>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="BarCode" type="yfc:BarCodeXSDType"/>
    <xsd:complexType name="BarCodeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
        </xsd:all>
        <xsd:attribute name="BarCodeData" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>BarCode data translated</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BarCodeType" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="BARCODE_TYPE" yfc:tableName="YFS_BARCODE_TRANSLATION">
                <xsd:documentation>This identifies the data type of the field being scanned in the UI. BarCodeDataType attribute in the yfsdatatypes.xml must be set to one of the two values. For an exhaustive listing of supported data types, see Appendix A. All supported bar code types are available under common code of type 'BARCODE_TYPE'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ShipmentLine">
                    <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
                        <xsd:documentation>Stores information about shipment lines. Shipment lines are created using createShipment or changeShipment API.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ContainerDetail">
                                <xsd:annotation yfc:tableName="YFS_CONTAINER_DETAILS">
                                    <xsd:documentation>Stores information about containerized shipment lines.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="ContainerDetailsKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTAINER_DETAILS_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                    <xsd:documentation>The primary key for the YFS_CONTAINER_DETAILS table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUANTITY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                    <xsd:documentation>The quantity of the item packed in this container.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="QuantityPlaced"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUANTITY_PLACED" yfc:tableName="YFS_CONTAINER_DETAILS">
                                    <xsd:documentation>The quantity placed into the container.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ShipmentContainerKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                    <xsd:documentation>The shipment container key that is associated with this container details.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ShipmentLineKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                    <xsd:documentation>The shipment line key that is associated with this container details.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="IsPackComplete"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="IS_PACK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                                <xsd:documentation>This field indicates whether the packing of shipment line is complete.The filed will be Y when the container packing is complete</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PlacedQuantity"
                            type="yfctype:String" use="optional"/>
                        <xsd:attribute name="Quantity"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_SHIPMENT_LINE">
                                <xsd:documentation>The shipment line quantity. Entering a quantity is mandatory when creating a shipment line.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                                <xsd:documentation>The primary key for the YFS_SHIPMENT_LINE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Containers"/>
            </xsd:sequence>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Containers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Container"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerDetails"/>
            </xsd:all>
            <xsd:attribute name="ActualFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the freight charge as arrived at by the carrier server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualNoOfReturnLabels" use="optional">
                <xsd:annotation
                    yfc:columnName="ACTUAL_NO_OF_RETURN_LABELS" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>Indicates the number of return labels that got generated during the manifest process of the container.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ActualWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The actual weight of container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the actual weight of the container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppliedWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="APPLIED_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the weight that was used for freight charge calculations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppliedWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="APPLIED_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of weight specified in APPLIED_WEIGHT attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AstraCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ASTRA_CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BarcodeDiscount" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="BARCODE_DISCOUNT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BasicFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="BASIC_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CODReturnTrackingNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="COD_RETURN_TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The tracking number for the COD return. If carrier integration is availed for the carrier on the shipment, then this information is returned by the FedEx carrier server. This is a unique number assigned to each container that can be used to track individual containers of a shipment in case of return.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarriageValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="CARRIAGE_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerGrossWeight"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_GROSS_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The weight of the container, inclusive of weights of items and packing material used, if any. The unit of weight is as specified by the CONTAINER_GROSS_WEIGHT_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerGrossWeightUOM"
                type="yfctype:UOM" use="optional">
                <xsd:annotation
                    yfc:columnName="CONTAINER_GROSS_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of weight specified in CONTAINER_GROSS_WEIGHT attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerGroup"
                type="yfctype:EnumContainerGroup" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_GROUP" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The container group of the container. This can be either SHIPMENT, LOAD, or INVENTORY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerHeight"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_HEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The height of the container. The units of height are as specified by the CONTAINER_HEIGHT_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerHeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_HEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of height specified in CONTAINER_HEIGHT attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerLength"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_LENGTH" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The length of the container. The units of length are as specified by the CONTAINER_LENGTH_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerLengthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_LENGTH_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of length specified in CONTAINER_LENGTH attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNetWeight"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NET_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The weight of just the items in the container. This does not include weight of the packing material. The unit of weight is as specified by the CONTAINER_NET_WEIGHT_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNetWeightUOM"
                type="yfctype:UOM" use="optional">
                <xsd:annotation
                    yfc:columnName="CONTAINER_NET_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of weight specified in CONTAINER_NET_WEIGHT attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>A unique number which helps identify the shipper as well as the goods.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerSeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_SEQ_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerType" type="yfctype:Text-6" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_TYPE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The type of container. You could use it as an attribute to group containers - either based on size of the container, type of goods that it carries, and so forth.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerWidth"
                type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_WIDTH" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The width of the container. The units of width are as specified by the CONTAINER_WIDTH_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerWidthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_WIDTH_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The unit of measure for the units of width specified in CONTAINER_WIDTH attribute of this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomsValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMS_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeclaredValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="DECLARED_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The value of the container as declared on the carrier manifest for insurance purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DimmedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DIMMED_FLAG" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscountAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_AMOUNT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportLicenseExpDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_LICENSE_EXP_DATE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The export license expiration date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportLicenseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_LICENSE_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The license number if the container is meant for export.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasOtherContainers" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_OTHER_CONTAINERS" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This flag indicates whether this container is a parent container. Parent containers have other containers.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IncludedInInventoryPallet"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Indicates if the shipment container is included in Inventory pallet.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHazmat" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HAZMAT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>Indicates whether the shipment container contains hazardous items or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsManifested" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MANIFESTED" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This flag indicates whether container is manifested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPackProcessComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PACK_PROCESS_COMPLETE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This flag indicates whether any more pack activities are pending for the container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsReceived" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RECEIVED" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This flag indicates whether a shipment is received at a receiving node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The load key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OversizedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OVERSIZED_FLAG" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentContainerGroup"
                type="yfctype:EnumContainerGroup" use="optional">
                <xsd:annotation yfc:columnName="PARENT_CONTAINER_GROUP" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The Container group that encloses the current container. Can be either SHIPMENT, LOAD, or INVENTORY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentContainerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The parent container key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentContainerNo" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="PARENT_CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>A container that encloses the current container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiredNoOfReturnLabels" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRED_NO_OF_RETURN_LABELS" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>Indicates the number of return labels required by the container.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RoutingCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ROUTING_CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The carrier name to which the container got manifested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_CONTAINER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpecialServicesSurcharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="SPECIAL_SERVICES_SURCHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The information returned by the carrier server if carrier server integration is availed for the shipment. This indicates the special service charge levied for the special services selected.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemSuggested" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SYSTEM_SUGGESTED" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This flag indicates whether this container was suggested by the contanerization API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The tracking number. If carrier integration is availed for the carrier on the shipment, then this information is returned by the carrier server. This is a unique number assigned to each container that can be used to track individual containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Ucc128code" type="yfctype:UCC128" use="optional">
                <xsd:annotation yfc:columnName="UCC128CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Zone" type="yfctype:Text-15" use="optional">
                <xsd:annotation yfc:columnName="ZONE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContainerDetail">
                    <xsd:annotation yfc:tableName="YFS_CONTAINER_DETAILS">
                        <xsd:documentation>Stores information about containerized shipment lines.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShipmentLine">
                                <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>Stores information about shipment lines. Shipment lines are created using createShipment or changeShipment API.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" ref="yfc:ShipmentLineInvAttRequest"/>
                                    </xsd:all>
                                    <xsd:attribute name="DocumentType"
                                    type="yfctype:String" use="optional"/>
                                    <xsd:attribute name="IsHazmat"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="IS_HAZMAT" yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>Indicates whether the shipment line is for hazardous item or not.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ItemDesc"
                                    type="yfctype:Text-500" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_DESCRIPTION" yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>The description of item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OrderNo"
                                    type="yfctype:VarcharDocumentNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>The order number corresponding to the order for the shipment line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PrimeLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>The prime line number of the corresponding order line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ReleaseNo"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>The release number of the order release for the shipment line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ShipmentLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIPMENT_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>A part of the primary key . The shipment line number is unique for a shipment.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ShipmentSubLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIPMENT_SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>This is a part of the unique key. ShipmentSubLineNo along with the ShipmentLineNo is used to identify the logical kit component shipment line. The value of this field is zero - for kit parent shipment lines and shipment lines with items that are not kit components, and greater than zero if the the shipment line corresponds to a logical kit component item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SubLineNo"
                                    type="yfctype:LineNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                                    <xsd:documentation>The sub line number of the corresponding order line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="ContainerDetailsKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="CONTAINER_DETAILS_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                <xsd:documentation>The primary key for the YFS_CONTAINER_DETAILS table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ItemID"
                            type="yfctype:ItemID" use="optional">
                            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_CONTAINER_DETAILS">
                                <xsd:documentation>The identifier of one of the items in the container. This field is a part of the unique key. The ITEM_ID can be same as the SHIPMENT_LINE or it can be different in case of logical kit components.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ProductClass"
                            type="yfctype:ProductClass" use="optional">
                            <xsd:annotation
                                yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_CONTAINER_DETAILS">
                                <xsd:documentation>The product class of the item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Quantity"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                <xsd:documentation>The quantity of the item packed in this container.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentContainerKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                <xsd:documentation>The shipment container key that is associated with this container details.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                <xsd:documentation>The shipment key that is associated with this container details.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                                <xsd:documentation>The shipment line key that is associated with this container details.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UnitOfMeasure"
                            type="yfctype:UOM" use="optional">
                            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_CONTAINER_DETAILS">
                                <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLineInvAttRequest">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
            <xsd:documentation>This table stores requested inventory attributes of an item on a shipment line .</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
