Data/xapidocs/api_javadocs/XSD/YCD_getPriceMatchDetailsUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchDetailsUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getPriceMatchDetailsUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getPriceMatchDetailsUE_output.xsd" yfc:rootElement="PriceMatch">
        <xsd:appinfo source="yfc:structure">
            <PriceMatch hasAttributes="Y">
                <Competitor hasAttributes="Y"/>
            </PriceMatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatch" type="yfc:PriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This Table Stores information about the price of Items at which the competitors are offering items in different Regions</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceMatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Competitor"/>
        </xsd:all>
        <xsd:attribute name="CompetitorDiscounts" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_DISCOUNTS" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitors Discounts applied to order line</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitor Key that had the lower price</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorUnitPrice"
            type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_UNIT_PRICE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Competitors Price to be matched</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This the Currency for which is price is applied for the Item</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Enterprise that performed the price match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>When the price offered by the competitor expires. If not entered, this should default to 30 days.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The ItemId of the Item for which the price match was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimumQuantity" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="MINIMUM_QUANTITY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Minimum quantity required to get the lower price</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoHassleOverridden" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="NO_HASSLE_OVERRIDDEN" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>This is to indicate that the data which is being entered follows Enterprise rules for Price Match or Not</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceMatchDescription"
            type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_DESCRIPTION" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>Stores a description of the price match for information about the price match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionCity" type="yfctype:City" use="optional">
            <xsd:annotation yfc:columnName="REGION_CITY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>If the price that was matched is only offered in a specific region, this field should store the region's city</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionState" type="yfctype:State" use="optional">
            <xsd:annotation yfc:columnName="REGION_STATE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>If the price that was matched is only offered in a specific region, this field should store the region's state.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The status the Price Match is in</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UNIT_OF_MEASURE" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The Unit Of Measure for the Item for which price Match is to be performed</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Competitor">
        <xsd:annotation yfc:tableName="YFS_COMPETITOR">
            <xsd:documentation>This Table Store the Competitor Information used in a Price Match</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CompetitorDesc"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="COMPETITOR_DESC" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Competitor Description used for notes and descriptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CompetitorKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COMPETITOR_KEY" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>The primary key for the YFS_COMPETITOR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CompetitorName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COMPETITOR_NAME" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Competitor Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Enteprise that the Competitor is Competing with</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentPriceMatch"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation yfc:columnName="PERCENT_PRICE_MATCH" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Percentage of Price Match</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:Status" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Authorization Status</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WebAddress" type="yfctype:URL-100" use="optional">
                <xsd:annotation yfc:columnName="WEB_ADDRESS" yfc:tableName="YFS_COMPETITOR">
                    <xsd:documentation>Competitor Web Site</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
