Data/xapidocs/api_javadocs/XSD/YCD_PromotionValidationUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/PromotionValidationUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/PromotionValidationUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_PromotionValidationUE_output.xsd" yfc:rootElement="Promotion">
        <xsd:appinfo source="yfc:structure">
            <Promotion hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Promotion" type="yfc:PromotionXSDType">
        <xsd:annotation yfc:tableName="YFS_PROMOTION">
            <xsd:documentation>This table stores information regarding promotions that are associated to an order or any of its lines.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PromotionXSDType">
        <xsd:attribute name="ResultMessage" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Result of the promotion validation</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Valid" use="optional">
            <xsd:annotation>
                <xsd:documentation>The validity of the promotion</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:String">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
