Data/xapidocs/api_javadocs/XSD/YCD_getNewBatchesUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getNewBatchesUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getNewBatchesUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getNewBatchesUE_input.xsd" yfc:rootElement="StoreBatch">
        <xsd:appinfo source="yfc:structure">
            <StoreBatch hasAttributes="Y">
                <ConfigureBatchBy>
                    <Attribute hasAttributes="Y"/>
                </ConfigureBatchBy>
                <SortLinesBy>
                    <Attribute hasAttributes="Y"/>
                </SortLinesBy>
                <ShipmentLine hasAttributes="Y">
                    <Shipment hasAttributes="Y"/>
                </ShipmentLine>
                <ShipmentIndexLookup hasAttributes="Y"/>
            </StoreBatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StoreBatch" type="yfc:StoreBatchXSDType">
        <xsd:annotation yfc:tableName="YFS_STORE_BATCH">
            <xsd:documentation>This table stores the batches for Web Store. A batch consists of multiple shipment lines which can be picked together.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StoreBatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConfigureBatchBy"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SortLinesBy"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLine"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentIndexLookup"/>
        </xsd:all>
        <xsd:attribute name="ApplicationName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							The identifier of the application for which the state is being used for creating batches.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignedToUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_ID" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>
                    <div>
							The user who is creating batches. <br/>
                        <!-- This attribute is validated only when <code>GetNewBatches=Y</code>.<br/> -->
							If <code>MaxNumberOfShipments</code> is not passed in the input, it is fetched from <code>PLT_USER_UI_STATE</code> table for this user.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryMethod" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							 Batches with matching delivery method will be listed.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Department" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Batches with matching department will be listed.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DoNotSplitShipment" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Valid values Y/N. <br/>
							If Y, the API will not split the shipment in different batches. It will keep all the shipment lines of a shipment in the same batch even if the batching and sorting attributes of the lines are different.<br/>
							Default Value is N.<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GetBatchesOfAllUsers" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Valid values Y/N. <br/>This is applicable for fetching existing batches only.<br/>
							If Y is passed, then existing batches of that ship node will be listed. <br/>
							If N is passed, then only existing batches assigned to that user will be listed<br/>
							Default Value is N.<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GetExistingBatches" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Valid values Y/N. <br/>
							If Y, the API will query <code>YFS_BATCH</code> table to get already existing batches.<br/>
							Default Value is Y.<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GetNewBatches" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Valid values Y/N. <br/>
							If Y, the API will query <code>YFS_SHIPMENT_LINE</code> table to form batches of unpicked lines.<br/>
							Default Value is N.<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxNumberOfShipments" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							This is the maximum number of shipments that can be in a batch. <br/>
							This attribute is considered only when <code>GetNewBatches=Y</code>.<br/>
							If not passed, then this value is obtained from <code>Definition</code> column of <code>PLT_USER_UI_STATE</code> table with 
							<code>ApplicationName=WSC,ComponentName=BATCH_MAX_SHIPMENTS,ScreenName=ALL and LoginId=AssignedToUserId</code>
							If no value if stored in  <code>PLT_USER_UI_STATE</code>, then a default value of 10 is used.
							<Validation>
                            <Condition>
                                <code>MaxNumberOfShipments</code> should be a valid number number greater than 0.
								</Condition>
                            <Error Description="Invalid Number." ErrorCode="YFS10322"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoOfShipmentLinesForNewBatch"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							This attribute puts a limit on the number of shipment lines which will form new batches. <br/>
							This attribute is considered only when <code>GetNewBatches=Y</code>.<br/>
							Default value is 3000.
							<Validation>
                            <Condition>
                                <code>NoOfShipmentLinesForNewBatch</code> should be a valid number greater than 0.
								</Condition>
                            <Error Description="Invalid Number." ErrorCode="YFS10322"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>
                    <div>
							The ship node's organization code to which this batch belongs.
							This attribute is validated only when <code>GetNewBatches=Y</code>.<br/>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> is mandatory.
								</Condition>
                            <Error
                                Description="OrganizationCode is mandatory." ErrorCode="YDM000162"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> should be a valid ship node.
								</Condition>
                            <Error Description="YFS:Invalid Node" ErrorCode="YFS10048"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>
                    <div>
							This attribute is considered only when <code>GetExistingBatches=Y</code>. If value is 
							<code>1100</code> - open status, in-progress batches will be listed<br/>
                        <code>2000</code> - picked but not yet staged batches will be listed<br/>
                        <code>3000</code> - completed batches will be listed<br/>
                        <code>9000</code> - cancelled batches will be listed<br/>
							If value is not passed then batches in all the statuses will be listed<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ConfigureBatchBy">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				This ConfigureBatchBy element is used to create new batches based on the attributes passed. This element is considered only when GetNewBatches=Y.
				 Having many attributes in ConfigureBatchBy element may have performance implications when large number of shipment lines are to be included in the batches.
				 If no ConfigureBatchBy element is passed, then default attributes used are DepartmentCode of ShipmentLine entity and EnterpriseCode of Shipment entity. 
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="Attribute">
                    <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                        <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Entity"
                            type="yfctype:Text-32" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Name of the entity. This can be either Shipment or ShipmentLine.
                        <Validation>
                                    <Condition>
                                    <code>Entity</code> should be passed. It should either be Shipment or ShipmentLine.
								</Condition>
                                    <Error
                                    Description="Invalid Entity for ConfigureBatchBy" ErrorCode="YCD00092"/>
                                    </Validation>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Name"
                            type="yfctype:Text-32" use="required">
                            <xsd:annotation>
                                <xsd:documentation>Name of the attribute to use create batches. This should be a valid attribute of Shipment or ShipmentLine entity.
                         <Validation>
                                    <Condition>
                                    <code>Name</code> should be a valid attribute of Shipment or ShipmentLine entity.
								</Condition>
                                    <Error
                                    Description="Invalid Column" ErrorCode="YFC0015"/>
                                    </Validation>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SortLinesBy">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				This SortLinesBy element is used to sort shipment lines to be added to new batches. This element is considered only when GetNewBatches=Y.
				 Having many attributes in SortLinesBy element may have performance implications when large number of orders are returned by the API.
				 If no SortLinesBy element is passed, then shipment lines are sorted by Shipment's ExpectedShipmentDate.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="Attribute">
                    <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                        <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Desc" type="yfctype:Flag" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Sort in decending order.
						Valid values: <b>
                                    <code>Y</code>
                                    </b> or <b>
                                    <code>N</code>
                                    </b>
						Default value: <b>
                                    <code>N</code>
                                    </b>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Entity"
                            type="yfctype:Text-32" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Name of the entity. This can be either Shipment or ShipmentLine.
                        <Validation>
                                    <Condition>
                                    <code>Entity</code> should be passed. It should either be Shipment or ShipmentLine.
								</Condition>
                                    <Error
                                    Description="Invalid Entity for SortLinesBy" ErrorCode="YCD00092"/>
                                    </Validation>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Name"
                            type="yfctype:Text-32" use="required">
                            <xsd:annotation>
                                <xsd:documentation>Name of the attribute to use for sorting. This should be a valid attribute of Shipment or ShipmentLine entity.
                         <Validation>
                                    <Condition>
                                    <code>Name</code> should be a valid attribute of Shipment or ShipmentLine entity.
								</Condition>
                                    <Error
                                    Description="Invalid Column" ErrorCode="YFC0015"/>
                                    </Validation>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLine">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>Stores information about shipment lines. Shipment lines are created using createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            </xsd:all>
            <xsd:attribute name="BackroomPickComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="BACKROOM_PICK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field indicates whether the backroom pick of shipment line is complete.The filed will be Y when the Backroom pick is complete</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BackroomPickedQuantity"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BuyerMarkForNodeId" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUYER_MARK_FOR_NODE_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Mark For Node as identified by the buyer for eg: it could be a person,store,DC.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CancelReason" type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="CANCEL_REASON" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the cancel reason for shipment line</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The country of origin.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPickedQuantity" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PICKED_QTY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the quantity picked by the customer</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CustomerPoLineNo"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The customer PO # for the order during createorder time. While creating shipments, this values is consolidated acroos all orders belonging to this shipment and stored in the shipment header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPoNo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The customer PO # for the order during createorder time. While creating shipments, this values is consolidated acroos all orders belonging to this shipment and stored in the shipment header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternalReleaseIdentifier"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="EXTERNAL_RELEASE_IDENTIFIER" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The identifier of the external release. This attribute along with OrderNo and ReleaseNo will uniquely identify the order release external to the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupSequenceNumber" use="optional">
                <xsd:annotation yfc:columnName="GROUP_SEQUENCE_NUM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field is used to assign a decimal value to each line for the purpose of sorting them in a specific sequence.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:ConversionRate"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IsCustomerPickComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_CUSTOMER_PICK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field indicates whether the customer pick for a shipment line is complete.The filed will be Y when the customer picking is complete</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHazmat" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HAZMAT" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Indicates whether the shipment line is for hazardous item or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPackComplete" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PACK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field indicates whether the packing of shipment line is complete.The filed will be Y when the container packing is complete</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPickable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PICKABLE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This flag indicates whether this shipment line can be picked or not.This flag is set to 'N' only for Logical Kit Parent line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemDesc" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="ITEM_DESCRIPTION" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The description of item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The identifier of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The kit code of the item, if it is a Kit item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Indicates the level of service required for this shipment line.  Default from corresponding order release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NetWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="NET_WEIGHT" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The weight of the items in the shipment. The unit of weight is as specified by the NetWeightUom attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NetWeightUom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="NET_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The unit of net weight.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order header key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order line key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order number corresponding to the order for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order release key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverShipQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="OVER_SHIP_QUANTITY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The quantity over picked for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickLocation" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="PICK_LOCATION" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Pick Location of the line item in a store sales floor or backroom. Primarily used in store application for backroom picking.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickLocationSeq" use="optional">
                <xsd:annotation yfc:columnName="PICK_LOCATION_SEQ" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Pick Location Sequence of the pick location for the line. Used in store application for suggesting picks to user in a sequential manner.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The prime line number of the corresponding order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The product class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The shipment line quantity. Entering a quantity is mandatory when creating a shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The release number of the order release for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedSerialNo"
                type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_SERIAL_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The requested serial number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnShippingLabelLevel"
                type="yfctype:Text-1" use="optional">
                <xsd:annotation
                    yfc:columnName="RETURN_SHIPPING_LABEL_LEVEL" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field indicates the level at which the Return Shipping Label should be generated for the item present in the shipment line. Valid values are N,S and P. N indicates that the item does not require return label, S indicates that the item requires return label at SKU level and P indicates that the item requires retun label at package level. If the value for the field is not passed, it is defaulted to the corresponding value of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The segment of inventory customized for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The segment type of inventory customized for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToCustomerId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_CUSTOMER_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The ship to identifier.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConsolidationGroupId"
                type="yfctype:VarcharShipNode" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONSOL_GROUP_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>It is a consolidation group id  that is used as a standard do not mix constraint. Releases belonging to same shipment consolidation group may consolidate to same shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The shipment key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>A part of the primary key . The shipment line number is unique for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSubLineNo"
                type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This is a part of the unique key. ShipmentSubLineNo along with the ShipmentLineNo is used to identify the logical kit component shipment line. The value of this field is zero - for kit parent shipment lines and shipment lines with items that are not kit components, and greater than zero if the the shipment line corresponds to a logical kit component item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortageQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SHORTAGE_QTY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The quantity that is not available at the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortageResolutionReason"
                type="yfctype:CodeValue" use="optional">
                <xsd:annotation
                    yfc:columnName="SHORTAGE_RESOLUTION_REASON" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the shortage resolution reason while picking the line quantity</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The sub line number of the corresponding order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The wave number to which the line belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment was actually delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual freight charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual shipment date. This is updated by the confirmShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowOverage" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOW_OVERAGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether an overage is allowed for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppointmentNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="APPOINTMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number which helps the ship node and the carrier identify the pick up details and any relevant details about the shipment delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedToUserId"
                type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The backroom pick user who is currently working on this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BBNMinVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="BBN_MIN_VOLUME" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The normalized minimum volume of the Break Bulk Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BBNMinWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="BBN_MIN_WEIGHT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The normalized minimum weight of the Break Bulk Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BackroomPickRequired"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="BACKROOM_PICK_REQUIRED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the backroom pick is required or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The bill to address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToCustomerId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_CUSTOMER_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The bill to customer id that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The bill of lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BreakBulkNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="BREAK_BULK_NODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The Break Bulk Node associated with the Scac and Service of the shipment .</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerMarkForNodeId" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUYER_MARK_FOR_NODE_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Mark For Node as identified by the buyer for eg: it could be a person,store,DC.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The buyer organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerReceivingNodeId"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_RECEIVING_NODE_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Receiving node as identified by the buyer for eg:Store,DC Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CODPayMethod" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COD_PAY_METHOD" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The pay method for the COD amount.Valid values are CASH, CASHIERS_CHECK, BUSINESS_CHECK, MONEY_ORDER, PERSONAL_CHECK, ANY. This will be a common code, with code type COD_PAY_METHOD.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The account number of the customer or buying organization with the carrier. This is used for arriving at the billing account number. See YFS_SHIPMENT_CONTAINER.carrier_bill_account.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier service availed for transporting this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The type of carrier. This field is denormalized from YFS_SCAC_AND_SERVICE for the scac and carrier service code on the shipment. Typical values are PARCEL, LTL, and so forth.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommercialValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="COMMERCIAL_VALUE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The commercial or declared value of the shipment for insurance purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The currency corresponding to the shipment charges.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryCode"
                type="yfctype:DeliveryCode" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The field is deprecated and is no longer in use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The delivery method for the Product Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryPlanKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_PLAN_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The delivery plan to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryTS" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_TS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date at which the shipment is delivered at its intended destination.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DestinationZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESTINATION_ZONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DoNotVerifyCaseContent"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="DO_NOT_VERIFY_CASE_CONTENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Thif flag indicates whether the case content is to be verified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DoNotVerifyPalletContent"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="DO_NOT_VERIFY_PALLET_CONTENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the pallet content is to be verified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A classification of data on which a particular set of business processes must be applied. In this case, it happens to be the document type of the order document - basically the document type of the orders comprising the shipment. A document type derived from the base document type 0001 - ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DownLoadCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="DOWNLOAD_COUNT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of times that the shipment information has been downloaded from the user interface.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EmailReturnLabel" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EMAIL_RETURN_LABEL" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EspCheckRequired" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ESP_CHECK_REQUIRED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether an ESP check is required. This is a computed flag based on freight terms configuration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment is expected to be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as planned or arrived at in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportTaxpayerID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_TAXPAYER_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The tax payer ID of the shipping organization if the shipment is meant for export.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The entity that pays the freight. Freight Terms determines whether a shipment is Pre Paid, 3rd Party Billing or Collect Billing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The from address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="FROM_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time after which an appointment can be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasOtherShipments" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_OTHER_SHIPMENTS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HazardousMaterialFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAZARDOUS_MATERIAL_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment carries an item that is marked hazardous.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldLocation" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="HOLD_LOCATION" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Deposit location of picked items of shipment which are waiting for customer pick up in a store. If there are multiple locations, then those should be updated in a comma separated string. Primarily used in store application for backroom picking.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ITDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="IT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the IT number was stamped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ITNNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITN_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The field is used for storing the Internal Transaction Number(ITN), FTSR Exemption Number or XTN returned by Automated Export System(AES) after filing the Shipper's Export Declaration(SED).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ITNo" type="yfctype:NText-30" use="optional">
                <xsd:annotation yfc:columnName="IT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The license number given by government or customs for shipments going to bonded warehouses.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceComplete" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_COMPLETE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag is 'Y' when invoicing is done for the entire shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPackProcessComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PACK_PROCESS_COMPLETE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the Pack Process is complete for all containers in the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsProductPlacingComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PRODUCT_PLACING_COMPLETE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether placing products into container is complete.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSingleOrder" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SINGLE_ORDER" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is for a single order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Indicates the level of service required for this shipment.  Default is Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LinesEntered" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="LINES_ENTERED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the lines are entered for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number assigned on the system, if the CARRIER_TYPE of the shipment is PARCEL. A shipment assigned a particular manifest number is picked up by the carrier pick up personnel for purposes of shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to store manifest number assigned by carrier server. ManifestKey on shipment is where the actual manifesting related information is stored for the manifesting process in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManuallyEntered" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MANUALLY_ENTERED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is manually entered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MergeNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="MERGE_NODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The timestamp for the next alert. This is a computed field, which is used internally by the shipment monitor to proactively identify when the shipment could potentially be realerted on a business exception as per the monitor rules setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfCartons"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of cartons in the shipment. This field is only an approximation and not accurate depiction of the number of containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfPallets"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of pallets in the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderAvailableOnSystem"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_AVAILABLE_ON_SYSTEM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the order is available on the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order header key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order number of the order for the shipment while creating with SingleOrder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order release key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ORIGIN_ZONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideManualShipmentEntry"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="OVERRIDE_MANUAL_SHIPMENT_ENTRY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the "allow manual shipment entry" flag in the receiving rule can be overridden.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackAndHold" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PACK_AND_HOLD" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the order needs to be packed and put away for retrieval at a later date. It needs to be released manually in order to ship the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackListType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PACKLIST_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The packlist type. One of the attributes used in shipment consolidation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickListNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PICK_LIST_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number that indicates a group of shipments which will be picked together. A picklist is a document used for picking. It is generated for a ship node across one or more shipments and contains information on the shipment lines and the quantity for each line that is to be picked. Picklist is created by the printPickList API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickTicketPrinted" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PICKTICKET_PRINTED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the pick ticket has been printed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickticketNo"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="PICKTICKET_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number assigned to group related shipments under one head. This is input by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The pipeline to which this shipment belongs. This is determined by the createShipment API based on the document type and several other key attributes of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The proof of delivery number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The progressive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProfileID"
                type="yfctype:ShipmentProfileID" use="optional">
                <xsd:annotation yfc:columnName="PROFILE_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The profile_id of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The node that receives the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The release number of the OrderRelease for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedCarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUESTED_CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The requested carrier service code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment must be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as requested by the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnAuthorizationNumber"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="RETURN_AUTHORIZATION_NUMBER" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment authorization number for return.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnBillingAccount"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="RETURN_BILLING_ACCOUNT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The account number to be used for billing the return shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnByDate" use="optional">
                <xsd:annotation yfc:columnName="RETURN_BY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment needs to be returned by this date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReturnCarrierService"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RETURN_CARRIER_SERVICE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier service to be used for the return shipment associated with the outbound shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnFreightTerms"
                type="yfctype:Text-3" use="optional">
                <xsd:annotation yfc:columnName="RETURN_FREIGHT_TERMS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The entity that pays the freight for the return shipment. Freight Terms determines whether a shipment is Pre Paid, 3rd Party Billing or Collect Billing. The valid value for Pre Paid is PRE, for 3rd Party Billing is TPB and COL for collect billing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacIntegrationRequired"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SCAC_INTEGRATION_REQUIRED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the carrier integration is required for the shipment. This is a computed field, and is set to Y if carrier integration is required for domestic or international shipment based on the YFS_SCAC_EX setup for the seller organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SealNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seal number on the load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_MODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to identify the mode of shipment. Typical values are TL - Truck Load, LTL - Less Than Truck Load, etc. This attribute can also be used to store any of your own categorizations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToCustomerId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_CUSTOMER_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship to identifier.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipVia" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="SHIP_VIA" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The means of shipment. This is usually Land, Air, Sea, or Ocean.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentClosedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CLOSED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is closed. This is a computed field, which is used internally as a way to logically mark data for purge so that transactions do not look into this data. This data is later purged by the purge agent at preset intervals. This is updated by the close shipment agent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConfirmUpdatesDone"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONFIRM_UPDATES_DONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment confirm updates have been done. This is an internal field, which is used by the confirmShipment API to identify if shipment confirmation updates have already been performed on the shipment. Since there are various ways through which shipment confirmation updates could happen -- receiveIntransitUpdates, closeManifest, or confirmShipment -- it is required that there be an attribute that identifies if the shipment confirmation has indeed been done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConsolidationGroupId"
                type="yfctype:VarcharShipNode" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONSOL_GROUP_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>It is a consolidation group id  that is used as a standard do not mix constraint.Releases belonging to same shipment consolidation group may consolidate to same shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerizedFlag"
                type="yfctype:EnumShipmentContainerizedFlag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONTAINERIZED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This is an internal field that indicates the containerization state of the shipment. The values being: 01 - not containerized, 02 - containerization in progress and 03 - indicating complete containerization. This is updated by all shipment APIs that containerize or uncontainerize. APIs include createShipment, packShipment, unpackShipment, confirmShipment and changeShipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentDeliverUpdatesDone"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_DELIVER_UPDATES_DONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This internal field is used by the receiveIntransitUpdates API to identify if delivery updates have already been done. Delivery updates are possible by explicitly invoking the deliverShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentPlannedFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_PLANNED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is planned. This is a computed field. When every leg of the shipment from source to destination is included into loads, the shipment is said to be planned. This is updated by the manageLoad API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSortLocationId"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_SORT_LOCATION_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The location identifier where sorting is done, based upon shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user-defined shipment type. This is used to indicate the composition of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The status of the shipment. As various transactions in the shipment's pipeline act upon the shipment, the shipment status changes. Typical values are 1100 - Created, 1200 - Being Picked, 1400 - Shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="TO_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time before which an appointment could be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalActualCharge" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ACTUAL_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalEstimatedCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ESTIMATED_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The estimated charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total volume of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME_UOM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of volume specified in TotalVolume attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total weight of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of weight specified in Total_Weight attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The trailer number by which the shipment leaves the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderApptKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_APPT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The work order appt key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The work order key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentIndexLookup">
        <xsd:annotation yfc:UsedForIndexing="Shipment" yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
							In a multicolony environment, this element should be passed to identify the correct colony. 
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
