Data/xapidocs/api_javadocs/XSD/YCD_registerBatchPick_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/registerBatchPick/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/registerBatchPick/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_registerBatchPick_input.xsd" yfc:rootElement="StoreBatch">
        <xsd:appinfo source="yfc:structure">
            <StoreBatch hasAttributes="Y">
                <BarCode hasAttributes="Y">
                    <ContextualInfo hasAttributes="Y"/>
                    <ItemContextualInfo hasAttributes="Y"/>
                </BarCode>
                <Item hasAttributes="Y"/>
                <ShipmentLines>
                    <ShipmentLine hasAttributes="Y">
                        <StoreBatchLocation hasAttributes="Y"/>
                    </ShipmentLine>
                </ShipmentLines>
            </StoreBatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StoreBatch" type="yfc:StoreBatchXSDType">
        <xsd:annotation yfc:tableName="YFS_STORE_BATCH">
            <xsd:documentation>This table stores the batches for Web Store. A batch consists of multiple shipment lines which can be picked together.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StoreBatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:BarCode"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Item"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLines"/>
        </xsd:all>
        <xsd:attribute name="BatchNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The unique batch number to identify this batch in this store.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvokeUpdateInventoryUE"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					This attribute is used to invoke Update Inventory User Exit. As part of Web Store 9.3 FP release, this user exit call was happening from UI after getting the response from registerBarcodeForBackroomPick API. In Web Store 9.4 release, the user exit will be invoked as part of the API execution. In order to support backward compatibility, this attribute is introduced. If this attribute is passed with value as "true", then user exit will be invoked as part of API. If the attribute is passed with value as "false" or not passed as part of the API input, user exit will not be invoked.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Mode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Mode must be specified to pick or undo pick a shipment line.the Valid values are SCAN,MANUALPICK and UPDATE
					the default value is SCAN.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>The store's organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StoreBatchKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="STORE_BATCH_KEY" yfc:tableName="YFS_STORE_BATCH">
                <xsd:documentation>
                    <div>
					Unique Identifier for a Batch
						<Validation>
                            <Condition>
                                <code>StoreBatchKey OR OrganizationCode,BatchNo</code> should be passed.
							</Condition>
                            <Error Description="Invalid Batch" ErrorCode="YCD00081"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UpdateShipmentStatus" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
 					Indicates whether the shipment status should be updated or not after batch is completely picked. Valid values are 'Y', 'N' and null. Default value is null. Shipment status will be updated if value is 'Y' or null.
 					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="BarCode">
        <xsd:annotation yfc:tableName="YFS_BARCODE_TRANSLATION">
            <xsd:documentation>This table defines how barcodes are validated based on the context of the data.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ContextualInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemContextualInfo"/>
            </xsd:all>
            <xsd:attribute name="BarCodeData" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					BarCode data to be translated.
						<Validation>
                                <Condition>
                                    <code>BarCodeData</code> should be passed.
							</Condition>
                                <Error
                                    Description="BarCodeData is mandatory." ErrorCode="YCP0187"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BarCodeType" type="yfctype:Text-100" use="required">
                <xsd:annotation yfc:columnName="BARCODE_TYPE" yfc:tableName="YFS_BARCODE_TRANSLATION">
                    <xsd:documentation>
                        <div>
					BarCode Type associated with the data being scanned.
						<Validation>
                                <Condition>
                                    <code>BarCodeType</code> should be passed.
							</Condition>
                                <Error
                                    Description="BarCodeType is mandatory." ErrorCode="YCP0186"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContextualInfo">
        <xsd:annotation yfc:tableName="YFS_BARCODE_TRANSLATION">
            <xsd:documentation>This table defines how barcodes are validated based on the context of the data.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies the buying organization</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>An Enterprise in general implies a business undertaking. In the participant modeling, the enterprise is understood to be a broker/mediator, and is also used to arrive at the inventory org and subsequently the catalog org. So, bar code translators dependent on inventory, catalog or various enterprise dependent document types would use this de-referencing mechanism to translate data.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_BARCODE_TRANSLATION">
                    <xsd:documentation>
                        <div>
					This is the organization from which bar code set up will be picked up.
						<Validation>
                                <Condition>
                                    <code>OrganizationCode</code> should be passed.
							</Condition>
                                <Error
                                    Description="Organization code is mandatory for this operation." ErrorCode="YFS10513"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies the selling organization</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemContextualInfo">
        <xsd:complexType>
            <xsd:attribute name="AlternateUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Alternate UOM applicable for the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitCode" type="yfctype:EnumKitCode" use="optional">
                <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates the kit code for this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductClass" type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="CODE_VALUE" yfc:tableName="YFS_COMMON_CODE">
                    <xsd:documentation>The unique code value belonging to a particular code type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Action must be specified to pick or undo pick a product .the Valid values are PICK and UNDOPICK
					the default value is PICK. This attribute is considered when batch type is SORT_AFTER_PICK
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>
                        <div>
                            <Validation>
                                <Condition>Unique Identifiers for Item should be passed
						</Condition>
                                <Error Description="Item Not Found" ErrorCode="YCM0033"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Quantity of the product to be picked or undo picked. This attribute is considered when batch type is SORT_AFTER_PICK and mode is MANUALPICK.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipmentLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLine">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>
                <div>
	  				To identify the <code>ShipmentLine</code>, pass either <code>ShipmentLineKey</code> or <code>ShipmentKey</code>, <code>ShipmentLineNo</code> and <code>ShipmentSubLineNO</code>
                    <Validation>
                        <Condition>Unique keys of ShipmentLine are not passed.
						</Condition>
                        <Error
                            Description="Either ShipmentLineKey or ShipmentKey, ShipmentLineNo and ShipmentSubLineNO is mandatory." ErrorCode="YDM00065"/>
                    </Validation>
                </div>
                <div>
                    <code>BackroomPickedQty</code>, needs to be passed in UPDATE <code>mode</code>
                    <Validation>
                        <Condition>BackroomPickedQty is mandatory.
						</Condition>
                        <Error
                            Description="BackroomPickedQty is mandatory." ErrorCode="YCD00089"/>
                    </Validation>
                </div>
                <div>
                    <code>BackroomPickedQuantity</code>, This attribute is deprecated.Use BackroomPickedQty attribute.
                   
                            
                            
                    <!--  <Validation>
                        <Condition>BackroomPickedQuantity is mandatory.
						</Condition>
                        <Error
                            Description="BackroomPickedQty is mandatory." ErrorCode="YCD00089"/>
                    </Validation> -->
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StoreBatchLocation"/>
            </xsd:all>
            <xsd:attribute name="BackroomPickedQty" use="required">
                <xsd:annotation yfc:columnName="BACKROOM_PICKED_QTY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This field contains the quantity picked during backroom pick.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ScannedSerialNo" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					     SerialNo to be picked or undo picked. This attribute is considered when batch type is SORT_WHILE_PICK and mode is UPDATE.
					     </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The shipment key that is associated with this shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>A part of the primary key . The shipment line number is unique for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSubLineNO"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StoreBatchLocation">
        <xsd:annotation yfc:tableName="YFS_STORE_BATCH_LOCATION">
            <xsd:documentation>This table stores the tote information of a shipment in a batch. A batch will have one tote for one shipment.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>The shipment key that is associated with this batch location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StoreBatchKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="STORE_BATCH_KEY" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>The batch key that is associated with this batch location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StoreBatchLocationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="STORE_BATCH_LOCATION_KEY" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>The primary key for the YFS_STORE_BATCH_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToteId" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="TOTE_ID" yfc:tableName="YFS_STORE_BATCH_LOCATION">
                    <xsd:documentation>This field indicates the unique identifier of a tote.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
