Data/xapidocs/api_javadocs/XSD/YCD_getOrderLinesForPriceMatch_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getOrderLinesForPriceMatch/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getOrderLinesForPriceMatch/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getOrderLinesForPriceMatch_input.xsd" yfc:rootElement="PriceMatch">
        <xsd:appinfo source="yfc:structure">
            <PriceMatch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceMatch" type="yfc:PriceMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_MATCH">
            <xsd:documentation>This Table Stores information about the price of Items at which the competitors are offering items in different Regions</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceMatchXSDType">
        <xsd:attribute name="PriceMatchKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="PRICE_MATCH_KEY" yfc:tableName="YFS_PRICE_MATCH">
                <xsd:documentation>The primary key for the YFS_PRICE_MATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
