Data/xapidocs/api_javadocs/XSD/YCD_getDuplicateOrderCriteriaUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getDuplicateOrderCriteriaUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getDuplicateOrderCriteriaUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_getDuplicateOrderCriteriaUE_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <PriceInfo hasAttributes="Y"/>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceInfo"/>
        </xsd:all>
        <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromOrderDate" type="yfctype:String" use="optional"/>
        <xsd:attribute name="SourceIPAddress" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="SOURCE_IP_ADDRESS" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>IP address of the system from which the order was placed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToOrderDate" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="PriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromTotalAmount" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToTotalAmount" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
