Data/xapidocs/api_javadocs/XSD/YCD_processDuplicateOrderCheckUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/processDuplicateOrderCheckUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/processDuplicateOrderCheckUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCD_processDuplicateOrderCheckUE_output.xsd" yfc:rootElement="OrderList">
        <xsd:appinfo source="yfc:structure">
            <OrderList hasAttributes="Y">
                <Order hasAttributes="Y">
                    <PriceInfo hasAttributes="Y"/>
                    <OverallTotals hasAttributes="Y"/>
                    <InvoicedTotals hasAttributes="Y"/>
                    <RemainingTotals hasAttributes="Y"/>
                </Order>
            </OrderList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderList" type="yfc:OrderListXSDType"/>
    <xsd:complexType name="OrderListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Order"/>
        </xsd:sequence>
        <xsd:attribute name="LastOrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>Last Order Header Key in the output.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastRecordSet" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Flag to indicate if the records obtained are a complete list. If there are more than 500 records matching the criteria passed in input xml, only 500 records are returned and this flag is set to <b>N</b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReadFromHistory" type="yfctype:Text-1" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values:
					<br/>
                        <b>
                            <code>N</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_ORDER_HEADER table.
					<br/>
                        <b>
                            <code>Y</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_ORDER_HEADER_H table (the history table).
					<br/>
                        <b>
                            <code>B</code>
                        </b> - Returns records that satisfy the input criteria from both YFS_ORDER_HEADER and YFS_ORDER_HEADER_H tables. Records returned from the current table are first in the output.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalOrderList" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OverallTotals"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InvoicedTotals"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RemainingTotals"/>
            </xsd:all>
            <xsd:attribute name="AllocationRuleID"
                type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="ALLOCATION_RULE_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the scheduling rule to be used while checking inventory availability.  If not passed, the allocation rule with the ID 'SYSTEM' for the enterprise is used. If the allocation rule with the ID 'SYSTEM' is not found, the allocation rule with the ID 'SYSTEM' for the enterprise 'DEFAULT' is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorizationExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="AUTHORIZATION_EXPIRATION_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The smallest expiration date of currently valid expirations. This field is used by the system payment processing agents. Any transaction having a financial implication will set this date to current system date. This field is used as a trigger by payment processing agents to create charge and authorization reqeusts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AutoCancelDate" use="optional">
                <xsd:annotation yfc:columnName="AUTO_CANCEL_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date on which the order will automatically be cancelled. If not provided, it is defaulted as null on order creation. This date can be set or reset at any point in time by calling changeorder API.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The buyer organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The account number of the customer with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The carrier service code for this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeActualFreightFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_ACTUAL_FREIGHT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the actual freight charges should be passed on to the customer. If set to 'Y', invoicing picks up charges from shipments and uses that to invoice the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustCustPONo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_CUSTOMER_PO_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The PO number of the customer's customer. In some situations, this may need to be printed on the actual packaging.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerEMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_EMAILID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The E-mail ID of the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPONo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The PO number of the customer. For purchase orders, this can be used for storing the purchase order number of the purchasing system if that number is not already stored as part of the order number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryCode"
                type="yfctype:DeliveryCode" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The organization that pays the freight charges. For example, SUPPLIER, ENTERPRISE, and MARKETPLACE. However, you could pass any other value which is a valid shipment charge type as understood by the carrier by which the shipment is transported. See YFS_SHIPMENT_CONTAINER.carrier_payment_type for additional information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Division" type="yfctype:Division" use="optional">
                <xsd:annotation yfc:columnName="DIVISION" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The order classification attribute. This field can be used for reporting purposes. Sterling Selling And Fulfillment Suite system has no logic based on this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DraftOrderFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DRAFT_ORDER_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the order is yet to be confirmed. Order lines can only be deleted from the system in draft stage. This flag is not applicable for Quotes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The system or sales person who created the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntryType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ENTRY_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The channel through which this order was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOB" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>Indicates Freight Terms for the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the order or any order line is on hold. If the order is on hold, default configuration will stop the scheduling and release process for the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldReasonCode"
                type="yfctype:HoldReasonCode" use="optional">
                <xsd:annotation yfc:columnName="HOLD_REASON_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The reason code for putting the order on hold.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxOrderStatus" type="yfctype:Status" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Maximum order status.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxOrderStatusDesc"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Maximum order status description.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinOrderStatus" type="yfctype:Status" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Minimum order status.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinOrderStatusDesc"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Minimum order status description.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NotificationReference"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="NOTIFICATION_REFERENCE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field provides details on notifications based on the notification type. For example, for notification type 'e-mail' this would be the e-mail address. This field is not used within the application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NotificationType"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="NOTIFICATION_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is not used within the application. It is published with events so that external decisions can be made based on it.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NotifyAfterShipmentFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="NOTIFY_AFTER_SHIPMENT_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ORDER_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date on which the order was taken. If not passed during order creation, it is defaulted to current system date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderName" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NAME" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The name given to the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ORDER_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The order classification attribute. This field can be used for reporting purposes or to build conditions for modeling your business process. Sterling Selling And Fulfillment Suite system has no default logic based on this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalTax" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_TAX" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>Total tax amount at the time of the order creation.This attribute only reflects the header tax.This field is not updated later in the cycle and can be used to track changes made since the order creation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalTotalAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The total amount at the time of the order creation. This field is not updated later in the cycle and can be used to track changes made since the order creation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherCharges"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="OTHER_CHARGES" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The sum of the other charges at the header level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentStatus"
                type="yfctype:VarcharShortStatus" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_STATUS" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The information about the payment status of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonalizeCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PERSONALIZE_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The code that describes the personalization required for the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceProgramKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_PROGRAM_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The price program that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriorityCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The priority code of the order. External logic can be built for prioritizing orders.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriorityNumber" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY_NUMBER" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The numeric priority code as opposed to alphanumeric field PRIORITY_CODE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is passed out in the tax calculation user exits.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The node an order is to be shipped to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReqCancelDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_CANCEL_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The requested cancel date. If this date is in the future, the order will be scheduled only up to this date. If this date is in the past, the order can be scheduled for shipping today as long as it has not been cancelled already. The order line level cancel date overrides this attribute.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqDeliveryDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_DELIVERY_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The requested delivery date. This date is stamped on order lines (as requested delivery date) during order creation if no requested delivery date was passed at the order line level.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqShipDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_SHIP_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date the customer has requested the order to be shipped on. Based on the 'Driver Date' parameter of the document type, the ship date or delivery date will be calculated based on transit time calculations (if not passed at order creation).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The carrier assigned to the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndService" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SearchCriteria1"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SEARCH_CRITERIA_1" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SearchCriteria2"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SEARCH_CRITERIA_2" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The seller organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipCompleteFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the ship to customer.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:Status" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Status.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAX_EXEMPT_FLAG" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This flag indicates whether the buyer is extempt from paying taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The buyer's tax exemption certificate.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxJurisdiction" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_JURISDICTION" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The tax jurisdiction of the buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxPayerId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAXPAYER_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TermsCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="TERMS_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The terms code of the order. This is passed on to the invoice and published with the invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAdjustmentAmount"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ADJUSTMENT_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>the sum of all the credit and debit memos issued against this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Valid Values:
						<br/>
                            <b>
                                <code>N</code>
                            </b> - Record is from the current table, YFS_ORDER_HEADER.
						<br/>
                            <b>
                                <code>Y</code>
                            </b> - Record is from the history table, YFS_ORDER_HEADER_H.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The currency code in which this order is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCurrency"
                type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The Enterprise's default currency code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReportingConversionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="REPORTING_CONVERSION_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date which was used to determine the conversion rate.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReportingConversionRate"
                type="yfctype:ConversionRate" use="optional">
                <xsd:annotation
                    yfc:columnName="REPORTING_CONVERSION_RATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The conversion rate from the order's original currency to the Enterprise's currency. This is not used internally within the system. This field is provided so that reports can be built in a standard currency for an Enterprise using SQLs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The grand total for the order. Includes all line charges and taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OverallTotals">
        <xsd:complexType>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of grand charges.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of grand discount.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of grand tax.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of grand total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of header charges.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of header discount.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of header tax.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of header total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Overall total value of line sub total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InvoicedTotals">
        <xsd:complexType>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of grand charges.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of grand discount.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of grand tax.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of grand total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of header charges.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of header discount.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of header tax.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of header total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Invoiced total value of line sub total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RemainingTotals">
        <xsd:complexType>
            <xsd:attribute name="GrandCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of grand charges.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of grand discount.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of grand tax.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GrandTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of grand total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrCharges" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of header charges.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrDiscount" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of header discount.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTax" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of header tax.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HdrTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of header total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Remaining total value of line sub total.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
