Data/xapidocs/api_javadocs/XSD/YCD_getCompetitorDetailsUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCD/getCompetitorDetailsUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCD/getCompetitorDetailsUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCD_getCompetitorDetailsUE_output.xsd" yfc:rootElement="Competitor">
        <xsd:appinfo source="yfc:structure">
            <Competitor hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Competitor" type="yfc:CompetitorXSDType">
        <xsd:annotation yfc:tableName="YFS_COMPETITOR">
            <xsd:documentation>This Table Store the Competitor Information used in a Price Match</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CompetitorXSDType">
        <xsd:attribute name="CompetitorDesc" type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_DESC" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>Competitor Description used for notes and descriptions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_KEY" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>The primary key for the YFS_COMPETITOR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CompetitorName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="COMPETITOR_NAME" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>Competitor Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>Enteprise that the Competitor is Competing with</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PercentPriceMatch"
            type="yfctype:Percentage" use="optional">
            <xsd:annotation yfc:columnName="PERCENT_PRICE_MATCH" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>Percentage of Price Match</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>Authorization Status</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WebAddress" type="yfctype:URL-100" use="optional">
            <xsd:annotation yfc:columnName="WEB_ADDRESS" yfc:tableName="YFS_COMPETITOR">
                <xsd:documentation>Competitor Web Site</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
