Data/xapidocs/api_javadocs/XSD/YCM_manageClassificationPurpose_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/manageClassificationPurpose/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/manageClassificationPurpose/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_manageClassificationPurpose_input.xsd" yfc:rootElement="ClassificationPurposeList">
        <xsd:appinfo source="yfc:structure">
            <ClassificationPurposeList>
                <ClassificationPurpose hasAttributes="Y"/>
            </ClassificationPurposeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ClassificationPurposeList" type="yfc:ClassificationPurposeListXSDType"/>
    <xsd:complexType name="ClassificationPurposeListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ClassificationPurpose"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ClassificationPurpose">
        <xsd:annotation yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
            <xsd:documentation>
                <div>
							 manageClassificationPurpose API
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                    <xsd:documentation>Pre-defined list of fields which can be used for Item Classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                    <xsd:documentation>Caterogy domain key to which the classification is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ClassificationPurposeCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CLASSIFICATION_PURPOSE_CODE" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                    <xsd:documentation>Application specific system defined codes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ClassificationPurposeDesc"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation
                    yfc:columnName="CLASSIFICATION_PURPOSE_DESC" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                    <xsd:documentation>Describes the configuration and usage.  This will be pre-defined list provided as factory defaults.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ClassificationPurposeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CLASSIFICATION_PURPOSE_KEY" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                    <xsd:documentation>Primary key attribute of CLASSIFICATION_PURPOSE_KEY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModuleName" type="yfctype:Text-128" use="optional">
                <xsd:annotation yfc:columnName="MODULE_NAME" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                    <xsd:documentation>The name of the module associated with this classification purpose.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:ID-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> The action that is to be performed during the invocation
								of this API.
								<br/>Valid values:<b>
                                <code>Create</code>
                            </b>,<b>
                                <code>Modify</code>
                            </b>, or	<b>
                                <code>Delete</code>
                            </b>
                            <br/> Default Value: <b>
                                <code>Modify</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                    <xsd:documentation>Catalog OrganizationCode to which the purpose is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubCatalogOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                    <xsd:documentation>The sub-catalog organization that maintains the classification purpose definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
