Data/xapidocs/api_javadocs/XSD/YCM_manageServiceSkill_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/manageServiceSkill/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/manageServiceSkill/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_manageServiceSkill_output.xsd" yfc:rootElement="ServiceSkills">
        <xsd:appinfo source="yfc:structure">
            <ServiceSkills>
                <ServiceSkill hasAttributes="Y"/>
            </ServiceSkills>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ServiceSkills" type="yfc:ServiceSkillsXSDType"/>
    <xsd:complexType name="ServiceSkillsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:ServiceSkill"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ServiceSkill">
        <xsd:annotation yfc:tableName="YFS_SERVICE_SKILL">
            <xsd:documentation>
                <div>Details of the Service Skill created/modified/deleted.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SERVICE_SKILL">
                    <xsd:documentation>Description of the Service Skill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SERVICE_SKILL">
                    <xsd:documentation>
                        <div>
					   Organization code for which a <code>Service Skill</code> is defined.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSkillId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SKILL_ID" yfc:tableName="YFS_SERVICE_SKILL">
                    <xsd:documentation>Identifier of a Service Skill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSkillKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SKILL_KEY" yfc:tableName="YFS_SERVICE_SKILL">
                    <xsd:documentation>Primary key attribute of YFS_SERVICE_SKILL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
