Data/xapidocs/api_javadocs/XSD/YCM_searchCatalogIndex_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/searchCatalogIndex/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/searchCatalogIndex/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_searchCatalogIndex_input.xsd" yfc:rootElement="CatalogSearch">
        <xsd:appinfo source="yfc:structure">
            <CatalogSearch hasAttributes="Y">
                <Item hasAttributes="Y">
                    <ShipNodes>
                        <ShipNode hasAttributes="Y"/>
                    </ShipNodes>
                    <ShipToAddress hasAttributes="Y"/>
                    <CustomerInformation hasAttributes="Y"/>
                    <ItemAttributeGroupTypeList>
                        <ItemAttributeGroupType hasAttributes="Y"/>
                    </ItemAttributeGroupTypeList>
                    <AdditionalCatalogIndexInformationList>
                        <AdditionalCatalogIndexInformation hasAttributes="Y"/>
                    </AdditionalCatalogIndexInformationList>
                </Item>
                <Terms hasAttributes="Y">
                    <Term hasAttributes="Y"/>
                </Terms>
                <Filters>
                    <Filter hasAttributes="Y"/>
                </Filters>
                <CategoryList>
                    <Category hasAttributes="Y"/>
                </CategoryList>
                <ShowAllAssignedValues>
                    <Attributes>
                        <Attribute hasAttributes="Y">
                            <Description>
                                <div/>
                            </Description>
                        </Attribute>
                    </Attributes>
                    <ItemAttribute hasAttributes="Y"/>
                </ShowAllAssignedValues>
            </CatalogSearch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CatalogSearch" type="yfc:CatalogSearchXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				Search criteria for searching catalog index.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CatalogSearchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Terms"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Filters"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CategoryList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShowAllAssignedValues"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>
					The organization code that the API is being invoked for. 
					<Validation>
                            <Condition>
                                <code>CallingOrganizationCode</code> does not identify a valid organization.</Condition>
                            <Error
                                Description="YFS:Invalid organization code" ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>CallingOrganizationCode</code> is not passed.</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDepth" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 The number of category levels that should be returned.  Default value: 2.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomain" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>
                    <div>
					 The identifier for a category domain representing the catalog in the index.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryPath" type="yfctype:Text-800" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>
                    <div>
					 The path of the current category that the user has navigated to.
					 <Validation>
                            <Condition>An invalid category path is specified.</Condition>
                            <Error
                                Description="Invalid category path specified." ErrorCode="YCMTEL_0001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 The locale for which localized data should be presented. The value of this field must be in the format, language_country_variant (e.g. "fr_FR", "en_US_CA").
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>
					The <code>OrganizationCode</code> attribute can be passed to override the catalog organization.  By default, the <code>CallingOrganizationCode</code>'s catalog organization code is used.  The catalog organization code corresponds to the <code>OrganizationCode</code> attribute of the items, and will be used to query the YFS_ITEM table.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PageNumber" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 The number of the page the user is requesting to view.  Default value: 1.
					 <Validation>
                            <Condition>
                                <code>PageNumber</code> value must be a valid non-negative, non-zero integer.</Condition>
                            <Error
                                Description="PageNumber must be greater than 0." ErrorCode="YCM85_042"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PageSize" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>				
					The number of items to return in the ItemList element to be displayed on a single page.  Default value: 30.
					<Validation>
                            <Condition>
                                <code>PageSize</code> value must be a valid non-negative, non-zero integer.</Condition>
                            <Error
                                Description="PageSize must be greater than 0." ErrorCode="YCM85_030"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>
					The organization code of the Seller Organization
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SortDescending" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 This field indicates whether the result should be sorted in descending order.  Default value: N.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SortField" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 The name of the index field that should be used for sorting.  Only fields with an <code>Index</code> value of NOT_ANALYZED and a <code>Sortable</code> value of Y in the CatalogSearchConfigProperties.xml file can be used for sorting.
					<Validation>
                            <Condition>Values passed for <code>SortField</code> must be properly configured.</Condition>
                            <Error
                                Description="SortField Must be Sortable and NOT_ANALYZED." ErrorCode="YCM85_029"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipNodes"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipToAddress"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroupTypeList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalCatalogIndexInformationList"/>
            </xsd:all>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
						The currency to return prices in.  If not passed, this is defaulted to the currency of the <code>CallingOrganizationCode</code>'s primary enterprise's locale.
					</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>
						The demand type to be used when determining availability for items.  If not passed, <code>OPEN_ORDER</code> demand type is assumed.
					</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributionRuleId"
                type="yfctype:DistributionRuleId" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The distribution rule ID to be used to determine the node(s) that 
					will be used for availability checks.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntitlementDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The date to be used when reading entitlements.  If not passed, this date defaults to the current date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExcludeChildItemsOfModelItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This flag indicates whether child items of an item with variations should be returned in the search results.
						<br/>Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                            <br/>Default value: <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExecuteQueries" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
						Indicates that query-based associations should be executed, and a list of matching items should be returned under the <code>Association</code> element.  If this flag is passed as <code>
                            <b>N</b>
                        </code>, query-based associations will not be returned.<br/>
						The default value is <code>
                            <b>N</b>
                        </code>.
					</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FulfillmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FULFILLMENT_TYPE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                    <xsd:documentation>
						The fulfillment type to be used when determining availability for items.  If not passed, the <code>CallingOrganizationCode</code>'s primary enterprise's default distribution rule will be used.
					</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GetAvailabilityFromCache"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This flag indicates whether the available quantity for the item must be computed or obtained from cache.
						<br/>Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                            <br/>Default value: <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IgnoreInvalidItems" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							This flag indicates whether invalid items should be returned in the search results.
							<br/>Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                            <br/>Default value: <b>
                                <code>Y</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsForOrdering" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This flag indicates whether the item search is for ordering purpose.   If passed as <code>Y</code>, the  customer entitlements will be applied.
						<br/>Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                            <br/>Default value: <b>
                                <code>Y</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemSuperseded" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							This flag indicates whether items that have been superseded by another item should be returned in the search results.
							<br/>Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSoldSeparately" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SOLD_SEPARATELY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>
						Indicates if the item can be sold separately. If N, then the item must be part of a bundle or kit. 
							<br/>Valid values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>Default value: <b>
                            <code>Y</code>
                        </b>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The date to be used when computing prices.  If not passed, this date defaults to the current date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShowFinalSupersededItemOnly"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>When set to <code>Y</code>, only the final valid superseded item will be returned as the superseded item.
					<br/>Default: <code>N</code>
                        <br/>Valid values: <code>Y</code>, <code>N</code>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNodes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipNode"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNode">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>
						This element can be used to indicate a specific set of nodes that <code>getItemListForOrdering</code> should use when determining availability.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipToAddress">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>The address to be used when computing prices.  This address will be used to determine a pricing region.  Additionally, this address will be used when determining availability.  If this address is not passed, no region information will be available to determine pricing or availability.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternateEmailID"
                type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The company this person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Department" type="yfctype:Department" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxt" type="yfctype:ErrorText" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TXT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The first name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JobTitle" type="yfctype:Title-40" use="optional">
                <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The job title of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The last name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:MiddleName" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
                <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonInfoKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PERSON_INFO_KEY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary key for the YFS_PERSON_INFO table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredShipAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="USE_COUNT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VerificationStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="VERIFICATION_STATUS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerInformation">
        <xsd:annotation yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
            <xsd:documentation>This is used to provide information about the customer for which items are being retrieved when entitlements need to be applied. CustomerID is used to get 
				customer information from the system. If both CustomerID and CustomerType are not populated, CustomerType is
				defaulted to <code>03 - Anonymous</code>. All other attributes are used as an override to apply corresponding entitlements. </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BuyerUserId"
                type="yfctype:ContactUserId" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>An identifier of the customer. This is a pass through field available to user exits.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerContactID" type="yfctype:ID-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>An identifier of the customer. This is a pass through field available to user exits.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The identifier of the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>Level of customer membership (Gold, Tin, Platinum, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerType" type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>
                        <div> The type of customer.
							<br/>Valid Values:
							<br/>01 - for B2B customer
							<br/>02 - for B2C customer
							<br/>03 - for anonymous customer 
							<br/>04 - for everyone
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Region" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>
                        <div> Region to which entitlement rule is assigned. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The type of the relationship that exists between an organization and an enterprise (distributor, retailer, reseller, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The vertical customer belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupTypeList">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				A list of ItemAttributeGroupType can be passed to be used as filter criteria to control the item attribute group types to return in the output XML.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttributeGroupType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupType">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
            <xsd:documentation>This table stores item attribute group types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ClassificationPurposeCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CLASSIFICATION_PURPOSE_CODE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The classification purpose this group type is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCatalogIndexInformationList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalCatalogIndexInformation"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCatalogIndexInformation">
        <xsd:complexType>
            <xsd:attribute name="IndexFieldName"
                type="yfctype:Text-1000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The name of the field within the Search Index as defined in the CatalogSearchConfigProperties or ExtnCatalogSearchConfigProperties XML whose value is desired to be displayed in the output.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Terms">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Term"/>
            </xsd:sequence>
            <xsd:attribute name="LastTerm" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The last term value that will be used for spelling suggestions.  When the search is executed the Lucene search engine will provide suggestions for corrected spellings of the
							word(s) contained in the LastTerm attribute if it is found that the word(s) provided may be spelled incorrectly or there are similar words that are contained in the index.   The suggestions are obtained based on the contents of item descriptions, which are stored in the <code>Item.Description</code> field in the index.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Term">
        <xsd:complexType>
            <xsd:attribute name="Condition" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The condition to indicate whether an item in the index is returned based on the Value being found during the search. 
								<br/>Valid values: 
								<br/>
                            <b>
                                <code>SHOULD</code>
                            </b> - indicates that the items should have the specified value.
								<br/>
                            <b>
                                <code>MUST</code>
                            </b> - indicates that the items must have the specified value.
								<br/>
                            <b>
                                <code>MUST_NOT</code>
                            </b> - indicates that the items must not have the specified value.  Due to limitation in Lucene, the API may not return the correct result if only <b>
                                <code>MUST_NOT</code>
                            </b> term(s) are passed without other terms.

								<br/>
                            <br/>
                            <code>SHOULD</code> - returns documents that match the specified term.  When combined with another term having a condition of <code>SHOULD</code> a superset is returned where documents will have one or both of the terms.
								<br/>
                            <code>MUST</code> - limits results only to documents that have the term specified.  When combined with another <code>MUST</code> term, only the intersection of documents with both terms will be returned.  When combined with a term with a condition of <code>SHOULD</code>, only items with the <code>MUST</code> term will be returned, with items matching the <code>SHOULD</code> term being prioritized in the result set.
								<br/>
                            <code>MUST_NOT</code> - prevents documents that match the term from being returned.  For example, if Term A <code>MUST</code> be included in the results, and Term B <code>MUST_NOT</code> be included.  All items with Term A will be returned with the exception of those also having Term B.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IndexFieldName"
                type="yfctype:Text-1000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The name of the field within the Search Index.  This typically will be specified for Advanced Search Only.  Standard search will apply the <code>Value</code> to all searchable fields as defined in the CatalogSearchConfigProperties XML.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The value of the text input by the user as search criteria.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Weight" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The weight given to the Term value.  
								Default value: <b>
                                <code>1.0</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Filters">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Filter"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Filter">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The filter criteria used to narrow down the results.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="From" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The from value of the price range filter.  This attribute is only applicable for the filter of <code>PriceRange</code> type.
								<Validation>
                                <Condition>To and/or From value must be passed for range filters.</Condition>
                                <Error
                                    Description="Missing filter To / From values." ErrorCode="YCM85_018"/>
                            </Validation>
                            <Validation>
                                <Condition>From value must be less than the To value for range filters</Condition>
                                <Error
                                    Description="To value cannot be less than From value." ErrorCode="YCM85_031"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IndexFieldName"
                type="yfctype:Text-1000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The name of the field within the Search Index that is being used for filtering.  Only documents with a matching <code>Value</code> in this field will be returned.  IndexFieldName is required
								for Filters with a <code>Type</code> of <code>Normal</code>.
								<Validation>
                                <Condition>Normal filters must have an IndexFieldName value </Condition>
                                <Error
                                    Description="IndexFieldName is required." ErrorCode="YCM85_020"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="To" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The to value of the price range filter.  This attribute is only applicable for the filter of <code>PriceRange</code> type.
								<Validation>
                                <Condition>To and/or From value must be passed for range filters.</Condition>
                                <Error
                                    Description="Missing filter To / From values." ErrorCode="YCM85_018"/>
                            </Validation>
                            <Validation>
                                <Condition>From value must be less than the To value for range filters</Condition>
                                <Error
                                    Description="To value cannot be less than From value." ErrorCode="YCM85_031"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type"
                type="yfctype:EnumSearchIndexFilterType" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The type of the filter.
								<br/>Valid values: 
								<br/>
                            <b>
                                <code>Normal</code>
                            </b> - this indicates the normal filter based on item's attributes.
								<br/>
                            <b>
                                <code>PriceRange</code>
                            </b> - this indicates the price range filter based on customer's assigned prices. 
								<br/>Default value: <b>
                                <code>Normal</code>
                            </b>
                            <Validation>
                                <Condition>
                                    <code>Type</code> must match a valid Filter Type value.</Condition>
                                <Error Description="Invalid filter type" ErrorCode="YCM85_017"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The value of the text input by the user as search criteria.  This attribute is only applicable for the filter of <code>Normal</code> type.
								<Validation>
                                <Condition>Filter Value must be passed for filters of Type Normal.</Condition>
                                <Error
                                    Description="Missing filter Value." ErrorCode="YCM85_019"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryList">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The list of categories to search for items.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Category"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Category">
        <xsd:annotation yfc:tableName="YFS_CATEGORY">
            <xsd:documentation>This table stores item category master information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Path" type="yfctype:Text-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YFS_CATEGORY">
                    <xsd:documentation>
                        <div>
								The category path to search for items.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShowAllAssignedValues">
        <xsd:annotation>
            <xsd:documentation>List of ItemAttributes to show all assigned values for.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attributes"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attributes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attribute"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Description"/>
            </xsd:all>
            <xsd:attribute name="DataType"
                type="yfctype:EnumAttributeDataType" use="optional">
                <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The data type allowed for the value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Description">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:div"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="div">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="ItemAttribute">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR">
            <xsd:documentation>This table stores item attribute definition for each item attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IndexFieldName"
                type="yfctype:Text-1000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The field name that is stored in the index.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_NAME" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The name of the item attribute that the specification attribute represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
