Data/xapidocs/api_javadocs/XSD/YCM_getItemUOMList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemUOMList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemUOMList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getItemUOMList_output.xsd" yfc:rootElement="ItemUOMList">
        <xsd:appinfo source="yfc:structure">
            <ItemUOMList>
                <ItemUOM hasAttributes="Y">
                    <Item hasAttributes="Y"/>
                    <ItemUOMMaster hasAttributes="Y"/>
                </ItemUOM>
            </ItemUOMList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemUOMList" type="yfc:ItemUOMListXSDType"/>
    <xsd:complexType name="ItemUOMListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemUOM"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ItemUOM">
        <xsd:annotation yfc:tableName="YFS_ITEM_UOM">
            <xsd:documentation>All alternate UOM for an item are maintained in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Item"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemUOMMaster"/>
            </xsd:sequence>
            <xsd:attribute name="Height" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="HEIGHT" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Height of an item with this alternate UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="HEIGHT_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Unit of measure in which item height is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Length" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="LENGTH" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Length of an item for with alternate UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LengthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="LENGTH_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Unit of measure in which an item length is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity"
                type="yfctype:ConversionQuantity" use="required">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Conversion quantity to the inventory UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="required">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Alternate UOM applicable for the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Weight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Weight of an item with this alternate UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Unit of measure in which a package's weight is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Width" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="WIDTH" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Width of an item for with alternate UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WidthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="WIDTH_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Unit of measure in which an item's width is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="GlobalItemID"
                type="yfctype:GlobalItemID" use="optional">
                <xsd:annotation yfc:columnName="GLOBAL_ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique global identifier used to cross reference an item with another catalog organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:ItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The item group code. Used to identify if the item is a Product, Provided Service, Provided Service Option, Delivery Service or Delivery Service Option.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemUOMMaster">
        <xsd:annotation yfc:tableName="YFS_ITEM_UOM_MASTER">
            <xsd:documentation>This table stores all valid UOMs that are valid for a catalog. All operational, selling and inventory UOMs are maintained in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllowFractionsInConversion"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOW_FRACTIONS_IN_CONVERSION" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Indicates if quantity converted to this UOM can be displayed in fractions or should it revert to the inventory unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Description of a category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInventoryUOM" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INVENTORY_UOM" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Indicates if UOM is used as inventory unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsOrderingUOM" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ORDERING_UOM" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Indicates if UOM can be used as an ordering unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:ItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Item group to indicate if this is a product, provided service, or delivery service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemUOMMasterKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_UOM_MASTER_KEY" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_UOM_MASTER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LPNType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LPN_TYPE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>License Plate Type Case/Pallet.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Catalog Organization defining a uom.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackagingIndicator"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PACKAGING_INDICATOR" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>The packaging indicator is the designation of the levels of packaging.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QtyUomRoundingPrecision"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TimeUomRoundingPrecision"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UOMType" type="yfctype:UOMType" use="optional">
                <xsd:annotation yfc:columnName="UOM_TYPE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Type of Unit of measure Quantity/Dimension/Weigh/Time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Unit of Measure Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
