Data/xapidocs/api_javadocs/XSD/YCM_getServiceActivityList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getServiceActivityList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getServiceActivityList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getServiceActivityList_output.xsd" yfc:rootElement="ServiceActivityList">
        <xsd:appinfo source="yfc:structure">
            <ServiceActivityList hasAttributes="Y">
                <ServiceActivity hasAttributes="Y">
                    <ServiceItem hasAttributes="Y"/>
                </ServiceActivity>
            </ServiceActivityList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ServiceActivityList" type="yfc:ServiceActivityListXSDType"/>
    <xsd:complexType name="ServiceActivityListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceActivity"/>
        </xsd:sequence>
        <xsd:attribute name="LastListKey" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the last fetched activity and may be used as restart for listing the next time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastRecordSet" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if there are more records in the DB.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalServiceActivityList"
            type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of Records returned</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ServiceActivity">
        <xsd:annotation yfc:tableName="YFS_SERVICE_ACTIVITY">
            <xsd:documentation>This entity stores the list of activities involved in providing a particular service.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceItem"/>
            </xsd:all>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_SERVICE_ACTIVITY">
                    <xsd:documentation>Activity Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivitySeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_SEQ_NO" yfc:tableName="YFS_SERVICE_ACTIVITY">
                    <xsd:documentation>Activity sequence number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_SERVICE_ACTIVITY">
                    <xsd:documentation>Primary Key of the service item for which the activity is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceItem">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
