Data/xapidocs/api_javadocs/XSD/YCM_getCategoryDomainDetail_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getCategoryDomainDetail/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getCategoryDomainDetail/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getCategoryDomainDetail_input.xsd" yfc:rootElement="CategoryDomain">
        <xsd:appinfo source="yfc:structure">
            <CategoryDomain hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CategoryDomain" type="yfc:CategoryDomainXSDType">
        <xsd:annotation yfc:tableName="YFS_CATEGORY_DOMAIN">
            <xsd:documentation>
                <div>
				The highest level of classification of an item. Multiple domains can be created by an organization. All categorization is defined under a particular domain.
					<Validation>
                        <Condition>
						Either <code>CategoryDomainKey</code> or {<code>CategoryDomain</code> and <code>OrganizationCode</code> and <code>IsClassification</code>} must be passed and be valid. If not passed or not valid:
						</Condition>
                        <Error Description="Category Domain Not Found" ErrorCode="YCM0036"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CategoryDomainXSDType">
        <xsd:attribute name="AuthorizedSubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="AUTH_SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>This field indicates the sub-catalog organization that the catalog organization authorizes to maintain the category domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomain" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN"
                yfc:isConditional="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>The identifier for a category domain defined by an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>The primary key for the YFS_CATEGORY_DOMAIN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsClassification" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_CLASSIFICATION"
                yfc:isConditional="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>This flag indicates whether the category is an item classfication.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>The code for the organization that defines the category domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
