Data/xapidocs/api_javadocs/XSD/YCM_modifyCategoryDomain_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/modifyCategoryDomain/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/modifyCategoryDomain/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_modifyCategoryDomain_input.xsd" yfc:rootElement="CategoryDomainList">
        <xsd:appinfo source="yfc:structure">
            <CategoryDomainList>
                <CategoryDomain hasAttributes="Y">
                    <AssetList hasAttributes="Y">
                        <Asset hasAttributes="Y">
                            <AssetLocaleList hasAttributes="Y">
                                <AssetLocale hasAttributes="Y"/>
                            </AssetLocaleList>
                        </Asset>
                    </AssetList>
                    <CategoryDomainLocaleList hasAttributes="Y">
                        <CategoryDomainLocale hasAttributes="Y"/>
                    </CategoryDomainLocaleList>
                </CategoryDomain>
            </CategoryDomainList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CategoryDomainList" type="yfc:CategoryDomainListXSDType"/>
    <xsd:complexType name="CategoryDomainListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:CategoryDomain"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="CategoryDomain">
        <xsd:annotation yfc:tableName="YFS_CATEGORY_DOMAIN">
            <xsd:documentation>
                <div>
                    Highest level of classification of an item. Multiple domains can be created by an organization. All categorization is defined under a particular domain.
                        <Validation>
                        <Condition>
                            Either the <code>CategoryDomainKey</code> attribute or the combination of the <code>OrganizationCode</code>, <code>CategoryDomain</code>, and <code>IsClassification</code> attributes must be passed and must be valid.
                            </Condition>
                    </Validation>
                    <Validation>
                        <Condition>
                            If not passed:
                            </Condition>
                        <Error
                            Description="Mandatory parameters for the operation are missing" ErrorCode="YCM0002"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            If not valid:
                            </Condition>
                        <Error Description="Category Domain Not Found" ErrorCode="YCM0034"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            The <code>CategoryDomain</code>, <code>OrganizationCode</code>, and <code>IsClassification</code> attributes cannot be modified. If modification is attempted:
                            </Condition>
                        <Error
                            Description="Primary Key or Unique Keys cannot be modified" ErrorCode="YCM0040"/>
                    </Validation>
                    <Validation>
                        <Condition>
						   If <code>AuthorizedSubCatalogOrganizationCode</code> is not of a valid sub-catalog organization of the catalog organization specified in <code>OrganziationCode</code> field:
						</Condition>
                        <Error
                            Description="Invalid sub-catalog organization" ErrorCode="YCM83_007"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CategoryDomainLocaleList"/>
            </xsd:all>
            <xsd:attribute name="Action" type="yfctype:YCMAction" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Action to take</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>
                        <div>
                        A pre-defined list of fields that can be used for item classification.
                            <Validation>
                                <Condition>
                                If IsClassification is set to "Y", AttributeName must be passed. If not passed:
                                </Condition>
                                <Error
                                    Description="Mandatory parameters for the operation are missing" ErrorCode="YCM0002"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                If AttributeName is passed, it must be a valid attribute name of an item that the system allows. The valid values are HarmonizedCode, Schedule_B_Code, NMFCCode, NMFCClass, ECCNNo, NAICSCode, UNSPSC, HazmatClass, ProductLine, VelocityCode, TaxProductCode, ItemType, StorageType, PickingType, CommodityCode, and extended attributes of Item. If not a valid attribute name:
                                </Condition>
                                <Error
                                    Description="Invalid Item Classification Attribute" ErrorCode="YCM0050"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorizedSubCatalogOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="AUTH_SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>This field indicates the sub-catalog organization that the catalog organization authorizes to maintain the category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryDomain" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_DOMAIN"
                    yfc:isConditional="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The identifier for a category domain defined by an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The primary key for the YFS_CATEGORY_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The description of a category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsClassification" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CLASSIFICATION"
                    yfc:isConditional="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>This flag indicates whether the category is an item classfication.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The code for the organization that defines the category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The short description of a category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Asset"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old Asset records are removed and replaced with the new ones.
								If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Asset">
        <xsd:annotation yfc:tableName="YFS_ASSET">
            <xsd:documentation>This table stores Asset information such as images, audio, datasheets, video, and URLs. Assets can be used to further describe Items, Categories, Attributes, and Attribute Allowed Values.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetLocaleList"/>
            </xsd:all>
            <xsd:attribute name="AssetID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ASSET_ID" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>The unique identifier for the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Primary key attribute of YFS_ASSET.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentID" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentLocation" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>External location of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentSize" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_SIZE" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Size of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Description of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayLocalizedFieldInLocale"
                type="yfctype:Locale" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Label" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="LABEL" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Label of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									Valid value is <b>
                                <code>Delete</code>
                            </b>. Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Action" use="optional">
                <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>
                        <div>
									Type of asset.<br/>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetLocale"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old records are removed and replaced with the new ones.
										If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetLocale">
        <xsd:annotation yfc:tableName="YFS_ASSET_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related asset in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ASSET table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssetLocaleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_LOCALE_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ASSET_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentID" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentLocation" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>External location of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Description of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Label" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="LABEL" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Label of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
											Valid value is <b>
                                <code>Delete</code>
                            </b>. Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryDomainLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CategoryDomainLocale"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old records are removed and replaced with the new ones.
								If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryDomainLocale">
        <xsd:annotation yfc:tableName="YFS_CATEGORY_DOMAIN">
            <xsd:documentation>This table stores information for a category domain, the highest level of classification of item. Multiple domains can be created by an organization. All categories are  defined under a particular domain.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CatDomainLocaleKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The primary key for the YFS_CATEGORY_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The description of a category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									Valid value is <b>
                                <code>Delete</code>
                            </b>. Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The short description of a category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
