Data/xapidocs/api_javadocs/XSD/YCM_parseAssetUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/parseAssetUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/parseAssetUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_parseAssetUE_input.xsd" yfc:rootElement="Asset">
        <xsd:appinfo source="yfc:structure">
            <Asset hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Asset" type="yfc:AssetXSDType">
        <xsd:annotation yfc:tableName="YFS_ASSET">
            <xsd:documentation>This table stores Asset information such as images, audio, datasheets, video, and URLs. Assets can be used to further describe Items, Categories, Attributes, and Attribute Allowed Values.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AssetXSDType">
        <xsd:attribute name="AssetID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ASSET_ID" yfc:tableName="YFS_ASSET">
                <xsd:documentation>The unique identifier for the asset.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssetKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET">
                <xsd:documentation>Primary key attribute of YFS_ASSET.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContentID" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET">
                <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContentLocation" type="yfctype:URL" use="optional">
            <xsd:annotation yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET">
                <xsd:documentation>External location of the asset.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContentSize" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="CONTENT_SIZE" yfc:tableName="YFS_ASSET">
                <xsd:documentation>Size of the asset.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET">
                <xsd:documentation>Description of the asset.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Label" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="LABEL" yfc:tableName="YFS_ASSET">
                <xsd:documentation>Label of the asset.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YFS_ASSET">
                <xsd:documentation>Type of asset.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
