Data/xapidocs/api_javadocs/XSD/YCM_manageItemAttributeGroupType_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/manageItemAttributeGroupType/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/manageItemAttributeGroupType/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_manageItemAttributeGroupType_input.xsd" yfc:rootElement="ItemAttributeGroupType">
        <xsd:appinfo source="yfc:structure">
            <ItemAttributeGroupType hasAttributes="Y">
                <ItemAttrGrpTypeLocaleList hasAttributes="Y">
                    <ItemAttrGrpTypeLocale hasAttributes="Y"/>
                </ItemAttrGrpTypeLocaleList>
                <ItemAttributeGroupList hasAttributes="Y">
                    <ItemAttributeGroup hasAttributes="Y">
                        <ItemAttributeList hasAttributes="Y">
                            <ItemAttribute hasAttributes="Y"/>
                        </ItemAttributeList>
                        <ItemAttrGroupLocaleList hasAttributes="Y">
                            <ItemAttrGroupLocale hasAttributes="Y"/>
                        </ItemAttrGroupLocaleList>
                    </ItemAttributeGroup>
                </ItemAttributeGroupList>
            </ItemAttributeGroupType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemAttributeGroupType" type="yfc:ItemAttributeGroupTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
            <xsd:documentation>This table stores item attribute group types.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemAttributeGroupTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGrpTypeLocaleList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroupList"/>
        </xsd:all>
        <xsd:attribute name="ClassificationPurposeCode"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CLASSIFICATION_PURPOSE_CODE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>The classification purpose this group type is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>The description of this group type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsForMaintenance" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_FOR_MAINTENANCE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to a category hierarchy of maintenance. Valid values : Y/N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsForSelling" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_FOR_SELLING" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to a category hierarchy of selling. Valid values : Y/N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsSingleGroup" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_SINGLE_GROUP" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>Indicates that this group type will only have a single group defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsValidForCategory" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_VALID_FOR_CATEGORY" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to categories. Valid values : Y/N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsValidForClassification"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_VALID_FOR_CLASSIFICATION" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to classifications. Valid values : Y/N. If value is 'Y', then CLASSIFICATION_PURPOSE is required for selecting classification.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemAttributeGroupType"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>The group type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemAttributeGroupTypeKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR_GROUP_TYPE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Operation to perform
						<br/>Valid Values: 
						<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
						<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
						<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
						<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
						<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
						</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Action">
                    <xsd:enumeration value="Manage"/>
                    <xsd:enumeration value="Create"/>
                    <xsd:enumeration value="Modify"/>
                    <xsd:enumeration value="Delete"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemAttrGrpTypeLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGrpTypeLocale"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old records are removed and replaced with the new ones.
									If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGrpTypeLocale">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related item attribute group type in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The description of this group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGroupTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_TYPE_KEY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ITEM_ATTR_GROUP_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGrpTypeLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GRP_TYPE_LOCALE_KEY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ITEM_ATTR_GRP_TYPE_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										Valid value is <b>
                                <code>Delete</code>
                            </b>. Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttributeGroup"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old Item Attribute Group records are removed and replaced with the new ones.
					If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroup">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP">
            <xsd:documentation>This table stores specification group definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGroupLocaleList"/>
            </xsd:all>
            <xsd:attribute name="DisplayLocalizedFieldInLocale"
                type="yfctype:Locale" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The description of this item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupID"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_ID" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The identification of the item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupPath"
                type="yfctype:Text-800" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTRIBUTE_GROUP_PATH" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The path of the attribute group within the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The item attribute group type this group belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentItemAttributeGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PARENT_ITEM_ATTR_GRP_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The primary key of the parent item attribute group of this item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The sequence of the item attribute group within the item attribute group type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttribute"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old Item Attribute records are removed and replaced with the new ones.
							If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttribute">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR">
            <xsd:documentation>This table stores item attribute definition for each item attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The category that this attribute is assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInherited" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INHERITED" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the assignment is based on inheritance of the attribute assigned to the upper level category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsKeyAttribute" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_KEY_ATTR" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates that the item attribute is a key attribute for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The description of specification attribute on an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The item attribute group type this attribute belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_NAME" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The name of the item attribute that the specification attribute represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The sequence of the specifcation attribute within the specification group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGroupLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGroupLocale"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old records are removed and replaced with the new ones.
									If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGroupLocale">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related attribute group in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ITEM_ATTR_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGroupLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_LOCALE_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ITEM_ATTR_GROUP_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The description of this item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										Valid value is <b>
                                <code>Delete</code>
                            </b>. Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
