Data/xapidocs/api_javadocs/XSD/YCM_getServiceSkillDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getServiceSkillDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getServiceSkillDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getServiceSkillDetails_output.xsd" yfc:rootElement="ServiceSkill">
        <xsd:appinfo source="yfc:structure">
            <ServiceSkill hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ServiceSkill" type="yfc:ServiceSkillXSDType">
        <xsd:annotation yfc:tableName="YFS_SERVICE_SKILL">
            <xsd:documentation>
                <div>Details of the service skill selected.
		</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServiceSkillXSDType">
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SERVICE_SKILL">
                <xsd:documentation>Description of the Service Skill.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SERVICE_SKILL">
                <xsd:documentation>Organization code for which a Service Skill is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSkillId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SKILL_ID" yfc:tableName="YFS_SERVICE_SKILL">
                <xsd:documentation>Identifier of a Service Skill.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSkillKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SKILL_KEY" yfc:tableName="YFS_SERVICE_SKILL">
                <xsd:documentation>Primary key attribute of YFS_SERVICE_SKILL.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
