Data/xapidocs/api_javadocs/XSD/YCM_getItemInstructionCodeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemInstructionCodeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemInstructionCodeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_getItemInstructionCodeList_input.xsd" yfc:rootElement="ItemInstructionCode">
        <xsd:appinfo source="yfc:structure">
            <ItemInstructionCode hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemInstructionCode" type="yfc:ItemInstructionCodeXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
            <xsd:documentation>This table stores all pre-defined instructions for a catalog organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemInstructionCodeXSDType">
        <xsd:attribute name="InstructionCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INSTRUCTION_CODE" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                <xsd:documentation>Instruction codes as defined by the catalog organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InstructionText"
            type="yfctype:FreeInstructionText" use="optional">
            <xsd:annotation yfc:columnName="INSTRUCTION_TEXT" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                <xsd:documentation>Free form instruction text for the given instruction type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InstructionType" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="INSTRUCTION_TYPE" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                <xsd:documentation>Instruction type as defined by the catalog organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                <xsd:documentation>Catalog OrganizationCode for which the instruction code is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
