Data/xapidocs/api_javadocs/XSD/YCM_getCategoryList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getCategoryList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getCategoryList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getCategoryList_input.xsd" yfc:rootElement="Category">
        <xsd:appinfo source="yfc:structure">
            <Category hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Category" type="yfc:CategoryXSDType">
        <xsd:annotation yfc:tableName="YFS_CATEGORY">
            <xsd:documentation>This table stores item category master information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CategoryXSDType">
        <xsd:attribute name="AuthenticationKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>No logic around this flag currently.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthorizedSubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="AUTH_SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>This field indicates the sub-catalog organization that the catalog organization authorizes to maintain the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The category domain associated with this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomainKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The unique identifier for this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryIDQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Description" type="yfctype:FreeText-2000" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The description of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCategoryDomainKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromCategoryID" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="FromDescription"
            type="yfctype:FreeText-2000" use="optional"/>
        <xsd:attribute name="FromOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromParentCategoryKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="GetUnpublishedCategories"
            type="yfctype:Boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Indicates if unpublished categories need to be listed.<br>
					If this attribute is passed as <b>
                                <code>Y</code>
                            </b>, the API returns categories in unpublished status as well as categories in published status.</br>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords"
            type="yfctype:ListMaxRecordCount" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Maximum number of records requested for output.<br>
					If this attribute is not passed, the API returns the first 10 categories.</br>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>
                    <div>
					The Organization defining a category.<br>
					If this attribute is passed, categories maintained by this Organization are returned. Here, Organization is the organization that maintains the catalog.</br>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ParentCategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_CATEGORY_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The parent category associated with this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentCategoryKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SequenceNo" type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The display sequence of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartCategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>To start from a particular Category key</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The sub-catalog organization that maintains the category definition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCategoryDomainKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToCategoryID" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="ToDescription" type="yfctype:FreeText-2000" use="optional"/>
        <xsd:attribute name="ToOrganizationCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ToParentCategoryKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="UserOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>
					The user's Organization used as a fallback to determine the catalog organization.<br>
					This attribute is considered only if <code>OrganizationCode</code> is not passed.</br>
					If this attribute is passed, categories are returned for the catalog organization of the passed User Organization.
						<Validation>
                            <Condition>
							Must be a valid organization. If not valid:
							</Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YCM0019"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
