Data/xapidocs/api_javadocs/XSD/YCM_getSearchIndexFieldList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getSearchIndexFieldList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getSearchIndexFieldList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_getSearchIndexFieldList_output.xsd" yfc:rootElement="SearchIndexFieldList">
        <xsd:appinfo source="yfc:structure">
            <SearchIndexFieldList hasAttributes="Y">
                <SearchField hasAttributes="Y"/>
            </SearchIndexFieldList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SearchIndexFieldList" type="yfc:SearchIndexFieldListXSDType"/>
    <xsd:complexType name="SearchIndexFieldListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SearchField"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The total number of records of the result.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SearchField">
        <xsd:annotation>
            <xsd:documentation>
                <div>The search index field based on the CatalogSearchConfigProperties.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanUseAsFilter" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The flag indicates that the field can be used as filter criteria in the input of the <code>searchCatalogIndex</code> API.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IndexFieldName"
                type="yfctype:Text-1000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The field name that is stored in the index.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The display name of the searchable field.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Searchable" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The flag indicates that the field can be used for searching as a specific term in the input of the <code>searchCatalogIndex</code> API.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Sortable" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The flag indicates that the field can be used for sorting as a sort criteria in the input of the <code>searchCatalogIndex</code> API.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
