Data/xapidocs/api_javadocs/XSD/YCM_getItemAssociationsUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemAssociationsUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemAssociationsUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getItemAssociationsUE_input.xsd" yfc:rootElement="AssociationList">
        <xsd:appinfo source="yfc:structure">
            <AssociationList hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AssociationList" type="yfc:AssociationListXSDType">
        <xsd:annotation yfc:tableName="YFS_ASSOCIATION">
            <xsd:documentation>
                <div>
			To identify the item, pass either the <code>ItemKey</code>
                    <i>or</i> the combination of <code>OrganizationCode</code>, <code>ItemID</code>, and <code>UnitOfMeasure</code>.
			<Validation>
                        <Condition>If neither the <code>ItemKey</code> nor the combination of <code>OrganizationCode</code>, <code>ItemID</code>, and <code>UnitOfMeasure</code> is passed.
				</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YCM0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AssociationListXSDType">
        <xsd:attribute name="AssociationType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ASSOCIATION_TYPE" yfc:tableName="YFS_ASSOCIATION">
                <xsd:documentation>Type of association maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthenticationKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>Not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>Associations that the <code>EffectiveDate</code> falls into the period between <code>EffectiveFrom</code> and <code>EffectiveTo</code> dates will be returned from the database.  If <code>EffectiveDate</code> is not provided, all associations that matches other criteria will be returned from the database.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecuteQueries" type="yfctype:Boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>If the <code>ExecuteQueries</code> attribute is passed as <b>
                            <code>Y</code>
                        </b>, a list of items is returned which matches the criteria given in all queries that have been associated with the given item. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GetUnpublishedItems" type="yfctype:Boolean" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if unpublished items need to be listed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>
                    <div>
				Along with <code>OrganizationCode</code> and <code>UnitOfMeasure</code>, <code>ItemID</code> identifies the item having associations.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ITEM_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>Primary key of an item for which associations are maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>Organization that maintains catalog.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ASSOCIATION">
                <xsd:documentation>Priority associated with an Association. The association with highest priority (lowest value) will be considered first in automatic item substitution during scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Product Class of the item
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>Unit of measure for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
