Data/xapidocs/api_javadocs/XSD/YCM_getItemInstructionCodeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemInstructionCodeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemInstructionCodeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_getItemInstructionCodeList_output.xsd" yfc:rootElement="ItemInstructionCodeList">
        <xsd:appinfo source="yfc:structure">
            <ItemInstructionCodeList hasAttributes="Y">
                <ItemInstructionCode hasAttributes="Y"/>
            </ItemInstructionCodeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemInstructionCodeList" type="yfc:ItemInstructionCodeListXSDType"/>
    <xsd:complexType name="ItemInstructionCodeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemInstructionCode"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemInstructionCode">
        <xsd:annotation yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
            <xsd:documentation>This table stores all pre-defined instructions for a catalog organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InstructionCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_CODE" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                    <xsd:documentation>Instruction codes as defined by the catalog organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionText"
                type="yfctype:FreeInstructionText" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TEXT" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                    <xsd:documentation>Free form instruction text for the given instruction type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionType" type="yfctype:ID-10" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TYPE" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                    <xsd:documentation>Instruction type as defined by the catalog organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemInstructionCodeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_INSTRUCTION_CODE_KEY" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_INSTRUCTION_CODE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM_INSTRUCTION_CODE">
                    <xsd:documentation>Catalog OrganizationCode for which the instruction code is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
