Data/xapidocs/api_javadocs/XSD/YCM_getServiceTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getServiceTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getServiceTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getServiceTypeList_output.xsd" yfc:rootElement="ServiceTypeList">
        <xsd:appinfo source="yfc:structure">
            <ServiceTypeList hasAttributes="Y">
                <ServiceType hasAttributes="Y"/>
            </ServiceTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ServiceTypeList" type="yfc:ServiceTypeListXSDType"/>
    <xsd:complexType name="ServiceTypeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceType"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="ServiceType">
        <xsd:annotation yfc:tableName="YFS_SERVICE_TYPE">
            <xsd:documentation>This table stores service types that are used to group service items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CapacityUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_UOM" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>The capacity Unit of Measure for the service type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>The description of a service type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInStoreService" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_IN_STORE_SERVICE" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>This flag indicates whether the service item can be serviced at store location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>ItemGroupCode for the service or delivery item.  Valid values are PS - Provided Service, DS - Delivery Service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>Organization code of the item whose service type is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="REF_ITEM_ID" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>Representative Item ID for service area search.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceItemUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="REF_ITEM_UOM" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>Representative Item Unit Of Measure for service area search.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceComplexityLevel"
                type="yfctype:Count" use="optional">
                <xsd:annotation
                    yfc:columnName="SERVICE_COMPLEXITY_LEVEL" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>The service complexity level associated with this service type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceTypeID" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_TYPE_ID" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>The unique identifier for service type that belongs to a catalog organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_TYPE_KEY" yfc:tableName="YFS_SERVICE_TYPE">
                    <xsd:documentation>The primary key for the YFS_SERVICE_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
