Data/xapidocs/api_javadocs/XSD/YCM_getCategoryDomainList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getCategoryDomainList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getCategoryDomainList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getCategoryDomainList_input.xsd" yfc:rootElement="CategoryDomainList">
        <xsd:appinfo source="yfc:structure">
            <CategoryDomainList hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CategoryDomainList" type="yfc:CategoryDomainListXSDType">
        <xsd:annotation yfc:tableName="YFS_CATEGORY_DOMAIN">
            <xsd:documentation>This table stores information for a category domain, the highest level of classification of item. Multiple domains can be created by an organization. All categories are  defined under a particular domain.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CategoryDomainListXSDType">
        <xsd:attribute name="AttributeName" type="yfctype:AttributeName" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>The pre-defined list of fields which can be used for item classification.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttributeNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AuthenticationKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>No logic around this flag currently.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthorizedSubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="AUTH_SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>This field indicates the sub-catalog organization that the catalog organization authorizes to maintain the category domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomain" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>The identifier for a category domain defined by an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomainQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>The description of a category domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromAttributeName"
            type="yfctype:AttributeName" use="optional"/>
        <xsd:attribute name="FromCategoryDomain" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="FromDescription" type="yfctype:Text-2000" use="optional"/>
        <xsd:attribute name="FromIsClassification" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromShortDescription"
            type="yfctype:Text-100" use="optional"/>
        <xsd:attribute name="IsClassification" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_CLASSIFICATION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>This flag indicates whether the category is an item classfication.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsClassificationQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="MaximumRecords"
            type="yfctype:ListMaxRecordCount" use="optional">
            <xsd:annotation>
                <xsd:documentation>Maximum records requested for output</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>The code for the organization that defines the category domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>The short description of a category domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="StartCategoryDomainKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY" yfc:tableName="YFS_CATEGORY_DOMAIN">
                <xsd:documentation>To start from a particular CategoryDomainKey</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToAttributeName"
            type="yfctype:AttributeName" use="optional"/>
        <xsd:attribute name="ToCategoryDomain" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="ToDescription" type="yfctype:Text-2000" use="optional"/>
        <xsd:attribute name="ToIsClassification" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToOrganizationCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ToShortDescription" type="yfctype:Text-100" use="optional"/>
    </xsd:complexType>
</xsd:schema>
