Data/xapidocs/api_javadocs/XSD/YCM_getItemUOMMasterList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemUOMMasterList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemUOMMasterList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getItemUOMMasterList_input.xsd" yfc:rootElement="ItemUOMMaster">
        <xsd:appinfo source="yfc:structure">
            <ItemUOMMaster hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemUOMMaster" type="yfc:ItemUOMMasterXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_UOM_MASTER">
            <xsd:documentation>This table stores all valid UOMs that are valid for a catalog. All operational, selling and inventory UOMs are maintained in this table.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemUOMMasterXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If passed, a list of master UOMs is returned for the catalog organization of the calling organization. If <code>OrganizationCode</code> is also passed, it is used as a filter; the returned list will contain any master UOMs with the <code>OrganizationCode</code>.
					<Validation>
                            <Condition>
							Should be a valid organization. If not a valid organization:
						</Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode" type="yfctype:ItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                <xsd:documentation>Item group to indicate if this is a product, provided service, or delivery service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                <xsd:documentation>
                    <div>
				The catalog organization defining a UOM. If passed, a list of master UOMs is returned for the specified organization.
					<Validation>
                            <Condition>
							Should be a valid organization. If not a valid organization:
						</Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_UOM_MASTER">
                <xsd:documentation>Unit of Measure Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
