Data/xapidocs/api_javadocs/XSD/YCM_getItemNodeDefnList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemNodeDefnList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemNodeDefnList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getItemNodeDefnList_input.xsd" yfc:rootElement="ItemNodeDefn">
        <xsd:appinfo source="yfc:structure">
            <ItemNodeDefn hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemNodeDefn" type="yfc:ItemNodeDefnXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_NODE_DEFN">
            <xsd:documentation>
                <div>
			Provide criteria for selecting item node definitions.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemNodeDefnXSDType">
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_NODE_DEFN">
                <xsd:documentation>Unique identifier for an item that belongs to a catalog organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="NODE" yfc:tableName="YFS_ITEM_NODE_DEFN">
                <xsd:documentation>Node for which the data is being setup.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM_NODE_DEFN">
                <xsd:documentation>Catalog Organization for which the node level attributes are being created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_NODE_DEFN">
                <xsd:documentation>Unit of measure for Item quantity. A corresponding parent should exist in YFS_ITEM for each record created in this table with ItemId/UOM.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
