Data/xapidocs/api_javadocs/XSD/YCM_getItemAttributeGroupsForCategory_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemAttributeGroupsForCategory/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemAttributeGroupsForCategory/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_getItemAttributeGroupsForCategory_input.xsd" yfc:rootElement="ItemAttributeGroupType">
        <xsd:appinfo source="yfc:structure">
            <ItemAttributeGroupType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemAttributeGroupType" type="yfc:ItemAttributeGroupTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
            <xsd:documentation>
                <div>
			Identifies the category and the <code>ItemAttributeGroupType</code> to retrieve <code>ItemAttributeGroup</code>s for.<br/>
			A <code>Category</code> can be identified by passing <code>CategoryKey</code>, or by passing <code>OrganizationCode</code> along with either <code>CategoryPath</code> or both <code>CategoryID</code> and <code>ParentCategoryKey</code>.
				<Validation>
                        <Condition>No category was identified.
					</Condition>
                        <Error Description="Category not found." ErrorCode="YCM0034"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ItemAttributeGroupType</code> was not passed, or did not identify a valid <code>ItemAttributeGroupType</code>.
					</Condition>
                        <Error
                            Description="Item Attribute Group Type not found." ErrorCode="YCM75SP2_0003"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemAttributeGroupTypeXSDType">
        <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The unique identifier for this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The primary key for the YFS_CATEGORY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryPath" type="yfctype:Text-800" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The path for the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemAttributeGroupType"
            type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                <xsd:documentation>The group type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The code for the organization this category is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentCategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_CATEGORY_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The parent category associated with this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
