Data/xapidocs/api_javadocs/XSD/YCM_createMasterCatalog_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/createMasterCatalog/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/createMasterCatalog/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_createMasterCatalog_input.xsd" yfc:rootElement="MasterCatalogList">
        <xsd:appinfo source="yfc:structure">
            <MasterCatalogList>
                <MasterCatalog hasAttributes="Y"/>
            </MasterCatalogList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MasterCatalogList" type="yfc:MasterCatalogListXSDType"/>
    <xsd:complexType name="MasterCatalogListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:MasterCatalog"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="MasterCatalog">
        <xsd:annotation yfc:tableName="YFS_MASTER_CATALOG">
            <xsd:documentation>This table stores master catalog information for every organization. Each organization can have multiple master catalogs. Each item defined by the organization belongs to one of these master catalogs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>A description of the master catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterCatalogID" type="yfctype:ID-40" use="required">
                <xsd:annotation yfc:columnName="MASTER_CATALOG_ID" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>Unique identifier for a master catalog of an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>
                        <div>
				The organization for which the master catalog is created.
				<Validation>
                                <Condition>
                                    <code>OrganizationCode</code> is not passed.
					</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YCM0002"/>
                            </Validation>
                            <Validation>
                                <Condition>Not a valid organization code.
					</Condition>
                                <Error
                                    Description="Invalid Organization Code" ErrorCode="YCM0019"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>A short description for the master catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
