Data/xapidocs/api_javadocs/XSD/YCM_getItemUOMMasterList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemUOMMasterList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemUOMMasterList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getItemUOMMasterList_output.xsd" yfc:rootElement="ItemUOMMasterList">
        <xsd:appinfo source="yfc:structure">
            <ItemUOMMasterList>
                <ItemUOMMaster hasAttributes="Y"/>
            </ItemUOMMasterList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemUOMMasterList" type="yfc:ItemUOMMasterListXSDType"/>
    <xsd:complexType name="ItemUOMMasterListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemUOMMaster"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ItemUOMMaster">
        <xsd:annotation yfc:tableName="YFS_ITEM_UOM_MASTER">
            <xsd:documentation>This table stores all valid UOMs that are valid for a catalog. All operational, selling and inventory UOMs are maintained in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllowFractionsInConversion"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOW_FRACTIONS_IN_CONVERSION" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Indicates if quantity converted to this UOM can be displayed in fractions or should it revert to the inventory unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Description of a category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInventoryUOM" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INVENTORY_UOM" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Indicates if UOM is used as inventory unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsOrderingUOM" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ORDERING_UOM" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Indicates if UOM can be used as an ordering unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:ItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Item group to indicate if this is a product, provided service, or delivery service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemUOMMasterKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_UOM_MASTER_KEY" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_UOM_MASTER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LPNType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LPN_TYPE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>License Plate Type Case/Pallet.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Catalog Organization defining a uom.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackagingIndicator"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PACKAGING_INDICATOR" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>The packaging indicator is the designation of the levels of packaging.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QtyUOMRoundingPrecision"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation
                    yfc:columnName="QTY_UOM_ROUNDING_PRECISION" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Valid for weight/dimension and quantity UOMs.The number of decimal places to which the conversion precision is maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TimeUOMRoundingPrecision"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation
                    yfc:columnName="TIME_UOM_ROUNDING_PRECISION" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Valid Valid only for Time UOMs. The nearest number of minutes to which all values will be rounded up. If this is value is 10 all conversions to the UOM will be rounded to the nearest 10th minute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UOMType" type="yfctype:UOMType" use="optional">
                <xsd:annotation yfc:columnName="UOM_TYPE" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Type of Unit of measure Quantity/Dimension/Weigh/Time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_UOM_MASTER">
                    <xsd:documentation>Unit of Measure Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
