Data/xapidocs/api_javadocs/XSD/YCM_modifyItem_events.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/modifyItem_events"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/modifyItem_events" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_modifyItem_events.xsd" yfc:rootElement="Item">
        <xsd:appinfo source="yfc:structure">
            <Item hasAttributes="Y">
                <PrimaryInformation hasAttributes="Y"/>
                <InventoryParameters hasAttributes="Y"/>
                <SafetyFactorDefinitions>
                    <SafetyFactorDefinition hasAttributes="Y"/>
                </SafetyFactorDefinitions>
                <ClassificationCodes hasAttributes="Y"/>
                <ItemAliasList>
                    <ItemAlias hasAttributes="Y"/>
                </ItemAliasList>
                <ItemServiceSkillList>
                    <ItemServiceSkill hasAttributes="Y"/>
                </ItemServiceSkillList>
                <ItemExclusionList>
                    <ItemExclusion hasAttributes="Y"/>
                    <Remove>
                        <ItemExclusion hasAttributes="Y"/>
                    </Remove>
                </ItemExclusionList>
                <ItemServiceAssocList>
                    <ItemServiceAssoc hasAttributes="Y">
                        <ItemServiceAssocSkillList>
                            <ItemServiceAssocSkill hasAttributes="Y"/>
                        </ItemServiceAssocSkillList>
                    </ItemServiceAssoc>
                </ItemServiceAssocList>
                <AdditionalAttributeList>
                    <AdditionalAttribute hasAttributes="Y"/>
                </AdditionalAttributeList>
                <Components hasAttributes="Y">
                    <Component hasAttributes="Y"/>
                </Components>
                <LanguageDescriptionList>
                    <LanguageDescription hasAttributes="Y"/>
                </LanguageDescriptionList>
                <ServiceActivities>
                    <ServiceActivity hasAttributes="Y">
                        <ServiceActivityInstructions>
                            <ServiceActivityInstruction hasAttributes="Y"/>
                        </ServiceActivityInstructions>
                    </ServiceActivity>
                </ServiceActivities>
                <WMSItemAttributes hasAttributes="Y"/>
            </Item>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Item" type="yfc:ItemXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryParameters"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SafetyFactorDefinitions"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ClassificationCodes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAliasList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemServiceSkillList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemExclusionList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemServiceAssocList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalAttributeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Components"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LanguageDescriptionList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceActivities"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WMSItemAttributes"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:YCMAction" use="optional">
            <xsd:annotation>
                <xsd:documentation>Action to take</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanUseAsServiceTool" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_USE_AS_SERVICE_TOOL" yfc:tableName="YFS_ITEM">
                <xsd:documentation>This flag indicates whether this item is configured to be a service tool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GlobalItemID" type="yfctype:GlobalItemID" use="optional">
            <xsd:annotation yfc:columnName="GLOBAL_ITEM_ID" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unique global identifier used to cross reference an item with another catalog organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsSyncRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>This flag indicates whether item synchronization needs to be performed.
				  </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode" type="yfctype:ItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The item group code. Used to identify if the item is a Product, Provided Service, Provided Service Option, Delivery Service or Delivery Service Option.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unique identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AppointmentType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundleFulfillmentMode"
                type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="BUNDLE_FULFILLMENT_MODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The way in which the bundle will be fulfilled. It can be Ship Together(01), Ship Independent(00), or Deliver Together(02) for Bundle Item. Default value is Ship Together(01) for Bundle Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BundlePricingStrategy" use="optional">
                <xsd:annotation yfc:columnName="BUNDLE_PRICE_STRAT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Determines how a bundle will be priced. A bundle can by priced by PARENT (only the parent's price is used), COMP (only the components' prices are used), or ALL (both parent's and components' prices are used). Default: PARENT.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:BundlePricingStrategy">
                        <xsd:enumeration value="PARENT"/>
                        <xsd:enumeration value="COMP"/>
                        <xsd:enumeration value="ALL"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CapacityPerOrderedQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_PER_ORDERED_QTY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The capacity per ordered quantity.  Used to compute required capacity based on line ordered quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityQuantityStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_QUANTITY_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the capacity quantity is arrived at for provided and delivery services from the inventory quantity.   Valid values: ORD - Based on the ordered service quantity; ASSOC - Based on the service and product association.  Default value: ORD.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConfiguredModelKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONFIGURED_MODEL_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The key of the configured model for a configurable item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostCurrency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="COST_CURRENCY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The currency in which the item's cost is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The item's country of origin/manufacture.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_PRODUCT_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The default product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The extended multi-line description of the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDisplayDescription"
                type="yfctype:Text-500" use="optional">
                <xsd:annotation
                    yfc:columnName="EXTENDED_DISPLAY_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Display description for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FixedCapacityQtyPerLine"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="FIXED_CAPACITY_QTY_PER_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The fixed capacity quantity will be assumed irrespective of the inventory quantity for the line shipped with this item when the strategy is fixed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FixedPricingQtyPerLine"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="FIXED_PRICING_QTY_PER_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The fixed pricing quanity per line. Fixed pricing quantity will be assumed irrespective of the inventory quantity for the line shipped with this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAirShippingAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_AIR_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if item can be shipped by air. Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsConfigurable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CONFIGURABLE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates that the item is a configurable item. A configurable item can either be a bundle or a physical kit. A configurable bundle item offers a number of different options from which a customer can select before buying the product. Components for a bundle are not specified in the catalog as the actual components will be determined by the user when an order is placed. A physical kit must always be pre-configured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDeliveryAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DELIVERY_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method DEL is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsEligibleForShippingDiscount" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ELIGIBLE_FOR_SHIP_DISC" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Determines whether the item is eligible for shipping discounts. Default Value: Y.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value=""/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="Y"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IsForwardingAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FORWARDING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates if the item can be forwarded for zone skipping. Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFreezerRequired" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FREEZER_REQUIRED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if item requires freezer for transportation. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHazmat" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HAZMAT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if item is hazardous material.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsModelItem" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MODEL_ITEM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates that the item is an item with variations (formerly known as a model item). An item with variations represents a group of items with similar set of attributes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsParcelShippingAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PARCEL_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the item can be shipped through parcel service. Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PICKUP_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method PICK is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPreConfigured" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRE_CONFIGURED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates that the configurable item is pre-configured with selected options. If a bundle is pre-configured, the bundle or physical components that represent the selected option will be available in the catalog. For a pre-configured physical kit, only the physical kit will be available as the item in the catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsProcurementAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PROCUREMENT_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates if the item can be procured for zone skipping. Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsReturnService" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RETURN_SERVICE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether this provided or delivery service item is to be associated only to a return document.  Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShippingAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method SHP is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSoldSeparately" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SOLD_SEPARATELY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if the item can be sold separately. If N, then the item must be part of a bundle or kit. Valid Values: 'Y' or 'N'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSubOnOrderAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SUB_ON_ORDER_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if during scheduling an order, substitution is allowed or not. If Y, schedule will automatically attempt to substitute an item with preferred or regular substitute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The generic type of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Keywords" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="KEYWORDS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>A field used to specify keywords to be associated with the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitCode" type="yfctype:EnumKitCode" use="optional">
                <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates the kit code for this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerItem"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_ITEM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The identifier used by a manufacturer to identify an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerItemDesc"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_ITEM_DESC" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of an item, from a manufacturer's view point.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerName"
                type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_NAME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The manufacturer of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterCatalogID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="MASTER_CATALOG_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The master catalog to which an item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxOrderQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MAX_ORDER_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The maximum order quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinOrderQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MIN_ORDER_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The minimum order quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumCapacityQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="MINIMUM_CAPACITY_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This is the minimum capacity quantity which will be assumed when  the inventory quantity of the line to arrive at the capacity quantity when the strategy is to arrive at the capacity quantity by association with product line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModelItemUnitOfMeasure"
                type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="MODEL_ITEM_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field describes the unit of measure of the item with variations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumSecondarySerials"
                type="yfctype:Digit" use="optional">
                <xsd:annotation yfc:columnName="NUM_SECONDARY_SERIALS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The number of secondary serial numbers applicable for a serialized item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQuantityConvFactor"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_QUANTITY_CONV_FACTOR" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The pricing quantity conversion factor. This conversion factor is multiplied with the inventory quantity of the line to arrive at this pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQuantityStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_QUANTITY_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the pricing quantity is arrived at when different from the inventory quantity.   Valid values: IQTY - Based on the inventory quantity.  Default value: IQTY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="PRICING_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The pricing unit of measure, if different from the inventory unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingUOMStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PRICING_UOM_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the pricing unit of measure is defaulted for the item. It could be same as the inventory UOM or could be different.  Valid values: INV - Same as the inventory UOM; ALT - Different from the inventory UOM.  Default value: INV.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimarySupplier" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_SUPPLIER" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary supplier. This will have the primary supplier organization code for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductLine" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The product line associated with the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresProdAssociation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRES_PROD_ASSOCIATION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>IThis flag indicates whether the item must be associated to an order line having a group code of PROD. Applicable for service items which must be associated to a Product order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerializedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SERIALIZED_FLAG" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item is serialized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConsolidationWindow" use="optional">
                <xsd:annotation yfc:columnName="SHP_CONSOL_WINDOW" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates the number of days an item can be delayed after it becomes available to be consolidated to a single shipment. Used by scheduling when shipment/cost optimization is considered.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:EnumShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates the status of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item is taxable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The cost of one unit of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitHeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_HEIGHT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The height of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitHeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_HEIGHT_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which item height is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitLength" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_LENGTH" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The length of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitLengthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_LENGTH_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which an item length is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WEIGHT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The weight of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WEIGHT_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which the item weight is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWidth" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WIDTH" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The width of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWidthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WIDTH_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which an item's width is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryParameters">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ATPRule" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATP_RULE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The available to promise rule to be used for the item to determine availability.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdvanceNotificationTime" use="optional">
                <xsd:annotation
                    yfc:columnName="ADVANCE_NOTIFICATION_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The advance notification time for this item. Communication to ship the order to shipping node/supplier is made at most this many days before the expected shipment date. Used during the release process. Default value: 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="DefaultExpirationDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_EXPIRATION_DAYS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The default for number of days after which an item would expire.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="FUTURE_SAFETY_FACTOR_PCT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The future safety factor percentage of this item.  The FutureSafetyFactorPercentage will be excluded from the actual future availability of the item if the scheduling rule, node type, and supply type are configured to apply future safety factor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="InventoryMonitorRule"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_MONITOR_RULE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The monitoring rule that will be used by the availability monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFifoTracked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FIFO_TRACKED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item is FIFO tracked. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemBasedAllocationAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_IBA_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the item is allowed for Item Based Allocation process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSerialTracked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SERIAL_TRACKED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item is to be serial tracked in inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LeadTime" use="optional">
                <xsd:annotation yfc:columnName="LEAD_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The lead time for getting the product delivered. Purchase order placed today will arrive after this many days at the warehouse. Default value: 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaximumNotificationTime" use="optional">
                <xsd:annotation yfc:columnName="MAX_NOTIFICATION_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The maximum notification time for this item. Communication to ship the order to shipping node/supplier is made at most this many shipping calendar hours before the expected shipment date. Used during the release process. Default value: 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MinNotificationTime" use="optional">
                <xsd:annotation yfc:columnName="MIN_NOTIFICATION_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The minimum notification time for this item. Communication to ship the order should be made at least this many days before the expected shipment date. Used to determine the earliest ship date on the line. Default value: 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_PCT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The on-hand safety factor percentage of this item.  The OnhandSafetyFactorPercentage will be excluded from the actual on-hand availability of the item if the scheduling rule, node type, and supply type are configured to apply on-hand safety factor.   OnhandSafetyFactorPercentage will be used only when OnhandSafetyFactorQuantity is not specified.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorQuantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_QTY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The on-hand safety factor quantity of this item.  The OnhandSafetyFactorQuantity will be excluded from the actual on-hand availability of the item if the scheduling rule, node type, and supply type are configured to apply on-hand safety factor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ProcessingTime"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="PROCESSING_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Define processing time for items in days such as special services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerializedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SERIALIZED_FLAG" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item is serialized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagControlFlag"
                type="yfctype:EnumTagControlFlag" use="optional">
                <xsd:annotation yfc:columnName="TAG_CONTROL_FLAG" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates whether an item is tag controlled. Inventory module uses this flag to determine if additional inventory attributes need to be stored for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TimeSensitive" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TIME_SENSITIVE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indiactes whether the item is time-sensitive. Inventory module uses this to determine if inventory is dated. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseUnplannedInventory"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USE_UNPLANNED_INV" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the item is allowed to use unplanned inventory. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SafetyFactorDefinitions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SafetyFactorDefinition"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SafetyFactorDefinition">
        <xsd:annotation yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
            <xsd:documentation>This table stores safety factor definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="FutureSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="FUTURE_SAFETY_FACTOR_PCT" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The future safety factor percentage of this item.  The FutureSafetyFactorPercentage will be excluded from the actual future availability of the item if the scheduling rule, node type, and supply type are configured to apply future safety factor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_PCT" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The on-hand safety factor percentage of this item.  The OnhandSafetyFactorPercentage will be excluded from the actual on-hand availability of the item if the scheduling rule, node type, and supply type are configured to apply on-hand safety factor.   OnhandSafetyFactorPercentage will be used only when OnhandSafetyFactorQuantity is not specified.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorQuantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_QTY" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The on-hand safety factor quantity of this item.  The OnhandSafetyFactorQuantity will be excluded from the actual on-hand availability of the item if the scheduling rule, node type, and supply type are configured to apply on-hand safety factor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClassificationCodes">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CommodityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COMMODITY_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The commodity code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ECCNNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ECCN_NO" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The ECCN number of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HarmonizedCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="HARMONIZED_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The harmonized code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HazmatClass" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="HAZMAT_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The hazardous material classification code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NMFCClass" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="NMFC_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NMFC class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NMFCCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NMFC_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NMFC code for an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OperationalConfigurationComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="OPERATIONAL_CONFIG_COMPLETE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the operational configuration is complete.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickingType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PICKING_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The picking type code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PostingClassification"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="POSTING_CLASSIFICATION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The posting classification. This will have the item grouping value for the Financial Ledger groups.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Schedule_B_Code" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCHEDULE_B_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The schedule B code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The storage type code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxProductCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_PRODUCT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The tax product code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UNSPSC" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UNSPSC" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The UNSPSC code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAliasList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAlias"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAlias">
        <xsd:annotation yfc:tableName="YFS_ITEM_ALIAS">
            <xsd:documentation>This table is used to cross-reference item id of one organization to another. It also stores all aliases for an item. One of the aliases can be designated as a "cross-referencing" alias.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AliasName" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="ALIAS_NAME" yfc:tableName="YFS_ITEM_ALIAS">
                    <xsd:documentation>Alias type. For example, UPC, EAN, MFG. CODE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AliasValue" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="ALIAS_VALUE" yfc:tableName="YFS_ITEM_ALIAS">
                    <xsd:documentation>Alias value for the corresponding alias name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceSkillList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemServiceSkill"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceSkill">
        <xsd:annotation yfc:tableName="YFS_ITEM_SERVICE_SKILL">
            <xsd:documentation>This table stores Service Skill information for the service item.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AliasName" type="yfctype:String" use="required"/>
            <xsd:attribute name="AliasValue" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemExclusionList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="ItemExclusion">
                    <xsd:annotation yfc:tableName="YFS_ITEM_EXCLUSION">
                        <xsd:documentation>This table stores exclusion codes associated with an item. It can be used to store list of countries, customers etc that are excluded from ordering an item.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ExclusionCode"
                            type="yfctype:Text-40" use="required">
                            <xsd:annotation
                                yfc:columnName="EXCLUSION_CODE" yfc:tableName="YFS_ITEM_EXCLUSION">
                                <xsd:documentation>Exclusion code for an item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Remove"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Remove">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="ItemExclusion">
                    <xsd:annotation yfc:tableName="YFS_ITEM_EXCLUSION">
                        <xsd:documentation>This table stores exclusion codes associated with an item. It can be used to store list of countries, customers etc that are excluded from ordering an item.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ExclusionCode"
                            type="yfctype:Text-40" use="required">
                            <xsd:annotation
                                yfc:columnName="EXCLUSION_CODE" yfc:tableName="YFS_ITEM_EXCLUSION">
                                <xsd:documentation>Exclusion code for an item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemServiceAssoc"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssoc">
        <xsd:annotation yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
            <xsd:documentation>All valid provided service items and delivery service associated to an item are maintained in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemServiceAssocSkillList"/>
            </xsd:all>
            <xsd:attribute name="HoldSchedTillCompletion"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="HOLD_SCHED_TILL_COMPLETION" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Flag to indicate whether to hold the schedule for the line containing provided service or delivery service item till line containing the parent item has been shipped.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingProductQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_PRODUCT_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Pricing Quantity for item used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingServiceQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_SERVICE_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Pricing Quantity for service used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Quantity for item used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemGroupCode"
                type="yfctype:Text-20" use="required">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>ItemGroupCode for the service or delivery item.  Valid values are PS - Provided Service, DS - Delivery Service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemId" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_ID" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Provided service or delivery service item associated as option when selling the parent item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Quantity for service used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceTimeOffset"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ServiceUOM" type="yfctype:UOM" use="required">
                <xsd:annotation yfc:columnName="SERVICE_UOM" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>UOM of the provided service or delivery service item associated to the parent item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocSkillList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemServiceAssocSkill"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocSkill">
        <xsd:annotation yfc:tableName="YFS_ITEM_SERVICE_ASSC_SKILL">
            <xsd:documentation>This table stores Service Skill information for the service item association.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ServiceSkillId" type="yfctype:ID-40" use="required">
                <xsd:annotation yfc:columnName="SERVICE_SKILL_ID" yfc:tableName="YFS_ITEM_SERVICE_ASSC_SKILL">
                    <xsd:documentation>Identifier of a Service Skill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttributeList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalAttribute"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttribute">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Components">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Component"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>If the value of <code>Reset</code> passed is <b>
                                <code>Y</code>
                            </b>, the component definitions are changed. If the value of <code>Reset</code> passed is <b>
                                <code>N</code>
                            </b>, only the deltas are applied.
				  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Component">
        <xsd:annotation yfc:tableName="YFS_KIT_ITEM">
            <xsd:documentation>
                <div>This element defines a component of the Item, if it is a Kit Item.
				  </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ComponentItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Along with <code>ComponentOrganizationCode</code> and <code>ComponentUnitOfMeasure</code>, it identifies a component item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComponentItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Component item's primary key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComponentOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Organization that maintains the catalog for the Component Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComponentUnitOfMeasure"
                type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Unit of measure for the Component Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="KIT_QUANTITY" yfc:tableName="YFS_KIT_ITEM">
                    <xsd:documentation>Amount of a component item that is contained in a parent item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					   Valid value is <b>
                                <code>Delete</code>
                            </b>. To add or modify a component there is no need to pass operation attribute. It is determined internally. Delete is the one which should be passed explicitly.
					  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescriptionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LanguageDescription"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescription">
        <xsd:annotation yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
            <xsd:documentation>This table stores description in different languages.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>A localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>An extended localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDisplayDescription"
                type="yfctype:Text-500" use="optional">
                <xsd:annotation
                    yfc:columnName="EXTENDED_DISPLAY_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Localized extended display description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_CODE" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Locale for which the extended description is stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Short description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceActivities">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceActivity"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceActivity">
        <xsd:annotation yfc:tableName="YFS_SERVICE_ACTIVITY">
            <xsd:documentation>This entity stores the list of activities involved in providing a particular service.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ServiceActivityInstructions"/>
            </xsd:all>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_SERVICE_ACTIVITY">
                    <xsd:documentation>Activity Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivitySeqNo" type="yfctype:Count" use="required">
                <xsd:annotation yfc:columnName="ACTIVITY_SEQ_NO" yfc:tableName="YFS_SERVICE_ACTIVITY">
                    <xsd:documentation>Activity sequence number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceActivityInstructions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ServiceActivityInstruction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ServiceActivityInstruction">
        <xsd:annotation yfc:tableName="YFS_SERVICE_ACTIVITY_INSTR">
            <xsd:documentation>This entity stores the list of instructions for the service activities involved in providing a particular service.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InstructionText"
                type="yfctype:InstructionText" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TEXT" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Free-form text indicating any additional information related to the instruction type or otherwise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionURL" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_URL" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>The URL relating to and/or containing the instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="required">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>You could have an instruction exceeding the limits of a single record. Sequence number is used to provide a way to store a link between such instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WMSItemAttributes">
        <xsd:annotation yfc:tableName="YFS_WMS_ITEM_ATTRIBUTES">
            <xsd:documentation>Stores WMS specific product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConstrainedByHeight"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CONSTRAINED_BY_HEIGHT" yfc:tableName="YFS_WMS_ITEM_ATTRIBUTES">
                    <xsd:documentation>Indicates whether the item orientation when packed inside the container is constrained by height, for ex: up-right or non-tippable items like paints, oil cans etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Deformable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DEFORMABLE" yfc:tableName="YFS_WMS_ITEM_ATTRIBUTES">
                    <xsd:documentation>Indicates whether this item can be folded/stuffed/squeezed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackByVolume" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PACK_BY_VOLUME" yfc:tableName="YFS_WMS_ITEM_ATTRIBUTES">
                    <xsd:documentation>Indicates whether the item dimensions should be tracked after this item is placed inside the container. If true, only the volume and weight are tracked after performing a dimension check against the container to be packed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackedHeight" use="optional">
                <xsd:annotation yfc:columnName="PACKED_HEIGHT" yfc:tableName="YFS_WMS_ITEM_ATTRIBUTES">
                    <xsd:documentation>Height of the item when packed inside a container. The unit of measure for this is same as that of dimension UOM for unit height.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PackedLength" use="optional">
                <xsd:annotation yfc:columnName="PACKED_LENGTH" yfc:tableName="YFS_WMS_ITEM_ATTRIBUTES">
                    <xsd:documentation>Length of the item when packed inside a container. The unit of measure for this is same as that of dimension UOM for unit length.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PackedWidth" use="optional">
                <xsd:annotation yfc:columnName="PACKED_WIDTH" yfc:tableName="YFS_WMS_ITEM_ATTRIBUTES">
                    <xsd:documentation>Width of the item when packed inside a container. The unit of measure for this is same as that of dimension UOM for unit width.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="StackHeightIncrease" use="optional">
                <xsd:annotation yfc:columnName="STACKED_HEIGHT_INC" yfc:tableName="YFS_WMS_ITEM_ATTRIBUTES">
                    <xsd:documentation>Increase in height of the item when stacked. The unit of measure for this is same as that of dimension UOM for unit height.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Stackable" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This flag indicates whether the item is stackable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
