Data/xapidocs/api_javadocs/XSD/YCM_getWebChannelItemPreviewURLUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getWebChannelItemPreviewURLUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getWebChannelItemPreviewURLUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_getWebChannelItemPreviewURLUE_output.xsd" yfc:rootElement="URL">
        <xsd:appinfo source="yfc:structure">
            <URL hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="URL" type="yfc:URLXSDType"/>
    <xsd:complexType name="URLXSDType">
        <xsd:attribute name="URLPath" type="yfctype:URL" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
		The URL from Business Center use for previewing the item details.
		</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
