Data/xapidocs/api_javadocs/XSD/YCM_manageSearchIndexTrigger_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/manageSearchIndexTrigger/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/manageSearchIndexTrigger/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_manageSearchIndexTrigger_output.xsd" yfc:rootElement="SearchIndexTrigger">
        <xsd:appinfo source="yfc:structure">
            <SearchIndexTrigger hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SearchIndexTrigger" type="yfc:SearchIndexTriggerXSDType">
        <xsd:annotation yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
            <xsd:documentation>This table stores information for search indexes that are scheduled to be built, have already been built or are in the process of being built.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SearchIndexTriggerXSDType">
        <xsd:attribute name="CategoryDomain" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The Selling Category Domain that the items in the index belong to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IncrementalBuildFromTriggerID"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INC_BUILD_FROM_TRIGGER_ID" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The unique identifier of an existing search index trigger that was re-built incrementally.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IndexPath" type="yfctype:Text-250" use="optional">
            <xsd:annotation yfc:columnName="INDEX_PATH" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The path to the index file on the file system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfErrors" type="yfctype:Digit" use="optional">
            <xsd:annotation yfc:columnName="NUMBER_OF_ERRORS" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The max number of errors that can occur during the build process before ending the process in failure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The Organization Code of the Organization maintaining the search index trigger.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchIndexTriggerID"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_INDEX_TRIGGER_ID" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The unique identifier of the search index trigger.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchIndexTriggerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_INDEX_TRIGGER_KEY" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The unique key for the YFS_SEARCH_INDEX_TRIGGER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Text-2" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The status of a Trigger indicating if the index build is: 01 (Scheduled), 02 (In Process), 03 (Completed), 04 (Active), 05 (Error), 06 (Failure).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TriggerTimestamp" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="TRIGGER_TIMESTAMP" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The timestamp of when the index build should be triggered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
