Data/xapidocs/api_javadocs/XSD/YCM_getMasterCatalogDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getMasterCatalogDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getMasterCatalogDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_getMasterCatalogDetails_output.xsd" yfc:rootElement="MasterCatalog">
        <xsd:appinfo source="yfc:structure">
            <MasterCatalog hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MasterCatalog" type="yfc:MasterCatalogXSDType">
        <xsd:annotation yfc:tableName="YFS_MASTER_CATALOG">
            <xsd:documentation>This table stores master catalog information for every organization. Each organization can have multiple master catalogs. Each item defined by the organization belongs to one of these master catalogs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MasterCatalogXSDType">
        <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_MASTER_CATALOG">
                <xsd:documentation>A description of the master catalog.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MasterCatalogID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="MASTER_CATALOG_ID" yfc:tableName="YFS_MASTER_CATALOG">
                <xsd:documentation>Unique identifier for a master catalog of an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MasterCatalogKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MASTER_CATALOG_KEY" yfc:tableName="YFS_MASTER_CATALOG">
                <xsd:documentation>Primary key attribute of YFS_MASTER_CATALOG.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MASTER_CATALOG">
                <xsd:documentation>Organization that owns a master catalog.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_MASTER_CATALOG">
                <xsd:documentation>A short description for the master catalog.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
