Data/xapidocs/api_javadocs/XSD/YCM_getCategoryDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getCategoryDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getCategoryDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getCategoryDetails_output.xsd" yfc:rootElement="Category">
        <xsd:appinfo source="yfc:structure">
            <Category hasAttributes="Y">
                <ItemAttributeGroupTypeList>
                    <ItemAttributeGroupType hasAttributes="Y">
                        <ItemAttributeGroupList>
                            <ItemAttributeGroup hasAttributes="Y">
                                <ItemAttributeList>
                                    <ItemAttribute hasAttributes="Y">
                                    <Attribute hasAttributes="Y">
                                    <DerivedFromAttribute hasAttributes="Y"/>
                                    <AttributeReference hasAttributes="Y"/>
                                    <AttributeAllowedValueList hasAttributes="Y">
                                    <AttributeAllowedValue hasAttributes="Y"/>
                                    </AttributeAllowedValueList>
                                    </Attribute>
                                    <AssignedValueList>
                                    <AssignedValue hasAttributes="Y"/>
                                    </AssignedValueList>
                                    </ItemAttribute>
                                </ItemAttributeList>
                                <ItemAttrGroupLocaleList hasAttributes="Y">
                                    <ItemAttrGroupLocale hasAttributes="Y"/>
                                </ItemAttrGroupLocaleList>
                            </ItemAttributeGroup>
                        </ItemAttributeGroupList>
                        <ItemAttrGrpTypeLocaleList hasAttributes="Y">
                            <ItemAttrGrpTypeLocale hasAttributes="Y"/>
                        </ItemAttrGrpTypeLocaleList>
                    </ItemAttributeGroupType>
                </ItemAttributeGroupTypeList>
                <AdditionalAttributeList>
                    <AdditionalAttribute hasAttributes="Y"/>
                </AdditionalAttributeList>
                <ItemServiceAssocList>
                    <ItemServiceAssoc hasAttributes="Y">
                        <ItemServiceAssocSkillList>
                            <ItemServiceAssocSkill hasAttributes="Y"/>
                        </ItemServiceAssocSkillList>
                    </ItemServiceAssoc>
                </ItemServiceAssocList>
                <AssetList hasAttributes="Y">
                    <Asset hasAttributes="Y">
                        <AssetLocaleList hasAttributes="Y">
                            <AssetLocale hasAttributes="Y"/>
                        </AssetLocaleList>
                    </Asset>
                </AssetList>
                <CategoryLocaleList hasAttributes="Y">
                    <CategoryLocale hasAttributes="Y"/>
                </CategoryLocaleList>
                <ClassificationItemAttribute hasAttributes="Y">
                    <SafetyFactorDefinitions>
                        <SafetyFactorDefinition hasAttributes="Y"/>
                    </SafetyFactorDefinitions>
                </ClassificationItemAttribute>
            </Category>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Category" type="yfc:CategoryXSDType">
        <xsd:annotation yfc:tableName="YFS_CATEGORY">
            <xsd:documentation>This table stores item category master information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CategoryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroupTypeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalAttributeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemServiceAssocList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CategoryLocaleList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ClassificationItemAttribute"/>
        </xsd:all>
        <xsd:attribute name="AuthorizedSubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="AUTH_SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>This field indicates the sub-catalog organization that the catalog organization authorizes to maintain the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The category domain associated with this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The unique identifier for this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The primary key for the YFS_CATEGORY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryPath" type="yfctype:Text-800" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The path for the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-2000" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The description of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The code for the organization this category is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentCategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_CATEGORY_KEY" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The parent category associated with this category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The display sequence of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The short description of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:EnumShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The status of the category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_CATEGORY">
                <xsd:documentation>The sub-catalog organization that maintains the category definition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemAttributeGroupTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttributeGroupType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupType">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
            <xsd:documentation>This table stores item attribute group types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroupList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGrpTypeLocaleList"/>
            </xsd:all>
            <xsd:attribute name="ClassificationPurposeCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CLASSIFICATION_PURPOSE_CODE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The classification purpose this group type is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The description of this group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsForMaintenance" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FOR_MAINTENANCE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to a category hierarchy of maintenance. Valid values : Y/N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsForSelling" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FOR_SELLING" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to a category hierarchy of selling. Valid values : Y/N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSingleGroup" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SINGLE_GROUP" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>Indicates that this group type will only have a single group defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsValidForCategory" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_VALID_FOR_CATEGORY" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to categories. Valid values : Y/N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsValidForClassification"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_VALID_FOR_CLASSIFICATION" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to classifications. Valid values : Y/N. If value is 'Y', then CLASSIFICATION_PURPOSE is required for selecting classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_TYPE_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR_GROUP_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttributeGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroup">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP">
            <xsd:documentation>This table stores specification group definitions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttrGroupLocaleList"/>
            </xsd:all>
            <xsd:attribute name="ItemAttributeGroupDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The description of this item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupID"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_ID" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The identification of the item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupPath"
                type="yfctype:Text-800" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTRIBUTE_GROUP_PATH" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The path of the attribute group within the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentItemAttributeGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PARENT_ITEM_ATTR_GRP_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The primary key of the parent item attribute group of this item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ITEM_ATTR_GROUP">
                    <xsd:documentation>The sequence of the item attribute group within the item attribute group type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttribute">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR">
            <xsd:documentation>This table stores item attribute definition for each item attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attribute"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssignedValueList"/>
            </xsd:all>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The category that this attribute is assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInherited" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INHERITED" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the assignment is based on inheritance of the attribute assigned to the upper level category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsKeyAttribute" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_KEY_ATTR" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates that the item attribute is a key attribute for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The description of specification attribute on an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The specification group that this specification attribute belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The item attribute group type this attribute belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_KEY" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_NAME" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The name of the item attribute that the specification attribute represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ITEM_ATTR">
                    <xsd:documentation>The sequence of the specifcation attribute within the specification group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										The associated value of <code>ItemAttributeName</code> for this item.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DerivedFromAttribute"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttributeReference"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttributeAllowedValueList"/>
            </xsd:all>
            <xsd:attribute name="AllowMultipleValues"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOW_MULTIPLE_VALUES" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether multiple values are allowed to be assigned for this attribute. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedValueLength" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_VALUE_LENGTH" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The maximum length allowed for a value of Data Type = 'TEXT'. If not passed, the maximum length allowed is 200.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:MaxRecordCount"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributePostFix"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_POST_FIX" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The post fix to be applied to the value of this attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataType"
                type="yfctype:EnumAttributeDataType" use="optional">
                <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The data type allowed for the value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DerivedFromAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DERIVED_FROM_ATTR_KEY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The primary key of the attribute record from which this attribute is derived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedValueDefined"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ALLOWED_VALUE_DEFINED" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether a set of allowed values are defined for this attribute. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsValueMandatory" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_VALUE_MANDATORY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether this attribute requires a mandatory selection of value when assigned to an item. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The detailed description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The organization that maintains the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The sequence of this attribute within the attribute group.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The short description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DerivedFromAttribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The organization that maintains the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The short description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeReference">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
            <xsd:documentation>This table stores references of predefined attribute definition to fields of YFS_ITEM or item alias name.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
                    <xsd:documentation>The attribute that this reference field is assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeReferenceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_REFERENCE_KEY" yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
                    <xsd:documentation>The primary key attribute of YFS_ATTRIBUTE_REFERENCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_NAME" yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
                    <xsd:documentation>The reference name that the predefined attribute represents. If the tablename is 'YFS_ITEM', then this field contains the XML name of the field that the attribute represents. If the tablename is 'YFS_ITEM_ALIAS', then this field contains the item alias name that the attribute represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
                    <xsd:documentation>The name of the database table that contains the field assigned to a predefined attribute definition. Valid values : 'YFS_ITEM' or 'YFS_ITEM_ALIAS'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeAllowedValueList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AttributeAllowedValue"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeAllowedValue">
        <xsd:annotation yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
            <xsd:documentation>This table stores allowed values of attribute definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeAllowedValueKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTR_ALLOWED_VALUE_KEY" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The primary key for the YFS_ATTR_ALLOWED_VALUE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The attribute that the allowed value belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDefaultValue" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DEFAULT_VALUE" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>This flag indicates whether this value is the default value of the attribute. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The detailed description of the  allowed value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumericStep" use="optional">
                <xsd:annotation yfc:columnName="NUMERIC_STEP" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The incremental step of the allowed value within the numeric value range. For instance, if the numeric value range is from 0 to 100 and the numeric step is 5, the allowed values are 0, 5, 10, 15, 20, 25, etc.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The sequence of the allowed value within the attribute definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The short description of the  allowed value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The allowed value of the attribute that a user is entitled to assign. For an attribute of Numeric or Decimal Datatype, this value may be a list of values and/or a range of values. Each value in the list may be separated by a ';'. A range must be specified by two values separated by a '-'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssignedValueList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AssignedValue"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssignedValue">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>
                <div>
				The attributes in this element are the values stored as <code>AdditionalAttribute</code> records for the <code>ItemAttribute</code> record under which it appears. For an <code>Attribute</code> configured as a derived attribute, the <code>Value</code> is the configured value for the derived attribute. The value itself is not assigned to the category. <code>IsInherited</code> flag will not appear for a derived attribute.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DoubleValue" use="optional">
                <xsd:annotation yfc:columnName="DOUBLE_VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'DECIMAL'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IntegerValue" use="optional">
                <xsd:annotation yfc:columnName="INTEGER_VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'INTEGER'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IsInherited" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INHERITED" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>This field indicates whether the assignment of attribute value as additional attribute was based on inheritance. For ParentTable='YFS_CATEGORY', a value of 'Y' indicates that the assignment is based on inheritance of the value assigned to the upper level category. For ParentTable='YFS_ITEM', a value of 'Y' indicates that the assignment is based on inheritance of the value assigned to the category to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The detailed description of the  allowed value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The sequence of the allowed value within the attribute definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The short description of the  allowed value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGroupLocaleList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttrGroupLocale"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGroupLocale">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related attribute group in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ITEM_ATTR_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGroupLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_LOCALE_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ITEM_ATTR_GROUP_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The description of this item attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ITEM_ATTR_GROUP_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGrpTypeLocaleList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttrGrpTypeLocale"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttrGrpTypeLocale">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related item attribute group type in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The description of this group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGroupTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_TYPE_KEY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ITEM_ATTR_GROUP_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttrGrpTypeLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GRP_TYPE_LOCALE_KEY" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ITEM_ATTR_GRP_TYPE_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ITEM_ATTR_GRP_TYPE_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttributeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalAttribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttribute">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdditionalAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ADDITIONAL_ATTRIBUTE_KEY" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Primary key attribute of YFS_ADDITIONAL_ATTRIBUTE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DoubleValue" use="optional">
                <xsd:annotation yfc:columnName="DOUBLE_VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'DECIMAL'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IntegerValue" use="optional">
                <xsd:annotation yfc:columnName="INTEGER_VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'INTEGER'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IsInherited" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INHERITED" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>This field indicates whether the assignment of attribute value as additional attribute was based on inheritance. For ParentTable='YFS_CATEGORY', a value of 'Y' indicates that the assignment is based on inheritance of the value assigned to the upper level category. For ParentTable='YFS_ITEM', a value of 'Y' indicates that the assignment is based on inheritance of the value assigned to the category to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemServiceAssoc"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssoc">
        <xsd:annotation yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
            <xsd:documentation>All valid provided service items and delivery service associated to an item are maintained in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ItemServiceAssocSkillList"/>
            </xsd:all>
            <xsd:attribute name="HoldSchedTillCompletion"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="HOLD_SCHED_TILL_COMPLETION" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Flag to indicate whether to hold the schedule for the line containing provided service or delivery service item till line containing the parent item has been shipped.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Item for which service association is being maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingProductQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_PRODUCT_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Pricing Quantity for item used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingServiceQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_SERVICE_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Pricing Quantity for service used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Quantity for item used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceItemDesc" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ServiceItemId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_ITEM_ID" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Provided service or delivery service item associated as option when selling the parent item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_QUANTITY" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>Quantity for service used in this association.  This value will be copied over to YFS_ORDER_PROD_SER_ASSOC table when the association is used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceTimeOffset"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ServiceUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_UOM" yfc:tableName="YFS_ITEM_SERVICE_ASSOC">
                    <xsd:documentation>UOM of the provided service or delivery service item associated to the parent item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocSkillList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemServiceAssocSkill"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemServiceAssocSkill">
        <xsd:annotation yfc:tableName="YFS_ITEM_SERVICE_ASSC_SKILL">
            <xsd:documentation>This table stores Service Skill information for the service item association.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SERVICE_SKILL">
                    <xsd:documentation>Description of the Service Skill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceSkillId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_SKILL_ID" yfc:tableName="YFS_ITEM_SERVICE_ASSC_SKILL">
                    <xsd:documentation>Identifier of a Service Skill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Asset"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Asset">
        <xsd:annotation yfc:tableName="YFS_ASSET">
            <xsd:documentation>This table stores Asset information such as images, audio, datasheets, video, and URLs. Assets can be used to further describe Items, Categories, Attributes, and Attribute Allowed Values.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetLocaleList"/>
            </xsd:all>
            <xsd:attribute name="AssetID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ASSET_ID" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>The unique identifier for the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Primary key attribute of YFS_ASSET.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentID" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentLocation" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>External location of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentSize" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_SIZE" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Size of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Description of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayLocalizedFieldInLocale"
                type="yfctype:Locale" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Label" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="LABEL" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Label of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YFS_ASSET">
                    <xsd:documentation>Type of asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AssetLocale"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AssetLocale">
        <xsd:annotation yfc:tableName="YFS_ASSET_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related asset in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ASSET table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssetLocaleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSET_LOCALE_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ASSET_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentID" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContentLocation" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>External location of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Description of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Label" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="LABEL" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>Label of the asset.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ASSET_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CategoryLocale"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CategoryLocale">
        <xsd:annotation yfc:tableName="YFS_CATEGORY_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related category in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CategoryKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_KEY" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The reference key to the YFS_CATEGORY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryLocaleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_LOCALE_KEY" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The primary key of the YFS_CATEGORY_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The description of the category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The short description of the category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_CATEGORY_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClassificationItemAttribute">
        <xsd:annotation yfc:tableName="YFS_CLASS_ITEM_ATTR">
            <xsd:documentation>This table stores common item attributes, which can be derived to items belonging to the specified classification during runtime.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SafetyFactorDefinitions"/>
            </xsd:all>
            <xsd:attribute name="ATPRule" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATP_RULE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The available to promise rule to be used for the item to determine availability.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdvanceNotificationTime" use="optional">
                <xsd:annotation
                    yfc:columnName="ADVANCE_NOTIFICATION_TIME" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The advance notification time for this item. Communication to ship the order to shipping node/supplier is made at most this many days before the expected shipment date. Used during the release process.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AssumeInfiniteInventory"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ASSUME_INFINITE_INVENTORY" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether an item is assumed to be always available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_PRODUCT_CLASS" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The default product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="FUTURE_SAFETY_FACTOR_PCT" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The future safety factor percentage of this item.  While retrieving availability of this item at a node with a node type that has ApplyOnhandSafetyFactor set to 'Y', the percentage specified as FutureSafetyFactorPercentage will be subtracted from the actual future availability of the item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="InventoryMonitorRule"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_MONITOR_RULE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The monitoring rule that will be used by the availability monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDeliveryAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DELIVERY_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the delivery method DEL is allowed for item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsEligibleForShippingDiscount"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ELIGIBLE_FOR_SHIP_DISC" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>Determines whether the item is eligible for shipping discounts. Default Value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFifoTracked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FIFO_TRACKED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether an item is FIFO tracked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemBasedAllocationAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_IBA_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the item is allowed for Item Based Allocation process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsParcelShippingAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PARCEL_SHIPPING_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the item can be shipped through parcel service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PICKUP_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the delivery method PICK is allowed for item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsReturnable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RETURNABLE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the item belonging to the classification is returnable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSerialTracked" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsShippingAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SHIPPING_ALLOWED" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the delivery method SHP is allowed for item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LeadTime" use="optional">
                <xsd:annotation yfc:columnName="LEAD_TIME" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The lead time for getting the product delivered. Purchase order placed today will arrive after this many days at the warehouse.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaximumNotificationTime" use="optional">
                <xsd:annotation yfc:columnName="MAX_NOTIFICATION_TIME" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The maximum notification time for this item. Communication to ship the order to shipping node/supplier is made at most this many shipping calendar hours before the expected shipment date. Used during the release process.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MinNotificationTime" use="optional">
                <xsd:annotation yfc:columnName="MIN_NOTIFICATION_TIME" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The minimum notification time for this item. Communication to ship the order should be made at least this many days before the expected shipment date. Used to determine the earliest ship date on the line.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NodeLevelInventoryMonitorRule"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="NODE_LEVEL_INV_MONITOR_RULE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The monitoring rule that will be used by the real-time availability monitor for node-level monitoring.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_PCT" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The on-hand safety factor percentage of this item.  While retrieving availability of this item at a node with a node type that has ApplyOnhandSafetyFactor set to 'Y', the percentage specified as OnhandSafetyFactorPercentage will be subtracted from the actual on-hand availability of the item.  OnhandSafetyFactorPercentage will be used only when OnhandSafetyFactorQuantity is not specified.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorQuantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_QTY" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The on-hand safety factor quantity of this item.  While retrieving availability of this item at a node with a node type that has ApplyOnhandSafetyFactor set to 'Y', OnhandSafetyFactorQuantity will be subtracted from the actual on-hand availability of the item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RequiresDGOverride" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="REQUIRES_DG_OVERRIDE" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates if the Default Distribution Rule has to be overridden for real time availability monitoring.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnWindow" use="optional">
                <xsd:annotation yfc:columnName="RETURN_WINDOW" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>The number of days after which return may not be accepted.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UseUnplannedInventory"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USE_UNPLANNED_INV" yfc:tableName="YFS_CLASS_ITEM_ATTR">
                    <xsd:documentation>This flag indicates whether the item is allowed to use unplanned inventory. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SafetyFactorDefinitions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SafetyFactorDefinition"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SafetyFactorDefinition">
        <xsd:annotation yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
            <xsd:documentation>This table stores safety factor definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryMethod"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="FutureSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="FUTURE_SAFETY_FACTOR_PCT" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The future safety factor percentage of this item.  The FutureSafetyFactorPercentage will be excluded from the actual future availability of the item if the scheduling rule, node type, and supply type are configured to apply future safety factor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorPercentage" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_PCT" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The on-hand safety factor percentage of this item.  The OnhandSafetyFactorPercentage will be excluded from the actual on-hand availability of the item if the scheduling rule, node type, and supply type are configured to apply on-hand safety factor.   OnhandSafetyFactorPercentage will be used only when OnhandSafetyFactorQuantity is not specified.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Percentage"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OnhandSafetyFactorQuantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ONHAND_SAFETY_FACTOR_QTY" yfc:tableName="YFS_SKU_SAFETY_FACTOR_DEFN">
                    <xsd:documentation>The on-hand safety factor quantity of this item.  The OnhandSafetyFactorQuantity will be excluded from the actual on-hand availability of the item if the scheduling rule, node type, and supply type are configured to apply on-hand safety factor.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
