Data/xapidocs/api_javadocs/XSD/YCM_getAdditionalCatalogIndexInformationUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getAdditionalCatalogIndexInformationUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getAdditionalCatalogIndexInformationUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_getAdditionalCatalogIndexInformationUE_input.xsd" yfc:rootElement="SearchIndexTrigger">
        <xsd:appinfo source="yfc:structure">
            <SearchIndexTrigger hasAttributes="Y">
                <SearchIndexFieldList>
                    <SearchField hasAttributes="Y"/>
                </SearchIndexFieldList>
                <ItemList>
                    <Item hasAttributes="Y"/>
                </ItemList>
            </SearchIndexTrigger>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SearchIndexTrigger" type="yfc:SearchIndexTriggerXSDType">
        <xsd:annotation yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
            <xsd:documentation>This table stores information for search indexes that are scheduled to be built, have already been built or are in the process of being built.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SearchIndexTriggerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SearchIndexFieldList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemList"/>
        </xsd:all>
        <xsd:attribute name="CategoryDomain" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The Selling Category Domain that the items in the index belong to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IncrementalBuildFromTriggerID"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INC_BUILD_FROM_TRIGGER_ID" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The unique identifier of an existing search index trigger that was re-built incrementally.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IndexPath" type="yfctype:Text-250" use="optional">
            <xsd:annotation yfc:columnName="INDEX_PATH" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The path to the index file on the file system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale code for which the additional catalog information is desired.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfErrors" type="yfctype:Digit" use="optional">
            <xsd:annotation yfc:columnName="NUMBER_OF_ERRORS" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The max number of errors that can occur during the build process before ending the process in failure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The Organization Code of the Organization maintaining the search index trigger.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchIndexTriggerID"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_INDEX_TRIGGER_ID" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The unique identifier of the search index trigger.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchIndexTriggerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_INDEX_TRIGGER_KEY" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The unique key for the YFS_SEARCH_INDEX_TRIGGER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Text-2" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The status of a Trigger indicating if the index build is: 01 (Scheduled), 02 (In Process), 03 (Completed), 04 (Active), 05 (Error), 06 (Failure).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TriggerTimestamp" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="TRIGGER_TIMESTAMP" yfc:tableName="YFS_SEARCH_INDEX_TRIGGER">
                <xsd:documentation>The timestamp of when the index build should be triggered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SearchIndexFieldList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SearchField"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SearchField">
        <xsd:annotation>
            <xsd:documentation>
                <div>The search index field based on the CatalogSearchConfigProperties.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanUseAsFilter" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The flag indicates that the field can be used as filter criteria in the input of the <code>searchCatalogIndex</code> API.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GetExternalValue" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								This flag is defined in the <code>ExtnCatalogSearchConfigProperties</code> file to enable the search index building process to call user exit to obtain the value for the corresponding index field.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IndexFieldName"
                type="yfctype:Text-1000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The field name that is stored in the index.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The display name of the searchable field.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Searchable" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The flag indicates that the field can be used for searching as a specific term in the input of the <code>searchCatalogIndex</code> API.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Sortable" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The flag indicates that the field can be used for sorting as a sort criteria in the input of the <code>searchCatalogIndex</code> API.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Item"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="GlobalItemID"
                type="yfctype:GlobalItemID" use="optional">
                <xsd:annotation yfc:columnName="GLOBAL_ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique global identifier used to cross reference an item with another catalog organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:ItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The item group code. Used to identify if the item is a Product, Provided Service, Provided Service Option, Delivery Service or Delivery Service Option.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubCatalogOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The sub-catalog organization that maintains the item definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
