Data/xapidocs/api_javadocs/XSD/YCM_getMasterCatalogList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getMasterCatalogList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getMasterCatalogList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getMasterCatalogList_output.xsd" yfc:rootElement="MasterCatalogList">
        <xsd:appinfo source="yfc:structure">
            <MasterCatalogList hasAttributes="Y">
                <MasterCatalog hasAttributes="Y"/>
            </MasterCatalogList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MasterCatalogList" type="yfc:MasterCatalogListXSDType"/>
    <xsd:complexType name="MasterCatalogListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:MasterCatalog"/>
        </xsd:sequence>
        <xsd:attribute name="LastMasterCatalogKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MASTER_CATALOG_KEY" yfc:tableName="YFS_MASTER_CATALOG">
                <xsd:documentation>Indicates the last fetched master catalog, and may be used as a restart for listing the next time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastRecordSet" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if there are more records in the database.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalMasterCatalogList"
            type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>The mumber of records returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="MasterCatalog">
        <xsd:annotation yfc:tableName="YFS_MASTER_CATALOG">
            <xsd:documentation>This table stores master catalog information for every organization. Each organization can have multiple master catalogs. Each item defined by the organization belongs to one of these master catalogs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>A description of the master catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterCatalogID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="MASTER_CATALOG_ID" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>Unique identifier for a master catalog of an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterCatalogKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MASTER_CATALOG_KEY" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>Primary key attribute of YFS_MASTER_CATALOG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>Organization that owns a master catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>A short description for the master catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
