Data/xapidocs/api_javadocs/XSD/YCM_getItemDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_getItemDetails_input.xsd" yfc:rootElement="Item">
        <xsd:appinfo source="yfc:structure">
            <Item hasAttributes="Y">
                <ItemAttributeGroupTypeList>
                    <ItemAttributeGroupType hasAttributes="Y"/>
                </ItemAttributeGroupTypeList>
            </Item>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Item" type="yfc:ItemXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>
                <div>
			Pass one of the following to identify the Item:
			<br/>-<code>ItemKey</code>
                    <br/>-<code>OrganizationCode</code>, <code>ItemID</code>, and either <code>UnitOfMeasure</code> or <code>AlternateUOM</code>
                    <br/> Blank UnitOfMeasure is a valid value.  If UnitOfMeasure is not passed in the input XML, it will be considered as blank.
			<br/>-<code>OrganizationCode</code> and <code>GlobalItemID</code>
                    <Validation>
                        <Condition>If data passed does not include one of the combinations to identify the <code>Item</code>.
				</Condition>
                        <Error
                            Description="Missing Mandatory Parmeters." ErrorCode="YCM0002"/>
                    </Validation>
                    <Validation>
                        <Condition>The <code>Item</code> is not found, based on input values. 
				</Condition>
                        <Error Description="Item Not Found" ErrorCode="YCM0033"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemAttributeGroupTypeList"/>
        </xsd:all>
        <xsd:attribute name="AlternateUOM" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ITEM_UOM_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM_UOM">
                <xsd:documentation>
                    <div>
			The <code>AlternateUOM</code> value is used only if no value is passed for <code>UnitOfMeasure</code>. 
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GlobalItemID" type="yfctype:GlobalItemID" use="optional">
            <xsd:annotation yfc:columnName="GLOBAL_ITEM_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unique global identifier used to cross reference an item with another catalog organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InheritAttributesFromClassification"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>If the InheritAttributesFromClassification flag is passed as Y and the value of the item attribute is not defined at item level, the system will try to find the value from the classification definition for the ClassificationPurposeCode - 'Inherited Item Attributes'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unique identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ITEM_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>
                    <div>
                        <code>OrganizationCode</code> whose product information is being stored.
			<Validation>
                            <Condition>If invalid <code>OrganizationCode</code> is passed.
				</Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YCM0019"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The sub-catalog organization that maintains the item definition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemAttributeGroupTypeList">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				A list of ItemAttributeGroupType can be passed to be used as filter criteria to control the item attribute group types to return in the output XML.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttributeGroupType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemAttributeGroupType">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
            <xsd:documentation>This table stores item attribute group types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ClassificationPurposeCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CLASSIFICATION_PURPOSE_CODE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The classification purpose this group type is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
