Data/xapidocs/api_javadocs/XSD/YCM_getItemAttributeGroupTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/getItemAttributeGroupTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/getItemAttributeGroupTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCM_getItemAttributeGroupTypeList_output.xsd" yfc:rootElement="ItemAttributeGroupTypeList">
        <xsd:appinfo source="yfc:structure">
            <ItemAttributeGroupTypeList hasAttributes="Y">
                <ItemAttributeGroupType hasAttributes="Y"/>
            </ItemAttributeGroupTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemAttributeGroupTypeList" type="yfc:ItemAttributeGroupTypeListXSDType"/>
    <xsd:complexType name="ItemAttributeGroupTypeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemAttributeGroupType"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemAttributeGroupType">
        <xsd:annotation yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
            <xsd:documentation>This table stores item attribute group types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ClassificationPurposeCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CLASSIFICATION_PURPOSE_CODE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The classification purpose this group type is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The description of this group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsForMaintenance" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FOR_MAINTENANCE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to a category hierarchy of maintenance. Valid values : Y/N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsForSelling" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FOR_SELLING" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to a category hierarchy of selling. Valid values : Y/N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSingleGroup" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SINGLE_GROUP" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>Indicates that this group type will only have a single group defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsValidForCategory" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_VALID_FOR_CATEGORY" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to categories. Valid values : Y/N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsValidForClassification"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_VALID_FOR_CLASSIFICATION" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>This flag indicates whether the item attribute group type can be assigned to classifications. Valid values : Y/N. If value is 'Y', then CLASSIFICATION_PURPOSE is required for selecting classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ATTR_GROUP_TYPE" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>The group type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemAttributeGroupTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_ATTR_GROUP_TYPE_KEY" yfc:tableName="YFS_ITEM_ATTR_GROUP_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_ATTR_GROUP_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
