Data/xapidocs/api_javadocs/XSD/YCM_modifyMasterCatalog_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCM/modifyMasterCatalog/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCM/modifyMasterCatalog/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCM_modifyMasterCatalog_input.xsd" yfc:rootElement="MasterCatalogList">
        <xsd:appinfo source="yfc:structure">
            <MasterCatalogList>
                <MasterCatalog hasAttributes="Y"/>
            </MasterCatalogList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MasterCatalogList" type="yfc:MasterCatalogListXSDType"/>
    <xsd:complexType name="MasterCatalogListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:MasterCatalog"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="MasterCatalog">
        <xsd:annotation yfc:tableName="YFS_MASTER_CATALOG">
            <xsd:documentation>
                <div>
                    Every organization can have multiple master catalogs. Each item defined by the organization belongs to one of these master catalogs.
                        <Validation>
                        <Condition>
                            Either the <code>MasterCatalogKey</code> attribute or both the <code>OrganizationCode</code> and <code>MasterCatalogID</code> attributes must be passed and must be valid. If not passed or not valid:
                            </Condition>
                        <Error Description="Master Catalog Not Found" ErrorCode="YCM0037"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:YCMAction" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Action to take</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>A description of the master catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterCatalogID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="MASTER_CATALOG_ID" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>
                        <div>
                        A unique identifier for an organization's master catalog.
                            <Validation>
                                <Condition>
                                The <code>MasterCatalogID</code> attribute cannot be modified. If modification is attempted:
                                </Condition>
                                <Error
                                    Description="Primary Key or Unique Keys cannot be modified" ErrorCode="YCM0040"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterCatalogKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MASTER_CATALOG_KEY" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>Primary key attribute of YFS_MASTER_CATALOG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>
                        <div>
                        The organization that owns a master catalog.
                            <Validation>
                                <Condition>
                                The <code>OrganizationCode</code> attribute cannot be modified. If modification is attempted:
                                </Condition>
                                <Error
                                    Description="Primary Key or Unique Keys cannot be modified" ErrorCode="YCM0040"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_MASTER_CATALOG">
                    <xsd:documentation>A short description for the master catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
