Data/xapidocs/api_javadocs/XSD/YCP_manageLabelPreference_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageLabelPreference/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageLabelPreference/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageLabelPreference_input.xsd" yfc:rootElement="LabelPreference">
        <xsd:appinfo source="yfc:structure">
            <LabelPreference hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LabelPreference" type="yfc:LabelPreferenceXSDType">
        <xsd:annotation yfc:tableName="YFS_LABEL_PREFERENCE">
            <xsd:documentation>This entity defines the label format to be used for different documents for different criteria.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LabelPreferenceXSDType">
        <xsd:attribute name="Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The action that is to be performed during this invocation of this API.
					<br/> Default: <b>
                            <code>VALUE</code>
                        </b> - Modify
					<br/>Valid Values:  <b>
                            <code>Create</code>
                        </b>, <b>
                            <code>Modify</code>
                        </b>, or 	<b>
                            <code>Delete</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:ID-40">
                    <xsd:enumeration value="Create"/>
                    <xsd:enumeration value="Modify"/>
                    <xsd:enumeration value="Delete"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>Organization code of buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>Enterprise Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentType" type="yfctype:EquipmentType" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>
                    <div>EquipmentType.
						<Validation>
                            <Condition>
                                <code>EquipmentType</code> does not exist in YFS_EQUIPMENT_TYPE table.
							</Condition>
                            <Error
                                Description="EquipmentType does not exist" ErrorCode="WMS00239"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LabelFormatId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LABEL_FORMAT_ID" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>
                    <div>Label Format Identifier.
						<Validation>
                            <Condition>
                                <code>LabelFormatId</code> value does not exist in YFS_LABEL_FORMAT table.
							</Condition>
                            <Error
                                Description="Invalid Label Format Identifier" ErrorCode="YCP0179"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LabelPreferenceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LABEL_PREFERENCE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>
                    <div>
				The key which identifies the LabelPreference. Pass either the <code>LabelPreferenceKey</code> or <code>Node</code>,<code>BuyerOrganizationCode</code>,<code>EnterpriseCode</code>, <code>EquipmentType</code>,<code>LabelFormatId</code>,<code>PrintDocumentId</code>,
				<code>SCAC</code>,<code>SellerOrganizationCode</code> to identify the LabelPreference. 
				If <code>BuyerOrganizationCode</code>,<code>EnterpriseCode</code>, <code>SellerOrganizationCode</code>,<code>SCAC</code> are not passed in the input, then blank values will be set.
				<Validation>
                            <Condition>Neither <code>LabelPreferenceKey</code> nor <code>Node</code>,<code>BuyerOrganizationCode</code>,<code>EnterpriseCode</code>, <code>EquipmentType</code>,<code>LabelFormatId</code>,<code>PrintDocumentId</code>,
					<code>SCAC</code>,<code>SellerOrganizationCode</code> are passed. 
					</Condition>
                            <Error
                                Description="Mandatory parameters not passed" ErrorCode="YCP0235"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value does not identify LabelPreference. 
					</Condition>
                            <Error Description="No record found" ErrorCode="YCP0236"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoOfCopies" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_NO_OF_COPIES" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>Default Number Of Copies for this Label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>
                    <div>Primary key attribute of YFS_SHIP_NODE table.
						<Validation>
                            <Condition>
                                <code>Node</code> value does not exist in YFS_SHIP_NODE table.
							</Condition>
                            <Error
                                Description="Node passed does not exist" ErrorCode="WMS00042"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>
                    <div>Print Document identifier. It can take values like BOL, SHIPPINGLABEL, PICKLIST, PACKLIST etc.
						<Validation>
                            <Condition>
                                <code>PrintDocumentId</code> value does not exist in YFS_PRINT_DOCUMENT table.
							</Condition>
                            <Error
                                Description="Invalid Print Document identifier" ErrorCode="YCP0185"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>Carrier by which this shipment will be transported.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>Organization code of seller.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
