Data/xapidocs/api_javadocs/XSD/YCP_getEntityAttributeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getEntityAttributeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getEntityAttributeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getEntityAttributeList_input.xsd" yfc:rootElement="Entity">
        <xsd:appinfo source="yfc:structure">
            <Entity hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Entity" type="yfc:EntityXSDType"/>
    <xsd:complexType name="EntityXSDType">
        <xsd:attribute name="Name" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                    Used to indicate which entity to access.
                    <br/>
                        <br/>Valid Values:
                    <br/>
                        <code>ITEM</code> - Retrieve attributes for YFS_ITEM
                    <br/>
                        <code>ITEM_TAG</code> - Retrieve attributes for YFS_ITEM_TAG
                    <br/>
                        <code>ENTITLE_RULE_ASSIGNMENT</code> - Retrieve attributes for YFS_ENTITLE_RULE_ASSIGNMENT
                    <br/>
                        <code>PRICELIST_ASSIGNMENT</code> - Retrieve attributes for YPM_PRICELIST_ASSIGNMENT
                    
                    <Validation>
                            <Condition>
                            Name must be populated with a valid value.
                        </Condition>
                            <Error Description="Invalid Data" ErrorCode="YCM0017"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
