Data/xapidocs/api_javadocs/XSD/YCP_getPasswordPolicyList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPasswordPolicyList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPasswordPolicyList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPasswordPolicyList_input.xsd" yfc:rootElement="PasswordPolicy">
        <xsd:appinfo source="yfc:structure">
            <PasswordPolicy hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordPolicy" type="yfc:PasswordPolicyXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_POLICY">
            <xsd:documentation>The table is used for storing password policies.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PasswordPolicyXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
			If CallingOrganizationCode is passed, then it will
			be used as the context organization. This, combined
			with the configuration data setup for password policy,
			will result in a list filtered for access by the given organization.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Policy description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:PolicyName" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Policy name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>The Organization to which the policy belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>The priority used for resolving user group policies. Greater value implies higher priority. Any negative value would be converted to zero.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Count"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status-1" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Indicates the status of policy. A value of 0 is disabled and a value of 1 means enabled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
