Data/xapidocs/api_javadocs/XSD/YCP_getAllocationRuleList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getAllocationRuleList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getAllocationRuleList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getAllocationRuleList_input.xsd" yfc:rootElement="AllocationRule">
        <xsd:appinfo source="yfc:structure">
            <AllocationRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AllocationRule" type="yfc:AllocationRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_ALLOCATION_RULE">
            <xsd:documentation>This table stores rules for scheduling an order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AllocationRuleXSDType">
        <xsd:attribute name="ActivateFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVATE_FLAG" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether a scheduling rule is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllocationRuleId" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="ALLOCATION_RULE_ID" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The unique identifier for the scheduling rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllocationRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ALLOCATION_RULE_KEY" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The primary key of the YFS_ALLOCATION_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedShipmentDelayDays"
            type="yfctype:NumberOfDays" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_SHIPMENT_DELAY_DAYS" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The number of days allowed for a shipment to be delayed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplyFutureSafetyFactor"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="APPLY_FUTURE_SAFETY_FACTOR" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates that future safety factor should be applied in future availability calculation when this scheduling rule is used.   Default value: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplyOnhandSafetyFactor"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="APPLY_ONHAND_SAFETY_FACTOR" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates that on-hand safety factor should be applied in on-hand availability calculation when this scheduling rule is used.   Default value: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssumeInfInvAfterLeadTime"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="ASSUME_INF_INV_AFTER_LEAD_TIME" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether inventory is assumed to be infinite beyond lead time.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BackOrderWaitPeriod"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation yfc:columnName="BACK_ORDER_WAIT_PERIOD" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The number of hours that backordered lines need to wait before reattempting scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BackorderfromnodeWaitPeriod"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation
                yfc:columnName="BACKORDERFROMNODE_WAIT_PERIOD" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The number of hours that order lines backordered from a node need to wait before reattempting scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The organization that is quering for scheduling rules.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CancelOrderOnExcpFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CANCEL_ORDER_ON_EXCP_FLAG" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether the order needs to be cancelled in case of inventory shortage.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderUnplannedInventoryMode"
            type="yfctype:EnumConsUnplanInvMode" use="optional">
            <xsd:annotation yfc:columnName="CONS_UNPLAN_INV_MODE" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>Determines in what mode unplanned inventory will be used. In order for unplanned inventory to be used, item's configuration should also allow Unplanned Inventory.  Not applicable for inventory API's.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DelayCurrentProcurements"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DELAY_CURRENT_PROCUREMENTS" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>Whenever shipment/cost optimization is considered, this flag indicates whether procurement creation should be delayed to be consolidated with the inventory that is coming in the future.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DelayCurrentShipment" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DELAY_CURRENT_SHIPMENT" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>Whenever shipment/cost optimization is considered, this flag indicates whether shipments of ONHAND inventory should be delayed to be consolidated with the inventory that is coming in the future.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The description of the scheduling rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldAllocationFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HOLD_ALLOCATION_FLAG" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This field is being used by the deprecated allocateOrder API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreFillQuantityForReservations"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="RSRV_IGNORE_FILL_QTY" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>Indicates if fill quantity and ship complete should be ignored when scheduling is reserving.  This flag is used only when IsReservationAllowedDuringScheduling is Y.  Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreLandedCost" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IGNORE_LANDED_COST" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether the 'Use Landed Cost' flag configured at the  Enterprise Level should be ignored or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreMerging" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IGNORE_MERGING" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether the 'Minimize Number of Shipments to Customer' flag configured at the Transfer Rule should be ignored or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsReservationAllowedDuringScheduling"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_RES_ALLWD_DURING_SCH" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag will indicate if schedule can reserve the line if inventory is available but some constraints can't be fulfilled.  Default value is: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineShipCompleteFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="LINE_SHIP_COMPLETE_FLAG" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether the complete line needs to be shipped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineShipSingleNodeFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="LINE_SHIP_SINGLE_NODE_FLAG" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether the complete order line needs to be shipped from a single ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OptimizationType"
            type="yfctype:EnumOptimizationType" use="optional">
            <xsd:annotation yfc:columnName="OPTIMIZATION_TYPE" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This field indicates what scheduling will first optimize on.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The organization that is associated with this scheduling rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReserveKitsOutOfRatio" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="RSRV_KITS_OUT_OF_RATIO" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>Indicates if reservations of bundles is allowed without ratio.  This flag is used only when IsReservationAllowedDuringScheduling is Y.  Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RetrySchTimeForProd"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation yfc:columnName="RETRY_SCH_TIME_FOR_PROD" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The number of hours after which scheduling with try to process a product line again.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RetrySchTimeForSrvc"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation yfc:columnName="RETRY_SCH_TIME_FOR_SRVC" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The number of hours after which scheduling with try to process a service line again.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScheduleLeadTime"
            type="yfctype:NumberOfDays" use="optional">
            <xsd:annotation yfc:columnName="SCHEDULE_LEAD_TIME" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The lead time to schedule, in days.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSearchWindow"
            type="yfctype:NumberOfDays" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SEARCH_WINDOW" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The number of days to look for inventory availability beyond the requested date for scheduling service lines.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipCompleteFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SHIP_COMPLETE_FLAG" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether the complete order needs to be shipped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipSingleNodeFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SHIP_SINGLE_NODE_FLAG" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether the complete order needs to be shipped from a single ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentConsolidationWindow" use="optional">
            <xsd:annotation yfc:columnName="SHP_CONSOL_WINDOW" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>Indicates shipment consolidation window.  This window will minimize number of final shipments, but may lead to higher cost.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:NumberOfDays"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="UseGeography" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_GEOGRAPHY" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether geographical data (latitude and longitude of ship nodes) needs to be used to optimize scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseShipmentConsolidationWindow"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_SHP_CONSOL_WINDOW" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>This flag indicates whether the item uses shipment consolidation window. Default is N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WeightByDistribution" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="WEIGHT_BY_DISTRIBUTION" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The weightage given to the node over the distance for scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WeightByGeography" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="WEIGHT_BY_GEOGRAPHY" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>The weightage given to the distance over the node for scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
