Data/xapidocs/api_javadocs/XSD/YCP_deleteUserTranConstraint_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteUserTranConstraint/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteUserTranConstraint/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_deleteUserTranConstraint_input.xsd" yfc:rootElement="UserTranConstraint">
        <xsd:appinfo source="yfc:structure">
            <UserTranConstraint hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UserTranConstraint" type="yfc:UserTranConstraintXSDType">
        <xsd:annotation yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
            <xsd:documentation>This table stores transactional constraints, such as order number and shipment number.  Transactional constraints are temporary in nature, and are automatically purged by the system when the corresponding transaction data is purged.  When tasks are suggested to a user, these constraints have to be met.  If no constraints are specified here, it means that any type of task can be suggested to the user.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UserTranConstraintXSDType">
        <xsd:attribute name="UserTranConstraintsKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="USER_TRAN_CONSTRAINTS_KEY" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                <xsd:documentation>The primary key for the YFS_USER_TRAN_CONSTRAINTS table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
