Data/xapidocs/api_javadocs/XSD/YCP_deleteMenuHierarchy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteMenuHierarchy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteMenuHierarchy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_deleteMenuHierarchy_input.xsd" yfc:rootElement="Menu">
        <xsd:appinfo source="yfc:structure">
            <Menu hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Menu" type="yfc:MenuXSDType">
        <xsd:annotation yfc:tableName="YFS_MENU">
            <xsd:documentation>Stores information on how a menu needs to be organized within an application.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MenuXSDType">
        <xsd:attribute name="MenuKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="MENU_KEY" yfc:tableName="YFS_MENU">
                <xsd:documentation>Primary key attribute of YFS_MENU.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
