Data/xapidocs/api_javadocs/XSD/YCP_getDocTypeDeterminationDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDocTypeDeterminationDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDocTypeDeterminationDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getDocTypeDeterminationDetails_output.xsd" yfc:rootElement="DocTypeDeter">
        <xsd:appinfo source="yfc:structure">
            <DocTypeDeter hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DocTypeDeter" type="yfc:DocTypeDeterXSDType">
        <xsd:annotation yfc:tableName="YFS_DOC_TYPE_DETER">
            <xsd:documentation>This table stores the mapping between the document usage name and the document typefor PCAs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DocTypeDeterXSDType">
        <xsd:attribute name="DocTypeDeterKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DOC_TYPE_DETER_KEY" yfc:tableName="YFS_DOC_TYPE_DETER">
                <xsd:documentation>Primary key attribute of YFS_DOC_TYPE_DETER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DOC_TYPE_DETER">
                <xsd:documentation>Document type to which a task belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeName" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE_NAME" yfc:tableName="YFS_DOC_TYPE_DETER">
                <xsd:documentation>The unique identifier for the Document type name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PCAModuleCode" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="PCA_MODULE_CODE" yfc:tableName="YFS_DOC_TYPE_DETER">
                <xsd:documentation>The identifier for PCA module to which this document type name belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
