Data/xapidocs/api_javadocs/XSD/YCP_getUserTimeSheet_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getUserTimeSheet/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getUserTimeSheet/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getUserTimeSheet_input.xsd" yfc:rootElement="UserTimeSheet">
        <xsd:appinfo source="yfc:structure">
            <UserTimeSheet>
                <Users hasAttributes="Y"/>
            </UserTimeSheet>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UserTimeSheet" type="yfc:UserTimeSheetXSDType"/>
    <xsd:complexType name="UserTimeSheetXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Users"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Users">
        <xsd:complexType>
            <xsd:attribute name="EndDate" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The time sheet is prepared for any user for all tasks done by him ending at this date</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>Organization Code for the user</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDate" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The time sheet is prepared for any user for all tasks done by him starting from this date</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>User Id for which we want to prepare the time sheet</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
