Data/xapidocs/api_javadocs/XSD/YCP_getCustomerSubscriptionList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCustomerSubscriptionList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCustomerSubscriptionList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getCustomerSubscriptionList_input.xsd" yfc:rootElement="CustomerSubscription">
        <xsd:appinfo source="yfc:structure">
            <CustomerSubscription hasAttributes="Y">
                <BundleParent hasAttributes="Y"/>
                <Customer hasAttributes="Y"/>
                <CustomerSubscriptionPrices>
                    <CustomerSubscriptionPrice hasAttributes="Y"/>
                </CustomerSubscriptionPrices>
            </CustomerSubscription>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerSubscription" type="yfc:CustomerSubscriptionXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
            <xsd:documentation>This table stores all customer subscriptions in the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerSubscriptionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BundleParent"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Customer"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerSubscriptionPrices"/>
        </xsd:all>
        <xsd:attribute name="AssociatedSubscriptionKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ASSOCIATED_SUBSCRIPTION_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>Subscription key of the new subscription created from this subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssociatedSubscriptionKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="BundleParentSubscriptionKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="BUNDLE_PARENT_SUBSCRIPTION_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The Bundle parent's subscription key. If this line is a bundle component, this key will point to the parent subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BundleParentSubscriptionKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ConfigurationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BOM_CONFIG_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution so that Visual Modeler can be opened with existing options.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigurationKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The currency code in which this subscription is processed. All price fields are assumed to be in this currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CurrencyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CustomerContactID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_CONTACT_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>This is the customer contact ID for the subscription. This field maps to contact ID field of YFS_Customer_Contact.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerContactIDQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CustomerEMailID" type="yfctype:EMailID" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_EMAILID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The E-mail ID of the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerEMailIDQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The identifier for the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerIDQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CustomerSubscriptionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_SUBSCRIPTION_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The primary key for the YFS_CUSTOMER_SUBSCRIPTION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerSubscriptionKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EndDate" use="optional">
            <xsd:annotation yfc:columnName="END_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The end date of the subscription.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EndDateQryType" type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="FromAssociatedSubscriptionKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromBundleParentSubscriptionKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromConfigurationKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromCurrency" type="yfctype:Currency" use="optional"/>
        <xsd:attribute name="FromCustomerContactID"
            type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="FromCustomerEMailID" type="yfctype:EMailID" use="optional"/>
        <xsd:attribute name="FromCustomerID" type="yfctype:CustomerId" use="optional"/>
        <xsd:attribute name="FromCustomerSubscriptionKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromEndDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromItemDesc" type="yfctype:Text-500" use="optional"/>
        <xsd:attribute name="FromItemGroupCode"
            type="yfctype:EnumItemGroupCode" use="optional"/>
        <xsd:attribute name="FromItemID" type="yfctype:ItemID" use="optional"/>
        <xsd:attribute name="FromItemShortDesc" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="FromKitCode" type="yfctype:EnumKitCode" use="optional"/>
        <xsd:attribute name="FromKitQty" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="FromListPrice" type="yfctype:UnitPrice" use="optional"/>
        <xsd:attribute name="FromOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromQuantity" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="FromSellerOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromStartDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromStatus"
            type="yfctype:EnumCustomerSubscriptionStatus" use="optional"/>
        <xsd:attribute name="FromSubscriptionDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromSubscriptionName"
            type="yfctype:Text-100" use="optional"/>
        <xsd:attribute name="FromSubscriptionNo"
            type="yfctype:VarcharDocumentNo" use="optional"/>
        <xsd:attribute name="FromSubscriptionType"
            type="yfctype:EnumCustomerSubscriptionType" use="optional"/>
        <xsd:attribute name="FromTotalAmount" type="yfctype:Money" use="optional"/>
        <xsd:attribute name="FromUnitOfMeasure" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="FromUnitPrice" type="yfctype:UnitPrice" use="optional"/>
        <xsd:attribute name="ItemDesc" type="yfctype:Text-500" use="optional">
            <xsd:annotation yfc:columnName="ITEM_DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The description of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemDescQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>This field indicates what kind of item is on the order line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemIDQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ItemShortDesc" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ITEM_SHORT_DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The short description of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemShortDescQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="KitCode" type="yfctype:EnumKitCode" use="optional">
            <xsd:annotation yfc:columnName="KIT_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The collection of items that form a unit. For example, a home theatre system is a unit consisting of kit components, such as a DVD player, TV, CD player, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="KitCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="KitQty" use="optional">
            <xsd:annotation yfc:columnName="KIT_QTY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The quantity that is used to compute ordered quantity for bundle component line. It can be specified only for bundle components. If specified ordered quantity will be set to KitQty*OrderedQty of the bundle parent.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="KitQtyQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ListPrice" use="optional">
            <xsd:annotation yfc:columnName="LIST_PRICE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>the list price of the item. This is an informational field.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:UnitPrice"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ListPriceQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The quantity of the line item that has been subscribed.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="QuantityQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The seller organization that is associated with this subscription. This must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="StartDate" use="optional">
            <xsd:annotation yfc:columnName="START_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The date on which the subscription period started.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="StartDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="Status"
            type="yfctype:EnumCustomerSubscriptionStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The status of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SubscriptionDate" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The date that the subscription was created.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="SubscriptionName" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The name given to the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SubscriptionNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The number of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SubscriptionType"
            type="yfctype:EnumCustomerSubscriptionType" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The type of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToAssociatedSubscriptionKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToBundleParentSubscriptionKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToConfigurationKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToCurrency" type="yfctype:Currency" use="optional"/>
        <xsd:attribute name="ToCustomerContactID" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="ToCustomerEMailID" type="yfctype:EMailID" use="optional"/>
        <xsd:attribute name="ToCustomerID" type="yfctype:CustomerId" use="optional"/>
        <xsd:attribute name="ToCustomerSubscriptionKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToEndDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToItemDesc" type="yfctype:Text-500" use="optional"/>
        <xsd:attribute name="ToItemGroupCode"
            type="yfctype:EnumItemGroupCode" use="optional"/>
        <xsd:attribute name="ToItemID" type="yfctype:ItemID" use="optional"/>
        <xsd:attribute name="ToItemShortDesc" type="yfctype:Text-200" use="optional"/>
        <xsd:attribute name="ToKitCode" type="yfctype:EnumKitCode" use="optional"/>
        <xsd:attribute name="ToKitQty" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="ToListPrice" type="yfctype:UnitPrice" use="optional"/>
        <xsd:attribute name="ToOrganizationCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ToQuantity" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="ToSellerOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ToStartDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToStatus"
            type="yfctype:EnumCustomerSubscriptionStatus" use="optional"/>
        <xsd:attribute name="ToSubscriptionDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToSubscriptionName" type="yfctype:Text-100" use="optional"/>
        <xsd:attribute name="ToSubscriptionNo"
            type="yfctype:VarcharDocumentNo" use="optional"/>
        <xsd:attribute name="ToSubscriptionType"
            type="yfctype:EnumCustomerSubscriptionType" use="optional"/>
        <xsd:attribute name="ToTotalAmount" type="yfctype:Money" use="optional"/>
        <xsd:attribute name="ToUnitOfMeasure" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="ToUnitPrice" type="yfctype:UnitPrice" use="optional"/>
        <xsd:attribute name="TotalAmount" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_AMOUNT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The grand total for the subscription.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Money"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TotalAmountQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasureQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="UNIT_PRICE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The unit price for the order line.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:UnitPrice"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="UnitPriceQryType"
            type="yfctype:NumberQryType" use="optional"/>
    </xsd:complexType>
    <xsd:element name="BundleParent">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
            <xsd:documentation>
                <div>
					Specifies the unique identifiers of the bundle parent subscription for this subscription.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerSubscriptionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_SUBSCRIPTION_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The primary key for the YFS_CUSTOMER_SUBSCRIPTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSubscriptionKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromCustomerID"
                type="yfctype:CustomerId" use="optional"/>
            <xsd:attribute name="FromCustomerSubscriptionKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromItemID" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="FromOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromStatus"
                type="yfctype:EnumCustomerSubscriptionStatus" use="optional"/>
            <xsd:attribute name="FromSubscriptionNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Status"
                type="yfctype:EnumCustomerSubscriptionStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The status of the subscription.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SubscriptionNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SUBSCRIPTION_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The number of the subscription.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubscriptionNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToCustomerID" type="yfctype:CustomerId" use="optional"/>
            <xsd:attribute name="ToCustomerSubscriptionKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToItemID" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="ToOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToStatus"
                type="yfctype:EnumCustomerSubscriptionStatus" use="optional"/>
            <xsd:attribute name="ToSubscriptionNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Customer">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER">
            <xsd:documentation>
                <div>
					Specifies the unique identifiers of the customer. 	
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The primary key for the YFS_CUSTOMER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_LEVEL"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a level a customer has achieved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLevelQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerType"
                type="yfctype:EnumCustomerType" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This field indicates the type of customer. Default value is Consumer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromCustomerID"
                type="yfctype:CustomerId" use="optional"/>
            <xsd:attribute name="FromCustomerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromCustomerLevel"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromCustomerType"
                type="yfctype:EnumCustomerType" use="optional"/>
            <xsd:attribute name="FromOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromRelationshipType"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromStatus"
                type="yfctype:EnumCustomerStatus" use="optional"/>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates the type of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Status"
                type="yfctype:EnumCustomerStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a status on a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToCustomerID" type="yfctype:CustomerId" use="optional"/>
            <xsd:attribute name="ToCustomerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToCustomerLevel" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToCustomerType"
                type="yfctype:EnumCustomerType" use="optional"/>
            <xsd:attribute name="ToOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToRelationshipType"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToStatus"
                type="yfctype:EnumCustomerStatus" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerSubscriptionPrices">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerSubscriptionPrice"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerSubscriptionPrice">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
            <xsd:documentation>Maintains details of various Price Types applicable to a subscription</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CustomerSubscriptionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_SUBSCRIPTION_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Primary key attribute of the YFS_CUSTOMER_SUBSCRIPTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSubscriptionKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerSubscriptionPriceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_SUB_PRICE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Primary key attribute of the YFS_CUSTOMER_SUB_PRICE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSubscriptionPriceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromCustomerSubscriptionKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromCustomerSubscriptionPriceKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromIsPriceTypeForInformationOnly"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromPrice" type="yfctype:Price" use="optional"/>
            <xsd:attribute name="FromPriceEndDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromPriceStartDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromPriceTypeName"
                type="yfctype:PriceTypeName" use="optional"/>
            <xsd:attribute name="FromRecurringType"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="IsPriceTypeForInformationOnly"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_INFO_ONLY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Flag to indicate that his Price Type is for informational use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPriceTypeForInformationOnlyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Price" use="optional">
                <xsd:annotation yfc:columnName="PRICE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Price value of the corresponding Price Type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceEndDate" use="optional">
                <xsd:annotation yfc:columnName="PRICE_END_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>The end date of this price type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceEndDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="PriceQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="PriceStartDate" use="optional">
                <xsd:annotation yfc:columnName="PRICE_START_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>The date from which the price type is applicable.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceStartDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="PriceTypeName"
                type="yfctype:PriceTypeName" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Price Type associated with this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="RecurringType"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="RECURRING_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Recurring Interval for Price Type; if null, then Price Type is non-recurring.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RecurringTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToCustomerSubscriptionKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToCustomerSubscriptionPriceKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToIsPriceTypeForInformationOnly"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToPrice" type="yfctype:Price" use="optional"/>
            <xsd:attribute name="ToPriceEndDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToPriceStartDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToPriceTypeName"
                type="yfctype:PriceTypeName" use="optional"/>
            <xsd:attribute name="ToRecurringType"
                type="yfctype:CommonCode" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
