Data/xapidocs/api_javadocs/XSD/YCP_deleteGDPRDataUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteGDPRDataUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteGDPRDataUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_deleteGDPRDataUE_output.xsd" yfc:rootElement="GDPRData">
        <xsd:appinfo source="yfc:structure">
            <GDPRData hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GDPRData" type="yfc:GDPRDataXSDType"/>
    <xsd:complexType name="GDPRDataXSDType">
        <xsd:attribute name="DeletionDeniedReason" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>This identifies the reason for the deletion of personal data not being successful.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsDeletionSuccessful" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
					This indicates if the deletion of the personal information assosciated with the input parameters was successful. If Deletion was not successful <code>DeletionDeniedReason</code> must be provided in the output.
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
