Data/xapidocs/api_javadocs/XSD/YCP_getColonyMetadata_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getColonyMetadata/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getColonyMetadata/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getColonyMetadata_input.xsd" yfc:rootElement="ColonyMetadata">
        <xsd:appinfo source="yfc:structure">
            <ColonyMetadata hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ColonyMetadata" type="yfc:ColonyMetadataXSDType"/>
    <xsd:complexType name="ColonyMetadataXSDType">
        <xsd:attribute name="DBVendors" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Comma-separated list of database vendors to be returned as child
                <code>DefaultPoolParamList</code> elements. If this attribute is not
                present then the output will contain one <code>DefaultPoolParamList</code>
                element for each supported database vendor. Note if multi-dbvendor support
                is not enabled, then only one such element is returned.
                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PoolTableTypes" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Comma-separated list of table types to be returned in the output
                	<code>PoolList</code> element. If this attribute is not present then the output
                	<code>PoolList</code> will not be filtered.
                	</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
