Data/xapidocs/api_javadocs/XSD/YCP_manageComponentStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageComponentStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageComponentStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageComponentStatus_input.xsd" yfc:rootElement="ComponentStatus">
        <xsd:appinfo source="yfc:structure">
            <ComponentStatus hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ComponentStatus" type="yfc:ComponentStatusXSDType">
        <xsd:annotation yfc:tableName="YFS_COMPONENT_STATUS">
            <xsd:documentation>This table stores the status of components</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ComponentStatusXSDType">
        <xsd:attribute name="Domain" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Domain for the component status</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Name of the component</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Operation to perform
                    <br/>Valid Values: 
                    <br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
                    <br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
                    <br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
                    <br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
                    <br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Action">
                    <xsd:enumeration value="Manage"/>
                    <xsd:enumeration value="Create"/>
                    <xsd:enumeration value="Modify"/>
                    <xsd:enumeration value="Delete"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="StartSync" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="START_SYNC" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Flag to indicate if syncing should start or not</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncModifications" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYNC_MODIFICATIONS" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Flag to indicate if modifications should be synced</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncStatus" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SYNC_STATUS" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Status of the component</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
