Data/xapidocs/api_javadocs/XSD/YCP_getPasswordRuleCfgList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleCfgList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleCfgList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPasswordRuleCfgList_output.xsd" yfc:rootElement="PasswordRuleCfgList">
        <xsd:appinfo source="yfc:structure">
            <PasswordRuleCfgList>
                <PasswordRuleCfg hasAttributes="Y"/>
            </PasswordRuleCfgList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordRuleCfgList" type="yfc:PasswordRuleCfgListXSDType"/>
    <xsd:complexType name="PasswordRuleCfgListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PasswordRuleCfg"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PasswordRuleCfg">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_CFG">
            <xsd:documentation>The table is used for storing policy and rule configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Params" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="PARAMS" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>The field stores the value for the rule parameters.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordRuleCfgKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_RULE_CFG_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_RULE_CFG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
