Data/xapidocs/api_javadocs/XSD/YCP_getPriceProgramList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPriceProgramList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPriceProgramList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPriceProgramList_input.xsd" yfc:rootElement="PriceProgram">
        <xsd:appinfo source="yfc:structure">
            <PriceProgram hasAttributes="Y">
                <PriceProgramDefnList>
                    <PriceProgramDefn hasAttributes="Y">
                        <PriceSet hasAttributes="Y"/>
                    </PriceProgramDefn>
                </PriceProgramDefnList>
            </PriceProgram>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceProgram" type="yfc:PriceProgramXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_PROGRAM">
            <xsd:documentation>A buying organization can be assigned a price program by selling organization. Price programs are always defined by selling organizations This table stores valid price programs as defined by selling organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceProgramXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceProgramDefnList"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Link to YFS_Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_DESCRIPTION" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Description of a price program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Primary key that identifies a price program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_NAME" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>The price program used for pricing the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PriceProgramDefnList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceProgramDefn"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceProgramDefn">
        <xsd:annotation yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
            <xsd:documentation>This table stores the definition of a price program. A price program definition identifies the price list to be used for a given currency and date.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceSet"/>
            </xsd:all>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Currency in which pricing needs to be done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="END_DATE" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Date this price program stops taking effect.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceProgramDefnKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_PROGRAM_DEFN_KEY" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Primary key that identifies a price program definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceProgramKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_PROGRAM_KEY" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Link to YFS_PRICE_PROGRAM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceSetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_SET_KEY" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Price List to be used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="START_DATE" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Date this price program starts to take effect.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceSet">
        <xsd:annotation yfc:tableName="YFS_PRICE_SET">
            <xsd:documentation>Price list master table. This table stores a list of valid price lists for an organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Only Price Sets which are marked as active will be considered when computing tax.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Description of a price set.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Link to YFS_Organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceSetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_SET_KEY" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Primary key that identifies a price set.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceSetName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRICE_SET_NAME" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Name of a price set.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ValidTillDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="VALID_TILL_DATE" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Price Set is valid till this date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
