Data/xapidocs/api_javadocs/XSD/YCP_getNodeTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNodeTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNodeTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNodeTypeList_output.xsd" yfc:rootElement="NodeTypes">
        <xsd:appinfo source="yfc:structure">
            <NodeTypes hasAttributes="Y">
                <NodeType hasAttributes="Y"/>
            </NodeTypes>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeTypes" type="yfc:NodeTypesXSDType"/>
    <xsd:complexType name="NodeTypesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NodeType"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords"
            type="yfctype:MaxRecordCount" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total Number Of Records returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NodeType">
        <xsd:annotation yfc:tableName="YFS_NODE_TYPE">
            <xsd:documentation>This table contains ship node types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="NodeTypeDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="NODE_TYPE_DESCRIPTION" yfc:tableName="YFS_NODE_TYPE">
                    <xsd:documentation>The Node Type Description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeTypeID" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="NODE_TYPE_ID" yfc:tableName="YFS_NODE_TYPE">
                    <xsd:documentation>The unique identifier for the node type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_TYPE_KEY" yfc:tableName="YFS_NODE_TYPE">
                    <xsd:documentation>The primary key for the YFS_NODE_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
