Data/xapidocs/api_javadocs/XSD/YCP_getAccessTokenDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getAccessTokenDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getAccessTokenDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getAccessTokenDetails_output.xsd" yfc:rootElement="AccessToken">
        <xsd:appinfo source="yfc:structure">
            <AccessToken hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AccessToken" type="yfc:AccessTokenXSDType">
        <xsd:annotation yfc:tableName="PLT_ACCESS_TOKEN">
            <xsd:documentation>
                <div/>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AccessTokenXSDType">
        <xsd:attribute name="AccessTokenKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ACCESS_TOKEN_KEY" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The primary key of the PLT_ACCESS_TOKEN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>
                    <div>The attribute will have "Y" is the token is active. "N" if the token is inactive. This flag does indicate whether the token has expired.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationName"
            type="yfctype:ApplicationName" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_NAME" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The application associated with the token.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsValid" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag to indicate whether the token is valid or not.</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Boolean">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SessionId" type="yfctype:SessionId" use="optional">
            <xsd:annotation yfc:columnName="SESSION_ID" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The identifier for the session for which the token was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TokenExpireTS" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="TOKEN_EXPIRE_TS" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>Timestamp when the token expires.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TokenValue" type="yfctype:AccessToken" use="required">
            <xsd:annotation yfc:columnName="TOKEN_VALUE" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The token value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The login id of the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
