Data/xapidocs/api_javadocs/XSD/YCP_getQueryDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getQueryDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getQueryDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getQueryDetails_input.xsd" yfc:rootElement="Query">
        <xsd:appinfo source="yfc:structure">
            <Query hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Query" type="yfc:QueryXSDType">
        <xsd:annotation yfc:tableName="YFS_QUERY">
            <xsd:documentation>
                <div>Master table for Queries
                <Validation>
                        <Condition>QueryKey is required.</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QueryXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					If <code>CallingOrganizationCode</code> is passed, the <code>Query</code> list for the organization that has configured <code>Query</code>s for this <code>CallingOrganizationCode</code> is returned.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUERY">
                <xsd:documentation>
                    <div>
					The organization that owns this query.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryDefinition" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="QUERY_DEFINITION" yfc:tableName="YFS_QUERY">
                <xsd:documentation>Definition of a query.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="QUERY_KEY" yfc:tableName="YFS_QUERY">
                <xsd:documentation>Primary key attribute of YFS_QUERY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryName" type="yfctype:QueryName" use="optional">
            <xsd:annotation yfc:columnName="QUERY_NAME" yfc:tableName="YFS_QUERY">
                <xsd:documentation>Name of a query.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryType" type="yfctype:QueryType" use="optional">
            <xsd:annotation yfc:columnName="QUERY_TYPE" yfc:tableName="YFS_QUERY">
                <xsd:documentation>A grouping identifier for a query.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
