Data/xapidocs/api_javadocs/XSD/YCP_getPaymentStatusList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPaymentStatusList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPaymentStatusList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPaymentStatusList_output.xsd" yfc:rootElement="PaymentStatusList">
        <xsd:appinfo source="yfc:structure">
            <PaymentStatusList>
                <PaymentStatus hasAttributes="Y"/>
            </PaymentStatusList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentStatusList" type="yfc:PaymentStatusListXSDType"/>
    <xsd:complexType name="PaymentStatusListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PaymentStatus"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PaymentStatus">
        <xsd:complexType>
            <xsd:attribute name="CodeType" type="yfctype:Text-20" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Payment Status Code</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Payment Status Description</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManualChangeAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates payment status can be changed to this status through changeOrder API</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
