Data/xapidocs/api_javadocs/XSD/YCP_getOrganizationHierarchy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getOrganizationHierarchy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getOrganizationHierarchy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getOrganizationHierarchy_input.xsd" yfc:rootElement="Organization">
        <xsd:appinfo source="yfc:structure">
            <Organization hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Organization" type="yfc:OrganizationXSDType">
        <xsd:annotation yfc:tableName="YFS_ORGANIZATION">
            <xsd:documentation>
                <div>
			To identify the <code>Organization</code>, pass either <code>OrganizationCode</code> or <code>OrganizationKey</code>.
			<Validation>
                        <Condition>Input is not a valid input document.
				</Condition>
                        <Error
                            Description="Input document is empty or contains invalid data." ErrorCode="YFS10363"/>
                    </Validation>
                    <Validation>
                        <Condition>Neither <code>OrganizationCode</code> nor <code>OrganizationKey</code> is passed.
				</Condition>
                        <Error
                            Description="Either OrganizationCode or OrganizationKey is mandatory." ErrorCode="YCP0179"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization does not exist.
				</Condition>
                        <Error Description="No record found." ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrganizationXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The primary key attribute for the YFS_ORGANIZATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourceIdentifier"
            type="yfctype:ResourceId-100" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_IDENTIFIER" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The unique identifier for the resources of the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
