Data/xapidocs/api_javadocs/XSD/YCP_getServerDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getServerDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getServerDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getServerDetails_output.xsd" yfc:rootElement="Server">
        <xsd:appinfo source="yfc:structure">
            <Server hasAttributes="Y">
                <Service hasAttributes="Y">
                    <TransportProperties hasAttributes="Y"/>
                    <ExceptionHandling hasAttributes="Y"/>
                    <ScheduleInfo hasAttributes="Y"/>
                    <TraceInfo hasAttributes="Y"/>
                    <RunInfo hasAttributes="Y"/>
                    <AgentCriteriaInfo hasAttributes="Y"/>
                </Service>
            </Server>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Server" type="yfc:ServerXSDType">
        <xsd:annotation yfc:tableName="YFS_SERVER">
            <xsd:documentation>
                <div>
				This table stores the Server Information associated with the Services. ServerKey is a foreign key in YFS_SUB_FLOW table. When the IntegrationAdapter is started with a serverName, all the subFlows (or Runtime Ids) associated with the Server are started. All of these subFlows should belong to the same Transport Protocol (such as DB, or JMS).
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Service"/>
        </xsd:all>
        <xsd:attribute name="Id" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>Server Identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxElapsedTraceEnabledTimeInMins"
            type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Time elapsed since the trace component was set or the server started, which ever was later. If there are multiple services with same lowest trace level, the one with highest elapsed time is chosen.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxTraceLevel"
            type="yfctype:ComponentLevel" use="optional">
            <xsd:annotation>
                <xsd:documentation>Level of active trace component, if any. Only the lowest level is shown if multiple services have active traces.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Server Name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartTime" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>Time when the server started</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation>
                <xsd:documentation>Server Status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubType" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>AgentServer or IntegrationServer, in case any of them</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Server Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Service">
        <xsd:annotation yfc:tableName="YFS_SERVICE">
            <xsd:documentation>
                <div>
				Services are collections of roles. An organization providing a service implies that it plays all the roles listed under the service. 
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransportProperties"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ExceptionHandling"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ScheduleInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TraceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RunInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AgentCriteriaInfo"/>
            </xsd:all>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Service Name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfThreads" type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number Of threads dedicated for the service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Status of a service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransportProperties">
        <xsd:complexType>
            <xsd:attribute name="InitialContextFactory"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="MessageSelector" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProviderURL" type="yfctype:String" use="optional"/>
            <xsd:attribute name="QCFLookup" type="yfctype:String" use="optional"/>
            <xsd:attribute name="QName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TransportType" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExceptionHandling">
        <xsd:complexType>
            <xsd:attribute name="ExceptionQName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExceptionType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Reprocess" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RestartWaitTime" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Restartable" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ScheduleInfo">
        <xsd:complexType>
            <xsd:attribute name="AdvancedSchedulingCronExpr"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="AdvancedSchedulingEnabled"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NextScheduleTriggerTime"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ScheduleTrigger" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ScheduleTriggerTimeInterval"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TraceInfo">
        <xsd:complexType>
            <xsd:attribute name="ElapsedTraceEnabledTimeInMins"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TraceLevel" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RunInfo">
        <xsd:complexType>
            <xsd:attribute name="PendingJobs" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AgentCriteriaInfo">
        <xsd:complexType>
            <xsd:attribute name="AgentCriteriaXML" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
