Data/xapidocs/api_javadocs/XSD/YCP_getDataSecurityGroupList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDataSecurityGroupList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDataSecurityGroupList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getDataSecurityGroupList_output.xsd" yfc:rootElement="DataSecurityGroup">
        <xsd:appinfo source="yfc:structure">
            <DataSecurityGroup hasAttributes="Y">
                <DataSecurityEnterpriseList>
                    <DataSecurityEnterprise hasAttributes="Y"/>
                </DataSecurityEnterpriseList>
                <DataSecurityDocTypeList>
                    <DataSecurityDocType hasAttributes="Y"/>
                </DataSecurityDocTypeList>
                <DataSecurityNodesList>
                    <DataSecurityNodes hasAttributes="Y"/>
                </DataSecurityNodesList>
                <SubDataSecurityGroupList>
                    <SubDataSecurityGroup hasAttributes="Y"/>
                </SubDataSecurityGroupList>
            </DataSecurityGroup>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DataSecurityGroup" type="yfc:DataSecurityGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>Data Security groups that are used to control end-user access to the application data elements are stored here.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DataSecurityGroupXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataSecurityEnterpriseList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataSecurityDocTypeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataSecurityNodesList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubDataSecurityGroupList"/>
        </xsd:all>
        <xsd:attribute name="DataSecurityGroupId"
            type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Data Security Group Id.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataSecurityGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Description for the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeAccessMode"
            type="yfctype:DocumentTypeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseAccessMode"
            type="yfctype:EnterpriseAccessMode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Organization that created this data security group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeAccessMode"
            type="yfctype:ShipNodeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="DataSecurityEnterpriseList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataSecurityEnterprise"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityEnterprise">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
            <xsd:documentation>This tables stores the enterprises that are accessible to users associated to this data secruity group in the Console.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DataSecurityEnterpriseKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DATA_SECURITY_ENTERPRISE_KEY" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_ENTERPRISE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataSecurityGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_ORG_CODE" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>Organization code of the enterprise to which data access has been granted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityDocTypeList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataSecurityDocType"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityDocType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
            <xsd:documentation>This table stores the document types (by application) that are accessible by users associated to the data security group in the Console.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplicationCode"
                type="yfctype:ModuleId" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Application code for the document type that this data security group has access to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataSecurityDocTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DATA_SECURITY_DOC_TYPE_KEY" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_DOC_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataSecurityGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Document Type that this data security group has access to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModuleCode"
                type="yfctype:ActivityGroup" use="optional">
                <xsd:annotation yfc:columnName="MODULE_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Module Code</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityNodesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DataSecurityNodes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityNodes">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_NODES">
            <xsd:documentation>Data Security Ship Nodes that are used to control end-user access to the application data elements are stored here.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DataSecurityGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                    <xsd:documentation>Primary Key For YFS_Data_Security_Group table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataSecurityNodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_NODE_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_NODES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                    <xsd:documentation>The primary key for the YFS_SHIP_NODE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubDataSecurityGroupList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubDataSecurityGroup"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubDataSecurityGroup">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>Data Security groups that are used to control end-user access to the application data elements are stored here.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DataSecurityGroupId"
                type="yfctype:DataSecurityGroupId" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Data Security Group Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataSecurityGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Description for the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeAccessMode"
                type="yfctype:DocumentTypeAccessMode" use="optional">
                <xsd:annotation
                    yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Document Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseAccessMode"
                type="yfctype:EnterpriseAccessMode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Organization that created this data security group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Data Security Group Key of parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeAccessMode"
                type="yfctype:ShipNodeAccessMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
