Data/xapidocs/api_javadocs/XSD/YCP_manageCallOutClassLoader_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCallOutClassLoader/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCallOutClassLoader/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageCallOutClassLoader_output.xsd" yfc:rootElement="CallOutClassLoader">
        <xsd:appinfo source="yfc:structure">
            <CallOutClassLoader hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CallOutClassLoader" type="yfc:CallOutClassLoaderXSDType">
        <xsd:annotation yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
            <xsd:documentation>This table stores the details for the callout class loader.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CallOutClassLoaderXSDType">
        <xsd:attribute name="CallOutClassLoaderId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_CLASS_LOADER_ID" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                <xsd:documentation>This is used to uniquely identify a record of the PLT_CALLOUT_CLASS_LOADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutClassLoaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_CLASS_LOADER_KEY" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                <xsd:documentation>The primary key of the PLT_CALLOUT_CLASS_LOADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_ID" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                <xsd:documentation>The foreign key of this table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DirectoryPath" type="yfctype:JarsToInclude" use="optional">
            <xsd:annotation yfc:columnName="DIRECTORY_PATH" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                <xsd:documentation>The relative path of the directory with jars that include the callout unit classes and callout voting resolver. Any third party jars to be used while executing the unit can also be included here</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
