Data/xapidocs/api_javadocs/XSD/YCP_manageDataSecurityGroup_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageDataSecurityGroup/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageDataSecurityGroup/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageDataSecurityGroup_input.xsd" yfc:rootElement="DataSecurityGroup">
        <xsd:appinfo source="yfc:structure">
            <DataSecurityGroup hasAttributes="Y">
                <DataSecurityEnterpriseList>
                    <DataSecurityEnterprise hasAttributes="Y"/>
                </DataSecurityEnterpriseList>
                <DataSecurityDocTypeList>
                    <DataSecurityDocType hasAttributes="Y"/>
                </DataSecurityDocTypeList>
                <DataSecurityNodesList>
                    <DataSecurityNodes hasAttributes="Y"/>
                </DataSecurityNodesList>
            </DataSecurityGroup>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DataSecurityGroup" type="yfc:DataSecurityGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>
                <div>
				Data Security groups that are used to control end-user access to data elements are stored here.  Identify <code>DataSecurityGroup</code> to be created, modified or deleted.  <code>DataSecurityGroupKey</code> or a combination of  <code>DataSecurityGroupId</code> and <code>OrganizationCode</code> attributes can be used to identify a <code>DataSecurityGroup</code>.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DataSecurityGroupXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataSecurityEnterpriseList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataSecurityDocTypeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DataSecurityNodesList"/>
        </xsd:all>
        <xsd:attribute name="DataSecurityGroupId"
            type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Mandatory if creating a new Data Security Group.</Condition>
                            <Error
                                Description="Data Security Group Id is mandatory." ErrorCode="YCPXXXX"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataSecurityGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Description for the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeAccessMode"
            type="yfctype:DocumentTypeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseAccessMode"
            type="yfctype:EnterpriseAccessMode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					   This attribute specifies the kind of operation to be done.  
			<br/>Valid Values: 
				<br/>
                        <b>
                            <code>Create</code>
                        </b> - To create a <code>DataSecurityGroup</code>
                        <br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
				<br/>
                        <b>
                            <code>Delete</code>
                        </b> - To delete a  <code>DataSecurityGroup</code>
                        <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Mandatory if creating a Data Security Group.</Condition>
                            <Error
                                Description="Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>Must be a valid organization in the <code>YFS_ORGANIZATION</code> table.
					</Condition>
                            <Error
                                Description="Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeAccessMode"
            type="yfctype:ShipNodeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="DataSecurityEnterpriseList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DataSecurityEnterprise"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityEnterprise">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
            <xsd:documentation>
                <div>
				This tables stores the enterprises that are accessible to users associated to this data security group.  Identify <code>DataSecurityEnterprise</code> to be created/modified/deleted for a data security group type.  <code>DataSecurityEnterpriseKey</code> or  <code>EnterpriseOrgCode</code>can be used to identify a <code>DataSecurityEnterprise</code>. <code>EnterpriseOrgCode</code> is mandatory when <code>Operation</code> is Create.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DataSecurityEnterpriseKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DATA_SECURITY_ENTERPRISE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_ENTERPRISE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_ORG_CODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>
                        <div>
                            <Validation>
                                <Condition>Mandatory if creating a Data Security Enterprise.</Condition>
                                <Error
                                    Description="Invalid organization code." ErrorCode="YFS10395"/>
                            </Validation>
                            <Validation>
                                <Condition>Must be a valid organization in the <code>YFS_ORGANIZATION</code> table.
					</Condition>
                                <Error
                                    Description="Invalid organization code." ErrorCode="YFS10395"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					   This attribute specifies the kind of operation to be done.  
			<br/>Valid Values: 
				<br/>
                            <b>
                                <code>Create</code>
                            </b> - To associate a transaction to <code>DataSecurityGroup</code>
                            <br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
				<br/>
                            <b>
                                <code>Delete</code>
                            </b> - To de-associate a transaction to <code>DataSecurityGroup</code>
                            <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityDocTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DataSecurityDocType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityDocType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
            <xsd:documentation>
                <div>
				This table stores the document types (by application) that are accessible by users associated to the data security group.  Identity DataSecurityDocType type to be created/modified/deleted for data security group type.  <code>DataSecurityDocTypeKey</code> is mandatory when <code>Operation</code> is Modify or Delete. 
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplicationCode"
                type="yfctype:ModuleId" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Application code for the document type that this data security group has access to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataSecurityDocTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DATA_SECURITY_DOC_TYPE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_DOC_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Document Type that this data security group has access to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModuleCode"
                type="yfctype:ActivityGroup" use="optional">
                <xsd:annotation yfc:columnName="MODULE_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Module Code</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					   This attribute specifies the kind of operation to be done.  
			<br/>Valid Values: 
				<br/>
                            <b>
                                <code>Create</code>
                            </b> - To associate a modification type to <code>DataSecurityGroup</code>
                            <br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
				<br/>
                            <b>
                                <code>Delete</code>
                            </b> - To de-associate a modification type to <code>DataSecurityGroup</code>
                            <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityNodesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DataSecurityNodes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DataSecurityNodes">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_NODES">
            <xsd:documentation>
                <div>
				Data Security Ship Nodes that are used to control end-user access to data elements are stored here.  Identify <code>DataSecurityNodes</code> to be created/modified/deleted for a data security group type.  <code>DataSecurityNodeKey</code> or  <code>ShipnodeKey</code>can be used to identify a <code>DataSecurityNodes</code>. <code>ShipnodeKey</code> is mandatory when <code>Operation</code> is Create.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DataSecurityNodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_NODE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_NODES">
                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_NODES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					   This attribute specifies the kind of operation to be done.  
			<br/>Valid Values: 
				<br/>
                            <b>
                                <code>Create</code>
                            </b> - To associate a transaction to <code>DataSecurityGroup</code>
                            <br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
				<br/>
                            <b>
                                <code>Delete</code>
                            </b> - To de-associate a transaction to <code>DataSecurityGroup</code>
                            <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_NODES">
                    <xsd:documentation>
                        <div>
                            <Validation>
                                <Condition>Mandatory if creating a data security node.</Condition>
                                <Error Description="Invalid ship node." ErrorCode="YFS10048"/>
                            </Validation>
                            <Validation>
                                <Condition>Must be a valid ship node in the <code>YFS_SHIP_NODE</code> table.
					</Condition>
                                <Error Description="Invalid ship node.." ErrorCode="YFS10048"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
