Data/xapidocs/api_javadocs/XSD/YCP_manageCarrierServiceOverride_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCarrierServiceOverride/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCarrierServiceOverride/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageCarrierServiceOverride_input.xsd" yfc:rootElement="CarrierServiceOverrideList">
        <xsd:appinfo source="yfc:structure">
            <CarrierServiceOverrideList hasAttributes="Y">
                <CarrierServiceOverride hasAttributes="Y"/>
            </CarrierServiceOverrideList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CarrierServiceOverrideList" type="yfc:CarrierServiceOverrideListXSDType"/>
    <xsd:complexType name="CarrierServiceOverrideListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:CarrierServiceOverride"/>
        </xsd:sequence>
        <xsd:attribute name="CarrierServiceCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>A code that identifies a service provided by a carrier.
						<br/>If <code>CarrierServiceKey</code> is passed, <code>CarrierServiceCode</code> is ignored.
						<Validation>
                            <Condition>If invalid <code>CarrierServiceCode</code> is provided.</Condition>
                            <Error Description="YFS: Invalid Data." ErrorCode="YFS10190"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                <xsd:documentation>
                    <div>The key of the carrier service for which this override date is defined.
					<Validation>
                            <Condition>If creating a new record, CarrierServiceKey is not passed OR If updating existing record, new value passed is null. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CarrierServiceOverride">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE_OVR">
            <xsd:documentation>Defines a carrier service's override date that can be delivered on or available to for transit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Determines if the date is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Determines if the date is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceOverrideKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_OVR_KEY" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Primary key attribute of YFS_CARRIER_SERVICE_OVR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Operation to perform on this record.
				<br/>Valid Values: 
				<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
				<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
				<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
				<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
				<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
			</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideDate" use="optional">
                <xsd:annotation yfc:columnName="OVERRIDE_DATE" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>
                        <div>The date that has been overridden. This date takes precedence over the carrier service schedule.
					<Validation>
                                <Condition>If creating a new record, OverrideDate is not passed OR If updating existing record, new value passed is null. </Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
