Data/xapidocs/api_javadocs/XSD/YCP_getCalendarDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCalendarDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCalendarDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCalendarDetails_input.xsd" yfc:rootElement="Calendar">
        <xsd:appinfo source="yfc:structure">
            <Calendar hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Calendar" type="yfc:CalendarXSDType">
        <xsd:annotation yfc:tableName="YFS_CALENDAR">
            <xsd:documentation>
                <div>
				This element stores information related to a Calendar and is mandatory. Calendar can be created for an organization or for a ship node. Calendar is created by the <code>createCalendar</code> API and managed by the <code>changeCalendar</code> API. 
					<Validation>
                        <Condition>
						Either <code>CalendarKey</code> or both (<code>CalendarID</code> and <code>OrganizationCode</code>) must be passed. If not passed:
						</Condition>
                        <Error
                            Description="CalendarKey or (CalendarID and OrganizationCode) must be passed" ErrorCode="YFS10515"/>
                    </Validation>
                    <Validation>
                        <Condition>
						A calendar must be found that meets the given criteria. If no calendar is found:
						</Condition>
                        <Error Description="Calendar not found" ErrorCode="YCP0102"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CalendarXSDType">
        <xsd:attribute name="CalendarId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_ID" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Unique key to identify a Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Primary key attribute of YFS_CALENDAR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonthFilter" type="yfctype:MonthFilter" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The month filter. This is used to return only the day exceptions that match this criteria. A 2-digit integer represents the month. Valid values are <b>
                            <code>01</code>
                        </b>, <b>
                            <code>02</code>
                        </b>, <b>
                            <code>03</code>
                        </b>, <b>
                            <code>04</code>
                        </b>, <b>
                            <code>05</code>
                        </b>, <b>
                            <code>06</code>
                        </b>, <b>
                            <code>07</code>
                        </b>, <b>
                            <code>08</code>
                        </b>, <b>
                            <code>09</code>
                        </b>, <b>
                            <code>10</code>
                        </b>, <b>
                            <code>11</code>
                        </b>, and <b>
                            <code>12</code>
                        </b>. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Organization which owns the Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="YearFilter" type="yfctype:YearFilter" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The year filter. This is used to return only the day exceptions that match this criteria. A 4-digit integer represents the year.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
