Data/xapidocs/api_javadocs/XSD/YCP_manageOrgGroupOverride_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageOrgGroupOverride/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageOrgGroupOverride/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageOrgGroupOverride_output.xsd" yfc:rootElement="OrgGroupOverride">
        <xsd:appinfo source="yfc:structure">
            <OrgGroupOverride hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrgGroupOverride" type="yfc:OrgGroupOverrideXSDType">
        <xsd:annotation yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
            <xsd:documentation>Stores ownership information for an organization at the group level</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrgGroupOverrideXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
                <xsd:documentation>Type of document this process is used for</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupName" type="yfctype:GroupName" use="optional">
            <xsd:annotation yfc:columnName="GROUP_NAME" yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
                <xsd:documentation>Group Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
                <xsd:documentation>Business key or unique identifier for a node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
                <xsd:documentation>Organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
