Data/xapidocs/api_javadocs/XSD/YCP_manageQualifiedTagVerCompatblty_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageQualifiedTagVerCompatblty/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageQualifiedTagVerCompatblty/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageQualifiedTagVerCompatblty_output.xsd" yfc:rootElement="QualifiedTagVersionCompatibility">
        <xsd:appinfo source="yfc:structure">
            <QualifiedTagVersionCompatibility hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QualifiedTagVersionCompatibility" type="yfc:QualifiedTagVersionCompatibilityXSDType">
        <xsd:annotation yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
            <xsd:documentation>Stores application version and qualified tag compatibility information</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QualifiedTagVersionCompatibilityXSDType">
        <xsd:attribute name="ApplicationCode"
            type="yfctype:ApplicationCode" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Code to identify an application</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxVersionSupported"
            type="yfctype:ApplicationVersion" use="optional">
            <xsd:annotation yfc:columnName="MAX_VERSION_SUPPORTED" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Maximum application version which supports the qualified tag</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinVersionSupported"
            type="yfctype:ApplicationVersion" use="optional">
            <xsd:annotation yfc:columnName="MIN_VERSION_SUPPORTED" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Minimum application version which supports the qualified tag</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagId"
            type="yfctype:QualifiedTagId" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Qualified Tag identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagVersionCompatibilityKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QULFD_TAG_VER_COMPTBLT_KEY" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Primary key attribute of PLT_QUALIFIED_TAG_VER_COMPTBLT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupportLevel" type="yfctype:SupportLevel" use="optional">
            <xsd:annotation yfc:columnName="SUPPORT_LEVEL" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>level of support for application versions which are not valid.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
