Data/xapidocs/api_javadocs/XSD/YCP_getPaymentCardTypeDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPaymentCardTypeDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPaymentCardTypeDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getPaymentCardTypeDetails_input.xsd" yfc:rootElement="PaymentCardType">
        <xsd:appinfo source="yfc:structure">
            <PaymentCardType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentCardType" type="yfc:PaymentCardTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_PAYMENT_CARD_TYPE">
            <xsd:documentation>This table stores all payment card types.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PaymentCardTypeXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <br/>If <code>InheritValues</code> is <code>Y</code>, this is used to look up inherited values that are document type specific.  If not passed, the default value is <code>0001</code>. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InheritValues" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <br/>Valid Values:
					<br/>
                        <b>
                            <code>Y</code>
                        </b> - Inherits values of payment rules from the payment configuration hierarchy if not present in this payment card type.
					<br/>
                        <b>
                            <code>N</code>
                        </b> - Shows values of payment rules set on this payment card type.  <code>null</code> values will not be returned.
					<br/>
                        <b>If not passed, the default value is <code>N</code>.</b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PAYMENT_CARD_TYPE">
                <xsd:documentation>The organization that is associated with this payment card type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentCardType" type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_CARD_TYPE" yfc:tableName="YFS_PAYMENT_CARD_TYPE">
                <xsd:documentation>The unique identifier for the payment card type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentCardTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_CARD_TYPE_KEY" yfc:tableName="YFS_PAYMENT_CARD_TYPE">
                <xsd:documentation>The primary key of the YFS_PAYMENT_CARD_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YFS_PAYMENT_CARD_TYPE">
                <xsd:documentation>The unique identifier for the payment type of this payment card type. Currently, the system only supports payment types of payment type group CREDIT_CARD, DEBIT_CARD,STORED_VALUE_CARD and OTHER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
