Data/xapidocs/api_javadocs/XSD/YCP_manageQuery_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageQuery/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageQuery/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageQuery_input.xsd" yfc:rootElement="Query">
        <xsd:appinfo source="yfc:structure">
            <Query hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Query" type="yfc:QueryXSDType">
        <xsd:annotation yfc:tableName="YFS_QUERY">
            <xsd:documentation>
                <div>Master table for Queries
				<Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QueryXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUERY">
                <xsd:documentation>
                    <div>
					The organization that owns this query.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryDefinition" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="QUERY_DEFINITION" yfc:tableName="YFS_QUERY">
                <xsd:documentation>Definition of a query.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUERY_KEY" yfc:tableName="YFS_QUERY">
                <xsd:documentation>Primary key attribute of YFS_QUERY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryName" type="yfctype:QueryName" use="optional">
            <xsd:annotation yfc:columnName="QUERY_NAME" yfc:tableName="YFS_QUERY">
                <xsd:documentation>Name of a query.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryType" type="yfctype:QueryType" use="optional">
            <xsd:annotation yfc:columnName="QUERY_TYPE" yfc:tableName="YFS_QUERY">
                <xsd:documentation>A grouping identifier for a query.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableType" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
