Data/xapidocs/api_javadocs/XSD/YCP_managePasswordPolicy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/managePasswordPolicy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/managePasswordPolicy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_managePasswordPolicy_input.xsd" yfc:rootElement="PasswordPolicy">
        <xsd:appinfo source="yfc:structure">
            <PasswordPolicy hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordPolicy" type="yfc:PasswordPolicyXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_POLICY">
            <xsd:documentation>
                <div>
			To identify the <code>PasswordPolicy</code>, pass either <code>PasswordPolicyKey</code> or <code>Name</code> and <code>OrganizationCode</code>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>PasswordPolicyKey</code>  or <code>Name</code> already exists in the database.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and PasswordPolicyKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>Name</code> or <code>OrganizationCode</code> is not passed.
					</Condition>
                        <Error
                            Description="Name and OrganizationCode are Mandatory fields." ErrorCode="YCP0046"/>
                    </Validation>
                    <Validation>
                        <Condition>If a User is assigned a <code> Password Policy </code> and the <code> Password Policy </code> record is being deleted.</Condition>
                        <Error
                            Description="Cannot delete the Password Policy because User records still refer to it." ErrorCode="PLT0517"/>
                    </Validation>
                    <Validation>
                        <Condition>If a UserGroup is assigned a <code> Password Policy </code> and the <code> Password Policy </code> record is being deleted.</Condition>
                        <Error
                            Description="Cannot delete the Password Policy because UserGroup records still refer to it." ErrorCode="PLT0518"/>
                    </Validation>
                    <Validation>
                        <Condition>If an Organization is assigned a <code> Password Policy </code> and the <code> Password Policy </code> record is being deleted.</Condition>
                        <Error
                            Description="Cannot delete the Password Policy because Organization records still refer to it." ErrorCode="PLT0519"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PasswordPolicyXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Policy description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:PolicyName" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Policy name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>The Organization to which the policy belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>The priority used for resolving user group policies. Greater value implies higher priority. Any negative value would be converted to zero.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Count"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Text-1" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Indicates the status of policy. A value of 0 is disabled and a value of 1 means enabled. DEFAULT value is '1'</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
