Data/xapidocs/api_javadocs/XSD/YCP_getResourcesForUserGroup_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getResourcesForUserGroup/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getResourcesForUserGroup/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getResourcesForUserGroup_input.xsd" yfc:rootElement="getResourcesForUserGroup">
        <xsd:appinfo source="yfc:structure">
            <getResourcesForUserGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getResourcesForUserGroup" type="yfc:getResourcesForUserGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_USER_GROUP">
            <xsd:documentation>
                <div>
				Defines all user groups in the system. If you need all the resources for a group in a hierarchical fashion, do not send the resource attributes.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getResourcesForUserGroupXSDType">
        <xsd:attribute name="ResourceId" type="yfctype:ResourceId-255" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>The unique identifier of a resource.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>The primary key of the YFS_RESOURCE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>A unique identifier to the user group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Primary key attribute of YFS_USER_GROUP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
