Data/xapidocs/api_javadocs/XSD/YCP_getTaskQueueDataList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTaskQueueDataList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTaskQueueDataList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTaskQueueDataList_input.xsd" yfc:rootElement="GetTaskQueueDataInput">
        <xsd:appinfo source="yfc:structure">
            <GetTaskQueueDataInput hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetTaskQueueDataInput" type="yfc:GetTaskQueueDataInputXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION">
            <xsd:documentation>When multiple instances of a transaction are processing tasks from the task queue, these instances can call this API, passing the instance number and the total number of running instances that can work on their data segment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetTaskQueueDataInputXSDType">
        <xsd:attribute name="InstanceNumber" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Requesting instance number</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastTaskQueueKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_Q_KEY" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>To fetch beyond a particular task</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxInstances" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of instances running</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="required">
            <xsd:annotation>
                <xsd:documentation>To return at the most this many records</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TranId" use="required">
            <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The unique identifier for a transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
