Data/xapidocs/api_javadocs/XSD/YCP_CUSTOMER_DEFINITION.ON_CHANGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/CUSTOMER_DEFINITION/ON_CHANGE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/CUSTOMER_DEFINITION/ON_CHANGE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_CUSTOMER_DEFINITION.ON_CHANGE.xsd" yfc:rootElement="CustomerAssignment">
        <xsd:appinfo source="yfc:structure">
            <CustomerAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerAssignment" type="yfc:CustomerAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
            <xsd:documentation>This table contains customers and teams or users that manage them.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerAssignmentXSDType">
        <xsd:attribute name="CustomerClassificationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation>
                <xsd:documentation>CustomerId for which the assignments need to be synchronized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Total unique identifier of the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>The organization of the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
