Data/xapidocs/api_javadocs/XSD/YCP_managePasswordRuleCfg_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/managePasswordRuleCfg/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/managePasswordRuleCfg/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_managePasswordRuleCfg_input.xsd" yfc:rootElement="PasswordRuleCfg">
        <xsd:appinfo source="yfc:structure">
            <PasswordRuleCfg hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordRuleCfg" type="yfc:PasswordRuleCfgXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_CFG">
            <xsd:documentation>
                <div>
			To identify the <code>PasswordRuleCfg</code>, pass either <code>PasswordRuleCfgKey</code> or a combination of 
		<code>PasswordPolicyKey</code> and <code>PasswordRuleDefnKey</code>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>PasswordRuleCfgKey</code> or a combination of <code>PasswordPolicyKey</code> and <code>PasswordRuleDefnKey</code> already exists in the database.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and both <code>PasswordPolicyKey</code> and <code>PasswordRuleDefnKey</code> are not passed.
					</Condition>
                        <Error
                            Description="PasswordPolicyKey and PasswordRuleDefnKey are Mandatory fields." ErrorCode="YCP0046"/>
                    </Validation>
                    <Validation>
                        <Condition>If invalid values of <code>PasswordPolicyKey</code> or <code>PasswordRuleDefnKey</code> is passed.
					</Condition>
                        <Error
                            Description="No Record Found - Invalid value passed" ErrorCode="YCP0045"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and PasswordRuleCfgKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PasswordRuleCfgXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Params" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="PARAMS" yfc:tableName="PLT_PWD_RULE_CFG">
                <xsd:documentation>The field stores the value for the rule parameters.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordRuleCfgKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_RULE_CFG_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                <xsd:documentation>Primary key attribute of PLT_PWD_RULE_CFG.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
