Data/xapidocs/api_javadocs/XSD/YCP_createService_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createService/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createService/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_createService_input.xsd" yfc:rootElement="Service">
        <xsd:appinfo source="yfc:structure">
            <Service hasAttributes="Y">
                <OrgServiceList>
                    <OrgService hasAttributes="Y"/>
                </OrgServiceList>
                <ResourceList>
                    <Resource hasAttributes="Y">
                        <ResourcePermissionList>
                            <ResourcePermission hasAttributes="Y"/>
                        </ResourcePermissionList>
                    </Resource>
                </ResourceList>
            </Service>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Service" type="yfc:ServiceXSDType">
        <xsd:annotation yfc:tableName="YFS_SERVICE">
            <xsd:documentation>
                <div>
				Services are collections of roles. An organization providing a service plays all the roles listed under the service.
					<Validation>
                        <Condition>
						Every <code>Service</code> node must have a valid <code>RoleKey</code> attribute specified. If not specified or not valid:
						</Condition>
                        <Error Description="" ErrorCode=""/>
                    </Validation>
                    <Validation>
                        <Condition>
						Every <code>Service</code> node must have a valid <code>ServiceName</code> attribute specified. If not specified or not valid:
						</Condition>
                        <Error Description="" ErrorCode=""/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServiceXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrgServiceList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourceList"/>
        </xsd:all>
        <xsd:attribute name="RoleKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ROLE_KEY" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>A role included as part of a service</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceDesc" type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_DESC" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>Description of the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_KEY" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>Primary key attribute of YFS_SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceName" type="yfctype:ServiceName" use="required">
            <xsd:annotation yfc:columnName="SERVICE_NAME" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>Name of the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrgServiceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrgService"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrgService">
        <xsd:annotation yfc:tableName="YFS_ORG_SERVICE">
            <xsd:documentation>
                <div>
						Stores the services provided by an organization.
							<Validation>
                        <Condition>
								Every <code>OrgService</code> node must have a valid <code>OrganizationKey</code> attribute specified. If not specified or not valid:
								</Condition>
                        <Error Description="" ErrorCode=""/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_ORG_SERVICE">
                    <xsd:documentation>Organization providing the service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_KEY" yfc:tableName="YFS_ORG_SERVICE">
                    <xsd:documentation>A service being provided by an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourceList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Resource"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Resource">
        <xsd:annotation yfc:tableName="YFS_RESOURCE">
            <xsd:documentation>
                <div>
						Stores and maintains all resources in an application. Permissions are granted on a resource to a user group.
							<Validation>
                        <Condition>
								Every <code>Resource</code> node must have a valid <code>ResourceId</code> attribute specified. If not specified or not valid:
								</Condition>
                        <Error Description="" ErrorCode=""/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePermissionList"/>
            </xsd:all>
            <xsd:attribute name="ApplicationName"
                type="yfctype:ApplicationName" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_NAME" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>An application associated with the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BehaviorClassName"
                type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="BEHAVIOR_CLASS_NAME" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A java class that controls the behavior of a graphical user interface form.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanAddToMenu" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_ADD_TO_MENU" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This indicates whether a resource can be added to the menu. The resources added to menus are always at the leaf node of the menu hierarchy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EventComponent"
                type="yfctype:EventComponent" use="optional">
                <xsd:annotation yfc:columnName="EVENT_COMPONENT" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A java event component on a form.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FormClassName" type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="FORM_CLASS_NAME" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A java class name that is of a graphical user interface form associated with a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPermissionControlled"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PERMISSION_CONTROLLED" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This indicates whether a resource is permission controlled. To be able to access these resources the users need specific grant access.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrigResourceId"
                type="yfctype:ResourceId-40" use="optional">
                <xsd:annotation yfc:columnName="ORIG_RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This identifies the original resource from which a particular resource is derived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutputXmlTemplateFileName"
                type="yfctype:FileName" use="optional">
                <xsd:annotation
                    yfc:columnName="OUTPUT_XML_TEMPLATE_FILE_NAME" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A template file name used for an API output.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutputXslTemplateFileName"
                type="yfctype:FileName" use="optional">
                <xsd:annotation
                    yfc:columnName="OUTPUT_XSL_TEMPLATE_FILE_NAME" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>An XSL file name used to further process an API's output.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter1" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_1" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter2" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_2" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter3" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_3" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter4" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_4" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter5" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_5" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentResourceId"
                type="yfctype:ResourceId-40" use="optional">
                <xsd:annotation yfc:columnName="PARENT_RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The resources with parents essentially indicates the hierarchy of resources to which a particular resource may belong. The resources can have multiple children but at the most one parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceCreateType"
                type="yfctype:EnumResourceCreateType" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_CREATE_TYPE" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This field indicates the create type of the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceDesc"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_DESC" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The description of a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceId"
                type="yfctype:ResourceId-255" use="required">
                <xsd:annotation yfc:columnName="RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The unique identifier of a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The primary key of the YFS_RESOURCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceSeq"
                type="yfctype:ResourceSequenceNo" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_SEQ" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A sequence number used to order child resources within a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceType"
                type="yfctype:ResourceType-40" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_TYPE" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The type of resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Url" type="yfctype:NonUnicode-URL" use="optional">
                <xsd:annotation yfc:columnName="URL" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The uniform resource locator of a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePermissionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ResourcePermission"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePermission">
        <xsd:annotation yfc:tableName="YFS_RESOURCE_PERMISSION">
            <xsd:documentation>
                <div>
								Permissions to various resources in the system are maintained here. Permissions are maintained at a user group level. 
									<Validation>
                        <Condition>
										Every <code>ResourcePermission</code> node must have a valid <code>UserGroupKey</code> attribute specified. If not specified or not valid:
										</Condition>
                        <Error Description="" ErrorCode=""/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivateFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATE_FLAG" yfc:tableName="YFS_RESOURCE_PERMISSION">
                    <xsd:documentation>Indicates if a permission is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePermissionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_PERMISSION_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                    <xsd:documentation>Primary key attribute of YFS_RESOURCE_PERMISSION.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                    <xsd:documentation>A user group that is given permission to access a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
