Data/xapidocs/api_javadocs/XSD/YCP_getLocaleList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getLocaleList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getLocaleList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getLocaleList_output.xsd" yfc:rootElement="LocaleList">
        <xsd:appinfo source="yfc:structure">
            <LocaleList hasAttributes="Y">
                <Locale hasAttributes="Y"/>
            </LocaleList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocaleList" type="yfc:LocaleListXSDType"/>
    <xsd:complexType name="LocaleListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Locale"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords"
            type="yfctype:MaxRecordCount" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total Number Of Records returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Locale">
        <xsd:annotation yfc:tableName="YFS_LOCALE">
            <xsd:documentation>This table defines various locale code definitions and stores information used for Internationalization and Localization of an application.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ClientTimeFormat"
                type="yfctype:DateFormat" use="optional">
                <xsd:annotation yfc:columnName="CLIENT_TIME_FORMAT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>An alternate time format to support '12 hour Clock' (AM/PM).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ClientTimestampFormat"
                type="yfctype:DateFormat" use="optional">
                <xsd:annotation yfc:columnName="CLIENT_TIMESTAMP_FORMAT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>An alternate timestamp format to support '12 hour Cliock' (AM/PM).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The country using this locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The currency associated with a locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateFormat" type="yfctype:DateFormat" use="optional">
                <xsd:annotation yfc:columnName="DATE_FORMAT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>A format in which dates need to be displayed in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateHourMinuteFormat"
                type="yfctype:DateFormat" use="optional">
                <xsd:annotation yfc:columnName="DATE_HOUR_MINUTE_FORMAT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>A format in which dates representing a date, hour, and minutes need to be displayed in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayDisplayDateFormat"
                type="yfctype:DateFormat" use="optional">
                <xsd:annotation yfc:columnName="DAY_DISPLAY_DATE_FORMAT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>A format in which dates representing the day of week need to be displayed in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DimensionUom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="DIMENSION_UOM" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The unit of measure in which dimensions need to be displayed in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HourMinuteTimeFormat"
                type="yfctype:DateFormat" use="optional">
                <xsd:annotation yfc:columnName="HOUR_MINUTE_TIME_FORMAT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>A format in which time representing hours and minutes needs to be displayed in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Language" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The language associated with a locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_DESCRIPTION" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The description of a locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_KEY" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The primary key of the YFS_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The unique identifier of a locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonthDisplayDateFormat"
                type="yfctype:DateFormat" use="optional">
                <xsd:annotation
                    yfc:columnName="MONTH_DISPLAY_DATE_FORMAT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>A format in which dates representing a month need to be displayed in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TimestampFormat"
                type="yfctype:DateFormat" use="optional">
                <xsd:annotation yfc:columnName="TIMESTAMP_FORMAT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>A format used for the display of timestamp attributes in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Timezone" type="yfctype:Timezone-40" use="optional">
                <xsd:annotation yfc:columnName="TIMEZONE" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The time zone associated with a locale</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Variant" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The variant associated with a locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VolumeUom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="VOLUME_UOM" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The unit of measure in which volumes need to be displayed in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YFS_LOCALE">
                    <xsd:documentation>The unit of measure in which weights need to be displayed in an application.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
