Data/xapidocs/api_javadocs/XSD/YCP_getQueryTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getQueryTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getQueryTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getQueryTypeList_output.xsd" yfc:rootElement="QueryTypeList">
        <xsd:appinfo source="yfc:structure">
            <QueryTypeList>
                <StringQueryTypes>
                    <QueryType hasAttributes="Y"/>
                </StringQueryTypes>
                <NumericQueryTypes>
                    <QueryType hasAttributes="Y"/>
                </NumericQueryTypes>
                <DateQueryTypes>
                    <QueryType hasAttributes="Y"/>
                </DateQueryTypes>
            </QueryTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QueryTypeList" type="yfc:QueryTypeListXSDType"/>
    <xsd:complexType name="QueryTypeListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StringQueryTypes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NumericQueryTypes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DateQueryTypes"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="StringQueryTypes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="QueryType">
                    <xsd:complexType>
                        <xsd:attribute name="QueryType"
                            type="yfctype:StringQryType" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Query Type for String fields.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="QueryTypeDesc"
                            type="yfctype:Text-100" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Description for the query type</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NumericQueryTypes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="QueryType">
                    <xsd:complexType>
                        <xsd:attribute name="QueryType"
                            type="yfctype:NumberQryType" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Query Type for Numeric fields.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="QueryTypeDesc"
                            type="yfctype:Text-100" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Description for the query type</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DateQueryTypes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="QueryType">
                    <xsd:complexType>
                        <xsd:attribute name="QueryType"
                            type="yfctype:NumberQryType" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Query Type for Date fields.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="QueryTypeDesc"
                            type="yfctype:Text-100" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Description for the query type</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
