Data/xapidocs/api_javadocs/XSD/YCP_getApplicationVersionDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getApplicationVersionDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getApplicationVersionDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getApplicationVersionDetails_input.xsd" yfc:rootElement="ApplicationVersion">
        <xsd:appinfo source="yfc:structure">
            <ApplicationVersion hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ApplicationVersion" type="yfc:ApplicationVersionXSDType">
        <xsd:annotation yfc:tableName="PLT_APPLICATION_VERSION">
            <xsd:documentation>
                <div>
		To identify the <code>ApplicationVersion</code>, pass either <code>ApplicationVersionKey</code> or <code>ApplicationVersion</code> and <code>ApplicationCode</code>.
		If a record is not found in the <code>PLT_APPLICATION_VERSION</code> table, then <code>SI_VERSION</code> will be checked.
		</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ApplicationVersionXSDType">
        <xsd:attribute name="ApplicationCode"
            type="yfctype:ApplicationCode" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="PLT_APPLICATION_VERSION">
                <xsd:documentation>Code to identify an application</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationVersion"
            type="yfctype:ApplicationVersion" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_VERSION" yfc:tableName="PLT_APPLICATION_VERSION">
                <xsd:documentation>Application version identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationVersionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_VERSION_KEY" yfc:tableName="PLT_APPLICATION_VERSION">
                <xsd:documentation>Primary key attribute of PLT_APPLICATION_VERSION.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
