Data/xapidocs/api_javadocs/XSD/YCP_getPrinter_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPrinter/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPrinter/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPrinter_input.xsd" yfc:rootElement="GetPrinter">
        <xsd:appinfo source="yfc:structure">
            <GetPrinter hasAttributes="Y">
                <PrinterPreference hasAttributes="Y"/>
            </GetPrinter>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetPrinter" type="yfc:GetPrinterXSDType"/>
    <xsd:complexType name="GetPrinterXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PrinterPreference"/>
        </xsd:all>
        <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>
                    <div>
					The Document to print.
						<Validation>
                            <Condition>
                                <code>PrintDocumentId</code> should be a valid document.
							</Condition>
                            <Error
                                Description="Invalid Print Document Identifier." ErrorCode="YCP0185"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PrinterPreference">
        <xsd:annotation yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
            <xsd:documentation>This entity defines the printers to be used for different documents based on attributes such as User, UserGroup etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>
                        <div>
						The Organization for which the printer has to be determined.
						<Validation>
                                <Condition>One of <code>PrinterId</code> or <code>OrganizationCode</code> needs to be passed.<code>OrganizationCode</code> should be a valid Organization.
							</Condition>
                                <Error
                                    Description="Invalid Organization Code." ErrorCode="YCP0040"/>
                                <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrinterId" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Unique identifier of Printer.
							<Validation>
                                <Condition>One of <code>PrinterId</code> or <code>OrganizationCode</code> needs to be passed. If specified <code>PrinterId</code> should be an existing printer that is capable of printing the specified document.
								</Condition>
                                <Error
                                    Description="Invalid device ID for the printer." ErrorCode="YCP0176"/>
                                <Error
                                    Description="The printer is not configured to print the specified document." ErrorCode="YCP0177"/>
                                <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                    <xsd:documentation>Unique key of YFS_USER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                    <xsd:documentation>Unique key of YFS_USER_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkStationId"
                type="yfctype:EquipmentId" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_ID" yfc:tableName="YFS_EQUIPMENT">
                    <xsd:documentation>The Work Station with which the printer is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
