Data/xapidocs/api_javadocs/XSD/YCP_getDBPoolList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDBPoolList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDBPoolList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDBPoolList_input.xsd" yfc:rootElement="DBPool">
        <xsd:appinfo source="yfc:structure">
            <DBPool hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DBPool" type="yfc:DBPoolXSDType">
        <xsd:annotation yfc:tableName="PLT_DB_POOL">
            <xsd:documentation>This table stores database shard connection information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DBPoolXSDType">
        <xsd:attribute name="GetPasswords" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag to control output of password-related parameters</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Boolean">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PoolId" type="yfctype:DatabasePoolId" use="optional">
            <xsd:annotation yfc:columnName="POOL_ID" yfc:tableName="PLT_DB_POOL">
                <xsd:documentation>
                    <div>Return data only for a specific shard id</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
