Data/xapidocs/api_javadocs/XSD/YCP_getNegotiationList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNegotiationList_input.xsd" yfc:rootElement="Negotiation">
        <xsd:appinfo source="yfc:structure">
            <Negotiation hasAttributes="Y">
                <NegotiationLine hasAttributes="Y"/>
            </Negotiation>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Negotiation" type="yfc:NegotiationXSDType">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_HDR">
            <xsd:documentation>Primary negotiation table. This table stores all order negotiations in the system. There can be zero or many negotations for an order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NegotiationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NegotiationLine"/>
        </xsd:all>
        <xsd:attribute name="ApplicationAction" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_ACTION" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationReference"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_REFERENCE" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Order number of the order for this negotiation is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Document type of the order for this negotiation is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Enterprise of the order for which this negotiation is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>This is FOB of order. This can be configured as a negotiable attribute in yfs_negotiable_hdr_attr table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromDocumentNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="FromNegotiationExpirationDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromNegotiationHeaderKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromNegotiationNo"
            type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="HeaderEntity" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="HEADER_ENTITY" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>This is base document type of negotiation. Currently, it can have value ORDER only.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HeaderEntityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="HEADER_ENTITY_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Primary key of the order for which this negotiation is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HeaderTermsNegotiated" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HEADER_TERMS_NEGOTIATED" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Flag to indicated if all negotiation on all header level terms is completed or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InitiatorOrgCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="INITIATOR_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>This is order's buyer's organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies the Maximum Number of records to be returned. Default is 500.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NegotiationExpirationDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="NEGOTIATION_EXPIRATION_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Date when negotiation expires. No logic is built on this. But, negotiation monitor can be configured to raise alerts on this.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NegotiationExpirationDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="NegotiationHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Primary key. Always system generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NegotiationHeaderKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="NegotiationNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="NEGOTIATION_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Part of unique key of negotiation. Enterprise code and negotiation number together uniquely identify a negotiation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NegotiationNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="NegotiatorOrgCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="NEGOTIATOR_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>This is order's seller organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentTerms" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>This is terms_code of order. This can be configured as a negotiable attribute in yfs_negotiable_hdr_attr table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReadFromHistory" type="yfctype:Text-1" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                    Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values:
                    <br/>
                        <b>
                            <code>N</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_NEGOTIATION_HDR table.
                    <br/>
                        <b>
                            <code>Y</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_NEGOTIATION_HDR_H table (the history table).
                    <br/>
                        <b>
                            <code>B</code>
                        </b> - Returns records that satisfy the input criteria from both YFS_NEGOTIATION_HDR and YFS_NEGOTIATION_HDR_H tables. Records returned from the current table are first in the output.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>This is deprecated in version 5.0.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Status of this negotiation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToDocumentNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="ToNegotiationExpirationDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToNegotiationHeaderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToNegotiationNo" type="yfctype:DocumentNo" use="optional"/>
    </xsd:complexType>
    <xsd:element name="NegotiationLine">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_LINE">
            <xsd:documentation>This table stores line information of a negotiation. One negotiation line is created for each order line of the negotiation's order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_ACTION" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Action to be performed on the order if negotiated quantity is less than the original quanitity. Currently, only CANCEL is supported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_REFERENCE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is request delivery date of the order line. Depending on the order driver date, either delivery_date or ship_date is negotiable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is FOB on order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromDeliveryDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Search negotiations with lines having delivery date after this date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromItemID" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="FromPrice" type="yfctype:UnitPrice" use="optional"/>
            <xsd:attribute name="FromShipDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>The unique identifier for Items of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LineEntity" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LINE_ENTITY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Currently can have value ORDER_LINE only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LINE_ENTITY_KEY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Primary key of the order line to which this negotiation line corresponds too.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTermsNegotiated"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="LINE_TERMS_NEGOTIATED" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Flag to identify if negotiation on all line level attributes for this line is completed or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="PRICE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Price on the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Prime_line_no of the order line to which this negotiation line corresponds to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Product_class of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is request ship date of the order line. Depending on the order driver date, either delivery_date or ship_date is negotiable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Sub_line_no of the order line to which this negotiation line corresponds to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToDeliveryDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Search negotiations with lines having delivery date before this date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToItemID" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="ToPrice" type="yfctype:UnitPrice" use="optional"/>
            <xsd:attribute name="ToShipDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>UOM of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
