Data/xapidocs/api_javadocs/XSD/YCP_getPasswordRuleCfgDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleCfgDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleCfgDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getPasswordRuleCfgDetails_input.xsd" yfc:rootElement="PasswordRuleCfg">
        <xsd:appinfo source="yfc:structure">
            <PasswordRuleCfg hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordRuleCfg" type="yfc:PasswordRuleCfgXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_CFG">
            <xsd:documentation>
                <div>
		To identify the <code>PasswordRuleCfg</code>, pass either <code>PasswordRuleCfgKey</code> or a combination of 
		<code>PasswordPolicyKey</code> and <code>PasswordRuleDefnKey</code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PasswordRuleCfgXSDType">
        <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordRuleCfgKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_RULE_CFG_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                <xsd:documentation>Primary key attribute of PLT_PWD_RULE_CFG.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
