Data/xapidocs/api_javadocs/XSD/YCP_getOrgRelationshipTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getOrgRelationshipTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getOrgRelationshipTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getOrgRelationshipTypeList_output.xsd" yfc:rootElement="OrgRelationshipTypes">
        <xsd:appinfo source="yfc:structure">
            <OrgRelationshipTypes hasAttributes="Y">
                <OrgRelationshipType hasAttributes="Y"/>
            </OrgRelationshipTypes>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrgRelationshipTypes" type="yfc:OrgRelationshipTypesXSDType"/>
    <xsd:complexType name="OrgRelationshipTypesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrgRelationshipType"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords"
            type="yfctype:MaxRecordCount" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total Number Of Records returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrgRelationshipType">
        <xsd:annotation yfc:tableName="YFS_ORG_RELATIONSHIP_TYPE">
            <xsd:documentation>This table contains relationship types that can exist between the nodes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrgRelationshipTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ORG_RELATIONSHIP_TYPE_KEY" yfc:tableName="YFS_ORG_RELATIONSHIP_TYPE">
                    <xsd:documentation>The primary key for the YFS_ORG_RELATIONSHIP_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipTypeDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation
                    yfc:columnName="RELATIONSHIP_TYPE_DESCRIPTION" yfc:tableName="YFS_ORG_RELATIONSHIP_TYPE">
                    <xsd:documentation>The Relationship Type Description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipTypeFromName"
                type="yfctype:FromName" use="optional">
                <xsd:annotation
                    yfc:columnName="RELATIONSHIP_TYPE_FROM_NAME" yfc:tableName="YFS_ORG_RELATIONSHIP_TYPE">
                    <xsd:documentation>This name will be used in sourcing templates, when 'From' direction is displayed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipTypeID"
                type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE_ID" yfc:tableName="YFS_ORG_RELATIONSHIP_TYPE">
                    <xsd:documentation>The unique identifier for the organization relationship type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipTypeToName"
                type="yfctype:ToName" use="optional">
                <xsd:annotation
                    yfc:columnName="RELATIONSHIP_TYPE_TO_NAME" yfc:tableName="YFS_ORG_RELATIONSHIP_TYPE">
                    <xsd:documentation>This name will be used in sourcing templates, when 'To' direction is displayed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
