Data/xapidocs/api_javadocs/XSD/YCP_getPaymentRuleList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPaymentRuleList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPaymentRuleList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPaymentRuleList_input.xsd" yfc:rootElement="PaymentRule">
        <xsd:appinfo source="yfc:structure">
            <PaymentRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentRule" type="yfc:PaymentRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_PAYMENT_RULE">
            <xsd:documentation>This table stores all payment rules used by various organizations in the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PaymentRuleXSDType">
        <xsd:attribute name="AuthRequiredBeforeSchedule"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="AUTH_REQUIRED_BEFORE_SCHEDULE" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>This flag enables or disables the requirement of acquiring an authorization before scheduling an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="CollectExternalThroughAr"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="COLLECT_EXTERNAL_THROUGH_AR" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>This flag indicates whether the collection is done externally through account receivable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerAccountMaintainedInternally"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ACCOUNT_MAINTAINED" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>This flag indicates if customer accounts spending limit is established and are maintained internally. The default value is N which means customer accounts are not setup.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DefaultFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_FLAG" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>This flag indicates whether a payment rule is the default rule for an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>Description of the Payment Rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FinancialHandlingRequired"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FINANCIAL_HANDLING_REQUIRED" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>This flag indicates whether financial handling is required.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnorePaymentStatusForPurge"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IGNORE_STATUS_FOR_PURGE" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>If Y, allows the order to be purged regardless of the PaymentStatus on the order.  This flag is only read by the purge agent if Settlement is not required.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InterfaceTime"
            type="yfctype:EnumInterfaceTime" use="optional">
            <xsd:annotation yfc:columnName="INTERFACE_TIME" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>This field indicates when the invoice will be published.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MerchantId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="MERCHANT_ID" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>The merchant identifier used for the collection.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>The organization that is associated with this payment rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentRuleId" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_RULE_ID" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>The unique identifier for the payment rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_RULE_KEY" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>The primary key for the YFS_PAYMENT_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PostponeReauthorization"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="POSTPONE_REAUTHORIZATION" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>This flag enables delaying re-authorization by a number of hours, configured separately for product and service lines.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReauthHoursBeforeAppointment"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation yfc:columnName="REAUTH_HOURS_BEFORE_APPT" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>The number of hours before the Promised Appointment Start Date to begin acquiring authorizations again for Service lines.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReauthHoursBeforeRelease"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation yfc:columnName="REAUTH_HOURS_BEFORE_RELEASE" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>The number of hours before the release date to begin acquiring authorizations again for Product lines.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute
            name="UseChargeTransactionRequestsForAuthorization"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EXTERNALLY_REQUESTED_AUTH" yfc:tableName="YFS_PAYMENT_RULE">
                <xsd:documentation>Identifier which prevents the normal authorization logic and bases auths on YFS_CHARGE_TRAN_REQUESTs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
