Data/xapidocs/api_javadocs/XSD/YCP_getOrgGroupOverrideList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getOrgGroupOverrideList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getOrgGroupOverrideList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getOrgGroupOverrideList_output.xsd" yfc:rootElement="OrgGroupOverrideList">
        <xsd:appinfo source="yfc:structure">
            <OrgGroupOverrideList>
                <OrgGroupOverride hasAttributes="Y"/>
            </OrgGroupOverrideList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrgGroupOverrideList" type="yfc:OrgGroupOverrideListXSDType"/>
    <xsd:complexType name="OrgGroupOverrideListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrgGroupOverride"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OrgGroupOverride">
        <xsd:annotation yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
            <xsd:documentation>Stores ownership information for an organization at the group level</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
                    <xsd:documentation>Type of document this process is used for</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupName" type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="GROUP_NAME" yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
                    <xsd:documentation>Group Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
                    <xsd:documentation>Business key or unique identifier for a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORG_GROUP_OVERRIDE">
                    <xsd:documentation>Organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
