Data/xapidocs/api_javadocs/XSD/YCP_getConfigVersionLabelList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getConfigVersionLabelList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getConfigVersionLabelList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getConfigVersionLabelList_input.xsd" yfc:rootElement="ConfigVersionLabel">
        <xsd:appinfo source="yfc:structure">
            <ConfigVersionLabel hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ConfigVersionLabel" type="yfc:ConfigVersionLabelXSDType">
        <xsd:annotation yfc:tableName="YFS_CONFIG_VERSION_LABEL">
            <xsd:documentation>This table stores information on version labels of configuration data.  A version label represents a timestamp in a timeline when changes occur in configuration data.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ConfigVersionLabelXSDType">
        <xsd:attribute name="ConfigVersionLabelKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_VERSION_LABEL_KEY" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>Primary key attribute of YFS_CONFIG_VERSION_LABEL.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>The description of the label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LabelID" type="yfctype:VersionLabelID" use="optional">
            <xsd:annotation yfc:columnName="LABEL_ID" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>The unique identifier for the label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>The organization code of the organization that maintains this config version label information.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Timestamp" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="TIME_STAMP" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>The timestamp that the label represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
