Data/xapidocs/api_javadocs/XSD/YCP_getHoldTypeDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getHoldTypeDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getHoldTypeDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getHoldTypeDetails_input.xsd" yfc:rootElement="HoldType">
        <xsd:appinfo source="yfc:structure">
            <HoldType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="HoldType" type="yfc:HoldTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_HOLD_TYPE">
            <xsd:documentation>
                <div>
	The <code>HoldTypeKey</code>, or  the <code>OrganizationCode</code>, <code>DocumentType</code>  and the <code>HoldType</code> must be passed to identify the <code>Hold Type</code>.
	</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="HoldTypeXSDType">
        <xsd:attribute name="CanResolveOnCancel" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_RESOLVE_ON_CANCEL" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>This field indicates if hold is resolved on cancellation of order,line. Valid value is N or Y. Default value is N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The type of document this process is used for</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldType" type="yfctype:CodeType" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE_KEY" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The primary key attribute of YFS_HOLD_TYPE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The organization defining the hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
