Data/xapidocs/api_javadocs/XSD/YCP_getSupportedTableTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getSupportedTableTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getSupportedTableTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getSupportedTableTypeList_output.xsd" yfc:rootElement="TableTypes">
        <xsd:appinfo source="yfc:structure">
            <TableTypes>
                <TableType hasAttributes="Y"/>
            </TableTypes>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TableTypes" type="yfc:TableTypesXSDType"/>
    <xsd:complexType name="TableTypesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="TableType">
        <xsd:annotation>
            <xsd:documentation>
                <div>List of supported table types that are derived from the entity XMLs.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanShare" use="optional">
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Boolean">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="KeyIdentifiesColony" use="optional">
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Boolean">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Sharing" use="optional">
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:String">
                        <xsd:enumeration value="FORCE"/>
                        <xsd:enumeration value="DEFAULT"/>
                        <xsd:enumeration value="NONE"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="TableType" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Identifier of the table type.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
