Data/xapidocs/api_javadocs/XSD/YCP_getTaskDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTaskDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTaskDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTaskDetails_input.xsd" yfc:rootElement="Task">
        <xsd:appinfo source="yfc:structure">
            <Task hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Task" type="yfc:TaskXSDType">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>This table stores list of all tasks across nodes.  Tasks represent a logical or a physical activity.  Every task must belong to a task type, which identifies the type of activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TASK">
                <xsd:documentation>The ship node's organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="TASK_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
			The ID which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
			<Validation>
                            <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
				</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value does not identify an existing task. 
				</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
			The key which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
			<Validation>
                            <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
				</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value does not identify an existing task. 
				</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
