Data/xapidocs/api_javadocs/XSD/YCP_getOrgExceptionTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getOrgExceptionTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getOrgExceptionTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getOrgExceptionTypeList_output.xsd" yfc:rootElement="OrgExceptionTypeList">
        <xsd:appinfo source="yfc:structure">
            <OrgExceptionTypeList>
                <OrgExceptionType hasAttributes="Y">
                    <ExceptionType hasAttributes="Y"/>
                </OrgExceptionType>
            </OrgExceptionTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrgExceptionTypeList" type="yfc:OrgExceptionTypeListXSDType"/>
    <xsd:complexType name="OrgExceptionTypeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrgExceptionType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OrgExceptionType">
        <xsd:annotation yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
            <xsd:documentation>This table helps us to activate and override additional parameters for an Exception Type at the organization level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ExceptionType"/>
            </xsd:sequence>
            <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                    <xsd:documentation>Flag to indicate if the exception type for this particular organization is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionType"
                type="yfctype:ExceptionType-50" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                    <xsd:documentation>The type of the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                    <xsd:documentation>The unique identifier of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                    <xsd:documentation>Override priority for the organization. Used by the service definition framework alert component.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExceptionType">
        <xsd:annotation yfc:tableName="YFS_EXCEPTION_TYPE">
            <xsd:documentation>This table houses all information about a particular inbox type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ExceptionType"
                type="yfctype:ExceptionType-50" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>The exception type. The grouping associated with an exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionTypeDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation
                    yfc:columnName="EXCEPTION_TYPE_DESCRIPTION" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>A detailed description of the Alert Type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
