Data/xapidocs/api_javadocs/XSD/YCP_changeAvailDateInTaskQueue_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/changeAvailDateInTaskQueue/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/changeAvailDateInTaskQueue/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_changeAvailDateInTaskQueue_input.xsd" yfc:rootElement="ChangeAvailDateInput">
        <xsd:appinfo source="yfc:structure">
            <ChangeAvailDateInput hasAttributes="Y">
                <TaskQueueToChange hasAttributes="Y"/>
            </ChangeAvailDateInput>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeAvailDateInput" type="yfc:ChangeAvailDateInputXSDType"/>
    <xsd:complexType name="ChangeAvailDateInputXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:TaskQueueToChange"/>
        </xsd:all>
        <xsd:attribute name="AvailableDate" type="yfctype:TimeStamp" use="required">
            <xsd:annotation yfc:columnName="AVAILABLE_DATE" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>The date when tasks are ready to be processed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TaskQueueToChange">
        <xsd:annotation yfc:tableName="YFS_TASK_Q">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If <code>TransactionID</code> attribute  is passed and <code>TransactionKey</code> is not passed. <code>TransactionID</code> will be used in identifying the <code>TransactionKey</code> to be used in selecting the Task Queue.  <code>TransactionID</code> must be valid.
					</Condition>
                        <Error Description="Invalid TransactionID." ErrorCode="YCP0068"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>TaskQKey</code> or a combination of <code>TransactionKey</code>, <code>DataKey</code>, and <code>DataType</code> can be used in identifying the Task Queue.  If the attribute or the combination of attributes is not passed.
					</Condition>
                        <Error
                            Description="Missing mandatory parameters." ErrorCode="YFS10364"/>
                    </Validation>
                    <Validation>
                        <Condition>Task Queue does not exist.
					</Condition>
                        <Error Description="Invalid Task Queue." ErrorCode="YCP0188"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AvailableDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="AVAILABLE_DATE" yfc:tableName="YFS_TASK_Q">
                    <xsd:documentation>The date when tasks are ready to be processed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_TASK_Q">
                    <xsd:documentation>The document identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataType"
                type="yfctype:DocumentEntityType" use="optional">
                <xsd:annotation yfc:columnName="DATA_TYPE"
                    yfc:isConditional="Y" yfc:tableName="YFS_TASK_Q">
                    <xsd:documentation>The type of document or entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskQKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TASK_Q_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_TASK_Q">
                    <xsd:documentation>The primary key of the YFS_TASK_Q.table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionID" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:isConditional="Y">
                    <xsd:documentation>
                        <div>
                            <code>TransactionID</code> will be used in identifying the <code>TransactionKey</code> to be used in selecting the Task Queue.  
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_TASK_Q">
                    <xsd:documentation>The transaction that should be activated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
