Data/xapidocs/api_javadocs/XSD/YCP_changeRegion_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/changeRegion/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/changeRegion/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_changeRegion_input.xsd" yfc:rootElement="Region">
        <xsd:appinfo source="yfc:structure">
            <Region hasAttributes="Y">
                <RegionSchema hasAttributes="Y"/>
                <ZipCodeRanges hasAttributes="Y">
                    <ZipCodeRange hasAttributes="Y"/>
                </ZipCodeRanges>
            </Region>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Region" type="yfc:RegionXSDType">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>
                <div>
				This table contains information about the region definition. A region schema key has to be given to indicate the schema to which the region is associated.
					<Validation>
                        <Condition>
						Either <code>RegionKey</code> or {<code>RegionName</code> and <code>ParentRegionKey</code> and <code>RegionSchemaKey</code>} or {<code>RegionName</code> and <code>ParentRegionKey</code> and <code>RegionSchemaName</code> and <code>OrganizationCode</code>} should be passed to identify the region. <code>ParentRegionKey</code> can be blank if no parent region exists for a region. If not passed:
						</Condition>
                        <Error Description="Invalid region passed" ErrorCode="YCP0158"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RegionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:RegionSchema"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZipCodeRanges"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							 Indicates the action that can be perfomed on the region. 
							<br/>Default: <b>MODIFY</b>
                        <br/>Valid Values:
							<br/>
                        <b>DELETE</b>: Deletes a region. No Output XML is generated in this case.
							<br/>
                        <b>MODIFY</b>: Changes a region.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanAggregate" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_AGGREGATE" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
					A flag that indicates whether this region can be a parent of other regions. If <code>CanAggregate</code> is <code>
                            <b>Y</b>,</code> the region cannot have zipcode ranges defined. If <code>CanAggregate</code> is <code>
                            <b>N</b>,</code> this region cannot become the parent of any other region. Any modification to this flag is validated by checking the region's zipcode ranges as well as child regions.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Country" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y"/>
        </xsd:attribute>
        <xsd:attribute name="ParentRegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_REGION_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The parent region associated with this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="REGION_DESCRIPTION"
                yfc:isConditional="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The description of this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The primary key for the YFS_REGION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="REGION_LEVEL_NAME" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
					The Region Level for the region. If <code>RegionLevelName</code> is changed, the API checks for associations of the new level with the parent Region's level and the child Regions' levels.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="REGION_NAME"
                yfc:isConditional="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The unique name of this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServicesEntireCountry" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The flag indicates if this region applies to the entire country.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="RegionSchema">
        <xsd:annotation yfc:tableName="YFS_REGION_SCHEMA">
            <xsd:documentation>
                <div>
				This table contains information about the region schema created for an organization.
					<Validation>
                        <Condition>
						Either <code>RegionSchemaKey</code> or {<code>RegionSchemaName</code> and <code>OrganizationCode</code>} should be passed. If not passed:
						</Condition>
                        <Error Description="Invalid region schema" ErrorCode="YCP0109"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Organization Key for which the region schema is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Primary key attribute of YFS_REGION_SCHEMA table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_NAME"
                    yfc:isConditional="Y" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Unique Name for the region schema.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZipCodeRanges">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ZipCodeRange"/>
            </xsd:sequence>
            <xsd:attribute name="ResetAll" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						If <code>ResetAll</code> is passed as <code>
                                <b>Y</b>,</code> all the current zipcode ranges for the region are deleted.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZipCodeRange">
        <xsd:annotation yfc:tableName="YFS_REGION_DETAIL">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
								The <code>ToZip</code> field must be greater than or equal to the <code>FromZip</code> field. If not:
								</Condition>
                        <Error
                            Description="FromZip cannot be greater than ToZip." ErrorCode="YCP0128"/>
                    </Validation>
                    <Validation>
                        <Condition>
								The length of the <code>ToZip</code> field must be equal to the length of the <code>FromZip</code> field. If not:
								</Condition>
                        <Error Description="Zipcode length mismatch." ErrorCode="YCP0127"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:String" use="optional">
                <xsd:annotation yfc:isConditional="Y">
                    <xsd:documentation>
                        <div>
							If <code>Action</code> is passed with a value of <code>
                                <b>REMOVE</b>,</code> the zipcode range is deleted for the region. If <code>Action</code> is passed as blank or not passed, the zipcode range is created for that region.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY"
                    yfc:isConditional="Y" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>
                        <div>
							The country for which the region is created. 
								<Validation>
                                <Condition>
									If not passed:
									</Condition>
                                <Error Description="Invalid country." ErrorCode="YCP0129"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="FROM_ZIP"
                    yfc:isConditional="Y" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The zip code from which the range starts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="TO_ZIP"
                    yfc:isConditional="Y" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The zip code where the range ends.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
