Data/xapidocs/api_javadocs/XSD/YCP_getScacAndServiceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getScacAndServiceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getScacAndServiceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getScacAndServiceList_output.xsd" yfc:rootElement="ScacAndServiceList">
        <xsd:appinfo source="yfc:structure">
            <ScacAndServiceList>
                <ScacAndService hasAttributes="Y"/>
            </ScacAndServiceList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ScacAndServiceList" type="yfc:ScacAndServiceListXSDType"/>
    <xsd:complexType name="ScacAndServiceListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ScacAndService"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ScacAndService">
        <xsd:annotation yfc:tableName="YFS_SCAC_AND_SERVICE">
            <xsd:documentation>Services offered by a Carrier.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>An identifier to a master service from which this service is derived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_TYPE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Type of Carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>The organization code of organization that defines this service offered by the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndService" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndServiceDesc"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_DESC" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Description of the service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SCAC_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Servicing carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_MODE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Shipment mode serviced PARCEL, TL, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
