Data/xapidocs/api_javadocs/XSD/YCP_getNodeMinimumNotificationTimeUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNodeMinimumNotificationTimeUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNodeMinimumNotificationTimeUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getNodeMinimumNotificationTimeUE_input.xsd" yfc:rootElement="ShipNode">
        <xsd:appinfo source="yfc:structure">
            <ShipNode hasAttributes="Y">
                <NodeNotificationList>
                    <NodeNotification hasAttributes="Y"/>
                </NodeNotificationList>
            </ShipNode>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipNode" type="yfc:ShipNodeXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipNodeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NodeNotificationList"/>
        </xsd:all>
        <xsd:attribute name="MinimumNotificationTime"
            type="yfctype:NumberOfDays" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The number of working hours for regular orders before which the communication to ship the order to the shipping node or supplier should be made. This field is used to determine the earliest ship date on the line. 
                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReference" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The unique identifier for the order. The <code>OrderReference</code> is the Order Header Key.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>
                    <div>
				The unique identifier for the ship node. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NodeNotificationList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NodeNotification"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NodeNotification">
        <xsd:annotation yfc:tableName="YFS_NODE_NOTIFICATION">
            <xsd:documentation>This table stores specific notifications required for a given node notification period. Either NodeNotificationKey or LevelOfService uniquely identifies a NodeNotification.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_NODE_NOTIFICATION">
                    <xsd:documentation>The level of service that this node notification is applicable for.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumNotificationTime"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="MIN_NOTIFICATION_TIME" yfc:tableName="YFS_NODE_NOTIFICATION">
                    <xsd:documentation>The number of hours based on shipping calendar before which the communication to ship the order to the shipping node or supplier should be made. This field is used to determine the earliest ship date on the line. Default: 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
