Data/xapidocs/api_javadocs/XSD/YCP_manageExceptionRoutingRule_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageExceptionRoutingRule/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageExceptionRoutingRule/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageExceptionRoutingRule_output.xsd" yfc:rootElement="ExceptionRoutingRule">
        <xsd:appinfo source="yfc:structure">
            <ExceptionRoutingRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExceptionRoutingRule" type="yfc:ExceptionRoutingRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
            <xsd:documentation>This entity  provides the utility to route alerts appropriately.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ExceptionRoutingRuleXSDType">
        <xsd:attribute name="CustomRole" type="yfctype:Role" use="optional">
            <xsd:annotation yfc:columnName="CUSTOM_ROLE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Attribute defined on the SDF component.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailId" type="yfctype:EMailID" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_ID" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Email id.Valid for routing type 01/02/03.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailReqd" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_REQD" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Y/N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailTemplate" type="yfctype:EmailTemplate" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_TEMPLATE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Template for email.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionRoutingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_ROUTING_RULE_KEY" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Primary key attribute of YFS_EXCEPTION_ROUTING_RULE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionRoutingSeq"
            type="yfctype:ExceptionSequenceNo" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_ROUTING_SEQ" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Exception Sequence Number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-50" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>The Exception Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JavaClass" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="JAVA_CLASS" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>The java class which is used to determine the routing. This field is only used for rounting of type 03.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>The Organization Code</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>The Queue ID to route to. This field is only used for routing type of 02.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingRole" type="yfctype:Role" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_ROLE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>The role for which a routing role is looked for. Value values for his are read from YFS_Role.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingType" type="yfctype:EnumRoutingType" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_TYPE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>The type of routing to be done for an alert.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
