Data/xapidocs/api_javadocs/XSD/YCP_getAgentCriteriaList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getAgentCriteriaList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getAgentCriteriaList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getAgentCriteriaList_output.xsd" yfc:rootElement="AgentCriteriaList">
        <xsd:appinfo source="yfc:structure">
            <AgentCriteriaList>
                <AgentCriteria hasAttributes="Y">
                    <MessageXml/>
                </AgentCriteria>
            </AgentCriteriaList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AgentCriteriaList" type="yfc:AgentCriteriaListXSDType"/>
    <xsd:complexType name="AgentCriteriaListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AgentCriteria"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="AgentCriteria">
        <xsd:annotation yfc:tableName="YFS_AGENT_CRITERIA">
            <xsd:documentation>This table stores the configured criteria attributes for time triggered transactions. The message XML is passed to the agent java class configured for the transaction. This message XML forms the input to the agent to obtain jobs for processing.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MessageXml"/>
            </xsd:all>
            <xsd:attribute name="AgentCriteriaId"
                type="yfctype:AgentCriteriaId" use="optional">
                <xsd:annotation yfc:columnName="AGENT_CRITERIA_ID" yfc:tableName="YFS_AGENT_CRITERIA">
                    <xsd:documentation>The unique identifier of an agent criterion.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MessageXml" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="MESSAGE_XML" yfc:tableName="YFS_AGENT_CRITERIA">
                    <xsd:documentation>A criterion used by an agent for selecting the records to process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_KEY" yfc:tableName="YFS_AGENT_CRITERIA">
                    <xsd:documentation>The transaction key that is associated with this agent criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MessageXml">
        <xsd:annotation>
            <xsd:documentation>This is the same as the data present in the MessageXml attribute of AgentCriteria, and will contain the same child elements and attributes as that XML. It will be returned only if the MessageXml attribute is in the template.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xsd:sequence>
            <xsd:anyAttribute processContents="lax"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
