Data/xapidocs/api_javadocs/XSD/YCP_deleteNodeTransferSchedule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteNodeTransferSchedule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteNodeTransferSchedule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_deleteNodeTransferSchedule_input.xsd" yfc:rootElement="NodeTransferSchedule">
        <xsd:appinfo source="yfc:structure">
            <NodeTransferSchedule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeTransferSchedule" type="yfc:NodeTransferScheduleXSDType">
        <xsd:annotation yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
            <xsd:documentation>This table contains information about Node Transfer Schedule.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeTransferScheduleXSDType">
        <xsd:attribute name="EffectiveFromDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>The first date when the transfer schedule should be considered.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveToDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>The last date when the transfer schedule should be considered.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FROM_NODE" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>From Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeTransferScheduleKey" type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="YFS_NODE_TRANSFER_SCHEDULE_KEY" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Primary key attribute of YFS_NODE_TRANSFER_SCHEDULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TO_NODE" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>To Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
