Data/xapidocs/api_javadocs/XSD/YCP_getNodeTypeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNodeTypeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNodeTypeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNodeTypeList_input.xsd" yfc:rootElement="NodeType">
        <xsd:appinfo source="yfc:structure">
            <NodeType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeType" type="yfc:NodeTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_NODE_TYPE">
            <xsd:documentation>This table contains ship node types.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeTypeXSDType">
        <xsd:attribute name="NodeTypeDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="NODE_TYPE_DESCRIPTION" yfc:tableName="YFS_NODE_TYPE">
                <xsd:documentation>The Node Type Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeTypeID" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="NODE_TYPE_ID" yfc:tableName="YFS_NODE_TYPE">
                <xsd:documentation>The unique identifier for the node type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_TYPE_KEY" yfc:tableName="YFS_NODE_TYPE">
                <xsd:documentation>The primary key for the YFS_NODE_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
