Data/xapidocs/api_javadocs/XSD/YCP_getCalendarDayDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCalendarDayDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCalendarDayDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCalendarDayDetails_output.xsd" yfc:rootElement="Calendar">
        <xsd:appinfo source="yfc:structure">
            <Calendar hasAttributes="Y">
                <InheritFromCalendar hasAttributes="Y"/>
                <Dates>
                    <Date hasAttributes="Y">
                        <Shifts>
                            <Shift hasAttributes="Y"/>
                        </Shifts>
                    </Date>
                </Dates>
            </Calendar>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Calendar" type="yfc:CalendarXSDType">
        <xsd:annotation yfc:tableName="YFS_CALENDAR">
            <xsd:documentation>Stores information related to a Calendar. Calendar can be created for an organization or for a ship node.  Calendar is created by the createCalendar API and managed by changeCalendar API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CalendarXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InheritFromCalendar"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Dates"/>
        </xsd:all>
        <xsd:attribute name="AllowShiftOverride" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ALLOW_SHIFT_OVERRIDE" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Indicates whether shifts are overriden for an inherited Calendar.Valid values are 'Y', 'N' and null. Default value is null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalendarDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_DESCRIPTION" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Description of the Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalendarId" type="yfctype:Identifier" use="required">
            <xsd:annotation yfc:columnName="CALENDAR_ID" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Unique key to identify a Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Primary key attribute of YFS_CALENDAR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Organization which owns the Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InheritFromCalendar">
        <xsd:annotation yfc:tableName="YFS_CALENDAR">
            <xsd:documentation>
                <div>
				The parent calendar for which this calendar inherites its definition from.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CalendarId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_ID" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>
                        <div>
					The <code>CalendarId</code> of the parent calendar.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InheritCalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>
                        <div>
					The <code>CalendarKey</code> of the parent calendar.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CALENDAR">
                    <xsd:documentation>
                        <div>
					The <code>OrganizationCode</code> of the parent calendar.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Dates">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Date"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Date">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shifts"/>
            </xsd:all>
            <xsd:attribute name="Date" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayOfMonth" type="yfctype:DayOfMonth" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the day of the month.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EarliestShiftStartTime"
                type="yfctype:Time" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the earliest shift's start time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsOverridden" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This flag indicates that the day details are overridden based on the exception days and exception shifts of this calendar.  If a calendar inherits its definition from another calendar, the child calendar's exception days and exception shifts will be applied on top of the parent calendar's components.  The <code>IsOverridden</code> will be set to <code>
                            <b>Y</b>
                        </code> for the date that is configured as an exception date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastShiftEndTime" type="yfctype:Time" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the last shift's end time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-1" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Type of the day.  Valid values: 0 for Off Day; 1 for Working Day; 2 for Edited Working Day; 3 for Edited Off Day.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shifts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Shift"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shift">
        <xsd:annotation yfc:tableName="YFS_CALENDAR_SHIFT">
            <xsd:documentation>Stores information related to a Shift. Shifts can be defined for a given effective period. A Shift is created or managed by the createCalendar API or changeCalendar API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShiftEndTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="SHIFT_END_TIME" yfc:tableName="YFS_CALENDAR_SHIFT">
                    <xsd:documentation>Time when the shift ends.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShiftKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_SHIFT_KEY" yfc:tableName="YFS_CALENDAR_SHIFT">
                    <xsd:documentation>Primary key attribute of YFS_CALENDAR_SHIFT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShiftName" type="yfctype:ShiftName" use="optional">
                <xsd:annotation yfc:columnName="SHIFT_NAME" yfc:tableName="YFS_CALENDAR_SHIFT">
                    <xsd:documentation>Name for shift.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShiftStartTime" type="yfctype:Time" use="optional">
                <xsd:annotation yfc:columnName="SHIFT_START_TIME" yfc:tableName="YFS_CALENDAR_SHIFT">
                    <xsd:documentation>Time when the shift starts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShiftType" type="yfctype:ShiftType" use="optional">
                <xsd:annotation yfc:columnName="SHIFT_TYPE" yfc:tableName="YFS_CALENDAR_SHIFT">
                    <xsd:documentation>Future considerations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ValidForDay" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This flag indicates that the shift is valid for the day.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
