Data/xapidocs/api_javadocs/XSD/YCP_manageAttribute_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageAttribute/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageAttribute/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageAttribute_output.xsd" yfc:rootElement="AttributeList">
        <xsd:appinfo source="yfc:structure">
            <AttributeList>
                <Attribute hasAttributes="Y">
                    <AttributeAllowedValueList hasAttributes="Y">
                        <AttributeAllowedValue hasAttributes="Y">
                            <AssetList hasAttributes="Y">
                                <Asset hasAttributes="Y">
                                    <AssetLocaleList hasAttributes="Y">
                                    <AssetLocale hasAttributes="Y"/>
                                    </AssetLocaleList>
                                </Asset>
                            </AssetList>
                            <AttrAllowValLocaleList hasAttributes="Y">
                                <AttrAllowValLocale hasAttributes="Y"/>
                            </AttrAllowValLocaleList>
                        </AttributeAllowedValue>
                    </AttributeAllowedValueList>
                    <DerivedFromAttribute hasAttributes="Y"/>
                    <AttributeReference hasAttributes="Y"/>
                    <AssetList hasAttributes="Y">
                        <Asset hasAttributes="Y">
                            <AssetLocaleList hasAttributes="Y">
                                <AssetLocale hasAttributes="Y"/>
                            </AssetLocaleList>
                        </Asset>
                    </AssetList>
                    <AttributeLocaleList hasAttributes="Y">
                        <AttributeLocale hasAttributes="Y"/>
                    </AttributeLocaleList>
                </Attribute>
            </AttributeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AttributeList" type="yfc:AttributeListXSDType"/>
    <xsd:complexType name="AttributeListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Attribute"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttributeAllowedValueList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DerivedFromAttribute"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttributeReference"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="AssetList">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Asset">
                                <xsd:annotation yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>This table stores Asset information such as images, audio, datasheets, video, and URLs. Assets can be used to further describe Items, Categories, Attributes, and Attribute Allowed Values.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="AssetLocaleList">
                                    <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AssetLocale">
                                    <xsd:annotation yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>This table is used to store localized information for the related asset in different locales.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="AssetKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The reference key to the YFS_ASSET table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AssetLocaleKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ASSET_LOCALE_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The primary key of the YFS_ASSET_LOCALE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ContentID"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ContentLocation"
                                    type="yfctype:URL" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>External location of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Country"
                                    type="yfctype:Country" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="COUNTRY" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Description"
                                    type="yfctype:Text-500" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>Description of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Label"
                                    type="yfctype:Text-200" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="LABEL" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>Label of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Language"
                                    type="yfctype:Text-10" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="LANGUAGE" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Variant"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="VARIANT" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="TotalNumberOfRecords"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The total number of <code>AssetLocales</code>.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="AssetID"
                                    type="yfctype:ID-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ASSET_ID" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>The unique identifier for the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AssetKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Primary key attribute of YFS_ASSET.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContentID"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ContentLocation"
                                    type="yfctype:URL" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>External location of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContentSize"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTENT_SIZE" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Size of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-500" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Description of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Label"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LABEL" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Label of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Type"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TYPE" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Type of asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="TotalNumberOfRecords"
                            type="yfctype:Count" use="optional"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttributeLocaleList"/>
            </xsd:all>
            <xsd:attribute name="AllowMultipleValues"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOW_MULTIPLE_VALUES" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether multiple values are allowed to be assigned for this attribute. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedValueLength" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_VALUE_LENGTH" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The maximum length allowed for a value of Data Type = 'TEXT'. If not passed, the maximum length allowed is 200.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:MaxRecordCount"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributePostFix"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_POST_FIX" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The post fix to be applied to the value of this attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataType"
                type="yfctype:EnumAttributeDataType" use="optional">
                <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The data type allowed for the value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DerivedFromAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DERIVED_FROM_ATTR_KEY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The primary key of the attribute record from which this attribute is derived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedValueDefined"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ALLOWED_VALUE_DEFINED" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether a set of allowed values are defined for this attribute. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsValueMandatory" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_VALUE_MANDATORY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether this attribute requires a mandatory selection of value when assigned to an item. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The detailed description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The organization that maintains the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The sequence of this attribute within the attribute group.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The short description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeAllowedValueList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AttributeAllowedValue"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total number of <code>AttributeAllowedValues</code>.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeAllowedValue">
        <xsd:annotation yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
            <xsd:documentation>This table stores allowed values of attribute definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="AssetList">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Asset">
                                <xsd:annotation yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>This table stores Asset information such as images, audio, datasheets, video, and URLs. Assets can be used to further describe Items, Categories, Attributes, and Attribute Allowed Values.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="AssetLocaleList">
                                    <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AssetLocale">
                                    <xsd:annotation yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>This table is used to store localized information for the related asset in different locales.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="AssetKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The reference key to the YFS_ASSET table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AssetLocaleKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ASSET_LOCALE_KEY" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The primary key of the YFS_ASSET_LOCALE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ContentID"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ContentLocation"
                                    type="yfctype:URL" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>External location of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Country"
                                    type="yfctype:Country" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="COUNTRY" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Description"
                                    type="yfctype:Text-500" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>Description of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Label"
                                    type="yfctype:Text-200" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="LABEL" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>Label of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Language"
                                    type="yfctype:Text-10" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="LANGUAGE" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Variant"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="VARIANT" yfc:tableName="YFS_ASSET_LOCALE">
                                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="TotalNumberOfRecords"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The total number of <code>AssetLocales</code>.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="AssetID"
                                    type="yfctype:ID-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ASSET_ID" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>The unique identifier for the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AssetKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ASSET_KEY" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Primary key attribute of YFS_ASSET.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContentID"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTENT_ID" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Unique ID of the asset in the external location.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ContentLocation"
                                    type="yfctype:URL" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTENT_LOCATION" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>External location of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContentSize"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTENT_SIZE" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Size of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-500" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Description of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Label"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LABEL" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Label of the asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Type"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TYPE" yfc:tableName="YFS_ASSET">
                                    <xsd:documentation>Type of asset.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="TotalNumberOfRecords"
                            type="yfctype:Count" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>The total number of <code>Assets</code>.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttrAllowValLocaleList"/>
            </xsd:all>
            <xsd:attribute name="AttributeAllowedValueKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTR_ALLOWED_VALUE_KEY" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The primary key for the YFS_ATTR_ALLOWED_VALUE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The attribute that the allowed value belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDefaultValue" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DEFAULT_VALUE" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>This flag indicates whether this value is the default value of the attribute. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The detailed description of the  allowed value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumericStep" use="optional">
                <xsd:annotation yfc:columnName="NUMERIC_STEP" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The incremental step of the allowed value within the numeric value range. For instance, if the numeric value range is from 0 to 100 and the numeric step is 5, the allowed values are 0, 5, 10, 15, 20, 25, etc.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The sequence of the allowed value within the attribute definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The short description of the  allowed value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ATTR_ALLOWED_VALUE">
                    <xsd:documentation>The allowed value of the attribute that a user is entitled to assign. For an attribute of Numeric or Decimal Datatype, this value may be a list of values and/or a range of values. Each value in the list may be separated by a ';'. A range must be specified by two values separated by a '-'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttrAllowValLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttrAllowValLocale"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total number of <code>AttrAllowValLocales</code>.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttrAllowValLocale">
        <xsd:annotation yfc:tableName="YFS_ATTR_ALLOW_VAL_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related attribute allowed value in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttrAllowValLocaleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ATTR_ALLOW_VAL_LOCALE_KEY" yfc:tableName="YFS_ATTR_ALLOW_VAL_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ATTR_ALLOW_VAL_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttrAllowedValueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTR_ALLOWED_VALUE_KEY" yfc:tableName="YFS_ATTR_ALLOW_VAL_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ATTR_ALLOWED_VALUE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ATTR_ALLOW_VAL_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ATTR_ALLOW_VAL_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTR_ALLOW_VAL_LOCALE">
                    <xsd:documentation>The detailed description of the  allowed value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTR_ALLOW_VAL_LOCALE">
                    <xsd:documentation>The short description of the  allowed value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ATTR_ALLOW_VAL_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DerivedFromAttribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The organization that maintains the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeReference">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
            <xsd:documentation>This table stores references of predefined attribute definition to fields of YFS_ITEM or item alias name.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
                    <xsd:documentation>The attribute that this reference field is assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeReferenceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_REFERENCE_KEY" yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
                    <xsd:documentation>The primary key attribute of YFS_ATTRIBUTE_REFERENCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_NAME" yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
                    <xsd:documentation>The reference name that the predefined attribute represents. If the tablename is 'YFS_ITEM', then this field contains the XML name of the field that the attribute represents. If the tablename is 'YFS_ITEM_ALIAS', then this field contains the item alias name that the attribute represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_ATTRIBUTE_REFERENCE">
                    <xsd:documentation>The name of the database table that contains the field assigned to a predefined attribute definition. Valid values : 'YFS_ITEM' or 'YFS_ITEM_ALIAS'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttributeLocale"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The total number of <code>AttributeLocales</code>.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeLocale">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related attribute in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTRIBUTE_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeLocaleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_LOCALE_KEY" yfc:tableName="YFS_ATTRIBUTE_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ATTRIBUTE_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ATTRIBUTE_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ATTRIBUTE_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE_LOCALE">
                    <xsd:documentation>The detailed description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE_LOCALE">
                    <xsd:documentation>The short description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ATTRIBUTE_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
