Data/xapidocs/api_javadocs/XSD/YCP_getNegotiationHistory_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationHistory/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationHistory/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNegotiationHistory_input.xsd" yfc:rootElement="Negotiation">
        <xsd:appinfo source="yfc:structure">
            <Negotiation hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Negotiation" type="yfc:NegotiationXSDType">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_HDR">
            <xsd:documentation>Primary negotiation table. This table stores all order negotiations in the system. There can be zero or many negotations for an order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NegotiationXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Enterprise of the order for which this negotiation is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NegotiationNo" type="yfctype:DocumentNo" use="required">
            <xsd:annotation yfc:columnName="NEGOTIATION_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Part of unique key of negotiation. Enterprise code and negotiation number together uniquely identify a negotiation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResponseNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RESPONSE_NO" yfc:tableName="YFS_RESPONSE">
                <xsd:documentation>A system generated one up number. Unique within a negotiation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
