Data/xapidocs/api_javadocs/XSD/YCP_getActivityConfigMetadataDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getActivityConfigMetadataDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getActivityConfigMetadataDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getActivityConfigMetadataDetails_input.xsd" yfc:rootElement="ActivityConfigMetadata">
        <xsd:appinfo source="yfc:structure">
            <ActivityConfigMetadata hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ActivityConfigMetadata" type="yfc:ActivityConfigMetadataXSDType">
        <xsd:annotation yfc:tableName="PLT_ACTIVITY_CONFIG_METADATA">
            <xsd:documentation>This table contains metadata information for activity events configuration.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ActivityConfigMetadataXSDType">
        <xsd:attribute name="ActivityConfigMetadataKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="ACTIVITY_CONFIG_METADATA_KEY" yfc:tableName="PLT_ACTIVITY_CONFIG_METADATA">
                <xsd:documentation>The primary key of the PLT_ACTIVITY_CONFIG_METADATA table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
