Data/xapidocs/api_javadocs/XSD/YCP_getTaskTypeDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTaskTypeDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTaskTypeDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTaskTypeDetails_input.xsd" yfc:rootElement="TaskType">
        <xsd:appinfo source="yfc:structure">
            <TaskType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TaskType" type="yfc:TaskTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_TASK_TYPE">
            <xsd:documentation>This table stores different types of tasks performed in a warehouse.  Different task types typically represent tasks that are physically different.  For instance, paper based putaway as opposed to RF based putaway.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskTypeXSDType">
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:isConditional="Y">
                <xsd:documentation>
                    <div>
				If <code>TaskType</code> is  passed, either <code>Node</code> or <code>OrganizationCode</code> must be passed. If both <code>Node</code> and <code>OrganizationCode</code> are passed, <code>Node</code> is used. 
				<Validation>
                            <Condition>
                                <code>Node</code> passed does not exist in YFS_SHIP_NODE table.
					</Condition>
                            <Error Description="YFS:Invalid Ship Node" ErrorCode="YFS10048"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_TASK_TYPE">
                <xsd:documentation>
                    <div>
				If <code>TaskType</code> is  passed, either <code>Node</code> or <code>OrganizationCode</code> must be passed. If both <code>Node</code> and <code>OrganizationCode</code> are passed, <code>Node</code> is used. 
				<Validation>
                            <Condition>
                                <code>OrganizationCode</code> passed does not exist in the YFS_ORGANIZATION table.
					</Condition>
                            <Error
                                Description="YFS:Invalid organization code" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE"
                yfc:isConditional="Y" yfc:tableName="YFS_TASK_TYPE">
                <xsd:documentation>
                    <div>
				Pass either <code>TaskTypeKey</code> or <code>TaskType</code> to specify the task type.
				<Validation>
                            <Condition>
                                <code>TaskTypeKey</code> not found in YFS_TASK_TYPE table
					</Condition>
                            <Error Description="No record found." ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_TASK_TYPE">
                <xsd:documentation>
                    <div>
				Pass either <code>TaskTypeKey</code> or <code>TaskType</code> to specify the task type.
				<Validation>
                            <Condition>
                                <code>TaskTypeKey</code> not found in YFS_TASK_TYPE table
					</Condition>
                            <Error Description="No record found." ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
