Data/xapidocs/api_javadocs/XSD/YCP_getExceptionTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getExceptionTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getExceptionTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getExceptionTypeList_output.xsd" yfc:rootElement="ExceptionTypeList">
        <xsd:appinfo source="yfc:structure">
            <ExceptionTypeList>
                <ExceptionType hasAttributes="Y"/>
            </ExceptionTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExceptionTypeList" type="yfc:ExceptionTypeListXSDType"/>
    <xsd:complexType name="ExceptionTypeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ExceptionType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ExceptionType">
        <xsd:annotation yfc:tableName="YFS_EXCEPTION_TYPE">
            <xsd:documentation>This table houses all information about a particular inbox type</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConfigForm" type="yfctype:Form-255" use="optional">
                <xsd:annotation yfc:columnName="CONFIG_FORM" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>This is a Configuation Form. Additional SCV attributes are maintained in a separate form. This field lets PCAs configure a separate config form.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsolidationHook"
                type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="CONSOLIDATION_HOOK" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Consolidation hook implementation class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsolidationRequired"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CONSOLIDATION_REQUIRED" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Specifies if consolidation is required for this exception type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsolidationWindow"
                type="yfctype:EnumConsolidationWindow" use="optional">
                <xsd:annotation yfc:columnName="CONSOLIDATION_WINDOW" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>The consolidation window to be used for consolidation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionType"
                type="yfctype:ExceptionType-50" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>The exception type. The grouping associated with an exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionTypeDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation
                    yfc:columnName="EXCEPTION_TYPE_DESCRIPTION" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>A detailed description of the Alert Type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE_KEY" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_EXCEPTION_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDays"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DAYS" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>The number of days in which this alert will expire</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FollowUpHours"
                type="yfctype:ExecutionDuration" use="optional">
                <xsd:annotation yfc:columnName="FOLLOW_UP_HOURS" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>The number of hours in which alerts of this type should be followed up in</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HighPriorityThreshold"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HIGH_PRIORITY_THRESHOLD" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Any exception with priority higher than this number is considered high.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsConfigurable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CONFIGURABLE" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Only certain exception type have additional configuration (maintained by SCV config). This field indicates if this exception type supports additional configuration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListForm" type="yfctype:Form-255" use="optional">
                <xsd:annotation yfc:columnName="LIST_FORM" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>List form for listing the exceptions for an exception type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>The Organization to which this exception type belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerRoleId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="OWNER_ROLE_ID" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>The Role of the owner</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Priority for alerts of this type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueId" type="yfctype:AlertQueueId" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>The queue id into which alerts of this type will be put if not specified in the creation of the alert</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueOwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_OWNER_KEY" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Owner key of the queue assigned</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolutionForm" type="yfctype:Form-255" use="optional">
                <xsd:annotation yfc:columnName="RESOLUTION_FORM" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Contains information about the form to be launched to resolve this type of error</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolutionHook"
                type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="RESOLUTION_HOOK" yfc:tableName="YFS_EXCEPTION_TYPE">
                    <xsd:documentation>Resolution hook implementation class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
