Data/xapidocs/api_javadocs/XSD/YCP_getAttributeGroupDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getAttributeGroupDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getAttributeGroupDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getAttributeGroupDetails_input.xsd" yfc:rootElement="AttributeGroup">
        <xsd:appinfo source="yfc:structure">
            <AttributeGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AttributeGroup" type="yfc:AttributeGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE_GROUP">
            <xsd:documentation>
                <div>Either <code>AttributeGroupKey</code> or a combination of 
    			<code>AttributeDomainID</code>, <code>AttributeGroupID</code> and <code>OrganizationCode</code> uniquely identify an <code>AttributeGroup</code>.
	    		<Validation>
                        <Condition>
                            <code>AttributeGroup</code> could not be found.</Condition>
                        <Error Description="No record found." ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AttributeGroupXSDType">
        <xsd:attribute name="AttributeDomainID" type="yfctype:GroupName" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ATTRIBUTE_GROUP">
                <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttributeGroupID" type="yfctype:GroupName" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ATTRIBUTE_GROUP">
                <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttributeGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_KEY" yfc:tableName="YFS_ATTRIBUTE_GROUP">
                <xsd:documentation>The primary key for the YFS_ATTRIBUTE_GROUP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayLocalizedFieldInLocale"
            type="yfctype:Locale" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The locale for which output should be returned in. Locale should be passed in the standard format of "language_country_variant" (e.g., "fr_FR", "en_US_CA", etc.).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ATTRIBUTE_GROUP">
                <xsd:documentation>The organization that maintains the attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
