Data/xapidocs/api_javadocs/XSD/YCP_getPrintDocumentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPrintDocumentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPrintDocumentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPrintDocumentList_input.xsd" yfc:rootElement="PrintDocument">
        <xsd:appinfo source="yfc:structure">
            <PrintDocument hasAttributes="Y">
                <LabelFormat hasAttributes="Y"/>
            </PrintDocument>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PrintDocument" type="yfc:PrintDocumentXSDType">
        <xsd:annotation yfc:tableName="YFS_PRINT_DOCUMENT">
            <xsd:documentation>This entity contains the definition of all the documents that will be printed using the print-infrastructure along with their descriptions and the default label format to be used for the document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PrintDocumentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LabelFormat"/>
        </xsd:all>
        <xsd:attribute name="DefaultLabelFormatId"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_LABEL_FORMAT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>Default Label format for this document across all organizations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintDocumentDescription"
            type="yfctype:FreeText-200" use="optional">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_DESCRIPTION" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>Description of the Print Document.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>Document identifier, Values like BOL, Shipping Label, Pick List, Pack List etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintDocumentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_KEY" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>Primary key attribute of YFS_PRINT_DOCUMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LabelFormat">
        <xsd:annotation yfc:tableName="YFS_LABEL_FORMAT">
            <xsd:documentation>Stores All the Available Label Formats.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LabelFormatFile"
                type="yfctype:LongFileName" use="optional">
                <xsd:annotation yfc:columnName="LABEL_FORMAT_FILE" yfc:tableName="YFS_LABEL_FORMAT">
                    <xsd:documentation>Name of the label format file.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LabelFormatId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LABEL_FORMAT_ID" yfc:tableName="YFS_LABEL_FORMAT">
                    <xsd:documentation>Label Format Identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MappingXML" type="yfctype:LongFileName" use="optional">
                <xsd:annotation yfc:columnName="MAPPING_XML" yfc:tableName="YFS_LABEL_FORMAT">
                    <xsd:documentation>File Name of the mapping XML for this Label.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
