Data/xapidocs/api_javadocs/XSD/YCP_manageCallOutImpl_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCallOutImpl/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCallOutImpl/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageCallOutImpl_output.xsd" yfc:rootElement="CallOutImpl">
        <xsd:appinfo source="yfc:structure">
            <CallOutImpl hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CallOutImpl" type="yfc:CallOutImplXSDType">
        <xsd:annotation yfc:tableName="PLT_CALLOUT_IMPL">
            <xsd:documentation>This table stores the callout implementation details for all callouts</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CallOutImplXSDType">
        <xsd:attribute name="CallOutId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_ID" yfc:tableName="PLT_CALLOUT_IMPL">
                <xsd:documentation>The primary key of the associated PLT_CALLOUT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutImplKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_IMPL_KEY" yfc:tableName="PLT_CALLOUT_IMPL">
                <xsd:documentation>The primary key of the PLT_CALLOUT_IMPL table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsSuspended" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_SUSPENDED" yfc:tableName="PLT_CALLOUT_IMPL">
                <xsd:documentation>This field is set to Y if the execution of the CallOut implementation has resulted                        in a TimeOut. This could be because of some error-prone code which is resulting in infinite loop                       and not returning the thread. The default value is N. Any character other than Y will be considered as N</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JavaClassName" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="JAVA_CLASS_NAME" yfc:tableName="PLT_CALLOUT_IMPL">
                <xsd:documentation>The java class implementing the CallOut.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="PLT_CALLOUT_IMPL">
                <xsd:documentation>The sequence number for this callout implementation. The default value of this field is 0. If a negative value is passed, this will be set to 0.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitTimeOut" type="yfctype:UnitTimeOut" use="optional">
            <xsd:annotation yfc:columnName="TIMEOUT" yfc:tableName="PLT_CALLOUT_IMPL">
                <xsd:documentation>The timeout for the callout implementation in seconds. The default value of this field is 60000. If the value passed is either 0 or negative, this will be set to the default value</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
