Data/xapidocs/api_javadocs/XSD/YCP_createNegotiation_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createNegotiation/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createNegotiation/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_createNegotiation_input.xsd" yfc:rootElement="Negotiations">
        <xsd:appinfo source="yfc:structure">
            <Negotiations>
                <Negotiation hasAttributes="Y">
                    <AdditionalAttributes>
                        <AdditionalAttribute hasAttributes="Y"/>
                    </AdditionalAttributes>
                    <NegotiationLines>
                        <NegotiationLine hasAttributes="Y">
                            <AdditionalAttributes>
                                <AdditionalAttribute hasAttributes="Y"/>
                            </AdditionalAttributes>
                        </NegotiationLine>
                    </NegotiationLines>
                </Negotiation>
            </Negotiations>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Negotiations" type="yfc:NegotiationsXSDType"/>
    <xsd:complexType name="NegotiationsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Negotiation"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Negotiation">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_HDR">
            <xsd:documentation>Primary negotiation table. This table stores all order negotiations in the system. There can be zero or many negotations for an order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalAttributes">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalAttribute">
                                <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-40" use="required">
                                    <xsd:annotation
                                    yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Value"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NegotiationLines"/>
            </xsd:all>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_ACTION" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_REFERENCE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is request delivery date of the order. This is not used. Deprecated in version 5.0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Order number of the order for this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Document type of the order for this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Enterprise of the order for which this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is FOB of order. This can be configured as a negotiable attribute in yfs_negotiable_hdr_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeaderEntity" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="HEADER_ENTITY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is base document type of negotiation. Currently, it can have value ORDER only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeaderEntityKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="HEADER_ENTITY_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Primary key of the order for which this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeaderTermsNegotiated"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HEADER_TERMS_NEGOTIATED" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Flag to indicated if all negotiation on all header level terms is completed or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InitiatorOrgCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="INITIATOR_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is order's buyer's organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="NEGOTIATION_EXPIRATION_DATE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Date when negotiation expires. No logic is built on this. But, negotiation monitor can be configured to raise alerts on this.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Part of unique key of negotiation. Enterprise code and negotiation number together uniquely identify a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationRuleID" type="yfctype:ID-40" use="required">
                <xsd:annotation>
                    <xsd:documentation>Virtual Field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiatorOrgCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="NEGOTIATOR_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is order's seller organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTerms" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is terms_code of order. This can be configured as a negotiable attribute in yfs_negotiable_hdr_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is deprecated in version 5.0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is request ship date of the order. This is not used. Deprecated in version 5.0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiationLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NegotiationLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiationLine">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_LINE">
            <xsd:documentation>This table stores line information of a negotiation. One negotiation line is created for each order line of the negotiation's order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalAttributes">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalAttribute">
                                <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-40" use="required">
                                    <xsd:annotation
                                    yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Value"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_ACTION" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Action to be performed on the order if negotiated quantity is less than the original quanitity. Currently, only CANCEL is supported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_REFERENCE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is request delivery date of the order line. Depending on the order driver date, either delivery_date or ship_date is negotiable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is FOB on order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>The unique identifier for Items of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntity" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LINE_ENTITY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Currently can have value ORDER_LINE only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LINE_ENTITY_KEY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Primary key of the order line to which this negotiation line corresponds too.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Price on the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Prime_line_no of the order line to which this negotiation line corresponds to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="required">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Product_class of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="required">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Quantity on the order line. This is always negotiable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is request ship date of the order line. Depending on the order driver date, either delivery_date or ship_date is negotiable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Sub_line_no of the order line to which this negotiation line corresponds to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="required">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>UOM of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
