Data/xapidocs/api_javadocs/XSD/YCP_sendMail_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/sendMail/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/sendMail/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_sendMail_input.xsd" yfc:rootElement="SendMail">
        <xsd:appinfo source="yfc:structure">
            <SendMail>
                <MessageHeader hasAttributes="Y">
                    <ToAddresses>
                        <ToAddress hasAttributes="Y"/>
                    </ToAddresses>
                    <CCAddresses>
                        <CCAddress hasAttributes="Y"/>
                    </CCAddresses>
                    <BCCAddresses>
                        <BCCAddress hasAttributes="Y"/>
                    </BCCAddresses>
                </MessageHeader>
                <MessageDetail/>
            </SendMail>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SendMail" type="yfc:SendMailXSDType"/>
    <xsd:complexType name="SendMailXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MessageHeader"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MessageDetail"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="MessageHeader">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ToAddresses"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CCAddresses"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BCCAddresses"/>
            </xsd:all>
            <xsd:attribute name="FromAddress" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>An email id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MailHost" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A mail host</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MailPort" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Port used for mailing</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MailProtocol" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Protocol used for mailing</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubjectText" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Mail's Subject field</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateFile" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Name of the template file</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToAddresses">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ToAddress"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToAddress">
        <xsd:complexType>
            <xsd:attribute name="EmailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>An email id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CCAddresses">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CCAddress"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CCAddress">
        <xsd:complexType>
            <xsd:attribute name="EmailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>An email id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BCCAddresses">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:BCCAddress"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BCCAddress">
        <xsd:complexType>
            <xsd:attribute name="EmailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>An email id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MessageDetail">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
