Data/xapidocs/api_javadocs/XSD/YCP_getCachedDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCachedDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCachedDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCachedDetails_input.xsd" yfc:rootElement="CachedGroups">
        <xsd:appinfo source="yfc:structure">
            <CachedGroups>
                <CachedGroup hasAttributes="Y">
                    <CachedObject hasAttributes="Y"/>
                </CachedGroup>
            </CachedGroups>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CachedGroups" type="yfc:CachedGroupsXSDType"/>
    <xsd:complexType name="CachedGroupsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CachedGroup"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CachedGroup">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						This element is optional. If it is specified, the <code>Name</code> attribute must be passed.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CachedObject"/>
            </xsd:all>
            <xsd:attribute name="Name" type="yfctype:Text-200" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The Name of the cached group.
								<Validation>
                                <Condition>
									 Must be passed if the <code>CachedGroup</code> element is specified.
									</Condition>
                                <Error Description="Invalid Input XML" ErrorCode="YCP0042"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CachedObject">
        <xsd:complexType>
            <xsd:attribute name="Class" type="yfctype:Text-200" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Name of the java class that is cached</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
