Data/xapidocs/api_javadocs/XSD/YCP_getNextException_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNextException/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNextException/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNextException_output.xsd" yfc:rootElement="Inbox">
        <xsd:appinfo source="yfc:structure">
            <Inbox hasAttributes="Y">
                <User hasAttributes="Y"/>
                <Order hasAttributes="Y">
                    <PriceInfo hasAttributes="Y"/>
                </Order>
                <Queue hasAttributes="Y">
                    <ActionList>
                        <Action hasAttributes="Y"/>
                    </ActionList>
                    <QueueSubscriptionList>
                        <QueueSubscription hasAttributes="Y"/>
                    </QueueSubscriptionList>
                </Queue>
                <InboxReferencesList>
                    <InboxReferences hasAttributes="Y"/>
                </InboxReferencesList>
                <InboxAuditList>
                    <InboxAudit hasAttributes="Y"/>
                </InboxAuditList>
            </Inbox>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Inbox" type="yfc:InboxXSDType">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InboxXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:User"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Queue"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxReferencesList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxAuditList"/>
        </xsd:all>
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception is active and requires resolution.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertFound" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>This flag indicates whether any alert was found based on the input criteria.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApiName" type="yfctype:ApiName-128" use="optional">
            <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Name of the api that created this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignedToUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation>
                <xsd:documentation>The user to whom an exception is assigned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignedToUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The current user to which the exception is assigned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AutoResolvedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUTO_RESOLVED_FLAG" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Indicates a customer associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClosedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CLOSED_ON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception was closed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationCount"
            type="yfctype:PositiveShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_COUNT" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The number of exceptions that this record represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The description of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DetailDescription"
            type="yfctype:DetailDescription" use="optional">
            <xsd:annotation yfc:columnName="DETAIL_DESCRIPTION" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The detailed description of an exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorReason" type="yfctype:ErrorReason" use="optional">
            <xsd:annotation yfc:columnName="ERROR_REASON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Error code or reason related to this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorType" type="yfctype:ErrorType" use="optional">
            <xsd:annotation yfc:columnName="ERROR_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Type of error this exception record represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionEscalatedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_ESCALATED_FLAG" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether an exception was escalated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-40" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The type of exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ExpirationDays"
            type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DAYS" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Number of days of no activity after which this exception may be automatically closed. A value of zero means the exception will not expire.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
            <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The service associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FollowupDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FOLLOWUP_DATE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception should be followed up next.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GeneratedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="GENERATED_ON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date and time on which the exception was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxType" type="yfctype:InboxType" use="optional">
            <xsd:annotation yfc:columnName="INBOX_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The identifier for the item associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastExceedAlert" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_EXCEED_ALERT" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception was escalated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastOccurredOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_OCCURRED_ON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The most recent time this exception was generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastUnassignAlert" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_UNASSIGN_ALERT" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date when the last alert for 'unassignment' was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastUnresolveAlert"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_UNRESOLVE_ALERT" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date when the last 'unresolved' alert was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ListDescription"
            type="yfctype:InboxDescription" use="optional">
            <xsd:annotation yfc:columnName="LIST_DESCRIPTION" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The description of an inbox.  This will be shown on application console home page and alert list view.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The load number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The location identifier. Identifies the location for which exception is raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LockedByUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCKED_BY_USER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The user who has been assigned to the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LockedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="LOCKED_FLAG" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception is locked.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LockedOn" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="LOCKED_ON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which an exception was assigned to a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order line associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order number associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The organization which owns the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
            <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This field is currently not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentInboxKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_INBOX_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The priority of the exception. A lower number means a higher priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
            <xsd:annotation>
                <xsd:documentation>The queue ID for which the exception is assigned to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The queue to which an exception belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolutionDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RESOLUTION_DATE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception was resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolveBy" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RESOLVE_BY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date by which the exception should be resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The shipment associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The shipment number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The shipnode where the exception was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:EnumStatus3" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The status of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
            <xsd:annotation yfc:columnName="SUB_FLOW_NAME" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The sub flow or RuntimeID associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplierKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SUPPLIER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The supplier code associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Indicates a team associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ViewId" type="yfctype:ViewId" use="optional">
            <xsd:annotation yfc:columnName="VIEW_ID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The view identifier associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The wave associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The wave number that uniquely identifies the wave within the context of a node.  This is system generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The work order associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The work order number within the context of a node and enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Activateflag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER">
                    <xsd:documentation>This flag indicates whether a user is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillingaddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILLINGADDRESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The billing address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BusinessKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The business associated with this user. Identifies a ship node when filled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactaddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACTADDRESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The contact address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreatorOrganizationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization that created the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Imagefile" type="yfctype:FileName" use="optional">
                <xsd:annotation yfc:columnName="IMAGEFILE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The image associated with a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The locale of a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The login ID for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Longdesc"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONGDESC" yfc:tableName="YFS_USER">
                    <xsd:documentation>The long description for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MenuId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="MENU_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The menu ID associated with the user. This is used to display the menus in various applications to which this user has access.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NOTE_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>A generic note for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization to which a user belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_USER_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The parent user associated with this user. May be used to capture reporting hierarchy. A user has only one parent but may have many children.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Password" type="yfctype:Password" use="optional">
                <xsd:annotation yfc:columnName="PASSWORD" yfc:tableName="YFS_USER">
                    <xsd:documentation>The password for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PREFERENCE_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Pwdlastchangedon"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="PWDLASTCHANGEDON" yfc:tableName="YFS_USER">
                    <xsd:documentation>The last date on which the user's password was changed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Theme" type="yfctype:PresentationTheme" use="optional">
                <xsd:annotation yfc:columnName="THEME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The presentation theme for a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The user group associated with this user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Usertype" type="yfctype:EnumUserType" use="optional">
                <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                    <xsd:documentation>This field indicates the user type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceInfo"/>
            </xsd:all>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The buyer organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The carrier service code for this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentStatus"
                type="yfctype:VarcharShortStatus" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_STATUS" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The information about the payment status of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReqDeliveryDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_DELIVERY_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The requested delivery date. This date is stamped on order lines (as requested delivery date) during order creation if no requested delivery date was passed at the order line level.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The seller organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The currency code in which this order is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The grand total for the order. Includes all line charges and taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Queue">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ActionList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:QueueSubscriptionList"/>
            </xsd:all>
            <xsd:attribute name="AuditThisQueue" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_THIS_QUEUE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>'Y' if assignments needs to be audited</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursAssignExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_ASSIGN_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not assigned within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_ASSIGN_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unassign alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignment"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_ASSIGNMENT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue must be assigned within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForExceedRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_EXCEED_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which a re-alert should be raised for queue overflows</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolution"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_RESOLUTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue should be resolved within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolveRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_RESOLVE_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unresolved alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursResolveExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_RESOLVE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not resolved within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastQueueExceedAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_QUEUE_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Date when last overflow exception was raised for the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumActiveSize"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MAXIMUM_ACTIVE_SIZE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Maximum # of active exceptions that can be posted in the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumSizeExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MAXIMUM_SIZE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be performed if the active exceptions exceed the limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Organization code that owns the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Not used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue priority</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForAssignAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_ASSIGN_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unassignment exception should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForExceedAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which overflow exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForResolveAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_RESOLVE_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unresolve exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_DESCRIPTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Description of a Queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueGroup" type="yfctype:QueueGroupId" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_GROUP" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Group id. Can be used for better organization of queues</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Unique id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Primary key attribute of YFS_QUEUE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueName" type="yfctype:QueueName" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_NAME" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Name for queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ActionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Action"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Action">
        <xsd:annotation yfc:tableName="YFS_ACTION">
            <xsd:documentation>Stores the definition for Actions. These actions can be attached to events to create alerts, send mail, invoke services etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ACTION_KEY" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Primary key attribute of YFS_ACTION.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Actioncode" type="yfctype:ActionCode" use="optional">
                <xsd:annotation yfc:columnName="ACTIONCODE" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Unique identifier for the action.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Actionname" type="yfctype:ActionName" use="optional">
                <xsd:annotation yfc:columnName="ACTIONNAME" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>User name for the action.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Actiontype" type="yfctype:ActionType" use="optional">
                <xsd:annotation yfc:columnName="ACTIONTYPE" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Indicates if an action is system defined or user defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComExtensionFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="COM_EXTENSION_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Set to 'Y' if a COM API needs to be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComExtensionProgid"
                type="yfctype:ApiName-255" use="optional">
                <xsd:annotation yfc:columnName="COM_EXTENSION_PROGID" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>COM API name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DbExtensionFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DB_EXTENSION_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Set to 'Y' if a stored procedure needs to be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DbExtensionSpName"
                type="yfctype:ProcedureName" use="optional">
                <xsd:annotation yfc:columnName="DB_EXTENSION_SP_NAME" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Stored procedure name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EmailAddress" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAIL_ADDRESS" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Address to which e-mail should be sent. Can be blanks. Template can pick the e-mail address dynamically from published data.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EmailFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EMAIL_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Set to 'Y' if e-mail needs to be sent when action is raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EmailTemplateFile"
                type="yfctype:LongFileName" use="optional">
                <xsd:annotation yfc:columnName="EMAIL_TEMPLATE_FILE" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Template file name for sending e-mail.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExecuteFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EXECUTE_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Set to 'Y' if an executable needs to be run.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExecuteProgram"
                type="yfctype:ExecuteProgram" use="optional">
                <xsd:annotation yfc:columnName="EXECUTE_PROGRAM" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Executable program run.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendableCode"
                type="yfctype:ExtendableCode" use="optional">
                <xsd:annotation yfc:columnName="EXTENDABLE_CODE" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Not Used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FaxFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FAX_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Not used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FaxStylesheet"
                type="yfctype:LongFileName" use="optional">
                <xsd:annotation yfc:columnName="FAX_STYLESHEET" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Not used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Identifies group/category of an action.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HTTP_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Set to 'Y' if a URL is invoked</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>URL invoked as a result of HTTP action.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INBOX_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Set to 'Y' if exception needs to be raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxTemplate"
                type="yfctype:ExceptionTemplate" use="optional">
                <xsd:annotation yfc:columnName="INBOX_TEMPLATE" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Template for raising exceptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_USER_KEY" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>If exception needs to be sent to a particular user, link to the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JavaExtensionFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="JAVA_EXTENSION_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Set to 'Y' if a JAVA API is called</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JavaExtensionProgid"
                type="yfctype:ApiName-255" use="optional">
                <xsd:annotation yfc:columnName="JAVA_EXTENSION_PROGID" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>JAVA API name to be invoked</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Organization code defining this action</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Not used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PublishFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PUBLISH_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Set to 'Y' if event data needs to be put into export tables.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PublishReceivers"
                type="yfctype:PublishReceivers" use="optional">
                <xsd:annotation yfc:columnName="PUBLISH_RECEIVERS" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>System Ids which would receive published message.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Exception queue to which exception should be routed</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RealtimeFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="REALTIME_FLAG" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Currently must be set to 'Y'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_KEY" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>A reference that may be associated with an action.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceType"
                type="yfctype:ReferenceType" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_ACTION">
                    <xsd:documentation>Categorization of references that may be associated with an action.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="QueueSubscriptionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:QueueSubscription"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="QueueSubscription">
        <xsd:annotation yfc:tableName="YFS_QUEUE_SUBSCRIPTION">
            <xsd:documentation>Maintains Subscription of users to various queues. Users may subscribe to more than one Queue.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE_SUBSCRIPTION">
                    <xsd:documentation>A Queue for which subscription is maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueSubscriptionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_SUBSCRIPTION_KEY" yfc:tableName="YFS_QUEUE_SUBSCRIPTION">
                    <xsd:documentation>Primary key attribute of YFS_QUEUE_SUBSCRIPTION.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_QUEUE_SUBSCRIPTION">
                    <xsd:documentation>A user who has subscribed to a queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxReferencesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxReferences"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxReferences">
        <xsd:annotation yfc:tableName="YFS_INBOX_REFERENCES">
            <xsd:documentation>Dynamic references can be stored with an exception. This table stores references attached with an exception</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>The inbox exception to which a particular reference is maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_REFERENCE_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Primary key attribute of YFS_INBOX_REFERENCES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:ReferenceName" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Name of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceType"
                type="yfctype:ReferenceType" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Type of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value"
                type="yfctype:ReferenceValue-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Value for the reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxAuditList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxAudit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxAudit">
        <xsd:annotation yfc:tableName="YFS_INBOX_AUDIT">
            <xsd:documentation>Stores audit information for exceptions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromQueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Previous Queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromQueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was removed from this queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromQueueOwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Previous Queue's Owner</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromStatus" type="yfctype:Status-24" use="optional">
                <xsd:annotation yfc:columnName="FROM_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was moved from this Status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromUserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>Previous User</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>User who was removed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxAuditKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_AUDIT_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Primary key attribute of YFS_INBOX_AUDIT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>The associated inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Organization which is the owner of an exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToQueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>A new queue to which the inbox exception was moved</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToQueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was assigned to this queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToQueueOwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>New Queue's Owner</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToStatus" type="yfctype:Status-24" use="optional">
                <xsd:annotation yfc:columnName="TO_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was moved to this Status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToUserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>New User</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>User who was assigned the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionType"
                type="yfctype:TransactionType-20" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Nature of transactions performed so far on an exception. ( CREATED, CREATED_ASSIGNED,ASSIGNED,UNASSIGNED,REASSIGNED,RESOLVED_SYSTEM, RESOLVED_USER are valid transaction types. )</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
