Data/xapidocs/api_javadocs/XSD/YCP_getResourcesForUserGroup_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getResourcesForUserGroup/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getResourcesForUserGroup/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getResourcesForUserGroup_output.xsd" yfc:rootElement="Resources">
        <xsd:appinfo source="yfc:structure">
            <Resources>
                <Resource hasAttributes="Y">
                    <ResourcePermissionList>
                        <ResourcePermission hasAttributes="Y"/>
                    </ResourcePermissionList>
                    <SubResource>
                        <Resource hasAttributes="Y">
                            <ResourcePermissionList>
                                <ResourcePermission hasAttributes="Y"/>
                            </ResourcePermissionList>
                        </Resource>
                    </SubResource>
                </Resource>
            </Resources>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Resources" type="yfc:ResourcesXSDType"/>
    <xsd:complexType name="ResourcesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Resource">
                <xsd:annotation yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This table stores and maintains all resources in an application. The permissions are granted on a resource to a user group.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="ResourcePermissionList">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded"
                                    minOccurs="0" name="ResourcePermission">
                                    <xsd:annotation yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>Permissions to various resources in the system are maintained here. Permissions are maintained at a user group level.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ActivateFlag"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ACTIVATE_FLAG" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>Indicates if a permission is active.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ResourceKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>A permission controlled resource.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ResourcePermissionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RESOURCE_PERMISSION_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>Primary key attribute of YFS_RESOURCE_PERMISSION.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="UsergroupKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>A user group that is given permission to access a resource.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubResource"/>
                    </xsd:all>
                    <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>Indicates if the resource is Active</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AdapterKey" type="yfctype:Key" use="optional">
                        <xsd:annotation yfc:columnName="ADAPTER_KEY" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>An inter-op adapter associated with a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AltImage"
                        type="yfctype:NonUnicode-URL" use="optional">
                        <xsd:annotation yfc:columnName="ALT_IMAGE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The alternative image associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AltImageBinding"
                        type="yfctype:ResourceBinding" use="optional">
                        <xsd:annotation
                            yfc:columnName="ALT_IMAGE_BINDING" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field specifies the alternate image binding of the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ApiName"
                        type="yfctype:ApiName-40" use="optional">
                        <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The name of the API associated with a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ApplicationCode"
                        type="yfctype:ModuleId" use="optional">
                        <xsd:annotation
                            yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The application code of the resource.  Valid values are cmn, inv, omd, omr, oms, vas, wms, ycm, ycp, ydm, and blank.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ApplicationName"
                        type="yfctype:ApplicationName" use="optional">
                        <xsd:annotation
                            yfc:columnName="APPLICATION_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>An application associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="BehaviorClassName"
                        type="yfctype:JavaClass" use="optional">
                        <xsd:annotation
                            yfc:columnName="BEHAVIOR_CLASS_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A java class that controls the behavior of a graphical user interface form.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Binding"
                        type="yfctype:ResourceBinding" use="optional">
                        <xsd:annotation yfc:columnName="BINDING" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field specifies the binding of the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="CanAddToMenu"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation yfc:columnName="CAN_ADD_TO_MENU" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This indicates whether a resource can be added to the menu. The resources added to menus are always at the leaf node of the menu hierarchy.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="CloseWindowOnComplete"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="CLOSE_WINDOW_ON_COMPLETE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates whether the window showing the resource should close on completion of the operation.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DisplayBinding"
                        type="yfctype:ResourceBinding" use="optional">
                        <xsd:annotation yfc:columnName="DISPLAY_BINDING" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field specifies the display binding of the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DocumentType"
                        type="yfctype:DocumentType" use="optional">
                        <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The document type associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EntityKeyName"
                        type="yfctype:KeyName" use="optional">
                        <xsd:annotation yfc:columnName="ENTITY_KEY_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The entity key name.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EventComponent"
                        type="yfctype:EventComponent" use="optional">
                        <xsd:annotation yfc:columnName="EVENT_COMPONENT" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A java event component on a form.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="FlowName"
                        type="yfctype:FlowName" use="optional">
                        <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A flow name associated with a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="FormClassName"
                        type="yfctype:JavaClass" use="optional">
                        <xsd:annotation yfc:columnName="FORM_CLASS_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A java class name that is of a graphical user interface form associated with a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Height"
                        type="yfctype:Dimension" use="optional">
                        <xsd:annotation yfc:columnName="HEIGHT" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The height of the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="HelpApplicationCode"
                        type="yfctype:ModuleId" use="optional">
                        <xsd:annotation
                            yfc:columnName="HELP_APPLICATION_CODE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The help application code of the resource.  Valid values are cmn, inv, omd, omr, oms, vas, wms, ycm, ycp, ydm, and blank.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="HideMaxRecords"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="HIDE_MAX_RECORDS" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates if maximum records field in search views needs to be hidden.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="HideNavigationPanel"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="HIDE_NAVIGATION_PANEL" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates if navigation panel needs to be hidden.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="IgnoreDefaultApi"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="IGNORE_DEFAULT_API" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates whether a default API call needs to be ignored.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="IgnoreException"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="IGNORE_EXCEPTION" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates if any exceptions encountered need to be ignored.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Image"
                        type="yfctype:NonUnicode-URL" use="optional">
                        <xsd:annotation yfc:columnName="IMAGE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The image associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Input"
                        type="yfctype:ResourceInput" use="optional">
                        <xsd:annotation yfc:columnName="INPUT" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The input to a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="InputNamespace"
                        type="yfctype:ResourceNameSpace" use="optional">
                        <xsd:annotation yfc:columnName="INPUT_NAMESPACE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>An input name space associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="IsPermissionControlled"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="IS_PERMISSION_CONTROLLED" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This indicates whether a resource is permission controlled. To be able to access these resources the users need specific grant access.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="IsReadOnly" type="yfctype:Flag" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>Indicates if a resource has read only permissions.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Javascript"
                        type="yfctype:JavaScript" use="optional">
                        <xsd:annotation yfc:columnName="JAVASCRIPT" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A java script associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Jsp" type="yfctype:JspPage" use="optional">
                        <xsd:annotation yfc:columnName="JSP" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A java server page associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OrigResourceId"
                        type="yfctype:ResourceId-40" use="optional">
                        <xsd:annotation
                            yfc:columnName="ORIG_RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This identifies the original resource from which a particular resource is derived.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OutputNamespace"
                        type="yfctype:ResourceNameSpace" use="optional">
                        <xsd:annotation
                            yfc:columnName="OUTPUT_NAMESPACE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>An output name space associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OutputXmlTemplateFileName"
                        type="yfctype:FileName" use="optional">
                        <xsd:annotation
                            yfc:columnName="OUTPUT_XML_TEMPLATE_FILE_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A template file name used for an API output.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OutputXslTemplateFileName"
                        type="yfctype:FileName" use="optional">
                        <xsd:annotation
                            yfc:columnName="OUTPUT_XSL_TEMPLATE_FILE_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>An XSL file name used to further process an API's output.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OverrideEntityId"
                        type="yfctype:EntityId" use="optional">
                        <xsd:annotation
                            yfc:columnName="OVERRIDE_ENTITY_ID" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The entity override identifier associated with a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OverrideEntityKeyName"
                        type="yfctype:KeyName" use="optional">
                        <xsd:annotation
                            yfc:columnName="OVERRIDE_ENTITY_KEY_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The override entity key name.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OverrideFormClassName"
                        type="yfctype:JavaClass" use="optional">
                        <xsd:annotation
                            yfc:columnName="OVERRIDE_FORM_CLASS_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A form class when extended for exposing or hiding some of the the default fields. This field consists of the new class name that extends the original form class.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Parameter1"
                        type="yfctype:Parameter" use="optional">
                        <xsd:annotation yfc:columnName="PARAMETER_1" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This is a generic parameter.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Parameter2"
                        type="yfctype:Parameter" use="optional">
                        <xsd:annotation yfc:columnName="PARAMETER_2" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This is a generic parameter.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Parameter3"
                        type="yfctype:Parameter" use="optional">
                        <xsd:annotation yfc:columnName="PARAMETER_3" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This is a generic parameter.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Parameter4"
                        type="yfctype:Parameter" use="optional">
                        <xsd:annotation yfc:columnName="PARAMETER_4" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This is a generic parameter.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Parameter5"
                        type="yfctype:Parameter" use="optional">
                        <xsd:annotation yfc:columnName="PARAMETER_5" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This is a generic parameter.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ParentResourceId"
                        type="yfctype:ResourceId-40" use="optional">
                        <xsd:annotation
                            yfc:columnName="PARENT_RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The resources with parents essentially indicates the hierarchy of resources to which a particular resource may belong. The resources can have multiple children but at the most one parent.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Popup" type="yfctype:Flag" use="optional">
                        <xsd:annotation yfc:columnName="POPUP" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates whether a resource is a pop up window.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ProtocolKey" type="yfctype:Key" use="optional">
                        <xsd:annotation yfc:columnName="PROTOCOL_KEY" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A communication protocol associated with a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Redirector" type="yfctype:Flag" use="optional">
                        <xsd:annotation yfc:columnName="REDIRECTOR" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>When a view is marked as a redirector, then standard layout is not used for that view.  Once the APIs are invoked, control is directly transfered to the JSP of the view.  If a view is marked as redirector, then JSP must be specified.

An example use for this is when dynamically determining a view for an action.  If an action is configured to go to a view that is marked as a redirector, then the redirector can dynamically determine the actual view to go to. Thus, we get the feature of having Action that can go to a dynamically determined view.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ResourceCreateType"
                        type="yfctype:EnumResourceCreateType" use="optional">
                        <xsd:annotation
                            yfc:columnName="RESOURCE_CREATE_TYPE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates the create type of the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ResourceDesc"
                        type="yfctype:Description-255" use="optional">
                        <xsd:annotation yfc:columnName="RESOURCE_DESC" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The description of a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ResourceId"
                        type="yfctype:ResourceId-255" use="optional">
                        <xsd:annotation yfc:columnName="RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The unique identifier of a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
                        <xsd:annotation yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The primary key of the YFS_RESOURCE table.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ResourceSeq"
                        type="yfctype:ResourceSequenceNo" use="optional">
                        <xsd:annotation yfc:columnName="RESOURCE_SEQ" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A sequence number used to order child resources within a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ResourceSubType"
                        type="yfctype:ResourceSubType" use="optional">
                        <xsd:annotation
                            yfc:columnName="RESOURCE_SUB_TYPE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A sub classification of a resource within a resource type.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ResourceType"
                        type="yfctype:ResourceType-40" use="optional">
                        <xsd:annotation yfc:columnName="RESOURCE_TYPE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The type of resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="RollbackOnlyMode"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="ROLLBACK_ONLY_MODE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This flag indicates whether the API should be executed in rollback-only mode.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="SelectionKeyName"
                        type="yfctype:KeyName" use="optional">
                        <xsd:annotation
                            yfc:columnName="SELECTION_KEY_NAME" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The selection key name.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ServiceKey" type="yfctype:Key" use="optional">
                        <xsd:annotation yfc:columnName="SERVICE_KEY" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A service associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ShowDetail" type="yfctype:Flag" use="optional">
                        <xsd:annotation yfc:columnName="SHOW_DETAIL" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This is used for enabling search page to go directly to detail page without going through list page.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="SkipAutoExecute"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="SKIP_AUTO_EXECUTE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates whether auto execution needs to be skipped.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="SupportsSearchToDetail"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="SUPPORTS_SEARCH_TO_DETAIL" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field is valid if search condition results in only one record in list. The list view is not shown, instead detail view is shown directly.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="SuppressDecoration"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="SUPPRESS_DECORATION" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field indicates whether decoration needs to be suppressed.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="SystemKey" type="yfctype:Key" use="optional">
                        <xsd:annotation yfc:columnName="SYSTEM_KEY" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The system identifier associated with a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Template"
                        type="yfctype:ResourceTemplate" use="optional">
                        <xsd:annotation yfc:columnName="TEMPLATE" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>A template to be used by a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ToolTip"
                        type="yfctype:ResourceToolTip" use="optional">
                        <xsd:annotation yfc:columnName="TOOL_TIP" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The tool tip associated with the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Url"
                        type="yfctype:NonUnicode-URL" use="optional">
                        <xsd:annotation yfc:columnName="URL" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The uniform resource locator of a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Version" type="yfctype:Version" use="optional">
                        <xsd:annotation yfc:columnName="VERSION" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The API version. This is provided for backward compatibility of the API.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ViewGroupId"
                        type="yfctype:ViewGroupId" use="optional">
                        <xsd:annotation yfc:columnName="VIEW_GROUP_ID" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>This field groups together multiple detail views.  This is used for resources of type ICON, ACTION and LINK.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ViewId"
                        type="yfctype:ResourceViewId" use="optional">
                        <xsd:annotation yfc:columnName="VIEW_ID" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The view identifier associated with a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Width" type="yfctype:Dimension" use="optional">
                        <xsd:annotation yfc:columnName="WIDTH" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The width of the resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubResource">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Resource">
                    <xsd:annotation yfc:tableName="YFS_RESOURCE">
                        <xsd:documentation>This table stores and maintains all resources in an application. The permissions are granted on a resource to a user group.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ResourcePermissionList">
                                <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ResourcePermission">
                                    <xsd:annotation yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>Permissions to various resources in the system are maintained here. Permissions are maintained at a user group level.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ActivateFlag"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ACTIVATE_FLAG" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>Indicates if a permission is active.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ResourceKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>A permission controlled resource.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ResourcePermissionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RESOURCE_PERMISSION_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>Primary key attribute of YFS_RESOURCE_PERMISSION.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Rights"
                                    type="yfctype:ShorterNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RIGHTS" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>Low level access rights to this object, represented as a bit set.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="UserKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="USER_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>A user that is given permission to access a resource.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="UsergroupKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_RESOURCE_PERMISSION">
                                    <xsd:documentation>A user group that is given permission to access a resource.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="Active" type="yfctype:Flag" use="optional"/>
                        <xsd:attribute name="AdapterKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="ADAPTER_KEY" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>An inter-op adapter associated with a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AltImage"
                            type="yfctype:NonUnicode-URL" use="optional">
                            <xsd:annotation yfc:columnName="ALT_IMAGE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The alternative image associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AltImageBinding"
                            type="yfctype:ResourceBinding" use="optional">
                            <xsd:annotation
                                yfc:columnName="ALT_IMAGE_BINDING" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field specifies the alternate image binding of the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ApiName"
                            type="yfctype:ApiName-40" use="optional">
                            <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The name of the API associated with a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ApplicationCode"
                            type="yfctype:ModuleId" use="optional">
                            <xsd:annotation
                                yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The application code of the resource.  Valid values are cmn, inv, omd, omr, oms, vas, wms, ycm, ycp, ydm, and blank.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ApplicationName"
                            type="yfctype:ApplicationName" use="optional">
                            <xsd:annotation
                                yfc:columnName="APPLICATION_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>An application associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="BehaviorClassName"
                            type="yfctype:JavaClass" use="optional">
                            <xsd:annotation
                                yfc:columnName="BEHAVIOR_CLASS_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A java class that controls the behavior of a graphical user interface form.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Binding"
                            type="yfctype:ResourceBinding" use="optional">
                            <xsd:annotation yfc:columnName="BINDING" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field specifies the binding of the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="CanAddToMenu"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="CAN_ADD_TO_MENU" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This indicates whether a resource can be added to the menu. The resources added to menus are always at the leaf node of the menu hierarchy.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="CloseWindowOnComplete"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="CLOSE_WINDOW_ON_COMPLETE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates whether the window showing the resource should close on completion of the operation.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DisplayBinding"
                            type="yfctype:ResourceBinding" use="optional">
                            <xsd:annotation
                                yfc:columnName="DISPLAY_BINDING" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field specifies the display binding of the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DocumentType"
                            type="yfctype:DocumentType" use="optional">
                            <xsd:annotation
                                yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The document type associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EntityKeyName"
                            type="yfctype:KeyName" use="optional">
                            <xsd:annotation
                                yfc:columnName="ENTITY_KEY_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The entity key name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EventComponent"
                            type="yfctype:EventComponent" use="optional">
                            <xsd:annotation
                                yfc:columnName="EVENT_COMPONENT" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A java event component on a form.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FlowName"
                            type="yfctype:FlowName" use="optional">
                            <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A flow name associated with a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FormClassName"
                            type="yfctype:JavaClass" use="optional">
                            <xsd:annotation
                                yfc:columnName="FORM_CLASS_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A java class name that is of a graphical user interface form associated with a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Height"
                            type="yfctype:Dimension" use="optional">
                            <xsd:annotation yfc:columnName="HEIGHT" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The height of the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="HelpApplicationCode"
                            type="yfctype:ModuleId" use="optional">
                            <xsd:annotation
                                yfc:columnName="HELP_APPLICATION_CODE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The help application code of the resource.  Valid values are cmn, inv, omd, omr, oms, vas, wms, ycm, ycp, ydm, and blank.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="HideMaxRecords"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="HIDE_MAX_RECORDS" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates if maximum records field in search views needs to be hidden.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="HideNavigationPanel"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="HIDE_NAVIGATION_PANEL" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates if navigation panel needs to be hidden.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IgnoreDefaultApi"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="IGNORE_DEFAULT_API" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates whether a default API call needs to be ignored.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IgnoreException"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="IGNORE_EXCEPTION" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates if any exceptions encountered need to be ignored.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Image"
                            type="yfctype:NonUnicode-URL" use="optional">
                            <xsd:annotation yfc:columnName="IMAGE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The image associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Input"
                            type="yfctype:ResourceInput" use="optional">
                            <xsd:annotation yfc:columnName="INPUT" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The input to a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InputNamespace"
                            type="yfctype:ResourceNameSpace" use="optional">
                            <xsd:annotation
                                yfc:columnName="INPUT_NAMESPACE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>An input name space associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IsPermissionControlled"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="IS_PERMISSION_CONTROLLED" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>
                                    <div>
							Indicates if a resource is permission controlled. In order to access this type of resource, users need specific grants.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IsReadOnly"
                            type="yfctype:Flag" use="optional"/>
                        <xsd:attribute name="Javascript"
                            type="yfctype:JavaScript" use="optional">
                            <xsd:annotation yfc:columnName="JAVASCRIPT" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A java script associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Jsp" type="yfctype:JspPage" use="optional">
                            <xsd:annotation yfc:columnName="JSP" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A java server page associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrigResourceId"
                            type="yfctype:ResourceId-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORIG_RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This identifies the original resource from which a particular resource is derived.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OutputNamespace"
                            type="yfctype:ResourceNameSpace" use="optional">
                            <xsd:annotation
                                yfc:columnName="OUTPUT_NAMESPACE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>An output name space associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OutputXmlTemplateFileName"
                            type="yfctype:FileName" use="optional">
                            <xsd:annotation
                                yfc:columnName="OUTPUT_XML_TEMPLATE_FILE_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A template file name used for an API output.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OutputXslTemplateFileName"
                            type="yfctype:FileName" use="optional">
                            <xsd:annotation
                                yfc:columnName="OUTPUT_XSL_TEMPLATE_FILE_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>An XSL file name used to further process an API's output.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OverrideEntityId"
                            type="yfctype:EntityId" use="optional">
                            <xsd:annotation
                                yfc:columnName="OVERRIDE_ENTITY_ID" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The entity override identifier associated with a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OverrideEntityKeyName"
                            type="yfctype:KeyName" use="optional">
                            <xsd:annotation
                                yfc:columnName="OVERRIDE_ENTITY_KEY_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The override entity key name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OverrideFormClassName"
                            type="yfctype:JavaClass" use="optional">
                            <xsd:annotation
                                yfc:columnName="OVERRIDE_FORM_CLASS_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A form class when extended for exposing or hiding some of the the default fields. This field consists of the new class name that extends the original form class.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Parameter1"
                            type="yfctype:Parameter" use="optional">
                            <xsd:annotation yfc:columnName="PARAMETER_1" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This is a generic parameter.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Parameter2"
                            type="yfctype:Parameter" use="optional">
                            <xsd:annotation yfc:columnName="PARAMETER_2" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This is a generic parameter.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Parameter3"
                            type="yfctype:Parameter" use="optional">
                            <xsd:annotation yfc:columnName="PARAMETER_3" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This is a generic parameter.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Parameter4"
                            type="yfctype:Parameter" use="optional">
                            <xsd:annotation yfc:columnName="PARAMETER_4" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This is a generic parameter.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Parameter5"
                            type="yfctype:Parameter" use="optional">
                            <xsd:annotation yfc:columnName="PARAMETER_5" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This is a generic parameter.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ParentResourceId"
                            type="yfctype:ResourceId-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="PARENT_RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>
                                    <div>
							This attribute indicates the hierarchy of resources to which a particular resource  belongs. Resources can have multiple children, but, at the most, one parent.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Popup" type="yfctype:Flag" use="optional">
                            <xsd:annotation yfc:columnName="POPUP" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates whether a resource is a pop up window.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ProtocolKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="PROTOCOL_KEY" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A communication protocol associated with a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Redirector"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation yfc:columnName="REDIRECTOR" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>When a view is marked as a redirector, then standard layout is not used for that view.  Once the APIs are invoked, control is directly transfered to the JSP of the view.  If a view is marked as redirector, then JSP must be specified.

An example use for this is when dynamically determining a view for an action.  If an action is configured to go to a view that is marked as a redirector, then the redirector can dynamically determine the actual view to go to. Thus, we get the feature of having Action that can go to a dynamically determined view.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceCreateType"
                            type="yfctype:EnumResourceCreateType" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOURCE_CREATE_TYPE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates the create type of the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceDesc"
                            type="yfctype:Description-255" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOURCE_DESC" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The description of a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceId"
                            type="yfctype:ResourceId-255" use="optional">
                            <xsd:annotation yfc:columnName="RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The unique identifier of a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The primary key of the YFS_RESOURCE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceSeq"
                            type="yfctype:ResourceSequenceNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOURCE_SEQ" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A sequence number used to order child resources within a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceSubType"
                            type="yfctype:ResourceSubType" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOURCE_SUB_TYPE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A sub classification of a resource within a resource type.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceType"
                            type="yfctype:ResourceType-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOURCE_TYPE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The type of resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="RollbackOnlyMode"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="ROLLBACK_ONLY_MODE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This flag indicates whether the API should be executed in rollback-only mode.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SelectionKeyName"
                            type="yfctype:KeyName" use="optional">
                            <xsd:annotation
                                yfc:columnName="SELECTION_KEY_NAME" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The selection key name.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ServiceKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="SERVICE_KEY" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A service associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShowDetail"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation yfc:columnName="SHOW_DETAIL" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This is used for enabling search page to go directly to detail page without going through list page.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SkipAutoExecute"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="SKIP_AUTO_EXECUTE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates whether auto execution needs to be skipped.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SupportsSearchToDetail"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="SUPPORTS_SEARCH_TO_DETAIL" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field is valid if search condition results in only one record in list. The list view is not shown, instead detail view is shown directly.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SuppressDecoration"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="SUPPRESS_DECORATION" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field indicates whether decoration needs to be suppressed.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SystemKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="SYSTEM_KEY" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The system identifier associated with a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Template"
                            type="yfctype:ResourceTemplate" use="optional">
                            <xsd:annotation yfc:columnName="TEMPLATE" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>A template to be used by a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ToolTip"
                            type="yfctype:ResourceToolTip" use="optional">
                            <xsd:annotation yfc:columnName="TOOL_TIP" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The tool tip associated with the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Url"
                            type="yfctype:NonUnicode-URL" use="optional">
                            <xsd:annotation yfc:columnName="URL" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The uniform resource locator of a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Version"
                            type="yfctype:Version" use="optional">
                            <xsd:annotation yfc:columnName="VERSION" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The API version. This is provided for backward compatibility of the API.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ViewGroupId"
                            type="yfctype:ViewGroupId" use="optional">
                            <xsd:annotation
                                yfc:columnName="VIEW_GROUP_ID" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>This field groups together multiple detail views.  This is used for resources of type ICON, ACTION and LINK.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ViewId"
                            type="yfctype:ResourceViewId" use="optional">
                            <xsd:annotation yfc:columnName="VIEW_ID" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The view identifier associated with a resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Width"
                            type="yfctype:Dimension" use="optional">
                            <xsd:annotation yfc:columnName="WIDTH" yfc:tableName="YFS_RESOURCE">
                                <xsd:documentation>The width of the resource.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
