Data/xapidocs/api_javadocs/XSD/YCP_createSavedSearch_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createSavedSearch/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createSavedSearch/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_createSavedSearch_input.xsd" yfc:rootElement="SavedSearch">
        <xsd:appinfo source="yfc:structure">
            <SavedSearch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SavedSearch" type="yfc:SavedSearchXSDType">
        <xsd:annotation yfc:tableName="YFS_SAVED_SEARCH">
            <xsd:documentation>Frequently used searches may be saved by users with a name. The details of these searches are stored in this table.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SavedSearchXSDType">
        <xsd:attribute name="ApplicationCode"
            type="yfctype:ApplicationCode" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>Application code for storing application specific saved searches</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="required">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>Loginid of the user for whom a named search is stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchContext" type="yfctype:SearchContext" use="required">
            <xsd:annotation yfc:columnName="SEARCH_CONTEXT" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>
                    <div>
				For the saved search to be used in a Console, the <code>SearchContext</code> should be the entity name for which the saved search is created.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchData" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					For the saved search to be used in a Console, the SearchData should contain the input XML to the List API of the SearchContext.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchName" type="yfctype:SearchName" use="required">
            <xsd:annotation yfc:columnName="SEARCH_NAME" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>The name or reference that may be associated with a search.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchViewId" type="yfctype:ViewId" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_VIEW_ID" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>An Identifier identifies the view associated with a search.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
