Data/xapidocs/api_javadocs/XSD/YCP_getServerList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getServerList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getServerList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getServerList_input.xsd" yfc:rootElement="Servers">
        <xsd:appinfo source="yfc:structure">
            <Servers hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Servers" type="yfc:ServersXSDType"/>
    <xsd:complexType name="ServersXSDType">
        <xsd:attribute name="Type" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The server type. The valid values of the two types of servers identified are <b>
                            <code>ApplicationServer</code>
                        </b> for Application Servers and <b>
                            <code>IntegrationAgentServer</code>
                        </b> Integration/Agent Servers.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
