Data/xapidocs/api_javadocs/XSD/YCP_getTeamDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTeamDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTeamDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTeamDetails_input.xsd" yfc:rootElement="Team">
        <xsd:appinfo source="yfc:structure">
            <Team hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Team" type="yfc:TeamXSDType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>Data Security groups that are used to control end-user access to the application data elements are stored here.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TeamXSDType">
        <xsd:attribute name="CustomerAccessMode"
            type="yfctype:CustomerAccessMode" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
                        Access mode for Customer.<br/>
                        Valid Values:<br/>
                        01 : Normal access mode. The team can access all customer data.<br/>
                        02 : Restricted access mode. Access to customer data is restricted based on customer assignments.<br/>
                        03: Restricted based on team.  Access to customer data is restricted for the team regardless of the Enterprise's manual assignment rule.<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Description for the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeAccessMode"
            type="yfctype:DocumentTypeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseAccessMode"
            type="yfctype:EnterpriseAccessMode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Organization that created this data security group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentTeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Data Security Group Key of parent.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeAccessMode"
            type="yfctype:ShipNodeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamId" type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>Team Id.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
