Data/xapidocs/api_javadocs/XSD/YCP_markTaskAvailability_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/markTaskAvailability/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/markTaskAvailability/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_markTaskAvailability_input.xsd" yfc:rootElement="TaskAvailability">
        <xsd:appinfo source="yfc:structure">
            <TaskAvailability hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TaskAvailability" type="yfc:TaskAvailabilityXSDType">
        <xsd:annotation yfc:tableName="YFS_USER_ACTIVITY">
            <xsd:documentation>All users in the system are maintained here.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskAvailabilityXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
		         Organization Code for whom this configuration is applicable.
             </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TasksAvailable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TASKS_AVAILABLE" yfc:tableName="YFS_USER_ACTIVITY">
                <xsd:documentation>Indicates if tasks are available for a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_USER_ACTIVITY">
                <xsd:documentation>The login id of a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
