Data/xapidocs/api_javadocs/XSD/YCP_synchronizeUsers_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/synchronizeUsers/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/synchronizeUsers/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_synchronizeUsers_input.xsd" yfc:rootElement="Users">
        <xsd:appinfo source="yfc:structure">
            <Users hasAttributes="Y">
                <User hasAttributes="Y">
                    <UserGroupLists hasAttributes="Y">
                        <UserGroupList hasAttributes="Y"/>
                    </UserGroupLists>
                </User>
            </Users>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Users" type="yfc:UsersXSDType"/>
    <xsd:complexType name="UsersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:User"/>
        </xsd:all>
        <xsd:attribute name="DisplayUserID" type="yfctype:Text-150" use="optional">
            <xsd:annotation yfc:columnName="DISPLAY_USER_ID" yfc:tableName="YFS_USER">
                <xsd:documentation>Indicates Display User's ID which is used for login in to the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_USER">
                <xsd:documentation>The Customer Master Organization Code of the User's Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates if all users need to be deleted and
						rerecorded.
						<br/>
						If passed as "Y", all users belonging to the
						passed system, other than the ones passed in
						input, are deleted. If not passed, or passed
						with a value other than "Y", the input XML is
						treated as a delta-change to the set of users in
						the system.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemName" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Identifies an external system with which users
						are synchronized, such as an LDAP server, that
						maintains user authentication information.
						<Validation>
                            <Condition>
								If
								<code>SystemName</code>
								is not passed:
							</Condition>
                            <Error Description="Field Mandatory" ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UserGroupLists"/>
            </xsd:all>
            <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>The department to which a user belongs.
							<Validation>
                                <Condition>
									The department code is invalid or
									the organization does not contain
									the department
								</Condition>
                                <Error
                                    Description="The Department code does not exist for the organization." ErrorCode="YCP0256"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Loginid" type="yfctype:LoginId" use="required">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>
                        <div>The login ID for the user.
							<Validation>
                                <Condition>
									If
									<code>Loginid</code>
									is not passed:
								</Condition>
                                <Error Description="Field Mandatory" ErrorCode="YCP0046"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>
                        <div>The organization to which a user belongs.
							<Validation>
                                <Condition>
									If
									<code>OrganizationCode</code>
									is not passed:
								</Condition>
                                <Error Description="Field Mandatory" ErrorCode="YCP0046"/>
                            </Validation>
                            <Validation>
                                <Condition>
									If
									<code>OrganizationCode</code>
									is not a valid organization code:
								</Condition>
                                <Error Description="No Record Found" ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>
                        <div>The business associated with this user. Identifies a ship node when filled.
							<Validation>
                                <Condition>
									If
									<code>ShipNode</code>
									is not a valid shipnode of the
									user's organization:
								</Condition>
                                <Error Description="No Record Found" ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateLoginid" type="yfctype:LoginId" use="required">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>
                        <div>
							A Login Id used as a template for creating
							other users. This user's settings are
							inherited by the passed
							<code>Loginid.</code> Which attributes are inherited is
							determined by the createsynchuser and modifysyncuser
							resource templates.
							<Validation>
                                <Condition>
									If
									<code>TemplateLoginid</code>
									is not passed:
								</Condition>
                                <Error Description="Field Mandatory" ErrorCode="YCP0046"/>
                            </Validation>
                            <Validation>
                                <Condition>
									If
									<code>TemplateLoginid</code>
									is not a valid user in the system:
								</Condition>
                                <Error Description="No Record Found" ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UserGroupLists">
        <xsd:annotation>
            <xsd:documentation>
                <div>This is an optional element.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:UserGroupList"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Indicates whether all groups for a user
								need to be deleted and rerecorded.
								<br/>
								If passed as "Y", only user groups
								listed under the user's child nodes are
								members of this user (that is, if the
								user belonged to other groups before
								modification, membership to those groups
								is removed).
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UserGroupList">
        <xsd:annotation yfc:tableName="YFS_USER_GROUP_LIST">
            <xsd:documentation>
                <div>
								Indicates groups to which the user
								belongs. A child element under
								<code>UserGroupLists</code>
								.
							</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="required">
                <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>
                        <div>
									A unique identifier to the user
									group. Used to manage access control
									and permissions for users.
									<Validation>
                                <Condition>
											If
											<code>UsergroupId</code>
											is not passed:
										</Condition>
                                <Error Description="Field Mandatory" ErrorCode="YCP0046"/>
                            </Validation>
                            <Validation>
                                <Condition>
											If
											<code>UsergroupId</code>
											is not a valid user group:
										</Condition>
                                <Error Description="No Record Found" ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
