Data/xapidocs/api_javadocs/XSD/YCP_getUserTranConstraintList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getUserTranConstraintList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getUserTranConstraintList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getUserTranConstraintList_output.xsd" yfc:rootElement="UserTranConstraintList">
        <xsd:appinfo source="yfc:structure">
            <UserTranConstraintList>
                <UserTranConstraint hasAttributes="Y"/>
            </UserTranConstraintList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UserTranConstraintList" type="yfc:UserTranConstraintListXSDType"/>
    <xsd:complexType name="UserTranConstraintListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:UserTranConstraint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UserTranConstraint">
        <xsd:annotation yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
            <xsd:documentation>This table stores transactional constraints, such as order number and shipment number.  Transactional constraints are temporary in nature, and are automatically purged by the system when the corresponding transaction data is purged.  When tasks are suggested to a user, these constraints have to be met.  If no constraints are specified here, it means that any type of task can be suggested to the user.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>This flag indicates whether the constraint should be applied.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedToUserId"
                type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_ID" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The identifier of the user for whom the transactional constraints are being defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BatchNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The batch in which the user can work.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The container in which the user is eligibile to work.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_NO" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The count request in which the user is eligible to work on.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The enterprise key that is associated with this user tran constraints. &#xd;
Within a Node, operations can vary by Enterprise.  Therefore, task type level attributes are maintained at an enterprise level for a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_NO" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The move request on which the user is eligible to work.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The node to which the user belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The receipt on which the user is eligible to work.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The shipment on which the user can work.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The identifier of the task type that the user is eligible to perform.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserTranConstraintsKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="USER_TRAN_CONSTRAINTS_KEY" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The primary key for the YFS_USER_TRAN_CONSTRAINTS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The wave number on which the user can work.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_USER_TRAN_CONSTRAINTS">
                    <xsd:documentation>The work order on which the user is eligible to work.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
