Data/xapidocs/api_javadocs/XSD/YCP_getEntityAttributeDomainDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getEntityAttributeDomainDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getEntityAttributeDomainDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getEntityAttributeDomainDetails_input.xsd" yfc:rootElement="EntityAttributeDomain">
        <xsd:appinfo source="yfc:structure">
            <EntityAttributeDomain hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntityAttributeDomain" type="yfc:EntityAttributeDomainXSDType">
        <xsd:annotation yfc:tableName="YFS_ENTITY_ATTRIBUTE_DOMAIN">
            <xsd:documentation>
                <div>Either <code>EntityAttributeDomainKey</code> or a combination of 
    			<code>OrganizationCode</code>,  <code>TableName</code> and <code>DocumentType</code> uniquely identify an <code>EntityAttributeDomain</code>.
	    		<Validation>
                        <Condition>
                            <code>EntityAttributeDomain</code> could not be found.</Condition>
                        <Error Description="No record found." ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EntityAttributeDomainXSDType">
        <xsd:attribute name="AttributeDomainID" type="yfctype:GroupName" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ENTITY_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The primary identifier of the record in YFS_ATTRIBUTE_DOMAIN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ENTITY_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The DocumentType with which the AttributeDomain defined in column ATTRIBUTE_DOMAIN_ID must be associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntityAttributeDomainKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_ATTRIBUTE_DOMAIN_KEY" yfc:tableName="YFS_ENTITY_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The primary key of the YFS_ENTITY_ATTRIBUTE_DOMAIN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ENTITY_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The organization that maintains the YFS_ATTRIBUTE_DOMAIN record given in ATTRIBUTE_DOMAIN_ID column.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_ENTITY_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The TableName with which the AttributeDomain defined in column ATTRIBUTE_DOMAIN_ID must be associated. The allowed values are YFS_ORDER_HEADER, YFS_ORDER_LINE AND YFS_OPPORTUNITY</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
