Data/xapidocs/api_javadocs/XSD/YCP_getStatusList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getStatusList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getStatusList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getStatusList_output.xsd" yfc:rootElement="StatusList">
        <xsd:appinfo source="yfc:structure">
            <StatusList>
                <Status hasAttributes="Y"/>
            </StatusList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StatusList" type="yfc:StatusListXSDType"/>
    <xsd:complexType name="StatusListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Status"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Status">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The owner organization that is associated with this status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The process type that is associated with this status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The unique identifier for the status within a process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="STATUS_KEY" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The primary key of the YFS_STATUS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusName" type="yfctype:StatusName" use="optional">
                <xsd:annotation yfc:columnName="STATUS_NAME" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The name for the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusType" type="yfctype:StatusType" use="optional">
                <xsd:annotation yfc:columnName="STATUS_TYPE" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
