Data/xapidocs/api_javadocs/XSD/YCP_getDropStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDropStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDropStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDropStatus_input.xsd" yfc:rootElement="GetDropStatusInput">
        <xsd:appinfo source="yfc:structure">
            <GetDropStatusInput hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetDropStatusInput" type="yfc:GetDropStatusInputXSDType">
        <xsd:annotation yfc:tableName="YFS_PIPELINE_DEFINITION">
            <xsd:documentation>
                <div>
				To uniquely identify a pipeline, pass either <code>PipelineKey</code>
                    <i>or</i>
                    <code>PipelineId</code>, <code>OwnerKey</code> and  <code>ProcessType</code>.
				<Validation>
                        <Condition>If neither  <code>PipelineKey</code>
                            <i>nor</i>
                            <code>PipelineId</code>, <code>OwnerKey</code> and  <code>ProcessType</code> is passed.
					</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetDropStatusInputXSDType">
        <xsd:attribute name="BaseDropStatus" type="yfctype:ShortStatus" use="required">
            <xsd:annotation yfc:columnName="DROP_STATUS" yfc:tableName="YFS_PIPELINE_DEFINITION">
                <xsd:documentation>Base drop status for transaction</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromStatus" type="yfctype:ShortStatus" use="required">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                <xsd:documentation>Pick up status</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>The owner organization that this pipeline is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_ID" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>The unique identifier for the pipeline.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE_DEFINITION">
                <xsd:documentation>Pipeline</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessType" type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The unique identifier for the process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TranId" use="required">
            <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>Transaction for which drop status is being determined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
