Data/xapidocs/api_javadocs/XSD/YCP_getPipelineList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPipelineList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPipelineList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPipelineList_input.xsd" yfc:rootElement="Pipeline">
        <xsd:appinfo source="yfc:structure">
            <Pipeline hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Pipeline" type="yfc:PipelineXSDType">
        <xsd:annotation yfc:tableName="YFS_PIPELINE">
            <xsd:documentation>This table stores information about pipelines.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PipelineXSDType">
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>This flag indicates whether a pipeline is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
			If CallingOrganizationCode is passed, then it will
			be used as the context organization. This, combined
			with the configuration data setup for pipelines,
			will result in a list filtered for access by the given organization.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>The owner organization that this pipeline is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_DESCRIPTION" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>The description of the pipeline.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_ID" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>The unique identifier for the pipeline.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>The primary key for the YFS_PIPELINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>The process type that this pipeline is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
