Data/xapidocs/api_javadocs/XSD/YCP_changePassword_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/changePassword/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/changePassword/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_changePassword_input.xsd" yfc:rootElement="User">
        <xsd:appinfo source="yfc:structure">
            <User hasAttributes="Y">
                <ResetPassword hasAttributes="Y"/>
                <AuthAnswerList>
                    <AuthAnswer hasAttributes="Y"/>
                </AuthAnswerList>
            </User>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="User" type="yfc:UserXSDType">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If Invalid User Identifiers - <code>Loginid</code> or <code>UserKey</code> are passed.</Condition>
                        <Error
                            Description="Invalid User identifiers passed." ErrorCode="YCP0084"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UserXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResetPassword"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AuthAnswerList"/>
        </xsd:all>
        <xsd:attribute name="ExistingPassword" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>The login ID for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Password" type="yfctype:Password" use="optional">
            <xsd:annotation yfc:columnName="PASSWORD" yfc:tableName="YFS_USER">
                <xsd:documentation>The password for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ResetPassword">
        <xsd:annotation yfc:tableName="PLT_PWD_REQ">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If the password request expires.</Condition>
                        <Error
                            Description="Password reset request has expired." ErrorCode="YCP0462"/>
                    </Validation>
                    <Validation>
                        <Condition>If an Invalid Password Request is specified.</Condition>
                        <Error
                            Description="Invalid password reset request specified." ErrorCode="YCP0458"/>
                    </Validation>
                    <Validation>
                        <Condition>If ResetPassword node is opted, and ResetType or RequestId passed are blank.</Condition>
                        <Error
                            Description="Mandatory Parameters are missing." ErrorCode="YFS10364"/>
                    </Validation>
                    <Validation>
                        <Condition>If the Existing Password entered is incorrect.</Condition>
                        <Error
                            Description="The existing password is not correct." ErrorCode="YCP75_00013"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="RequestId" type="yfctype:RequestId" use="optional">
                <xsd:annotation yfc:columnName="REQUEST_ID" yfc:tableName="PLT_PWD_REQ">
                    <xsd:documentation>A generated text to store password reset request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResetType" type="yfctype:ResetType" use="optional">
                <xsd:annotation yfc:columnName="RESET_TYPE" yfc:tableName="PLT_PWD_REQ">
                    <xsd:documentation>The mechanism through which password is to be reset</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AuthAnswerList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AuthAnswer"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AuthAnswer">
        <xsd:annotation yfc:tableName="PLT_AUTH_ANSWER">
            <xsd:documentation>The table is used for storing answers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Answer" type="yfctype:Answer" use="optional">
                <xsd:annotation yfc:columnName="ANSWER" yfc:tableName="PLT_AUTH_ANSWER">
                    <xsd:documentation>Answer for the question.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthAnswerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="AUTH_ANSWER_KEY" yfc:tableName="PLT_AUTH_ANSWER">
                    <xsd:documentation>Primary key attribute of PLT_AUTH_ANSWER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthQuestionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="AUTH_QUESTION_KEY" yfc:tableName="PLT_AUTH_ANSWER">
                    <xsd:documentation>Question Key</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuestionText" type="yfctype:Question" use="optional">
                <xsd:annotation yfc:columnName="QUESTION_TEXT" yfc:tableName="PLT_AUTH_ANSWER">
                    <xsd:documentation>Custom question for an user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
