Data/xapidocs/api_javadocs/XSD/YCP_manageTeam_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageTeam/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageTeam/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageTeam_output.xsd" yfc:rootElement="Team">
        <xsd:appinfo source="yfc:structure">
            <Team hasAttributes="Y">
                <TeamEnterpriseList>
                    <TeamEnterprise hasAttributes="Y">
                        <Enterprise hasAttributes="Y"/>
                    </TeamEnterprise>
                </TeamEnterpriseList>
                <TeamDocTypeList>
                    <TeamDocType hasAttributes="Y"/>
                </TeamDocTypeList>
                <TeamNodesList>
                    <TeamNodes hasAttributes="Y"/>
                </TeamNodesList>
                <SubTeamList>
                    <SubTeam hasAttributes="Y"/>
                </SubTeamList>
            </Team>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Team" type="yfc:TeamXSDType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>
                <div>
					Teams that are used to control end-user access to
					the application data elements are stored here. <code>TeamKey</code> or a combination of  <code>TeamId</code> and <code>OrganizationCode</code> attributes can be used to identify a <code>Team</code>.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TeamXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TeamEnterpriseList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TeamDocTypeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TeamNodesList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubTeamList"/>
        </xsd:all>
        <xsd:attribute name="CustomerAccessMode"
            type="yfctype:CustomerAccessMode" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Customer. Indicates if the team can access all customer data (01), only specified customers (02) assigned to the team, or only specified customers assigned directly to the user, regardless of the Enterprise's manual assignment rule (03). Default Value is 01.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>The description of the Team record.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeAccessMode"
            type="yfctype:DocumentTypeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseAccessMode"
            type="yfctype:EnterpriseAccessMode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
						The Organization that created this team.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentTeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>Refers to the TeamKey of the parent team.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamId" type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>The unique identifier for a team.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
						The primary key attribute for the
						YFS_DATA_SECURITY_GROUP table.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TeamEnterpriseList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TeamEnterprise"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamEnterprise">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
            <xsd:documentation>
                <div>
							This tables stores the enterprises that are
							accessible to users associated to this team.
							<code>TeamEnterpriseKey</code> or  <code>EnterpriseOrgCode</code> can be used to identify a <code>TeamEnterprise</code>.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Enterprise"/>
            </xsd:all>
            <xsd:attribute name="EnterpriseOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_ORG_CODE" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>Organization code of the enterprise to which data access has been granted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamEnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DATA_SECURITY_ENTERPRISE_KEY" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>Primary key attribute of
							YFS_DATA_SECURITY_ENTERPRISE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>
                        <div>
								The primary key attribute for the
								YFS_DATA_SECURITY_GROUP table.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Enterprise">
        <xsd:annotation yfc:tableName="YFS_ENTERPRISE">
            <xsd:documentation>This table stores some of the attributes of an enterprise. Participants that play enterprise role have ability to service orders, view them and create a flow for these orders.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Enterprisename"
                type="yfctype:EnterpriseName" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISENAME" yfc:tableName="YFS_ENTERPRISE">
                    <xsd:documentation>The name of the enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamDocTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TeamDocType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamDocType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
            <xsd:documentation>
                <div>
							This table stores the document types (by
							application) that are accessible by users
							associated to the team.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplicationCode"
                type="yfctype:ModuleId" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Application code for the document type that this data security group has access to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultForModule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_FOR_MODULE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>For future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Document Type that this data security group has access to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModuleCode"
                type="yfctype:ActivityGroup" use="optional">
                <xsd:annotation yfc:columnName="MODULE_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>
                        <div>
								Module code for the document type that this team has access to.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamDocTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DATA_SECURITY_DOC_TYPE_KEY" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>
                        <div>
								The primary key attribute for the
								YFS_DATA_SECURITY_DOC_TYPE table.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>
                        <div>
								The primary key attribute for the
								YFS_DATA_SECURITY_GROUP table.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamNodesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TeamNodes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamNodes">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_NODES">
            <xsd:documentation>
                <div>
							Team Nodes that are used to control end-user
							access to data elements are stored here.							
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                    <xsd:documentation>The primary key for the YFS_SHIP_NODE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubTeamList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubTeam"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubTeam">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>
                <div>
					Sub Teams that are used to control end-user access to
					the application data elements are stored here.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>
                        <div>The description of the SubTeam record.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeAccessMode"
                type="yfctype:DocumentTypeAccessMode" use="optional">
                <xsd:annotation
                    yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Document Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseAccessMode"
                type="yfctype:EnterpriseAccessMode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Data Security Group Key of parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeAccessMode"
                type="yfctype:ShipNodeAccessMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamId"
                type="yfctype:DataSecurityGroupId" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>
                        <div>The unique identifier for a team.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>
                        <div>
						The primary key attribute for the
						YFS_DATA_SECURITY_GROUP table.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
