Data/xapidocs/api_javadocs/XSD/YCP_getDBConnParams_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDBConnParams/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDBConnParams/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDBConnParams_output.xsd" yfc:rootElement="GetDBConnParams">
        <xsd:appinfo source="yfc:structure">
            <GetDBConnParams hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetDBConnParams" type="yfc:GetDBConnParamsXSDType"/>
    <xsd:complexType name="GetDBConnParamsXSDType">
        <xsd:attribute name="ConnectionStr" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>Connect string used while making a jdbc connection</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Password" type="yfctype:String" use="optional"/>
        <xsd:attribute name="UserId" type="yfctype:UserId" use="optional">
            <xsd:annotation>
                <xsd:documentation>UserId used while making a jdbc connection</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
