Data/xapidocs/api_javadocs/XSD/YCP_validateChangedPasswordUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/validateChangedPasswordUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/validateChangedPasswordUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_validateChangedPasswordUE_input.xsd" yfc:rootElement="User">
        <xsd:appinfo source="yfc:structure">
            <User hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="User" type="yfc:UserXSDType">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UserXSDType">
        <xsd:attribute name="Activateflag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER">
                <xsd:documentation>This flag indicates whether a user is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BillingaddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BILLINGADDRESS_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The billing address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BusinessKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The business associated with this user. Identifies a ship node when filled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContactaddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTACTADDRESS_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The contact address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreatorOrganizationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The organization that created the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>
									The Department Key Does not Exist in the database or the organization does not contain the department
								</Condition>
                            <Error
                                Description="The Department code does not exist for the organization." ErrorCode="YCP0256"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Imagefile" type="yfctype:FileName" use="optional">
            <xsd:annotation yfc:columnName="IMAGEFILE" yfc:tableName="YFS_USER">
                <xsd:documentation>The image associated with a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
            <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_USER">
                <xsd:documentation>The locale of a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>The login ID for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Longdesc" type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="LONGDESC" yfc:tableName="YFS_USER">
                <xsd:documentation>The long description for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="MENU_ID" yfc:tableName="YFS_USER">
                <xsd:documentation>The menu ID associated with the user. This is used to display the menus in various applications to which this user has access.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewPassword" type="yfctype:Password" use="required">
            <xsd:annotation>
                <xsd:documentation>The new requested password.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoteKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NOTE_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>A generic note for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldPassword" type="yfctype:Password" use="optional">
            <xsd:annotation yfc:columnName="PASSWORD" yfc:tableName="YFS_USER">
                <xsd:documentation>The user password from the database. Void if there is no exisiting password.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The organization to which a user belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_USER_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The parent user associated with this user. May be used to capture reporting hierarchy. A user has only one parent but may have many children.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreferenceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PREFERENCE_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>Not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Pwdlastchangedon" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="PWDLASTCHANGEDON" yfc:tableName="YFS_USER">
                <xsd:documentation>The last date on which the user's password was changed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Salt" type="yfctype:PasswordSalt" use="optional">
            <xsd:annotation yfc:columnName="SALT" yfc:tableName="YFS_USER">
                <xsd:documentation>Random characters used for password encryption. Regenerated when the password changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The user group associated with this user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
            <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                <xsd:documentation>The name of the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Usertype" type="yfctype:EnumUserType" use="optional">
            <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                <xsd:documentation>This field indicates the user type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
