Data/xapidocs/api_javadocs/XSD/YCP_resolveException_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/resolveException/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/resolveException/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_resolveException_input.xsd" yfc:rootElement="ResolutionDetails">
        <xsd:appinfo source="yfc:structure">
            <ResolutionDetails hasAttributes="Y">
                <Inbox hasAttributes="Y">
                    <InboxReferencesList>
                        <InboxReferences hasAttributes="Y"/>
                    </InboxReferencesList>
                    <InboxNotesList>
                        <InboxNotes hasAttributes="Y"/>
                    </InboxNotesList>
                </Inbox>
            </ResolutionDetails>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResolutionDetails" type="yfc:ResolutionDetailsXSDType">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ResolutionDetailsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Inbox"/>
        </xsd:all>
        <xsd:attribute name="AutoResolvedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUTO_RESOLVED_FLAG" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreHookErrors" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if the error returned by the exception resolution hook should not be displayed in the output XML. Valid values are Y and N. The default is Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolvedBy" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>User who resolved the exception</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Inbox">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>
                <div>
				Exception Master table. All exceptions raised by system are stored in this table. Pass either <code>QueueKey</code> or 
				<code>QueueId</code> and <code>QueueOwnerKey</code> to identify the Queue.
				<Validation>
                        <Condition>Cannot find the <code>Queue</code> specified by the <code>QueueKey</code> or <code>QueueID</code> and <code>QueueOwnerKey</code>.
					</Condition>
                        <Error Description="YFS:No Record Found" ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxReferencesList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxNotesList"/>
            </xsd:all>
            <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception is active and requires resolution.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActiveFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="AssignedToUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The current user to which the exception is assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedToUserKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="AutoResolvedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="AUTO_RESOLVED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AutoResolvedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Indicates a customer associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ClosedOn" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CLOSED_ON"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which the exception was closed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ClosedOnQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="Description"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The description of the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DescriptionQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DetailDescription"
                type="yfctype:DetailDescription" use="optional">
                <xsd:annotation yfc:columnName="DETAIL_DESCRIPTION"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The detailed description of an exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DetailDescriptionQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionEscalatedFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="EXCEPTION_ESCALATED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether an exception was escalated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionEscalatedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionType"
                type="yfctype:ExceptionType-40" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The type of exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FollowupDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FOLLOWUP_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which the exception should be followed up next.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FollowupDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="FromActiveFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromAssignedToUserKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromAutoResolvedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromClosedOn" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromDescription"
                type="yfctype:Description-255" use="optional"/>
            <xsd:attribute name="FromDetailDescription"
                type="yfctype:DetailDescription" use="optional"/>
            <xsd:attribute name="FromEnterpriseKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromExceptionEscalatedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromExceptionType"
                type="yfctype:ExceptionType-40" use="optional"/>
            <xsd:attribute name="FromFollowupDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromGeneratedOn"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxType" type="yfctype:InboxType" use="optional"/>
            <xsd:attribute name="FromItemId" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="FromLastExceedAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromLastUnassignAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromLastUnresolveAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromLockedByUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromLockedFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromLockedOn" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromLockid" type="yfctype:Lockid" use="optional"/>
            <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromOwnerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOwnerType" type="yfctype:OwnerType" use="optional"/>
            <xsd:attribute name="FromParentInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPriority"
                type="yfctype:PriorityWithDecimal" use="optional"/>
            <xsd:attribute name="FromQueueId" type="yfctype:Identifier" use="optional"/>
            <xsd:attribute name="FromQueueKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromResolutionDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromResolveBy" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromShipnodeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromStatus" type="yfctype:EnumStatus3" use="optional"/>
            <xsd:attribute name="FromSupplierKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWaveKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWaveNo" type="yfctype:SequenceNo" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="GeneratedOn" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="GENERATED_ON"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date and time on which the exception was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GeneratedOnQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxType" type="yfctype:InboxType" use="optional">
                <xsd:annotation yfc:columnName="INBOX_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The identifier for the item associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LastExceedAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_EXCEED_ALERT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception was escalated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastExceedAlertQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="LastUnassignAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_UNASSIGN_ALERT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date when the last alert for 'unassignment' was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastUnassignAlertQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="LastUnresolveAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_UNRESOLVE_ALERT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date when the last 'unresolved' alert was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastUnresolveAlertQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="LockedByUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_BY_USER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The user who has been assigned to the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedByUserKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LockedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception is locked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LockedOn" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_ON"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which an exception was assigned to a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedOnQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>If this is passed,InboxKey is mandatory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockidQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="MaximumRecords"
                type="yfctype:Number-11" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Maximum number of records matching the filter criteria to be processed by the API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order line associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order number associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The organization which owns the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ParentInboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentInboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The priority of the exception. A lower number means a higher priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriorityQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:isConditional="Y" yfc:qryTypeSupported="Y">
                    <xsd:documentation>The queue ID for which the exception is assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY"
                    yfc:isConditional="Y" yfc:qryTypeSupported="Y" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>
                        <div>
                            <code>Queue</code> to which the exception belongs. If <code>QueueId</code> and <code>QueueOwnerKey</code> are also passed, they are used to identify the queue, and the <code>QueueKeyQryType</code>, if passed, is not used. 
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="QueueOwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Organization code that owns the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolutionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RESOLUTION_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which the exception was resolved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolutionDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ResolveBy" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RESOLVE_BY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date by which the exception should be resolved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolveByQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The shipnode where the exception was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:EnumStatus3" use="optional">
                <xsd:annotation yfc:columnName="STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The status of the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SupplierKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SUPPLIER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The supplier code associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplierKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TeamCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Indicates a team associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToActiveFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToAssignedToUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToAutoResolvedFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToClosedOn" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToDescription"
                type="yfctype:Description-255" use="optional"/>
            <xsd:attribute name="ToDetailDescription"
                type="yfctype:DetailDescription" use="optional"/>
            <xsd:attribute name="ToEnterpriseKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToExceptionEscalatedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToExceptionType"
                type="yfctype:ExceptionType-40" use="optional"/>
            <xsd:attribute name="ToFollowupDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToGeneratedOn" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxType" type="yfctype:InboxType" use="optional"/>
            <xsd:attribute name="ToItemId" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="ToLastExceedAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToLastUnassignAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToLastUnresolveAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToLockedByUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToLockedFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToLockedOn" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToLockid" type="yfctype:Lockid" use="optional"/>
            <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToOwnerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOwnerType" type="yfctype:OwnerType" use="optional"/>
            <xsd:attribute name="ToParentInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPriority"
                type="yfctype:PriorityWithDecimal" use="optional"/>
            <xsd:attribute name="ToQueueId" type="yfctype:Identifier" use="optional"/>
            <xsd:attribute name="ToQueueKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToResolutionDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToResolveBy" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToShipnodeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToStatus" type="yfctype:EnumStatus3" use="optional"/>
            <xsd:attribute name="ToSupplierKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWaveKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWaveNo" type="yfctype:SequenceNo" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WAVE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The wave associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The wave number that uniquely identifies the wave within the context of a node.  This is system generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The work order associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The work order number within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxReferencesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxReferences"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxReferences">
        <xsd:annotation yfc:tableName="YFS_INBOX_REFERENCES">
            <xsd:documentation>Dynamic references can be stored with an exception. This table stores references attached with an exception</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxReferenceKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromName" type="yfctype:ReferenceName" use="optional"/>
            <xsd:attribute name="FromReferenceType"
                type="yfctype:ReferenceType" use="optional"/>
            <xsd:attribute name="FromValue"
                type="yfctype:ReferenceValue-2000" use="optional"/>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>The inbox exception to which a particular reference is maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_REFERENCE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Primary key attribute of YFS_INBOX_REFERENCES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxReferenceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Name" type="yfctype:ReferenceName" use="optional">
                <xsd:annotation yfc:columnName="NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Name of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReferenceType"
                type="yfctype:ReferenceType" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Type of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxReferenceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToName" type="yfctype:ReferenceName" use="optional"/>
            <xsd:attribute name="ToReferenceType"
                type="yfctype:ReferenceType" use="optional"/>
            <xsd:attribute name="ToValue"
                type="yfctype:ReferenceValue-2000" use="optional"/>
            <xsd:attribute name="Value"
                type="yfctype:ReferenceValue-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Value for the reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ValueQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxNotesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxNotes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxNotes">
        <xsd:annotation yfc:tableName="YFS_INBOX_NOTES">
            <xsd:documentation>This table provides the capability to add notes to an alert</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuditTransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditTransactionIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactReference"
                type="yfctype:NotesContactReference" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_REFERENCE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone number can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactReferenceQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_USER"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The user who made the contact. The default value is the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactUserQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_SAT_INDICATOR"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSatIndicatorQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromAuditTransactionId"
                type="yfctype:TransactionID" use="optional"/>
            <xsd:attribute name="FromContactReference"
                type="yfctype:NotesContactReference" use="optional"/>
            <xsd:attribute name="FromContactType"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="FromContactUser" type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="FromCustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional"/>
            <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxNotesKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromNoteText" type="yfctype:NoteText" use="optional"/>
            <xsd:attribute name="FromReasonCode"
                type="yfctype:ReasonCode" use="optional"/>
            <xsd:attribute name="FromSequenceNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromTranid" type="yfctype:TranId" use="optional"/>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Link to the parent alert on which notes are to be added.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxNotesKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_NOTES_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The primary key for the YFS_INBOX_NOTES table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxNotesKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TEXT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteTextQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNoQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ToAuditTransactionId"
                type="yfctype:TransactionID" use="optional"/>
            <xsd:attribute name="ToContactReference"
                type="yfctype:NotesContactReference" use="optional"/>
            <xsd:attribute name="ToContactType"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="ToContactUser" type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="ToCustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional"/>
            <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxNotesKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToNoteText" type="yfctype:NoteText" use="optional"/>
            <xsd:attribute name="ToReasonCode" type="yfctype:ReasonCode" use="optional"/>
            <xsd:attribute name="ToSequenceNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToTranid" type="yfctype:TranId" use="optional"/>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranidQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
