Data/xapidocs/api_javadocs/XSD/YCP_getQualifiedTagVerCompatbltyDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getQualifiedTagVerCompatbltyDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getQualifiedTagVerCompatbltyDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getQualifiedTagVerCompatbltyDetails_input.xsd" yfc:rootElement="QualifiedTagVersionCompatibility">
        <xsd:appinfo source="yfc:structure">
            <QualifiedTagVersionCompatibility hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QualifiedTagVersionCompatibility" type="yfc:QualifiedTagVersionCompatibilityXSDType">
        <xsd:annotation yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
            <xsd:documentation>
                <div>
		To identify the <code>QualifiedTagVersionCompatibility</code> record, pass <code>QualifiedTagVersionCompatibilityKey</code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QualifiedTagVersionCompatibilityXSDType">
        <xsd:attribute name="QualifiedTagVersionCompatibilityKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QULFD_TAG_VER_COMPTBLT_KEY" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Primary key attribute of PLT_QUALIFIED_TAG_VER_COMPTBLT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
