Data/xapidocs/api_javadocs/XSD/YCP_getStatusMilestoneDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getStatusMilestoneDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getStatusMilestoneDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getStatusMilestoneDetails_input.xsd" yfc:rootElement="StatusMilestone">
        <xsd:appinfo source="yfc:structure">
            <StatusMilestone hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StatusMilestone" type="yfc:StatusMilestoneXSDType">
        <xsd:annotation yfc:tableName="YFS_STATUS_MILESTONE">
            <xsd:documentation>
                <div>
				Stores milestones attached to a status. Either <code>StatusMilestoneKey</code> or a unique combination of <code>ProcessTypeKey</code>, <code>Status</code>, <code>DateTypeId</code> and <code>MilestoneLevel</code> has to be passed to get the details for a StatusMilestone.
				<Validation>
                        <Condition>If existing StatusMilestoneKey or a unique combination of ProcessTypeKey, Status, DateTypeId and MilestoneLevel is not passed.</Condition>
                        <Error Description="YFS:No Record Found" ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StatusMilestoneXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If CallingOrganizationCode is passed, then it will
				be used as the context organization. This, combined
				with the configuration data setup for status milestones,
				will result in data filtered for access by the given organization.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeId" type="yfctype:DateTypeId" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_ID" yfc:tableName="YFS_STATUS_MILESTONE">
                <xsd:documentation>Identifies a date type for which additional dates are stored</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MilestoneLevel"
            type="yfctype:MilestoneLevel" use="optional">
            <xsd:annotation yfc:columnName="MILESTONE_LEVEL" yfc:tableName="YFS_STATUS_MILESTONE">
                <xsd:documentation>Possible values are '01' for Order,'02' for Order Line, '03' for Order Release</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_STATUS_MILESTONE">
                <xsd:documentation>The owner organization for this status milestone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_STATUS_MILESTONE">
                <xsd:documentation>Primary key of the process type associated with a status milestone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS_MILESTONE">
                <xsd:documentation>Pick up status</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusMilestoneKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STATUS_MILESTONE_KEY" yfc:tableName="YFS_STATUS_MILESTONE">
                <xsd:documentation>Primary Key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
