Data/xapidocs/api_javadocs/XSD/YCP_getModificationTypeAttributes_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getModificationTypeAttributes/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getModificationTypeAttributes/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getModificationTypeAttributes_output.xsd" yfc:rootElement="DocumentTypeList">
        <xsd:appinfo source="yfc:structure">
            <DocumentTypeList>
                <DocumentType hasAttributes="Y">
                    <ProcessTypes>
                        <ProcessType hasAttributes="Y">
                            <ModificationLevels>
                                <ModificationLevel hasAttributes="Y">
                                    <ModificationTypes>
                                    <ModificationType hasAttributes="Y">
                                    <Attributes>
                                    <Attribute hasAttributes="Y"/>
                                    </Attributes>
                                    </ModificationType>
                                    </ModificationTypes>
                                </ModificationLevel>
                            </ModificationLevels>
                        </ProcessType>
                    </ProcessTypes>
                </DocumentType>
            </DocumentTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DocumentTypeList" type="yfc:DocumentTypeListXSDType"/>
    <xsd:complexType name="DocumentTypeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DocumentType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DocumentType">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProcessTypes"/>
            </xsd:all>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The document type that is associated with this process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProcessTypes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ProcessType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProcessType">
        <xsd:annotation yfc:tableName="YFS_PROCESS_TYPE">
            <xsd:documentation>This table stores various process types in the system. Scenario modeling is done for a given process type. All transactions, status and pipeline belong to one process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ModificationLevels"/>
            </xsd:all>
            <xsd:attribute name="BaseProcessType"
                type="yfctype:ProcessType-40" use="optional">
                <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The base process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessType"
                type="yfctype:ProcessType-40" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The unique identifier for the process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ModificationLevels">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ModificationLevel"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ModificationLevel">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ModificationTypes"/>
            </xsd:all>
            <xsd:attribute name="ModificationLevel"
                type="yfctype:ModificationLevel" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_LEVEL" yfc:tableName="YFS_STATUS_MODIFICATION_TYPE">
                    <xsd:documentation>The Level at which a modification is defined. For example Header/Line/Release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ModificationTypes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ModificationType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ModificationType">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attributes"/>
            </xsd:all>
            <xsd:attribute name="CustomModificationType"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
	                            	Indicates if a modification type is a custom modification.                                
	                            </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModificationType"
                type="yfctype:ModificationType" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_TYPE" yfc:tableName="YFS_STATUS_MODIFICATION_TYPE">
                    <xsd:documentation>Modification type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attributes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Attribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Value" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
		    	                        	The value of the Attribute.                                
		        	                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
