Data/xapidocs/api_javadocs/XSD/YCP_createAccessToken_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createAccessToken/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createAccessToken/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_createAccessToken_input.xsd" yfc:rootElement="AccessToken">
        <xsd:appinfo source="yfc:structure">
            <AccessToken hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AccessToken" type="yfc:AccessTokenXSDType">
        <xsd:annotation yfc:tableName="PLT_ACCESS_TOKEN">
            <xsd:documentation>
                <div>Only one of TokenExpireDuration and TokenExpireTS attributes should be provided. If both are provided, TokenExpireTS will be used. If none are provided, TokenExpireDuration will be defaulted based on properties.</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AccessTokenXSDType">
        <xsd:attribute name="ApplicationName"
            type="yfctype:ApplicationName" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_NAME" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The application associated with the token.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SessionId" type="yfctype:SessionId" use="optional">
            <xsd:annotation yfc:columnName="SESSION_ID" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The identifier for the session for which the token was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TokenExpireTS" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="TOKEN_EXPIRE_TS" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>Timestamp when the token expires.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TokenExpireTime"
            type="yfctype:AccessTokenExpireTime" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Number of seconds from creation before the token expires.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The login id of the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
