Data/xapidocs/api_javadocs/XSD/YCP_getPage_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPage/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPage/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPage_output.xsd" yfc:rootElement="Page">
        <xsd:appinfo source="yfc:structure">
            <Page hasAttributes="Y">
                <Output/>
            </Page>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Page" type="yfc:PageXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>Contains metadata for the returned page</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PageXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Output"/>
        </xsd:all>
        <xsd:attribute name="GeneratedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Time the page set was generated on.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsFirstPage" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Boolean">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsLastPage" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Boolean">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsValidPage" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Boolean">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PageNumber" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The page number of this page. Set to -1 if the page number is unknown.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PageSetToken" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Reference to the current set of pages. This should be used in future getPage invocations to get more data, and passed to the deletePageCache API when the data is no longer needed.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PageSize" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Number of records per page</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartRowNumber" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Row number of the first record in the page. Set to -1 if the row number is unknown.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfPages" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Total number of pages in the page set. If this is unknown and the root element of the API output contains a TotalNumberOfRecords attribute, then this will be derived from that number and the page size. Set to -1 if the total number of pages is unknown.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Output">
        <xsd:annotation>
            <xsd:documentation>
                <div>The output of the invoked API is returned as a child of this element.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
