Data/xapidocs/api_javadocs/XSD/YCP_getPriceProgramList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPriceProgramList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPriceProgramList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPriceProgramList_output.xsd" yfc:rootElement="PriceProgramList">
        <xsd:appinfo source="yfc:structure">
            <PriceProgramList>
                <PriceProgram hasAttributes="Y"/>
            </PriceProgramList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceProgramList" type="yfc:PriceProgramListXSDType"/>
    <xsd:complexType name="PriceProgramListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PriceProgram"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PriceProgram">
        <xsd:annotation yfc:tableName="YFS_PRICE_PROGRAM">
            <xsd:documentation>A buying organization can be assigned a price program by selling organization. Price programs are always defined by selling organizations This table stores valid price programs as defined by selling organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                    <xsd:documentation>Link to YFS_Organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceProgramDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICE_PROGRAM_DESCRIPTION" yfc:tableName="YFS_PRICE_PROGRAM">
                    <xsd:documentation>Description of a price program.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceProgramKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_PROGRAM_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                    <xsd:documentation>Primary key that identifies a price program.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceProgramName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRICE_PROGRAM_NAME" yfc:tableName="YFS_PRICE_PROGRAM">
                    <xsd:documentation>The price program used for pricing the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
