Data/xapidocs/api_javadocs/XSD/YCP_getActivityConfigMetadataList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getActivityConfigMetadataList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getActivityConfigMetadataList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getActivityConfigMetadataList_output.xsd" yfc:rootElement="ActivityConfigMetadataList">
        <xsd:appinfo source="yfc:structure">
            <ActivityConfigMetadataList>
                <ActivityConfigMetadata hasAttributes="Y"/>
            </ActivityConfigMetadataList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ActivityConfigMetadataList" type="yfc:ActivityConfigMetadataListXSDType"/>
    <xsd:complexType name="ActivityConfigMetadataListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ActivityConfigMetadata"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ActivityConfigMetadata">
        <xsd:annotation yfc:tableName="PLT_ACTIVITY_CONFIG_METADATA">
            <xsd:documentation>This table contains metadata information for activity events configuration.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityConfigMetadataKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ACTIVITY_CONFIG_METADATA_KEY" yfc:tableName="PLT_ACTIVITY_CONFIG_METADATA">
                    <xsd:documentation>The primary key of the PLT_ACTIVITY_CONFIG_METADATA table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConfigMetadataXML" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="CONFIG_METADATA_XML" yfc:tableName="PLT_ACTIVITY_CONFIG_METADATA">
                    <xsd:documentation>A long column used to store activity configuration metadata.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
