Data/xapidocs/api_javadocs/XSD/YCP_login_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/login/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/login/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_login_output.xsd" yfc:rootElement="Login">
        <xsd:appinfo source="yfc:structure">
            <Login hasAttributes="Y">
                <PasswordPolicyResult/>
            </Login>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Login" type="yfc:LoginXSDType"/>
    <xsd:complexType name="LoginXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PasswordPolicyResult"/>
        </xsd:all>
        <xsd:attribute name="ActivateFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER">
                <xsd:documentation>This flag indicates whether a user is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BillingAddress_Key" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BILLINGADDRESS_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The billing address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Business_Key" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The business associated with this user. Identifies a ship node when filled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangePasswordLink" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates the URL to change the user password if an authentication to an external system (like an LDAP system) is implemented.
       </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContactAddress_Key" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTACTADDRESS_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The contact address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DaysUntilExpiration" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates the number of days in which the password will expire based on password policy.
       </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayUserID" type="yfctype:Text-150" use="optional">
            <xsd:annotation yfc:columnName="DISPLAY_USER_ID" yfc:tableName="YFS_USER">
                <xsd:documentation>Indicates Display User's ID which is used for login in to the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_USER">
                <xsd:documentation>The Customer Master Organization Code of the User's Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpiresInDays" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates the number of days in which the password will expire if an authentication to an external system (like an LDAP system) is implemented.
       </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ImageFile" type="yfctype:FileName" use="optional">
            <xsd:annotation yfc:columnName="IMAGEFILE" yfc:tableName="YFS_USER">
                <xsd:documentation>The image associated with a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
            <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_USER">
                <xsd:documentation>The locale of a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoginID" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>The login ID for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LongDesc" type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="LONGDESC" yfc:tableName="YFS_USER">
                <xsd:documentation>The long description for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Note_Key" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NOTE_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>A generic note for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The organization to which a user belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PWDLastChangedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="PWDLASTCHANGEDON" yfc:tableName="YFS_USER">
                <xsd:documentation>The last date on which the user's password was changed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Password" type="yfctype:Password" use="optional">
            <xsd:annotation yfc:columnName="PASSWORD" yfc:tableName="YFS_USER">
                <xsd:documentation>The password for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Preference_Key" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PREFERENCE_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>Not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequirePasswordChange"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates if password is required to be changed based on password policy.
       </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserGroupID" type="yfctype:UserGroup" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>A unique identifier to the user group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserGroup_Description"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_DESCRIPTION" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Description of a user group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserGroup_Key" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Primary key attribute of YFS_USER_GROUP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserGroup_Name"
            type="yfctype:UserGroupName" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_NAME" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Name of a user group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserName" type="yfctype:UserName" use="optional">
            <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                <xsd:documentation>The name of the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserToken" type="yfctype:SessionId" use="optional">
            <xsd:annotation yfc:columnName="SESSION_ID" yfc:tableName="YFS_USER_ACTIVITY">
                <xsd:documentation>The identifier for the session used by the user. A session is a series of interactions between two communication end points that occur during the span of a single connection.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserType" type="yfctype:EnumUserType" use="optional">
            <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                <xsd:documentation>This field indicates the user type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="User_key" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PasswordPolicyResult">
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
