Data/xapidocs/api_javadocs/XSD/YCP_getServerActivityConfigList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getServerActivityConfigList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getServerActivityConfigList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getServerActivityConfigList_input.xsd" yfc:rootElement="ServerActivityConfig">
        <xsd:appinfo source="yfc:structure">
            <ServerActivityConfig hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ServerActivityConfig" type="yfc:ServerActivityConfigXSDType">
        <xsd:annotation yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
            <xsd:documentation>This table contains applied activity configuration for servers.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServerActivityConfigXSDType">
        <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE" yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
                <xsd:documentation>Flag to indicate if the configuration is active on the server.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigId" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_ID" yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
                <xsd:documentation>The name of the configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServerActivityConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SERVER_ACTIVITY_CONFIG_KEY" yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
                <xsd:documentation>The primary key of the PLT_SERVER_ACTIVITY_CONFIG table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServerName" type="yfctype:ServerName" use="optional">
            <xsd:annotation yfc:columnName="SERVER_NAME" yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
                <xsd:documentation>The unique name to identify a server.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
