Data/xapidocs/api_javadocs/XSD/YCP_getTraceList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTraceList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTraceList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTraceList_input.xsd" yfc:rootElement="Traces">
        <xsd:appinfo source="yfc:structure">
            <Traces hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Traces" type="yfc:TracesXSDType"/>
    <xsd:complexType name="TracesXSDType">
        <xsd:attribute name="ServerName" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>ServerId of the server on which trace has been applied.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>The type of trace. If not passed, all traceable components currently being traced are returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
