Data/xapidocs/api_javadocs/XSD/YCP_getEntityAttributeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getEntityAttributeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getEntityAttributeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getEntityAttributeList_output.xsd" yfc:rootElement="Entity">
        <xsd:appinfo source="yfc:structure">
            <Entity hasAttributes="Y">
                <Attributes hasAttributes="Y">
                    <Attribute hasAttributes="Y"/>
                </Attributes>
                <ExtnAttributes hasAttributes="Y">
                    <Attribute hasAttributes="Y"/>
                </ExtnAttributes>
            </Entity>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Entity" type="yfc:EntityXSDType"/>
    <xsd:complexType name="EntityXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attributes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ExtnAttributes"/>
        </xsd:all>
        <xsd:attribute name="Name" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        Used to indicate which entity to access.
                        <br/>
                        <br/>Valid Values:
                        <br/>
                        <code>ITEM</code> - Retrieve attributes for YFS_ITEM
                        <br/>
                        <code>ITEM_TAG</code> - Retrieve attributes for YFS_ITEM_TAG
                        <br/>
                        <code>ENTITLE_RULE_ASSIGNMENT</code> - Retrieve attributes for YFS_ENTITLE_RULE_ASSIGNMENT
                        <br/>
                        <code>PRICELIST_ASSIGNMENT</code> - Retrieve attributes for YPM_PRICELIST_ASSIGNMENT
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="XMLName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The XML name of the entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Attributes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attribute">
                    <xsd:complexType>
                        <xsd:attribute name="XMLGroup"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>The XML group of an attribute within the entity.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="XMLName"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>The XML name of an attribute within the entity.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExtnAttributes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Attribute">
                    <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                        <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="XMLGroup"
                            type="yfctype:String" use="optional"/>
                        <xsd:attribute name="XMLName"
                            type="yfctype:String" use="optional"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
