Data/xapidocs/api_javadocs/XSD/YCP_manageServerActivityConfig_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageServerActivityConfig/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageServerActivityConfig/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageServerActivityConfig_input.xsd" yfc:rootElement="ServerActivityConfig">
        <xsd:appinfo source="yfc:structure">
            <ServerActivityConfig hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ServerActivityConfig" type="yfc:ServerActivityConfigXSDType">
        <xsd:annotation yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and an invalid <code>ServerActivityConfigKey</code> is passed.
					</Condition>
                        <Error Description="YCP:No Record Found." ErrorCode="YCP0045"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and ServerActivityConfigKeyis blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServerActivityConfigXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE" yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
                <xsd:documentation>Flag to indicate if the configuration is active on the server.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigId" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_ID" yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
                <xsd:documentation>The name of the configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServerActivityConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SERVER_ACTIVITY_CONFIG_KEY" yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
                <xsd:documentation>The primary key of the PLT_SERVER_ACTIVITY_CONFIG table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServerName" type="yfctype:ServerName" use="optional">
            <xsd:annotation yfc:columnName="SERVER_NAME" yfc:tableName="PLT_SERVER_ACTIVITY_CONFIG">
                <xsd:documentation>The unique name to identify a server.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
