Data/xapidocs/api_javadocs/XSD/YCP_deleteResourceHierarchy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteResourceHierarchy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteResourceHierarchy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_deleteResourceHierarchy_input.xsd" yfc:rootElement="Resource">
        <xsd:appinfo source="yfc:structure">
            <Resource hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Resource" type="yfc:ResourceXSDType">
        <xsd:annotation yfc:tableName="YFS_RESOURCE">
            <xsd:documentation>This table stores and maintains all resources in an application. The permissions are granted on a resource to a user group.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ResourceXSDType">
        <xsd:attribute name="ResourceId" type="yfctype:ResourceId-255" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>The unique identifier of a resource.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>The primary key of the YFS_RESOURCE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
