Data/xapidocs/api_javadocs/XSD/YCP_getResourceHierarchy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getResourceHierarchy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getResourceHierarchy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getResourceHierarchy_input.xsd" yfc:rootElement="getResourceHierarchy">
        <xsd:appinfo source="yfc:structure">
            <getResourceHierarchy hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getResourceHierarchy" type="yfc:getResourceHierarchyXSDType">
        <xsd:annotation yfc:tableName="YFS_RESOURCE">
            <xsd:documentation>
                <div>
				Stores and maintains all resources in an application. Permissions on a resource are granted to a user group.<br>
				If you need all the resources in a hierarchical fashion, do not send the attributes (that is, send a blank document).</br>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getResourceHierarchyXSDType">
        <xsd:attribute name="ResourceId" type="yfctype:ResourceId-255" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>The unique identifier of a resource.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>The primary key of the YFS_RESOURCE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
