Data/xapidocs/api_javadocs/XSD/YCP_getCustomerSubscriptionDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCustomerSubscriptionDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCustomerSubscriptionDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getCustomerSubscriptionDetails_input.xsd" yfc:rootElement="CustomerSubscription">
        <xsd:appinfo source="yfc:structure">
            <CustomerSubscription hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerSubscription" type="yfc:CustomerSubscriptionXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
            <xsd:documentation>
                <div>
				Specify the unique identification of a customer subscription.  <code>CustomerSubscriptionKey</code> or a combination of <code>OrganizationCode</code>, <code>CustomerID</code> and <code>SubscriptionNo</code> can be specified to identify a customer subscription.
					<Validation>
                        <Condition>If no customer subscription matches the criteria</Condition>
                        <Error Description="No Record Found." ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerSubscriptionXSDType">
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The identifier for the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerSubscriptionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_SUBSCRIPTION_KEY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The primary key for the YFS_CUSTOMER_SUBSCRIPTION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_NO" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The number of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
