Data/xapidocs/api_javadocs/XSD/YCP_getNegotiationList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNegotiationList_output.xsd" yfc:rootElement="Negotiations">
        <xsd:appinfo source="yfc:structure">
            <Negotiations hasAttributes="Y">
                <Negotiation hasAttributes="Y"/>
            </Negotiations>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Negotiations" type="yfc:NegotiationsXSDType"/>
    <xsd:complexType name="NegotiationsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Negotiation"/>
        </xsd:sequence>
        <xsd:attribute name="LastNegotiationKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>Last Negotiation Header Key in the output.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastRecordSet" type="yfctype:String" use="optional"/>
        <xsd:attribute name="RecordSet" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag to indicate if the records obtained are a complete list. If there are more than 500 records matching the criteria passed in input xml, only 500 records are returned and this flag is set to <b>N</b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNegotiationList" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Negotiation">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_HDR">
            <xsd:documentation>Primary negotiation table. This table stores all order negotiations in the system. There can be zero or many negotations for an order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_ACTION" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_REFERENCE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Order number of the order for this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Document type of the order for this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Enterprise of the order for which this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Enterprise of the order for which this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is FOB of order. This can be configured as a negotiable attribute in yfs_negotiable_hdr_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeaderEntity" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="HEADER_ENTITY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is base document type of negotiation. Currently, it can have value ORDER only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeaderEntityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="HEADER_ENTITY_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Primary key of the order for which this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InitiatorOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="INITIATOR_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is order's buyer's organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastResponseAction"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="LAST_RESPONSE_ACTION" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>The action on the last response on the the negotiation. For example if last response on this negotiation was accept (1500)  then this will have value 1500.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastResponseOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="LAST_RESPONSE_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Oraganization that has last responded to the negotiation. This will be either initiator_org_code or negotiator_org_code of the negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="NEGOTIATION_EXPIRATION_DATE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Date when negotiation expires. No logic is built on this. But, negotiation monitor can be configured to raise alerts on this.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Primary key. Always system generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Part of unique key of negotiation. Enterprise code and negotiation number together uniquely identify a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiatorOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATOR_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is order's seller organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTerms" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is terms_code of order. This can be configured as a negotiable attribute in yfs_negotiable_hdr_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is deprecated in version 5.0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Status of this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDescription"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Description of this negotiation status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Flag to indicate if the record is from the History table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
