Data/xapidocs/api_javadocs/XSD/YCP_determinePrintJobNameUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/determinePrintJobNameUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/determinePrintJobNameUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_determinePrintJobNameUE_input.xsd" yfc:rootElement="PrintDocument">
        <xsd:appinfo source="yfc:structure">
            <PrintDocument hasAttributes="Y">
                <LabelPreference hasAttributes="Y"/>
                <PrinterPreference hasAttributes="Y"/>
                <KeyAttributes>
                    <KeyAttribute hasAttributes="Y"/>
                </KeyAttributes>
                <InputData hasAttributes="Y">
                    <Template/>
                </InputData>
            </PrintDocument>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PrintDocument" type="yfc:PrintDocumentXSDType">
        <xsd:annotation yfc:tableName="YFS_PRINT_DOCUMENT">
            <xsd:documentation>This entity contains the definition of all the documents that will be printed using the print-infrastructure along with their descriptions and the default label format to be used for the document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PrintDocumentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LabelPreference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrinterPreference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:KeyAttributes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InputData"/>
        </xsd:all>
        <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>The document that will be printed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintJobName" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>The PrintJobName determined by the default logic.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LabelPreference">
        <xsd:annotation yfc:tableName="YFS_LABEL_PREFERENCE">
            <xsd:documentation>This entity defines the label format to be used for different documents for different criteria.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Organization code of buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Enterprise Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Equipment type name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfCopies" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_NO_OF_COPIES" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Default Number Of Copies for this Label.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Primary key attribute of YFS_SHIP_NODE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Organization code of seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrinterPreference">
        <xsd:annotation yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
            <xsd:documentation>This entity defines the printers to be used for different documents based on attributes such as User, UserGroup etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>
                        <div>
							The Organization for which the printer has to be determined.
							<Validation>
                                <Condition>
                                    <code>OrganizationCode</code> should be a valid Organization. </Condition>
                                <Error
                                    Description="Invalid Organization Code." ErrorCode="YCP0040"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrinterId" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The device id of the printer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                    <xsd:documentation>Unique key of YFS_USER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                    <xsd:documentation>Unique key of YFS_USER_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkStationId"
                type="yfctype:EquipmentId" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Work Station with which the printer is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="KeyAttributes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:KeyAttribute"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="KeyAttribute">
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InputData">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Template"/>
            </xsd:all>
            <xsd:attribute name="APIName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FlowName" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Template">
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
