Data/xapidocs/api_javadocs/XSD/YCP_getDropStatus_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDropStatus/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDropStatus/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDropStatus_output.xsd" yfc:rootElement="GetDropStatusOutput">
        <xsd:appinfo source="yfc:structure">
            <GetDropStatusOutput>
                <PipelineStatus hasAttributes="Y"/>
            </GetDropStatusOutput>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetDropStatusOutput" type="yfc:GetDropStatusOutputXSDType"/>
    <xsd:complexType name="GetDropStatusOutputXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PipelineStatus"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PipelineStatus">
        <xsd:annotation yfc:tableName="YFS_PIPELINE_DEFINITION">
            <xsd:documentation>Defines the list of base drop status for a transaction within a pipeline. Transaction Instance provides ability to have same transaction appear more than once within a pipeline definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE_DEFINITION">
                    <xsd:documentation>Pipeline</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DROP_STATUS" yfc:tableName="YFS_PIPELINE_DROP_STS_COND">
                    <xsd:documentation>The dropped status</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
