Data/xapidocs/api_javadocs/XSD/YCP_getApplicationVersionList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getApplicationVersionList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getApplicationVersionList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getApplicationVersionList_input.xsd" yfc:rootElement="ApplicationVersion">
        <xsd:appinfo source="yfc:structure">
            <ApplicationVersion hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ApplicationVersion" type="yfc:ApplicationVersionXSDType">
        <xsd:annotation yfc:tableName="PLT_APPLICATION_VERSION">
            <xsd:documentation>Stores application version information</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ApplicationVersionXSDType">
        <xsd:attribute name="ApplicationCode"
            type="yfctype:ApplicationCode" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="PLT_APPLICATION_VERSION">
                <xsd:documentation>Code to identify an application</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationVersion"
            type="yfctype:ApplicationVersion" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_VERSION" yfc:tableName="PLT_APPLICATION_VERSION">
                <xsd:documentation>Application version identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationVersionDesc"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_VERSION_DESC" yfc:tableName="PLT_APPLICATION_VERSION">
                <xsd:documentation>Application version description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationVersionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_VERSION_KEY" yfc:tableName="PLT_APPLICATION_VERSION">
                <xsd:documentation>Primary key attribute of PLT_APPLICATION_VERSION.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModuleVersion" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:TFBoolean">
                    <xsd:enumeration value="false"/>
                    <xsd:enumeration value="true"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
