Data/xapidocs/api_javadocs/XSD/YCP_getCachedDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCachedDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCachedDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCachedDetails_output.xsd" yfc:rootElement="CachedGroups">
        <xsd:appinfo source="yfc:structure">
            <CachedGroups>
                <CachedGroup hasAttributes="Y">
                    <CachedObject hasAttributes="Y"/>
                </CachedGroup>
            </CachedGroups>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CachedGroups" type="yfc:CachedGroupsXSDType"/>
    <xsd:complexType name="CachedGroupsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CachedGroup"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="CachedGroup">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CachedObject"/>
            </xsd:all>
            <xsd:attribute name="Name" type="yfctype:Text-200" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Name of the cache Group</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberCached" type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Objects Cached</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberEnabled" type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Name of Objects enabled for caching</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CachedObject">
        <xsd:complexType>
            <xsd:attribute name="Class" type="yfctype:Text-200" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Name of the java class that is cached</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Enabled" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if cache is enabled for this class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Limit" type="yfctype:CacheLimit" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Limit in number up to which caching for this class is done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SizeLimit" type="yfctype:CacheLimit" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Limit in size in kbytes up to which caching for this class is done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isSizeBasedAlgo" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if size based caching is enabled for this class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
