Data/xapidocs/api_javadocs/XSD/YCP_getServiceList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getServiceList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getServiceList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getServiceList_input.xsd" yfc:rootElement="Service">
        <xsd:appinfo source="yfc:structure">
            <Service hasAttributes="Y">
                <OrgServiceList>
                    <OrgService hasAttributes="Y"/>
                </OrgServiceList>
                <ResourceList>
                    <Resource hasAttributes="Y">
                        <ResourcePermissionList>
                            <ResourcePermission hasAttributes="Y"/>
                        </ResourcePermissionList>
                    </Resource>
                </ResourceList>
            </Service>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Service" type="yfc:ServiceXSDType">
        <xsd:annotation yfc:tableName="YFS_SERVICE">
            <xsd:documentation>Services are collection of roles. An organization providing a service would mean it plays all the roles listed under the service.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServiceXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrgServiceList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourceList"/>
        </xsd:all>
        <xsd:attribute name="FromRoleKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromServiceDesc"
            type="yfctype:Description-255" use="optional"/>
        <xsd:attribute name="FromServiceKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromServiceName" type="yfctype:ServiceName" use="optional"/>
        <xsd:attribute name="RoleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ROLE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>A role included as part of a service</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoleKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ServiceDesc" type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_DESC"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>Description of the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceDescQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>Primary key attribute of YFS_SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ServiceName" type="yfctype:ServiceName" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>Name of the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToRoleKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToServiceDesc"
            type="yfctype:Description-255" use="optional"/>
        <xsd:attribute name="ToServiceKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToServiceName" type="yfctype:ServiceName" use="optional"/>
    </xsd:complexType>
    <xsd:element name="OrgServiceList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrgService"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrgService">
        <xsd:annotation yfc:tableName="YFS_ORG_SERVICE">
            <xsd:documentation>Stores services provided by an organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromOrgServiceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrganizationKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromServiceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="OrgServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORG_SERVICE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORG_SERVICE">
                    <xsd:documentation>Primary key attribute of YFS_ORG_SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrgServiceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORG_SERVICE">
                    <xsd:documentation>Organization providing the service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORG_SERVICE">
                    <xsd:documentation>A service being provided by an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToOrgServiceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrganizationKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToServiceKey" type="yfctype:Key" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourceList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Resource"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Resource">
        <xsd:annotation yfc:tableName="YFS_RESOURCE">
            <xsd:documentation>This table stores and maintains all resources in an application. The permissions are granted on a resource to a user group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePermissionList"/>
            </xsd:all>
            <xsd:attribute name="ApplicationName"
                type="yfctype:ApplicationName" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>An application associated with the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BehaviorClassName"
                type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="BEHAVIOR_CLASS_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A java class that controls the behavior of a graphical user interface form.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BehaviorClassNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CanAddToMenu" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_ADD_TO_MENU"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This indicates whether a resource can be added to the menu. The resources added to menus are always at the leaf node of the menu hierarchy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanAddToMenuQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="EventComponent"
                type="yfctype:EventComponent" use="optional">
                <xsd:annotation yfc:columnName="EVENT_COMPONENT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A java event component on a form.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EventComponentQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FormClassName" type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="FORM_CLASS_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A java class name that is of a graphical user interface form associated with a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FormClassNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromApplicationName"
                type="yfctype:ApplicationName" use="optional"/>
            <xsd:attribute name="FromBehaviorClassName"
                type="yfctype:JavaClass" use="optional"/>
            <xsd:attribute name="FromCanAddToMenu" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromEventComponent"
                type="yfctype:EventComponent" use="optional"/>
            <xsd:attribute name="FromFormClassName"
                type="yfctype:JavaClass" use="optional"/>
            <xsd:attribute name="FromIsPermissionControlled"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromOrigResourceId"
                type="yfctype:ResourceId-40" use="optional"/>
            <xsd:attribute name="FromOutputXmlTemplateFileName"
                type="yfctype:FileName" use="optional"/>
            <xsd:attribute name="FromOutputXslTemplateFileName"
                type="yfctype:FileName" use="optional"/>
            <xsd:attribute name="FromParameter1"
                type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="FromParameter2"
                type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="FromParameter3"
                type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="FromParameter4"
                type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="FromParameter5"
                type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="FromParentResourceId"
                type="yfctype:ResourceId-40" use="optional"/>
            <xsd:attribute name="FromResourceCreateType"
                type="yfctype:EnumResourceCreateType" use="optional"/>
            <xsd:attribute name="FromResourceDesc"
                type="yfctype:Description-255" use="optional"/>
            <xsd:attribute name="FromResourceId"
                type="yfctype:ResourceId-255" use="optional"/>
            <xsd:attribute name="FromResourceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromResourceSeq"
                type="yfctype:ResourceSequenceNo" use="optional"/>
            <xsd:attribute name="FromResourceType"
                type="yfctype:ResourceType-40" use="optional"/>
            <xsd:attribute name="FromServiceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromUrl" type="yfctype:NonUnicode-URL" use="optional"/>
            <xsd:attribute name="IsPermissionControlled"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PERMISSION_CONTROLLED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This indicates whether a resource is permission controlled. To be able to access these resources the users need specific grant access.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPermissionControlledQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrigResourceId"
                type="yfctype:ResourceId-40" use="optional">
                <xsd:annotation yfc:columnName="ORIG_RESOURCE_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This identifies the original resource from which a particular resource is derived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrigResourceIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OutputXmlTemplateFileName"
                type="yfctype:FileName" use="optional">
                <xsd:annotation
                    yfc:columnName="OUTPUT_XML_TEMPLATE_FILE_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A template file name used for an API output.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutputXmlTemplateFileNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OutputXslTemplateFileName"
                type="yfctype:FileName" use="optional">
                <xsd:annotation
                    yfc:columnName="OUTPUT_XSL_TEMPLATE_FILE_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>An XSL file name used to further process an API's output.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutputXslTemplateFileNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Parameter1" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_1"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter1QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Parameter2" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_2"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter2QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Parameter3" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_3"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter3QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Parameter4" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_4"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter4QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Parameter5" type="yfctype:Parameter" use="optional">
                <xsd:annotation yfc:columnName="PARAMETER_5"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This is a generic parameter.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Parameter5QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ParentResourceId"
                type="yfctype:ResourceId-40" use="optional">
                <xsd:annotation yfc:columnName="PARENT_RESOURCE_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The resources with parents essentially indicates the hierarchy of resources to which a particular resource may belong. The resources can have multiple children but at the most one parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentResourceIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ResourceCreateType"
                type="yfctype:EnumResourceCreateType" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_CREATE_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This field indicates the create type of the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceCreateTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ResourceDesc"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_DESC"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The description of a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceDescQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ResourceId"
                type="yfctype:ResourceId-255" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The unique identifier of a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The primary key of the YFS_RESOURCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ResourceSeq"
                type="yfctype:ResourceSequenceNo" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_SEQ"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A sequence number used to order child resources within a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceSeqQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ResourceType"
                type="yfctype:ResourceType-40" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The type of resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>A service associated with the resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToApplicationName"
                type="yfctype:ApplicationName" use="optional"/>
            <xsd:attribute name="ToBehaviorClassName"
                type="yfctype:JavaClass" use="optional"/>
            <xsd:attribute name="ToCanAddToMenu" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToEventComponent"
                type="yfctype:EventComponent" use="optional"/>
            <xsd:attribute name="ToFormClassName"
                type="yfctype:JavaClass" use="optional"/>
            <xsd:attribute name="ToIsPermissionControlled"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToOrigResourceId"
                type="yfctype:ResourceId-40" use="optional"/>
            <xsd:attribute name="ToOutputXmlTemplateFileName"
                type="yfctype:FileName" use="optional"/>
            <xsd:attribute name="ToOutputXslTemplateFileName"
                type="yfctype:FileName" use="optional"/>
            <xsd:attribute name="ToParameter1" type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="ToParameter2" type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="ToParameter3" type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="ToParameter4" type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="ToParameter5" type="yfctype:Parameter" use="optional"/>
            <xsd:attribute name="ToParentResourceId"
                type="yfctype:ResourceId-40" use="optional"/>
            <xsd:attribute name="ToResourceCreateType"
                type="yfctype:EnumResourceCreateType" use="optional"/>
            <xsd:attribute name="ToResourceDesc"
                type="yfctype:Description-255" use="optional"/>
            <xsd:attribute name="ToResourceId"
                type="yfctype:ResourceId-255" use="optional"/>
            <xsd:attribute name="ToResourceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToResourceSeq"
                type="yfctype:ResourceSequenceNo" use="optional"/>
            <xsd:attribute name="ToResourceType"
                type="yfctype:ResourceType-40" use="optional"/>
            <xsd:attribute name="ToServiceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToUrl" type="yfctype:NonUnicode-URL" use="optional"/>
            <xsd:attribute name="Url" type="yfctype:NonUnicode-URL" use="optional">
                <xsd:annotation yfc:columnName="URL"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>The uniform resource locator of a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UrlQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePermissionList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePermission"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ResourcePermission">
        <xsd:annotation yfc:tableName="YFS_RESOURCE_PERMISSION">
            <xsd:documentation>Permissions to various resources in the system are maintained here. Permissions are maintained at a user group level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivateFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATE_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE_PERMISSION">
                    <xsd:documentation>Indicates if a permission is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivateFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromActivateFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromResourceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromResourcePermissionKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromUsergroupKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE_PERMISSION">
                    <xsd:documentation>A permission controlled resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ResourcePermissionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_PERMISSION_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE_PERMISSION">
                    <xsd:documentation>Primary key attribute of YFS_RESOURCE_PERMISSION.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePermissionKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToActivateFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToResourceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToResourcePermissionKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToUsergroupKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_RESOURCE_PERMISSION">
                    <xsd:documentation>A user group that is given permission to access a resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
