Data/xapidocs/api_javadocs/XSD/YCP_manageOrgRelationship_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageOrgRelationship/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageOrgRelationship/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageOrgRelationship_input.xsd" yfc:rootElement="OrgRelationship">
        <xsd:appinfo source="yfc:structure">
            <OrgRelationship hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrgRelationship" type="yfc:OrgRelationshipXSDType">
        <xsd:annotation yfc:tableName="YFS_ORG_RELATIONSHIP">
            <xsd:documentation>This table contains specific instances of relationships between the nodes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrgRelationshipXSDType">
        <xsd:attribute name="FromOrgCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="FROM_ORG_CODE" yfc:tableName="YFS_ORG_RELATIONSHIP">
                <xsd:documentation>The unique identifier for organization which is used as 'From' direction in the relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					   This attribute specifies the kind of operation to be done.  
              <br/>Valid Values: 
      				<br/>
                        <b>
                            <code>Create</code>
                        </b> - To create a <code>Relationship</code>
                        <br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.  Currently not used.
				      <br/>
                        <b>
                            <code>Delete</code>
                        </b> - To delete a  <code>Relationship</code>
                        <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
           </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipTypeID"
            type="yfctype:Identifier" use="required">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE_ID" yfc:tableName="YFS_ORG_RELATIONSHIP">
                <xsd:documentation>The unique identifier for the organization relationship type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToOrgCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="TO_ORG_CODE" yfc:tableName="YFS_ORG_RELATIONSHIP">
                <xsd:documentation>The unique identifier for organization which is used as 'To' direction in the relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidateOrgCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					   This attribute specifies whether the values passed for ToOrgCode, FromOrgCode and RelationshipTypeID need to be validated.  
              <br/>Valid Values: Y or N
              <br/>Default: If not passed then API will not validate the values passed for ToOrgCode, FromOrgCode and RelationshipTypeID.
           </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
