Data/xapidocs/api_javadocs/XSD/YCP_manageCarrierServiceOverride_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCarrierServiceOverride/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCarrierServiceOverride/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageCarrierServiceOverride_output.xsd" yfc:rootElement="CarrierServiceOverrideList">
        <xsd:appinfo source="yfc:structure">
            <CarrierServiceOverrideList hasAttributes="Y">
                <CarrierServiceOverride hasAttributes="Y"/>
            </CarrierServiceOverrideList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CarrierServiceOverrideList" type="yfc:CarrierServiceOverrideListXSDType"/>
    <xsd:complexType name="CarrierServiceOverrideListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CarrierServiceOverride"/>
        </xsd:sequence>
        <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                <xsd:documentation>The key of the carrier service for which this override date is defined for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CarrierServiceOverride">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE_OVR">
            <xsd:documentation>Defines a carrier service's override date that can be delivered on or available to for transit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Determines if the date is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Determines if the date is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceOverrideKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_OVR_KEY" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Primary key attribute of YFS_CARRIER_SERVICE_OVR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideDate" use="optional">
                <xsd:annotation yfc:columnName="OVERRIDE_DATE" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>The date that this carrier has an override for.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
