Data/xapidocs/api_javadocs/XSD/YCP_manageHoldType_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageHoldType/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageHoldType/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageHoldType_output.xsd" yfc:rootElement="HoldType">
        <xsd:appinfo source="yfc:structure">
            <HoldType hasAttributes="Y">
                <HoldTypeTransactionList>
                    <HoldTypeTran hasAttributes="Y"/>
                </HoldTypeTransactionList>
                <HoldTypeModificationTypes>
                    <HoldTypeModType hasAttributes="Y"/>
                </HoldTypeModificationTypes>
                <HoldTypeUserGroupList>
                    <HoldTypeUserGroup hasAttributes="Y"/>
                </HoldTypeUserGroupList>
            </HoldType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="HoldType" type="yfc:HoldTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_HOLD_TYPE">
            <xsd:documentation>This table stores all the hold types defined for a document type and enterprise combination.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="HoldTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HoldTypeTransactionList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HoldTypeModificationTypes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HoldTypeUserGroupList"/>
        </xsd:all>
        <xsd:attribute name="ApplyConditionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="APPLY_CONDITION_KEY" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The condition to apply hold on entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplyOnResolveOfHoldTypeKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="APPLY_ON_RESOLVE_OF_HT_KEY" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>Value of another hold type key that is being resolved. Apply this hold type when specified hold is resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BaseProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE_KEY" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>Base Process type for which the transaction  is available for the hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanAllUsersCreateHoldType"
            type="yfctype:EnumCanAllCreateHoldType" use="optional">
            <xsd:annotation yfc:columnName="CAN_ALL_CREATE_HOLD_TYPE" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>This field indicates if all the users can create the hold type. Valid values are, Y: Indicates that any user can create the hold type, N: Indicates that only cerrtain users can create the hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanAllUsersResolveHoldType"
            type="yfctype:EnumCanAllResolveHoldType" use="optional">
            <xsd:annotation yfc:columnName="CAN_ALL_RESOLVE_HOLD_TYPE" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>This field indicates if all the users can resolve or reject the hold type. Valid values are, Y: Indicates that any user can resolve or reject the hold type, N: Indicates that only cerrtain users can resolve or reject the hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanResolveOnCancel" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_RESOLVE_ON_CANCEL" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>This field indicates if hold is resolved on cancellation of order,line. Valid value is N or Y. Default value is N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The type of document this process is used for</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldLevel" type="yfctype:HoldLevel" use="optional">
            <xsd:annotation yfc:columnName="HOLD_LEVEL" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>Indicates whether header level hold or line level. Possible values: ORDER, ORDER_LINE. Default value is ORDER for Base Process Type 'ORDER_FULFILLMENT'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldType" type="yfctype:CodeType" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldTypeDescription"
            type="yfctype:Description-40" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE_DESCRIPTION" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The hold type Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE_KEY" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The primary key attribute of YFS_HOLD_TYPE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The organization defining the hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TRANSACTION_ID" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The processing transaction which can be executed to remove the hold type from the transactional entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RejectTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="REJECT_TRANSACTION_ID" yfc:tableName="YFS_HOLD_TYPE">
                <xsd:documentation>The transaction responsible to process rejected holds</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="HoldTypeTransactionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:HoldTypeTran"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HoldTypeTran">
        <xsd:annotation yfc:tableName="YFS_HOLD_TYPE_TRAN">
            <xsd:documentation>This table stores the mapping of the hold types that should get enabled on an order when a transaction executes, as well as the mapping in between the hold types and the prevented transactions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="HoldEffectLevel"
                type="yfctype:HoldEffectLevel" use="optional">
                <xsd:annotation yfc:columnName="HOLD_EFFECT_LEVEL" yfc:tableName="YFS_HOLD_TYPE_TRAN">
                    <xsd:documentation>Indicates whether transaction should be prevented at ORDER level or ORDER_LINE level. Default value is ORDER for Base Process Type 'ORDER_FULFILLMENT'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldTypeTranKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="HOLD_TYPE_TRAN_KEY" yfc:tableName="YFS_HOLD_TYPE_TRAN">
                    <xsd:documentation>Primary key attribute of YFS_HOLD_TYPE_TRAN.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:EnumPurpose4" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_HOLD_TYPE_TRAN">
                    <xsd:documentation>The purpose of the association in between the transaction and the hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_ID" yfc:tableName="YFS_HOLD_TYPE_TRAN">
                    <xsd:documentation>The transaction which can apply the hold type on an order, or the transaction which will be prevented to process an order on this hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HoldTypeModificationTypes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:HoldTypeModType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HoldTypeModType">
        <xsd:annotation yfc:tableName="YFS_HOLD_TYPE_MOD_TYPE">
            <xsd:documentation>This table stores the mapping of the hold types that should get enabled when a modification occurs on a document type, as well as the mapping in between the hold types and the prevented modifications types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="HoldTypeModTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="HOLD_TYPE_MOD_TYPE_KEY" yfc:tableName="YFS_HOLD_TYPE_MOD_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_HOLD_TYPE_MOD_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModificationLevel"
                type="yfctype:ModificationLevel" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_LEVEL" yfc:tableName="YFS_HOLD_TYPE_MOD_TYPE">
                    <xsd:documentation>The level at which a modification is defined. For example, header, line, or release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModificationType"
                type="yfctype:ModificationType" use="optional">
                <xsd:annotation yfc:columnName="MODIFICATION_TYPE" yfc:tableName="YFS_HOLD_TYPE_MOD_TYPE">
                    <xsd:documentation>Modification type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_HOLD_TYPE_MOD_TYPE">
                    <xsd:documentation>Primary key of the process type associated with a paricular modification type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:EnumPurpose3" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_HOLD_TYPE_MOD_TYPE">
                    <xsd:documentation>The purpose of the association in between the modification type and the hold type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HoldTypeUserGroupList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:HoldTypeUserGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HoldTypeUserGroup">
        <xsd:annotation yfc:tableName="YFS_HOLD_TYPE_USER_GROUP">
            <xsd:documentation>This table stores the permissions of user groups for each hold type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="HoldTypeUserGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOLD_TYPE_USER_GROUP_KEY" yfc:tableName="YFS_HOLD_TYPE_USER_GROUP">
                    <xsd:documentation>Primary key attribute of YFS_HOLD_TYPE_USER_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Permission"
                type="yfctype:EnumPermission" use="optional">
                <xsd:annotation yfc:columnName="PERMISSION" yfc:tableName="YFS_HOLD_TYPE_USER_GROUP">
                    <xsd:documentation>This field indicates the permission a user group has for the hold type. Valid values are, APPLY: Indicates that the user group can create this hold on transactional entity, RESOLVE: Indicates that the user group can resolve or reject the hold.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_HOLD_TYPE_USER_GROUP">
                    <xsd:documentation>A unique identifier to the user group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupName" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
