Data/xapidocs/api_javadocs/XSD/YCP_manageMigrationPhase_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageMigrationPhase/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageMigrationPhase/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageMigrationPhase_output.xsd" yfc:rootElement="MigrationPhase">
        <xsd:appinfo source="yfc:structure">
            <MigrationPhase hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MigrationPhase" type="yfc:MigrationPhaseXSDType"/>
    <xsd:complexType name="MigrationPhaseXSDType">
        <xsd:attribute name="Phase" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TableName" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
