Data/xapidocs/api_javadocs/XSD/YCP_deleteService_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteService/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteService/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_deleteService_input.xsd" yfc:rootElement="Service">
        <xsd:appinfo source="yfc:structure">
            <Service hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Service" type="yfc:ServiceXSDType">
        <xsd:annotation yfc:tableName="YFS_SERVICE">
            <xsd:documentation>Services are collection of roles. An organization providing a service would mean it plays all the roles listed under the service.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServiceXSDType">
        <xsd:attribute name="ServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_KEY" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>Primary key attribute of YFS_SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceName" type="yfctype:ServiceName" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_NAME" yfc:tableName="YFS_SERVICE">
                <xsd:documentation>Name of the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
