Data/xapidocs/api_javadocs/XSD/YCP_determineTaskTypeUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/determineTaskTypeUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/determineTaskTypeUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_determineTaskTypeUE_input.xsd" yfc:rootElement="TaskType">
        <xsd:appinfo source="yfc:structure">
            <TaskType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TaskType" type="yfc:TaskTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_TASK_TYPE">
            <xsd:documentation>This table stores different types of tasks performed in a warehouse.  Different task types typically represent tasks that are physically different.  For instance, paper based putaway as opposed to RF based putaway.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskTypeXSDType">
        <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_TASK_TYPE">
                <xsd:documentation>
                    <div>
				Pass ActivityCode to identify the Activity.
				<Validation>
                            <Condition>
                                <code>ActivityCode</code> passed does not exist in the YFS_ACTIVITY table.
					</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Pass UserId to identify the user.
				<Validation>
                            <Condition> UserId  passed does not exist in the YFS_USER table.
					</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
