Data/xapidocs/api_javadocs/XSD/YCP_copyHubModificationRules_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/copyHubModificationRules/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/copyHubModificationRules/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_copyHubModificationRules_input.xsd" yfc:rootElement="StatusModification">
        <xsd:appinfo source="yfc:structure">
            <StatusModification hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StatusModification" type="yfc:StatusModificationXSDType">
        <xsd:annotation yfc:tableName="YFS_STATUS_MODIFICATION">
            <xsd:documentation>Stores information on order/Negotiation/Load/Shipment modification rule setup.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StatusModificationXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>Target Organization Code to which the hub modification rules have to be copied. 
				<Validation>
                            <Condition>CallingOrganizationCode Should not be Void or DEFAULT.
				</Condition>
                            <Error
                                Description="Invalid Organization Code." ErrorCode="YCP0040"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>
                    <div>If the ProcessTypeKey is passed it will copy Status Modification only for specific ProcessType.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
