Data/xapidocs/api_javadocs/XSD/YCP_getServerProperties_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getServerProperties/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getServerProperties/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getServerProperties_input.xsd" yfc:rootElement="Server">
        <xsd:appinfo source="yfc:structure">
            <Server hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Server" type="yfc:ServerXSDType">
        <xsd:annotation yfc:tableName="YFS_SERVER">
            <xsd:documentation>
                <div>
				This table stores the Server Information associated with the Services. ServerKey is a foreign key in the YFS_SUB_FLOW table. When the IntegrationAdapter is started with a serverName, all the subFlows (or Runtime Id's) associated with the Server are started. All these subFlows should belong to the same Transport Protocol, such as DB, or JMS. 
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ServerXSDType">
        <xsd:attribute name="Id" type="yfctype:Key" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The Id of the server. The Id can be obtained by invoking the <code>getServerList</code> API.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
