Data/xapidocs/api_javadocs/XSD/YCP_getScacList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getScacList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getScacList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getScacList_output.xsd" yfc:rootElement="ScacList">
        <xsd:appinfo source="yfc:structure">
            <ScacList>
                <Scac hasAttributes="Y"/>
            </ScacList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ScacList" type="yfc:ScacListXSDType"/>
    <xsd:complexType name="ScacListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Scac"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Scac">
        <xsd:annotation yfc:tableName="YFS_SCAC">
            <xsd:documentation>This table stores carrier attributes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BillingAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILLING_ADDRESS_KEY" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The billing address with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommProtocol" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="COMM_PROTOCOL" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The communication protocol established with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_ADDRESS_KEY" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The contact address with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CurrentTrackingNo"
                type="yfctype:Counter" use="optional">
                <xsd:annotation yfc:columnName="CURRENT_TRACKING_NO" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The last generated tracking number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HostInterfaceType"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="HOST_INTERFACE_TYPE" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The type of interface maintained with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InternalReference1"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_1" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>An internal reference that may be stored for a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InternalReference2"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_2" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>An internal reference that may be stored for a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InternalReference3"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_3" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>An internal reference that may be stored for a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InternalReference4"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_4" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>An internal reference that may be stored for a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InternalReference5"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_5" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>An internal reference that may be stored for a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The carrier's locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxTrackingNo" type="yfctype:Counter" use="optional">
                <xsd:annotation yfc:columnName="MAX_TRACKING_NO" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The number until which the tracking numbers can be generated for a carrier. When this number is reached, a fresh range for tracking numbers may be requested from the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinTrackingNo" type="yfctype:Counter" use="optional">
                <xsd:annotation yfc:columnName="MIN_TRACKING_NO" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The number starting from which the tracking numbers are generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The organization code of organization that defines this carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The code of the organization plays the role of carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacDesc" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SCAC_DESC" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The description of the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SCAC_KEY" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The primary key for the YFS_SCAC table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerAddress1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVER_ADDRESS1" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The IP address of the carrier's server, which may be used for integrating purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerAddress2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SERVER_ADDRESS2" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The IP address of the carrier's server, which may be user for integrating purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerUserid" type="yfctype:LoginId-40" use="optional">
                <xsd:annotation yfc:columnName="SERVER_USERID" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The user identifier used to connect to the carrier's server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemIntgForDomesticReqd"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SYSTEM_INTG_FOR_DOMESTIC_REQD" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>This flag indicates whether integration with the carrier is required for domestic shipments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemIntgForIntlReqd"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SYSTEM_INTG_FOR_INTL_REQD" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>This flag indicates whether integration with the carrier is required for international shipments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackNoAlgo" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="TRACK_NO_ALGO" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The algorithm used in the generation of tracking numbers.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
