Data/xapidocs/api_javadocs/XSD/YCP_getDataSecurityGroupList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDataSecurityGroupList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDataSecurityGroupList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getDataSecurityGroupList_input.xsd" yfc:rootElement="DataSecurityGroup">
        <xsd:appinfo source="yfc:structure">
            <DataSecurityGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DataSecurityGroup" type="yfc:DataSecurityGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>Data Security groups that are used to control end-user access to the application data elements are stored here.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DataSecurityGroupXSDType">
        <xsd:attribute name="DataSecurityGroupId"
            type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Data Security Group Id.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataSecurityGroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Description for the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeAccessMode"
            type="yfctype:DocumentTypeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseAccessMode"
            type="yfctype:EnterpriseAccessMode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Organization that created this data security group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeAccessMode"
            type="yfctype:ShipNodeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
