Data/xapidocs/api_javadocs/XSD/YCP_manageCustomerAssignment_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCustomerAssignment/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCustomerAssignment/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageCustomerAssignment_input.xsd" yfc:rootElement="CustomerAssignment">
        <xsd:appinfo source="yfc:structure">
            <CustomerAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerAssignment" type="yfc:CustomerAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
            <xsd:documentation>
                <div>
				Specify assignments of  <code>Team</code> to <code>Customer</code> or a combination of <code>Team</code> and <code>Customer</code> and <code>User</code> or <code>Customer</code> to a valid user of a Buyer Organization. <code>Team</code> is a manadatory attribute if the assignment is not to a valid buyer user. <code>Team</code> is also mandated if the organization of the <code>User</code> has roles other than the Buyer.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerAssignmentXSDType">
        <xsd:attribute name="CustomerAssignmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ASSIGNMENT_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Primary key attribute of YFS_CUSTOMER_ASSIGNMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>
                    <div>
				Identifier for the customer.  Either the <code>CustomerID</code> or <code>CustomerKey</code> has to be passed when creating or deleting the assignment.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				Unique identifier for the customer.
				<Validation>
                            <Condition>
                                <code>CustomerKey</code> provided is wrong.
					</Condition>
                            <Error Description="Invalid Customer" ErrorCode="YCP0165"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerOrganizationCode"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Organization code of organization that defines the Customer. If CustomerID is passed then a valid CustomerOrganizationCode has to be passed. If <code>CustomerOrganizationCode</code> is not passed, then the <code>OrganizationCode</code> of the Team or the CustomerMasterOrg of the Team's Organization must define the Customer.
				<Validation>
                            <Condition>
                                <code>CustomerOrganizationCode</code> passed is wrong.
					</Condition>
                            <Error Description="Invalid Organization" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeleteChildTeamAssignments"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <br/> Whenever the operation is <code>Delete</code> and <code>UserId</code> is passed then only the relevant Customer assignment is  deleted. In this case if the deletion is successful, the <code>AssignedReps</code> on the customer is decreased by 1. 
				If the <code>UserId</code> is not passed then based on this flag the Customer assignments are deleted.
				<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Y</code>
                        </b> - Indicates that assignments associated with the child Teams of the Team passed, need to be deleted.
					<br/>
                        <b>
                            <code>N</code>
                        </b> - Only relevant Customer and Team assignments are deleted and child Team assignments are not considered for deletion.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take.
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record.  
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/> Whenever the operation is <code>Create</code> and <code>UserId</code> is passed, then validation for maximum assignments is done. The maximum number of assignments cannot be greater than the value of <code>AssignedReps</code> on the <code>Customer</code>. If the customer assignment to the team and user is successful the <code>AssignedReps</code> value on the <code>Customer</code> is increased by 1. If the <code>Customer</code> is assigned to a valid <code>CustomerContact</code> this validation is not done.
					<Validation>
                            <Condition>Action is<b>
                                    <code>Create</code>
                                </b> and <b>
                                    <code>UserId</code>
                                </b> is passed and maximum assignments is reached. 
					</Condition>
                            <Error
                                Description="Maximum Customer Assignments Reached" ErrorCode="YCP80_0004"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				Organization code of organization that defines this Team or User. Both the Team and User could belong to same organization or to diffrent organizations. If Team and User belong to different organizations, then the <code>OrganizationCode</code> should be the organization of the Team but within the same organization hierarchy of the User's organization. If <code>TeamCode</code> is passed then a valid OrganizationCode has to be passed. When assigning Buyer user to a Customer, this attribute should correspond to the Organization Code of the Buyer User's Organization.
				<Validation>
                            <Condition>
                                <code>OrganizationCode</code> passed is wrong.
					</Condition>
                            <Error Description="Invalid Organization" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamCode"
            type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
				The identifier for the team.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TEAM_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				Primary key for the YFS_DATA_SECURITY_GROUP table.  
				<Validation>
                            <Condition>
                                <code>TeamKey</code> provided is wrong.
					</Condition>
                            <Error Description="Invalid Team" ErrorCode="YFS80_10545"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				Identifier for a user that manages the customer.
				<Validation>
                            <Condition>
                                <code>User</code> does not belong to the team.
					</Condition>
                            <Error Description="Invalid User Team" ErrorCode="YCP80_0006"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
