Data/xapidocs/api_javadocs/XSD/YCP_manageEntityCustomAttribute_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageEntityCustomAttribute/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageEntityCustomAttribute/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageEntityCustomAttribute_output.xsd" yfc:rootElement="EntityCustomAttributeList">
        <xsd:appinfo source="yfc:structure">
            <EntityCustomAttributeList>
                <EntityCustomAttribute hasAttributes="Y"/>
            </EntityCustomAttributeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntityCustomAttributeList" type="yfc:EntityCustomAttributeListXSDType"/>
    <xsd:complexType name="EntityCustomAttributeListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:EntityCustomAttribute"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="EntityCustomAttribute">
        <xsd:annotation yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
            <xsd:documentation>This table stores the extended attributes to be used by an Entity.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute. This attribute will be used as an extended column for the TableName/DocumentType defined in the corresponding  YFS_ENTITY_ATTRIBUTE_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ColumnName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COLUMN_NAME" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>This points to the Column in the hang-off of the corresponding Entity for storing the extended attribute defined in ATTRIBUTE_ID field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntityAttributeDomainKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ENTITY_ATTRIBUTE_DOMAIN_KEY" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ENTITY_ATTRIBUTE_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntityCustomAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ENTITY_CUSTOM_ATTRIBUTE_KEY" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ENTITY_CUSTOM_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The organization that maintains the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Searchable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SEARCHABLE" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether the extended attribute is an indexed column in the hang-off.  Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:AttributeStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>This represents the Status of the extended attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
