Data/xapidocs/api_javadocs/XSD/YCP_manageMonitorConsolidation_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageMonitorConsolidation/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageMonitorConsolidation/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageMonitorConsolidation_output.xsd" yfc:rootElement="MonitorConsolidation">
        <xsd:appinfo source="yfc:structure">
            <MonitorConsolidation hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorConsolidation" type="yfc:MonitorConsolidationXSDType">
        <xsd:annotation yfc:tableName="YFS_MONITORING_CONSOLIDATION">
            <xsd:documentation>This table stores the configuration of alert consolidation for different monitors.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MonitorConsolidationXSDType">
        <xsd:attribute name="AutoResolve" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUTO_RESOLVE" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the issue  can be automatically resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The description of the monitor consolidation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field10IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_10_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 10 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field1IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_1_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 1 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field2IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_2_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 2 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field3IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_3_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 3 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field4IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_4_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 4 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field5IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_5_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 5 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field6IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_6_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 6 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field7IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_7_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 7 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field8IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_8_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 8 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Field9IsKey" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FIELD_9_IS_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the field 9 specified in the YFS_MONITOR_TYPE table is the key field for that table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FLOW_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_FLOW table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField1" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_1" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 1 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField10" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_10" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 10 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField2" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_2" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 2 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField3" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_3" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 3 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField4" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_4" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 4 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField5" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_5" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 5 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField6" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_6" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 6 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField7" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_7" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 7 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField8" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_8" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 8 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupByField9" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GROUP_BY_FIELD_9" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indicates whether the monitor grouping is done by the field 9 specified in the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The monitor rule that is defined for this organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationId"
            type="yfctype:MonitorConsolidationId" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_ID" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>An identifier for the monitor consolidation rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_MONITOR_CONSOLIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_TYPE_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key attribute of the YFS_MONITOR_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key attribute of the YFS_PROCESS_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RealertInterval" type="yfctype:ShortNumber" use="optional">
            <xsd:annotation yfc:columnName="REALERT_INTERVAL" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The re-alert time interval.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RealertRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REALERT_REQUIRED" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>This flag indiacates that re-alert will be raised if the issue has not been resolved within a certain timeframe.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
