Data/xapidocs/api_javadocs/XSD/YCP_CUSTOMER_DEFINITION.ON_ASSIGNMENTS_CHANGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/CUSTOMER_DEFINITION/ON_ASSIGNMENTS_CHANGE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/CUSTOMER_DEFINITION/ON_ASSIGNMENTS_CHANGE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_CUSTOMER_DEFINITION.ON_ASSIGNMENTS_CHANGE.xsd" yfc:rootElement="CustomerAssignment">
        <xsd:appinfo source="yfc:structure">
            <CustomerAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerAssignment" type="yfc:CustomerAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
            <xsd:documentation>This table contains customers and teams or users that manage them.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerAssignmentXSDType">
        <xsd:attribute name="AssignmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNMENT_TYPE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>The type of assignments which need to be synchronized for the customer.  The <code>AssignmentType</code> can be either <code>BUYER</code> or <code>SELLER</code>.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerClassificationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation>
                <xsd:documentation>CustomerId for which the assignments need to be synchronized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Total unique identifier of the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerOrganizationCode"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Organization code of organization that defines the Customer. If CustomerID is passed then a valid CustomerOrganizationCode has to be passed.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Indicates an Organization that this team or user belongs to. Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
