Data/xapidocs/api_javadocs/XSD/YCP_CUSTOMER_DEFINITION.ON_SYNC_FAILURE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/CUSTOMER_DEFINITION/ON_SYNC_FAILURE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/CUSTOMER_DEFINITION/ON_SYNC_FAILURE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_CUSTOMER_DEFINITION.ON_SYNC_FAILURE.xsd" yfc:rootElement="Customer">
        <xsd:appinfo source="yfc:structure">
            <Customer hasAttributes="Y">
                <CustomerContactList>
                    <CustomerContact hasAttributes="Y">
                        <CustomerAdditionalAddressList hasAttributes="Y">
                            <CustomerAdditionalAddress hasAttributes="Y">
                                <PersonInfo hasAttributes="Y"/>
                            </CustomerAdditionalAddress>
                        </CustomerAdditionalAddressList>
                        <CustomerPaymentMethodList hasAttributes="Y">
                            <CustomerPaymentMethod hasAttributes="Y"/>
                        </CustomerPaymentMethodList>
                    </CustomerContact>
                </CustomerContactList>
            </Customer>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Customer" type="yfc:CustomerXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER">
            <xsd:documentation>This table stores customer definitions as defined by an organization for a buyer organization, a receiving node, or a consumer.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerContactList"/>
        </xsd:all>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>The organization code of buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerType"
            type="yfctype:EnumCustomerType" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>
                    <div>
				Type of customer.  Valid values are: 01-Business, 02-Consumer. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RemoteModifyTS" use="optional">
            <xsd:annotation yfc:columnName="REMOTE_MODIFYTS" yfc:tableName="YFS_CUSTOMER">
                <xsd:documentation>
                    <div>
				The modification date from the external system. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CustomerContactList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CustomerContact"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerContact">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_CONTACT">
            <xsd:documentation>This table stores contact information of a customer.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerAdditionalAddressList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerPaymentMethodList"/>
            </xsd:all>
            <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The day time fax of the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The day time phone of the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EmailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The email address of the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_FAX_N0" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The evening fax of the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The evening phone of the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The first name of the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The last name of the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The mobile phone of the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Title" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>The title for the contact person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserID" type="yfctype:ContactUserId" use="required">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CUSTOMER_CONTACT">
                    <xsd:documentation>Indicates that this customer has a user contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerAdditionalAddressList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CustomerAdditionalAddress"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if all existing child node definition in the database need to be deleted and replace with the provided child nodes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerAdditionalAddress">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ADDNL_ADDRESS">
            <xsd:documentation>
                <div>Defines an additional address for a customer.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PersonInfo"/>
            </xsd:all>
            <xsd:attribute name="CustomerAdditionalAddressID"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_ADDNL_ADDRESS_ID" yfc:tableName="YFS_CUSTOMER_ADDNL_ADDRESS">
                    <xsd:documentation>The unique identifier for a customer additional address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsBillTo" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_BILL_TO" yfc:tableName="YFS_CUSTOMER_ADDNL_ADDRESS">
                    <xsd:documentation>Indicates if an address is used as a billing address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDefaultBillTo" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DEFAULT_BILL_TO" yfc:tableName="YFS_CUSTOMER_ADDNL_ADDRESS">
                    <xsd:documentation>Indicates if an address is a default billing address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDefaultShipTo" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DEFAULT_SHIP_TO" yfc:tableName="YFS_CUSTOMER_ADDNL_ADDRESS">
                    <xsd:documentation>Indicates if an address is a default shipping address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDefaultSoldTo" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DEFAULT_SOLD_TO" yfc:tableName="YFS_CUSTOMER_ADDNL_ADDRESS">
                    <xsd:documentation>Indicates if an address is a default Sold To address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShipTo" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SHIP_TO" yfc:tableName="YFS_CUSTOMER_ADDNL_ADDRESS">
                    <xsd:documentation>Indicates if an address is used as a shipping address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSoldTo" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SOLD_TO" yfc:tableName="YFS_CUSTOMER_ADDNL_ADDRESS">
                    <xsd:documentation>Indicates if an address is used as a Sold To address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					 Valid value is <b>
                                <code>Delete</code>
                            </b> or blank. 
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PersonInfo">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerPaymentMethodList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CustomerPaymentMethod"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if all existing child node definition in the database need to be deleted and replace with the provided child nodes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerPaymentMethod">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
            <xsd:documentation>This table stores payment methods of a customer.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CreditCardExpDate"
                type="yfctype:CreditCardExpDate" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_EXP_DATE" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>The expiration date of the credit card.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_NO" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>The credit card number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditCardType" type="yfctype:Text-32" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_CARD_TYPE" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>The credit card type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DebitCardNo" type="yfctype:Text-1000" use="optional">
                <xsd:annotation yfc:columnName="DEBIT_CARD_NO" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>This will store the primary account number of the debit card payment type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>The first name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDefaultMethod" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DEFAULT_PAYMENT" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>Determines if this payment is the default for the customer or customer contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>The last name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:Text-300" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>The middle name of the credit card holder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					 Valid value is <b>
                                <code>Delete</code>
                            </b> or blank.  
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YFS_CUSTOMER_PAYMENT_METHOD">
                    <xsd:documentation>The payment type of this payment method.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
