Data/xapidocs/api_javadocs/XSD/YCP_getStatusList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getStatusList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getStatusList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getStatusList_input.xsd" yfc:rootElement="Status">
        <xsd:appinfo source="yfc:structure">
            <Status hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Status" type="yfc:StatusXSDType">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StatusXSDType">
        <xsd:attribute name="BaseProcessType"
            type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>
                    <div>
				If <code>BaseProcessType</code> is passed, <code>DocumentType</code> should also be passed. If <code>ProcessTypeKey</code> is passed,
				its value is used to make the matches, and <code>BaseProcessType</code> is ignored. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                <xsd:documentation>The description of the status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                yfc:isConditional="Y" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>
                    <div>
				If <code>BaseProcessType</code> is passed, <code>DocumentType</code> should also be passed.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_STATUS">
                <xsd:documentation>The owner organization that is associated with this status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>
                    <div>
				Identifies the process type for which a status is defined. If passed, any information passed in <code>BaseProcessType</code> is ignored.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS">
                <xsd:documentation>The unique identifier for the status within a process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STATUS_KEY" yfc:tableName="YFS_STATUS">
                <xsd:documentation>The primary key of the YFS_STATUS table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusName" type="yfctype:StatusName" use="optional">
            <xsd:annotation yfc:columnName="STATUS_NAME" yfc:tableName="YFS_STATUS">
                <xsd:documentation>The name for the status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusType" type="yfctype:StatusType" use="optional">
            <xsd:annotation yfc:columnName="STATUS_TYPE" yfc:tableName="YFS_STATUS">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
