Data/xapidocs/api_javadocs/XSD/YCP_getProductivityReferenceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getProductivityReferenceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getProductivityReferenceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getProductivityReferenceList_output.xsd" yfc:rootElement="ProductivityReferenceList">
        <xsd:appinfo source="yfc:structure">
            <ProductivityReferenceList hasAttributes="Y">
                <ProductivityReference hasAttributes="Y"/>
            </ProductivityReferenceList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProductivityReferenceList" type="yfc:ProductivityReferenceListXSDType"/>
    <xsd:complexType name="ProductivityReferenceListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ProductivityReference"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of Records fetched from the DB satisfying the passed criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ProductivityReference">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY_REFERENCE">
            <xsd:documentation>This table stores productivity reference for different Productivity Types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY_REFERENCE">
                    <xsd:documentation>Owner organization of the node for which this productivity reference is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityReference"
                type="yfctype:ProductivityReference" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_REFERENCE" yfc:tableName="YFS_PRODUCTIVITY_REFERENCE">
                    <xsd:documentation>This contains the XMLAttribute name of any String column in the YFS_PRODUCITVITY record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityReferenceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRODUCTIVITY_REFERENCE_KEY" yfc:tableName="YFS_PRODUCTIVITY_REFERENCE">
                    <xsd:documentation>Primary key attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityType"
                type="yfctype:ProductivityType" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY_REFERENCE">
                    <xsd:documentation>The productivity type for which this Productivity reference is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
