Data/xapidocs/api_javadocs/XSD/YCP_managePaymentTerms_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/managePaymentTerms/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/managePaymentTerms/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_managePaymentTerms_input.xsd" yfc:rootElement="PaymentTerms">
        <xsd:appinfo source="yfc:structure">
            <PaymentTerms hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentTerms" type="yfc:PaymentTermsXSDType">
        <xsd:annotation yfc:tableName="YFS_COMMON_CODE">
            <xsd:documentation>This master table stores the system and user defined codes with descriptions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PaymentTermsXSDType">
        <xsd:attribute name="Action" type="yfctype:Text-8" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <br/>Valid Values:
						<br/>
                        <b>
                            <code>CREATE</code>
                        </b> - Creates a Record in YFS_COMMON_CODE table with Code_Type = "PAYMENT_TERMS".
						<br/>
                        <b>
                            <code>MODIFY</code>
                        </b> - Modifies a record in YFS_COMMON_CODE table with Code_Type = "PAYMENT_TERMS".
						<br/>
                        <b>
                            <code>DELETE</code>
                        </b> - Deletes a record in YFS_COMMON_CODE table with Code_Type = "PAYMENT_TERMS".
						<br/>
                        <b>Default Action is <code>MODIFY</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeLongDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="CODE_LONG_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The long description for the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeShortDescription"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CODE_SHORT_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The short description of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeValue" type="yfctype:Text-100" use="required">
            <xsd:annotation yfc:columnName="CODE_VALUE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The unique code value belonging to a particular code type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CommonCodeKey" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="COMMON_CODE_KEY" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The primary key of the  YFS_COMMON_CODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The document type associated with this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:Text-24" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The organization code associated with this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
