Data/xapidocs/api_javadocs/XSD/YCP_getServerProperties_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getServerProperties/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getServerProperties/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getServerProperties_output.xsd" yfc:rootElement="Properties">
        <xsd:appinfo source="yfc:structure">
            <Properties hasAttributes="Y">
                <Property hasAttributes="Y"/>
            </Properties>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Properties" type="yfc:PropertiesXSDType"/>
    <xsd:complexType name="PropertiesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Property"/>
        </xsd:all>
        <xsd:attribute name="Id" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>Server Identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Property">
        <xsd:annotation yfc:tableName="PLT_PROPERTY">
            <xsd:documentation>The values for each property is stored here.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A Property Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A Property Value</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
