Data/xapidocs/api_javadocs/XSD/YCP_getColonyDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getColonyDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getColonyDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getColonyDetails_output.xsd" yfc:rootElement="Colony">
        <xsd:appinfo source="yfc:structure">
            <Colony hasAttributes="Y">
                <ColonyPoolList>
                    <ColonyPool hasAttributes="Y"/>
                </ColonyPoolList>
            </Colony>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Colony" type="yfc:ColonyXSDType">
        <xsd:annotation yfc:tableName="PLT_DB_COLONY">
            <xsd:documentation>This table stores header-level information on colony configuration.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ColonyXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ColonyPoolList"/>
        </xsd:all>
        <xsd:attribute name="ColonyId" type="yfctype:ColonyId" use="optional">
            <xsd:annotation yfc:columnName="COLONY_ID" yfc:tableName="PLT_DB_COLONY">
                <xsd:documentation>Unique identifier of a Colony</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PkPrefix" type="yfctype:ColonyPrefix" use="optional">
            <xsd:annotation yfc:columnName="PK_PREFIX" yfc:tableName="PLT_DB_COLONY">
                <xsd:documentation>Two-digit prefix for creation of table keys within the colony.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ColonyStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="PLT_DB_COLONY">
                <xsd:documentation>Status of the colony. If a status is set, then the colony is disabled. Otherwise it is enabled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ColonyPoolList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ColonyPool"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ColonyPool">
        <xsd:annotation yfc:tableName="PLT_DB_COLONY_POOL">
            <xsd:documentation>This table maps a shard and table type combination for a colony.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PoolId" type="yfctype:DatabasePoolId" use="optional">
                <xsd:annotation yfc:columnName="POOL_ID" yfc:tableName="PLT_DB_COLONY_POOL">
                    <xsd:documentation>Shard connection to use for this mapping.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableType" type="yfctype:TableType" use="optional">
                <xsd:annotation yfc:columnName="TABLE_TYPE" yfc:tableName="PLT_DB_COLONY_POOL">
                    <xsd:documentation>Type of table for this mapping.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
