Data/xapidocs/api_javadocs/XSD/YCP_getExceptionTypeRoleList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getExceptionTypeRoleList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getExceptionTypeRoleList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getExceptionTypeRoleList_input.xsd" yfc:rootElement="ExceptionTypeRole">
        <xsd:appinfo source="yfc:structure">
            <ExceptionTypeRole hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExceptionTypeRole" type="yfc:ExceptionTypeRoleXSDType">
        <xsd:annotation yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
            <xsd:documentation>This entity  captures the list of exception types for an application (PCA) and a role that the application supports.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ExceptionTypeRoleXSDType">
        <xsd:attribute name="ApplicationCode"
            type="yfctype:ApplicationCode-3" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
                <xsd:documentation>The Application Code associated with the exception type role.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If CallingOrganizationCode is passed, then it will
				be used as the context organization. This, combined
				with the configuration data setup for exception type roles,
				will result in a list filtered for access by the given organization.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-50" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
                <xsd:documentation>The Exception Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionTypeRoleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE_ROLE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
                <xsd:documentation>Primary key attribute of YFS_EXCEPTION_TYPE_ROLE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeRoleKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromApplicationCode"
            type="yfctype:ApplicationCode-3" use="optional"/>
        <xsd:attribute name="FromExceptionType"
            type="yfctype:ExceptionType-50" use="optional"/>
        <xsd:attribute name="FromExceptionTypeRoleKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromRoleId" type="yfctype:Identifier" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
                <xsd:documentation>The Organization for which this exception type role is configured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoleId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="ROLE_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
                <xsd:documentation>The Role of the organization</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoleIdQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToApplicationCode"
            type="yfctype:ApplicationCode-3" use="optional"/>
        <xsd:attribute name="ToExceptionType"
            type="yfctype:ExceptionType-50" use="optional"/>
        <xsd:attribute name="ToExceptionTypeRoleKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToRoleId" type="yfctype:Identifier" use="optional"/>
    </xsd:complexType>
</xsd:schema>
