Data/xapidocs/api_javadocs/XSD/YCP_modifyTraces_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/modifyTraces/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/modifyTraces/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_modifyTraces_input.xsd" yfc:rootElement="Traces">
        <xsd:appinfo source="yfc:structure">
            <Traces>
                <Trace hasAttributes="Y"/>
            </Traces>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Traces" type="yfc:TracesXSDType"/>
    <xsd:complexType name="TracesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Trace"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Trace">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				The <code>ServerName</code> attribute is optional. If specified, the trace level will only be set to the server whose ServerId matches ServerName. Otherwise the trace will apply to all servers.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:Text-100" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The action to perform. 
							<br/>Valid Values: <b>
                                <code>ADD</code>
                            </b>, <b>
                                <code>MODIFY</code>
                            </b>, or <b>
                                <code>DELETE</code>
                            </b>. 
							<br/>If <code>Action</code> is blank or is not passed, it defaults to a value of <b>
                                <code>MODIFY</code>
                            </b> in the API.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategorySet"
                type="yfctype:ComponentCategorySet-4000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The comma separated log categories for which tracing needs to be enabled exclusively. If no categories are specified then tracing is applicable for all categories in the codebase. If certain log categories are specified then tracing is applicable only for the specified categories in the codebase. This attribute is intended for debugging purposes and its value should be set in consultation with product support. 
							<br/>E.g. If logging category names of classes are same as their qualified classnames then to enable tracing for all classes under the packages <code>com.yantra.test.foo</code> and <code>com.yantra.test.foo.bar</code> along with class <code>com.foo.TestClass</code>, set the value as <code>com.yantra.test.foo.*,com.yantra.test.foo.bar.*,com.foo.TestClass</code>
                            <br/>
                            <br/>
							This attribute value will be ignored for <b>
                                <code>Type</code>
                            </b> other than <b>
                                <code>API</code>
                            </b>, <b>
                                <code>UE</code>
                            </b>, <b>
                                <code>AGENTS</code>
                            </b>, <b>
                                <code>FLOWS</code>
                            </b>, <b>
                                <code>YantraConsole</code>
                            </b>, <b>
                                <code>WUFConsole</code>
                            </b>, <b>
                                <code>ActivityTracking</code>
                            </b>, <b>
                                <code>HealthMonitor</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Level" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							 The tracing level for a traceable component.
							<br/>Valid Values: <b>
                                <code>VERBOSE</code>
                            </b>, <b>
                                <code>DEBUG</code>
                            </b>, <b>
                                <code>SQLDEBUG</code>
                            </b>, or <b>
                                <code>TIMER</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-100" use="required">
                <xsd:annotation>
                    <xsd:documentation>The traceable component name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerName" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SERVER_NAME" yfc:tableName="YFS_TRACE_COMPONENT">
                    <xsd:documentation>ServerId of the server on which trace is applied.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-100" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The type of the traceable component.							
							 <br/>Valid Values: <b>
                                <code>API</code>
                            </b>, <b>
                                <code>UE</code>
                            </b>, <b>
                                <code>AGENTS</code>
                            </b>, <b>
                                <code>FLOWS</code>
                            </b>, <b>
                                <code>YantraConsole</code>
                            </b>, <b>
                                <code>WUFConsole</code>
                            </b>, <b>
                                <code>ActivityTracking</code>
                            </b>, <b>
                                <code>HealthMonitor</code>
                            </b>, <b>
                                <code>RestService</code>
                            </b>, <b>
                                <code>TransactionTracing</code>
                            </b>,or <b>
                                <code>UserTracing</code>
                            </b>.
							 <br/> For <b>
                                <code>TransactionTracing</code>
                            </b> the valid value of traceable component name is <b>
                                <code>TransactionTracing</code>
                            </b>. Also the tracing level is not needed for this type.
							  <br/> For <b>
                                <code>UserTracing</code>
                            </b> the traceable component name has to be the user id which is used to log into the application
 						      <br/> For <b>
                                <code>RestService</code>
                            </b> the traceable component name will be the relative URL path info for the rest serivce. It can also be a regular expression matching multiple rest service URLs. E.g. to trace the URL "/restapi/invoke/getLocaleList" the component name should be "/invoke/getLocaleList". Alternatively, "/invoke/.*" can be used as traceable component name, to trace all the rest service paths starting with "/invoke".
							  <br/>
                            <b>Note:</b> If multiple trace components are configured for type <code>RestService</code>, such that a rest service URL matches more than one trace components, any of the trace component may be used to evaluate the effective tracing level.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
