Data/xapidocs/api_javadocs/XSD/YCP_getQualifiedTagList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getQualifiedTagList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getQualifiedTagList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getQualifiedTagList_output.xsd" yfc:rootElement="QualifiedTagList">
        <xsd:appinfo source="yfc:structure">
            <QualifiedTagList>
                <QualifiedTag hasAttributes="Y"/>
            </QualifiedTagList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QualifiedTagList" type="yfc:QualifiedTagListXSDType"/>
    <xsd:complexType name="QualifiedTagListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:QualifiedTag"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="QualifiedTag">
        <xsd:annotation yfc:tableName="PLT_QUALIFIED_TAG">
            <xsd:documentation>Stores qualified tag information</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="QualifiedTagDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation
                    yfc:columnName="QUALIFIED_TAG_DESCRIPTION" yfc:tableName="PLT_QUALIFIED_TAG">
                    <xsd:documentation>Qualified Tag description</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QualifiedTagId"
                type="yfctype:QualifiedTagId" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="PLT_QUALIFIED_TAG">
                    <xsd:documentation>Qualified Tag identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QualifiedTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIED_TAG_KEY" yfc:tableName="PLT_QUALIFIED_TAG">
                    <xsd:documentation>Primary key attribute of PLT_QUALIFIED_TAG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QualifiedTagType"
                type="yfctype:QualifiedTagType" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIED_TAG_TYPE" yfc:tableName="PLT_QUALIFIED_TAG">
                    <xsd:documentation>Qualified Tag Type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
