Data/xapidocs/api_javadocs/XSD/YCP_getTraceLevels_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTraceLevels/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTraceLevels/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTraceLevels_output.xsd" yfc:rootElement="TraceLevels">
        <xsd:appinfo source="yfc:structure">
            <TraceLevels>
                <TraceLevel hasAttributes="Y"/>
            </TraceLevels>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TraceLevels" type="yfc:TraceLevelsXSDType"/>
    <xsd:complexType name="TraceLevelsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TraceLevel"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="TraceLevel">
        <xsd:complexType>
            <xsd:attribute name="Level" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Level of tracing</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Name of the level</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
