Data/xapidocs/api_javadocs/XSD/YCP_getInventorySupplyTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getInventorySupplyTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getInventorySupplyTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getInventorySupplyTypeList_output.xsd" yfc:rootElement="InventorySupplyTypeList">
        <xsd:appinfo source="yfc:structure">
            <InventorySupplyTypeList>
                <InventorySupplyType hasAttributes="Y"/>
            </InventorySupplyTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventorySupplyTypeList" type="yfc:InventorySupplyTypeListXSDType"/>
    <xsd:complexType name="InventorySupplyTypeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InventorySupplyType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InventorySupplyType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
            <xsd:documentation>Configuration table. Stores valid supply types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CostingRequired" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="COSTING_REQUIRED" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>Set to 'Y' if this suppy type is to tracked for cost purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>Description of a supply type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventorySupplyTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_SUPPLY_TYPE_KEY" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>Primary key of Inventory supply type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OnhandSupply" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ONHAND_SUPPLY" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>Set to 'Y' if this supply type if considered as on-hand. ETA in SUPPLY table is set to low date to indicate immediate availability.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RetainReference" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="RETAIN_REFERENCE" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>Set to 'Y' if supply type requires reference # level tracking. If set to 'N', reference # are not kept in SUPPLY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>A Supply type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TriggerItemBasedAllocation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TRIGGER_IBA" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>This flag indicates whether the supply type can trigger the Item-Based Allocation process when supply changes occur.   Valid values: Y/N.  Default value: N.  This is available to be configured only for non on-hand supply types.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseDemandTypeForItemBasedAllocation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USE_DEMAND_TYPE_FOR_IBA" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>This flag indicates that the demand types, which consider this supply type, should be considered for Item Based Allocation.  Valid values: Y/N.  Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
