Data/xapidocs/api_javadocs/XSD/YCP_manageOrgExceptionType_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageOrgExceptionType/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageOrgExceptionType/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageOrgExceptionType_output.xsd" yfc:rootElement="OrgExceptionType">
        <xsd:appinfo source="yfc:structure">
            <OrgExceptionType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrgExceptionType" type="yfc:OrgExceptionTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
            <xsd:documentation>This table helps us to activate and override additional parameters for an Exception Type at the organization level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrgExceptionTypeXSDType">
        <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                <xsd:documentation>Flag to indicate if the exception type for this particular organization is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-50" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                <xsd:documentation>The type of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                <xsd:documentation>The unique identifier of the organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                <xsd:documentation>Override priority for the organization. Used by the service definition framework alert component.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
