Data/xapidocs/api_javadocs/XSD/YCP_getOrgExceptionTypeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getOrgExceptionTypeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getOrgExceptionTypeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getOrgExceptionTypeList_input.xsd" yfc:rootElement="OrgExceptionType">
        <xsd:appinfo source="yfc:structure">
            <OrgExceptionType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrgExceptionType" type="yfc:OrgExceptionTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
            <xsd:documentation>This table helps us to activate and override additional parameters for an Exception Type at the organization level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrgExceptionTypeXSDType">
        <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                <xsd:documentation>Flag to indicate if the exception type for this particular organization is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActiveQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-50" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                <xsd:documentation>The type of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromActive" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromExceptionType"
            type="yfctype:ExceptionType-50" use="optional"/>
        <xsd:attribute name="FromOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromPriority"
            type="yfctype:PriorityWithDecimal" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                <xsd:documentation>The unique identifier of the organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORG_EXCEPTION_TYPE">
                <xsd:documentation>Override priority for the organization. Used by the service definition framework alert component.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriorityQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="ToActive" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToExceptionType"
            type="yfctype:ExceptionType-50" use="optional"/>
        <xsd:attribute name="ToOrganizationCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ToPriority"
            type="yfctype:PriorityWithDecimal" use="optional"/>
    </xsd:complexType>
</xsd:schema>
