Data/xapidocs/api_javadocs/XSD/YCP_getNoteList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNoteList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNoteList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNoteList_input.xsd" yfc:rootElement="Note">
        <xsd:appinfo source="yfc:structure">
            <Note hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Note" type="yfc:NoteXSDType">
        <xsd:annotation yfc:tableName="YFS_NOTES">
            <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NoteXSDType">
        <xsd:attribute name="AuditTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_NOTES">
                <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContactReference"
            type="yfctype:NotesContactReference" use="optional">
            <xsd:annotation yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_NOTES">
                <xsd:documentation>If the notes were entered because of customer contact by phone, the phone no can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContactTime" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_NOTES">
                <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_NOTES">
                <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="CONTACT_USER" yfc:tableName="YFS_NOTES">
                <xsd:documentation>The user who made the contact. The default value will the logged in user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerSatIndicator"
            type="yfctype:CustomerSatisfactionLevel" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_NOTES">
                <xsd:documentation>The customer satisfaction level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoteText" type="yfctype:NoteText" use="optional">
            <xsd:annotation yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                <xsd:documentation>Detailed Notes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_NOTES">
                <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_NOTES">
                <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_NOTES">
                <xsd:documentation>The sequence of the note.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TABLE_KEY" yfc:tableName="YFS_NOTES">
                <xsd:documentation>
                    <div>
						The link to the record in entity for which the note is stored. For e.g, if TableName is Order, this attribute would correspond to the OrderHeaderKey. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableName" type="yfctype:TableName" use="optional">
            <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_NOTES">
                <xsd:documentation>
                    <div>
						The entity for which the note is stored. (e.g, Order, Inbox).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
            <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_NOTES">
                <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Tranname" type="yfctype:String" use="optional"/>
        <xsd:attribute name="VisibleToAll" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_NOTES">
                <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
