Data/xapidocs/api_javadocs/XSD/YCP_deleteOrganizationHierarchy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteOrganizationHierarchy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteOrganizationHierarchy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_deleteOrganizationHierarchy_input.xsd" yfc:rootElement="Organization">
        <xsd:appinfo source="yfc:structure">
            <Organization hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Organization" type="yfc:OrganizationXSDType">
        <xsd:annotation yfc:tableName="YFS_ORGANIZATION">
            <xsd:documentation>
                <div>
			To identify the organization to be deleted, pass either the <code>OrganizationKey</code> or <code>OrganizationCode</code>. The <b>
                        <code>DEFAULT</code>
                    </b> organization cannot be deleted.
			<Validation>
                        <Condition>Input is not a valid input document.
				</Condition>
                        <Error
                            Description="Input document is empty or contains invalid data." ErrorCode="YFS10363"/>
                    </Validation>
                    <Validation>
                        <Condition>Neither <code>OrganizationCode</code> nor <code>OrganizationKey</code> is passed.
				</Condition>
                        <Error
                            Description="Either OrganizationCode or OrganizationKey is mandatory." ErrorCode="YCP0200"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization does not exist.
				</Condition>
                        <Error Description="No record found." ErrorCode="YFS10001"/>
                    </Validation>
                    <Validation>
                        <Condition>Pass <b>
                                <code>DEFAULT</code>
                            </b> for the <code>OrganizationCode</code> or <code>OrganizationKey</code>.
				</Condition>
                        <Error
                            Description="Cannot delete DEFAULT organization." ErrorCode="YCP0199"/>
                    </Validation>
                    <Validation>
                        <Condition>Enterprise is the Primary Enterprise of one or more Organizations.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Enterprise that is the Primary Enterprise of one or more Organizations." ErrorCode="YDB100110"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more Pipeline Determination conditions.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more Pipeline Determination conditions." ErrorCode="YDB10074"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more Users.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more Users. You must delete those Users first.." ErrorCode="YDB10024"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more Pipelines
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more Pipelines. You must delete those Pipelines first.." ErrorCode="YDB10084"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has one or more Inventory monitoring rules defined.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has one or more Inventory monitoring rules defined. You must delete these rules first." ErrorCode="YDB10039"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more Distribution Rules.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more Distribution Rules. You must first delete those distribution rules." ErrorCode="YDB10032"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more Conditions in the Business Process Model.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more Conditions in the Business Process Model . You must delete these Conditions first." ErrorCode="YDB10089"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has one or more Sourcing rules defined
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has one or more Sourcing rules defined." ErrorCode="YDB10013"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more User Groups.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more User Groups. You must delete those User Groups first." ErrorCode="YDB10031"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has configured one or more Statuses.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has configured one or more Statuses. You must delete those Statuses first." ErrorCode="YDB10021"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more records Monitoring Events.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more records Monitoring Events. You must delete these events first." ErrorCode="YDB10047"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more Transactions.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more Transactions. You must delete these Transactions first." ErrorCode="YDB10065"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization is being used to inherit Enterprise configuration by one or more Organizations.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that is being used to inherit Enterprise configuration by one or more Organizations." ErrorCode="YDB10080"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization is being used as the Capacity Organization by one or more Resource Pools
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that is being used as the Capacity Organization by one or more Resource Pools" ErrorCode="YDB10092"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization is being used as the Provider Organization by one or more Resource Pools.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that is being used as the Provider Organization by one or more Resource Pools." ErrorCode="YDB10093"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has configured Buyer receiving preferences.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has configured Buyer receiving preferences. Delete the preferences before you delete the Organization." ErrorCode="YDB10096"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has configured Seller receiving preferences.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has configured Seller receiving preferences. Delete the preferences before you delete the Organization." ErrorCode="YDB10097"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined some Actions.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined some Actions. You must delete these Actions first." ErrorCode="YDB10067"/>
                    </Validation>
                    <Validation>
                        <Condition>Pass <b>
                                <code>DEFAULT</code>
                            </b> for the <code>OrganizationCode</code> or <code>OrganizationKey</code>.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete a Calendar that is being used as the Receiving Calendar by one or more Nodes." ErrorCode="YDB100101"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has configured Buyer shipping preferences
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has configured Buyer shipping preferences. Delete the preferences before you delete the Organization." ErrorCode="YDB10087"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has configured Seller shipping preferences.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has configured Seller shipping preferences. Delete the preferences before you delete the Organization." ErrorCode="YDB10088"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization is being used by one or more Data Security Groups.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that is being used by one or more Data Security Groups." ErrorCode="YDB10083"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more Customers.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more Customers. You must delete these Customers first." ErrorCode="YDB10053"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization is being referred to as the Seller by one or more Sourcing Rules.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that is being referred to as the Seller by one or more Sourcing Rules." ErrorCode="YDB10014"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has one or more Queues defined
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has one or more Queues defined. You must delete those Queues first." ErrorCode="YDB10050"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has defined one or more Vendors.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has defined one or more Vendors. You must delete those Vendors first." ErrorCode="YDB10026"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization has one or more Region Schemas defined.
				</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete an Organization that has one or more Region Schemas defined." ErrorCode="YDB10070"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization is being used as a catalog organization.
				</Condition>
                        <Error
                            Description="Cannot delete the organization because it is being used as a catalog organization by other organizations." ErrorCode="YCP0260"/>
                    </Validation>
                    <Validation>
                        <Condition>Organization is being used as a pricing organization.
				</Condition>
                        <Error
                            Description="Cannot delete the organization because it is being used as a pricing organization by other organizations." ErrorCode="YCP84_0001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrganizationXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The primary key attribute for the YFS_ORGANIZATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
