Data/xapidocs/api_javadocs/XSD/YCP_authorizeUser_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/authorizeUser/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/authorizeUser/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_authorizeUser_input.xsd" yfc:rootElement="AuthorizeUser">
        <xsd:appinfo source="yfc:structure">
            <AuthorizeUser hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AuthorizeUser" type="yfc:AuthorizeUserXSDType"/>
    <xsd:complexType name="AuthorizeUserXSDType">
        <xsd:attribute name="Enterprise" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ENTERPRISE">
                <xsd:documentation>
                    <div>Enterprise to which the user has access.
						<Validation>
                            <Condition>
                                <code>Enterprise</code> value is blank.
							</Condition>
                            <Error
                                Description="Ship node or enterprise key has to be specified" ErrorCode="YCP0252"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Enterprise</code> value does not match the ship node to which the user has access.
							</Condition>
                            <Error
                                Description="ShipNode or Enterprise is not valid for the given user." ErrorCode="YCP0253"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoginID" type="yfctype:LoginId" use="required">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>
                    <div>LoginID of the User who has logged into the system.This is a mandatory field.
						<Validation>
                            <Condition>
                                <code>LoginID</code> value does not exist in YFS_USER table.
							</Condition>
                            <Error
                                Description="Invalid User identifiers passed" ErrorCode="YCP0084"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>
                    <div>Ship node to which the user has access.
						<Validation>
                            <Condition>
                                <code>ShipNode</code> value is blank.
							</Condition>
                            <Error
                                Description="Ship node or enterprise key has to be specified" ErrorCode="YCP0252"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>ShipNode</code> value does not match the ship node to which the user has access.
							</Condition>
                            <Error
                                Description="ShipNode or Enterprise is not valid for the given user." ErrorCode="YCP0253"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
