Data/xapidocs/api_javadocs/XSD/YCP_getMenuHierarchyForUser_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getMenuHierarchyForUser/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getMenuHierarchyForUser/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getMenuHierarchyForUser_output.xsd" yfc:rootElement="Menu">
        <xsd:appinfo source="yfc:structure">
            <Menu hasAttributes="Y">
                <Resource hasAttributes="Y"/>
                <SubMenu>
                    <Menu hasAttributes="Y">
                        <Resource hasAttributes="Y"/>
                    </Menu>
                </SubMenu>
            </Menu>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Menu" type="yfc:MenuXSDType">
        <xsd:annotation yfc:tableName="YFS_MENU">
            <xsd:documentation>Stores information on how a menu needs to be organized within an application.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MenuXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="Resource">
                <xsd:annotation yfc:tableName="YFS_RESOURCE">
                    <xsd:documentation>This table stores and maintains all resources in an application. The permissions are granted on a resource to a user group.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="Url"
                        type="yfctype:NonUnicode-URL" use="optional">
                        <xsd:annotation yfc:columnName="URL" yfc:tableName="YFS_RESOURCE">
                            <xsd:documentation>The uniform resource locator of a resource.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubMenu"/>
        </xsd:all>
        <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if a menu is active. i.e It contains resources to which the user has permissions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayMode" type="yfctype:DisplayMode" use="optional">
            <xsd:annotation yfc:columnName="DISPLAY_MODE" yfc:tableName="YFS_MENU">
                <xsd:documentation>Display mode in which a menu needs to be displayed. For example, Dialog, Docked, or HelpMenu.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Icon" type="yfctype:Icon" use="optional">
            <xsd:annotation yfc:columnName="ICON" yfc:tableName="YFS_MENU">
                <xsd:documentation>An Icon associated with a menu item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuDescription"
            type="yfctype:MenuDescription" use="optional">
            <xsd:annotation yfc:columnName="MENU_DESCRIPTION" yfc:tableName="YFS_MENU">
                <xsd:documentation>Description of a menu item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MENU_KEY" yfc:tableName="YFS_MENU">
                <xsd:documentation>Primary key attribute of YFS_MENU.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuSeq" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="MENU_SEQ" yfc:tableName="YFS_MENU">
                <xsd:documentation>A sequence number used for sorting child menu items below a particular menu item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuType" type="yfctype:MenuType" use="optional">
            <xsd:annotation yfc:columnName="MENU_TYPE" yfc:tableName="YFS_MENU">
                <xsd:documentation>Type of a menu. MENU/RESOURCE. RESOURCE typed menus are leaf nodes in the menu hierarchy that have an associated resource to access. Menu Items of type MENU are just place holders creating an organized menu tree.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentMenuKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_MENU_KEY" yfc:tableName="YFS_MENU">
                <xsd:documentation>Parent menu item to which a menu item belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_MENU">
                <xsd:documentation>A resource associated with a menu item. This is populated only for leaf menu items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SubMenu">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Menu">
                    <xsd:annotation yfc:tableName="YFS_MENU">
                        <xsd:documentation>Stores information on how a menu needs to be organized within an application.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Resource">
                                <xsd:annotation yfc:tableName="YFS_RESOURCE">
                                    <xsd:documentation>This table stores and maintains all resources in an application. The permissions are granted on a resource to a user group.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Url"
                                    type="yfctype:NonUnicode-URL" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="URL" yfc:tableName="YFS_RESOURCE">
                                    <xsd:documentation>The uniform resource locator of a resource.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="Active" type="yfctype:Flag" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Indicates if a menu is active. i.e It contains resources to which the user has permissions.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DisplayMode"
                            type="yfctype:DisplayMode" use="optional">
                            <xsd:annotation
                                yfc:columnName="DISPLAY_MODE" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Display mode in which a menu needs to be displayed. For example, Dialog, Docked, or HelpMenu.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Icon" type="yfctype:Icon" use="optional">
                            <xsd:annotation yfc:columnName="ICON" yfc:tableName="YFS_MENU">
                                <xsd:documentation>An Icon associated with a menu item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MenuDescription"
                            type="yfctype:MenuDescription" use="optional">
                            <xsd:annotation
                                yfc:columnName="MENU_DESCRIPTION" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Description of a menu item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MenuKey" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="MENU_KEY" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Primary key attribute of YFS_MENU.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MenuSeq"
                            type="yfctype:Count" use="optional">
                            <xsd:annotation yfc:columnName="MENU_SEQ" yfc:tableName="YFS_MENU">
                                <xsd:documentation>A sequence number used for sorting child menu items below a particular menu item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MenuType"
                            type="yfctype:MenuType" use="optional">
                            <xsd:annotation yfc:columnName="MENU_TYPE" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Type of a menu. MENU/RESOURCE. RESOURCE typed menus are leaf nodes in the menu hierarchy that have an associated resource to access. Menu Items of type MENU are just place holders creating an organized menu tree.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ParentMenuKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="PARENT_MENU_KEY" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Parent menu item to which a menu item belongs.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_MENU">
                                <xsd:documentation>A resource associated with a menu item. This is populated only for leaf menu items.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
