Data/xapidocs/api_javadocs/XSD/YCP_getUserHierarchy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getUserHierarchy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getUserHierarchy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getUserHierarchy_input.xsd" yfc:rootElement="User">
        <xsd:appinfo source="yfc:structure">
            <User hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="User" type="yfc:UserXSDType">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>
                <div>
			Either <code>Loginid</code> attribute <i>or</i>
                    <code>UserKey</code> attribute must be passed.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UserXSDType">
        <xsd:attribute name="DataSecurityGroupId"
            type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_USER">
                <xsd:documentation>Data Security Group Id.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayUserID" type="yfctype:Text-150" use="optional">
            <xsd:annotation yfc:columnName="DISPLAY_USER_ID" yfc:tableName="YFS_USER">
                <xsd:documentation>Indicates Display User's ID which is used for login in to the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_USER">
                <xsd:documentation>The Customer Master Organization Code of the User's Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>The login ID for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
