Data/xapidocs/api_javadocs/XSD/YCP_getCommonCodeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCommonCodeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCommonCodeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCommonCodeList_input.xsd" yfc:rootElement="CommonCode">
        <xsd:appinfo source="yfc:structure">
            <CommonCode hasAttributes="Y">
                <LocalizedAttributes/>
            </CommonCode>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CommonCode" type="yfc:CommonCodeXSDType">
        <xsd:annotation yfc:tableName="YFS_COMMON_CODE">
            <xsd:documentation>This master table stores the system and user defined codes with descriptions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CommonCodeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocalizedAttributes"/>
        </xsd:all>
        <xsd:attribute name="ApplicationCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				 Code to specify an application.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationVersion" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				 Application version identifier.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
			If CallingOrganizationCode is passed, then it will
			be used as the context organization. This, combined
			with the configuration data setup for common code,
			will result in a list filtered for access by the given organization.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeLength" type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="CODE_LENGTH" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The maximum length of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeLongDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="CODE_LONG_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The long description for the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeName" type="yfctype:CommonCodeName" use="optional">
            <xsd:annotation yfc:columnName="CODE_NAME" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The name of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeShortDescription"
            type="yfctype:CodeShortDescription" use="optional">
            <xsd:annotation yfc:columnName="CODE_SHORT_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The short description of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeSymbol" type="yfctype:Symbol" use="optional">
            <xsd:annotation yfc:columnName="CODE_SYMBOL" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The symbol for the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeType" type="yfctype:CodeType" use="optional">
            <xsd:annotation yfc:columnName="CODE_TYPE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>
                    <div>
			A code type ( User or system defined) to which a common code belongs. 
			</div>
                    <Validation>
                        <Condition>
                            <code>CodeType</code> must be passed and must be valid.
				</Condition>
                        <Error Description="Invalid CodeType." ErrorCode="YCP0177"/>
                    </Validation>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeValue" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="CODE_VALUE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The unique code value belonging to a particular code type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CommonCodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COMMON_CODE_KEY" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The primary key of the  YFS_COMMON_CODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The document type associated with this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MeantForEnterprise" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MEANT_FOR_ENTERPRISE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>This flag indicates whether the code can be maintained by an enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MeantForInternal" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MEANT_FOR_INTERNAL" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>This flag indicates whether the code is meant for internal purposes within an application.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MeantForSupplier" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MEANT_FOR_SUPPLIER" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>This flag indicates whether the code is maintained by suppliers.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The organization code associated with this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagId"
            type="yfctype:QualifiedTagId" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>Qualified Tag identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemDefinedCode" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_DEFINED_CODE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>This flag indicates whether the code is system defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LocalizedAttributes">
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
