Data/xapidocs/api_javadocs/XSD/YCP_determinePrintJobNameUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/determinePrintJobNameUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/determinePrintJobNameUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_determinePrintJobNameUE_output.xsd" yfc:rootElement="PrintDocument">
        <xsd:appinfo source="yfc:structure">
            <PrintDocument hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PrintDocument" type="yfc:PrintDocumentXSDType">
        <xsd:annotation yfc:tableName="YFS_PRINT_DOCUMENT">
            <xsd:documentation>This entity contains the definition of all the documents that will be printed using the print-infrastructure along with their descriptions and the default label format to be used for the document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PrintDocumentXSDType">
        <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>The document that will be printed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintJobName" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>The PrintJobName determined by the default logic.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
