Data/xapidocs/api_javadocs/XSD/YCP_modifyCache_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/modifyCache/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/modifyCache/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_modifyCache_input.xsd" yfc:rootElement="CachedGroups">
        <xsd:appinfo source="yfc:structure">
            <CachedGroups hasAttributes="Y">
                <CachedGroup hasAttributes="Y">
                    <CachedObject hasAttributes="Y"/>
                </CachedGroup>
            </CachedGroups>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CachedGroups" type="yfc:CachedGroupsXSDType"/>
    <xsd:complexType name="CachedGroupsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CachedGroup"/>
        </xsd:all>
        <xsd:attribute name="ServerId" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>
				The server identifier. This can be obtained by the <code>getServerList</code> api.
				If this attribute is not provided, then the cache modification actions will be broadcast to
				all servers.
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CachedGroup">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CachedObject"/>
            </xsd:all>
            <xsd:attribute name="Action" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The action to perform.
							<br/>Valid values at this level: <b>
                                <code>CLEAR</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-200" use="required">
                <xsd:annotation>
                    <xsd:documentation>The name of the cached group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CachedObject">
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The action to perform.
							<br/>Valid values at this level: <b>
                                <code>CLEAR</code>
                            </b> or <b>
                                <code>MODIFY</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Class" type="yfctype:Text-200" use="required">
                <xsd:annotation>
                    <xsd:documentation>The cached object class name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Enabled" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Indicates if cache needs to be enabled for this class.
							<br/>Valid values are: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>.
							<br/>If <code>Action</code> is <b>
                                <code>MODIFY</code>
                            </b> and <code>Enabled</code> is not <b>
                                <code>Y</code>
                            </b>, the API defaults <code>Enabled</code> to <b>
                                <code>N</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Limit" type="yfctype:CacheLimit" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The number of rows to cache.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SizeLimit" type="yfctype:CacheLimit" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The size of objects in kbytes to cache.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isSizeBasedAlgo" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates if size based caching needs to be enabled for this class.
						<br/>Valid values are: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
