Data/xapidocs/api_javadocs/XSD/YCP_getProductivityTypeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getProductivityTypeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getProductivityTypeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getProductivityTypeList_input.xsd" yfc:rootElement="ProductivityType">
        <xsd:appinfo source="yfc:structure">
            <ProductivityType hasAttributes="Y">
                <EquipmentTypes>
                    <EquipmentType hasAttributes="Y"/>
                </EquipmentTypes>
                <ProductivityList>
                    <Productivity hasAttributes="Y"/>
                </ProductivityList>
                <TaskTypeList>
                    <TaskType hasAttributes="Y"/>
                </TaskTypeList>
            </ProductivityType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProductivityType" type="yfc:ProductivityTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY_TYPE">
            <xsd:documentation>This table stores Standard Allowable Minutes for different Productivity Types.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProductivityTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EquipmentTypes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProductivityList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TaskTypeList"/>
        </xsd:all>
        <xsd:attribute name="AllowedMinsConstant"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_CONSTANT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per trip.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerCase" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per case handled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerItem" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per item handled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerPallet"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per pallet handled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerSourceAisle"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_SOURCE_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per source aisle visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerSourceLevel"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_SOURCE_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per source level visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerSourceLocn"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_SOURCE_LOCN" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per source location visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerTargetAisle"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_TARGET_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per target aisle visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerTargetLevel"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_TARGET_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per target level visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerTargetLocn"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_TARGET_LOCN" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per target location visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerTask" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per task performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerUnit" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per unit handled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerUnitHorizontalDistance"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_UNIT_HOR_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per unit horizontal distance covered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerUnitVerticalDistance"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_UNIT_VER_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per unit vertical distance covered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerUnitWeight"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_UNIT_WEIGHT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per unit weight of item moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaptureTripLevelMetrics"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAPTURE_TRIP_LEVEL_METRICS" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the productivity metrics should be captured by trip level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderProductivityOrTask"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>If passes as <code>Y</code> Productivity Type records with equipment override defined are also fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Description of productivity type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentType" type="yfctype:EquipmentType" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Equipment type associated with the productivity type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsConstantAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_CONSTANT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per trip is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerCaseAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_CASE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per case handled is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerItemAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_ITEM_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per item handled is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerPalletAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_PALLET_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per pallet handled is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerSourceAisleAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_SOURCE_AISLE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per source aisle visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerSourceLevelAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_SOURCE_LEVEL_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per source level visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerSourceLocnAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_SOURCE_LOCN_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per source location visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerTargetAisleAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_TARGET_AISLE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per target aisle visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerTargetLevelAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_TARGET_LEVEL_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per target level visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerTargetLocnAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_TARGET_LOCN_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per target location visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerTaskAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_TASK_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per task performed is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerUnitAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_UNIT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit handled is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerUnitHorizontalDistanceAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_UNIT_HOR_DIST_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit horizontal distance covered is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerUnitVerticalDistanceAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_UNIT_VER_DIST_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit vertical distance covered is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerUnitWeightAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_UNIT_WEIGHT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit weight of item moved is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerBatchAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_BATCH_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per batch is applicable to this productivity type during planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerCaseAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_CASE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per case is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerItemAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_ITEM_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per item is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerPalletAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_PALLET_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per pallet is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerTaskAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_TASK_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per task is applicable to this productivity type during planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerUnitAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_UNIT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerUnitWtAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_UNIT_WT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit weight is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Owner organization of the node for which this productivity type is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerBatch"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_BATCH" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerCase" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per case.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerItem" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerPallet"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per pallet.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerTask" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerUnit" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per unit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerUnitWt"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_UNIT_WT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per unit wt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityType"
            type="yfctype:ProductivityType" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>The productivity type defined for this SAM.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE_KEY" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Primary key attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="EquipmentTypes">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						This element is not considered when <code>ConsiderProductivityOrTask</code> is passed as <code>Y</code>.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EquipmentType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EquipmentType">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT_TYPE">
            <xsd:documentation>All equipment types of the warehouse are defined in this table. e.g. GRABTRUCK, FORKLIFT etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>A brief description of the equipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>This field specifies the equipment type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE_KEY" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_EQUIPMENT_TYPE">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProductivityList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Productivity"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Productivity">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DateOfExecution" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="DATE_OF_EXECUTION" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The date on which the tasks were executed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EarliestTaskStartTimeStamp"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="EARLIEST_TASK_START_TIME_STAMP" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The start time of the earliest task included in this productivity batch.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The enterprise key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LatestTaskEndTimeStamp"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="LATEST_TASK_END_TIME_STAMP" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The end time of the latest task included in this productivity batch.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The organization of the task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The primary key for the YFS_PRODUCTIVITY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityType"
                type="yfctype:ProductivityType" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The productivity type for which the metrics has been calculated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The user for whom the productivity is being defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TaskType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaskType">
        <xsd:annotation yfc:tableName="YFS_TASK_TYPE">
            <xsd:documentation>This table stores different types of tasks performed in a warehouse.  Different task types typically represent tasks that are physically different.  For instance, paper based putaway as opposed to RF based putaway.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The code of the activity within the Activity Group.  For example, STORAGE.  This is system defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityGroupId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The activities performed in a warehouse are grouped in an activity group Id. For example, PUTAWAY. Activity groups are system defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BatchRequired" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="BATCH_REQUIRED" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>This flag indicates whether tasks need to be batched on creation.Y:  When tasks are created, they need to be batched and printed.  This typically represents a paper based process, but it may also represent an RF based process.  N:  No batching required  This information is used by createTask API: When tasks are created, if this flag is Y, then they are 'Held for batching'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BatchRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BATCH_RULE_KEY" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The batch rule key that is associated with this task type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExecTasksThruDropoff"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EXEC_TASKS_THRU_DROPOFF" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>This flag indicates whether to execute tasks through drop off locations.   Y: indicates that this type of task is physically broken up by drop off locations (on system, this does not automatically translate into multiple tasks). N: indicates that this type of task is carried out without being broken up into drop-off locations.  That is, product is carried directly from origin to destination without being stopped at drop off locations.    This information is used by createTask API:  If this is set to Y, and pick method is not 'pick to pallet', then tasks are created split by drop off location (drop off chaining).  Putaway RF screen: if this is Y, then it displays the drop off location on pick screen if that drop off location is different from the target location on the task.   updateTaskStatus API: when status is moved to PICKED, then if the task needs to be split, then internally, createTask API is called, which considers this rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldTaskOnCreation" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_TASK_ON_CREATION" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>This flag indicates whether tasks are held in creation. Tasks held on creation may be released manually later. This information is used by the createTask API. When tasks are created, if this flag is Y, then they are 'Held for batching'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAdHocMove" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_AD_HOC_MOVE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>This flag indicates whether putaway can be performed on an ad hoc basis.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxUsersAllowed" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="MAX_USERS_ALLOWED" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The number of users who can be suggested tasks of this task type and primary task reference combination.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The node key that is associated with this task type. Since operations vary for each node, task type level attributes are maintained at a node level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The owner organization of the node for which this task type is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickIntoInventoryContainer"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="PICK_INTO_INVENTORY_CONTAINER" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The case Id or pallet Id into which products are picked directly.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickIntoOutboundContainer"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="PICK_INTO_OUTBOUND_CONTAINER" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The outbound case Id or pallet Id into which the item is picked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryTaskReference"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_TASK_REFERENCE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The smallest group of tasks that need to be kept together for a particular user.  For instance, in the case of strict order pick, user picks one shipment at a time.  In such a case, if the first task that is suggested to a user has shipment number A, then all other tasks belonging to that shipment number must be suggested only to that user.  In order to accomplish this, system automatically creates a temporary user level transaction constraint for this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityType"
                type="yfctype:ProductivityType" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The productivity type to which this Task type is associated. It is possible that a task type can not have a productivity type associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourceIdOverride"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_ID_OVERRIDE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The unique identifier of a resource, which will be used for a task type. This resource will override the default resource associated with the task type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceTaskOrderBy"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_TASK_ORDER_BY" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The sequence in which to order the source task. 01: Move-In Sequence. Typically, this is used during putaway.  02: Move-out Sequence. Typically, this is used during replenishment and order picking.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceTaskSuggestion"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_TASK_SUGGESTION" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The suggestion for the source task. 01: User sequenced User is presented with a set of tasks, and the user selects the order in which they are done  02: System sequenced System presents the user with tasks one by one, and the user has to perform them in that order (override possible).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StandardRate" type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The rate at which tasks of this task type are executed. The rate can be either the number of tasks per hour or in units per hour, as specified in standard rate unit of  measure. It is derived from allowed minutes per task column in YFS_PRODUCTIVITY_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StandardRateUom" type="yfctype:Text-4" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The unit of  measure at which tasks of this task type are executed. The rate can be either number of tasks per hour or in units per hour.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetTaskOrderBy"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="TARGET_TASK_ORDER_BY" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The sequence in which to order target tasks. 01: Move-In Sequence Typically, this is used during putaway.  02: Move-out Sequence Typically, this is used during replenishment and order picking.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetTaskSuggestion"
                type="yfctype:Text-4" use="optional">
                <xsd:annotation yfc:columnName="TARGET_TASK_SUGGESTION" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The suggestion for the target task. 01: User sequenced - User is presented with a set of deposit tasks, and the user selects the order in which deposit is done  02: System sequenced - System presents the user with deposit tasks one by one, and the user has to deposit in that order (override possible).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The identifier of the task type. Typically, this would be a short two-digit code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE_KEY" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The primary key for the YFS_TASK_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskTypeName"
                type="yfctype:TaskTypeName" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE_NAME" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>The descriptive name of the task type.  This is used to display data in drop-downs in the user interface, wherever the user can select a task type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskTypePriority"
                type="yfctype:Priority" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The priority of this task type over other task types.  This priority controls the order in which tasks are suggested to a user.  Priority 1 will get suggested before Priority 2, and so on.  Tasks are suggested in ascending order of task type priority (there are several other factors that influence the order in which tasks are suggested).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VoiceWorkFlowId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="VOICE_WORK_FLOW_ID" yfc:tableName="YFS_TASK_TYPE">
                    <xsd:documentation>Indicates the Voice Work Flow to be used to execute the Tasks belonging to this Task Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
