Data/xapidocs/api_javadocs/XSD/YCP_getStatusMilestoneList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getStatusMilestoneList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getStatusMilestoneList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getStatusMilestoneList_output.xsd" yfc:rootElement="StatusMilestoneList">
        <xsd:appinfo source="yfc:structure">
            <StatusMilestoneList>
                <StatusMilestone hasAttributes="Y"/>
            </StatusMilestoneList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StatusMilestoneList" type="yfc:StatusMilestoneListXSDType"/>
    <xsd:complexType name="StatusMilestoneListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StatusMilestone"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="StatusMilestone">
        <xsd:annotation yfc:tableName="YFS_STATUS_MILESTONE">
            <xsd:documentation>Stores milestones attached to a status</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DateTypeId" type="yfctype:DateTypeId" use="optional">
                <xsd:annotation yfc:columnName="DATE_TYPE_ID" yfc:tableName="YFS_STATUS_MILESTONE">
                    <xsd:documentation>Identifies a date type for which additional dates are stored</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MilestoneLevel"
                type="yfctype:MilestoneLevel" use="optional">
                <xsd:annotation yfc:columnName="MILESTONE_LEVEL" yfc:tableName="YFS_STATUS_MILESTONE">
                    <xsd:documentation>

                        <div>The Milestone Level can be set on Order, Orderline and Order releases.The Following are the different values for the Milestone Level
			
						<div
                                class="innerpanel" width="30%">
                                <table border="1" cellpadding="1"
                                    cellspacing="0" class="table">
                                    <thead>
                                    <tr>
                                    <td class="tablecolumnheader">Allowed Value</td>
                                    <td class="tablecolumnheader">Description</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    <td class="tablecolumn">01</td>
                                    <td class="tablecolumn">Order</td>
                                    </tr>
                                    <tr>
                                    <td class="tablecolumn">02</td>
                                    <td class="tablecolumn">Order Line</td>
                                    </tr>
                                    <tr>
                                    <td class="tablecolumn">03</td>
                                    <td class="tablecolumn">Order Release</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_STATUS_MILESTONE">
                    <xsd:documentation>The owner organization for this status milestone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_STATUS_MILESTONE">
                    <xsd:documentation>Primary key of the process type associated with a status milestone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityType"
                type="yfctype:QuantityType" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_TYPE" yfc:tableName="YFS_STATUS_MILESTONE">
                    <xsd:documentation>

                        <div>The Qunatity type can be set for All or can be set for Some quantity. The Following are the different values for the Quantity Type
			
						<div
                                class="innerpanel" width="30%">
                                <table border="1" cellpadding="1"
                                    cellspacing="0" class="table">
                                    <thead>
                                    <tr>
                                    <td class="tablecolumnheader">Allowed Value</td>
                                    <td class="tablecolumnheader">Description</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    <td class="tablecolumn">01</td>
                                    <td class="tablecolumn">Some Quantity</td>
                                    </tr>
                                    <tr>
                                    <td class="tablecolumn">02</td>
                                    <td class="tablecolumn">All</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS_MILESTONE">
                    <xsd:documentation>Pick up status</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusMilestoneKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="STATUS_MILESTONE_KEY" yfc:tableName="YFS_STATUS_MILESTONE">
                    <xsd:documentation>Primary Key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
