Data/xapidocs/api_javadocs/XSD/YCP_invokeUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/invokeUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/invokeUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_invokeUE_output.xsd" yfc:rootElement="InvokeUE">
        <xsd:appinfo source="yfc:structure">
            <InvokeUE hasAttributes="Y">
                <XMLData/>
            </InvokeUE>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InvokeUE" type="yfc:InvokeUEXSDType"/>
    <xsd:complexType name="InvokeUEXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:XMLData"/>
        </xsd:all>
        <xsd:attribute name="IsUserExitImplemented" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates if the User Exit is implemented or not. 
						This attribute will appear only when this API is invoked by passing <code>CheckIfUserExitIsImplemented</code> as <b>
                            <code> 
						Y </code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TranId" use="optional">
            <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>
                    <div>
						Indicates the transaction associated to the
						User Exit.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserExit" type="yfctype:UserExitName" use="optional">
            <xsd:annotation yfc:columnName="USER_EXIT_NAME" yfc:tableName="YFS_USER_EXIT">
                <xsd:documentation>
                    <div>
						Indicates the name of the User Exit that was invoked.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="XMLData">
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
