Data/xapidocs/api_javadocs/XSD/YCP_beforeCancelTaskUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/beforeCancelTaskUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/beforeCancelTaskUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_beforeCancelTaskUE_output.xsd" yfc:rootElement="Task">
        <xsd:appinfo source="yfc:structure">
            <Task hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Task" type="yfc:TaskXSDType">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>This table stores list of all tasks across nodes.  Tasks represent a logical or a physical activity.  Every task must belong to a task type, which identifies the type of activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskXSDType">
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Reason code to cancel the task. This information is recorded into <code>YFS_TASK</code> and <code>YFS_TASK_STATUS_AUDIT</code> tables.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Reason text to cancel the task. This information is recorded into <code>YFS_TASK</code> and <code>YFS_TASK_STATUS_AUDIT</code> tables.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
				The ID which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
				<Validation>
                            <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
					</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value does not identify an existing task. 
					</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_KEY" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
				The key which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
				<Validation>
                            <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
					</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value does not identify an existing task. 
					</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
