Data/xapidocs/api_javadocs/XSD/YCP_getUomList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getUomList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getUomList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getUomList_input.xsd" yfc:rootElement="Uom">
        <xsd:appinfo source="yfc:structure">
            <Uom hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Uom" type="yfc:UomXSDType">
        <xsd:annotation yfc:tableName="YFS_UOM">
            <xsd:documentation>Stores unit of measures definitions. Unit of Measures codes defined for the types WEIGHT, DIMENSION, VOLUME and TIME are shared by all organizations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UomXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_UOM">
                <xsd:documentation>Organization to which the unit of measure belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Uom" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_UOM">
                <xsd:documentation>Code for the unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UomDescription" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="UOM_DESCRIPTION" yfc:tableName="YFS_UOM">
                <xsd:documentation>Description of a unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UomKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="UOM_KEY" yfc:tableName="YFS_UOM">
                <xsd:documentation>Primary Key</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UomType" type="yfctype:UOMType" use="optional">
            <xsd:annotation yfc:columnName="UOM_TYPE" yfc:tableName="YFS_UOM">
                <xsd:documentation>Indicates the type for the unit of measure. For example, dimension unit of measure, or weight unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
