Data/xapidocs/api_javadocs/XSD/YCP_getEntityCustomAttributeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getEntityCustomAttributeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getEntityCustomAttributeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getEntityCustomAttributeList_output.xsd" yfc:rootElement="EntityCustomAttributeList">
        <xsd:appinfo source="yfc:structure">
            <EntityCustomAttributeList hasAttributes="Y">
                <EntityCustomAttribute hasAttributes="Y">
                    <Attribute hasAttributes="Y"/>
                </EntityCustomAttribute>
            </EntityCustomAttributeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntityCustomAttributeList" type="yfc:EntityCustomAttributeListXSDType"/>
    <xsd:complexType name="EntityCustomAttributeListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:EntityCustomAttribute"/>
        </xsd:all>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>The total number of <code>EntityCustomAttribute</code>s.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="EntityCustomAttribute">
        <xsd:annotation yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
            <xsd:documentation>This table stores the extended attributes to be used by an Entity.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Attribute"/>
            </xsd:sequence>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute. This attribute will be used as an extended column for the TableName/DocumentType defined in the corresponding  YFS_ENTITY_ATTRIBUTE_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ColumnName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COLUMN_NAME" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>This points to the Column in the hang-off of the corresponding Entity for storing the extended attribute defined in ATTRIBUTE_ID field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntityAttributeDomainKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ENTITY_ATTRIBUTE_DOMAIN_KEY" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ENTITY_ATTRIBUTE_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntityCustomAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ENTITY_CUSTOM_ATTRIBUTE_KEY" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ENTITY_CUSTOM_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>The organization that maintains the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Searchable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SEARCHABLE" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether the extended attribute is an indexed column in the hang-off.  Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:AttributeStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                    <xsd:documentation>This represents the Status of the extended attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllowMultipleValues"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOW_MULTIPLE_VALUES" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether multiple values are allowed to be assigned for this attribute. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedValueLength" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_VALUE_LENGTH" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The maximum length allowed for a value of Data Type = 'TEXT'. If not passed, the maximum length allowed is 200.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:MaxRecordCount"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The unique identifier of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The primary key for the YFS_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributePostFix"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_POST_FIX" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The post fix to be applied to the value of this attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataType"
                type="yfctype:EnumAttributeDataType" use="optional">
                <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The data type allowed for the value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DerivedFromAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DERIVED_FROM_ATTR_KEY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The primary key of the attribute record from which this attribute is derived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedValueDefined"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ALLOWED_VALUE_DEFINED" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether a set of allowed values are defined for this attribute. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsValueMandatory" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_VALUE_MANDATORY" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>This flag indicates whether this attribute requires a mandatory selection of value when assigned to an item. Default value: "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The detailed description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The organization that maintains the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The sequence of this attribute within the attribute group.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE">
                    <xsd:documentation>The short description of the  attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
