Data/xapidocs/api_javadocs/XSD/YCP_exceptionResolver_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/exceptionResolver/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/exceptionResolver/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_exceptionResolver_output.xsd" yfc:rootElement="Inbox">
        <xsd:appinfo source="yfc:structure">
            <Inbox hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Inbox" type="yfc:InboxXSDType">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InboxXSDType">
        <xsd:attribute name="ErrorCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>It is an optional parameter,returned only when Resolve="N".Indicates the reason why it should not be resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Resolve" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Resolved" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates that whether the exception needs to be resolved</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
