Data/xapidocs/api_javadocs/XSD/YCP_getProcessStatusList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getProcessStatusList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getProcessStatusList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getProcessStatusList_input.xsd" yfc:rootElement="ProcessStatus">
        <xsd:appinfo source="yfc:structure">
            <ProcessStatus hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProcessStatus" type="yfc:ProcessStatusXSDType">
        <xsd:annotation yfc:tableName="PLT_PROCESS_STATUS">
            <xsd:documentation>This table contains status of various processes</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProcessStatusXSDType">
        <xsd:attribute name="ProcessData" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_DATA" yfc:tableName="PLT_PROCESS_STATUS">
                <xsd:documentation>The data for the process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessLog" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_LOG" yfc:tableName="PLT_PROCESS_STATUS">
                <xsd:documentation>The logs of the process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessName"
            type="yfctype:ProcessStatusName" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_NAME" yfc:tableName="PLT_PROCESS_STATUS">
                <xsd:documentation>The name of the process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessNameDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_NAME_DESCRIPTION" yfc:tableName="PLT_PROCESS_STATUS">
                <xsd:documentation>The description of process name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessStatusKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_STATUS_KEY" yfc:tableName="PLT_PROCESS_STATUS">
                <xsd:documentation>The primary key of the PLT_PROCESS_STATUS table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="PLT_PROCESS_STATUS">
                <xsd:documentation>This field indicates the status of the process status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
