Data/xapidocs/api_javadocs/XSD/YCP_createInitiatorResponse_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createInitiatorResponse/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createInitiatorResponse/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_createInitiatorResponse_input.xsd" yfc:rootElement="Responses">
        <xsd:appinfo source="yfc:structure">
            <Responses>
                <Response hasAttributes="Y">
                    <HeaderResponses>
                        <HeaderResponse hasAttributes="Y">
                            <HeaderTerms hasAttributes="Y"/>
                        </HeaderResponse>
                    </HeaderResponses>
                    <LineResponses>
                        <LineResponse hasAttributes="Y">
                            <LineTerms>
                                <LineTermsDetail hasAttributes="Y"/>
                            </LineTerms>
                        </LineResponse>
                    </LineResponses>
                </Response>
            </Responses>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Responses" type="yfc:ResponsesXSDType"/>
    <xsd:complexType name="ResponsesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Response"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Response">
        <xsd:annotation yfc:tableName="YFS_RESPONSE">
            <xsd:documentation>
                <div>
				One of the following must be passed and valid:
				<br/>- <code>NegotiationHeaderKey</code>
                    <br/>- <code>NegotiationNo</code> and <code>EnterpriseCode</code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderResponses"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineResponses"/>
            </xsd:all>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Id of the user who has entered this response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Enterprise of the order for which this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Primary key of the negotiation for which this response is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Part of unique key of negotiation. Enterprise code and negotiation number together uniquely identify a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any notes added by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>
                        <div>
					The initiator organization.
						<Validation>
                                <Condition>
                                    <code>OrganizationCode</code> must be the initiator organization.
						</Condition>
                                <Error Description="" ErrorCode="YCP0025"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any reason code specified by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderResponses">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderResponse"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
            <xsd:documentation>
                <div>
                    <code>HeaderResponse</code> should not be passed if <code>HeaderTerms</code> are already accepted.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderTerms"/>
            </xsd:all>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>
                        <div>
							The Response number of the negotiator organization's last response.
								<Validation>
                                <Condition>
                                    <code>ForResponseNo</code>  should be the negotiator's last response number. It should be <code>
                                    <b>0</b>
                                    </code> if the negotiator has not yet made any offer.
								</Condition>
                                <Error Description="" ErrorCode="YCP0027"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="required">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>
                        <div>
							The action to be performed on the negotiation.
							<br/>If <code>ResponseAction</code> is <code>
                                <b>Accept</b>
                            </code>, <code>HeaderTerms</code> do not need to be passed.
							<br/>Valid Values:  <b>
                                <code>Offer</code>
                            </b> or <b>
                                <code>Accept</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderTerms">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
            <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>New freight terms.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTerms" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>New payment terms.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineResponses">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				One of the following is required:
				<br/>- <code>LineEntity</code> and <code>LineEntityKey</code>
                    <br/>- <code>PrimeLineNo</code> and <code>SubLineNo</code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:LineResponse"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE">
            <xsd:documentation>
                <div>
                    <code>LineResponse</code> should not be passed if <code>LineTerms</code> are already accepted.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineTerms"/>
            </xsd:all>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForOptionNo"
                type="yfctype:ShorterNumber" use="required">
                <xsd:annotation yfc:columnName="FOR_OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>
                        <div>
							Option number of the other organization's last response.
								<Validation>
                                <Condition>
                                    <code>ForOptionNo</code> should be one of the option numbers from the negotiator's last response.
								</Condition>
                                <Error Description="" ErrorCode="YCP0041"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>
                        <div>
							The Response number of the negotiator organization's last response.
								<Validation>
                                <Condition>
                                    <code>ForResponseNo</code>  should be the negotiator's last response number. It should be <code>
                                    <b>0</b>
                                    </code> if the negotiator has not yet made any offer.
								</Condition>
                                <Error Description="" ErrorCode="YCP0027"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntity" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntityKey" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="required">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>
                        <div>
							The action to be performed on the negotiation.  
							<br/>If <code>ResponseAction</code> is <code>
                                <b>Accept</b>
                            </code> or <code>
                                <b>Remove</b>
                            </code>, <code>LineTerms</code> do not need to be passed.
							<br/>Valid Values:  <b>
                                <code>Offer</code>
                            </b>, 
								<b>
                                <code>Remove</code>
                            </b>, or <b>
                                <code>Accept</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTerms">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LineTermsDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTermsDetail">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE_DTL">
            <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response_line.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New delivery date offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New freight terms offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New item id offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OptionNo" type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>Option number. Organization can offer multiple options for new value of a negotiable attribute. For example, option 1 can be item=item1 and option 2 can be item=item2. The other organization can accept any of the multiple options.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New price offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New product class offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New quantity offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>One up number. Negotiation_line_key, option_no and sequence_no makes a unique key. Total quantity of the negotiation line can be split into multiple offer. For example, for total quantity of 10, oraganization's offer can be quantity=8, Price=10 and quantity=2, Price=11. In this case the two records will have sequence number 1 and 2.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New ship date offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New UOM offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
