Data/xapidocs/api_javadocs/XSD/YCP_getUserConstraintDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getUserConstraintDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getUserConstraintDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getUserConstraintDetails_input.xsd" yfc:rootElement="User">
        <xsd:appinfo source="yfc:structure">
            <User hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="User" type="yfc:UserXSDType">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UserXSDType">
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID"
                yfc:isConditional="Y" yfc:tableName="YFS_USER">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition> Either <code>UserId</code> or <code>UserKey</code> must be passed. </Condition>
                            <Error
                                Description="Either UserKey or UserId is mandatory" ErrorCode="YCP0156"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_USER">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition> Either <code>UserId</code> or <code>UserKey</code> must be passed. </Condition>
                            <Error
                                Description="Either UserKey or UserId is mandatory" ErrorCode="YCP0156"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
