Data/xapidocs/api_javadocs/XSD/YCP_getNodeNotificationPeriodDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNodeNotificationPeriodDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNodeNotificationPeriodDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getNodeNotificationPeriodDetails_input.xsd" yfc:rootElement="NodeNotificationPeriod">
        <xsd:appinfo source="yfc:structure">
            <NodeNotificationPeriod hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeNotificationPeriod" type="yfc:NodeNotificationPeriodXSDType">
        <xsd:annotation yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
            <xsd:documentation>
                <div>Either <code>NodeNotificationPeriodKey</code> or a combination of 
    			<code>EffectiveFromDate</code>, <code>EffectiveToDate</code>, and 
    			<code>OrganizationCode</code> uniquely identify a <code>NodeNotificationPeriod</code>.
	    		<Validation>
                        <Condition>
                            <code>NodeNotificationPeriod</code> could not be found.</Condition>
                        <Error Description="No record found." ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeNotificationPeriodXSDType">
        <xsd:attribute name="EffectiveFromDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
                <xsd:documentation>The date that this notification time is applicable from.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveToDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
                <xsd:documentation>The date that this notification time is applicable to.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="NodeNotificationPeriodKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_NOTIFICATION_PERD_KEY" yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
                <xsd:documentation>The primary key of the YFS_NODE_NOTIFICATION_PERD table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
                <xsd:documentation>The organization for which this notification period is for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
