Data/xapidocs/api_javadocs/XSD/YCP_getExceptionListForUser_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getExceptionListForUser/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getExceptionListForUser/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getExceptionListForUser_input.xsd" yfc:rootElement="getExceptionListForUser">
        <xsd:appinfo source="yfc:structure">
            <getExceptionListForUser hasAttributes="Y">
                <Inbox hasAttributes="Y"/>
            </getExceptionListForUser>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getExceptionListForUser" type="yfc:getExceptionListForUserXSDType"/>
    <xsd:complexType name="getExceptionListForUserXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Inbox"/>
        </xsd:all>
        <xsd:attribute name="IncludeAlertsAssignedToUser"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>If this Attribute is Y,the api will list all exceptions assigned to the user in addition to those in his queues.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IncludeAlertsInUsersDepartmentQueue"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>If this Attribute is Y,the api will list all exceptions in the users department in addition to those in his queues.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IncludeAlertsOwnedByUsersOrg"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>If this Attribute is Y,the api will list all exceptions owned by users organization in addition to those in his queues.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:String" use="optional"/>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="required">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>User for whom the exception list is requested.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Inbox">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApiName" type="yfctype:ApiName-128" use="optional">
                <xsd:annotation yfc:columnName="API_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Name of the api that created this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApiNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="AssignedToUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The current user to which the exception is assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedToUserKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="AutoResolvedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="AUTO_RESOLVED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AutoResolvedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Indicates a customer associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ConsolidationCount"
                type="yfctype:PositiveShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="CONSOLIDATION_COUNT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The number of exceptions that this record represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsolidationCountQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ErrorReason" type="yfctype:ErrorReason" use="optional">
                <xsd:annotation yfc:columnName="ERROR_REASON"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Error code or reason related to this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorReasonQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ErrorType" type="yfctype:ErrorType" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Type of error this exception record represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionEscalatedFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="EXCEPTION_ESCALATED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether an exception was escalated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionEscalatedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionType"
                type="yfctype:ExceptionType-40" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The type of exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExpirationDays"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DAYS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Number of days of no activity after which this exception may be automatically closed. A value of zero means the exception will not expire.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDaysQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
                <xsd:annotation yfc:columnName="FLOW_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The service associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FollowupDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FOLLOWUP_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which the exception should be followed up next.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FollowupDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="FromApiName" type="yfctype:ApiName-128" use="optional"/>
            <xsd:attribute name="FromAssignedToUserKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromAutoResolvedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromBillToID" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="FromConsolidationCount"
                type="yfctype:PositiveShorterNumber" use="optional"/>
            <xsd:attribute name="FromEnterpriseKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromErrorReason"
                type="yfctype:ErrorReason" use="optional"/>
            <xsd:attribute name="FromErrorType" type="yfctype:ErrorType" use="optional"/>
            <xsd:attribute name="FromExceptionEscalatedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromExceptionType"
                type="yfctype:ExceptionType-40" use="optional"/>
            <xsd:attribute name="FromExpirationDays"
                type="yfctype:ShorterNumber" use="optional"/>
            <xsd:attribute name="FromFlowName" type="yfctype:FlowName" use="optional"/>
            <xsd:attribute name="FromFollowupDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromGeneratedOn"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxType" type="yfctype:InboxType" use="optional"/>
            <xsd:attribute name="FromItemId" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="FromLastExceedAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromLastOccurredOn"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromLastUnassignAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromLastUnresolveAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromLoadNo" type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="FromLockedByUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromLockedFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromLockedOn" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromOwnerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOwnerType" type="yfctype:OwnerType" use="optional"/>
            <xsd:attribute name="FromParentInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPriority"
                type="yfctype:PriorityWithDecimal" use="optional"/>
            <xsd:attribute name="FromResolutionDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromResolveBy" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromShipmentNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="FromShipnodeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromStatus" type="yfctype:Text-24" use="optional"/>
            <xsd:attribute name="FromSubFlowName"
                type="yfctype:SubFlowName" use="optional"/>
            <xsd:attribute name="FromSupplierKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromTeamCode" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromViewId" type="yfctype:ViewId" use="optional"/>
            <xsd:attribute name="FromWaveKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWaveNo" type="yfctype:SequenceNo" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="GeneratedOn" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="GENERATED_ON"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date and time on which the exception was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GeneratedOnQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxType" type="yfctype:InboxType" use="optional">
                <xsd:annotation yfc:columnName="INBOX_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The identifier for the item associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LastExceedAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_EXCEED_ALERT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception was escalated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastExceedAlertQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="LastOccurredOn"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_OCCURRED_ON"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The most recent time this exception was generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastOccurredOnQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="LastUnassignAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_UNASSIGN_ALERT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date when the last alert for 'unassignment' was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastUnassignAlertQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="LastUnresolveAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_UNRESOLVE_ALERT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date when the last 'unresolved' alert was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastUnresolveAlertQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The load number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LoadNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LockedByUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_BY_USER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The user who has been assigned to the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedByUserKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LockedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception is locked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="LockedOn" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_ON"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which an exception was assigned to a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedOnQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order line associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order number associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The organization which owns the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ParentInboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentInboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The priority of the exception. A lower number means a higher priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriorityQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ResolutionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RESOLUTION_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which the exception was resolved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolutionDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ResolveBy" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RESOLVE_BY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date by which the exception should be resolved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolveByQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The shipment number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The shipnode where the exception was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Status of the Alerts to be considered. This status filter is applied to all unresolved alerts with ActiveFlag = 'Y'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
                <xsd:annotation yfc:columnName="SUB_FLOW_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The sub flow or RuntimeID associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubFlowNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SupplierKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SUPPLIER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The supplier code associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplierKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TeamCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TEAM_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Indicates a team associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToApiName" type="yfctype:ApiName-128" use="optional"/>
            <xsd:attribute name="ToAssignedToUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToAutoResolvedFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToBillToID" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="ToConsolidationCount"
                type="yfctype:PositiveShorterNumber" use="optional"/>
            <xsd:attribute name="ToEnterpriseKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToErrorReason"
                type="yfctype:ErrorReason" use="optional"/>
            <xsd:attribute name="ToErrorType" type="yfctype:ErrorType" use="optional"/>
            <xsd:attribute name="ToExceptionEscalatedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToExceptionType"
                type="yfctype:ExceptionType-40" use="optional"/>
            <xsd:attribute name="ToExpirationDays"
                type="yfctype:ShorterNumber" use="optional"/>
            <xsd:attribute name="ToFlowName" type="yfctype:FlowName" use="optional"/>
            <xsd:attribute name="ToFollowupDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToGeneratedOn" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxType" type="yfctype:InboxType" use="optional"/>
            <xsd:attribute name="ToItemId" type="yfctype:ItemID" use="optional"/>
            <xsd:attribute name="ToLastExceedAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToLastOccurredOn"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToLastUnassignAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToLastUnresolveAlert"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToLoadNo" type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ToLockedByUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToLockedFlag" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToLockedOn" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderLineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToOwnerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOwnerType" type="yfctype:OwnerType" use="optional"/>
            <xsd:attribute name="ToParentInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPriority"
                type="yfctype:PriorityWithDecimal" use="optional"/>
            <xsd:attribute name="ToResolutionDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToResolveBy" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToShipmentNo" type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ToShipnodeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToStatus" type="yfctype:Text-24" use="optional"/>
            <xsd:attribute name="ToSubFlowName"
                type="yfctype:SubFlowName" use="optional"/>
            <xsd:attribute name="ToSupplierKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToTeamCode" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToViewId" type="yfctype:ViewId" use="optional"/>
            <xsd:attribute name="ToWaveKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWaveNo" type="yfctype:SequenceNo" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ViewId" type="yfctype:ViewId" use="optional">
                <xsd:annotation yfc:columnName="VIEW_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The view identifier associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ViewIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WAVE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The wave associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The wave number that uniquely identifies the wave within the context of a node.  This is system generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The work order associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The work order number within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
