Data/xapidocs/api_javadocs/XSD/YCP_manageExceptionRoutingRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageExceptionRoutingRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageExceptionRoutingRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageExceptionRoutingRule_input.xsd" yfc:rootElement="ExceptionRoutingRule">
        <xsd:appinfo source="yfc:structure">
            <ExceptionRoutingRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExceptionRoutingRule" type="yfc:ExceptionRoutingRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
            <xsd:documentation>
                <div>
				This entity  provides the utility to route alerts appropriately. <code>ExceptionRoutingRuleKey</code> or a unique combination of <code>OrganizationCode</code>, <code>ExceptionRoutingSeq</code> and <code>ExceptionType</code> can be specified to identify a ExceptionRoutingRule.
				<Validation>
                        <Condition>If ExceptionRoutingSeq, ExceptionType or OrganizationCode is not passed in Create mode.</Condition>
                        <Error
                            Description="OrganizationCode, ExceptionType and ExceptionRoutingSequence are mandatory." ErrorCode="YCP0291"/>
                    </Validation>
                    <Validation>
                        <Condition>If an invalid combination of QueueId and OrganizationCode is passed.</Condition>
                        <Error Description="Queue cannot be found." ErrorCode="YCP0326"/>
                    </Validation>
                    <Validation>
                        <Condition>If existing ExceptionRoutingRuleKey or a unique combination of ExceptionRoutingSeq, ExceptionType and OrganizationCode is passed in Create mode</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If record does not exist in the database</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ExceptionRoutingRuleXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomRole" type="yfctype:Role" use="optional">
            <xsd:annotation yfc:columnName="CUSTOM_ROLE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Attribute defined on the SDF component.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailId" type="yfctype:EMailID" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_ID" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>
                    <div>
				The email ID used in the routing rule. This field is only used for routing types 01, 02, and 03.
				<Validation>
                            <Condition>If EmailId is not passed when EmailReqd is set as Y.</Condition>
                            <Error
                                Description="EmailId is required field when EmailReqd is set as Y." ErrorCode="YCP0295"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailReqd" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_REQD" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Y/N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailTemplate" type="yfctype:EmailTemplate" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_TEMPLATE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Template for email.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionRoutingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_ROUTING_RULE_KEY" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Primary key attribute of YFS_EXCEPTION_ROUTING_RULE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionRoutingSeq"
            type="yfctype:ExceptionSequenceNo" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_ROUTING_SEQ" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>Exception Sequence Number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-50" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>
                    <div>
				The Exception Type. 
				<Validation>
                            <Condition>If an invalid exception type is passed.</Condition>
                            <Error Description="Invalid ExceptionType." ErrorCode="YCP0278"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JavaClass" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="JAVA_CLASS" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>The java class which is used to determine the routing. This field is only used for rounting of type 03.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>
                    <div>
				The Organization Code. 
				<Validation>
                            <Condition>If an invalid organization code is passed.</Condition>
                            <Error
                                Description="YCP:Invalid Organization Code." ErrorCode="YCP0040"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>The Queue ID to route to. This field is only used for routing type of 02.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingRole" type="yfctype:Role" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_ROLE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>
                    <div>
				The role for which a routing role is looked for. Valid values for this are read from YFS_ROLE.
				<Validation>
                            <Condition>If corresponding role does not exist in YFS_Role table.</Condition>
                            <Error Description="Invalid RoutingRole." ErrorCode="YCP0294"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingType" type="yfctype:EnumRoutingType" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_TYPE" yfc:tableName="YFS_EXCEPTION_ROUTING_RULE">
                <xsd:documentation>
                    <div>
				The type of routing to be done on an alert.
				<Validation>
                            <Condition>If Invalid RoutingType is passed in Create or Modify mode.</Condition>
                            <Error Description="Invalid RoutingType." ErrorCode="YCP0292"/>
                        </Validation>
                        <Validation>
                            <Condition>If RoutingType is not passed in Create mode.</Condition>
                            <Error
                                Description="RoutingType should be passed." ErrorCode="YCP0293"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
