Data/xapidocs/api_javadocs/XSD/YCP_getRegionList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getRegionList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getRegionList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getRegionList_input.xsd" yfc:rootElement="Region">
        <xsd:appinfo source="yfc:structure">
            <Region hasAttributes="Y">
                <PersonInfo hasAttributes="Y"/>
            </Region>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Region" type="yfc:RegionXSDType">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>
                <div>
			This table contains information about the Region definition. A region schema key has to be given to indicate the Schema with which the region is associated.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RegionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PersonInfo"/>
        </xsd:all>
        <xsd:attribute name="FromOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromParentRegionKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromRegionDescription"
            type="yfctype:FreeText-100" use="optional"/>
        <xsd:attribute name="FromRegionKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromRegionLevelName" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="FromRegionName" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="FromRegionSchemaKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromRegionSchemaName" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:qryTypeSupported="Y" yfc:tableName="YFS_REGION_SCHEMA">
                <xsd:documentation>Organization Key for which the region schema is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ParentRegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_REGION_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
				The <code>RegionKey</code> of the parent Region.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentRegionKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RegionDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="REGION_DESCRIPTION"
                yfc:isConditional="Y" yfc:qryTypeSupported="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The description of this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionDescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY"
                yfc:isConditional="Y" yfc:qryTypeSupported="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The primary key for the YFS_REGION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="REGION_LEVEL_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
				The Region Level for the region (such as Country, State, County, etc.).
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionLevelNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RegionName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="REGION_NAME"
                yfc:isConditional="Y" yfc:qryTypeSupported="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The unique name of this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY"
                yfc:isConditional="Y" yfc:qryTypeSupported="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
				The region schema associated with this region. If PersonInfo element is passed, <code>RegionSchemaName</code> or <code>RegionSchemaKey</code> is mandatory.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionSchemaKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RegionSchemaName" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y" yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>
				Unique Name for the region schema. If PersonInfo element is passed, <code>RegionSchemaName</code> or <code>RegionSchemaKey</code> is mandatory.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionSchemaNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToOrganizationCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ToParentRegionKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToRegionDescription"
            type="yfctype:FreeText-100" use="optional"/>
        <xsd:attribute name="ToRegionKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToRegionLevelName" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="ToRegionName" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="ToRegionSchemaKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToRegionSchemaName" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="PersonInfo">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>
                <div>
					The address for which a region is to be found. The <code>queryType</code> attribute cannot be passed for any of the input attributes. If this element is passed, <code>Country</code> is mandatory. In addition, if this element is passed, then region search will be performed based on the Country's region match preference (search by Country, State, City, ZipCode, or AddressLine6).  Else, search will be performed based on the input at the root element node. 
					<br/>If PersonInfo element is passed, either <code>RegionSchemaName</code> or <code>RegionSchemaKey</code> is mandatory.
					<Validation>
                        <Condition>
						If <code>Country</code> is not passed or invalid:
						</Condition>
                        <Error Description="Invalid Country" ErrorCode="YCP0129"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
