Data/xapidocs/api_javadocs/XSD/YCP_getCallOutList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCallOutList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCallOutList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCallOutList_output.xsd" yfc:rootElement="CallOutList">
        <xsd:appinfo source="yfc:structure">
            <CallOutList>
                <CallOut hasAttributes="Y">
                    <CallOutImplList>
                        <CallOutImpl hasAttributes="Y"/>
                    </CallOutImplList>
                    <CallOutClassLoader hasAttributes="Y"/>
                </CallOut>
            </CallOutList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CallOutList" type="yfc:CallOutListXSDType"/>
    <xsd:complexType name="CallOutListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CallOut"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="CallOut">
        <xsd:annotation yfc:tableName="PLT_CALLOUT">
            <xsd:documentation>This table stores metadata for all the callouts.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CallOutImplList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CallOutClassLoader"/>
            </xsd:all>
            <xsd:attribute name="CallOutId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CALLOUT_ID" yfc:tableName="PLT_CALLOUT">
                    <xsd:documentation>This field is used to uniquely identify a callout.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CallOutKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALLOUT_KEY" yfc:tableName="PLT_CALLOUT">
                    <xsd:documentation>The primary key of the PLT_CALLOUT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CallOutName"
                type="yfctype:UserExitName" use="optional">
                <xsd:annotation yfc:columnName="CALLOUT_NAME" yfc:tableName="PLT_CALLOUT">
                    <xsd:documentation>The name of the CallOut.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInputModifiable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INPUT_MODIFIABLE" yfc:tableName="PLT_CALLOUT">
                    <xsd:documentation>This should be set to Y if the input passed to each CallOut unit can be modified; The default value of this field is N which means the input passed to each of the callout units cannot be modified. Any character other than Y will be considered as N</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsThreaded" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_THREADED" yfc:tableName="PLT_CALLOUT">
                    <xsd:documentation>This should be set to Y if each CallOut unit needs to be executed in a separate thread; The default value of this field is N which means the callout unit will be executed in the same thread. Any character other than Y will be considered as N</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProxyClass" type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="PROXY_CLASS" yfc:tableName="PLT_CALLOUT">
                    <xsd:documentation>The name of the proxy class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VotingResolverClassName"
                type="yfctype:JavaClass" use="optional">
                <xsd:annotation
                    yfc:columnName="VOTING_RESOLVER_CLASS_NAME" yfc:tableName="PLT_CALLOUT">
                    <xsd:documentation>The java class implementing the voting resolver for the callout.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CallOutImplList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CallOutImpl"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CallOutImpl">
        <xsd:annotation yfc:tableName="PLT_CALLOUT_IMPL">
            <xsd:documentation>This table stores the callout implementation details for all callouts</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CallOutId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CALLOUT_ID" yfc:tableName="PLT_CALLOUT_IMPL">
                    <xsd:documentation>The primary key of the associated PLT_CALLOUT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CallOutImplId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CALLOUT_IMPL_ID" yfc:tableName="PLT_CALLOUT_IMPL">
                    <xsd:documentation>This is used to uniquely identify a record of the PLT_CALLOUT_IMPL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CallOutImplKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALLOUT_IMPL_KEY" yfc:tableName="PLT_CALLOUT_IMPL">
                    <xsd:documentation>The primary key of the PLT_CALLOUT_IMPL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSuspended" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SUSPENDED" yfc:tableName="PLT_CALLOUT_IMPL">
                    <xsd:documentation>This field is set to Y if the execution of the CallOut implementation has resulted                        in a TimeOut. This could be because of some error-prone code which is resulting in infinite loop                       and not returning the thread. The default value is N. Any character other than Y will be considered as N</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JavaClassName" type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="JAVA_CLASS_NAME" yfc:tableName="PLT_CALLOUT_IMPL">
                    <xsd:documentation>The java class implementing the CallOut.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="PLT_CALLOUT_IMPL">
                    <xsd:documentation>The sequence number for this callout implementation. The default value of this field is 0. If a negative value is passed, this will be set to 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitTimeOut" type="yfctype:UnitTimeOut" use="optional">
                <xsd:annotation yfc:columnName="TIMEOUT" yfc:tableName="PLT_CALLOUT_IMPL">
                    <xsd:documentation>The timeout for the callout implementation in seconds. The default value of this field is 60000. If the value passed is either 0 or negative, this will be set to the default value</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CallOutClassLoader">
        <xsd:annotation yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
            <xsd:documentation>This table stores the details for the callout class loader.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CallOutClassLoaderId"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CALLOUT_CLASS_LOADER_ID" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                    <xsd:documentation>This is used to uniquely identify a record of the PLT_CALLOUT_CLASS_LOADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CallOutClassLoaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CALLOUT_CLASS_LOADER_KEY" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                    <xsd:documentation>The primary key of the PLT_CALLOUT_CLASS_LOADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CallOutId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CALLOUT_ID" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                    <xsd:documentation>The foreign key of this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DirectoryPath"
                type="yfctype:JarsToInclude" use="optional">
                <xsd:annotation yfc:columnName="DIRECTORY_PATH" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                    <xsd:documentation>The relative path of the directory with jars that include the callout unit classes and callout voting resolver. Any third party jars to be used while executing the unit can also be included here</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RefreshLoader" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
