Data/xapidocs/api_javadocs/XSD/YCP_getQuestionHierarchyWithAnswerSet_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getQuestionHierarchyWithAnswerSet/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getQuestionHierarchyWithAnswerSet/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getQuestionHierarchyWithAnswerSet_output.xsd" yfc:rootElement="QuestionType">
        <xsd:appinfo source="yfc:structure">
            <QuestionType hasAttributes="Y">
                <QuestionList>
                    <Question hasAttributes="Y">
                        <QuestionList hasAttributes="Y">
                            <Question hasAttributes="Y">
                                <QuestionList hasAttributes="Y">
                                    <Question hasAttributes="Y"/>
                                </QuestionList>
                                <AnswerOptionList hasAttributes="Y">
                                    <AnswerOption hasAttributes="Y">
                                    <AnswerCapacityImpactList>
                                    <AnswerCapacityImpact hasAttributes="Y"/>
                                    </AnswerCapacityImpactList>
                                    <QuestionList>
                                    <Question hasAttributes="Y">
                                    <QuestionList/>
                                    <AnswerOptionList hasAttributes="Y">
                                    <AnswerOption hasAttributes="Y">
                                    <AnswerCapacityImpactList>

                                    <AnswerCapacityImpact hasAttributes="Y"/>
                                    </AnswerCapacityImpactList>
                                    <QuestionList/>
                                    </AnswerOption>
                                    </AnswerOptionList>
                                    </Question>
                                    </QuestionList>
                                    </AnswerOption>
                                </AnswerOptionList>
                            </Question>
                        </QuestionList>
                        <AnswerOptionList hasAttributes="Y">
                            <AnswerOption hasAttributes="Y">
                                <AnswerCapacityImpactList>
                                    <AnswerCapacityImpact hasAttributes="Y"/>
                                </AnswerCapacityImpactList>
                                <QuestionList>
                                    <Question hasAttributes="Y">
                                    <QuestionList/>
                                    <AnswerOptionList hasAttributes="Y">
                                    <AnswerOption hasAttributes="Y">
                                    <AnswerCapacityImpactList>

                                    <AnswerCapacityImpact hasAttributes="Y"/>
                                    </AnswerCapacityImpactList>
                                    <QuestionList/>
                                    </AnswerOption>
                                    </AnswerOptionList>
                                    </Question>
                                </QuestionList>
                            </AnswerOption>
                        </AnswerOptionList>
                    </Question>
                </QuestionList>
            </QuestionType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QuestionType" type="yfc:QuestionTypeXSDType"/>
    <xsd:complexType name="QuestionTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="QuestionList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Question">
                            <xsd:annotation yfc:tableName="YFS_QUESTION">
                                <xsd:documentation>This table contains information questions for question types defined by an organization.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="QuestionList">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Question">
                                    <xsd:annotation yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>This table contains information questions for question types defined by an organization.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="QuestionList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Question">

                                    <xsd:annotation yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>This table contains information questions for question types defined by an organization.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="AnswerValue"
                                    type="yfctype:Text-1000" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The answer provided for this question from the answer set, if applicable.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="DataType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DATA_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of data type is expected for the answer.  Valid values are BOOLEAN, DECIMAL, INTEGER, TEXT.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="DisplayControlType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DISPLAY_CONTROL_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of display control to show for the user interface when supplying an answer.  Valid values are CHECK_BOX, DROPDOWN, RADIO_BUTTON, TEXT_BOX, TEXT_FIELD.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="IsGroup"
                                    type="yfctype:Flag" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="IS_GROUP" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates if the question is a grouping for a set of questions.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The organization that defined the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ParentAnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="PARENT_ANSWER_OPTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Answer Option Key of the answer option that is required to be selected in order to ask this question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ParentQuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="PARENT_QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Question Key of the question group to which this question belongs.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionID"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_ID" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Identifier for the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Primary key of question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionText"
                                    type="yfctype:Text-200" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TEXT" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The text to display when posing the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The question type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Specifies for the question hierarchy level of this question, what sequence to display this question in.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>

                                    <xsd:attribute
                                    name="TotalNumberOfRecords"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AnswerOptionList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="AnswerOption">

                                    <xsd:annotation yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>This table contains information on valid answer options for questions.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AnswerCapacityImpactList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="AnswerCapacityImpact">

                                    <xsd:annotation yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>This table contains information on capacity impact based on answers.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="AnswerCapacityImpactKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_CAPACITY_IMPACT_KEY" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>Primary key of answer capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_KEY" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The answer option that causes this capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="CapacityImpactFactor"
                                    type="yfctype:Quantity" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CAPACITY_IMPACT_FACTOR" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The factor which will multiplied against an answer to calculate the capacity impact when the answer option of this record is selected.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="CapacityImpactFixed"
                                    type="yfctype:Quantity" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CAPACITY_IMPACT_FIXED" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The fixed amount by which the capacity will be affected when the answer option of this record is selected.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The organization that defined this answer capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The question type that this answer capacity impact is relevant for.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ServiceTypeID"
                                    type="yfctype:Text-24" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SERVICE_TYPE_ID" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The unique identifier for service type that belongs to a catalog organization.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="QuestionList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Question">

                                    <xsd:annotation yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>This table contains information questions for question types defined by an organization.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="QuestionList">
                                    <xsd:complexType/>
                                    </xsd:element>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AnswerOptionList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="AnswerOption">

                                    <xsd:annotation yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>This table contains information on valid answer options for questions.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AnswerCapacityImpactList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="AnswerCapacityImpact">

                                    <xsd:annotation yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>This table contains information on capacity impact based on answers.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="AnswerCapacityImpactKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_CAPACITY_IMPACT_KEY" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>Primary key of answer capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_KEY" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The answer option that causes this capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="CapacityImpactFactor"
                                    type="yfctype:Quantity" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CAPACITY_IMPACT_FACTOR" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The factor which will multiplied against an answer to calculate the capacity impact when the answer option of this record is selected.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="CapacityImpactFixed"
                                    type="yfctype:Quantity" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CAPACITY_IMPACT_FIXED" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The fixed amount by which the capacity will be affected when the answer option of this record is selected.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The organization that defined this answer capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The question type that this answer capacity impact is relevant for.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ServiceTypeID"
                                    type="yfctype:Text-24" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SERVICE_TYPE_ID" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The unique identifier for service type that belongs to a catalog organization.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="QuestionList">
                                    <xsd:complexType/>
                                    </xsd:element>
                                    </xsd:all>

                                    <xsd:attribute
                                    name="AnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_KEY" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>Primary key of answer option.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AnswerOptionValue"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_VALUE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>A predefined value allowed for a question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Description"
                                    type="yfctype:Text-100" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>A description.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The organization that defined this answer option.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The question for which this answer option was defined.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The question type that this answer option is relevant for.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>Specifies for the question what sequence the answer is shown in.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>

                                    <xsd:attribute
                                    name="TotalNumberOfRecords"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>

                                    <xsd:attribute
                                    name="AnswerValue"
                                    type="yfctype:Text-1000" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The answer provided for this question from the answer set, if applicable.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="DataType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DATA_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of data type is expected for the answer.  Valid values are BOOLEAN, DECIMAL, INTEGER, TEXT.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="DisplayControlType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DISPLAY_CONTROL_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of display control to show for the user interface when supplying an answer.  Valid values are CHECK_BOX, DROPDOWN, RADIO_BUTTON, TEXT_BOX, TEXT_FIELD.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="IsGroup"
                                    type="yfctype:Flag" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="IS_GROUP" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates if the question is a grouping for a set of questions.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The organization that defined the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ParentAnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="PARENT_ANSWER_OPTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Answer Option Key of the answer option that is required to be selected in order to ask this question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ParentQuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="PARENT_QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Question Key of the question group to which this question belongs.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionID"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_ID" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Identifier for the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Primary key of question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionText"
                                    type="yfctype:Text-200" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TEXT" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The text to display when posing the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The question type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Specifies for the question hierarchy level of this question, what sequence to display this question in.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>

                                    <xsd:attribute
                                    name="AnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_KEY" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>Primary key of answer option.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AnswerOptionValue"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_VALUE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>A predefined value allowed for a question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Description"
                                    type="yfctype:Text-100" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>A description.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The organization that defined this answer option.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The question for which this answer option was defined.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The question type that this answer option is relevant for.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>Specifies for the question what sequence the answer is shown in.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>

                                    <xsd:attribute
                                    name="TotalNumberOfRecords"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="AnswerValue"
                                    type="yfctype:Text-1000" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The answer provided for this question from the answer set, if applicable.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DataType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DATA_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of data type is expected for the answer.  Valid values are BOOLEAN, DECIMAL, INTEGER, TEXT.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DisplayControlType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DISPLAY_CONTROL_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of display control to show for the user interface when supplying an answer.  Valid values are CHECK_BOX, DROPDOWN, RADIO_BUTTON, TEXT_BOX, TEXT_FIELD.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="IsGroup"
                                    type="yfctype:Flag" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="IS_GROUP" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates if the question is a grouping for a set of questions.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The organization that defined the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ParentAnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="PARENT_ANSWER_OPTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Answer Option Key of the answer option that is required to be selected in order to ask this question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ParentQuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="PARENT_QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Question Key of the question group to which this question belongs.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="QuestionID"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_ID" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Identifier for the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="QuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Primary key of question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="QuestionText"
                                    type="yfctype:Text-200" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TEXT" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The text to display when posing the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The question type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Specifies for the question hierarchy level of this question, what sequence to display this question in.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute
                                    name="TotalNumberOfRecords"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="AnswerOptionList">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="AnswerOption">
                                    <xsd:annotation yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>This table contains information on valid answer options for questions.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AnswerCapacityImpactList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="AnswerCapacityImpact">

                                    <xsd:annotation yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>This table contains information on capacity impact based on answers.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="AnswerCapacityImpactKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_CAPACITY_IMPACT_KEY" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>Primary key of answer capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_KEY" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The answer option that causes this capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="CapacityImpactFactor"
                                    type="yfctype:Quantity" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CAPACITY_IMPACT_FACTOR" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The factor which will multiplied against an answer to calculate the capacity impact when the answer option of this record is selected.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="CapacityImpactFixed"
                                    type="yfctype:Quantity" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CAPACITY_IMPACT_FIXED" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The fixed amount by which the capacity will be affected when the answer option of this record is selected.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The organization that defined this answer capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The question type that this answer capacity impact is relevant for.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ServiceTypeID"
                                    type="yfctype:Text-24" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SERVICE_TYPE_ID" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The unique identifier for service type that belongs to a catalog organization.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="QuestionList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Question">

                                    <xsd:annotation yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>This table contains information questions for question types defined by an organization.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="QuestionList">
                                    <xsd:complexType/>
                                    </xsd:element>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AnswerOptionList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="AnswerOption">

                                    <xsd:annotation yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>This table contains information on valid answer options for questions.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="AnswerCapacityImpactList">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="AnswerCapacityImpact">

                                    <xsd:annotation yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>This table contains information on capacity impact based on answers.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="AnswerCapacityImpactKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_CAPACITY_IMPACT_KEY" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>Primary key of answer capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_KEY" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The answer option that causes this capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="CapacityImpactFactor"
                                    type="yfctype:Quantity" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CAPACITY_IMPACT_FACTOR" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The factor which will multiplied against an answer to calculate the capacity impact when the answer option of this record is selected.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="CapacityImpactFixed"
                                    type="yfctype:Quantity" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="CAPACITY_IMPACT_FIXED" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The fixed amount by which the capacity will be affected when the answer option of this record is selected.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The organization that defined this answer capacity impact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The question type that this answer capacity impact is relevant for.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ServiceTypeID"
                                    type="yfctype:Text-24" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SERVICE_TYPE_ID" yfc:tableName="YFS_ANSWER_CAPACITY_IMPACT">
                                    <xsd:documentation>The unique identifier for service type that belongs to a catalog organization.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>

                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="QuestionList">
                                    <xsd:complexType/>
                                    </xsd:element>
                                    </xsd:all>

                                    <xsd:attribute
                                    name="AnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_KEY" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>Primary key of answer option.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="AnswerOptionValue"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_VALUE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>A predefined value allowed for a question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="Description"
                                    type="yfctype:Text-100" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>A description.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The organization that defined this answer option.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The question for which this answer option was defined.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The question type that this answer option is relevant for.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>Specifies for the question what sequence the answer is shown in.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>

                                    <xsd:attribute
                                    name="TotalNumberOfRecords"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>

                                    <xsd:attribute
                                    name="AnswerValue"
                                    type="yfctype:Text-1000" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The answer provided for this question from the answer set, if applicable.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="DataType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DATA_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of data type is expected for the answer.  Valid values are BOOLEAN, DECIMAL, INTEGER, TEXT.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="DisplayControlType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DISPLAY_CONTROL_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of display control to show for the user interface when supplying an answer.  Valid values are CHECK_BOX, DROPDOWN, RADIO_BUTTON, TEXT_BOX, TEXT_FIELD.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="IsGroup"
                                    type="yfctype:Flag" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="IS_GROUP" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates if the question is a grouping for a set of questions.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The organization that defined the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ParentAnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="PARENT_ANSWER_OPTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Answer Option Key of the answer option that is required to be selected in order to ask this question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="ParentQuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="PARENT_QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Question Key of the question group to which this question belongs.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionID"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_ID" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Identifier for the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Primary key of question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionText"
                                    type="yfctype:Text-200" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TEXT" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The text to display when posing the question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The question type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>

                                    <xsd:attribute
                                    name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Specifies for the question hierarchy level of this question, what sequence to display this question in.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="AnswerOptionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_KEY" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>Primary key of answer option.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="AnswerOptionValue"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ANSWER_OPTION_VALUE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>A predefined value allowed for a question.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Description"
                                    type="yfctype:Text-100" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>A description.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The organization that defined this answer option.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="QuestionKey"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The question for which this answer option was defined.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="QuestionType"
                                    type="yfctype:Text-20" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>The question type that this answer option is relevant for.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ANSWER_OPTION">
                                    <xsd:documentation>Specifies for the question what sequence the answer is shown in.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute
                                    name="TotalNumberOfRecords"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                                <xsd:attribute name="AnswerValue"
                                    type="yfctype:Text-1000" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The answer provided for this question from the answer set, if applicable.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="DataType"
                                    type="yfctype:Text-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of data type is expected for the answer.  Valid values are BOOLEAN, DECIMAL, INTEGER, TEXT.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="DisplayControlType"
                                    type="yfctype:Text-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DISPLAY_CONTROL_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates what type of display control to show for the user interface when supplying an answer.  Valid values are CHECK_BOX, DROPDOWN, RADIO_BUTTON, TEXT_BOX, TEXT_FIELD.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="IsGroup"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="IS_GROUP" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Indicates if the question is a grouping for a set of questions.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The organization that defined the question.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute
                                    name="ParentAnswerOptionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PARENT_ANSWER_OPTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Answer Option Key of the answer option that is required to be selected in order to ask this question.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ParentQuestionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PARENT_QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Question Key of the question group to which this question belongs.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="QuestionID"
                                    type="yfctype:Text-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUESTION_ID" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Identifier for the question.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="QuestionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Primary key of question.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="QuestionText"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TEXT" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The text to display when posing the question.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="QuestionType"
                                    type="yfctype:Text-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>The question type.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_QUESTION">
                                    <xsd:documentation>Specifies for the question hierarchy level of this question, what sequence to display this question in.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="AnswerSetFound" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if an answer set was found that matched the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AnswerSetMasterKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ANSWER_SET_MASTER_KEY" yfc:tableName="YFS_ANSWER_SET_MASTER">
                <xsd:documentation>Primary key of answer set master.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AnswerSetTranKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ANSWER_SET_TRAN_KEY" yfc:tableName="YFS_ANSWER_SET_TRAN">
                <xsd:documentation>Primary key of answer set tran.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					If <code>CallingOrganizationCode</code> is passed, organization which has set up the questions for this organization is used to get the list of questions for input criteria.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>The organization that defined the questions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PersonInfoKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PERSON_INFO_KEY" yfc:tableName="YFS_PERSON_INFO">
                <xsd:documentation>If the primary owner is an order, the person info record which an answer set is stored against on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimaryTableName" type="yfctype:TableName" use="optional">
            <xsd:annotation>
                <xsd:documentation>The name of the table which stores the record of the primary owner of an answer set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimaryTableRefKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>The key for the primary owner of an answer set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuestionType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>The question type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReadFromMaster" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Value as passed in the input.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfAnswers" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of answers that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfQuestions"
            type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of questions that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
