Data/xapidocs/api_javadocs/XSD/YCP_getTaskSummary_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTaskSummary/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTaskSummary/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTaskSummary_output.xsd" yfc:rootElement="TaskSummary">
        <xsd:appinfo source="yfc:structure">
            <TaskSummary hasAttributes="Y">
                <ByTaskTypeList>
                    <ByTaskType hasAttributes="Y">
                        <OpenTasks>
                            <OpenTask hasAttributes="Y"/>
                        </OpenTasks>
                        <ByZoneList>
                            <ByZone hasAttributes="Y"/>
                        </ByZoneList>
                    </ByTaskType>
                </ByTaskTypeList>
            </TaskSummary>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TaskSummary" type="yfc:TaskSummaryXSDType"/>
    <xsd:complexType name="TaskSummaryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ByTaskTypeList"/>
        </xsd:all>
        <xsd:attribute name="CurrentTime" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Current system time</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndOfDay" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> End of day.  Its 23:59 hours of today.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfUsersLoggedIn"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Number of users currently working</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ByTaskTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ByTaskType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ByTaskType">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OpenTasks"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ByZoneList"/>
            </xsd:all>
            <xsd:attribute name="NumberOfCompletedTasks"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Completed tasks</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfOpenBatches"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Total number of batches in 'open' status</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfOpenTasks"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Total number of open tasks.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfOpenTasksPastDue"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Past due open tasks </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfTasksExpectedToBePastDue"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Tasks may not get completed prior to due date</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonHoursReqd" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Total man hours required to complete all open tasks of this task type.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonHoursReqdInTimeFormat"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> PersonHoursReqd in time format.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StandardRate" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Rate in which tasks can be completed in given unit.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StandardRateUom" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Unit of measure of the tasks can be completed. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Task type of the task. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskTypeName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Task type name. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsersLoggedInWithSkillSet"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Currenly logged in number of users with required skill sets to complete a task. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsersWithSkillSet"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Total number of users with required skill</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OpenTasks">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OpenTask"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OpenTask">
        <xsd:complexType>
            <xsd:attribute name="ExpectedBacklogTaskCount"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Total expected number of tasks that may not be completed per schedule</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedFinishNoLaterThan"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Expected end time of the tasks.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedStartNoEarlierThan"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Expected start time of the tasks</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FinishNoLaterThan"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Scheduled end time of the tasks.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonHoursAvailable"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PersonHoursReqd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PersonHoursReqdInTimeFormat"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="RaiseAlert" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Indicates if the task can be complted or not.
										Default: <b>
                                <code>N</code>
                            </b>
                            <br/>Valid Values: 
										<br/>
                            <b>
                                <code>N</code>
                            </b> - Task can be completed in alloted time.
										<br/>
                            <b>
                                <code>Y</code>
                            </b> - Task can not be completed in alloted time. Hense raise alert ..
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SeqNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="StartNoEarlierThan"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Scheduled start time of the tasks</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskCount" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Number of open tasks</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ByZoneList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ByZone"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ByZone">
        <xsd:complexType>
            <xsd:attribute name="TotalOriginatingTasks"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Number of tasks originating in this zone.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalTerminatingTasks"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Number of tasks will complete in this zone.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Zone" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The field indicates the zone identifier. This forms a unique key for the YFS_ZONE table associated with the NODE_KEY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
