Data/xapidocs/api_javadocs/XSD/YCP_changeRegion_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/changeRegion/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/changeRegion/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_changeRegion_output.xsd" yfc:rootElement="Region">
        <xsd:appinfo source="yfc:structure">
            <Region hasAttributes="Y">
                <RegionSchema hasAttributes="Y"/>
                <ZipCodeRanges>
                    <ZipCodeRange hasAttributes="Y"/>
                </ZipCodeRanges>
            </Region>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Region" type="yfc:RegionXSDType">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>This table stores information for region definitions. A region schema key has to be given to indicate the schema to which the region is associated.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RegionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:RegionSchema"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZipCodeRanges"/>
        </xsd:all>
        <xsd:attribute name="CanAggregate" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_AGGREGATE" yfc:tableName="YFS_REGION">
                <xsd:documentation>This flag indicates whether this region can be a parent of other regions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentRegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_REGION_KEY" yfc:tableName="YFS_REGION">
                <xsd:documentation>The parent region associated with this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="REGION_DESCRIPTION" yfc:tableName="YFS_REGION">
                <xsd:documentation>The description of this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_REGION">
                <xsd:documentation>The primary key for the YFS_REGION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="REGION_LEVEL_NAME" yfc:tableName="YFS_REGION">
                <xsd:documentation>The name of the region level associated with this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="REGION_NAME" yfc:tableName="YFS_REGION">
                <xsd:documentation>The unique name of this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="RegionSchema">
        <xsd:annotation yfc:tableName="YFS_REGION_SCHEMA">
            <xsd:documentation>This table contains information about Region Schema created for an organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Country for which region schema is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Organization Key for which the region schema is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Primary key attribute of YFS_REGION_SCHEMA table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_NAME" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Unique Name for the region schema.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZipCodeRanges">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ZipCodeRange"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZipCodeRange">
        <xsd:annotation yfc:tableName="YFS_REGION_DETAIL">
            <xsd:documentation>This table stores information about region details for the region. This entry will be available only for the lowest region level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The country of the region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="FROM_ZIP" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The zip code from which the range starts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="TO_ZIP" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The zip code where the range ends.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
