Data/xapidocs/api_javadocs/XSD/YCP_manageOrgRelationship_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageOrgRelationship/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageOrgRelationship/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageOrgRelationship_output.xsd" yfc:rootElement="OrgRelationship">
        <xsd:appinfo source="yfc:structure">
            <OrgRelationship hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrgRelationship" type="yfc:OrgRelationshipXSDType">
        <xsd:annotation yfc:tableName="YFS_ORG_RELATIONSHIP">
            <xsd:documentation>This table contains specific instances of relationships between the nodes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrgRelationshipXSDType">
        <xsd:attribute name="FromOrgCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="FROM_ORG_CODE" yfc:tableName="YFS_ORG_RELATIONSHIP">
                <xsd:documentation>The unique identifier for organization which is used as 'From' direction in the relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrgRelationshipKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORG_RELATIONSHIP_KEY" yfc:tableName="YFS_ORG_RELATIONSHIP">
                <xsd:documentation>The primary key for the YFS_ORG_RELATIONSHIP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipTypeID"
            type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE_ID" yfc:tableName="YFS_ORG_RELATIONSHIP">
                <xsd:documentation>The unique identifier for the organization relationship type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToOrgCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="TO_ORG_CODE" yfc:tableName="YFS_ORG_RELATIONSHIP">
                <xsd:documentation>The unique identifier for organization which is used as 'To' direction in the relationship.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
