Data/xapidocs/api_javadocs/XSD/YCP_getRuleDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getRuleDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getRuleDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getRuleDetails_output.xsd" yfc:rootElement="Rules">
        <xsd:appinfo source="yfc:structure">
            <Rules hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Rules" type="yfc:RulesXSDType">
        <xsd:annotation yfc:tableName="YFS_RULES">
            <xsd:documentation>Stores business rule definitions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RulesXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RULES">
                <xsd:documentation>Document type to which a particular rule pertains to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MeantForSupplier" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MEANT_FOR_SUPPLIER" yfc:tableName="YFS_RULES">
                <xsd:documentation>Indicates if a rule is meant to be used by a supplier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RULES">
                <xsd:documentation>Organization to which the rule belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagId"
            type="yfctype:QualifiedTagId" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="YFS_RULES">
                <xsd:documentation>Qualified Tag identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleSetFieldDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="RULE_SET_FIELD_DESCRIPTION" yfc:tableName="YFS_RULES">
                <xsd:documentation>Descripion of the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleSetFieldName" type="yfctype:FileName" use="optional">
            <xsd:annotation yfc:columnName="RULE_SET_FIELD_NAME" yfc:tableName="YFS_RULES">
                <xsd:documentation>Business rule name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleSetValue" type="yfctype:RuleValue" use="optional">
            <xsd:annotation yfc:columnName="RULE_SET_VALUE" yfc:tableName="YFS_RULES">
                <xsd:documentation>Value for the rule</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleType" type="yfctype:RuleType-50" use="optional">
            <xsd:annotation yfc:columnName="RULE_TYPE" yfc:tableName="YFS_RULES">
                <xsd:documentation>Specify a value to identify rules pertaining to a type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RulesKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RULES_KEY" yfc:tableName="YFS_RULES">
                <xsd:documentation>Primary key attribute of YFS_RULES.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
