Data/xapidocs/api_javadocs/XSD/YCP_deletePageCache_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deletePageCache/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deletePageCache/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_deletePageCache_input.xsd" yfc:rootElement="Page">
        <xsd:appinfo source="yfc:structure">
            <Page hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Page" type="yfc:PageXSDType"/>
    <xsd:complexType name="PageXSDType">
        <xsd:attribute name="PageSetToken" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Reference to the page set information to delete</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
