Data/xapidocs/api_javadocs/XSD/YCP_getServerList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getServerList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getServerList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getServerList_output.xsd" yfc:rootElement="Servers">
        <xsd:appinfo source="yfc:structure">
            <Servers>
                <Server hasAttributes="Y"/>
            </Servers>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Servers" type="yfc:ServersXSDType"/>
    <xsd:complexType name="ServersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Server"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Server">
        <xsd:annotation yfc:tableName="YFS_SERVER">
            <xsd:documentation>
                <div>
				This table stores the Server Information associated with the Services. ServerKey is a foreign key in YFS_SUB_FLOW table. When the IntegrationAdapter is started with a serverName, all the subFlows (or Runtime Id's) associated with the Server are started. All these subFlows should belong to the same Transport Protocol, such as DB, or JMS. 
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Id" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Server Identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxElapsedTraceEnabledTimeInMins"
                type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Time elapsed since the trace component was set or the server started, which ever was later. If there are multiple services with same lowest trace level, the one with highest elapsed time is chosen.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxTraceLevel"
                type="yfctype:ComponentLevel" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Level of active trace component, if any. Only the lowest level is shown if multiple services have active traces.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Server Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Time when the server started</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:Status" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Server Status</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubType" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>AgentServer or IntegrationServer, in case any of them</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Server Type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
