Data/xapidocs/api_javadocs/XSD/YCP_computeSAM_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/computeSAM/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/computeSAM/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_computeSAM_input.xsd" yfc:rootElement="ProductivityType">
        <xsd:appinfo source="yfc:structure">
            <ProductivityType hasAttributes="Y">
                <UserList>
                    <User hasAttributes="Y"/>
                </UserList>
            </ProductivityType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProductivityType" type="yfc:ProductivityTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY_TYPE">
            <xsd:documentation>This table stores Standard Allowable Minutes for different Productivity Types.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProductivityTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UserList"/>
        </xsd:all>
        <xsd:attribute name="ConsiderEfficiencyAs" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The Standard that has to be set for the selected user(s) while deriving labor standards. Default value is 100. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeriveExecutionStandards"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If this flag is set to 'Y',then computeSAM API derives Execution labor standards (SAM variables defined for Task Execution).
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DerivePlanningStandards"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If this flag is set to 'Y',then computeSAM API derives Planning labor standards (SAM variables defined for Planning purpose).
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDate" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				End date for the time period to be considered to calculate the productivity.
				<Validation>
                            <Condition>
                                <code>EndDate</code> is not passed.
					</Condition>
                            <Error
                                Description="StartTime and EndTime must be passed." ErrorCode="YCP73_00024"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentType" type="yfctype:EquipmentType" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Equipment type associated with the productivity type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>
                    <div>
				Node for which this productivity type is defined.
				<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not passed.
					</Condition>
                            <Error
                                Description="OrganizationCode must be passed." ErrorCode="YCP0154"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityType"
            type="yfctype:ProductivityType" use="required">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>
                    <div>
				Productivity Type.
				<Validation>
                            <Condition>
                                <code>ProductivityType</code> is not passed.
					</Condition>
                            <Error
                                Description="Productivity Type Details must be passed." ErrorCode="YCPPY0006"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Start date for the time period to be considered to calculate the productivity.
				<Validation>
                            <Condition>
                                <code>StartDate</code> is not passed.
					</Condition>
                            <Error
                                Description="StartTime and EndTime must be passed." ErrorCode="YCP73_00024"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="UserList">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					Tasks executed by these users are considered to compute SAM.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:User"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="UserId" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						UserId of the user .
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
