Data/xapidocs/api_javadocs/XSD/YCP_getActivityConfigDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getActivityConfigDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getActivityConfigDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getActivityConfigDetails_output.xsd" yfc:rootElement="ActivityConfig">
        <xsd:appinfo source="yfc:structure">
            <ActivityConfig hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ActivityConfig" type="yfc:ActivityConfigXSDType">
        <xsd:annotation yfc:tableName="PLT_ACTIVITY_CONFIG">
            <xsd:documentation>This table contains activity events configuration.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ActivityConfigXSDType">
        <xsd:attribute name="ActivityConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_CONFIG_KEY" yfc:tableName="PLT_ACTIVITY_CONFIG">
                <xsd:documentation>The primary key of the PLT_ACTIVITY_CONFIG table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigDescription"
            type="yfctype:ActivityConfigDescription" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_DESCRIPTION" yfc:tableName="PLT_ACTIVITY_CONFIG">
                <xsd:documentation>The description for the configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigName"
            type="yfctype:ActivityConfigName" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_NAME" yfc:tableName="PLT_ACTIVITY_CONFIG">
                <xsd:documentation>The name of the configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigXML" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_XML" yfc:tableName="PLT_ACTIVITY_CONFIG">
                <xsd:documentation>A long column used to store activity configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
