Data/xapidocs/api_javadocs/XSD/YCP_getParticipantNoteList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getParticipantNoteList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getParticipantNoteList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getParticipantNoteList_output.xsd" yfc:rootElement="NoteList">
        <xsd:appinfo source="yfc:structure">
            <NoteList hasAttributes="Y">
                <Note hasAttributes="Y">
                    <User hasAttributes="Y"/>
                    <LastModifiedByUser hasAttributes="Y"/>
                </Note>
            </NoteList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NoteList" type="yfc:NoteListXSDType"/>
    <xsd:complexType name="NoteListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Note"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords"
            type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number Of Notes</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Note">
        <xsd:annotation yfc:tableName="YFS_PARTICIPANT_NOTE">
            <xsd:documentation>Generic table used to stores notes associated with various participant entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:User"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LastModifiedByUser"/>
            </xsd:all>
            <xsd:attribute name="AuditTransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactReference"
                type="yfctype:Text-150" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone number can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactTime" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_USER" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>The user who made the contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSatIndicator"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteText" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>The detailed notes for this entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VisibleToAll" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_PARTICIPANT_NOTE">
                    <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>
                <div>
							Gives information on the user who created the note.   
							</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Activateflag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER">
                    <xsd:documentation>This flag indicates whether a user is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillingaddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILLINGADDRESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The billing address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BusinessKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The business associated with this user. Identifies a ship node when filled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangePassNext"
                type="yfctype:ChangePassNext" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PASS_NEXT" yfc:tableName="YFS_USER">
                    <xsd:documentation>Flag to change password on next login. Valid values are: 0 (for no) and 1 (for yes).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactaddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACTADDRESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The contact address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreatorOrganizationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization that created the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataSecurityGroupId"
                type="yfctype:DataSecurityGroupId" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>Data Security Group Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> The department to which a user belongs. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayUserID" type="yfctype:Text-150" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_USER_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>Indicates Display User's ID which is used for login in to the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The Customer Master Organization Code of the User's Organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Imagefile" type="yfctype:FileName" use="optional">
                <xsd:annotation yfc:columnName="IMAGEFILE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The image associated with a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCustomer" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CUSTOMER" yfc:tableName="YFS_USER">
                    <xsd:documentation>Flag to indicate if the user is a valid customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSupervisor" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SUPERVISOR" yfc:tableName="YFS_USER">
                    <xsd:documentation>
                        <div>This flag indicates if the user is a supervisor or not.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The locale of a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The login ID for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Longdesc"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONGDESC" yfc:tableName="YFS_USER">
                    <xsd:documentation>The long description for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MenuId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="MENU_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The menu ID associated with the user. This is used to display the menus in various applications to which this user has access.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NOTE_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>A generic note for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization to which a user belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_USER_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The parent user associated with this user. May be used to capture reporting hierarchy. A user has only one parent but may have many children.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyId"
                type="yfctype:PasswordPolicyId" use="optional">
                <xsd:annotation yfc:columnName="PASSWORD_POLICY_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The Id of the Password Policy a user has been assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PREFERENCE_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Pwdlastchangedon"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="PWDLASTCHANGEDON" yfc:tableName="YFS_USER">
                    <xsd:documentation>The last date on which the user's password was changed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolvedPasswordPolicyKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Primary key of password policy used in case no policy is directly assigned to user. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Salt" type="yfctype:PasswordSalt" use="optional">
                <xsd:annotation yfc:columnName="SALT" yfc:tableName="YFS_USER">
                    <xsd:documentation>Random characters used for password encryption. Regenerated when the password changes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SessionTimeout"
                type="yfctype:SessionTimeOut" use="optional">
                <xsd:annotation yfc:columnName="SESSION_TIMEOUT" yfc:tableName="YFS_USER">
                    <xsd:documentation>Number of seconds of inactivity before the session expires. If this value is negative or zero the session timeout is picked up from web.xml</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuperUser" type="yfctype:SuperUser" use="optional">
                <xsd:annotation yfc:columnName="SUPER_USER" yfc:tableName="YFS_USER">
                    <xsd:documentation>Access Level of User. Valid values are: 0 (for no) and 1 (for yes).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Theme" type="yfctype:PresentationTheme" use="optional">
                <xsd:annotation yfc:columnName="THEME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The presentation theme for a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The user group associated with this user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Usertype" type="yfctype:EnumUserType" use="optional">
                <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                    <xsd:documentation>This field indicates the user type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LastModifiedByUser">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>
                <div>
							Gives information on the user who last modified the note.   
							</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Activateflag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER">
                    <xsd:documentation>This flag indicates whether a user is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillingaddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILLINGADDRESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The billing address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BusinessKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The business associated with this user. Identifies a ship node when filled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangePassNext"
                type="yfctype:ChangePassNext" use="optional">
                <xsd:annotation yfc:columnName="CHANGE_PASS_NEXT" yfc:tableName="YFS_USER">
                    <xsd:documentation>Flag to change password on next login. Valid values are: 0 (for no) and 1 (for yes).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactaddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACTADDRESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The contact address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreatorOrganizationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization that created the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataSecurityGroupId"
                type="yfctype:DataSecurityGroupId" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>Data Security Group Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> The department to which a user belongs. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayUserID" type="yfctype:Text-150" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_USER_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>Indicates Display User's ID which is used for login in to the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The Customer Master Organization Code of the User's Organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Imagefile" type="yfctype:FileName" use="optional">
                <xsd:annotation yfc:columnName="IMAGEFILE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The image associated with a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCustomer" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CUSTOMER" yfc:tableName="YFS_USER">
                    <xsd:documentation>Flag to indicate if the user is a valid customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSupervisor" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SUPERVISOR" yfc:tableName="YFS_USER">
                    <xsd:documentation>
                        <div>This flag indicates if the user is a supervisor or not.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The locale of a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The login ID for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Longdesc"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONGDESC" yfc:tableName="YFS_USER">
                    <xsd:documentation>The long description for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MenuId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="MENU_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The menu ID associated with the user. This is used to display the menus in various applications to which this user has access.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NOTE_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>A generic note for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization to which a user belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_USER_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The parent user associated with this user. May be used to capture reporting hierarchy. A user has only one parent but may have many children.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyId"
                type="yfctype:PasswordPolicyId" use="optional">
                <xsd:annotation yfc:columnName="PASSWORD_POLICY_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The Id of the Password Policy a user has been assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PREFERENCE_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Pwdlastchangedon"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="PWDLASTCHANGEDON" yfc:tableName="YFS_USER">
                    <xsd:documentation>The last date on which the user's password was changed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolvedPasswordPolicyKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Primary key of password policy used in case no policy is directly assigned to user. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Salt" type="yfctype:PasswordSalt" use="optional">
                <xsd:annotation yfc:columnName="SALT" yfc:tableName="YFS_USER">
                    <xsd:documentation>Random characters used for password encryption. Regenerated when the password changes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SessionTimeout"
                type="yfctype:SessionTimeOut" use="optional">
                <xsd:annotation yfc:columnName="SESSION_TIMEOUT" yfc:tableName="YFS_USER">
                    <xsd:documentation>Number of seconds of inactivity before the session expires. If this value is negative or zero the session timeout is picked up from web.xml</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SuperUser" type="yfctype:SuperUser" use="optional">
                <xsd:annotation yfc:columnName="SUPER_USER" yfc:tableName="YFS_USER">
                    <xsd:documentation>Access Level of User. Valid values are: 0 (for no) and 1 (for yes).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Theme" type="yfctype:PresentationTheme" use="optional">
                <xsd:annotation yfc:columnName="THEME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The presentation theme for a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The user group associated with this user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Usertype" type="yfctype:EnumUserType" use="optional">
                <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                    <xsd:documentation>This field indicates the user type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
