Data/xapidocs/api_javadocs/XSD/YCP_getNegotiationDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNegotiationDetails_output.xsd" yfc:rootElement="Negotiations">
        <xsd:appinfo source="yfc:structure">
            <Negotiations>
                <Negotiation hasAttributes="Y">
                    <AdditionalAttributes>
                        <AdditionalAttribute hasAttributes="Y"/>
                    </AdditionalAttributes>
                    <NegotiationLines>
                        <NegotiationLine hasAttributes="Y">
                            <AdditionalAttributes>
                                <AdditionalAttribute hasAttributes="Y"/>
                            </AdditionalAttributes>
                            <NegotiatedLineResponse hasAttributes="Y">
                                <LineTerms>
                                    <LineTermsDetail hasAttributes="Y"/>
                                </LineTerms>
                            </NegotiatedLineResponse>
                            <LastInitiatorLineResponse hasAttributes="Y">
                                <LineTerms>
                                    <LineTermsDetail hasAttributes="Y"/>
                                </LineTerms>
                            </LastInitiatorLineResponse>
                            <LastNegotiatorLineResponse hasAttributes="Y">
                                <LineTerms>
                                    <LineTermsDetail hasAttributes="Y"/>
                                </LineTerms>
                            </LastNegotiatorLineResponse>
                        </NegotiationLine>
                    </NegotiationLines>
                    <NegotiationRule hasAttributes="Y">
                        <NegotiableHdrAttrs>
                            <NegotiableHdrAttr hasAttributes="Y"/>
                        </NegotiableHdrAttrs>
                        <NegotiableLineAttrs>
                            <NegotiableLineAttr hasAttributes="Y"/>
                        </NegotiableLineAttrs>
                    </NegotiationRule>
                    <NegotiatedHeaderResponse hasAttributes="Y">
                        <HeaderTerms hasAttributes="Y"/>
                    </NegotiatedHeaderResponse>
                    <LastInitiatorHeaderResponse hasAttributes="Y">
                        <HeaderTerms hasAttributes="Y"/>
                    </LastInitiatorHeaderResponse>
                    <LastNegotiatorHeaderResponse hasAttributes="Y">
                        <HeaderTerms hasAttributes="Y"/>
                    </LastNegotiatorHeaderResponse>
                </Negotiation>
            </Negotiations>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Negotiations" type="yfc:NegotiationsXSDType"/>
    <xsd:complexType name="NegotiationsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Negotiation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Negotiation">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_HDR">
            <xsd:documentation>Primary negotiation table. This table stores all order negotiations in the system. There can be zero or many negotations for an order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalAttributes">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="AdditionalAttribute">
                                <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Value"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NegotiationLines"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NegotiationRule"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NegotiatedHeaderResponse"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LastInitiatorHeaderResponse"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LastNegotiatorHeaderResponse"/>
            </xsd:all>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_ACTION" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_REFERENCE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanInitiatorRespond"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if Initiator can respond.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanNegotiatorRespond"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if Negotiator can respond.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Order number of the order for this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Document type of the order for this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual Field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Enterprise of the order for which this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is FOB of order. This can be configured as a negotiable attribute in yfs_negotiable_hdr_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeaderEntity" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="HEADER_ENTITY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is base document type of negotiation. Currently, it can have value ORDER only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeaderEntityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="HEADER_ENTITY_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Primary key of the order for which this negotiation is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeaderTermsNegotiated"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HEADER_TERMS_NEGOTIATED" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Flag to indicated if all negotiation on all header level terms is completed or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InitiatorOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="INITIATOR_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is order's buyer's organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastInitiatorResponseNo"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="LAST_INITIATOR_RESPONSE_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Response number of the last response sent by initiator org.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastNegotiatorResponseNo"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="LAST_NEGOTIATOR_RESPONSE_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Response number of the last response sent by negotiator org.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastResponseAction"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="LAST_RESPONSE_ACTION" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>The action on the last response on the the negotiation. For example if last response on this negotiation was accept (1500)  then this will have value 1500.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastResponseOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="LAST_RESPONSE_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Oraganization that has last responded to the negotiation. This will be either initiator_org_code or negotiator_org_code of the negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationExpirationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="NEGOTIATION_EXPIRATION_DATE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Date when negotiation expires. No logic is built on this. But, negotiation monitor can be configured to raise alerts on this.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Primary key. Always system generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Part of unique key of negotiation. Enterprise code and negotiation number together uniquely identify a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationRuleID" type="yfctype:ID-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual Field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_RULE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Identifies what negotiation rule should be used to process this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiatorOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATOR_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is order's seller organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTerms" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is terms_code of order. This can be configured as a negotiable attribute in yfs_negotiable_hdr_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Pipeline this negotiation belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>This is deprecated in version 5.0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Status of this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_NEGOTIATION_HDR">
                    <xsd:documentation>Date when negotiation status was changed last.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiationLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NegotiationLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiationLine">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_LINE">
            <xsd:documentation>This table stores line information of a negotiation. One negotiation line is created for each order line of the negotiation's order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalAttributes">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="AdditionalAttribute">
                                <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Value"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NegotiatedLineResponse"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LastInitiatorLineResponse"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LastNegotiatorLineResponse"/>
            </xsd:all>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_ACTION" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Action to be performed on the order if negotiated quantity is less than the original quanitity. Currently, only CANCEL is supported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_REFERENCE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is request delivery date of the order line. Depending on the order driver date, either delivery_date or ship_date is negotiable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is FOB on order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>The unique identifier for Items of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastInitiatorResponseNo"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="LAST_INITIATOR_RESPONSE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Response number of the last response sent by initiator org on this negotiation line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastNegotiatorResponseNo"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="LAST_NEGOTIATOR_RESPONSE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Response number of the last response sent by negotiator org on this negotiation line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastResponseAction"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="LAST_RESPONSE_ACTION" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>The action on the last response on this negotiation line. For example if last response on this negotiation line was accept (1500)  then this will have value 1500.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastResponseActionDesc"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="CODE_LONG_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                    <xsd:documentation>Description for the Last Response Action</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastResponseOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="LAST_RESPONSE_ORG_CODE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Oraganization that has last responded to the negotiation. This will be either initiator_org_code or negotiator_org_code of the negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntity" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LINE_ENTITY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Currently can have value ORDER_LINE only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LINE_ENTITY_KEY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Primary key of the order line to which this negotiation line corresponds too.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LINE_GROUP_KEY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTermsNegotiated"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="LINE_TERMS_NEGOTIATED" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Flag to identify if negotiation on all line level attributes for this line is completed or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Primary key of the negotiation. Identifies negotiation this line is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_LINE_KEY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Primary key. A system generated number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Price on the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Prime_line_no of the order line to which this negotiation line corresponds to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Product_class of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Quantity on the order line. This is always negotiable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScheduleNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="SCHEDULE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>This is request ship date of the order line. Depending on the order driver date, either delivery_date or ship_date is negotiable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>Sub_line_no of the order line to which this negotiation line corresponds to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_NEGOTIATION_LINE">
                    <xsd:documentation>UOM of the order line to which this negotiation line corresponds to. This can be configured as a negotiable attributes in yfs_negotiation_line_attr table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiatedLineResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE">
            <xsd:documentation>This table stores response action and reference to last response of the other organization. The new terms of the negotiation line level negotiable attributes are stored in its child table, yfs_response_line_dtl. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="LineTerms">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="LineTermsDetail">
                                <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response_line.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="DeliveryDate"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New delivery date offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="FreightTerms"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New freight terms offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New item id offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OptionNo"
                                    type="yfctype:ShorterNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>Option number. Organization can offer multiple options for new value of a negotiable attribute. For example, option 1 can be item=item1 and option 2 can be item=item2. The other organization can accept any of the multiple options.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Price"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New price offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ProductClass"
                                    type="yfctype:ProductClass" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New product class offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUANTITY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New quantity offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>One up number. Negotiation_line_key, option_no and sequence_no makes a unique key. Total quantity of the negotiation line can be split into multiple offer. For example, for total quantity of 10, oraganization's offer can be quantity=8, Price=10 and quantity=2, Price=11. In this case the two records will have sequence number 1 and 2.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ShipDate"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New ship date offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New UOM offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Id of the user who has entered this response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForOptionNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="FOR_OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Option number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Response number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any notes added by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any reason code specified by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Action to be performed. Possible actions are  offer(1100), counter offer (1200), reject (1300), remove(1400) and accept(1500).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_NO" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>A system generated one up number. Unique within a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LastInitiatorLineResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE">
            <xsd:documentation>This table stores response action and reference to last response of the other organization. The new terms of the negotiation line level negotiable attributes are stored in its child table, yfs_response_line_dtl. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="LineTerms">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="LineTermsDetail">
                                <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response_line.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="DeliveryDate"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New delivery date offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="FreightTerms"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New freight terms offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New item id offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OptionNo"
                                    type="yfctype:ShorterNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>Option number. Organization can offer multiple options for new value of a negotiable attribute. For example, option 1 can be item=item1 and option 2 can be item=item2. The other organization can accept any of the multiple options.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Price"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New price offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ProductClass"
                                    type="yfctype:ProductClass" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New product class offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUANTITY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New quantity offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>One up number. Negotiation_line_key, option_no and sequence_no makes a unique key. Total quantity of the negotiation line can be split into multiple offer. For example, for total quantity of 10, oraganization's offer can be quantity=8, Price=10 and quantity=2, Price=11. In this case the two records will have sequence number 1 and 2.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ShipDate"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New ship date offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New UOM offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Id of the user who has entered this response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForOptionNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="FOR_OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Option number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Response number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any notes added by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any reason code specified by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Action to be performed. Possible actions are  offer(1100), counter offer (1200), reject (1300), remove(1400) and accept(1500).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_NO" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>A system generated one up number. Unique within a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LastNegotiatorLineResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE">
            <xsd:documentation>This table stores response action and reference to last response of the other organization. The new terms of the negotiation line level negotiable attributes are stored in its child table, yfs_response_line_dtl. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="LineTerms">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="LineTermsDetail">
                                <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response_line.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="DeliveryDate"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New delivery date offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="FreightTerms"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New freight terms offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New item id offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OptionNo"
                                    type="yfctype:ShorterNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>Option number. Organization can offer multiple options for new value of a negotiable attribute. For example, option 1 can be item=item1 and option 2 can be item=item2. The other organization can accept any of the multiple options.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Price"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New price offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ProductClass"
                                    type="yfctype:ProductClass" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New product class offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUANTITY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New quantity offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SequenceNo"
                                    type="yfctype:ShorterNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>One up number. Negotiation_line_key, option_no and sequence_no makes a unique key. Total quantity of the negotiation line can be split into multiple offer. For example, for total quantity of 10, oraganization's offer can be quantity=8, Price=10 and quantity=2, Price=11. In this case the two records will have sequence number 1 and 2.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ShipDate"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New ship date offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                                    <xsd:documentation>New UOM offered.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Id of the user who has entered this response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForOptionNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="FOR_OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Option number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Response number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any notes added by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any reason code specified by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Action to be performed. Possible actions are  offer(1100), counter offer (1200), reject (1300), remove(1400) and accept(1500).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_NO" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>A system generated one up number. Unique within a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiationRule">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_RULE">
            <xsd:documentation>Rule table for negotiation. This table stores a list of negotiable attributes are maintained in its children tables, yfs_negotiable_hdr_attr and yfs_negotiation_line_attr.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NegotiableHdrAttrs"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NegotiableLineAttrs"/>
            </xsd:all>
            <xsd:attribute name="AllowOverage" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOW_OVERAGE" yfc:tableName="YFS_NEGOTIATION_RULE">
                    <xsd:documentation>Determines if negotiator can give counter offer for more quantity than the offered quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationRuleId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_RULE_ID" yfc:tableName="YFS_NEGOTIATION_RULE">
                    <xsd:documentation>The unique identifier or name for the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_RULE_KEY" yfc:tableName="YFS_NEGOTIATION_RULE">
                    <xsd:documentation>Primary key. A system generated number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiableHdrAttrs">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NegotiableHdrAttr"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiableHdrAttr">
        <xsd:annotation yfc:tableName="YFS_NEGOTIABLE_HDR_ATTR">
            <xsd:documentation>This table stores a list of negotiable attributes at order level. yfs_negotiation_rule table is its parent table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_NEGOTIABLE_HDR_ATTR">
                    <xsd:documentation>Name of the negotiable attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiableLineAttrs">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NegotiableLineAttr"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiableLineAttr">
        <xsd:annotation yfc:tableName="YFS_NEGOTIABLE_LINE_ATTR">
            <xsd:documentation>This table stores a list of negotiable attributes of order line. yfs_negotiation_rule is its parent table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_NEGOTIABLE_LINE_ATTR">
                    <xsd:documentation>Name of the negotiable attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanSplitLine" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_SPLIT_LINE" yfc:tableName="YFS_NEGOTIABLE_LINE_ATTR">
                    <xsd:documentation>Flag that determines if line can split on this attribute. For example, if attribute_name is price and this flag is Y, then response can split quantity on price (for example, price=10, quantity=8 and price=11, quantity=2 for total quantity of 10).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NegotiatedHeaderResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
            <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="HeaderTerms">
                    <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
                        <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="DeliveryDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation
                                yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New delivery date.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FreightTerms"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New freight terms.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PaymentTerms"
                            type="yfctype:Text-20" use="optional">
                            <xsd:annotation
                                yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New payment terms.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New ship date.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Id of the user who has entered this response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>Response number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any notes added by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any reason code specified by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>Action to be performed. Possible actions are  offer(1100), counter offer (1200) and accept(1500).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_NO" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>A system generated one up number. Unique within a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LastInitiatorHeaderResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
            <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="HeaderTerms">
                    <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
                        <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="DeliveryDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation
                                yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New delivery date.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FreightTerms"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New freight terms.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PaymentTerms"
                            type="yfctype:Text-20" use="optional">
                            <xsd:annotation
                                yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New payment terms.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New ship date.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Id of the user who has entered this response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>Response number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any notes added by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any reason code specified by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>Action to be performed. Possible actions are  offer(1100), counter offer (1200) and accept(1500).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_NO" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>A system generated one up number. Unique within a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LastNegotiatorHeaderResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
            <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="HeaderTerms">
                    <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
                        <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="DeliveryDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation
                                yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New delivery date.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FreightTerms"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New freight terms.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PaymentTerms"
                            type="yfctype:Text-20" use="optional">
                            <xsd:annotation
                                yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New payment terms.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_HDR">
                                <xsd:documentation>New ship date.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Id of the user who has entered this response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>Response number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any notes added by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>Any reason code specified by organization sending the response.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>Action to be performed. Possible actions are  offer(1100), counter offer (1200) and accept(1500).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_NO" yfc:tableName="YFS_RESPONSE">
                    <xsd:documentation>A system generated one up number. Unique within a negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
