Data/xapidocs/api_javadocs/XSD/YCP_getPasswordPolicyList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPasswordPolicyList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPasswordPolicyList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPasswordPolicyList_output.xsd" yfc:rootElement="PasswordPolicyList">
        <xsd:appinfo source="yfc:structure">
            <PasswordPolicyList>
                <PasswordPolicy hasAttributes="Y">
                    <PasswordRuleCfgList>
                        <PasswordRuleCfg hasAttributes="Y"/>
                    </PasswordRuleCfgList>
                </PasswordPolicy>
            </PasswordPolicyList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordPolicyList" type="yfc:PasswordPolicyListXSDType"/>
    <xsd:complexType name="PasswordPolicyListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PasswordPolicy"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PasswordPolicy">
        <xsd:annotation yfc:tableName="PLT_PWD_POLICY">
            <xsd:documentation>The table is used for storing password policies.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PasswordRuleCfgList"/>
            </xsd:all>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_PWD_POLICY">
                    <xsd:documentation>Policy description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:PolicyName" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="PLT_PWD_POLICY">
                    <xsd:documentation>Policy name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_PWD_POLICY">
                    <xsd:documentation>The Organization to which the policy belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_POLICY">
                    <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="PLT_PWD_POLICY">
                    <xsd:documentation>The priority used for resolving user group policies. Greater value implies higher priority. Any negative value would be converted to zero.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Count"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:Status-1" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="PLT_PWD_POLICY">
                    <xsd:documentation>Indicates the status of policy. A value of 0 is disabled and a value of 1 means enabled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PasswordRuleCfgList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PasswordRuleCfg"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PasswordRuleCfg">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_CFG">
            <xsd:documentation>The table is used for storing policy and rule configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Params" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="PARAMS" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>The field stores the value for the rule parameters.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordRuleCfgKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_RULE_CFG_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_RULE_CFG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
