Data/xapidocs/api_javadocs/XSD/YCP_manageQuery_queryDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageQuery_queryDefinition"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageQuery_queryDefinition" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageQuery_queryDefinition.xsd" yfc:rootElement="QueryDefinition">
        <xsd:appinfo source="yfc:structure">
            <QueryDefinition hasAttributes="Y">
                <ConditionList>
                    <Condition hasAttributes="Y">
                        <Statement hasAttributes="Y">
                            <ValueList>
                                <Value hasAttributes="Y"/>
                            </ValueList>
                        </Statement>
                    </Condition>
                </ConditionList>
            </QueryDefinition>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QueryDefinition" type="yfc:QueryDefinitionXSDType"/>
    <xsd:complexType name="QueryDefinitionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConditionList"/>
        </xsd:all>
        <xsd:attribute name="QueryKey" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Unique identifier for the Query</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueryName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Name of the Query</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ConditionList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Condition"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Condition">
        <xsd:annotation yfc:tableName="YFS_CONDITION">
            <xsd:documentation>This table stores various conditions created in the sytem during scenario modelling.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Statement"/>
            </xsd:all>
            <xsd:attribute name="DisplayName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Name shown in UI.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntityName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Name of entity that the query is designed to work with.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Name of table that the query is designed to work with.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserInfo" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Statement">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ValueList"/>
            </xsd:all>
            <xsd:attribute name="Attribute" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ColumnName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DataType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DisplayName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DisplayPrefix" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Id" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Prefix" type="yfctype:String" use="optional"/>
            <xsd:attribute name="QryTypeDisplayName"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Query Type for the DisplayName</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QryTypeId" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Query Type for the Id</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QryTypeName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Query Type for the Name</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suffix" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UserInfo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ValueFrom" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValueList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Value"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Value">
        <xsd:complexType>
            <xsd:attribute name="Attribute" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
