Data/xapidocs/api_javadocs/XSD/YCP_getSavedSearchDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getSavedSearchDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getSavedSearchDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getSavedSearchDetails_input.xsd" yfc:rootElement="SavedSearch">
        <xsd:appinfo source="yfc:structure">
            <SavedSearch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SavedSearch" type="yfc:SavedSearchXSDType">
        <xsd:annotation yfc:tableName="YFS_SAVED_SEARCH">
            <xsd:documentation>
                <div>
			Pass either the <code>SavedSearchKey</code> or the combination of <code>Loginid</code>, <code>SearchContext</code> and <code>SearchName</code> to identify the <code>SavedSearch</code>. If the <code>SavedSearchKey</code> is passed, other attributes are not used.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SavedSearchXSDType">
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID"
                yfc:isConditional="Y" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>Loginid of the user for whom a named search is stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SavedSearchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SAVED_SEARCH_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>Primary key attribute of YFS_SAVED_SEARCH.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchContext" type="yfctype:SearchContext" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_CONTEXT"
                yfc:isConditional="Y" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>The context within which this search is applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchName" type="yfctype:SearchName" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_NAME"
                yfc:isConditional="Y" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>The name or reference that may be associated with a search.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
