Data/xapidocs/api_javadocs/XSD/YCP_getNextException_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNextException/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNextException/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNextException_input.xsd" yfc:rootElement="Inbox">
        <xsd:appinfo source="yfc:structure">
            <Inbox hasAttributes="Y">
                <InboxReferencesList>
                    <InboxReferences hasAttributes="Y"/>
                </InboxReferencesList>
                <InboxAuditList>
                    <InboxAudit hasAttributes="Y"/>
                </InboxAuditList>
                <Queue hasAttributes="Y"/>
                <User hasAttributes="Y"/>
            </Inbox>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Inbox" type="yfc:InboxXSDType">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InboxXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxReferencesList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxAuditList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Queue"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:User"/>
        </xsd:all>
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception is active and requires resolution.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActiveFlagQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ApiName" type="yfctype:ApiName-128" use="optional">
            <xsd:annotation yfc:columnName="API_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Name of the api that created this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApiNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AssignToUserId" type="yfctype:LoginId" use="required">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>
                    This is a mandatory field and specifies the user to whom the next exception needs to be assigned.
                     </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignToUserIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AssignedToUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The current user to which the exception is assigned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignedToUserKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="AutoResolvedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUTO_RESOLVED_FLAG"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AutoResolvedFlagQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Indicates a customer associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClosedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CLOSED_ON"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception was closed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClosedOnQryType" type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ConsolidationCount"
            type="yfctype:PositiveShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_COUNT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The number of exceptions that this record represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationCountQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="Description" type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The description of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DetailDescription"
            type="yfctype:DetailDescription" use="optional">
            <xsd:annotation yfc:columnName="DETAIL_DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The detailed description of an exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DetailDescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ErrorReason" type="yfctype:ErrorReason" use="optional">
            <xsd:annotation yfc:columnName="ERROR_REASON"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Error code or reason related to this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorReasonQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ErrorType" type="yfctype:ErrorType" use="optional">
            <xsd:annotation yfc:columnName="ERROR_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Type of error this exception record represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionEscalatedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_ESCALATED_FLAG"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether an exception was escalated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionEscalatedFlagQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-40" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The type of exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeKey" type="yfctype:String" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y"/>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExpirationDays"
            type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DAYS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Number of days of no activity after which this exception may be automatically closed. A value of zero means the exception will not expire.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDaysQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
            <xsd:annotation yfc:columnName="FLOW_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The service associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FollowupDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FOLLOWUP_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception should be followed up next.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FollowupDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="FromActiveFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromApiName" type="yfctype:ApiName-128" use="optional"/>
        <xsd:attribute name="FromAssignToUserId" type="yfctype:LoginId" use="optional"/>
        <xsd:attribute name="FromAssignedToUserKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromAutoResolvedFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromClosedOn" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromConsolidationCount"
            type="yfctype:PositiveShorterNumber" use="optional"/>
        <xsd:attribute name="FromDescription"
            type="yfctype:Description-255" use="optional"/>
        <xsd:attribute name="FromDetailDescription"
            type="yfctype:DetailDescription" use="optional"/>
        <xsd:attribute name="FromEnterpriseKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromErrorReason" type="yfctype:ErrorReason" use="optional"/>
        <xsd:attribute name="FromErrorType" type="yfctype:ErrorType" use="optional"/>
        <xsd:attribute name="FromExceptionEscalatedFlag"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromExceptionType"
            type="yfctype:ExceptionType-40" use="optional"/>
        <xsd:attribute name="FromExceptionTypeKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="FromExpirationDays"
            type="yfctype:ShorterNumber" use="optional"/>
        <xsd:attribute name="FromFlowName" type="yfctype:FlowName" use="optional"/>
        <xsd:attribute name="FromFollowupDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromGeneratedOn" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromInboxType" type="yfctype:InboxType" use="optional"/>
        <xsd:attribute name="FromItemId" type="yfctype:ItemID" use="optional"/>
        <xsd:attribute name="FromLastExceedAlert"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromLastOccurredOn"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromLastUnassignAlert"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromLastUnresolveAlert"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromLoadNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="FromLockedByUserKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromLockedFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromLockedOn" type="yfctype:Date" use="optional"/>
        <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromOrderLineKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromOrderNo"
            type="yfctype:VarcharDocumentNo" use="optional"/>
        <xsd:attribute name="FromOwnerKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromOwnerType" type="yfctype:OwnerType" use="optional"/>
        <xsd:attribute name="FromParentInboxKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromPriority"
            type="yfctype:PriorityWithDecimal" use="optional"/>
        <xsd:attribute name="FromQueueKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromResolutionDate"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromResolveBy" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromShipmentNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="FromShipnodeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromStatus" type="yfctype:EnumStatus3" use="optional"/>
        <xsd:attribute name="FromSubFlowName" type="yfctype:SubFlowName" use="optional"/>
        <xsd:attribute name="FromSupplierKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromUserId" type="yfctype:LoginId" use="optional"/>
        <xsd:attribute name="FromViewId" type="yfctype:ViewId" use="optional"/>
        <xsd:attribute name="FromWaveKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromWaveNo" type="yfctype:SequenceNo" use="optional"/>
        <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromWorkOrderNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="GeneratedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="GENERATED_ON"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date and time on which the exception was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GeneratedOnQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INBOX_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="InboxType" type="yfctype:InboxType" use="optional">
            <xsd:annotation yfc:columnName="INBOX_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The identifier for the item associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemIdQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="LastExceedAlert" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_EXCEED_ALERT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception was escalated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastExceedAlertQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="LastOccurredOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_OCCURRED_ON"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The most recent time this exception was generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastOccurredOnQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="LastUnassignAlert" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_UNASSIGN_ALERT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date when the last alert for 'unassignment' was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastUnassignAlertQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="LastUnresolveAlert"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_UNRESOLVE_ALERT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date when the last 'unresolved' alert was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastUnresolveAlertQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="LOAD_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The load number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadNoQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="LockedByUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCKED_BY_USER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The user who has been assigned to the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LockedByUserKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="LockedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="LOCKED_FLAG"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception is locked.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LockedFlagQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="LockedOn" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="LOCKED_ON"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which an exception was assigned to a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LockedOnQryType" type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order line associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order number associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The organization which owns the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
            <xsd:annotation yfc:columnName="OWNER_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This field is currently not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ParentInboxKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_INBOX_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentInboxKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The priority of the exception. A lower number means a higher priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriorityQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The queue to which an exception belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ResolutionDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RESOLUTION_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception was resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolutionDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ResolveBy" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RESOLVE_BY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date by which the exception should be resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolveByQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The shipment number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The shipnode where the exception was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Status" type="yfctype:EnumStatus3" use="optional">
            <xsd:annotation yfc:columnName="STATUS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The status of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
            <xsd:annotation yfc:columnName="SUB_FLOW_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The sub flow or RuntimeID associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SupplierKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SUPPLIER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The supplier code associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplierKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="TeamCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Indicates a team associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToActiveFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToApiName" type="yfctype:ApiName-128" use="optional"/>
        <xsd:attribute name="ToAssignToUserId" type="yfctype:LoginId" use="optional"/>
        <xsd:attribute name="ToAssignedToUserKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToAutoResolvedFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToClosedOn" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToConsolidationCount"
            type="yfctype:PositiveShorterNumber" use="optional"/>
        <xsd:attribute name="ToDescription"
            type="yfctype:Description-255" use="optional"/>
        <xsd:attribute name="ToDetailDescription"
            type="yfctype:DetailDescription" use="optional"/>
        <xsd:attribute name="ToEnterpriseKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToErrorReason" type="yfctype:ErrorReason" use="optional"/>
        <xsd:attribute name="ToErrorType" type="yfctype:ErrorType" use="optional"/>
        <xsd:attribute name="ToExceptionEscalatedFlag"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToExceptionType"
            type="yfctype:ExceptionType-40" use="optional"/>
        <xsd:attribute name="ToExceptionTypeKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ToExpirationDays"
            type="yfctype:ShorterNumber" use="optional"/>
        <xsd:attribute name="ToFlowName" type="yfctype:FlowName" use="optional"/>
        <xsd:attribute name="ToFollowupDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToGeneratedOn" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToInboxType" type="yfctype:InboxType" use="optional"/>
        <xsd:attribute name="ToItemId" type="yfctype:ItemID" use="optional"/>
        <xsd:attribute name="ToLastExceedAlert" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToLastOccurredOn" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToLastUnassignAlert"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToLastUnresolveAlert"
            type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToLoadNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="ToLockedByUserKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToLockedFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToLockedOn" type="yfctype:Date" use="optional"/>
        <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToOrderLineKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToOrderNo" type="yfctype:VarcharDocumentNo" use="optional"/>
        <xsd:attribute name="ToOwnerKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToOwnerType" type="yfctype:OwnerType" use="optional"/>
        <xsd:attribute name="ToParentInboxKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToPriority"
            type="yfctype:PriorityWithDecimal" use="optional"/>
        <xsd:attribute name="ToQueueKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToResolutionDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToResolveBy" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToShipmentNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="ToShipnodeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToStatus" type="yfctype:EnumStatus3" use="optional"/>
        <xsd:attribute name="ToSubFlowName" type="yfctype:SubFlowName" use="optional"/>
        <xsd:attribute name="ToSupplierKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToUserId" type="yfctype:LoginId" use="optional"/>
        <xsd:attribute name="ToViewId" type="yfctype:ViewId" use="optional"/>
        <xsd:attribute name="ToWaveKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToWaveNo" type="yfctype:SequenceNo" use="optional"/>
        <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToWorkOrderNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>
                    If this is passed in the input, exceptions already assigned to this user<br>will be considered for assigning to the user identified by the</br>AssignToUserId attribute.
                     </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserIdQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ViewId" type="yfctype:ViewId" use="optional">
            <xsd:annotation yfc:columnName="VIEW_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The view identifier associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ViewIdQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The wave associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The wave number that uniquely identifies the wave within the context of a node.  This is system generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNoQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The work order associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The work order number within the context of a node and enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderNoQryType"
            type="yfctype:StringQryType" use="optional"/>
    </xsd:complexType>
    <xsd:element name="InboxReferencesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxReferences"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxReferences">
        <xsd:annotation yfc:tableName="YFS_INBOX_REFERENCES">
            <xsd:documentation>Dynamic references can be stored with an exception. This table stores references attached with an exception</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxReferenceKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromName" type="yfctype:ReferenceName" use="optional"/>
            <xsd:attribute name="FromReferenceType"
                type="yfctype:ReferenceType" use="optional"/>
            <xsd:attribute name="FromValue"
                type="yfctype:ReferenceValue-2000" use="optional"/>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>The inbox exception to which a particular reference is maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_REFERENCE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Primary key attribute of YFS_INBOX_REFERENCES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxReferenceKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Name" type="yfctype:ReferenceName" use="optional">
                <xsd:annotation yfc:columnName="NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Name of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReferenceType"
                type="yfctype:ReferenceType" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Type of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxReferenceKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToName" type="yfctype:ReferenceName" use="optional"/>
            <xsd:attribute name="ToReferenceType"
                type="yfctype:ReferenceType" use="optional"/>
            <xsd:attribute name="ToValue"
                type="yfctype:ReferenceValue-2000" use="optional"/>
            <xsd:attribute name="Value"
                type="yfctype:ReferenceValue-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Value for the reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ValueQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxAuditList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxAudit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxAudit">
        <xsd:annotation yfc:tableName="YFS_INBOX_AUDIT">
            <xsd:documentation>Stores audit information for exceptions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FromFromQueueKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromFromStatus"
                type="yfctype:Status-24" use="optional"/>
            <xsd:attribute name="FromFromUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxAuditKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOwnerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOwnerType" type="yfctype:OwnerType" use="optional"/>
            <xsd:attribute name="FromQueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_QUEUE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was removed from this queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromQueueKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromReasonCode"
                type="yfctype:ReasonCode" use="optional"/>
            <xsd:attribute name="FromReasonText"
                type="yfctype:ReasonText" use="optional"/>
            <xsd:attribute name="FromStatus" type="yfctype:Status-24" use="optional">
                <xsd:annotation yfc:columnName="FROM_STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was moved from this Status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromStatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromToQueueKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromToStatus" type="yfctype:Status-24" use="optional"/>
            <xsd:attribute name="FromToUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromTransactionType"
                type="yfctype:TransactionType-20" use="optional"/>
            <xsd:attribute name="FromUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_USER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>User who was removed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromUserKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxAuditKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_AUDIT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Primary key attribute of YFS_INBOX_AUDIT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxAuditKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>The associated inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Organization which is the owner of an exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonTextQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToFromQueueKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToFromStatus" type="yfctype:Status-24" use="optional"/>
            <xsd:attribute name="ToFromUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxAuditKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOwnerKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOwnerType" type="yfctype:OwnerType" use="optional"/>
            <xsd:attribute name="ToQueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_QUEUE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was assigned to this queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToQueueKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToReasonCode" type="yfctype:ReasonCode" use="optional"/>
            <xsd:attribute name="ToReasonText" type="yfctype:ReasonText" use="optional"/>
            <xsd:attribute name="ToStatus" type="yfctype:Status-24" use="optional">
                <xsd:annotation yfc:columnName="TO_STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was moved to this Status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToStatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToToQueueKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToToStatus" type="yfctype:Status-24" use="optional"/>
            <xsd:attribute name="ToToUserKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToTransactionType"
                type="yfctype:TransactionType-20" use="optional"/>
            <xsd:attribute name="ToUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_USER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>User who was assigned the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToUserKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TransactionType"
                type="yfctype:TransactionType-20" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Nature of transactions performed so far on an exception. ( CREATED, CREATED_ASSIGNED,ASSIGNED,UNASSIGNED,REASSIGNED,RESOLVED_SYSTEM, RESOLVED_USER are valid transaction types. )</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Queue">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="HoursAssignExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_ASSIGN_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not assigned within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_ASSIGN_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unassign alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignment"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_ASSIGNMENT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue must be assigned within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForExceedRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_EXCEED_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which a re-alert should be raised for queue overflows</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolution"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_RESOLUTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue should be resolved within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolveRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_RESOLVE_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unresolved alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursResolveExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_RESOLVE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not resolved within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastQueueExceedAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_QUEUE_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Date when last overflow exception was raised for the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumActiveSize"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MAXIMUM_ACTIVE_SIZE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Maximum # of active exceptions that can be posted in the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumSizeExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MAXIMUM_SIZE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be performed if the active exceptions exceed the limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Organization code that owns the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Not used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue priority</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForAssignAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_ASSIGN_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unassignment exception should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForExceedAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which overflow exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForResolveAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_RESOLVE_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unresolve exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_DESCRIPTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Description of a Queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueGroup" type="yfctype:QueueGroupId" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_GROUP" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Group id. Can be used for better organization of queues</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Unique id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Primary key attribute of YFS_QUEUE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueName" type="yfctype:QueueName" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_NAME" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Name for queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Activateflag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER">
                    <xsd:documentation>This flag indicates whether a user is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BusinessKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The business associated with this user. Identifies a ship node when filled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreatorOrganizationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization that created the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromLoginid" type="yfctype:LoginId" use="optional"/>
            <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_USER">
                    <xsd:documentation>The login ID for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LoginidQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization to which a user belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToLoginid" type="yfctype:LoginId" use="optional"/>
            <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The user group associated with this user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Usertype" type="yfctype:EnumUserType" use="optional">
                <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                    <xsd:documentation>This field indicates the user type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
