Data/xapidocs/api_javadocs/XSD/YCP_getChargeNameList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getChargeNameList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getChargeNameList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getChargeNameList_output.xsd" yfc:rootElement="ChargeNameList">
        <xsd:appinfo source="yfc:structure">
            <ChargeNameList>
                <ChargeName hasAttributes="Y"/>
            </ChargeNameList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChargeNameList" type="yfc:ChargeNameListXSDType"/>
    <xsd:complexType name="ChargeNameListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ChargeName"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ChargeName">
        <xsd:annotation yfc:tableName="YFS_CHARGE_NAME">
            <xsd:documentation>This table stores next level of categorization of charges. For a given charge category, there could be  multiple charge names associated with it. For example, "Shipping" charge category may have  charges like "Mileage", "Documentation Fees" etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>Category this name belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategoryAndName"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>ChargeCategory/ChargeName</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategoryIsDiscount"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DISCOUNT" yfc:tableName="YFS_CHARGE_CATEGORY">
                    <xsd:documentation>Indication if this a discount charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>Name of the charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeNameKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME_KEY" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>Primary key for a charge name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>Description of a charge name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>Document type to which a charge name belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsBillable" type="yfctype:Text-1" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if this charge is billable based on charge category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDiscount" type="yfctype:Text-1" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if this charge is of discount type based on charge category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsRefundable" type="yfctype:Text-1" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if this charge is refundable based on charge category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>Organization Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
