Data/xapidocs/api_javadocs/XSD/YCP_getMenuHierarchyForUser_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getMenuHierarchyForUser/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getMenuHierarchyForUser/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getMenuHierarchyForUser_input.xsd" yfc:rootElement="getMenuHierarchyForUser">
        <xsd:appinfo source="yfc:structure">
            <getMenuHierarchyForUser hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getMenuHierarchyForUser" type="yfc:getMenuHierarchyForUserXSDType">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>
                <div>
				This element maintains all users in the system. The <code>Loginid</code> or <code>UserKey</code> attribute should identify a user for whom the Menu Hierarchy is needed.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getMenuHierarchyForUserXSDType">
        <xsd:attribute name="ApplicationName"
            type="yfctype:ApplicationName" use="required">
            <xsd:annotation yfc:columnName="APPLICATION_NAME" yfc:tableName="YFS_APPLICATION_MENU">
                <xsd:documentation>
                    <div>
					The application name. Valid values are: <b>
                            <code>YFSSYS00002</code>
                        </b> (for the Configurator) and <b>
                            <code>YFSSYS00004</code>
                        </b> (for the Console).
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>
                    <div>
					The user Login Id. The <code>Loginid</code> or <code>UserKey</code> attribute is required along with ApplicationName to retrieve the Menu Hierarchy for the User.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>
                    <div>
					Primary key attribute of YFS_USER. The <code>UserKey</code> or <code>Loginid</code> attribute is required along with ApplicationName to retrieve the Menu Hierarchy for the User.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
