Data/xapidocs/api_javadocs/XSD/YCP_getTaskReferenceList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTaskReferenceList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTaskReferenceList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTaskReferenceList_input.xsd" yfc:rootElement="TaskReference">
        <xsd:appinfo source="yfc:structure">
            <TaskReference hasAttributes="Y">
                <BaseActivityGroup hasAttributes="Y"/>
            </TaskReference>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TaskReference" type="yfc:TaskReferenceXSDType">
        <xsd:annotation yfc:tableName="YFS_TASK_REFERENCE">
            <xsd:documentation>This table contains the applicable task references for each tak type group.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskReferenceXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BaseActivityGroup"/>
        </xsd:all>
        <xsd:attribute name="MaximumRecords" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Maximum records this api should return
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_DEFINED" yfc:tableName="YFS_TASK_REFERENCE">
                <xsd:documentation>Y: Indicates this reference is System Defined and should not be allowed to change.  N: This is a user defined Reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskReference" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TASK_REFERENCE" yfc:tableName="YFS_TASK_REFERENCE">
                <xsd:documentation>It is a reference name that will be passed to the task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskReferenceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_REFERENCE_KEY" yfc:tableName="YFS_TASK_REFERENCE">
                <xsd:documentation>Primary key attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="BaseActivityGroup">
        <xsd:annotation yfc:tableName="YFS_BASE_ACTIVITY_GROUP">
            <xsd:documentation>This table contains the set of all Activity Groups.Activity Groups are system defined, at installation level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityGroupId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_BASE_ACTIVITY_GROUP">
                    <xsd:documentation>Every task type must belong to a task type group.  Task Type Groups are sytem defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityGroupName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_GROUP_NAME" yfc:tableName="YFS_BASE_ACTIVITY_GROUP">
                    <xsd:documentation>Descriptive name for the Activity group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BaseActivityGroupKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BASE_ACTIVITY_GROUP_KEY" yfc:tableName="YFS_BASE_ACTIVITY_GROUP">
                    <xsd:documentation>Primary key attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MultiLocation" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MULTI_LOCATION" yfc:tableName="YFS_BASE_ACTIVITY_GROUP">
                    <xsd:documentation>Y: Indicates both source and Target Location.  N: Indicates only 1 Location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
