Data/xapidocs/api_javadocs/XSD/YCP_getCustomerSubscriptionDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCustomerSubscriptionDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCustomerSubscriptionDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getCustomerSubscriptionDetails_output.xsd" yfc:rootElement="CustomerSubscription">
        <xsd:appinfo source="yfc:structure">
            <CustomerSubscription hasAttributes="Y">
                <BundleComponents hasAttributes="Y">
                    <BundleComponent hasAttributes="Y"/>
                </BundleComponents>
                <BundleParent hasAttributes="Y"/>
                <Customer hasAttributes="Y"/>
                <CustomerSubscriptionPrices hasAttributes="Y">
                    <CustomerSubscriptionPrice hasAttributes="Y"/>
                </CustomerSubscriptionPrices>
            </CustomerSubscription>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerSubscription" type="yfc:CustomerSubscriptionXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
            <xsd:documentation>This table stores all customer subscriptions in the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerSubscriptionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BundleComponents"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BundleParent"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Customer"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerSubscriptionPrices"/>
        </xsd:all>
        <xsd:attribute name="AssociatedSubscriptionKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ASSOCIATED_SUBSCRIPTION_KEY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>Subscription key of the new subscription created from this subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BundleParentSubscriptionKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="BUNDLE_PARENT_SUBSCRIPTION_KEY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The Bundle parent's subscription key. If this line is a bundle component, this key will point to the parent subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigurationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BOM_CONFIG_KEY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution so that Visual Modeler can be opened with existing options.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The currency code in which this subscription is processed. All price fields are assumed to be in this currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerContactID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_CONTACT_ID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>This is the customer contact ID for the subscription. This field maps to contact ID field of YFS_Customer_Contact.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerEMailID" type="yfctype:EMailID" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_EMAILID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The E-mail ID of the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The identifier for the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerSubscriptionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_SUBSCRIPTION_KEY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The primary key for the YFS_CUSTOMER_SUBSCRIPTION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDate" use="optional">
            <xsd:annotation yfc:columnName="END_DATE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The end date of the subscription.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ItemDesc" type="yfctype:Text-500" use="optional">
            <xsd:annotation yfc:columnName="ITEM_DESCRIPTION" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The description of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>This field indicates what kind of item is on the order line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemShortDesc" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ITEM_SHORT_DESCRIPTION" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The short description of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="KitCode" type="yfctype:EnumKitCode" use="optional">
            <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The collection of items that form a unit. For example, a home theatre system is a unit consisting of kit components, such as a DVD player, TV, CD player, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="KitQty" use="optional">
            <xsd:annotation yfc:columnName="KIT_QTY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The quantity that is used to compute ordered quantity for bundle component line. It can be specified only for bundle components. If specified ordered quantity will be set to KitQty*OrderedQty of the bundle parent.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ListPrice" use="optional">
            <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>the list price of the item. This is an informational field.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:UnitPrice"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The quantity of the line item that has been subscribed.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The seller organization that is associated with this subscription. This must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" use="optional">
            <xsd:annotation yfc:columnName="START_DATE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The date on which the subscription period started.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Status"
            type="yfctype:EnumCustomerSubscriptionStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The status of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionDate" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_DATE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The date that the subscription was created.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionName" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_NAME" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The name given to the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_NO" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The number of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubscriptionType"
            type="yfctype:EnumCustomerSubscriptionType" use="optional">
            <xsd:annotation yfc:columnName="SUBSCRIPTION_TYPE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The type of the subscription.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalAmount" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_AMOUNT" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The grand total for the subscription.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Money"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                <xsd:documentation>The unit price for the order line.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:UnitPrice"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="BundleComponents">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BundleComponent"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BundleComponent">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
            <xsd:documentation>This table stores all customer subscriptions in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSubscriptionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_SUBSCRIPTION_KEY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The primary key for the YFS_CUSTOMER_SUBSCRIPTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubscriptionName"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SUBSCRIPTION_NAME" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The name given to the subscription.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubscriptionNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SUBSCRIPTION_NO" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The number of the subscription.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BundleParent">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
            <xsd:documentation>This table stores all customer subscriptions in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSubscriptionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_SUBSCRIPTION_KEY" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The primary key for the YFS_CUSTOMER_SUBSCRIPTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumCustomerSubscriptionStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The status of the subscription.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubscriptionNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SUBSCRIPTION_NO" yfc:tableName="YFS_CUSTOMER_SUBSCRIPTION">
                    <xsd:documentation>The number of the subscription.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Customer">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER">
            <xsd:documentation>This table stores customer definitions as defined by an organization for a buyer organization, a receiving node, or a consumer.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AggregateStatus" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>AggregateStatus</code> is the resulting <code>Status</code> for the customer or contact after taking into consideration the <code>Status</code> of its customer hierarchy.  It will only go up the hierarchy to compare statuses.  The highest <code>Status</code> value (10,20,30) will always take priority. 
						Examples: 
						If the customer's <code>Status</code> is 10 (Active) and parent's <code>Status</code> is 30 (Inactive), then the current customer's <code>AggregateStatus</code> will be 30.  
						If the customer's <code>Status</code> is 20 (On Hold), parent's <code>Status</code> is 10 (Active), and child's <code>Status</code> is 30 (Inactive), then the customer's <code>AggregateStatus</code> will be 20.  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedReps"
                type="yfctype:NumberOfAssignment" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_REPS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates number of users currently assigned to this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The organization code of buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanConsumeSupplementalCapacity"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAN_CONSUME_SUPPL_CAPACITY" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This flag indicates whether the customer can be scheduled against the supplemental capacity.  Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommitmentTime" use="optional">
                <xsd:annotation yfc:columnName="COMMITMENT_TIME" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Hours taken to send commitment to the customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CustomerAssignedVendorID"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_ASSIGNED_VENDOR_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This is the ID issued by Customer to the vendor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerClassificationCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_CLASSIFICATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The classification code of customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The primary key for the YFS_CUSTOMER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a level a customer has achieved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerRewardsNo"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_REWARDS_NO" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The identifier of the customer's rewards number</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerType"
                type="yfctype:EnumCustomerType" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This field indicates the type of customer. Default value is Consumer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternalCustomerID"
                type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="EXTERNAL_CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The external identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FuncAckTime" use="optional">
                <xsd:annotation yfc:columnName="FUNC_ACK_TIME" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Hours taken to send functional acknowledgement to the customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaxAssignRepsOrTeams"
                type="yfctype:NumberOfAssignment" use="optional">
                <xsd:annotation
                    yfc:columnName="MAX_ASSIGN_REPS_OR_TEAMS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates maximum number of users or teams that can be assigned to manage this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegisteredDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REGISTERED_DATE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The date and time when the user was registered or when registration goes into effect. Default: current timestamp.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates the type of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsAsn" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_ASN" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the  customer has to be sent an advance ship notice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsCommitment" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_COMMITMENT" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the  customer has to be sent commitment against a purchase order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsFuncAck" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_FUNC_ACK" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the customer  has to be sent functional acknowledgment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SlotPreferenceType"
                type="yfctype:EnumSlotPreferenceType" use="optional">
                <xsd:annotation yfc:columnName="SLOT_PREFERENCE_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This field indicates the slot preference type of the customer. Default value is NONE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumCustomerStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a status on a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a vertical of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerSubscriptionPrices">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CustomerSubscriptionPrice"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CustomerSubscriptionPrice">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
            <xsd:documentation>Maintains details of various Price Types applicable to a subscription</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CustomerSubscriptionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_SUBSCRIPTION_KEY" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Primary key attribute of the YFS_CUSTOMER_SUBSCRIPTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSubscriptionPriceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_SUB_PRICE_KEY" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Primary key attribute of the YFS_CUSTOMER_SUB_PRICE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPriceTypeForInformationOnly"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_INFO_ONLY" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Flag to indicate that his Price Type is for informational use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" use="optional">
                <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Price value of the corresponding Price Type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceEndDate" use="optional">
                <xsd:annotation yfc:columnName="PRICE_END_DATE" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>The end date of this price type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceStartDate" use="optional">
                <xsd:annotation yfc:columnName="PRICE_START_DATE" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>The date from which the price type is applicable.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeName"
                type="yfctype:PriceTypeName" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Price Type associated with this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RecurringType"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="RECURRING_TYPE" yfc:tableName="YFS_CUSTOMER_SUB_PRICE">
                    <xsd:documentation>Recurring Interval for Price Type; if null, then Price Type is non-recurring.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
