Data/xapidocs/api_javadocs/XSD/YCP_registerBatchCompletion_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/registerBatchCompletion/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/registerBatchCompletion/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_registerBatchCompletion_input.xsd" yfc:rootElement="Batch">
        <xsd:appinfo source="yfc:structure">
            <Batch hasAttributes="Y">
                <Tasks>
                    <Task hasAttributes="Y">
                        <Inventory hasAttributes="Y">
                            <TagAttributes hasAttributes="Y"/>
                            <SerialNumberDetails>
                                <SerialRangeList>
                                    <SerialRange hasAttributes="Y"/>
                                </SerialRangeList>
                                <SerialNumberDetail hasAttributes="Y"/>
                            </SerialNumberDetails>
                        </Inventory>
                    </Task>
                </Tasks>
            </Batch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Batch" type="yfc:BatchXSDType">
        <xsd:annotation yfc:tableName="YFS_BATCH">
            <xsd:documentation>This table stores the batches of tasks.  A batch of tasks is typically sized such that it takes one user around 30 minutes to complete.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="BatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Tasks"/>
        </xsd:all>
        <xsd:attribute name="BatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BATCH_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_BATCH">
                <xsd:documentation>
                    <div>
						Either <code>BatchKey</code> OR <code>BatchNo</code> must be passed.
						<Validation>
                            <Condition>Neither <code>BatchKey</code> nor <code>BatchNo</code> are passed. 
							</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value does not identify an existing batch. 
							</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BatchNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="BATCH_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_BATCH">
                <xsd:documentation>
                    <div>
						Either <code>BatchKey</code> OR <code>BatchNo</code> must be passed.
						<Validation>
                            <Condition>Neither <code>BatchKey</code> nor <code>BatchNo</code> are passed. 
							</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value does not identify an existing batch. 
							</Condition>
                            <Error Description="No record found" ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_BATCH">
                <xsd:documentation>The node's organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_ID" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>	The user who completes the tasks in the batch. Mandatory if tasks are unassigned at the time of batch completion.
						<Validation>
                            <Condition>Mandatory if any task in the batch is not assigned to any user 
							</Condition>
                            <Error
                                Description="Task not assigned to any user" ErrorCode="YCP0221"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value does not identify an existing user. 
							</Condition>
                            <Error
                                Description="Invalid User identifiers passed." ErrorCode="YCP0084"/>
                        </Validation>
                        <Validation>
                            <Condition>If a task is already assigned to a user then either passed user id (or user id from context) should be same as what is on the task or the user on the task should not be logged in to the system at the time of completion. 
							</Condition>
                            <Error
                                Description="No other user can register a task when assigned user is logged in." ErrorCode="YCP0142"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Tasks">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Task"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Task">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>This table stores list of all tasks across nodes.  Tasks represent a logical or a physical activity.  Every task must belong to a task type, which identifies the type of activity.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Inventory"/>
            </xsd:all>
            <xsd:attribute name="AssignedToUserId"
                type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_ID" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The user to whom this task is assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_ID" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The specific equipment that is used to perform this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentLocationId"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_LOCATION_ID" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The identifier of the location associated with the location placeholder for the equipment, so that inventory in the location can be queried and tracked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_LOCATION_ID" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The location at which the movement of a product starts in a warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="TARGET_LOCATION_ID" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The location at which the task ends.  This may be overridden during execution.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The one up number that uniquely identifies the task.  This is system generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TASK_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The primary key for the YFS_TASK table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Inventory">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>This table stores list of all tasks across nodes.  Tasks represent a logical or a physical activity.  Every task must belong to a task type, which identifies the type of activity.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TagAttributes"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SerialNumberDetails"/>
            </xsd:all>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The status of the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The quantity for which the task is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceCaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_LPN_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>
                        <div>Source Case Id of the task</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourcePalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_LPN_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>
                        <div>Source Pallet Id of the task</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetCaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:columnName="TARGET_LPN_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>
                        <div>Target Case Id of the task</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TargetPalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation yfc:columnName="TARGET_LPN_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>
                        <div>Target Pallet Id of the task</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TagAttributes">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SerialNumberDetails">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					One or more <code>SerialNumberDetails</code> can be passed.  Each serial number detail is applicable to only one unit. If  serial number detail are not passed for all the units (Task, Inventory, and Quantity) that are moving into completed status, the rest of the units move with no serial number.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SerialRangeList"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SerialNumberDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SerialRangeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:SerialRange"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SerialRange">
        <xsd:complexType>
            <xsd:attribute name="FromSerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Staring serial number of a range for item. 
										<Validation>
                                <Condition> From Serial Number is blank.
											</Condition>
                                <Error
                                    Description="From Serial Number is blank." ErrorCode="INV80_043"/>
                            </Validation>
                            <Validation>
                                <Condition> To Serial Number is blank.
											</Condition>
                                <Error
                                    Description="To Serial Number is blank." ErrorCode="INV80_044"/>
                            </Validation>
                            <Validation>
                                <Condition> Both From and To Serial numbers are blank.
											</Condition>
                                <Error
                                    Description="Both From and To Serial numbers are blank." ErrorCode="INV80_039"/>
                            </Validation>
                            <Validation>
                                <Condition> Serial range entry is not supported when From and To Serial numbers are of different length.
											</Condition>
                                <Error
                                    Description="From and To Serial numbers are of different length, Manual Scanning Required." ErrorCode="INV80_045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToSerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Ending serial number of a range for item. 
										<Validation>
                                <Condition> From Serial Number is blank.
											</Condition>
                                <Error
                                    Description="From Serial Number is blank." ErrorCode="INV80_043"/>
                            </Validation>
                            <Validation>
                                <Condition> To Serial Number is blank.
											</Condition>
                                <Error
                                    Description="To Serial Number is blank." ErrorCode="INV80_044"/>
                            </Validation>
                            <Validation>
                                <Condition> Both From and To Serial numbers are blank.
											</Condition>
                                <Error
                                    Description="Both From and To Serial numbers are blank." ErrorCode="INV80_039"/>
                            </Validation>
                            <Validation>
                                <Condition> Serial range entry is not supported when From and To Serial numbers are of different length.
											</Condition>
                                <Error
                                    Description="From and To Serial numbers are of different length, Manual Scanning Required." ErrorCode="INV80_045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SerialNumberDetail">
        <xsd:complexType>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_GLOBAL_SERIAL_NUM">
                    <xsd:documentation>Serial number of the item. This is expected to be unique across each instance of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
