Data/xapidocs/api_javadocs/XSD/YCP_getReturnDispositionList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getReturnDispositionList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getReturnDispositionList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getReturnDispositionList_input.xsd" yfc:rootElement="ReturnDisposition">
        <xsd:appinfo source="yfc:structure">
            <ReturnDisposition hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReturnDisposition" type="yfc:ReturnDispositionXSDType">
        <xsd:annotation yfc:tableName="YFS_RETURN_DISPOSITION">
            <xsd:documentation>Configuration table. This table stores rules for handling of dispositions. Based on a chosen disposition, inventory can be updated or product class switched for the item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReturnDispositionXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Description for a Disposition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DispositionCode"
            type="yfctype:DispositionCode" use="optional">
            <xsd:annotation yfc:columnName="DISPOSITION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>A code used for identifying a return disposition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DispositionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DISPOSITION_KEY" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Primary key of a return disposition record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Organization Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Product class of an item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
