Data/xapidocs/api_javadocs/XSD/YCP_getQualifiedTagDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getQualifiedTagDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getQualifiedTagDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getQualifiedTagDetails_input.xsd" yfc:rootElement="QualifiedTag">
        <xsd:appinfo source="yfc:structure">
            <QualifiedTag hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QualifiedTag" type="yfc:QualifiedTagXSDType">
        <xsd:annotation yfc:tableName="PLT_QUALIFIED_TAG">
            <xsd:documentation>
                <div>
		To identify the <code>QualifiedTag</code>, pass either <code>QualifiedTagKey</code> or <code>QualifiedTagId</code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QualifiedTagXSDType">
        <xsd:attribute name="QualifiedTagId"
            type="yfctype:QualifiedTagId" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="PLT_QUALIFIED_TAG">
                <xsd:documentation>Qualified Tag identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_KEY" yfc:tableName="PLT_QUALIFIED_TAG">
                <xsd:documentation>Primary key attribute of PLT_QUALIFIED_TAG.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
