Data/xapidocs/api_javadocs/XSD/YCP_getUserGroupList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getUserGroupList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getUserGroupList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getUserGroupList_output.xsd" yfc:rootElement="UserGroupList">
        <xsd:appinfo source="yfc:structure">
            <UserGroupList>
                <UserGroup hasAttributes="Y"/>
            </UserGroupList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UserGroupList" type="yfc:UserGroupListXSDType">
        <xsd:annotation yfc:tableName="YFS_USER_GROUP_LIST">
            <xsd:documentation>Captures group membership of various users.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UserGroupListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:UserGroup"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UserGroup">
        <xsd:annotation yfc:tableName="YFS_USER_GROUP">
            <xsd:documentation>Defines all user groups in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Activateflag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>This flag indicates whether a group is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BusinessKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupOwnerId"
                type="yfctype:GroupOwnerId" use="optional">
                <xsd:annotation yfc:columnName="GROUP_OWNER_ID" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Owner of Group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupType" type="yfctype:GroupType-20" use="optional">
                <xsd:annotation yfc:columnName="GROUP_TYPE" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Type of group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Organization that owns this group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateGroup" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE_GROUP" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Template user group based on which a user group was derived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_DESCRIPTION" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Description of a user group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>A unique identifier to the user group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Primary key attribute of YFS_USER_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupName"
                type="yfctype:UserGroupName" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_NAME" yfc:tableName="YFS_USER_GROUP">
                    <xsd:documentation>Name of a user group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
