Data/xapidocs/api_javadocs/XSD/YCP_determineLabelFormatUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/determineLabelFormatUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/determineLabelFormatUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_determineLabelFormatUE_input.xsd" yfc:rootElement="GetLabelFormat">
        <xsd:appinfo source="yfc:structure">
            <GetLabelFormat hasAttributes="Y">
                <LabelPreference hasAttributes="Y"/>
            </GetLabelFormat>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetLabelFormat" type="yfc:GetLabelFormatXSDType"/>
    <xsd:complexType name="GetLabelFormatXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LabelPreference"/>
        </xsd:all>
        <xsd:attribute name="LabelFormatId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LABEL_FORMAT_ID" yfc:tableName="YFS_LABEL_FORMAT">
                <xsd:documentation>
                    <div>
					Unique identifier of a label format.
						<Validation>
                            <Condition>If specified should be a valid label format.
							</Condition>
                            <Error
                                Description="Invalid label format ID." ErrorCode="YCP0179"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>
                    <div>
					The Document to print.
						<Validation>
                            <Condition>
                                <code>PrintDocumentId</code> should be a valid document.
							</Condition>
                            <Error
                                Description="Invalid Print Document Identifier." ErrorCode="YCP0185"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LabelPreference">
        <xsd:annotation yfc:tableName="YFS_LABEL_PREFERENCE">
            <xsd:documentation>This entity defines the label format to be used for different documents for different criteria.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Organization code of buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Enterprise Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Equipment type name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Primary key attribute of YFS_SHIP_NODE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Organization code of seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
