Data/xapidocs/api_javadocs/XSD/YCP_getEntityCustomAttributeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getEntityCustomAttributeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getEntityCustomAttributeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getEntityCustomAttributeList_input.xsd" yfc:rootElement="EntityCustomAttribute">
        <xsd:appinfo source="yfc:structure">
            <EntityCustomAttribute hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntityCustomAttribute" type="yfc:EntityCustomAttributeXSDType">
        <xsd:annotation yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <code>CallingOrganizationCode</code> or <code>OrganizationCode</code> must be passed.
						</Condition>
                        <Error
                            Description="OrganizationCode Or CallingOrganizationCode Is Mandatory For This Operation." ErrorCode="YSC91A_006"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EntityCustomAttributeXSDType">
        <xsd:attribute name="AttributeDomainID" type="yfctype:GroupName" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttributeGroupID" type="yfctype:GroupName" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttributeID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>The unique identifier of the attribute. This attribute will be used as an extended column for the TableName/DocumentType defined in the corresponding  YFS_ENTITY_ATTRIBUTE_DOMAIN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>
					If <code>CallingOrganizationCode</code> is passed, the EntityCustomAttribute list for the organization that has configured custom attributes for this <code>CallingOrganizationCode</code> is returned.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ColumnName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="COLUMN_NAME" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>This points to the Column in the hang-off of the corresponding Entity for storing the extended attribute defined in ATTRIBUTE_ID field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ENTITY_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The DocumentType with which the AttributeDomain defined in column ATTRIBUTE_DOMAIN_ID must be associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntityAttributeDomainKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_ATTRIBUTE_DOMAIN_KEY" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>The primary key for the YFS_ENTITY_ATTRIBUTE_DOMAIN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntityCustomAttributeKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITY_CUSTOM_ATTRIBUTE_KEY" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>The primary key for the YFS_ENTITY_CUSTOM_ATTRIBUTE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>
                    <div>
					The organization that has defined the custom attributes.
					If <code>CallingOrganizationCode</code> is not passed in the input, then this <code>OrganizationCode</code> passed in the input is used to fetch the list.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Searchable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SEARCHABLE" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>This flag indicates whether the extended attribute is an indexed column in the hang-off.  Default value: "N".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:AttributeStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ENTITY_CUSTOM_ATTRIBUTE">
                <xsd:documentation>This represents the Status of the extended attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_ENTITY_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The TableName with which the AttributeDomain defined in column ATTRIBUTE_DOMAIN_ID must be associated. The allowed values are YFS_ORDER_HEADER, YFS_ORDER_LINE AND YFS_OPPORTUNITY</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
