Data/xapidocs/api_javadocs/XSD/YCP_manageConfigVersionLabel_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageConfigVersionLabel/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageConfigVersionLabel/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageConfigVersionLabel_input.xsd" yfc:rootElement="ConfigVersionLabel">
        <xsd:appinfo source="yfc:structure">
            <ConfigVersionLabel hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ConfigVersionLabel" type="yfc:ConfigVersionLabelXSDType">
        <xsd:annotation yfc:tableName="YFS_CONFIG_VERSION_LABEL">
            <xsd:documentation>This table stores information on version labels of configuration data.  A version label represents a timestamp in a timeline when changes occur in configuration data.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ConfigVersionLabelXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigVersionLabelKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_VERSION_LABEL_KEY" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>Primary key attribute of YFS_CONFIG_VERSION_LABEL.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>The description of the label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LabelID" type="yfctype:VersionLabelID" use="optional">
            <xsd:annotation yfc:columnName="LABEL_ID" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>The unique identifier for the label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>The organization code of the organization that maintains this config version label information.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Timestamp" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="TIME_STAMP" yfc:tableName="YFS_CONFIG_VERSION_LABEL">
                <xsd:documentation>The timestamp that the label represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
