Data/xapidocs/api_javadocs/XSD/YCP_getReadableConditionValue_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getReadableConditionValue/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getReadableConditionValue/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getReadableConditionValue_input.xsd" yfc:rootElement="ConditionList">
        <xsd:appinfo source="yfc:structure">
            <ConditionList>
                <Condition hasAttributes="Y"/>
            </ConditionList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ConditionList" type="yfc:ConditionListXSDType"/>
    <xsd:complexType name="ConditionListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Condition"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Condition">
        <xsd:annotation yfc:tableName="YFS_CONDITION">
            <xsd:documentation>This table stores various conditions created in the sytem during scenario modelling.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConditionID" type="yfctype:Identifier" use="required">
                <xsd:annotation yfc:columnName="CONDITION_ID" yfc:tableName="YFS_CONDITION">
                    <xsd:documentation>The unique identifier for the condition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:String" use="required"/>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_CONDITION">
                    <xsd:documentation>The process type that this condition is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
