Data/xapidocs/api_javadocs/XSD/YCP_getCallOutList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCallOutList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCallOutList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCallOutList_input.xsd" yfc:rootElement="CallOut">
        <xsd:appinfo source="yfc:structure">
            <CallOut hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CallOut" type="yfc:CallOutXSDType">
        <xsd:annotation yfc:tableName="PLT_CALLOUT">
            <xsd:documentation>This table stores metadata for all the callouts.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CallOutXSDType">
        <xsd:attribute name="CallOutId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_ID" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>This field is used to uniquely identify a callout.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_KEY" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>The primary key of the PLT_CALLOUT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutName" type="yfctype:UserExitName" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_NAME" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>The name of the CallOut.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsInputModifiable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_INPUT_MODIFIABLE" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>This should be set to Y if the input passed to each CallOut unit can be modified; The default value of this field is N which means the input passed to each of the callout units cannot be modified. Any character other than Y will be considered as N</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsThreaded" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_THREADED" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>This should be set to Y if each CallOut unit needs to be executed in a separate thread; The default value of this field is N which means the callout unit will be executed in the same thread. Any character other than Y will be considered as N</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProxyClass" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="PROXY_CLASS" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>The name of the proxy class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VotingResolverClassName"
            type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="VOTING_RESOLVER_CLASS_NAME" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>The java class implementing the voting resolver for the callout.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
