Data/xapidocs/api_javadocs/XSD/YCP_getDepartmentList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDepartmentList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDepartmentList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDepartmentList_output.xsd" yfc:rootElement="DepartmentList">
        <xsd:appinfo source="yfc:structure">
            <DepartmentList hasAttributes="Y">
                <Department hasAttributes="Y"/>
            </DepartmentList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DepartmentList" type="yfc:DepartmentListXSDType"/>
    <xsd:complexType name="DepartmentListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Department"/>
        </xsd:all>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Department">
        <xsd:annotation yfc:tableName="YFS_DEPARTMENT">
            <xsd:documentation>Maintains all departments for organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DefaultQueueId"
                type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_QUEUE_ID" yfc:tableName="YFS_DEPARTMENT">
                    <xsd:documentation>Default Queue for a department.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DepartmentAbbreviation"
                type="yfctype:DepartmentAbbreviation" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT_ABBR" yfc:tableName="YFS_DEPARTMENT">
                    <xsd:documentation>Abbreviation of the department name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DepartmentCode"
                type="yfctype:DepartmentCode" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_DEPARTMENT">
                    <xsd:documentation>Identifier to the department.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DepartmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT_KEY" yfc:tableName="YFS_DEPARTMENT">
                    <xsd:documentation>Primary key attribute of YFS_DEPARTMENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DepartmentName"
                type="yfctype:DepartmentName" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT_NAME" yfc:tableName="YFS_DEPARTMENT">
                    <xsd:documentation>Name of the department.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EmailId" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAIL_ID" yfc:tableName="YFS_DEPARTMENT">
                    <xsd:documentation>Email Id for the department.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EmailTemplate"
                type="yfctype:EmailTemplate" use="optional">
                <xsd:annotation yfc:columnName="EMAIL_TEMPLATE" yfc:tableName="YFS_DEPARTMENT">
                    <xsd:documentation>Template for email.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DEPARTMENT">
                    <xsd:documentation>The organization code associated with this department code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
