Data/xapidocs/api_javadocs/XSD/YCP_getLabelPreferenceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getLabelPreferenceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getLabelPreferenceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getLabelPreferenceList_output.xsd" yfc:rootElement="LabelPreferences">
        <xsd:appinfo source="yfc:structure">
            <LabelPreferences hasAttributes="Y">
                <LabelPreference hasAttributes="Y">
                    <PrintDocument hasAttributes="Y"/>
                    <LabelFormat hasAttributes="Y"/>
                </LabelPreference>
            </LabelPreferences>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LabelPreferences" type="yfc:LabelPreferencesXSDType"/>
    <xsd:complexType name="LabelPreferencesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:LabelPreference"/>
        </xsd:all>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LabelPreference">
        <xsd:annotation yfc:tableName="YFS_LABEL_PREFERENCE">
            <xsd:documentation>This entity defines the label format to be used for different documents for different criteria.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PrintDocument"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:LabelFormat"/>
            </xsd:all>
            <xsd:attribute name="Action" type="yfctype:String" use="optional"/>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Organization code of buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Enterprise Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Equipment type name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LabelFormatId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LABEL_FORMAT_ID" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Primary key attribute of YFS_LABEL_FORMAT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LabelPreferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LABEL_PREFERENCE_KEY" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Primary key attribute of YFS_LABEL_PREFERENCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfCopies" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_NO_OF_COPIES" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Default Number Of Copies for this Label.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Primary key attribute of YFS_SHIP_NODE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Unique Key attribute of YFS_PRINT_DOCUMENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                    <xsd:documentation>Organization code of seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrintDocument">
        <xsd:annotation yfc:tableName="YFS_PRINT_DOCUMENT">
            <xsd:documentation>This entity contains the definition of all the documents that will be printed using the print-infrastructure along with their descriptions and the default label format to be used for the document.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DefaultLabelFormatId"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_LABEL_FORMAT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                    <xsd:documentation>Default Label format for this document across all organizations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrintDocumentDescription"
                type="yfctype:FreeText-200" use="optional">
                <xsd:annotation
                    yfc:columnName="PRINT_DOCUMENT_DESCRIPTION" yfc:tableName="YFS_PRINT_DOCUMENT">
                    <xsd:documentation>Description of the Print Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                    <xsd:documentation>Document identifier, Values like BOL, Shipping Label, Pick List, Pack List etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrintDocumentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRINT_DOCUMENT_KEY" yfc:tableName="YFS_PRINT_DOCUMENT">
                    <xsd:documentation>Primary key attribute of YFS_PRINT_DOCUMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LabelFormat">
        <xsd:annotation yfc:tableName="YFS_LABEL_FORMAT">
            <xsd:documentation>Stores All the Available Label Formats.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LabelFormatFile"
                type="yfctype:LongFileName" use="optional">
                <xsd:annotation yfc:columnName="LABEL_FORMAT_FILE" yfc:tableName="YFS_LABEL_FORMAT">
                    <xsd:documentation>Name of the label format file.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LabelFormatId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LABEL_FORMAT_ID" yfc:tableName="YFS_LABEL_FORMAT">
                    <xsd:documentation>Label Format Identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MappingXML" type="yfctype:LongFileName" use="optional">
                <xsd:annotation yfc:columnName="MAPPING_XML" yfc:tableName="YFS_LABEL_FORMAT">
                    <xsd:documentation>File Name of the mapping XML for this Label.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
