Data/xapidocs/api_javadocs/XSD/YCP_getNegotiationDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNegotiationDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNegotiationDetails_input.xsd" yfc:rootElement="Negotiation">
        <xsd:appinfo source="yfc:structure">
            <Negotiation hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Negotiation" type="yfc:NegotiationXSDType">
        <xsd:annotation yfc:tableName="YFS_NEGOTIATION_HDR">
            <xsd:documentation>
                <div>
			One of the following must be passed to identify the <code>Negotiation</code>:
			<br/>- <code>NegotiationHeaderKey</code>
                    <br/>- <code>HeaderEntity</code> and <code>HeaderEntityKey</code>
                    <br/>- <code>NegotiationNo</code> and <code>EnterpriseCode</code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NegotiationXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Enterprise of the order for which this negotiation is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HeaderEntity" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="HEADER_ENTITY" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>This is base document type of negotiation. Currently, it can have value ORDER only.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HeaderEntityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="HEADER_ENTITY_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Primary key of the order for which this negotiation is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NegotiationHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Primary key. Always system generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NegotiationNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="NEGOTIATION_NO" yfc:tableName="YFS_NEGOTIATION_HDR">
                <xsd:documentation>Part of unique key of negotiation. Enterprise code and negotiation number together uniquely identify a negotiation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
