Data/xapidocs/api_javadocs/XSD/YCP_getNodeTransferScheduleList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNodeTransferScheduleList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNodeTransferScheduleList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getNodeTransferScheduleList_input.xsd" yfc:rootElement="NodeTransferSchedule">
        <xsd:appinfo source="yfc:structure">
            <NodeTransferSchedule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeTransferSchedule" type="yfc:NodeTransferScheduleXSDType">
        <xsd:annotation yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
            <xsd:documentation>This table contains information about Node Transfer Schedule.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeTransferScheduleXSDType">
        <xsd:attribute name="CostFactorCurrency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="COST_FACTOR_CURRENCY" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Indicates currency for the transfer schedule cost per unit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveFromDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>The first date when the transfer schedule should be considered.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveToDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>The last date when the transfer schedule should be considered.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FridayShip" use="optional">
            <xsd:annotation yfc:columnName="FRIDAY_SHIP" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Can ship on Friday.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FridayTransitDays" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 this has been replaced by <code>FridayTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				Number of Transit days for Friday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FROM_NODE" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>From Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:String" use="optional"/>
        <xsd:attribute name="MondayShip" use="optional">
            <xsd:annotation yfc:columnName="MONDAY_SHIP" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Can ship on Monday.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MondayTransitDays" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 this has been replaced by <code>MondayTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				Number of Transit days for Monday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeTransferScheduleKey" type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="YFS_NODE_TRANSFER_SCHEDULE_KEY" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Primary key attribute of YFS_NODE_TRANSFER_SCHEDULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SaturdayShip" use="optional">
            <xsd:annotation yfc:columnName="SATURDAY_SHIP" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Can ship on Saturday.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SaturdayTransitDays" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 this has been replaced by <code>SaturdayTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				Number of Transit days for Saturday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SundayShip" use="optional">
            <xsd:annotation yfc:columnName="SUNDAY_SHIP" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Can ship on Sunday.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SundayTransitDays" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 this has been replaced by <code>SundayTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				Number of Transit days for Sunday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ThursdayShip" use="optional">
            <xsd:annotation yfc:columnName="THURSDAY_SHIP" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Can ship on Thursday.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ThursdayTransitDays" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 this has been replaced by <code>ThursdayTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				Number of Transit days for Thursday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TO_NODE" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>To Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TranSchCostPerUnit" use="optional">
            <xsd:annotation yfc:columnName="TRAN_SCH_COST_PER_UNIT" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Indicates Cost Per Unit for Transfers between 2 nodes using the Transfer Schedule.  It is used for Landed Cost computation.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Decimal"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TransitDays" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 this has been replaced by <code>DefaultTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				The default transit days between the 2 nodes. This will be 
				used in transit time calculations if day-specific transit days is not defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TuesdayShip" use="optional">
            <xsd:annotation yfc:columnName="TUESDAY_SHIP" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Can ship on Tuesday.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TuesdayTransitDays" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 this has been replaced by <code>TuesdayTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				Number of Transit days for Tuesday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WednesdayShip" use="optional">
            <xsd:annotation yfc:columnName="WEDNESDAY_SHIP" yfc:tableName="YFS_NODE_TRANSFER_SCHEDULE">
                <xsd:documentation>Can ship on Wednesday.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="WednesdayTransitDays" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <b>Deprecated.</b> As of 9.5 this has been replaced by <code>WednesdayTransitTime</code>
				and <code>TransitUnitOfMeasure</code>.<br/>
				Number of Transit days for Wednesday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
