Data/xapidocs/api_javadocs/XSD/YCP_determinePrinterUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/determinePrinterUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/determinePrinterUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_determinePrinterUE_output.xsd" yfc:rootElement="Printer">
        <xsd:appinfo source="yfc:structure">
            <Printer hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Printer" type="yfc:PrinterXSDType"/>
    <xsd:complexType name="PrinterXSDType">
        <xsd:attribute name="PrinterId" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="DEVICE_ID" yfc:tableName="YFS_DEVICE">
                <xsd:documentation>Device Identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
