Data/xapidocs/api_javadocs/XSD/YCP_updateCustomerAssignmentLookup_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/updateCustomerAssignmentLookup/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/updateCustomerAssignmentLookup/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_updateCustomerAssignmentLookup_input.xsd" yfc:rootElement="CustomerAssignment">
        <xsd:appinfo source="yfc:structure">
            <CustomerAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerAssignment" type="yfc:CustomerAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
            <xsd:documentation>
                <div>

				Specify the <code>Customer</code> for which assignments are to be synched. 
				<code>OrganizationCode</code> and <code>CustomerOrganizationCode</code> are manadatory attributes. 
				Either <code>CustomerKey</code> or <code>CustomerID</code> need to be passed.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerAssignmentXSDType">
        <xsd:attribute name="AssignmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNMENT_TYPE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				The <code>AssignmentType</code> can be passed as <code>BUYER</code> or <code>SELLER</code>. If a specific value is passed then the API will sync the assignments for the given assignment type only. If no value is passed for <code>AssignmentType</code> then all the assignments for the given customer are synched.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The Customer whose assignments need to be matched.  
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Customer whose orders can be managed by a specified team or user.  Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerOrganizationCode"
            type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The Customer whose assignments need to be matched. If the Team or User is assigned to a Customer not defined by the Team's or User's Organization, <code>CustomerOrganizationCode</code> should be passed to identify the customer.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Indicates an Organization that this team or user belongs to. Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
