Data/xapidocs/api_javadocs/XSD/YCP_CREATE_EXCEPTION.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/CREATE_EXCEPTION/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/CREATE_EXCEPTION/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_CREATE_EXCEPTION.ON_SUCCESS.xsd" yfc:rootElement="Inbox">
        <xsd:appinfo source="yfc:structure">
            <Inbox hasAttributes="Y">
                <InboxReferencesList>
                    <InboxReferences hasAttributes="Y"/>
                </InboxReferencesList>
                <InboxAuditList>
                    <InboxAudit hasAttributes="Y"/>
                </InboxAuditList>
                <InboxNotesList>
                    <InboxNotes hasAttributes="Y"/>
                </InboxNotesList>
                <OldValues>
                    <Inbox hasAttributes="Y">
                        <InboxReferencesList>
                            <InboxReferences hasAttributes="Y"/>
                        </InboxReferencesList>
                        <InboxAuditList>
                            <InboxAudit hasAttributes="Y"/>
                        </InboxAuditList>
                    </Inbox>
                </OldValues>
                <ClosedInboxList>
                    <Inbox hasAttributes="Y">
                        <InboxReferencesList>
                            <InboxReferences hasAttributes="Y"/>
                        </InboxReferencesList>
                        <InboxAuditList>
                            <InboxAudit hasAttributes="Y"/>
                        </InboxAuditList>
                    </Inbox>
                </ClosedInboxList>
            </Inbox>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Inbox" type="yfc:InboxXSDType">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InboxXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="InboxReferencesList">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="InboxReferences">
                            <xsd:annotation yfc:tableName="YFS_INBOX_REFERENCES">
                                <xsd:documentation>Dynamic references can be stored with an exception. This table stores references attached with an exception</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="InboxKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>The inbox exception to which a particular reference is maintained.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="InboxReferenceKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_REFERENCE_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Primary key attribute of YFS_INBOX_REFERENCES.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Name"
                                    type="yfctype:ReferenceName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NAME" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Name of reference.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ReferenceType"
                                    type="yfctype:ReferenceType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Type of reference.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Value"
                                    type="yfctype:ReferenceValue-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Value for the reference.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="InboxAuditList">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="InboxAudit">
                            <xsd:annotation yfc:tableName="YFS_INBOX_AUDIT">
                                <xsd:documentation>Stores audit information for exceptions.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="FromQueueKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was removed from this queue.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="FromStatus"
                                    type="yfctype:Status-24" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was moved from this Status.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="FromUserKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>User who was removed.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="InboxAuditKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_AUDIT_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Primary key attribute of YFS_INBOX_AUDIT.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="InboxKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>The associated inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="OwnerKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Organization which is the owner of an exception.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="OwnerType"
                                    type="yfctype:OwnerType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Not used.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ReasonCode"
                                    type="yfctype:ReasonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_CODE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ReasonText"
                                    type="yfctype:ReasonText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ToQueueKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was assigned to this queue.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ToStatus"
                                    type="yfctype:Status-24" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was moved to this Status.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ToUserKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>User who was assigned the exception.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="TransactionType"
                                    type="yfctype:TransactionType-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TRANSACTION_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Nature of transactions performed so far on an exception. ( CREATED, CREATED_ASSIGNED,ASSIGNED,UNASSIGNED,REASSIGNED,RESOLVED_SYSTEM, RESOLVED_USER are valid transaction types. )</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxNotesList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OldValues"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ClosedInboxList"/>
        </xsd:all>
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception is active and requires resolution.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApiName" type="yfctype:ApiName-128" use="optional">
            <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Name of the api that created this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignedToUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation>
                <xsd:documentation>The user to whom an exception is assigned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignedToUserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The current user to which the exception is assigned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AutoResolvedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUTO_RESOLVED_FLAG" yfc:tableName="YFS_INBOX">
                <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClosedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CLOSED_ON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception was closed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationCount"
            type="yfctype:PositiveShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_COUNT" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The number of exceptions that this record represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The description of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DetailDescription"
            type="yfctype:DetailDescription" use="optional">
            <xsd:annotation yfc:columnName="DETAIL_DESCRIPTION" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The detailed description of an exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-40" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The type of exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FollowupDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FOLLOWUP_DATE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception should be followed up next.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GeneratedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="GENERATED_ON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date and time on which the exception was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxAddnlData" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="INBOX_ADDNL_DATA" yfc:tableName="YFS_INBOX">
                <xsd:documentation>An XML column to store additional data.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxType" type="yfctype:InboxType" use="optional">
            <xsd:annotation yfc:columnName="INBOX_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastOccurredOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_OCCURRED_ON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The most recent time this exception was generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order line associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order number associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentInboxKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_INBOX_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The priority of the exception. A lower number means a higher priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
            <xsd:annotation>
                <xsd:documentation>The queue ID for which the exception is assigned to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The queue to which an exception belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolutionDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RESOLUTION_DATE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date on which the exception was resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolveBy" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RESOLVE_BY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The date by which the exception should be resolved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The shipnode where the exception was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:EnumStatus3" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The status of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InboxNotesList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxNotes"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxNotes">
        <xsd:annotation yfc:tableName="YFS_INBOX_NOTES">
            <xsd:documentation>This table provides the capability to add notes to an alert</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ContactReference"
                type="yfctype:NotesContactReference" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone number can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_USER" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The user who made the contact. The default value is the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Link to the parent alert on which notes are to be added.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxNotesKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_NOTES_KEY" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The primary key for the YFS_INBOX_NOTES table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OldValues">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Inbox">
                    <xsd:annotation yfc:tableName="YFS_INBOX">
                        <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InboxReferencesList">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InboxReferences">
                                    <xsd:annotation yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Dynamic references can be stored with an exception. This table stores references attached with an exception</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="InboxKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>The inbox exception to which a particular reference is maintained.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InboxReferenceKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_REFERENCE_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Primary key attribute of YFS_INBOX_REFERENCES.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:ReferenceName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NAME" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Name of reference.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ReferenceType"
                                    type="yfctype:ReferenceType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Type of reference.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Value"
                                    type="yfctype:ReferenceValue-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Value for the reference.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InboxAuditList">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InboxAudit">
                                    <xsd:annotation yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Stores audit information for exceptions.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="FromQueueKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was removed from this queue.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="FromStatus"
                                    type="yfctype:Status-24" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was moved from this Status.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="FromUserKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>User who was removed.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InboxAuditKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_AUDIT_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Primary key attribute of YFS_INBOX_AUDIT.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InboxKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>The associated inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OwnerKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Organization which is the owner of an exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OwnerType"
                                    type="yfctype:OwnerType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Not used.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ReasonCode"
                                    type="yfctype:ReasonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_CODE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ReasonText"
                                    type="yfctype:ReasonText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ToQueueKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was assigned to this queue.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ToStatus"
                                    type="yfctype:Status-24" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was moved to this Status.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ToUserKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>User who was assigned the exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TransactionType"
                                    type="yfctype:TransactionType-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TRANSACTION_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Nature of transactions performed so far on an exception. ( CREATED, CREATED_ASSIGNED,ASSIGNED,UNASSIGNED,REASSIGNED,RESOLVED_SYSTEM, RESOLVED_USER are valid transaction types. )</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="ActiveFlag"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>This flag indicates whether the exception is active and requires resolution.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ApiName"
                            type="yfctype:ApiName-128" use="optional">
                            <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>Name of the api that created this exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AssignedToUserId"
                            type="yfctype:LoginId" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>The user to whom an exception is assigned.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AssignedToUserKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ASSIGNED_TO_USER_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The current user to which the exception is assigned.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AutoResolvedFlag"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="AUTO_RESOLVED_FLAG" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ClosedOn"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="CLOSED_ON" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The date on which the exception was closed.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ConsolidationCount"
                            type="yfctype:PositiveShorterNumber" use="optional">
                            <xsd:annotation
                                yfc:columnName="CONSOLIDATION_COUNT" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The number of exceptions that this record represents.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Description"
                            type="yfctype:Description-255" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The description of the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DetailDescription"
                            type="yfctype:DetailDescription" use="optional">
                            <xsd:annotation
                                yfc:columnName="DETAIL_DESCRIPTION" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The detailed description of an exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EnterpriseKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ExceptionType"
                            type="yfctype:ExceptionType-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The type of exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FollowupDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation
                                yfc:columnName="FOLLOWUP_DATE" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The date on which the exception should be followed up next.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="GeneratedOn"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation
                                yfc:columnName="GENERATED_ON" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The date and time on which the exception was raised.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InboxAddnlData"
                            type="yfctype:CLOB" use="optional">
                            <xsd:annotation
                                yfc:columnName="INBOX_ADDNL_DATA" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>An XML column to store additional data.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InboxKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InboxType"
                            type="yfctype:InboxType" use="optional">
                            <xsd:annotation yfc:columnName="INBOX_TYPE" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LastOccurredOn"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation
                                yfc:columnName="LAST_OCCURRED_ON" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The most recent time this exception was generated.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderHeaderKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The order associated with the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The order line associated with the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderNo"
                            type="yfctype:VarcharDocumentNo" use="optional">
                            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The order number associated with the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ParentInboxKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="PARENT_INBOX_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Priority"
                            type="yfctype:PriorityWithDecimal" use="optional">
                            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The priority of the exception. A lower number means a higher priority.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="QueueId"
                            type="yfctype:Identifier" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>The queue ID for which the exception is assigned to.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="QueueKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The queue to which an exception belongs.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResolutionDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOLUTION_DATE" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The date on which the exception was resolved.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResolveBy"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="RESOLVE_BY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The date by which the exception should be resolved.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipnodeKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The shipnode where the exception was raised.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Status"
                            type="yfctype:EnumStatus3" use="optional">
                            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The status of the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClosedInboxList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Inbox">
                    <xsd:annotation yfc:tableName="YFS_INBOX">
                        <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InboxReferencesList">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InboxReferences">
                                    <xsd:annotation yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Dynamic references can be stored with an exception. This table stores references attached with an exception</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="InboxKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>The inbox exception to which a particular reference is maintained.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InboxReferenceKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_REFERENCE_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Primary key attribute of YFS_INBOX_REFERENCES.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:ReferenceName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NAME" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Name of reference.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ReferenceType"
                                    type="yfctype:ReferenceType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Type of reference.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Value"
                                    type="yfctype:ReferenceValue-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE" yfc:tableName="YFS_INBOX_REFERENCES">
                                    <xsd:documentation>Value for the reference.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InboxAuditList">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InboxAudit">
                                    <xsd:annotation yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Stores audit information for exceptions.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="FromQueueKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was removed from this queue.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="FromStatus"
                                    type="yfctype:Status-24" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was moved from this Status.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="FromUserKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FROM_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>User who was removed.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InboxAuditKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_AUDIT_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Primary key attribute of YFS_INBOX_AUDIT.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InboxKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>The associated inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OwnerKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Organization which is the owner of an exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OwnerType"
                                    type="yfctype:OwnerType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Not used.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ReasonCode"
                                    type="yfctype:ReasonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_CODE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ReasonText"
                                    type="yfctype:ReasonText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ToQueueKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was assigned to this queue.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ToStatus"
                                    type="yfctype:Status-24" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Was moved to this Status.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ToUserKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TO_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>User who was assigned the exception.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TransactionType"
                                    type="yfctype:TransactionType-20" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TRANSACTION_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                                    <xsd:documentation>Nature of transactions performed so far on an exception. ( CREATED, CREATED_ASSIGNED,ASSIGNED,UNASSIGNED,REASSIGNED,RESOLVED_SYSTEM, RESOLVED_USER are valid transaction types. )</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="ActiveFlag"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>This flag indicates whether the exception is active and requires resolution.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AssignedToUserId"
                            type="yfctype:LoginId" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>The user to whom an exception is assigned.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AssignedToUserKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ASSIGNED_TO_USER_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The current user to which the exception is assigned.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AutoResolvedFlag"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="AUTO_RESOLVED_FLAG" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ClosedOn"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="CLOSED_ON" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The date on which the exception was closed.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ConsolidationCount"
                            type="yfctype:PositiveShorterNumber" use="optional">
                            <xsd:annotation
                                yfc:columnName="CONSOLIDATION_COUNT" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The number of exceptions that this record represents.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Description"
                            type="yfctype:Description-255" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The description of the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DetailDescription"
                            type="yfctype:DetailDescription" use="optional">
                            <xsd:annotation
                                yfc:columnName="DETAIL_DESCRIPTION" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The detailed description of an exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EnterpriseKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ExceptionType"
                            type="yfctype:ExceptionType-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The type of exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InboxKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InboxType"
                            type="yfctype:InboxType" use="optional">
                            <xsd:annotation yfc:columnName="INBOX_TYPE" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ParentInboxKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="PARENT_INBOX_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="QueueId"
                            type="yfctype:Identifier" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>The queue ID for which the exception is assigned to.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="QueueKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The queue to which an exception belongs.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResolutionDate"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOLUTION_DATE" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The date on which the exception was resolved.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResolveBy"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="RESOLVE_BY" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The date by which the exception should be resolved.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Status"
                            type="yfctype:EnumStatus3" use="optional">
                            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_INBOX">
                                <xsd:documentation>The status of the exception.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
