Data/xapidocs/api_javadocs/XSD/YCP_getChargeNameList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getChargeNameList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getChargeNameList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getChargeNameList_input.xsd" yfc:rootElement="ChargeName">
        <xsd:appinfo source="yfc:structure">
            <ChargeName hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChargeName" type="yfc:ChargeNameXSDType">
        <xsd:annotation yfc:tableName="YFS_CHARGE_NAME">
            <xsd:documentation>This table stores next level of categorization of charges. For a given charge category, there could be  multiple charge names associated with it. For example, "Shipping" charge category may have  charges like "Mileage", "Documentation Fees" etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChargeNameXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="ChargeCategory"
            type="yfctype:ChargeCategory" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_CHARGE_NAME">
                <xsd:documentation>Category this name belongs to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_CHARGE_NAME">
                <xsd:documentation>Name of the charge.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeNameKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_NAME_KEY" yfc:tableName="YFS_CHARGE_NAME">
                <xsd:documentation>Primary key for a charge name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CHARGE_NAME">
                <xsd:documentation>Description of a charge name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_CHARGE_NAME">
                <xsd:documentation>Document type to which a charge name belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CHARGE_NAME">
                <xsd:documentation>Organization Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
