Data/xapidocs/api_javadocs/XSD/YCP_getAccessTokenDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getAccessTokenDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getAccessTokenDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getAccessTokenDetails_input.xsd" yfc:rootElement="AccessToken">
        <xsd:appinfo source="yfc:structure">
            <AccessToken hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AccessToken" type="yfc:AccessTokenXSDType">
        <xsd:annotation yfc:tableName="PLT_ACCESS_TOKEN">
            <xsd:documentation>
                <div/>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AccessTokenXSDType">
        <xsd:attribute name="TokenValue" type="yfctype:AccessToken" use="required">
            <xsd:annotation yfc:columnName="TOKEN_VALUE" yfc:tableName="PLT_ACCESS_TOKEN">
                <xsd:documentation>The token value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
