Data/xapidocs/api_javadocs/XSD/YCP_manageQualifiedTag_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageQualifiedTag/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageQualifiedTag/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageQualifiedTag_input.xsd" yfc:rootElement="QualifiedTag">
        <xsd:appinfo source="yfc:structure">
            <QualifiedTag hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QualifiedTag" type="yfc:QualifiedTagXSDType">
        <xsd:annotation yfc:tableName="PLT_QUALIFIED_TAG">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> or <b>
                                <code>Modify</code>
                            </b> and an invalid <code>QualifiedTagType</code> is passed.
					</Condition>
                        <Error Description="YCP:No Record Found." ErrorCode="YCP0045"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and QualifiedTagKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Delete</code>
                            </b> and QualifiedTagId is associated with records in QualifiedTag Version Compatibility Table
					</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete a QualifiedTag that is associated with some QualifiedTag Version Compatibility." ErrorCode="PLTDB0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>QualifiedTagId</code> or <code>QualifiedTagType</code> are not passed.
					</Condition>
                        <Error
                            Description="QualifiedTagId and QualifiedTagType are Mandatory fields." ErrorCode="YCP0046"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QualifiedTagXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagDescription"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_DESCRIPTION" yfc:tableName="PLT_QUALIFIED_TAG">
                <xsd:documentation>Qualified Tag description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagId"
            type="yfctype:QualifiedTagId" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="PLT_QUALIFIED_TAG">
                <xsd:documentation>Qualified Tag identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_KEY" yfc:tableName="PLT_QUALIFIED_TAG">
                <xsd:documentation>Primary key attribute of PLT_QUALIFIED_TAG.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagType"
            type="yfctype:QualifiedTagType" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_TYPE" yfc:tableName="PLT_QUALIFIED_TAG">
                <xsd:documentation>Qualified Tag Type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
