Data/xapidocs/api_javadocs/XSD/YCP_createRegion_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createRegion/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createRegion/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_createRegion_input.xsd" yfc:rootElement="Region">
        <xsd:appinfo source="yfc:structure">
            <Region hasAttributes="Y">
                <RegionSchema hasAttributes="Y"/>
                <ZipCodeRanges>
                    <ZipCodeRange hasAttributes="Y"/>
                </ZipCodeRanges>
            </Region>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Region" type="yfc:RegionXSDType">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>
                <div>
				This table contains information about the Region Definition. A region schema key has to be given to indicate the Schema with which the region is associated.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RegionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RegionSchema"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZipCodeRanges"/>
        </xsd:all>
        <xsd:attribute name="CanAggregate" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_AGGREGATE" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
					A flag that indicates if this region can be a parent of other regions.<br>
					If this flag is set to <code>
                                <b>Y</b>
                            </code>, the region cannot have zipcode ranges defined for this region.</br>
					If this flag is set to <code>
                            <b>N</b>
                        </code>, this region cannot become the parent of any other region.
					Defaults to <code>
                            <b>N</b>
                        </code> if not passed.
	 				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentRegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_REGION_KEY" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
					The region key under which this region is created.
						<Validation>
                            <Condition>
							If <code>ParentRegionKey</code> is passed, the parent region specified should already exist. If it does not exist:
							</Condition>
                            <Error Description="Invalid parent region." ErrorCode="YCP0120"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="REGION_DESCRIPTION" yfc:tableName="YFS_REGION">
                <xsd:documentation>The description of this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="required">
            <xsd:annotation yfc:columnName="REGION_LEVEL_NAME" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
					The Region Level for the region.
						<Validation>
                            <Condition>
                                <code>RegionLevelName</code> must be passed. If not passed:
							</Condition>
                            <Error Description="Missing RegionLevelName" ErrorCode="YCP0115"/>
                        </Validation>
                        <Validation>
                            <Condition>
							The region level name specified should already exist. If it does not exist:
							</Condition>
                            <Error
                                Description="Region level does not exist." ErrorCode="YCP0116"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionName" type="yfctype:ID-40" use="required">
            <xsd:annotation yfc:columnName="REGION_NAME" yfc:tableName="YFS_REGION">
                <xsd:documentation>
                    <div>
					The unique name of the region.
						<Validation>
                            <Condition>
                                <code>RegionName</code> must be passed. If not passed:
							</Condition>
                            <Error Description="Missing RegionName" ErrorCode="YCP0114"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="RegionSchema">
        <xsd:annotation yfc:tableName="YFS_REGION_SCHEMA">
            <xsd:documentation>
                <div>
					This table contains information about the Region Schema created for an organization.
						<Validation>
                        <Condition>
							Either <code>RegionSchemaKey</code> or both {<code>RegionSchemaName</code> and <code>OrganizationCode</code>} should be passed. If not passed:
							</Condition>
                        <Error Description="Invalid region schema" ErrorCode="YCP0109"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Organization Key for which the region schema is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Primary key attribute of YFS_REGION_SCHEMA table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_NAME" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Unique Name for the region schema.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZipCodeRanges">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ZipCodeRange"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZipCodeRange">
        <xsd:annotation yfc:tableName="YFS_REGION_DETAIL">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
								The <code>ToZip</code> field must be greater than or equal to the <code>FromZip</code> field. If not:
								</Condition>
                        <Error
                            Description="FromZip cannot be greater than ToZip." ErrorCode="YCP0128"/>
                    </Validation>
                    <Validation>
                        <Condition>
								The length of the <code>ToZip</code> field must be equal to the length of the <code>FromZip</code> field. If not:
								</Condition>
                        <Error Description="Zipcode length mismatch." ErrorCode="YCP0127"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>
                        <div>
                            <Validation>
                                <Condition>
									If Country is not passed:
									</Condition>
                                <Error Description="Invalid country." ErrorCode="YCP0129"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="FROM_ZIP" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The zip code from which the range starts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="TO_ZIP" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The zip code where the range ends.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
