Data/xapidocs/api_javadocs/XSD/YCP_manageCallOut_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCallOut/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCallOut/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageCallOut_input.xsd" yfc:rootElement="CallOut">
        <xsd:appinfo source="yfc:structure">
            <CallOut hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CallOut" type="yfc:CallOutXSDType">
        <xsd:annotation yfc:tableName="PLT_CALLOUT">
            <xsd:documentation>
                <div>
					The CallOutId is required during a create/modify/delete operations.
					 <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>CallOutKey</code>  or <code>CallOutId</code> already exists in the database.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and CallOutKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>CallOutId</code> is not passed.
					</Condition>
                        <Error
                            Description="CallOutId is a mandatory field." ErrorCode="YCP0046"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Delete</code>
                            </b> and <code>CallOut</code> is associated with <code>CallOutImpl</code> records
					</Condition>
                        <Error
                            Description="Cannot delete a CallOut record that is associated with one or more CallOutImpl records" ErrorCode="PLT0533"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Delete</code>
                            </b> and <code>CallOut</code> is associated with <code>CallOutClassLoader</code> records
					</Condition>
                        <Error
                            Description="Cannot delete a CallOut record that is associated with one or more CallOutClassLoader records" ErrorCode="PLT0541"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CallOutXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutId" type="yfctype:ID-40" use="required">
            <xsd:annotation yfc:columnName="CALLOUT_ID" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>This field is used to uniquely identify a callout.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_KEY" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>The primary key of the PLT_CALLOUT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutName" type="yfctype:UserExitName" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_NAME" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>The name of the CallOut.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsInputModifiable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_INPUT_MODIFIABLE" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>This should be set to Y if the input passed to each CallOut unit can be modified; The default value of this field is N which means the input passed to each of the callout units cannot be modified. Any character other than Y will be considered as N</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsThreaded" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_THREADED" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>This should be set to Y if each CallOut unit needs to be executed in a separate thread; The default value of this field is N which means the callout unit will be executed in the same thread. Any character other than Y will be considered as N</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProxyClass" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="PROXY_CLASS" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>The name of the proxy class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VotingResolverClassName"
            type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="VOTING_RESOLVER_CLASS_NAME" yfc:tableName="PLT_CALLOUT">
                <xsd:documentation>The java class implementing the voting resolver for the callout.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
