Data/xapidocs/api_javadocs/XSD/YCP_getNodeNotificationPeriodList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNodeNotificationPeriodList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNodeNotificationPeriodList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getNodeNotificationPeriodList_input.xsd" yfc:rootElement="NodeNotificationPeriod">
        <xsd:appinfo source="yfc:structure">
            <NodeNotificationPeriod hasAttributes="Y">
                <NodeNotificationList>
                    <NodeNotification hasAttributes="Y">
                        <NodeNotificationScheduleList>
                            <NodeNotificationSchedule hasAttributes="Y"/>
                        </NodeNotificationScheduleList>
                    </NodeNotification>
                </NodeNotificationList>
            </NodeNotificationPeriod>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeNotificationPeriod" type="yfc:NodeNotificationPeriodXSDType">
        <xsd:annotation yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
            <xsd:documentation>This table stores specific notification periods required for a given organization within an effective date range. Either NodeNotificationPeriodKey or combination of OrganizationCode, EffectiveFromDate, and EffectiveToDate uniquely identifies a NodeNotificationPeriod.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeNotificationPeriodXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NodeNotificationList"/>
        </xsd:all>
        <xsd:attribute name="EffectiveFromDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
                <xsd:documentation>The date that this notification time is applicable from.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveToDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
                <xsd:documentation>The date that this notification time is applicable to.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="NodeNotificationPeriodKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_NOTIFICATION_PERD_KEY" yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
                <xsd:documentation>The primary key of the YFS_NODE_NOTIFICATION_PERD table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_NODE_NOTIFICATION_PERD">
                <xsd:documentation>The organization for which this notification period is for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NodeNotificationList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NodeNotification"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NodeNotification">
        <xsd:annotation yfc:tableName="YFS_NODE_NOTIFICATION">
            <xsd:documentation>This table stores specific notifications required for a given node notification period. Either NodeNotificationKey or LevelOfService uniquely identifies a NodeNotification.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NodeNotificationScheduleList"/>
            </xsd:all>
            <xsd:attribute name="AdvanceNotificationTime"
                type="yfctype:NumberOfDaysWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="ADVANCE_NOTIFICATION_TIME" yfc:tableName="YFS_NODE_NOTIFICATION">
                    <xsd:documentation>The number of days before which the ship node needs notification of an impending receipt or shipment. Default: 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_NODE_NOTIFICATION">
                    <xsd:documentation>The level of service that this node notification is applicable for.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumNotificationTime"
                type="yfctype:NumberOfHours" use="optional">
                <xsd:annotation yfc:columnName="MAX_NOTIFICATION_TIME" yfc:tableName="YFS_NODE_NOTIFICATION">
                    <xsd:documentation>The number of hours based on calendar before which the ship node needs notification of an impending receipt or shipment. Default: 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinNotificationTime"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="MIN_NOTIFICATION_TIME" yfc:tableName="YFS_NODE_NOTIFICATION">
                    <xsd:documentation>The number of hours based on shipping calendar before which the communication to ship the order to the shipping node or supplier should be made. This field is used to determine the earliest ship date on the line. Default: 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeNotificationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_NOTIFICATION_KEY" yfc:tableName="YFS_NODE_NOTIFICATION">
                    <xsd:documentation>The primary key of the YFS_NODE_NOTIFICATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NodeNotificationScheduleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NodeNotificationSchedule"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NodeNotificationSchedule">
        <xsd:annotation yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
            <xsd:documentation>This table stores ship node notification time and days required for the shipnode. Either NodeNotificationDowKey or NotificationTime uniquely identifies a NodeNotificationSchedule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FridayValid" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FRIDAY_VALID" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>Determines if this time is valid for Fridays. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MondayValid" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MONDAY_VALID" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>Determines if this time is valid for Mondays. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeNotificationDowKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="NODE_NOTIFICATION_DOW_KEY" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>The primary key of the YFS_NODE_NOTIFICATION_DOW table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NotificationTime" use="optional">
                <xsd:annotation yfc:columnName="NOTIFICATION_TIME" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>The time of notificaiton available for the ship node notification.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SaturdayValid" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SATURDAY_VALID" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>Determines if this time is valid for Saturdays. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SundayValid" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SUNDAY_VALID" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>Determines if this time is valid for Sundays. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ThursdayValid" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="THURSDAY_VALID" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>Determines if this time is valid for Thursdays. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TuesdayValid" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TUESDAY_VALID" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>Determines if this time is valid for Tuesdays. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WednesdayValid" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="WEDNESDAY_VALID" yfc:tableName="YFS_NODE_NOTIFICATION_DOW">
                    <xsd:documentation>Determines if this time is valid for Wednesdays. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
