Data/xapidocs/api_javadocs/XSD/YCP_getCurrencyList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCurrencyList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCurrencyList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCurrencyList_output.xsd" yfc:rootElement="CurrencyList">
        <xsd:appinfo source="yfc:structure">
            <CurrencyList>
                <Currency hasAttributes="Y"/>
            </CurrencyList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CurrencyList" type="yfc:CurrencyListXSDType"/>
    <xsd:complexType name="CurrencyListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Currency"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Currency">
        <xsd:annotation yfc:tableName="YFS_CURRENCY">
            <xsd:documentation>Currency definitions are stored in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_CURRENCY">
                    <xsd:documentation>Alternate unique identifier for a currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CurrencyDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY_DESCRIPTION" yfc:tableName="YFS_CURRENCY">
                    <xsd:documentation>Description of a currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CurrencyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY_KEY" yfc:tableName="YFS_CURRENCY">
                    <xsd:documentation>Primary key attribute of YFS_CURRENCY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EuroMemberFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EURO_MEMBER_FLAG" yfc:tableName="YFS_CURRENCY">
                    <xsd:documentation>Indicates if a currency is a member of the euro group of currencies.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_CURRENCY">
                    <xsd:documentation>Till when this currency definition is valid.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PostfixSymbol" type="yfctype:Symbol" use="optional">
                <xsd:annotation yfc:columnName="POSTFIX_SYMBOL" yfc:tableName="YFS_CURRENCY">
                    <xsd:documentation>The postfix symbol used for a currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrefixSymbol" type="yfctype:Symbol" use="optional">
                <xsd:annotation yfc:columnName="PREFIX_SYMBOL" yfc:tableName="YFS_CURRENCY">
                    <xsd:documentation>The prefix symbol used for a currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RoundingRule"
                type="yfctype:RoundingRule" use="optional">
                <xsd:annotation yfc:columnName="ROUNDING_RULE" yfc:tableName="YFS_CURRENCY">
                    <xsd:documentation>A rule for rounding off during calculations involving a currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
