Data/xapidocs/api_javadocs/XSD/YCP_getPasswordRuleDefnList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleDefnList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleDefnList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getPasswordRuleDefnList_output.xsd" yfc:rootElement="PasswordRuleDefnList">
        <xsd:appinfo source="yfc:structure">
            <PasswordRuleDefnList>
                <PasswordRuleDefn hasAttributes="Y">
                    <PasswordRuleCfgList>
                        <PasswordRuleCfg hasAttributes="Y"/>
                    </PasswordRuleCfgList>
                </PasswordRuleDefn>
            </PasswordRuleDefnList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordRuleDefnList" type="yfc:PasswordRuleDefnListXSDType"/>
    <xsd:complexType name="PasswordRuleDefnListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PasswordRuleDefn"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PasswordRuleDefn">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_DEFN">
            <xsd:documentation>The table is used for storing rules which govern the password policies.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PasswordRuleCfgList"/>
            </xsd:all>
            <xsd:attribute name="ClassName" type="yfctype:ClassName" use="optional">
                <xsd:annotation yfc:columnName="CLASS_NAME" yfc:tableName="PLT_PWD_RULE_DEFN">
                    <xsd:documentation>Indicates the class which implements the rule definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_PWD_RULE_DEFN">
                    <xsd:documentation>Policy rule description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:PolicyRuleName" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="PLT_PWD_RULE_DEFN">
                    <xsd:documentation>Policy Rule Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_PWD_RULE_DEFN">
                    <xsd:documentation>The Organization to which the rule belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParamDefn" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="PARAM_DEFN" yfc:tableName="PLT_PWD_RULE_DEFN">
                    <xsd:documentation>The parameters which govern the password policy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_DEFN">
                    <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:RuleType-20" use="optional">
                <xsd:annotation yfc:columnName="TYPE" yfc:tableName="PLT_PWD_RULE_DEFN">
                    <xsd:documentation>Indicates the rule type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PasswordRuleCfgList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PasswordRuleCfg"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PasswordRuleCfg">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_CFG">
            <xsd:documentation>The table is used for storing policy and rule configurations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Params" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="PARAMS" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>The field stores the value for the rule parameters.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordRuleCfgKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_RULE_CFG_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_RULE_CFG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_CFG">
                    <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
