Data/xapidocs/api_javadocs/XSD/YCP_createBatchForReferences_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createBatchForReferences/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createBatchForReferences/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_createBatchForReferences_input.xsd" yfc:rootElement="Batch">
        <xsd:appinfo source="yfc:structure">
            <Batch hasAttributes="Y">
                <TaskReferences hasAttributes="Y"/>
            </Batch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Batch" type="yfc:BatchXSDType">
        <xsd:annotation yfc:tableName="YFS_BATCH">
            <xsd:documentation>This table stores the batches of tasks.  A batch of tasks is typically sized such that it takes one user around 30 minutes to complete.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="BatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TaskReferences"/>
        </xsd:all>
        <xsd:attribute name="ActivityGroupId" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y">
                <xsd:documentation>
                    <div>
				If the <code>ActivityGroupId</code> is passed and <code>TaskType</code> is not passed, batches are created for the tasks belonging to task types of the activity group that require batching.
						<Validation>
                            <Condition> Either <code>TaskType</code> or <code>ActivityGroupId</code> must be passed.  </Condition>
                            <Error
                                Description="Either TaskType or ActivityGroupId must be passed." ErrorCode="YCP0150"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_BATCH">
                <xsd:documentation>
                    <div>
				Identifies the organization.
				<Validation>
                            <Condition>
                                <code>OrganizationCode</code> not passed.
					</Condition>
                            <Error
                                Description="Organization code is mandatory for this operation." ErrorCode="YCP0154"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> passed does not existed in YFS_ORGANIZATION table.
					</Condition>
                            <Error
                                Description="YFS:Invalid organization code" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE"
                yfc:isConditional="Y" yfc:tableName="YFS_BATCH">
                <xsd:documentation>
                    <div>
				If the <code>TaskType</code> is passed, batches are created for the tasks belonging to the passed task type.
						<Validation>
                            <Condition> Either <code>TaskType</code> or <code>ActivityGroupId</code> must be passed.  </Condition>
                            <Error
                                Description="Either TaskType or ActivityGroupId must be passed." ErrorCode="YCP0150"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TaskReferences">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>
                <div>
			If <code>TaskReferences</code> are passed, tasks belonging to the passed references are considered for batching. Otherwise all open tasks belonging to the passed <code>TaskType</code> or <code>ActivityGroupId</code> are eligible for batching.     
			</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The bill of lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The container number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The count request key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The identifier of a count request along with Document type and Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The document type to which the task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The load number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>An attribute used to store manifest number assigned by carrier server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The move request key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The move request line key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The move request within the context of a module for a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The order header key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The order line key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The order number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The order release key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The prime line number. This is a part of the unique key of the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The receipt number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The number of the release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The carrier organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The shipment container key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The shipment key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The shipment number of the task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The sub line number. This is a part of the unique key of the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The trailer number by which the shipment leaves the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The wave to which this task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>The work order key that is associated with this task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_TASK">
                    <xsd:documentation>A work order within the context of a node and enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
