Data/xapidocs/api_javadocs/XSD/YCP_getTransactionList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTransactionList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTransactionList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTransactionList_input.xsd" yfc:rootElement="Transaction">
        <xsd:appinfo source="yfc:structure">
            <Transaction hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Transaction" type="yfc:TransactionXSDType">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION">
            <xsd:documentation>This table stores transactions defined within the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TransactionXSDType">
        <xsd:attribute name="AgentJavaClass" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="AGENT_JAVA_CLASS" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The java class used for consuming work flow messages being sent to a pipeline.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BaseProcessTypeListenedTo"
            type="yfctype:ProcessType-24" use="optional">
            <xsd:annotation
                yfc:columnName="BASE_PROCESS_TYPE_LISTENED_TO" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The base process type that the transaction listens to for status changes that may be needed to apply status changes to other entities.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BaseTransactionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BASE_TRANSACTION_KEY" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The base transaction that is associated with this transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="ChainedDocumentType"
            type="yfctype:DocumentType-24" use="optional">
            <xsd:annotation yfc:columnName="CHAINED_DOCUMENT_TYPE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The chained document type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DerivedDocumentType"
            type="yfctype:DocumentType-24" use="optional">
            <xsd:annotation yfc:columnName="DERIVED_DOCUMENT_TYPE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The derived document type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DerivedFromAbstract" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DERIVED_FROM_ABSTRACT" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether the transaction is derived from an abstract transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DropStatusFilter"
            type="yfctype:EnumDropStatusFilter" use="optional">
            <xsd:annotation yfc:columnName="DROP_STATUS_FILTER" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This field indicates how drop statuses will be filtered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExternallyTriggerable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EXTERNALLY_TRIGGERABLE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether this transaction is externally triggerable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExternallyTriggered" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EXTERNALLY_TRIGGERED" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether the transaction is externally triggered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldTypeEnabled"
            type="yfctype:EnumHoldTypeEnabled" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE_ENABLED" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>
                    <div>This flag indicates whether this transaction is capable of understanding hold types.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsManual" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MANUAL" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether this is a manual transaction requiring human intervention.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ListenerType"
            type="yfctype:EnumListenerType" use="optional">
            <xsd:annotation yfc:columnName="LISTENER_TYPE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This field indicates the type of the listener transaction. Each process type to process type combination consistutes a different listener type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OperationLevel"
            type="yfctype:OperationLevel" use="optional">
            <xsd:annotation yfc:columnName="OPERATION_LEVEL" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This is a common code and application defined. This column indicates the level at which the transaction operates. In specific applications, the operation level can be assigned at either the header or at line level of the transaction. When the header level operation is used, all lines associated to the header will be also be changed. On the other hand, if the operation is defined at the line level, only the specified line will be changed and its associated header will not be affected.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The owner organization that is associated with this transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickStatusFilter"
            type="yfctype:EnumPickStatusFilter" use="optional">
            <xsd:annotation yfc:columnName="PICK_STATUS_FILTER" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This field indicates how pickup statuses will be filtered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PRE_DEFINED" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether the transaction is a predefined transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The process type that is associated with this transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequiresChainedDocType" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REQUIRES_CHAINED_DOC_TYPE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether this transaction requires a chained document type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequiresDerivedDocType"
            type="yfctype:EnumRequiresDerivedDocType" use="optional">
            <xsd:annotation yfc:columnName="REQUIRES_DERIVED_DOC_TYPE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This field indicates whether derived document types are required.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SingleDropStatus" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SINGLE_DROP_STATUS" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether this transaction can only have one drop status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpawnedProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SPAWNED_PROCESS_TYPE_KEY" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The process type that this transaction spawns.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpawnsPipeline" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SPAWNS_PIPELINE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether a new type of process is spawned by this transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupportsOperationLevel" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SUPPORTS_OPERATION_LEVEL" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This is a boolean that identifies whether a transaction supports operation level. For a non-derived user transaction, this is N. For a derived user transaction, the value is carried over from the abstract base transaction .</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskQKeyType" type="yfctype:TaskType-40" use="optional">
            <xsd:annotation yfc:columnName="TASK_Q_KEY_TYPE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The type of tasks this transaction processes. This field is used by the workflow engine to determine if tasks needs be created for this transaction upon completion by other transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TimeTriggerable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TIME_TRIGGERABLE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether this transaction is time triggerable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TimeTriggered" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TIME_TRIGGERED" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether the transaction is time triggered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TranSequence"
            type="yfctype:TransactionSequence" use="optional">
            <xsd:annotation yfc:columnName="TRAN_SEQUENCE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Trangroup" type="yfctype:TransactionGroup" use="optional">
            <xsd:annotation yfc:columnName="TRANGROUP" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The group identifier for the transaction. This field can be used to better organize the transactions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
            <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The unique identifier for a transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Tranname" type="yfctype:TransactionName-50" use="optional">
            <xsd:annotation yfc:columnName="TRANNAME" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The name of the transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_KEY" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The primary key for the YFS_TRANSACTION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Trantype" type="yfctype:EnumTranType" use="optional">
            <xsd:annotation yfc:columnName="TRANTYPE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This field indicates the type of the transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserTaskFlowKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_TASK_FLOW_KEY" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The identifier of the user task flow associated with a transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserTriggerable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USER_TRIGGERABLE" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>This flag indicates whether this transaction is user-triggerable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorksOffTaskQ" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="WORKS_OFF_TASK_Q" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>this flag indicates whether a task queue record needs to be created for this transaction. Tasks are created if a document reaches the status picked by this transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
