Data/xapidocs/api_javadocs/XSD/YCP_recalculateCreditedMinsUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/recalculateCreditedMinsUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/recalculateCreditedMinsUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_recalculateCreditedMinsUE_input.xsd" yfc:rootElement="Productivity">
        <xsd:appinfo source="yfc:structure">
            <Productivity hasAttributes="Y">
                <ProductivityMetrics hasAttributes="Y"/>
                <ProductivityReferences hasAttributes="Y"/>
                <ProductivityType hasAttributes="Y"/>
            </Productivity>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Productivity" type="yfc:ProductivityXSDType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProductivityXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProductivityMetrics"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProductivityReferences"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProductivityType"/>
        </xsd:all>
        <xsd:attribute name="DateOfExecution" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="DATE_OF_EXECUTION" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The date on which the tasks were executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EarliestTaskStartTimeStamp"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation
                yfc:columnName="EARLIEST_TASK_START_TIME_STAMP" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The start time of the earliest task included in this productivity batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The enterprise key that is associated with this productivity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LatestTaskEndTimeStamp"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LATEST_TASK_END_TIME_STAMP" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The end time of the latest task included in this productivity batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The organization of the task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The primary key for the YFS_PRODUCTIVITY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityType"
            type="yfctype:ProductivityType" use="required">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The productivity type for which the metrics has been calculated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="required">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The user for whom the productivity is being defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ProductivityMetrics">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CreditedMins" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="CREDITED_MINS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The minutes credited to the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfItems"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_ITEMS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of items handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfPallets"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of pallets handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfSourceAislesVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_SOURCE_AISLES_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of source aisles visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfSourceLocationsVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_SOURCE_LOCATIONS_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of source locations visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTargetAislesVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_TARGET_AISLES_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of target aisles visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTargetLocationsVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_TARGET_LOCATIONS_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of target locations visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTasks"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_TASKS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of tasks performed by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfUnits"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_UNITS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of units handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NofOfCases"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CASES" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of cases handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProductivityReferences">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The batch number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The Bill of Lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The Container Number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The document type to which the task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassificationCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_CLASSIFICATION_CODE" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>An attribute used to store the classification code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The load number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>An attribute used to store manifest number assigned by carrier server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The order header key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The order line key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The order number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The order release key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The prime line number. This is a part of the unique key of the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>Thereceipt number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The release number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The carrier organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The shipment container key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The shipment key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The shipment number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The sub line number. This is a part of the unique key of the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The trailer number by which the shipment leaves the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The wave number in which a task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProductivityType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY_TYPE">
            <xsd:documentation>This table stores Standard Allowable Minutes for different Productivity Types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllowedMinsConstant"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_CONSTANT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per trip.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerCase"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per case handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerItem"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per item handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerPallet"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per pallet handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceAisle"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_SOURCE_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per source aisle visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceLevel"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_SOURCE_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per source level visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceLocn"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_SOURCE_LOCN" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per source location visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTargetAisle"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_TARGET_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per target aisle visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTargetLevel"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_TARGET_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per target level visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTargetLocn"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_TARGET_LOCN" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per target location visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTask"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per task performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnit"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitHorizontalDistance"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_HOR_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit horizontal distance covered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitVerticalDistance"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_VER_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit vertical distance covered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitWeight"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_WEIGHT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit weight of item moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaptureTripLevelMetrics"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPTURE_TRIP_LEVEL_METRICS" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the productivity metrics should be captured by trip level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Description of productivity type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Equipment type associated with the productivity type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsConstantAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_CONSTANT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per trip is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerCaseAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_CASE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per case handled is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerItemAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_ITEM_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per item handled is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerPalletAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_PALLET_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per pallet handled is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerSourceAisleAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_SOURCE_AISLE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per source aisle visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerSourceLevelAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_SOURCE_LEVEL_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per source level visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerSourceLocnAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_SOURCE_LOCN_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per source location visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerTargetAisleAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_TARGET_AISLE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per target aisle visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerTargetLevelAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_TARGET_LEVEL_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per target level visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerTargetLocnAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_TARGET_LOCN_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per target location visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerTaskAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_TASK_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per task performed is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerUnitAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_UNIT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit handled is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="IsAllowedMinsPerUnitHorizontalDistanceAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_UNIT_HOR_DIST_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit horizontal distance covered is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="IsAllowedMinsPerUnitVerticalDistanceAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_UNIT_VER_DIST_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit vertical distance covered is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerUnitWeightAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_UNIT_WEIGHT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit weight of item moved is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerBatchAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_BATCH_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per batch is applicable to this productivity type during planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerCaseAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_CASE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per case is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerItemAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_ITEM_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per item is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerPalletAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_PALLET_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per pallet is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerTaskAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_TASK_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per task is applicable to this productivity type during planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerUnitAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_UNIT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerUnitWtAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_UNIT_WT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit weight is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Owner organization of the node for which this productivity type is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerBatch"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_BATCH" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per batch.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerCase"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per case.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerItem"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerPallet"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per pallet.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerTask"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerUnit"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per unit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerUnitWt"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PLANNED_MINS_PER_UNIT_WT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per unit wt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityType"
                type="yfctype:ProductivityType" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>The productivity type defined for this SAM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE_KEY" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Primary key attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
