Data/xapidocs/api_javadocs/XSD/YCP_getDbVerifyScriptDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDbVerifyScriptDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDbVerifyScriptDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getDbVerifyScriptDetails_input.xsd" yfc:rootElement="DbVerifyScript">
        <xsd:appinfo source="yfc:structure">
            <DbVerifyScript hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DbVerifyScript" type="yfc:DbVerifyScriptXSDType">
        <xsd:annotation yfc:tableName="PLT_DBVERIFY_SCRIPT">
            <xsd:documentation>This table contains script generated by dbverfiy.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DbVerifyScriptXSDType">
        <xsd:attribute name="DbVerifyScriptKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DBVERIFY_SCRIPT_KEY" yfc:tableName="PLT_DBVERIFY_SCRIPT">
                <xsd:documentation>The primary key of the dbverify script table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PoolId" type="yfctype:DatabasePoolId" use="optional">
            <xsd:annotation yfc:columnName="POOL_ID" yfc:tableName="PLT_DBVERIFY_SCRIPT">
                <xsd:documentation>The pool id for the script is generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessStatusKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_STATUS_KEY" yfc:tableName="PLT_DBVERIFY_SCRIPT">
                <xsd:documentation>Link to the key of the PLT_PROCESS_STATUS table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScriptName" type="yfctype:ScriptName" use="optional">
            <xsd:annotation yfc:columnName="SCRIPT_NAME" yfc:tableName="PLT_DBVERIFY_SCRIPT">
                <xsd:documentation>The name of the script.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScriptType" type="yfctype:ScriptType" use="optional">
            <xsd:annotation yfc:columnName="SCRIPT_TYPE" yfc:tableName="PLT_DBVERIFY_SCRIPT">
                <xsd:documentation>The type of the script.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
