Data/xapidocs/api_javadocs/XSD/YCP_getCustomerAssignmentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCustomerAssignmentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCustomerAssignmentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getCustomerAssignmentList_input.xsd" yfc:rootElement="CustomerAssignment">
        <xsd:appinfo source="yfc:structure">
            <CustomerAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerAssignment" type="yfc:CustomerAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
            <xsd:documentation>
                <div>
				Specify the unique identification of a customer.  <code>CustomerKey</code> or a combination of <code>OrganizationCode</code> and <code>CustomerID</code> can be specified to identify a customer.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerAssignmentXSDType">
        <xsd:attribute name="CustomerID" type="yfctype:String" use="optional"/>
        <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Customer whose orders can be managed by a specified team or user.  Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Indicates an Organization that this team or user belongs to. Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TEAM_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Indicates team who manages a customer. Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Indicates user who manages a customer. Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
