Data/xapidocs/api_javadocs/XSD/YCP_getPickupStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPickupStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPickupStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPickupStatus_input.xsd" yfc:rootElement="GetPickUpStatusInput">
        <xsd:appinfo source="yfc:structure">
            <GetPickUpStatusInput hasAttributes="Y">
                <PipelineKeyList>
                    <PipelineKey hasAttributes="Y"/>
                </PipelineKeyList>
            </GetPickUpStatusInput>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetPickUpStatusInput" type="yfc:GetPickUpStatusInputXSDType"/>
    <xsd:complexType name="GetPickUpStatusInputXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PipelineKeyList"/>
        </xsd:all>
        <xsd:attribute name="TransactionId" type="yfctype:TranId" use="required">
            <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>The unique identifier for a transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PipelineKeyList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PipelineKey"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineKey">
        <xsd:annotation yfc:tableName="YFS_PIPELINE">
            <xsd:documentation>
                <div>
				To uniquely identify a pipeline, pass either <code>PipelineKey</code>
                    <i>or</i>
                    <code>PipelineId</code>, <code>OwnerKey</code> and  <code>ProcessType</code>.
				<Validation>
                        <Condition>If neither  <code>PipelineKey</code>
                            <i>nor</i>
                            <code>PipelineId</code>, <code>OwnerKey</code> and  <code>ProcessType</code> is passed.
					</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The owner organization that this pipeline is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_ID"
                    yfc:isConditional="Y" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The unique identifier for the pipeline.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The primary key for the YFS_PIPELINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessType"
                type="yfctype:ProcessType-40" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE"
                    yfc:isConditional="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The unique identifier for the process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
