Data/xapidocs/api_javadocs/XSD/YCP_getDepartmentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDepartmentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDepartmentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDepartmentList_input.xsd" yfc:rootElement="Department">
        <xsd:appinfo source="yfc:structure">
            <Department hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Department" type="yfc:DepartmentXSDType">
        <xsd:annotation yfc:tableName="YFS_DEPARTMENT">
            <xsd:documentation>Maintains all departments for organizations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DepartmentXSDType">
        <xsd:attribute name="DefaultQueueId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_QUEUE_ID" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Default Queue for a department.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentAbbreviation"
            type="yfctype:DepartmentAbbreviation" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_ABBR" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Abbreviation of the department name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentCode"
            type="yfctype:DepartmentCode" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Identifier to the department.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_KEY" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Primary key attribute of YFS_DEPARTMENT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentName"
            type="yfctype:DepartmentName" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_NAME" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Name of the department.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailId" type="yfctype:EMailID" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_ID" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Email Id for the department.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailTemplate" type="yfctype:EmailTemplate" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_TEMPLATE" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Template for email.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>The organization code associated with this department code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
