Data/xapidocs/api_javadocs/XSD/YCP_getColonyDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getColonyDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getColonyDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getColonyDetails_input.xsd" yfc:rootElement="Colony">
        <xsd:appinfo source="yfc:structure">
            <Colony hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Colony" type="yfc:ColonyXSDType">
        <xsd:annotation yfc:tableName="PLT_DB_COLONY">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
						Either <code>ColonyId</code> or <code>Pk_Prefix</code> must be passed to identify the colony. If not passed:
						</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ColonyXSDType">
        <xsd:attribute name="ColonyId" type="yfctype:ColonyId" use="optional">
            <xsd:annotation yfc:columnName="COLONY_ID" yfc:tableName="PLT_DB_COLONY">
                <xsd:documentation>Unique identifier of a Colony</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PkPrefix" type="yfctype:ColonyPrefix" use="optional">
            <xsd:annotation yfc:columnName="PK_PREFIX" yfc:tableName="PLT_DB_COLONY">
                <xsd:documentation>Two-digit prefix for creation of table keys within the colony.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
