Data/xapidocs/api_javadocs/XSD/YCP_managePaymentTerms_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/managePaymentTerms/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/managePaymentTerms/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_managePaymentTerms_output.xsd" yfc:rootElement="PaymentTerms">
        <xsd:appinfo source="yfc:structure">
            <PaymentTerms hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentTerms" type="yfc:PaymentTermsXSDType">
        <xsd:annotation yfc:tableName="YFS_COMMON_CODE">
            <xsd:documentation>This master table stores the system and user defined codes with descriptions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PaymentTermsXSDType">
        <xsd:attribute name="CodeLongDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="CODE_LONG_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The long description for the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeName" type="yfctype:CommonCodeName" use="optional">
            <xsd:annotation yfc:columnName="CODE_NAME" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The name of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeShortDescription"
            type="yfctype:CodeShortDescription" use="optional">
            <xsd:annotation yfc:columnName="CODE_SHORT_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The short description of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeType" type="yfctype:CodeType" use="optional">
            <xsd:annotation yfc:columnName="CODE_TYPE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The unique user or system defined code type of this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeValue" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="CODE_VALUE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The unique code value belonging to a particular code type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CommonCodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COMMON_CODE_KEY" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The primary key of the  YFS_COMMON_CODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The document type associated with this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The organization code associated with this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
