Data/xapidocs/api_javadocs/XSD/YCP_determinePrinterUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/determinePrinterUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/determinePrinterUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_determinePrinterUE_input.xsd" yfc:rootElement="GetPrinter">
        <xsd:appinfo source="yfc:structure">
            <GetPrinter hasAttributes="Y">
                <PrinterPreference hasAttributes="Y"/>
            </GetPrinter>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetPrinter" type="yfc:GetPrinterXSDType"/>
    <xsd:complexType name="GetPrinterXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrinterPreference"/>
        </xsd:all>
        <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>Document identifier, Values like BOL, Shipping Label, Pick List, Pack List etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PrinterPreference">
        <xsd:annotation yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
            <xsd:documentation>This entity defines the printers to be used for different documents based on attributes such as User, UserGroup etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>
                        <div>
					The Organization for which the printer has to be determined.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrinterId" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DEVICE_ID" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>Device Identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                    <xsd:documentation>Unique key of YFS_USER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                    <xsd:documentation>Unique key of YFS_USER_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkStationId"
                type="yfctype:EquipmentId" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_ID" yfc:tableName="YFS_EQUIPMENT">
                    <xsd:documentation>The Work Station with which the printer is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
