Data/xapidocs/api_javadocs/XSD/YCP_getTaskSummary_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTaskSummary/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTaskSummary/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTaskSummary_input.xsd" yfc:rootElement="Task">
        <xsd:appinfo source="yfc:structure">
            <Task hasAttributes="Y">
                <EligibleTaskTypeList>
                    <EligibleTaskType hasAttributes="Y"/>
                </EligibleTaskTypeList>
            </Task>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Task" type="yfc:TaskXSDType">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>This table stores list of all tasks across nodes.  Tasks represent a logical or a physical activity.  Every task must belong to a task type, which identifies the type of activity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EligibleTaskTypeList"/>
        </xsd:all>
        <xsd:attribute name="FromStartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_TASK">
                <xsd:documentation>The time before which a task should not be started. Tasks are suggested only after the start no earlier than time is past.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				 Task type level attributes are maintained at the node level. 
				 <Validation>
                            <Condition>
                                <code>Node</code> passed is not found in the YFS_SHIP_NODE table.
					</Condition>
                            <Error Description="No record found." ErrorCode="YCP0045"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_TASK">
                <xsd:documentation>The ship node's organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToStartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_TASK">
                <xsd:documentation>The time before which a task should not be started. Tasks are suggested only after the start no earlier than time is past.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_TASK">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition> Either <code>WaveNo</code> or at least one <code>TaskType</code> must be passed. </Condition>
                            <Error
                                Description="Either TaskType or WaveNo should be passed" ErrorCode="YCP0157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="EligibleTaskTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EligibleTaskType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EligibleTaskType">
        <xsd:complexType>
            <xsd:attribute name="TaskType" type="yfctype:String" use="optional">
                <xsd:annotation yfc:isConditional="Y">
                    <xsd:documentation>
                        <div>
					Summary information is returned for the <code>TaskType</code> passed.
					<Validation>
                                <Condition>
                                    <code>TaskType</code> passed does not exist in YFS_TASK_TYPE table.
						</Condition>
                                <Error Description="No record found." ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
