Data/xapidocs/api_javadocs/XSD/YCP_getQualifiedTagTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getQualifiedTagTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getQualifiedTagTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getQualifiedTagTypeList_output.xsd" yfc:rootElement="QualifiedTagTypeList">
        <xsd:appinfo source="yfc:structure">
            <QualifiedTagTypeList>
                <QualifiedTagType hasAttributes="Y"/>
            </QualifiedTagTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QualifiedTagTypeList" type="yfc:QualifiedTagTypeListXSDType"/>
    <xsd:complexType name="QualifiedTagTypeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:QualifiedTagType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="QualifiedTagType">
        <xsd:annotation yfc:tableName="PLT_QUALIFIED_TAG_TYPE">
            <xsd:documentation>Stores qualified tag type information</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="QualifiedTagType"
                type="yfctype:QualifiedTagType" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIED_TAG_TYPE" yfc:tableName="PLT_QUALIFIED_TAG_TYPE">
                    <xsd:documentation>Qualified Tag Type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QualifiedTagTypeDescription"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation
                    yfc:columnName="QUALIFIED_TAG_TYPE_DESCRIPTION" yfc:tableName="PLT_QUALIFIED_TAG_TYPE">
                    <xsd:documentation>Qualified Tag Type Description</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QualifiedTagTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUALIFIED_TAG_TYPE_KEY" yfc:tableName="PLT_QUALIFIED_TAG_TYPE">
                    <xsd:documentation>Primary key attribute of PLT_QUALIFIED_TAG_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QualifiedTagValidatorClass"
                type="yfctype:QualifiedTagValidatorClass" use="optional">
                <xsd:annotation
                    yfc:columnName="QUALIFIED_TAG_VALIDATOR_CLASS" yfc:tableName="PLT_QUALIFIED_TAG_TYPE">
                    <xsd:documentation>Qualified Tag validator class</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
