Data/xapidocs/api_javadocs/XSD/YCP_getRegionUsageDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getRegionUsageDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getRegionUsageDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getRegionUsageDetails_input.xsd" yfc:rootElement="RegionUsage">
        <xsd:appinfo source="yfc:structure">
            <RegionUsage hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RegionUsage" type="yfc:RegionUsageXSDType">
        <xsd:annotation yfc:tableName="YFS_REGION_USAGE">
            <xsd:documentation>
                <div>
					This table stores information about the region schema to be used for count, sourcing, delivery and services for an organization.
						<Validation>
                        <Condition>
							Either <code>RegionUsageKey</code> or both <code>OrganizationCode</code> and <code>Purpose</code>} should be passed. If not passsed:
							</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RegionUsageXSDType">
        <xsd:attribute name="ItemGroupCode" type="yfctype:ItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_REGION_USAGE">
                <xsd:documentation>Item group code for the specified region schema.  Valid values are PS, DS, and PROD.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_REGION_USAGE">
                <xsd:documentation>
                    <div>
						Organization of this region usage.
							<Validation>
                            <Condition>Should be passed, if <code>RegionUsageKey</code> is not passed.
								</Condition>
                            <Error
                                Description="Organization code is mandatory for this operation." ErrorCode="YCP0154"/>
                        </Validation>
                        <Validation>
                            <Condition>Passed value should be valid..
								</Condition>
                            <Error
                                Description="Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_REGION_USAGE">
                <xsd:documentation>
                    <div>
						The purpose of this region usage.  Valid values are ANALYTICS, COUNT, SOURCING, PRICING, SELLING, and RESOURCE_POOL.
							<Validation>
                            <Condition>Should be passed, if <code>RegionUsageKey</code> is not passed.
								</Condition>
                            <Error
                                Description="Purpose is mandatory for this operation." ErrorCode="YCP0107"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY" yfc:tableName="YFS_REGION_USAGE">
                <xsd:documentation>YFS_REGION_SCHEMA specified for the organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionUsageKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="YFS_REGION_USAGE_KEY" yfc:tableName="YFS_REGION_USAGE">
                <xsd:documentation>Primary key attribute of YFS_REGION_USAGE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
