Data/xapidocs/api_javadocs/XSD/YCP_requestPasswordReset_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/requestPasswordReset/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/requestPasswordReset/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_requestPasswordReset_input.xsd" yfc:rootElement="ResetPassword">
        <xsd:appinfo source="yfc:structure">
            <ResetPassword hasAttributes="Y">
                <User hasAttributes="Y"/>
            </ResetPassword>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ResetPassword" type="yfc:ResetPasswordXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_REQ">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If <code>ResetType</code> is not passed.
						</Condition>
                        <Error Description="YCP:Field Mandatory." ErrorCode="YCP0046"/>
                    </Validation>
                    <Validation>
                        <Condition>If the <code>User</code> passed in the input does not exist.
						</Condition>
                        <Error
                            Description="Invalid User identifiers passed" ErrorCode="YCP0084"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>ResetType</code> is invalid.
						</Condition>
                        <Error
                            Description="Password Reset not allowed for the ResetType" ErrorCode="YCP0457"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ResetPasswordXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:User"/>
        </xsd:all>
        <xsd:attribute name="ResetType" type="yfctype:ResetType" use="required">
            <xsd:annotation yfc:columnName="RESET_TYPE" yfc:tableName="PLT_PWD_REQ">
                <xsd:documentation>The mechanism through which password is to be reset</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="PLT_PWD_REQ">
                <xsd:documentation>User key</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The login ID for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
