Data/xapidocs/api_javadocs/XSD/YCP_getUserGroupDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getUserGroupDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getUserGroupDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getUserGroupDetails_input.xsd" yfc:rootElement="UserGroup">
        <xsd:appinfo source="yfc:structure">
            <UserGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UserGroup" type="yfc:UserGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_USER_GROUP">
            <xsd:documentation>
                <div>
			Defines all user groups in the system.  The key of this table is posted in various tables to allow access to group information
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="UserGroupXSDType">
        <xsd:attribute name="Activateflag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>This flag indicates whether a group is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BusinessKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupOwnerId" type="yfctype:GroupOwnerId" use="optional">
            <xsd:annotation yfc:columnName="GROUP_OWNER_ID" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Owner of Group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupType" type="yfctype:GroupType-20" use="optional">
            <xsd:annotation yfc:columnName="GROUP_TYPE" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Type of group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Organization that owns this group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
            <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateGroup" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_GROUP" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Template user group based on which a user group was derived.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UsergroupDescription"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_DESCRIPTION" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Description of a user group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>A unique identifier to the user group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Primary key attribute of YFS_USER_GROUP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UsergroupName" type="yfctype:UserGroupName" use="optional">
            <xsd:annotation yfc:columnName="USERGROUP_NAME" yfc:tableName="YFS_USER_GROUP">
                <xsd:documentation>Name of a user group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
