Data/xapidocs/api_javadocs/XSD/YCP_manageLineRelationshipType_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageLineRelationshipType/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageLineRelationshipType/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageLineRelationshipType_input.xsd" yfc:rootElement="LineRelationshipType">
        <xsd:appinfo source="yfc:structure">
            <LineRelationshipType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LineRelationshipType" type="yfc:LineRelationshipTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_LINE_RELATIONSHIP_TYPE">
            <xsd:documentation>
                <div>
			To identify the <code>LineRelationshipType</code>, pass either <code>LineRelationshipTypeKey</code> or <code>RelationshipType</code> and <code>DocumentType</code> and <code>OrganizationCode</code>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>LineRelationshipTypeKey</code> already exists in the database.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and LineRelationshipTypeKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>RelationshipType</code> or <code>OrganizationCode</code> or <code>DocumentType</code> is not passed.
					</Condition>
                        <Error
                            Description="RelationshipType, DocumentType and OrganizationCode are Mandatory fields." ErrorCode="YCP0046"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LineRelationshipTypeXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderForSorting" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CONSIDER_FOR_SORTING" yfc:tableName="YFS_LINE_RELATIONSHIP_TYPE">
                <xsd:documentation>This flag indicates whether this relationship will be considered for sorting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_LINE_RELATIONSHIP_TYPE">
                <xsd:documentation>The type of document this relationship type will be applied to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineRelationshipTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LINE_RELATIONSHIP_TYPE_KEY" yfc:tableName="YFS_LINE_RELATIONSHIP_TYPE">
                <xsd:documentation>The primary key of the  YFS_LINE_RELATIONSHIP_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_LINE_RELATIONSHIP_TYPE">
                <xsd:documentation>The organization code associated with this line relationship type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipLongDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation
                yfc:columnName="RELATIONSHIP_LONG_DESCRIPTION" yfc:tableName="YFS_LINE_RELATIONSHIP_TYPE">
                <xsd:documentation>The long description for the relationship type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipShortDescription"
            type="yfctype:Description-40" use="optional">
            <xsd:annotation
                yfc:columnName="RELATIONSHIP_SHORT_DESCRIPTION" yfc:tableName="YFS_LINE_RELATIONSHIP_TYPE">
                <xsd:documentation>The short description of the relationship type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipType"
            type="yfctype:RelationShipType" use="optional">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_LINE_RELATIONSHIP_TYPE">
                <xsd:documentation>The unique user or system defined relationship type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
