Data/xapidocs/api_javadocs/XSD/YCP_getResourcesForUser_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getResourcesForUser/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getResourcesForUser/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getResourcesForUser_input.xsd" yfc:rootElement="getResourcesForUser">
        <xsd:appinfo source="yfc:structure">
            <getResourcesForUser hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getResourcesForUser" type="yfc:getResourcesForUserXSDType">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>
                <div>
			Identifies the user and/or resource from which to retrieve the information.  Keys are used first if provided. If all the resources for the user are needed in a hierarchical fashion, do not send the resource attributes.
			<Validation>
                        <Condition>The <code>UserKey</code> or <code>Loginid</code> attribute must be passed. If not passed:
				</Condition>
                        <Error
                            Description="YFS: UserKey or Loginid Missing." ErrorCode="YCP0078"/>
                    </Validation>
                    <Validation>
                        <Condition>The <code>UserKey</code> or <code>Loginid</code> must be valid. If not valid: 
				</Condition>
                        <Error
                            Description="YFS: Invalid User identifiers passed." ErrorCode="YCP0084"/>
                    </Validation>
                    <Validation>
                        <Condition>The <code>ResourceKey</code> or <code>ResourceId</code> must be valid. If not valid:
				</Condition>
                        <Error
                            Description="YFS: Invalid Resource Identifiers." ErrorCode="YCP0094"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getResourcesForUserXSDType">
        <xsd:attribute name="ApplicationCode" type="yfctype:ModuleId" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>
                    <div>
						The Application Code of the resource. Valid values are <b>
                            <code>cmn</code>
                        </b>, <b>
                            <code>inv</code>
                        </b>, <b>
                            <code>omd</code>
                        </b>, <b>
                            <code>omr</code>
                        </b>, <b>
                            <code>oms</code>
                        </b>, <b>
                            <code>vas</code>
                        </b>, <b>
                            <code>wms</code>
                        </b>, <b>
                            <code>ycm</code>
                        </b>, <b>
                            <code>ycp</code>
                        </b>, <b>
                            <code>ydm</code>
                        </b>, and blank.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                <xsd:documentation>The login ID for the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourceId" type="yfctype:ResourceId-255" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_ID" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>The unique identifier of a resource.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_RESOURCE">
                <xsd:documentation>The primary key of the YFS_RESOURCE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
