Data/xapidocs/api_javadocs/XSD/YCP_getBatchDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getBatchDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getBatchDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getBatchDetails_input.xsd" yfc:rootElement="Batch">
        <xsd:appinfo source="yfc:structure">
            <Batch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Batch" type="yfc:BatchXSDType">
        <xsd:annotation yfc:tableName="YFS_BATCH">
            <xsd:documentation>This table stores the batches of tasks.  A batch of tasks is typically sized such that it takes one user around 30 minutes to complete.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="BatchXSDType">
        <xsd:attribute name="BatchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BATCH_KEY" yfc:tableName="YFS_BATCH">
                <xsd:documentation>the primary key of the YFS_BATCH table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BatchNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_BATCH">
                <xsd:documentation>The batch number associated with the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_BATCH">
                <xsd:documentation>The node's organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
