Data/xapidocs/api_javadocs/XSD/YCP_determinePipeline_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/determinePipeline/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/determinePipeline/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_determinePipeline_output.xsd" yfc:rootElement="DeterminePipelineOutput">
        <xsd:appinfo source="yfc:structure">
            <DeterminePipelineOutput hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DeterminePipelineOutput" type="yfc:DeterminePipelineOutputXSDType">
        <xsd:annotation yfc:tableName="YFS_PIPELINE">
            <xsd:documentation>This table stores information about pipelines.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DeterminePipelineOutputXSDType">
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE">
                <xsd:documentation>The primary key for the YFS_PIPELINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
