Data/xapidocs/api_javadocs/XSD/YCP_getDateTypeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDateTypeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDateTypeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDateTypeList_input.xsd" yfc:rootElement="DateType">
        <xsd:appinfo source="yfc:structure">
            <DateType hasAttributes="Y">
                <ProcessType hasAttributes="Y"/>
            </DateType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DateType" type="yfc:DateTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_DATE_TYPE">
            <xsd:documentation>Stores information about dates which are applicable and available for a process type. A business document can then be monitored based on these dates</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DateTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProcessType"/>
        </xsd:all>
        <xsd:attribute name="ActualFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_FLAG"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>'Y' if requested date data is available for this</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualFlagQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>
			If CallingOrganizationCode is passed, then it will
			be used as the context organization. This, combined
			with the configuration data setup for date types,
			will result in a list filtered for access by the given organization.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DateTypeId" type="yfctype:DateTypeId" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Unique identifier for a date type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="DateTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Primary key attribute of YFS_DATE_TYPE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Date Type Description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExpectedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_FLAG"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>'Y' if requested date data is available for this</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedFlagQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromActualFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromCallingOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromDateTypeId" type="yfctype:DateTypeId" use="optional"/>
        <xsd:attribute name="FromDateTypeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromDescription" type="yfctype:Description" use="optional"/>
        <xsd:attribute name="FromExpectedFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromOwnerKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromProcessTypeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromRequestedFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromSystemDefined" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Organization for which this DateType is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Process type this date belongs to</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="RequestedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_FLAG"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>'Y' if requested date data is available for this</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedFlagQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_DEFINED"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Indicates if a date type is system defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemDefinedQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToActualFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToCallingOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ToDateTypeId" type="yfctype:DateTypeId" use="optional"/>
        <xsd:attribute name="ToDateTypeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToDescription" type="yfctype:Description" use="optional"/>
        <xsd:attribute name="ToExpectedFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToOwnerKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToProcessTypeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToRequestedFlag" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToSystemDefined" type="yfctype:Flag" use="optional"/>
    </xsd:complexType>
    <xsd:element name="ProcessType">
        <xsd:annotation yfc:tableName="YFS_PROCESS_TYPE">
            <xsd:documentation>
                <div>
					Defines various process types in the system. Scenario modeling is done for a given process type. All transactions, status and pipeline belong to one process type.<br>
					This API accepts <code>ProcessType</code>, <code>ProcessTypeKey</code>, or {<code>BaseProcessType</code> and <code>DocumentType</code>} as one of the criteria attributes for <code>ProcessType</code>.</br>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BaseProcessType"
                type="yfctype:ProcessType-40" use="optional">
                <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The base process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BaseProcessTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The description of the process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DescriptionQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The document type that is associated with this process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromBaseProcessType"
                type="yfctype:ProcessType-40" use="optional"/>
            <xsd:attribute name="FromDescription"
                type="yfctype:Description" use="optional"/>
            <xsd:attribute name="FromDocumentType"
                type="yfctype:DocumentType" use="optional"/>
            <xsd:attribute name="FromPreDefined" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromProcessCreateType"
                type="yfctype:ProcessCreateType" use="optional"/>
            <xsd:attribute name="FromProcessType"
                type="yfctype:ProcessType-40" use="optional"/>
            <xsd:attribute name="FromProcessTypeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromProcessTypeName"
                type="yfctype:ProcessTypeName" use="optional"/>
            <xsd:attribute name="FromUseAdvancedMonitor"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="PreDefined" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PRE_DEFINED"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>This flag indicates whether this process type is pre-defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreDefinedQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProcessCreateType"
                type="yfctype:ProcessCreateType" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_CREATE_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessCreateTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProcessType"
                type="yfctype:ProcessType-40" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The unique identifier for the process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The primary key for the YFS_PROCESS_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProcessTypeName"
                type="yfctype:ProcessTypeName" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>The name of the process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProcessTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToBaseProcessType"
                type="yfctype:ProcessType-40" use="optional"/>
            <xsd:attribute name="ToDescription"
                type="yfctype:Description" use="optional"/>
            <xsd:attribute name="ToDocumentType"
                type="yfctype:DocumentType" use="optional"/>
            <xsd:attribute name="ToPreDefined" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToProcessCreateType"
                type="yfctype:ProcessCreateType" use="optional"/>
            <xsd:attribute name="ToProcessType"
                type="yfctype:ProcessType-40" use="optional"/>
            <xsd:attribute name="ToProcessTypeKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToProcessTypeName"
                type="yfctype:ProcessTypeName" use="optional"/>
            <xsd:attribute name="ToUseAdvancedMonitor"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="UseAdvancedMonitor" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USE_ADVANCED_MONITOR"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_PROCESS_TYPE">
                    <xsd:documentation>This flag indicates whether entities for this process type can be monitored based on extensible dates in addition to the default ones.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseAdvancedMonitorQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
