Data/xapidocs/api_javadocs/XSD/YCP_managePasswordRuleDefn_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/managePasswordRuleDefn/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/managePasswordRuleDefn/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_managePasswordRuleDefn_input.xsd" yfc:rootElement="PasswordRuleDefn">
        <xsd:appinfo source="yfc:structure">
            <PasswordRuleDefn hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordRuleDefn" type="yfc:PasswordRuleDefnXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_DEFN">
            <xsd:documentation>
                <div>
			To identify the <code>PasswordRuleDefn</code>, pass either <code>PasswordRuleDefnKey</code> or <code>Name</code> and <code>OrganizationCode</code>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>PasswordRuleDefnKey</code> or <code>Name</code> already exists in the database.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and mandatory fields <code>Type</code> or <code>Name</code> or <code>OrganizationCode</code> is not passed. 
					</Condition>
                        <Error
                            Description="Type,Name and OrganizationCode are Mandatory fields." ErrorCode="YCP0046"/>
                    </Validation>
                    <Validation>
                        <Condition>If <b>
                                <code> Invalid Password rule definition Type</code>
                            </b> is passed. Valid values of 'Type' are - Login, PasswordChange, SecretAnswer, PasswordReset, Assignment.
					</Condition>
                        <Error
                            Description="Invalid Password rule definition type." ErrorCode="YCP0472"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and PasswordRuleDefnKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PasswordRuleDefnXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClassName" type="yfctype:ClassName" use="optional">
            <xsd:annotation yfc:columnName="CLASS_NAME" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Indicates the class which implements the rule definition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Policy rule description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:PolicyRuleName" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Policy Rule Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>The Organization to which the rule belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParamDefn" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="PARAM_DEFN" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>The parameters which govern the password policy.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:RuleType-20" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Indicates the rule type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
