Data/xapidocs/api_javadocs/XSD/YCP_getPickupStatus_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPickupStatus/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPickupStatus/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPickupStatus_output.xsd" yfc:rootElement="GetPickUpStatusOutput">
        <xsd:appinfo source="yfc:structure">
            <GetPickUpStatusOutput>
                <PipelineStatusList>
                    <PipelineStatus hasAttributes="Y"/>
                </PipelineStatusList>
            </GetPickUpStatusOutput>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetPickUpStatusOutput" type="yfc:GetPickUpStatusOutputXSDType"/>
    <xsd:complexType name="GetPickUpStatusOutputXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PipelineStatusList"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="PipelineStatusList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PipelineStatus"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineStatus">
        <xsd:annotation yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
            <xsd:documentation>Defines list of transactions which can process a given status. A given status can be processed by multiple transactions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                    <xsd:documentation>Pipeline</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                    <xsd:documentation>Pick up status</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
