Data/xapidocs/api_javadocs/XSD/YCP_getReturnDispositionList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getReturnDispositionList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getReturnDispositionList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getReturnDispositionList_output.xsd" yfc:rootElement="ReturnDispositionList">
        <xsd:appinfo source="yfc:structure">
            <ReturnDispositionList>
                <ReturnDisposition hasAttributes="Y"/>
            </ReturnDispositionList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReturnDispositionList" type="yfc:ReturnDispositionListXSDType"/>
    <xsd:complexType name="ReturnDispositionListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ReturnDisposition"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ReturnDisposition">
        <xsd:annotation yfc:tableName="YFS_RETURN_DISPOSITION">
            <xsd:documentation>Configuration table. This table stores rules for handling of dispositions. Based on a chosen disposition, inventory can be updated or product class switched for the item.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Description for a Disposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DispositionCode"
                type="yfctype:DispositionCode" use="optional">
                <xsd:annotation yfc:columnName="DISPOSITION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>A code used for identifying a return disposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DispositionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DISPOSITION_KEY" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Primary key of a return disposition record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Organization Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
