Data/xapidocs/api_javadocs/XSD/YCP_manageProperty_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageProperty/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageProperty/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageProperty_input.xsd" yfc:rootElement="Property">
        <xsd:appinfo source="yfc:structure">
            <Property hasAttributes="Y">
                <PropertyMetadata hasAttributes="Y"/>
            </Property>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Property" type="yfc:PropertyXSDType">
        <xsd:annotation yfc:tableName="PLT_PROPERTY">
            <xsd:documentation>
                <div>
			  Master table for Property
			<Validation>
                        <Condition>Cannot delete the BASE property when overrides exists.
				</Condition>
                        <Error
                            Description="Cannot delete the BASE property when overrides exists." ErrorCode="YCP902"/>
                    </Validation>
                    <Validation>
                        <Condition>While creating an overide, if the BASE property does not exist in the database.
				</Condition>
                        <Error
                            Description="BASE property does not exist in the database." ErrorCode="YCP906"/>
                    </Validation>
                    <Validation>
                        <Condition>While creating a BASE property, PropertyMetadata should be passed.
				</Condition>
                        <Error
                            Description="PropertyMetadata should be passed." ErrorCode="YCP907"/>
                    </Validation>
                    <Validation>
                        <Condition>While creating an override property (USER or SERVER), BasePropertyName should not be blank
				</Condition>
                        <Error
                            Description="BasePropertyName cannot be blank." ErrorCode="YCP0908"/>
                    </Validation>
                    <Validation>
                        <Condition>If the user passes a value other than BASE, USER and SERVER for PropertyOverride.
				</Condition>
                        <Error
                            Description="Valid values for PropertyOverride are BASE, USER and SERVER." ErrorCode="YCP0909"/>
                    </Validation>
                    <Validation>
                        <Condition>If the record does not exist in the database during delete operation.
				</Condition>
                        <Error
                            Description="Cannot find record for Property in the database." ErrorCode="YCP910"/>
                    </Validation>
                    <Validation>
                        <Condition>If PropertyOverrideName is blank for USER or SERVER property.
				</Condition>
                        <Error
                            Description="PropertyOverrideName can be blank only for BASE property." ErrorCode="YCP0911"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>Category</code> or <code>BasePropertyName</code> or <code>PropertyOverride</code> is not passed or is blank.
				</Condition>
                        <Error
                            Description="Category , BasePropertyName and PropertyOverride are mandatory fields." ErrorCode="YCP0046"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>PropertyOverride</code> does not match the metadata definition</Condition>
                        <Error
                            Description="PropertyOverride should be same as in Property Metadata." ErrorCode="YCP0921"/>
                    </Validation>
                    <Validation>
                        <Condition>While creating an override property (USER or SERVER) for a  non-modifiable property (has Modifiable as N)
				</Condition>
                        <Error
                            Description="Cannot override non-modifiable property." ErrorCode="PLT0523"/>
                    </Validation>
                    <Validation>
                        <Condition>While modifying a non-modifiable property (has Modifiable as N)
				</Condition>
                        <Error
                            Description="Cannot modify non-modifiable property." ErrorCode="PLT0524"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>PropertyValue</code> is not a value given in the <code>PermissibleValues</code>.
				</Condition>
                        <Error
                            Description="PropertyValue does not match with PermissibleValues." ErrorCode="YCP0920"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>PropertyValue</code> is not a value given in the <code>PermissibleValues</code>.
				</Condition>
                        <Error
                            Description="FactoryValue does not match with PermissibleValues." ErrorCode="PLT0530"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PropertyXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PropertyMetadata"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BasePropertyName"
            type="yfctype:PropertyName-255" use="optional">
            <xsd:annotation yfc:columnName="BASE_PROPERTY_NAME" yfc:tableName="PLT_PROPERTY">
                <xsd:documentation>The name of the base property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Category" type="yfctype:Category" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY" yfc:tableName="PLT_PROPERTY">
                <xsd:documentation>Category to which the property belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FactoryValue"
            type="yfctype:LongPropertyValue" use="optional">
            <xsd:annotation yfc:columnName="FACTORY_VALUE" yfc:tableName="PLT_PROPERTY">
                <xsd:documentation>The value of the property shipped out.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PropertyOverride"
            type="yfctype:PropertyOverrideType" use="optional">
            <xsd:annotation yfc:columnName="PROPERTY_OVERRIDE" yfc:tableName="PLT_PROPERTY">
                <xsd:documentation>Specifies who has overridden the property. If this is 'BASE', it means that this is the base property. Allowed values are SERVER, BASE and USER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PropertyOverrideName"
            type="yfctype:PropertyOverrideName" use="optional">
            <xsd:annotation yfc:columnName="PROPERTY_OVERRIDE_NAME" yfc:tableName="PLT_PROPERTY">
                <xsd:documentation>The overriden name of the property. For base property this would be blank.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PropertyValue"
            type="yfctype:LongPropertyValue" use="optional">
            <xsd:annotation yfc:columnName="PROPERTY_VALUE" yfc:tableName="PLT_PROPERTY">
                <xsd:documentation>The value of the property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserComment" type="yfctype:UserComment" use="optional">
            <xsd:annotation yfc:columnName="USER_COMMENT" yfc:tableName="PLT_PROPERTY">
                <xsd:documentation>To store comments when modifying or overriding a property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PropertyMetadata">
        <xsd:annotation yfc:tableName="PLT_PROPERTY_METADATA">
            <xsd:documentation>
                <div>
			  Metadata for property. This is used only while creating BASE or override property, So metadata value will be updated as a part of creating BASE or override property .
			<Validation>
                        <Condition>If ModifiableAtRuntime when passed is not Y or N
				</Condition>
                        <Error
                            Description="Valid values for ModifiableAtRuntime are Y or N." ErrorCode="YCP0913"/>
                    </Validation>
                    <Validation>
                        <Condition>If ServerOverride when passed is not Y or N
				</Condition>
                        <Error
                            Description="Valid values for ServerOverride are Y or N." ErrorCode="YCP0914"/>
                    </Validation>
                    <Validation>
                        <Condition>If UserOverride when passed is not Y or N
				</Condition>
                        <Error
                            Description="Valid values for UserOverride are Y or N." ErrorCode="YCP0915"/>
                    </Validation>
                    <Validation>
                        <Condition>If Scope when passed is not GLOBAL or LOCAL
				</Condition>
                        <Error
                            Description="Valid values for Scope are GLOBAL or LOCAL." ErrorCode="YCP0917"/>
                    </Validation>
                    <Validation>
                        <Condition>If JvmType when passed is not APPSERVER or AGENTSERVER
				</Condition>
                        <Error
                            Description="Valid values for JvmType are APPSERVER or AGENTSERVER." ErrorCode="YCP0918"/>
                    </Validation>
                    <Validation>
                        <Condition>If PermissibleValues when passed is not valid XML
				</Condition>
                        <Error
                            Description="Invalid XML for PermissibleValues." ErrorCode="YCP0919"/>
                    </Validation>
                    <Validation>
                        <Condition>If Modifiable when passed is not Y or N
				</Condition>
                        <Error
                            Description="Valid values for Modifiable are Y or N." ErrorCode="PLT0526"/>
                    </Validation>
                    <Validation>
                        <Condition>If PropertyType when passed is not SYSTEM or CUSTOM
				</Condition>
                        <Error
                            Description="Valid values for PropertyType are SYSTEM or CUSTOM." ErrorCode="PLT0527"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BasePropertyName"
                type="yfctype:PropertyName-255" use="optional">
                <xsd:annotation yfc:columnName="BASE_PROPERTY_NAME" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>The name of the base property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Category" type="yfctype:Category" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>The name of the base property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataType" type="yfctype:JavaType" use="optional">
                <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>The java type of data that is held by this property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:Description-1500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>Store property description</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayDefinition" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="DISPLAY_DEFINITION" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>Store display definition information</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Group" type="yfctype:PropertyGroup" use="optional">
                <xsd:annotation yfc:columnName="PROP_GROUP" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>This denotes the group to which a property belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JvmType" type="yfctype:JvmType" use="optional">
                <xsd:annotation yfc:columnName="JVM_TYPE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>This denotes the type of JVM to which the property belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifiable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MODIFIABLE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>This field indicates whether the property can be modified or overriden.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModifiableAtRuntime"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MODIFIABLE_AT_RUNTIME" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>Specifies whether this property can be modified once the application is up and running.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PermissibleValues"
                type="yfctype:PermissibleValues" use="optional">
                <xsd:annotation yfc:columnName="PERMISSIBLE_VALUES" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>The data that this property can hold. This will be stored as XML</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PropertyType"
                type="yfctype:PropertyType" use="optional">
                <xsd:annotation yfc:columnName="PROPERTY_TYPE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>This field indicates the type of the property</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scope" type="yfctype:PropertyScope" use="optional">
                <xsd:annotation yfc:columnName="PROP_SCOPE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>This denotes the scope of the property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerOverride" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SERVER_OVERRIDE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>Specifies whether this field can be overridden by app server, agent or integration server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserOverride" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USER_OVERRIDE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>Specifies whether this property can be modified by the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
