Data/xapidocs/api_javadocs/XSD/YCP_getPasswordRuleDefnList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleDefnList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleDefnList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPasswordRuleDefnList_input.xsd" yfc:rootElement="PasswordRuleDefn">
        <xsd:appinfo source="yfc:structure">
            <PasswordRuleDefn hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordRuleDefn" type="yfc:PasswordRuleDefnXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_DEFN">
            <xsd:documentation>The table is used for storing rules which govern the password policies.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PasswordRuleDefnXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
			If CallingOrganizationCode is passed, then it will
			be used as the context organization. This, combined
			with the configuration data setup for password rule definition,
			will result in a list filtered for access by the given organization.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClassName" type="yfctype:ClassName" use="optional">
            <xsd:annotation yfc:columnName="CLASS_NAME" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Indicates the class which implements the rule definition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Policy rule description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:PolicyRuleName" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Policy Rule Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>The Organization to which the rule belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParamDefn" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="PARAM_DEFN" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>The parameters which govern the password policy.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:RuleType-20" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Indicates the rule type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
