Data/xapidocs/api_javadocs/XSD/YCP_getProductivitySummary_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getProductivitySummary/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getProductivitySummary/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getProductivitySummary_input.xsd" yfc:rootElement="ProductivitySummary">
        <xsd:appinfo source="yfc:structure">
            <ProductivitySummary hasAttributes="Y">
                <ProductivityType hasAttributes="Y">
                    <EstimatedSAM hasAttributes="Y"/>
                </ProductivityType>
            </ProductivitySummary>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProductivitySummary" type="yfc:ProductivitySummaryXSDType"/>
    <xsd:complexType name="ProductivitySummaryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProductivityType"/>
        </xsd:all>
        <xsd:attribute name="EndDate" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				End date for the time period to be considered to calculate the productivity.
				<Validation>
                            <Condition>
                                <code>EndDate</code> is not passed.
					</Condition>
                            <Error
                                Description="StartTime and EndTime must be passed." ErrorCode="YCP73_00024"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Start date for the time period to be considered to calculate the productivity.
				<Validation>
                            <Condition>
                                <code>StartDate</code> is not passed.
					</Condition>
                            <Error
                                Description="StartTime and EndTime must be passed." ErrorCode="YCP73_00024"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ProductivityType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY_TYPE">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <code>OrganizationCode</code> and <code>ProductivityType</code> attributes must be passed and must be valid. 
					</Condition>
                        <Error
                            Description="Productivity Type Details are not passed." ErrorCode="YCPPY0006"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EstimatedSAM"/>
            </xsd:all>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Equipment type associated with the productivity type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Owner organization of the node for which this productivity type is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityType"
                type="yfctype:ProductivityType" use="required">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>The productivity type defined for this SAM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EstimatedSAM">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					User can pass estimated Standard Allowable minutes to calculate estimated productivity.  These values can be different from the actual values of the Productivity Type.  
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllowedMinsConstant"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_CONSTANT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per trip.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerCase"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per case handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerItem"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per item handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerPallet"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per pallet handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceAisle"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_SOURCE_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per source aisle visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceLevel"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_SOURCE_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per source level visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceLocn"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="AllowedMinsPerTargetAisle"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_TARGET_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per target aisle visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTargetLevel"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_TARGET_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per target level visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTargetLocn"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="AllowedMinsPerTask"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per task performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnit"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitHorizontalDistance"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_HOR_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit horizontal distance covered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitVerticalDistance"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_VER_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit vertical distance covered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitWeight"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_WEIGHT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit weight of item moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
