Data/xapidocs/api_javadocs/XSD/YCP_manageQueue_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageQueue/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageQueue/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageQueue_output.xsd" yfc:rootElement="Queue">
        <xsd:appinfo source="yfc:structure">
            <Queue hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Queue" type="yfc:QueueXSDType">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QueueXSDType">
        <xsd:attribute name="AuditThisQueue" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_THIS_QUEUE" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>'Y' if assignments needs to be audited</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursAssignExceedAction" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="HOURS_ASSIGN_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Action to be raised if exception is not assigned within the defined hour limit</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursForAssignRealert"
            type="yfctype:NumberOfHoursWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="HOURS_FOR_ASSIGN_REALERT" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Number of hours in which unassign alerts should be raised again</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursForAssignment"
            type="yfctype:NumberOfHoursWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="HOURS_FOR_ASSIGNMENT" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Any exception in this queue must be assigned within this many hours</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursForExceedRealert"
            type="yfctype:NumberOfHoursWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="HOURS_FOR_EXCEED_REALERT" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Number of hours in which a re-alert should be raised for queue overflows</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursForResolution"
            type="yfctype:NumberOfHoursWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="HOURS_FOR_RESOLUTION" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Any exception in this queue should be resolved within this many hours</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursForResolveRealert"
            type="yfctype:NumberOfHoursWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="HOURS_FOR_RESOLVE_REALERT" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Number of hours in which unresolved alerts should be raised again</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursResolveExceedAction"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="HOURS_RESOLVE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Action to be raised if exception is not resolved within the defined hour limit</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastQueueExceedAlert"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_QUEUE_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Date when last overflow exception was raised for the queue</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumActiveSize" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="MAXIMUM_ACTIVE_SIZE" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Maximum # of active exceptions that can be posted in the queue</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumSizeExceedAction" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MAXIMUM_SIZE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Action to be performed if the active exceptions exceed the limit</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Organization code that owns the queue</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
            <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Not used</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Queue priority</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QKeyForAssignAlert" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="Q_KEY_FOR_ASSIGN_ALERT" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Queue to which unassignment exception should be raised</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QKeyForExceedAlert" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="Q_KEY_FOR_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Queue to which overflow exceptions should be raised</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QKeyForResolveAlert" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="Q_KEY_FOR_RESOLVE_ALERT" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Queue to which unresolve exceptions should be raised</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_DESCRIPTION" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Description of a Queue.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueGroup" type="yfctype:QueueGroupId" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_GROUP" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Group id. Can be used for better organization of queues</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Unique id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Primary key attribute of YFS_QUEUE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueName" type="yfctype:QueueName" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_NAME" yfc:tableName="YFS_QUEUE">
                <xsd:documentation>Name for queue</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
