Data/xapidocs/api_javadocs/XSD/YCP_beforeCreateBatchUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/beforeCreateBatchUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/beforeCreateBatchUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_beforeCreateBatchUE_input.xsd" yfc:rootElement="Batch">
        <xsd:appinfo source="yfc:structure">
            <Batch hasAttributes="Y">
                <Tasks>
                    <Task hasAttributes="Y"/>
                </Tasks>
            </Batch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Batch" type="yfc:BatchXSDType">
        <xsd:annotation yfc:tableName="YFS_BATCH">
            <xsd:documentation>This table stores the batches of tasks.  A batch of tasks is typically sized such that it takes one user around 30 minutes to complete.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="BatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Tasks"/>
        </xsd:all>
        <xsd:attribute name="CountRequestNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_NO" yfc:tableName="YFS_BATCH">
                <xsd:documentation>The identifier of the count request within the context of a document type and organization code of the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_NO" yfc:tableName="YFS_BATCH">
                <xsd:documentation>This field identifies a move request for a organization code of the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_BATCH">
                <xsd:documentation>
                    <div>
				Identifies the organization.
				<Validation>
                            <Condition>
                                <code>OrganizationCode</code> passed does not exist in the table YFS_ORGANIZATION.
					</Condition>
                            <Error
                                Description="YFS:Invalid organization code" ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not passed.
					</Condition>
                            <Error
                                Description="Organization code is mandatory for this operation." ErrorCode="YCP0154"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_BATCH">
                <xsd:documentation>The shipment number associated with this batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="required">
            <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_BATCH">
                <xsd:documentation>
                    <div>
				Identifies task type.
				<Validation>
                            <Condition>
                                <code>TaskType</code> not passed.
					</Condition>
                            <Error Description="Task type not passed." ErrorCode="YCP0131"/>
                        </Validation>
                        <Validation>
                            <Condition>Value of <code>TaskType</code> passed is not in the table YFS_TASK_TYPE.
					</Condition>
                            <Error Description="Invalid task type" ErrorCode="YCP0130"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_BATCH">
                <xsd:documentation>The wave number associated with this batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Tasks">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Task"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Task">
        <xsd:annotation yfc:tableName="YFS_TASK">
            <xsd:documentation>This table stores list of all tasks across nodes.  Tasks represent a logical or a physical activity.  Every task must belong to a task type, which identifies the type of activity.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_TASK">
                    <xsd:documentation>
                        <div>
				An Id which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
				<Validation>
                                <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
					</Condition>
                                <Error Description="No record found" ErrorCode="YCP0045"/>
                            </Validation>
                            <Validation>
                                <Condition>Passed value does not identify an existing task. 
					</Condition>
                                <Error Description="No record found" ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TASK_KEY" yfc:tableName="YFS_TASK">
                    <xsd:documentation>
                        <div>
				The key which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
				<Validation>
                                <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
					</Condition>
                                <Error Description="No record found" ErrorCode="YCP0045"/>
                            </Validation>
                            <Validation>
                                <Condition>Passed value does not identify an existing task. 
					</Condition>
                                <Error Description="No record found" ErrorCode="YCP0045"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
