Data/xapidocs/api_javadocs/XSD/YCP_manageAttributeDomain_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageAttributeDomain/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageAttributeDomain/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageAttributeDomain_input.xsd" yfc:rootElement="AttributeDomain">
        <xsd:appinfo source="yfc:structure">
            <AttributeDomain hasAttributes="Y">
                <AttrDomainLocaleList hasAttributes="Y">
                    <AttrDomainLocale hasAttributes="Y"/>
                </AttrDomainLocaleList>
            </AttributeDomain>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AttributeDomain" type="yfc:AttributeDomainXSDType">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE_DOMAIN">
            <xsd:documentation>
                <div>
				Attribute Domains are hierarchies of attribute groups which can be created for different usages or purposes.
					<Validation>
                        <Condition>
                            <code>AttributeDomainID</code>, <code>OrganizationCode</code> and <code>Purpose</code> must be passed.
						</Condition>
                        <Error
                            Description="Mandatory parameters for the operation are missing" ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AttributeDomainXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttrDomainLocaleList"/>
        </xsd:all>
        <xsd:attribute name="AttributeDomainID" type="yfctype:GroupName" use="required">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttributeDomainKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_KEY" yfc:tableName="YFS_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The primary key for the YFS_ATTRIBUTE_DOMAIN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LongDescription" type="yfctype:Text-255" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The detailed description of the  attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Operation to perform
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Action">
                    <xsd:enumeration value="Manage"/>
                    <xsd:enumeration value="Create"/>
                    <xsd:enumeration value="Modify"/>
                    <xsd:enumeration value="Delete"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The organization that maintains the attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ATTRIBUTE_DOMAIN">
                <xsd:documentation>
                    <div>
				The purpose of the attribute domain. This is used to indicate the purpose or usage of the attribute domain. If not passed in the input, it will be defaulted to 'ITEM'.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTRIBUTE_DOMAIN">
                <xsd:documentation>The short description of the  attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="AttrDomainLocaleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttrDomainLocale"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old records are removed and replaced with the new ones.
							If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttrDomainLocale">
        <xsd:annotation yfc:tableName="YFS_ATTR_DOMAIN_LOCALE">
            <xsd:documentation>This table is used to store localized information for the related attribute domain in different locales.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttrDomainLocaleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTR_DOMAIN_LOCALE_KEY" yfc:tableName="YFS_ATTR_DOMAIN_LOCALE">
                    <xsd:documentation>The primary key of the YFS_ATTR_DOMAIN_LOCALE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeDomainKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_KEY" yfc:tableName="YFS_ATTR_DOMAIN_LOCALE">
                    <xsd:documentation>The reference key to the YFS_ATTRIBUTE_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_ATTR_DOMAIN_LOCALE">
                    <xsd:documentation>The country associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="LANGUAGE" yfc:tableName="YFS_ATTR_DOMAIN_LOCALE">
                    <xsd:documentation>The language associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LongDescription"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_ATTR_DOMAIN_LOCALE">
                    <xsd:documentation>The detailed description of the  attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Valid value is <b>
                                <code>Delete</code>
                            </b>. Set <code>Operation</code> = "<b>
                                <code>Delete</code>
                            </b>" to delete the entity.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ATTR_DOMAIN_LOCALE">
                    <xsd:documentation>The short description of the  attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Variant" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="VARIANT" yfc:tableName="YFS_ATTR_DOMAIN_LOCALE">
                    <xsd:documentation>The variant associated with the locale.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
