Data/xapidocs/api_javadocs/XSD/YCP_deleteProductivity_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteProductivity/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteProductivity/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_deleteProductivity_input.xsd" yfc:rootElement="Productivity">
        <xsd:appinfo source="yfc:structure">
            <Productivity hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Productivity" type="yfc:ProductivityXSDType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProductivityXSDType">
        <xsd:attribute name="ProductivityKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>
                    <div>
					Primary key attribute of <code>YFS_PRODUCTIVITY</code> table.
						<Validation>
                            <Condition>
                                <code>ProductivityKey</code> must be passed. Error if <code>ProductivityKey</code> not passed.
							</Condition>
                            <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
