Data/xapidocs/api_javadocs/XSD/YCP_deletePageCache_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deletePageCache/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deletePageCache/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_deletePageCache_output.xsd" yfc:rootElement="Page">
        <xsd:appinfo source="yfc:structure">
            <Page hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Page" type="yfc:PageXSDType"/>
    <xsd:complexType name="PageXSDType">
        <xsd:attribute name="Result" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Result of the operation</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
