Data/xapidocs/api_javadocs/XSD/YCP_getDeviceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDeviceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDeviceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDeviceList_output.xsd" yfc:rootElement="Devices">
        <xsd:appinfo source="yfc:structure">
            <Devices>
                <Device hasAttributes="Y"/>
            </Devices>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Devices" type="yfc:DevicesXSDType"/>
    <xsd:complexType name="DevicesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Device"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Device">
        <xsd:annotation yfc:tableName="YFS_DEVICE">
            <xsd:documentation>All instances of devices in the warehouse such as RF scanners, printers, weighing scale etc. of the warehouse are defined in this table. One of more devices can be associated with equipment.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeviceId" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DEVICE_ID" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>Device Identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeviceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DEVICE_KEY" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>Primary key attribute of YFS_DEVICE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeviceSubType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEVICE_SUB_TYPE" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>Device Sub Type Name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeviceType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEVICE_TYPE" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>Device Type name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DEVICE">
                    <xsd:documentation>Node to which the equipment type belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
