Data/xapidocs/api_javadocs/XSD/YCP_manageMigrationPhase_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageMigrationPhase/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageMigrationPhase/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageMigrationPhase_input.xsd" yfc:rootElement="MigrationPhase">
        <xsd:appinfo source="yfc:structure">
            <MigrationPhase hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MigrationPhase" type="yfc:MigrationPhaseXSDType"/>
    <xsd:complexType name="MigrationPhaseXSDType">
        <xsd:attribute name="Operation" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Operation to perform
                    <br/>Valid Values: 
                    <br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
                    <br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
                    <br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
                    <br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
                    <br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Action">
                    <xsd:enumeration value="Manage"/>
                    <xsd:enumeration value="Create"/>
                    <xsd:enumeration value="Modify"/>
                    <xsd:enumeration value="Delete"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Phase" type="yfctype:MigrationPhase" use="required">
            <xsd:annotation>
                <xsd:documentation>The Phase to which to transition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TableName" type="yfctype:String" use="required"/>
    </xsd:complexType>
</xsd:schema>
