Data/xapidocs/api_javadocs/XSD/YCP_getRegionDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getRegionDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getRegionDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getRegionDetails_input.xsd" yfc:rootElement="Region">
        <xsd:appinfo source="yfc:structure">
            <Region hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Region" type="yfc:RegionXSDType">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>
                <div>
				This table contains information about the Region definition. A region schema key must be given to indicate the schema with which the Region is associated.
					<Validation>
                        <Condition>
						Either <code>RegionKey</code> or both {<code>RegionName</code> and <code>RegionSchemaKey</code>} should be passed. If not passed:
						</Condition>
                        <Error Description="Invalid Region" ErrorCode="YCP0158"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RegionXSDType">
        <xsd:attribute name="ParentRegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_REGION_KEY" yfc:tableName="YFS_REGION">
                <xsd:documentation>The parent region associated with this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The primary key for the YFS_REGION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="REGION_NAME"
                yfc:isConditional="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The unique name of this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_REGION">
                <xsd:documentation>The region schema associated with this region.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
