Data/xapidocs/api_javadocs/XSD/YCP_createMenuHierarchy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createMenuHierarchy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createMenuHierarchy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_createMenuHierarchy_input.xsd" yfc:rootElement="Menu">
        <xsd:appinfo source="yfc:structure">
            <Menu hasAttributes="Y">
                <SubMenu>
                    <Menu hasAttributes="Y"/>
                </SubMenu>
            </Menu>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Menu" type="yfc:MenuXSDType">
        <xsd:annotation yfc:tableName="YFS_MENU">
            <xsd:documentation>Stores information on how a menu needs to be organized within an application.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MenuXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubMenu"/>
        </xsd:all>
        <xsd:attribute name="DisplayMode" type="yfctype:DisplayMode" use="optional">
            <xsd:annotation yfc:columnName="DISPLAY_MODE" yfc:tableName="YFS_MENU">
                <xsd:documentation>Display mode in which a menu needs to be displayed. For example, Dialog, Docked, or HelpMenu.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Icon" type="yfctype:Icon" use="optional">
            <xsd:annotation yfc:columnName="ICON" yfc:tableName="YFS_MENU">
                <xsd:documentation>An Icon associated with a menu item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuDescription"
            type="yfctype:MenuDescription" use="optional">
            <xsd:annotation yfc:columnName="MENU_DESCRIPTION" yfc:tableName="YFS_MENU">
                <xsd:documentation>Description of a menu item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MENU_KEY" yfc:tableName="YFS_MENU">
                <xsd:documentation>Primary key attribute of YFS_MENU.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuSeq" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="MENU_SEQ" yfc:tableName="YFS_MENU">
                <xsd:documentation>A sequence number used for sorting child menu items below a particular menu item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MenuType" type="yfctype:MenuType" use="optional">
            <xsd:annotation yfc:columnName="MENU_TYPE" yfc:tableName="YFS_MENU">
                <xsd:documentation>Type of a menu. MENU/RESOURCE. RESOURCE typed menus are leaf nodes in the menu hierarchy that have an associated resource to access. Menu Items of type MENU are just place holders creating an organized menu tree.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentMenuKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_MENU_KEY" yfc:tableName="YFS_MENU">
                <xsd:documentation>Parent menu item to which a menu item belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_MENU">
                <xsd:documentation>A resource associated with a menu item. This is populated only for leaf menu items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SubMenu">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Menu">
                    <xsd:annotation yfc:tableName="YFS_MENU">
                        <xsd:documentation>Stores information on how a menu needs to be organized within an application.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="DisplayMode"
                            type="yfctype:DisplayMode" use="optional">
                            <xsd:annotation
                                yfc:columnName="DISPLAY_MODE" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Display mode in which a menu needs to be displayed. For example, Dialog, Docked, or HelpMenu.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Icon" type="yfctype:Icon" use="optional">
                            <xsd:annotation yfc:columnName="ICON" yfc:tableName="YFS_MENU">
                                <xsd:documentation>An Icon associated with a menu item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MenuDescription"
                            type="yfctype:MenuDescription" use="optional">
                            <xsd:annotation
                                yfc:columnName="MENU_DESCRIPTION" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Description of a menu item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MenuKey" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="MENU_KEY" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Primary key attribute of YFS_MENU.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MenuSeq"
                            type="yfctype:Count" use="optional">
                            <xsd:annotation yfc:columnName="MENU_SEQ" yfc:tableName="YFS_MENU">
                                <xsd:documentation>A sequence number used for sorting child menu items below a particular menu item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MenuType"
                            type="yfctype:MenuType" use="optional">
                            <xsd:annotation yfc:columnName="MENU_TYPE" yfc:tableName="YFS_MENU">
                                <xsd:documentation>Type of a menu. MENU/RESOURCE. RESOURCE typed menus are leaf nodes in the menu hierarchy that have an associated resource to access. Menu Items of type MENU are just place holders creating an organized menu tree.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResourceKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="RESOURCE_KEY" yfc:tableName="YFS_MENU">
                                <xsd:documentation>A resource associated with a menu item. This is populated only for leaf menu items.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
