Data/xapidocs/api_javadocs/XSD/YCP_getModificationTypeAttributes_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getModificationTypeAttributes/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getModificationTypeAttributes/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getModificationTypeAttributes_input.xsd" yfc:rootElement="ModificationTypeAttributes">
        <xsd:appinfo source="yfc:structure">
            <ModificationTypeAttributes hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ModificationTypeAttributes" type="yfc:ModificationTypeAttributesXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				This API will not throw an error if any attribute value is invalid or if the combination of attribute values is invalid.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ModificationTypeAttributesXSDType">
        <xsd:attribute name="BaseProcessType"
            type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The base process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The document type that is associated with this process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationLevel"
            type="yfctype:ModificationLevel" use="optional">
            <xsd:annotation yfc:columnName="MODIFICATION_LEVEL" yfc:tableName="YFS_STATUS_MODIFICATION_TYPE">
                <xsd:documentation>
                    <div>
					The level at which a modification is defined. For example, Header/Line/Release. This API does not support <code>ModificationLevel</code>=<b>
                            <code>ORDER_RELEASE_LINE</code>
                        </b>. If the input XML contains <code>ModificationLevel</code>=<b>
                            <code>ORDER_RELEASE_LINE</code>
                        </b>, the list of modification types and the associated database attributes will not be returned.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationType"
            type="yfctype:ModificationType" use="optional">
            <xsd:annotation yfc:columnName="MODIFICATION_TYPE" yfc:tableName="YFS_STATUS_MODIFICATION_TYPE">
                <xsd:documentation>Modification type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessType" type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The unique identifier for the process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
