Data/xapidocs/api_javadocs/XSD/YCP_getDateTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDateTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDateTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDateTypeList_output.xsd" yfc:rootElement="DateTypeList">
        <xsd:appinfo source="yfc:structure">
            <DateTypeList>
                <DateType hasAttributes="Y"/>
            </DateTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DateTypeList" type="yfc:DateTypeListXSDType"/>
    <xsd:complexType name="DateTypeListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DateType"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DateType">
        <xsd:annotation yfc:tableName="YFS_DATE_TYPE">
            <xsd:documentation>Stores information about dates which are applicable and available for a process type. A business document can then be monitored based on these dates</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DateTypeId" type="yfctype:DateTypeId" use="optional">
                <xsd:annotation yfc:columnName="DATE_TYPE_ID" yfc:tableName="YFS_DATE_TYPE">
                    <xsd:documentation>Unique identifier for a date type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATE_TYPE_KEY" yfc:tableName="YFS_DATE_TYPE">
                    <xsd:documentation>Primary key attribute of YFS_DATE_TYPE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_DATE_TYPE">
                    <xsd:documentation>Organization for which this DateType is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_DATE_TYPE">
                    <xsd:documentation>Process type this date belongs to</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
