Data/xapidocs/api_javadocs/XSD/YCP_printDocumentSet_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/printDocumentSet/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/printDocumentSet/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_printDocumentSet_output.xsd" yfc:rootElement="PrintDocuments">
        <xsd:appinfo source="yfc:structure">
            <PrintDocuments hasAttributes="Y">
                <PrintDocument hasAttributes="Y">
                    <LabelPreference hasAttributes="Y"/>
                    <PrinterPreference hasAttributes="Y"/>
                    <KeyAttributes>
                        <Attribute hasAttributes="Y"/>
                    </KeyAttributes>
                    <InputData hasAttributes="Y">
                        <SortAttributes hasAttributes="Y">
                            <Attribute hasAttributes="Y"/>
                        </SortAttributes>
                        <Template>
                            <Api hasAttributes="Y">
                                <Template/>
                            </Api>
                        </Template>
                        <InputData hasAttributes="Y">
                            <SortAttributes hasAttributes="Y">
                                <Attribute hasAttributes="Y"/>
                            </SortAttributes>
                            <Template/>
                        </InputData>
                    </InputData>
                    <PrintDocuments hasAttributes="Y">
                        <PrintDocument hasAttributes="Y">
                            <LabelPreference hasAttributes="Y"/>
                            <PrinterPreference hasAttributes="Y"/>
                            <KeyAttributes>
                                <Attribute hasAttributes="Y"/>
                            </KeyAttributes>
                            <InputData hasAttributes="Y">
                                <SortAttributes hasAttributes="Y">
                                    <Attribute hasAttributes="Y"/>
                                </SortAttributes>
                                <Template/>
                            </InputData>
                        </PrintDocument>
                    </PrintDocuments>
                </PrintDocument>
            </PrintDocuments>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PrintDocuments" type="yfc:PrintDocumentsXSDType"/>
    <xsd:complexType name="PrintDocumentsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PrintDocument">
                <xsd:annotation yfc:tableName="YFS_PRINT_DOCUMENT">
                    <xsd:documentation>This entity contains the definition of all the documents that will be printed using the print-infrastructure along with their descriptions and the default label format to be used for the document.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="LabelPreference">
                            <xsd:annotation yfc:tableName="YFS_LABEL_PREFERENCE">
                                <xsd:documentation>This entity defines the label format to be used for different documents for different criteria.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute
                                    name="BuyerOrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Organization code of buyer.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="EnterpriseCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Enterprise Code.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="EquipmentType"
                                    type="yfctype:EquipmentType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Equipment type name.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="NoOfCopies"
                                    type="yfctype:Integer" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DEFAULT_NO_OF_COPIES" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Default Number Of Copies for this Label.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Node"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NODE_KEY" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Primary key attribute of YFS_SHIP_NODE table.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="SCAC"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SCAC" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Carrier by which this shipment will be transported.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute
                                    name="SellerOrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Organization code of seller.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="PrinterPreference">
                            <xsd:annotation yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                                <xsd:documentation>This entity defines the printers to be used for different documents based on attributes such as User, UserGroup etc.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="OrganizationCode"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DEVICE">
                                    <xsd:documentation>
                                    <div>
								The Organization for which the printer has to be determined.
								<Validation>
                                    <Condition>
                                    <code>OrganizationCode</code> should be a valid Organization.
									</Condition>
                                    <Error
                                    Description="Invalid Organization Code." ErrorCode="YCP0040"/>
                                    </Validation>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PrinterId"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The device id of the printer.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="UsergroupId"
                                    type="yfctype:UserGroup" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                                    <xsd:documentation>Unique key of YFS_USER_GROUP.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="WorkStationId"
                                    type="yfctype:EquipmentId" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The Work Station with which the printer is associated.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="KeyAttributes">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded"
                                    minOccurs="0" name="Attribute">
                                    <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                                    <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Name of attribute whose value will be considered for naming the pass file.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:any maxOccurs="unbounded"
                                    minOccurs="0" processContents="skip"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="InputData">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="SortAttributes">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Attribute">
                                    <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                                    <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Name of attribute whose value will be considered for sorting.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute
                                    name="ListElement"
                                    type="yfctype:Text-255" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Specifies the list element name whose children are to be sorted.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SortDirection" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Specifies the direction of sorting. ASC/Void - Sort Ascending. DESC - Sort Descending.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Text-40">
                                    <xsd:enumeration value="ASC"/>
                                    <xsd:enumeration value="DESC"/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="Template">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" ref="yfc:Api"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InputData">
                                    <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="SortAttributes">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Attribute">

                                    <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                                    <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:Text-40" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute
                                    name="ListElement"
                                    type="yfctype:Text-255" use="optional"/>
                                    <xsd:attribute
                                    name="SortDirection" use="optional">
                                    <xsd:simpleType>

                                    <xsd:restriction base="yfctype:Text-40">

                                    <xsd:enumeration value="ASC"/>

                                    <xsd:enumeration value="DESC"/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="Template">
                                    <xsd:complexType/>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="APIName"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute
                                    name="FlowName"
                                    type="yfctype:FlowName" use="optional"/>
                                    <xsd:attribute
                                    name="ParentDataElement"
                                    type="yfctype:Text-255" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:any maxOccurs="unbounded"
                                    minOccurs="0" processContents="skip"/>
                                </xsd:sequence>
                                <xsd:attribute name="APIName"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The name of the API to be called.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="FlowName"
                                    type="yfctype:FlowName" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The name of the service to be called.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ParentDataElement"
                                    type="yfctype:Text-255" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The element name of the output of the parent input data node, which is supplied as input to this input data node.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="PrintDocuments">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded"
                                    minOccurs="0" name="PrintDocument">
                                    <xsd:annotation yfc:tableName="YFS_PRINT_DOCUMENT">
                                    <xsd:documentation>This entity contains the definition of all the documents that will be printed using the print-infrastructure along with their descriptions and the default label format to be used for the document.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="LabelPreference">
                                    <xsd:annotation yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>This entity defines the label format to be used for different documents for different criteria.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="BuyerOrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Organization code of buyer.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="EnterpriseCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Enterprise Code.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="EquipmentType"
                                    type="yfctype:EquipmentType" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Equipment type name.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="NoOfCopies"
                                    type="yfctype:Integer" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="DEFAULT_NO_OF_COPIES" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Default Number Of Copies for this Label.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Node"
                                    type="yfctype:Key" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="NODE_KEY" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Primary key attribute of YFS_SHIP_NODE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SCAC"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SCAC" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Carrier by which this shipment will be transported.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="SellerOrganizationCode"
                                    type="yfctype:OrgCode" use="optional">

                                    <xsd:annotation
                                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_LABEL_PREFERENCE">
                                    <xsd:documentation>Organization code of seller.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="PrinterPreference">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="PrinterId"
                                    type="yfctype:Key" use="optional"/>
                                    <xsd:attribute
                                    name="UsergroupId"
                                    type="yfctype:UserGroup" use="optional"/>
                                    <xsd:attribute
                                    name="WorkStationId"
                                    type="yfctype:EquipmentId" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="KeyAttributes">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Attribute">

                                    <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                                    <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:Text-40" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:any
                                    maxOccurs="unbounded"
                                    minOccurs="0" processContents="skip"/>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="InputData">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="SortAttributes">
                                    <xsd:complexType>
                                    <xsd:sequence>

                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Attribute">

                                    <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
                                    <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="Name"
                                    type="yfctype:Text-40" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>

                                    <xsd:attribute
                                    name="ListElement"
                                    type="yfctype:Text-255" use="optional"/>

                                    <xsd:attribute
                                    name="SortDirection" use="optional">
                                    <xsd:simpleType>

                                    <xsd:restriction base="yfctype:Text-40">

                                    <xsd:enumeration value="ASC"/>

                                    <xsd:enumeration value="DESC"/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element
                                    maxOccurs="1"
                                    minOccurs="0" name="Template">
                                    <xsd:complexType/>
                                    </xsd:element>
                                    <xsd:any
                                    maxOccurs="unbounded"
                                    minOccurs="0" processContents="skip"/>
                                    </xsd:sequence>
                                    <xsd:attribute
                                    name="APIName"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute
                                    name="FlowName"
                                    type="yfctype:FlowName" use="optional"/>
                                    <xsd:attribute
                                    name="ParentDataElement"
                                    type="yfctype:Text-255" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="AfterChildrenLabelFormatId"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute
                                    name="AfterChildrenPrintDocumentId"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute
                                    name="BeforeChildrenLabelFormatId"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute
                                    name="BeforeChildrenPrintDocumentId"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute
                                    name="DataElementPath"
                                    type="yfctype:Text-255" use="required"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="FlushToPrinter"
                                    type="yfctype:Flag" use="optional"/>
                                <xsd:attribute name="PrintAfresh"
                                    type="yfctype:Flag" use="optional"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                    <xsd:attribute name="AfterChildrenLabelFormatId"
                        type="yfctype:Text-40" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>The label format that will be used to print the document specified in AfterChildrenPrintDocumentId.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AfterChildrenPrintDocumentId"
                        type="yfctype:Text-40" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>the document that will be printed after printing the child documents.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="BeforeChildrenLabelFormatId"
                        type="yfctype:Text-40" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>The label format to be used to print the document specified in BeforeChildrenLabelFormatId.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="BeforeChildrenPrintDocumentId"
                        type="yfctype:Text-40" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>The document that will be printed before printing the child documents.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DataElementPath"
                        type="yfctype:Text-255" use="required">
                        <xsd:annotation>
                            <xsd:documentation>The XML binding for the node that will return the data required for printing the documents specified by BeforeChildrenPrintDocumentId and AfterChildrenPrintDocumentId.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="FlushToPrinter" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Y/N/Void. Y - all the documents within this PrintDocuments is printed first. N - the documents will not be printed and generated pass file will be present in the print path. Void - all the documents within this PrintDocuments will be printed in sequence.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintAfresh" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Y/N/Void. This is an override flag. Y - all the documents within this PrintDocuments is generated from the data element. N/Void - If the unflushed documents exist then they will be flushed else will be generated from the data element.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintName" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Identifies the DocumentSet that is being printed.  The value specified in PrintName is also included in the pass file name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Api">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Template">
                    <xsd:complexType/>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="Name" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
