Data/xapidocs/api_javadocs/XSD/YCP_getMonitorRuleDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getMonitorRuleDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getMonitorRuleDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getMonitorRuleDetails_input.xsd" yfc:rootElement="MonitorRule">
        <xsd:appinfo source="yfc:structure">
            <MonitorRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorRule" type="yfc:MonitorRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_MONITOR_RULE">
            <xsd:documentation>
                <div>
				This table stores the rules for facilitating alert based monitoring for shipments, orders and so forth.
				<Validation>
                        <Condition>If no MonitorRule matches the criteria
					</Condition>
                        <Error Description="No Record Found." ErrorCode="YFS10001"/>
                    </Validation>
                    <Validation>
                        <Condition>MonitorRuleKey is mandatory to get details of a MonitorRule.
							</Condition>
                        <Error
                            Description="MonitorRuleKey is mandatory for this action." ErrorCode="YCP0282"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MonitorRuleXSDType">
        <xsd:attribute name="MonitorRuleKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="MONITOR_RULE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The primary key of the YFS_MONITOR_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
