Data/xapidocs/api_javadocs/XSD/YCP_Question.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/Question"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/Question" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_Question.xsd" yfc:rootElement="Question">
        <xsd:appinfo source="yfc:structure">
            <Question hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Question" type="yfc:QuestionXSDType">
        <xsd:annotation yfc:tableName="YFS_QUESTION">
            <xsd:documentation>This table contains information questions for question types defined by an organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QuestionXSDType">
        <xsd:attribute name="AnswerValue" type="yfctype:Text-1000" use="optional">
            <xsd:annotation>
                <xsd:documentation>The answer provided for this question from the answer set, if applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>Indicates what type of data type is expected for the answer.  Valid values are BOOLEAN, DECIMAL, INTEGER, TEXT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayControlType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="DISPLAY_CONTROL_TYPE" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>Indicates what type of display control to show for the user interface when supplying an answer.  Valid values are CHECK_BOX, DROPDOWN, RADIO_BUTTON, TEXT_BOX, TEXT_FIELD.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsGroup" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_GROUP" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>Indicates if the question is a grouping for a set of questions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>The organization that defined the question.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentAnswerOptionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_ANSWER_OPTION_KEY" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>Answer Option Key of the answer option that is required to be selected in order to ask this question.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentQuestionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>Question Key of the question group to which this question belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuestionID" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="QUESTION_ID" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>Identifier for the question.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuestionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUESTION_KEY" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>Primary key of question.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuestionText" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="QUESTION_TEXT" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>The text to display when posing the question.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuestionType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="QUESTION_TYPE" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>The question type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_QUESTION">
                <xsd:documentation>Specifies for the question hierarchy level of this question, what sequence to display this question in.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
