Data/xapidocs/api_javadocs/XSD/YCP_getLabelFormat_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getLabelFormat/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getLabelFormat/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getLabelFormat_output.xsd" yfc:rootElement="LabelFormat">
        <xsd:appinfo source="yfc:structure">
            <LabelFormat hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LabelFormat" type="yfc:LabelFormatXSDType">
        <xsd:annotation yfc:tableName="YFS_LABEL_FORMAT">
            <xsd:documentation>Stores All the Available Label Formats.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LabelFormatXSDType">
        <xsd:attribute name="LabelFormatFile"
            type="yfctype:LongFileName" use="optional">
            <xsd:annotation yfc:columnName="LABEL_FORMAT_FILE" yfc:tableName="YFS_LABEL_FORMAT">
                <xsd:documentation>Name of the label format file.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LabelFormatId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LABEL_FORMAT_ID" yfc:tableName="YFS_LABEL_FORMAT">
                <xsd:documentation>Label Format Identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MappingXML" type="yfctype:LongFileName" use="optional">
            <xsd:annotation yfc:columnName="MAPPING_XML" yfc:tableName="YFS_LABEL_FORMAT">
                <xsd:documentation>File Name of the mapping XML for this Label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoOfCopies" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_NO_OF_COPIES" yfc:tableName="YFS_LABEL_PREFERENCE">
                <xsd:documentation>Default Number Of Copies for this Label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintDocumentId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRINT_DOCUMENT_ID" yfc:tableName="YFS_PRINT_DOCUMENT">
                <xsd:documentation>Document identifier, Values like BOL, Shipping Label, Pick List, Pack List etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
