Data/xapidocs/api_javadocs/XSD/YCP_getDBMSType_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDBMSType/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDBMSType/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDBMSType_output.xsd" yfc:rootElement="GetDBMSType">
        <xsd:appinfo source="yfc:structure">
            <GetDBMSType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetDBMSType" type="yfc:GetDBMSTypeXSDType"/>
    <xsd:complexType name="GetDBMSTypeXSDType">
        <xsd:attribute name="DBType" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>Database Type ORACLE/SQLSERVER, etc</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
