Data/xapidocs/api_javadocs/XSD/YCP_manageDBPool_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageDBPool/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageDBPool/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageDBPool_input.xsd" yfc:rootElement="DBPool">
        <xsd:appinfo source="yfc:structure">
            <DBPool hasAttributes="Y">
                <ParamList>
                    <Param hasAttributes="Y"/>
                </ParamList>
            </DBPool>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DBPool" type="yfc:DBPoolXSDType">
        <xsd:annotation yfc:tableName="PLT_DB_POOL">
            <xsd:documentation>This table stores database shard connection information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DBPoolXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ParamList"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GetPasswords" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag to control output of password-related parameters</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Boolean">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PoolId" type="yfctype:DatabasePoolId" use="required">
            <xsd:annotation yfc:columnName="POOL_ID" yfc:tableName="PLT_DB_POOL">
                <xsd:documentation>
                    <div>
						Unique identifier of the database shard connection.
						<Validation>
                            <Condition>The pool id should not be defined in <code>jdbc.properties</code>.</Condition>
                            <Error
                                Description="Database pool cannot be modified" ErrorCode="PLT0507"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ParamList">
        <xsd:annotation>
            <xsd:documentation>
                <div>List of connection parameters. Any supported property in <code>jdbc.properties</code> may be specified here.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Param"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Param">
        <xsd:annotation>
            <xsd:documentation>
                <div>Connection parameter</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Action to take
							<br/>Valid Values: 
							<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Sets the given parameter regardless of whether it is already set.
							<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes the given parameter.
							<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Parameter name. If missing, the parameter will not be set.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Parameter value. If missing, the parameter will not be set.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
