Data/xapidocs/api_javadocs/XSD/YCP_manageCallOutClassLoader_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCallOutClassLoader/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCallOutClassLoader/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageCallOutClassLoader_input.xsd" yfc:rootElement="CallOutClassLoader">
        <xsd:appinfo source="yfc:structure">
            <CallOutClassLoader hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CallOutClassLoader" type="yfc:CallOutClassLoaderXSDType">
        <xsd:annotation yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
            <xsd:documentation>
                <div>
					The CallOutClassLoaderId is required during a create/delete/modify operation.
					 <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>CallOutClassLoaderId</code>  or <code>CallOutClassLoaderKey</code> already exists in the database.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and CallOutClassLoaderKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>CallOutClassLoaderId</code>is not passed.
					</Condition>
                        <Error
                            Description="CallOutClassLoaderId is a mandatory field." ErrorCode="YCP0046"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> or <code>Modify </code> and <code>CallOutId</code> passed is invalid.
					</Condition>
                        <Error
                            Description="CallOutId passed is invalid." ErrorCode="PLT0532"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CallOutClassLoaderXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutClassLoaderId" type="yfctype:ID-40" use="required">
            <xsd:annotation yfc:columnName="CALLOUT_CLASS_LOADER_ID" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                <xsd:documentation>This is used to uniquely identify a record of the PLT_CALLOUT_CLASS_LOADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutClassLoaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_CLASS_LOADER_KEY" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                <xsd:documentation>The primary key of the PLT_CALLOUT_CLASS_LOADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallOutId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="CALLOUT_ID" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                <xsd:documentation>The foreign key of this table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DirectoryPath" type="yfctype:JarsToInclude" use="optional">
            <xsd:annotation yfc:columnName="DIRECTORY_PATH" yfc:tableName="PLT_CALLOUT_CLASS_LOADER">
                <xsd:documentation>The relative path of the directory with jars that include the callout unit classes and callout voting resolver. Any third party jars to be used while executing the unit can also be included here</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefreshClassLoader" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						This attribute needs to be set to 'Y' to refresh the class loader for the callout. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
