Data/xapidocs/api_javadocs/XSD/YCP_getMonitorConsolidationDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getMonitorConsolidationDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getMonitorConsolidationDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getMonitorConsolidationDetails_input.xsd" yfc:rootElement="MonitorConsolidation">
        <xsd:appinfo source="yfc:structure">
            <MonitorConsolidation hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorConsolidation" type="yfc:MonitorConsolidationXSDType">
        <xsd:annotation yfc:tableName="YFS_MONITORING_CONSOLIDATION">
            <xsd:documentation>This table stores the configuration of alert consolidation for different monitors.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MonitorConsolidationXSDType">
        <xsd:attribute name="MonitorConsolidationKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITORING_CONSOLIDATION">
                <xsd:documentation>The primary key of the YFS_MONITOR_CONSOLIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
