Data/xapidocs/api_javadocs/XSD/YCP_getDistributionRuleList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getDistributionRuleList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getDistributionRuleList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getDistributionRuleList_input.xsd" yfc:rootElement="DistributionRule">
        <xsd:appinfo source="yfc:structure">
            <DistributionRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DistributionRule" type="yfc:DistributionRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_DISTRIBUTION_RULE">
            <xsd:documentation>This table stores distribution rules for all sellers.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DistributionRuleXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="DefaultFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_FLAG" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>This flag indicates whether a distribution rule is the default rule for the owner organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The description of the distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_KEY" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The primary key for the YFS_DISTRIBUTION_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The owner organization that is associated with this distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
