Data/xapidocs/api_javadocs/XSD/YCP_getAsyncRequestList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getAsyncRequestList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getAsyncRequestList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getAsyncRequestList_input.xsd" yfc:rootElement="AsyncronousRequest">
        <xsd:appinfo source="yfc:structure">
            <AsyncronousRequest hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AsyncronousRequest" type="yfc:AsyncronousRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_ASYNC_REQ">
            <xsd:documentation>This table is used to persist requests to process updates in background.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AsyncronousRequestXSDType">
        <xsd:attribute name="AsyncronousRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ASYNC_REQUEST_KEY" yfc:tableName="YFS_ASYNC_REQ">
                <xsd:documentation>Primary Key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorCount" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="ERROR_COUNT" yfc:tableName="YFS_ASYNC_REQ">
                <xsd:documentation>Number of times this transaction has errored out.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsService" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Message" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="MESSAGE" yfc:tableName="YFS_ASYNC_REQ">
                <xsd:documentation>The Data that has been published by Sterling or the external System.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PredessorServiceName"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRDSR_SRVC_NAME" yfc:tableName="YFS_ASYNC_REQ">
                <xsd:documentation>Only after executing this service, the current service can be called.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceName" type="yfctype:FlowName" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_NAME" yfc:tableName="YFS_ASYNC_REQ">
                <xsd:documentation>Service name to call.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionRequestNo"
            type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="TRAN_REQ_NO" yfc:tableName="YFS_ASYNC_REQ">
                <xsd:documentation>A sequence number used to identify all api calls.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
