Data/xapidocs/api_javadocs/XSD/YCP_manageMonitorRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageMonitorRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageMonitorRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageMonitorRule_input.xsd" yfc:rootElement="MonitorRule">
        <xsd:appinfo source="yfc:structure">
            <MonitorRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorRule" type="yfc:MonitorRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_MONITOR_RULE">
            <xsd:documentation>
                <div>
			This table stores the rules for facilitating alert based monitoring for shipments, orders and so forth  
			<Validation>
                        <Condition>MoitorRuleKey is mandatory for Modify/Delete.
				</Condition>
                        <Error
                            Description="MonitorRuleKey is mandatory for this action." ErrorCode="YCP0282"/>
                    </Validation>
                    <Validation>
                        <Condition>MonitorConsolidationKey is mandatory for a Monitor Rule.
				</Condition>
                        <Error
                            Description="MonitorConsolidationKey is Mandatory for a Monitor Rule." ErrorCode="YCP0288"/>
                        <Error
                            Description="Invalid MonitorConsolidationKey." ErrorCode="YCP0289"/>
                    </Validation>
                    <Validation>
                        <Condition>PipelineKey and ProcesstypeKey should have valid values for a pipeline based MonitorRule.
				</Condition>
                        <Error
                            Description="Both PipelineKey and ProcesstypeKey must be passed to create a new MonitorRule." ErrorCode="YCP0279"/>
                        <Error Description="Invalid PipelineKey." ErrorCode="YCP0276"/>
                        <Error Description="Invalid ProcesstypeKey." ErrorCode="YCP0280"/>
                    </Validation>
                    <Validation>
                        <Condition>Cannot pass OrganizationCode or ExceptionType for a pipeline based MonitorRule.
				</Condition>
                        <Error
                            Description="MonitorRule cannot have attributes for both a pipeline and an organization." ErrorCode="YCP0275"/>
                    </Validation>
                    <Validation>
                        <Condition>OrganizationCode and ExceptionType should have valid values for an organization based MonitorRule.
				</Condition>
                        <Error
                            Description="Both OrganizationCode and ExceptionType must be passed." ErrorCode="YCP0277"/>
                        <Error Description="Invalid Organization Code." ErrorCode="YCP0040"/>
                        <Error Description="Invalid ExceptionType." ErrorCode="YCP0278"/>
                    </Validation>
                    <Validation>
                        <Condition>Cannot pass PipelineKey or ProcesstypeKey for a organization based MonitorRule.
				</Condition>
                        <Error
                            Description="MonitorRule cannot have attributes for both a pipeline and an organization." ErrorCode="YCP0275"/>
                    </Validation>
                    <Validation>
                        <Condition>Purpose can only have values listed later in this page.
				</Condition>
                        <Error Description="Invalid Purpose Type." ErrorCode="YCP0274"/>
                    </Validation>
                    <Validation>
                        <Condition>Cannot change type(Purpose) of a MonitorRule from pipeline to other and vice versa.
				</Condition>
                        <Error
                            Description="Cannot change type of Purpose." ErrorCode="YCP0281"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MonitorRuleXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivateDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="ACTIVATE_DATE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>Date from which Monitor Rule will be active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Age"
            type="yfctype:NumberOfHoursWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="AGE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The age of the monitor rule. The default value is '0'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AgeType" type="yfctype:AgeType" use="optional">
            <xsd:annotation yfc:columnName="AGE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>00</code>
                        </b> - No Calendar
					<br/>
                        <b>
                            <code>01</code>
                        </b> - Buyer Calendar
					<br/>
                        <b>
                            <code>02</code>
                        </b> - Seller Calendar
					<br/>
                        <b>
                            <code>03</code>
                        </b> - Enterprise Calendar
					<br/>
                        <b>
                            <code>04</code>
                        </b> - Ship Node Shipping Calendar
					<br/>
                        <b>
                            <code>05</code>
                        </b> - Ship Node Service Calendar
					<br/>
                        <b>
                            <code>06</code>
                        </b> - Receiving Node Receiving Calendar
					<br/>
                        <b>
                            <code>07</code>
                        </b> - Return From Node Shipping Calendar
					<br/>
                        <b>
                            <code>08</code>
                        </b> - Return To Node Receiving Calendar
					<br/>
                        <b>
                            <code>09</code>
                        </b> - Dynamic Calendar
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComparisonDateSubType"
            type="yfctype:DateSubType" use="optional">
            <xsd:annotation yfc:columnName="COMPARISON_DATE_SUB_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The subtype of the comparison date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComparisonDateType"
            type="yfctype:ComparisonDateType" use="optional">
            <xsd:annotation yfc:columnName="COMPARISON_DATE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The type of the comparison date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComparisonStatus"
            type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="COMPARISON_STATUS" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The comparison status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConditionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONDITION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The condition key associated to this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateSubTypeToMonitor"
            type="yfctype:EnumDateSubTypeToMonitor" use="optional">
            <xsd:annotation yfc:columnName="DATE_SUB_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>This field indicates the date sub type to monitor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeToMonitor" type="yfctype:DateType" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The date type to monitor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-50" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>Type of exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The hold type key associated with this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldTypeStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TYPE_STATUS" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The hold type status to monitor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActive" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>Indicates if MonitorRule is active or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The monitor consolidation key associated with this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_RULE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The primary key of the YFS_MONITOR_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorType" type="yfctype:MonitorType" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>
                    <div>Monitor Type
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>MNRBD</code>
                        </b> - Milestone has not reached before a date
					<br/>
                        <b>
                            <code>MNRWD</code>
                        </b> - Milestone has not reached within date
					<br/>
                        <b>
                            <code>MRBD</code>
                        </b> - Milestone reached before date
					<br/>
                        <b>
                            <code>MRAD</code>
                        </b> - Milestone reached after date
					<br/>
                        <b>
                            <code>MRWD</code>
                        </b> - Milestone reached within date
					<br/>
                        <b>
                            <code>MNRWM</code>
                        </b> - Milestone not reached within another milestone
					<br/>
                        <b>
                            <code>MRWM</code>
                        </b> - Milestone reached within another milestone
					<br/>
                        <b>
                            <code>HBS</code>
                        </b> - Has been in a status
					<br/>
                        <b>
                            <code>HBHT</code>
                        </b> - Has been in hold type
					<br/>
                        <b>
                            <code>HBHTBD</code>
                        </b> - Has Been in Hold Type Before Date
					<br/>
                        <b>
                            <code>BD</code>
                        </b> - Before Date
					<br/>
                        <b>
                            <code>AD</code>
                        </b> - After Date
					<br/>
                        <b>
                            <code>AM</code>
                        </b> - After a Milestone
					<br/>
                        <b>
                            <code>DBD</code>
                        </b> - Date before another date
					<br/>
                        <b>
                            <code>DAD</code>
                        </b> - Date after another date
					<br/>
                        <b>
                            <code>DWD</code>
                        </b> - Date within specified time after another date
					<br/>
                        <b>
                            <code>DNWD</code>
                        </b>  - Date not within a specified time after another date
					<br/>
                        <b>
                            <code>CMNRBD</code>
                        </b> - Conditionally Milestone has not reached before a date
					<br/>
                        <b>
                            <code>CMNRWD</code>
                        </b> - Conditionally Milestone has not reached within date
					<br/>
                        <b>
                            <code>CMRBD</code>
                        </b> - Conditionally Milestone reached before date
					<br/>
                        <b>
                            <code>CMRAD</code>
                        </b> - Conditionally Milestone reached after date
					<br/>
                        <b>
                            <code>CMRWD</code>
                        </b> - Conditionally Milestone reached within date
					<br/>
                        <b>
                            <code>CMNRWM</code>
                        </b> - Conditionally Milestone not reached within another milestone
					<br/>
                        <b>
                            <code>CMRWM</code>
                        </b> - Conditionally Milestone reached within another milestone
					<br/>
                        <b>
                            <code>CHBS</code>
                        </b> - Conditionally Has been in a status
					<br/>
                        <b>
                            <code>CHBHT</code>
                        </b> - Conditionally Has been in hold type
					<br/>
                        <b>
                            <code>CHBHTBD</code>
                        </b>  - Conditionally has Been in Hold Type Before Date
					<br/>
                        <b>
                            <code>CBD</code>
                        </b> - Conditionally Before Date
					<br/>
                        <b>
                            <code>CAD</code>
                        </b> - Conditionally After Date
					<br/>
                        <b>
                            <code>CAM</code>
                        </b> - Conditionally After a Milestone
					<br/>
                        <b>
                            <code>CDBD</code>
                        </b> - Conditionally date before another date
					<br/>
                        <b>
                            <code>CDAD</code>
                        </b> - Conditionally date after another date
					<br/>
                        <b>
                            <code>CDWD</code>
                        </b> - Conditionally date within specified time after another date
					<br/>
                        <b>
                            <code>CDNWD</code>
                        </b>  - Conditionally date not within a specified time after another date
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The pipeline key associated with this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The priority in which conditions are processed for an event. The default value is '0'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The process type key associated with this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose"
            type="yfctype:EnumMonitorRulePurpose" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>Indicates the purpose of MonitorRule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusToMonitor" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The status to monitor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
