Data/xapidocs/api_javadocs/XSD/YCP_getPasswordPolicyDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPasswordPolicyDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPasswordPolicyDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getPasswordPolicyDetails_input.xsd" yfc:rootElement="PasswordPolicy">
        <xsd:appinfo source="yfc:structure">
            <PasswordPolicy hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordPolicy" type="yfc:PasswordPolicyXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_POLICY">
            <xsd:documentation>
                <div>
		To identify the <code>PasswordPolicy</code>, pass either <code>PasswordPolicyKey</code> or <code>Name</code> and <code>OrganizationCode</code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PasswordPolicyXSDType">
        <xsd:attribute name="Name" type="yfctype:PolicyName" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Policy name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>The Organization to which the policy belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordPolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_POLICY_KEY" yfc:tableName="PLT_PWD_POLICY">
                <xsd:documentation>Primary key attribute of PLT_PWD_POLICY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
