Data/xapidocs/api_javadocs/XSD/YCP_getCarrierServiceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCarrierServiceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCarrierServiceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCarrierServiceList_output.xsd" yfc:rootElement="CarrierServiceList">
        <xsd:appinfo source="yfc:structure">
            <CarrierServiceList>
                <CarrierService hasAttributes="Y"/>
            </CarrierServiceList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CarrierServiceList" type="yfc:CarrierServiceListXSDType"/>
    <xsd:complexType name="CarrierServiceListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CarrierService"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CarrierService">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE">
            <xsd:documentation>Services provided by a carrier.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>A code that identifies a service provided by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceDesc"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_DESC" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>A description of the service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumNontransitDays" use="optional">
                <xsd:annotation yfc:columnName="MAX_NONTRANSIT_DAYS" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>The maximum number of days that the carrier service supports holding an item on days that it cannot transfer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaximumTransitDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="MAXIMUM_TRANSIT_DAYS" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>The maximum number of days that the carrier service takes to deliver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumTransitDays"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="FIXED_TRANSIT_DAYS" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>Number of Transit days in which the service would provide delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>The organization code of organization that defines this service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The code of the organization plays the role of carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCACAndService" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCACAndServiceDesc"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_DESC" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Description of the service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCACDesc" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SCAC_DESC" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The description of the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsedForOrdering" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USED_FOR_ORDERING" yfc:tableName="YFS_CARRIER_SERVICE">
                    <xsd:documentation>This attribute indicates that the Carrier Service can be used for ordering.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
