Data/xapidocs/api_javadocs/XSD/YCP_changeException_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/changeException/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/changeException/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_changeException_input.xsd" yfc:rootElement="Inbox">
        <xsd:appinfo source="yfc:structure">
            <Inbox hasAttributes="Y">
                <InboxReferencesList>
                    <InboxReferences hasAttributes="Y"/>
                </InboxReferencesList>
                <InboxNotesList>
                    <InboxNotes hasAttributes="Y"/>
                </InboxNotesList>
            </Inbox>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Inbox" type="yfc:InboxXSDType">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InboxXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxReferencesList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxNotesList"/>
        </xsd:all>
        <xsd:attribute name="ApiName" type="yfctype:ApiName-128" use="optional">
            <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Name of the api that created this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Indicates a customer associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationCount"
            type="yfctype:PositiveShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_COUNT" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The number of exceptions that this record represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The description of the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DetailDescription"
            type="yfctype:DetailDescription" use="optional">
            <xsd:annotation yfc:columnName="DETAIL_DESCRIPTION" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The detailed description of an exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorReason" type="yfctype:ErrorReason" use="optional">
            <xsd:annotation yfc:columnName="ERROR_REASON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Error code or reason related to this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorType" type="yfctype:ErrorType" use="optional">
            <xsd:annotation yfc:columnName="ERROR_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Type of error this exception record represents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-40" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>
                    <div> The type of exception. Corresponds to the ExceptionType in YFS_EXCEPTION_TYPE. No validation to check if the ExceptionType is non-existing. If an exception exists, then the new exception inherits the properties of the specified ExceptionType</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDays"
            type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DAYS" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Number of days of no activity after which this exception may be automatically closed. A value of zero means the exception will not expire.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
            <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The service associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxAddnlData" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="INBOX_ADDNL_DATA" yfc:tableName="YFS_INBOX">
                <xsd:documentation>An XML column to store additional data.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InboxType" type="yfctype:InboxType" use="optional">
            <xsd:annotation yfc:columnName="INBOX_TYPE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The identifier for the item associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastOccurredOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LAST_OCCURRED_ON" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The most recent time this exception was generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ListDescription"
            type="yfctype:InboxDescription" use="optional">
            <xsd:annotation yfc:columnName="LIST_DESCRIPTION" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The description of an inbox.  This will be shown on application console home page and alert list view.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The load number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order line associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The order number associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentInboxKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_INBOX_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The priority of the exception. A lower number means a higher priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The shipment number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The shipnode where the exception was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_INBOX">
                <xsd:documentation>
                    <div>Exception Status to be changed. Valid values are  <code>OPEN</code> and WIP.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
            <xsd:annotation yfc:columnName="SUB_FLOW_NAME" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The sub flow or RuntimeID associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplierKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SUPPLIER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The supplier code associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_INBOX">
                <xsd:documentation>Indicates a team associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ViewId" type="yfctype:ViewId" use="optional">
            <xsd:annotation yfc:columnName="VIEW_ID" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The view identifier associated with this exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The wave associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The wave number that uniquely identifies the wave within the context of a node.  This is system generated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The work order associated with the exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_INBOX">
                <xsd:documentation>The work order number within the context of a node and enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InboxReferencesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxReferences"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxReferences">
        <xsd:annotation yfc:tableName="YFS_INBOX_REFERENCES">
            <xsd:documentation>Dynamic references can be stored with an exception. This table stores references attached with an exception</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InboxReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_REFERENCE_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Primary key attribute of YFS_INBOX_REFERENCES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:ReferenceName" use="required">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Name of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceType"
                type="yfctype:ReferenceType" use="required">
                <xsd:annotation yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Type of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value"
                type="yfctype:ReferenceValue-2000" use="required">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Value for the reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxNotesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxNotes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxNotes">
        <xsd:annotation yfc:tableName="YFS_INBOX_NOTES">
            <xsd:documentation>This table provides the capability to add notes to an alert</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuditTransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditTransactionIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactReference"
                type="yfctype:NotesContactReference" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_REFERENCE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone number can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactReferenceQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_USER"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The user who made the contact. The default value is the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactUserQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_SAT_INDICATOR"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSatIndicatorQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromAuditTransactionId"
                type="yfctype:TransactionID" use="optional"/>
            <xsd:attribute name="FromContactReference"
                type="yfctype:NotesContactReference" use="optional"/>
            <xsd:attribute name="FromContactType"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="FromContactUser" type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="FromCustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional"/>
            <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxNotesKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromNoteText" type="yfctype:NoteText" use="optional"/>
            <xsd:attribute name="FromReasonCode"
                type="yfctype:ReasonCode" use="optional"/>
            <xsd:attribute name="FromSequenceNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromTranid" type="yfctype:TranId" use="optional"/>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Link to the parent alert on which notes are to be added.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxNotesKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_NOTES_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The primary key for the YFS_INBOX_NOTES table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxNotesKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TEXT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteTextQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNoQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ToAuditTransactionId"
                type="yfctype:TransactionID" use="optional"/>
            <xsd:attribute name="ToContactReference"
                type="yfctype:NotesContactReference" use="optional"/>
            <xsd:attribute name="ToContactType"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="ToContactUser" type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="ToCustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional"/>
            <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxNotesKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToNoteText" type="yfctype:NoteText" use="optional"/>
            <xsd:attribute name="ToReasonCode" type="yfctype:ReasonCode" use="optional"/>
            <xsd:attribute name="ToSequenceNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToTranid" type="yfctype:TranId" use="optional"/>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranidQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
