Data/xapidocs/api_javadocs/XSD/YCP_createInitiatorResponse_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createInitiatorResponse/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createInitiatorResponse/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_createInitiatorResponse_output.xsd" yfc:rootElement="Response">
        <xsd:appinfo source="yfc:structure">
            <Response hasAttributes="Y">
                <HeaderResponses hasAttributes="Y">
                    <HeaderResponse hasAttributes="Y">
                        <HeaderTerms hasAttributes="Y"/>
                    </HeaderResponse>
                </HeaderResponses>
                <LineResponses hasAttributes="Y">
                    <LineResponse hasAttributes="Y">
                        <LineTerms>
                            <LineTermsDetail hasAttributes="Y"/>
                        </LineTerms>
                    </LineResponse>
                </LineResponses>
            </Response>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Response" type="yfc:ResponseXSDType">
        <xsd:annotation yfc:tableName="YFS_RESPONSE">
            <xsd:documentation>This table stores header level information of responses from initiator organization and negotiator organization for a negotiation. The new values for the negotiation terms are stored in its children tables, yfs_response_hdr and yfs_response_line.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ResponseXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderResponses"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineResponses"/>
        </xsd:all>
        <xsd:attribute name="ApplicationAction" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Virtual field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationReference"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Virtual field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnteredBy" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="ENTERED_BY" yfc:tableName="YFS_RESPONSE">
                <xsd:documentation>Id of the user who has entered this response.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NegotiationHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY" yfc:tableName="YFS_RESPONSE">
                <xsd:documentation>Primary key of the negotiation for which this response is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_RESPONSE">
                <xsd:documentation>Any notes added by organization sending the response.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RESPONSE">
                <xsd:documentation>Oraganization that has sent this response. This will be either initiator_org_code or negotiator_org_code of the negotiation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_RESPONSE">
                <xsd:documentation>Any reason code specified by organization sending the response.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResponseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RESPONSE_KEY" yfc:tableName="YFS_RESPONSE">
                <xsd:documentation>Primary key. A system generated number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResponseNo" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="RESPONSE_NO" yfc:tableName="YFS_RESPONSE">
                <xsd:documentation>A system generated one up number. Unique within a negotiation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="HeaderResponses">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderResponse"/>
            </xsd:all>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:MaxRecordCount" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of header responses in the output</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
            <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderTerms"/>
            </xsd:all>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>Response number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>Action to be performed. Possible actions are  offer(1100), counter offer (1200) and accept(1500).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderTerms">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_HDR">
            <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>New delivery date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>New freight terms.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTerms" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TERMS" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>New payment terms.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_HDR">
                    <xsd:documentation>New ship date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineResponses">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LineResponse"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:MaxRecordCount" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of line responses in the output</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineResponse">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE">
            <xsd:documentation>This table stores response action and reference to last response of the other organization. The new terms of the negotiation line level negotiable attributes are stored in its child table, yfs_response_line_dtl. Its parent table is yfs_response. Organization level information and user notes are stored in yfs_response table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineTerms"/>
            </xsd:all>
            <xsd:attribute name="ApplicationAction"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationReference"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForOptionNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="FOR_OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Option number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForResponseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOR_RESPONSE_NO" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Response number of the other organization's last response. Blanks if this is the first response on this negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntity" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineEntityKey" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Primary key of its negotiation record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_LINE_KEY" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Primary key of its negotiation line record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseAction" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_ACTION" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Action to be performed. Possible actions are  offer(1100), counter offer (1200), reject (1300), remove(1400) and accept(1500).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_KEY" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Primary key of its response record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_LINE_KEY" yfc:tableName="YFS_RESPONSE_LINE">
                    <xsd:documentation>Primary key. A system generated number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Virtual field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTerms">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LineTermsDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTermsDetail">
        <xsd:annotation yfc:tableName="YFS_RESPONSE_LINE_DTL">
            <xsd:documentation>This table stores new terms of the negotiation level negotiable attributes. Its parent table is yfs_response_line.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DeliveryDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New delivery date offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New freight terms offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New item id offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_HDR_KEY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>Primary key of its negotiation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NegotiationLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NEGOTIATION_LINE_KEY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>Primary key of its negotiation line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OptionNo" type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="OPTION_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>Option number. Organization can offer multiple options for new value of a negotiable attribute. For example, option 1 can be item=item1 and option 2 can be item=item2. The other organization can accept any of the multiple options.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New price offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New product class offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New quantity offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_KEY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>Primary key of its response record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseLineDtlKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_LINE_DTL_KEY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>Primary key. A system generated number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResponseLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RESPONSE_LINE_KEY" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>Primary key of its response line record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>One up number. Negotiation_line_key, option_no and sequence_no makes a unique key. Total quantity of the negotiation line can be split into multiple offer. For example, for total quantity of 10, oraganization's offer can be quantity=8, Price=10 and quantity=2, Price=11. In this case the two records will have sequence number 1 and 2.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New ship date offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RESPONSE_LINE_DTL">
                    <xsd:documentation>New UOM offered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
