Data/xapidocs/api_javadocs/XSD/YCP_manageCommonCode_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCommonCode/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCommonCode/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageCommonCode_input.xsd" yfc:rootElement="CommonCode">
        <xsd:appinfo source="yfc:structure">
            <CommonCode hasAttributes="Y">
                <CommonCodeAttributeList hasAttributes="Y">
                    <CommonCodeAttribute hasAttributes="Y"/>
                </CommonCodeAttributeList>
                <LocalizedAttributes/>
            </CommonCode>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CommonCode" type="yfc:CommonCodeXSDType">
        <xsd:annotation yfc:tableName="YFS_COMMON_CODE">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and a record matches the criteria and CommonCodeKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>CommonCodeKey</code>  or a combination of <code>OrganizationCode</code>,  <code>DocumentType</code>, <code>CodeType</code>, <code>CodeValue</code> already exists in the database.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If the <code>HasQualifiedTag</code> flag of the corresponding Base Common Code is set to N.
					</Condition>
                        <Error
                            Description="Cannot set QualifiedTagId on Common Code record because the HasQualifiedTag flag of the corresponding Base Common Code is set to N." ErrorCode="YCP0452"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Delete</code>
                            </b> and value of <code>SystemDefinedCode</code> for the entity to be deleted is Y. 
					</Condition>
                        <Error
                            Description="Cannot Delete System Defined Common Code " ErrorCode="YCP0265"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CommonCodeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CommonCodeAttributeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocalizedAttributes"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeLength" type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="CODE_LENGTH" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The maximum length of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeLongDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="CODE_LONG_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The long description for the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeName" type="yfctype:CommonCodeName" use="optional">
            <xsd:annotation yfc:columnName="CODE_NAME" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The name of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeShortDescription"
            type="yfctype:CodeShortDescription" use="optional">
            <xsd:annotation yfc:columnName="CODE_SHORT_DESCRIPTION" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The short description of the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeSymbol" type="yfctype:Symbol" use="optional">
            <xsd:annotation yfc:columnName="CODE_SYMBOL" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The symbol for the code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeType" type="yfctype:CodeType" use="optional">
            <xsd:annotation yfc:columnName="CODE_TYPE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>If <code>Action</code> is <b>
                                    <code>Create</code>
                                </b> or <b>
                                    <code>Modify</code>
                                </b> and an invalid      <code>CodeType</code> is provided.
							</Condition>
                            <Error Description="Invalid CodeType." ErrorCode="YCP0198"/>
                        </Validation>
                        <Validation>
                            <Condition>If <code>Action</code> is <b>
                                    <code>Create</code>
                                </b> or <b>
                                    <code>Modify</code>
                                </b> and <code>CodeType</code> is not provided.
							</Condition>
                            <Error Description="YCP:Field Mandatory." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeValue" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="CODE_VALUE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The unique code value belonging to a particular code type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CommonCodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COMMON_CODE_KEY" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The primary key of the  YFS_COMMON_CODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The document type associated with this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeSpecific" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE_SPECIFIC" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>This flag indicates whether the code is specific to a document type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MeantForEnterprise" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MEANT_FOR_ENTERPRISE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>This flag indicates whether the code can be maintained by an enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MeantForInternal" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MEANT_FOR_INTERNAL" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>This flag indicates whether the code is meant for internal purposes within an application.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MeantForSupplier" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MEANT_FOR_SUPPLIER" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>This flag indicates whether the code is maintained by suppliers.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>The organization code associated with this common code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagId"
            type="yfctype:QualifiedTagId" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="YFS_COMMON_CODE">
                <xsd:documentation>Qualified Tag identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CommonCodeAttributeList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CommonCodeAttribute"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							  If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old information is removed and replaced with the new information.                
							  If <code>Reset</code> is not passed or <code>Reset</code> is passed as <b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CommonCodeAttribute">
        <xsd:annotation yfc:tableName="YFS_COMMON_CODE_ATTRIBUTE">
            <xsd:documentation>This table stores additional attributes to each common code.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CommonCodeAttributeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="COMMON_CODE_ATTRIBUTE_KEY" yfc:tableName="YFS_COMMON_CODE_ATTRIBUTE">
                    <xsd:documentation>The primary key of the  YFS_COMMON_CODE_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:AttributeName-40" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_COMMON_CODE_ATTRIBUTE">
                    <xsd:documentation>Name of the dynamic attribute</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value"
                type="yfctype:AttributeValue-100" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_COMMON_CODE_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocalizedAttributes">
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
