Data/xapidocs/api_javadocs/XSD/YCP_createAsyncRequest_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/createAsyncRequest/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/createAsyncRequest/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_createAsyncRequest_input.xsd" yfc:rootElement="CreateAsyncRequest">
        <xsd:appinfo source="yfc:structure">
            <CreateAsyncRequest>
                <API hasAttributes="Y">
                    <Input/>
                </API>
            </CreateAsyncRequest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CreateAsyncRequest" type="yfc:CreateAsyncRequestXSDType"/>
    <xsd:complexType name="CreateAsyncRequestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:API"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="API">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Input"/>
            </xsd:all>
            <xsd:attribute name="IsService" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Whether to call an API or Service.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Name of the API or Service to call.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Input">
        <xsd:annotation>
            <xsd:documentation>The Input element must contain a child element that corresponds to
	 the document element of the api input.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
