Data/xapidocs/api_javadocs/XSD/YCP_getProcessStatusList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getProcessStatusList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getProcessStatusList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getProcessStatusList_output.xsd" yfc:rootElement="ProcessStatusList">
        <xsd:appinfo source="yfc:structure">
            <ProcessStatusList>
                <ProcessStatus hasAttributes="Y">
                    <DBVerifyScriptList>
                        <DBVerifyScript hasAttributes="Y"/>
                    </DBVerifyScriptList>
                </ProcessStatus>
            </ProcessStatusList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProcessStatusList" type="yfc:ProcessStatusListXSDType"/>
    <xsd:complexType name="ProcessStatusListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ProcessStatus"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ProcessStatus">
        <xsd:annotation yfc:tableName="PLT_PROCESS_STATUS">
            <xsd:documentation>This table contains status of various processes</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DBVerifyScriptList"/>
            </xsd:sequence>
            <xsd:attribute name="ProcessData" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_DATA" yfc:tableName="PLT_PROCESS_STATUS">
                    <xsd:documentation>The data for the process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessLog" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_LOG" yfc:tableName="PLT_PROCESS_STATUS">
                    <xsd:documentation>The logs of the process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessName"
                type="yfctype:ProcessStatusName" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_NAME" yfc:tableName="PLT_PROCESS_STATUS">
                    <xsd:documentation>The name of the process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessNameDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation
                    yfc:columnName="PROCESS_NAME_DESCRIPTION" yfc:tableName="PLT_PROCESS_STATUS">
                    <xsd:documentation>The description of process name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessStatusKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_STATUS_KEY" yfc:tableName="PLT_PROCESS_STATUS">
                    <xsd:documentation>The primary key of the PLT_PROCESS_STATUS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="PLT_PROCESS_STATUS">
                    <xsd:documentation>This field indicates the status of the process status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DBVerifyScriptList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DBVerifyScript"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DBVerifyScript">
        <xsd:complexType>
            <xsd:attribute name="DBVerifyScriptKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProcessStatusKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ScriptName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ScriptType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ScriptTypeDescription"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
