Data/xapidocs/api_javadocs/XSD/YCP_deleteCalendar_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/deleteCalendar/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/deleteCalendar/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_deleteCalendar_input.xsd" yfc:rootElement="Calendar">
        <xsd:appinfo source="yfc:structure">
            <Calendar hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Calendar" type="yfc:CalendarXSDType">
        <xsd:annotation yfc:tableName="YFS_CALENDAR">
            <xsd:documentation>
                <div>
				This element stores information related to a Calendar and is mandatory. The Calendar can be created for an organization or for a ship node. The Calendar is created using the <code>createCalendar</code> API and managed using the <code>changeCalendar</code> API.<br>
				Either <code>CalendarKey</code> or both {<code>CalendarId</code> and <code>OrganizationCode</code>} should be used to identify the calendar to be deleted.</br>
                    <Validation>
                        <Condition>
						Calendar is being used by one or more Service Resources.
						</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete a Calendar that is being used by one or more Service Resources." ErrorCode="YDB71_1"/>
                    </Validation>
                    <Validation>
                        <Condition>
						Calendar is being used by one or more Resource Pools.
						</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete a Calendar that is being used by one or more Resource Pools." ErrorCode="YDB71_1"/>
                    </Validation>
                    <Validation>
                        <Condition>
						Calendar is defined as the Business Calendar for one or more Organizations.
						</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete a Calendar that is defined as the Business Calendar for one or more Organizations." ErrorCode="YDB10079"/>
                    </Validation>
                    <Validation>
                        <Condition>
						Calendar is being used as the Receiving Calendar by one or more Nodes.
						</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete a Calendar that is being used as the Receiving Calendar by one or more Nodes." ErrorCode="YDB100101"/>
                    </Validation>
                    <Validation>
                        <Condition>
						Calendar is being used as the Shipping Calendar by one or more Nodes.
						</Condition>
                        <Error
                            Description="This operation cannot be completed because it will delete a Calendar that is being used as the Shipping Calendar by one or more Nodes." ErrorCode="YDB100102"/>
                    </Validation>
                    <Validation>
                        <Condition>
						Calendar is being inherited by another calendar.
						</Condition>
                        <Error
                            Description="Cannot delete the calendar because another calendar is inheriting from it." ErrorCode="YCP75_00011"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CalendarXSDType">
        <xsd:attribute name="CalendarId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Unique key to identify a Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Primary key attribute of YFS_CALENDAR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Organization which owns the Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
