Data/xapidocs/api_javadocs/XSD/YCP_getCurrencyList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getCurrencyList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getCurrencyList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getCurrencyList_input.xsd" yfc:rootElement="Currency">
        <xsd:appinfo source="yfc:structure">
            <Currency hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Currency" type="yfc:CurrencyXSDType">
        <xsd:annotation yfc:tableName="YFS_CURRENCY">
            <xsd:documentation>Currency definitions are stored in this table.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CurrencyXSDType">
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>Alternate unique identifier for a currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CurrencyDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY_DESCRIPTION" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>Description of a currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CurrencyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY_KEY" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>Primary key attribute of YFS_CURRENCY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EuroMemberFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EURO_MEMBER_FLAG" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>Indicates if a currency is a member of the euro group of currencies.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>Till when this currency definition is valid.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PostfixSymbol" type="yfctype:Symbol" use="optional">
            <xsd:annotation yfc:columnName="POSTFIX_SYMBOL" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>The postfix symbol used for a currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrefixSymbol" type="yfctype:Symbol" use="optional">
            <xsd:annotation yfc:columnName="PREFIX_SYMBOL" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>The prefix symbol used for a currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoundingRule" type="yfctype:RoundingRule" use="optional">
            <xsd:annotation yfc:columnName="ROUNDING_RULE" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>A rule for rounding off during calculations involving a currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
