Data/xapidocs/api_javadocs/XSD/YCP_getExceptionListForOrder_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getExceptionListForOrder/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getExceptionListForOrder/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getExceptionListForOrder_output.xsd" yfc:rootElement="InboxList">
        <xsd:appinfo source="yfc:structure">
            <InboxList>
                <Inbox hasAttributes="Y">
                    <Queue hasAttributes="Y"/>
                    <User hasAttributes="Y"/>
                    <Order hasAttributes="Y">
                        <PriceInfo hasAttributes="Y"/>
                    </Order>
                    <InboxReferencesList>
                        <InboxReferences hasAttributes="Y"/>
                    </InboxReferencesList>
                    <InboxNotesList>
                        <InboxNotes hasAttributes="Y"/>
                    </InboxNotesList>
                    <InboxAuditList>
                        <InboxAudit hasAttributes="Y"/>
                    </InboxAuditList>
                </Inbox>
            </InboxList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InboxList" type="yfc:InboxListXSDType"/>
    <xsd:complexType name="InboxListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Inbox"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Inbox">
        <xsd:annotation yfc:tableName="YFS_INBOX">
            <xsd:documentation>This table stores all the exceptions raised by the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Queue"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:User"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxReferencesList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxNotesList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InboxAuditList"/>
            </xsd:all>
            <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception is active and requires resolution.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApiName" type="yfctype:ApiName-128" use="optional">
                <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Name of the api that created this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedToUserId"
                type="yfctype:LoginId" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user to whom an exception is assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedToUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The current user to which the exception is assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AutoResolvedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="AUTO_RESOLVED_FLAG" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception was resolved automatically due to some other event.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Indicates a customer associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ClosedOn" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CLOSED_ON" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which the exception was closed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsolidationCount"
                type="yfctype:PositiveShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="CONSOLIDATION_COUNT" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The number of exceptions that this record represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The description of the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DetailDescription"
                type="yfctype:DetailDescription" use="optional">
                <xsd:annotation yfc:columnName="DETAIL_DESCRIPTION" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The detailed description of an exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The enterprise associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorReason" type="yfctype:ErrorReason" use="optional">
                <xsd:annotation yfc:columnName="ERROR_REASON" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Error code or reason related to this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorType" type="yfctype:ErrorType" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TYPE" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Type of error this exception record represents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionEscalatedFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="EXCEPTION_ESCALATED_FLAG" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether an exception was escalated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionType"
                type="yfctype:ExceptionType-40" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The type of exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpirationDays"
                type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="EXPIRATION_DAYS" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Number of days of no activity after which this exception may be automatically closed. A value of zero means the exception will not expire.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
                <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The service associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FollowupDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FOLLOWUP_DATE" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which the exception should be followed up next.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GeneratedOn" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="GENERATED_ON" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date and time on which the exception was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The primary key for the YFS_INBOX table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxType" type="yfctype:InboxType" use="optional">
                <xsd:annotation yfc:columnName="INBOX_TYPE" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The inbox type. The grouping associated with an inbox.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The identifier for the item associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastExceedAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_EXCEED_ALERT" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception was escalated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastOccurredOn"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_OCCURRED_ON" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The most recent time this exception was generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastUnassignAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_UNASSIGN_ALERT" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date when the last alert for 'unassignment' was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastUnresolveAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_UNRESOLVE_ALERT" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date when the last 'unresolved' alert was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListDescription"
                type="yfctype:InboxDescription" use="optional">
                <xsd:annotation yfc:columnName="LIST_DESCRIPTION" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The description of an inbox.  This will be shown on application console home page and alert list view.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The load number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedByUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_BY_USER_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The user who has been assigned to the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_FLAG" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This flag indicates whether the exception is locked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LockedOn" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOCKED_ON" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which an exception was assigned to a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order line associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The order number associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The organization which owns the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentInboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_INBOX_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The parent inbox associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The priority of the exception. A lower number means a higher priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The queue ID for which the exception is assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The queue to which an exception belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolutionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RESOLUTION_DATE" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date on which the exception was resolved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResolveBy" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RESOLVE_BY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The date by which the exception should be resolved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The shipment number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The shipnode where the exception was raised.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:EnumStatus3" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The status of the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
                <xsd:annotation yfc:columnName="SUB_FLOW_NAME" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The sub flow or RuntimeID associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplierKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SUPPLIER_KEY" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The supplier code associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>Indicates a team associated with the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ViewId" type="yfctype:ViewId" use="optional">
                <xsd:annotation yfc:columnName="VIEW_ID" yfc:tableName="YFS_INBOX">
                    <xsd:documentation>The view identifier associated with this exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Queue">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuditThisQueue" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_THIS_QUEUE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>'Y' if assignments needs to be audited</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursAssignExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_ASSIGN_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not assigned within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_ASSIGN_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unassign alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignment"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_ASSIGNMENT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue must be assigned within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForExceedRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_EXCEED_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which a re-alert should be raised for queue overflows</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolution"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_RESOLUTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue should be resolved within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolveRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_RESOLVE_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unresolved alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursResolveExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_RESOLVE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not resolved within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastQueueExceedAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_QUEUE_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Date when last overflow exception was raised for the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumActiveSize"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MAXIMUM_ACTIVE_SIZE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Maximum # of active exceptions that can be posted in the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumSizeExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MAXIMUM_SIZE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be performed if the active exceptions exceed the limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Organization code that owns the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Not used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue priority</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForAssignAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_ASSIGN_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unassignment exception should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForExceedAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which overflow exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForResolveAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_RESOLVE_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unresolve exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_DESCRIPTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Description of a Queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueGroup" type="yfctype:QueueGroupId" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_GROUP" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Group id. Can be used for better organization of queues</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Unique id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Primary key attribute of YFS_QUEUE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueName" type="yfctype:QueueName" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_NAME" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Name for queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Activateflag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATEFLAG" yfc:tableName="YFS_USER">
                    <xsd:documentation>This flag indicates whether a user is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillingaddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILLINGADDRESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The billing address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BusinessKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUSINESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The business associated with this user. Identifies a ship node when filled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactaddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACTADDRESS_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The contact address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreatorOrganizationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization that created the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Imagefile" type="yfctype:FileName" use="optional">
                <xsd:annotation yfc:columnName="IMAGEFILE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The image associated with a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_USER">
                    <xsd:documentation>The locale of a user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The login ID for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Longdesc"
                type="yfctype:Description-255" use="optional">
                <xsd:annotation yfc:columnName="LONGDESC" yfc:tableName="YFS_USER">
                    <xsd:documentation>The long description for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MenuId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="MENU_ID" yfc:tableName="YFS_USER">
                    <xsd:documentation>The menu ID associated with the user. This is used to display the menus in various applications to which this user has access.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NOTE_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>A generic note for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The organization to which a user belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_USER_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The parent user associated with this user. May be used to capture reporting hierarchy. A user has only one parent but may have many children.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Password" type="yfctype:Password" use="optional">
                <xsd:annotation yfc:columnName="PASSWORD" yfc:tableName="YFS_USER">
                    <xsd:documentation>The password for the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PREFERENCE_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Pwdlastchangedon"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="PWDLASTCHANGEDON" yfc:tableName="YFS_USER">
                    <xsd:documentation>The last date on which the user's password was changed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USER_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The primary key for the YFS_USER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_KEY" yfc:tableName="YFS_USER">
                    <xsd:documentation>The user group associated with this user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Usertype" type="yfctype:EnumUserType" use="optional">
                <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                    <xsd:documentation>This field indicates the user type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceInfo"/>
            </xsd:all>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The buyer organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The carrier service code for this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentStatus"
                type="yfctype:VarcharShortStatus" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_STATUS" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The information about the payment status of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReqDeliveryDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_DELIVERY_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The requested delivery date. This date is stamped on order lines (as requested delivery date) during order creation if no requested delivery date was passed at the order line level.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ScacAndService" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndServiceDesc"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_DESC" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Description of the service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The seller organization that is associated with this order. This must be a valid organization defined in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The currency code in which this order is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The grand total for the order. Includes all line charges and taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxReferencesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxReferences"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxReferences">
        <xsd:annotation yfc:tableName="YFS_INBOX_REFERENCES">
            <xsd:documentation>Dynamic references can be stored with an exception. This table stores references attached with an exception</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>The inbox exception to which a particular reference is maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_REFERENCE_KEY" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Primary key attribute of YFS_INBOX_REFERENCES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:ReferenceName" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Name of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceType"
                type="yfctype:ReferenceType" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Type of reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value"
                type="yfctype:ReferenceValue-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_INBOX_REFERENCES">
                    <xsd:documentation>Value for the reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxNotesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxNotes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxNotes">
        <xsd:annotation yfc:tableName="YFS_INBOX_NOTES">
            <xsd:documentation>This table provides the capability to add notes to an alert</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuditTransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditTransactionIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactReference"
                type="yfctype:NotesContactReference" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_REFERENCE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone number can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactReferenceQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_USER"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The user who made the contact. The default value is the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactUserQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromAuditTransactionId"
                type="yfctype:TransactionID" use="optional"/>
            <xsd:attribute name="FromContactReference"
                type="yfctype:NotesContactReference" use="optional"/>
            <xsd:attribute name="FromContactType"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="FromContactUser" type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="FromInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromInboxNotesKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromNoteText" type="yfctype:NoteText" use="optional"/>
            <xsd:attribute name="FromReasonCode"
                type="yfctype:ReasonCode" use="optional"/>
            <xsd:attribute name="FromSequenceNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromTranid" type="yfctype:TranId" use="optional"/>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Link to the parent alert on which notes are to be added.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="InboxNotesKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_NOTES_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The primary key for the YFS_INBOX_NOTES table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxNotesKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TEXT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteTextQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNoQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ToAuditTransactionId"
                type="yfctype:TransactionID" use="optional"/>
            <xsd:attribute name="ToContactReference"
                type="yfctype:NotesContactReference" use="optional"/>
            <xsd:attribute name="ToContactType"
                type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="ToContactUser" type="yfctype:UserId" use="optional"/>
            <xsd:attribute name="ToInboxKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToInboxNotesKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToNoteText" type="yfctype:NoteText" use="optional"/>
            <xsd:attribute name="ToReasonCode" type="yfctype:ReasonCode" use="optional"/>
            <xsd:attribute name="ToSequenceNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToTranid" type="yfctype:TranId" use="optional"/>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_INBOX_NOTES">
                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranidQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxAuditList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InboxAudit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InboxAudit">
        <xsd:annotation yfc:tableName="YFS_INBOX_AUDIT">
            <xsd:documentation>Stores audit information for exceptions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssignedToUserId"
                type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>Current user id to which exception is assigned</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromQueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Previous Queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromQueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was removed from this queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromQueueOwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Previous Queue's Owner</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromStatus" type="yfctype:Status-24" use="optional">
                <xsd:annotation yfc:columnName="FROM_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was moved from this Status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromUserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>Previous User</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>User who was removed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxAuditKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_AUDIT_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Primary key attribute of YFS_INBOX_AUDIT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InboxKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INBOX_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>The associated inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Organization which is the owner of an exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Reason for modification of state of an inbox exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToQueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>A new queue to which the inbox exception was moved</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToQueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_QUEUE_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was assigned to this queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToQueueOwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>New Queue's Owner</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToStatus" type="yfctype:Status-24" use="optional">
                <xsd:annotation yfc:columnName="TO_STATUS" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Was moved to this Status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToUserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="LOGINID" yfc:tableName="YFS_USER">
                    <xsd:documentation>New User</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_USER_KEY" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>User who was assigned the exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionType"
                type="yfctype:TransactionType-20" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_TYPE" yfc:tableName="YFS_INBOX_AUDIT">
                    <xsd:documentation>Nature of transactions performed so far on an exception. ( CREATED, CREATED_ASSIGNED,ASSIGNED,UNASSIGNED,REASSIGNED,RESOLVED_SYSTEM, RESOLVED_USER are valid transaction types. )</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
