Data/xapidocs/api_javadocs/XSD/YCP_getExceptionTypeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getExceptionTypeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getExceptionTypeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getExceptionTypeList_input.xsd" yfc:rootElement="ExceptionType">
        <xsd:appinfo source="yfc:structure">
            <ExceptionType hasAttributes="Y">
                <Queue hasAttributes="Y"/>
            </ExceptionType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExceptionType" type="yfc:ExceptionTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_EXCEPTION_TYPE">
            <xsd:documentation>This table houses all information about a particular inbox type</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ExceptionTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Queue"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If CallingOrganizationCode is passed, then it will
				be used as the context organization. This, combined
				with the configuration data setup for exception types,
				will result in a list filtered for access by the given organization.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigForm" type="yfctype:Form-255" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_FORM"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>This is a Configuation Form. Additional SCV attributes are maintained in a separate form. This field lets PCAs configure a separate config form.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigFormQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ConsolidationHook" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_HOOK"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Consolidation hook implementation class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationHookQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ConsolidationRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_REQUIRED"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Specifies if consolidation is required for this exception type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationRequiredQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ConsolidationWindow"
            type="yfctype:EnumConsolidationWindow" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_WINDOW"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The consolidation window to be used for consolidation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationWindowQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-50" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The exception type. The grouping associated with an exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeDescription"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE_DESCRIPTION"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>A detailed description of the Alert Type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeDescriptionQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Primary key attribute of YFS_EXCEPTION_TYPE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExpirationDays"
            type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DAYS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The number of days in which this alert will expire</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDaysQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="FollowUpHours"
            type="yfctype:ExecutionDuration" use="optional">
            <xsd:annotation yfc:columnName="FOLLOW_UP_HOURS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The number of hours in which alerts of this type should be followed up in</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FollowUpHoursQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="FromConfigForm" type="yfctype:Form-255" use="optional"/>
        <xsd:attribute name="FromConsolidationHook"
            type="yfctype:JavaClass" use="optional"/>
        <xsd:attribute name="FromConsolidationRequired"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromConsolidationWindow"
            type="yfctype:EnumConsolidationWindow" use="optional"/>
        <xsd:attribute name="FromExceptionType"
            type="yfctype:ExceptionType-50" use="optional"/>
        <xsd:attribute name="FromExceptionTypeDescription"
            type="yfctype:Description-255" use="optional"/>
        <xsd:attribute name="FromExceptionTypeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromExpirationDays"
            type="yfctype:ShorterNumber" use="optional"/>
        <xsd:attribute name="FromFollowUpHours"
            type="yfctype:ExecutionDuration" use="optional"/>
        <xsd:attribute name="FromHighPriorityThreshold"
            type="yfctype:PriorityWithDecimal" use="optional"/>
        <xsd:attribute name="FromIsConfigurable" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="FromPriority"
            type="yfctype:PriorityWithDecimal" use="optional"/>
        <xsd:attribute name="FromQueueId" type="yfctype:AlertQueueId" use="optional"/>
        <xsd:attribute name="FromQueueOwnerKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromResolutionForm" type="yfctype:Form-255" use="optional"/>
        <xsd:attribute name="FromResolutionHook"
            type="yfctype:JavaClass" use="optional"/>
        <xsd:attribute name="HighPriorityThreshold"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="HIGH_PRIORITY_THRESHOLD"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Any exception with priority higher than this number is considered high.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HighPriorityThresholdQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="IsConfigurable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_CONFIGURABLE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Only certain exception type have additional configuration (maintained by SCV config). This field indicates if this exception type supports additional configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsConfigurableQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ListForm" type="yfctype:Form-255" use="optional">
            <xsd:annotation yfc:columnName="LIST_FORM" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>List form for listing the exceptions for an exception type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The Organization to which this exception type belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Priority for alerts of this type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriorityQryType"
            type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="QueueId" type="yfctype:AlertQueueId" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The queue id into which alerts of this type will be put if not specified in the creation of the alert</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueIdQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="QueueOwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_OWNER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Owner key of the queue assigned</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueOwnerKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ResolutionForm" type="yfctype:Form-255" use="optional">
            <xsd:annotation yfc:columnName="RESOLUTION_FORM"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Contains information about the form to be launched to resolve this type of error</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolutionFormQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ResolutionHook" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="RESOLUTION_HOOK"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Resolution hook implementation class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolutionHookQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToConfigForm" type="yfctype:Form-255" use="optional"/>
        <xsd:attribute name="ToConsolidationHook"
            type="yfctype:JavaClass" use="optional"/>
        <xsd:attribute name="ToConsolidationRequired"
            type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToConsolidationWindow"
            type="yfctype:EnumConsolidationWindow" use="optional"/>
        <xsd:attribute name="ToExceptionType"
            type="yfctype:ExceptionType-50" use="optional"/>
        <xsd:attribute name="ToExceptionTypeDescription"
            type="yfctype:Description-255" use="optional"/>
        <xsd:attribute name="ToExceptionTypeKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToExpirationDays"
            type="yfctype:ShorterNumber" use="optional"/>
        <xsd:attribute name="ToFollowUpHours"
            type="yfctype:ExecutionDuration" use="optional"/>
        <xsd:attribute name="ToHighPriorityThreshold"
            type="yfctype:PriorityWithDecimal" use="optional"/>
        <xsd:attribute name="ToIsConfigurable" type="yfctype:Flag" use="optional"/>
        <xsd:attribute name="ToPriority"
            type="yfctype:PriorityWithDecimal" use="optional"/>
        <xsd:attribute name="ToQueueId" type="yfctype:AlertQueueId" use="optional"/>
        <xsd:attribute name="ToQueueOwnerKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToResolutionForm" type="yfctype:Form-255" use="optional"/>
        <xsd:attribute name="ToResolutionHook" type="yfctype:JavaClass" use="optional"/>
    </xsd:complexType>
    <xsd:element name="Queue">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="QueueGroup" type="yfctype:QueueGroupId" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_GROUP" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Group id. Can be used for better organization of queues</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
