Data/xapidocs/api_javadocs/XSD/YCP_manageTaskQueue_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageTaskQueue/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageTaskQueue/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageTaskQueue_output.xsd" yfc:rootElement="TaskQueue">
        <xsd:appinfo source="yfc:structure">
            <TaskQueue hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TaskQueue" type="yfc:TaskQueueXSDType">
        <xsd:annotation yfc:tableName="YFS_TASK_Q">
            <xsd:documentation>This table stores tasks that need to be performed by various time triggered transactions. These tasks are created as a result of documents reaching a certain status within a process model.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TaskQueueXSDType">
        <xsd:attribute name="AvailableDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="AVAILABLE_DATE" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>The date when tasks are ready to be processed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATA_KEY" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>The document identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataType" type="yfctype:DocumentEntityType" use="optional">
            <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>The type of document or entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>This flag denotes if task queue record can be processed by the associated transaction. The default value is 'N'. If this flag is 'Y' then the transaction will not process the record until it changes to 'N'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskQKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_Q_KEY" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>The primary key of the YFS_TASK_Q.table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_KEY" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>The transaction that should be activated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
