Data/xapidocs/api_javadocs/XSD/YCP_getApiTemplateList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getApiTemplateList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getApiTemplateList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getApiTemplateList_input.xsd" yfc:rootElement="ApiTemplate">
        <xsd:appinfo source="yfc:structure">
            <ApiTemplate hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ApiTemplate" type="yfc:ApiTemplateXSDType">
        <xsd:annotation yfc:tableName="PLT_API_TEMPLATE">
            <xsd:documentation>This table stores API templates</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ApiTemplateXSDType">
        <xsd:attribute name="ApiName" type="yfctype:ApiName-128" use="optional">
            <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="PLT_API_TEMPLATE">
                <xsd:documentation>Name of the API or Resource, depending on the template type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApiTemplateKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="API_TEMPLATE_KEY" yfc:tableName="PLT_API_TEMPLATE">
                <xsd:documentation>The primary key of the PLT_API_TEMPLATE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_API_TEMPLATE">
                <xsd:documentation>The description of the template</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_API_TEMPLATE">
                <xsd:documentation>The organization code associated with this template</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateId" type="yfctype:TemplateId" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_ID" yfc:tableName="PLT_API_TEMPLATE">
                <xsd:documentation>Identifier for the template within an organization when given a type and name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TemplateType"
            type="yfctype:TemplateTypeEnum" use="optional">
            <xsd:annotation yfc:columnName="TEMPLATE_TYPE" yfc:tableName="PLT_API_TEMPLATE">
                <xsd:documentation>Type of the template</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
