Data/xapidocs/api_javadocs/XSD/YCP_registerLogin_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/registerLogin/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/registerLogin/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_registerLogin_input.xsd" yfc:rootElement="registerLogin">
        <xsd:appinfo source="yfc:structure">
            <registerLogin hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="registerLogin" type="yfc:registerLoginXSDType">
        <xsd:annotation yfc:tableName="YFS_USER_ACTIVITY">
            <xsd:documentation>All users in the system are maintained here.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="registerLoginXSDType">
        <xsd:attribute name="SessionId" type="yfctype:SessionId" use="optional">
            <xsd:annotation yfc:columnName="SESSION_ID" yfc:tableName="YFS_USER_ACTIVITY">
                <xsd:documentation>The identifier for the session used by the user. A session is a series of interactions between two communication end points that occur during the span of a single connection.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_USER_ACTIVITY">
                <xsd:documentation>The login id of a user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
