Data/xapidocs/api_javadocs/XSD/YCP_modifySavedSearch_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/modifySavedSearch/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/modifySavedSearch/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_modifySavedSearch_input.xsd" yfc:rootElement="SavedSearch">
        <xsd:appinfo source="yfc:structure">
            <SavedSearch hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SavedSearch" type="yfc:SavedSearchXSDType">
        <xsd:annotation yfc:tableName="YFS_SAVED_SEARCH">
            <xsd:documentation>
                <div>
			Pass either the <code>SavedSearchKey</code> or the combination of <code>Loginid</code>, <code>SearchContext</code> and <code>SearchName</code> to identify the <code>SavedSearch</code>. If the <code>SavedSearchKey</code> is passed, other attributes are not used for lookup. 
			<br/>If an attribute is passed as blank, the value is set to blank only if blank is an allowed value.
			<Validation>
                        <Condition>No <code>SavedSearch</code> found based on input criteria.
				</Condition>
                        <Error
                            Description="Record does not exist in the database" ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>Pass a value which is different than the existing value for any of the following: <code>SavedSearchKey</code>, <code>Loginid</code>, <code>SearchContext</code>, or <code>SearchName</code>.
				</Condition>
                        <Error
                            Description="YFS: Key Fields can not be modified" ErrorCode="YFS10415"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SavedSearchXSDType">
        <xsd:attribute name="ApplicationCode"
            type="yfctype:ApplicationCode" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>Application code for storing application specific saved searches</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Loginid" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="LOGINID"
                yfc:isConditional="Y" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>Loginid of the user for whom a named search is stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewSearchName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The new name for a saved search that has an existing SearchName.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SavedSearchKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SAVED_SEARCH_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>Primary key attribute of YFS_SAVED_SEARCH.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchContext" type="yfctype:SearchContext" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_CONTEXT"
                yfc:isConditional="Y" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>The context within which this search is applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchData" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_DATA" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>Stores information with which a particular search may be constructed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchName" type="yfctype:SearchName" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_NAME"
                yfc:isConditional="Y" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>The name or reference that may be associated with a search.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SearchViewId" type="yfctype:ViewId" use="optional">
            <xsd:annotation yfc:columnName="SEARCH_VIEW_ID" yfc:tableName="YFS_SAVED_SEARCH">
                <xsd:documentation>An Identifier identifies the view associated with a search.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
