Data/xapidocs/api_javadocs/XSD/YCP_getOrderLineTypeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getOrderLineTypeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getOrderLineTypeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getOrderLineTypeList_input.xsd" yfc:rootElement="OrderLineType">
        <xsd:appinfo source="yfc:structure">
            <OrderLineType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderLineType" type="yfc:OrderLineTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE_TYPE">
            <xsd:documentation>OrderLines can be classified into various line types. This table is a configuration table which controls behaviour of all system transactions for a given type of order line.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderLineTypeXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="CreditBasedOnInspection"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CREDIT_BASED_ON_INSPECTION" yfc:tableName="YFS_ORDER_LINE_TYPE">
                <xsd:documentation>Application only for return documents. Indicates if credit may be provided only after inspection.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_LINE_TYPE">
                <xsd:documentation>Document type associated with an order line type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryMaintained" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_MAINTAINED" yfc:tableName="YFS_ORDER_LINE_TYPE">
                <xsd:documentation>Indicates if inventory is maintained for order lines of this line type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineType" type="yfctype:LineType" use="optional">
            <xsd:annotation yfc:columnName="LINE_TYPE" yfc:tableName="YFS_ORDER_LINE_TYPE">
                <xsd:documentation>A code used in identification on a line type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineTypeDesc" type="yfctype:FreeText-40" use="optional">
            <xsd:annotation yfc:columnName="LINE_TYPE_DESC" yfc:tableName="YFS_ORDER_LINE_TYPE">
                <xsd:documentation>Description for an order line type code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_TYPE_KEY" yfc:tableName="YFS_ORDER_LINE_TYPE">
                <xsd:documentation>Primary key that identifies an order line type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_LINE_TYPE">
                <xsd:documentation>Organization Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverReceiptPercentage"
            type="yfctype:BigPercentage" use="optional">
            <xsd:annotation yfc:columnName="OVER_RECEIPT_PERCENTAGE" yfc:tableName="YFS_ORDER_LINE_TYPE">
                <xsd:documentation>Specifies percentage in excess of line quantity that may be received for lines of this type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
