Data/xapidocs/api_javadocs/XSD/YCP_getInventoryDemandTypeList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getInventoryDemandTypeList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getInventoryDemandTypeList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getInventoryDemandTypeList_output.xsd" yfc:rootElement="InventoryDemandTypeList">
        <xsd:appinfo source="yfc:structure">
            <InventoryDemandTypeList>
                <InventoryDemandType hasAttributes="Y"/>
            </InventoryDemandTypeList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryDemandTypeList" type="yfc:InventoryDemandTypeListXSDType"/>
    <xsd:complexType name="InventoryDemandTypeListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InventoryDemandType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InventoryDemandType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
            <xsd:documentation>This table stores valid demand types for the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllocatedDemand" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOCATED_DEMAND" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>Indicates if this demand type is used for allocated demands.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>A Demand type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryDemandTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_DEMAND_TYPE_KEY" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>Primary key of inventory demand type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>Priority associatied with a demand type.  Valid values are 1, 2, and 3.  Value 1 represents the highest priority demand type and value 3 represents the lowest priority demand type.  Demands will be allocated to the supplies in the order of their demand type priorities.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PromisedDemand" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PROMISED_DEMAND" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>Indicates if a demand type is used for promised demands.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
