Data/xapidocs/api_javadocs/XSD/YCP_manageAuthQuestion_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageAuthQuestion/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageAuthQuestion/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageAuthQuestion_output.xsd" yfc:rootElement="AuthQuestion">
        <xsd:appinfo source="yfc:structure">
            <AuthQuestion hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AuthQuestion" type="yfc:AuthQuestionXSDType">
        <xsd:annotation yfc:tableName="PLT_AUTH_QUESTION">
            <xsd:documentation>The table is used for storing questions for user authentication.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AuthQuestionXSDType">
        <xsd:attribute name="AuthQuestionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="AUTH_QUESTION_KEY" yfc:tableName="PLT_AUTH_QUESTION">
                <xsd:documentation>Primary key attribute of PLT_AUTH_QUESTION.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_AUTH_QUESTION">
                <xsd:documentation>The Organization to which the question belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuestionText" type="yfctype:Question" use="optional">
            <xsd:annotation yfc:columnName="QUESTION_TEXT" yfc:tableName="PLT_AUTH_QUESTION">
                <xsd:documentation>Question</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Sequence" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE" yfc:tableName="PLT_AUTH_QUESTION">
                <xsd:documentation>The sequence in which questions are returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
