Data/xapidocs/api_javadocs/XSD/YCP_manageTeam_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageTeam/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageTeam/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageTeam_input.xsd" yfc:rootElement="Team">
        <xsd:appinfo source="yfc:structure">
            <Team hasAttributes="Y">
                <TeamEnterpriseList>
                    <TeamEnterprise hasAttributes="Y"/>
                </TeamEnterpriseList>
                <TeamDocTypeList>
                    <TeamDocType hasAttributes="Y"/>
                </TeamDocTypeList>
                <TeamNodesList>
                    <TeamNodes hasAttributes="Y"/>
                </TeamNodesList>
                <SubTeamList>
                    <SubTeam hasAttributes="Y"/>
                </SubTeamList>
            </Team>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Team" type="yfc:TeamXSDType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>
                <div>
				Teams that are used to control end-user access to data elements are stored here.  Identify <code>Team</code> to be created, modified or deleted.  <code>TeamKey</code> or a combination of  <code>TeamId</code> and <code>OrganizationCode</code> attributes can be used to identify a <code>Team</code>.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="TeamXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TeamEnterpriseList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TeamDocTypeList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TeamNodesList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubTeamList"/>
        </xsd:all>
        <xsd:attribute name="CustomerAccessMode"
            type="yfctype:CustomerAccessMode" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Customer. Indicates if the team can access all customer data (01), only specified customers (02) assigned to the team, or only specified customers assigned directly to the user, regardless of the Enterprise's manual assignment rule (03). Default Value is 01.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>The description of the Team record.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeAccessMode"
            type="yfctype:DocumentTypeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Document Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseAccessMode"
            type="yfctype:EnterpriseAccessMode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					   This attribute specifies the kind of operation to be done.  
			<br/>Valid Values: 
				<br/>
                        <b>
                            <code>Create</code>
                        </b> - To create a <code>Team</code>
                        <br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
				<br/>
                        <b>
                            <code>Delete</code>
                        </b> - To delete a  <code>Team</code>
                        <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
					The Organization that created this team.
						<Validation>
                            <Condition>Mandatory if creating a Data Security Group.</Condition>
                            <Error
                                Description="Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>Must be a valid organization in the <code>YFS_ORGANIZATION</code> table.
					</Condition>
                            <Error
                                Description="Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentTeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
				Refers to the DataSecurityGroupKey of the parent group.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeAccessMode"
            type="yfctype:ShipNodeAccessMode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamId" type="yfctype:DataSecurityGroupId" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
					The unique identifier for a team.
						<Validation>
                            <Condition>Mandatory if creating a new Team.</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                <xsd:documentation>
                    <div>
						The primary key attribute for the
						YFS_DATA_SECURITY_GROUP table.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TeamEnterpriseList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TeamEnterprise"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamEnterprise">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
            <xsd:documentation>
                <div>
				This tables stores the enterprises that are accessible to users associated to this team.  Identify <code>TeamEnterprise</code> to be created/modified/deleted for a team type.  <code>TeamEnterpriseKey</code> or  <code>EnterpriseOrgCode</code> can be used to identify a <code>TeamEnterprise</code>. <code>EnterpriseOrgCode</code> is mandatory when <code>Operation</code> is Create.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="EnterpriseOrgCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_ORG_CODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>
                        <div>
					Organization code of the enterprise to which data access has been granted.
						<Validation>
                                <Condition>Mandatory if creating a Team Enterprise.</Condition>
                                <Error
                                    Description="Invalid organization code." ErrorCode="YFS10395"/>
                            </Validation>
                            <Validation>
                                <Condition>Must be a valid organization in the <code>YFS_ORGANIZATION</code> table.
					</Condition>
                                <Error
                                    Description="Invalid organization code." ErrorCode="YFS10395"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					   This attribute specifies the kind of operation to be done.  
			<br/>Valid Values: 
				<br/>
                            <b>
                                <code>Create</code>
                            </b> - To associate a transaction to <code>Team</code>
                            <br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
				<br/>
                            <b>
                                <code>Delete</code>
                            </b> - To de-associate a transaction to <code>Team</code>
                            <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamEnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DATA_SECURITY_ENTERPRISE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                    <xsd:documentation>Primary key attribute of
				YFS_DATA_SECURITY_ENTERPRISE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamDocTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TeamDocType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamDocType">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
            <xsd:documentation>
                <div>
				This table stores the document types (by application) that are accessible by users associated to the team.  Identity TeamDocType type to be created/modified/deleted for data security group type.  <code>TeamDocTypeKey</code> is mandatory when <code>Operation</code> is Modify or Delete. 
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplicationCode"
                type="yfctype:ModuleId" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Application code for the document type that this data security group has access to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>Document Type that this data security group has access to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModuleCode"
                type="yfctype:ActivityGroup" use="optional">
                <xsd:annotation yfc:columnName="MODULE_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>
                        <div>
								Module code for the document type that this team has access to.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					   This attribute specifies the kind of operation to be done.  
			<br/>Valid Values: 
				<br/>
                            <b>
                                <code>Create</code>
                            </b> - To associate a modification type to <code>Team</code>
                            <br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
				<br/>
                            <b>
                                <code>Delete</code>
                            </b> - To de-associate a modification type to <code>Team</code>
                            <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamDocTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DATA_SECURITY_DOC_TYPE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                    <xsd:documentation>
                        <div>
								The primary key attribute for the
								YFS_DATA_SECURITY_DOC_TYPE table.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamNodesList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TeamNodes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TeamNodes">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_NODES">
            <xsd:documentation>
                <div>
				Team nodes that are used to control end-user access to data elements are stored here.  Identify <code>TeamNodes</code> to be created/modified/deleted for a data security group type.  <code>TeamNodeKey</code> or  <code>ShipnodeKey</code> can be used to identify a <code>TeamNodes</code>. <code>ShipnodeKey</code> is mandatory when <code>Operation</code> is Create.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					   This attribute specifies the kind of operation to be done.  
			<br/>Valid Values: 
				<br/>
                            <b>
                                <code>Create</code>
                            </b> - To associate a transaction to <code>Team</code>
                            <br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
				<br/>
                            <b>
                                <code>Delete</code>
                            </b> - To de-associate a transaction to <code>Team</code>
                            <br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_NODES">
                    <xsd:documentation>
                        <div>
					The primary key for the YFS_SHIP_NODE table.
						<Validation>
                                <Condition>Mandatory if creating a team node.</Condition>
                                <Error Description="Invalid ship node." ErrorCode="YFS10048"/>
                            </Validation>
                            <Validation>
                                <Condition>Must be a valid ship node in the <code>YFS_SHIP_NODE</code> table.
					</Condition>
                                <Error Description="Invalid ship node.." ErrorCode="YFS10048"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamNodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_NODE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_DATA_SECURITY_NODES">
                    <xsd:documentation>
                        <div>
						The primary key for the YFS_DATA_SECURITY_NODES table.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubTeamList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubTeam"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubTeam">
        <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
            <xsd:documentation>
                <div>
				Teams that are used to control end-user access to data elements are stored here.  Identify <code>Team</code> to be created, modified or deleted.  <code>TeamKey</code> or a combination of  <code>TeamId</code> and <code>OrganizationCode</code> attributes can be used to identify a <code>Team</code>.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>
                        <div>The description of the Team record.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeAccessMode"
                type="yfctype:DocumentTypeAccessMode" use="optional">
                <xsd:annotation
                    yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Document Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseAccessMode"
                type="yfctype:EnterpriseAccessMode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>
                        <div>
					The Organization that created this team.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentTeamKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>
                        <div>
				Refers to the DataSecurityGroupKey of the parent group.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeAccessMode"
                type="yfctype:ShipNodeAccessMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamId"
                type="yfctype:DataSecurityGroupId" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>
                        <div>
					The unique identifier for a team.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>
                        <div>
						The primary key attribute for the
						YFS_DATA_SECURITY_GROUP table.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
