Data/xapidocs/api_javadocs/XSD/YCP_manageCustomerAssignment_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCustomerAssignment/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCustomerAssignment/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageCustomerAssignment_output.xsd" yfc:rootElement="CustomerAssignment">
        <xsd:appinfo source="yfc:structure">
            <CustomerAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CustomerAssignment" type="yfc:CustomerAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
            <xsd:documentation>
                <div>
				Specify assignments of  <code>Team</code> to <code>Customer</code> or a combination of <code>Team</code> and <code>Customer</code> and <code>User</code>. 
				<code>Team</code> is a manadatory attribute. 
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CustomerAssignmentXSDType">
        <xsd:attribute name="AssignmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNMENT_TYPE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				The assignment type for the customer assignment.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerAssignmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ASSIGNMENT_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>Primary key attribute of YFS_CUSTOMER_ASSIGNMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				Unique identifier for the customer.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerOrganizationCode"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Organization code of organization that defines the Customer. If CustomerID is passed then a valid CustomerOrganizationCode has to be passed. If <code>CustomerOrganizationCode</code> is not passed, then the <code>OrganizationCode</code> of the Team or the CustomerMasterOrg of the Team's Organization must define the Customer.
				<Validation>
                            <Condition>
                                <code>CustomerOrganizationCode</code> passed is wrong.
					</Condition>
                            <Error Description="Invalid Organization" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				Organization code of organization that defines this Team or User. Both the Team and User could belong to same organization or to diffrent organizations. If Team and User belong to different organizations, then the <code>OrganizationCode</code> should be the organization of the Team but within the same organization hierarchy of the User's organization. If <code>TeamCode</code> is passed then a valid OrganizationCode has to be passed. When assigning Buyer user to a Customer, this attribute should correspond to the Organization Code of the Buyer User's Organization.				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TEAM_KEY" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
					Primary key for the YFS_DATA_SECURITY_GROUP table.  
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_CUSTOMER_ASSIGNMENT">
                <xsd:documentation>
                    <div>
				Identifier for a user that manages the customer.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
