Data/xapidocs/api_javadocs/XSD/YCP_getColonyPoolList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getColonyPoolList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getColonyPoolList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getColonyPoolList_output.xsd" yfc:rootElement="ColonyPoolList">
        <xsd:appinfo source="yfc:structure">
            <ColonyPoolList>
                <ColonyPool hasAttributes="Y"/>
            </ColonyPoolList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ColonyPoolList" type="yfc:ColonyPoolListXSDType"/>
    <xsd:complexType name="ColonyPoolListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ColonyPool"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ColonyPool">
        <xsd:annotation yfc:tableName="PLT_DB_COLONY_POOL">
            <xsd:documentation>This table maps a shard and table type combination for a colony.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ColonyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COLONY_KEY" yfc:tableName="PLT_DB_COLONY_POOL">
                    <xsd:documentation>Colony that contains this mapping.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DbColonyPoolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DB_COLONY_POOL_KEY" yfc:tableName="PLT_DB_COLONY_POOL">
                    <xsd:documentation>Primary key attribute of PLT_DB_COLONY_POOL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PoolId" type="yfctype:DatabasePoolId" use="optional">
                <xsd:annotation yfc:columnName="POOL_ID" yfc:tableName="PLT_DB_COLONY_POOL">
                    <xsd:documentation>Shard connection to use for this mapping.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableType" type="yfctype:TableType" use="optional">
                <xsd:annotation yfc:columnName="TABLE_TYPE" yfc:tableName="PLT_DB_COLONY_POOL">
                    <xsd:documentation>Type of table for this mapping.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
