Data/xapidocs/api_javadocs/XSD/YCP_getProductivitySummary_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getProductivitySummary/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getProductivitySummary/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getProductivitySummary_output.xsd" yfc:rootElement="ProductivitySummary">
        <xsd:appinfo source="yfc:structure">
            <ProductivitySummary hasAttributes="Y">
                <ProductivityType hasAttributes="Y">
                    <UserList>
                        <User hasAttributes="Y"/>
                    </UserList>
                </ProductivityType>
            </ProductivitySummary>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProductivitySummary" type="yfc:ProductivitySummaryXSDType"/>
    <xsd:complexType name="ProductivitySummaryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ProductivityType"/>
        </xsd:all>
        <xsd:attribute name="EndDate" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				End date for the time period to be considered to calculate the productivity.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Start date for the time period to be considered to calculate the productivity.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ProductivityType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY_TYPE">
            <xsd:documentation>This table stores Standard Allowable Minutes for different Productivity Types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:UserList"/>
            </xsd:all>
            <xsd:attribute name="AllowedMinsConstant"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_CONSTANT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per trip.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerCase"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per case handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerItem"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per item handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerPallet"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per pallet handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceAisle"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_SOURCE_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per source aisle visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceLevel"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_SOURCE_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per source level visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerSourceLocn"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_SOURCE_LOCN" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per source location visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTargetAisle"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_TARGET_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per target aisle visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTargetLevel"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_TARGET_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per target level visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTargetLocn"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_TARGET_LOCN" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per target location visited.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerTask"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per task performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnit"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit handled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitHorizontalDistance"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_HOR_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit horizontal distance covered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitVerticalDistance"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_VER_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit vertical distance covered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AllowedMinsPerUnitWeight"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOWED_MINS_PER_UNIT_WEIGHT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates the time credit for users  per unit weight of item moved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaptureTripLevelMetrics"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPTURE_TRIP_LEVEL_METRICS" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the productivity metrics should be captured by trip level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Program that created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Description of productivity type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentType"
                type="yfctype:EquipmentType" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Equipment type associated with the productivity type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsConstantAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_CONSTANT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per trip is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerCaseAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_CASE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per case handled is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerItemAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_ITEM_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per item handled is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerPalletAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_PALLET_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per pallet handled is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerSourceAisleAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_SOURCE_AISLE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per source aisle visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerSourceLevelAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_SOURCE_LEVEL_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per source level visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerSourceLocnAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_SOURCE_LOCN_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per source location visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerTargetAisleAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_TARGET_AISLE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per target aisle visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerTargetLevelAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_TARGET_LEVEL_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per target level visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerTargetLocnAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_TARGET_LOCN_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per target location visited is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerTaskAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_TASK_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per task performed is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerUnitAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MINS_PER_UNIT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit handled is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="IsAllowedMinsPerUnitHorizontalDistanceAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_UNIT_HOR_DIST_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit horizontal distance covered is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="IsAllowedMinsPerUnitVerticalDistanceAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_UNIT_VER_DIST_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit vertical distance covered is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAllowedMinsPerUnitWeightAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_MINS_PER_UNIT_WEIGHT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit weight of item moved is applicable to this productivity type or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerBatchAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_BATCH_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per batch is applicable to this productivity type during planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerCaseAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_CASE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per case is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerItemAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_ITEM_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per item is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerPalletAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_PALLET_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per pallet is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerTaskAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_TASK_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per task is applicable to this productivity type during planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerUnitAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_UNIT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPlannedPerUnitWtAppl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PLANNED_PER_UNIT_WT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>This column indicates whether the time credit for users  per unit weight is applicable to this productivity type in planning.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Program that modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Owner organization of the node for which this productivity type is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerBatch"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_BATCH" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per batch.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerCase"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per case.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerItem"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerPallet"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per pallet.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerTask"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerUnit"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PLANNED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per unit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PlannedMinsPerUnitWt"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PLANNED_MINS_PER_UNIT_WT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Estimated time credit in minutes for users per unit wt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityType"
                type="yfctype:ProductivityType" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>The productivity type defined for this SAM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductivityTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE_KEY" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                    <xsd:documentation>Primary key attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UserList">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					List of the users who executed tasks associated with this productivity type during the given period.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:User"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CreditedMins" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="CREDITED_MINS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The minutes credited to the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Efficiency" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Efficiency is calculated using the formula (CreditedMins/TotalTimeTakenInMins)*100
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EstimatedCreditedMins"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The minutes credited to the user calculated using the estimated SAM values passed in the input xml.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EstimatedEfficiency"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						EstimatedEfficiency is calculated using the formula (EstimatedCreditedMins/TotalTimeTakenInMins)*100
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HorizontalDistance"
                type="yfctype:Distance" use="optional">
                <xsd:annotation yfc:columnName="HORIZONTAL_DISTANCE" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>This column indicates the horizontal distance convered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfItems"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_ITEMS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of items handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfPallets"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of pallets handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfSourceAislesVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_SOURCE_AISLES_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of source aisles visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfSourceLocationsVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_SOURCE_LOCATIONS_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of source locations visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTargetAislesVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_TARGET_AISLES_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of target aisles visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTargetLocationsVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_TARGET_LOCATIONS_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of target locations visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTasks"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_TASKS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of tasks performed by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfUnits"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_UNITS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of units handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NofOfCases"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CASES" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of cases handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumSourceLevelsVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_SOURCE_LEVELS_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of source levels visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumTargetLevelsVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_TARGET_LEVELS_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of target levels visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalTimeTakenInMins"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The total time taken by the user to complete the tasks
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>Total weight carried by the user for completion of the task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>
                        <div>
						UserId of the user who executed the tasks.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Utilization" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This gives the ratio between amount of time spent by the user in executing the tasks and the amount of time spent by him/her in the ware house. This is different from efficiency as it gives information on how much the user has been utilized.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VerticalDistance"
                type="yfctype:Distance" use="optional">
                <xsd:annotation yfc:columnName="VERTICAL_DISTANCE" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>This column indicates the vertical distance convered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
