Data/xapidocs/api_javadocs/XSD/YCP_manageQualifiedTagVerCompatblty_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageQualifiedTagVerCompatblty/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageQualifiedTagVerCompatblty/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageQualifiedTagVerCompatblty_input.xsd" yfc:rootElement="QualifiedTagVersionCompatibility">
        <xsd:appinfo source="yfc:structure">
            <QualifiedTagVersionCompatibility hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="QualifiedTagVersionCompatibility" type="yfc:QualifiedTagVersionCompatibilityXSDType">
        <xsd:annotation yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> or <b>
                                <code>Modify</code>
                            </b> and invalid <code>QualifiedTagId</code> or <code>ApplicationCode</code> or <code>MinSupportedVersion</code> or  <code>MaxVersionSupported</code> are passed.
					</Condition>
                        <Error Description="YCP:No Record Found." ErrorCode="YCP0045"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and QualifiedTagVersionCompatibilityKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b>
                            <code>QualifiedTagId</code> or <code>ApplicationCode</code> or either of <code>MinVersionSupported</code> and <code>MaxVersionSupported</code> are not passed.
					</Condition>
                        <Error
                            Description="QualifiedTagId, ApplicationCode, either of MinVersionSupported or MaxVersionSupported are Mandatory fields." ErrorCode="YCP0046"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="QualifiedTagVersionCompatibilityXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApplicationCode"
            type="yfctype:ApplicationCode" use="optional">
            <xsd:annotation yfc:columnName="APPLICATION_CODE" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Code to identify an application</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxVersionSupported"
            type="yfctype:ApplicationVersion" use="optional">
            <xsd:annotation yfc:columnName="MAX_VERSION_SUPPORTED" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Maximum application version which supports the qualified tag</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinVersionSupported"
            type="yfctype:ApplicationVersion" use="optional">
            <xsd:annotation yfc:columnName="MIN_VERSION_SUPPORTED" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Minimum application version which supports the qualified tag</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagId"
            type="yfctype:QualifiedTagId" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Qualified Tag identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagVersionCompatibilityKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QULFD_TAG_VER_COMPTBLT_KEY" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>Primary key attribute of PLT_QUALIFIED_TAG_VER_COMPTBLT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupportLevel" type="yfctype:SupportLevel" use="optional">
            <xsd:annotation yfc:columnName="SUPPORT_LEVEL" yfc:tableName="PLT_QUALIFIED_TAG_VER_COMPTBLT">
                <xsd:documentation>level of support for application versions which are not valid.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
