Data/xapidocs/api_javadocs/XSD/YCP_getTeamList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTeamList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTeamList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTeamList_output.xsd" yfc:rootElement="TeamList">
        <xsd:appinfo source="yfc:structure">
            <TeamList>
                <Team hasAttributes="Y">
                    <TeamEnterpriseList>
                        <TeamEnterprise hasAttributes="Y"/>
                    </TeamEnterpriseList>
                    <TeamDocTypeList>
                        <TeamDocType hasAttributes="Y"/>
                    </TeamDocTypeList>
                    <TeamNodesList>
                        <TeamNodes hasAttributes="Y"/>
                    </TeamNodesList>
                    <SubTeamList>
                        <SubTeam>
                            <Team hasAttributes="Y">
                                <TeamEnterpriseList>
                                    <TeamEnterprise hasAttributes="Y"/>
                                </TeamEnterpriseList>
                                <TeamDocTypeList>
                                    <TeamDocType hasAttributes="Y"/>
                                </TeamDocTypeList>
                                <TeamNodesList>
                                    <TeamNodes hasAttributes="Y"/>
                                </TeamNodesList>
                            </Team>
                        </SubTeam>
                    </SubTeamList>
                </Team>
            </TeamList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TeamList" type="yfc:TeamListXSDType"/>
    <xsd:complexType name="TeamListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="Team">
                <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
                    <xsd:documentation>Data Security groups that are used to control end-user access to the application data elements are stored here.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="TeamEnterpriseList">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="TeamEnterprise">
                                    <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                                    <xsd:documentation>
                                    <div>
								This tables stores the enterprises that are
								accessible to users associated to this team.
							</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="EnterpriseOrgCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ENTERPRISE_ORG_CODE" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                                    <xsd:documentation>Organization code of the enterprise to which data access has been granted.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamEnterpriseKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_ENTERPRISE_KEY" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_ENTERPRISE.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="TeamDocTypeList">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="TeamDocType">
                                    <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>
                                    <div>
								This table stores the document types (by
								application) that are accessible by users
								associated to the team.
							</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ApplicationCode"
                                    type="yfctype:ModuleId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Application code for the document type that this data security group has access to.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DefaultForModule"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DEFAULT_FOR_MODULE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>For future use.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DocumentType"
                                    type="yfctype:DocumentType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Document Type that this data security group has access to.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ModuleCode"
                                    type="yfctype:ActivityGroup" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="MODULE_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Module Code</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamDocTypeKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_DOC_TYPE_KEY" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_DOC_TYPE.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="TeamNodesList">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded"
                                    minOccurs="0" name="TeamNodes">
                                    <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_NODES">
                                    <xsd:documentation>
                                    <div>
								Team Nodes that are used to control end-user
								access to data elements are stored here.
							</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ShipnodeKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIP_NODE_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                                    <xsd:documentation>The primary key for the YFS_SHIP_NODE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                                    <xsd:documentation>Primary Key For YFS_Data_Security_Group table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamNodeKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_NODE_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_NODES.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubTeamList"/>
                    </xsd:all>
                    <xsd:attribute name="CustomerAccessMode"
                        type="yfctype:CustomerAccessMode" use="optional">
                        <xsd:annotation
                            yfc:columnName="CUSTOMER_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>
                                <div>
                            Access mode for Customer. <br/>
                            Valid Values:<br/>
                            01 : Normal access mode. The team can access all customer data.<br/>
                            02 : Restricted access mode. Access to customer data is restricted based on customer assignments.<br/>
                            03: Restricted based on team.  Access to customer data is restricted for the team regardless of the Enterprise's manual assignment rule.<br/>
                                </div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Description"
                        type="yfctype:Description" use="optional">
                        <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>Description for the record.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DocumentTypeAccessMode"
                        type="yfctype:DocumentTypeAccessMode" use="optional">
                        <xsd:annotation
                            yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>Access mode for Document Type.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EnterpriseAccessMode"
                        type="yfctype:EnterpriseAccessMode" use="optional">
                        <xsd:annotation
                            yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OrganizationCode"
                        type="yfctype:OrgCode" use="optional">
                        <xsd:annotation
                            yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>Organization that created this data security group.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ParentGroupKey"
                        type="yfctype:Key" use="optional">
                        <xsd:annotation
                            yfc:columnName="PARENT_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>Data Security Group Key of parent.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ShipNodeAccessMode"
                        type="yfctype:ShipNodeAccessMode" use="optional">
                        <xsd:annotation
                            yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="TeamId"
                        type="yfctype:DataSecurityGroupId" use="optional">
                        <xsd:annotation
                            yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>
                                <div>Team Id.</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
                        <xsd:annotation
                            yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                            <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubTeamList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SubTeam"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SubTeam">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Team">
                    <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_GROUP">
                        <xsd:documentation>Data Security groups that are used to control end-user access to the application data elements are stored here.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="TeamEnterpriseList">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="TeamEnterprise">
                                    <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                                    <xsd:documentation>
                                    <div>
											This tables stores the
											enterprises that are accessible
											to users associated to this
											team.
										</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="EnterpriseOrgCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ENTERPRISE_ORG_CODE" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                                    <xsd:documentation>Organization code of the enterprise to which data access has been granted.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamEnterpriseKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_ENTERPRISE_KEY" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_ENTERPRISE.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_ENTERPRISE">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="TeamDocTypeList">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="TeamDocType">
                                    <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>
                                    <div>
											This table stores the document
											types (by application) that are
											accessible by users associated
											to the team.
										</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ApplicationCode"
                                    type="yfctype:ModuleId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="APPLICATION_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Application code for the document type that this data security group has access to.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DefaultForModule"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DEFAULT_FOR_MODULE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>For future use.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="DocumentType"
                                    type="yfctype:DocumentType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Document Type that this data security group has access to.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ModuleCode"
                                    type="yfctype:ActivityGroup" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="MODULE_CODE" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Module Code</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamDocTypeKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_DOC_TYPE_KEY" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_DOC_TYPE.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_DOC_TYPE">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="TeamNodesList">
                                <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="TeamNodes">
                                    <xsd:annotation yfc:tableName="YFS_DATA_SECURITY_NODES">
                                    <xsd:documentation>
                                    <div>
											Team Nodes that are used to
											control end-user access to data
											elements are stored here.
										</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ShipnodeKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIP_NODE_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                                    <xsd:documentation>The primary key for the YFS_SHIP_NODE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                                    <xsd:documentation>Primary Key For YFS_Data_Security_Group table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TeamNodeKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DATA_SECURITY_NODE_KEY" yfc:tableName="YFS_DATA_SECURITY_NODES">
                                    <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_NODES.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="Description"
                            type="yfctype:Description" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                                <xsd:documentation>Description for the record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DocumentTypeAccessMode"
                            type="yfctype:DocumentTypeAccessMode" use="optional">
                            <xsd:annotation
                                yfc:columnName="DOCUMENT_TYPE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                                <xsd:documentation>Access mode for Document Type.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EnterpriseAccessMode"
                            type="yfctype:EnterpriseAccessMode" use="optional">
                            <xsd:annotation
                                yfc:columnName="ENTERPRISE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                                <xsd:documentation>Access mode for Enterprise.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrganizationCode"
                            type="yfctype:OrgCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                                <xsd:documentation>Organization that created this data security group.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ParentGroupKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="PARENT_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                                <xsd:documentation>Data Security Group Key of parent.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipNodeAccessMode"
                            type="yfctype:ShipNodeAccessMode" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIP_NODE_ACCESS_MODE" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                                <xsd:documentation>Access mode for Ship Node.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TeamId"
                            type="yfctype:DataSecurityGroupId" use="optional">
                            <xsd:annotation
                                yfc:columnName="DATA_SECURITY_GROUP_ID" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                                <xsd:documentation>
                                    <div>Team Id.</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TeamKey" type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="DATA_SECURITY_GROUP_KEY" yfc:tableName="YFS_DATA_SECURITY_GROUP">
                                <xsd:documentation>Primary key attribute of YFS_DATA_SECURITY_GROUP.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
