Data/xapidocs/api_javadocs/XSD/YCP_getNoteList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getNoteList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getNoteList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getNoteList_output.xsd" yfc:rootElement="NoteList">
        <xsd:appinfo source="yfc:structure">
            <NoteList hasAttributes="Y">
                <Note hasAttributes="Y">
                    <User hasAttributes="Y"/>
                </Note>
            </NoteList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NoteList" type="yfc:NoteListXSDType"/>
    <xsd:complexType name="NoteListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Note"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords"
            type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number Of Notes</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Note">
        <xsd:annotation yfc:tableName="YFS_NOTES">
            <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:User"/>
            </xsd:all>
            <xsd:attribute name="AuditTransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactReference"
                type="yfctype:NotesContactReference" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone no can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactTime" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_USER" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The user who made the contact. The default value will the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranname" type="yfctype:Text-50" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Specifies the name of the Transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VisibleToAll" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Usertype" type="yfctype:EnumUserType" use="optional">
                <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                    <xsd:documentation>This field indicates the user type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
