Data/xapidocs/api_javadocs/XSD/YCP_getTraceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTraceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTraceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getTraceList_output.xsd" yfc:rootElement="Traces">
        <xsd:appinfo source="yfc:structure">
            <Traces>
                <Trace hasAttributes="Y"/>
            </Traces>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Traces" type="yfc:TracesXSDType"/>
    <xsd:complexType name="TracesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Trace"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Trace">
        <xsd:complexType>
            <xsd:attribute name="CategorySet"
                type="yfctype:ComponentCategorySet-4000" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Comma separated log category values for which trace has been applied.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Level" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Level of trace currently employed</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Identifies a Traceable Object</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerId" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>For backward compatibility only. The actual ServerId is returned in ServerName field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerName" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>ServerId of the server on which trace has been applied.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Type of trace currently employed</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
