Data/xapidocs/api_javadocs/XSD/YCP_getActivityList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getActivityList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getActivityList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getActivityList_output.xsd" yfc:rootElement="Activities">
        <xsd:appinfo source="yfc:structure">
            <Activities>
                <Activity hasAttributes="Y"/>
            </Activities>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Activities" type="yfc:ActivitiesXSDType"/>
    <xsd:complexType name="ActivitiesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Activity"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Activity">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY">
            <xsd:documentation>Stores master list of diversions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Identifier of an activity E.g. PUTAWAY, COUNT, MONOGRAM, EMBROIDER, PROGRAM FREQUENCY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityGroupId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>The group to which an activity belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_KEY" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Primary key of the YFS_ACTIVITY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SYSTEM_DEFINED" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Indicates if the activity is system defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
