Data/xapidocs/api_javadocs/XSD/YCP_manageRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageRule_input.xsd" yfc:rootElement="Rules">
        <xsd:appinfo source="yfc:structure">
            <Rules hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Rules" type="yfc:RulesXSDType">
        <xsd:annotation yfc:tableName="YFS_RULES">
            <xsd:documentation>
                <div>
			To identify the <code>Rules</code>, pass either <code>RulesKey</code> or <code>RuleSetFieldName</code> and <code>OrganizationCode</code>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> and no record matches the criteria:
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>RulesKey</code>  or <code>RuleSetFieldName</code> already exists in the database.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Modify</code>
                            </b> and RulesKey is blank:
					</Condition>
                        <Error
                            Description="Primary Key cannot be blanked out." ErrorCode="YFC0013"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>Action</code> is <b>
                                <code>Create</code>
                            </b> and <code>RulesKey</code> is not passed.
					</Condition>
                        <Error
                            Description="RulesKey is a Mandatory fields." ErrorCode="YCP0046"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RulesXSDType">
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					         </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RULES">
                <xsd:documentation>Document type to which a particular rule pertains to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RULES">
                <xsd:documentation>Organization to which the rule belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QualifiedTagId"
            type="yfctype:QualifiedTagId" use="optional">
            <xsd:annotation yfc:columnName="QUALIFIED_TAG_ID" yfc:tableName="YFS_RULES">
                <xsd:documentation>Qualified Tag identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleSetFieldDescription"
            type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="RULE_SET_FIELD_DESCRIPTION" yfc:tableName="YFS_RULES">
                <xsd:documentation>Descripion of the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleSetFieldName" type="yfctype:FileName" use="optional">
            <xsd:annotation yfc:columnName="RULE_SET_FIELD_NAME" yfc:tableName="YFS_RULES">
                <xsd:documentation>Business rule name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleSetValue" type="yfctype:RuleValue" use="optional">
            <xsd:annotation yfc:columnName="RULE_SET_VALUE" yfc:tableName="YFS_RULES">
                <xsd:documentation>Value for the rule</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleType" type="yfctype:RuleType-50" use="optional">
            <xsd:annotation yfc:columnName="RULE_TYPE" yfc:tableName="YFS_RULES">
                <xsd:documentation>Specify a value to identify rules pertaining to a type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RulesKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RULES_KEY" yfc:tableName="YFS_RULES">
                <xsd:documentation>Primary key attribute of YFS_RULES.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
