Data/xapidocs/api_javadocs/XSD/YCP_getTraceableComponentList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTraceableComponentList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTraceableComponentList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getTraceableComponentList_output.xsd" yfc:rootElement="TraceableComponents">
        <xsd:appinfo source="yfc:structure">
            <TraceableComponents>
                <TraceableComponent hasAttributes="Y"/>
            </TraceableComponents>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TraceableComponents" type="yfc:TraceableComponentsXSDType"/>
    <xsd:complexType name="TraceableComponentsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TraceableComponent"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="TraceableComponent">
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Name of a traceable component</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Type of traceable component</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
