Data/xapidocs/api_javadocs/XSD/YCP_getVendorList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getVendorList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getVendorList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getVendorList_input.xsd" yfc:rootElement="Vendor">
        <xsd:appinfo source="yfc:structure">
            <Vendor hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Vendor" type="yfc:VendorXSDType">
        <xsd:annotation yfc:tableName="YFS_VENDOR">
            <xsd:documentation>This table stores vendor definitions as defined by an organization for a seller organization or a ship node.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="VendorXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_VENDOR">
                <xsd:documentation>The organization code of organization that defines this vendor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_VENDOR">
                <xsd:documentation>The organization code of the seller.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VendorClassificationCode"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VENDOR_CLASSIFICATION_CODE" yfc:tableName="YFS_VENDOR">
                <xsd:documentation>The classification code of the vendor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VendorID" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="VENDOR_ID" yfc:tableName="YFS_VENDOR">
                <xsd:documentation>The identifier for a vendor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
