Data/xapidocs/api_javadocs/XSD/YCP_getTraceableComponentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getTraceableComponentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getTraceableComponentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getTraceableComponentList_input.xsd" yfc:rootElement="TraceableComponents">
        <xsd:appinfo source="yfc:structure">
            <TraceableComponents hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TraceableComponents" type="yfc:TraceableComponentsXSDType"/>
    <xsd:complexType name="TraceableComponentsXSDType">
        <xsd:attribute name="Type" type="yfctype:Text-100" use="required">
            <xsd:annotation>
                <xsd:documentation>Type of traceable component</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
