Data/xapidocs/api_javadocs/XSD/YCP_getActivityList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getActivityList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getActivityList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getActivityList_input.xsd" yfc:rootElement="Activity">
        <xsd:appinfo source="yfc:structure">
            <Activity hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Activity" type="yfc:ActivityXSDType">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY">
            <xsd:documentation>Stores master list of diversions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ActivityXSDType">
        <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Identifier of an activity E.g. PUTAWAY, COUNT, MONOGRAM, EMBROIDER, PROGRAM FREQUENCY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivityGroupId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>The group to which an activity belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_KEY" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Primary key of the YFS_ACTIVITY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_DEFINED" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Indicates if the activity is system defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
