Data/xapidocs/api_javadocs/XSD/YCP_manageChargeCategory_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageChargeCategory/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageChargeCategory/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageChargeCategory_output.xsd" yfc:rootElement="ChargeCategory">
        <xsd:appinfo source="yfc:structure">
            <ChargeCategory hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChargeCategory" type="yfc:ChargeCategoryXSDType">
        <xsd:annotation yfc:tableName="YFS_CHARGE_CATEGORY">
            <xsd:documentation>This table stores categorization of charges in the system. Categorization is stored at a rule set level.  Examples would be "Shipping", "Handling", "Personalization", etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChargeCategoryXSDType">
        <xsd:attribute name="ChargeCategory"
            type="yfctype:ChargeCategory" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Category. For example, "Shipping" ...</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeCategoryKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_CATEGORY_KEY" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Primary key of charge category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderForProfitMargin" use="optional">
            <xsd:annotation yfc:columnName="CONSIDER_FOR_PROFIT_MARGIN" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Indicates if a charge is included in the profit margin calculation.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Description of charge. Used for display purposes during configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Document type to which a charge category belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsBillable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_BILLABLE" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Indicates if a charge is billable to the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsDiscount" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_DISCOUNT" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Indicates if a charge category is a discount category.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsRefundable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_REFUNDABLE" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Indicates if a charge is refundable during returns.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CHARGE_CATEGORY">
                <xsd:documentation>Organization Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
