Data/xapidocs/api_javadocs/XSD/YCP_getAgentCriteriaList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getAgentCriteriaList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getAgentCriteriaList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getAgentCriteriaList_input.xsd" yfc:rootElement="AgentCriteria">
        <xsd:appinfo source="yfc:structure">
            <AgentCriteria hasAttributes="Y">
                <Transaction hasAttributes="Y"/>
            </AgentCriteria>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AgentCriteria" type="yfc:AgentCriteriaXSDType">
        <xsd:annotation yfc:tableName="YFS_AGENT_CRITERIA">
            <xsd:documentation>This table stores the configured criteria attributes for time triggered transactions. The message XML is passed to the agent java class configured for the transaction. This message XML forms the input to the agent to obtain jobs for processing.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AgentCriteriaXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Transaction"/>
        </xsd:all>
        <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_KEY" yfc:tableName="YFS_AGENT_CRITERIA">
                <xsd:documentation>
                    <div>
			Transaction Key for which the agent criteria list is to be displayed.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Transaction">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION">
            <xsd:documentation>This table stores transactions defined within the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The unique identifier for a transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranname"
                type="yfctype:TransactionName-50" use="optional">
                <xsd:annotation yfc:columnName="TRANNAME" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The name of the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
