Data/xapidocs/api_javadocs/XSD/YCP_getPaymentTypeList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPaymentTypeList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPaymentTypeList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPaymentTypeList_input.xsd" yfc:rootElement="PaymentType">
        <xsd:appinfo source="yfc:structure">
            <PaymentType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentType" type="yfc:PaymentTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_PAYMENT_TYPE">
            <xsd:documentation>This table stores all payment types supported by various organizations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PaymentTypeXSDType">
        <xsd:attribute
            name="AllowAuthorizationsToExceedSettlementRequest"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOW_AUTH_TO_EXCEED_SETTLE_RQ" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This rule determines whether authorizations larger than the settlement amount are able to be used for settlement for this payment type.  If IS_MULTIPLE_REQ_ALLOWED or CHARGE_CONSOL_ALLOWED are Y, this is implicitly Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthorizationExpirationHours" use="optional">
            <xsd:annotation yfc:columnName="AUTH_EXPIRATION_HOURS" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>Number of hours an authorization is valid before expiring for this payment type.  This value is not used internally by the system, but may be referenced for the computation of the AuthorizationExpirationDate when processing payment transactions.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:NumberOfHours-7"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="AuthorizationReversalHours" use="optional">
            <xsd:annotation yfc:columnName="AUTH_REVERSAL_HOURS" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>Number of hours an authorization is valid for reversal for this payment type. This value is not used internally by the system and serves as an informational field.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:NumberOfHours-7"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="AuthorizationReversalStrategy"
            type="yfctype:AuthReversalStrategy" use="optional">
            <xsd:annotation yfc:columnName="AUTH_REVERSAL_STRATEGY" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This field controls when reverse authorization requests will be created for this payment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingEnterpriseCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The organization code of the Enterprise that the API is being invoked for. If CallingOrganizationCode is passed in the input, this attribute will be ignored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
					The organization code that the API is being invoked for.
					<div>
						This attribute corresponds to the <code>CallingOrganizationCode</code> Fact. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingSellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>The organization code of the Seller Organization that the API is being invoked for.  If CallingOrganizationCode is passed in the input, this attribute will be ignored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CashBackLimit" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="CASH_BACK_LIMIT" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The maximum amount that can be given back as cash for payment methods associated with this payment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeConsolAllowed" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_CONSOL_ALLOWED" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates whether charge consolidation is allowed for a payment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeInsteadOfAuth" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_INSTEAD_OF_AUTH" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates if the requestCollection API should create a CHARGE request against this Payment Type in all scenarios where an AUTHORIZATION request would be created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeSequence"
            type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_SEQUENCE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The sequence in which charges needs to be collected if multiple payment types are supported by an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeUpToAvailable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_UP_TO_AVAILABLE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates whether the user exit getFundsAvailable should be invoked to determine the funds available on this payment account.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DefaultForReturn" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_FOR_RETURN" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates the usage of a payment type as the default one while processing returned goods.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasAltRefundConstraint" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAS_ALT_REFUND_CONSTRAINT" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates whether this payment type has some alternate refund payment type to use in case the refund amount meets the constraint.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MerchantId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="MERCHANT_ID" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The identifier of the merchant used for the collection.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinWaitTimeForConsol" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="MIN_WAIT_TIME_FOR_CONSOL" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The minimum time to wait for utilizing the opportunity to consolidate charges.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewRefundPaymentType"
            type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="NEW_REFUND_PAYMENT_TYPE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The payment type that needs to be used for refunds and is only set if not refunding to the same account.  Payment type selection is valid only if it belongs to payment type group STORED_VALUE_CARD or OTHER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoProcessingRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="NO_PROCESSING_REQUIRED" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates that when the Payment Type is added on the Order, it is already processed. Examples of this Payment Type are checks/cash. A pre processed Charge Transaction record of type CHARGE is created for this Payment Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The organization that is associated with this payment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PartialReversalSupported"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PARTIAL_REVERSAL_SUPPORT" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This rule determines whether reverse authorization requests support partial reversal for this payment type.  If Y, partial reversal is supported. If N, only full reversal is supported.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentTemplateType"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_TEMPLATE_TYPE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This field indicates User Interfaces to use the template required to capture Payment Methods of this Payment Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The unique identifier for the payment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentTypeDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_TYPE_DESCRIPTION" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The description of the payment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentTypeGroup"
            type="yfctype:EnumPaymentTypeGroup" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_TYPE_GROUP" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This filed indicates the payment type group, which will determine behavior.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PaymentTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_TYPE_KEY" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The primary key for the YFS_PAYMENT_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefundConstraintOperator"
            type="yfctype:EnumRefundConstraintOperator" use="optional">
            <xsd:annotation yfc:columnName="REFUND_CONSTRAINT_OPERATOR" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The operator to be used in evaluating the refund amount against the Refund Constraint Value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefundConstraintPaymentType"
            type="yfctype:Text-20" use="optional">
            <xsd:annotation
                yfc:columnName="REFUND_CONSTRAINT_PAYMENT_TYPE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The payment type that needs to be used instead if the refund amount meets the constraint formed by the refund constraint operator and value when a new payment is created for refund purposes.  The payment type selection is valid only if it belongs to payment type group STORED_VALUE_CARD or OTHER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefundConstraintValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="REFUND_CONSTRAINT_VALUE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The value that will be used to compare the refund amount against.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefundItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="REFUND_ITEM_ID" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The item to be included in a new refund fulfillment order when a refund is issued to this payment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefundItemUom" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="REFUND_ITEM_UOM" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The unit of measure for the refund item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefundRequiresFulfillment"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REFUND_REQUIRES_FULFILLMENT" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates whether a new order needs to be created for the Refund Item ID and UOM when a refund needs to be issued on a new payment account for this payment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefundSameAccount" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REFUND_SAME_ACCOUNT" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates whether refunds should be issued to the same account on which the payment was made.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RefundSequence"
            type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="REFUND_SEQUENCE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>The sequence in which charges need to to be refunded if multiple payment types are supported by an organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReverseUnusedAuthWhenSuspended"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REV_AUTH_WHEN_SUSPEND" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>Reverse unused authorizations when the payment method is suspended. Currently only valid for payment method of group type CUSTOMER_ACCOUNT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidForReturn" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="VALID_FOR_RETURN" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates whether this payment type is valid for returns.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Voidable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="VOIDABLE" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates that the Payment Type allows a void operation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZeroAmountAuthorizationSupported"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ZERO_AMOUNT_AUTH_SUPPORTED" yfc:tableName="YFS_PAYMENT_TYPE">
                <xsd:documentation>This flag indicates whether or not the system will attempt a zero authorization when this Payment Type is added on the Order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
