Data/xapidocs/api_javadocs/XSD/YCP_getPipelineList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPipelineList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPipelineList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getPipelineList_output.xsd" yfc:rootElement="PipelineList">
        <xsd:appinfo source="yfc:structure">
            <PipelineList>
                <Pipeline hasAttributes="Y">
                    <PipelineConditionList>
                        <PipelineCondition hasAttributes="Y"/>
                    </PipelineConditionList>
                    <PipelineDefinitionList>
                        <PipelineDefinition hasAttributes="Y">
                            <PipelineDropStatusConditionList>
                                <PipelineDropStatusCondition hasAttributes="Y"/>
                            </PipelineDropStatusConditionList>
                        </PipelineDefinition>
                    </PipelineDefinitionList>
                    <GraphUIList>
                        <GraphUI hasAttributes="Y"/>
                    </GraphUIList>
                    <PipelinePickupTranList>
                        <PipelinePickupTran hasAttributes="Y"/>
                    </PipelinePickupTranList>
                    <PipelineListenerList>
                        <PipelineListener hasAttributes="Y"/>
                    </PipelineListenerList>
                    <MonitorRuleList>
                        <MonitorRule hasAttributes="Y"/>
                    </MonitorRuleList>
                </Pipeline>
            </PipelineList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PipelineList" type="yfc:PipelineListXSDType"/>
    <xsd:complexType name="PipelineListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Pipeline"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Pipeline">
        <xsd:annotation yfc:tableName="YFS_PIPELINE">
            <xsd:documentation>This table stores information about pipelines.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PipelineConditionList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PipelineDefinitionList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:GraphUIList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PipelinePickupTranList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PipelineListenerList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MonitorRuleList"/>
            </xsd:all>
            <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>This flag indicates whether a pipeline is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The owner organization that this pipeline is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_DESCRIPTION" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The description of the pipeline.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_ID" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The unique identifier for the pipeline.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The primary key for the YFS_PIPELINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_PIPELINE">
                    <xsd:documentation>The process type that this pipeline is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineConditionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PipelineCondition"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineCondition">
        <xsd:annotation yfc:tableName="YFS_PIPELINE_CONDITION">
            <xsd:documentation>This table stores information used to determine the pipeline to be used for a given process type. Pipeline is determined by running through the conditions in order of priority (the last number is considered first) If a condition is met, pipeline associated with it is used.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConditionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_KEY" yfc:tableName="YFS_PIPELINE_CONDITION">
                    <xsd:documentation>The condition that is being evaluated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PIPELINE_CONDITION">
                    <xsd:documentation>The enterprise setting up the definition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_PIPELINE_CONDITION">
                    <xsd:documentation>The owner organization that this condition is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineConditionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_CONDITION_KEY" yfc:tableName="YFS_PIPELINE_CONDITION">
                    <xsd:documentation>The primary key for the YFS_PIPELINE_CONDITION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE_CONDITION">
                    <xsd:documentation>The pipeline that this condition is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_PIPELINE_CONDITION">
                    <xsd:documentation>The priority of evaluation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_PIPELINE_CONDITION">
                    <xsd:documentation>The process type that this condition is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineDefinitionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PipelineDefinition"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineDefinition">
        <xsd:annotation yfc:tableName="YFS_PIPELINE_DEFINITION">
            <xsd:documentation>Defines the list of base drop status for a transaction within a pipeline. Transaction Instance provides ability to have same transaction appear more than once within a pipeline definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PipelineDropStatusConditionList"/>
            </xsd:all>
            <xsd:attribute name="DropStatus" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="DROP_STATUS" yfc:tableName="YFS_PIPELINE_DEFINITION">
                    <xsd:documentation>Base drop status for transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineDefinitionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_DEFINITION_KEY" yfc:tableName="YFS_PIPELINE_DEFINITION">
                    <xsd:documentation>Primary key attribute of YFS_PIPELINE_DEFINITION.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE_DEFINITION">
                    <xsd:documentation>Pipeline</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionInstanceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="TRANSACTION_INSTANCE_KEY" yfc:tableName="YFS_PIPELINE_DEFINITION">
                    <xsd:documentation>Instance of transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_KEY" yfc:tableName="YFS_PIPELINE_DEFINITION">
                    <xsd:documentation>Transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineDropStatusConditionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PipelineDropStatusCondition"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineDropStatusCondition">
        <xsd:annotation yfc:tableName="YFS_PIPELINE_DROP_STS_COND">
            <xsd:documentation>Defines actual drop status for a transaction. For a YFS_PIPELINE_DEFINITION record, multiple records could exist in this table Actual drop status is determined by running over condition in order of priority. First met condition defines the drop status.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConditionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_KEY" yfc:tableName="YFS_PIPELINE_DROP_STS_COND">
                    <xsd:documentation>Condition to be evaluated</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConditionPriority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_PRIORITY" yfc:tableName="YFS_PIPELINE_DROP_STS_COND">
                    <xsd:documentation>Priority of evaluation</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDropStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DROP_STATUS" yfc:tableName="YFS_PIPELINE_DROP_STS_COND">
                    <xsd:documentation>Occasionally, transactions may drop to various statuses based on conditions configured. The status to which a transaction really drops to comes from this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineDefinitionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_DEFINITION_KEY" yfc:tableName="YFS_PIPELINE_DROP_STS_COND">
                    <xsd:documentation>Link to pipeline-definition table</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineDropStsCondKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PIPELINE_DROP_STS_COND_KEY" yfc:tableName="YFS_PIPELINE_DROP_STS_COND">
                    <xsd:documentation>Primary key attribute of YFS_PIPELINE_DROP_STS_COND.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_PIPELINE_DROP_STS_COND">
                    <xsd:documentation>Process type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GraphUIList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:GraphUI"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GraphUI">
        <xsd:annotation yfc:tableName="YFS_GRAPH_UI">
            <xsd:documentation>Stores picture associated with scenario modelling diagrams</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="GraphRefKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="GRAPH_REF_KEY" yfc:tableName="YFS_GRAPH_UI">
                    <xsd:documentation>Link to entity this picture is associated with</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GraphType" type="yfctype:GraphType" use="optional">
                <xsd:annotation yfc:columnName="GRAPH_TYPE" yfc:tableName="YFS_GRAPH_UI">
                    <xsd:documentation>Type of picture</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GraphUIKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="GRAPH_UI_KEY" yfc:tableName="YFS_GRAPH_UI">
                    <xsd:documentation>Primary key attribute of YFS_GRAPH_UI.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GraphXml" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="GRAPH_XML" yfc:tableName="YFS_GRAPH_UI">
                    <xsd:documentation>Actual picture attributes</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_GRAPH_UI">
                    <xsd:documentation>Organization which is the owner of a graph drawn.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_GRAPH_UI">
                    <xsd:documentation>A Process Type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelinePickupTranList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PipelinePickupTran"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelinePickupTran">
        <xsd:annotation yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
            <xsd:documentation>Defines list of transactions which can process a given status. A given status can be processed by multiple transactions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                    <xsd:documentation>Pipeline</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelinePickupTranKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PIPELINE_PICKUP_TRAN_KEY" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                    <xsd:documentation>Primary key attribute of YFS_PIPELINE_PICKUP_TRAN.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                    <xsd:documentation>Process type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                    <xsd:documentation>Pick up status</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionInstanceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="TRANSACTION_INSTANCE_KEY" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                    <xsd:documentation>Instance number of transaction in pipeline diagram.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_KEY" yfc:tableName="YFS_PIPELINE_PICKUP_TRAN">
                    <xsd:documentation>Transaction which can pick up this status</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineListenerList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PipelineListener"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PipelineListener">
        <xsd:annotation yfc:tableName="YFS_PIPELINE_LISTENER">
            <xsd:documentation>Stores the listener transactions in a pipeline.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DropStatus" type="yfctype:DropStatus" use="optional">
                <xsd:annotation yfc:columnName="DROP_STATUS" yfc:tableName="YFS_PIPELINE_LISTENER">
                    <xsd:documentation>The drop status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListenerType"
                type="yfctype:ListenerType" use="optional">
                <xsd:annotation yfc:columnName="LISTENER_TYPE" yfc:tableName="YFS_PIPELINE_LISTENER">
                    <xsd:documentation>The type of the listener transaction. Each process type to process type combination consistutes a different listener type. This field can take one of the pre-defined values (00 - None, 01 - chained order to sales order listener, 02 - derived order to sales order listener, 03 - shipment to order listener, 04 - Load to shipment listener).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListeningToProcessTypeKey"
                type="yfctype:Identifier" use="optional">
                <xsd:annotation
                    yfc:columnName="LISTENING_TO_PROCESS_TYPE_KEY" yfc:tableName="YFS_PIPELINE_LISTENER">
                    <xsd:documentation>The process type to which a listener transaction is configured to listen.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListeningToStatus"
                type="yfctype:ListenerStatus" use="optional">
                <xsd:annotation yfc:columnName="LISTENING_TO_STATUS" yfc:tableName="YFS_PIPELINE_LISTENER">
                    <xsd:documentation>The status to which a listener transaction is configured to listen.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListeningToStatusKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LISTENING_TO_STATUS_KEY" yfc:tableName="YFS_PIPELINE_LISTENER">
                    <xsd:documentation>The primary key of the status to which a listener transaction is configured to listen.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_PIPELINE_LISTENER">
                    <xsd:documentation>The pipeline on which the listener exists.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineListenerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_LISTENER_KEY" yfc:tableName="YFS_PIPELINE_LISTENER">
                    <xsd:documentation>Primary key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_KEY" yfc:tableName="YFS_PIPELINE_LISTENER">
                    <xsd:documentation>The transaction that is listening for changes in another process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MonitorRuleList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:MonitorRule"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MonitorRule">
        <xsd:annotation yfc:tableName="YFS_MONITOR_RULE">
            <xsd:documentation>This table stores the rules for facilitating alert based monitoring for shipments, orders and so forth.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivateDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATE_DATE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>Date from which Monitor Rule will be active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Age"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="AGE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The age of the monitor rule. The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AgeType" type="yfctype:AgeType" use="optional">
                <xsd:annotation yfc:columnName="AGE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The age type of the monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonDateSubType"
                type="yfctype:DateSubType" use="optional">
                <xsd:annotation
                    yfc:columnName="COMPARISON_DATE_SUB_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The subtype of the comparison date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonDateType"
                type="yfctype:ComparisonDateType" use="optional">
                <xsd:annotation yfc:columnName="COMPARISON_DATE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The type of the comparison date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComparisonStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="COMPARISON_STATUS" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The comparison status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConditionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The condition key associated to this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateSubTypeToMonitor"
                type="yfctype:EnumDateSubTypeToMonitor" use="optional">
                <xsd:annotation
                    yfc:columnName="DATE_SUB_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>This field indicates the date sub type to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DateTypeToMonitor"
                type="yfctype:DateType" use="optional">
                <xsd:annotation yfc:columnName="DATE_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The date type to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionType"
                type="yfctype:ExceptionType-50" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>Type of exception.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActive" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>Indicates if MonitorRule is active or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorConsolidationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The monitor consolidation key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_RULE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The primary key of the YFS_MONITOR_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MonitorType" type="yfctype:MonitorType" use="optional">
                <xsd:annotation yfc:columnName="MONITOR_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The monitor type associated with this montior rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The pipeline key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The priority in which conditions are processed for an event. The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The process type key associated with this monitor rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose"
                type="yfctype:EnumMonitorRulePurpose" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>Indicates the purpose of MonitorRule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RealertInterval"
                type="yfctype:ShortNumber" use="optional">
                <xsd:annotation yfc:columnName="REALERT_INTERVAL" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The re-alert interval.The default value is '0'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RealertRequired" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="REALERT_REQUIRED" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>This flag indicates if realert is required.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusToMonitor"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                    <xsd:documentation>The status to monitor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
