Data/xapidocs/api_javadocs/XSD/YCP_manageComponentStatus_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageComponentStatus/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageComponentStatus/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageComponentStatus_output.xsd" yfc:rootElement="ComponentStatus">
        <xsd:appinfo source="yfc:structure">
            <ComponentStatus hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ComponentStatus" type="yfc:ComponentStatusXSDType">
        <xsd:annotation yfc:tableName="YFS_COMPONENT_STATUS">
            <xsd:documentation>This table stores the status of components</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ComponentStatusXSDType">
        <xsd:attribute name="Domain" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Domain for the component status</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Name of the component</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartSync" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="START_SYNC" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Flag to indicate if syncing should start or not</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncModifications" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYNC_MODIFICATIONS" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Flag to indicate if modifications should be synced</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SyncStatus" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SYNC_STATUS" yfc:tableName="YFS_COMPONENT_STATUS">
                <xsd:documentation>Status of the component</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
