Data/xapidocs/api_javadocs/XSD/YCP_evaluateAdvancedCondition_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/evaluateAdvancedCondition/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/evaluateAdvancedCondition/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_evaluateAdvancedCondition_output.xsd" yfc:rootElement="AdvancedCondition">
        <xsd:appinfo source="yfc:structure">
            <AdvancedCondition hasAttributes="Y">
                <Output/>
            </AdvancedCondition>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AdvancedCondition" type="yfc:AdvancedConditionXSDType"/>
    <xsd:complexType name="AdvancedConditionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Output"/>
        </xsd:all>
        <xsd:attribute name="ConditionID" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="CONDITION_ID" yfc:tableName="YFS_CONDITION">
                <xsd:documentation>
                    <div>
						Indicates the Condition Id.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_CONDITION">
                <xsd:documentation>
                    <div>
						Indicates the owner organization associated with the Condition Id.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_CONDITION">
                <xsd:documentation>
                    <div>
						Indicates the process type key associated with the condition Id.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnType" type="yfctype:ReturnType" use="optional">
            <xsd:annotation yfc:columnName="RETURN_TYPE" yfc:tableName="YFS_CONDITION">
                <xsd:documentation>
                    <div>
						Indicates the Return type.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Output">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				If the return type is an XML, the output returned after evaluating the condition is returned as an element to Output.
				If the return type is of type String or Boolean, the returned value would be set to the Value attribute of the Output element.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
