Data/xapidocs/api_javadocs/XSD/YCP_manageCarrierServiceSchedule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCarrierServiceSchedule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCarrierServiceSchedule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageCarrierServiceSchedule_input.xsd" yfc:rootElement="CarrierServiceSchedule">
        <xsd:appinfo source="yfc:structure">
            <CarrierServiceSchedule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CarrierServiceSchedule" type="yfc:CarrierServiceScheduleXSDType">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE_DOW">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <code>CarrierServiceSchedule</code> does not exist in the system when deleting or modifying an existing <code>CarrierServiceSchedule</code>.
						</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CarrierServiceScheduleXSDType">
        <xsd:attribute name="CarrierServiceCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>A code that identifies a service provided by a carrier.
						<br/>If <code>CarrierServiceKey</code> is passed, <code>CarrierServiceCode</code> is ignored.
						<Validation>
                            <Condition>If invalid <code>CarrierServiceCode</code> is provided.</Condition>
                            <Error Description="YFS: Invalid Data." ErrorCode="YFS10190"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceDowKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_DOW_KEY" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Primary key attribute of YFS_CARRIER_SERVICE_DOW.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>
                    <div>The key of the carrier service for which this schedule is defined. Value of <code>CarrierServiceKey</code> can not be Null.
						<Validation>
                            <Condition>If creating a new record, CarrierServiceKey is not passed OR If updating existing record, new value passed is null. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveFromDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>
                    <div>The date from which the specified carrier service schedule comes into effect. An empty value means that this carrier service schedule will be effective for any date up until the <code>EffectiveToDate</code>. In order to change this date, the <code>CarrierServiceDowKey</code> must be passed along with the new date.
					<Validation>
                            <Condition>The <code>EffectiveFromDate</code> overlaps an existing carrier service schedule.</Condition>
                            <Error
                                Description="This CarrierServiceSchedule's effective dates cannot overlap an existing CarrierServiceSchedule's effective dates." ErrorCode="YSC81_0002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveToDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>
                    <div>The last date to which the specified carrier service schedule will be in effect. An empty value means that this carrier service schedule will be effective for any date in the future. In order to change this date, the <code>CarrierServiceDowKey</code> must be passed along with the new date.
					<Validation>
                            <Condition>The <code>EffectiveToDate</code> overlaps an existing carrier service schedule.</Condition>
                            <Error
                                Description="This CarrierServiceSchedule's effective dates cannot overlap an existing CarrierServiceSchedule's effective dates." ErrorCode="YSC81_0002"/>
                        </Validation>
                        <Validation>
                            <Condition>The <code>EffectiveToDate</code> passed is before the <code>EffectiveFromDate</code>.</Condition>
                            <Error
                                Description="Effective dates cannot overlap with itself." ErrorCode="YSC81_0001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FridayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FRIDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Friday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FridayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FRIDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Friday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MondayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MONDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Monday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MondayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MONDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Monday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Operation to perform on this record.
				<br/>Valid Values: 
				<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
				<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
				<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
				<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
				<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SaturdayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SATURDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Saturday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SaturdayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SATURDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Saturday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SundayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SUNDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Sunday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SundayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SUNDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Sunday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ThursdayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="THURSDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Thursday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ThursdayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="THURSDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Thursday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TuesdayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TUESDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Tuesday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TuesdayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TUESDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Tuesday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WednesdayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="WEDNESDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Wednesday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WednesdayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="WEDNESDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Wednesday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
