Data/xapidocs/api_javadocs/XSD/YCP_getPasswordRuleDefnDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleDefnDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getPasswordRuleDefnDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_getPasswordRuleDefnDetails_input.xsd" yfc:rootElement="PasswordRuleDefn">
        <xsd:appinfo source="yfc:structure">
            <PasswordRuleDefn hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PasswordRuleDefn" type="yfc:PasswordRuleDefnXSDType">
        <xsd:annotation yfc:tableName="PLT_PWD_RULE_DEFN">
            <xsd:documentation>
                <div>
		To identify the <code>PasswordRuleDefn</code>, pass either <code>PasswordRuleDefnKey</code> or <code>Name</code> and <code>OrganizationCode</code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PasswordRuleDefnXSDType">
        <xsd:attribute name="Name" type="yfctype:PolicyRuleName" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Policy Rule Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>The Organization to which the rule belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PasswordRuleDefnKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PWD_RULE_DEFN_KEY" yfc:tableName="PLT_PWD_RULE_DEFN">
                <xsd:documentation>Primary key attribute of PLT_PWD_RULE_DEFN.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
