Data/xapidocs/api_javadocs/XSD/YCP_logError_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/logError/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/logError/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_logError_input.xsd" yfc:rootElement="LogError">
        <xsd:appinfo source="yfc:structure">
            <LogError hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LogError" type="yfc:LogErrorXSDType"/>
    <xsd:complexType name="LogErrorXSDType">
        <xsd:attribute name="ErrorString" type="yfctype:Text-1000" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Error String to be logged</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
