Data/xapidocs/api_javadocs/XSD/YCP_manageCarrierServiceSchedule_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageCarrierServiceSchedule/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageCarrierServiceSchedule/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCP_manageCarrierServiceSchedule_output.xsd" yfc:rootElement="CarrierServiceSchedule">
        <xsd:appinfo source="yfc:structure">
            <CarrierServiceSchedule hasAttributes="Y">
                <CarrierServiceOverrideList hasAttributes="Y">
                    <CarrierServiceOverride hasAttributes="Y"/>
                </CarrierServiceOverrideList>
            </CarrierServiceSchedule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CarrierServiceSchedule" type="yfc:CarrierServiceScheduleXSDType">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE_DOW">
            <xsd:documentation>Defines a carrier service's schedule for days that can be delivered and are available for transit.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CarrierServiceScheduleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CarrierServiceOverrideList"/>
        </xsd:all>
        <xsd:attribute name="CarrierServiceDowKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_DOW_KEY" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Primary key attribute of YFS_CARRIER_SERVICE_DOW.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>The key of the carrier service for which this schedule is defined for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveFromDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>The date that this carrier schedule is applicable from.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveToDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>The date that this carrier schedule is applicable to.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FridayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FRIDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Friday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FridayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FRIDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Friday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasDateOverrides" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>If there are any carrier service schedule override dates within the effective
					range of this carrier service schedule, this flag will be Y. Otherwise, it will be N.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MondayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MONDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Monday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MondayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MONDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Monday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SaturdayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SATURDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Saturday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SaturdayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SATURDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Saturday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SundayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SUNDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Sunday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SundayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SUNDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Sunday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ThursdayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="THURSDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Thursday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ThursdayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="THURSDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Thursday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TuesdayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TUESDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Tuesday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TuesdayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="TUESDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Tuesday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WednesdayDeliver" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="WEDNESDAY_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Wednesday is available for delivery. Default: N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WednesdayTransit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="WEDNESDAY_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_DOW">
                <xsd:documentation>Determines if Wednesday is available for transit. Default: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CarrierServiceOverrideList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CarrierServiceOverride"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					The total number of <code>CarrierServiceOverride</code> elements returned.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CarrierServiceOverride">
        <xsd:annotation yfc:tableName="YFS_CARRIER_SERVICE_OVR">
            <xsd:documentation>Defines a carrier service's override date that can be delivered on or available to for transit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanDeliver" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_DELIVER" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Determines if the date is available for delivery. Default: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanTransit" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_TRANSIT" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Determines if the date is available for transit. Default: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceOverrideKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_OVR_KEY" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>Primary key attribute of YFS_CARRIER_SERVICE_OVR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideDate" use="optional">
                <xsd:annotation yfc:columnName="OVERRIDE_DATE" yfc:tableName="YFS_CARRIER_SERVICE_OVR">
                    <xsd:documentation>The date that this carrier has an override for.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
