Data/xapidocs/api_javadocs/XSD/YCP_getUserTimeSheet_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getUserTimeSheet/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getUserTimeSheet/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getUserTimeSheet_output.xsd" yfc:rootElement="UserTimeSheet">
        <xsd:appinfo source="yfc:structure">
            <UserTimeSheet hasAttributes="Y">
                <Users hasAttributes="Y">
                    <User hasAttributes="Y">
                        <Activities hasAttributes="Y">
                            <Activity hasAttributes="Y"/>
                        </Activities>
                    </User>
                </Users>
            </UserTimeSheet>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UserTimeSheet" type="yfc:UserTimeSheetXSDType"/>
    <xsd:complexType name="UserTimeSheetXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Users"/>
        </xsd:all>
        <xsd:attribute name="ActivityCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Activity code for a task done by a user</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivityGroupColor" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>ActivityGroupColor for the activity group associated with the task</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowableIdleMinutes" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Maximum Idle time associated with this productivity type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndTime" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Ending time for all the activities done by a particular user on any day</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxEndTime" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>This timestamp indiacates the end time  for a group of users for a particular day.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinStartTime" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>This timestamp indiacates the start time  for a group of users for a particular day.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityType" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Productivity type associated with the task type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartTime" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Starting time for  activities done by a particular user on any day</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserID" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Id of the user for whom the time sheet is prepared.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Users">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:User"/>
            </xsd:all>
            <xsd:attribute name="MaxEndTime" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinStartTime" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Activities"/>
            </xsd:all>
            <xsd:attribute name="UserID" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Activities">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Activity"/>
            </xsd:all>
            <xsd:attribute name="Date" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EndTime" type="yfctype:String" use="optional"/>
            <xsd:attribute name="StartTime" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Activity">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY">
            <xsd:documentation>Stores master list of diversions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Identifier of an activity E.g. PUTAWAY, COUNT, MONOGRAM, EMBROIDER, PROGRAM FREQUENCY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityGroupColor"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="AllowableIdleMinutes"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="EndTime" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductivityType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="StartTime" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
