Data/xapidocs/api_javadocs/XSD/YCP_getScacAndServiceList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/getScacAndServiceList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/getScacAndServiceList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_getScacAndServiceList_input.xsd" yfc:rootElement="ScacAndService">
        <xsd:appinfo source="yfc:structure">
            <ScacAndService hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ScacAndService" type="yfc:ScacAndServiceXSDType">
        <xsd:annotation yfc:tableName="YFS_SCAC_AND_SERVICE">
            <xsd:documentation>Services offered by a Carrier.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ScacAndServiceXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					If <code>CallingOrganizationCode</code> is passed, the consolidated scac and service list for the calling organization, its enterprise hierarchy and hub is returned.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An identifier to a master service from which this service is derived.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_TYPE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Type of Carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ElectronicCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ELECTRONIC_CODE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An electronic code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HostCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="HOST_CODE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Host code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InternalReference1" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_1" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An Internal Reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InternalReference2" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_2" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An Internal Reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InternalReference3" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_3" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An Internal Reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InternalReference4" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_4" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An Internal Reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InternalReference5" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="INTERNAL_REFERENCE_5" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An Internal Reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InternationalShipping" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="INTERNATIONAL_SHIPPING" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Indicates if the service covers international shipments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>The organization code of organization that defines this service offered by the carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndService" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndServiceDesc" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_DESC" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Description of the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Servicing carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_MODE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Shipment mode serviced PARCEL, TL, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
