Data/xapidocs/api_javadocs/XSD/YCP_manageExceptionType_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCP/manageExceptionType/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCP/manageExceptionType/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCP_manageExceptionType_input.xsd" yfc:rootElement="ExceptionType">
        <xsd:appinfo source="yfc:structure">
            <ExceptionType hasAttributes="Y">
                <ExceptionTypeRoleList hasAttributes="Y">
                    <ExceptionTypeRole hasAttributes="Y"/>
                </ExceptionTypeRoleList>
            </ExceptionType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExceptionType" type="yfc:ExceptionTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_EXCEPTION_TYPE">
            <xsd:documentation>
                <div>
				This table houses all information about a particular exception type. <code>ExceptionTypeKey</code> or <code>ExceptionType</code> has to pass in <code>Modify</code> or <code>Delete</code> mode and in <code>Create</code> mode both <code>ExceptionType</code> and <code>ExceptionTypeDescription</code> have to be passed.
				<Validation>
                        <Condition>If ExceptionType or ExceptionTypeDescription is not passed in Create mode.</Condition>
                        <Error
                            Description="Both ExceptionType and ExceptionTypeDescription are mandatory." ErrorCode="YCP0290"/>
                    </Validation>
                    <Validation>
                        <Condition>If non-number argument is passed for Priority, ExpirationDays or FollowUpHours.</Condition>
                        <Error Description="YFS: Invalid Number" ErrorCode="YFS10322"/>
                    </Validation>
                    <Validation>
                        <Condition>If an invalid combination of QueueId and QueueOwnerKey is passed.</Condition>
                        <Error Description="Queue cannot be found." ErrorCode="YCP0326"/>
                    </Validation>
                    <Validation>
                        <Condition>If existing ExceptionTypeKey or ExceptionType is passed in Create mode</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>If record does not exist in the database</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                    <Validation>
                        <Condition>If ExceptionTypeKey or ExceptionType is not passed</Condition>
                        <Error
                            Description="Either ExceptionTypeKey or ExceptionType is mandatory." ErrorCode="YFC0300"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ExceptionTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ExceptionTypeRoleList"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Action to take
					<br/>Valid Values: 
					<br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist or modifies an existing record if it does.
					<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
					<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Changes the value of an existing record.
					<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
					<br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigForm" type="yfctype:Form-255" use="optional">
            <xsd:annotation yfc:columnName="CONFIG_FORM" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>This is a Configuation Form. Additional SCV attributes are maintained in a separate form. This field lets PCAs configure a separate config form.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationHook" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_HOOK" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Consolidation hook implementation class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_REQUIRED" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Specifies if consolidation is required for this exception type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsolidationWindow"
            type="yfctype:EnumConsolidationWindow" use="optional">
            <xsd:annotation yfc:columnName="CONSOLIDATION_WINDOW" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>
                    <div>
				The consolidation window to be used for consolidation. 
				<Validation>
                            <Condition>If invalid consolidation window is passed.</Condition>
                            <Error
                                Description="Invalid Consolidation Window." ErrorCode="YCP0241"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:ExceptionType-50" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>
                    <div>
				The exception type. The grouping associated with an exception.
				<Validation>
                            <Condition>If exception type is passed as blank.</Condition>
                            <Error
                                Description="ExceptionType cannot be blank." ErrorCode="YCP0319"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeDescription"
            type="yfctype:Description-255" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE_DESCRIPTION" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>
                    <div>
				A detailed description of the Alert Type.
				<Validation>
                            <Condition>If exception type description is passed as blank.</Condition>
                            <Error
                                Description="ExceptionTypeDescription cannot be blank." ErrorCode="YCP0325"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE_KEY" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Primary key attribute of YFS_EXCEPTION_TYPE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDays"
            type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DAYS" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The number of days in which this alert will expire</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FollowUpHours"
            type="yfctype:ExecutionDuration" use="optional">
            <xsd:annotation yfc:columnName="FOLLOW_UP_HOURS" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The number of hours in which alerts of this type should be followed up in</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HighPriorityThreshold"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="HIGH_PRIORITY_THRESHOLD" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Any exception with priority higher than this number is considered high.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsConfigurable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_CONFIGURABLE" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Only certain exception type have additional configuration (maintained by SCV config). This field indicates if this exception type supports additional configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ListForm" type="yfctype:Form-255" use="optional">
            <xsd:annotation yfc:columnName="LIST_FORM" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>List form for listing the exceptions for an exception type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The Organization to which this exception type belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerRoleId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="OWNER_ROLE_ID" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The Role of the owner</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Priority for alerts of this type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueId" type="yfctype:AlertQueueId" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>The queue id into which alerts of this type will be put if not specified in the creation of the alert</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueOwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="QUEUE_OWNER_KEY" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>
                    <div>
				Owner key of the queue assigned.
				<Validation>
                            <Condition>If invalid QueueOwnerKey is passed.</Condition>
                            <Error Description="Invalid OwnerKey." ErrorCode="YCP0285"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolutionForm" type="yfctype:Form-255" use="optional">
            <xsd:annotation yfc:columnName="RESOLUTION_FORM" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Contains information about the form to be launched to resolve this type of error</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResolutionHook" type="yfctype:JavaClass" use="optional">
            <xsd:annotation yfc:columnName="RESOLUTION_HOOK" yfc:tableName="YFS_EXCEPTION_TYPE">
                <xsd:documentation>Resolution hook implementation class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ExceptionTypeRoleList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ExceptionTypeRole"/>
            </xsd:all>
            <xsd:attribute name="Action" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Action to take. If Action is passed in ExceptionTypeRoleList, the same action will be performed for each ExceptionTypeRole in the List.
						<br/>Valid Values: 
						<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist or modifies an existing record if it does.
						<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
						<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Changes the value of an existing record.
						<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
						<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExceptionTypeRole">
        <xsd:annotation yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
            <xsd:documentation>
                <div>
				This entity  captures the list of exception types for an application (PCA) and a role that the application supports.
				<Validation>
                        <Condition>If ApplicationCode or RoleId is not passed in Create mode.</Condition>
                        <Error
                            Description="Both ApplicationCode and RoleId are mandatory." ErrorCode="YCP0301"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Action to take
						<br/>Valid Values: 
						<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist or modifies an existing record if it does.
						<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
						<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Changes the value of an existing record.
						<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
						<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationCode"
                type="yfctype:ApplicationCode-3" use="optional">
                <xsd:annotation yfc:columnName="APPLICATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
                    <xsd:documentation>
                        <div>
					The Application Code associated with the exception type role. 
					<Validation>
                                <Condition>If Invalid ApplicationCode is passed.</Condition>
                                <Error
                                    Description="Invalid ApplicationCode." ErrorCode="YCP0302"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ApplicationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExceptionTypeRoleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_TYPE_ROLE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
                    <xsd:documentation>Primary key attribute of YFS_EXCEPTION_TYPE_ROLE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionTypeRoleKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromApplicationCode"
                type="yfctype:ApplicationCode-3" use="optional"/>
            <xsd:attribute name="FromExceptionTypeRoleKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromRoleId" type="yfctype:Identifier" use="optional"/>
            <xsd:attribute name="RoleId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="ROLE_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_EXCEPTION_TYPE_ROLE">
                    <xsd:documentation>
                        <div>
					The Role of the organization.
					<Validation>
                                <Condition>If Invalid RoleId is passed</Condition>
                                <Error Description="Invalid RoleId." ErrorCode="YCP0303"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RoleIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToApplicationCode"
                type="yfctype:ApplicationCode-3" use="optional"/>
            <xsd:attribute name="ToExceptionTypeRoleKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToRoleId" type="yfctype:Identifier" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
