Data/xapidocs/api_javadocs/XSD/YCS_returnShippingLabelUserExit_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/returnShippingLabelUserExit/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/returnShippingLabelUserExit/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCS_returnShippingLabelUserExit_output.xsd" yfc:rootElement="ReturnShippingLabel">
        <xsd:appinfo source="yfc:structure">
            <ReturnShippingLabel hasAttributes="Y">
                <ConnectionParameters hasAttributes="Y">
                    <FedExParams hasAttributes="Y"/>
                    <ConnectShipParams hasAttributes="Y"/>
                    <PierbridgeParams hasAttributes="Y"/>
                </ConnectionParameters>
            </ReturnShippingLabel>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReturnShippingLabel" type="yfc:ReturnShippingLabelXSDType"/>
    <xsd:complexType name="ReturnShippingLabelXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectionParameters"/>
        </xsd:all>
        <xsd:attribute name="TrackingNumber" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The TrackingNumber of the return label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ConnectionParameters">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Carrier Server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FedExParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectShipParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PierbridgeParams"/>
            </xsd:all>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The seller organization code of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Ship Node of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FedExParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the FSMS server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FedExIPAddress" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The IP address of the machine on which FSMS is installed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FedExPortNo" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Port No of the machine on which FSMS is installed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ConnectShipParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the ConnectShip server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConnectShipURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The URL to connect to ConnectShip server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PierbridgeParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Pierbridge Shipment server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PBDBPassword" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The password to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The jdbc URL of Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBUserName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDefaultRateRequestUser"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name used to get freight charges from Pierbridge Shipment Server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBServerURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The URL to connect to Pierbridge Shipment server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
