Data/xapidocs/api_javadocs/XSD/YCS_WMS_deleteCarton_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/WMS_deleteCarton/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/WMS_deleteCarton/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCS_WMS_deleteCarton_input.xsd" yfc:rootElement="DelPackage">
        <xsd:appinfo source="yfc:structure">
            <DelPackage hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DelPackage" type="yfc:DelPackageXSDType"/>
    <xsd:complexType name="DelPackageXSDType">
        <xsd:attribute name="Carrier" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ShipID" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ShipperAccountNumber" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TrackingNumber" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
