Data/xapidocs/api_javadocs/XSD/YCS_WMS_closeManifest_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/WMS_closeManifest/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/WMS_closeManifest/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCS_WMS_closeManifest_input.xsd" yfc:rootElement="Manifest">
        <xsd:appinfo source="yfc:structure">
            <Manifest hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Manifest" type="yfc:ManifestXSDType">
        <xsd:annotation yfc:tableName="YFS_MANIFEST">
            <xsd:documentation>Stores carrier manifest created during the manifesting process. A manifest is a carrier specific document that comprises of shipments. A manifest is created for a ship node and carrier. At any point in time, there is only one open manifest for a ship node and carrier. Every parcel shipment that is containerized is included in a manifest. Containerization is done using the packShipment and changeShipment API. All shipments included in the manifest are ship confirmed using the closeManifest API. All parcel related carrier services for a carrier are part of a single manifest.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ManifestXSDType">
        <xsd:attribute name="Carrier" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ManifestNumber" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PickUpSummaryNumber" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PickupDate" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PrinterID" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ShipperAccountNumber" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
