Data/xapidocs/api_javadocs/XSD/YCS_reprintCarrierLabelUserExit_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/reprintCarrierLabelUserExit/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/reprintCarrierLabelUserExit/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCS_reprintCarrierLabelUserExit_input.xsd" yfc:rootElement="ReprintPackage">
        <xsd:appinfo source="yfc:structure">
            <ReprintPackage hasAttributes="Y">
                <ConnectionParameters hasAttributes="Y">
                    <PierbridgeParams hasAttributes="Y"/>
                    <FedExParams hasAttributes="Y"/>
                    <ConnectShipParams hasAttributes="Y"/>
                </ConnectionParameters>
            </ReprintPackage>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReprintPackage" type="yfc:ReprintPackageXSDType">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Carrier Server.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReprintPackageXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectionParameters"/>
        </xsd:all>
        <xsd:attribute name="Carrier" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsContainerDomestic" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Is container domestic?</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LabelFormatValue" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The label format value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAccountNumber" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The shipper account number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ThermalLabelPrinterID"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The thermal label printer ID.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrackingNumber" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The tracking number of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UPSServiceType" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The USP service type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ConnectionParameters">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Carrier Server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PierbridgeParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FedExParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectShipParams"/>
            </xsd:all>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The seller organization code of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Ship Node of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PierbridgeParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Pierbridge Shipment server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PBDBPassword" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The password to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The jdbc URL of Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBUserName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDefaultRateRequestUser"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name used to get freight charges from Pierbridge Shipment Server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBServerURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The URL to connect to Pierbridge Shipment server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FedExParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the FedEx Shipment server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FedExIPAddress" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The  IP Address to FedEx Shipment server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FedExPortNo" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The port number to Fedex shipment server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ConnectShipParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Shipment server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConnectShipURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The URL to connect to the Shipment server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
