Data/xapidocs/api_javadocs/XSD/YCS_getFreightCharge_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/getFreightCharge/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/getFreightCharge/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCS_getFreightCharge_input.xsd" yfc:rootElement="FreightCharge">
        <xsd:appinfo source="yfc:structure">
            <FreightCharge hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <SpecialServices hasAttributes="Y"/>
                <Package hasAttributes="Y"/>
                <ConnectionParameters hasAttributes="Y">
                    <FedExParams hasAttributes="Y"/>
                    <ConnectShipParams hasAttributes="Y"/>
                    <PierbridgeParams hasAttributes="Y"/>
                </ConnectionParameters>
            </FreightCharge>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="FreightCharge" type="yfc:FreightChargeXSDType">
        <xsd:annotation yfc:tableName="YCS_FREIGHT_CHARGE">
            <xsd:documentation>This table stores the freight charges.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="FreightChargeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SpecialServices"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Package"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectionParameters"/>
        </xsd:all>
        <xsd:attribute name="Carrier" type="yfctype:Text-20" use="required">
            <xsd:annotation yfc:columnName="CARRIER" yfc:tableName="YCS_FREIGHT_CHARGE">
                <xsd:documentation>Indicates the carrier to which the package is manifested.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
					Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AccountType" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the RE or CO. This attribute is only required when using internal logic to get the freight charge. If implementations are integrating with FXRS or ConnectShip then this attribute is not required.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Carrier" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the carrier to which the package is manifested.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromCity" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the source city.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromNode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the source ship node. If specified, the other source address attributes are derived from this node.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromState" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the source location state code.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromZip" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the source location postal code.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Service" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the service.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToCity" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the destination city name.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToCountry" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the destination country code.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToNode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the destination node. If specified, the other destination address attributes are derived from this node.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToState" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the destination state.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToZip" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the destination zip code.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecialServices">
        <xsd:annotation yfc:tableName="YCS_SPECIAL_SERVICE">
            <xsd:documentation>
                <div>
					Stores special services supported by various carriers that can be used when shipping packages. Examples of special services are signature required upon delivery of the package, Saturday pick-up and Saturday delivery.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SpecialService" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="SPECIAL_SERVICE" yfc:tableName="YCS_SPECIAL_SERVICE">
                    <xsd:documentation>
                        <div>Indicates the special service.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Package">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					Indicates the details of the package.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DimensionUOM" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the dimension UOM of the package.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Height" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the height of the package.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Length" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the length of the package.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Weight" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the weight of the package.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the weight UOM of the package.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Width" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the width of the package.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ConnectionParameters">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FedExParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectShipParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PierbridgeParams"/>
            </xsd:all>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FedExParams">
        <xsd:complexType>
            <xsd:attribute name="FedExIPAddress" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FedExPortNo" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ConnectShipParams">
        <xsd:complexType>
            <xsd:attribute name="ConnectShipURL" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PierbridgeParams">
        <xsd:complexType>
            <xsd:attribute name="PBDBPassword" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PBDBURL" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PBDBUserName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PBDefaultRateRequestUser"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PBServerURL" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
