Data/xapidocs/api_javadocs/XSD/YCS_ShipCartonUserExit_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/ShipCartonUserExit/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/ShipCartonUserExit/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCS_ShipCartonUserExit_output.xsd" yfc:rootElement="ShipCarton">
        <xsd:appinfo source="yfc:structure">
            <ShipCarton hasAttributes="Y">
                <ConnectionParameters hasAttributes="Y">
                    <PierbridgeParams hasAttributes="Y"/>
                </ConnectionParameters>
            </ShipCarton>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipCarton" type="yfc:ShipCartonXSDType"/>
    <xsd:complexType name="ShipCartonXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectionParameters"/>
        </xsd:all>
        <xsd:attribute name="BilledWeight" type="yfctype:String" use="optional"/>
        <xsd:attribute name="CODReturnTrackingNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="DeliveryDay" type="yfctype:String" use="optional"/>
        <xsd:attribute name="MasterTrackingNumber" type="yfctype:String" use="optional"/>
        <xsd:attribute name="NetCharge" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PrintBuffer" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TotalSurchargeAmt" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TrackingNumber" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="ConnectionParameters">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Carrier Server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PierbridgeParams"/>
            </xsd:all>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The seller organization code of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Ship Node of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PierbridgeParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Pierbridge Shipment server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PBDBPassword" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The password to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The jdbc URL of Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBUserName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDefaultRateRequestUser"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name used to get freight charges from Pierbridge Shipment Server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBServerURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The URL to connect to Pierbridge Shipment server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
