Data/xapidocs/api_javadocs/XSD/YCS_getFreightCharge_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/getFreightCharge/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/getFreightCharge/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCS_getFreightCharge_output.xsd" yfc:rootElement="FreightCharge">
        <xsd:appinfo source="yfc:structure">
            <FreightCharge hasAttributes="Y">
                <ConnectionParameters hasAttributes="Y">
                    <FedExParams hasAttributes="Y"/>
                    <ConnectShipParams hasAttributes="Y"/>
                    <PierbridgeParams hasAttributes="Y"/>
                </ConnectionParameters>
            </FreightCharge>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="FreightCharge" type="yfc:FreightChargeXSDType">
        <xsd:annotation yfc:tableName="YCS_FREIGHT_CHARGE">
            <xsd:documentation>This table stores the freight charges.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="FreightChargeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectionParameters"/>
        </xsd:all>
        <xsd:attribute name="BilledWeight" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The Weight used to calculate the freight charge.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreightCharge" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The Freight Charge calculated.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalSurchargeAmount" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The Total Surcharge Amount calculated.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ConnectionParameters">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FedExParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectShipParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PierbridgeParams"/>
            </xsd:all>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FedExParams">
        <xsd:complexType>
            <xsd:attribute name="FedExIPAddress" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FedExPortNo" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ConnectShipParams">
        <xsd:complexType>
            <xsd:attribute name="ConnectShipURL" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PierbridgeParams">
        <xsd:complexType>
            <xsd:attribute name="PBDBPassword" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PBDBURL" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PBDBUserName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PBDefaultRateRequestUser"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PBServerURL" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
