Data/xapidocs/api_javadocs/XSD/YCS_returnShippingLabelUserExit_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/returnShippingLabelUserExit/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/returnShippingLabelUserExit/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YCS_returnShippingLabelUserExit_input.xsd" yfc:rootElement="ReturnShippingLabel">
        <xsd:appinfo source="yfc:structure">
            <ReturnShippingLabel hasAttributes="Y">
                <ConnectionParameters hasAttributes="Y">
                    <FedExParams hasAttributes="Y"/>
                    <ConnectShipParams hasAttributes="Y"/>
                    <PierbridgeParams hasAttributes="Y"/>
                </ConnectionParameters>
            </ReturnShippingLabel>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReturnShippingLabel" type="yfc:ReturnShippingLabelXSDType"/>
    <xsd:complexType name="ReturnShippingLabelXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectionParameters"/>
        </xsd:all>
        <xsd:attribute name="Carrier" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The carrier used for return service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeAddress1" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The address line 1 of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeAddress2" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The address line 2 of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeAddress3" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The address line 3 of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeAttention" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Contact name of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeCity" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The city of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeCompanyName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Company name of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeCountry" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The country of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeEmailAddress"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The email address of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneePhone" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The phone number of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneePostalCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The zip code of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeStateProv" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The state of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsigneeUPSAcctNumber"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Account number of the Consignee/Buyer of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DescriptionOfGoods" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
					If return label is for a particular SKU, then this attribute points to Item's description, else the value of this attribute will be blank or hard coded to <code>Package</code>.
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailLabelExpDate" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The expiration date of emailed label. This attribute is used for Sterling Fedex Adaptor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LabelFormatValue" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The kind of printer to be used for printing return label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PackageActualWeight" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>If return label is for a particular SKU, then this attribute points to Item's weight, else the weight of the package.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PackageHeight" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>If return label is for a particular SKU, then this attribute points to Item's height, else the height of the package.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PackageLength" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>If return label is for a particular SKU, then this attribute points to Item's length, else the length of the package.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PackageWidth" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>If return label is for a particular SKU, then this attribute points to Item's width, else the width of the package.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PartNumber" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
					If return label is for a particular SKU, then this attribute points to Item's item id, else the value of this attribute will be blank or hard coded to <code>Package</code>.
				</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnShipIndicator" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicator that this is return shipment. This attribute is used only for Sterling Fedex Adaptor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipID" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The container nunber of the container having this return label.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentChgType" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The return freight terms of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The primary key of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAccountNumber" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Shipper Account number of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAddress1" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The address line 1 of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAddress2" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The address line 2 of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAddress3" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The address line 3 of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperCity" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The city of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperCompanyName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Company name of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperContactName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Contact name of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperCountry" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The country of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperEmailAddress" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The email address of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperPhoneNumber" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The phone number of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperState" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The state of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperZipCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The zip code of the Shipper of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ThermalLabelPrinterID"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The printer on which the return label is required to be printed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UOMDim" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unit of measure of dimensions (defined on locale).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UOMWeight" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Weight Unit of measure (defined on locale).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UPSServiceType" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The carrier service used for return service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ConnectionParameters">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Carrier Server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FedExParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectShipParams"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PierbridgeParams"/>
            </xsd:all>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The seller organization code of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Ship Node of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FedExParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the FSMS server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="FedExIPAddress" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The IP address of the machine on which FSMS is installed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FedExPortNo" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Port No of the machine on which FSMS is installed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ConnectShipParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the ConnectShip server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConnectShipURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The URL to connect to ConnectShip server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PierbridgeParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Pierbridge Shipment server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PBDBPassword" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The password to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The jdbc URL of Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBUserName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDefaultRateRequestUser"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name used to get freight charges from Pierbridge Shipment Server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBServerURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The URL to connect to Pierbridge Shipment server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
