Data/xapidocs/api_javadocs/XSD/YCS_openManifestUserExit_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/openManifestUserExit/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/openManifestUserExit/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCS_openManifestUserExit_input.xsd" yfc:rootElement="Manifest">
        <xsd:appinfo source="yfc:structure">
            <Manifest hasAttributes="Y">
                <ConnectionParameters hasAttributes="Y">
                    <PierbridgeParams hasAttributes="Y"/>
                </ConnectionParameters>
            </Manifest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Manifest" type="yfc:ManifestXSDType">
        <xsd:annotation yfc:tableName="YCS_MANIFEST_UPS_HDR">
            <xsd:documentation>This table stores UPS and FEDX manifest information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ManifestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConnectionParameters"/>
        </xsd:all>
        <xsd:attribute name="Carrier" type="yfctype:Text-20" use="required">
            <xsd:annotation yfc:columnName="CARRIER" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>The carrier code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestNumber" type="yfctype:Text-30" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_NUMBER" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>The manifest number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestUpsHdrKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_UPS_HDR_KEY" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>Primary Key Attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickupDate" type="yfctype:Date" use="required">
            <xsd:annotation yfc:columnName="PICKUP_DATE" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>The date the packages are to be picked up by the corresponding carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAccountNumber"
            type="yfctype:Text-10" use="required">
            <xsd:annotation yfc:columnName="SHIPPER_ACCOUNT_NUMBER" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>Sender's UPS or FedEx account number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Text-1" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>Indicates if the manifest is open 'O' or closed 'C' or uploaded 'U'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ConnectionParameters">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Carrier Server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PierbridgeParams"/>
            </xsd:all>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The seller organization code of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The Ship Node of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PierbridgeParams">
        <xsd:annotation>
            <xsd:documentation>The connection parameters used to connect to the Pierbridge Shipment server.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PBDBPassword" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The password to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The jdbc URL of Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDBUserName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name to connect to Pierbridge Shipment server's database.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBDefaultRateRequestUser"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The user name used to get freight charges from Pierbridge Shipment Server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PBServerURL" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The URL to connect to Pierbridge Shipment server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
