Data/xapidocs/api_javadocs/XSD/YCS_WMS_shipCarton_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/WMS_shipCarton/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/WMS_shipCarton/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCS_WMS_shipCarton_input.xsd" yfc:rootElement="UPSPLD">
        <xsd:appinfo source="yfc:structure">
            <UPSPLD hasAttributes="Y">
                <PackageLevelDetail hasAttributes="Y"/>
                <AccessorialRecord hasAttributes="Y"/>
                <AdvisoryInformationRecord hasAttributes="Y"/>
                <SpecialServices>
                    <SpecialService hasAttributes="Y"/>
                </SpecialServices>
                <AlternatePartyRecord hasAttributes="Y"/>
                <InternationalRecord hasAttributes="Y"/>
                <CommodityRecord hasAttributes="Y"/>
                <AdditionalCommentsRecord hasAttributes="Y"/>
                <ExtraFieldsRecord hasAttributes="Y"/>
            </UPSPLD>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UPSPLD" type="yfc:UPSPLDXSDType"/>
    <xsd:complexType name="UPSPLDXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PackageLevelDetail"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AccessorialRecord"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdvisoryInformationRecord"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SpecialServices"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AlternatePartyRecord"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InternationalRecord"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CommodityRecord"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalCommentsRecord"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ExtraFieldsRecord"/>
        </xsd:all>
        <xsd:attribute name="Carrier" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="PackageLevelDetail">
        <xsd:complexType>
            <xsd:attribute name="BookNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CODAmount" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CODControlNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CODFundsInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CODInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CWTInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CalculatedRatesInd"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CallTag_ARSInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CallTag_ARSNumber"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CallTag_ARSSchedulePickDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Carrier" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeAddress1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeAddress2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeAddress3"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeAttention"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeCity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeCompanyName"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeCountry" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneePhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneePostalCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeStateProv"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeTaxID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CurrencyCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumber1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumber2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumberType1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumberType2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="DCISType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DeclaredValueInsurance"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="DeliveryZone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DocInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IncrementalPLDInd"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsForPrint" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsForShip" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManifestNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MerchandiseDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NOfNSequence" type="yfctype:String" use="optional"/>
            <xsd:attribute name="NOfNTotal" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OversizePackageInd"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PackageActualWeight"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PackageTrackingNumber"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PackagingType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PageNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PickupDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PierbridgeShipToHold"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PkgPublishedDimWt"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ResInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SPFVersion" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SatDeliveryInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SaturdayPickupInd"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SenderName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentCODCurrencyCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentChgType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentReferenceNo1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentReferenceNo1Type"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentReferenceNo2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentReferenceNo2Type"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipperAccountNumber"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipperCountry" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipperEIN" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipperPostalCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipperStateProv" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SourceTypeCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UOMDim" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UOMWeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UPSServiceType" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AccessorialRecord">
        <xsd:complexType>
            <xsd:attribute name="AdditionalHandlingInd"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeCreditCardExpDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeCreditCardNo"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeFax" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeFaxDestinationInd"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConsigneeNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumber3"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumber4"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumber5"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumberType3"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumberType4"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerReferenceNumberType5"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="DCISNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EarliestDeliveryTime"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExpressCODTrackingNumber"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExtendedDestInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="HazMat" type="yfctype:String" use="optional"/>
            <xsd:attribute name="HoldForPickupInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ModifyInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OCAIndicator" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PackageHeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PackageLength" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PackageWidth" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentCreditCardExpDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentCreditCardNumber"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipperCreditCardExpDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipperCreditCardNo"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SpecialInstructions"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="VerbalConfirmationName"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="VerbalConfirmationPhone"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="VoidInd" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdvisoryInformationRecord">
        <xsd:complexType>
            <xsd:attribute name="AdvisoryInfoLevel"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="AltProfileAccessNumber"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNAttnName1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNAttnName2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNCompanyName1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNCompanyName2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNContactPhone1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNContactPhone2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNEmailAddressDestination1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNEmailAddressDestination2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNFaxDestinationInd1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNFaxDestinationInd2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNFaxNumber1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNFaxNumber2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNLangCode1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNLangCode2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNMemo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNTypeDestination1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SNTypeDestination2"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecialServices">
        <xsd:annotation yfc:tableName="YFS_SPECIAL_SERVICES">
            <xsd:documentation>This table stores special services supported by various carriers that can be used when shipping packages. Examples of special services are signature required upon delivery of the package, Saturday pick-up and Saturday delivery.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SpecialService"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SpecialService">
        <xsd:annotation yfc:tableName="YCS_SPECIAL_SERVICE">
            <xsd:documentation>This table stores the special services supported by Carriers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Service" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AlternatePartyRecord">
        <xsd:complexType>
            <xsd:attribute name="Address1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Address2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Address3" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AlternatePartyType"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Attention" type="yfctype:String" use="optional"/>
            <xsd:attribute name="City" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CompanyName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Country" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditCardExpDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditCardNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Fax" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FaxDestinationInd"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ID_AcctNumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LangCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PODReplyType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Phone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PostalCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="StateProv" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxID" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InternationalRecord">
        <xsd:annotation yfc:tableName="YCS_INTERNATIONAL_RECORD">
            <xsd:documentation>This table stores UPS international shipper information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BrokerCode" type="yfctype:Text-3" use="optional">
                <xsd:annotation yfc:columnName="BROKER_CODE" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>Identifies the broker for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="COCode" type="yfctype:Text-1" use="optional">
                <xsd:annotation yfc:columnName="COCODE" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>This field indicates if Certificate of Origin was completed or not, and the form it was on. As per UPS specification, this field is currently used for US and PR origins only; valid values are Space(No Certificate of Origin created), D(US Certificate of Origin created through shipping system and included with export documents), N(NAFTA Certificate of Origin created through shipping system and included with export documents, U(US Certificate of Origin prepared by UPS on shippers behalf).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsolidatedClearQty"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="CONSOLIDATED_CLEAR_QTY" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The number of consignees in the consolidated clearance.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DescriptionOfGoods"
                type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION_OF_GOODS" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>A general description of the goods contained in the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DestinationControl"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESTINATION_CONTROL" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The destination control statement,as per UPS specification.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscountRebate"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_REBATE" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>Discount or Rebate amount as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightCharges"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_CHARGES" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The freight amount as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InsuranceCharges"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="INSURANCE_CHARGES" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The Insurance Amount as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceCurrencyCode"
                type="yfctype:Text-3" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_CURRENCY_CODE" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The currency code used for INVOICE_LINE_TOTALS. This must conform to IATA/ISO country codes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_DATE" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The ship time stamp.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceLineTotals"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_LINE_TOTALS" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The value of the goods determined by shipper, as indicated on the waybill or commercial invoice.This is the sum of all LINE_EXTENDED_AMT in YCS_COMMODITY_RECORD table for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceNumber" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_NUMBER" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The invoice number as indicated on the invoice/waybill.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceSubTotal"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_SUB_TOTAL" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>This is the result of subtracting DISCOUNT_REBATE from INVOICE_LINE_TOTALS.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherCharges" type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="OTHER_CHARGES" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>Sum of the other amounts being charged as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherDocCode" type="yfctype:Text-1" use="optional">
                <xsd:annotation yfc:columnName="OTHER_DOC_CODE" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>This indicates if any additional document is attached to the shipper. As per UPS specification, valid values are 0(no documents attached), 1(documents are attached), space(not applicable).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PONumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PartiesToTrans" type="yfctype:Text-1" use="optional">
                <xsd:annotation yfc:columnName="PARTIES_TO_TRANS" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>If SED is applicable, it indicates whether shipper and consignee/importer are related or non-related.If not applicable, this is set to space. As per UPS specification, this is currently used for US and PR origins only; valid values are R(related), N(not related), space(not applicable).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentTerms" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TERMS" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>Description of the payment terms.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonForExport" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="REASON_FOR_EXPORT" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The reason the shipment is to be exported as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SEDCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentCommodityOrigin"
                type="yfctype:Text-2" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_COMMODITY_ORIGIN" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The country code that identifies the country of origin for the commodities.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentInsuranceDeclaredValue"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENTINSURANCEDECLAREDVALUE" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The value for goods that is determined by shipper for insurance purpose.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSEDCASNum"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SpecialInstructions"
                type="yfctype:Text-69" use="optional">
                <xsd:annotation yfc:columnName="SPECIAL_INSTRUCTIONS" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>Shipper's comments or special instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TermsOfShipment" type="yfctype:Text-3" use="optional">
                <xsd:annotation yfc:columnName="TERMS_OF_SHIPMENT" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>Terms of delivery as indicated on the commercial invoice. As per UPS specification, valid values are CFR(Cost and Freight), CIF(Cost Insurance and Freight), CIP(Carriage and Insurance Paid), CPT(Carriage Paid To), DAF(Delivered At Frontier),      DDP(Delivered Duty Paid), DDU(Delivered Duty Unpaid), DEQ(Delivered Ex Quay),       DES(Delivered Ex Ship), EXW(Ex Works), FAS(Free Along Side), FCA(Free Carrier),      FOB(Free on Board), Space(Not applicable).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalInvoiceAmount"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_INVOICE_AMOUNT" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The sum of INVOICE_LINE_TOTALS, DISCOUNT_REBATE, FREIGHT_CHARGES, INSURANCE_CHARGES and OTHER_CHARGES.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UltimateDestCountry"
                type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="ULTIMATE_DEST_COUNTRY" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The country of ultimate destination, as indicated on the waybill or SED. As per UPS specification, this is required when an Ultimate Consignee address is completed on the S.E.D.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaybillNumber_BrokerageID"
                type="yfctype:Text-11" use="optional">
                <xsd:annotation
                    yfc:columnName="WAYBILLNUMBER_BROKERAGEID" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>The waybill/brokerage Identification Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaybillPrintInd" type="yfctype:Text-1" use="optional">
                <xsd:annotation yfc:columnName="WAYBILL_PRINT_IND" yfc:tableName="YCS_INTERNATIONAL_RECORD">
                    <xsd:documentation>Indicates if Waybill was produced for the shipment. As per UPS specification, valid values are 1 (Waybill was produced for shipment), default value is 0(No waybill used for shipment).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CommodityRecord">
        <xsd:annotation yfc:tableName="YCS_COMMODITY_RECORD">
            <xsd:documentation>This table stores item level information for an international UPS shipper. So there will be one record for each item of the carton in the manifest.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AgreementType" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="AGREEMENT_TYPE" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The types of trade agreements that are applicable for the commodities contained in the invoice line, as indicated on the commercial/customs invoice.      EEC          European Economic Community      EFTA         European Free Trade Agreement      NAFTA        North American Free Trade Agreement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="COType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CertOfOriginCode" type="yfctype:Text-5" use="optional">
                <xsd:annotation yfc:columnName="CERT_OF_ORIGIN_CODE" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The code representing the type of origin certification that applies to the commodity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CertOfOriginNo" type="yfctype:ID-10" use="optional">
                <xsd:annotation yfc:columnName="CERT_OF_ORIGIN_NO" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The number found on Certificate Of Origin.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommodityCode" type="yfctype:Text-30" use="optional">
                <xsd:annotation yfc:columnName="COMMODITY_CODE" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The harmonized code representing the commodity as indicated on the commercail invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommodityRemarks"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="COMMODITY_REMARKS" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>Commodity level remarks produced by the customer. Example: Commodity Level Declaration Statements.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommodityWeight"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="COMMODITY_WEIGHT" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The gross commodity weight for the SED and/or CO document. This field must be greater than zero if SED_CODE or COCODE in YCS_INTERNATIONAL_RECORD is not blank.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ECCN" type="yfctype:ID-15" use="optional">
                <xsd:annotation yfc:columnName="ECCN" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The Export Commodity Control Number for the commodity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceLineNumber"
                type="yfctype:Text-3" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_LINE_NUMBER" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The line number associated with the commodity or invoice line as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineCurrencyCode" type="yfctype:Text-3" use="optional">
                <xsd:annotation yfc:columnName="LINE_CURRENCY_CODE" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The Currency Code for the value of the commodity contained in the invoice line as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineExtendedAmt"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="LINE_EXTENDED_AMT" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The value of the commodity in the invoice line, as indicated on the commercial invoice. This equals the LINE_UNIT_AMT_PRICE multiplied by the LINE_QUANTITY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineLicenseExpDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LINE_LICENSE_EXP_DATE" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The expiry date for the validated export license, as indicated on the Waybill and/or S.E.D. If LINE_LICENSE_INFO is an exception, this is set to spaces.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineLicenseInfo" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="LINE_LICENSE_INFO" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The validated export license number for the commodity contained in the shipment, as indicated on the Waybill and/or S.E.D. . This field is currently used for US and PR origins only, as specified by UPS. Required if the SED_Code equals D or U and shipment origin is US or PR.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineMerchDesc1" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="LINE_MERCH_DESC1" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The detail description of the commodity in the invoice line, as indicated on the commercial/customs invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineMerchDesc2" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="LINE_MERCH_DESC2" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>Continuation of the detail description of the commodity in the invoice line, as indicated on the commercial/customs invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineMerchDesc3" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="LINE_MERCH_DESC3" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>Continuation of the detail description of the commodity in the invoice line, as indicated on the commercial/customs invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineOriginCountry" type="yfctype:ID-2" use="optional">
                <xsd:annotation yfc:columnName="LINE_ORIGIN_COUNTRY" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The country of manufacture or production or growth of the article. Must coform to ISO/IATA country code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineQtyUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LineQuantity" type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="LINE_QUANTITY" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The quantity of the commodity in the invoice line as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineUnitAmtPrice"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation yfc:columnName="LINE_UNIT_AMT_PRICE" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The per unit value of the commodity in the invoice line as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Marks_Numbers" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="MARKS_NUMBERS" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>Any distinguishing marks or numbers that appear on the package. This field is valid only for US, PR, CA and VI shippers, as specified by UPS.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfPackagesPerCmmdty"
                type="yfctype:Number-22" use="optional">
                <xsd:annotation
                    yfc:columnName="NUMBER_OF_PACKAGES_PER_CMMDTY" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The number of packages in the shipment containing this commodity. This field is currently used for US and PR origins, as specified by UPS.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PartNumber" type="yfctype:ID-35" use="optional">
                <xsd:annotation yfc:columnName="PART_NUMBER" yfc:tableName="YCS_COMMODITY_RECORD">
                    <xsd:documentation>The shipper's part number or reference number for the commodity as indicated on the commercial invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QuantityScheduleBUnits"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SEDInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SEDLineAmt" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalCommentsRecord">
        <xsd:complexType>
            <xsd:attribute name="AdditionalComments"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="DeclarationStatement"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExtraFieldsRecord">
        <xsd:complexType>
            <xsd:attribute name="LabelFormatValue" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReferenceNotes" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentDocumentPrinterID"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SunDeliveryInd" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ThermalLabelPrinterID"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
