Data/xapidocs/api_javadocs/XSD/YCS_Manifest_Ups_Hdr_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YCS/Manifest_Ups_Hdr_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YCS/Manifest_Ups_Hdr_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YCS_Manifest_Ups_Hdr_master.xsd" yfc:rootElement="Manifest">
        <xsd:appinfo source="yfc:structure">
            <Manifest hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Manifest" type="yfc:ManifestXSDType">
        <xsd:annotation yfc:tableName="YCS_MANIFEST_UPS_HDR">
            <xsd:documentation>This table stores UPS and FEDX manifest information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ManifestXSDType">
        <xsd:attribute name="Carrier" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="CARRIER" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>The carrier code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestNumber" type="yfctype:Text-30" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_NUMBER" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>The manifest number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestUpsHdrKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_UPS_HDR_KEY" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>Primary Key Attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickupDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="PICKUP_DATE" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>The date the packages are to be picked up by the corresponding carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAccountNumber"
            type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="SHIPPER_ACCOUNT_NUMBER" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>Sender's UPS or FedEx account number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Text-1" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YCS_MANIFEST_UPS_HDR">
                <xsd:documentation>Indicates if the manifest is open 'O' or closed 'C' or uploaded 'U'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
