Data/xapidocs/api_javadocs/XSD/YDM_beforeDetermineRoutingUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/beforeDetermineRoutingUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/beforeDetermineRoutingUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_beforeDetermineRoutingUE_input.xsd" yfc:rootElement="RoutingGuide">
        <xsd:appinfo source="yfc:structure">
            <RoutingGuide hasAttributes="Y">
                <SelectionCriteria hasAttributes="Y"/>
                <RoutingGuideDetails>
                    <RoutingGuideDetail>
                        <ShipFrom hasAttributes="Y"/>
                        <ShipTo hasAttributes="Y"/>
                        <ShippingParameters hasAttributes="Y"/>
                    </RoutingGuideDetail>
                </RoutingGuideDetails>
            </RoutingGuide>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RoutingGuide" type="yfc:RoutingGuideXSDType">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE">
            <xsd:documentation>This table stores Routing Guide Header Information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RoutingGuideXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SelectionCriteria"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutingGuideDetails"/>
        </xsd:all>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>Buyer Organization Code on the Shipment/Load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>Enterprise Code on the Shipment/Load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedDeliveryDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Expected Delivery Date of the Shipment.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedShipDate" type="yfctype:Date" use="required">
            <xsd:annotation>
                <xsd:documentation>Expected Ship Date of the Shipment/Load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>
                    <div>Indicates the Number of the Load, for which routing is being performed.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>Seller Organization Code on the Shipment/Load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>
                    <div>Indicates the Number of the Shipment, for which routing is being performed.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SelectionCriteria">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE">
            <xsd:documentation>This table stores Routing Guide Header Information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_ROUTING_GUIDE">
                    <xsd:documentation>Department that deals with this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_ROUTING_GUIDE">
                    <xsd:documentation>Freight Terms for this Routing guide.Can be Collect, Prepaid or 3rd Party.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION" yfc:tableName="YFS_ROUTING_GUIDE">
                    <xsd:documentation>A classification that distinguishes the various merchandise that are dealt by the retailer who defined this routing guide.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RoutingGuideDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutingGuideDetail"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RoutingGuideDetail">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>The table stores details such as ship from, ship to, weight and volume for the routing guide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipFrom"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipTo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingParameters"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipFrom">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>
                <div>
						Origin Address information for which we need to determine SCAC and Carrier Service Code.
						<Validation>
                        <Condition> An exception will be thrown if all the attributes in the <code>ShipFrom</code> element are void. </Condition>
                        <Error
                            Description="at least one ShipFrom attributes must be passed." ErrorCode="YDM000140"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipFromCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_CITY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>City from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromCountry" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_COUNTRY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Country Code from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_NODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Ship Node from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_STATE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>State from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_ZIP"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Zipcode from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipTo">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>
                <div>
						Destination Address information for which we need to determine SCAC and Carrier Service Code.
						<Validation>
                        <Condition> An exception will be thrown if all the attributes in the <code>ShipTo</code> element are void. </Condition>
                        <Error
                            Description="at least one ShipTo attributes must be passed." ErrorCode="YDM000141"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>
                        <div>
The company this address is associated with.
</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>
                        <div>
Indicates whether the address is commercial, residential or none. Values of this field can be Y is Commercial address. N is Residential address. NULL is None. Default value is Null.
</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_CITY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>City to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToCountry" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_COUNTRY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Country Code to where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_NODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>DC to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_STATE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>State to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToStore" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_STORE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Store to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_ZIP"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Zipcode to where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingParameters">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>The table stores details such as ship from, ship to, weight and volume for the routing guide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="HandlingUnits" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Number of Handling Units in the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InputCarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="INPUT_CARRIER_SERVICE_CODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Specifies the Carrier Service Code that has been requested by the buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_TYPE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Indicates the type of shipment. GOH -Garment on Hangers/Reefer/Blanket wrap - this affects the type of trailer needed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Volume" type="yfctype:Dimension" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Volume of the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Volume UOM of the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Weight" type="yfctype:Dimension" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Weight of the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Weight UOM of the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
