Data/xapidocs/api_javadocs/XSD/YDM_createShipmentInvoice_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/createShipmentInvoice/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/createShipmentInvoice/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_createShipmentInvoice_input.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
		Refers to  the shipment. Once a shipment is invoiced 'Invoice_Complete' flag on the shipment is updated to 'Y'. Pass one of the following to identify the shipment.
		<br/>
                    <code>ShipmentKey</code>
                    <br/>
                    <code>ShipmentNo</code>, <code>ShipNode</code> and <code>SellerOrganizationCode</code>
                    <br/> In addition, pass either <code>TaskQKey</code> or <code>TransactionId</code>.
	    <Validation>
                        <Condition>Invalid Shipment key passed.
		</Condition>
                        <Error Description="Invalid Shipment key" ErrorCode="YFS10112"/>
                    </Validation>
                    <Validation>
                        <Condition>Invalid transaction ID passed. 
			</Condition>
                        <Error Description="Invalid transaction ID" ErrorCode="YCP0068"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>ChargeActualFreightFlag</code> on the order of the shipment is set to <code>
                                <b>Y</b>
                            </code>, then the <code>createShipmentInvoice</code> API will create or override a charge category/charge name of <code>Shipping/"blank"</code> on the order with the freight charge passed in on the shipment.   If a charge category, <code>Shipping</code>, is not setup for the enterprise.
			</Condition>
                        <Error Description="Invalid charge category" ErrorCode="YFS10537"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>ChargeActualFreightFlag</code> on the order of the shipment is set to <code>
                                <b>Y</b>
                            </code>, then the <code>createShipmentInvoice</code> API will create or override a charge category/charge name of <code>Shipping/"blank"</code> on the order with the freight charge passed in on the shipment.   If a charge name, <code>"blank"</code>, is not setup for <code>Shipping</code> charge category for the enterprise.
			</Condition>
                        <Error Description="Invalid charge" ErrorCode="YFS10346"/>
                    </Validation>
                    <Validation>
                        <Condition>If <code>OrderAvailableOnSystem</code> flag on the shipment is <code>
                                <b>M</b>
                            </code>:
			</Condition>
                        <Error
                            Description="Cannot create invoice for shipment with order may be on system." ErrorCode="YDM80_0011"/>
                    </Validation>
                    <i>or</i>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskQKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TASK_Q_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_TASK_Q">
                <xsd:documentation>
                    <div>
			Primary key of a Task Queue record. Pass either <code>TaskQKey</code> or <code>TranactionID</code>. 
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TranId" use="optional">
            <xsd:annotation yfc:columnName="TRANID"
                yfc:isConditional="Y" yfc:tableName="YFS_TRANSACTION">
                <xsd:documentation>
                    <div>Unique identifier to an instance of shipment invoice creation transaction. Pass either <code>TaskQKey</code> or <code>TransactionId</code>. If TransactionId is passed, the transaction should be an instance of the abstract transaction 
			<code>CREATE_SHIPMENT_INVOICE</code>. Configure this transaction, with its pickup and drop statuses, and  <code>ON_INVOICE_CREATION</code> event in the relevant pipeline.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
