Data/xapidocs/api_javadocs/XSD/YDM_getContainerInnerPackList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getContainerInnerPackList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getContainerInnerPackList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_getContainerInnerPackList_input.xsd" yfc:rootElement="ContainerInnerPack">
        <xsd:appinfo source="yfc:structure">
            <ContainerInnerPack hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ContainerInnerPack" type="yfc:ContainerInnerPackXSDType">
        <xsd:annotation yfc:tableName="YFS_CONTAINER_INNER_PACK">
            <xsd:documentation>This table stores information about inner packs contained in a shipment container.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerInnerPackXSDType">
        <xsd:attribute name="ContainerInnerPackKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_INNER_PACK_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Primary key attribute of YFS_CONTAINER_INNER_PACK table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerInnerPackKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Country of origin.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountryOfOriginQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="FIFO_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>FIFO number is a date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived first than the ones that arrived later.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FifoNoQryType" type="yfctype:NumberQryType" use="optional"/>
        <xsd:attribute name="FromContainerInnerPackKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromCountryOfOrigin" type="yfctype:Country" use="optional"/>
        <xsd:attribute name="FromFifoNo" type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="FromInnerPackQuantity"
            type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="FromItemID" type="yfctype:ItemID" use="optional"/>
        <xsd:attribute name="FromNoOfInnerPacks" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="FromProductClass"
            type="yfctype:ProductClass" use="optional"/>
        <xsd:attribute name="FromRequestedTagNo"
            type="yfctype:TagNumber" use="optional"/>
        <xsd:attribute name="FromSegment" type="yfctype:Segment" use="optional"/>
        <xsd:attribute name="FromSegmentType" type="yfctype:SegmentType" use="optional"/>
        <xsd:attribute name="FromShipmentContainerKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromShipmentKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromUnitOfMeasure" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="FromisHistory" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InnerPackQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="INNER_PACK_QUANTITY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Number of Items contained in each inner-pack.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InnerPackQuantityQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>The unique identifier of the Item in the inner pack. It is a part of unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemIDQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoOfInnerPacks" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="NO_OF_INNER_PACKS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Number of particular type of inner-packs packed in the shipment container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoOfInnerPacksQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Product class of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClassQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ReadFromHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if the data should be read from the history tables. Valid values are Y, N and Void. Void implies N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedTagNo" type="yfctype:TagNumber" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_TAG_NUMBER"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Requested Tag Number of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedTagNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Segment of inventory customized for an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Segment type of inventory customized for an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Link to the container key in YFS_SHIPMENT_CONTAINER table to which this inner pack belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Link to YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToContainerInnerPackKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToCountryOfOrigin" type="yfctype:Country" use="optional"/>
        <xsd:attribute name="ToFifoNo" type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="ToInnerPackQuantity"
            type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="ToItemID" type="yfctype:ItemID" use="optional"/>
        <xsd:attribute name="ToNoOfInnerPacks" type="yfctype:Quantity" use="optional"/>
        <xsd:attribute name="ToProductClass" type="yfctype:ProductClass" use="optional"/>
        <xsd:attribute name="ToRequestedTagNo" type="yfctype:TagNumber" use="optional"/>
        <xsd:attribute name="ToSegment" type="yfctype:Segment" use="optional"/>
        <xsd:attribute name="ToSegmentType" type="yfctype:SegmentType" use="optional"/>
        <xsd:attribute name="ToShipmentContainerKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToShipmentKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToUnitOfMeasure" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="ToisHistory" type="yfctype:String" use="optional"/>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Unit of measure of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasureQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="isHistory" type="yfctype:String" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y"/>
        </xsd:attribute>
        <xsd:attribute name="isHistoryQryType"
            type="yfctype:StringQryType" use="optional"/>
    </xsd:complexType>
</xsd:schema>
