Data/xapidocs/api_javadocs/XSD/YDM_getPickListList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getPickListList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getPickListList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getPickListList_input.xsd" yfc:rootElement="PickList">
        <xsd:appinfo source="yfc:structure">
            <PickList hasAttributes="Y">
                <Shipments>
                    <Shipment hasAttributes="Y"/>
                </Shipments>
            </PickList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PickList" type="yfc:PickListXSDType">
        <xsd:annotation yfc:tableName="YFS_PICK_LIST">
            <xsd:documentation>Stores picklist created during the picklist creation process. A picklist is a document used for picking. It is generated for a ship node across one or more shipments and contains information on the       shipment lines and the quantity for each line that is to be picked. Picklist is created by the printPickList API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PickListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipments"/>
        </xsd:all>
        <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>A logical way of grouping data in the system, so that different business processes can be applied to the data. The document type on the picklist restricts addition of only those shipments that belong to this document type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentTypeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromDocumentType" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="FromPickListDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromPickListKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromPickListNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="FromShipNode" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies maximum number of records that must be fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickListDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="PICK_LIST_DATE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>The date on which the picklist was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickListDateQryType"
            type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="PickListKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PICK_LIST_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>The primary key for the YFS_PICK_LIST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickListKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="PickListNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PICK_LIST_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>The pick list number. This is a unique key or business key, which by itself identifies a picklist.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickListNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>The shipnode key that is associated with this pick list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToDocumentType" type="yfctype:ID-40" use="optional"/>
        <xsd:attribute name="ToPickListDate" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToPickListKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToPickListNo" type="yfctype:DocumentNo" use="optional"/>
        <xsd:attribute name="ToShipNode" type="yfctype:Key" use="optional"/>
    </xsd:complexType>
    <xsd:element name="Shipments">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_DELIVERY_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment was actually delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualDeliveryDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ActualFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual freight charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualFreightChargeQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="ActualShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_SHIPMENT_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual shipment date. This is updated by the confirmShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualShipmentDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="AppointmentNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="APPOINTMENT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number which helps the ship node and the carrier identify the pick up details and any relevant details about the shipment delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppointmentNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="AssignedToUserId"
                type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The backroom pick user who is currently working on this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedToUserIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The bill of lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BuyerMarkForNodeId" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUYER_MARK_FOR_NODE_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Mark For Node as identified by the buyer for eg: it could be a person,store,DC.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerMarkForNodeIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The buyer organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BuyerReceivingNodeId"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_RECEIVING_NODE_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Receiving node as identified by the buyer for eg:Store,DC Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerReceivingNodeIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CarrierAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The account number of the customer or buying organization with the carrier. This is used for arriving at the billing account number. See YFS_SHIPMENT_CONTAINER.carrier_bill_account.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierAccountNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier service availed for transporting this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The type of carrier. This field is denormalized from YFS_SCAC_AND_SERVICE for the scac and carrier service code on the shipment. Typical values are PARCEL, LTL, and so forth.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CommercialValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="COMMERCIAL_VALUE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The commercial or declared value of the shipment for insurance purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommercialValueQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The currency corresponding to the shipment charges.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CurrencyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_METHOD"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The delivery method for the Product Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryMethodQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DeliveryPlanKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_PLAN_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The delivery plan to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryPlanKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DestinationZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESTINATION_ZONE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DestinationZoneQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A classification of data on which a particular set of business processes must be applied. In this case, it happens to be the document type of the order document - basically the document type of the orders comprising the shipment. A document type derived from the base document type 0001 - ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DownLoadCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="DOWNLOAD_COUNT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of times that the shipment information has been downloaded from the user interface.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DownLoadCountQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment is expected to be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as planned or arrived at in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ExportTaxpayerID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_TAXPAYER_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The tax payer ID of the shipping organization if the shipment is meant for export.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportTaxpayerIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The entity that pays the freight. Freight Terms determines whether a shipment is Pre Paid, 3rd Party Billing or Collect Billing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTermsQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromActualDeliveryDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromActualFreightCharge"
                type="yfctype:Money" use="optional"/>
            <xsd:attribute name="FromActualShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_ADDRESS_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The from address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAddressKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="FromAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="FROM_APPOINTMENT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time after which an appointment can be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAppointmentNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromAppointmentQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="FromAssignedToUserId"
                type="yfctype:LoginId" use="optional"/>
            <xsd:attribute name="FromBolNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromBuyerMarkForNodeId"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromBuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromBuyerReceivingNodeId"
                type="yfctype:ShipNode" use="optional"/>
            <xsd:attribute name="FromCarrierAccountNo"
                type="yfctype:AccountNo" use="optional"/>
            <xsd:attribute name="FromCarrierServiceCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromCarrierType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromCommercialValue"
                type="yfctype:Money" use="optional"/>
            <xsd:attribute name="FromCurrency" type="yfctype:Currency" use="optional"/>
            <xsd:attribute name="FromDeliveryMethod"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromDeliveryPlanKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromDestinationZone"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromDocumentType" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="FromDownLoadCount" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromEnterpriseCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromExportTaxpayerID"
                type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="FromFreightTerms"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromFromAddressKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromFromAppointment"
                type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromHasNodeExceptions"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromHasOtherShipments"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromHazardousMaterialFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromHeldForConfirmation"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromHoldLocation"
                type="yfctype:LocationId" use="optional"/>
            <xsd:attribute name="FromITDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromITNo" type="yfctype:NText-30" use="optional"/>
            <xsd:attribute name="FromManifestKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromNextAlertTs"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromNumOfCartons"
                type="yfctype:ContainerCount" use="optional"/>
            <xsd:attribute name="FromNumOfPallets"
                type="yfctype:ContainerCount" use="optional"/>
            <xsd:attribute name="FromOrderAvailableOnSystem"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromOrderReleaseKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOriginZone" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromPackListType"
                type="yfctype:Text-20" use="optional"/>
            <xsd:attribute name="FromParentShipmentKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPickListNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="FromPickticketNo"
                type="yfctype:VarcharID-24" use="optional"/>
            <xsd:attribute name="FromPipelineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromPodNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromProNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromProfileID"
                type="yfctype:ShipmentProfileID" use="optional"/>
            <xsd:attribute name="FromReceivingNode"
                type="yfctype:ShipNode" use="optional"/>
            <xsd:attribute name="FromReleaseNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="FromRequestedDeliveryDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromRequestedShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromSCAC" type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromSealNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromSellerOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="FromShipMode" type="yfctype:ShipMode" use="optional"/>
            <xsd:attribute name="FromShipNode" type="yfctype:ShipNode" use="optional"/>
            <xsd:attribute name="FromShipVia" type="yfctype:Text-10" use="optional"/>
            <xsd:attribute name="FromShipmentClosedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromShipmentConfirmUpdatesDone"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromShipmentConsolidationGroupId"
                type="yfctype:VarcharShipNode" use="optional"/>
            <xsd:attribute name="FromShipmentContainerizedFlag"
                type="yfctype:EnumShipmentContainerizedFlag" use="optional"/>
            <xsd:attribute name="FromShipmentDeliverUpdatesDone"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromShipmentNo"
                type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="FromShipmentPlannedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="FromShipmentType"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="FromStatus" type="yfctype:ShortStatus" use="optional"/>
            <xsd:attribute name="FromStatusDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromToAddressKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromToAppointment" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="FromTotalActualCharge"
                type="yfctype:Money" use="optional"/>
            <xsd:attribute name="FromTotalEstimatedCharge"
                type="yfctype:Money" use="optional"/>
            <xsd:attribute name="FromTotalVolume"
                type="yfctype:Dimension" use="optional"/>
            <xsd:attribute name="FromTotalVolumeUOM" type="yfctype:UOM" use="optional"/>
            <xsd:attribute name="FromTotalWeight"
                type="yfctype:Dimension" use="optional"/>
            <xsd:attribute name="FromTotalWeightUOM" type="yfctype:UOM" use="optional"/>
            <xsd:attribute name="FromTrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromTrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromWorkOrderApptKey"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="HasNodeExceptions" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_NODE_EXCEPTIONS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether there are any exceptions at the node. Typically, these exceptions are due to insufficient inventory at the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasNodeExceptionsQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="HasOtherShipments" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_OTHER_SHIPMENTS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasOtherShipmentsQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="HazardousMaterialFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAZARDOUS_MATERIAL_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment carries an item that is marked hazardous.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HazardousMaterialFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="HeldForConfirmation"
                type="yfctype:String" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y"/>
            </xsd:attribute>
            <xsd:attribute name="HeldForConfirmationQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="HoldLocation" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="HOLD_LOCATION"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Deposit location of picked items of shipment which are waiting for customer pick up in a store. If there are multiple locations, then those should be updated in a comma separated string. Primarily used in store application for backroom picking.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldLocationQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ITDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="IT_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the IT number was stamped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ITDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ITNo" type="yfctype:NText-30" use="optional">
                <xsd:annotation yfc:columnName="IT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The license number given by government or customs for shipments going to bonded warehouses.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ITNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number assigned on the system, if the CARRIER_TYPE of the shipment is PARCEL. A shipment assigned a particular manifest number is picked up by the carrier pick up personnel for purposes of shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to store manifest number assigned by carrier server. ManifestKey on shipment is where the actual manifesting related information is stored for the manifesting process in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The timestamp for the next alert. This is a computed field, which is used internally by the shipment monitor to proactively identify when the shipment could potentially be realerted on a business exception as per the monitor rules setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTsQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="NumOfCartons"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CARTONS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of cartons in the shipment. This field is only an approximation and not accurate depiction of the number of containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfCartonsQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="NumOfPallets"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of pallets in the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfPalletsQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="OrderAvailableOnSystem"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_AVAILABLE_ON_SYSTEM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the order is available on the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderAvailableOnSystemQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order header key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order number of the order for the shipment while creating with SingleOrder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order release key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OriginZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ORIGIN_ZONE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginZoneQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PackListType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PACKLIST_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The packlist type. One of the attributes used in shipment consolidation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackListTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ParentShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_SHIPMENT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentShipmentKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PickListNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PICK_LIST_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number that indicates a group of shipments which will be picked together. A picklist is a document used for picking. It is generated for a ship node across one or more shipments and contains information on the shipment lines and the quantity for each line that is to be picked. Picklist is created by the printPickList API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickListNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PickticketNo"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="PICKTICKET_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number assigned to group related shipments under one head. This is input by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickticketNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The pipeline to which this shipment belongs. This is determined by the createShipment API based on the document type and several other key attributes of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="POD_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The proof of delivery number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PodNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PRO_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The progressive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ProfileID"
                type="yfctype:ShipmentProfileID" use="optional">
                <xsd:annotation yfc:columnName="PROFILE_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The profile_id of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProfileIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The node that receives the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The release number of the OrderRelease for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNoQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="RequestedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_DELIVERY_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment must be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedDeliveryDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="RequestedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_SHIPMENT_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as requested by the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedShipmentDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCACQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SealNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SEAL_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seal number on the load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SealNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_MODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to identify the mode of shipment. Typical values are TL - Truck Load, LTL - Less Than Truck Load, etc. This attribute can also be used to store any of your own categorizations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipModeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipVia" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="SHIP_VIA"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The means of shipment. This is usually Land, Air, Sea, or Ocean.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipViaQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentClosedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CLOSED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is closed. This is a computed field, which is used internally as a way to logically mark data for purge so that transactions do not look into this data. This data is later purged by the purge agent at preset intervals. This is updated by the close shipment agent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentClosedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentConfirmUpdatesDone"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONFIRM_UPDATES_DONE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment confirm updates have been done. This is an internal field, which is used by the confirmShipment API to identify if shipment confirmation updates have already been performed on the shipment. Since there are various ways through which shipment confirmation updates could happen -- receiveIntransitUpdates, closeManifest, or confirmShipment -- it is required that there be an attribute that identifies if the shipment confirmation has indeed been done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConfirmUpdatesDoneQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentConsolidationGroupId"
                type="yfctype:VarcharShipNode" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONSOL_GROUP_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>It is a consolidation group id  that is used as a standard do not mix constraint.Releases belonging to same shipment consolidation group may consolidate to same shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConsolidationGroupIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentContainerizedFlag"
                type="yfctype:EnumShipmentContainerizedFlag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONTAINERIZED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This is an internal field that indicates the containerization state of the shipment. The values being: 01 - not containerized, 02 - containerization in progress and 03 - indicating complete containerization. This is updated by all shipment APIs that containerize or uncontainerize. APIs include createShipment, packShipment, unpackShipment, confirmShipment and changeShipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerizedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentDeliverUpdatesDone"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_DELIVER_UPDATES_DONE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This internal field is used by the receiveIntransitUpdates API to identify if delivery updates have already been done. Delivery updates are possible by explicitly invoking the deliverShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentDeliverUpdatesDoneQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentPlannedFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_PLANNED_FLAG"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is planned. This is a computed field. When every leg of the shipment from source to destination is included into loads, the shipment is said to be planned. This is updated by the manageLoad API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentPlannedFlagQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_TYPE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user-defined shipment type. This is used to indicate the composition of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentTypeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The status of the shipment. As various transactions in the shipment's pipeline act upon the shipment, the shipment status changes. Typical values are 1100 - Created, 1200 - Being Picked, 1400 - Shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="StatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToActualDeliveryDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToActualFreightCharge"
                type="yfctype:Money" use="optional"/>
            <xsd:attribute name="ToActualShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_ADDRESS_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The to address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToAddressKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ToAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="TO_APPOINTMENT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time before which an appointment could be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToAppointmentNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToAppointmentQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="ToAssignedToUserId"
                type="yfctype:LoginId" use="optional"/>
            <xsd:attribute name="ToBolNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToBuyerMarkForNodeId"
                type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToBuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToBuyerReceivingNodeId"
                type="yfctype:ShipNode" use="optional"/>
            <xsd:attribute name="ToCarrierAccountNo"
                type="yfctype:AccountNo" use="optional"/>
            <xsd:attribute name="ToCarrierServiceCode"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToCarrierType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToCommercialValue" type="yfctype:Money" use="optional"/>
            <xsd:attribute name="ToCurrency" type="yfctype:Currency" use="optional"/>
            <xsd:attribute name="ToDeliveryMethod"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToDeliveryPlanKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToDestinationZone"
                type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToDocumentType" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="ToDownLoadCount" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToEnterpriseCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToExportTaxpayerID"
                type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="ToFreightTerms" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToFromAddressKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToFromAppointment" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToHasNodeExceptions"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToHasOtherShipments"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToHazardousMaterialFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToHeldForConfirmation"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToHoldLocation"
                type="yfctype:LocationId" use="optional"/>
            <xsd:attribute name="ToITDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToITNo" type="yfctype:NText-30" use="optional"/>
            <xsd:attribute name="ToManifestKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToNextAlertTs" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToNumOfCartons"
                type="yfctype:ContainerCount" use="optional"/>
            <xsd:attribute name="ToNumOfPallets"
                type="yfctype:ContainerCount" use="optional"/>
            <xsd:attribute name="ToOrderAvailableOnSystem"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToOrderReleaseKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOriginZone" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToPackListType" type="yfctype:Text-20" use="optional"/>
            <xsd:attribute name="ToParentShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPickListNo" type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ToPickticketNo"
                type="yfctype:VarcharID-24" use="optional"/>
            <xsd:attribute name="ToPipelineKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToPodNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToProNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToProfileID"
                type="yfctype:ShipmentProfileID" use="optional"/>
            <xsd:attribute name="ToReceivingNode"
                type="yfctype:ShipNode" use="optional"/>
            <xsd:attribute name="ToReleaseNo" type="yfctype:Count" use="optional"/>
            <xsd:attribute name="ToRequestedDeliveryDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToRequestedShipmentDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToSCAC" type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToSealNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToSellerOrganizationCode"
                type="yfctype:OrgCode" use="optional"/>
            <xsd:attribute name="ToShipMode" type="yfctype:ShipMode" use="optional"/>
            <xsd:attribute name="ToShipNode" type="yfctype:ShipNode" use="optional"/>
            <xsd:attribute name="ToShipVia" type="yfctype:Text-10" use="optional"/>
            <xsd:attribute name="ToShipmentClosedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToShipmentConfirmUpdatesDone"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToShipmentConsolidationGroupId"
                type="yfctype:VarcharShipNode" use="optional"/>
            <xsd:attribute name="ToShipmentContainerizedFlag"
                type="yfctype:EnumShipmentContainerizedFlag" use="optional"/>
            <xsd:attribute name="ToShipmentDeliverUpdatesDone"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToShipmentKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToShipmentNo" type="yfctype:DocumentNo" use="optional"/>
            <xsd:attribute name="ToShipmentPlannedFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ToShipmentType" type="yfctype:Text-40" use="optional"/>
            <xsd:attribute name="ToStatus" type="yfctype:ShortStatus" use="optional"/>
            <xsd:attribute name="ToStatusDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToToAddressKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToToAppointment" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="ToTotalActualCharge"
                type="yfctype:Money" use="optional"/>
            <xsd:attribute name="ToTotalEstimatedCharge"
                type="yfctype:Money" use="optional"/>
            <xsd:attribute name="ToTotalVolume" type="yfctype:Dimension" use="optional"/>
            <xsd:attribute name="ToTotalVolumeUOM" type="yfctype:UOM" use="optional"/>
            <xsd:attribute name="ToTotalWeight" type="yfctype:Dimension" use="optional"/>
            <xsd:attribute name="ToTotalWeightUOM" type="yfctype:UOM" use="optional"/>
            <xsd:attribute name="ToTrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToTrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToWorkOrderApptKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToWorkOrderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="TotalActualCharge" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ACTUAL_CHARGE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalActualChargeQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="TotalEstimatedCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ESTIMATED_CHARGE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The estimated charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalEstimatedChargeQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="TotalVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total volume of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolumeQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="TotalVolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME_UOM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of volume specified in TotalVolume attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolumeUOMQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TotalWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total weight of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeightQryType"
                type="yfctype:NumberQryType" use="optional"/>
            <xsd:attribute name="TotalWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT_UOM"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of weight specified in Total_Weight attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeightUOMQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The trailer number by which the shipment leaves the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderApptKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_APPT_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The work order appt key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderApptKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The work order key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
