Data/xapidocs/api_javadocs/XSD/YDM_CLOSE_LOAD.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/CLOSE_LOAD/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/CLOSE_LOAD/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_CLOSE_LOAD.ON_SUCCESS.xsd" yfc:rootElement="Load">
        <xsd:appinfo source="yfc:structure">
            <Load hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Load" type="yfc:LoadXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD">
            <xsd:documentation>Stores information about loads. Loads are made of Shipments, carry one or more shipments between two points, and carry an entire shipment. A load has one origin, one destination and can have multiple intermediate stops. A load has one carrier. Loads  may or may not belong to a Delivery Plan. A load can pickup a shipment from its origin or an intermediate stop and drop off the shipment to its destination or an intermediate stop. A load is created and managed by the manageLoad API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadXSDType">
        <xsd:attribute name="ActualArrivalDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_ARRIVAL_DATE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The actual arrival date and time of the load at the destination stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualDepartureDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_DEPARTURE_DATE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The actual departure date and time of the load from the origin stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualFreightCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The actual freight charge for transporting all shipments in this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppointmentNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="APPOINTMENT_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>A number which helps the enterprise and the carrier identify the pick up details and any relevant details about the load drop off.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The Bill of Lading number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The buyer organization to which this shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The carrier service availed for transporting this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The currency corresponding to the load charges.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryPlanKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The delivery plan that this load belongs to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DestinationAddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DESTINATION_ADDRESS_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The destination address key that is associated with this load. A destination stop may be identified alternatively by a stop address. This is typically the case when receiving  or destination nodes are not maintained on the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DestinationNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="DESTINATION_NODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The receiving node corresponding to the destination of this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>A document type derived from the base document type 1001 - LOAD.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DropAtShipmentDestination"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="DROP_AT_SHIPMENT_DESTINATION" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag indicates that the load is created by choosing an option in which each shipment is dropped off at the shipment destination.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The enterprise that created the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedArrivalDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_ARRIVAL_DATE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The date and time at which the load is expected to arrive at the destination stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedDepartureDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_DEPARTURE_DATE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The date and time at which the load is expected to depart from its origin stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HazardousMaterial" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAZARDOUS_MATERIAL" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag indicates whether this load comprises of any shipment that carries an item that is marked hazardous.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ITNNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITN_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The field is used for storing the Internal Transaction Number(ITN), FTSR Exemption Number or XTN returned by Automated Export System(AES) after filing the Shipper's Export Declaration(SED).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsBreakBulkLoad" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_BREAK_BULK_LOAD" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag indicates whether the load is dropping shipments to their Break Bulk Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsExpInclInManifest" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_EXP_INCL_IN_MANIFEST" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag to indicates whether a load is included in the manifest explicitly. This is set to 'Y' when the user selects the load from the console and adds to a manifest explicitly.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadClosedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="LOAD_CLOSED_FLAG" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag indicates whether a load is closed. This is a computed field, which is used internally as a way to logically mark data for purge so that transactions do not look into this data. This data is later purged by the purge agent at preset intervals.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The primary key for the YFS_LOAD table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOAD_TYPE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The user defined load type. This field is used to indicate the composition of the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The manifest key that is associated with this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfCases"
            type="yfctype:PositiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of outermost cases in the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfPallets"
            type="yfctype:PositiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of outermost pallets in the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OriginAddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORIGIN_ADDRESS_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The origin address key that is associated with this load. An origin stop may be identified alternatively by a stop address.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OriginNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="ORIGIN_NODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The ship node corresponding to the origin of this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="OWNER_ORGANIZATION_CODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The organization that owns the load. This could be the enterprise code or any other valid organization in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickupFromShipmentOrigin"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PICKUP_FROM_SHIPMENT_ORIGIN" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag indicates whether the load is created by choosing an option in which each shipment is picked up from the shipment origin.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The pipeline to which this load belongs. This is determined by the manageLoad API based on the document type and several other key attributes of the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The Proof of Delivery number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The progressive number. It is generated for Loads with shipment mode as LTL, also if shipment mode changes from any other mode to LTL. Re-generation of PRO number happens, when the Carrier changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The carrier that transports this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndService" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SealNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The seal number on the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_MODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The mode of shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipVia" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SHIP_VIA" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The means of shipping the shipment. The values are usually Land, Air, Sea or Ocean.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The status of the load. As various transactions in the load's pipeline act upon the load, the load status changes. Typical values are 1100 - Created, 1150 - Trailer Loaded, 1200 - Intransit, 1300 - Completed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalActualCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_ACTUAL_CHARGE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The actual charge for transporting all shipments in this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalEstimatedCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_ESTIMATED_CHARGE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The estimated charge for transporting all shipments in this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalVolume" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The total volume of the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalVolumeUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_VOLUME_UOM" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The unit of measure for the units of volume specified in Total_Volume attribute of this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The total weight of the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_WEIGHT_UOM" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The unit of measure for the units of weight specified in Total_Weight attribute of this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The number of the trailer by which the load leaves the origin.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VesselName" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="VESSEL_NAME" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This indicates the name of the vessel used for transportation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VoyageNo" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="VOYAGE_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This indicates the vessel's voyage number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if data is fetched from the regular table or the history table. Valid values are Y and N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
