Data/xapidocs/api_javadocs/XSD/YDM_getDeliveryPlanDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getDeliveryPlanDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getDeliveryPlanDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getDeliveryPlanDetails_input.xsd" yfc:rootElement="DeliveryPlan">
        <xsd:appinfo source="yfc:structure">
            <DeliveryPlan hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DeliveryPlan" type="yfc:DeliveryPlanXSDType">
        <xsd:annotation yfc:tableName="YFS_DELIVERY_PLAN">
            <xsd:documentation>Stores information related to delivery plan. Delivery plan is a complete sequence of movements needed to deliver one or more orders from origin to destination. It consists loads, stops, shipments, origins and destinations. A Delivery Plan includes expected dates of arrival and departure at all start and end points of the plan. A delivery plan is created by including shipments into the plan. Shipments included in a delivery plan are load planned. When  all shipments in a delivery plan are included into loads for every leg of the shipment from source to destination, the delivery plan is said to be completely planned. Delivery plan is created and managed by the manageDeliveryPlan API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DeliveryPlanXSDType">
        <xsd:attribute name="DeliveryPlanKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_KEY" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>The primary key for the YFS_DELIVERY_PLAN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryPlanNo" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_NO" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>The unique key or business key, which by itself identifies a delivery plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>The enterprise that created the delivery plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
