Data/xapidocs/api_javadocs/XSD/YDM_getNodeSCACAccountList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getNodeSCACAccountList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getNodeSCACAccountList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getNodeSCACAccountList_input.xsd" yfc:rootElement="NodeSCACAccount">
        <xsd:appinfo source="yfc:structure">
            <NodeSCACAccount hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeSCACAccount" type="yfc:NodeSCACAccountXSDType">
        <xsd:annotation yfc:tableName="YFS_SCAC_EX">
            <xsd:documentation>Integration to carriers by various participants requires specific attributes capturing the relationship. The table is an extension to the YFS_SCAC table that captures these attributes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeSCACAccountXSDType">
        <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="SCAC_KEY" yfc:tableName="YFS_SCAC_EX">
                <xsd:documentation>
                    <div>Organization code of an organization that plays the role of <code>CARRIER</code>.
				<Validation>
                            <Condition>SCAC cannot be blank.
				</Condition>
                            <Error
                                Description="Mandatory parameters are not passed." ErrorCode="YDM00163"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="required">
            <xsd:annotation yfc:columnName="RECORD_KEY" yfc:tableName="YFS_SCAC_EX">
                <xsd:documentation>
                    <div>The participating <code>ShipNode</code> of the <code>SCAC</code>.
				<Validation>
                            <Condition> ShipNode cannot be blank.
				</Condition>
                            <Error
                                Description="Mandatory parameters are not passed." ErrorCode="YDM00163"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
