Data/xapidocs/api_javadocs/XSD/YDM_unpackShipment_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/unpackShipment/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/unpackShipment/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_unpackShipment_input.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y">
                <Containers>
                    <Container hasAttributes="Y"/>
                </Containers>
            </Shipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
       Pass  <code>ShipmentKey</code>
                    <i>or</i> pass <code>ShipmentNo</code>, <code>ShipNode</code> and <code>SellerOrganizationCode</code>  to identify the shipment.
       </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Containers"/>
        </xsd:all>
        <xsd:attribute name="OverrideModificationRules"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>OverrideModificationRules is used to override the statuses of shipment that can be considered for unpacking. This is determined using the modification_type UNPACK_SHIPMENT. Valid values are Y, N and Void. Void implies N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Containers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Container"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_CONTAINER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
