Data/xapidocs/api_javadocs/XSD/YDM_manageFreightTerms_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/manageFreightTerms/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/manageFreightTerms/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_manageFreightTerms_output.xsd" yfc:rootElement="FreightTerms">
        <xsd:appinfo source="yfc:structure">
            <FreightTerms hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="FreightTerms" type="yfc:FreightTermsXSDType">
        <xsd:annotation yfc:tableName="YFS_FREIGHT_TERMS">
            <xsd:documentation>This table stores the details of freight terms.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="FreightTermsXSDType">
        <xsd:attribute name="ChargesPaidBy" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CHARGES_PAID_BY" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Buyer or Shipper Or Third Party Buyer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderBuyersRoutingGuide"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Enterprise Code who created this configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreightTerms" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Freight Terms.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreightTermsKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FREIGHT_TERMS_KEY" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Primary key attribute of YFS_FREIGHT_TERMS.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Short Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransportationPreference"
            type="yfctype:Text-2" use="optional">
            <xsd:annotation yfc:columnName="TRANSPORTATION_PREFERENCE" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Specifies the transportation preference sequence in which the routing guide/table should be read. For example, say the freight term assigns preferences in the order of 1.) Buyer, 2.) Seller, and 3.) Others. When the transportation preference is 1, the Buyer's preference is used first. When not available, the next one in sequence (in this example, the Seller) will be used. If the transportation preference is 3, available transportation will be picked without specific order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
