Data/xapidocs/api_javadocs/XSD/YDM_getParcelSCACSummary_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getParcelSCACSummary/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getParcelSCACSummary/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getParcelSCACSummary_input.xsd" yfc:rootElement="Scac">
        <xsd:appinfo source="yfc:structure">
            <Scac hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Scac" type="yfc:ScacXSDType">
        <xsd:annotation yfc:tableName="YFS_SCAC">
            <xsd:documentation>This table stores carrier attributes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ScacXSDType">
        <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SCAC">
                <xsd:documentation>The code of the organization plays the role of carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC_KEY" yfc:tableName="YFS_SCAC">
                <xsd:documentation>The primary key for the YFS_SCAC table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>
                    <div>Identifies the shipnode for which the open manifests for the carrier is to be listed.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
