Data/xapidocs/api_javadocs/XSD/YDM_getParcelSCACSummary_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getParcelSCACSummary/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getParcelSCACSummary/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getParcelSCACSummary_output.xsd" yfc:rootElement="ScacList">
        <xsd:appinfo source="yfc:structure">
            <ScacList>
                <Scac hasAttributes="Y"/>
            </ScacList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ScacList" type="yfc:ScacListXSDType"/>
    <xsd:complexType name="ScacListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Scac"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Scac">
        <xsd:annotation yfc:tableName="YFS_SCAC">
            <xsd:documentation>This table stores carrier attributes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Date" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_DATE" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Specifies the date for which the open manifests are listed for the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EligibleContainers"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Specifies number of shipment containers which are part of unmanifested shipments for the carrier for a given date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpenManifests" type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Specifies number of open manifests for the carrier for a given date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The organization code of organization that defines this carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The code of the organization plays the role of carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacDesc" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SCAC_DESC" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The description of the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SCAC_KEY" yfc:tableName="YFS_SCAC">
                    <xsd:documentation>The primary key for the YFS_SCAC table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
