Data/xapidocs/api_javadocs/XSD/YDM_getNodeSCACAccountList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getNodeSCACAccountList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getNodeSCACAccountList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getNodeSCACAccountList_output.xsd" yfc:rootElement="NodeSCACAccounts">
        <xsd:appinfo source="yfc:structure">
            <NodeSCACAccounts hasAttributes="Y">
                <NodeSCACAccount hasAttributes="Y"/>
            </NodeSCACAccounts>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeSCACAccounts" type="yfc:NodeSCACAccountsXSDType">
        <xsd:annotation yfc:tableName="YFS_SCAC_EX">
            <xsd:documentation>Integration to carriers by various participants requires specific attributes capturing the relationship. The table is an extension to the YFS_SCAC table that captures these attributes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeSCACAccountsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NodeSCACAccount"/>
        </xsd:sequence>
        <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC_KEY" yfc:tableName="YFS_SCAC_EX">
                <xsd:documentation>
                    <div>
				Organization code of an organization that plays the role of <code>CARRIER</code>.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="RECORD_KEY" yfc:tableName="YFS_SCAC_EX">
                <xsd:documentation>
                    <div>
				The participating <code>ShipNode</code> of the <code>SCAC</code>.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NodeSCACAccount">
        <xsd:annotation yfc:tableName="YFS_SCAC_EX">
            <xsd:documentation>Integration to carriers by various participants requires specific attributes capturing the relationship. The table is an extension to the YFS_SCAC table that captures these attributes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BillingAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="ACCOUNT1" yfc:tableName="YFS_SCAC_EX">
                    <xsd:documentation>
                        <div>
				Indicates the <code>BillingAccountNo</code> set up by the third party organization for 
				the Scac with the Node.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Enterprise" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_SCAC_EX">
                    <xsd:documentation>
                        <div>
				Indicates the enterprise.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipperAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="ACCOUNT2" yfc:tableName="YFS_SCAC_EX">
                    <xsd:documentation>
                        <div>
				Indicates the <code>ShipperAccountNo</code> set up by the enterprise for the Scac with the Node.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ThirdPartyOrganization"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="THIRD_PARTY_ORGANIZATION_KEY" yfc:tableName="YFS_SCAC_EX">
                    <xsd:documentation>
                        <div>
				Indicates the third party organization.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
