Data/xapidocs/api_javadocs/XSD/YDM_getUPSCheckDigit_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getUPSCheckDigit/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getUPSCheckDigit/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getUPSCheckDigit_input.xsd" yfc:rootElement="Manifest">
        <xsd:appinfo source="yfc:structure">
            <Manifest hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Manifest" type="yfc:ManifestXSDType">
        <xsd:annotation yfc:tableName="YFS_MANIFEST">
            <xsd:documentation>Stores carrier manifest created during the manifesting process. A manifest is a carrier specific document that comprises of shipments. A manifest is created for a ship node and carrier. At any point in time, there is only one open manifest for a ship node and carrier. Every parcel shipment that is containerized is included in a manifest. Containerization is done using the packShipment and changeShipment API. All shipments included in the manifest are ship confirmed using the closeManifest API. All parcel related carrier services for a carrier are part of a single manifest.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ManifestXSDType">
        <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>Primary key attribute of YFS_MANIFEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAccountNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPPER_ACCOUNT_NO" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>Gives the shippers account number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
