Data/xapidocs/api_javadocs/XSD/YDM_getTransportationCostUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getTransportationCostUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getTransportationCostUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_getTransportationCostUE_output.xsd" yfc:rootElement="RoutableCarriers">
        <xsd:appinfo source="yfc:structure">
            <RoutableCarriers>
                <RoutableCarrier>
                    <Routable hasAttributes="Y"/>
                    <CarrierOptions>
                        <CarrierOption hasAttributes="Y"/>
                    </CarrierOptions>
                </RoutableCarrier>
            </RoutableCarriers>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RoutableCarriers" type="yfc:RoutableCarriersXSDType"/>
    <xsd:complexType name="RoutableCarriersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutableCarrier"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="RoutableCarrier">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Routable"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CarrierOptions"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Routable">
        <xsd:complexType>
            <xsd:attribute name="RoutableReferenceId"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Identier for this routable criteria.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CarrierOptions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CarrierOption"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CarrierOption">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
            <xsd:documentation>The entity stores the carrier service, break bulk node and contact of the carrier for the routing guide detail.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BreakBulkNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="BREAK_BULK_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>Link to YFS_SHIP_NODE table. Drop location or break bulk location for this carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_KEY" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>Link to YFS_PERSON_INFO table to get contact address of the trading partner.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Cost" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Cost involved in shipping using this SCAC.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The currency corresponding to the cost.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>Priority of the routing guide carrier entry.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_CODE" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
