Data/xapidocs/api_javadocs/XSD/YDM_getSpecialServicesList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getSpecialServicesList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getSpecialServicesList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getSpecialServicesList_output.xsd" yfc:rootElement="SpecialServicesList">
        <xsd:appinfo source="yfc:structure">
            <SpecialServicesList hasAttributes="Y">
                <SpecialServices hasAttributes="Y"/>
            </SpecialServicesList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SpecialServicesList" type="yfc:SpecialServicesListXSDType"/>
    <xsd:complexType name="SpecialServicesListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SpecialServices"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Total number of records returned by this api.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SpecialServices">
        <xsd:annotation yfc:tableName="YFS_SPECIAL_SERVICES">
            <xsd:documentation>This table stores special services supported by various carriers that can be used when shipping packages. Examples of special services are signature required upon delivery of the package, Saturday pick-up and Saturday delivery.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SpecialServicesCode"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="SPECIAL_SERVICES_CODE" yfc:tableName="YFS_SPECIAL_SERVICES">
                    <xsd:documentation>Unique code or business key that identifies a special service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpecialServicesDescription"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="SPECIAL_SERVICES_DESCRIPTION" yfc:tableName="YFS_SPECIAL_SERVICES">
                    <xsd:documentation>Description of the special service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpecialServicesKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SPECIAL_SERVICES_KEY" yfc:tableName="YFS_SPECIAL_SERVICES">
                    <xsd:documentation>Primary key attribute of YFS_SPECIAL_SERVICES that identifies a special service.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
