Data/xapidocs/api_javadocs/XSD/YDM_getNextProNoUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getNextProNoUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getNextProNoUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getNextProNoUE_input.xsd" yfc:rootElement="GetNextProNo">
        <xsd:appinfo source="yfc:structure">
            <GetNextProNo hasAttributes="Y">
                <Load hasAttributes="Y"/>
            </GetNextProNo>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetNextProNo" type="yfc:GetNextProNoXSDType"/>
    <xsd:complexType name="GetNextProNoXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Load"/>
        </xsd:all>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The primary key for the YFS_LOAD table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_PRO_NO_DATA">
                <xsd:documentation>The Node for which PRO number generation is configured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNoLength" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO_LENGTH" yfc:tableName="YFS_SCAC">
                <xsd:documentation>The length of the PRO number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_PRO_NO_DATA">
                <xsd:documentation>The Carrier for which PRO number generation is configured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Load">
        <xsd:annotation yfc:tableName="YFS_LOAD">
            <xsd:documentation>Stores information about loads. Loads are made of Shipments, carry one or more shipments between two points, and carry an entire shipment. A load has one origin, one destination and can have multiple intermediate stops. A load has one carrier. Loads  may or may not belong to a Delivery Plan. A load can pickup a shipment from its origin or an intermediate stop and drop off the shipment to its destination or an intermediate stop. A load is created and managed by the manageLoad API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                    <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
