Data/xapidocs/api_javadocs/XSD/YDM_removeContainerFromManifest_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/removeContainerFromManifest/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/removeContainerFromManifest/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_removeContainerFromManifest_input.xsd" yfc:rootElement="Container">
        <xsd:appinfo source="yfc:structure">
            <Container hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <Load hasAttributes="Y"/>
            </Container>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Container" type="yfc:ContainerXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>
                <div>
				Stores container header information. Specifies the container to be manifested.
					<Validation>
                        <Condition>Container can be identified by using <code>ShipmentContainerKey</code> or <code>ContainerNo</code> and <code>ShipmentKey</code> or <code>ContainerNo</code> and <code>LoadKey</code>.
						</Condition>
                        <Error
                            Description="Either ContainerNo or ShipmentContainerKey is mandatory." ErrorCode="YDM00066"/>
                    </Validation>
                    <Validation>
                        <Condition>If neither <code>ShipmentKey</code> nor <code>LoadKey</code> is passed or identifiable from the <code>Shipment</code> or <code>Load</code> element passed.
						</Condition>
                        <Error
                            Description="Either shipment or load details must be passed in input." ErrorCode="YDM00267"/>
                    </Validation>
                    <Validation>
                        <Condition> A Manifest should exist for the <code>ManifestKey</code> posted on the <code>Container</code>.</Condition>
                        <Error
                            Description="Manifest could not be found for the manifest key on the container." ErrorCode="YDM00034"/>
                    </Validation>
                    <Validation>
                        <Condition>If the manifest is closed.</Condition>
                        <Error Description="Manifest is closed." ErrorCode="YDM00096"/>
                    </Validation>
                    <Validation>
                        <Condition>If the manifest is in Closure Requested status.</Condition>
                        <Error
                            Description="Cannot Add/Remove container from manifest in the current status." ErrorCode="YDM00258"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Load"/>
        </xsd:all>
        <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Unique key or business key, which by itself identifies a shipment container along with <code>ShipmentKey</code> and <code>LoadKey</code>. 
				<Validation>
                            <Condition> It should give unique shipment container.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>An unique number which helps identify the conatiner along with <code>ShipmentKey</code> or <code>LoadKey</code>.
				<Validation>
                            <Condition> It should give unique shipment container.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The load key that is associated with this shipment container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Location at which container is being removed from manifest.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Primary key attribute of YFS_SHIPMENT_CONTAINER table. 
				<Validation>
                            <Condition> Must be a valid ShipmentContainerKey.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Load">
        <xsd:annotation yfc:tableName="YFS_LOAD">
            <xsd:documentation>Stores information about loads. Loads are made of Shipments, carry one or more shipments between two points, and carry an entire shipment. A load has one origin, one destination and can have multiple intermediate stops. A load has one carrier. Loads  may or may not belong to a Delivery Plan. A load can pickup a shipment from its origin or an intermediate stop and drop off the shipment to its destination or an intermediate stop. A load is created and managed by the manageLoad API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                    <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
