Data/xapidocs/api_javadocs/XSD/YDM_getManifestList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getManifestList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getManifestList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getManifestList_output.xsd" yfc:rootElement="Manifests">
        <xsd:appinfo source="yfc:structure">
            <Manifests>
                <Manifest hasAttributes="Y"/>
                <Status hasAttributes="Y"/>
            </Manifests>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Manifests" type="yfc:ManifestsXSDType"/>
    <xsd:complexType name="ManifestsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Manifest"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Status"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Manifest">
        <xsd:annotation yfc:tableName="YFS_MANIFEST">
            <xsd:documentation>Stores carrier manifest created during the manifesting process. A manifest is a carrier specific document that comprises of shipments. A manifest is created for a ship node and carrier. At any point in time, there is only one open manifest for a ship node and carrier. Every parcel shipment that is containerized is included in a manifest. Containerization is done using the packShipment and changeShipment API. All shipments included in the manifest are ship confirmed using the closeManifest API. All parcel related carrier services for a carrier are part of a single manifest.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ExternalManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="EXTERNAL_MANIFEST_NO" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>The identifier of the manifest on External system like Pierbridge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHazmat" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HAZMAT" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Indicates whether the manifest contains hazardous items or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsParcel" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates whether all shipments included in the manifest are parcels.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestClosedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_CLOSED_FLAG" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>This flag indicates whether the manifest is closed, all shipments included in the manifest are ship confirmed, and no new shipments can be added to this manifest. The manifest is marked closed by the closeManifest API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_DATE" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Manifest creation date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Primary key attribute of YFS_MANIFEST table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestStatus" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_STATUS" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Indicates the status of a manifest. Shipments may be added only to manifests that are in open state.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfContainersManifested"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the number of containers that are manifested across shipments and loads.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfLoadsManifestedCompletely"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the number of loads that are manifested completely. This attribute is not applicable when manifesting is at container level.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfShipmentsManifestedCompletely"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the number of shipments that are manifested completely. This attribute is not applicable when manifesting is at container level.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrintCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="PRINT_COUNT" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Number of times the manifest has been printed. This is 0 at creation. This is incremented by 1 at every subsequent print.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipperAccountNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPPER_ACCOUNT_NO" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Gives the shippers account number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalNumberOfContainers"
                type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the total number of containers across shipments and loads. This attribute is not applicable when manifesting is at container level.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Identifier of the trailer to which, this manifest belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Status">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>
                        <div>Short description for the status associated with the Manifest.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestStatus" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates the status of a manifest. Shipments may be added only to manifests that are in open state.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
