Data/xapidocs/api_javadocs/XSD/YDM_beforeAddContainerToManifestUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/beforeAddContainerToManifestUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/beforeAddContainerToManifestUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_beforeAddContainerToManifestUE_output.xsd" yfc:rootElement="Container">
        <xsd:appinfo source="yfc:structure">
            <Container hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <Load hasAttributes="Y"/>
                <PrinterPreference hasAttributes="Y"/>
                <Manifest hasAttributes="Y"/>
            </Container>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Container" type="yfc:ContainerXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>
                <div>
				Stores container header information. Specifies the container to be manifested.
				<Validation>
                        <Condition>Conatiner can be identified by using <code>ShipmentContainerKey</code> or <code>ContainerNo</code> and <code>ShipmentKey</code> or <code>ContainerNo</code> and <code>LoadKey</code>.
				</Condition>
                        <Error
                            Description="Either ContainerNo or ShipmentContainerKey is mandatory." ErrorCode="YDM00066"/>
                    </Validation>
                    <Validation>
                        <Condition>If neither <code>ShipmentKey</code> nor <code>LoadKey</code> is passed or identifiable from the <code>Shipment</code> or <code>Load</code> element passed.
				</Condition>
                        <Error
                            Description="Either shipment or load details must be passed in input." ErrorCode="YDM00267"/>
                    </Validation>
                    <Validation>
                        <Condition>If a child container which resides in another shipping container(Shipment/Load) is tried to be manifested.
				</Condition>
                        <Error
                            Description="Container cannot be manifested as it resides inside another shipping container." ErrorCode="YDM00201"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Load"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrinterPreference"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Manifest"/>
        </xsd:all>
        <xsd:attribute name="ActualFreightCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the freight charge as arrived at by the carrier server.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The actual weight of container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the actual weight of the container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppliedWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="APPLIED_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the weight that was used for freight charge calculations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppliedWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="APPLIED_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of weight specified in APPLIED_WEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CODReturnTrackingNo"
            type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="COD_RETURN_TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The tracking number for the COD return. If carrier integration is availed for the carrier on the shipment, then this information is returned by the FedEx carrier server. This is a unique number assigned to each container that can be used to track individual containers of a shipment in case of return.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Unique key or business key, which by itself identifies a shipment container along with <code>ShipmentKey</code> and <code>LoadKey </code>. 
 				<Validation>
                            <Condition> It should be unique shipment container.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                        <Validation>
                            <Condition> Should be able to identify either a shipment or load for the container.
				</Condition>
                            <Error
                                Description="Either shipment or load details must be passed in input." ErrorCode="YDM00267"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>A unique number which helps identify the container along with <code>ShipmentKey</code> or <code>LoadKey</code>.
				<Validation>
                            <Condition> It should be unique shipment container.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPackProcessComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PACK_PROCESS_COMPLETE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Marked as 'Y' if no more pack activities are pending for the container.
				<Validation>
                            <Condition> It should be 'Y' to add a container to manifest.
				</Condition>
                            <Error
                                Description="The pack process is not completed for container." ErrorCode="YDM00188"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Specifies the load to which the container belongs.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Location at which container is getting manifested.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Identifies the manifest to which the container belongs. 
				<Validation>
                            <Condition>Already container should not be manifested.
				</Condition>
                            <Error
                                Description="Container already got manifested." ErrorCode="YDM00167"/>
                        </Validation>
                        <Validation>
                            <Condition>If passed in input then a manifest record should exist in Manifest entity.
				</Condition>
                            <Error Description="Invalid Manifest." ErrorCode="YDM00097"/>
                        </Validation>
                        <Validation>
                            <Condition>If manifest is closed, corresponding scac record should exist in ScacEx entity.
				</Condition>
                            <Error
                                Description="Record does not exist in ScacEx entity." ErrorCode="YDM00171"/>
                        </Validation>
                        <Validation>
                            <Condition>If 'AutoOpenManifest' flag is 'N' and if there are no open manifests for that day, then a new manifest cannot be created automatically to manifest the container.
				</Condition>
                            <Error
                                Description="Invalid AutoOpenManifest flag in YFS_Scac_Ex entity." ErrorCode="YDM00168"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Identifies the manifest to which the container belongs. 
				<Validation>
                            <Condition>Already container should not be manifested.
				</Condition>
                            <Error
                                Description="Container already got manifested." ErrorCode="YDM00167"/>
                        </Validation>
                        <Validation>
                            <Condition>If passed in input then a manifest record should exist in Manifest entity.
				</Condition>
                            <Error Description="Invalid Manifest." ErrorCode="YDM00097"/>
                        </Validation>
                        <Validation>
                            <Condition>If manifest is closed, corresponding scac record should exist in ScacEx entity.
				</Condition>
                            <Error
                                Description="Record does not exist in ScacEx entity." ErrorCode="YDM00171"/>
                        </Validation>
                        <Validation>
                            <Condition>If 'AutoOpenManifest' flag is 'N' and if there are no open manifests for that day, then a new manifest cannot be created automatically to manifest the container.
				</Condition>
                            <Error
                                Description="Invalid AutoOpenManifest flag in YFS_Scac_Ex entity." ErrorCode="YDM00168"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Identifies the carrier to whose manifest, the container is added.
				<Validation>
                            <Condition>If passed in input then a manifest record should exist in Manifest entity.
				</Condition>
                            <Error Description="Invalid Manifest." ErrorCode="YDM00097"/>
                        </Validation>
                        <Validation>
                            <Condition>If manifest is closed, corresponding scac record should exist in ScacEx entity.
				</Condition>
                            <Error
                                Description="Record does not exist in ScacEx entity." ErrorCode="YDM00171"/>
                        </Validation>
                        <Validation>
                            <Condition>If 'AutoOpenManifest' flag is 'N' and if there are no open manifests for that day, then a new manifest cannot be created automatically to manifest the container.
				</Condition>
                            <Error
                                Description="Invalid AutoOpenManifest flag in YFS_Scac_Ex entity." ErrorCode="YDM00168"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Primary key attribute of YFS_SHIPMENT_CONTAINER table. 
				<Validation>
                            <Condition> Must be a valid ShipmentContainerKey.
				</Condition>
                            <Error
                                Description="Specified Container does not exist." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Specifies the shipment to which the container belongs.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpecialServicesSurcharge"
            type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="SPECIAL_SERVICES_SURCHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server if carrier server integration is availed for the shipment. This indicates the special service charge levied for the special services selected.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrackingNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The tracking number. If carrier integration is availed for the carrier on the shipment, then this information is returned by the carrier server. This is a unique number assigned to each container that can be used to track individual containers in a shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Load">
        <xsd:annotation yfc:tableName="YFS_LOAD">
            <xsd:documentation>Stores information about loads. Loads are made of Shipments, carry one or more shipments between two points, and carry an entire shipment. A load has one origin, one destination and can have multiple intermediate stops. A load has one carrier. Loads  may or may not belong to a Delivery Plan. A load can pickup a shipment from its origin or an intermediate stop and drop off the shipment to its destination or an intermediate stop. A load is created and managed by the manageLoad API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                    <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrinterPreference">
        <xsd:annotation yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
            <xsd:documentation>This entity defines the printers to be used for different documents based on attributes such as User, UserGroup etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PrinterId" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Unique identifier of Printer.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                    <xsd:documentation>Unique key of YFS_USER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UsergroupId" type="yfctype:UserGroup" use="optional">
                <xsd:annotation yfc:columnName="USERGROUP_ID" yfc:tableName="YFS_USER_PRINTER_PREFERENCE">
                    <xsd:documentation>Unique key of YFS_USER_GROUP.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkStationId"
                type="yfctype:EquipmentId" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_ID" yfc:tableName="YFS_EQUIPMENT">
                    <xsd:documentation>The Work Station with which the printer is associated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Manifest">
        <xsd:annotation yfc:tableName="YFS_MANIFEST">
            <xsd:documentation>Stores carrier manifest created during the manifesting process. A manifest is a carrier specific document that comprises of shipments. A manifest is created for a ship node and carrier. At any point in time, there is only one open manifest for a ship node and carrier. Every parcel shipment that is containerized is included in a manifest. Containerization is done using the packShipment and changeShipment API. All shipments included in the manifest are ship confirmed using the closeManifest API. All parcel related carrier services for a carrier are part of a single manifest.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ManifestDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_DATE" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Specifies the date whose manifest the containers are required to be added to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
