Data/xapidocs/api_javadocs/XSD/YDM_generateSCM_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/generateSCM/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/generateSCM/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_generateSCM_input.xsd" yfc:rootElement="generateSCM">
        <xsd:appinfo source="yfc:structure">
            <generateSCM hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="generateSCM" type="yfc:generateSCMXSDType"/>
    <xsd:complexType name="generateSCMXSDType">
        <xsd:attribute name="ContainerType" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                    Default: <b>
                            <code>Case</code>
                        </b>
                        <br/>Valid Values:
                    <br/>
                        <b>
                            <code>Case</code>
                        </b> - To generate Case SCMs
                    <br/>
                        <b>
                            <code>Pallet</code>
                        </b> - To generates Pallet SCMs
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Text-6">
                    <xsd:enumeration value="Case"/>
                    <xsd:enumeration value="Pallet"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies the context of an enterprise for which the SCMs are being generated. This is used while calling the user exit com.yantra.ydm.japi.ue.YDMGetNextSCMUE/YDMGetNextContainerSCMUE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumScmsRequested" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies the Number of SCMs required to be returned. Default is 1.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:isConditional="Y">
                <xsd:documentation>The ShipNode where SCMs are being generated</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>Identifies the ShipNode. Pass either ShipmentKey or  ShipNode</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
