Data/xapidocs/api_javadocs/XSD/YDM_manageFreightTerms_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/manageFreightTerms/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/manageFreightTerms/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_manageFreightTerms_input.xsd" yfc:rootElement="FreightTerms">
        <xsd:appinfo source="yfc:structure">
            <FreightTerms hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="FreightTerms" type="yfc:FreightTermsXSDType">
        <xsd:annotation yfc:tableName="YFS_FREIGHT_TERMS">
            <xsd:documentation>This table stores the details of freight terms.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="FreightTermsXSDType">
        <xsd:attribute name="Action" type="yfctype:Text-8" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <br/>Valid Values:
						<br/>
                        <b>
                            <code>CREATE</code>
                        </b> - Creates a Record in YFS_FREIGHT_TERMS table.
						<br/>
                        <b>
                            <code>MODIFY</code>
                        </b> - Modifies a record in YFS_FREIGHT_TERMS table.
						<br/>
                        <b>
                            <code>DELETE</code>
                        </b> - Deletes a record in YFS_FREIGHT_TERMS table.
						<br/>
                        <b>Default Action is <code>MODIFY</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargesPaidBy" type="yfctype:Text-8" use="optional">
            <xsd:annotation yfc:columnName="CHARGES_PAID_BY" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>
                    <div>
                        <br/>Valid Values:
						<br/>
                        <b>
                            <code>BYUER</code>
                        </b>
                        <br/>
                        <b>
                            <code>SHIPPER</code>
                        </b>
                        <br/>If no value is passed then BYUER is DEFAULTED
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderBuyersRoutingGuide"
            type="yfctype:Text-1" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <br/>Valid Values:
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - Sets the Transportation_Preference field in YFS_FREIGHT_TERMS to "01"
						<br/>
                        <b>
                            <code>N</code>
                        </b> - Sets the Transportation_Preference field in YFS_FREIGHT_TERMS to "02"
						<br/>If no value is passed then "02" is defaulted
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Enterprise Code who created this configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreightTerms" type="yfctype:Text-24" use="required">
            <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Freight Terms.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreightTermsKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FREIGHT_TERMS_KEY" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Primary key attribute of YFS_FREIGHT_TERMS.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_FREIGHT_TERMS">
                <xsd:documentation>Short Description.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
