Data/xapidocs/api_javadocs/XSD/YDM_reprintCarrierLabel_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/reprintCarrierLabel/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/reprintCarrierLabel/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_reprintCarrierLabel_output.xsd" yfc:rootElement="reprintCarrierLabel">
        <xsd:appinfo source="yfc:structure">
            <reprintCarrierLabel>
                <Container hasAttributes="Y">
                    <ContainerReturnTrackingList>
                        <ContainerReturnTracking hasAttributes="Y"/>
                    </ContainerReturnTrackingList>
                    <Manifest hasAttributes="Y"/>
                </Container>
            </reprintCarrierLabel>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="reprintCarrierLabel" type="yfc:reprintCarrierLabelXSDType"/>
    <xsd:complexType name="reprintCarrierLabelXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Container"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerReturnTrackingList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Manifest"/>
            </xsd:all>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>ContainerNo for which this API could successfully get a Tracking Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PierbridgeLabelURL"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Publishes the Pierbridge Label URL if populated in the Pierbrdige Server Response XML.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>ShipmentContainerKey for which this API could successfully get a Tracking Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerReturnTrackingList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ContainerReturnTracking"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerReturnTracking">
        <xsd:annotation yfc:tableName="YFS_CNTR_RET_TRACK">
            <xsd:documentation>Stores all the return tracking number associated with a container.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PierbridgeReturnLabelURL"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Publishes the Pierbridge Return Label URL if populated in the Pierbrdige Server Response XML.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnPrintBuffer"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Label print buffer of the return label that is returned by Yantra Carrier Server if WMS chooses to print the label by itself. WMS can use this buffer only using Sterling Pierbridge Adaptor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnTrackingNumber"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="RETURN_TRACKING_NUMBER" yfc:tableName="YFS_CNTR_RET_TRACK">
                    <xsd:documentation>The return tracking number for the container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_CNTR_RET_TRACK">
                    <xsd:documentation>The shipment key that is associated with this container List.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_CNTR_RET_TRACK">
                    <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Manifest">
        <xsd:annotation yfc:tableName="YFS_MANIFEST">
            <xsd:documentation>Stores carrier manifest created during the manifesting process. A manifest is a carrier specific document that comprises of shipments. A manifest is created for a ship node and carrier. At any point in time, there is only one open manifest for a ship node and carrier. Every parcel shipment that is containerized is included in a manifest. Containerization is done using the packShipment and changeShipment API. All shipments included in the manifest are ship confirmed using the closeManifest API. All parcel related carrier services for a carrier are part of a single manifest.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>Primary key attribute of YFS_MANIFEST table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_MANIFEST">
                    <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
