Data/xapidocs/api_javadocs/XSD/YDM_splitShipment_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/splitShipment/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/splitShipment/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_splitShipment_input.xsd" yfc:rootElement="SplitShipment">
        <xsd:appinfo source="yfc:structure">
            <SplitShipment>
                <Source>
                    <Shipment hasAttributes="Y">
                        <Containers>
                            <Container hasAttributes="Y">
                                <TaskList>
                                    <Task hasAttributes="Y"/>
                                </TaskList>
                            </Container>
                        </Containers>
                        <Notes>
                            <Note hasAttributes="Y">
                                <User hasAttributes="Y"/>
                            </Note>
                        </Notes>
                        <ShipmentLines>
                            <ShipmentLine hasAttributes="Y">
                                <ShipmentLineInvAttRequest hasAttributes="Y"/>
                                <ShipmentTagSerials>
                                    <ShipmentTagSerial hasAttributes="Y"/>
                                </ShipmentTagSerials>
                                <TaskList>
                                    <Task hasAttributes="Y"/>
                                </TaskList>
                            </ShipmentLine>
                        </ShipmentLines>
                    </Shipment>
                </Source>
                <Target>
                    <Shipment hasAttributes="Y"/>
                </Target>
            </SplitShipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SplitShipment" type="yfc:SplitShipmentXSDType"/>
    <xsd:complexType name="SplitShipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Source"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Target"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Source">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Shipment">
                    <xsd:annotation yfc:tableName="YFS_SHIPMENT">
                        <xsd:documentation>
                            <div>The Shipment. Pass  <code>ShipmentKey</code>
                                <i>or</i>
                                <code>ShipmentNo</code>, <code>ShipNode</code> and <code>SellerOrganizationCode</code> to identify the shipment. Shipment lines with quantity or containers are moved from the shipment specified under <code>Source</code> element to the shipment specified under <code>Target</code> shipment.
						<Validation>
                                    <Condition>Either <code>ShipmentLines</code> or <code>Containers</code> must be specified and not both.</Condition>
                                    <Error
                                    Description="Input document is null or its contents are not as expected in the API documentation." ErrorCode="YCP0073"/>
                                </Validation>
                                <Validation>
                                    <Condition>Shipment should not have been invoiced.
				</Condition>
                                    <Error
                                    Description="Certain modifications are not allowed on invoiced shipment." ErrorCode="YDM77_00002"/>
                                </Validation>
                            </div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Containers"/>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Notes"/>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLines"/>
                        </xsd:all>
                        <xsd:attribute name="SellerOrganizationCode"
                            type="yfctype:OrgCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipNode"
                            type="yfctype:ShipNode" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentNo"
                            type="yfctype:DocumentNo" use="optional">
                            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                                <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Containers">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>If any of the <code>Containers</code> contain a logical kit component and if all the components of the logical kit are not present in the containers being moved in same kit ratio.</Condition>
                        <Error Description="Invalid quantity break up." ErrorCode="YDM00203"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Container"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="TaskList">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Task">
                                <xsd:annotation yfc:tableName="YFS_TASK">
                                    <xsd:documentation>
                                    <div>
                                    <Validation>
                                    <Condition>
													Task should be associated to shipment container being moved. 
												</Condition>
                                    <Error
                                    Description="Invalid Task" ErrorCode="YCP0111"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>
													Task should not be a summary task. 
												</Condition>
                                    <Error
                                    Description="Summary task cannot be accepted" ErrorCode="YCP0155"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>
													Task should not be completed or cancelled status. 
												</Condition>
                                    <Error
                                    Description="Invalid Task" ErrorCode="YCP0111"/>
                                    </Validation>
                                    </div>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="TaskId"
                                    type="yfctype:SequenceNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TASK_ID" yfc:tableName="YFS_TASK">
                                    <xsd:documentation>
                                    <div>
												The TaskId which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
												<Validation>
                                    <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
													</Condition>
                                    <Error
                                    Description="Task details not passed" ErrorCode="YCP0147"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>Passed value does not identify an existing task. 
													</Condition>
                                    <Error
                                    Description="Invalid Task" ErrorCode="YCP0111"/>
                                    </Validation>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="TaskKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TASK_KEY" yfc:tableName="YFS_TASK">
                                    <xsd:documentation>
                                    <div>
												The key which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
												<Validation>
                                    <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
													</Condition>
                                    <Error
                                    Description="Task details not passed" ErrorCode="YCP0147"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>Passed value does not identify an existing task. 
													</Condition>
                                    <Error
                                    Description="Invalid Task" ErrorCode="YCP0111"/>
                                    </Validation>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> An unique number which helps identify the container. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>
                        <div> An unique number which helps identify the container. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerType" type="yfctype:Text-6" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_TYPE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The type of container. You could use it as an attribute to group containers - either based on size of the container, type of goods that it carries, and so forth.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> An unique number which helps identify the container. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_CONTAINER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Notes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Note"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Note">
        <xsd:annotation yfc:tableName="YFS_NOTES">
            <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:User"/>
            </xsd:all>
            <xsd:attribute name="AuditTransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactReference"
                type="yfctype:NotesContactReference" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone no can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactTime" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactType" type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactUser" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_USER" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The user who made the contact. The default value will the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerSatIndicator"
                type="yfctype:CustomerSatisfactionLevel" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="optional">
                <xsd:annotation yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranname" type="yfctype:Text-50" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Specifies the name of the Transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VisibleToAll" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="User">
        <xsd:annotation yfc:tableName="YFS_USER">
            <xsd:documentation>This table stores information on users in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Usertype" type="yfctype:EnumUserType" use="optional">
                <xsd:annotation yfc:columnName="USERTYPE" yfc:tableName="YFS_USER">
                    <xsd:documentation>This field indicates the user type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:ShipmentLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLine">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>
                <div>To identify the <code>ShipmentLine</code>, pass either <code>ShipmentLineKey</code>
                    <i>or</i>
                    <code>ShipmentLineNo</code> and <code>ShipmentSubLineNo</code>
                    <i>or</i> Order attributes. 
								<br/>If <code>ShipmentLine</code> is a logical kit parent line then kit component lines also will be considered in the proper kit ratio.
								<br/>If <code>ShipmentLine</code> is a bundle parent line then the bundle component lines that are not specified for splitting will be moved to the target shipment. The quantity moved from bundle components is minimum of (Quantity Available to Split, KitQty * Parent Quantity Specified).
								<br/>If <code>ShipmentLine</code> is a bundle component line then the bundle parent lines up to the bundle root will be pulled to the target shipment. 
								</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLineInvAttRequest"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentTagSerials"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="TaskList">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Task">
                                <xsd:annotation yfc:tableName="YFS_TASK">
                                    <xsd:documentation>
                                    <div>
                                    <Validation>
                                    <Condition>
													Task should be associated to shipment line being split. 
												</Condition>
                                    <Error
                                    Description="Invalid Task" ErrorCode="YCP0111"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>
													Task should not be a summary task. 
												</Condition>
                                    <Error
                                    Description="Summary task cannot be accepted" ErrorCode="YCP0155"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>
													Task should not be completed or cancelled status. 
												</Condition>
                                    <Error
                                    Description="Invalid Task" ErrorCode="YCP0111"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>
													The total quantity associated to all tasks should be less than or equal to shipment line quantity being split. 
												</Condition>
                                    <Error
                                    Description="Invalid Quantity Breakup" ErrorCode="YDM00203"/>
                                    </Validation>
                                    </div>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="TaskId"
                                    type="yfctype:SequenceNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TASK_ID" yfc:tableName="YFS_TASK">
                                    <xsd:documentation>
                                    <div>
												The id which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
												<Validation>
                                    <Condition>
														Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
													</Condition>
                                    <Error
                                    Description="Task details not passed" ErrorCode="YCP0147"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>
														Passed value does not identify an existing task. 
													</Condition>
                                    <Error
                                    Description="Invalid Task" ErrorCode="YCP0111"/>
                                    </Validation>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="TaskKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TASK_KEY" yfc:tableName="YFS_TASK">
                                    <xsd:documentation>
                                    <div>
												The key which identifies the task. Pass either the <code>TaskKey</code> or <code>TaskId</code> to identify the task.
												<Validation>
                                    <Condition>Neither <code>TaskKey</code> nor <code>TaskId</code> are passed. 
													</Condition>
                                    <Error
                                    Description="Task details not passed" ErrorCode="YCP0147"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>Passed value does not identify an existing task. 
													</Condition>
                                    <Error
                                    Description="Invalid Task" ErrorCode="YCP0111"/>
                                    </Validation>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="DocumentType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The identifier of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order number corresponding to the order for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The prime line number of the corresponding order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="required">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>
                        <div>The <code>Quantity</code> with the source shipment line is updated. The remaining line quantity is added to the target shipment. 
									</div>
                        <Validation>
                            <Condition>If the <code>Quantity</code> is greater than uncontainerized quantity.
										</Condition>
                            <Error
                                Description="Invalid quantity break up." ErrorCode="YDM00203"/>
                        </Validation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The release number of the order release for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>A part of the primary key . The shipment line number is unique for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSubLineNo"
                type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This is a part of the unique key. ShipmentSubLineNo along with the ShipmentLineNo is used to identify the logical kit component shipment line. The value of this field is zero - for kit parent shipment lines and shipment lines with items that are not kit components, and greater than zero if the the shipment line corresponds to a logical kit component item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The sub line number of the corresponding order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLineInvAttRequest">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
            <xsd:documentation>
                <div>
										Information related to requested tag details for the shipment line. To identify the <code>ShipmentLineInvAttRequest</code> pass the Tag Unique Attributes: <code>LotNumber</code>, <code>BatchNo</code>, <code>RevisionNo</code>.
									</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentTagSerials">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipmentTagSerial"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentTagSerial">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
            <xsd:documentation>
                <div>
									Additional information related to tag number, serial number, ship by date for a shipment line is stored in this table. If the shipment line item is tagged, <code>ShipmentTagSerial</code> has to be specified to move the tagged shipment line quantity. To identify the <code>ShipmentTagSerial</code> pass <code>ShipmentTagSerialKey</code>, or  <code>SerialNo</code>, or <code>ShipByDate</code> or Tag Attributes: <code>LotNumber</code>, <code>LotKeyReference</code>, <code>ManufacturingDate</code>, <code>LotAttribute1</code>, <code>LotAttribute2</code>, <code>LotAttribute3</code>, <code>BatchNo</code>, <code>RevisionNo</code>. Tag information is stored only if the <code>Node</code> tracks tag information in inventory or the <code>Buyer</code> mandates tag information.
									  <Validation>
                        <Condition>When sum of tagged quantity of the line and containerized quantity is greater than ShipmentLine quantity.</Condition>
                        <Error Description="Invalid quantity break up." ErrorCode="YDM00203"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Serial number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>For time sensitive items, date by which it should be shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentTagSerialKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_TAG_SERIAL_KEY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                    <xsd:documentation>Primary key attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Target">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Shipment">
                    <xsd:annotation yfc:tableName="YFS_SHIPMENT">
                        <xsd:documentation>
                            <div>
                                <Validation>
                                    <Condition>Shipment should not have been invoiced.
				</Condition>
                                    <Error
                                    Description="Certain modifications are not allowed on invoiced shipment." ErrorCode="YDM77_00002"/>
                                </Validation>
                            </div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="SellerOrganizationCode"
                            type="yfctype:OrgCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                                <xsd:documentation>
                                    <div>
				The seller organization to which the shipment belongs. 
			</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipNode"
                            type="yfctype:ShipNode" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                                <xsd:documentation>
                                    <div>
				The ship node where the shipment was created. 
			</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                                <xsd:documentation>
                                    <div>
				The primary key of the target shipment 
			</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentNo"
                            type="yfctype:DocumentNo" use="optional">
                            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                                <xsd:documentation>
                                    <div>
				Part of the information that identifies a Shipment. Indicates the target shipment .
			</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
