Data/xapidocs/api_javadocs/XSD/YDM_getShipmentReceiptDiscrepancy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getShipmentReceiptDiscrepancy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getShipmentReceiptDiscrepancy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_getShipmentReceiptDiscrepancy_input.xsd" yfc:rootElement="GetShipmentReceiptDiscrepancy">
        <xsd:appinfo source="yfc:structure">
            <GetShipmentReceiptDiscrepancy hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetShipmentReceiptDiscrepancy" type="yfc:GetShipmentReceiptDiscrepancyXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
	   The shipment for which receiving discrepancy has to be fetched. Pass  <code>ShipmentKey</code>
                    <i>or</i> pass <code>ShipmentNo</code>, <code>ShipNode</code> and <code>SellerOrganizationCode</code>  to identify the shipment.
			<Validation>
                        <Condition>Error if <code>Shipment</code> not found.
				</Condition>
                        <Error Description="Shipment not found." ErrorCode="OMP10066"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GetShipmentReceiptDiscrepancyXSDType">
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>
                    <div>
				Seller organization to which this shipment belongs.
					<Validation>
                            <Condition>Either <code>ShipmentKey</code> attribute <i>or</i>
                                <code>ShipmentNo</code>, <code>SellerOrganizationCode</code> and <code>ShipNode</code> attributes must be passed and must be valid.
						</Condition>
                            <Error
                                Description="Key shipment attributes are missing. Either ShipmentKey or ShipmentNo/SellerOrganizationCode/ShipNode should be passed." ErrorCode="OMP10065"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Ship node from where shipment was made.
					<Validation>
                            <Condition>Either <code>ShipmentKey</code> attribute <i>or</i>
                                <code>ShipmentNo</code>, <code>SellerOrganizationCode</code> and <code>ShipNode</code> attributes must be passed and must be valid.
						</Condition>
                            <Error
                                Description="Key shipment attributes are missing. Either ShipmentKey or ShipmentNo/SellerOrganizationCode/ShipNode should be passed." ErrorCode="OMP10065"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>
                    <div>
				Primary key attribute of <code>YFS_SHIPMENT</code> table.
					<Validation>
                            <Condition>Either <code>ShipmentKey</code> attribute <i>or</i>
                                <code>ShipmentNo</code>, <code>SellerOrganizationCode</code> and <code>ShipNode</code> attributes must be passed and must be valid.
						</Condition>
                            <Error
                                Description="Key shipment attributes are missing. Either ShipmentKey or ShipmentNo/SellerOrganizationCode/ShipNode should be passed." ErrorCode="OMP10065"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>
                    <div>
				Part of Unique key or business key.
					<Validation>
                            <Condition>Either <code>ShipmentKey</code> attribute <i>or</i>
                                <code>ShipmentNo</code>, <code>SellerOrganizationCode</code> and <code>ShipNode</code> attributes must be passed and must be valid.
						</Condition>
                            <Error
                                Description="Key shipment attributes are missing. Either ShipmentKey or ShipmentNo/SellerOrganizationCode/ShipNode should be passed." ErrorCode="OMP10065"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
