Data/xapidocs/api_javadocs/XSD/YDM_determineRouting_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/determineRouting/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/determineRouting/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_determineRouting_output.xsd" yfc:rootElement="RoutingGuide">
        <xsd:appinfo source="yfc:structure">
            <RoutingGuide hasAttributes="Y">
                <RoutingGuideDetail hasAttributes="Y">
                    <ShipFrom hasAttributes="Y"/>
                    <ShipTo hasAttributes="Y"/>
                    <ShippingParameters hasAttributes="Y"/>
                    <RoutingGuideDetailCarrierList>
                        <RoutingGuideDetailCarrier hasAttributes="Y"/>
                    </RoutingGuideDetailCarrierList>
                </RoutingGuideDetail>
                <Trace>
                    <LogMessage hasAttributes="Y"/>
                </Trace>
            </RoutingGuide>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RoutingGuide" type="yfc:RoutingGuideXSDType">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE">
            <xsd:documentation>This table stores Routing Guide Header Information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RoutingGuideXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutingGuideDetail"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Trace"/>
        </xsd:all>
        <xsd:attribute name="Comments" type="yfctype:Text-400" use="optional">
            <xsd:annotation yfc:columnName="COMMENTS" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Any additional comments about the routing guide.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Department that deals with this item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_DATE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Date on which the routing guide becomes active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Date on which the routing guide expires.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FreightTerms" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Freight Terms for this Routing guide.Can be Collect, Prepaid or 3rd Party.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>A classification that distinguishes the various merchandise that are dealt by the retailer who defined this routing guide.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>The organization for whom this routing guide is applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PublishDate" use="optional">
            <xsd:annotation yfc:columnName="PUBLISH_DATE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Date on which the routing guide was published.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="RoutingGuideName" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_GUIDE_NAME" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Name of the Routing Guide.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingGuideNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_GUIDE_NO" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>A number that  identifies this routing guide entry.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupercedesRoutingGuideNo"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="SUPERCEDES_ROUTING_GUIDE_NO" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>The routing guide number that preceded the current routing guide number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Typically holds the values INBOUND or OUTBOUND and reflects the type of the routing guide based on the organization (buyer, enterprise or hub) owning the routing guide.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="RoutingGuideDetail">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>The table stores details such as ship from, ship to, weight and volume for the routing guide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipFrom"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipTo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingParameters"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutingGuideDetailCarrierList"/>
            </xsd:all>
            <xsd:attribute name="FreightTermsOverride"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS_OVERRIDE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>This indicates that the shipment's Ship To information has to be revised. The value for Revised Ship To Node or Revised Ship To Store or Revised Ship To Consolidated Node is used as the new Ship To for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisedShipToConsolNode"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation
                    yfc:columnName="REVISED_SHIP_TO_CONSOL_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Revised Ship To Consolidator point that's specified for the original Ship To information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisedShipToNode"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="REVISED_SHIP_TO_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Revised Ship To DC location that's specified for the original Ship To information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisedShipToStore"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="REVISED_SHIP_TO_STORE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Revised Ship To Store location that's specified for the original Ship To information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipFrom">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>The table stores details such as ship from, ship to, weight and volume for the routing guide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipFromCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_CITY" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>City from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromCountry" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_COUNTRY" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Country Code from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Ship Node from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_STATE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>State from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_ZIP" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Zipcode from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipTo">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>The table stores details such as ship from, ship to, weight and volume for the routing guide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipToCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_CITY" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>City to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToConsolNode"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_CONSOL_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Consolidation point to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToCountry" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_COUNTRY" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Country Code to where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>DC to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_STATE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>State to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToStore" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_STORE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Store to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_ZIP" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Zipcode to where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingParameters">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>The table stores details such as ship from, ship to, weight and volume for the routing guide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="MaxHandlingUnits"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MAX_HANDLING_UNITS" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Maximum number of handling units.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MAX_VOLUME" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Maximum Volume of the merchandise that's being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MAX_WEIGHT" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Maximum weight of the merchandise that's being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinHandlingUnits"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MIN_HANDLING_UNITS" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Minimum number of handling units.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MIN_VOLUME" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Minimum Volume of the merchandise that's being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MIN_WEIGHT" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Minimum weight of the merchandise that's being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Volume UOM of the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Weight UOM of the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RoutingGuideDetailCarrierList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutingGuideDetailCarrier"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RoutingGuideDetailCarrier">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
            <xsd:documentation>The entity stores the carrier service, break bulk node and contact of the carrier for the routing guide detail.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AlternateOption" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates that the selected routing guide detail is an alternate option and not the best.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BestOption" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates that the selected routing guide detail is the best option.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A code that identifies a service provided by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_KEY" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>Link to YFS_PERSON_INFO table to get contact address of the trading partner.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>Priority of the routing guide carrier entry.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The code of the organization plays the role of carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacCode" type="yfctype:Text-4" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Code that uniquely identifies the combination of SCAC and Carrier Service Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Shipment mode serviced - PARCEL, TL, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates the type of Shipment.GOH -Garment on Hangers/Reefer/Blanket wrap - this affects the type of trailer needed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Trace">
        <xsd:annotation>
            <xsd:documentation>
                <div>This element should be provided in the input template to get this node in the output XML. Also this node will come only if no routing guide is found for the given input criteria.					
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LogMessage"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LogMessage">
        <xsd:complexType>
            <xsd:attribute name="Message" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This gives a log message indicating the reason for not finding a routing guide for given input criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
