Data/xapidocs/api_javadocs/XSD/YDM_getTrackingNoAndPrintLabel_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getTrackingNoAndPrintLabel/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getTrackingNoAndPrintLabel/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_getTrackingNoAndPrintLabel_output.xsd" yfc:rootElement="getTrackingNoAndPrintLabel">
        <xsd:appinfo source="yfc:structure">
            <getTrackingNoAndPrintLabel>
                <SuccessfulContainers>
                    <Container hasAttributes="Y">
                        <ContainerReturnTrackingList>
                            <ContainerReturnTracking hasAttributes="Y"/>
                        </ContainerReturnTrackingList>
                    </Container>
                </SuccessfulContainers>
                <FailedContainers>
                    <Container hasAttributes="Y"/>
                </FailedContainers>
            </getTrackingNoAndPrintLabel>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getTrackingNoAndPrintLabel" type="yfc:getTrackingNoAndPrintLabelXSDType"/>
    <xsd:complexType name="getTrackingNoAndPrintLabelXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SuccessfulContainers"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FailedContainers"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="SuccessfulContainers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Container">
                    <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
                        <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerReturnTrackingList"/>
                        </xsd:all>
                        <xsd:attribute name="ContainerNo"
                            type="yfctype:ContainerNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                                <xsd:documentation>ContainerNo for which this API could successfully get a Tracking Number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PierbridgeLabelURL"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Publishes the Pierbridge Label URL if populated in the Pierbrdige Server Response XML.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentContainerKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                                <xsd:documentation>ShipmentContainerKey for which this API could successfully get a Tracking Number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerReturnTrackingList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ContainerReturnTracking"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerReturnTracking">
        <xsd:annotation yfc:tableName="YFS_CNTR_RET_TRACK">
            <xsd:documentation>Stores all the return tracking number associated with a container.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="PierbridgeReturnLabelURL"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Publishes the Pierbridge Return Label URL if populated in the Pierbrdige Server Response XML.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnPrintBuffer"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Label print buffer of the return label that is returned by Yantra Carrier Server if WMS chooses to print the label by itself. WMS can use this buffer only using Sterling Pierbridge Adaptor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnTrackingNumber"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="RETURN_TRACKING_NUMBER" yfc:tableName="YFS_CNTR_RET_TRACK">
                    <xsd:documentation>The return tracking number for the container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_CNTR_RET_TRACK">
                    <xsd:documentation>The shipment key that is associated with this container List.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_CNTR_RET_TRACK">
                    <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FailedContainers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Container">
                    <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
                        <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ContainerNo"
                            type="yfctype:ContainerNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                                <xsd:documentation>ContainerNo for a Tracking Number could not be fetched because of various reasons like invalid address, invalid carrier service etc.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentContainerKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                                <xsd:documentation>ShipmentContainerKey for which this API failed to get a Tracking Number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="StackTrace"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>Stack trace of the error for troubleshooting.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
