Data/xapidocs/api_javadocs/XSD/YDM_getOverridenAttributesForShipmentLineItemUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getOverridenAttributesForShipmentLineItemUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getOverridenAttributesForShipmentLineItemUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_getOverridenAttributesForShipmentLineItemUE_output.xsd" yfc:rootElement="Item">
        <xsd:appinfo source="yfc:structure">
            <Item hasAttributes="Y">
                <PrimaryInformation hasAttributes="Y"/>
                <AlternateUOMList>
                    <AlternateUOM hasAttributes="Y"/>
                </AlternateUOMList>
            </Item>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Item" type="yfc:ItemXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AlternateUOMList"/>
        </xsd:all>
        <xsd:attribute name="CanUseAsServiceTool" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_USE_AS_SERVICE_TOOL" yfc:tableName="YFS_ITEM">
                <xsd:documentation>This flag indicates whether this item is configured to be a service tool.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GlobalItemID" type="yfctype:GlobalItemID" use="optional">
            <xsd:annotation yfc:columnName="GLOBAL_ITEM_ID" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unique global identifier used to cross reference an item with another catalog organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode" type="yfctype:ItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The item group code. Used to identify if the item is a Product, Provided Service, Provided Service Option, Delivery Service or Delivery Service Option.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unique identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssumeInfiniteInventory"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ASSUME_INFINITE_INVENTORY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item is assumed to be always available. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BundleFulfillmentMode"
                type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="BUNDLE_FULFILLMENT_MODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The way in which the bundle will be fulfilled. It can be Ship Together(01), Ship Independent(00), or Deliver Together(02) for Bundle Item. Default value is Ship Together(01) for Bundle Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityPerOrderedQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_PER_ORDERED_QTY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The capacity per ordered quantity.  Used to compute required capacity based on line ordered quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityQuantityStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_QUANTITY_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the capacity quantity is arrived at for provided and delivery services from the inventory quantity.   Valid values: ORD - Based on the ordered service quantity; ASSOC - Based on the service and product association.  Default value: ORD.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ColorCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COLOR_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field describes color code for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ComputedUnitCost"
                type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="COMPUTED_UNIT_COST" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The computed standard cost of the item. This will be set when createItem/ modifyItem API is called specifically with computeUnitCost flag as Y and item unit cost is calculated based on REPLACEMENT COST.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConfiguredModelKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONFIGURED_MODEL_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The key of the configured model for a configurable item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostCurrency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="COST_CURRENCY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The currency in which the item's cost is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The item's country of origin/manufacture.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreditWOReceipt" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CREDIT_WO_RECEIPT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates if credit may be provided with out receipts on return of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_PRODUCT_CLASS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The default product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DisplayItemDescription"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>User defined description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The extended multi-line description of the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FixedCapacityQtyPerLine"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="FIXED_CAPACITY_QTY_PER_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The fixed capacity quantity will be assumed irrespective of the inventory quantity for the line shipped with this item when the strategy is fixed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FixedPricingQtyPerLine"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="FIXED_PRICING_QTY_PER_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The fixed pricing quanity per line. Fixed pricing quantity will be assumed irrespective of the inventory quantity for the line shipped with this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceBasedOnActuals"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="INVOICE_BASED_ON_ACTUALS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether invoicing is done based on actual weight to support catch weight items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvolvesSegmentChange"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INVOLVES_SEGMENT_CHANGE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item performs segment change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAirShippingAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_AIR_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if item can be shipped by air. Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsConfigurable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CONFIGURABLE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates that the item is a configurable item. A configurable item can either be a bundle or a physical kit. A configurable bundle item offers a number of different options from which a customer can select before buying the product. Components for a bundle are not specified in the catalog as the actual components will be determined by the user when an order is placed. A physical kit must always be pre-configured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDeliveryAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DELIVERY_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method DEL is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsForwardingAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FORWARDING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates if the item can be forwarded for zone skipping. Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFreezerRequired" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FREEZER_REQUIRED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if item requires freezer for transportation. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHazmat" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HAZMAT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if item is hazardous material.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsModelItem" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MODEL_ITEM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates that the item is an item with variations (formerly known as a model item). An item with variations represents a group of items with similar set of attributes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsParcelShippingAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_PARCEL_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the item can be shipped through parcel service. Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PICKUP_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method PICK is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPreConfigured" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRE_CONFIGURED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates that the configurable item is pre-configured with selected options. If a bundle is pre-configured, the bundle or physical components that represent the selected option will be available in the catalog. For a pre-configured physical kit, only the physical kit will be available as the item in the catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsProcurementAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PROCUREMENT_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates if the item can be procured for zone skipping. Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsReturnService" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RETURN_SERVICE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether this provided or delivery service item is to be associated only to a return document.  Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsReturnable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RETURNABLE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether this product item is returnable. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShippingAllowed" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SHIPPING_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether the delivery method SHP is allowed for item. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsStandaloneService"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_STANDALONE_SERVICE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether a PS Item is standalone and does not require associations with product lines for it to be included on an order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSubOnOrderAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SUB_ON_ORDER_ALLOWED" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates if during scheduling an order, substitution is allowed or not. If Y, schedule will automatically attempt to substitute an item with preferred or regular substitute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The generic type of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="KitCode" type="yfctype:EnumKitCode" use="optional">
                <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates the kit code for this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerItem"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_ITEM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The identifier used by a manufacturer to identify an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerItemDesc"
                type="yfctype:Text-255" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_ITEM_DESC" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of an item, from a manufacturer's view point.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerName"
                type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_NAME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The manufacturer of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterCatalogID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="MASTER_CATALOG_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The master catalog to which an item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxOrderQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MAX_ORDER_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The maximum order quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinOrderQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MIN_ORDER_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The minimum order quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimumCapacityQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="MINIMUM_CAPACITY_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This is the minimum capacity quantity which will be assumed when  the inventory quantity of the line to arrive at the capacity quantity when the strategy is to arrive at the capacity quantity by association with product line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModelItemUnitOfMeasure"
                type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="MODEL_ITEM_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field describes the unit of measure of the item with variations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumSecondarySerials"
                type="yfctype:Digit" use="optional">
                <xsd:annotation yfc:columnName="NUM_SECONDARY_SERIALS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The number of secondary serial numbers applicable for a serialized item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderingQuantityStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDERING_QUANTITY_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the ordered quantity is arrived at for a service line.  Valid values: ENT - Based on the entered value on the order line; PROD - Based on the associated product line.  Default value: ENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQuantityConvFactor"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_QUANTITY_CONV_FACTOR" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The pricing quantity conversion factor. This conversion factor is multiplied with the inventory quantity of the line to arrive at this pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQuantityStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_QUANTITY_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the pricing quantity is arrived at when different from the inventory quantity.   Valid values: IQTY - Based on the inventory quantity.  Default value: IQTY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="PRICING_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The pricing unit of measure, if different from the inventory unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingUOMStrategy"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PRICING_UOM_STRATEGY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field determines how the pricing unit of measure is defaulted for the item. It could be same as the inventory UOM or could be different.  Valid values: INV - Same as the inventory UOM; ALT - Different from the inventory UOM.  Default value: INV.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryEnterpriseCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_ENTERPRISE_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary enterprise associated with an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimarySupplier" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_SUPPLIER" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary supplier. This will have the primary supplier organization code for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductLine" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The product line associated with the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresProdAssociation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRES_PROD_ASSOCIATION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>IThis flag indicates whether the item must be associated to an order line having a group code of PROD. Applicable for service items which must be associated to a Product order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnWindow" use="optional">
                <xsd:annotation yfc:columnName="RETURN_WINDOW" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The number of days after which return may not be accepted. Default value: 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RunQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="RUN_QUANTITY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The run quantity indicates the multiple of quantity in which a work order gets created. This field is valid only for service items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerializedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SERIALIZED_FLAG" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item is serialized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceTypeID" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_TYPE_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The service type associated to this service item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConsolidationWindow" use="optional">
                <xsd:annotation yfc:columnName="SHP_CONSOL_WINDOW" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Indicates the number of days an item can be delayed after it becomes available to be consolidated to a single shipment. Used by scheduling when shipment/cost optimization is considered.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SizeCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SIZE_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field describes the size code of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:EnumShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates the status of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indicates whether an item is taxable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The cost of one unit of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitHeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_HEIGHT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The height of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitHeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_HEIGHT_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which item height is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitLength" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_LENGTH" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The length of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitLengthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_LENGTH_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which an item length is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Calculated volume of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitVolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Unit of measure in which the item volume is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WEIGHT" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The weight of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WEIGHT_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which the item weight is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWidth" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WIDTH" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The width of one unit of item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitWidthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UNIT_WIDTH_UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure in which an item's width is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AlternateUOMList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AlternateUOM"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AlternateUOM">
        <xsd:annotation yfc:tableName="YFS_ITEM_UOM">
            <xsd:documentation>All alternate UOM for an item are maintained in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Height" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="HEIGHT" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Height of an item with this alternate UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="HEIGHT_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Unit of measure in which item height is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsOrderingUOM" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ORDERING_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Indicates if UOM can be used as ordering unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Item for which alternate UOM is being maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemUOMKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="ITEM_UOM_KEY" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Primary key attribute of YFS_ITEM_UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Length" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="LENGTH" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Length of an item for with alternate UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LengthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="LENGTH_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Unit of measure in which an item length is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity"
                type="yfctype:ConversionQuantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Conversion quantity to the inventory UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Alternate UOM applicable for the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Weight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Weight of an item with this alternate UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Unit of measure in which a package's weight is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Width" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="WIDTH" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Width of an item for with alternate UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WidthUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="WIDTH_UOM" yfc:tableName="YFS_ITEM_UOM">
                    <xsd:documentation>Unit of measure in which an item's width is measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
