Data/xapidocs/api_javadocs/XSD/YDM_checkHoldTypesForLoad_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/checkHoldTypesForLoad/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/checkHoldTypesForLoad/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_checkHoldTypesForLoad_input.xsd" yfc:rootElement="Load">
        <xsd:appinfo source="yfc:structure">
            <Load hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Load" type="yfc:LoadXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD">
            <xsd:documentation>
                <div>
					The <code>LoadKey</code>, or  the <code>LoadNo</code> must be passed to identify the <code>Load</code>.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The enterprise that created the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The primary key for the YFS_LOAD table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="LOAD_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TransactionID" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>If not passed.</Condition>
                            <Error Description="Invalid Transaction ID." ErrorCode="YCP0068"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
