Data/xapidocs/api_javadocs/XSD/YDM_shouldShipmentMonitorAlertBeRaisedUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/shouldShipmentMonitorAlertBeRaisedUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/shouldShipmentMonitorAlertBeRaisedUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_shouldShipmentMonitorAlertBeRaisedUE_output.xsd" yfc:rootElement="ShipmentMonitor">
        <xsd:appinfo source="yfc:structure">
            <ShipmentMonitor hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipmentMonitor" type="yfc:ShipmentMonitorXSDType"/>
    <xsd:complexType name="ShipmentMonitorXSDType">
        <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>This determines the earliest time when the order will be picked up for monitoring again.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RaiseAlert" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines whether to raise an alert or not based on this flag.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
