Data/xapidocs/api_javadocs/XSD/YDM_unconfirmShipment_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/unconfirmShipment/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/unconfirmShipment/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_unconfirmShipment_input.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y">
                <ShipmentStatusAudit hasAttributes="Y"/>
            </Shipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
	   The shipment for which to be unconfirmed. Pass  <code>ShipmentKey</code>
                    <i>or</i> pass <code>ShipmentNo</code>, <code>ShipNode</code> and <code>SellerOrganizationCode</code>  to identify the shipment.
		<Validation>
                        <Condition> Must be a valid shipment.
		</Condition>
                        <Error Description="Invalid Shipment." ErrorCode="YDM00017"/>
                    </Validation>
                    <Validation>
                        <Condition> Shipment cannot be unconfirmed if any one of the following conditions is true.
		<ul>
                                <li>Shipment is closed.</li>
                                <li>Shipment has not been confirmed.</li>
                                <li>Shipment has been invoiced and that invoice has not been voided.</li>
                                <li>If the shipment is part of a container and the container is closed.</li>
                                <li>If the shipment is part of a manifest and the manifest is closed.</li>
                                <li>If the shipment is part of a load and the load has been received or is in transit.</li>
                                <li>If a shipment line is part of a work order and the work order is fully or partially completed.</li>
                                <li>If a receipt has been started for the shipment.</li>
                            </ul>
                        </Condition>
                        <Error
                            Description="Cannot unconfirm the shipment." ErrorCode="YDM77_00001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentStatusAudit"/>
        </xsd:all>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipmentStatusAudit">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
            <xsd:documentation>This table stores shipment status change audit. Each time the shipment status changes because of a business process, an audit is posted along with the status, timestamp, reason code and text, user ID and program ID. All transactions in the shipment pipeline have entries in this table upon completion of a transaction.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Reason code indicating the reason for the status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Free-form reason text indicating any additional information related to the status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Shipment for which a status change audit is written.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentStatusAuditKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_STATUS_AUDIT_KEY" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Primary key attribute of YFS_SHIPMENT_STATUS_AUDIT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Date and time of the status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
