Data/xapidocs/api_javadocs/XSD/YDM_getNextContainerSCMUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getNextContainerSCMUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getNextContainerSCMUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getNextContainerSCMUE_output.xsd" yfc:rootElement="SCMs">
        <xsd:appinfo source="yfc:structure">
            <SCMs>
                <SCM hasAttributes="Y"/>
            </SCMs>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SCMs" type="yfc:SCMsXSDType"/>
    <xsd:complexType name="SCMsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SCM"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SCM">
        <xsd:complexType>
            <xsd:attribute name="SCM" type="yfctype:UCC128" use="required">
                <xsd:annotation>
                    <xsd:documentation>A shipment container marker that was generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
