Data/xapidocs/api_javadocs/XSD/YDM_getShipmentInstructionsUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getShipmentInstructionsUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getShipmentInstructionsUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_getShipmentInstructionsUE_output.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y">
                <Instructions>
                    <Instruction hasAttributes="Y"/>
                </Instructions>
            </Shipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Instructions"/>
        </xsd:all>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Instructions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Instruction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instruction">
        <xsd:annotation yfc:tableName="YFS_INSTRUCTION_DETAIL">
            <xsd:documentation>Generic table used to store instructions associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InstructionDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_DETAIL_KEY" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Primary key attribute of YFS_INSTRUCTION_DETAIL table that identifies an instruction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionText"
                type="yfctype:InstructionText" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TEXT" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Free-form text indicating any additional information related to the instruction type or otherwise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionType"
                type="yfctype:InstructionType" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TYPE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Categorization of instructions so that they can be grouped together for reference. For example, you may have instructions of type Pick, Pack, and Ship for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionURL" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_URL" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>The URL relating to and/or containing the instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionUsage"
                type="yfctype:InstructionUsage" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_USAGE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Another way of categorization of instructions, over and above the instruction type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_KEY" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Link to the entity key for which the instruction is stored. For example, if this record stores order header level instructions, then this attribute stores the value of order header key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>You could have an instruction exceeding the limits of a single record. Sequence number is used to provide a way to store a link between such instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="optional">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Identifies the entity for which this instruction is stored. For example, if this record stores order header instructions, then you will see this field reading YFS_ORDER_HEADER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
