Data/xapidocs/api_javadocs/XSD/YDM_getNextProNoUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/getNextProNoUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/getNextProNoUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_getNextProNoUE_output.xsd" yfc:rootElement="GetNextProNo">
        <xsd:appinfo source="yfc:structure">
            <GetNextProNo hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetNextProNo" type="yfc:GetNextProNoXSDType"/>
    <xsd:complexType name="GetNextProNoXSDType">
        <xsd:attribute name="NextProNo" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The Pro Number returned by the user exit. This Pro Number will be used as the Pro Number for the load. No validations will be done against this Pro Number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
