Data/xapidocs/api_javadocs/XSD/YDM_recordContainerActivity_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/recordContainerActivity/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/recordContainerActivity/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_recordContainerActivity_input.xsd" yfc:rootElement="Container">
        <xsd:appinfo source="yfc:structure">
            <Container hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <Load hasAttributes="Y"/>
                <ContainerActivities>
                    <ContainerActivity hasAttributes="Y">
                        <ActivityLocation hasAttributes="Y"/>
                    </ContainerActivity>
                </ContainerActivities>
            </Container>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Container" type="yfc:ContainerXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>
                <div>
				Stores container header information.
				<Validation>
                        <Condition>Container can be identified by using <code>ShipmentContainerKey</code> or <code>ContainerNo</code> and <code>ShipmentKey</code> or <code>ContainerNo</code> and <code>LoadKey</code>.
				</Condition>
                        <Error
                            Description="Either ContainerNo or ShipmentContainerKey is mandatory." ErrorCode="YDM00066"/>
                    </Validation>
                    <Validation>
                        <Condition>If neither <code>ShipmentKey</code> nor <code>LoadKey</code> is passed or identifiable from the <code>Shipment</code> or <code>Load</code> element passed.
				</Condition>
                        <Error
                            Description="Either shipment or load details must be passed in input." ErrorCode="YDM00267"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Load"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerActivities"/>
        </xsd:all>
        <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Unique key or business key, which by itself identifies a shipment container along with <code>ShipmentKey</code> and <code>LoadKey </code>. 
 				<Validation>
                            <Condition> It should be unique shipment container.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                        <Validation>
                            <Condition> Should be able to identify either a shipment or load for the container.
				</Condition>
                            <Error
                                Description="Either shipment or load details must be passed in input." ErrorCode="YDM00267"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>A unique number which helps identify the container along with <code>ShipmentKey</code> or <code>LoadKey</code>.
				<Validation>
                            <Condition> It should be unique shipment container.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Specifies the load to which the container belongs.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Primary key attribute of YFS_SHIPMENT_CONTAINER table. 
				<Validation>
                            <Condition> Must be a valid ShipmentContainerKey.
				</Condition>
                            <Error
                                Description="Specified Container does not exist." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Specifies the shipment to which the container belongs.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Load">
        <xsd:annotation yfc:tableName="YFS_LOAD">
            <xsd:documentation>Stores information about loads. Loads are made of Shipments, carry one or more shipments between two points, and carry an entire shipment. A load has one origin, one destination and can have multiple intermediate stops. A load has one carrier. Loads  may or may not belong to a Delivery Plan. A load can pickup a shipment from its origin or an intermediate stop and drop off the shipment to its destination or an intermediate stop. A load is created and managed by the manageLoad API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                    <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerActivities">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerActivity"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerActivity">
        <xsd:annotation yfc:tableName="YFS_CONTAINER_ACTIVITY">
            <xsd:documentation>Stores information about activities performed on a container.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ActivityLocation"/>
            </xsd:all>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>Identifier of an activity.For example PACK or TRANSPORTATION.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityTimeStamp"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_TIME_STAMP" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>Activity timestamp.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityUserId" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_USERID" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The user who performed the activity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerActivityKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CONTAINER_ACTIVITITY_KEY" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The primary key for the YFS_CONTAINER_DETAILS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>
                        <div>
							Indicates whether the address is commercial, residential or none. Values of this field can be Y is Commercial address. N is Residential address. NULL is None. Default value is Null.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsException" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_EXCEPTION" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>This flag indicates whether the activity has an exception or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Notes" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>General notes which includes reasons for any exceptions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The shipment container key that is associated with this container details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ActivityLocation">
        <xsd:annotation yfc:tableName="YFS_CONTAINER_ACTIVITY">
            <xsd:documentation>Stores information about activities performed on a container.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_LOCATION_ID" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The location within a node where the activity is performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityNodeKey"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_NODE_KEY" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The node where the activity is performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Company" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The company this person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The first name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="LastName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The last name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_CONTAINER_ACTIVITY">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
