Data/xapidocs/api_javadocs/XSD/YDM_voidTrackingNo_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/voidTrackingNo/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/voidTrackingNo/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_voidTrackingNo_input.xsd" yfc:rootElement="Container">
        <xsd:appinfo source="yfc:structure">
            <Container hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
            </Container>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Container" type="yfc:ContainerXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>
                <div>
			An existing <code>Container</code> is identified by using one of the following: 
			<code>ShipmentContainerKey </code>
                    <code>ContainerNo</code>, <code>ShipmentKey</code>, <code>LoadKey </code>
			If none of them are passed YDM00066 is thrown.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
        </xsd:all>
        <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Unique key or business key, which by itself identifies a delivery plan. 
				<Validation>
                            <Condition> It should give unique shipment container.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>An unique number which helps identify the conatiner along with ShipmentKey. 
				<Validation>
                            <Condition> It should give unique shipment container.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Primary key attribute of YFS_SHIPMENT_CONTAINER table. 
				<Validation>
                            <Condition> Must be a valid ShipmentContainerKey.
				</Condition>
                            <Error
                                Description="Container does not exist in the system." ErrorCode="YDM000157"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
			If this element is present an existing <code>Shipment</code> is identified using 
			<code>ShipmentNo</code>, <code>ShipNodeKey</code>, <code>SellerOrganizationCode </code>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>Seller organization to which this shipment belongs. 
				<Validation>
                                <Condition> It should give unique shipment with other attributes of unique key.
				</Condition>
                                <Error
                                    Description="Either ShipmentKey or ShipmentNo, ShipnodeKey and SellerOrganizationCode is mandatory." ErrorCode="YDM00065"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>Ship node from where shipment was made. 
				<Validation>
                                <Condition> It should give unique shipment with other attributes of unique key.
				</Condition>
                                <Error
                                    Description="Either ShipmentKey or ShipmentNo, ShipnodeKey and SellerOrganizationCode is mandatory." ErrorCode="YDM00065"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>
                        <div>Part of Unique key or business key.
				<Validation>
                                <Condition> It should give unique shipment with other attributes of unique key.
				</Condition>
                                <Error
                                    Description="Either ShipmentKey or ShipmentNo, ShipnodeKey and SellerOrganizationCode is mandatory." ErrorCode="YDM00065"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
