Data/xapidocs/api_javadocs/XSD/YDM_CLOSE_DELIVERY_PLAN.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/CLOSE_DELIVERY_PLAN/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/CLOSE_DELIVERY_PLAN/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YDM_CLOSE_DELIVERY_PLAN.ON_SUCCESS.xsd" yfc:rootElement="DeliveryPlan">
        <xsd:appinfo source="yfc:structure">
            <DeliveryPlan hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DeliveryPlan" type="yfc:DeliveryPlanXSDType">
        <xsd:annotation yfc:tableName="YFS_DELIVERY_PLAN">
            <xsd:documentation>Stores information related to delivery plan. Delivery plan is a complete sequence of movements needed to deliver one or more orders from origin to destination. It consists loads, stops, shipments, origins and destinations. A Delivery Plan includes expected dates of arrival and departure at all start and end points of the plan. A delivery plan is created by including shipments into the plan. Shipments included in a delivery plan are load planned. When  all shipments in a delivery plan are included into loads for every leg of the shipment from source to destination, the delivery plan is said to be completely planned. Delivery plan is created and managed by the manageDeliveryPlan API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DeliveryPlanXSDType">
        <xsd:attribute name="DeliveryPlanClosedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_CLOSED_FLAG" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>This flag indicates whether the delivery plan is closed. This is a computed field that is used internally as a way to logically mark data for purge so that transactions do not look into this data. This data is later purged by the purge agent at preset intervals.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryPlanDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_DATE" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>A date or reference time you may wish to associate with the delivery plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryPlanKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_KEY" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>The primary key for the YFS_DELIVERY_PLAN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryPlanName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_NAME" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>A name or reference you may wish to associate with the delivery plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryPlanNo" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_NO" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>The unique key or business key, which by itself identifies a delivery plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryPlanPlannedFlag"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_PLANNED_FLAG" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>This flag indicates whether the delivery plan is planned. This is a computed. When all shipments in a delivery plan are included into loads for every leg of the shipment from source to destination, the delivery plan is said to be planned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>The enterprise that created the delivery plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="OWNER_ORGANIZATION_CODE" yfc:tableName="YFS_DELIVERY_PLAN">
                <xsd:documentation>The organization that owns the delivery plan. This could be the enterprise code or any other valid organization in the system. However, it must match at least the enterprise code or seller organization code or buyer organization code of the shipments being added into the delivery plan.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
