Data/xapidocs/api_javadocs/XSD/YDM_DELIVER_SHIPMENT.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/DELIVER_SHIPMENT/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/DELIVER_SHIPMENT/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_DELIVER_SHIPMENT.ON_SUCCESS.xsd" yfc:rootElement="Shipment">
        <xsd:appinfo source="yfc:structure">
            <Shipment hasAttributes="Y">
                <ShipmentStatusAudits>
                    <ShipmentStatusAudit hasAttributes="Y"/>
                </ShipmentStatusAudits>
            </Shipment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Shipment" type="yfc:ShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentStatusAudits"/>
        </xsd:all>
        <xsd:attribute name="ActualDeliveryDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The date on which the shipment was actually delivered at the buyer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualFreightCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The actual freight charge for transporting the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualShipmentDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The actual shipment date. This is updated by the confirmShipment API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowOverage" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ALLOW_OVERAGE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether an overage is allowed for the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppointmentNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="APPOINTMENT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>A number which helps the ship node and the carrier identify the pick up details and any relevant details about the shipment delivery.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssignedToUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNED_TO_USER_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The backroom pick user who is currently working on this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AssociationAction" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>Association Action.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BBNMinVolume" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="BBN_MIN_VOLUME" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The normalized minimum volume of the Break Bulk Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BBNMinWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="BBN_MIN_WEIGHT" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The normalized minimum weight of the Break Bulk Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BackroomPickRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="BACKROOM_PICK_REQUIRED" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the backroom pick is required or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BillToAddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The bill to address key that is associated with this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BillToCustomerId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_CUSTOMER_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The bill to customer id that is associated with this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The bill of lading number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BreakBulkLoadKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="BreakBulkNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="BREAK_BULK_NODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The Break Bulk Node associated with the Scac and Service of the shipment .</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerMarkForNodeId" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BUYER_MARK_FOR_NODE_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>Mark For Node as identified by the buyer for eg: it could be a person,store,DC.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The buyer organization to which this shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerReceivingNodeId"
            type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_RECEIVING_NODE_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>Receiving node as identified by the buyer for eg:Store,DC Number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CODPayMethod" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="COD_PAY_METHOD" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The pay method for the COD amount.Valid values are CASH, CASHIERS_CHECK, BUSINESS_CHECK, MONEY_ORDER, PERSONAL_CHECK, ANY. This will be a common code, with code type COD_PAY_METHOD.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierAccountNo" type="yfctype:AccountNo" use="optional">
            <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The account number of the customer or buying organization with the carrier. This is used for arriving at the billing account number. See YFS_SHIPMENT_CONTAINER.carrier_bill_account.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The carrier service availed for transporting this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_TYPE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The type of carrier. This field is denormalized from YFS_SCAC_AND_SERVICE for the scac and carrier service code on the shipment. Typical values are PARCEL, LTL, and so forth.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Code" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CommercialValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="COMMERCIAL_VALUE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The commercial or declared value of the shipment for insurance purposes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The currency corresponding to the shipment charges.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryCode" type="yfctype:DeliveryCode" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The field is deprecated and is no longer in use.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The delivery method for the Product Line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryPlanKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_PLAN_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The delivery plan to which this shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryTS" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_TS" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The date at which the shipment is delivered at its intended destination.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DestinationZone" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DESTINATION_ZONE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DoNotVerifyCaseContent" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DO_NOT_VERIFY_CASE_CONTENT" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>Thif flag indicates whether the case content is to be verified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DoNotVerifyPalletContent"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="DO_NOT_VERIFY_PALLET_CONTENT" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the pallet content is to be verified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>A classification of data on which a particular set of business processes must be applied. In this case, it happens to be the document type of the order document - basically the document type of the orders comprising the shipment. A document type derived from the base document type 0001 - ORDER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DownLoadCount" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="DOWNLOAD_COUNT" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The number of times that the shipment information has been downloaded from the user interface.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EmailReturnLabel" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EMAIL_RETURN_LABEL" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EspCheckRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ESP_CHECK_REQUIRED" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether an ESP check is required. This is a computed flag based on freight terms configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedDeliveryDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The date on which the shipment is expected to be delivered at the buyer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedShipmentDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment date as planned or arrived at in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExportTaxpayerID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="EXPORT_TAXPAYER_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The tax payer ID of the shipping organization if the shipment is meant for export.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The entity that pays the freight. Freight Terms determines whether a shipment is Pre Paid, 3rd Party Billing or Collect Billing.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromAddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FROM_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The from address key that is associated with this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromAppointment" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="FROM_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The time after which an appointment can be taken by the ship node with the carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasOtherShipments" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAS_OTHER_SHIPMENTS" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HazardousMaterialFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAZARDOUS_MATERIAL_FLAG" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the shipment carries an item that is marked hazardous.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldLocation" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="HOLD_LOCATION" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>Deposit location of picked items of shipment which are waiting for customer pick up in a store. If there are multiple locations, then those should be updated in a comma separated string. Primarily used in store application for backroom picking.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ITDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="IT_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The date on which the IT number was stamped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ITNNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITN_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The field is used for storing the Internal Transaction Number(ITN), FTSR Exemption Number or XTN returned by Automated Export System(AES) after filing the Shipper's Export Declaration(SED).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ITNo" type="yfctype:NText-30" use="optional">
            <xsd:annotation yfc:columnName="IT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The license number given by government or customs for shipments going to bonded warehouses.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvoiceComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="INVOICE_COMPLETE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag is 'Y' when invoicing is done for the entire shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPackProcessComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PACK_PROCESS_COMPLETE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the Pack Process is complete for all containers in the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPackingRequired" type="yfctype:String" use="optional"/>
        <xsd:attribute name="IsPackingRequiredWithContents"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="IsProductPlacingComplete"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PRODUCT_PLACING_COMPLETE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether placing products into container is complete.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsShipmentLevelIntegration"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="IsSingleOrder" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_SINGLE_ORDER" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the shipment is for a single order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LevelOfService"
            type="yfctype:LevelOfService" use="optional">
            <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>Indicates the level of service required for this shipment.  Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LinesEntered" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="LINES_ENTERED" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the lines are entered for the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>A number assigned on the system, if the CARRIER_TYPE of the shipment is PARCEL. A shipment assigned a particular manifest number is picked up by the carrier pick up personnel for purposes of shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>An attribute used to store manifest number assigned by carrier server. ManifestKey on shipment is where the actual manifesting related information is stored for the manifesting process in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManuallyEntered" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MANUALLY_ENTERED" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the shipment is manually entered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MergeNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="MERGE_NODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The timestamp for the next alert. This is a computed field, which is used internally by the shipment monitor to proactively identify when the shipment could potentially be realerted on a business exception as per the monitor rules setup.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumOfCartons" type="yfctype:ContainerCount" use="optional">
            <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The number of cartons in the shipment. This field is only an approximation and not accurate depiction of the number of containers in a shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumOfPallets" type="yfctype:ContainerCount" use="optional">
            <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The number of pallets in the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderAvailableOnSystem" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ORDER_AVAILABLE_ON_SYSTEM" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the order is available on the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The order header key that is associated with this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The order number of the order for the shipment while creating with SingleOrder.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The order release key that is associated with this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OriginZone" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ORIGIN_ZONE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideManualShipmentEntry"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="OVERRIDE_MANUAL_SHIPMENT_ENTRY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the "allow manual shipment entry" flag in the receiving rule can be overridden.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PackAndHold" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PACK_AND_HOLD" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the order needs to be packed and put away for retrieval at a later date. It needs to be released manually in order to ship the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PackListType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PACKLIST_TYPE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The packlist type. One of the attributes used in shipment consolidation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickListNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PICK_LIST_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>A number that indicates a group of shipments which will be picked together. A picklist is a document used for picking. It is generated for a ship node across one or more shipments and contains information on the shipment lines and the quantity for each line that is to be picked. Picklist is created by the printPickList API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickTicketPrinted" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PICKTICKET_PRINTED" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the pick ticket has been printed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickticketNo" type="yfctype:VarcharID-24" use="optional">
            <xsd:annotation yfc:columnName="PICKTICKET_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>A number assigned to group related shipments under one head. This is input by the user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The pipeline to which this shipment belongs. This is determined by the createShipment API based on the document type and several other key attributes of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The proof of delivery number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The progressive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProfileID" type="yfctype:ShipmentProfileID" use="optional">
            <xsd:annotation yfc:columnName="PROFILE_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The profile_id of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The node that receives the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The release number of the OrderRelease for the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedCarrierServiceCode"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation
                yfc:columnName="REQUESTED_CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The requested carrier service code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedDeliveryDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The date on which the shipment must be delivered at the buyer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedShipmentDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment date as requested by the buyer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnAuthorizationNumber"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RETURN_AUTHORIZATION_NUMBER" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment authorization number for return.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnBillingAccount"
            type="yfctype:AccountNo" use="optional">
            <xsd:annotation yfc:columnName="RETURN_BILLING_ACCOUNT" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The account number to be used for billing the return shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnByDate" use="optional">
            <xsd:annotation yfc:columnName="RETURN_BY_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment needs to be returned by this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReturnCarrierService"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RETURN_CARRIER_SERVICE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The carrier service to be used for the return shipment associated with the outbound shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnFreightTerms" type="yfctype:Text-3" use="optional">
            <xsd:annotation yfc:columnName="RETURN_FREIGHT_TERMS" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The entity that pays the freight for the return shipment. Freight Terms determines whether a shipment is Pre Paid, 3rd Party Billing or Collect Billing. The valid value for Pre Paid is PRE, for 3rd Party Billing is TPB and COL for collect billing.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The carrier by which this shipment will be transported.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndService" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacIntegrationRequired"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SCAC_INTEGRATION_REQUIRED" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the carrier integration is required for the shipment. This is a computed field, and is set to Y if carrier integration is required for domestic or international shipment based on the YFS_SCAC_EX setup for the seller organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SealNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The seal number on the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_MODE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>An attribute used to identify the mode of shipment. Typical values are TL - Truck Load, LTL - Less Than Truck Load, etc. This attribute can also be used to store any of your own categorizations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipToCustomerId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="SHIP_TO_CUSTOMER_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The ship to identifier.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipVia" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="SHIP_VIA" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The means of shipment. This is usually Land, Air, Sea, or Ocean.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentClosedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CLOSED_FLAG" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the shipment is closed. This is a computed field, which is used internally as a way to logically mark data for purge so that transactions do not look into this data. This data is later purged by the purge agent at preset intervals. This is updated by the close shipment agent.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentConfirmUpdatesDone"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="SHIPMENT_CONFIRM_UPDATES_DONE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the shipment confirm updates have been done. This is an internal field, which is used by the confirmShipment API to identify if shipment confirmation updates have already been performed on the shipment. Since there are various ways through which shipment confirmation updates could happen -- receiveIntransitUpdates, closeManifest, or confirmShipment -- it is required that there be an attribute that identifies if the shipment confirmation has indeed been done.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentConsolidationGroupId"
            type="yfctype:VarcharShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONSOL_GROUP_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>It is a consolidation group id  that is used as a standard do not mix constraint.Releases belonging to same shipment consolidation group may consolidate to same shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerizedFlag"
            type="yfctype:EnumShipmentContainerizedFlag" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINERIZED_FLAG" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This is an internal field that indicates the containerization state of the shipment. The values being: 01 - not containerized, 02 - containerization in progress and 03 - indicating complete containerization. This is updated by all shipment APIs that containerize or uncontainerize. APIs include createShipment, packShipment, unpackShipment, confirmShipment and changeShipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentDeliverUpdatesDone"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="SHIPMENT_DELIVER_UPDATES_DONE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This internal field is used by the receiveIntransitUpdates API to identify if delivery updates have already been done. Delivery updates are possible by explicitly invoking the deliverShipment API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentPlannedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_PLANNED_FLAG" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This flag indicates whether the shipment is planned. This is a computed field. When every leg of the shipment from source to destination is included into loads, the shipment is said to be planned. This is updated by the manageLoad API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentSortLocationId"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_SORT_LOCATION_ID" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The location identifier where sorting is done, based upon shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The user-defined shipment type. This is used to indicate the composition of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The status of the shipment. As various transactions in the shipment's pipeline act upon the shipment, the shipment status changes. Typical values are 1100 - Created, 1200 - Being Picked, 1400 - Shipped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToAppointment" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="TO_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The time before which an appointment could be taken by the ship node with the carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalActualCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_ACTUAL_CHARGE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The actual charge for transporting the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalEstimatedCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_ESTIMATED_CHARGE" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The estimated charge for transporting the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumOfPickableSKUs"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					This field indicates the total number of pickable units in a shipment. This attribute will be returned in the output only if passed in the template. Only pickable line quantities are counted for this attribute; parent lines and bundle parent lines are ignored.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalVolume" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The total volume of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalVolumeUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_VOLUME_UOM" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The unit of measure for the units of volume specified in TotalVolume attribute of this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The total weight of the shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The unit of measure for the units of weight specified in Total_Weight attribute of this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrackingNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The trailer number by which the shipment leaves the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderApptKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_APPT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The work order appt key that is associated with this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>The work order key that is associated with this shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipmentStatusAudits">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipmentStatusAudit"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentStatusAudit">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
            <xsd:documentation>This table stores shipment status change audit. Each time the shipment status changes because of a business process, an audit is posted along with the status, timestamp, reason code and text, user ID and program ID. All transactions in the shipment pipeline have entries in this table upon completion of a transaction.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewStatus" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Status of the shipment after the status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewStatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEW_STATUS_DATE" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Status date recorded on the shipment at the most recent status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldStatus" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Status of the shipment before the status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldStatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="OLD_STATUS_DATE" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Status date as recorded on the shipment at the previous status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Reason code indicating the reason for the status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Free-form reason text indicating any additional information related to the status change.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Shipment for which a status change audit is written.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentStatusAuditKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_STATUS_AUDIT_KEY" yfc:tableName="YFS_SHIPMENT_STATUS_AUDIT">
                    <xsd:documentation>Primary key attribute of YFS_SHIPMENT_STATUS_AUDIT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
