Data/xapidocs/api_javadocs/XSD/YDM_openManifest_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/openManifest/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/openManifest/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_openManifest_input.xsd" yfc:rootElement="Manifest">
        <xsd:appinfo source="yfc:structure">
            <Manifest hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Manifest" type="yfc:ManifestXSDType">
        <xsd:annotation yfc:tableName="YFS_MANIFEST">
            <xsd:documentation>Stores carrier manifest created during the manifesting process. A manifest is a carrier specific document that comprises of shipments. A manifest is created for a ship node and carrier. At any point in time, there is only one open manifest for a ship node and carrier. Every parcel shipment that is containerized is included in a manifest. Containerization is done using the packShipment and changeShipment API. All shipments included in the manifest are ship confirmed using the closeManifest API. All parcel related carrier services for a carrier are part of a single manifest.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ManifestXSDType">
        <xsd:attribute name="ManifestClosedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_CLOSED_FLAG" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>This flag indicates whether the manifest is closed, all shipments included in the manifest are ship confirmed, and no new shipments can be added to this manifest. The manifest is marked closed by the closeManifest API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestDate" type="yfctype:TimeStamp" use="required">
            <xsd:annotation yfc:columnName="MANIFEST_DATE" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>
                    <div> Manifest creation date.
				<Validation>
                            <Condition> Cannot be blank.
				</Condition>
                            <Error
                                Description="Mandatory parameters are not passed." ErrorCode="YDM00163"/>
                        </Validation>
                        <Validation>
                            <Condition> Should not be before system date.
				</Condition>
                            <Error
                                Description="Manifest date should not be before system date." ErrorCode="YDM00164"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>Primary key attribute of YFS_MANIFEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>One of the elements of the unique key or business key, that identifies a manifest. ManifestNo, ShipnodeKey and Scac in unison uniquely identify a manifest.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestStatus" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_STATUS" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>Indicates the status of a manifest. Shipments may be added only to manifests that are in open state.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrintCount" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="PRINT_COUNT" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>Number of times the manifest has been printed. This is 0 at creation. This is incremented by 1 at every subsequent print.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Scac" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>
                    <div> One of the elements of the unique key or business key, that identifies a manifest.  
				<Validation>
                            <Condition> Cannot be blank.
				</Condition>
                            <Error
                                Description="Mandatory parameters are not passed." ErrorCode="YDM00163"/>
                        </Validation>
                        <Validation>
                            <Condition> Must be a valid Scac.
				</Condition>
                            <Error
                                Description="SCAC does not exist in the system." ErrorCode="YDM00087"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>
                    <div>One of the elements of the unique key or business key, that identifies a manifest. Manifest_No, Shipnode_Key and Scac in unison uniquely identify a manifest. 
				<Validation>
                            <Condition> Cannot be blank.
				</Condition>
                            <Error
                                Description="Mandatory parameters are not passed." ErrorCode="YDM00163"/>
                        </Validation>
                        <Validation>
                            <Condition> Must be a valid ShipNode.
				</Condition>
                            <Error
                                Description="ShipNode does not exist in the system." ErrorCode="YDM00085"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipperAccountNo" type="yfctype:DocumentNo" use="required">
            <xsd:annotation yfc:columnName="SHIPPER_ACCOUNT_NO" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>
                    <div>Gives the shippers account number. 
					<Validation>
                            <Condition> Cannot be blank.
					</Condition>
                            <Error
                                Description="Mandatory parameters are not passed." ErrorCode="YDM00163"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_MANIFEST">
                <xsd:documentation>Identifier of the trailer to which, this manifest belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
