Data/xapidocs/api_javadocs/XSD/YDM_computeCheckDigitUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/computeCheckDigitUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/computeCheckDigitUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_computeCheckDigitUE_input.xsd" yfc:rootElement="CheckDigit">
        <xsd:appinfo source="yfc:structure">
            <CheckDigit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CheckDigit" type="yfc:CheckDigitXSDType"/>
    <xsd:complexType name="CheckDigitXSDType">
        <xsd:attribute name="CheckDigitAlgo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CHECK_DIGIT_ALGO" yfc:tableName="YFS_PRO_NO_DATA">
                <xsd:documentation>The Check Digit Algorithm to be used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CurrentProNo"
            type="yfctype:PositiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current PRO Number computed from one of the PRO Number sets. It doesn't include the prefix part. But it may contain zeroes on the left to attain the PRO Number Length as specified by the carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_PRO_NO_DATA">
                <xsd:documentation>The Node for which PRO number generation is configured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_PRO_NO_DATA">
                <xsd:documentation>The Carrier for which PRO number generation is configured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
