Data/xapidocs/api_javadocs/XSD/YDM_manageRoutingGuide_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/manageRoutingGuide/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/manageRoutingGuide/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_manageRoutingGuide_input.xsd" yfc:rootElement="RoutingGuide">
        <xsd:appinfo source="yfc:structure">
            <RoutingGuide hasAttributes="Y">
                <SelectionCriteria hasAttributes="Y"/>
                <PersonInfoContact hasAttributes="Y"/>
                <RoutingGuideAttrs>
                    <RoutingGuideAttr hasAttributes="Y">
                        <Value hasAttributes="Y"/>
                    </RoutingGuideAttr>
                </RoutingGuideAttrs>
                <RoutingGuideDetails>
                    <RoutingGuideDetail hasAttributes="Y">
                        <ShipFrom hasAttributes="Y"/>
                        <ShipTo hasAttributes="Y"/>
                        <ShippingParameters hasAttributes="Y"/>
                        <RoutingGuideAttrs>
                            <RoutingGuideAttr hasAttributes="Y">
                                <Value hasAttributes="Y"/>
                            </RoutingGuideAttr>
                        </RoutingGuideAttrs>
                        <RoutingGuideDetailCarrierList>
                            <RoutingGuideDetailCarrier hasAttributes="Y">
                                <PersonInfoContact hasAttributes="Y"/>
                                <ScacAndService hasAttributes="Y"/>
                            </RoutingGuideDetailCarrier>
                        </RoutingGuideDetailCarrierList>
                    </RoutingGuideDetail>
                </RoutingGuideDetails>
            </RoutingGuide>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RoutingGuide" type="yfc:RoutingGuideXSDType">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>Root Node must be <code>RoutingGuide</code>
                        </Condition>
                        <Error
                            Description="Invalid root element has been passed" ErrorCode="YDM000146"/>
                    </Validation>
                    <Validation>
                        <Condition>When this API is invoked in Create Mode, the attributes <code>RoutingGuideNo</code>,<code>Type</code> and <code>OrganizationCode</code> are mandatory </Condition>
                        <Error
                            Description="Routing Guide No is mandatory" ErrorCode="YDM000160"/>
                        <Error Description="Type is mandatory" ErrorCode="YDM000161"/>
                        <Error
                            Description="Organization Code is mandatory" ErrorCode="YDM000162"/>
                    </Validation>
                    <Validation>
                        <Condition>When this API is invoked in Modify or Delete Mode,either the attribute <code>RoutingGuideKey</code> or the attributes <code>RoutingGuideNo</code>,<code>Type</code> and <code>OrganizationCode</code> are mandatory </Condition>
                        <Error
                            Description="Either Routing Guide Key or routing Guide no, Type and Organization Code are mandatory" ErrorCode="YDM000159"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RoutingGuideXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SelectionCriteria"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PersonInfoContact">
                <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="AddressLine1"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 1 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine2"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 2 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine3"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 3 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine4"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 4 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine5"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 5 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine6"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 6 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AlternateEmailID"
                        type="yfctype:EMailID" use="optional">
                        <xsd:annotation
                            yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="City" type="yfctype:City" use="optional">
                        <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The city in the address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                        <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The company this person is associated with.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                        <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The country in the address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DayFaxNo"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DayPhone"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Department"
                        type="yfctype:Department" use="optional">
                        <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                        <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EveningFaxNo"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EveningPhone"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="FirstName"
                        type="yfctype:PersonName" use="optional">
                        <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The first name of the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                        <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="IsCommercialAddress"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="JobTitle"
                        type="yfctype:Title-40" use="optional">
                        <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The job title of the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="LastName"
                        type="yfctype:PersonName" use="optional">
                        <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The last name of the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="MiddleName"
                        type="yfctype:MiddleName" use="optional">
                        <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The middle name of the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="MobilePhone"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OtherPhone"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="PersonID"
                        type="yfctype:PersonId" use="optional">
                        <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="PreferredShipAddress"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="State" type="yfctype:State" use="optional">
                        <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The state in the address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                        <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="TaxGeoCode"
                        type="yfctype:GeoCode" use="optional">
                        <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                        <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                        <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The zip code in the address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="RoutingGuideAttrs">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="RoutingGuideAttr">
                            <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                <xsd:documentation>This table stores Routing Guide Attribute Information.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element maxOccurs="unbounded"
                                    minOccurs="0" name="Value">
                                    <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>
                                    <div>
								Specifies the value or zip code ranges that are part of the inclusion/Exclusion list for the specified attribute.
								<Validation>
                                    <Condition>If the attribute name is either <code>ShipFromZip</code> or <code>ShipToZip</code> ,then an error will be thrown if the <code>StartZip</code> and <code>EndZip</code> attribute values are passed as blanks.</Condition>
                                    <Error
                                    Description="Start Zipcode cannot be blanks" ErrorCode="YDM000152"/>
                                    <Error
                                    Description="End Zipcode cannot be blanks" ErrorCode="YDM000153"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>If the attribute name is something other than <code>ShipFromZip</code> or <code>ShipToZip</code> ,then an error will be thrown if the <code>Value</code> attribute value is are passed as blanks.</Condition>
                                    <Error
                                    Description="Value attribute cannot be blanks" ErrorCode="YDM000154"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>If the <code>StartZip</code> and <code>EndZip</code> attributes are passed in the input,validation is performed to ensure that they are of the same length. </Condition>
                                    <Error
                                    Description="Start and End zip must be of the same length" ErrorCode="YDM000150"/>
                                    </Validation>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute name="EndZip"
                                    type="yfctype:ZipCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="END_ZIP"
                                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>Last Zipcode in the zip code range that has been specified.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="StartZip"
                                    type="yfctype:ZipCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="START_ZIP"
                                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>Starting Zipcode in the zip code range that has been specified.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Value"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE"
                                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>
                                    <div>Value of the attribute.For example if the attribute is <code>FreightTerms</code>, then valid values are <code>COLLECT</code>, <code>PREPAID</code>,<code>TP-COLLECT</code> and <code>TP-PREPAID</code>.
                                </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="AttrName"
                                    type="yfctype:Text-24" use="required">
                                    <xsd:annotation
                                    yfc:columnName="ATTR_NAME" yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>Attribute name of the field that has to be included or excluded.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Include"
                                    type="yfctype:Flag" use="required">
                                    <xsd:annotation
                                    yfc:columnName="INCLUDE" yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>
                                    <div>
							A flag that indicates if the specified value is part of an Inclusion or Exclusion list.
							<br/>Valid Values:  <b>
                                    <code>Y</code>
                                    </b> or <b>
                                    <code>N</code>
                                    </b>
                                    </div>
                                    <Validation>
                                    <Condition>If the <code>RoutingGuideAttr</code> element is passed in the input,an error will be thrown if a value is not provided for the <code>AttrName</code> Attribute.</Condition>
                                    <Error
                                    Description="Attribute Name is mandatory" ErrorCode="YDM000148"/>
                                    </Validation>
                                    <Validation>
                                    <Condition>If the <code>RoutingGuideAttr</code> element is passed in the input, an error will be thrown if a value is not provided for the <code>Include</code> Attribute.</Condition>
                                    <Error
                                    Description="Include flag is mandatory" ErrorCode="YDM000149"/>
                                    </Validation>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutingGuideDetails"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:isConditional="Y">
                <xsd:documentation>
                    <div>
					The action that is to be performed during this invocation of this API.
					<br/> Default: <b>
                            <code>VALUE</code>
                        </b> - Modify
					<br/>Valid Values:  <b>
                            <code>Create</code>
                        </b>, <b>
                            <code>Modify</code>
                        </b>, or 	<b>
                            <code>Delete</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Comments" type="yfctype:Text-400" use="optional">
            <xsd:annotation yfc:columnName="COMMENTS" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Any additional comments about the routing guide.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_DATE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Date on which the routing guide becomes active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExpirationDate" use="optional">
            <xsd:annotation yfc:columnName="EXPIRATION_DATE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Date on which the routing guide expires.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>The organization for whom this routing guide is applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PublishDate" use="optional">
            <xsd:annotation yfc:columnName="PUBLISH_DATE" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Date on which the routing guide was published.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="RoutingGuideKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_GUIDE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Primary key attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingGuideName" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_GUIDE_NAME" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Name of the Routing Guide.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingGuideNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_GUIDE_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>A number that  identifies this routing guide entry.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupercedesRoutingGuideNo"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="SUPERCEDES_ROUTING_GUIDE_NO" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>The routing guide number that preceded the current routing guide number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE">
                <xsd:documentation>Typically holds the values INBOUND or OUTBOUND and reflects the type of the routing guide based on the organization (buyer, enterprise or hub) owning the routing guide.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SelectionCriteria">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE">
            <xsd:documentation>This table stores Routing Guide Header Information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_ROUTING_GUIDE">
                    <xsd:documentation>Department that deals with this item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_ROUTING_GUIDE">
                    <xsd:documentation>Freight Terms for this Routing guide.Can be Collect, Prepaid or 3rd Party.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION" yfc:tableName="YFS_ROUTING_GUIDE">
                    <xsd:documentation>A classification that distinguishes the various merchandise that are dealt by the retailer who defined this routing guide.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RoutingGuideDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:RoutingGuideDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RoutingGuideDetail">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>The table stores details such as ship from, ship to, weight and volume for the routing guide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipFrom"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipTo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShippingParameters"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="RoutingGuideAttrs">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="RoutingGuideAttr">
                                <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>This table stores Routing Guide Attribute Information.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="Value">
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="EndZip"
                                    type="yfctype:ZipCode" use="optional">
                                    <xsd:annotation yfc:isConditional="Y"/>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="StartZip"
                                    type="yfctype:ZipCode" use="optional">
                                    <xsd:annotation yfc:isConditional="Y"/>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="Value"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation yfc:isConditional="Y"/>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="AttrName"
                                    type="yfctype:Text-24" use="required">
                                    <xsd:annotation
                                    yfc:columnName="ATTR_NAME" yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>
                                    <div> Attribute name of the field that has to be included or excluded.  <code>for /RoutingGuide/RoutingGuideAttrs/RoutingGuideAttr element:</code> AttrName should be one of the following. 
									<br/> ShipFromCountry, ShipFromState, ShipFromCity, ShipFromZip, ShipFromNode, ShipToCountry, ShipToState, ShipToCity, ShipToZip, ShipToConsolNode, ShipToNode, ShipToStore, MinHandlingUnits, MaxHandlingUnits, MinWeight, MaxWeight, MinVolume, MaxVolume, ShipmentType, RevisedShipToConsolNode, RevisedShipToNode, RevisedShipToStore, Priority, Scac,  InputCarrierServiceCode, CarrierServiceCode, FreightTermsOverride, Weight, WeightUOM, Volume, VolumeUOM, HandlingUnits.
									<br/>
                                    <code>for /RoutingGuide/RoutingGuideDetails/RoutingGuideDetail/RoutingGuideAttrs/RoutingGuideAttr element:</code> AttrName should be one of the following. 
									<br/> DepartmentCode, ItemClassification, FreightTerms.
									</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Include"
                                    type="yfctype:Flag" use="required">
                                    <xsd:annotation
                                    yfc:columnName="INCLUDE" yfc:tableName="YFS_ROUTING_GUIDE_ATTR">
                                    <xsd:documentation>Indicates whether the attribute in question is to be included or excluded from the list.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutingGuideDetailCarrierList"/>
            </xsd:all>
            <xsd:attribute name="Action" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The action that is to be performed during an invocation of this API.
							<br/> If header level action passed is <code>Delete</code> or <code>Create</code>,the system will ignore <code>Action</code> attribute passed in this node.
							<br/>
                            <code>Delete</code> When the action passed is Delete , the Routing guide detail record associated with a Routing Guide is deleted.
							<br/>
                            <code> Modify</code> When the action passed is Modify, if the system can determine the correct routing guide detail record from database, it will be updated with new values passed, otherwise a new routing guide detail record will be created.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTermsOverride"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS_OVERRIDE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>This indicates that the shipment's Ship To information has to be revised. The value for Revised Ship To Node or Revised Ship To Store or Revised Ship To Consolidated Node is used as the new Ship To for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisedShipToConsolNode"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation
                    yfc:columnName="REVISED_SHIP_TO_CONSOL_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Revised Ship To Consolidator point that's specified for the original Ship To information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisedShipToNode"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="REVISED_SHIP_TO_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Revised Ship To DC location that's specified for the original Ship To information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisedShipToStore"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="REVISED_SHIP_TO_STORE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Revised Ship To Store location that's specified for the original Ship To information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RoutingGuideDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ROUTING_GUIDE_DETAIL_KEY" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Primary key attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipFrom">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>
                <div>
						Origin Address information for which we need to determine SCAC and Carrier Service Code.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipFromCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_CITY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>City from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromCountry" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_COUNTRY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Country Code from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_NODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Ship Node from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_STATE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>State from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipFromZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_FROM_ZIP"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Zipcode from where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipTo">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>
                <div>
						Destination Address information for which we need to determine SCAC and Carrier Service Code.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipToCity" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_CITY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>City to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToConsolNode"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_CONSOL_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Consolidation point to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToCountry" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_COUNTRY" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Country Code to where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_NODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>DC to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToRegion" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_REGION"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Ship to region information. Foreign Key posted from the YFS_REGION entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToState" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_STATE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>State to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToStore" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_STORE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Store to which the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_ZIP" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Zipcode to where the merchandise is being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShippingParameters">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
            <xsd:documentation>The table stores details such as ship from, ship to, weight and volume for the routing guide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InputCarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="INPUT_CARRIER_SERVICE_CODE" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>
                        <div>
						Specifies the Carrier Service Code that has been requested by the buyer.If this attribute is passed, the <code>SCAC</code> and <code>carrier service code</code> that matches this input criteria will be returned as output by this API.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxHandlingUnits"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MAX_HANDLING_UNITS" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Maximum number of handling units.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MAX_VOLUME" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Maximum Volume of the merchandise that's being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MAX_WEIGHT" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Maximum weight of the merchandise that's being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinHandlingUnits"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="MIN_HANDLING_UNITS" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Minimum number of handling units.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MIN_VOLUME" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Minimum Volume of the merchandise that's being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="MIN_WEIGHT" yfc:tableName="YFS_ROUTING_GUIDE_DETAIL">
                    <xsd:documentation>Minimum weight of the merchandise that's being shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Volume UOM of the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Weight UOM of the Shipment/Load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RoutingGuideDetailCarrierList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RoutingGuideDetailCarrier"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RoutingGuideDetailCarrier">
        <xsd:annotation yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
            <xsd:documentation>The entity stores the carrier service, break bulk node and contact of the carrier for the routing guide detail.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="PersonInfoContact">
                    <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
                        <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="AddressLine1"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 1 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine2"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 2 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine3"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 3 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine4"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 4 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine5"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 5 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine6"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 6 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AlternateEmailID"
                            type="yfctype:EMailID" use="optional">
                            <xsd:annotation
                                yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Beeper"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="City" type="yfctype:City" use="optional">
                            <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The city in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Company"
                            type="yfctype:Company" use="optional">
                            <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The company this person is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Country"
                            type="yfctype:Country" use="optional">
                            <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The country in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DayFaxNo"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DayPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Department"
                            type="yfctype:Department" use="optional">
                            <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EMailID"
                            type="yfctype:EMailID" use="optional">
                            <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EveningFaxNo"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EveningPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FirstName"
                            type="yfctype:PersonName" use="optional">
                            <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The first name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                            <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IsCommercialAddress"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="JobTitle"
                            type="yfctype:Title-40" use="optional">
                            <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The job title of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LastName"
                            type="yfctype:PersonName" use="optional">
                            <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The last name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MiddleName"
                            type="yfctype:MiddleName" use="optional">
                            <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The middle name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MobilePhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OtherPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PersonID"
                            type="yfctype:PersonId" use="optional">
                            <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PreferredShipAddress"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="State" type="yfctype:State" use="optional">
                            <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The state in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Suffix"
                            type="yfctype:Suffix" use="optional">
                            <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TaxGeoCode"
                            type="yfctype:GeoCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Title"
                            type="yfctype:Title-10" use="optional">
                            <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ZipCode"
                            type="yfctype:ZipCode" use="optional">
                            <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The zip code in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ScacAndService"/>
            </xsd:all>
            <xsd:attribute name="BreakBulkNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="BREAK_BULK_NODE" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>Link to YFS_SHIP_NODE table. Drop location or break bulk location for this carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_KEY" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>Link to YFS_PERSON_INFO table to get contact address of the trading partner.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>Priority of the routing guide carrier entry.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_CODE" yfc:tableName="YFS_ROUTING_GUIDE_DTL_CARRIER">
                    <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ScacAndService">
        <xsd:annotation yfc:tableName="YFS_SCAC_AND_SERVICE">
            <xsd:documentation>Services offered by a Carrier.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                    <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
