Data/xapidocs/api_javadocs/XSD/YDM_createShipmentContainer_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YDM/createShipmentContainer/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YDM/createShipmentContainer/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YDM_createShipmentContainer_input.xsd" yfc:rootElement="Container">
        <xsd:appinfo source="yfc:structure">
            <Container hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <ContainerDetails>
                    <ContainerDetail hasAttributes="Y">
                        <ShipmentLine hasAttributes="Y">
                            <ShipmentLineInvAttRequest hasAttributes="Y"/>
                        </ShipmentLine>
                    </ContainerDetail>
                </ContainerDetails>
                <AdditionalAttributes>
                    <AdditionalAttribute hasAttributes="Y"/>
                </AdditionalAttributes>
                <Instructions>
                    <Instruction hasAttributes="Y"/>
                </Instructions>
                <Notes>
                    <Note hasAttributes="Y"/>
                </Notes>
            </Container>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Container" type="yfc:ContainerXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ContainerDetails"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalAttributes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Instructions"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Notes"/>
        </xsd:all>
        <xsd:attribute name="ActualFreightCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the freight charge as arrived at by the carrier server.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The actual weight of container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the actual weight of the container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppliedWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="APPLIED_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the weight that was used for freight charge calculations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppliedWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="APPLIED_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of weight specified in APPLIED_WEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AstraCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ASTRA_CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BarcodeDiscount" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="BARCODE_DISCOUNT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BasicFreightCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="BASIC_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarriageValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="CARRIAGE_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Identifies the container that is processed by the API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerGrossWeight"
            type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_GROSS_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The weight of the container, inclusive of weights of items and packing material used, if any. The unit of weight is as specified by the CONTAINER_GROSS_WEIGHT_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerGrossWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_GROSS_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of weight specified in CONTAINER_GROSS_WEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerHeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_HEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The height of the container. The units of height are as specified by the CONTAINER_HEIGHT_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerHeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_HEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of height specified in CONTAINER_HEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerLength" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_LENGTH" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The length of the container. The units of length are as specified by the CONTAINER_LENGTH_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerLengthUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_LENGTH_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of length specified in CONTAINER_LENGTH attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerNetWeight"
            type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NET_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The weight of just the items in the container. This does not include weight of the packing material. The unit of weight is as specified by the CONTAINER_NET_WEIGHT_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerNetWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NET_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of weight specified in CONTAINER_NET_WEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerSeqNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_SEQ_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerType" type="yfctype:LPNType" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_TYPE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>
                    <div>Identifies the type of the container that is processed by the API.
					<br/>Valid Values: <b>
                            <code>Case</code>
                        </b> or <b>
                            <code>Pallet</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerWidth" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_WIDTH" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The width of the container. The units of width are as specified by the CONTAINER_WIDTH_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerWidthUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_WIDTH_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of width specified in CONTAINER_WIDTH attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustCarrierAccountNo"
            type="yfctype:AccountNo" use="optional">
            <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is denormalized from the YFS_SHIPMENT.CUSTCARRIER_ACCOUNT_NO.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomsValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMS_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeclaredValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="DECLARED_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The value of the container as declared on the carrier manifest for insurance purposes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliverBy" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="DELIVER_BY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeliveryDay" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_DAY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the day of the week on which the container is manifested.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DimmedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DIMMED_FLAG" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DiscountAmount" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="DISCOUNT_AMOUNT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExportLicenseExpDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EXPORT_LICENSE_EXP_DATE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The export license expiration date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExportLicenseNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="EXPORT_LICENSE_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The license number if the container is meant for export.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GenerateContainerScm" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>If set and if the container is not associated with a SCM then a SCM is generated and associated with the container speicifed in the input. 
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPackProcessComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PACK_PROCESS_COMPLETE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This flag indicates whether any more pack activities are pending for the container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OversizedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERSIZED_FLAG" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Identifies the container that is processed by the API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The primary key for the YFS_SHIPMENT_CONTAINER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                <xsd:documentation>
                    <div>
				Identifies the shipment to which the container belongs.
				<Validation>
                            <Condition> Must be a valid <code>ShipmentKey</code> in the table <code>YFS_SHIPMENT</code>.
					</Condition>
                            <Error Description="Invalid Shipment." ErrorCode="YFS10533"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpecialServicesSurcharge"
            type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="SPECIAL_SERVICES_SURCHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server if carrier server integration is availed for the shipment. This indicates the special service charge levied for the special services selected.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemSuggested" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_SUGGESTED" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This flag indicates whether this container was suggested by the contanerization API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrackingNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The tracking number. If carrier integration is availed for the carrier on the shipment, then this information is returned by the carrier server. This is a unique number assigned to each container that can be used to track individual containers in a shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Ucc128code" type="yfctype:UCC128" use="optional">
            <xsd:annotation yfc:columnName="UCC128CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ContainerDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ContainerDetail">
        <xsd:annotation yfc:tableName="YFS_CONTAINER_DETAILS">
            <xsd:documentation>Stores information about containerized shipment lines.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLine"/>
            </xsd:all>
            <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived first than the ones that arrived later.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The identifier of one of the items in the container. This field is a part of the unique key. The ITEM_ID can be same as the SHIPMENT_LINE or it can be different in case of logical kit components.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The product class of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The quantity of the item packed in this container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The shipment line key that is associated with this container details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_CONTAINER_DETAILS">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates if data should be retrieved from the history table rather than the regular table. 
							<br/>Default: <b>
                                <code>N</code>
                            </b>
                            <br/>Valid Values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLine">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>Stores information about shipment lines. Shipment lines are created using createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLineInvAttRequest"/>
            </xsd:all>
            <xsd:attribute name="DocumentType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The identifier of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The order number corresponding to the order for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The prime line number of the corresponding order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The release number of the order release for the shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>A part of the primary key . The shipment line number is unique for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSubLineNo"
                type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>This is a part of the unique key. ShipmentSubLineNo along with the ShipmentLineNo is used to identify the logical kit component shipment line. The value of this field is zero - for kit parent shipment lines and shipment lines with items that are not kit components, and greater than zero if the the shipment line corresponds to a logical kit component item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The sub line number of the corresponding order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>The unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipmentLineInvAttRequest">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
            <xsd:documentation>This table stores requested inventory attributes of an item on a shipment line .</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttributes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalAttribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalAttribute">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instructions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Instruction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instruction">
        <xsd:annotation yfc:tableName="YFS_INSTRUCTION_DETAIL">
            <xsd:documentation>Generic table used to store instructions associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InstructionDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_DETAIL_KEY" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Primary key attribute of YFS_INSTRUCTION_DETAIL table that identifies an instruction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionText"
                type="yfctype:InstructionText" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TEXT" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Free-form text indicating any additional information related to the instruction type or otherwise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionType"
                type="yfctype:InstructionType" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TYPE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Categorization of instructions so that they can be grouped together for reference. For example, you may have instructions of type Pick, Pack, and Ship for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionURL" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_URL" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>The URL relating to and/or containing the instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionUsage"
                type="yfctype:InstructionUsage" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_USAGE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Another way of categorization of instructions, over and above the instruction type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_KEY" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Link to the entity key for which the instruction is stored. For example, if this record stores order header level instructions, then this attribute stores the value of order header key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>You could have an instruction exceeding the limits of a single record. Sequence number is used to provide a way to store a link between such instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="optional">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Identifies the entity for which this instruction is stored. For example, if this record stores order header instructions, then you will see this field reading YFS_ORDER_HEADER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates if data should be retrieved from the history table rather than the regular table. 
							<br/>Default: <b>
                                <code>N</code>
                            </b>
                            <br/>Valid Values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Notes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Note"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Note">
        <xsd:annotation yfc:tableName="YFS_NOTES">
            <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="NoteText" type="yfctype:NoteText" use="required">
                <xsd:annotation yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
