Data/xapidocs/api_javadocs/XSD/YFS_beforeSendShipAdviceToWMSUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/beforeSendShipAdviceToWMSUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/beforeSendShipAdviceToWMSUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_beforeSendShipAdviceToWMSUE_input.xsd" yfc:rootElement="WMSShipmentAdviceDownload">
        <xsd:appinfo source="yfc:structure">
            <WMSShipmentAdviceDownload hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WMSShipmentAdviceDownload" type="yfc:WMSShipmentAdviceDownloadXSDType"/>
    <xsd:complexType name="WMSShipmentAdviceDownloadXSDType">
        <xsd:attribute name="ActionCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="AddressType" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:String">
                    <xsd:enumeration value="FT"/>
                    <xsd:enumeration value="BT"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InstructionSeqNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InstructionType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InterfaceType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ItemID" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Name" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderLineKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderReleaseKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PrimeLineNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ProductClass" type="yfctype:String" use="optional"/>
        <xsd:attribute name="RecordType" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:String">
                    <xsd:enumeration value="ORDHDR"/>
                    <xsd:enumeration value="ORDDTL"/>
                    <xsd:enumeration value="ORDADR"/>
                    <xsd:enumeration value="ORDINS"/>
                    <xsd:enumeration value="ORDBOM"/>
                    <xsd:enumeration value="ORDNAM"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="SubLineNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Value" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
