Data/xapidocs/api_javadocs/XSD/YFS_Hazmat_Compliance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Hazmat_Compliance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Hazmat_Compliance" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Hazmat_Compliance.xsd" yfc:rootElement="HazmatCompliance">
        <xsd:appinfo source="yfc:structure">
            <HazmatCompliance hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="HazmatCompliance" type="yfc:HazmatComplianceXSDType">
        <xsd:annotation yfc:tableName="YFS_HAZMAT_COMPLIANCE">
            <xsd:documentation>This table stores hazardous material compliance data as published by the US Department of Transportation (DOT). This data is pertinent to code of federal regulations as formulated by the US Department of Transportation (DOT).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="HazmatComplianceXSDType">
        <xsd:attribute name="CargoAir" type="yfctype:Text-15" use="optional">
            <xsd:annotation yfc:columnName="CARGO_AIR" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the max quantity that can be shipped while shipping via cargo aircraft.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Program that created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>User who created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Exception" type="yfctype:Text-15" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the packing exceptions while shipping the hazardous material.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HazardClass" type="yfctype:ID-15" use="optional">
            <xsd:annotation yfc:columnName="HAZARD_CLASS" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the category of a hazard assigned to a hazardous material. Its value ranges from 1 to 9.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HazmatComplianceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="HAZMAT_COMPLIANCE_KEY" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>The primary key for the YFS_HAZMAT_COMPLIANCE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Label" type="yfctype:Text-30" use="optional">
            <xsd:annotation yfc:columnName="LABEL" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the label code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Program that modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>User who modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PackingGroup" type="yfctype:Text-5" use="optional">
            <xsd:annotation yfc:columnName="PACKING_GROUP" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Packing Groups (PG) indicate the degree of danger of a hazardous material within its hazard class or division and relate to the strength of packaging required for shipment. It can take values Packing Group I - high danger, Packing Group II - medium danger, Packing Group III - low danger.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PassengerAir" type="yfctype:Text-15" use="optional">
            <xsd:annotation yfc:columnName="PASSENGER_AIR" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the max quantity that can be shipped while shipping via passenger aircraft or rail.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProperShippingName" type="yfctype:Text-512" use="optional">
            <xsd:annotation yfc:columnName="PROPER_SHIPPING_NAME" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the proper shipping name or description of hazardous material.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QtyBulk" type="yfctype:Text-15" use="optional">
            <xsd:annotation yfc:columnName="QTY_BULK" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the max quantity that can be shipped while shipping bulk.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QtyNonBulk" type="yfctype:Text-15" use="optional">
            <xsd:annotation yfc:columnName="QTY_NON_BULK" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the max quantity that can be shipped while shipping non bulk.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SortOrder"
            type="yfctype:Integer4AgentCriteria" use="optional">
            <xsd:annotation yfc:columnName="SORT_ORDER" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Unique number to identify a hazardous substance. The difference between the preceding and the succeeding sort order value equals to five. This is to accommodate new hazardous materials.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpecialProvisions" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SPECIAL_PROVISIONS" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the special provisions to be provided while shipping the hazardous material.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Symbols" type="yfctype:Text-8" use="optional">
            <xsd:annotation yfc:columnName="SYMBOLS" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Indicates the symbol of hazardous material.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UNNumber" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="UN_NUMBER" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>UN numbers are four-digit numbers that identify hazardous substances and products (such as explosives and poisonous materials) of commercial importance. This is widely used in international commerce, for instance to label the contents of shipping containers.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Vessel" type="yfctype:Text-5" use="optional">
            <xsd:annotation yfc:columnName="VESSEL" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Specifies where the cargo is stowed on a vessel.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VesselSP" type="yfctype:ID-35" use="optional">
            <xsd:annotation yfc:columnName="VESSEL_SP" yfc:tableName="YFS_HAZMAT_COMPLIANCE">
                <xsd:documentation>Specifies other stowage plans.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
