Data/xapidocs/api_javadocs/XSD/YFS_getReleaseCost_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getReleaseCost/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getReleaseCost/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getReleaseCost_output.xsd" yfc:rootElement="ReleaseCost">
        <xsd:appinfo source="yfc:structure">
            <ReleaseCost>
                <POHeader hasAttributes="Y">
                    <BillTo hasAttributes="Y"/>
                    <Contact hasAttributes="Y"/>
                    <CommissionTo hasAttributes="Y"/>
                    <POLines hasAttributes="Y">
                        <POLine hasAttributes="Y"/>
                    </POLines>
                </POHeader>
            </ReleaseCost>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReleaseCost" type="yfc:ReleaseCostXSDType"/>
    <xsd:complexType name="ReleaseCostXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:POHeader"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="POHeader">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:BillTo"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Contact"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:CommissionTo"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:POLines"/>
            </xsd:all>
            <xsd:attribute name="BillToAccountNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CommisionAccountNo"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditCardExpDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditCardName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditCardNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditCardType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Currency" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerAccountNo"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="DebitCardNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FirstName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="HandlingCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LastName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MiddleName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PONumber" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PaymentReference1"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PaymentReference2"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PaymentReference3"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PaymentType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShippingCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SvcNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TermsCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalCost" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BillTo">
        <xsd:complexType>
            <xsd:attribute name="AddressID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine3" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine4" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine5" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine6" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AlternateEmailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Beeper" type="yfctype:String" use="optional"/>
            <xsd:attribute name="City" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Company" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Country" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Department" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EMailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FirstName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="JobTitle" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LastName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MiddleName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MobilePhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OtherPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PersonID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="State" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Suffix" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxGeoCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Title" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ZipCode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Contact">
        <xsd:complexType>
            <xsd:attribute name="AddressID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine3" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine4" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine5" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine6" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AlternateEmailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Beeper" type="yfctype:String" use="optional"/>
            <xsd:attribute name="City" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Company" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Country" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Department" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EMailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FirstName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="JobTitle" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LastName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MiddleName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MobilePhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OtherPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PersonID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="State" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Suffix" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxGeoCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Title" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ZipCode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CommissionTo">
        <xsd:complexType>
            <xsd:attribute name="AddressID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine3" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine4" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine5" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine6" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AlternateEmailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Beeper" type="yfctype:String" use="optional"/>
            <xsd:attribute name="City" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Company" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Country" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Department" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EMailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FirstName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="JobTitle" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LastName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MiddleName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MobilePhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OtherPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PersonID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="State" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Suffix" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxGeoCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Title" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ZipCode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="POLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:POLine"/>
            </xsd:sequence>
            <xsd:attribute name="TotalLines" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="POLine">
        <xsd:complexType>
            <xsd:attribute name="CommissionPercentage"
                type="yfctype:String" use="required"/>
            <xsd:attribute name="HandlingCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LineTotalCost" type="yfctype:String" use="required"/>
            <xsd:attribute name="OrderLineKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShippingCost" type="yfctype:String" use="required"/>
            <xsd:attribute name="UnitCost" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
