Data/xapidocs/api_javadocs/XSD/YFS_Zone_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Zone_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Zone_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Zone_keys.xsd" yfc:rootElement="Zone">
        <xsd:appinfo source="yfc:structure">
            <Zone hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Zone" type="yfc:ZoneXSDType">
        <xsd:annotation yfc:tableName="YFS_ZONE">
            <xsd:documentation>This table stores the zone level setup details for a warehouse. The warehouse may be divided into multiple zones based on the product storage, packaging types, etc. Zone is a way of classifying a set of locations that share common properties. Locations belong to zones. Zone level storage constraints are auto propagated to locations through membership in a zone. The mix and do not mix constraints at zone level, apply to every single location in the zone.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ZoneXSDType">
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The node key that is associated with this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The field indicates the zone identifier. This forms a unique key for the YFS_ZONE table associated with the NODE_KEY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_ZONE">
                <xsd:documentation>The primary key for the YFS_ZONE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
