Data/xapidocs/api_javadocs/XSD/YFS_NodeReceivingPreference_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/NodeReceivingPreference_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/NodeReceivingPreference_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_NodeReceivingPreference_keys.xsd" yfc:rootElement="NodeReceivingPreference">
        <xsd:appinfo source="yfc:structure">
            <NodeReceivingPreference hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeReceivingPreference" type="yfc:NodeReceivingPreferenceXSDType">
        <xsd:annotation yfc:tableName="YFS_NODE_RECEIVING_PREF">
            <xsd:documentation>Configuration table. Stores receiving preferences at node level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="NodeReceivingPreferenceXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                <xsd:documentation>The document type for which the preference is set up. This field is a unique key of the YFS_DOCUMENT_PARAMS table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                <xsd:documentation>The enterprise code that is associated with this node receiving preference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                <xsd:documentation>The node key that is associated with this node receiving preference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeReceivingPreferenceKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_RECEIVING_PREF_KEY" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                <xsd:documentation>The primary key for the YFS_NODE_RECEIVING_PREF table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
