Data/xapidocs/api_javadocs/XSD/YFS_manageSourcingRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageSourcingRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageSourcingRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_manageSourcingRule_input.xsd" yfc:rootElement="SourcingRuleHeader">
        <xsd:appinfo source="yfc:structure">
            <SourcingRuleHeader hasAttributes="Y">
                <SourcingRuleDetails hasAttributes="Y">
                    <SourcingRuleDetail hasAttributes="Y">
                        <SourcingTemplate>
                            <AdditionalData hasAttributes="Y"/>
                            <RelationshipType hasAttributes="Y"/>
                            <NodeTypes hasAttributes="Y">
                                <NodeType hasAttributes="Y"/>
                            </NodeTypes>
                        </SourcingTemplate>
                    </SourcingRuleDetail>
                </SourcingRuleDetails>
            </SourcingRuleHeader>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SourcingRuleHeader" type="yfc:SourcingRuleHeaderXSDType">
        <xsd:annotation yfc:tableName="YFS_SOURCING_RULE_HDR">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>Both <code>RegionKey</code> and <code>ToNodeKey</code> are passed. </Condition>
                        <Error
                            Description="Both ToNodeKey and RegionKey can not be passed." ErrorCode="YFS10190"/>
                    </Validation>
                    <Validation>
                        <Condition>Both <code>NodeTypeID</code> and <code>RegionKey</code> are passed. </Condition>
                        <Error
                            Description="Both NodeTypeID and RegionKey can not be passed." ErrorCode="YFS10190"/>
                    </Validation>
                    <Validation>
                        <Condition>Both <code>NodeTypeID</code> and <code>ToNodeKey</code> are passed. </Condition>
                        <Error
                            Description="Both NodeTypeID and ToNodeKey can not be passed." ErrorCode="YFS10190"/>
                    </Validation>
                    <Validation>
                        <Condition>Both <code>ItemID </code> and (<code>ItemClassification</code>,  <code>ItemClassification2</code>, <code>ItemClassification3</code>, <code>ItemClassification4</code>,  <code>ItemClassification5</code>, <code>ItemClassification6</code>, or <code>ItemClassification7</code>) are passed. </Condition>
                        <Error
                            Description="Both ItemID and (ItemClassification or ItemClassification2 or ItemClassification3 or ItemClassification4 or ItemClassification5 or ItemClassification6 or ItemClassification7) can not be passed." ErrorCode="YFS10190"/>
                    </Validation>
                    <Validation>
                        <Condition>If ItemGroupCode is PROD then Purpose can be SOURCING or PROCUREMENT.</Condition>
                        <Error
                            Description="Invalid purpose code passed or purpose code is not associated to a classification." ErrorCode="YCM0043"/>
                    </Validation>
                    <Validation>
                        <Condition>If ItemGroupCode is DS or PS then Purpose can be SOURCING only.</Condition>
                        <Error
                            Description="Invalid purpose code passed or purpose code is not associated to a classification." ErrorCode="YCM0043"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ItemClassification</code>, <code>ItemClassification2</code>, <code>ItemClassification3</code>, <code>ItemClassification4</code>, <code>ItemClassification5</code>, <code>ItemClassification6</code>, or <code>ItemClassification7</code> is passed for <code>ItemGroupCode</code> is PS.</Condition>
                        <Error
                            Description="Sourcing rule configuration is not allowed at Item Classification level for Provided Services." ErrorCode="YFS10190"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ItemClassification</code>, <code>ItemClassification2</code>, <code>ItemClassification3</code>, <code>ItemClassification4</code>, <code>ItemClassification5</code>, <code>ItemClassification6</code>, or <code>ItemClassification7</code> is passed for <code>ItemGroupCode</code> is DS</Condition>
                        <Error
                            Description="Sourcing rule configuration is not allowed at Item Classification level for Delivery Services." ErrorCode="YFS10190"/>
                    </Validation>
                    <Validation>
                        <Condition>ItemID must be void if <code>ItemGroupCode</code> is DS.</Condition>
                        <Error
                            Description="Sourcing rule configuration is not allowed at Item level for Delivery Services." ErrorCode="YFS10190"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SourcingRuleHeaderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SourcingRuleDetails"/>
        </xsd:all>
        <xsd:attribute name="FulfillmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="FULFILLMENT_TYPE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>
                                <code>FulfillmentType</code> not passed.</Condition>
                            <Error
                                Description="FulfillmentType is mandatory for this operation." ErrorCode="YFS10190"/>
                        </Validation>
                        <Validation>
                            <Condition> Invalid <code>FulfillmentType</code> passed.</Condition>
                            <Error
                                Description="Invalid FulfillmentType." ErrorCode="YFS10190"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification2" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION2" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing2&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification3" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION3" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing3&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification4" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION4" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing4&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification5" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION5" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing5&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification6" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION6" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing6&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification7" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION7" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing7&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>
                    <div>
			Purpose
			<br/>Default: <code>None</code>
                        <br/>Valid Values:
				<br/>
                        <b>PROD</b> or <b>PS</b> or <b>DS</b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The identifier of the item for which sourcing is setup. This field is only valid only for product sourcing for shipping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeTypeID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="NODE_TYPE_ID" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>Indicates node type id of the receiving node associated to the sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
			Operation to perform on this record.
			<br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
			<br/>Valid Values:
				<br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record.
				<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderSourcingClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation
                yfc:columnName="ORDER_SOURCING_CLASSIFICATION" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The order sourcing classification used for this sourcing rule. This field can be matched with the corresponding field in the YFS_ORDER_HEADER table and the appropriate sourcing rule can be selected during scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> not passed.</Condition>
                            <Error
                                Description="OrganizationCode is mandatory for this operation." ErrorCode="YFS10190"/>
                        </Validation>
                        <Validation>
                            <Condition> Invalid <code>OrganizationCode</code> passed.</Condition>
                            <Error
                                Description="OrganizationCode is not a valid enterprise." ErrorCode="YFS10190"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The product class of the inventory item for which sourcing is setup . This field is only valid only for product sourcing for shipping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:EnumPurpose" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>
                    <div>
			Purpose
			<br/>Default: <code>None</code>
                        <br/>Valid Values:
				<br/>
                        <b>SOURCING</b> or <b>PROCUREMENT</b>
                        <br/>If <b>PROCUREMENT</b> is passed, <b>SubstitutionAllowed</b> and  <b>WorkOrderCreationAllowed</b> should be passed as <b>N</b>.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Invalid region key passed.</Condition>
                            <Error Description="Invalid region passed." ErrorCode="YCP0158"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>Invalid <code>SellerOrganizationCode</code> passed.</Condition>
                            <Error Description="YFS: Invalid Data." ErrorCode="YFS10190"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourcingRuleHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SOURCING_RULE_HDR_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The primary key for the YFS_SOURCING_RULE_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourcingRuleLongDescription"
            type="yfctype:Text-255" use="optional">
            <xsd:annotation yfc:columnName="LONG_DESCRIPTION" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>Long description of the sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourcingRuleName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>Name of the sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourcingRuleShortDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>Short description of the sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToNodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TO_NODE_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The ship node that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SourcingRuleDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SourcingRuleDetail"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Indicates whether to delete existing detail records or not.
				<br/>Default: <code>N</code>
                            <br/>Valid Values:
					<br/>
                            <b>Y</b> or <b>N</b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SourcingRuleDetail">
        <xsd:annotation yfc:tableName="YFS_SOURCING_RULE_DTL">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>Both <code>FromNodeKey</code> and <code>DistributionRuleId</code> are passed. </Condition>
                        <Error
                            Description="Both FromNodeKey and DistributionRuleId can not be passed." ErrorCode="YFS10190"/>
                    </Validation>
                    <Validation>
                        <Condition> One of the following should be passed:  <code>DistributionRuleId</code>,  <code>FromNodeKey</code>, <code>TemplateType</code>. </Condition>
                        <Error
                            Description="One of the following should be passed: FromNodeKey, DistributionRuleId, TemplateType." ErrorCode="YFS10190"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ProcureToShip</code> is 'Y' for provided service. </Condition>
                        <Error
                            Description="ProcureToShip is not allowed for PROCUREMENT and Provided Service." ErrorCode="YFS10190"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SourcingTemplate"/>
            </xsd:all>
            <xsd:attribute name="DistributionRuleId"
                type="yfctype:DistributionRuleId" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>
                        <div>
                            <Validation>
                                <Condition> Invalid <code>DistributionRuleId</code> passed.</Condition>
                                <Error
                                    Description="DistributionRuleId is not valid for this ItemGroupCode and Organization." ErrorCode="YFS10190"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>DistributionRuleId</code> not specified.</Condition>
                                <Error
                                    Description="DistributionRuleId required for template type." ErrorCode="YFS10190"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromNodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_NODE_KEY" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>The ship node that is associated with this sourcing rule detail.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureInventoryWindow" use="optional">
                <xsd:annotation yfc:columnName="FUTURE_INVENTORY_WINDOW" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>Indicates window in which future inventory can be considered. Future inventory coming outside of this window, will not be considered during scheduling. The default value is null which means this window will not be considered. The window should be a valid positive Integer or -1 if only onhand inventory is to be used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Operation" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Operation to perform on this record.
				<br/>Default: If not passed then API will try to either create or modify depending on the existence of the data.
				<br/>Valid Values:
					<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record.
					<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
					<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Delete record.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Action">
                        <xsd:enumeration value="Create"/>
                        <xsd:enumeration value="Modify"/>
                        <xsd:enumeration value="Delete"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ProcureToShipAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PROCURE_TO_SHIP_ALLOWED" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>This flag indicates whether procure to ship is allowed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>The sequence number of the sourcing rule details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourcingRuleDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SOURCING_RULE_DTL_KEY" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>The primary key for the YFS_SOURCING_RULE_DTL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubstitutionAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SUBSTITUTION_ALLOWED" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>This flag indicates whether substitution is allowed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateType" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE_TYPE" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>
                        <div>The following template types are supported.
							<br/>
                            <table class="table">
                                <tr>
                                    <th>Template Type</th>
                                    <th>Configurator</th>
                                    <th>Description</th>
                                </tr>
                                <tr>
                                    <td>
                                    <code>Seller_Nodes_Relationship</code>
                                    </td>
                                    <td>Seller Node's ...</td>
                                    <td>Source from the nodes that have a specified relationship to the selling organization (must also be a node).</td>
                                </tr>
                                <tr>
                                    <td>
                                    <code>Ship_Nodes_Relationship</code>
                                    </td>
                                    <td>Ship Node's ...</td>
                                    <td>Source from the nodes that have a specified relationship to the ship node.</td>
                                </tr>
                                <tr>
                                    <td>
                                    <code>All_Node_Types_Ship_Node_Relationship</code>
                                    </td>
                                    <td>All Nodes Of Type(s) ...<br/>
								That Have A ... Relationship <br/>
								With The Ship Node's ...</td>
                                    <td>Source from nodes of a specific type who have a relationship with nodes that have a relationship with the ship node.</td>
                                </tr>
                                <tr>
                                    <td>
                                    <code>All_Nodes_Of_Type</code>
                                    </td>
                                    <td>All Nodes Of Type(s) ...</td>
                                    <td>Source from the nodes of specified node types (can provide either one or multiple node types).</td>
                                </tr>
                                <tr>
                                    <td>
                                    <code>Primary_Vendor</code>
                                    </td>
                                    <td>Primary Vendor</td>
                                    <td>Source from the item's primary supplier (must also be a node).</td>
                                </tr>
                                <tr>
                                    <td>
                                    <code>Specific_Node</code>
                                    </td>
                                    <td>Node: ...</td>
                                    <td>Source from a specific node.</td>
                                </tr>
                                <tr>
                                    <td>
                                    <code>Distribution_Group</code>
                                    </td>
                                    <td>Distribution Group: ...</td>
                                    <td>Source from the nodes defined by the Distribution Group.</td>
                                </tr>
                                <tr>
                                    <td>
                                    <code>Receiving_Nodes_Relationship</code>
                                    </td>
                                    <td>Receiving Node's ...</td>
                                    <td>Source from the nodes that have a specified relationship to the receiving node.</td>
                                </tr>
                                <tr>
                                    <td>
                                    <code>Externally_Defined</code>
                                    </td>
                                    <td>Externally Defined With Reason ...</td>
                                    <td>Source from the nodes defined by the <code>OMPSourceNodesExternallyUE</code> user exit.</td>
                                </tr>
                            </table>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderCreationAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="WORK_ORDER_CREATION_ALLOWED" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>This flag indicates whether a work order creation is allowed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SourcingTemplate">
        <xsd:annotation>
            <xsd:documentation>

                <div>
              SourcingTemplate must contain xml corresponding to the passed <code>TemplateType</code>.  Complete <code>SourcingTemplate</code> will be stored as a string in <code>YFS_SOURCING_RULE_DTL.TEMPLATE_XML</code> column.  The following Template Types and Template XMLs are supported:
              <div
                        class="portlet" style="width:90%">
                        <table border="0" cellpadding="0"
                            cellspacing="0" class="table">
                            <tr>
                                <td class="tablecolumnheader" style="width:35%">Template Type</td>
                                <td class="tablecolumnheader">Use</td>
                                <td class="tablecolumnheader">Template Description</td>
                                <td class="tablecolumnheader">Template XML</td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Seller_Nodes_Relationship</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">ItemGroupCode is PS or DS.  Purprose is SOURCING.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Seller Node's Relationship(ORG_REL_1).</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">&lt;SourcingTemplate&gt;
                  <br/>&lt;RelationshipType ArgID="ORG_REL_1" RelationshipTypeValue="" Direction="T" /&gt;
                  <br/>&lt;/SourcingTemplate&gt; </td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Ship_Nodes_Relationship</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">ItemGroupCode is PROD.  Purprose is PROCUREMENT.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Ship Node's Relationship (ORG_REL_1).</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">&lt;SourcingTemplate&gt;
                  <br/>&lt;RelationshipType ArgID="ORG_REL_1" RelationshipTypeValue="" Direction="F"/&gt;
                  <br/>&lt;/SourcingTemplate&gt; </td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">All_Node_Types_Ship_Node_Relationship</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">ItemGroupCode is PROD.  Purprose is PROCUREMENT.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">All Nodes of Type/s (NODE_TYPE_1) replenished through relationship(ORG_REL_1) by Ship node's relationship(ORG_REL_2).</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">&lt;SourcingTemplate&gt;
                  <br/>&lt;RelationshipType ArgID="ORG_REL_1" RelationshipTypeValue="" Direction="T"/&gt;
                  <br/>&lt;RelationshipType ArgID="ORG_REL_2" RelationshipTypeValue="" Direction="F"/&gt;
                  <br/>&lt;NodeTypes ArgID="NODE_TYPE_1"&gt;
                  <br/>&lt;NodeType NodeTypeValue="" /&gt;
                  <br/>&lt;/NodeTypes&gt;
                  <br/>&lt;/SourcingTemplate&gt;</td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">All_Nodes_Of_Type</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">All, except when ItemGroupCode is DS.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">All Nodes of Type/s (NODE_TYPE_1).</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">&lt;SourcingTemplate&gt;
                  <br/>&lt;NodeTypes ArgID="NODE_TYPE_1"&gt;
                  <br/>&lt;NodeType NodeTypeValue="" /&gt;
                  <br/>&lt;/NodeTypes&gt;
                  <br/>&lt;/SourcingTemplate&gt;</td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Primary_Vendor</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">ItemGroupCode is PROD.  Purprose is PROCUREMENT or SOURCING.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Item's Primary Vendor.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">No template should be passed.</td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Specific_Node</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">All.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Specific Node.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">No template should be passed.  FromNodeKey should be passed instead.</td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Distribution_Group</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">All, except when ItemGroupCode is DS.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Distribution Group.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">No template should be passed. DistributionRuleId should be passed instead.</td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Idle_Asset_By_Radius_Dist_Grp</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">ItemGroupCode is PROD.  Purprose is PROCUREMENT.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">All Nodes In (DistributionRuleId) Within (Radius) (RadiusUOM) Where The Item Is An Idle Asset</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">&lt;SourcingTemplate&gt;
                  <br/>&lt;AdditionalData IdleAsset="Y" Radius="" RadiusUOM="" ExpandToMinimizeNumOfShipments="" /&gt;
                  <br/>&lt;/SourcingTemplate&gt;
				  <br/>Additionally, DistributionRuleId should be passed.</td>
                            </tr>
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Receiving_Nodes_Relationship</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">ItemGroupCode is PROD. Purprose is SOURCING.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Receiving Node's Relationship (ORG_REL_1).</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">&lt;SourcingTemplate&gt;
                  <br/>&lt;RelationshipType ArgID="ORG_REL_1" RelationshipTypeValue="" Direction="F" /&gt;
                  <br/>&lt;/SourcingTemplate&gt;</td>
                            </tr>
                            <!-- Externally_Defined -->
                            <tr>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Externally_Defined</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Any ItemGroupCode and Purprose.</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">Nodes Determined Externally With Reason (ExternallyDefinedReasonCode).</td>
                                <td
                                    style="border-bottom:1px solid #8C92C6" valign="top">&lt;SourcingTemplate&gt;
                  <br/>&lt;AdditionalData ExternallyDefinedReasonCode="" /&gt;
                  <br/>&lt;/SourcingTemplate&gt;</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalData"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:RelationshipType"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NodeTypes"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalData">
        <xsd:annotation>
            <xsd:documentation>
                <div>
							Additional flags and information to use when sourcing.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AvailableCapacityPercentage"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                                    Indicates the available inventory capacity percentage 
                                    that a node must have to be considered for sourcing.
									If not specified, then capacity percentage will not
									be considered in node determination.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="DaysToConsiderAvailableCapacityPercentage"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Number of days to consider the node's available inventory 
								capacity for sourcing. If not specified, it will default to
								<code>FutureInventoryWindow</code>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpandToMinimizeNumOfShipments"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
								This flag is applicable only when optimization type is cost based, and minimizing the number of shipments. It is not applicable for Procurement Rule.
		                               <div>
										If set to <code>Y</code>, then the sourcing rule will be expanded further to minimize number of shipments for lines.
										When one of the lines for which supply is unavailable, expansion of sourcing rule is done. Based on the flag, expansion of sourcing rule will be done for lines that have supply available also, in order to minimize the number of shipments.
										Default value is <code>N</code>.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternallyDefinedReasonCode"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            		This attribute is only applicable for <code>TemplateType</code> as <code>Externally_Defined</code>.
                            		It can be used for custom logic in the <code>OMPGetSourcedFromNodesExternallyUE</code> user exit.
				                    <Validation>
                                <Condition>
                                    <code>ExternallyDefinedReasonCode</code> not passed when <code>TemplateType</code> is <code>Externally_Defined</code>.</Condition>
                                <Error Description="YFS: Invalid Data" ErrorCode="YFS10190"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>ExternallyDefinedReasonCode</code> is not valid.</Condition>
                                <Error Description="YFS: Invalid Data" ErrorCode="YFS10190"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IdleAsset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								If set to <code>Y</code>, indicates that only nodes where the 
								item being sourced is an idle asset should be considered.  
								Default value is <code>N</code>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSmartSourcingAllowed" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Determines whether this sourcing rule detail should allow for smart 
                                sourcing logic to be applied. Default value is <code>Y</code>.</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value=""/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Radius" type="yfctype:Number" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Indicates the radius from the ship to address that a node must fall within to be considered for sourcing.  In the case of procurement sourcing rule, the radius from the final ship node is used.  If <code>Radius</code> is passed, <code>RadiusUOM</code> must also be passed.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RadiusUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_UOM">
                    <xsd:documentation>
                        <div>
								The unit of measure that the <code>Radius</code> is specified in.  This should be a dimension UOM, and it must be possible to convert between this UOM and MILE.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RelationshipType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                      Indicates type of the relationship used in sourcing template.
                    </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ArgID" type="yfctype:Text-24" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                      Indicates position of the <code>RelationshipType</code> in sourcing tempate.
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Direction" type="yfctype:Text-1" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                    Indicates which direction should be used when evaluaing relationships.
                    <br/>Valid Values:
                    <br/>
                            <b>T</b> - To direction.  Nodes that are stored in 'YFS_ORG_RELATIONSHIP.TO_ORG_CODE' part of the relationship will be returned.
                    <br/>
                            <b>F</b> - From direction.  Nodes that are stored in 'YFS_ORG_RELATIONSHIP.FROM_ORG_CODE' part of the relationship will be returned.
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipTypeValue"
                type="yfctype:Text-24" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                      Indicates relationship type ID.
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NodeTypes">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                      Indicates node types used in sourcing template.
                    </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NodeType"/>
            </xsd:sequence>
            <xsd:attribute name="ArgID" type="yfctype:Text-24" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                      Indicates position of the <code>NodeTypes</code> in sourcing tempate.
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NodeType">
        <xsd:annotation yfc:tableName="YFS_NODE_TYPE">
            <xsd:documentation>
                <div>
                      Indicates node type used in sourcing template.
                    </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="NodeTypeValue" type="yfctype:Text-24" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                      Indicates node type ID.
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
