Data/xapidocs/api_javadocs/XSD/YFS_createChainedOrder_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createChainedOrder/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createChainedOrder/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createChainedOrder_input.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>Part of the identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code> , <code>DocumentType</code> and <code>OrderNo</code> of the parent order must be passed.
					<Validation>
                            <Condition>Either <code>EnterpriseCode</code> , <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the parent order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>Part of a unique identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code> of the parent order must be passed.
					<Validation>
                            <Condition>Either <code>EnterpriseCode</code> , <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the parent order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreTransactionDependencies" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag to override any transaction dependencies that may be defined for the transaction this API invokes.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>. When passed as <b>
                            <code>Y</code>
                        </b>, transaction dependencies will not be evaluated, and thus will not prevent the API from processing.
					</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>Unique identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code> of the parent order must be passed.
					<Validation>
                            <Condition>Either <code>EnterpriseCode</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the parent order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>Part of the identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code> , <code>DocumentType</code> and <code>OrderNo</code> of the parent order must be passed.
					<Validation>
                            <Condition>Either <code>EnterpriseCode</code> , <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the parent order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SelectMethod" type="yfctype:SelectMethod" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates if database operations should be performed in the <code>WAIT</code> or <code>NO_WAIT</code> mode.
			<br/>Default:  <code>NO_WAIT</code>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
