Data/xapidocs/api_javadocs/XSD/YFS_Special_Service_Ref_Master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Special_Service_Ref_Master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Special_Service_Ref_Master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Special_Service_Ref_Master.xsd" yfc:rootElement="SpecialServiceRef">
        <xsd:appinfo source="yfc:structure">
            <SpecialServiceRef hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SpecialServiceRef" type="yfc:SpecialServiceRefXSDType">
        <xsd:annotation yfc:tableName="YFS_SPECIAL_SERVICE_REF">
            <xsd:documentation>This table stores various special services used for a container. Examples of special services are signature required upon delivery of the package, Saturday pick-up, Saturday delivery and so forth.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SpecialServiceRefXSDType">
        <xsd:attribute name="ReferenceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_KEY" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                <xsd:documentation>Link to YFS_SHIPMENT_CONTAINER.shipment_container_key. This points to a package for which special service is availed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReferenceType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                <xsd:documentation>Points to the table code of the table for which data is stored in the reference key attribute. The data will read YFS_SHIPMENT_CONTAINER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpecialServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SPECIAL_SERVICE_KEY" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                <xsd:documentation>Link to YFS_SEPCIAL_SERVICES.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpecialServiceRefKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SPECIAL_SERVICE_REF_KEY" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                <xsd:documentation>Primary key attribute of YFS_SPECIAL_SERVICE_REF that identifies a special service reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpecialServiceSurcharge"
            type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="SPECIAL_SERVICE_SURCHARGE" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                <xsd:documentation>Surcharge associated with a particular special service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpecialServicesCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="SPECIAL_SERVICES_CODE" yfc:tableName="YFS_SPECIAL_SERVICE_REF">
                <xsd:documentation>Special services code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
