Data/xapidocs/api_javadocs/XSD/YFS_Additional_Attribute_Master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Additional_Attribute_Master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Additional_Attribute_Master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Additional_Attribute_Master.xsd" yfc:rootElement="AdditionalAttribute">
        <xsd:appinfo source="yfc:structure">
            <AdditionalAttribute hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AdditionalAttribute" type="yfc:AdditionalAttributeXSDType">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>Stores dynamic attributes attached with an entity. Currently used to store additional attributes for item and category entities.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AdditionalAttributeXSDType">
        <xsd:attribute name="AdditionalAttributeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ADDITIONAL_ATTRIBUTE_KEY" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                <xsd:documentation>Primary key attribute of YFS_ADDITIONAL_ATTRIBUTE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                <xsd:documentation>Name of the dynamic attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PARENT_KEY" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                <xsd:documentation>Link to parent entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentTable" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PARENT_TABLE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                <xsd:documentation>Name of entity for which dynamic attributes are stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                <xsd:documentation>Value of the attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
