Data/xapidocs/api_javadocs/XSD/YFS_getEntitlementRuleDetailItemList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getEntitlementRuleDetailItemList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getEntitlementRuleDetailItemList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getEntitlementRuleDetailItemList_input.xsd" yfc:rootElement="EntitlementRuleDetailItem">
        <xsd:appinfo source="yfc:structure">
            <EntitlementRuleDetailItem hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntitlementRuleDetailItem" type="yfc:EntitlementRuleDetailItemXSDType">
        <xsd:annotation yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
            <xsd:documentation>This table stores information of an item for an item entitlement rule detail that represents a set of items.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EntitlementRuleDetailItemXSDType">
        <xsd:attribute name="EntitlementRuleDetailKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITLEMENT_RULE_DTL_KEY" yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
                <xsd:documentation>The entitlement rule detail that this set of items represent.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
                <xsd:documentation>The identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
                <xsd:documentation>The unit of measure of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
