Data/xapidocs/api_javadocs/XSD/YFS_Classification_Purpose_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Classification_Purpose_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Classification_Purpose_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Classification_Purpose_master.xsd" yfc:rootElement="ClassificationPurpose">
        <xsd:appinfo source="yfc:structure">
            <ClassificationPurpose hasAttributes="Y">
                <CategoryDomain hasAttributes="Y"/>
            </ClassificationPurpose>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ClassificationPurpose" type="yfc:ClassificationPurposeXSDType">
        <xsd:annotation yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
            <xsd:documentation>This table stores purposes of existing classifications.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ClassificationPurposeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CategoryDomain"/>
        </xsd:all>
        <xsd:attribute name="AttributeName" type="yfctype:AttributeName" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Pre-defined list of fields which can be used for Item Classification.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Caterogy domain key to which the classification is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClassificationPurposeCode"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CLASSIFICATION_PURPOSE_CODE" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Application specific system defined codes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClassificationPurposeDesc"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="CLASSIFICATION_PURPOSE_DESC" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Describes the configuration and usage.  This will be pre-defined list provided as factory defaults.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ClassificationPurposeKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CLASSIFICATION_PURPOSE_KEY" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Primary key attribute of CLASSIFICATION_PURPOSE_KEY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Program that created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>User who created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Program that modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>User who modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModuleName" type="yfctype:Text-128" use="optional">
            <xsd:annotation yfc:columnName="MODULE_NAME" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>The name of the module associated with this classification purpose.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CLASSIFICATION_PURPOSE">
                <xsd:documentation>Catalog OrganizationCode to which the purpose is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CategoryDomain">
        <xsd:annotation yfc:tableName="YFS_CATEGORY_DOMAIN">
            <xsd:documentation>This table stores information for a category domain, the highest level of classification of item. Multiple domains can be created by an organization. All categories are  defined under a particular domain.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The pre-defined list of fields which can be used for item classification.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryDomain" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_DOMAIN" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The identifier for a category domain defined by an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryDomainKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_DOMAIN_KEY" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The primary key for the YFS_CATEGORY_DOMAIN table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The description of a category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsClassification" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CLASSIFICATION" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>This flag indicates whether the category is an item classfication.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The program that last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The code for the organization that defines the category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_CATEGORY_DOMAIN">
                    <xsd:documentation>The short description of a category domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
