Data/xapidocs/api_javadocs/XSD/YFS_Container_Status_Audit_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Container_Status_Audit_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Container_Status_Audit_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Container_Status_Audit_tran.xsd" yfc:rootElement="ContainerStatusAudit">
        <xsd:appinfo source="yfc:structure">
            <ContainerStatusAudit hasAttributes="Y">
                <OldStatus hasAttributes="Y"/>
                <NewStatus hasAttributes="Y"/>
            </ContainerStatusAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ContainerStatusAudit" type="yfc:ContainerStatusAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_CONTAINER_STS_AUDIT">
            <xsd:documentation>This table stores container status change audit information. Each time the container status changes because of a business process, an audit is posted along with the status, timestamp, reason code and text, user ID and program ID. All transactions in the container pipeline in fact will have entries in this table upon completion of a transaction.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerStatusAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OldStatus"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NewStatus"/>
        </xsd:all>
        <xsd:attribute name="ContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_KEY" yfc:tableName="YFS_CONTAINER_STS_AUDIT">
                <xsd:documentation>Container for which a status change audit is written.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerStatusAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_STATUS_AUDIT_KEY" yfc:tableName="YFS_CONTAINER_STS_AUDIT">
                <xsd:documentation>Primary key attribute of YFS_CONTAINER_STATUS_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_CONTAINER_STS_AUDIT">
                <xsd:documentation>Reason code indicating the reason for the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_CONTAINER_STS_AUDIT">
                <xsd:documentation>Free-form reason text indicating any additional information related to the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OldStatus">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NewStatus">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
