Data/xapidocs/api_javadocs/XSD/YFS_getReceivingDiscrReasonList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getReceivingDiscrReasonList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getReceivingDiscrReasonList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getReceivingDiscrReasonList_output.xsd" yfc:rootElement="ReceivingDiscrReasonList">
        <xsd:appinfo source="yfc:structure">
            <ReceivingDiscrReasonList>
                <ReceivingDiscrReason hasAttributes="Y"/>
            </ReceivingDiscrReasonList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReceivingDiscrReasonList" type="yfc:ReceivingDiscrReasonListXSDType"/>
    <xsd:complexType name="ReceivingDiscrReasonListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ReceivingDiscrReason"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ReceivingDiscrReason">
        <xsd:annotation yfc:tableName="YFS_RECEIVING_DISCR_REASON">
            <xsd:documentation>Configuration table. This table stores the master setup for the discrepancy reason codes.  The codes cannot be shared between document types.  However, an enterprise can inherit this setup from anther enterprise.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DiscrReasonCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DISCR_REASON_CODE" yfc:tableName="YFS_RECEIVING_DISCR_REASON">
                    <xsd:documentation>Discrepancy Reason Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscrReasonDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation
                    yfc:columnName="DISCR_REASON_DESCRIPTION" yfc:tableName="YFS_RECEIVING_DISCR_REASON">
                    <xsd:documentation>Description for a Discrepancy Reason.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscrType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="DISCR_TYPE" yfc:tableName="YFS_RECEIVING_DISCR_REASON">
                    <xsd:documentation>Values: OVER: over receipt, SHORT: under receipt, DAMAGE: damaged receipt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RECEIVING_DISCR_REASON">
                    <xsd:documentation>Document type for which the discrepancy reason is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceAdjustmentType"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_ADJUSTMENT_TYPE" yfc:tableName="YFS_RECEIVING_DISCR_REASON">
                    <xsd:documentation>Values: CRE: credit, DEB: debit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceLineGroupingCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="InvoiceReferenceCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RECEIVING_DISCR_REASON">
                    <xsd:documentation>Organization Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingDiscrReasonKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="RECEIVING_DISCR_REASON_KEY" yfc:tableName="YFS_RECEIVING_DISCR_REASON">
                    <xsd:documentation>Primary key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresInvoiceAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRES_INVOICE_ADJUSTMENT" yfc:tableName="YFS_RECEIVING_DISCR_REASON">
                    <xsd:documentation>This is applicable only for Sales Order (DOM) document types.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
