Data/xapidocs/api_javadocs/XSD/YFS_getSourcingConfig_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getSourcingConfig/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getSourcingConfig/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getSourcingConfig_output.xsd" yfc:rootElement="SourcingConfig">
        <xsd:appinfo source="yfc:structure">
            <SourcingConfig hasAttributes="Y">
                <EnterpriseNodeTypeList hasAttributes="Y">
                    <EnterpriseNodeType hasAttributes="Y">
                        <NodeType hasAttributes="Y"/>
                    </EnterpriseNodeType>
                </EnterpriseNodeTypeList>
            </SourcingConfig>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SourcingConfig" type="yfc:SourcingConfigXSDType">
        <xsd:annotation yfc:tableName="YFS_SOURCING_CONFIG">
            <xsd:documentation>This table contains enterprise configuration used for sourcing during scheduling.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SourcingConfigXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EnterpriseNodeTypeList"/>
        </xsd:all>
        <xsd:attribute name="AverageVolumePerCarton"
            type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="AVERAGE_VOLUME_PER_CARTON" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates volume of an average carton.  Using this factor and volume, total number of cartons will be computed for transporation computations in sourcing.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AverageVolumeUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="AVERAGE_VOLUME_UOM" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates volume unit of measure for average volume per carton.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalculateCostsPerUnit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CALCULATE_COSTS_PER_UNIT" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Rule indicating if landed costs should be calculated on per-unit basis</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierSrvcCFDistUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SRVC_CF_DIST_UOM" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates distance unit of measure for transfer cost factor for carrier service.  It is used for Landed Cost computation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierSrvcCFWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SRVC_CF_WEIGHT_UOM" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates weight unit of measure for transfer cost factor for carrier service.  It is used for Landed Cost computation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierSrvcCostFactor"
            type="yfctype:Decimal" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SRVC_COST_FACTOR" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates Transfer Cost Factor per unit weight per unit distance for transfers using carrier service.  It is used for Landed Cost computation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsmptnPercCostFactor"
            type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="CONSMPTN_PERC_COST_FACTOR" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates Cost Factor per unit consumption of capacity of inventory resource pool</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostFactorCurrency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="COST_FACTOR_CURRENCY" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates currency for cost factors.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DefaultForwardingCarrierSrvc"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DEF_FORWARDING_CARRIER_SRVC" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates default carrier service to be used for forwarding.  Applicable only when no transfer schedule exist between nodes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoursOfSupplyCostFactor" use="optional">
            <xsd:annotation yfc:columnName="HOURS_OF_SUPPLY_COST_FACTOR" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates cost factor that converts hours of supply into cost.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Money"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsForwardingAllowed" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_FORWARDING_ALLOWED" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>This flag indicates whether forwarding option should be considered during sourcing.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsSmartSourcingAllowed" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_SMART_SOURCING_ALLOWED" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Determines if smart sourcing logic should be executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaxStopsForMultistopTransfer"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="MinNodesForSmartSourcingLowAvailability" use="optional">
            <xsd:annotation yfc:columnName="MIN_NODES_FOR_SMART_LOW" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Future use. If the number of nodes from alerts is less than this amount, then smart nodes will be based on actual inventory and not inventory alerts data.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Count"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="NodeHandlingCostFactor"
            type="yfctype:Decimal" use="optional">
            <xsd:annotation yfc:columnName="NODE_HANDLING_COST_FACTOR" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates handling Cost Factor. It is used for Landed Cost computation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodePriorityCostFactor"
            type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="NODE_PRIORITY_COST_FACTOR" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates cost factor that converts node priority into cost.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodePrtyCstFctrCrrncy"
            type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="NODE_PRTY_CST_FCTR_CRRNCY" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates currency for node priority cost factor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfSmartNodes" use="optional">
            <xsd:annotation yfc:columnName="NUMBER_OF_SMART_NODES" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>The number of nodes to consider for smart sourcing. 0, null, or less will be considered 25.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Count"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>The organization that defines this configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipTypeForMerges"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation
                yfc:columnName="RELATIONSHIP_TYPE_FOR_MERGES" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates relationship type which allows procurement creation for merges.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipTypeForMultistop"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="ShipmentDelayCostFactor" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_DELAY_COST_FACTOR" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates cost factor that converts shipment delay into cost.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Money"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SourcingConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SOURCING_CONFIG_KEY" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>The primary key of the YFS_SOURCING_CONFIG table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TranSchCFDistUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="TRAN_SCH_CF_DIST_UOM" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates distance unit of measure for transfer cost factor for transfer schedule.  It is used for Landed Cost computation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TranSchCFWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="TRAN_SCH_CF_WEIGHT_UOM" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates weight unit of measure for transfer cost factor for transfer schedule.  It is used for Landed Cost computation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TranSchCostFactor" type="yfctype:Decimal" use="optional">
            <xsd:annotation yfc:columnName="TRAN_SCH_COST_FACTOR" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates Transfer Cost Factor Per Unit Weight Per Unit Distance for Transfers using transfer schedule.  It is used for Landed Cost computation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseHandlingCost" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_HANDLING_COST" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates if Handling Cost should be used for optimization during sourcing.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseItemCost" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_ITEM_COST" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates if Item Cost should be used for optimization during sourcing.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseLandedCost" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_LANDED_COST" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates if Landed Cost should be used for optimization during sourcing.  Landed Cost cosists of Item Cost, Handling Cost, and Transportation Cost.  If this flag is No, Item, Handling and Transporation Costs will not be used for optimization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseMergingToMinShpNum" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_MERGING_TO_MIN_SHP_NUM" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>This flag indicates if merges should be attempted during sourcing to minimize number of shipments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseTransportationCost" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_TRANSPORTATION_COST" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>Indicates if Transporation Cost should be used for optimization during sourcing.  Transporation Cost consists of Last Leg Transportation and Transfers.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="EnterpriseNodeTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EnterpriseNodeType"/>
            </xsd:sequence>
            <xsd:attribute name="TotalNumberOfRecords"
                type="yfctype:MaxRecordCount" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Number Of Records returned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EnterpriseNodeType">
        <xsd:annotation yfc:tableName="YFS_ENT_NODE_TYPE">
            <xsd:documentation>This table contains rules that are defined at node type enterprise level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NodeType"/>
            </xsd:all>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>Indicates currency which handling costs are specified in.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseNodeTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENT_NODE_TYPE_KEY" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The primary key for the YFS_ENT_NODE_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeTypeID" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="NODE_TYPE_ID" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The unique identifier for the node type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutboundHandlingCostPerShipment"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="OUT_HANDLING_CST_PER_SHP" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The cost of handling an outbound shipment at the shipping node that has specified node type.  Indicates cost per shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutboundHandlingCostPerShipmentLine"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="OUT_HANDLING_CST_PER_SHP_LN" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The cost of handling an outbound shipment at the shipping node that has specified node type.  Indicates cost per line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutboundHandlingCostPerUnit"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="OUT_HANDLING_CST_PER_UNIT" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The cost of handling an outbound shipment at the shipping node that has specified node type.  Indicates cost per item unit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutboundHandlingCostPerUnitWeight"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="OUT_HNDL_CST_PER_UNIT_WEIGHT" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The cost of handling an outbound shipment at the receving node that has specified node type.  Indicates cost per item unit weight.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutboundWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="OUT_WEIGHT_UOM" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>Weight Unit Of Measure for Outbound Shipments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcurementHandlingCostPerShipment"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="PROC_HANDLING_CST_PER_SHP" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The cost of handling an incoming procurement order at the receving node that has specified node type.  Indicates cost per shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcurementHandlingCostPerShipmentLine"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="PROC_HANDLING_CST_PER_SHP_LN" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The cost of handling an incoming procurement order at the receving node that has specified node type.  Indicates cost per line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcurementHandlingCostPerUnit"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="PROC_HANDLING_CST_PER_UNIT" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The cost of handling an incoming procurement order at the receving node that has specified node type.  Indicates cost per item unit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcurementHandlingCostPerUnitWeight"
                type="yfctype:Money" use="optional">
                <xsd:annotation
                    yfc:columnName="PROC_HNDL_CST_PER_UNIT_WEIGHT" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>The cost of handling an incoming procurement order at the receving node that has specified node type.  Indicates cost per item unit weight.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcurementWeightUOM"
                type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="PROC_WEIGHT_UOM" yfc:tableName="YFS_ENT_NODE_TYPE">
                    <xsd:documentation>Weight Unit Of Measure for Procurements.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NodeType">
        <xsd:annotation yfc:tableName="YFS_NODE_TYPE">
            <xsd:documentation>This table contains ship node types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="NodeTypeDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="NODE_TYPE_DESCRIPTION" yfc:tableName="YFS_NODE_TYPE">
                    <xsd:documentation>The Node Type Description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
