Data/xapidocs/api_javadocs/XSD/YFS_beforePurgeUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/beforePurgeUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/beforePurgeUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_beforePurgeUE_input.xsd" yfc:rootElement="PurgeDetails">
        <xsd:appinfo source="yfc:structure">
            <PurgeDetails hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PurgeDetails" type="yfc:PurgeDetailsXSDType"/>
    <xsd:complexType name="PurgeDetailsXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
          Document type associated with the records that would be purged when a purge runs. 
        </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Enterprise associated with the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Entity" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>The entity associated with this purge order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntityKey" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Link to the entity table</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LeadDays" type="yfctype:NumberOfDays" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of days to wait after which an eligible record may be deleted</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Live" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Mode in which purge is executed. If this is set to N, then the records are not purged. If set to Y, the records will be purged. If this attribute is specified, then the PurgeMode attribute need not be specified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PurgeCode" type="yfctype:PurgeCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>A unique identifier for a criteria</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PurgeMode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Mode in which purge is executed. It is "-T" for Test Mode and "-R" for Run Mode</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
