Data/xapidocs/api_javadocs/XSD/YFS_Inventory_Status_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Inventory_Status_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Inventory_Status_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Inventory_Status_keys.xsd" yfc:rootElement="InventoryStatus">
        <xsd:appinfo source="yfc:structure">
            <InventoryStatus hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryStatus" type="yfc:InventoryStatusXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_STATUS">
            <xsd:documentation>Defines the status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with, when it arrives at the warehouse. Typical values are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held etc. The way this inventory attribute impacts business process is that inventory availability picture projected to external systems will be based on the inventory status it is in. The inventory picture is projected through the supply type attribute associated with inventory status. For example, the supply available for allocating against orders would be the one with inventory status Normal, and not Awaiting Inventory Check or Inventory Held etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryStatusXSDType">
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_INVENTORY_STATUS">
                <xsd:documentation>The status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with when it arrives at the warehouse. Typical values of product class are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatusKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS_KEY" yfc:tableName="YFS_INVENTORY_STATUS">
                <xsd:documentation>The primary key for the YFS_INVENTORY_STATUS table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
