Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Prod_Delivery_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Prod_Delivery_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Prod_Delivery_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_Work_Order_Prod_Delivery_master.xsd" yfc:rootElement="WorkOrderProdDelivery">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderProdDelivery hasAttributes="Y">
                <OrderLine hasAttributes="Y">
                    <Order hasAttributes="Y"/>
                    <LinePriceInfo hasAttributes="Y"/>
                    <ItemDetails hasAttributes="Y">
                        <PrimaryInformation hasAttributes="Y"/>
                    </ItemDetails>
                </OrderLine>
            </WorkOrderProdDelivery>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderProdDelivery" type="yfc:WorkOrderProdDeliveryXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
            <xsd:documentation>This table stores information about service lines included in the work order. Used only for PS/DS work orders.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderProdDeliveryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:OrderLine"/>
        </xsd:all>
        <xsd:attribute name="CauseAppointmentChange" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAUSE_APPT_CHANGE" yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
                <xsd:documentation>Indicates that the addition or modification to this line requires the current work order appointment to be changed. If the flag is maintained internally, it will be set to Y when a new work order is created, this line is added to a work order without appointments, or an appointment is no longer available due to addition of this line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasChangedByThisTransaction"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag indicates if this record has been changed by this transaction </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemDescription" type="yfctype:ItemDesc" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Description of item. </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
                <xsd:documentation>The product item identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemShortDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Short Description of item. </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="LINE_NO" yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
                <xsd:documentation>The product delivery sequence number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
                <xsd:documentation>The product class for the product item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityDelivered" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_DELIVERED" yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
                <xsd:documentation>The product quantity that was actually delivered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRequired" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REQUIRED" yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
                <xsd:documentation>The product quantity to be delivered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
                <xsd:documentation>The unit of measure for the product item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderProdDeliveryKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_PROD_DEL_KEY" yfc:tableName="YFS_WORK_ORDER_PROD_DEL">
                <xsd:documentation>The primary key for the YFS_WORK_ORDER_PROD_DEL table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LinePriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemDetails"/>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LinePriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The actual pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdditionalLinePriceTotal"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundleTotal" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DiscountPercentage"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_PERCENTAGE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The discount percentage is the percentage decrease in price between the list and unit price for a given buyer. This value is calculated by subtracting the difference between the list price and unit price and divided by the list price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedLineTotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="INVOICED_LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The total invoiced amount for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="INVOICED_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The invoiced pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsEligibleForShippingDiscount"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ELIGIBLE_FOR_SHIP_DISC" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag can override the configured value for the item. Otherwise it is the same as the configured value for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsLinePriceForInformationOnly"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_INFO_ONLY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether price information passed on the line is for information only. If it is 'Y' then line total will not be considered in order total. Invoiced amount for such lines will always be 0. If it is not passed or passed as 'N' then line price is considered in order total.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPriceLocked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether UnitPrice passed at LinePriceInfo element must be used and price determination ignored, if price determination is configured and enabled. Valid values are 'Y' or 'N'. Default value is 'N'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The grand total for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>the list price of the item. This is an informational field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQtyConversionFactor"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_QUANTITY_CONV_FACTOR" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity conversion factor. This field is used for finding Pricing_Quantity, using Ordered_Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="PRICING_UOM" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing UOM for the order line. If "PricingUOM" is not passed it will be defaulted from Catalog. If "PricingUOM" is passed and different from inventory uom, "PricingQtyConversionFactor" attribute will be used for pricing quantity conversion. If "PricingQtyConversionFactor" is not passed it will be considered as zero.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RepricingQty" use="optional">
                <xsd:annotation yfc:columnName="REPRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>Represents the quantity that can be used for pricing the item. Typically, the price lists are based on the total purchase quantity. But if some quantity is cancelled because of inventory shortage (non customer fault), the pricing quantity (which is based on the ordered quantity) changes, but repricing_quantity is not changed.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RetailPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The retail price of the item. this is an informational field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SettledAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="SETTLED_AMOUNT" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The amount which should be settled before it is actually invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SettledQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SETTLED_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity which should be settled before it is actually invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The Tax Exemption Certificate applied to this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether this order line is taxable or not. This field is for informational purposes only. Currently, it is not used in any tax calculations. If not passed, this flag is defaulted to that of item in the catalog, if exists, else it is defaulted to "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            </xsd:all>
            <xsd:attribute name="CanUseAsServiceTool"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="GlobalItemID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsItemSuperseded" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemGroupCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SubCatalogOrganizationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:complexType>
            <xsd:attribute name="AgeVerificationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="AllowGiftWrap" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AssumeInfiniteInventory"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundleFulfillmentMode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundlePricingStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CapacityPerOrderedQty"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CapacityQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ColorCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ComputedUnitCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfigurationKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfigurationModelName"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfiguredModelKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CostCurrency" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditWOReceipt" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Description" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DisplayItemDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="EffectiveEndDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EffectiveStartDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExtendedDisplayDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedCapacityQtyPerLine"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedPricingQtyPerLine"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageLabel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageLocation" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InvoiceBasedOnActuals"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="InvolvesSegmentChange"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsAirShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsConfigurable" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsDeliveryAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsEligibleForShippingDiscount"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsForwardingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsFreezerRequired"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsHazmat" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsModelItem" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsParcelShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsPreConfigured" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsProcurementAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsReturnService" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsReturnable" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsSoldSeparately" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsStandaloneService"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsSubOnOrderAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsValid" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Keywords" type="yfctype:String" use="optional"/>
            <xsd:attribute name="KitCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerItem" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerItemDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MasterCatalogID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxOrderQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinOrderQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinimumCapacityQuantity"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ModelItemUnitOfMeasure"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NumSecondarySerials"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderingQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingQuantityConvFactor"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingUOMStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PrimaryEnterpriseCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PrimarySupplier" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductLine" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RequiresProdAssociation"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RunQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SerializedFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ServiceTypeID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentConsolidationWindow"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShortDescription" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SizeCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxableFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitHeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitHeightUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitLength" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitLengthUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitVolume" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitVolumeUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWeightUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWidth" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWidthUOM" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
