Data/xapidocs/api_javadocs/XSD/YFS_manageEntitlementRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageEntitlementRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageEntitlementRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_manageEntitlementRule_input.xsd" yfc:rootElement="EntitlementRule">
        <xsd:appinfo source="yfc:structure">
            <EntitlementRule hasAttributes="Y">
                <EntitlementRuleDetailList hasAttributes="Y">
                    <EntitlementRuleDetail hasAttributes="Y">
                        <Category hasAttributes="Y"/>
                        <AttributeValue hasAttributes="Y"/>
                        <EntitlementRuleDetailItemList hasAttributes="Y">
                            <EntitlementRuleDetailItem hasAttributes="Y"/>
                        </EntitlementRuleDetailItemList>
                    </EntitlementRuleDetail>
                </EntitlementRuleDetailList>
                <EntitlementRuleAssignmentList hasAttributes="Y">
                    <EntitlementRuleAssignment hasAttributes="Y"/>
                </EntitlementRuleAssignmentList>
            </EntitlementRule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntitlementRule" type="yfc:EntitlementRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
							Either the <code>EntitlementRuleKey</code> attribute or both the <code>OrganizationCode</code> and <code>EntitlementRuleID</code> attributes must be passed and must be valid.
                        </Condition>
                        <Error
                            Description="Mandatory parameters for the operation are missing" ErrorCode="YCM0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EntitlementRuleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EntitlementRuleDetailList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EntitlementRuleAssignmentList"/>
        </xsd:all>
        <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The description of the entitlement rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveFromDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The effective from date of the entitlement rule.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveToDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The effective to date of the entitlement rule.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EntitlementRuleID" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="ENTITLEMENT_RULE_HDR_ID" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The unique identification of entitlement rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntitlementRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITLEMENT_RULE_HDR_KEY" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The primary key of the YFS_ENTITLEMENT_RULE_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:ID-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The action that is to be performed during the invocation of this API.
					<br/>Valid values:  <b>
                            <code>Create</code>
                        </b>, <b>
                            <code>Modify</code>
                        </b>, or 	<b>
                            <code>Delete</code>
                        </b>
                        <br/> Default Value: <b>
                            <code>Modify</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The organization that maintains the entitlement rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>
                    <div> This field indicates whether the entitlement rule is used for selling entitlement or buying entitlement. 
						<br/>Valid Values:
						<br/>SELLING - Selling Entitlement
						<br/>BUYING - Buying Entitlement
						<br/>Default Value:
						<br/>BUYING - Buying Entitlement
						<Validation>
                            <Condition>The value of <code>Purpose</code> does not match valid values.
							</Condition>
                            <Error
                                Description="Invalid Entitlement Purpose." ErrorCode="YCM83_006"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartWithAllCatalogItems"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="START_WITH_ALL_CATALOG_ITEMS" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>
                    <div>
					This flag indicates whether entitlement rule starts by including or excluding all items in a catalog
					<br/>Valid values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="EntitlementRuleDetailList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EntitlementRuleDetail"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old entitlement rule details are removed
				and replaced with the new ones. If <code>Reset</code> is not passed or <code>Reset</code> is passed as
				<b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EntitlementRuleDetail">
        <xsd:annotation yfc:tableName="YFS_ENTITLEMENT_RULE_DTL">
            <xsd:documentation>
                <div> Details definition of an item entitlement rule </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Category"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AttributeValue"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:EntitlementRuleDetailItemList"/>
            </xsd:all>
            <xsd:attribute name="InclusionFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INCLUSION_FLAG" yfc:tableName="YFS_ENTITLEMENT_RULE_DTL">
                    <xsd:documentation>
                        <div>
					This flag indicates whether this is an inclusive or exclusive rule
					<br/>Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_ENTITLEMENT_RULE_DTL">
                    <xsd:documentation>The sequence of the details within the entitlement rule header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceType" type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_TYPE" yfc:tableName="YFS_ENTITLEMENT_RULE_DTL">
                    <xsd:documentation>
                        <div> The source table that the entitlement rule detail is based on.
								<br/>Valid Values:
								<br/>01 - for Category.  When this value is specified, the category information is mandatory.
								<br/>02 - for Attribute Value    When this value is specified, the attribute value information is mandatory.
								<br/>03 - for a set of items.  When this value is specified, a list of items for the entitlement rule detail is mandatory.
							
								<Validation>
                                <Condition>
                                    <code>SourceType</code> is passed as <code>
                                    <b>01</b>
                                    </code> but <code>CategoryPath</code> is not provided.
									</Condition>
                                <Error
                                    Description="CategoryPath is required when SourceType = '01'." ErrorCode="YCM83_002"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>SourceType</code> is passed as <code>
                                    <b>02</b>
                                    </code> but <code>AttributeID</code> is not provided.
									</Condition>
                                <Error
                                    Description="AttributeID is required when SourceType = '02'." ErrorCode="YCM83_003"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>SourceType</code> is passed as <code>
                                    <b>03</b>
                                    </code> but <code>EntitlementRuleDetailItemList</code> is not provided.
									</Condition>
                                <Error
                                    Description="Item List is required when SourceType = '03'." ErrorCode="YCM83_004"/>
                            </Validation>
                            <Validation>
                                <Condition>The value of <code>SourceType</code> does not match valid values.
									</Condition>
                                <Error
                                    Description="Invalid SourceType value." ErrorCode="YCM83_005"/>
                            </Validation>
                            <Validation>
                                <Condition>The <code>Purpose</code> is <code>
                                    <b>Selling</b>
                                    </code> and <code>SourceType</code> is not <code>
                                    <b>01</b>
                                    </code>.
									</Condition>
                                <Error
                                    Description="Invalid source type for selling entitlement." ErrorCode="YCM83_008"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Category">
        <xsd:annotation yfc:tableName="YFS_CATEGORY">
            <xsd:documentation>
                <div> The category that the entitlement rule is based on  </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CategoryPath" type="yfctype:Text-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YFS_CATEGORY">
                    <xsd:documentation>
                        <div> The category path of the category that represents the entitlement rule detail. If entitlement needs to be created for Category2, which is a child of Category1 in domain CATEGORY_DOMAIN, 
							path should be passed as /CATEGORY_DOMAIN/Category1/Category2.
							<Validation>
                                <Condition>
                                    <code>CategoryPath</code> provided in input does not exist in YFS_Category table.
								</Condition>
                                <Error
                                    Description="Cateogry does not exist in YFS_Category table." ErrorCode="YCM83_001"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AttributeValue">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
            <xsd:documentation>
			The attribute value that the entitlement rule is based on. Computed attributes, derived attributes, or attributes with references cannot be used as entitlement rule conditions.
				<div>
                    <Validation>
                        <Condition>
							No attribute matching <code>AttributeGroupID</code>, <code>AttributeDomainID</code> and <code>AttributeID</code> passed in the input exists.
                        </Condition>
                        <Error
                            Description="Invalid attribute passed in input" ErrorCode="YCM85_032"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>DoubleValue</code>, <code>IntegerValue</code> or <code>Value</code> passed is either invalid based on the attribute type or is not a valid allowed value.
                        </Condition>
                        <Error
                            Description="Invalid attribute value passed in input" ErrorCode="YCM85_033"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeDomainID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeGroupID"
                type="yfctype:GroupName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The unique identification of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AttributeID" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> The attribute name of the attribute that represents the entitlement rule detail.
						
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DoubleValue" use="optional">
                <xsd:annotation yfc:columnName="DOUBLE_VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'DECIMAL'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IntegerValue" use="optional">
                <xsd:annotation yfc:columnName="INTEGER_VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>The value of the assigned attribute whose data type is 'INTEGER'.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ADDITIONAL_ATTRIBUTE">
                    <xsd:documentation>Value of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EntitlementRuleDetailItemList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EntitlementRuleDetailItem"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old entitlement rule detail items are removed
										and replaced with the new ones. If <code>Reset</code> is not passed or <code>Reset</code> is passed as
										<b>
                                <code>N</code>
                            </b>, only the deltas are applied. Using <code>Reset</code> to update a large data set
										may have performance implications. In that case, it is recommended to pass <code>Operation</code> attribute with <b>
                                <code>Create</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b> instead of using <code>Reset</code>.
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EntitlementRuleDetailItem">
        <xsd:annotation yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
            <xsd:documentation>
                <div> Information for an item entitlement rule detail
									that represents a set of items </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
                    <xsd:documentation>The identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					The action that is to be performed. It is recommended to pass an 
					<code>Operation</code> when dealing with large sets of data.
					<br/>Valid values:  <b>
                                <code>Create</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:ID-40">
                        <xsd:enumeration value=""/>
                        <xsd:enumeration value="Create"/>
                        <xsd:enumeration value="Delete"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EntitlementRuleAssignmentList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EntitlementRuleAssignment"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> If <code>Reset</code> is passed as <b>
                                <code>Y</code>
                            </b>, the old entitlement rule assignments are removed
										and replaced with the new ones. If <code>Reset</code> is not passed or <code>Reset</code> is passed as
										<b>
                                <code>N</code>
                            </b>, only the deltas are applied. 
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EntitlementRuleAssignment">
        <xsd:annotation yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
            <xsd:documentation>
                <div> Information on the assignments of item entitlement rules to customers. When creating selling entitlement rules,
								only <code>AssignedToOrganizationCode</code> should be passed in. The customer attributes should only be passed in 
								for customer entitlements
								<Validation>
                        <Condition>If creating a selling entitlement rule and <code>AssignedToOrganizationCode</code> is not provided or any customer attributes are provided
								</Condition>
                        <Error
                            Description="Only AssignedToOrganizationCode must be passed in for selling entitlements." ErrorCode="YCM83_009"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssignedToOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="ASSIGN_TO_ORGANIZATION_CODE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>
                        <div> The organization that the selling entitlement rule is assigned to. </div>
                        <Validation>
                            <Condition>Organization specified in <code>AssignedToOrganizationCode</code> field is not a valid sub-catalog organization of the catalog organization specified in <code>OrganizationCode</code>.
									</Condition>
                            <Error
                                Description="Invalid sub-catalog organization" ErrorCode="YCM83_007"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>AssignedToOrganizationCode</code> is the sub-catalog organization that owns the category being entitled.
									</Condition>
                            <Error
                                Description="Can't assign entitlement based on a category to a sub-catalog organization that owns the category." ErrorCode="YCM83_010"/>
                        </Validation>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The identifier of the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>Level of customer membership (Gold, Tin, Platinum, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerType" type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>
                        <div> The type of customer.
										<br/>Valid Values:
										<br/>01 - for B2B customer
										<br/>02 - for B2C customer
										<br/>03 - for anonymous customer 
										<br/>04 - for everyone
									</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Region" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>Region to which entitlement rule is assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The type of the relationship that exists between an organization and an enterprise (distributor, retailer, reseller, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The vertical customer belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
