Data/xapidocs/api_javadocs/XSD/YFS_getAdjustmentDetailsUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getAdjustmentDetailsUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getAdjustmentDetailsUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getAdjustmentDetailsUE_output.xsd" yfc:rootElement="Supply">
        <xsd:appinfo source="yfc:structure">
            <Supply hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Supply" type="yfc:SupplyXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_PENDING_ADJ">
            <xsd:documentation>This table stores adjustments that have not been posted yet for costing purposes and are related to inventory costing.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SupplyXSDType">
        <xsd:attribute name="AccountNo" type="yfctype:AccountNo" use="optional">
            <xsd:annotation yfc:columnName="ACCOUNT_NO" yfc:tableName="YFS_INVENTORY_PENDING_ADJ">
                <xsd:documentation>The account number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_INVENTORY_PENDING_ADJ">
                <xsd:documentation>The currency of the pending adjustment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_INVENTORY_PENDING_ADJ">
                <xsd:documentation>The unit cost of the pending adjustment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
