Data/xapidocs/api_javadocs/XSD/YFS_getDecryptedCreditCardNumber_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getDecryptedCreditCardNumber/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getDecryptedCreditCardNumber/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getDecryptedCreditCardNumber_output.xsd" yfc:rootElement="GetDecryptedCreditCardNumber">
        <xsd:appinfo source="yfc:structure">
            <GetDecryptedCreditCardNumber hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetDecryptedCreditCardNumber" type="yfc:GetDecryptedCreditCardNumberXSDType"/>
    <xsd:complexType name="GetDecryptedCreditCardNumberXSDType">
        <xsd:attribute name="DecryptedCCNo" type="yfctype:Text-32" use="required"/>
    </xsd:complexType>
</xsd:schema>
