Data/xapidocs/api_javadocs/XSD/YFS_Ship_Node_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Ship_Node_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Ship_Node_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Ship_Node_master.xsd" yfc:rootElement="ShipNode">
        <xsd:appinfo source="yfc:structure">
            <ShipNode hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipNode" type="yfc:ShipNodeXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipNodeXSDType">
        <xsd:attribute name="AcceptanceRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACCEPTANCE_REQUIRED" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether acceptance is required by the ship node before processing orders for shipping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivateFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVATE_FLAG" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanShipToAllNodes" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_SHIP_TO_ALL_NODES" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the node can ship to all node/node types.  Entries in YFS_NODE_CAN_SHIP_TO_NT table will be ignored if flag is Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CanShipToOtherAddresses"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAN_SHIP_TO_OTHER_ADDRESSES" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the node can ship to other addresses.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContactAddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTACT_ADDRESS_KEY" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The contact address that is associated with this ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CurrentBolNumber" type="yfctype:Counter" use="optional">
            <xsd:annotation yfc:columnName="CURRENT_BOL_NUMBER" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The last generated BOL number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DefaultDeclaredValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_DECLARED_VALUE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The default value the ship node may declare for its shipments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>the description of the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExportLicenseExpDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EXPORT_LICENSE_EXP_DATE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The date by which an export license given to a ship node expires.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExportLicenseNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="EXPORT_LICENSE_NO" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The export license number given to the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExportTaxpayerId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="EXPORT_TAXPAYER_ID" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The identifier of the tax payer for the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GenerateBolNumber" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GENERATE_BOL_NUMBER" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the BOL number needs to be generated for this ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IdentifiedByParentAs"
            type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="IDENTIFIED_BY_PARENT_AS" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The store or distribution center identifier assigned by the parent organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InterfaceSubType" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="INTERFACE_SUB_TYPE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>A sub-classification of the interface type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InterfaceType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="INTERFACE_TYPE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This field indicates the manner in which orders are passed to a ship node for servicing ( "WMS_YANTRA","YFX","EVENTS" ).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryTracked" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_TRACKED" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node tracks inventory. Valid values are 'Y' or 'N'. Default Value is 'Y'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Inventorytype"
            type="yfctype:EnumInventoryType" use="optional">
            <xsd:annotation yfc:columnName="INVENTORYTYPE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This field indicates whether the ship node tracks inventory. The value is defaulted to 'TRACK' if the flag InventoryTracked is set to 'Y' and it is defaulted to 'INFINITE' if flag InventoryTracked is set to 'N'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsItemBasedAllocationAllowed"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_IBA_ALLOWED" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the node is allowed for Item-Based Allocation process.  Valid values: Y/N.  Default value: Y.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Latitude" use="optional">
            <xsd:annotation yfc:columnName="LATITUDE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The latitude of this ship node.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:DecimalWithNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
            <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The locale of the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Longitude" use="optional">
            <xsd:annotation yfc:columnName="LONGITUDE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The longitude of this ship node.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:DecimalWithNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MaintainInventoryCost" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MAINTAIN_INVENTORY_COST" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node maintains inventory cost.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeType" type="yfctype:NodeType" use="optional">
            <xsd:annotation yfc:columnName="NODE_TYPE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The type of the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The owner organization that is associated with this ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
            <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PicklistType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PICKLIST_TYPE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The type of pick-list that this ship node requires for picking.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingNode" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node can perform receiving operations. This flag does not have any functionality. Reserved for future use.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequiresChangeRequest" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REQUIRES_CHANGE_REQUEST" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node requires change requests to manage order modifications after it is released to the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnCenterFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="RETURN_CENTER_FLAG" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node is a return center.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnsNode" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="RETURNS_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node can perform reverse logistic operations. This flag does not have any functionality. Reserved for future use.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeAddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_ADDRESS_KEY" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The address that is associated with this ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeClass" type="yfctype:ShipNodeClass" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_CLASS" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The class of the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The primary key for the YFS_SHIP_NODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeType" type="yfctype:ShipnodeType" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_TYPE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The type of the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShippingNode" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SHIPPING_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node can perform shipping operations. This flag does not have any functionality. Reserved for future use.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StoreInvConfig" type="yfctype:Text-2" use="optional">
            <xsd:annotation yfc:columnName="STORE_INV_CONFIG" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The type of the Store Inventory Config. Null or '00' means not SIM Enabled Store. '01' means SIM-enabled Store and Inventory IS Store managed. '02' means SIM-enabled Store but Inventory IS NOT Store managed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplierKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SUPPLIER_KEY" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The supplier who owns the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ThreePlNode" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="THREE_PL_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>This flag indicates whether the ship node is a 3PL node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TimeDiff" type="yfctype:Number" use="optional">
            <xsd:annotation yfc:columnName="TIME_DIFF" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The time difference between the ship node and the place where the database is hosted from.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
