Data/xapidocs/api_javadocs/XSD/YFS_createCostFactorGroup_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createCostFactorGroup/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createCostFactorGroup/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createCostFactorGroup_input.xsd" yfc:rootElement="CostFactorGroup">
        <xsd:appinfo source="yfc:structure">
            <CostFactorGroup hasAttributes="Y">
                <CostFactorGroupDetailList>
                    <CostFactorGroupDetail hasAttributes="Y"/>
                </CostFactorGroupDetailList>
            </CostFactorGroup>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CostFactorGroup" type="yfc:CostFactorGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_COST_FACTOR_GROUP">
            <xsd:documentation>This table stores information about cost factor groups defined in the system. Cost factor group are defined by the enterprise organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CostFactorGroupXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CostFactorGroupDetailList"/>
        </xsd:all>
        <xsd:attribute name="CostFactorGroupDescription"
            type="yfctype:FreeText-100" use="optional">
            <xsd:annotation
                yfc:columnName="COST_FACTOR_GROUP_DESCRIPTION" yfc:tableName="YFS_COST_FACTOR_GROUP">
                <xsd:documentation>Description of the Cost Factor Group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostFactorGroupName" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="COST_FACTOR_GROUP_NAME" yfc:tableName="YFS_COST_FACTOR_GROUP">
                <xsd:documentation>Name of the Cost Factor Group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COST_FACTOR_GROUP">
                <xsd:documentation>Organization code of the enterprise, which owns the cost factor group.Link to YFS_Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CostFactorGroupDetailList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CostFactorGroupDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CostFactorGroupDetail">
        <xsd:annotation yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
            <xsd:documentation>
                <div>
              This table will contain the information about the cost factor setup for each cost 
              factor groups. This is defined by the enterprise organization.
            </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CostApplicationMethod"
                type="yfctype:String" use="required">
                <xsd:annotation yfc:columnName="COST_APPLICATION_METHOD" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>
                        <div>
                Attribute on which the calculation has to be done. Valid only if the calculation method is AMOUNT. 
                Valid values are WEIGHT, VOLUME and QUANTITY
                <Validation>
                                <Condition>
                    The value should be passed and valid values are WEIGHT, VOLUME and QUANTITY 
                  </Condition>
                                <Error
                                    Description="Invalid Cost Application Method. Supported values are WEIGHT, VOLUME, QUANTITY " ErrorCode="YFS10530"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostCalculationMethod"
                type="yfctype:String" use="required">
                <xsd:annotation yfc:columnName="COST_CALCULATION_METHOD" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>
                        <div>
                Calculation method for the cost factor. Valid values are PERCENTAGE(00) and AMOUNT(01). 
                <Validation>
                                <Condition>
                    The value should be passed and valid values are 00 (PERCENTAGE) and 01 (AMOUNT)
                  </Condition>
                                <Error
                                    Description="Invalid Cost Calculation Method. Supported values are 00(Percentage) and 01(Amount)" ErrorCode="YFS10529"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostFactorDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="COST_FACTOR_DESCRIPTION" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>Description of the Cost Factor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostFactorName" type="yfctype:String" use="required">
                <xsd:annotation yfc:columnName="COST_FACTOR_NAME" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>
                        <div>
                Name of the cost factor.
              </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Uom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="COST_FACTOR_UOM" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>UOM in which the cost factor value is specified. This is valid only for  application attributes WEIGHT,VOLUME and QUANTITY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="COST_FACTOR_VALUE" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>Value to be applied for the cost factor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
