Data/xapidocs/api_javadocs/XSD/YFS_changeOrderStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/changeOrderStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/changeOrderStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_changeOrderStatus_input.xsd" yfc:rootElement="OrderStatusChange">
        <xsd:appinfo source="yfc:structure">
            <OrderStatusChange hasAttributes="Y">
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <OrderLineTranQuantity hasAttributes="Y"/>
                    </OrderLine>
                </OrderLines>
            </OrderStatusChange>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderStatusChange" type="yfc:OrderStatusChangeXSDType"/>
    <xsd:complexType name="OrderStatusChangeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
        </xsd:all>
        <xsd:attribute name="AuditTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The identifier of the audit transaction. All records for a modification are tied together using this ID.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BaseDropStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:isConditional="Y">
                <xsd:documentation>
                    <div>
				The base drop status for the specified transaction ID, or the status to use if there is no <code>TransactionId</code> passed.
				This value is required if <code>ChangeForAllAvailableQty</code> is passed as <b>
                            <code>Y</code>
                        </b>. If no status is configured for the transaction and the <code>BaseDropStatus</code> is passed, the status is changed to the value of the <code>BaseDropStatus</code> passed. 
				<br/> The <code>BaseDropStatus</code> can be passed at either the <code>OrderLine</code> or at the <code>OrderStatusChange</code>. If a value is passed for both, the value at the <code>OrderLine</code> is used. The <code>BaseDropStatus</code> must be passed at either the <code>OrderStatusChange</code> level or the <code>OrderLine</code> level if it is needed.  If the specified <code>TransactionID</code> has multiple drop statuses, <code>BaseDropStatus</code> must be passed.
				<br/>
                        <code>BaseDropStatus</code> does not get validated against status modification type.
				 <Validation>
                            <Condition>The <code>BaseDropStatus</code> is not a valid status for the base status of the transaction identified by the <code>TransactionID</code>.
					 </Condition>
                            <Error Description="YFS:Invalid Status" ErrorCode="YFS10235"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeForAllAvailableQty"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates if all quantities should be changed by the transaction associated with the <code>TransactionID</code> passed. If <b>
                            <code>Y</code>
                        </b> is passed, <code>BaseDropStatus</code> is required at header level. If <code>OrderReleaseKey</code> or <code>ReleaseNo</code> is passed, change order status will apply change to all line with the specified release. 
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>
				Part of a unique identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code> of the order must be passed.
					<Validation>
                            <Condition>Either <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>
				Identifies the Enterpise. Part of a identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code> , <code>DocumentType</code> and <code>OrderNo</code> of the order must be passed.
				<Validation>
                            <Condition>Either <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreTransactionDependencies" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag to override any transaction dependencies that may be defined for the transaction this API invokes.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>. When passed as <b>
                            <code>Y</code>
                        </b>, transaction dependencies will not be evaluated, and thus will not prevent the API from processing.

					</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ModificationReasonCode"
            type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The reason code of this order audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReasonText"
            type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The reason text of this order audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference1"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference2"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference3"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference4"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                <xsd:documentation>The order header that is associated with this order release status record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>
				Part of a unique identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code> of the order must be passed.
					<Validation>
                            <Condition>Either <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                <xsd:documentation>
                    <div>
				Either <code>OrderReleaseKey</code> or <code>ReleaseNo</code> must be passed to change status for a released order or line. If <code>ChangeForAllAvailableQty</code> is passed, only associated order line to this release will be changed.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNo" type="yfctype:ShorterNumber" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_RELEASE">
                <xsd:documentation>
                    <div>
				Either <code>OrderReleaseKey</code> or <code>ReleaseNo</code> must be passed to change status for a released order or line. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SelectMethod" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				This attribute determines whether database select operations are carried out in the <b>
                            <code>WAIT</code>
                        </b> or <b>
                            <code>NO_WAIT</code> mode</b>.
				<br/>Default: <b>
                            <code>NO_WAIT</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>WAIT</code>
                        </b> or  <b>
                            <code>NO_WAIT</code> mode</b>.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SuppressStatusChangeAudits"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Identifies if CHANGE_STATUS audits have to be suppressed. If <b>
                            <code>Y</code>
                        </b> is passed, CHANGE_STATUS audits are suppressed.	
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TransactionID" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Identifies a transaction that changes the status of the order.
				<Validation>
                            <Condition>
                                <code>TransactionID</code> not passed.
						</Condition>
                            <Error
                                Description="Invalid input to change status" ErrorCode="YFS10428"/>
                        </Validation>
                        <Validation>
                            <Condition>Invalid<code>TransactionID</code> passed.
						</Condition>
                            <Error Description="Invalid Transaction." ErrorCode="YCP0063"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>TransactionID</code> of a system transaction passed.
						</Condition>
                            <Error
                                Description="Invalid Transaction Type." ErrorCode="YFS10156"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_RELEASE_STATUS">
            <xsd:documentation>
                <div>
					Either both the <code>PrimeLineNo</code> and the <code>SubLineNo</code> or just the <code>OrderLineKey</code> by itself must be passed to identify the <code>OrderLine</code>.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLineTranQuantity"/>
            </xsd:all>
            <xsd:attribute name="BaseDropStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:isConditional="Y">
                    <xsd:documentation>
                        <div>
						 Indicates the base drop status. The <code>BaseDropStatus</code> can be passed at either the <code>OrderLine</code> level or at the <code>OrderStatusChange</code> level. If a value is passed at both levels, the value at the <code>OrderLine</code> is used. The <code>BaseDropStatus</code> is required at either the <code>OrderStatusChange</code> level or the <code>OrderLine</code> level.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChangeForAllAvailableQty"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates if all quantities should be changed by the transaction associated with the <code>TransactionID</code> passed. If passed, the Quantity attribute for  the <code>OrderLine</code>  is ignored. If <code>ChangeForAllAvailableQty</code> is <b>
                                <code>Y</code>
                            </b>,  <code>BaseDropStatus</code> must be passed at order line level, and header level <code>BaseDropStatus</code> will be ignored. When <code>OrderReleaseKey</code> is passed, only quantity associated to this release will be change to new status.
						<br/>Default: <b>
                                <code>N</code>
                            </b>
                            <br/>Valid Values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
                            <Validation>
                                <Condition>If <code>ChangeForAllAvailableQty</code> is not <code>Y</code> and <code>Quantity</code> is not passed.
                            </Condition>
                                <Error
                                    Description="Invalid input to change status" ErrorCode="YFS10428"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromBatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						If <code>FromBatchNo</code> is passed, it is used as a filter criteria to pick up statuses having schedules with the passed <code>FromExpectedShipDate</code>.
						<br/>If <code>FromBatchNo</code> is not passed, this filtering is not applied.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromExpectedDeliveryDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						If <code>FromExpectedDeliveryDate</code> is passed, it is used as a filter criteria to pick up statuses having schedules with the passed <code>FromExpectedDeliveryDate</code>.
						<br/>If <code>FromExpectedDeliveryDate</code> is not passed, this filtering is not applied.
						<br/>Valid values: Null or a valid date.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromExpectedShipDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						If <code>FromExpectedShipDate</code> is passed, it is used as a filter criteria to pick up statuses having schedules with the passed <code>FromExpectedShipDate</code>.
						<br/>If <code>FromExpectedShipDate</code> is not passed, this filtering is not applied.
						<br/>Valid values: Null or a valid date.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromLotNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						If <code>FromLotNo</code> is passed, it is used as a filter criteria to pick up statuses having schedules with the passed <code>FromExpectedShipDate</code>.
						<br/>If <code>FromLotNo</code> is not passed, this filtering is not applied.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromRevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						If <code>FromRevisionNo</code> is passed, it is used as a filter criteria to pick up statuses having schedules with the passed <code>FromExpectedShipDate</code>.
						<br/>If <code>FromRevisionNo</code> is not passed, this filtering is not applied.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>
                        <div>
						Either both the <code>PrimeLineNo</code> and the <code>SubLineNo</code> or just the <code>OrderLineKey</code> by itself must be passed to identify the <code>OrderLine</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>
                        <div>
								Either <code>OrderReleaseKey</code> or <code>ReleaseNo</code> must be passed to change status for a released order or line. If <code>ChangeForAllAvailableQty</code> is passed, only associated order line to this release will be changed.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>
                        <div>
						Either both the <code>PrimeLineNo</code> and the <code>SubLineNo</code> or just the <code>OrderLineKey</code> by itself must be passed to identify the <code>OrderLine</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Quantity for which the status needs to be changed. If <code>ChangeForAllAvailableQty</code> is passed, then this attribute is ignored.
                    <Validation>
                                <Condition>If <code>Quantity</code> not passed and <code>ChangeForAllAvailableQty</code> is not <code>Y</code>.
                        </Condition>
                                <Error
                                    Description="Invalid input to change status" ErrorCode="YFS10428"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_ORDER_RELEASE">
                    <xsd:documentation>The release number. Generated as a one up number against that release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>
                        <div>
						Either both the <code>PrimeLineNo</code> and the <code>SubLineNo</code> or just the <code>OrderLineKey</code> by itself must be passed to identify the<code>OrderLine</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLineTranQuantity">
        <xsd:complexType>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Quantity in Transactional Unit Of Measure for which the status needs to be changed. If <code>ChangeForAllAvailableQty</code> is passed, then this attribute is ignored.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionalUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>UOM on which all the transactional quantities are specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
