Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Activity_Dtl_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Activity_Dtl_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Activity_Dtl_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_Work_Order_Activity_Dtl_master.xsd" yfc:rootElement="WorkOrderActivityDtl">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderActivityDtl hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderActivityDtl" type="yfc:WorkOrderActivityDtlXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
            <xsd:documentation>This table stores details on where and to what extent an activity is confirmed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderActivityDtlXSDType">
        <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                <xsd:documentation>Activity Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivityLocationId"
            type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_LOCATION_ID" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                <xsd:documentation>The unique identifier for an Activity Location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Case for which the activity is performed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pallet for which the activity is performed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityCompleted" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_COMPLETED" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                <xsd:documentation>Quantity for which Activity is completely confirmed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityReleased" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_RELEASED" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                <xsd:documentation>Quantity for which the Activity detail is released.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRequested" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REQUESTED" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                <xsd:documentation>Quantity Requested.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                <xsd:documentation>A Serial number of the parent item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderActivityDtlKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_ACTY_DTL_KEY" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                <xsd:documentation>Primary Key of YFS_WORK_ORDER_ACTY_DTL.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER_ACTY_DTL">
                <xsd:documentation>Primary Key of YFS_WORK_ORDER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
