Data/xapidocs/api_javadocs/XSD/YFS_getRegionLevelList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getRegionLevelList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getRegionLevelList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getRegionLevelList_input.xsd" yfc:rootElement="RegionLevel">
        <xsd:appinfo source="yfc:structure">
            <RegionLevel hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RegionLevel" type="yfc:RegionLevelXSDType">
        <xsd:annotation yfc:tableName="YFS_REGION_LEVEL">
            <xsd:documentation>
                <div>
					Criteria to be used to query the region level table.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RegionLevelXSDType">
        <xsd:attribute name="RegionLevelKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_LEVEL_KEY" yfc:tableName="YFS_REGION_LEVEL">
                <xsd:documentation>
                    <div>Region level key.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="REGION_LEVEL_NAME" yfc:tableName="YFS_REGION_LEVEL">
                <xsd:documentation>
                    <div>Region level name.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
