Data/xapidocs/api_javadocs/XSD/YFS_getNodeReceivingPreferenceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getNodeReceivingPreferenceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getNodeReceivingPreferenceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getNodeReceivingPreferenceList_output.xsd" yfc:rootElement="NodeReceivingPreferences">
        <xsd:appinfo source="yfc:structure">
            <NodeReceivingPreferences hasAttributes="Y">
                <NodeReceivingPreference hasAttributes="Y"/>
            </NodeReceivingPreferences>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="NodeReceivingPreferences" type="yfc:NodeReceivingPreferencesXSDType"/>
    <xsd:complexType name="NodeReceivingPreferencesXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NodeReceivingPreference"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates total number of records fetched.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NodeReceivingPreference">
        <xsd:annotation yfc:tableName="YFS_NODE_RECEIVING_PREF">
            <xsd:documentation>Configuration table. Stores receiving preferences at node level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllowManualShipmentEntry"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ALLOW_MANUAL_SHIPMENT_ENTRY" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>This flag indicates whether the shipment entry should be allowed if the ASN is not received.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseBuildPreference"
                type="yfctype:EnumBuildPreference" use="optional">
                <xsd:annotation yfc:columnName="CASE_BUILD_PREFERENCE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>This flag indicates the preferences for receiving. Valid values are: Always, Optional, if tag or serial tracked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CloseReceiptPreference"
                type="yfctype:EnumCloseReceiptPreference" use="optional">
                <xsd:annotation
                    yfc:columnName="CLOSE_RECEIPT_PREFERENCE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>This flag indicates the preference for receipt closure. Valid values are: 0 - Close Now , 1 - Expected quantity at least equal to received quantity, 2 - Stock putaway.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultInspectionDispositionCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="DFLT_INSPECTION_DISP_CODE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The default inspection disposition code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultReceivingDispositionCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="DFLT_RECEIVING_DISP_CODE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The default receiving disposition code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The document type for which the preference is set up. This field is a unique key of the YFS_DOCUMENT_PARAMS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The enterprise code that is associated with this node receiving preference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The node key that is associated with this node receiving preference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeReceivingPreferenceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_RECEIVING_PREF_KEY" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>The primary key for the YFS_NODE_RECEIVING_PREF table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletBuildPreference"
                type="yfctype:EnumBuildPreference" use="optional">
                <xsd:annotation yfc:columnName="PALLET_BUILD_PREFERENCE" yfc:tableName="YFS_NODE_RECEIVING_PREF">
                    <xsd:documentation>This flag indicates the preference for receiving. Valid values are:  Always, Optional, if tag or serial tracked.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
