Data/xapidocs/api_javadocs/XSD/YFS_manageDistributionRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageDistributionRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageDistributionRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_manageDistributionRule_input.xsd" yfc:rootElement="DistributionRule">
        <xsd:appinfo source="yfc:structure">
            <DistributionRule hasAttributes="Y">
                <ItemShipNodes hasAttributes="Y">
                    <ItemShipNode hasAttributes="Y"/>
                </ItemShipNodes>
            </DistributionRule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DistributionRule" type="yfc:DistributionRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_DISTRIBUTION_RULE">
            <xsd:documentation>
                <div>
				   The distribution group to be changed. If <code>Action</code> is <code>Modify</code> or <code>Delete</code>, the distribution group must be identified. Pass  <code>DistributionRuleKey</code>
                    <i>or</i> pass <code>DistributionRuleId</code> and <code>OwnerKey</code>  to identify the distribution group.
				   </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DistributionRuleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemShipNodes"/>
        </xsd:all>
        <xsd:attribute name="DefaultFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_FLAG" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>
                    <div>
						 This flag indicates whether a distribution rule is the default rule for the owner organization. Valid values are Y and N.
						 <Validation>
                            <Condition>
							  The value should be a valid Flag.
							</Condition>
                            <Error Description="YFS: Invalid Data" ErrorCode="YFS10190"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The description of the distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The primary key for the YFS_DISTRIBUTION_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode" type="yfctype:ItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>
                    <div>
						 This field indicates that distribution group is created for this kind of item. The value <code>DS</code> is not applicable for Distribution groups. The valid values are <code>PROD</code> or <code>PS</code>.
						 <Validation>
                            <Condition>
							  The value should be a valid Item Group code.
							</Condition>
                            <Error Description="YFS: Invalid Data" ErrorCode="YFS10190"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						 Valid value is <b>
                            <code>Delete</code>
                        </b> or blank.  If not provided the distribution group will be created or modified.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>
                    <div>
						 The owner organization that is associated with this distribution rule.
						 <Validation>
                            <Condition>
							  The value should be passed.
							</Condition>
                            <Error Description="YFS: Invalid Data" ErrorCode="YFS10190"/>
                        </Validation>
                        <Validation>
                            <Condition>
							  The value should be a valid organization code.
							</Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>
                    <div>
						 This field indicates the purpose of this distribution rule. Valid values are SOURCING and PROCUREMENT.
						 <Validation>
                            <Condition>
							  The value should be valid.
							</Condition>
                            <Error Description="YFS: Invalid Data" ErrorCode="YFS10190"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemShipNodes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemShipNode"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemShipNode">
        <xsd:annotation yfc:tableName="YFS_ITEM_SHIP_NODE">
            <xsd:documentation>
                <div>
                    <br/>If <code>ItemType</code> is passed as <b>
                        <code>ALL</code>
                    </b>, the <code>ItemId</code> has to be set to <b>
                        <code>ALL</code>
                    </b>.The calling program should validate this before calling the API.
							
							</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether or not a sourcing entry is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveEndDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The date until which a souring entry is effective.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveStartDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The date from which a sourcing entry is effective.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternalInvOrg" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EXTERNAL_INV_ORG" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether or not an item is sourced from an external inventory organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the sourced item. "ALL" indicates all items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The only valid value for this field is currently "ALL", which indicates all items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemshipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEMSHIPNODE_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The primary key of the YFS_ITEM_SHIP_NODE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>
                        <div>
							Node priority in the distribution rule.  Priority is not supported if distribution rule is used for procurement.  
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeItem" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_ITEM" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The item as it is identified at the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The ship node associated with a given item ID, or with all items if ITEM_ID is set to "ALL".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceFromOrganization"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SOURCE_FROM_ORGANIZATION" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The external inventory organization from which an item is sourced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
