Data/xapidocs/api_javadocs/XSD/YFS_Location_Size_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Location_Size_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Location_Size_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Location_Size_keys.xsd" yfc:rootElement="LocationSize">
        <xsd:appinfo source="yfc:structure">
            <LocationSize hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationSize" type="yfc:LocationSizeXSDType">
        <xsd:annotation yfc:tableName="YFS_LOCATION_SIZE">
            <xsd:documentation>Each location belongs to a specific location size code. Location size code defines the dimensions of the location, and the weight that it can withstand when products are stored in the location.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationSizeXSDType">
        <xsd:attribute name="LocationSizeCode"
            type="yfctype:LocationSizeCode" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>This field specifies the location size identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationSizeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_SIZE_KEY" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>The primary key for the YFS_LOCATION_SIZE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LOCATION_SIZE">
                <xsd:documentation>The primary key for the YFS_LOCATION_SIZE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
