Data/xapidocs/api_javadocs/XSD/YFS_Load_Shipment_Charge_master_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Load_Shipment_Charge_master/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Load_Shipment_Charge_master/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_Load_Shipment_Charge_master_input.xsd" yfc:rootElement="LoadShipmentCharge">
        <xsd:appinfo source="yfc:structure">
            <LoadShipmentCharge hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LoadShipmentCharge" type="yfc:LoadShipmentChargeXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
            <xsd:documentation>This table stores load level and shipment level charges. Based on the existence of either load key or the shipment key on a record, a charge is associated with a load or shipment respectively. Charges can be grouped based on charge category and charge name. The invoice corresponding to the charge is posted on each record by the createShipmentInvoice API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadShipmentChargeXSDType">
        <xsd:attribute name="ActualCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_CHARGE" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Actual charge for the load or shipment for the charge category and charge name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeCategory"
            type="yfctype:ChargeCategory" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Category of the charge.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Charge as it is commonly known.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EstimatedCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ESTIMATED_CHARGE" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Estimated charge for the load or shipment for the charge category and charge name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvoiceNo" type="yfctype:InvoiceNo" use="optional">
            <xsd:annotation yfc:columnName="INVOICE_NO" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Invoice under which these charges are captured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="KeyReference1" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="KEY_REFERENCE1" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Any additional payment references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="KeyReference2" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="KEY_REFERENCE2" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Any additional payment references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Load for which charges are maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadShipmentChargeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_SHIPMENT_CHARGE_KEY" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Primary key attribute of YFS_LOAD_SHIPMENT_CHARGE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PayeeOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="PAYEE_ORGANIZATION_CODE" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Organization code of the payee.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_LOAD_SHIPMENT_CHARGE">
                <xsd:documentation>Shipment for which charges are maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
