Data/xapidocs/api_javadocs/XSD/YFS_getPropertyMetadataList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getPropertyMetadataList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getPropertyMetadataList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getPropertyMetadataList_input.xsd" yfc:rootElement="PropertyMetadata">
        <xsd:appinfo source="yfc:structure">
            <PropertyMetadata hasAttributes="Y">
                <PropertyList>
                    <Property hasAttributes="Y"/>
                </PropertyList>
            </PropertyMetadata>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PropertyMetadata" type="yfc:PropertyMetadataXSDType">
        <xsd:annotation yfc:tableName="PLT_PROPERTY_METADATA">
            <xsd:documentation>The metadata for each property table is stored here.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PropertyMetadataXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PropertyList"/>
        </xsd:all>
        <xsd:attribute name="BasePropertyName"
            type="yfctype:PropertyName-255" use="optional">
            <xsd:annotation yfc:columnName="BASE_PROPERTY_NAME" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>The name of the base property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Category" type="yfctype:Category" use="optional">
            <xsd:annotation yfc:columnName="CATEGORY" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>The name of the base property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DataType" type="yfctype:JavaType" use="optional">
            <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>The java type of data that is held by this property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description"
            type="yfctype:Description-1500" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>Store property description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DisplayDefinition" type="yfctype:CLOB" use="optional">
            <xsd:annotation yfc:columnName="DISPLAY_DEFINITION" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>Store display definition information</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Group" type="yfctype:PropertyGroup" use="optional">
            <xsd:annotation yfc:columnName="PROP_GROUP" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>This denotes the group to which a property belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="JvmType" type="yfctype:JvmType" use="optional">
            <xsd:annotation yfc:columnName="JVM_TYPE" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>This denotes the type of JVM to which the property belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifiable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MODIFIABLE" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>This field indicates whether the property can be modified or overriden.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModifiableAtRuntime" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MODIFIABLE_AT_RUNTIME" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>Specifies whether this property can be modified once the application is up and running.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PermissibleValues"
            type="yfctype:PermissibleValues" use="optional">
            <xsd:annotation yfc:columnName="PERMISSIBLE_VALUES" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>The data that this property can hold. This will be stored as XML</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PropertyType" type="yfctype:PropertyType" use="optional">
            <xsd:annotation yfc:columnName="PROPERTY_TYPE" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>This field indicates the type of the property</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Scope" type="yfctype:PropertyScope" use="optional">
            <xsd:annotation yfc:columnName="PROP_SCOPE" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>This denotes the scope of the property.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServerOverride" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SERVER_OVERRIDE" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>Specifies whether this field can be overridden by app server, agent or integration server.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserOverride" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USER_OVERRIDE" yfc:tableName="PLT_PROPERTY_METADATA">
                <xsd:documentation>Specifies whether this property can be modified by the logged in user.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PropertyList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Property"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Property">
        <xsd:annotation yfc:tableName="PLT_PROPERTY">
            <xsd:documentation>The values for each property is stored here.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BasePropertyName"
                type="yfctype:PropertyName-255" use="optional">
                <xsd:annotation yfc:columnName="BASE_PROPERTY_NAME" yfc:tableName="PLT_PROPERTY">
                    <xsd:documentation>The name of the base property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Category" type="yfctype:Category" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY" yfc:tableName="PLT_PROPERTY">
                    <xsd:documentation>Category to which the property belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FactoryValue"
                type="yfctype:LongPropertyValue" use="optional">
                <xsd:annotation yfc:columnName="FACTORY_VALUE" yfc:tableName="PLT_PROPERTY">
                    <xsd:documentation>The value of the property shipped out.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PropertyOverride"
                type="yfctype:PropertyOverrideType" use="optional">
                <xsd:annotation yfc:columnName="PROPERTY_OVERRIDE" yfc:tableName="PLT_PROPERTY">
                    <xsd:documentation>Specifies who has overridden the property. If this is 'BASE', it means that this is the base property. Allowed values are SERVER, BASE and USER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PropertyOverrideName"
                type="yfctype:PropertyOverrideName" use="optional">
                <xsd:annotation yfc:columnName="PROPERTY_OVERRIDE_NAME" yfc:tableName="PLT_PROPERTY">
                    <xsd:documentation>The overriden name of the property. For base property this would be blank.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PropertyValue"
                type="yfctype:LongPropertyValue" use="optional">
                <xsd:annotation yfc:columnName="PROPERTY_VALUE" yfc:tableName="PLT_PROPERTY">
                    <xsd:documentation>The value of the property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserComment" type="yfctype:UserComment" use="optional">
                <xsd:annotation yfc:columnName="USER_COMMENT" yfc:tableName="PLT_PROPERTY">
                    <xsd:documentation>To store comments when modifying or overriding a property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
