Data/xapidocs/api_javadocs/XSD/YFS_Dock_Appointment_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Dock_Appointment_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Dock_Appointment_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Dock_Appointment_master.xsd" yfc:rootElement="DockAppointment">
        <xsd:appinfo source="yfc:structure">
            <DockAppointment hasAttributes="Y">
                <Order hasAttributes="Y"/>
                <Shipment hasAttributes="Y"/>
                <Load hasAttributes="Y"/>
                <CapacityConsumptionGet hasAttributes="Y"/>
                <CapacityConsumptionManage hasAttributes="Y"/>
                <DockAppointmentManage hasAttributes="Y">
                    <CapacityReservation hasAttributes="Y">
                        <CapacityConsumption hasAttributes="Y"/>
                    </CapacityReservation>
                </DockAppointmentManage>
                <DockAppointmentList hasAttributes="Y">
                    <Dock hasAttributes="Y">
                        <Dates>
                            <Date hasAttributes="Y">
                                <UnavailableSlots hasAttributes="Y">
                                    <UnavailableSlot hasAttributes="Y">
                                    <DockAppointment hasAttributes="Y">
                                    <Order hasAttributes="Y"/>
                                    <Shipment hasAttributes="Y"/>
                                    <Load hasAttributes="Y"/>
                                    <CapacityConsumption hasAttributes="Y"/>
                                    </DockAppointment>
                                    </UnavailableSlot>
                                </UnavailableSlots>
                            </Date>
                        </Dates>
                    </Dock>
                </DockAppointmentList>
            </DockAppointment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DockAppointment" type="yfc:DockAppointmentXSDType">
        <xsd:annotation yfc:tableName="YFS_DOCK_APPOINTMENT">
            <xsd:documentation>All appointments taken for dock location(s) are stored in this table. The table can also store the reference to the shipment, load, carrier etc. for which appointment is taken.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DockAppointmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="Order">
                <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="DocumentType"
                        type="yfctype:Text-40" use="optional">
                        <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EnterpriseCode"
                        type="yfctype:OrgCode" use="optional">
                        <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OrderNo"
                        type="yfctype:VarcharDocumentNo" use="optional">
                        <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                            <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Shipment">
                <xsd:annotation yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="ShipmentNo"
                        type="yfctype:DocumentNo" use="optional">
                        <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                            <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Load">
                <xsd:annotation yfc:tableName="YFS_LOAD">
                    <xsd:documentation>Stores information about loads. Loads are made of Shipments, carry one or more shipments between two points, and carry an entire shipment. A load has one origin, one destination and can have multiple intermediate stops. A load has one carrier. Loads  may or may not belong to a Delivery Plan. A load can pickup a shipment from its origin or an intermediate stop and drop off the shipment to its destination or an intermediate stop. A load is created and managed by the manageLoad API.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="LoadNo"
                        type="yfctype:DocumentNo" use="optional">
                        <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                            <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacityConsumptionGet"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacityConsumptionManage"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DockAppointmentManage"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DockAppointmentList"/>
        </xsd:all>
        <xsd:attribute name="AppointmentType" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="APPOINTMENT_TYPE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>This field indicates the appointment type of the appointment being taken. It can either be OUTBOUND or INBOUND.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BolNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The bill of lading number .</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Carrier" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="CARRIER" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The carrier service code associated with the dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DockAppointmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DOCK_APPOINTMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The primary key for the YFS_DOCK_APPOINTMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The load key of the load associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Node" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The node key that is associated with this appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Notes" type="yfctype:Text-256" use="optional">
            <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The notes associated with the dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The order header key of the order associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>Organization code of the user creating the appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The progressive number. It is generated for Loads with shipment mode as LTL, also if shipment mode changes from any other mode to LTL. Re-generation of PRO number happens, when the Carrier changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResPoolConsmptnDtlsKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RES_POOL_CONSMPTN_DTLS_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The primary key for the YFS_RES_POOL_CONSMPTN_DTLS_KEY table which is associated to this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The shipment key of the shipment associated with this dock appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                <xsd:documentation>The trailer number by which the shipment/load leaves the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CapacityConsumptionGet">
        <xsd:complexType>
            <xsd:attribute name="AppointmentNo" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CapacityConsumptionManage">
        <xsd:complexType>
            <xsd:attribute name="ConsumptionDate" type="yfctype:String" use="required"/>
            <xsd:attribute name="EndTime" type="yfctype:String" use="required"/>
            <xsd:attribute name="StartTime" type="yfctype:String" use="required"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DockAppointmentManage">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CapacityReservation"/>
            </xsd:all>
            <xsd:attribute name="AppointmentType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="BolNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Carrier" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DockAppointmentKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="LoadKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LocationId" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the Dock location for which appointment is taken.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ResPoolConsmptnDtlsKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TrailerNo" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CapacityReservation">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="CapacityConsumption">
                    <xsd:complexType>
                        <xsd:attribute name="ConsumptionDate"
                            type="yfctype:String" use="optional"/>
                        <xsd:attribute name="EndTime"
                            type="yfctype:String" use="optional"/>
                        <xsd:attribute name="StartTime"
                            type="yfctype:String" use="optional"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="ReservationId" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DockAppointmentList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Dock"/>
            </xsd:all>
            <xsd:attribute name="MaxEndTime" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinStartTime" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Dock">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Dates"/>
            </xsd:all>
            <xsd:attribute name="DockType" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the type of Dock for which appointment is taken.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the Dock location for which appointment is taken.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the Dock's node for which appointment is taken.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Dates">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Date"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Date">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UnavailableSlots"/>
            </xsd:all>
            <xsd:attribute name="Date" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the date of Dock appointment.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> End time beyond which appointments may not be taken for the dock.
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Start time before which appointments may not be taken for the dock.
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAvailableHours"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the total available hours of Dock.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWorkingHours"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the total working hours of Dock.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UnavailableSlots">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UnavailableSlot"/>
            </xsd:all>
            <xsd:attribute name="NoOfMatchingAppointments"
                type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies the number of appointments that matched the input criteria for the given dock location and date.
                                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UnavailableSlot">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="DockAppointment">
                    <xsd:annotation yfc:tableName="YFS_DOCK_APPOINTMENT">
                        <xsd:documentation>All appointments taken for dock location(s) are stored in this table. The table can also store the reference to the shipment, load, carrier etc. for which appointment is taken.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Order">
                                <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="DocumentType"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="EnterpriseCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="OrderNo"
                                    type="yfctype:VarcharDocumentNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Shipment">
                                <xsd:annotation yfc:tableName="YFS_SHIPMENT">
                                    <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ShipmentNo"
                                    type="yfctype:DocumentNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Load">
                                <xsd:annotation yfc:tableName="YFS_LOAD">
                                    <xsd:documentation>Stores information about loads. Loads are made of Shipments, carry one or more shipments between two points, and carry an entire shipment. A load has one origin, one destination and can have multiple intermediate stops. A load has one carrier. Loads  may or may not belong to a Delivery Plan. A load can pickup a shipment from its origin or an intermediate stop and drop off the shipment to its destination or an intermediate stop. A load is created and managed by the manageLoad API.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="LoadNo"
                                    type="yfctype:DocumentNo" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                                    <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="CapacityConsumption">
                                <xsd:complexType>
                                    <xsd:attribute name="ReservationId"
                                    type="yfctype:String" use="optional"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="AppointmentType"
                            type="yfctype:Text-10" use="optional">
                            <xsd:annotation
                                yfc:columnName="APPOINTMENT_TYPE" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>This field indicates the appointment type of the appointment being taken. It can either be OUTBOUND or INBOUND.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="BolNo"
                            type="yfctype:DocumentNo" use="optional">
                            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The bill of lading number .</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Carrier"
                            type="yfctype:OrgCode" use="optional">
                            <xsd:annotation yfc:columnName="CARRIER" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The carrier service code associated with the dock appointment.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DockAppointmentKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="DOCK_APPOINTMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The primary key for the YFS_DOCK_APPOINTMENT table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IsReservedForInputCriteria"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Indicates if the dock appointment was searched for. 
											<br/>Valid Values: <b>
                                    <code>Y</code>
                                    </b>: if the dock appointment met the searched criteria or <b>
                                    <code>N</code>
                                    </b>: otherwise.
											</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The load key of the load associated with this dock appointment.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The node key that is associated with this appointment.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Notes"
                            type="yfctype:Text-256" use="optional">
                            <xsd:annotation yfc:columnName="NOTES" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The notes associated with the dock appointment.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OrderHeaderKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The order header key of the order associated with this dock appointment.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ProNo"
                            type="yfctype:DocumentNo" use="optional">
                            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The progressive number. It is generated for Loads with shipment mode as LTL, also if shipment mode changes from any other mode to LTL. Re-generation of PRO number happens, when the Carrier changes.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ResPoolConsmptnDtlsKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="RES_POOL_CONSMPTN_DTLS_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The primary key for the YFS_RES_POOL_CONSMPTN_DTLS_KEY table which is associated to this dock appointment.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipmentKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The shipment key of the shipment associated with this dock appointment.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TrailerNo"
                            type="yfctype:DocumentNo" use="optional">
                            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_DOCK_APPOINTMENT">
                                <xsd:documentation>The trailer number by which the shipment/load leaves the ship node.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="DueToCalendar" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Specifies whether the appointment is due to calendar.
                                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndTime" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> End time of appointment.
                                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartTime" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Start time of appointment.
                                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
