Data/xapidocs/api_javadocs/XSD/YFS_getDecryptedCreditCardNumber_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getDecryptedCreditCardNumber/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getDecryptedCreditCardNumber/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getDecryptedCreditCardNumber_input.xsd" yfc:rootElement="GetDecryptedCreditCardNumber">
        <xsd:appinfo source="yfc:structure">
            <GetDecryptedCreditCardNumber hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetDecryptedCreditCardNumber" type="yfc:GetDecryptedCreditCardNumberXSDType"/>
    <xsd:complexType name="GetDecryptedCreditCardNumberXSDType">
        <xsd:attribute name="DisplayFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					This attribute is deprecated as of Sterling Supply Chain Applications 7.1. When using the Sterling Selling And Fulfillment Suite system's standard encryption, the complete credit card number will now always be displayed. As before the deprecation, if custom encryption is used, this flag has no effect.
					<br/>Default: <b>
                            <code>Y</code>
                        </b>
                        <br/>Valid Values: <br/>
                        <b>
                            <code>Y</code>
                        </b> - Returns complete credit card number. 
					<br/>
                        <b>
                            <code>N</code>
                        </b> - Returns the last four digits with * in place of the others when using Sterling Selling And Fulfillment Suite system's standard encryption.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EncryptedCCNo" type="yfctype:Text-32" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The encrypted credit card number that needs to be decrypted.
				<br/>Valid Values:
				<br/>
                        <ul>Alphabetic characters A through Z
				<br/>Alphabetic characters a through z
				<br/>Numbers from 0 through 9
				<br/>Symbols ~  !  @  #  $  %   ^  &amp;  *  (
				)  _  +  {  }  |  :  "  &lt;  &gt;  ? `
				 -  =  [  ]  \  ;  '  ,  .  / 
				<br/>Keys <code>Tab</code> and <code>Space</code>
                        </ul>
                        <Validation>
                            <Condition>Invalid value is passed.
						</Condition>
                            <Error
                                Description="Credit Card Decryption Failed" ErrorCode="YFS10293"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
