Data/xapidocs/api_javadocs/XSD/YFS_getSourcingRuleList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getSourcingRuleList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getSourcingRuleList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getSourcingRuleList_input.xsd" yfc:rootElement="SourcingRuleHeader">
        <xsd:appinfo source="yfc:structure">
            <SourcingRuleHeader hasAttributes="Y">
                <SourcingRuleDetails>
                    <SourcingRuleDetail hasAttributes="Y"/>
                </SourcingRuleDetails>
            </SourcingRuleHeader>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SourcingRuleHeader" type="yfc:SourcingRuleHeaderXSDType">
        <xsd:annotation yfc:tableName="YFS_SOURCING_RULE_HDR">
            <xsd:documentation>This table stores information about sourcing rule headers which provide selection criteria for sourcing, procurement and service nodes for each organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SourcingRuleHeaderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SourcingRuleDetails"/>
        </xsd:all>
        <xsd:attribute name="FulfillmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="FULFILLMENT_TYPE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The fulfillment type of this sourcing rule. This field can be matched with the corresponding field in the the YFS_ORDER_LINE table and the appropriate sourcing rule can be selected during scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification2" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION2" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing2&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification3" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION3" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing3&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification4" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION4" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing4&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification5" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION5" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing5&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification6" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION6" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing6&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification7" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION7" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing7&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field incidates what kind of item this is.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The identifier of the item for which sourcing is setup. This field is only valid only for product sourcing for shipping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies the Maximum Number of records to be returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeTypeID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="NODE_TYPE_ID" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>Indicates node type id of the receiving node associated to the sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderSourcingClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation
                yfc:columnName="ORDER_SOURCING_CLASSIFICATION" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The order sourcing classification used for this sourcing rule. This field can be matched with the corresponding field in the YFS_ORDER_HEADER table and the appropriate sourcing rule can be selected during scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The organization that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The product class of the inventory item for which sourcing is setup . This field is only valid only for product sourcing for shipping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:EnumPurpose" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The purpose of this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The region that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The seller organization that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourcingRuleHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SOURCING_RULE_HDR_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The primary key for the YFS_SOURCING_RULE_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToNodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TO_NODE_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The ship node that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="SourcingRuleDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SourcingRuleDetail"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SourcingRuleDetail">
        <xsd:annotation yfc:tableName="YFS_SOURCING_RULE_DTL">
            <xsd:documentation>This table stores detailed information for a given sourcing rule header.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DistributionRuleId"
                type="yfctype:DistributionRuleId" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>The unique identifier of the distribution group used for sourcing products and services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromNodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_NODE_KEY" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>The ship node that is associated with this sourcing rule detail.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FutureInventoryWindow" use="optional">
                <xsd:annotation yfc:columnName="FUTURE_INVENTORY_WINDOW" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>Indicates window in which future inventory can be considered. Future inventory coming outside of this window, will not be considered during scheduling. The default value is null which means this window will not be considered. The window should be a valid positive Integer or -1 if only onhand inventory is to be used.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ProcureToShipAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PROCURE_TO_SHIP_ALLOWED" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>This flag indicates whether procure to ship is allowed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>The sequence number of the sourcing rule details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourcingRuleDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SOURCING_RULE_DTL_KEY" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>The primary key for the YFS_SOURCING_RULE_DTL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubstitutionAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SUBSTITUTION_ALLOWED" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>This flag indicates whether substitution is allowed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TemplateType" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="TEMPLATE_TYPE" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>The unique identifier for sourcing template.  Based on template type, template xml will be used to return set of nodes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderCreationAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="WORK_ORDER_CREATION_ALLOWED" yfc:tableName="YFS_SOURCING_RULE_DTL">
                    <xsd:documentation>This flag indicates whether a work order creation is allowed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
