Data/xapidocs/api_javadocs/XSD/YFS_Equipment_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Equipment_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Equipment_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Equipment_keys.xsd" yfc:rootElement="Equipment">
        <xsd:appinfo source="yfc:structure">
            <Equipment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Equipment" type="yfc:EquipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT">
            <xsd:documentation>All equipments used in the warehouse are defined in this table. The equipment table stores instance of an equipment of a particular type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EquipmentXSDType">
        <xsd:attribute name="EquipmentId" type="yfctype:EquipmentId" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_ID" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>This field identifies the equipment. For example, if the warehouse has 10 fork lifts, the equipment IDs can be FORKLIFT1 to FORKLIFT10.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_KEY" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>The primary key for the YFS_EQUIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_EQUIPMENT">
                <xsd:documentation>The primary key for the YFS_EQUIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
