Data/xapidocs/api_javadocs/XSD/YFS_Shipment_Container_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Shipment_Container_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Shipment_Container_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Shipment_Container_tran.xsd" yfc:rootElement="Container">
        <xsd:appinfo source="yfc:structure">
            <Container hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Container" type="yfc:ContainerXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerXSDType">
        <xsd:attribute name="ActualFreightCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the freight charge as arrived at by the carrier server.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppliedWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="APPLIED_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server, if carrier server integration is availed for the shipment. This indicates the weight that was used for freight charge calculations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AppliedWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="APPLIED_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of weight specified in APPLIED_WEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AstraCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ASTRA_CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BarcodeDiscount" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="BARCODE_DISCOUNT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BasicFreightCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="BASIC_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarriageValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="CARRIAGE_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerGrossWeight"
            type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_GROSS_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The weight of the container, inclusive of weights of items and packing material used, if any. The unit of weight is as specified by the CONTAINER_GROSS_WEIGHT_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerGrossWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_GROSS_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of weight specified in CONTAINER_GROSS_WEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerHeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_HEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The height of the container. The units of height are as specified by the CONTAINER_HEIGHT_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerHeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_HEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of height specified in CONTAINER_HEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerLength" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_LENGTH" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The length of the container. The units of length are as specified by the CONTAINER_LENGTH_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerLengthUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_LENGTH_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of length specified in CONTAINER_LENGTH attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerNetWeight"
            type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NET_WEIGHT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The weight of just the items in the container. This does not include weight of the packing material. The unit of weight is as specified by the CONTAINER_NET_WEIGHT_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerNetWeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NET_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of weight specified in CONTAINER_NET_WEIGHT attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The container number. This is a unique key or business key, which by itself identifies a delivery plan. If not passed as input, the system generates this number using the database sequence SEQ_YFS_CONTAINER_NO.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerScm" type="yfctype:UCC128" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_SCM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>A unique number which helps identify the shipper as well as the goods.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerSeqNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_SEQ_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerType" type="yfctype:Text-6" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_TYPE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The type of container. You could use it as an attribute to group containers - either based on size of the container, type of goods that it carries, and so forth.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerWidth" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_WIDTH" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The width of the container. The units of width are as specified by the CONTAINER_WIDTH_UOM attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerWidthUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_WIDTH_UOM" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The unit of measure for the units of width specified in CONTAINER_WIDTH attribute of this container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomsValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMS_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DeclaredValue" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="DECLARED_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The value of the container as declared on the carrier manifest for insurance purposes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DimmedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DIMMED_FLAG" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DiscountAmount" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="DISCOUNT_AMOUNT" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExportLicenseExpDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EXPORT_LICENSE_EXP_DATE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The export license expiration date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExportLicenseNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="EXPORT_LICENSE_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The license number if the container is meant for export.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsReceived" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_RECEIVED" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This flag indicates whether a shipment is received at a receiving node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The load key that is associated with this shipment container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OversizedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERSIZED_FLAG" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentContainerNo" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="PARENT_CONTAINER_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>A container that encloses the current container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RoutingCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ROUTING_CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The primary key for the YFS_SHIPMENT_CONTAINER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SpecialServicesSurcharge"
            type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="SPECIAL_SERVICES_SURCHARGE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The information returned by the carrier server if carrier server integration is availed for the shipment. This indicates the special service charge levied for the special services selected.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrackingNo"
            type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>The tracking number. If carrier integration is availed for the carrier on the shipment, then this information is returned by the carrier server. This is a unique number assigned to each container that can be used to track individual containers in a shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Ucc128code" type="yfctype:UCC128" use="optional">
            <xsd:annotation yfc:columnName="UCC128CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
