Data/xapidocs/api_javadocs/XSD/YFS_Storage_Constraint_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Storage_Constraint_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Storage_Constraint_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Storage_Constraint_master.xsd" yfc:rootElement="StorageConstraint">
        <xsd:appinfo source="yfc:structure">
            <StorageConstraint hasAttributes="Y">
                <ZoneEnterprise hasAttributes="Y"/>
            </StorageConstraint>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StorageConstraint" type="yfc:StorageConstraintXSDType">
        <xsd:annotation yfc:tableName="YFS_STORAGE_CONSTRAINT">
            <xsd:documentation>This table stores one or more records indicating what items or category of items may be stored in a zone/location. This could also be imagined to as having dedication information for a zone/location for an item, product line, velocity, catalog organization, etc. While doing put away, these constraints are used to determine the zone to stow away received inventory. Zones or locations with no storage constraints can store any inventory.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StorageConstraintXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZoneEnterprise"/>
        </xsd:all>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification1" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_1" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under item classification one.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification2" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_2" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under item classification two.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification3" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_3" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under item classification three.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StorageConstraintKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STORAGE_CONSTRAINT_KEY" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The primary key for the YFS_STORAGE_CONSTRAINT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneEnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ENTERPRISE_KEY" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The primary key for the YFS_STORAGE_CONSTRAINT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ZoneEnterprise">
        <xsd:annotation yfc:tableName="YFS_ZONE_ENTERPRISE">
            <xsd:documentation>This table defines different enterprises that store inventory in a given zone. One or more enterprise's inventory can be stored in a zone. However, whether inventory from two different enterprises can be mixed in a location depends on the mix enterprise attribute on the zone, which is propagated to every location of the zone.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>This field specifies the enterprise identifier. This is a unique key attribute of the YFS_ENTERPRISE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneEnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ENTERPRISE_KEY" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The primary key for the YFS_ZONE_ENTERPRISE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_ZONE_ENTERPRISE">
                    <xsd:documentation>The primary key for the YFS_ZONE_ENTERPRISE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
