Data/xapidocs/api_javadocs/XSD/YFS_Load_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Load_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Load_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Load_tran.xsd" yfc:rootElement="Load">
        <xsd:appinfo source="yfc:structure">
            <Load hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Load" type="yfc:LoadXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD">
            <xsd:documentation>Stores information about loads. Loads are made of Shipments, carry one or more shipments between two points, and carry an entire shipment. A load has one origin, one destination and can have multiple intermediate stops. A load has one carrier. Loads  may or may not belong to a Delivery Plan. A load can pickup a shipment from its origin or an intermediate stop and drop off the shipment to its destination or an intermediate stop. A load is created and managed by the manageLoad API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadXSDType">
        <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The Bill of Lading number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The carrier service availed for transporting this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The currency corresponding to the load charges.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>A document type derived from the base document type 1001 - LOAD.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DropAtShipmentDestination"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="DROP_AT_SHIPMENT_DESTINATION" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag indicates that the load is created by choosing an option in which each shipment is dropped off at the shipment destination.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The enterprise that created the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsExpInclInManifest" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_EXP_INCL_IN_MANIFEST" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag to indicates whether a load is included in the manifest explicitly. This is set to 'Y' when the user selects the load from the console and adds to a manifest explicitly.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The primary key for the YFS_LOAD table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The load number.A unique key or business key, which by itself identifies a load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOAD_TYPE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The user defined load type. This field is used to indicate the composition of the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The manifest key that is associated with this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="OWNER_ORGANIZATION_CODE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The organization that owns the load. This could be the enterprise code or any other valid organization in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickupFromShipmentOrigin"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PICKUP_FROM_SHIPMENT_ORIGIN" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This flag indicates whether the load is created by choosing an option in which each shipment is picked up from the shipment origin.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The Proof of Delivery number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The progressive number. It is generated for Loads with shipment mode as LTL, also if shipment mode changes from any other mode to LTL. Re-generation of PRO number happens, when the Carrier changes.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The carrier that transports this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SealNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The seal number on the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipVia" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SHIP_VIA" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The means of shipping the shipment. The values are usually Land, Air, Sea or Ocean.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalActualCharge" type="yfctype:Money" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_ACTUAL_CHARGE" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The actual charge for transporting all shipments in this load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>The number of the trailer by which the load leaves the origin.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VesselName" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="VESSEL_NAME" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This indicates the name of the vessel used for transportation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VoyageNo" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="VOYAGE_NO" yfc:tableName="YFS_LOAD">
                <xsd:documentation>This indicates the vessel's voyage number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
