Data/xapidocs/api_javadocs/XSD/YFS_getProperty_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getProperty/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getProperty/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getProperty_output.xsd" yfc:rootElement="GetProperty">
        <xsd:appinfo source="yfc:structure">
            <GetProperty hasAttributes="Y">
                <PropertyMetadata hasAttributes="Y"/>
            </GetProperty>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetProperty" type="yfc:GetPropertyXSDType"/>
    <xsd:complexType name="GetPropertyXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PropertyMetadata"/>
        </xsd:all>
        <xsd:attribute name="PropertyValue" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 Value of the Property.						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PropertyMetadata">
        <xsd:annotation yfc:tableName="PLT_PROPERTY_METADATA">
            <xsd:documentation>The metadata for each property table is stored here.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DataType" type="yfctype:JavaType" use="optional">
                <xsd:annotation yfc:columnName="DATA_TYPE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>The java type of data that is held by this property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Group" type="yfctype:PropertyGroup" use="optional">
                <xsd:annotation yfc:columnName="PROP_GROUP" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>This denotes the group to which a property belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JvmType" type="yfctype:JvmType" use="optional">
                <xsd:annotation yfc:columnName="JVM_TYPE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>This denotes the type of JVM to which the property belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModifiableAtRuntime"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MODIFIABLE_AT_RUNTIME" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>Specifies whether this property can be modified once the application is up and running.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PermissibleValues"
                type="yfctype:PermissibleValues" use="optional">
                <xsd:annotation yfc:columnName="PERMISSIBLE_VALUES" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>The data that this property can hold. This will be stored as XML</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scope" type="yfctype:PropertyScope" use="optional">
                <xsd:annotation yfc:columnName="PROP_SCOPE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>This denotes the scope of the property.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerOverride" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SERVER_OVERRIDE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>Specifies whether this field can be overridden by app server, agent or integration server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserOverride" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USER_OVERRIDE" yfc:tableName="PLT_PROPERTY_METADATA">
                    <xsd:documentation>Specifies whether this property can be modified by the logged in user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
