Data/xapidocs/api_javadocs/XSD/YFS_getEntitlementAssignmentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getEntitlementAssignmentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getEntitlementAssignmentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getEntitlementAssignmentList_input.xsd" yfc:rootElement="EntitlementRuleAssignment">
        <xsd:appinfo source="yfc:structure">
            <EntitlementRuleAssignment hasAttributes="Y">
                <EntitlementRule hasAttributes="Y"/>
            </EntitlementRuleAssignment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntitlementRuleAssignment" type="yfc:EntitlementRuleAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
            <xsd:documentation>This table stores information on the assignments of selling entitlement rules to organizations and the assignments of buying entitlement rules to customers.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EntitlementRuleAssignmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:EntitlementRule"/>
        </xsd:all>
        <xsd:attribute name="AssignedToOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ASSIGN_TO_ORGANIZATION_CODE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>This field indicates the organization for which the selling entitlement rule is assigned to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>Organization that maintains the entitlement rule assignments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>The identifier of the customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>Level of customer membership (Gold, Tin, Platinum, etc.).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerType" type="yfctype:Text-2" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>The type of customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>It refers to either the organization that maintains the entitlement rule or a customer organization whose customers are assigned to this rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:Text-10" use="required">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>This field indicates whether the entitlement rule is used for selling entitlement or buying entitlement.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Region" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>Region to which entitlement rule is assigned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>The type of the relationship that exists between an organization and an enterprise (distributor, retailer, reseller, etc.).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                <xsd:documentation>The vertical customer belongs to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="EntitlementRule">
        <xsd:annotation yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
            <xsd:documentation>This table stores item entitlement rule header definition.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                    <xsd:documentation>The description of the entitlement rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveFromDate" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                    <xsd:documentation>The effective from date of the entitlement rule.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EffectiveToDate" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                    <xsd:documentation>The effective to date of the entitlement rule.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EntitlementRuleID" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="ENTITLEMENT_RULE_HDR_ID" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                    <xsd:documentation>The unique identification of entitlement rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                    <xsd:documentation>The organization that maintains the entitlement rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                    <xsd:documentation>This field indicates whether the entitlement rule is used for selling entitlement or buying entitlement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartWithAllCatalogItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="START_WITH_ALL_CATALOG_ITEMS" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                    <xsd:documentation>This flag indicates whether entitlement rule starts by including or excluding all items in a catalog.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
