Data/xapidocs/api_javadocs/XSD/YFS_getReceiptDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getReceiptDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getReceiptDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getReceiptDetails_input.xsd" yfc:rootElement="Receipt">
        <xsd:appinfo source="yfc:structure">
            <Receipt hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Receipt" type="yfc:ReceiptXSDType">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReceiptXSDType">
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>
                    <div>
						Primary key attribute of <code>YFS_RECEIPT_HEADER</code> table.
							<Validation>
                            <Condition>The input attributes passed should identify a receipt. Either <code>ReceiptHeaderKey</code> or <code>ReceiptNo</code>, <code>ReceivingNode</code> and <code>ShipmentKey</code> has to be passed to identify the receipt. Errors if not valid.
								</Condition>
                            <Error
                                Description="Either ReceiptHeaderKey or ReceiptNo, ReceivingNode and ShipmentKey is mandatory." ErrorCode="OMP10043"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>
                    <div>
						Unique key or business key, which by itself identifies a receipt along with <code>ReceivingNode</code>.
							<Validation>
                            <Condition>The input attributes passed should identify a receipt. Either <code>ReceiptHeaderKey</code> or <code>ReceiptNo</code>, <code>ReceivingNode</code> and <code>ShipmentKey</code> has to be passed to identify the receipt. Errors if not valid.
								</Condition>
                            <Error
                                Description="Either ReceiptHeaderKey or ReceiptNo, ReceivingNode and ShipmentKey is mandatory." ErrorCode="OMP10043"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>
                    <div>
						The Receiving Node.
							<Validation>
                            <Condition>The input attributes passed should identify a receipt. Either <code>ReceiptHeaderKey</code> or <code>ReceiptNo</code>, <code>ReceivingNode</code> and <code>ShipmentKey</code> has to be passed to identify the receipt. Errors if not valid.
								</Condition>
                            <Error
                                Description="Either ReceiptHeaderKey or ReceiptNo, ReceivingNode and ShipmentKey is mandatory." ErrorCode="OMP10043"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>
                    <div>
						Primary key attribute of <code>YFS_SHIPMENT</code> table. Specifies the shipment being received.
							<Validation>
                            <Condition>The input attributes passed should identify a receipt. Either <code>ReceiptHeaderKey</code> or <code>ReceiptNo</code>, <code>ReceivingNode</code> and <code>ShipmentKey</code> has to be passed to identify the receipt. Errors if not valid.
								</Condition>
                            <Error
                                Description="Either ReceiptHeaderKey or ReceiptNo, ReceivingNode and ShipmentKey is mandatory." ErrorCode="OMP10043"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
