Data/xapidocs/api_javadocs/XSD/YFS_determineDateForPricingUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/determineDateForPricingUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/determineDateForPricingUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_determineDateForPricingUE_output.xsd" yfc:rootElement="DetermineDateForPricing">
        <xsd:appinfo source="yfc:structure">
            <DetermineDateForPricing hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DetermineDateForPricing" type="yfc:DetermineDateForPricingXSDType"/>
    <xsd:complexType name="DetermineDateForPricingXSDType">
        <xsd:attribute name="PricingDate" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
