Data/xapidocs/api_javadocs/XSD/YFS_Shipment_Tag_Serial_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Shipment_Tag_Serial_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Shipment_Tag_Serial_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Shipment_Tag_Serial_tran.xsd" yfc:rootElement="ShipmentTagSerial">
        <xsd:appinfo source="yfc:structure">
            <ShipmentTagSerial hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipmentTagSerial" type="yfc:ShipmentTagSerialXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
            <xsd:documentation>This table stores additional information related to tag number, serial number, ship by date for a shipment line or container detail. Tag information is stored only if the Node tracks tag information in inventory or the Buyer mandates tag information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentTagSerialXSDType">
        <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Batch Number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ContainerDetailKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_DETAIL_KEY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Link to YFS_CONTAINER_DETAILS table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Any other lot attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Any other lot attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Any other lot attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotKeyReference" type="yfctype:Text-4000" use="optional">
            <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Lot Number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ManufacturingDate" use="optional">
            <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Revision Number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Serial number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>For time sensitive items, date by which it should be shipped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Link to YFS_SHIPMENT_LINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentTagSerialKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_TAG_SERIAL_KEY" yfc:tableName="YFS_SHIPMENT_TAG_SERIAL">
                <xsd:documentation>Primary key attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
