Data/xapidocs/api_javadocs/XSD/YFS_createExportDataEx_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createExportDataEx/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createExportDataEx/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createExportDataEx_input.xsd" yfc:rootElement="CreateExportDataEx">
        <xsd:appinfo source="yfc:structure">
            <CreateExportDataEx hasAttributes="Y">
                <ExportSystemIds>
                    <ExportSystemId hasAttributes="Y"/>
                </ExportSystemIds>
                <XmlExportData/>
            </CreateExportDataEx>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CreateExportDataEx" type="yfc:CreateExportDataExXSDType">
        <xsd:annotation yfc:tableName="YFS_EXPORT">
            <xsd:documentation>This table is used as an interface table to publish and read data from or to an external system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateExportDataExXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ExportSystemIds"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:XmlExportData"/>
        </xsd:all>
        <xsd:attribute name="ApiName" type="yfctype:ApiName-40" use="optional">
            <xsd:annotation yfc:columnName="API_NAME" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>This field is deprecated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>This field is deprecated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
            <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>The service that has published the data.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromOrgCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="FROM_ORG_CODE" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>This field is deprecated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>The priority associated with this table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReplyToId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="REPLY_TO_ID" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>MessageID of the service is set as ReplyToID. If MessageID is void then ExportKey is set to this field.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipString" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>This field is deprecated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
            <xsd:annotation yfc:columnName="SUB_FLOW_NAME" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>The sub flow or RuntimeID that has published the data.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToOrgCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="TO_ORG_CODE" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>This field is deprecated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserReference" type="yfctype:UserReference" use="optional">
            <xsd:annotation yfc:columnName="USER_REFERENCE" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>The user reference to the export table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ExportSystemIds">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:ExportSystemId"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExportSystemId">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
								At least one <code>ExportSystemId</code> element must be passed. If this element is not passed:	 
								</Condition>
                        <Error
                            Description="No Export System Ids exist in the XML" ErrorCode=""/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SystemId" type="yfctype:SystemName" use="optional">
                <xsd:annotation yfc:columnName="SYSTEM_NAME" yfc:tableName="YFS_EXPORT">
                    <xsd:documentation>The system name associated with this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="XmlExportData">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
								Element <code>XmlExportData</code> must be passed. If this element is not passed:	 
								</Condition>
                        <Error
                            Description="XmlExportData Element is mandatory" ErrorCode=""/>
                    </Validation>
                    <Validation>
                        <Condition>
								If element <code>XmlExportData</code> is passed but data is not passed: 
								</Condition>
                        <Error
                            Description="Xml Export Data cannot be empty" ErrorCode=""/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
