Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Service_Line_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Service_Line_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Service_Line_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_Work_Order_Service_Line_master.xsd" yfc:rootElement="WorkOrderServiceLine">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderServiceLine hasAttributes="Y">
                <OrderLine hasAttributes="Y">
                    <Shipnode hasAttributes="Y">
                        <ShipNodePersonInfo hasAttributes="Y"/>
                    </Shipnode>
                    <Order hasAttributes="Y"/>
                    <LinePriceInfo hasAttributes="Y"/>
                    <ItemDetails hasAttributes="Y">
                        <PrimaryInformation hasAttributes="Y"/>
                    </ItemDetails>
                </OrderLine>
            </WorkOrderServiceLine>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderServiceLine" type="yfc:WorkOrderServiceLineXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
            <xsd:documentation>This table stores information about service lines included in the work order. Used only for PS/DS work orders.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderServiceLineXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:OrderLine"/>
        </xsd:all>
        <xsd:attribute name="CauseAppointmentChange" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAUSE_APPT_CHANGE" yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
                <xsd:documentation>Indicates that the addition or modification to this line requires the current work order appointment to be changed. If the flag is maintained internally, it will be set to Y when a new work order is created, this line is added to a work order without appointments, or an appointment is no longer available due to addition of this line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasChangedByThisTransaction"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag indicates if this record has been changed by this transaction </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_COMPLETE" yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
                <xsd:documentation>This flag indicates whether the service line is complete.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemDescription" type="yfctype:ItemDesc" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Description of item. </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
                <xsd:documentation>This field indicates the item group code. Valid values are: - PS : Provided Service - DS : Delivery Service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
                <xsd:documentation>The identifier of the service item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemShortDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Short Description of item. </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="LINE_NO" yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
                <xsd:documentation>The service line sequence number. Part of unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRequired" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REQUIRED" yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
                <xsd:documentation>The required capacity of the associated service line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
                <xsd:documentation>The unit of measure for the service item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderServiceLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_SERVICE_LINE_KEY" yfc:tableName="YFS_WORK_ORDER_SERVICE_LINE">
                <xsd:documentation>The primary key for the YFS_WORK_ORDER_SERVICE_LINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipnode"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LinePriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemDetails"/>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipnode">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipNodePersonInfo"/>
            </xsd:all>
            <xsd:attribute name="AcceptanceRequired" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACCEPTANCE_REQUIRED" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether acceptance is required by the ship node before processing orders for shipping.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivateFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVATE_FLAG" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipToAllNodes" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_SHIP_TO_ALL_NODES" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the node can ship to all node/node types.  Entries in YFS_NODE_CAN_SHIP_TO_NT table will be ignored if flag is Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanShipToOtherAddresses"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAN_SHIP_TO_OTHER_ADDRESSES" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the node can ship to other addresses.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_ADDRESS_KEY" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The contact address that is associated with this ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CurrentBolNumber"
                type="yfctype:Counter" use="optional">
                <xsd:annotation yfc:columnName="CURRENT_BOL_NUMBER" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The last generated BOL number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultDeclaredValue"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_DECLARED_VALUE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The default value the ship node may declare for its shipments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>the description of the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportLicenseExpDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_LICENSE_EXP_DATE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The date by which an export license given to a ship node expires.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportLicenseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_LICENSE_NO" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The export license number given to the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportTaxpayerId"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_TAXPAYER_ID" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The identifier of the tax payer for the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GenerateBolNumber" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="GENERATE_BOL_NUMBER" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the BOL number needs to be generated for this ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IdentifiedByParentAs"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="IDENTIFIED_BY_PARENT_AS" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The store or distribution center identifier assigned by the parent organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InterfaceSubType"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="INTERFACE_SUB_TYPE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>A sub-classification of the interface type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InterfaceType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="INTERFACE_TYPE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This field indicates the manner in which orders are passed to a ship node for servicing ( "WMS_YANTRA","YFX","EVENTS" ).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTracked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TRACKED" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node tracks inventory. Valid values are 'Y' or 'N'. Default Value is 'Y'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Inventorytype"
                type="yfctype:EnumInventoryType" use="optional">
                <xsd:annotation yfc:columnName="INVENTORYTYPE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This field indicates whether the ship node tracks inventory. The value is defaulted to 'TRACK' if the flag InventoryTracked is set to 'Y' and it is defaulted to 'INFINITE' if flag InventoryTracked is set to 'N'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemBasedAllocationAllowed"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_IBA_ALLOWED" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the node is allowed for Item-Based Allocation process.  Valid values: Y/N.  Default value: Y.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Latitude" use="optional">
                <xsd:annotation yfc:columnName="LATITUDE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The latitude of this ship node.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:DecimalWithNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Localecode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALECODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The locale of the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Longitude" use="optional">
                <xsd:annotation yfc:columnName="LONGITUDE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The longitude of this ship node.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:DecimalWithNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaintainInventoryCost"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MAINTAIN_INVENTORY_COST" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node maintains inventory cost.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NodeType" type="yfctype:NodeType" use="optional">
                <xsd:annotation yfc:columnName="NODE_TYPE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The type of the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The owner organization that is associated with this ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PicklistType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PICKLIST_TYPE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The type of pick-list that this ship node requires for picking.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node can perform receiving operations. This flag does not have any functionality. Reserved for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresChangeRequest"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="REQUIRES_CHANGE_REQUEST" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node requires change requests to manage order modifications after it is released to the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnCenterFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="RETURN_CENTER_FLAG" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node is a return center.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnsNode" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="RETURNS_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node can perform reverse logistic operations. This flag does not have any functionality. Reserved for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_ADDRESS_KEY" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The address that is associated with this ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeClass"
                type="yfctype:ShipNodeClass" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_CLASS" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The class of the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The primary key for the YFS_SHIP_NODE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeType"
                type="yfctype:ShipnodeType" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_TYPE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The type of the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippingNode" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPPING_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node can perform shipping operations. This flag does not have any functionality. Reserved for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StoreInvConfig" type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="STORE_INV_CONFIG" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The type of the Store Inventory Config. Null or '00' means not SIM Enabled Store. '01' means SIM-enabled Store and Inventory IS Store managed. '02' means SIM-enabled Store but Inventory IS NOT Store managed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplierKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SUPPLIER_KEY" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The supplier who owns the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ThreePlNode" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="THREE_PL_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether the ship node is a 3PL node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TimeDiff" type="yfctype:Number" use="optional">
                <xsd:annotation yfc:columnName="TIME_DIFF" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The time difference between the ship node and the place where the database is hosted from.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNodePersonInfo">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternateEmailID"
                type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The company this person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Department" type="yfctype:Department" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxt" type="yfctype:ErrorText" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TXT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The first name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JobTitle" type="yfctype:Title-40" use="optional">
                <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The job title of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The last name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:MiddleName" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
                <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonInfoKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PERSON_INFO_KEY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary key for the YFS_PERSON_INFO table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredShipAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="USE_COUNT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VerificationStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="VERIFICATION_STATUS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LinePriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The actual pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AdditionalLinePriceTotal"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundleTotal" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DiscountPercentage"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_PERCENTAGE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The discount percentage is the percentage decrease in price between the list and unit price for a given buyer. This value is calculated by subtracting the difference between the list price and unit price and divided by the list price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedLineTotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="INVOICED_LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The total invoiced amount for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="INVOICED_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The invoiced pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsEligibleForShippingDiscount"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ELIGIBLE_FOR_SHIP_DISC" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag can override the configured value for the item. Otherwise it is the same as the configured value for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsLinePriceForInformationOnly"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_INFO_ONLY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether price information passed on the line is for information only. If it is 'Y' then line total will not be considered in order total. Invoiced amount for such lines will always be 0. If it is not passed or passed as 'N' then line price is considered in order total.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPriceLocked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether UnitPrice passed at LinePriceInfo element must be used and price determination ignored, if price determination is configured and enabled. Valid values are 'Y' or 'N'. Default value is 'N'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="LINE_TOTAL" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The grand total for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>the list price of the item. This is an informational field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQtyConversionFactor"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_QUANTITY_CONV_FACTOR" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity conversion factor. This field is used for finding Pricing_Quantity, using Ordered_Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="PRICING_UOM" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing UOM for the order line. If "PricingUOM" is not passed it will be defaulted from Catalog. If "PricingUOM" is passed and different from inventory uom, "PricingQtyConversionFactor" attribute will be used for pricing quantity conversion. If "PricingQtyConversionFactor" is not passed it will be considered as zero.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RepricingQty" use="optional">
                <xsd:annotation yfc:columnName="REPRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>Represents the quantity that can be used for pricing the item. Typically, the price lists are based on the total purchase quantity. But if some quantity is cancelled because of inventory shortage (non customer fault), the pricing quantity (which is based on the ordered quantity) changes, but repricing_quantity is not changed.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RetailPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The retail price of the item. this is an informational field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SettledAmount" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="SETTLED_AMOUNT" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The amount which should be settled before it is actually invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SettledQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SETTLED_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity which should be settled before it is actually invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The Tax Exemption Certificate applied to this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether this order line is taxable or not. This field is for informational purposes only. Currently, it is not used in any tax calculations. If not passed, this flag is defaulted to that of item in the catalog, if exists, else it is defaulted to "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            </xsd:all>
            <xsd:attribute name="CanUseAsServiceTool"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="GlobalItemID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsItemSuperseded" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemGroupCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SubCatalogOrganizationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:complexType>
            <xsd:attribute name="AgeVerificationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="AllowGiftWrap" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AssumeInfiniteInventory"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundleFulfillmentMode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="BundlePricingStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CapacityPerOrderedQty"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CapacityQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ColorCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ComputedUnitCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfigurationKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfigurationModelName"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ConfiguredModelKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CostCurrency" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CreditWOReceipt" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DefaultProductClass"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Description" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DisplayItemDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="EffectiveEndDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EffectiveStartDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExtendedDisplayDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedCapacityQtyPerLine"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedPricingQtyPerLine"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageLabel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ImageLocation" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InvoiceBasedOnActuals"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="InvolvesSegmentChange"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsAirShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsConfigurable" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsDeliveryAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsEligibleForShippingDiscount"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsForwardingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsFreezerRequired"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsHazmat" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsModelItem" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsParcelShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsPickupAllowed" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsPreConfigured" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsProcurementAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsReturnService" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsReturnable" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsShippingAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsSoldSeparately" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsStandaloneService"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsSubOnOrderAllowed"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsValid" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Keywords" type="yfctype:String" use="optional"/>
            <xsd:attribute name="KitCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerItem" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerItemDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ManufacturerName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MasterCatalogID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxOrderQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinOrderQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinimumCapacityQuantity"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ModelItemUnitOfMeasure"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NumSecondarySerials"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderingQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingQuantityConvFactor"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingQuantityStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingUOMStrategy"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PrimaryEnterpriseCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PrimarySupplier" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductLine" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RequiresProdAssociation"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReturnWindow" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RunQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SerializedFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ServiceTypeID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipmentConsolidationWindow"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShortDescription" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SizeCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxableFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitHeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitHeightUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitLength" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitLengthUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitVolume" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitVolumeUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWeight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWeightUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWidth" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitWidthUOM" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
