Data/xapidocs/api_javadocs/XSD/YFS_getMonitoringCalendarForOrderUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getMonitoringCalendarForOrderUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getMonitoringCalendarForOrderUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getMonitoringCalendarForOrderUE_input.xsd" yfc:rootElement="MonitorRule">
        <xsd:appinfo source="yfc:structure">
            <MonitorRule hasAttributes="Y">
                <OrderStatus hasAttributes="Y"/>
            </MonitorRule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorRule" type="yfc:MonitorRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_MONITOR_RULE">
            <xsd:documentation>This table stores the rules for facilitating alert based monitoring for shipments, orders and so forth.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MonitorRuleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderStatus"/>
        </xsd:all>
        <xsd:attribute name="Age"
            type="yfctype:NumberOfHoursWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="AGE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The age of the monitor rule. The default value is '0'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AgeType" type="yfctype:AgeType" use="optional">
            <xsd:annotation yfc:columnName="AGE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The age type of the monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComparisonDateSubType"
            type="yfctype:DateSubType" use="optional">
            <xsd:annotation yfc:columnName="COMPARISON_DATE_SUB_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The subtype of the comparison date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComparisonDateType"
            type="yfctype:ComparisonDateType" use="optional">
            <xsd:annotation yfc:columnName="COMPARISON_DATE_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The type of the comparison date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ComparisonStatus"
            type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="COMPARISON_STATUS" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The comparison status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConditionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONDITION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The condition key associated to this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateSubTypeToMonitor"
            type="yfctype:EnumDateSubTypeToMonitor" use="optional">
            <xsd:annotation yfc:columnName="DATE_SUB_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>This field indicates the date sub type to monitor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeToMonitor" type="yfctype:DateType" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The date type to monitor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorConsolidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_CONSOLIDATION_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The monitor consolidation key associated with this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_RULE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The primary key of the YFS_MONITOR_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MonitorType" type="yfctype:MonitorType" use="optional">
            <xsd:annotation yfc:columnName="MONITOR_TYPE" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The monitor type associated with this montior rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The pipeline key associated with this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The priority in which conditions are processed for an event. The default value is '0'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The process type key associated with this monitor rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusToMonitor" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS_TO_MONITOR" yfc:tableName="YFS_MONITOR_RULE">
                <xsd:documentation>The status to monitor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderStatus">
        <xsd:annotation yfc:tableName="YFS_ORDER_RELEASE_STATUS">
            <xsd:documentation>This table stores status-quantity break up for each line-schedule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The order header that is associated with this order release status record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The order line that is associated with this order release status record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineScheduleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_SCHEDULE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The order line schedule that this order release status record is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The order release that is associated with this order release status record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseStatusKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_RELEASE_STATUS_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The primary key for the YFS_ORDER_RELEASE_STATUS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The pipeline that this release line belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Receiving node this order is meant for.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Ship node shipping this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>This field indicates the status of the order release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The date when a positive quantity was moved to this status for the first time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDescription"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Description of the order status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="STATUS_QUANTITY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The quantity currently in this status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusReason" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_QUANTITY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The total quantity to ever be moved into this status. If you have a cyclic status (for instance backorder, which can happen multiple times), this column will not provide useful information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
