Data/xapidocs/api_javadocs/XSD/YFS_ORDER_CHANGE.ON_ORDER_RELEASE_STATUS_CHANGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/ORDER_CHANGE/ON_ORDER_RELEASE_STATUS_CHANGE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/ORDER_CHANGE/ON_ORDER_RELEASE_STATUS_CHANGE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_ORDER_CHANGE.ON_ORDER_RELEASE_STATUS_CHANGE.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <FromOrderReleaseStatuses>
                            <FromOrderReleaseStatus hasAttributes="Y">
                                <FromOrderLineSchedule hasAttributes="Y"/>
                                <ToOrderReleaseStatuses>
                                    <ToOrderReleaseStatus hasAttributes="Y">
                                    <ToOrderLineSchedule hasAttributes="Y"/>
                                    </ToOrderReleaseStatus>
                                </ToOrderReleaseStatuses>
                            </FromOrderReleaseStatus>
                        </FromOrderReleaseStatuses>
                    </OrderLine>
                </OrderLines>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
        </xsd:all>
        <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerRewardsNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_REWARDS_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The identifier of the customer's rewards number</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TeamCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="TEAM_CODE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>Indicates a team that can manage this order.  Default is Null.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FromOrderReleaseStatuses"/>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FromOrderReleaseStatuses">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:FromOrderReleaseStatus"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FromOrderReleaseStatus">
        <xsd:annotation yfc:tableName="YFS_ORDER_RELEASE_STATUS">
            <xsd:documentation>This table stores status-quantity break up for each line-schedule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FromOrderLineSchedule"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ToOrderReleaseStatuses"/>
            </xsd:all>
            <xsd:attribute name="DatesChanged" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
												This Flag shows whether to expected shipment date or expected delivery date has changed or not.  
												</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MovedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
												The quantity has moved. 
												</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseStatusKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_RELEASE_STATUS_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The primary key for the YFS_ORDER_RELEASE_STATUS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The pipeline that this release line belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>This field indicates the status of the order release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The date when a positive quantity was moved to this status for the first time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="STATUS_QUANTITY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The quantity currently in this status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusReason" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_QUANTITY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The total quantity to ever be moved into this status. If you have a cyclic status (for instance backorder, which can happen multiple times), this column will not provide useful information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FromOrderLineSchedule">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
            <xsd:documentation>This table stores order line scheduling information for order lines. An order line can have multiple order line schedules. Any change in sourcing related attributes like ship node, reciving node, lot number etc. inserts a record into this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The batch number that has been specified on the scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The date the scheduled order line is expected to be delivered by.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The date the scheduled order line is expected to ship by.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The lot number that has been specified on the scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineScheduleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_SCHEDULE_KEY" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE_SCHEDULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The node that will receive the scheduled order line, if applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The revision number that has been specified on the scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The date the scheduled order line should be shipped by.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The ship node fulfilling this scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The tag number that has been specified on the scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToOrderReleaseStatuses">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ToOrderReleaseStatus"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToOrderReleaseStatus">
        <xsd:annotation yfc:tableName="YFS_ORDER_RELEASE_STATUS">
            <xsd:documentation>This table stores status-quantity break up for each line-schedule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ToOrderLineSchedule"/>
            </xsd:all>
            <xsd:attribute name="MovedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
												The quantity has moved. 
												</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseStatusKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_RELEASE_STATUS_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The primary key for the YFS_ORDER_RELEASE_STATUS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The pipeline that this release line belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>This field indicates the status of the order release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The date when a positive quantity was moved to this status for the first time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="STATUS_QUANTITY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The quantity currently in this status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusReason" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_QUANTITY" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>The total quantity to ever be moved into this status. If you have a cyclic status (for instance backorder, which can happen multiple times), this column will not provide useful information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToOrderLineSchedule">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
            <xsd:documentation>This table stores order line scheduling information for order lines. An order line can have multiple order line schedules. Any change in sourcing related attributes like ship node, reciving node, lot number etc. inserts a record into this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The batch number that has been specified on the scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The date the scheduled order line is expected to be delivered by.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The date the scheduled order line is expected to ship by.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The lot number that has been specified on the scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineScheduleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_SCHEDULE_KEY" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE_SCHEDULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The node that will receive the scheduled order line, if applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The revision number that has been specified on the scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The date the scheduled order line should be shipped by.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The ship node fulfilling this scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The tag number that has been specified on the scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
