Data/xapidocs/api_javadocs/XSD/YFS_PRE_RECEIVE_RECEIPT.ON_PALLET_PRE_RECEIPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/PRE_RECEIVE_RECEIPT/ON_PALLET_PRE_RECEIPT"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/PRE_RECEIVE_RECEIPT/ON_PALLET_PRE_RECEIPT" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_PRE_RECEIVE_RECEIPT.ON_PALLET_PRE_RECEIPT.xsd" yfc:rootElement="Receipt">
        <xsd:appinfo source="yfc:structure">
            <Receipt hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <ReceiptLines>
                    <ReceiptLine hasAttributes="Y"/>
                </ReceiptLines>
            </Receipt>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Receipt" type="yfc:ReceiptXSDType">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReceiptXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ReceiptLines"/>
        </xsd:all>
        <xsd:attribute name="ArrivalDateTime" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ARRIVAL_DATE_TIME" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The timestamp when the receipt arrived.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The type of document to which a receipt belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DriverName" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="DRIVER_NAME" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The name of the driver.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The enterprise to which this receipt belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumOfCartons" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The number of cartons in the receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumOfPallets" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The number of pallets in the receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpenReceiptFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OPEN_RECEIPT_FLAG" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>This flag indicates whether the receiving can be done against the receipt. Receiving can be done only for open receipts.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Pre-Received container identifier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_DATE" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The date when the receipt was started.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The primary key for the YFS_RECEIPT_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingDock" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RECEIVING_DOCK_ID" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The location where the receiving is done.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The Receiving Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The status of the receipt. As various transactions in the receipts pipeline act upon Receipt, the Receipt Status changes. Typical values are 1200-Receipt Started, 1300-Receipt In Progress, 1400-Inspection In Progress, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerLPNNo" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_LPN_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The License Plate Number of the Trailer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment was actually delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual freight charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual shipment date. This is updated by the confirmShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppointmentNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="APPOINTMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number which helps the ship node and the carrier identify the pick up details and any relevant details about the shipment delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssociationAction"
                type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Association Action.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The bill of lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The buyer organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The account number of the customer or buying organization with the carrier. This is used for arriving at the billing account number. See YFS_SHIPMENT_CONTAINER.carrier_bill_account.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier service availed for transporting this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The type of carrier. This field is denormalized from YFS_SCAC_AND_SERVICE for the scac and carrier service code on the shipment. Typical values are PARCEL, LTL, and so forth.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommercialValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="COMMERCIAL_VALUE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The commercial or declared value of the shipment for insurance purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The currency corresponding to the shipment charges.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryPlanKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_PLAN_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The delivery plan to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryTS" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_TS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date at which the shipment is delivered at its intended destination.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DestinationZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESTINATION_ZONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A classification of data on which a particular set of business processes must be applied. In this case, it happens to be the document type of the order document - basically the document type of the orders comprising the shipment. A document type derived from the base document type 0001 - ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DownLoadCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="DOWNLOAD_COUNT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of times that the shipment information has been downloaded from the user interface.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment is expected to be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as planned or arrived at in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportTaxpayerID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_TAXPAYER_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The tax payer ID of the shipping organization if the shipment is meant for export.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The entity that pays the freight. Freight Terms determines whether a shipment is Pre Paid, 3rd Party Billing or Collect Billing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The from address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="FROM_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time after which an appointment can be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasOtherShipments" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_OTHER_SHIPMENTS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HazardousMaterialFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAZARDOUS_MATERIAL_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment carries an item that is marked hazardous.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeldForConfirmation"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ITDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="IT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the IT number was stamped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ITNo" type="yfctype:NText-30" use="optional">
                <xsd:annotation yfc:columnName="IT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The license number given by government or customs for shipments going to bonded warehouses.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceComplete" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_COMPLETE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag is 'Y' when invoicing is done for the entire shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSingleOrder" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SINGLE_ORDER" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is for a single order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Indicates the level of service required for this shipment.  Default is Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LinesEntered" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="LINES_ENTERED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the lines are entered for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number assigned on the system, if the CARRIER_TYPE of the shipment is PARCEL. A shipment assigned a particular manifest number is picked up by the carrier pick up personnel for purposes of shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to store manifest number assigned by carrier server. ManifestKey on shipment is where the actual manifesting related information is stored for the manifesting process in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManuallyEntered" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MANUALLY_ENTERED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is manually entered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MergeNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="MERGE_NODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfCartons"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of cartons in the shipment. This field is only an approximation and not accurate depiction of the number of containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfPallets"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of pallets in the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderAvailableOnSystem"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_AVAILABLE_ON_SYSTEM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the order is available on the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order header key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order number of the order for the shipment while creating with SingleOrder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order release key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ORIGIN_ZONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideManualShipmentEntry"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="OVERRIDE_MANUAL_SHIPMENT_ENTRY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the "allow manual shipment entry" flag in the receiving rule can be overridden.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackListType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PACKLIST_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The packlist type. One of the attributes used in shipment consolidation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickListNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PICK_LIST_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number that indicates a group of shipments which will be picked together. A picklist is a document used for picking. It is generated for a ship node across one or more shipments and contains information on the shipment lines and the quantity for each line that is to be picked. Picklist is created by the printPickList API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickticketNo"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="PICKTICKET_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number assigned to group related shipments under one head. This is input by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The pipeline to which this shipment belongs. This is determined by the createShipment API based on the document type and several other key attributes of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The proof of delivery number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The progressive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The node that receives the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The release number of the OrderRelease for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment must be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as requested by the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresApptConfirmation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRES_APPT_CONFIRMATION" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment record has a confirmed appointment status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacIntegrationRequired"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SCAC_INTEGRATION_REQUIRED" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the carrier integration is required for the shipment. This is a computed field, and is set to Y if carrier integration is required for domestic or international shipment based on the YFS_SCAC_EX setup for the seller organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SealNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seal number on the load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_MODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to identify the mode of shipment. Typical values are TL - Truck Load, LTL - Less Than Truck Load, etc. This attribute can also be used to store any of your own categorizations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipVia" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="SHIP_VIA" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The means of shipment. This is usually Land, Air, Sea, or Ocean.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentClosedFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CLOSED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is closed. This is a computed field, which is used internally as a way to logically mark data for purge so that transactions do not look into this data. This data is later purged by the purge agent at preset intervals. This is updated by the close shipment agent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentConfirmUpdatesDone"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONFIRM_UPDATES_DONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment confirm updates have been done. This is an internal field, which is used by the confirmShipment API to identify if shipment confirmation updates have already been performed on the shipment. Since there are various ways through which shipment confirmation updates could happen -- receiveIntransitUpdates, closeManifest, or confirmShipment -- it is required that there be an attribute that identifies if the shipment confirmation has indeed been done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerizedFlag"
                type="yfctype:EnumShipmentContainerizedFlag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_CONTAINERIZED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This is an internal field that indicates the containerization state of the shipment. The values being: 01 - not containerized, 02 - containerization in progress and 03 - indicating complete containerization. This is updated by all shipment APIs that containerize or uncontainerize. APIs include createShipment, packShipment, unpackShipment, confirmShipment and changeShipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentDeliverUpdatesDone"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="SHIPMENT_DELIVER_UPDATES_DONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This internal field is used by the receiveIntransitUpdates API to identify if delivery updates have already been done. Delivery updates are possible by explicitly invoking the deliverShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentPlannedFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_PLANNED_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is planned. This is a computed field. When every leg of the shipment from source to destination is included into loads, the shipment is said to be planned. This is updated by the manageLoad API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user-defined shipment type. This is used to indicate the composition of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The status of the shipment. As various transactions in the shipment's pipeline act upon the shipment, the shipment status changes. Typical values are 1100 - Created, 1200 - Being Picked, 1400 - Shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="TO_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time before which an appointment could be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalActualCharge" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ACTUAL_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalEstimatedCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ESTIMATED_CHARGE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The estimated charge for transporting the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total volume of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME_UOM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of volume specified in TotalVolume attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total weight of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of weight specified in Total_Weight attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The trailer number by which the shipment leaves the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReceiptLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:ReceiptLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReceiptLine">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_LINE">
            <xsd:documentation>Stores the receipt line information, including item details and item tag information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AvailableForTranQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The quantity available for transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The item's batch number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A CaseId.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The country of origin of the item being requested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DispositionCode"
                type="yfctype:DispositionCode" use="optional">
                <xsd:annotation yfc:columnName="DISPOSITION_CODE" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The code used to identify a disposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DispositionLocation"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DISPOSITION_LOCATION" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The location where the item is kept after receiving.                     This column is used for non-WMS nodes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The enterprise associated with the order. The enterprise's default rule set is used to determine all business rules associated with the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InspectedBy" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="INSPECTED_BY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The person who does the inspection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InspectionComments"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="INSPECTION_COMMENTS" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The inspection comments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InspectionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="INSPECTION_DATE" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The date of inspection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsInspectionPending"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_INSPECTION_PENDING" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>This flag indicates whether inspection is pending for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The identifier of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The identifier of the location. The location in the receiving node in which receiving was done for this line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The reference information for the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The manufacturing date of the lot.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="NetWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="NET_WEIGHT" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The weight of just the items in the receipt. The unit of weight is as specified by the NET_WEIGHT_UOM attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NetWeightUom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="NET_WEIGHT_UOM" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The unit of measure of the net weight.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The order header key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The order line key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The order number. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order. The order number can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The order release key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrigReceiptLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORIG_RECEIPT_LINE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The original receipt line key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_QUANTITY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The original quantity of the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A PalletId.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The prime line number of an order. This field is a part of an order line's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The quantity of item on the receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The receipt header key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_LINE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The primary key for the YFS_RECEIPT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_LINE_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The receipt line number. This field is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The release number. This field is a part of an order release's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The revision number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The serial number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The date by which the item should be shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The shipment container key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The shipment line key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_LINE_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>A part of the unique key of a shipment line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentSubLineNo"
                type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_SUB_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>Part of Unique Key of ShipmentLine entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>A part of the unique key of an order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The unique key attribute, which identifies the tag attributes of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionId" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The unique identifier for a transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionName" type="yfctype:Text-50" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The name of the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
