Data/xapidocs/api_javadocs/XSD/YFS_createPriceProgram_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createPriceProgram/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createPriceProgram/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createPriceProgram_input.xsd" yfc:rootElement="PriceProgram">
        <xsd:appinfo source="yfc:structure">
            <PriceProgram hasAttributes="Y">
                <PriceProgramDefnList>
                    <PriceProgramDefn hasAttributes="Y"/>
                </PriceProgramDefnList>
            </PriceProgram>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceProgram" type="yfc:PriceProgramXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_PROGRAM">
            <xsd:documentation>
                <div>
				A buying organization can be assigned a price program by aselling organization. Price programs are always defined by selling organizations. This table stores valid price programs as defined by a selling organization.
					<Validation>
                        <Condition>
                            <code>PriceProgram</code> should be the root node. If not valid:
						</Condition>
                        <Error
                            Description="Input document is empty or contains invalid data" ErrorCode="YFS10363"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceProgramXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceProgramDefnList"/>
        </xsd:all>
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>
                    <div>
						Link to YFS_Organization.
						<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is a mandatory attribute. If not passed:
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_DESCRIPTION" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Description of a price program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramName" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_NAME" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>
                    <div>
						The price program used for pricing the order.
						<Validation>
                            <Condition>
                                <code>PriceProgramName</code> is a mandatory attribute. If not passed:
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PriceProgramDefnList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PriceProgramDefn"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceProgramDefn">
        <xsd:annotation yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
            <xsd:documentation>
                <div>
						The definition of a price program is stored in this table. A price program definition identifies the price list to be used for a given currency and date.
							<Validation>
                        <Condition>
								 Either <code>PriceSetName</code> or <code>PriceSetKey</code> must be passed. <code>PriceSetName</code> is ignored if <code>PriceSetKey</code> is passed. If not passed:
								</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                    </Validation>
                    <Validation>
                        <Condition>
								 Either <code>PriceSetName</code> or <code>PriceSetKey</code> must be valid. If not valid:
								</Condition>
                        <Error
                            Description="Price Set parameters not passed or invalid" ErrorCode="OMP10001"/>
                    </Validation>
                    <Validation>
                        <Condition>
								 The price set owner organization and price program owner organization must be the same. If they are different:
								</Condition>
                        <Error
                            Description="Price set owner organization and price program owner organization are different" ErrorCode="OMP10030"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="required">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>
                        <div>
								The currency in which pricing needs to be done.
								<Validation>
                                <Condition>
                                    <code>Currency</code> is a mandatory attribute. If not passed:
									</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                            </Validation>
                            <Validation>
                                <Condition>
									The <code>Currency</code> passed should match with the associated price set currency. If they do not match:
									</Condition>
                                <Error
                                    Description="Price program definition and associated price set should have same currency" ErrorCode="OMP10032"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="END_DATE" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Date this price program stops taking effect.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceSetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_SET_KEY" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Price List to be used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceSetName" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The price program used for pricing the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="START_DATE" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>
                        <div>
								The date this price program starts to take effect.
								<Validation>
                                <Condition>
                                    <code>StartDate</code> must be less than <code>EndDate</code>. If <code>StartDate</code>and <code>EndDate</code> are not passed, the current system date and time are used. If <code>StartDate</code> is not less than <code>EndDate</code>:
									</Condition>
                                <Error
                                    Description="Start Date must be before End Date" ErrorCode="OMP10033"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
