Data/xapidocs/api_javadocs/XSD/YFS_getStatusInventoryTypesList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getStatusInventoryTypesList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getStatusInventoryTypesList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getStatusInventoryTypesList_output.xsd" yfc:rootElement="StatusInventoryTypesList">
        <xsd:appinfo source="yfc:structure">
            <StatusInventoryTypesList hasAttributes="Y">
                <StatusInventoryTypes hasAttributes="Y">
                    <StatusOfInventory hasAttributes="Y"/>
                    <BuyerSupplyTypeOfInventory hasAttributes="Y"/>
                    <SellerSupplyTypeOfInventory hasAttributes="Y"/>
                    <SellerDemandTypeOfInventory hasAttributes="Y"/>
                </StatusInventoryTypes>
            </StatusInventoryTypesList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StatusInventoryTypesList" type="yfc:StatusInventoryTypesListXSDType"/>
    <xsd:complexType name="StatusInventoryTypesListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:StatusInventoryTypes"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="StatusInventoryTypes">
        <xsd:annotation yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
            <xsd:documentation>This internal configuration table links inventory bucket with order status based on document type. When order status is changed, application looks into this table to determine how inventory updates should be done. Inventory is updated for buyer and seller organizations. For buyer organizations, supply is moved from one bucket to another. For seller organizations, both supply and demand are moved from one bucket to another.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StatusOfInventory"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BuyerSupplyTypeOfInventory"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SellerSupplyTypeOfInventory"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SellerDemandTypeOfInventory"/>
            </xsd:all>
            <xsd:attribute name="BuyerSupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BUYER_SUPPLY_TYPE" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>For the status, buyer supply would be in this inventory bucket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Key parameter identifying which document type this record applies to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Fob" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOB" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Not Used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasChainedChild" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_CHAINED_CHILD" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Indicates if order line quantity is chained to another order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IncrementSellerSupply"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INCREMENT_SELLER_SUPPLY" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Indicates is seller's supply should be incremented/decremented at all when something is moved to this status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Identifies the process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerDemandType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SELLER_DEMAND_TYPE" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>For the status, seller's inventory demand would be in this bucket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerSupplyType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SELLER_SUPPLY_TYPE" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>For the status, seller's supply would be in this bucket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Order Status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusInventoryID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="STATUS_INVENTORY_ID" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Identification of the Status Inventory Type.  This identification will be used as a reference from YFS_Status_Inv_Selection table for selection base on the Chain Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusInventoryTypesKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="STATUS_INVENTORY_TYPES_KEY" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Primary key of status inventory types.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SYSTEM_DEFINED" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                    <xsd:documentation>Indicates if a status inventory type configuration is system defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StatusOfInventory">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The unique identifier for the status within a process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusName" type="yfctype:StatusName" use="optional">
                <xsd:annotation yfc:columnName="STATUS_NAME" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The name for the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BuyerSupplyTypeOfInventory">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
            <xsd:documentation>Configuration table. Stores valid supply types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>Description of a supply type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>A Supply type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SellerSupplyTypeOfInventory">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
            <xsd:documentation>Configuration table. Stores valid supply types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>Description of a supply type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>A Supply type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SellerDemandTypeOfInventory">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
            <xsd:documentation>This table stores valid demand types for the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>A Demand type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>Description of a demand type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
