Data/xapidocs/api_javadocs/XSD/YFS_Location_Storage_Code_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Location_Storage_Code_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Location_Storage_Code_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Location_Storage_Code_master.xsd" yfc:rootElement="LocationStorageCode">
        <xsd:appinfo source="yfc:structure">
            <LocationStorageCode hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationStorageCode" type="yfc:LocationStorageCodeXSDType">
        <xsd:annotation yfc:tableName="YFS_LOCATION_STORAGE_CODE">
            <xsd:documentation>A location may be associated with a location storage code. A storage code indicates a storage classification of location. It is an attribute of the location that allows the warehouse to store items that have the same storage profile as that of the location.  For example, hazardous inflammable items need locations close to fire extinguishers. In this case the locations will be marked as having a storage code which is suitable for storing inflammable item. This ensures that only inflammable items get to these locations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationStorageCodeXSDType">
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>A brief description of the storage code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationStorageCode"
            type="yfctype:StorageCode" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_STORAGE_CODE" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>A storage code indicates a storage classification of the location. It is an attribute of the location that allows the warehouse to store items with similar storage profile as that of the location.  For example, hazardous inflammable items need locations close to fire extinguishers. In this case, the locations will be marked as having a storage code which is suitable for storing inflammable item. This ensures that only inflammable items are stored in these locations.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationStorageKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_STORAGE_KEY" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>The primary key for the YFS_LOCATION_STORAGE_CODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LOCATION_STORAGE_CODE">
                <xsd:documentation>Node Identifier. Primary key of the YFS_SHIP_NODE table. Identifies the node to which the location belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
