Data/xapidocs/api_javadocs/XSD/YFS_processOrderHoldTypeUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/processOrderHoldTypeUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/processOrderHoldTypeUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_processOrderHoldTypeUE_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order>
                <ProcessedHoldTypes>
                    <OrderHoldType hasAttributes="Y"/>
                </ProcessedHoldTypes>
                <HoldTypesToAdd>
                    <OrderHoldType hasAttributes="Y"/>
                </HoldTypesToAdd>
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <ProcessedHoldTypes>
                            <OrderHoldType hasAttributes="Y"/>
                        </ProcessedHoldTypes>
                        <HoldTypesToAdd>
                            <OrderHoldType hasAttributes="Y"/>
                        </HoldTypesToAdd>
                    </OrderLine>
                </OrderLines>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="ProcessedHoldTypes">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderHoldType">
                            <xsd:annotation yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                <xsd:documentation>This table stores contains all the hold types defined for an order.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="HoldType"
                                    type="yfctype:CodeType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>Hold type.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ReasonText"
                                    type="yfctype:ReasonText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>The reason text associates to the order hold type.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ResolverUserId"
                                    type="yfctype:LoginId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RESOLVER_USER_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>This is the user who can resolve or reject this hold. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Status"
                                    type="yfctype:ShortStatus" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>Status to indicate whether hold type is approved or rejected.
						<br/>Valid Values: <b>
                                    <code>1200 (Rejected)</code>
                                    </b> or <b>
                                    <code>1300 (Approved)</code>
                                    </b>. 
						<br/>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="HoldTypesToAdd">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderHoldType">
                            <xsd:annotation yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                <xsd:documentation>This table stores contains all the hold types defined for an order.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="HoldType"
                                    type="yfctype:CodeType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>Hold type.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ReasonText"
                                    type="yfctype:ReasonText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>The reason text associates to the order hold type.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ResolverUserId"
                                    type="yfctype:LoginId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RESOLVER_USER_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>This is the user who can resolve or reject this hold. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Status"
                                    type="yfctype:ShortStatus" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>Status of the order hold type.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="ProcessedHoldTypes">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="OrderHoldType">
                                <xsd:annotation yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>This table stores contains all the hold types defined for an order.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="HoldType"
                                    type="yfctype:CodeType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>Hold type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ReasonText"
                                    type="yfctype:ReasonText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>The reason text associates to the order hold type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ResolverUserId"
                                    type="yfctype:LoginId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RESOLVER_USER_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>This is the user who can resolve or reject this hold. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Status"
                                    type="yfctype:ShortStatus" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>Status to indicate whether hold type is approved or rejected.
						<br/>Valid Values: <b>
                                    <code>1200 (Rejected)</code>
                                    </b> or <b>
                                    <code>1300 (Approved)</code>
                                    </b>. 
						<br/>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="HoldTypesToAdd">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="OrderHoldType">
                                <xsd:annotation yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>This table stores contains all the hold types defined for an order.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="HoldType"
                                    type="yfctype:CodeType" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="HOLD_TYPE" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>Hold type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ReasonText"
                                    type="yfctype:ReasonText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>The reason text associates to the order hold type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ResolverUserId"
                                    type="yfctype:LoginId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RESOLVER_USER_ID" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>This is the user who can resolve or reject this hold. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Status"
                                    type="yfctype:ShortStatus" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_HOLD_TYPE">
                                    <xsd:documentation>Status of the order hold type.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
