Data/xapidocs/api_javadocs/XSD/YFS_manageTransactionalRelationships_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageTransactionalRelationships/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageTransactionalRelationships/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_manageTransactionalRelationships_input.xsd" yfc:rootElement="TransactionalRelationships">
        <xsd:appinfo source="yfc:structure">
            <TransactionalRelationships>
                <TransactionalRelationship hasAttributes="Y"/>
            </TransactionalRelationships>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TransactionalRelationships" type="yfc:TransactionalRelationshipsXSDType"/>
    <xsd:complexType name="TransactionalRelationshipsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionalRelationship"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="TransactionalRelationship">
        <xsd:annotation yfc:tableName="YFS_TRANSACTIONAL_RELATION">
            <xsd:documentation>
                <div>This table stores details about the relationship between two transactional records.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="HierarchyLevel" use="optional">
                <xsd:annotation yfc:columnName="HIERARCHY_LEVEL" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>The depth of this transactional record relative to the root node in the hierarchy.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-10"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IsDependencyResolved"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DEPENDENCY_RESOLVED" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>This flag may be used to store whether the dependency on the related transactional record is resolved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <p>Operation to perform on this record. Default: If not passed then API will try to either create or modify depending on the existence of the data.</p>
                            <p>Valid Values: </p>
                            <p>
                                <b>
                                    <code>Manage</code>
                                </b> - Manage is the default operation, it will either create or modify depending on the existence of the data.</p>
                            <p>
                                <b>
                                    <code>Create</code>
                                </b> - Create a new record.</p>
                            <p>
                                <b>
                                    <code>Modify</code>
                                </b> - Modify an existing record.</p>
                            <p>
                                <b>
                                    <code>Delete</code>
                                </b> - Delete an existing record.</p>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelatedTableKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RELATED_TABLE_KEY" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>The primary key of the related transactional record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelatedTableName"
                type="yfctype:TableName" use="optional">
                <xsd:annotation yfc:columnName="RELATED_TABLE_NAME" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>
                        <div>The primary key of the related transactional record.<br/>This attribute corresponds to the PrimaryKey Fact. 
						<Validation>
                                <Condition>
								The RelatedTableName must be valid.
							</Condition>
                                <Error
                                    Description="The RelatedTableName is not valid." ErrorCode="OMP956_0002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_KEY" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>The primary key of YFS_TRANSACTIONAL_RELATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:RelationShipType" use="required">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>
                        <div>The type of relationship between the two transactional records.
						<Validation>
                                <Condition>
								The RelationshipType must be passed.
							</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RootNodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ROOT_NODE_KEY" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>The primary key of the root transactional record, if this relationship is part of a hierarchy. This column may be used to store the common ancestor in the hierarchy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableKey" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="TABLE_KEY" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>
                        <div>The primary key of the transactional record for which this relationship is defined.
						<Validation>
                                <Condition>
								The TableKey must be passed.
							</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="required">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_TRANSACTIONAL_RELATION">
                    <xsd:documentation>
                        <div>The TableName of the transactional record for which this relationship is defined. 
						<Validation>
                                <Condition>
								The TableName must be passed.
							</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                            </Validation>
                            <Validation>
                                <Condition>
								The TableName must be valid.
							</Condition>
                                <Error
                                    Description="The TableName is not valid." ErrorCode="OMP956_0001"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
