Data/xapidocs/api_javadocs/XSD/YFS_getSourcingConfig_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getSourcingConfig/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getSourcingConfig/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getSourcingConfig_input.xsd" yfc:rootElement="SourcingConfig">
        <xsd:appinfo source="yfc:structure">
            <SourcingConfig hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SourcingConfig" type="yfc:SourcingConfigXSDType">
        <xsd:annotation yfc:tableName="YFS_SOURCING_CONFIG">
            <xsd:documentation>This table contains enterprise configuration used for sourcing during scheduling.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SourcingConfigXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>The organization that defines this configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourcingConfigKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SOURCING_CONFIG_KEY" yfc:tableName="YFS_SOURCING_CONFIG">
                <xsd:documentation>The primary key of the YFS_SOURCING_CONFIG table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
