Data/xapidocs/api_javadocs/XSD/YFS_INSPECT_RECEIPT.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/INSPECT_RECEIPT/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/INSPECT_RECEIPT/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_INSPECT_RECEIPT.ON_SUCCESS.xsd" yfc:rootElement="Receipt">
        <xsd:appinfo source="yfc:structure">
            <Receipt hasAttributes="Y">
                <Instructions>
                    <Instruction hasAttributes="Y"/>
                </Instructions>
                <ReceiptLines>
                    <ReceiptLine hasAttributes="Y">
                        <OrderLine hasAttributes="Y"/>
                    </ReceiptLine>
                </ReceiptLines>
                <Shipment hasAttributes="Y"/>
            </Receipt>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Receipt" type="yfc:ReceiptXSDType">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReceiptXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Instructions"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ReceiptLines"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
        </xsd:all>
        <xsd:attribute name="ArrivalDateTime" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ARRIVAL_DATE_TIME" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The timestamp when the receipt arrived.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DriverName" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="DRIVER_NAME" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The name of the driver.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumOfCartons" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The number of cartons in the receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumOfPallets" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The number of pallets in the receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpenReceiptFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OPEN_RECEIPT_FLAG" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>This flag indicates whether the receiving can be done against the receipt. Receiving can be done only for open receipts.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_DATE" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The date when the receipt was started.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The primary key for the YFS_RECEIPT_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingDock" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RECEIVING_DOCK_ID" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The location where the receiving is done.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The Receiving Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The status of the receipt. As various transactions in the receipts pipeline act upon Receipt, the Receipt Status changes. Typical values are 1200-Receipt Started, 1300-Receipt In Progress, 1400-Inspection In Progress, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerLPNNo" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_LPN_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The License Plate Number of the Trailer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Instructions">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Instruction"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instruction">
        <xsd:annotation yfc:tableName="YFS_INSTRUCTION_DETAIL">
            <xsd:documentation>Generic table used to store instructions associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Action" type="yfctype:Action" use="optional"/>
            <xsd:attribute name="InstructionDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_DETAIL_KEY" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Primary key attribute of YFS_INSTRUCTION_DETAIL table that identifies an instruction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionText"
                type="yfctype:InstructionText" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TEXT" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Free-form text indicating any additional information related to the instruction type or otherwise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionType"
                type="yfctype:InstructionType" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TYPE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Categorization of instructions so that they can be grouped together for reference. For example, you may have instructions of type Pick, Pack, and Ship for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionURL" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_URL" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>The URL relating to and/or containing the instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionUsage"
                type="yfctype:InstructionUsage" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_USAGE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Another way of categorization of instructions, over and above the instruction type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReferenceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_KEY" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Link to the entity key for which the instruction is stored. For example, if this record stores order header level instructions, then this attribute stores the value of order header key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>You could have an instruction exceeding the limits of a single record. Sequence number is used to provide a way to store a link between such instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="optional">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Identifies the entity for which this instruction is stored. For example, if this record stores order header instructions, then you will see this field reading YFS_ORDER_HEADER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReceiptLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ReceiptLine"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReceiptLine">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_LINE">
            <xsd:documentation>Stores the receipt line information, including item details and item tag information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
            <xsd:attribute name="DispositionCode"
                type="yfctype:DispositionCode" use="optional">
                <xsd:annotation yfc:columnName="DISPOSITION_CODE" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The code used to identify a disposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DispositionLocation"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DISPOSITION_LOCATION" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The location where the item is kept after receiving.                     This column is used for non-WMS nodes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InspectedBy" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="INSPECTED_BY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The person who does the inspection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InspectionComments"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="INSPECTION_COMMENTS" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The inspection comments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InspectionDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="INSPECTION_DATE" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The date of inspection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The order header key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The order line key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The order release key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrigReceiptLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORIG_RECEIPT_LINE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The original receipt line key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_QUANTITY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The original quantity of the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The quantity of item on the receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The receipt header key that is associated with this receipt line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_LINE_KEY" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The primary key for the YFS_RECEIPT_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_LINE_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The receipt line number. This field is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The serial number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The date by which the item should be shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The unique key attribute, which identifies the tag attributes of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_RECEIPT_LINE">
                    <xsd:documentation>The unique identifier of the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionName" type="yfctype:Text-50" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The name of the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllocationDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AllocationLeadTime"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CarrierAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_ACCOUNT_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The customers carrier account number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The carrier service code for this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChainedFromOrderHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CHAINED_FROM_ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order header that is associated with this chained order line. If this line is chained from another order line, this key will point to the parent order line's header record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChainedFromOrderLineKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CHAINED_FROM_ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line that is associated with this chained order line. If this line is chained from another order line, this key will point to the parent order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConditionVariable1"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_VARIABLE_1" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>A user defined variable that can be used for condition building in process modeling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConditionVariable2"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CONDITION_VARIABLE_2" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>A user defined variable that can be used for condition building in process modeling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLinePONo"
                type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The buyer PO line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerPONo" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The buyer's PO number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryCode"
                type="yfctype:DeliveryCode" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_CODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This field indicates who will pay the freight. Application understands values such as SUPPLIER, ENTERPRISE and MARKETPLACE to mean that each of these organizations will pay for the freight. You could however pass any other value which is a valid shipment charge type as understood by the carrier by which the shipment is transported. See YFS_SHIPMENT_CONTAINER.carrier_payment_type for additional information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This field can be used for line classification and reporting purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DependencyShippingRule"
                type="yfctype:EnumDependencyShippingRule" use="optional">
                <xsd:annotation
                    yfc:columnName="DEPENDENCY_SHIPPING_RULE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This field indicates whether any order lines are dependant on the parent order line. This field can only be specified for the parent line. If this field is specified, it is defaulted on all of the dependant lines. This field is ignored if it is specified on a dependant line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DependentOnLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DEPENDENT_ON_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line key that this order line is associated with. This field will indicate which order line is the parent of the the order line for line dependencies.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DerivedFromOrderHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DERIVED_FROM_ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order header that is associated with this derived order line. If this line was derived from another order line, this key will point to the parent order line's header record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DerivedFromOrderLineKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DERIVED_FROM_ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line that is associated with this derived order line. If this line was derived from another order line, this key will point to the parent order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DerivedFromOrderReleaseKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DERIVED_FROM_ORDER_RELEASE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order release that this derived order line is associated with. If this line was derived from another order line, this key will point to the parent order release record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributionRuleId"
                type="yfctype:DistributionRuleId" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>the identifier of the distribution group that is used to determine the ship node(s) that will ship the order line. If not proviFded, the seller organization's default distribution rule ID is used. If provided, it must be a valid ID for the Seller organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FillQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="FILL_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The minimum order line quantity that must be fulfilled in an order release before it is shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FOB" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>Indicates Freight Terms for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasChainedLines" type="yfctype:String" use="optional"/>
            <xsd:attribute name="HasDerivedChild" type="yfctype:String" use="optional"/>
            <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag determines whether a hold has been placed on the order when certain hold type criteria are met. If order is on hold, default configuration will stop the shceduling and release process for the order. The flag is reset to 'N' when all the hold types have been resolved on the order and all of its order lines. Based on hold type configuration, certain transactions may not be allowed to process. Note that there is no validation made on the hold applied but this flag can be reset by the application based on hold types existed on the order. Default: N Valid Values: Y or N</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldReasonCode"
                type="yfctype:HoldReasonCode" use="optional">
                <xsd:annotation yfc:columnName="HOLD_REASON_CODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImportLicenseExpDate"
                type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="IMPORT_LICENSE_EXP_DATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The expiration date of the import license number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImportLicenseNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="IMPORT_LICENSE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The import license number to be used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedExtendedPrice"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="INVOICED_EXTENDED_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The total extended price which has already been invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedQty" type="yfctype:String" use="optional"/>
            <xsd:attribute name="KitCode" type="yfctype:EnumKitCode" use="optional">
                <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The collection of items that form a unit. For example, a home theatre system is a unit consisting of kit components, such as a DVD player, TV, CD player, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>Indicates the level of service required for this order line.  Default is Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSeqNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="LINE_SEQ_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line sequence number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineType" type="yfctype:LineType" use="optional">
                <xsd:annotation yfc:columnName="LINE_TYPE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The line type. This field can be used in process modeling for pipeline determination, or for doing conditional processing for this line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxLineStatus" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MaxLineStatusDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="MergeNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="MERGE_NODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The node where two or more order lines that are to be delivered together should be merged before the final delivery. This field is required when the DependancyShippingRule is set to '02'.  Additionally this field will indicate forwarding location for zone skipping.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinLineStatus" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinLineStatusDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="MinShipByDate" use="optional">
                <xsd:annotation yfc:columnName="MIN_SHIP_BY_DATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The preferred minimum ship by date of the available supply that order line can allocate against.  This only applies to the order line or kit line with time-sensitive item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OpenQty" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order header that this order line is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity of the line item that has been ordered. If part of the line is cancelled, this number is reduced appropriately. If an order line is returned, this number is not reduced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrigOrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORIG_ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The line from which this line was created (split process).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalOrderedQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_ORDERED_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity which was ordered at order creation. This is not modified after order confirmation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherCharges"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="OTHER_CHARGES" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sum of all the line level charges.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackListType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PACKLIST_TYPE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The code indicating the type of packlist to be used for the line. Lines requiring different pack lists are not mixed in a single order release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentOfDependentGroup"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="PARENT_OF_DEPENDENT_GROUP" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether this line is a parent of a dependency group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonalizeCode" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PERSONALIZE_CODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The code for personalization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonalizeFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PERSONALIZE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether this line needs personalization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PICKABLE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This field is used internally.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pipeline that this order line belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This field is passed out in the Tax calculation user exits.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The receiving node that is associated with this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RemainingQty" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReqCancelDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_CANCEL_DATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The requested cancel date. If not provided, this field is defaulted from the order header during order creation. Refer to the YFS_ORDER_HEADER table for more details.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqDeliveryDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_DELIVERY_DATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The requested delivery date. If not provided, this field is defaulted from the order header during order creation. Refer to the YFS_ORDER_HEADER table for more details.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqShipDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_SHIP_DATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The requested ship date. If not provided, this field is defaulted from the order header during order creation. Refer to the YFS_ORDER_HEADER table for more details.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReservationID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="RESERVATION_ID" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The reservation ID. If this item was reserved before order creation, pass an ID to associate the line with the reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReservationPool" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RESERVATION_POOL" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The reservation identifier. If this item was reserved before order creation, pass an ID to associate the line with the reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnReason" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RETURN_REASON" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The reason for returning the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnReasonLongDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReturnReasonShortDesc"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SCAC" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The carrier to be used for this line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ScacAndService" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ScacAndServiceKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The segment of the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The segment type of the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The serial number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The ship node that is associated with this order line. If provided, all releases will be made against this node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_ID" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The ship to identifier.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipTogetherNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TOGETHER_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SplitQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SPLIT_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The quantity which has been split from this line due to substitutions, price negotiations etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:String" use="optional"/>
            <xsd:attribute name="StatusQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranDiscrepancyQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TRAN_DISCREPANCY_QTY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The transaction discrepancy quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment was actually delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActualShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The actual shipment date. This is updated by the confirmShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AppointmentNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="APPOINTMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number which helps the ship node and the carrier identify the pick up details and any relevant details about the shipment delivery.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The bill of lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The buyer organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierAccountNo"
                type="yfctype:AccountNo" use="optional">
                <xsd:annotation yfc:columnName="CUSTCARRIER_ACCOUNT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The account number of the customer or buying organization with the carrier. This is used for arriving at the billing account number. See YFS_SHIPMENT_CONTAINER.carrier_bill_account.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier service availed for transporting this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommercialValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="COMMERCIAL_VALUE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The commercial or declared value of the shipment for insurance purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The currency corresponding to the shipment charges.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DeliveryCode"
                type="yfctype:DeliveryCode" use="optional">
                <xsd:annotation yfc:columnName="DELIVERY_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The field is deprecated and is no longer in use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DestinationZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DESTINATION_ZONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A classification of data on which a particular set of business processes must be applied. In this case, it happens to be the document type of the order document - basically the document type of the orders comprising the shipment. A document type derived from the base document type 0001 - ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DownLoadCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="DOWNLOAD_COUNT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of times that the shipment information has been downloaded from the user interface.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment is expected to be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as planned or arrived at in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExportTaxpayerID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="EXPORT_TAXPAYER_ID" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The tax payer ID of the shipping organization if the shipment is meant for export.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreightTerms" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="FREIGHT_TERMS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The entity that pays the freight. Freight Terms determines whether a shipment is Pre Paid, 3rd Party Billing or Collect Billing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FROM_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The from address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="FROM_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time after which an appointment can be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HazardousMaterialFlag"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAZARDOUS_MATERIAL_FLAG" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment carries an item that is marked hazardous.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HeldForConfirmation"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ITDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="IT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the IT number was stamped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ITNo" type="yfctype:NText-30" use="optional">
                <xsd:annotation yfc:columnName="IT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The license number given by government or customs for shipments going to bonded warehouses.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSingleOrder" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SINGLE_ORDER" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment is for a single order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelOfService"
                type="yfctype:LevelOfService" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Indicates the level of service required for this shipment.  Default is Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to store manifest number assigned by carrier server. ManifestKey on shipment is where the actual manifesting related information is stored for the manifesting process in the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfCartons"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of cartons in the shipment. This field is only an approximation and not accurate depiction of the number of containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfPallets"
                type="yfctype:ContainerCount" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The number of pallets in the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OptimizedApptEndDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OptimizedApptStartDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderAvailableOnSystem"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_AVAILABLE_ON_SYSTEM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the order is available on the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order number of the order for the shipment while creating with SingleOrder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginZone" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ORIGIN_ZONE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PackListType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PACKLIST_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The packlist type. One of the attributes used in shipment consolidation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickListNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PICK_LIST_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number that indicates a group of shipments which will be picked together. A picklist is a document used for picking. It is generated for a ship node across one or more shipments and contains information on the shipment lines and the quantity for each line that is to be picked. Picklist is created by the printPickList API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickticketNo"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="PICKTICKET_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A number assigned to group related shipments under one head. This is input by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The proof of delivery number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The progressive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PromisedApptEndDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PromisedApptStartDate"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The node that receives the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The release number of the OrderRelease for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment must be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQUESTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment date as requested by the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresApptConfirmation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRES_APPT_CONFIRMATION" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This flag indicates whether the shipment record has a confirmed appointment status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SealNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seal number on the load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipMode" type="yfctype:ShipMode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_MODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>An attribute used to identify the mode of shipment. Typical values are TL - Truck Load, LTL - Less Than Truck Load, etc. This attribute can also be used to store any of your own categorizations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipVia" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="SHIP_VIA" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The means of shipment. This is usually Land, Air, Sea, or Ocean.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The user-defined shipment type. This is used to indicate the composition of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TO_ADDRESS_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The to address key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToAppointment" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="TO_APPOINTMENT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The time before which an appointment could be taken by the ship node with the carrier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolume" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total volume of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalVolumeUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_VOLUME_UOM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of volume specified in TotalVolume attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeight" type="yfctype:Dimension" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The total weight of the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalWeightUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The unit of measure for the units of weight specified in Total_Weight attribute of this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The trailer number by which the shipment leaves the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
