Data/xapidocs/api_javadocs/XSD/YFS_getEntitlementRuleDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getEntitlementRuleDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getEntitlementRuleDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getEntitlementRuleDetails_input.xsd" yfc:rootElement="EntitlementRule">
        <xsd:appinfo source="yfc:structure">
            <EntitlementRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntitlementRule" type="yfc:EntitlementRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
            <xsd:documentation>
                <div>
					The API to get details of an entitlement rule
					    <Validation>
                        <Condition>
							Either the <code>EntitlementRuleKey</code> attribute or both the <code>OrganizationCode</code> and <code>EntitlementRuleID</code> attributes must be passed.
                        </Condition>
                        <Error
                            Description="Mandatory parameters for the operation are missing" ErrorCode="YCM0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EntitlementRuleXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>Organization that maintains the entitlement rule assignments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntitlementRuleID" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="ENTITLEMENT_RULE_HDR_ID" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The unique identification of entitlement rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EntitlementRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTITLEMENT_RULE_HDR_KEY" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The primary key of the YFS_ENTITLEMENT_RULE_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ENTITLEMENT_RULE_HDR">
                <xsd:documentation>The organization that maintains the entitlement rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
