Data/xapidocs/api_javadocs/XSD/YFS_Count_Result_Tag_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Count_Result_Tag_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Count_Result_Tag_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Count_Result_Tag_keys.xsd" yfc:rootElement="CountResultTag">
        <xsd:appinfo source="yfc:structure">
            <CountResultTag hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountResultTag" type="yfc:CountResultTagXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_RESULT_TAG">
            <xsd:documentation>This transaction table stores tag information of the inventory that resulted after counting.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CountResultTagXSDType">
        <xsd:attribute name="CountResultKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_RESULT_KEY" yfc:tableName="YFS_COUNT_RESULT_TAG">
                <xsd:documentation>The count result key that is associated with this count result tag.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountResultTagKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_RESULT_TAG_KEY" yfc:tableName="YFS_COUNT_RESULT_TAG">
                <xsd:documentation>The primary key for the YFS_COUNT_RESULT_TAG table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
