Data/xapidocs/api_javadocs/XSD/YFS_createImportDataEx_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createImportDataEx/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createImportDataEx/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createImportDataEx_output.xsd" yfc:rootElement="ImportDataKey">
        <xsd:appinfo source="yfc:structure">
            <ImportDataKey hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ImportDataKey" type="yfc:ImportDataKeyXSDType"/>
    <xsd:complexType name="ImportDataKeyXSDType">
        <xsd:attribute name="Value" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
