Data/xapidocs/api_javadocs/XSD/YFS_Execution_Exception_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Execution_Exception_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Execution_Exception_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Execution_Exception_master.xsd" yfc:rootElement="ExecutionException">
        <xsd:appinfo source="yfc:structure">
            <ExecutionException hasAttributes="Y">
                <Flow hasAttributes="Y"/>
            </ExecutionException>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExecutionException" type="yfc:ExecutionExceptionXSDType">
        <xsd:annotation yfc:tableName="YFS_EXECUTION_EXCEPTION">
            <xsd:documentation>This table stores the user-defined execution exception codes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ExecutionExceptionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Flow"/>
        </xsd:all>
        <xsd:attribute name="AllowPartialDeposit" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ALLOW_PARTIAL_DEPOSIT" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This flag indicates whether to allow partial deposit of picked inventory at the suggested location. Valid values are Y and N. Default value is N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CheckDigit" type="yfctype:VText-5" use="optional">
            <xsd:annotation yfc:columnName="CHECK_DIGIT" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>Check Digit is a numeric representation of Execution Exception. It is generally used by Voice Systems to verify the Execution Exception. Execution Exception Check Digit is unique for a Node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_CODE" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This field specifies the unique code of the user defined execution exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionLongDescription"
            type="yfctype:CodeLongDescription" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_LONG_DESCRIPTION" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This field specifies the long description of the user defined execution exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionShortDescription"
            type="yfctype:CodeShortDescription" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_SHORT_DESCRIPTION" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This field specifies the short description of the user defined execution exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionType"
            type="yfctype:EnumExecutionException" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_TYPE" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This field indicates the execution exception types. Valid values are: PICK, DEPOSIT, and SKIP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionExceptionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_EXCEPTION_KEY" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The primary key for the YFS_EXECUTION_EXCEPTION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="FLOW_KEY" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The flow key that is associated with this execution exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreezeSourceForMoveOut" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FREEZE_SOURCE_FOR_MOVE_OUT" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This flag indicates whether the source location is frozen for moving out the inventory.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FreezeTargetForMoveIn" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="FREEZE_TARGET_FOR_MOVE_IN" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This flag indicates whether the target location is frozen for moving in the inventory.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldTask" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HOLD_TASK" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This flag indicates whether the task should be held.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatusForUnavailableQty"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INV_STS_FOR_UNAVAILABLE_QTY" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This field indicates the inventory status of the unavailable item quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MarkTargetAsFull" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MARK_TARGET_AS_FULL" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This flag indicates whether the target location should be marked as full.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>The node key that is associated with this execution exception.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SuggestedAlternateDepositLocation"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SUGGESTED_ALT_DEPOSIT_LCN" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This flag indicates whether an alternate deposit location should be suggested. This is used when a deposit exception is encountered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SuggestedAlternatePickLocation"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="SUGGESTED_ALTERNATE_PICK_LCN" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This flag indicates whether an alternate pick location is suggested. This is used when a pick exception encounters.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnassignUser" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="UNASSIGN_USER" yfc:tableName="YFS_EXECUTION_EXCEPTION">
                <xsd:documentation>This flag indicates whether the current task should be rejected.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Flow">
        <xsd:annotation yfc:tableName="YFS_FLOW">
            <xsd:documentation>This table stores all the configured services. It is populated when configuring services using the service builder framework or when configuring time triggered transactions for agents.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>Program that created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowGroupName"
                type="yfctype:GroupName-40" use="optional">
                <xsd:annotation yfc:columnName="FLOW_GROUP_NAME" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The service group name, which is used as a logical placeholder for the services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="FLOW_KEY" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The primary key of the YFS_FLOW table. This key represents the flow of the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
                <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The flow name is a unique identifier of the service. The field size is 128  bits to accommodate the backward compatibility naming format.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowType" type="yfctype:EnumFlowType" use="optional">
                <xsd:annotation yfc:columnName="FLOW_TYPE" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The flow type identifies the service associated with this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GraphUIKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="GRAPH_UI_KEY" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This identifier is a reference to the YFS_GRAPH_UI table, where the pictorial representation of the service is stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsOutGoing" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_OUT_GOING" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This flag indicates whether the service is invoked synchronously or asynchronously.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsRealTime"
                type="yfctype:EnumIsRealTime" use="optional">
                <xsd:annotation yfc:columnName="IS_REAL_TIME" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This flag determines whether a real time response is needed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>Program that modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This key indicates the owner of the service. This value is "DEFAULT", which is the hub organization for all services. However, when moving event handlers and user exits, the user interface populates this          with the appropriate enterprise organization  key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>This key determines all the services belonging to some process type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransportTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSPORT_TYPE_KEY" yfc:tableName="YFS_FLOW">
                    <xsd:documentation>The transport type key of the beginning transport node for asynchronous services or LOCAL for synchronous services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
