Data/xapidocs/api_javadocs/XSD/YFS_getExternalDataForValidationUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getExternalDataForValidationUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getExternalDataForValidationUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getExternalDataForValidationUE_input.xsd" yfc:rootElement="Validation">
        <xsd:appinfo source="yfc:structure">
            <Validation hasAttributes="Y">
                <InputXML/>
            </Validation>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Validation" type="yfc:ValidationXSDType">
        <xsd:annotation yfc:tableName="YFS_VALIDATION">
            <xsd:documentation>This table stores the configuration for a validation</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ValidationXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InputXML"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="skip"/>
        </xsd:sequence>
        <xsd:attribute name="APIName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
 						The name of the calling API.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Domain" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DOMAIN" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The validation domain for this configuration.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The organization for which the validation belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionInfoID"
            type="yfctype:VARCHAR2-10" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_INFO_ID" yfc:tableName="YFS_TRANSACTION_INFO">
                <xsd:documentation>
                    <div>
 						The Transaction ID of the current transaction.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_ID" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The unique identifier for the VALIDATION.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidationKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="VALIDATION_KEY" yfc:tableName="YFS_VALIDATION">
                <xsd:documentation>The primary key of the YFS_VALIDATION table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InputXML">
        <xsd:annotation>
            <xsd:documentation>
                <div>
             			This Element will carry a well-formed Input XML based on the current Validation's InputTemplate that an external system can repopulate with new data as needed.
                	</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
