Data/xapidocs/api_javadocs/XSD/YFS_Zone_Enterprise_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Zone_Enterprise_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Zone_Enterprise_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Zone_Enterprise_keys.xsd" yfc:rootElement="ZoneEnterprise">
        <xsd:appinfo source="yfc:structure">
            <ZoneEnterprise hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ZoneEnterprise" type="yfc:ZoneEnterpriseXSDType">
        <xsd:annotation yfc:tableName="YFS_ZONE_ENTERPRISE">
            <xsd:documentation>This table defines different enterprises that store inventory in a given zone. One or more enterprise's inventory can be stored in a zone. However, whether inventory from two different enterprises can be mixed in a location depends on the mix enterprise attribute on the zone, which is propagated to every location of the zone.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ZoneEnterpriseXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>This field specifies the enterprise identifier. This is a unique key attribute of the YFS_ENTERPRISE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneEnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ENTERPRISE_KEY" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The primary key for the YFS_ZONE_ENTERPRISE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The primary key for the YFS_ZONE_ENTERPRISE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
