Data/xapidocs/api_javadocs/XSD/YFS_Count_Program_master_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Count_Program_master/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Count_Program_master/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Count_Program_master_output.xsd" yfc:rootElement="CountProgram">
        <xsd:appinfo source="yfc:structure">
            <CountProgram hasAttributes="Y">
                <Priority hasAttributes="Y"/>
                <Status hasAttributes="Y"/>
                <Region hasAttributes="Y"/>
                <CountProgramConditionList>
                    <CountProgramCondition hasAttributes="Y">
                        <PrimaryInformation hasAttributes="Y"/>
                        <CountProgramConditionState hasAttributes="Y"/>
                        <CountProgramConditionAttrList>
                            <CountProgramConditionAttr hasAttributes="Y"/>
                        </CountProgramConditionAttrList>
                        <ProductClassAttrList>
                            <CountProgramConditionAttr hasAttributes="Y"/>
                        </ProductClassAttrList>
                        <CountZoneAttrList>
                            <CountProgramConditionAttr hasAttributes="Y"/>
                        </CountZoneAttrList>
                    </CountProgramCondition>
                </CountProgramConditionList>
            </CountProgram>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountProgram" type="yfc:CountProgramXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_PROGRAM">
            <xsd:documentation>This configuration table stores count programs that are used to perform cycle counting in a warehouse.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CountProgramXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Priority"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Status"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Region"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountProgramConditionList"/>
        </xsd:all>
        <xsd:attribute name="CountCalendarKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_CALENDAR_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The count calendar key that is associated with this count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountEntityName" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="COUNT_ENTITY_NAME" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>This field indicates the count program type. The values defined are provided as common code values in FC for the code type 'COUNT_ENTITY_NAME'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountProgramKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_PROGRAM_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The primary key for the YFS_COUNT_PROGRAM table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountProgramName" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="COUNT_PROGRAM_NAME" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>A name assigned to the count program by either a node or an enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveFromDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_FROM_DATE" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The date from when the count program is valid.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveToDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_TO_DATE" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The date till when the count program is valid.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The enterprise code associated with the count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FinishNoLaterThan" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>This field indicates the finish date and time when a task should finish. This timestamp is stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The node key that is associated with this count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The owner key that is associated with this count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The priority of the count requests generated for the count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The region key that is associated with this count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestType" type="yfctype:RequestType" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_TYPE" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>This field indicates the count request type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestingUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="REQUESTING_USER_ID" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The user who requested for the count program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>This field indicates the earliest date and time when a task should start. This timestamp is stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_COUNT_PROGRAM">
                <xsd:documentation>The current status of the count program. The status is applicable only when the count program type is 'OneTime'.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Priority">
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Priority" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Status">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The unique identifier for the status within a process type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Region">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>This table stores information for region definitions. A region schema key has to be given to indicate the schema to which the region is associated.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The primary key for the YFS_REGION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_NAME" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The unique name of this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountProgramConditionList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountProgramCondition"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountProgramCondition">
        <xsd:annotation yfc:tableName="YFS_COUNT_PROGRAM_COND">
            <xsd:documentation>This configuration table stores count program conditions such as enterprise and item classifications to perform cycle count in a warehouse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountProgramConditionState"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountProgramConditionAttrList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProductClassAttrList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountZoneAttrList"/>
            </xsd:all>
            <xsd:attribute name="CountAtItemLevel" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CountProgramConditionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_PROGRAM_COND_KEY" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>The primary key for the YFS_COUNT_PROGRAM_COND table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountProgramKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_PROGRAM_KEY" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>The primary key for the YFS_COUNT_PROGRAM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>A brief description of the count program condition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification1"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION1" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>This field indicates that the items are classified as first for the count program.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification2"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION2" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>This field indicates that the items are classified as second for the count program.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification3"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION3" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>This field indicates that the items are classified as third for the count program.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>This field indicates the item for which the count request should be generated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTimesToCount"
                type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="NO_OF_TIMES_TO_COUNT" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>This field indicates the number of times the inventory should be counted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>This field indicates the unit of measure of the item that needs to be counted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_COUNT_PROGRAM_COND">
            <xsd:documentation>This configuration table stores count program conditions such as enterprise and item classifications to perform cycle count in a warehouse.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="MaxUnitValue" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="MAX_UNIT_VALUE" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>This field indicates the maximum unit cost of an item that can be put on count.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinUnitValue" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="MIN_UNIT_VALUE" yfc:tableName="YFS_COUNT_PROGRAM_COND">
                    <xsd:documentation>This field indicates the minimum unit cost of an item that can be put on count.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountProgramConditionState">
        <xsd:annotation yfc:tableName="YFS_CNT_PROG_COND_STATE">
            <xsd:documentation>This transaction table stores count program condition status such as the last enterprise, location, item, etc that are already counted.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CountProgramConditionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_PROGRAM_COND_KEY" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>The primary key for the YFS_CNT_PROG_COND table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountProgramConditionStateKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CNT_PROG_COND_STATE_KEY" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>The primary key for the YFS_CNT_PROG_COND_STATE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTimesCounted"
                type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="NO_OF_TIMES_COUNTED" yfc:tableName="YFS_CNT_PROG_COND_STATE">
                    <xsd:documentation>Indicates the total number of times the items belonging to a particular criteria was counted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountProgramConditionAttrList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="CountProgramConditionAttr">
                    <xsd:annotation yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                        <xsd:documentation>This configuration table stores criteria such as zones and product classes to perform cycle count in a warehouse.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="AttrName"
                            type="yfctype:AttributeName" use="optional">
                            <xsd:annotation
                                yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The various count program condition attributes such as ZONE and PRODUCT_CLASS.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute
                            name="CountProgramConditionAttrKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="CNT_PROG_COND_ATTR_KEY" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The primary key for the YFS_CNT_PROG_COND_ATTR table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="CountProgramConditionKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="COUNT_PROGRAM_COND_KEY" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The primary key for the YFS_CNT_PROG_COND table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createprogid"
                            type="yfctype:ProgramID" use="optional">
                            <xsd:annotation
                                yfc:columnName="CREATEPROGID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The program that created this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createts"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createuserid"
                            type="yfctype:Createuserid" use="optional">
                            <xsd:annotation
                                yfc:columnName="CREATEUSERID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The user who created this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Lockid"
                            type="yfctype:Count" use="optional">
                            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyprogid"
                            type="yfctype:ProgramID" use="optional">
                            <xsd:annotation
                                yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The program that modified this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyts"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyuserid"
                            type="yfctype:Modifyuserid" use="optional">
                            <xsd:annotation
                                yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The user who last modified this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Value" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The attribute value identified by the ATTRIBUTE_NAME.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProductClassAttrList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="CountProgramConditionAttr">
                    <xsd:annotation yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                        <xsd:documentation>This configuration table stores criteria such as zones and product classes to perform cycle count in a warehouse.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="AttrName"
                            type="yfctype:AttributeName" use="optional">
                            <xsd:annotation
                                yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The various count program condition attributes such as ZONE and PRODUCT_CLASS.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute
                            name="CountProgramConditionAttrKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="CNT_PROG_COND_ATTR_KEY" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The primary key for the YFS_CNT_PROG_COND_ATTR table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="CountProgramConditionKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="COUNT_PROGRAM_COND_KEY" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The primary key for the YFS_CNT_PROG_COND table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createprogid"
                            type="yfctype:ProgramID" use="optional">
                            <xsd:annotation
                                yfc:columnName="CREATEPROGID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The program that created this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createts"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createuserid"
                            type="yfctype:Createuserid" use="optional">
                            <xsd:annotation
                                yfc:columnName="CREATEUSERID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The user who created this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Lockid"
                            type="yfctype:Count" use="optional">
                            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyprogid"
                            type="yfctype:ProgramID" use="optional">
                            <xsd:annotation
                                yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The program that modified this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyts"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyuserid"
                            type="yfctype:Modifyuserid" use="optional">
                            <xsd:annotation
                                yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The user who last modified this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Value" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The attribute value identified by the ATTRIBUTE_NAME.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountZoneAttrList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="CountProgramConditionAttr">
                    <xsd:annotation yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                        <xsd:documentation>This configuration table stores criteria such as zones and product classes to perform cycle count in a warehouse.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="AttrName"
                            type="yfctype:AttributeName" use="optional">
                            <xsd:annotation
                                yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The various count program condition attributes such as ZONE and PRODUCT_CLASS.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute
                            name="CountProgramConditionAttrKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="CNT_PROG_COND_ATTR_KEY" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The primary key for the YFS_CNT_PROG_COND_ATTR table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="CountProgramConditionKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="COUNT_PROGRAM_COND_KEY" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The primary key for the YFS_CNT_PROG_COND table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createprogid"
                            type="yfctype:ProgramID" use="optional">
                            <xsd:annotation
                                yfc:columnName="CREATEPROGID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The program that created this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createts"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Createuserid"
                            type="yfctype:Createuserid" use="optional">
                            <xsd:annotation
                                yfc:columnName="CREATEUSERID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The user who created this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Lockid"
                            type="yfctype:Count" use="optional">
                            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyprogid"
                            type="yfctype:ProgramID" use="optional">
                            <xsd:annotation
                                yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The program that modified this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyts"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Modifyuserid"
                            type="yfctype:Modifyuserid" use="optional">
                            <xsd:annotation
                                yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The user who last modified this record.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Value" type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_CNT_PROG_COND_ATTR">
                                <xsd:documentation>The attribute value identified by the ATTRIBUTE_NAME.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
