Data/xapidocs/api_javadocs/XSD/YFS_executeCollection_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/executeCollection/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/executeCollection/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_executeCollection_output.xsd" yfc:rootElement="ExecuteCollection">
        <xsd:appinfo source="yfc:structure">
            <ExecuteCollection hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ExecuteCollection" type="yfc:ExecuteCollectionXSDType"/>
    <xsd:complexType name="ExecuteCollectionXSDType">
        <xsd:attribute name="AuthorizationExpirationDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation
                yfc:columnName="AUTHORIZATION_EXPIRATION_DATE" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>The date and time until which the authorization specified by the authorization ID is applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuthorizationID" type="yfctype:Text-255" use="optional">
            <xsd:annotation yfc:columnName="AUTHORIZATION_ID" yfc:tableName="YFS_CHARGE_TRANSACTION">
                <xsd:documentation>For authorization requests, this field holds the identifier of the authorization that was made. For charge requests, this field holds the authroization ID to be used for charging the amount.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FailedAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>If the charge transaction processed was a Charge request, this corresponds to the amount that was not credited.<br/>Else if the charge transaction processed was an Authorization request, this corresponds to the amount that was not authorized.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasUnmetTransactionDependencies"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>If the executeCollection API is prevented from processing due to transaction dependencies defined for the "PAYMENT_EXECUTION" transaction, this flag will be returned and set to "Y".  This flag is not returned otherwise.  When this flag is returned as "Y", the other attributes of this element are not returned.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessedAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>If the charge transaction processed was a Charge request, this corresponds to the amount that was credited.<br/>Else if the charge transaction processed was an Authorization request, this corresponds to the amount that was authorized.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
