Data/xapidocs/api_javadocs/XSD/YFS_modifyReceiptCost_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/modifyReceiptCost/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/modifyReceiptCost/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_modifyReceiptCost_input.xsd" yfc:rootElement="Receipt">
        <xsd:appinfo source="yfc:structure">
            <Receipt hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Receipt" type="yfc:ReceiptXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_RECEIPT">
            <xsd:documentation>This table stores inventory receipt information that is related to inventory costing.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReceiptXSDType">
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_INVENTORY_RECEIPT">
                <xsd:documentation>The currency of this inventory receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateReceived" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="DATE_RECEIVED" yfc:tableName="YFS_INVENTORY_RECEIPT">
                <xsd:documentation>
                    <div>
					If passed, supplies received only on this date will be considered.
						<Validation>
                            <Condition> If <code>DateReceived</code> is not a valid date:</Condition>
                            <Error Description="Invalid date format" ErrorCode="YFC0004"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryOrganizationCode"
            type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition> If <code>ItemID</code> is not passed:</Condition>
                            <Error Description="No record found" ErrorCode="YFS10001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition> If <code>ProductClass</code> is not passed:</Condition>
                            <Error Description="No record found" ErrorCode="YFS10001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_RECEIPT">
                <xsd:documentation>
                    <div>
					If passed, all open adjustments for this ship node are considered. Supplies received only on this ship node are considered. Inventory rules are read for the ship node's owner organization's inventory consolidator.
						<Validation>
                            <Condition> If <code>ShipNode</code> is not passed:</Condition>
                            <Error Description="Invalid shipnode" ErrorCode="YFS10048"/>
                        </Validation>
                        <Validation>
                            <Condition> If <code>ShipNode</code> is not a valid ship node:</Condition>
                            <Error Description="Invalid shipnode" ErrorCode="YFS10048"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyReference" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SUPPLY_REFERENCE" yfc:tableName="YFS_INVENTORY_RECEIPT">
                <xsd:documentation>
                    <div>
					If passed, supplies received with this <code>SupplyReference</code> are considered.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyReferenceType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SUPPLY_REFERENCE_TYPE" yfc:tableName="YFS_INVENTORY_RECEIPT">
                <xsd:documentation>
                    <div>
					If passed, supplies received with this <code>SupplyReferenceType</code> are considered.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_INVENTORY_RECEIPT">
                <xsd:documentation>The unit cost of this inventory receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition> If <code>UnitOfMeasure</code> is not passed:</Condition>
                            <Error Description="No record found" ErrorCode="YFS10001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
