Data/xapidocs/api_javadocs/XSD/YFS_getInventoryAudit_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getInventoryAudit/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getInventoryAudit/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getInventoryAudit_input.xsd" yfc:rootElement="InventoryAudit">
        <xsd:appinfo source="yfc:structure">
            <InventoryAudit hasAttributes="Y">
                <OrderBy>
                    <Attribute hasAttributes="Y"/>
                </OrderBy>
            </InventoryAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryAudit" type="yfc:InventoryAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_AUDIT">
            <xsd:documentation>This table stores audit information for inventory.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderBy"/>
        </xsd:all>
        <xsd:attribute name="IgnoreOrdering" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				By default, the API output is ordered by INVENTORY_ITEM_KEY in ascending order and INVENTORY_AUDIT_KEY in descending order. If <code>IgnoreOrdering</code> is passed as <b>
                            <code>Y</code>
                        </b>,this default ordering is omitted by the API.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The identifier of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates the organization.
				<Validation>
                            <Condition>Must be a valid organization.
					</Condition>
                            <Error
                                Description="Invalid organization code" ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> must be passed.
						</Condition>
                            <Error
                                Description="OrganizationCode is mandatory" ErrorCode="YFS10435"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The product class for the item of this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The inventory segment on this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The inventory segment type on this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The ship node associated with this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The supply type on this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The unit of measure for the item of this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderBy">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				If OrderBy element is passed, inventory audits returned by the API are sorted in the same order as Attribute elements passed.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Attribute"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_ATTRIBUTE">
            <xsd:documentation>This table stores attribute definitions. Attributes represent characteristics of entities and can be assigned to an attribute group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Desc" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Sort in decending order.
						Valid values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
						Default value: <b>
                            <code>N</code>
                        </b>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-32" use="required">
                <xsd:annotation>
                    <xsd:documentation>Name of the attribute to use for sorting the results.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
