Data/xapidocs/api_javadocs/XSD/YFS_createDistribution_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createDistribution/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createDistribution/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createDistribution_input.xsd" yfc:rootElement="ItemShipNode">
        <xsd:appinfo source="yfc:structure">
            <ItemShipNode hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemShipNode" type="yfc:ItemShipNodeXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_SHIP_NODE">
            <xsd:documentation>
                <div>
		Stores distribution setup for an organization. This setup is used during any inventory operation.
		<br/>If <code>ItemType</code> is passed as <b>
                        <code>ALL</code>
                    </b>, the <code>ItemId</code> has to be set to <b>
                        <code>ALL</code>
                    </b>.The calling program should validate this before calling the API.
		<br/>The key to looking up a distribution rule is the <code>OwnerKey</code> and <code>DistributionRuleID</code>.
		<Validation>
                        <Condition>A record is not found in YFS_DISTRIBUTION_RULE table for the input <code>OwnerKey</code> and <code>DistributionRuleId</code> pair.
			</Condition>
                        <Error Description="YFS:No Record Found." ErrorCode="YFS10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemShipNodeXSDType">
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This flag indicates whether or not a sourcing entry is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostCurrency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="COST_CURRENCY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="required">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The distribution group that this sourcing entry is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The date until which a souring entry is effective.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The date from which a sourcing entry is effective.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExternalInvOrg" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EXTERNAL_INV_ORG" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This flag indicates whether or not an item is sourced from an external inventory organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Inventorytype" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="INVENTORYTYPE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The unique identifier for the sourced item. "ALL" indicates all items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The only valid value for this field is currently "ALL", which indicates all items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The owner organization that is associated with this distribution group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>
                    <div>
			Node priority in the distribution rule.  Priority is not supported if distribution rule is used for procurement.  
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeItem" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_ITEM" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The item as it is identified at the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The ship node associated with a given item ID, or with all items if ITEM_ID is set to "ALL".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourceFromOrganization"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SOURCE_FROM_ORGANIZATION" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The external inventory organization from which an item is sourced.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
