Data/xapidocs/api_javadocs/XSD/YFS_Date_Type_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Date_Type_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Date_Type_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Date_Type_master.xsd" yfc:rootElement="DateType">
        <xsd:appinfo source="yfc:structure">
            <DateType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DateType" type="yfc:DateTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_DATE_TYPE">
            <xsd:documentation>Stores information about dates which are applicable and available for a process type. A business document can then be monitored based on these dates</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DateTypeXSDType">
        <xsd:attribute name="ActualFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_FLAG" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>'Y' if requested date data is available for this</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If CallingOrganizationCode is passed, then it will
				be used as the context organization. This, combined
				with the configuration data setup for date types,
				will result in data filtered for access by the given organization.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeId" type="yfctype:DateTypeId" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_ID" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Unique identifier for a date type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_KEY" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Primary key attribute of YFS_DATE_TYPE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Date Type Description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_FLAG" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>'Y' if requested date data is available for this</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Organization for which this DateType is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Process type this date belongs to</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_FLAG" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>'Y' if requested date data is available for this</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_DEFINED" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Indicates if a date type is system defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
