Data/xapidocs/api_javadocs/XSD/YFS_getReservation_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getReservation/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getReservation/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getReservation_input.xsd" yfc:rootElement="getReservation">
        <xsd:appinfo source="yfc:structure">
            <getReservation hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getReservation" type="yfc:getReservationXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_RESERVATION">
            <xsd:documentation>This table stores reservation information about an item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getReservationXSDType">
        <xsd:attribute name="DeliveryMethod" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DELIVERY_METHOD" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>The delivery method associated with the reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinShipByDate" use="optional">
            <xsd:annotation yfc:columnName="MIN_SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>The minimum ship by date of the demand of the reservation.  The demand can only consume from supplies with ship by dates, which are greater than or equal to its minimum ship by date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReservationID" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="RESERVATION_ID" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Identification of a reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>The segment for this inventory supply</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_DATE" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Ship date of the reservation.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_RESERVATION">
                <xsd:documentation>Node where the reservation is being made.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
