Data/xapidocs/api_javadocs/XSD/YFS_getInventoryItemList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getInventoryItemList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getInventoryItemList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getInventoryItemList_input.xsd" yfc:rootElement="InventoryItem">
        <xsd:appinfo source="yfc:structure">
            <InventoryItem hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryItem" type="yfc:InventoryItemXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryItemXSDType">
        <xsd:attribute name="FromItemID" type="yfctype:ItemID" use="optional"/>
        <xsd:attribute name="FromProductClass"
            type="yfctype:ProductClass" use="optional"/>
        <xsd:attribute name="FromUnitOfMeasure" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="InventoryOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
				Identifies the inventory organization. Either the <code>OrganizationCode</code> or the <code>InventoryOrganizationCode</code> must be passed in the input XML.
				<Validation>
                            <Condition>Must be a existing <code>OrganizationCode</code>.
					</Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>One of these must be passed: <code>OrganizationCode</code> or <code>InventoryOrganizationCode</code>.
					</Condition>
                            <Error
                                Description="OrganizationCode is mandatory" ErrorCode="YFS10435"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemIDQryType" type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies the Maximum Number of records to be returned. Default is 500.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:isConditional="Y">
                <xsd:documentation>
                    <div>
				Identifies the organization. Either the <code>OrganizationCode</code> or the <code>InventoryOrganizationCode</code> must be passed in the input XML.
				<Validation>
                            <Condition>Must be a existing <code>OrganizationCode</code>.
					</Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YFS10395"/>
                        </Validation>
                        <Validation>
                            <Condition>One of these must be passed: <code>OrganizationCode</code> or <code>InventoryOrganizationCode</code>.
					</Condition>
                            <Error
                                Description="OrganizationCode is mandatory" ErrorCode="YFS10435"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClassQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The ship node where this inventory supply is located.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToItemID" type="yfctype:ItemID" use="optional"/>
        <xsd:attribute name="ToProductClass" type="yfctype:ProductClass" use="optional"/>
        <xsd:attribute name="ToUnitOfMeasure" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasureQryType"
            type="yfctype:StringQryType" use="optional"/>
    </xsd:complexType>
</xsd:schema>
