Data/xapidocs/api_javadocs/XSD/YFS_recordReceivingDiscrepancy_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/recordReceivingDiscrepancy/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/recordReceivingDiscrepancy/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_recordReceivingDiscrepancy_input.xsd" yfc:rootElement="ReceivingDiscrepancies">
        <xsd:appinfo source="yfc:structure">
            <ReceivingDiscrepancies>
                <ReceivingDiscrepancy hasAttributes="Y">
                    <Order hasAttributes="Y"/>
                    <Shipment hasAttributes="Y"/>
                    <OrderLine hasAttributes="Y">
                        <Item hasAttributes="Y"/>
                    </OrderLine>
                    <ReceivingDiscrepancyDtls hasAttributes="Y">
                        <ReceivingDiscrepancyDtl hasAttributes="Y"/>
                    </ReceivingDiscrepancyDtls>
                </ReceivingDiscrepancy>
            </ReceivingDiscrepancies>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReceivingDiscrepancies" type="yfc:ReceivingDiscrepanciesXSDType"/>
    <xsd:complexType name="ReceivingDiscrepanciesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ReceivingDiscrepancy"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="ReceivingDiscrepancy">
        <xsd:annotation yfc:tableName="YFS_RECEIVING_DISCREPANCY">
            <xsd:documentation>This table stores information about discrepancies between shipped and received quantities.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ReceivingDiscrepancyDtls"/>
            </xsd:all>
            <xsd:attribute name="DiscrQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="DISCR_QUANTITY" yfc:tableName="YFS_RECEIVING_DISCREPANCY">
                    <xsd:documentation>Quantity for which discrepancy is specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscrType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="DISCR_TYPE" yfc:tableName="YFS_RECEIVING_DISCREPANCY">
                    <xsd:documentation>Type of Discrepancy. Possible  values are, OVER: over receipt, SHORT: under receipt, DAMAGE: damaged receipt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Text-20" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This attribute specifies the kind of operation to be done. Valid values are 'Create','Modify' and 'Delete'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_RECEIVING_DISCREPANCY">
                    <xsd:documentation>
                        <div>
						Reference to the <code>YFS_ORDER_HEADER</code> table. Identifies the order for which the discrepancy details are created.
							<Validation>
                                <Condition>
                                    <code>OrderHeaderKey</code> cannot be modified.
								</Condition>
                                <Error
                                    Description="Key attributes cannot be modified." ErrorCode="OMP10065"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_RECEIVING_DISCREPANCY">
                    <xsd:documentation>
                        <div>
						Reference to the <code>YFS_ORDER_LINE</code> table. Identifies the order line for which the discrepancy details are created.
							<Validation>
                                <Condition>
                                    <code>OrderLineKey</code> cannot be modified.
								</Condition>
                                <Error
                                    Description="Key attributes cannot be modified." ErrorCode="OMP10065"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonEntryComplete"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="REASON_ENTRY_COMPLETE" yfc:tableName="YFS_RECEIVING_DISCREPANCY">
                    <xsd:documentation>This flag sepcifies whether the reason entry has been completed. Possible values are, N - The discrepancy has been created. Reason codes may have been entered for all quantity but the process for reason entry is not yet complete. Y - Reason entry is complete.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingDiscrepancyKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="RECEIVING_DISCREPANCY_KEY" yfc:tableName="YFS_RECEIVING_DISCREPANCY">
                    <xsd:documentation>
                        <div>
						Primary key attribute of <code>YFS_RECEIVING_DISCREPANCY</code> table. This element contains all the attributes which can identify a discrepancy being changed. A receipt can be uniquely identified by providing the <code>ReceivingDiscrepancyKey</code>.
							<Validation>
                                <Condition>
                                    <code>OrderLineKey</code> cannot be modified.
								</Condition>
                                <Error
                                    Description="Discrepancy record not found for the given Receiving Discrepancy Key." ErrorCode="OMP10068"/>
                                <Error
                                    Description="Cannot modify the discrepancy since discrepancy details are already invoiced." ErrorCode="OMP10069"/>
                                <Error
                                    Description="Cannot modify the discrepancy since the reason entry is completed." ErrorCode="OMP10070"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIVING_DISCREPANCY">
                    <xsd:documentation>
                        <div>
						Reference to the <code>YFS_SHIPMENT</code> table. Identifies the shipment for which the discrepancy details are created.
							<Validation>
                                <Condition>
                                    <code>ShipmentKey</code> cannot be modified.
								</Condition>
                                <Error
                                    Description="Key attributes cannot be modified." ErrorCode="OMP10065"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Order">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
            </xsd:all>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReceivingDiscrepancyDtls">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ReceivingDiscrepancyDtl"/>
            </xsd:all>
            <xsd:attribute name="Reset" type="yfctype:Text-1" use="optional">
                <xsd:annotation>
                    <xsd:documentation>This attribute specifies the kind of operation to be done. A value of 'Y' will replace the existing descrepancy details with the details given in the input.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ReceivingDiscrepancyDtl">
        <xsd:annotation yfc:tableName="YFS_RECEIVING_DISCR_DTL">
            <xsd:documentation>This table stores information about the details of a receiving discrepancy including the reason for discrepancy.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DiscrReasonCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DISCR_REASON_CODE" yfc:tableName="YFS_RECEIVING_DISCR_DTL">
                    <xsd:documentation>
                        <div>
								This element contains information about the reasons for the discrepancy quantities. Based on the reason code given against the quantities, they are marked for adjustment invoicing. 
									<Validation>
                                <Condition>Reason code should be a valid code for the given discrepancy type.
										</Condition>
                                <Error
                                    Description="Discrepancy reason setup not found for the given reason code." ErrorCode="OMP10071"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="REASON_QUANTITY" yfc:tableName="YFS_RECEIVING_DISCR_DTL">
                    <xsd:documentation>Quantity for which discrepancy reason is specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
