Data/xapidocs/api_javadocs/XSD/YFS_verifyReceipt_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/verifyReceipt/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/verifyReceipt/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_verifyReceipt_input.xsd" yfc:rootElement="Receipt">
        <xsd:appinfo source="yfc:structure">
            <Receipt hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Receipt" type="yfc:ReceiptXSDType">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                            <Code>ReceiptHeaderKey</Code> attribute OR the <Code>ReceiptNo</Code>, <Code>ReceivingNode</Code> and <Code>ShipmentKey</Code> attributes must be passed and must be valid.
						</Condition>
                        <Error
                            Description="Either ReceiptHeaderKey or ReceiptNo, ReceivingNode and ShipmentKey is mandatory." ErrorCode="OMP10043"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReceiptXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="required">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DOCUMENT_PARAMS">
                <xsd:documentation>
                    <div>
					The Document Type of the order being received.
						<Validation>
                            <Condition>
                                <code>DocumentType</code> should not be void.
							</Condition>
                            <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The primary key for the YFS_RECEIPT_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>
                    <div>
					The Node that is receiving the shipment.
						<Validation>
                            <Condition>
                                <code>ReceivingNode</code> should be valid. 
							</Condition>
                            <Error Description="Invalid Receiving Node" ErrorCode="YFS10371"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
