Data/xapidocs/api_javadocs/XSD/YFS_getPriceSetDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getPriceSetDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getPriceSetDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getPriceSetDetails_output.xsd" yfc:rootElement="PriceSet">
        <xsd:appinfo source="yfc:structure">
            <PriceSet hasAttributes="Y">
                <ItemPriceSetList>
                    <ItemPriceSet hasAttributes="Y">
                        <ItemPriceSetDtlList>
                            <ItemPriceSetDtl hasAttributes="Y"/>
                        </ItemPriceSetDtlList>
                    </ItemPriceSet>
                </ItemPriceSetList>
            </PriceSet>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceSet" type="yfc:PriceSetXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_SET">
            <xsd:documentation>Price list master table. This table stores a list of valid price lists for an organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceSetXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemPriceSetList"/>
        </xsd:all>
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Only Price Sets which are marked as active will be considered when computing tax.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Description of a price set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode" type="yfctype:ItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Indicates whether the price list is for a Product, Delivery or Service Line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Link to YFS_Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceSetKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_SET_KEY" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Primary key that identifies a price set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceSetName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRICE_SET_NAME" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Name of a price set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidTillDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="VALID_TILL_DATE" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Price Set is valid till this date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemPriceSetList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemPriceSet"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSet">
        <xsd:annotation yfc:tableName="YFS_ITEM_PRICE_SET">
            <xsd:documentation>This table stores the Price List for items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemPriceSetDtlList"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>The unique identifier for an Item for which price set is maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemPriceSetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_PRICE_SET_KEY" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Primary key of Item price set.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>List price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RetailPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Retail price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Uom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Item's Unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSetDtlList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemPriceSetDtl"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSetDtl">
        <xsd:annotation yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
            <xsd:documentation>If item requires step pricing, this table stores the quantity breaks and price associated.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BreakQtyHigh" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="BREAK_QTY_HIGH" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Break High Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BreakQtyLow" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="BREAK_QTY_LOW" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Break Low Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemPriceSetDtlKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_PRICE_SET_DTL_KEY" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>The primary key of the YFS_ITEM_PRICE_SET_DTL table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Link to YFS_REGION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Unit price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
