Data/xapidocs/api_javadocs/XSD/YFS_Process_Type_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Process_Type_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Process_Type_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Process_Type_master.xsd" yfc:rootElement="ProcessType">
        <xsd:appinfo source="yfc:structure">
            <ProcessType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProcessType" type="yfc:ProcessTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_PROCESS_TYPE">
            <xsd:documentation>This table stores various process types in the system. Scenario modeling is done for a given process type. All transactions, status and pipeline belong to one process type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProcessTypeXSDType">
        <xsd:attribute name="BaseProcessType"
            type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The base process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Description" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The description of the process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The document type that is associated with this process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PRE_DEFINED" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>This flag indicates whether this process type is pre-defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessCreateType"
            type="yfctype:ProcessCreateType" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_CREATE_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessType" type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The unique identifier for the process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The primary key for the YFS_PROCESS_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeName"
            type="yfctype:ProcessTypeName" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_NAME" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The name of the process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseAdvancedMonitor" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="USE_ADVANCED_MONITOR" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>This flag indicates whether entities for this process type can be monitored based on extensible dates in addition to the default ones.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
