Data/xapidocs/api_javadocs/XSD/YFS_loadInventoryNodeCost_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/loadInventoryNodeCost/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/loadInventoryNodeCost/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_loadInventoryNodeCost_input.xsd" yfc:rootElement="Items">
        <xsd:appinfo source="yfc:structure">
            <Items>
                <Item hasAttributes="Y">
                    <Nodes>
                        <Node hasAttributes="Y"/>
                    </Nodes>
                </Item>
            </Items>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Items" type="yfc:ItemsXSDType"/>
    <xsd:complexType name="ItemsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Item"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
                Inventory Cost data for the item at the node is available in the system.
              </Condition>
                        <Error
                            Description="Cost details are already available for the given Item/ShipNode." ErrorCode="YFS10534 "/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Nodes"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>
                        <div>
              The Item ID for which the inventory item value has to be loaded. 
              <Validation>
                                <Condition>
                  The Item ID should be passed
                </Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>
                        <div>
              Organization Code of the organization maintaining the inventory.
              <Validation>
                                <Condition>
                  The value should be passed
                </Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                            </Validation>
                            <Validation>
                                <Condition>
                  The organization code must be valid
                </Condition>
                                <Error
                                    Description="Invalid Organization Code" ErrorCode="YFS10395"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>Product Class of the item for which inventory value has to be loaded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
              Ship Node for which inventory value has to be adjusted.
              <Validation>
                                <Condition>
                  The ship node should be passed
                </Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>Unit Of Measure of the item for which inventory value has to be loaded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Nodes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Node"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Node">
        <xsd:complexType>
            <xsd:attribute name="AverageCost" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Average Cost of the item at the shipnode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									Operation to perform. If this attribute is not passed or if value is not passed as <code>Manage</code>, creates a new record if it does not exist.
									<br/>Valid Value: 
									<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                  Quantity for which inventory value has to be loaded. 
                  If the input element doesn't contain this attribute and if value for <code>Operation</code> is passed as <code>Manage</code>, then value of <code>Quantity</code> will be set to the current onhand quantity. 
                  If this attribute is passed, value should be equal to the current on-hand inventory for the item/shipnode.
                  <Validation>
                                <Condition>
                      The quantity must be greater than zero
                    </Condition>
                                <Error
                                    Description="Quantity should be equal to the current on-hand quantity for the item/shipnode." ErrorCode="YFS10533"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="required">
                <xsd:annotation>
                    <xsd:documentation>Ship Node for which inventory value has to be loaded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
