Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Status_Audit_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Status_Audit_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Status_Audit_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_Work_Order_Status_Audit_master.xsd" yfc:rootElement="WorkOrderStatusAudit">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderStatusAudit hasAttributes="Y">
                <OldStatus hasAttributes="Y"/>
                <NewStatus hasAttributes="Y"/>
                <Audits>
                    <Audit hasAttributes="Y">
                        <AuditDetail hasAttributes="Y">
                            <IDs>
                                <ID hasAttributes="Y"/>
                            </IDs>
                            <Attributes>
                                <Attribute hasAttributes="Y"/>
                            </Attributes>
                        </AuditDetail>
                    </Audit>
                </Audits>
            </WorkOrderStatusAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderStatusAudit" type="yfc:WorkOrderStatusAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
            <xsd:documentation>This table stores work order status change audit. whenever the work order status changes because of a business process, an audit is posted along with the status, timestamp, reason code and text, user ID and program ID. All transactions in the work order pipeline in fact will have entries in this table upon completion of a transaction.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderStatusAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OldStatus"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NewStatus"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Audits"/>
        </xsd:all>
        <xsd:attribute name="AuditTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>The unique identifier of an external Transaction reference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuditUserId" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_USER_ID" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>The unique identifier of a user who performed the transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Comments" type="yfctype:Text-1500" use="optional">
            <xsd:annotation yfc:columnName="COMMENTS" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Free form comments that may be recorded during the execution of the transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Status of the work order after the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatusAudit" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates if this audit has been updated by current transaction.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS_DATE" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Status date recorded on the work order at the most recent status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Status of the work order before the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldStatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="OLD_STATUS_DATE" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Status date as recorded on the work order at the previous status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Reason code indicating the reason for the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCodeDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Description of Reason Code.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Tranname" type="yfctype:Text-50" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Name of the transaction.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="TRANSACTION_ID" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>The unique identifier of a transaction that was executed on the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Primary key of YFS_WORK_ORDER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderStatusAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_STS_AUDIT_KEY" yfc:tableName="YFS_WORK_ORDER_STS_AUDIT">
                <xsd:documentation>Primary key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OldStatus">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NewStatus">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Audits">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Audit"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Audit">
        <xsd:annotation yfc:tableName="YFS_AUDIT">
            <xsd:documentation>This table stores the audit record for entities that require an audit. A record for every update and delete for the 'audited' entity will be inserted in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AuditDetail"/>
            </xsd:all>
            <xsd:attribute name="AuditContextId"
                type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_CONTEXT_ID" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>The unique identifier for the context in which an audit record is created. The context can either be an API call or a user exit. The value starts at 0 and will get incremented when an API or a user exit is called from the originating API. Once the called API or user exit has terminated, the value get decremented.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_KEY" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Key of the record</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditTranKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRAN_KEY" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Unique key of the transaction.  A transaction may have multiple api's</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Operation" use="optional">
                <xsd:annotation yfc:columnName="OPERATION" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Audit entry will be written on 'create', 'update' or 'delete' of database record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1"
                type="yfctype:ReferenceValue-255" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference4"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference5"
                type="yfctype:ReferenceValue-200" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_5" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference6"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_6" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TABLE_KEY" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Audit record is created for table name and table key combination</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="optional">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Audit record is created for table name and table key combination</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AuditDetail">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:IDs"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attributes"/>
            </xsd:all>
            <xsd:attribute name="AuditType" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Type of Audit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IDs">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ID"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ID">
        <xsd:complexType>
            <xsd:attribute name="DataType" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Data type Audited</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Name of the Attribute Audited</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attributes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Attribute"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Attribute">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_AUDT_DTL">
            <xsd:documentation>This table stores work order attributes which were modified while excuting a transaction on the work order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeName"
                type="yfctype:AttributeName" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_WORK_ORDER_AUDT_DTL">
                    <xsd:documentation>The name of the attribute that was changed on the work order other than the status of the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DataType" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Data Type of the attribute Audited</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NewValue" type="yfctype:Text-1500" use="optional">
                <xsd:annotation yfc:columnName="NEW_VALUE" yfc:tableName="YFS_WORK_ORDER_AUDT_DTL">
                    <xsd:documentation>Value of the attribute after the modification.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OldValue" type="yfctype:Text-1500" use="optional">
                <xsd:annotation yfc:columnName="OLD_VALUE" yfc:tableName="YFS_WORK_ORDER_AUDT_DTL">
                    <xsd:documentation>Value of the attribute before the modification.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
