Data/xapidocs/api_javadocs/XSD/YFS_getOrderAuditList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getOrderAuditList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getOrderAuditList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getOrderAuditList_input.xsd" yfc:rootElement="OrderAudit">
        <xsd:appinfo source="yfc:structure">
            <OrderAudit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderAudit" type="yfc:OrderAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_AUDIT">
            <xsd:documentation>This table stores order audit information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderAuditXSDType">
        <xsd:attribute name="AuditTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The identifier of the audit transaction. All records for a modification are tied together using this ID.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISECODE" yfc:tableName="YFS_ENTERPRISE">
                <xsd:documentation>The organization that is associated with this enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies the Maximum Number of records to be returned. Default is 500.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="MODIFICATION_TYPE" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The type of modification that has occurred, for example AddQuantity or ChangeAppointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_AUDIT_KEY" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The primary key for the YFS_ORDER_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The order header that this order audit is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The order line that this order audit is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The order release that this order audit is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReadFromHistory" type="yfctype:Text-1" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values:
                <br/>
                        <b>
                            <code>N</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_AUDIT table.
                <br/>
                        <b>
                            <code>Y</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_AUDIT_H table (the history table).
                <br/>
                        <b>
                            <code>B</code>
                        </b> - Returns records that satisfy the input criteria from both YFS_AUDIT and YFS_AUDIT_H tables. Records returned from the current table are first in the output.
                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference1" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference2" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference3" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference4" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SelectMethod" type="yfctype:Text-20" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
			  Indicates if database operations should be performed in the
			  <code>WAIT</code> or <code>NO_WAIT</code> or <code>NO_LOCK</code> mode.
			  <br/>
			  Default: <code>WAIT</code>
                        <br/>
			  Valid Values:
			  <br/>
                        <b>
                            <code>WAIT</code>
                        </b> - The select operation waits until database resource becomes available.
			  <br/>
                        <b>
                            <code>NO_WAIT</code>
                        </b> - Peform a select immediately regardless the database resource availability.
			  <br/>
                        <b>
                            <code>NO_LOCK</code>
                        </b> - SQL will not put a lock on DB records.
			  <br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
