Data/xapidocs/api_javadocs/XSD/YFS_updateFutureInventory_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/updateFutureInventory/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/updateFutureInventory/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_updateFutureInventory_input.xsd" yfc:rootElement="ShipNode">
        <xsd:appinfo source="yfc:structure">
            <ShipNode hasAttributes="Y">
                <Item hasAttributes="Y">
                    <Remove>
                        <SupplyDetails hasAttributes="Y">
                            <Tag hasAttributes="Y"/>
                        </SupplyDetails>
                    </Remove>
                    <Augment>
                        <SupplyDetails hasAttributes="Y">
                            <Tag hasAttributes="Y"/>
                        </SupplyDetails>
                    </Augment>
                </Item>
            </ShipNode>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipNode" type="yfc:ShipNodeXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>
                <div>
		The ShipNode to be updated. 
		<Validation>
                        <Condition>
                            <code>ShipNode</code> not passed.
			</Condition>
                        <Error Description="Blank Shipnode." ErrorCode="YFS10151"/>
                    </Validation>
                    <Validation>
                        <Condition>Invalid ShipNode passed.
			</Condition>
                        <Error Description="YFS:Invalid Ship Node" ErrorCode="YFS10048"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipNodeXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Item"/>
        </xsd:sequence>
        <xsd:attribute name="RemoveAllPreviousInformation"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates if all previous supply information for this <code>ShipNode</code> should be removed. If passed as <b>
                            <code>Y</code>
                        </b>, any information in the <code>Remove</code> element is ignored.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="required">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>
                <div>
					Item for which inventory will be updated.
						<Validation>
                        <Condition>
                            	If removing inventory and inventory item does not exist.
							</Condition>
                        <Error Description="Invalid ItemId." ErrorCode="YFS10345"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Remove"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Augment"/>
            </xsd:sequence>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>
                        <div>
				Identifies the organization.
				<Validation>
                                <Condition>
                                    <code>OrganizationCode</code> not passed.
					</Condition>
                                <Error
                                    Description="Invalid organization code." ErrorCode="YFS10395"/>
                            </Validation>
                            <Validation>
                                <Condition>
                                    <code>OrganizationCode</code> is invalid.
					</Condition>
                                <Error
                                    Description="Invalid organization code." ErrorCode="YFS10395"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Remove">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						Any supply that matches the criteria provided will be removed. Parameters which do not have a value will not be considered.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="SupplyDetails">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
                        <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Tag">
                                <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="BatchNo"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Batch Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute1"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute2"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute3"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="LotKeyReference"
                                    type="yfctype:Text-4000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotNumber"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Lot Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ManufacturingDate" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Date"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="RevisionNo"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Revision Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="ETA" type="yfctype:Date" use="optional">
                            <xsd:annotation yfc:columnName="ETA"
                                yfc:isConditional="Y" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>
                                    <div>The <code>ETA</code> attribute is required when the element <code>ShipNode\Item\Augment</code> is passed. When the <code>ETA</code> attribute is passed in the <code>ShipNode\Item\Remove</code> element, it is ignored.
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FromETA"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Supply with ETA greater than or equals to <b>
                                    <code>FromETA</code>
                                    </b> will be considered. Applicable for element <code>ShipNode\Item\Remove</code> .
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute1"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotAttribute1</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute2"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotAttribute2</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute3"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotAttribute3</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotKeyReference"
                            type="yfctype:Text-4000" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotKeyReference</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotNumber"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotNumber</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
								</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Segment"
                            type="yfctype:Segment" use="optional">
                            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The segment for this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SegmentType"
                            type="yfctype:SegmentType" use="optional">
                            <xsd:annotation
                                yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The segment type for this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipByDate"
                            type="yfctype:Date" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The date when this inventory supply will be last available.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SupplyReference"
                            type="yfctype:Text-100" use="optional">
                            <xsd:annotation
                                yfc:columnName="SUPPLY_REFERENCE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The reference for this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SupplyReferenceType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="SUPPLY_REFERENCE_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The reference type for this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SupplyType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="SUPPLY_TYPE"
                                yfc:isConditional="Y" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>
                                    <div>The <code>SupplyType</code> attribute is required when the element <code>ShipNode\Item\Augment</code> is passed. When the <code>SupplyType</code> attribute is passed in the <code>ShipNode\Item\Remove</code> element, it is ignored.
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ToETA"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Supply with ETA less than or equals to <b>
                                    <code>ToETA</code>
                                    </b> will be considered. Applicable for element <code>ShipNode\Item\Remove</code>.
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Augment">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			Supplies under <b>
                        <code>Augment</code>
                    </b> will be added as new information into the system. If any supply is found matching the criteria, it will be augmented by the provided quantity.
			</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="SupplyDetails">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
                        <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Tag">
                                <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="BatchNo"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Batch Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute1"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute2"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute3"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="LotKeyReference"
                                    type="yfctype:Text-4000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotNumber"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Lot Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ManufacturingDate" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Date"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="RevisionNo"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Revision Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="Currency"
                            type="yfctype:Currency" use="optional">
                            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_INVENTORY_PENDING_ADJ">
                                <xsd:documentation>
                                    <div>
                                    <code>Currency</code> is only applicable if the node that the adjustment is made for has <code>MaintainInventoryCost</code> set to <b>Y</b>.  
						</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ETA" type="yfctype:Date" use="optional">
                            <xsd:annotation yfc:columnName="ETA" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>
                                    <div>The <code>ETA</code> attribute is required when the element <code>ShipNode\Item\Augment</code> is passed. When the <code>ETA</code> attribute is passed in the <code>ShipNode\Item\Remove</code> element, it is ignored.
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FromETA"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Supply with ETA greater than or equals to <b>
                                    <code>FromETA</code>
                                    </b> will be considered. Applicable for element <code>ShipNode\Item\Remove</code> .
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute1"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotAttribute1</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
								</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute2"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotAttribute2</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
								</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute3"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotAttribute3</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
								</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotKeyReference"
                            type="yfctype:Text-4000" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotKeyReference</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotNumber"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>LotNumber</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
								</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ManufacturingDate"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
                                    <b>
                                    <code>ManufacturingDate</code>
                                    </b> should not be passed here.  It should be passed in the <b>
                                    <code>Tag</code>
                                    </b> element instead.  
								</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Quantity"
                            type="yfctype:QuantityPositiveAndNegative" use="optional">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The quantity of this inventory supply. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set)</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Segment"
                            type="yfctype:Segment" use="optional">
                            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The segment for this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SegmentType"
                            type="yfctype:SegmentType" use="optional">
                            <xsd:annotation
                                yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The segment type for this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipByDate"
                            type="yfctype:Date" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The date when this inventory supply will be last available.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SupplyReference"
                            type="yfctype:Text-100" use="optional">
                            <xsd:annotation
                                yfc:columnName="SUPPLY_REFERENCE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The reference for this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SupplyReferenceType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="SUPPLY_REFERENCE_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The reference type for this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SupplyType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                                <xsd:documentation>The supply type of this inventory supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ToETA"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Supply with ETA less than or equals to <b>
                                    <code>ToETA</code>
                                    </b> will be considered. Applicable for element <code>ShipNode\Item\Remove</code> .
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UnitCost"
                            type="yfctype:String" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>Not used
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
