Data/xapidocs/api_javadocs/XSD/YFS_Equipment_Type_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Equipment_Type_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Equipment_Type_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Equipment_Type_master.xsd" yfc:rootElement="EquipmentType">
        <xsd:appinfo source="yfc:structure">
            <EquipmentType hasAttributes="Y">
                <Equipments>
                    <Equipment hasAttributes="Y">
                        <Location hasAttributes="Y"/>
                    </Equipment>
                </Equipments>
            </EquipmentType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EquipmentType" type="yfc:EquipmentTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT_TYPE">
            <xsd:documentation>All equipment types of the warehouse are defined in this table. e.g. GRABTRUCK, FORKLIFT etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EquipmentTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Equipments"/>
        </xsd:all>
        <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_EQUIPMENT_TYPE">
                <xsd:documentation>A brief description of the equipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentType" type="yfctype:EquipmentType" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_EQUIPMENT_TYPE">
                <xsd:documentation>This field specifies the equipment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE_KEY" yfc:tableName="YFS_EQUIPMENT_TYPE">
                <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_EQUIPMENT_TYPE">
                <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Equipments">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Equipment"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Equipment">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT">
            <xsd:documentation>All equipments used in the warehouse are defined in this table. The equipment table stores instance of an equipment of a particular type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Location"/>
            </xsd:all>
            <xsd:attribute name="EquipmentId" type="yfctype:EquipmentId" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_ID" yfc:tableName="YFS_EQUIPMENT">
                    <xsd:documentation>This field identifies the equipment. For example, if the warehouse has 10 fork lifts, the equipment IDs can be FORKLIFT1 to FORKLIFT10.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="EQUIPMENT_KEY" yfc:tableName="YFS_EQUIPMENT">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EquipmentTypeKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IntransitLocationId"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_EQUIPMENT">
                    <xsd:documentation>The primary key for the YFS_EQUIPMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Location">
        <xsd:annotation yfc:tableName="YFS_LOCATION">
            <xsd:documentation>Warehouse zones are further divided into locations of different sizes where inventory is stored. Each location belongs to a zone and a node. It is classified as INTRANSIT, REGULAR, VIRTUAL, STAGING or DOCK. It has attributes like aisle number, bay number, level number etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AisleNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="AISLE_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the aisle Number of the location. The locations belong to zones which have travel aisle's between them. A zone could belong to multiple aisles and multiple zones could belong to an aisle. But a location in a zone always belongs to one and only one aisle.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BayNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="BAY_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the location's bay number. Typically, the aisle, level and bay put together represents the physical location of the location in a node, if they are based on coordinate system. The bay attribute of the location (x-coordinate from the beginning of the aisle) is used in arriving at locations nearest to the dedicated locations algorithm that is used in putaway. Typically, the bay attribute is contained within the location ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeMoveIn" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FREEZE_MOVE_IN" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This flag indicates whether the inventory is moved into the location. This is used for warehouses with certain number of locations. However, the usage of locations is phased out over a period of time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FreezeMoveOut" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="FREEZE_MOVE_OUT" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This flag indicates whether inventory is moved out of the location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InStagingLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="IN_STAGING_LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that the inventory is dropped into the drop off locations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LevelNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="LEVEL_NUMBER" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the level number of the location. The height of the location (y-co-ordinate of the location from the floor) is classified as levels. The level attribute of the location is used in arriving at locations nearest to the dedicated locations algorithm used during the putaway process. Typically, the level attribute is contained within the location ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationBarCode"
                type="yfctype:LocationBarCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_BAR_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that a numeric barcode of the location identifier is stored for this location. The way this is intended to be used in WMS is that an RF operator when prompted to scan the location Id is also expected to scan the location bar code on the RF terminal. This ensures that the operator has traveled to the location suggested by the system and picked up or dropped off inventory at the specified location. Simply keying in the human readable form of the location ID on the RF terminal will be rejected by the system. The objective of this feature is to ensure inventory accuracy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the unique identifier for the location. The combination of the LOCATION_ID and NODE_KEY forms the unique key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_KEY" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The primary key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationSizeCode"
                type="yfctype:LocationSizeCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_SIZE_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field defines the capacity of the location. All locations having the same size (dimensions and ability to hold the same weight) are classified under the same size code. This maps to the primary key attribute of the YFS_LOCATION_SIZE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationType"
                type="yfctype:EnumLocationType" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_TYPE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is a system defined classification of location to aid association of locations of certain types for certain other operations with WMS. The supported types are: INTRANSIT (Mobile locations), STAGING, VIRTUAL, REGULAR and DOCK. For example, all equipment locations should be of type INTRANSIT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveInSeqNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MOVE_IN_SEQ_NO" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is used by task management to suggest location while moving in the inventory (putaway). The putaway location selection algorithm uses this information to select locations from a list of locations based on the move in sequence.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveOutSeqNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MOVE_OUT_SEQ_NO" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is used by task management to suggest location while moving out inventory (picking). The pick location selection algorithm uses this information to select locations from a list of locations based on its move in sequence.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>The primary key for the YFS_LOCATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OutStagingLocationId"
                type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="OUT_STAGING_LOCATION_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the Out Drop off Location where moves originated at this location, and may be dropped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageCode" type="yfctype:StorageCode" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field is an attribute of the location that allows the warehouse to store items with similar storage profile as that of the location.  For example, hazardous inflammable items need locations close to fire extinguishers. In this case the locations will be marked as having a storage code, which is suitable for storing Inflammable items. This ensures that only inflammable items get to these locations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VelocityCode"
                type="yfctype:VelocityCode" use="optional">
                <xsd:annotation yfc:columnName="VELOCITY_CODE" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates that the items are classified as 'A', 'B' or 'C' class items based on whether they are fast selling, not so fast selling and low selling items. These item classifications are typically followed by all enterprises to optimize certain operations such as sourcing and stocking. The reason to have locations that prefer certain velocity codes is to have locations closer to dock stocking 'A' class items, and locations furthest away from the dock stocking 'C' class items. The velocity code is a preference on the location and not a constraint. If 'A' class items fill up all locations meant for 'A' class items, then they can be moved to 'B' and later 'C'. Similarly, 'C' can go to 'B' and 'A' for lack of space in the respective locations preferred for a specific velocity code. The 'B' class items move into 'C' and then into 'A'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_LOCATION">
                    <xsd:documentation>This field indicates the zone to which a location belongs. This when associated with the  node key identifies a unique zone within the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
