Data/xapidocs/api_javadocs/XSD/YFS_recordInvoiceCreation_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/recordInvoiceCreation/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/recordInvoiceCreation/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_recordInvoiceCreation_input.xsd" yfc:rootElement="OrderInvoice">
        <xsd:appinfo source="yfc:structure">
            <OrderInvoice hasAttributes="Y">
                <TaxBreakupList>
                    <TaxBreakup hasAttributes="Y"/>
                </TaxBreakupList>
                <LineDetails>
                    <LineDetail hasAttributes="Y">
                        <LineDetailTranQuantity hasAttributes="Y"/>
                        <LineChargeList>
                            <LineCharge hasAttributes="Y"/>
                        </LineChargeList>
                        <LineTaxList>
                            <LineTax hasAttributes="Y"/>
                        </LineTaxList>
                    </LineDetail>
                </LineDetails>
                <HeaderChargeList>
                    <HeaderCharge hasAttributes="Y"/>
                </HeaderChargeList>
            </OrderInvoice>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderInvoice" type="yfc:OrderInvoiceXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE">
            <xsd:documentation>
                <div>
			Contains data related to an order invoice.
				<Validation>
                        <Condition>
                            <code>OrderHeaderKey</code>, <code>ShipmentKey</code> or the unique attributes and DocumentType for an Order or a Shipment must be passed and must be valid.
				</Condition>
                        <Error
                            Description="Either Order or Shipment information has to be passed." ErrorCode="OMP10062"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderInvoiceXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TaxBreakupList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineDetails"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderChargeList"/>
        </xsd:all>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The currency code in which this invoice is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateInvoiced" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The document type. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The enterprise code. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvoiceNo" type="yfctype:InvoiceNo" use="optional">
            <xsd:annotation yfc:columnName="INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Invoice number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvoiceType" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="INVOICE_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>
                    <div>
				Classifies an invoice.
				<br/>Valid Values:  <b>
                            <code>DEBIT_MEMO</code>
                        </b>, 
					<b>
                            <code>CREDIT_MEMO</code>
                        </b>, 
					<b>
                            <code>PRO_FORMA</code>
                        </b>, 
					or <b>
                            <code>INFO</code>
                        </b>
                        <Validation>
                            <Condition>Valid value must be passed.
					</Condition>
                            <Error Description="Invalid Invoice Type." ErrorCode="OMP10064"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MasterInvoiceNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="MASTER_INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Not used internally. Can be updated externally by custom logic to group invoices together.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Link to order header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The order number. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference1" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The reference 1 of this order invoice.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The seller organization. This is a part of a shipment's unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The ship node. This is a part of a shipment's unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Link to a shipment if invoice was created for a shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The shipment number. This is a part of a shipment's unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseOrderLineCharges" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				If set to 'Y' the API will ignore the charges passed as input to this API unless there is no associated order.
				If will process the invoice with the charges on the order line instead.
				If set to 'N' the API will ignore any charges on the order lines being invoiced and will only use charges passed to this API.
				<br/>Default: <b>
                            <code>Y</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TaxBreakupList">
        <xsd:annotation yfc:tableName="YFS_TAX_BREAKUP">
            <xsd:documentation>This table stores tax related information for various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:TaxBreakup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaxBreakup">
        <xsd:annotation yfc:tableName="YFS_TAX_BREAKUP">
            <xsd:documentation>This table stores tax related information for various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The charge category for which tax is being charged. For example, Labeling or Handling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Charge name for which tax is being charged. For example, Price Ticket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE1" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE2" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE3" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxPercentage" type="yfctype:TaxType" use="optional">
                <xsd:annotation yfc:columnName="TAX_PERCENTAGE" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Percentage amount for tax calculation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LineDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineDetail">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
            <xsd:documentation>
                <div>
					Contains data related to an order invoice line.
						<Validation>
                        <Condition>
                            <code>OrderLineKey</code> must be passed and must be valid.
						</Condition>
                        <Error Description="" ErrorCode=""/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineDetailTranQuantity"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineChargeList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineTaxList"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>The unique identifier for the item of this invoice line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Link to order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Prime line no of the order line.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:LineNo"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>The product class for the item of this invoice line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="required">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Quantity being invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Sub line no of the order line.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:LineNo"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>The unit of measure for the item of this invoice line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Unit Price for invoice line item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineDetailTranQuantity">
        <xsd:complexType>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						  Quantity being invoiced.
						  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionalUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						  UOM on which all the transactional quantities are specified.
						  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineChargeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LineCharge"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineCharge">
        <xsd:annotation yfc:tableName="YFS_LINE_CHARGES">
            <xsd:documentation>This table stores any additional charges or discounts that can be added to an  order line.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Link to YFS_CHARGE_CATEGORY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Link to YFS_CHARGE_NAME.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargePerLine"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="CHARGEPERLINE" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Fixed charge amount for this order/invoice line. When the line charge is associated with an order line, this amount will be invoiced on the first invoice for this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargePerUnit" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="CHARGEPERUNIT" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Charge per unit for the item on this order/invoice line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Any additional reference related to this line charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTaxList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LineTax"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTax">
        <xsd:annotation yfc:tableName="YFS_TAX_BREAKUP">
            <xsd:documentation>This table stores tax related information for various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The charge category for which tax is being charged. For example, Labeling or Handling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Charge name for which tax is being charged. For example, Price Ticket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE1" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE2" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE3" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxPercentage" type="yfctype:TaxType" use="optional">
                <xsd:annotation yfc:columnName="TAX_PERCENTAGE" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Percentage amount for tax calculation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderChargeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:HeaderCharge"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderCharge">
        <xsd:annotation yfc:tableName="YFS_HEADER_CHARGES">
            <xsd:documentation>This table stores charges that are applied at the header level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="CHARGE" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>The amount of the charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>The charge category. For example, Labeling or Handling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>The name of the charge. For example, Price Ticket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>Reference information about this charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
