Data/xapidocs/api_javadocs/XSD/YFS_Date_Type_misc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Date_Type_misc"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Date_Type_misc" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Date_Type_misc.xsd" yfc:rootElement="DateType">
        <xsd:appinfo source="yfc:structure">
            <DateType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DateType" type="yfc:DateTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_DATE_TYPE">
            <xsd:documentation>Stores information about dates which are applicable and available for a process type. A business document can then be monitored based on these dates</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DateTypeXSDType">
        <xsd:attribute name="BaseProcessType"
            type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The base process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeId" type="yfctype:DateTypeId" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_ID" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Unique identifier for a date type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_KEY" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Primary key attribute of YFS_DATE_TYPE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The document type that is associated with this process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessType" type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>The unique identifier for the process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_DATE_TYPE">
                <xsd:documentation>Process type this date belongs to</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
