Data/xapidocs/api_javadocs/XSD/YFS_getAdditionalDeliveryServicesForOrder_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getAdditionalDeliveryServicesForOrder/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getAdditionalDeliveryServicesForOrder/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getAdditionalDeliveryServicesForOrder_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <DeliveryServiceGroup hasAttributes="Y">
                    <PersonInfoShipTo hasAttributes="Y"/>
                    <OrderLines>
                        <OrderLine hasAttributes="Y">
                            <ValidDeliveryServices>
                                <ValidDeliveryServiceItem hasAttributes="Y"/>
                            </ValidDeliveryServices>
                        </OrderLine>
                    </OrderLines>
                    <DeliveryServices>
                        <Item hasAttributes="Y">
                            <PrimaryInformation hasAttributes="Y"/>
                            <ItemOptions>
                                <ItemOption hasAttributes="Y">
                                    <PrimaryInformation hasAttributes="Y"/>
                                </ItemOption>
                            </ItemOptions>
                        </Item>
                    </DeliveryServices>
                </DeliveryServiceGroup>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:DeliveryServiceGroup"/>
        </xsd:sequence>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The currency code in which this order is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="DeliveryServiceGroup">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PersonInfoShipTo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DeliveryServices"/>
            </xsd:all>
            <xsd:attribute name="MergeNode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The receiving node that is associated with this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReqDeliveryDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReqShipDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PersonInfoShipTo">
        <xsd:complexType>
            <xsd:attribute name="AddressID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine3" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine4" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine5" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine6" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AlternateEmailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Beeper" type="yfctype:String" use="optional"/>
            <xsd:attribute name="City" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Company" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Country" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Department" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EMailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FirstName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="JobTitle" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LastName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MiddleName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MobilePhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OtherPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PersonID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PersonInfoKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="State" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Suffix" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxGeoCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Title" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ZipCode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ValidDeliveryServices"/>
            </xsd:all>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidDeliveryServices">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ValidDeliveryServiceItem"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ValidDeliveryServiceItem">
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DeliveryServices">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Item"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryInformation">
                    <xsd:annotation yfc:tableName="YFS_ITEM">
                        <xsd:documentation>The table stores product information.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Description"
                            type="yfctype:Text-500" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                                <xsd:documentation>The description of the item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShortDescription"
                            type="yfctype:Text-200" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                                <xsd:documentation>The short description of the item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemOptions"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemOptions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemOption"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemOption">
        <xsd:annotation yfc:tableName="YFS_ITEM_OPTION">
            <xsd:documentation>This table stores all valid options for a provided service or delivery service item.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="PrimaryInformation">
                    <xsd:complexType>
                        <xsd:attribute name="Description"
                            type="yfctype:Text-500" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                                <xsd:documentation>The description of the item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShortDescription"
                            type="yfctype:Text-200" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                                <xsd:documentation>The short description of the item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OptionPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The cost of one unit of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
