Data/xapidocs/api_javadocs/XSD/YFS_changeImportDataStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/changeImportDataStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/changeImportDataStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_changeImportDataStatus_input.xsd" yfc:rootElement="ChangeImportDataStatus">
        <xsd:appinfo source="yfc:structure">
            <ChangeImportDataStatus hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeImportDataStatus" type="yfc:ChangeImportDataStatusXSDType"/>
    <xsd:complexType name="ChangeImportDataStatusXSDType">
        <xsd:attribute name="ImportKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="IMPORT_KEY" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>Primary Key</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatus" type="yfctype:EnumNewStatus" use="required">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>This field indicates if the data has been processed by the IntegrationServer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
