Data/xapidocs/api_javadocs/XSD/YFS_getRegionLevelList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getRegionLevelList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getRegionLevelList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getRegionLevelList_output.xsd" yfc:rootElement="RegionLevelList">
        <xsd:appinfo source="yfc:structure">
            <RegionLevelList hasAttributes="Y">
                <RegionLevel hasAttributes="Y"/>
            </RegionLevelList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RegionLevelList" type="yfc:RegionLevelListXSDType"/>
    <xsd:complexType name="RegionLevelListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:RegionLevel"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="RegionLevel">
        <xsd:annotation yfc:tableName="YFS_REGION_LEVEL">
            <xsd:documentation>This table contains information about Region levels for which each region will be created.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressFieldAlias"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_FIELD_ALIAS" yfc:tableName="YFS_REGION_LEVEL">
                    <xsd:documentation>If applicable, this indicates what address field this region level corresponds to. For example, Country or City. .</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanAggregate" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_AGGREGATE" yfc:tableName="YFS_REGION_LEVEL">
                    <xsd:documentation>Flag indicates if this region level can be a parent of other regions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionLevelDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation
                    yfc:columnName="REGION_LEVEL_DESCRIPTION" yfc:tableName="YFS_REGION_LEVEL">
                    <xsd:documentation>Region level description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionLevelKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_LEVEL_KEY" yfc:tableName="YFS_REGION_LEVEL">
                    <xsd:documentation>Region level key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_LEVEL_NAME" yfc:tableName="YFS_REGION_LEVEL">
                    <xsd:documentation>Region level name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
