Data/xapidocs/api_javadocs/XSD/YFS_getMonitoringCalendarForOrderUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getMonitoringCalendarForOrderUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getMonitoringCalendarForOrderUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getMonitoringCalendarForOrderUE_output.xsd" yfc:rootElement="Calendar">
        <xsd:appinfo source="yfc:structure">
            <Calendar hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Calendar" type="yfc:CalendarXSDType">
        <xsd:annotation yfc:tableName="YFS_CALENDAR">
            <xsd:documentation>Stores information related to a Calendar. Calendar can be created for an organization or for a ship node.  Calendar is created by the createCalendar API and managed by changeCalendar API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CalendarXSDType">
        <xsd:attribute name="CalendarId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Unique key to identify a Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CALENDAR_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Primary key attribute of YFS_CALENDAR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_CALENDAR">
                <xsd:documentation>Organization which owns the Calendar.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
