Data/xapidocs/api_javadocs/XSD/YFS_Storage_Constraint_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Storage_Constraint_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Storage_Constraint_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Storage_Constraint_keys.xsd" yfc:rootElement="StorageConstraint">
        <xsd:appinfo source="yfc:structure">
            <StorageConstraint hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StorageConstraint" type="yfc:StorageConstraintXSDType">
        <xsd:annotation yfc:tableName="YFS_STORAGE_CONSTRAINT">
            <xsd:documentation>This table stores one or more records indicating what items or category of items may be stored in a zone/location. This could also be imagined to as having dedication information for a zone/location for an item, product line, velocity, catalog organization, etc. While doing put away, these constraints are used to determine the zone to stow away received inventory. Zones or locations with no storage constraints can store any inventory.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StorageConstraintXSDType">
        <xsd:attribute name="ItemClassification1" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_1" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under item classification one.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification2" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_2" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under item classification two.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification3" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_3" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under item classification three.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StorageConstraintKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STORAGE_CONSTRAINT_KEY" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The primary key for the YFS_STORAGE_CONSTRAINT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneEnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ENTERPRISE_KEY" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                <xsd:documentation>The primary key for the YFS_STORAGE_CONSTRAINT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
