Data/xapidocs/api_javadocs/XSD/YFS_Additional_Date_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Additional_Date_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Additional_Date_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Additional_Date_tran.xsd" yfc:rootElement="AdditionalDate">
        <xsd:appinfo source="yfc:structure">
            <AdditionalDate hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AdditionalDate" type="yfc:AdditionalDateXSDType">
        <xsd:annotation yfc:tableName="YFS_ADDITIONAL_DATE">
            <xsd:documentation>This table stores additional date attributes that may be stored for an entity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="AdditionalDateXSDType">
        <xsd:attribute name="ActualDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_DATE" yfc:tableName="YFS_ADDITIONAL_DATE">
                <xsd:documentation>Actual Date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AdditionalDateKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ADDITIONAL_DATE_KEY" yfc:tableName="YFS_ADDITIONAL_DATE">
                <xsd:documentation>Primary Key attribute of YFS_ADDITIONAL_DATE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateTypeId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="DATE_TYPE_ID" yfc:tableName="YFS_ADDITIONAL_DATE">
                <xsd:documentation>The unique identifier for a date type for which additional dates are stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_DATE" yfc:tableName="YFS_ADDITIONAL_DATE">
                <xsd:documentation>Expected Date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReferenceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_KEY" yfc:tableName="YFS_ADDITIONAL_DATE">
                <xsd:documentation>A key pointing to the entity for which an additional date is maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReferenceType" type="yfctype:Text-2" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_TYPE" yfc:tableName="YFS_ADDITIONAL_DATE">
                <xsd:documentation>A reference type that identifies the entity for which these attributes are stored.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_DATE" yfc:tableName="YFS_ADDITIONAL_DATE">
                <xsd:documentation>Requested Date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
