Data/xapidocs/api_javadocs/XSD/YFS_changeOrderSchedule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/changeOrderSchedule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/changeOrderSchedule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_changeOrderSchedule_input.xsd" yfc:rootElement="ChangeSchedule">
        <xsd:appinfo source="yfc:structure">
            <ChangeSchedule hasAttributes="Y">
                <FromSchedules>
                    <FromSchedule hasAttributes="Y">
                        <ToSchedules>
                            <ToSchedule hasAttributes="Y">
                                <ToScheduleTranQuantity hasAttributes="Y"/>
                            </ToSchedule>
                        </ToSchedules>
                    </FromSchedule>
                </FromSchedules>
            </ChangeSchedule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeSchedule" type="yfc:ChangeScheduleXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
		Pass either <code>OrderHeaderKey</code> or <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code> to identify the Order to be modified.
		</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ChangeScheduleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FromSchedules"/>
        </xsd:all>
        <xsd:attribute name="AuditTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The identifier of the audit transaction. All records for a modification are tied together using this ID.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y"/>
        </xsd:attribute>
        <xsd:attribute name="ModificationReasonCode"
            type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The reason code of this order audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReasonText"
            type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The reason text of this order audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference1"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference2"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference3"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference4"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Override" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Pass as <b>
                            <code>Y</code>
                        </b> to override status change validation.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SelectMethod" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				This attribute determines whether database select operations are carried out in the <b>
                            <code>WAIT</code>
                        </b> or <b>
                            <code>NO_WAIT</code> mode</b>.
				<br/>Default: <b>
                            <code>NO_WAIT</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>WAIT</code>
                        </b> or  <b>
                            <code>NO_WAIT</code> mode</b>.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="FromSchedules">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:FromSchedule"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="FromSchedule">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				Contains the status and schedule information from which quantity needs to be moved. Pass the either the <code>OrderLineKey</code>
				or the <code>PrimeLineNo</code> and <code>SubLineNo</code> to identify the line that will have its schedule changed.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ToSchedules"/>
            </xsd:all>
            <xsd:attribute name="FromBatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
					If <code>FromBatchNo</code> is passed, it is used to find the matching schedule information.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
						If <code>FromExpectedDeliveryDate</code> is passed, it is used to find the matching schedule information.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromExpectedShipDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
					If <code>FromExpectedShipDate</code> is passed, it is used to find the matching schedule information.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromLotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
					If <code>FromLotNumber</code> is passed, it is used to find the matching schedule information.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromRevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
					If <code>FromRevisionNo</code> is passed, it is used to find the matching schedule information.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromStatus" type="yfctype:ShortStatus" use="required">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_RELEASE_STATUS">
                    <xsd:documentation>
                        <div>
                            <code>FromStatus</code> is used to find the matching schedule information.
                                <Validation>
                                <Condition>Invalid Status</Condition>
                                <Error Description="YFS:Invalid Status" ErrorCode="YFS10235"/>
                            </Validation>
                            <Validation>
                                <Condition>Order release not found.</Condition>
                                <Error
                                    Description="YFS: No Order Release Key" ErrorCode="YFS10130"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineScheduleKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_SCHEDULE_KEY" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
					If <code>OrderLineScheduleKey</code> is passed, it is used to find the matching schedule information and other schedule attributes, such as <code>FromExpectedShipDate</code> and <code>FromLotNumber</code>, are ignored. 
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_RELEASE">
                    <xsd:documentation>
                        <div>
					Pass either the <code>OrderReleaseKey</code> or <code>ReleaseNo</code> to change the schedule for a released line.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:ShorterNumber" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_RELEASE">
                    <xsd:documentation>
                        <div>
					Pass either the <code>OrderReleaseKey</code> or <code>ReleaseNo</code> to change the schedule for a released line.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToSchedules">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ToSchedule"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToSchedule">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				Contains the schedule information to which the quantity needs to be moved.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ToScheduleTranQuantity"/>
            </xsd:all>
            <xsd:attribute name="Quantity" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The quantity to move. Must be a numeric greater than zero.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToBatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
						If <code>ToBatchNo</code> is passed in the input, is is used for the new schedule. If not passed, the match is for a schedule record with blank batch number.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
						If <code>ToExpectedDeliveryDate</code> is passed in the input, is is used for the new schedule.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToExpectedShipDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
						If <code>ToExpectedShipDate</code> is passed in the input, is is used for the new schedule.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToLotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
						If <code>ToLotNumber</code> is passed in the input, is is used for the new schedule. If not passed, the match is for a schedule record with blank lot number.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToRevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>
                        <div>
						If <code>ToRevisionNumber</code> is passed in the input, is is used for the new schedule. If not passed, the match is for a schedule record with blank revision number.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ToScheduleTranQuantity">
        <xsd:complexType>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Quantity to move in TransactionalUOM</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionalUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation>
                    <xsd:documentation>UOM on which all the transactional quantities are specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
