Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Component_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Component_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Component_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Work_Order_Component_master.xsd" yfc:rootElement="WorkOrderComponent">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderComponent hasAttributes="Y">
                <WorkOrderComponentTag hasAttributes="Y"/>
            </WorkOrderComponent>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderComponent" type="yfc:WorkOrderComponentXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_COMPONENT">
            <xsd:documentation>
                <div>
			This table stores information about all the components required by the work order.<br/>Components are not mandatory for work orders created for the <code>KITTING</code> service item group code.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderComponentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderComponentTag"/>
        </xsd:all>
        <xsd:attribute name="ComponentQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="COMPONENT_QUANTITY" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>The component quantity per work order item quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>The unique identifier for the item associated with this work order component.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>The product class of an item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>The segment to which the inventory involved in the work order belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>This field indicates the segment type. Valid values are: - MTO : Made To Order - MTC : Made To Customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>This field identifies a serial number for the serialized item involved in the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>The date before which any time-sensitive inventory must be shipped out.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>The unit of measure for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderComponentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_COMPONENT_KEY" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>The primary key for the YFS_WORK_ORDER_COMPONENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER_COMPONENT">
                <xsd:documentation>The work order associated with this work order component.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="WorkOrderComponentTag">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
            <xsd:documentation>
                <div>
					Stores details of the inventory tag attributes for work order components that are tag tracked. Tag information is stored only if the <code>Node</code> tracks tag information in inventory.	
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Stores reference information for the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderComponentKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="WORK_ORDER_COMPONENT_KEY" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_COMPONENT.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderComponentTagKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_COMP_TAG_KEY" yfc:tableName="YFS_WORK_ORDER_COMP_TAG">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_COMP_TAG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
