Data/xapidocs/api_javadocs/XSD/YFS_purgeOrderToExternalDataStoreUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/purgeOrderToExternalDataStoreUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/purgeOrderToExternalDataStoreUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_purgeOrderToExternalDataStoreUE_output.xsd" yfc:rootElement="PurgeOrderToExternalDataStore">
        <xsd:appinfo source="yfc:structure">
            <PurgeOrderToExternalDataStore hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PurgeOrderToExternalDataStore" type="yfc:PurgeOrderToExternalDataStoreXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The PurgeOrderToExternalDataStore which is used to denote the status of the external storage. The
					<code>PurgedOrderToExternal</code> attribute must be passed with value 'Y' to indicate successful external storage.
					Any other value will indicate non successful external storage.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PurgeOrderToExternalDataStoreXSDType">
        <xsd:attribute name="PurgedOrderToExternal"
            type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
