Data/xapidocs/api_javadocs/XSD/YFS_Tag_Detail_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Tag_Detail_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Tag_Detail_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Tag_Detail_master.xsd" yfc:rootElement="TagDetail">
        <xsd:appinfo source="yfc:structure">
            <TagDetail hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="TagDetail" type="yfc:TagDetailXSDType"/>
    <xsd:complexType name="TagDetailXSDType">
        <xsd:attribute name="BatchNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LotAttribute1" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LotAttribute2" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LotAttribute3" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LotKeyReference" type="yfctype:String" use="optional"/>
        <xsd:attribute name="LotNumber" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ManufacturingDate" type="yfctype:String" use="optional"/>
        <xsd:attribute name="RevisionNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TagDetailKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="TagNumber" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
