Data/xapidocs/api_javadocs/XSD/YFS_beforeContainerPack_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/beforeContainerPack/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/beforeContainerPack/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_beforeContainerPack_input.xsd" yfc:rootElement="Containers">
        <xsd:appinfo source="yfc:structure">
            <Containers>
                <Container hasAttributes="Y">
                    <ShipTo hasAttributes="Y"/>
                </Container>
            </Containers>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Containers" type="yfc:ContainersXSDType"/>
    <xsd:complexType name="ContainersXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Container"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Container">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_CONTAINER">
            <xsd:documentation>Stores container header information. Containers are created using packShipment, createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipTo"/>
            </xsd:all>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerSCM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ContainerType" type="yfctype:Text-6" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_TYPE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The type of container. You could use it as an attribute to group containers - either based on size of the container, type of goods that it carries, and so forth.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DeclaredValue" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="DECLARED_VALUE" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The value of the container as declared on the carrier manifest for insurance purposes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Height" type="yfctype:String" use="optional"/>
            <xsd:attribute name="HeightUom" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Length" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LengthUom" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The order release key that is associated with this shipment container.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The carrier name to which the container got manifested.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT_CONTAINER">
                    <xsd:documentation>The tracking number. If carrier integration is availed for the carrier on the shipment, then this information is returned by the carrier server. This is a unique number assigned to each container that can be used to track individual containers in a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Weight" type="yfctype:String" use="optional"/>
            <xsd:attribute name="WeightUom" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Width" type="yfctype:String" use="optional"/>
            <xsd:attribute name="WidthUom" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipTo">
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine2" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine3" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine4" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine5" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AddressLine6" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AlternateEmailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Beeper" type="yfctype:String" use="optional"/>
            <xsd:attribute name="City" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Company" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Country" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DayPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Department" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EMailID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningFaxNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EveningPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FirstName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="HttpUrl" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="JobTitle" type="yfctype:String" use="optional"/>
            <xsd:attribute name="LastName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MiddleName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="MobilePhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OtherPhone" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PersonID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="State" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Suffix" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxGeoCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Title" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ZipCode" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
