Data/xapidocs/api_javadocs/XSD/YFS_getExternalInventoryUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getExternalInventoryUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getExternalInventoryUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getExternalInventoryUE_output.xsd" yfc:rootElement="Item">
        <xsd:appinfo source="yfc:structure">
            <Item hasAttributes="Y">
                <Supplies>
                    <Supply hasAttributes="Y">
                        <Tag hasAttributes="Y"/>
                    </Supply>
                </Supplies>
            </Item>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Item" type="yfc:ItemXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Supplies"/>
        </xsd:all>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unique identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                <xsd:documentation>
                    <div>The inventory organization code where inventory is being stored.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerOrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>
                    <div>The owner organization code of the ship node.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Supplies">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Supply"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Supply">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
            <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Tag"/>
            </xsd:all>
            <xsd:attribute name="AcrossAllTag" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
		This flag indicates that the supply is available across all tags.
		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstShipDate" type="yfctype:TimeStamp" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
		The first ship date of the available supply.
		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastShipDate" type="yfctype:TimeStamp" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
		The last ship date of the available supply.
		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity"
                type="yfctype:QuantityPositiveAndNegative" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The quantity of this inventory supply. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set)</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The segment for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The segment type for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The ship node where this inventory supply is located.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SoftAssignedQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
		The soft assigned demand quantity for this available supply.
		</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Track" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>

                        <div>
		This field indicates the availability type for this inventory supply. 
		<div
                                class="innerpanel" width="20%">
                                <table border="1" cellpadding="1"
                                    cellspacing="0" class="table">
                                    <thead>
                                    <tr>
                                    <td class="tablecolumnheader">Allowed Value</td>
                                    <td class="tablecolumnheader">Description</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    <td class="tablecolumn">Y</td>
                                    <td class="tablecolumn">Indicates that availability is tracked. </td>
                                    </tr>
                                    <tr>
                                    <td class="tablecolumn">N</td>
                                    <td class="tablecolumn">Indicates that availability is infinite. </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Tag">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Unique identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
