Data/xapidocs/api_javadocs/XSD/YFS_getATP_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getATP/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getATP/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getATP_output.xsd" yfc:rootElement="InventoryInformation">
        <xsd:appinfo source="yfc:structure">
            <InventoryInformation>
                <Item hasAttributes="Y">
                    <InventoryTotals>
                        <Supplies hasAttributes="Y">
                            <Supply hasAttributes="Y">
                                <InventoryItem hasAttributes="Y"/>
                            </Supply>
                        </Supplies>
                        <Demands hasAttributes="Y">
                            <Demand hasAttributes="Y">
                                <InventoryItem hasAttributes="Y"/>
                            </Demand>
                        </Demands>
                    </InventoryTotals>
                    <CurrentInventory>
                        <Supplies hasAttributes="Y">
                            <Supply hasAttributes="Y">
                                <InventoryItem hasAttributes="Y"/>
                            </Supply>
                        </Supplies>
                        <Demands hasAttributes="Y">
                            <Demand hasAttributes="Y">
                                <InventoryItem hasAttributes="Y"/>
                            </Demand>
                        </Demands>
                    </CurrentInventory>
                    <AvailableToPromiseInventory hasAttributes="Y">
                        <Supplies>
                            <Supply hasAttributes="Y">
                                <InventoryItem hasAttributes="Y"/>
                            </Supply>
                        </Supplies>
                        <Demands>
                            <Demand hasAttributes="Y">
                                <InventoryItem hasAttributes="Y"/>
                            </Demand>
                        </Demands>
                        <Shortages>
                            <Shortage hasAttributes="Y">
                                <InventoryItem hasAttributes="Y"/>
                            </Shortage>
                        </Shortages>
                        <Availability>
                            <Available hasAttributes="Y">
                                <InventoryItem hasAttributes="Y"/>
                            </Available>
                        </Availability>
                    </AvailableToPromiseInventory>
                    <InventoryCalculator hasAttributes="Y">
                        <Inventory hasAttributes="Y"/>
                    </InventoryCalculator>
                    <LanguageDescriptionList>
                        <LanguageDescription hasAttributes="Y"/>
                    </LanguageDescriptionList>
                    <ItemFilter hasAttributes="Y">
                        <PrimaryInformation hasAttributes="Y"/>
                        <ClassificationCodes hasAttributes="Y"/>
                    </ItemFilter>
                    <ShipNode hasAttributes="Y"/>
                </Item>
            </InventoryInformation>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryInformation" type="yfc:InventoryInformationXSDType"/>
    <xsd:complexType name="InventoryInformationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Item"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="0">
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryTotals"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CurrentInventory"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AvailableToPromiseInventory"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryCalculator"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LanguageDescriptionList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemFilter"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipNode"/>
            </xsd:sequence>
            <xsd:attribute name="AdvanceNotificationTime" use="optional">
                <xsd:annotation
                    yfc:columnName="ADVANCE_NOTIFICATION_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The advance notification time for this item. Communication to ship the order to shipping node/supplier is made at most this many days before the expected shipment date. Used during the release process. Default value: 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="AvailableToSell"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					The quantity available for selling.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalculateProjectedOnhandQty"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Result was calculated with <code>CalculateProjectedOnhandQty</code> flag from the input.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsiderAllNodes" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Result was calculated with <code>ConsiderAllNodes</code> flag from the input.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsiderAllSegments"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Y/N   Default is 'N'.   If set to 'Y', SegmentType and Segment will be ignored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsiderInventoryNodeControl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                    Indicates whether inventory node control data were used in the inventory reporting.
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsiderUnassignedDemand"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Result was calculated with <code>ConsiderUnassignedDemand</code> flag from the input.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributionRuleId"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				If passed, supplies and demands are read applying the distribution rule filter identified by this <code>DistributionRuleID</code>.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>EndDate</code> specifies the latest date for which availability information is required.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The extended multi-line description of the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganization"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LeadTime" use="optional">
                <xsd:annotation yfc:columnName="LEAD_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The lead time for getting the product delivered. Purchase order placed today will arrive after this many days at the warehouse. Default value: 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PeriodicalLength" type="yfctype:Text-1" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Indicates how availability for the required quantity should be returned. 
				<br/>Valid values:
				 <br/>
                            <b>
                                <code>0</code>
                            </b> -  daily, whenever there is any supply
				 <br/>
                            <b>
                                <code>1</code>
                            </b> - weekly, supply for the week is consolidated 
				 <br/>
                            <b>
                                <code>2</code>
                            </b> - monthly, supply for the whole month is consolidated
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessingTime"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="PROCESSING_TIME" yfc:tableName="YFS_ATP_RULES">
                    <xsd:documentation>Number of days required for processing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:CommonCode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Segment of inventory. Supplies and Demands with matching <code>Segment</code> will be considered for availability calculations.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Segment type of inventory.   Supplies and Demands with matching <code>SegmentType</code> will be considered for availability calculations.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Returns availability information for the <code>ShipNode</code> specified. If no <code>ShipNode</code> is passed,
				returns availability for all <code>ShipNodes</code> in this organization.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagControl"
                type="yfctype:EnumTagControlFlag" use="optional">
                <xsd:annotation yfc:columnName="TAG_CONTROL_FLAG" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field indicates whether an item is tag controlled. Inventory module uses this flag to determine if additional inventory attributes need to be stored for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TimeSensitive" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TIME_SENSITIVE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This flag indiactes whether the item is time-sensitive. Inventory module uses this to determine if inventory is dated. Default value: N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalExpiredSupply"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Total expired quantity across all ship nodes where the item searched for is available. Only makes sense if the item is time sensitive.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackedEverywhere" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Indicate if this item's supply is tracked. Values: <code>Y</code> - Item is tracked, <code>N</code> - Item has infinite supply.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryTotals">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			Shows all existing demands and supplies for the item.
			</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Supplies">
                    <xsd:annotation>
                        <xsd:documentation>
                            <div>
						Shows all inventory supplies.
					</div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Supply">
                                <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
						Contains inventory supply information.
						</div>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InventoryItem">
                                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
								Inventory supply Organization Code.
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
								Inventory supply quantity.
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SupplyType"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
								Inventory supply type.
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="TotalSupply"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								Total inventory supply quantity.
								</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Demands">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Demand">
                                <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
									Contains inventory demand information.
								</div>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InventoryItem">
                                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="DemandType"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
									Inventory demand type.
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
								Inventory Demand Organization Code.
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
									Inventory demand quantity.
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="TotalDemand"
                            type="yfctype:String" use="optional"/>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CurrentInventory">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			Shows all existing demands and supplies for the item.
			</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Supplies">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Supply">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InventoryItem">
                                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
									Inventory supply Organization Code.
									</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional"/>
                                    <xsd:attribute name="SupplyType"
                                    type="yfctype:Text-40" use="optional"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="TotalSupply"
                            type="yfctype:Quantity" use="optional"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Demands">
                    <xsd:annotation>
                        <xsd:documentation>
                            <div>
						Shows all existing demands.
						</div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Demand">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InventoryItem">
                                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="DemandType"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional"/>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="TotalDemand"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								Total demand quantity.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TotalOrders"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								Total number of Orders.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AvailableToPromiseInventory">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				Shows incoming demands and supplies for the item within the ATP horizon.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="Supplies">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Supply">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InventoryItem">
                                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional"/>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional"/>
                                    <xsd:attribute name="SupplyType"
                                    type="yfctype:Text-40" use="optional"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Demands">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Demand">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="InventoryItem">
                                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute name="DemandType"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute
                                    name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional"/>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Quantity" use="optional"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Shortages"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Availability"/>
            </xsd:all>
            <xsd:attribute name="AccumulatedShortage"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						AccumulatedShortage represents the accumulated shortages within the period between the FromDate and EndDate. It is calculated as the sum of the shortage demands (with ship date earlier than or on the end date of the period).
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Available" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Available quantity.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Demand" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Inventory demand quantity.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The end date of the available to promise inventory picture timeframe.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The start date of the available to promise inventory picture timeframe.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProjectedOnhandQty"
                type="yfctype:QuantityPositiveAndNegative" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						ProjectedOnhandQty represents the projected on-hand quantity within the period between the FromDate and EndDate. The ProjectedOnhandQty is calculated as the sum of available quantity of all supplies (within the period). Where the available quantity of each supply is calculated as the supply quantity minus the matched demand quantity of demands earlier than or on the end of the period. Available quantity also excludes demands earlier than start date of the period.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Shortage" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Inventory shortage quantity.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Supply" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Inventory supply quantity.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shortages">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Shortage"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Shortage">
        <xsd:annotation>
            <xsd:documentation>
                <div>Contains inventory shortage information. 
								</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                        <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ItemID"
                            type="yfctype:ItemID" use="optional">
                            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UnitOfMeasure"
                            type="yfctype:UOM" use="optional">
                            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Inventory demand type.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Inventory shortage quantity 
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Availability">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Available"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Available">
        <xsd:annotation>
            <xsd:documentation>
                <div>Available inventory supply.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                        <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ItemID"
                            type="yfctype:ItemID" use="optional">
                            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UnitOfMeasure"
                            type="yfctype:UOM" use="optional">
                            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Available quantity.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Available inventory supply type.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryCalculator">
        <xsd:annotation>
            <xsd:documentation>
                <div>If <code>RequiredQty</code> is passed as input, indicates when the <code>RequiredQty</code> can be fulfilled.
			</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Inventory"/>
            </xsd:sequence>
            <xsd:attribute name="RequiredQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Required quantity that needs be fulfilled.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Inventory">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						Available inventory.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Available quantity.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Date" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Available date.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescriptionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LanguageDescription"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescription">
        <xsd:annotation yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
            <xsd:documentation>This table stores description in different languages.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>A localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>An extended localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_CODE" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Locale for which the extended description is stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Short description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemFilter">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>Determines the filtering attributes when determining availability of a model item.
				This can be used to specify the correct style, size, or color of a model item and only include
				model children inventory whose item definition meet the required input.
				<br/>Note: Only extended attributes of the YFS_ITEM table are supported.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ClassificationCodes"/>
            </xsd:all>
            <xsd:attribute name="GetUnpublishedItems" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if unpublished items needs to be considered.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="Y"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IgnoreInvalidItems" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					This flag indicates whether invalid items should be considered.
					Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
					Default value: <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="Y"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ColorCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COLOR_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field describes color code for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The generic type of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerItem"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_ITEM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The identifier used by a manufacturer to identify an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerName"
                type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_NAME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The manufacturer of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductLine" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The product line associated with the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SizeCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SIZE_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field describes the size code of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClassificationCodes">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CommodityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COMMODITY_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The commodity code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ECCNNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ECCN_NO" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The ECCN number of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HarmonizedCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="HARMONIZED_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The harmonized code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NAICSCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NAICS_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NAICS code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NMFCCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NMFC_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NMFC code for an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The storage type code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxProductCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_PRODUCT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The tax product code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UNSPSC" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UNSPSC" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The UNSPSC code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VelocityCode"
                type="yfctype:VelocityCode" use="optional">
                <xsd:annotation yfc:columnName="VELOCITY_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The velocity code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNode">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>the description of the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IdentifiedByParentAs"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="IDENTIFIED_BY_PARENT_AS" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The store or distribution center identifier assigned by the parent organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The owner organization that is associated with this ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
