Data/xapidocs/api_javadocs/XSD/YFS_monitorItemAvailability_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/monitorItemAvailability/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/monitorItemAvailability/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_monitorItemAvailability_input.xsd" yfc:rootElement="MonitorItemAvailability">
        <xsd:appinfo source="yfc:structure">
            <MonitorItemAvailability hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MonitorItemAvailability" type="yfc:MonitorItemAvailabilityXSDType"/>
    <xsd:complexType name="MonitorItemAvailabilityXSDType">
        <xsd:attribute name="DistributionRuleId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>The distribution group to use instead of the configured distribution groups used for real
				time availability monitor. Used as an override.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
            The identifer for this inventory item.
               <Validation>
                            <Condition>
					The Item ID should be passed
				  </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
            The code of the organization associated with this inventory item.
               <Validation>
                            <Condition>
					The Organization Code should be passed
				  </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RaiseEventOnAllAvailabilityChanges"
            type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
							Whether set to Y or N, REALTIME_AVAILABILITY_CHANGE or REALTIME_AVAILABILITY_CHANGE_LIST event is raised on all availability changes regardless of whether availability exceeds or falls below specified thresholds.Valid values: Y or N. Default value: N.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
