Data/xapidocs/api_javadocs/XSD/YFS_orderRepricingUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/orderRepricingUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/orderRepricingUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_orderRepricingUE_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <LinePriceInfo hasAttributes="Y"/>
                        <LineCharges hasAttributes="Y">
                            <LineCharge hasAttributes="Y"/>
                        </LineCharges>
                        <LineTaxes>
                            <LineTax hasAttributes="Y"/>
                        </LineTaxes>
                        <Awards>
                            <Award hasAttributes="Y"/>
                        </Awards>
                        <AdditionalLinePrices>
                            <AdditionalLinePrice hasAttributes="Y">
                                <Promotions>
                                    <Promotion hasAttributes="Y"/>
                                </Promotions>
                                <Awards>
                                    <Award hasAttributes="Y"/>
                                </Awards>
                            </AdditionalLinePrice>
                        </AdditionalLinePrices>
                    </OrderLine>
                </OrderLines>
                <HeaderCharges hasAttributes="Y">
                    <HeaderCharge hasAttributes="Y"/>
                </HeaderCharges>
                <HeaderTaxes>
                    <HeaderTax hasAttributes="Y"/>
                </HeaderTaxes>
                <Promotions>
                    <Promotion hasAttributes="Y"/>
                </Promotions>
                <Awards>
                    <Award hasAttributes="Y"/>
                </Awards>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderCharges"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:HeaderTaxes"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Promotions">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="Promotion">
                            <xsd:annotation yfc:tableName="YFS_PROMOTION">
                                <xsd:documentation>This table stores information regarding promotions that are associated to an order or any of its lines.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>If the promotion is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Description"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>Description of the promotion.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_APPLIED" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>A flag indicating if the promotion is applied. When ValidateReferences=Y the value can be 'P' meaning the promotion was partially applied.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>This identifies the promotion that is added to this order. This will be used as the CouponID when determining the price of the order.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION table.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_TYPE" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>The type of promotion. Like DISCOUNT, BOGO.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="Awards">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element maxOccurs="1" minOccurs="0" name="Award">
                            <xsd:annotation yfc:tableName="YFS_PROMOTION_AWARD">
                                <xsd:documentation>This table stores information regarding awards that are created out of the promotions or information regarding pricing rules applied on the order. A single promotion or pricing rule can result in multiple awards.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="AwardAmount"
                                    type="yfctype:ExternalAmount" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_AMOUNT" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The amount of discount or charge that was applied as a part of this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_APPLIED" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardId"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_AWARD_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION_AWARD table.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="AwardType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_TYPE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ChargeCategory"
                                    type="yfctype:ChargeCategory" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge category of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ChargeName"
                                    type="yfctype:ChargeName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge name of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>If the award is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Description"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PosReasonCode"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="POS_REASON_CODE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Reason this promotion was applied.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This identifies the promotion that is added to this order.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The promotion this award belongs to.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="ValidatePromotionAward" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if promotions and awards need to be validated and matched.
					<br/>Valid Values:<b>
                        <code>Y</code>
                    </b> or <b>
                        <code>N</code>
                    </b>
                    <br/>
					Default: <b>
                        <code>Y</code>
                    </b>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LinePriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineCharges"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineTaxes"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="Awards">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Award">
                                <xsd:annotation yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This table stores information regarding awards that are created out of the promotions or information regarding pricing rules applied on the order. A single promotion or pricing rule can result in multiple awards.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="AwardAmount"
                                    type="yfctype:ExternalAmount" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_AMOUNT" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The amount of discount or charge that was applied as a part of this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_APPLIED" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardId"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_AWARD_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION_AWARD table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_TYPE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ChargeCategory"
                                    type="yfctype:ChargeCategory" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge category of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ChargeName"
                                    type="yfctype:ChargeName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge name of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>If the award is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PosReasonCode"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="POS_REASON_CODE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Reason this promotion was applied.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This identifies the promotion that is added to this order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The promotion this award belongs to.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalLinePrices"/>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LinePriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AdditionalLinePriceTotal"
                type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total Price for all non-informational Additional
							Line Prices for the OrderLine. List Price times ActualPricingQuantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The Tax Exemption Certificate applied to this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether this order line is taxable or not. This field is for informational purposes only. Currently, it is not used in any tax calculations. If not passed, this flag is defaulted to that of item in the catalog, if exists, else it is defaulted to "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineCharges">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LineCharge"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>If reset is passed as Y,all the existing charges that are not passed as a child node will be set to zero.  These charges will still appear on the order, however their charge amount will be set to zero.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineCharge">
        <xsd:annotation yfc:tableName="YFS_LINE_CHARGES">
            <xsd:documentation>This table stores any additional charges or discounts that can be added to an  order line.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="required">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Link to YFS_CHARGE_CATEGORY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Link to YFS_CHARGE_NAME.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargePerLine"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="CHARGEPERLINE" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Fixed charge amount for this order/invoice line. When the line charge is associated with an order line, this amount will be invoiced on the first invoice for this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargePerUnit" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="CHARGEPERUNIT" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Charge per unit for the item on this order/invoice line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsBillable" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Describes if the charge is billable. Default: <code>N</code>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDiscount" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Describes if the charge is discountable. Default: <code>N</code>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Any additional reference related to this line charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTaxes">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						Pass this element to replace the tax information for an order line. To update the tax information for an order line, all applicable taxes (not just the modified or added tax) should be passed to the API. Tax which is not passed will be removed from the order line.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LineTax"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTax">
        <xsd:annotation yfc:tableName="YFS_TAX_BREAKUP">
            <xsd:documentation>
                <div>
						Contains tax related information for various entities in the system.  If <code>ChargeCategory</code> and <code>ChargeName</code> are not provided, tax will be considered as a billable and positive charge.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The charge category for which tax is being charged. For example, Labeling or Handling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Charge name for which tax is being charged. For example, Price Ticket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE1" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE2" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE3" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxName" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="TAX_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxPercentage" type="yfctype:TaxType" use="optional">
                <xsd:annotation yfc:columnName="TAX_PERCENTAGE" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Percentage amount for tax calculation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>This flag indicates if a charge can be taxed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalLinePrices">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalLinePrice"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalLinePrice">
        <xsd:annotation yfc:tableName="YFS_ADDNL_LINE_PRICE">
            <xsd:documentation>Maintains details of various Price Types applicable to an order line.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Promotions">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Promotion">
                                <xsd:annotation yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>This table stores information regarding promotions that are associated to an order or any of its lines.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="AdditionalLinePriceKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ADDNL_LINE_PRICE_KEY" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>Primary key attribute of the YFS_ADDNL_LINE_PRICE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>If the promotion is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-200" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>Description of the promotion.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="PromotionApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_APPLIED" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>A flag indicating if the promotion is applied. When ValidateReferences=Y the value can be 'P' meaning the promotion was partially applied.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>This identifies the promotion that is added to this order. This will be used as the CouponID when determining the price of the order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_TYPE" yfc:tableName="YFS_PROMOTION">
                                    <xsd:documentation>The type of promotion. Like DISCOUNT, BOGO.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Awards">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Award">
                                <xsd:annotation yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This table stores information regarding awards that are created out of the promotions or information regarding pricing rules applied on the order. A single promotion or pricing rule can result in multiple awards.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="AdditionalLinePriceKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ADDNL_LINE_PRICE_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Primary key attribute of the YFS_ADDNL_LINE_PRICE table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardAmount"
                                    type="yfctype:ExternalAmount" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_AMOUNT" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The amount of discount or charge that was applied as a part of this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardApplied"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_APPLIED" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A flag indicating if the award is applied. When ValidateReferences=Y the value can be 'P' meaning the award was partially applied</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardId"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A unique identifier for the award. If pricing is maintained within the system, this will be the PricingRuleName of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_AWARD_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The primary key of the YFS_PROMOTION_AWARD table.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardQuantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_QUANTITY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Indicates the remaining free gift quantity available for the promotion.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Quantity"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="AwardType"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AWARD_TYPE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The type of award. If pricing is maintained within the system, this will be the RuleCategory of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ChargeCategory"
                                    type="yfctype:ChargeCategory" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge category of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ChargeName"
                                    type="yfctype:ChargeName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The charge name of the LineCharge or HeaderCharge for which this award was created.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="DenialReason"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DENIAL_REASON" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>If the award is denied, the reason for the denial.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-2000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>A description for the award. If pricing is maintained within the system, this will be the Description of the pricing rule that created this award.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="IsManual"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="IS_MANUAL" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Indicates that the award is associated to a Manual Line or Rule modification.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="IsPromotionOnOrder"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the Award was created for a
											Promotion
											on the order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="IsPromotionOnOrderLine"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Determines whether the Award was created for a
											Promotion
											on the order line.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PosReasonCode"
                                    type="yfctype:Text-100" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="POS_REASON_CODE" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>Reason this promotion was applied.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionId"
                                    type="yfctype:PromoCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_ID" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>This identifies the promotion that is added to this order.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="PromotionKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PROMOTION_KEY" yfc:tableName="YFS_PROMOTION_AWARD">
                                    <xsd:documentation>The promotion this award belongs to.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="AdditionalLinePriceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ADDNL_LINE_PRICE_KEY" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>Primary key attribute of the YFS_ADDNL_LINE_PRICE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedPrice" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>ExtendedPrice of the AdditionalLinePrice for this OrderLine. Equal to the Price of the additional line times ActualPricingQuantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPriceLocked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>Indicates that the Price for this Price Type is locked and is specified in the input.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsPriceTypeForInformationOnly"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_INFO_ONLY" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>Flag to indicate that his Price Type is for informational use only.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>Primary key attribute of the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" use="optional">
                <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>Price value of the corresponding Price Type.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeName"
                type="yfctype:PriceTypeName" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>Price Type associated with this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RecurringType"
                type="yfctype:CommonCode" use="optional">
                <xsd:annotation yfc:columnName="RECURRING_TYPE" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>Recurring Interval for Price Type; if null, then Price Type is non-recurring.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderCharges">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:HeaderCharge"/>
            </xsd:sequence>
            <xsd:attribute name="Reset" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>If reset is passed as Y, all the existing charges that are not passed as a child node will be set to zero.  These charges will still appear on the order, however their charge amount will be set to zero.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderCharge">
        <xsd:annotation yfc:tableName="YFS_HEADER_CHARGES">
            <xsd:documentation>This table stores charges that are applied at the header level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="CHARGE" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>The amount of the charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="required">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>The charge category. For example, Labeling or Handling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>The name of the charge. For example, Price Ticket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsBillable" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Describes if the charge is billable. Default: <code>N</code>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDiscount" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Describes if the charge is discountable. Default: <code>N</code>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE" yfc:tableName="YFS_HEADER_CHARGES">
                    <xsd:documentation>Reference information about this charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderTaxes">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						Pass this element to replace the tax information. To update the tax information for an order, all applicable taxes (not just the modified or added tax) should be passed to the API. Tax which is not passed will be removed from the order.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:HeaderTax"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="HeaderTax">
        <xsd:annotation yfc:tableName="YFS_TAX_BREAKUP">
            <xsd:documentation>
                <div>
						Contains tax related information for various entities in the system.  If <code>ChargeCategory</code> and <code>ChargeName</code> are not provided, tax will be considered as a billable and positive charge.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="required">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The charge category for which tax is being charged. For example, Labeling or Handling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Charge name for which tax is being charged. For example, Price Ticket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE1" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE2" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE3" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxName" type="yfctype:Text-40" use="required">
                <xsd:annotation yfc:columnName="TAX_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxPercentage" type="yfctype:TaxType" use="optional">
                <xsd:annotation yfc:columnName="TAX_PERCENTAGE" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Percentage amount for tax calculation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>This flag indicates if a charge can be taxed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
