Data/xapidocs/api_javadocs/XSD/YFS_Move_Request_Line_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Move_Request_Line_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Move_Request_Line_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Move_Request_Line_master.xsd" yfc:rootElement="MoveRequestLine">
        <xsd:appinfo source="yfc:structure">
            <MoveRequestLine hasAttributes="Y">
                <Receipt hasAttributes="Y"/>
                <MoveRequest hasAttributes="Y"/>
                <MoveRequestLineTag hasAttributes="Y"/>
            </MoveRequestLine>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MoveRequestLine" type="yfc:MoveRequestLineXSDType">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST_LINE">
            <xsd:documentation>This table contains details of the inventory that needs to be moved against a move request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MoveRequestLineXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MoveRequest"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MoveRequestLineTag"/>
        </xsd:all>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>A Case Id.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The country in which the item that is moved was manufactured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>This code identifies the enterprise to which the item that is moved belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasExceptions" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAS_EXCEPTIONS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>This flag indicates whether there were any exceptions in either creating or executing tasks for the move request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The inventory status of the item that is moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The item that is moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The move request key that is associated with this move request line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The primary key for the YFS_MOVE_REQUEST_LINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>A Pallet Id.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The product class of the item that is moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>This code identifies the reason why the move request was cancelled. The user defined Common Code Type is "MOVE_REQ_CANCEL_RSN".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The description of the reason why the move request was cancelled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The receipt header key that is associated with this move request line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleasedFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="RELEASED_FLAG" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>This code indicates whether a line is fully tasked.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleasedQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="RELEASED_QUANTITY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The quantity in the item's unit of measure for which tasks have been created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_QUANTITY" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The quantity in the item's unit of measure that needs to be moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The segment to which the inventory that is moved belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The segment type of the item  that is moved. Typical values are: MTO (made to order) and MTC (made to customer).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>A serial number for a request involving serialized items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The date before which a time-sensitive inventory must be shipped out.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourceLocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="SOURCE_LOCATION_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The source location from where the inventory is moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetLocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="TARGET_LOCATION_ID" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The destination location to which the inventory is moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The task type to be used for the task created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_MOVE_REQUEST_LINE">
                <xsd:documentation>The unit of measure of the item that is moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The Receiving Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequest">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST">
            <xsd:documentation>This table stores all the move requests that are created for a node. The move requests may be created from any activity group.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FinishNoLaterThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The timestamp for the time by which the task has to finish. This is a pass through field which is stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ForActivityCode"
                type="yfctype:Activity" use="optional">
                <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>This code identifies the activity for which the move request is being logged.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromActivityGroup"
                type="yfctype:EnumActivityGroup" use="optional">
                <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The department requesting the move. Valid values are: Replenishment, Outbound Picking, Receipt, Count, Value Added Services, Packing, Outbound Inventory Container Build, Shipping Container Build, and Inspection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HasExceptions" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="HAS_EXCEPTIONS" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>This flag indicates whether there were any exceptions in either creating or executing the tasks for the move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The primary key for the YFS_MOVE_REQUEST table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_NO" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The number of the move request. This field identifies a move request for a node, within the context of a module.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The node key that is associated with this move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>This code identifies the reason why the move request was cancelled. The user defined Common Code Type is "MOVE_REQ_CANCEL_RSN".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The description of the reason why the move request was cancelled.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestUserId" type="yfctype:LoginId" use="optional">
                <xsd:annotation yfc:columnName="REQUEST_USER_ID" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The user who requested the move.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The shipment key that is associated with this move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartNoEarlierThan"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The timestamp for the time when the task can start. This is a pass through field which is stamped on each task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumMoveRequestStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The status of the move request. The system defined Common Code Type is "MOVE_REQUEST_STATUS." Valid values are: Created, Released, Cancellation Requested, Cancellation Failed and Closed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The wave key that is associated with this move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_MOVE_REQUEST">
                    <xsd:documentation>The work order key that is associated with this move request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MoveRequestLineTag">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
            <xsd:documentation>This table stores the details of the inventory tags, for inventory that needs to be moved against a move request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The batch number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>An attribute of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotManufactureDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The date of manufacture of the lot to which the item belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The lot number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="MOVE_REQUEST_LINE_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The move request line key that is associated with this move request line tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MoveRequestLineTagKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MOVE_REQUEST_LINE_TAG_KEY" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The primary key for the YFS_MOVE_REQUEST_LINE_TAG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_MOVE_REQUEST_LINE_TAG">
                    <xsd:documentation>The revision number of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
