Data/xapidocs/api_javadocs/XSD/YFS_Inventory_Status_Tran_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Inventory_Status_Tran_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Inventory_Status_Tran_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Inventory_Status_Tran_master.xsd" yfc:rootElement="InventoryStatusTransition">
        <xsd:appinfo source="yfc:structure">
            <InventoryStatusTransition hasAttributes="Y">
                <InventoryStatus hasAttributes="Y"/>
                <NewInventoryStatus hasAttributes="Y"/>
            </InventoryStatusTransition>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryStatusTransition" type="yfc:InventoryStatusTransitionXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
            <xsd:documentation>To support automatic change of inventory status and therefore the supplies associated with it, zones have an inventory status transition matrix associated with them. What this implies is that as a result of an operation if inventory is moved to a specific zone, inventory status would automatically change and as a result the supply picture would change automatically. For example, let's consider Inventory in status Awaiting QC check in the QC area. Once the inventory check is done and the product moved to a zone where put away of QC okay products are typically stored, then the inventory status changes from Awaiting QC to Normal.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryStatusTransitionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryStatus"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NewInventoryStatus"/>
        </xsd:all>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The inventory status of the product being put away to this zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatusTransitionKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS_TRAN_KEY" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The primary key for the YFS_INVENTORY_STATUS_TRAN table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewInventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="NEW_INVENTORY_STATUS" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The new inventory status acquired by a product upon moving to a zone. Inventory will be status Awaiting QC check in the QC area. Once the inventory check is done and the product moved to a zone where put away of QC okay products are typically stored, then the inventory status changes from Awaiting QC to Normal.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The node key that is associated the location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_INVENTORY_STATUS_TRAN">
                <xsd:documentation>The identifier of the  zone.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InventoryStatus">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_STATUS">
            <xsd:documentation>Defines the status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with, when it arrives at the warehouse. Typical values are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held etc. The way this inventory attribute impacts business process is that inventory availability picture projected to external systems will be based on the inventory status it is in. The inventory picture is projected through the supply type attribute associated with inventory status. For example, the supply available for allocating against orders would be the one with inventory status Normal, and not Awaiting Inventory Check or Inventory Held etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The description of the inventory status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with when it arrives at the warehouse. Typical values of product class are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatusKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS_KEY" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The primary key for the YFS_INVENTORY_STATUS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The node to which the location belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:SupplyType" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>This flag indicates whether inventory belonging to an inventory status can be used for a specific operation. The inventory availability picture projected to external systems will be based on the inventory status it is in. The inventory picture is projected through the supply type attribute associated with inventory status. For example, the supply available for allocating against orders would be the one with inventory status Normal, and not Awaiting Inventory Check or Inventory Held etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NewInventoryStatus">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_STATUS">
            <xsd:documentation>Defines the status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with, when it arrives at the warehouse. Typical values are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held etc. The way this inventory attribute impacts business process is that inventory availability picture projected to external systems will be based on the inventory status it is in. The inventory picture is projected through the supply type attribute associated with inventory status. For example, the supply available for allocating against orders would be the one with inventory status Normal, and not Awaiting Inventory Check or Inventory Held etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The description of the inventory status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with when it arrives at the warehouse. Typical values of product class are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatusKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS_KEY" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The primary key for the YFS_INVENTORY_STATUS table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>The node to which the location belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:SupplyType" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_STATUS">
                    <xsd:documentation>This flag indicates whether inventory belonging to an inventory status can be used for a specific operation. The inventory availability picture projected to external systems will be based on the inventory status it is in. The inventory picture is projected through the supply type attribute associated with inventory status. For example, the supply available for allocating against orders would be the one with inventory status Normal, and not Awaiting Inventory Check or Inventory Held etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
