Data/xapidocs/api_javadocs/XSD/YFS_getSupplyDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getSupplyDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getSupplyDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getSupplyDetails_output.xsd" yfc:rootElement="Item">
        <xsd:appinfo source="yfc:structure">
            <Item hasAttributes="Y">
                <LanguageDescriptionList>
                    <LanguageDescription hasAttributes="Y"/>
                </LanguageDescriptionList>
                <ShipNodes>
                    <ShipNode hasAttributes="Y">
                        <Supplies>
                            <Supply hasAttributes="Y">
                                <SupplyDetails hasAttributes="Y">
                                    <Tag hasAttributes="Y"/>
                                    <ExactMatchedDemands hasAttributes="Y">
                                    <DemandDetails hasAttributes="Y">
                                    <InventoryItem hasAttributes="Y"/>
                                    </DemandDetails>
                                    </ExactMatchedDemands>
                                    <SoftMatchedDemands hasAttributes="Y">
                                    <DemandDetails hasAttributes="Y">
                                    <InventoryItem hasAttributes="Y"/>
                                    </DemandDetails>
                                    </SoftMatchedDemands>
                                    <InventoryItem hasAttributes="Y"/>
                                </SupplyDetails>
                            </Supply>
                        </Supplies>
                        <UnmatchedDemands>
                            <Demand hasAttributes="Y">
                                <DemandDetails hasAttributes="Y">
                                    <Tag hasAttributes="Y"/>
                                    <InventoryItem hasAttributes="Y"/>
                                </DemandDetails>
                            </Demand>
                        </UnmatchedDemands>
                    </ShipNode>
                </ShipNodes>
                <ItemFilter hasAttributes="Y">
                    <PrimaryInformation hasAttributes="Y"/>
                    <ClassificationCodes hasAttributes="Y"/>
                </ItemFilter>
            </Item>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Item" type="yfc:ItemXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LanguageDescriptionList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipNodes"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemFilter"/>
        </xsd:all>
        <xsd:attribute name="AvailableQty"
            type="yfctype:QuantityPositiveAndNegative" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>
                    <div>
				Returned as <b>
                            <code>0</code>
                        </b> if <code>\getSupplyDetails\RequiredQty</code> was not passed. Otherwise <code>AvailableQty</code> is set to how much is available for the required quantity.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderAllNodes" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Indicates whether all nodes were used in the inventory reporting.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderAllSegments" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates whether all segments were used in the inventory reporting.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderFEFOMatching" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				This flag indicates whether the demand should be allocated against the applicable supply in the First Expire First Out order.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderInventoryNodeControl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                Indicates whether inventory node control data were used in the inventory reporting.
                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderUnassignedDemand"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates whether unassigned demands were used in the inventory reporting.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The description of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The distribution group that this sourcing entry is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <code>EndDate</code> specifies the lastest date to look for inventory.  
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExtendedDescription"
            type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The extended multi-line description of the Item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortDescription" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The short description of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LanguageDescriptionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LanguageDescription"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescription">
        <xsd:annotation yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
            <xsd:documentation>This table stores description in different languages.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>A localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>An extended localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_CODE" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Locale for which the extended description is stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Short description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNodes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipNode"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNode">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Supplies"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:UnmatchedDemands"/>
            </xsd:all>
            <xsd:attribute name="AvailableQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Available quantity at the node.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The priority for this distribution.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tracked" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Indicate that the inventory is tracked.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Supplies">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Supply"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Supply">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
            <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:SupplyDetails"/>
            </xsd:sequence>
            <xsd:attribute name="AvailableQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Available quantity for the supply.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The supply type of this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Total quantity of the supply.
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SupplyDetails">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
            <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Tag">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
                        <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="BatchNo"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Batch Number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryItemKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Primary key of YFS_INVENTORY_ITEM.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="InventoryTagKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Primary key of YFS_INVENTORY_TAG.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute1"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Any other lot attribute.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute2"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Any other lot attribute.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotAttribute3"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Any other lot attribute.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotKeyReference"
                            type="yfctype:Text-4000" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotNumber"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Lot Number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ManufacturingDate" use="optional">
                            <xsd:annotation
                                yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Date"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="RevisionNo"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Revision Number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TagNumber"
                            type="yfctype:TagNumber" use="optional">
                            <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Unique identifier.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TotalDemand"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation
                                yfc:columnName="TOTAL_DEMAND" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Total demand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TotalOnhandSupply"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation
                                yfc:columnName="TOTAL_ONHAND_SUPPLY" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Total onhand type supply.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TotalOtherSupply"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation
                                yfc:columnName="TOTAL_OTHER_SUPPLY" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Total supply not of the type onhand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ExactMatchedDemands"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SoftMatchedDemands"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                        <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="ItemID"
                            type="yfctype:ItemID" use="optional">
                            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UnitOfMeasure"
                            type="yfctype:UOM" use="optional">
                            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="ETA" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="ETA" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The date when this inventory supply will be first available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotReference" type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Quantity"
                type="yfctype:QuantityPositiveAndNegative" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The quantity of this inventory supply. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set)</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The segment for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The segment type for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The date when this inventory supply will be last available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyReference"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_REFERENCE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The reference for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyReferenceType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_REFERENCE_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The reference type for this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                    <xsd:documentation>The supply type of this inventory supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Unique identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Track" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Indicate that supply is tracked.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ExactMatchedDemands">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="DemandDetails">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_DEMAND">
                        <xsd:documentation>Stores inventory demands.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                                <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="DemandType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>
                                    <div>
						Specifies a <code>DemandType</code> used in the inventory availability calculations.
						<br/>Only valid <code>SupplyType</code>s that can be consumed against the <code>DemandType</code> value are considered in the inventory availability calculations.
						<BR/>Default: OPEN_ORDER
						</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotNumber"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Lot Number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MatchedQuantity"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
							The quantity of this demand that matches the supply. 
						</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MinShipByDate" use="optional">
                            <xsd:annotation
                                yfc:columnName="MIN_SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The minimum ship by date of the demand.  The demand can only consume from supplies with ship by dates, which are greater than or equal to its minimum ship by date.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Date"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="OrganizationCode"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The owner associated with this inventory demand. The owner organization responsible for fulfilling the demand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Quantity"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The quantity on this inventory demand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipDate"
                            type="yfctype:Date" use="optional">
                            <xsd:annotation
                                yfc:columnName="DEMAND_SHIP_DATE" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The ship date on this inventory demand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipNode"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The ship node associated with this inventory demand, if demand is raised for a particular node.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TagNumber"
                            type="yfctype:TagNumber" use="optional">
                            <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Unique identifier.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="TotalQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Total quantity of the exact matched demands.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SoftMatchedDemands">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="DemandDetails">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_DEMAND">
                        <xsd:documentation>Stores inventory demands.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                                <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="DemandType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>
                                    <div>
						Specifies a <code>DemandType</code> used in the inventory availability calculations.
						<br/>Only valid <code>SupplyType</code>s that can be consumed against the <code>DemandType</code> value are considered in the inventory availability calculations.
						<BR/>Default: OPEN_ORDER
						</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LotNumber"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Lot Number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MatchedQuantity"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
							The quantity of this demand that matches the supply. 
						</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MinShipByDate" use="optional">
                            <xsd:annotation
                                yfc:columnName="MIN_SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The minimum ship by date of the demand.  The demand can only consume from supplies with ship by dates, which are greater than or equal to its minimum ship by date.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Date"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="OrganizationCode"
                            type="yfctype:Key" use="optional"/>
                        <xsd:attribute name="Quantity"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The quantity on this inventory demand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipDate"
                            type="yfctype:Date" use="optional"/>
                        <xsd:attribute name="ShipNode"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The ship node associated with this inventory demand, if demand is raised for a particular node.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TagNumber"
                            type="yfctype:TagNumber" use="optional">
                            <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Unique identifier.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="TotalQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Total quantity of soft matched demands.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="UnmatchedDemands">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					Demands with no matching supply at the node.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Demand"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Demand">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_DEMAND">
            <xsd:documentation>Stores inventory demands.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="DemandDetails">
                    <xsd:annotation yfc:tableName="YFS_INVENTORY_DEMAND">
                        <xsd:documentation>Stores inventory demands.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Tag">
                                <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="BatchNo"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Batch Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InventoryItemKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Primary key of YFS_INVENTORY_ITEM.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="InventoryTagKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Primary key of YFS_INVENTORY_TAG.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute1"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute2"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotAttribute3"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="LotKeyReference"
                                    type="yfctype:Text-4000" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="LotNumber"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Lot Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ManufacturingDate" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Date"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="RevisionNo"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Revision Number.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="TagNumber"
                                    type="yfctype:TagNumber" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Unique identifier.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="TotalDemand"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TOTAL_DEMAND" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Total demand.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TotalOnhandSupply"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TOTAL_ONHAND_SUPPLY" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Total onhand type supply.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="TotalOtherSupply"
                                    type="yfctype:Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TOTAL_OTHER_SUPPLY" yfc:tableName="YFS_INVENTORY_TAG">
                                    <xsd:documentation>Total supply not of the type onhand.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="InventoryItem">
                                <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UnitOfMeasure"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                        <xsd:attribute name="DemandType"
                            type="yfctype:Text-40" use="optional">
                            <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>
                                    <div>
						Specifies a <code>DemandType</code> used in the inventory availability calculations.
						<br/>Only valid <code>SupplyType</code>s that can be consumed against the <code>DemandType</code> value are considered in the inventory availability calculations.
						<BR/>Default: OPEN_ORDER
						</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MatchedQuantity"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
							The quantity of this demand that matches the supply. 
						</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MinShipByDate" use="optional">
                            <xsd:annotation
                                yfc:columnName="MIN_SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The minimum ship by date of the demand.  The demand can only consume from supplies with ship by dates, which are greater than or equal to its minimum ship by date.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Date"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="OrganizationCode"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The owner associated with this inventory demand. The owner organization responsible for fulfilling the demand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Quantity"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The quantity on this inventory demand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipDate"
                            type="yfctype:Date" use="optional">
                            <xsd:annotation
                                yfc:columnName="DEMAND_SHIP_DATE" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The ship date on this inventory demand.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ShipNode"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_DEMAND">
                                <xsd:documentation>The ship node associated with this inventory demand, if demand is raised for a particular node.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TagNumber"
                            type="yfctype:TagNumber" use="optional">
                            <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                                <xsd:documentation>Unique identifier.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UnavailableQty"
                            type="yfctype:Quantity" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
							The unavailable quantity of the unmatched demand. 
						</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_DEMAND">
                    <xsd:documentation>
                        <div>
					Specifies a <code>DemandType</code> used in the inventory availability calculations.
					<br/>Only valid <code>SupplyType</code>s that can be consumed against the <code>DemandType</code> value are considered in the inventory availability calculations.
					<BR/>Default: OPEN_ORDER
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Total quantity of unmatched demands with the demand type.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnavailableQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Unavailable quantity of unmatched demands with the demand type.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemFilter">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>Determines the filtering attributes when determining availability of a model item.
				This can be used to specify the correct style, size, or color of a model item and only include
				model children inventory whose item definition meet the required input.
				<br/>Note: Only extended attributes of the YFS_ITEM table are supported.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ClassificationCodes"/>
            </xsd:all>
            <xsd:attribute name="GetUnpublishedItems" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Indicates if unpublished items needs to be considered.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="Y"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="IgnoreInvalidItems" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					This flag indicates whether invalid items should be considered.
					Valid values: <b>
                                <code>Y</code>
                            </b> or <b>
                                <code>N</code>
                            </b>
					Default value: <b>
                                <code>N</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value="N"/>
                        <xsd:enumeration value="Y"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ColorCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COLOR_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field describes color code for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The generic type of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerItem"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_ITEM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The identifier used by a manufacturer to identify an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturerName"
                type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="MANUFACTURER_NAME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The manufacturer of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductLine" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_LINE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The product line associated with the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SizeCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SIZE_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>This field describes the size code of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ClassificationCodes">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CommodityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COMMODITY_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The commodity code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ECCNNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ECCN_NO" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The ECCN number of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HarmonizedCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="HARMONIZED_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The harmonized code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NAICSCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NAICS_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NAICS code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NMFCCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="NMFC_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The NMFC code for an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_TYPE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The storage type code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxProductCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_PRODUCT_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The tax product code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UNSPSC" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UNSPSC" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The UNSPSC code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VelocityCode"
                type="yfctype:VelocityCode" use="optional">
                <xsd:annotation yfc:columnName="VELOCITY_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The velocity code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
