Data/xapidocs/api_javadocs/XSD/YFS_Load_Shipment_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Load_Shipment_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Load_Shipment_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Load_Shipment_master.xsd" yfc:rootElement="LoadShipment">
        <xsd:appinfo source="yfc:structure">
            <LoadShipment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LoadShipment" type="yfc:LoadShipmentXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD_SHIPMENT">
            <xsd:documentation>Stores shipments that belong to a load. In addition, it stores the pick up and drop off point for a shipment during load delivery. This is created and updated by the manageLoad API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadShipmentXSDType">
        <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The bill of lading number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DropoffStopKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DROPOFF_STOP_KEY" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The dropoff stop key that is associated with this load shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DropoffUpdateReceived" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DROPOFF_UPDATE_RECEIVED" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>This flag indicates whether drop off updates were received by receiveIntransitUpdates API for the drop off stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The load key that is associated with this load shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_SHIPMENT_KEY" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The primary key for the YFS_LOAD_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickupStopKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PICKUP_STOP_KEY" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The pickup stop key that is associated with this load shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickupUpdateReceived" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PICKUP_UPDATE_RECEIVED" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>This flag indicates whether pick up updates were received by receiveIntransitUpdates API for the pick up stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The progressive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The shipment belonging to the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_LOAD_SHIPMENT">
                <xsd:documentation>The shipment number of the shipment belonging to the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if data is fetched from the regular table or the history table. Valid values are Y and N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
