Data/xapidocs/api_javadocs/XSD/YFS_getPromotionsForItemListUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getPromotionsForItemListUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getPromotionsForItemListUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getPromotionsForItemListUE_output.xsd" yfc:rootElement="ItemList">
        <xsd:appinfo source="yfc:structure">
            <ItemList>
                <Item hasAttributes="Y">
                    <PromotionList>
                        <Promotion hasAttributes="Y"/>
                    </PromotionList>
                </Item>
            </ItemList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemList" type="yfc:ItemListXSDType"/>
    <xsd:complexType name="ItemListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Item"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PromotionList"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PromotionList">
        <xsd:annotation>
            <xsd:documentation>The currently active promotions for the item, as determined by the user exit.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Promotion"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Promotion">
        <xsd:annotation yfc:tableName="YFS_PROMOTION">
            <xsd:documentation>
						Information on a currently available promotion for the item.  This data is not persisted, it is retrieved from the <code>YFSGetPromotionsForItemListUE</code> user exit.  The attributes provided are sample attributes; as there is no logic around these promotions in the output, the <code>YFSGetPromotionsForItemListUE</code> user exit may return any attributes.
					</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="LongDescription" type="yfctype:CLOB" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A long description of the promotion.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription" type="yfctype:CLOB" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A short description of the promotion.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="URL" type="yfctype:CLOB" use="optional">
                <xsd:annotation>
                    <xsd:documentation>A URL associated with the promotion.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
