Data/xapidocs/api_javadocs/XSD/YFS_getProperty_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getProperty/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getProperty/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getProperty_input.xsd" yfc:rootElement="GetProperty">
        <xsd:appinfo source="yfc:structure">
            <GetProperty hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetProperty" type="yfc:GetPropertyXSDType"/>
    <xsd:complexType name="GetPropertyXSDType">
        <xsd:attribute name="Category" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 Category to which property belongs. This attribute is used only when getting the property value from database.	
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GetMetaData" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 Returns the metadata of the property stored in database if this flag is set to 'Y'.			
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PropertyName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					 Name of the Property.						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
