Data/xapidocs/api_javadocs/XSD/YFS_getTransactionSummary_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getTransactionSummary/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getTransactionSummary/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getTransactionSummary_output.xsd" yfc:rootElement="getTransactionSummary">
        <xsd:appinfo source="yfc:structure">
            <getTransactionSummary hasAttributes="Y">
                <TransactionSummaryList>
                    <TransactionSummary hasAttributes="Y">
                        <MonthlySummaryList>
                            <MonthlySummary hasAttributes="Y"/>
                        </MonthlySummaryList>
                        <YTDSummary hasAttributes="Y"/>
                    </TransactionSummary>
                </TransactionSummaryList>
            </getTransactionSummary>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getTransactionSummary" type="yfc:getTransactionSummaryXSDType"/>
    <xsd:complexType name="getTransactionSummaryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionSummaryList"/>
        </xsd:all>
        <xsd:attribute name="StartMonth" type="yfctype:String" use="optional"/>
        <xsd:attribute name="Year" type="yfctype:String" use="required"/>
    </xsd:complexType>
    <xsd:element name="TransactionSummaryList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TransactionSummary"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TransactionSummary">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MonthlySummaryList"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:YTDSummary"/>
            </xsd:all>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DOCUMENT_PARAMS">
                    <xsd:documentation>The description of the document type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType"
                type="yfctype:DocumentType" use="required">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DOCUMENT_PARAMS">
                    <xsd:documentation>This field indicates the type of document for which parameters are configured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ENTERPRISECODE" yfc:tableName="YFS_ENTERPRISE">
                    <xsd:documentation>The organization that is associated with this enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartMonth" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>In case of rolling count this attribute identifies the start month for first year</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MonthlySummaryList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MonthlySummary"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MonthlySummary">
        <xsd:complexType>
            <xsd:attribute name="Month" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The number of the month. Like '1' for January, '12' for December</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfOrderLinesCreated"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NoOfOrdersCreated"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="NoOfShipmentsCreated"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Year" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>In case of rolling count it will identify the Year.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="YTDSummary">
        <xsd:complexType>
            <xsd:attribute name="YTDNoOfOrderLinesCreated"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="YTDNoOfOrdersCreated"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="YTDNoOfShipmentsCreated"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
