Data/xapidocs/api_javadocs/XSD/YFS_deletePriceSet_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/deletePriceSet/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/deletePriceSet/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_deletePriceSet_input.xsd" yfc:rootElement="PriceSet">
        <xsd:appinfo source="yfc:structure">
            <PriceSet hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceSet" type="yfc:PriceSetXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_SET">
            <xsd:documentation>
                <div>
				The Price List master table. Stores a list of valid price lists for an organization.<br>
				Either <code>PriceSetKey</code> or both {<code>OrganizationCode</code> and <code>PriceSetName</code>} should be passed to identify a unique record.</br>
				This API deletes records from YFS_Price_Set, YFS_Item_Price_Set, YFS_Item_Price_Set_Dtls, and YFS_Price_Program_Defn.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceSetXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Link to YFS_Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceSetKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_SET_KEY" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Primary key that identifies a price set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceSetName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRICE_SET_NAME" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Name of a price set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
