Data/xapidocs/api_javadocs/XSD/YFS_deletePriceProgram_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/deletePriceProgram/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/deletePriceProgram/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_deletePriceProgram_input.xsd" yfc:rootElement="PriceProgram">
        <xsd:appinfo source="yfc:structure">
            <PriceProgram hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceProgram" type="yfc:PriceProgramXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_PROGRAM">
            <xsd:documentation>
                <div>
				A buying organization can be assigned a price program by a selling organization. Price programs are always defined by selling organizations. This table stores valid price programs as defined by the selling organization.<br>
				Either <code>PriceProgramKey</code> or both {<code>OrganizationCode</code> and <code>PriceProgramName</code>} should be passed to identify a unique record.</br>
                    <Validation>
                        <Condition>
						A price program used in existing orders should not be deleted. If an attempt is made to delete such a price program:
						</Condition>
                        <Error
                            Description="Delete API is trying to delete price program used in existing order(s)" ErrorCode="YFS10526"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceProgramXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Link to YFS_Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Primary key that identifies a price program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_NAME" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>The price program used for pricing the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
