Data/xapidocs/api_javadocs/XSD/YFS_Location_Inventory_Audit_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Location_Inventory_Audit_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Location_Inventory_Audit_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_Location_Inventory_Audit_master.xsd" yfc:rootElement="LocationInventoryAudit">
        <xsd:appinfo source="yfc:structure">
            <LocationInventoryAudit hasAttributes="Y">
                <TagDetail hasAttributes="Y"/>
                <InventoryItem hasAttributes="Y">
                    <Item hasAttributes="Y">
                        <PrimaryInformation hasAttributes="Y"/>
                    </Item>
                </InventoryItem>
                <Receipt hasAttributes="Y"/>
                <CountRequest hasAttributes="Y"/>
            </LocationInventoryAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationInventoryAudit" type="yfc:LocationInventoryAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
            <xsd:documentation>Stores audit information for every single location inventory transaction.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationInventoryAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TagDetail"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryItem"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountRequest"/>
        </xsd:all>
        <xsd:attribute name="AdjustmentType"
            type="yfctype:EnumAdjustmentType" use="optional">
            <xsd:annotation yfc:columnName="ADJUSTMENT_TYPE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The type of adjustment done for the inventory processed. Some of the possible values are like RECEIPT, RETURN, SHIPMENT and ADJUSTMENT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AuditOperation" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OPERATION" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>This flag indicates whether it was a an addition to or a substraction of inventory.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The Bill of Lading number. An audit reference indicating that this inventory transaction was for a BOL is detailed here.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The count request key that is associated with this location inventory audit. This specifies the count request against which the audit is written.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The country in which the item was manufactured.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The document type for the inventory transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The inventory organization code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The inventory item key that is associated with this location inventory audit. This points to a SKU that comprises the Inventory Organization, Item ID, Product Class, and Unit of Measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with when it arrives at the warehouse. Typical values of product class are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The inventory tag key that is associated with this location inventory audit. This points to the lot and related attributes (revision, etc.) for the item whose inventory is tracked here.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The identifier for the location. This, in conjunction with NODE_KEY, identifies a unique location in the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocnInventoryAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCN_INVENTORY_AUDIT_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The primary key for the YFS_LOCN_INVENTORY_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The node key that is associated with this location inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The order # against which inventory transaction was made. This is a part of the unique key for the order.The Enterprise code and the order # together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The order line number. This is part of an order line's unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The number of units of the item available at this location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The reason for the inventory transaction. This field is typically populated when the user does an inventory adjustment. Inventory bins, which will be used to adjust inventory (for inventory synchronization) on the host systems, will be tied to this reason code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The description of the reason for the inventory adjustment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The receipt header key that is associated with this location inventory audit. This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference1" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference2" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference3" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference4" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference5" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_5" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>Generic references.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The release number. This is generated as a one up number against that release.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The segment to which the inventory belongs. This helps to track inventory separately when the inventory is customized for a specific order so that the inventory can be allocated to that order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The segment type of the inventory. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:LongSequence" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The sequence number of the program creating the audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The serial of the inventory being modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The shipment number against which the inventory transaction was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
            <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The nature of the work (task type) that caused the inventory picture to be altered. Typical examples are RECEIPT, PUTAWAY, etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="TagDetail">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Program that created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Primary key of YFS_INVENTORY_ITEM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Primary key of YFS_INVENTORY_TAG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Program that modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalDemand" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_DEMAND" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total demand.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalOnhandSupply"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ONHAND_SUPPLY" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total onhand type supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalOtherSupply"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_OTHER_SUPPLY" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total supply not of the type onhand.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryItem">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
            </xsd:all>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The primary key for the YFS_INVENTORY_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The program that last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEM_KEY" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The primary key for the YFS_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Actual Shipment date. Updated by confirmShipment API.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ArrivalDateTime"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ARRIVAL_DATE_TIME" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The timestamp when the receipt arrived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Bill of lading #.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Buyer organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Carrier service availed for transporting this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DriverName" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="DRIVER_NAME" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The name of the driver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The enterprise to which this receipt belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Shipment date as planned or arrived at in the Sterling system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedShipmentDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_SHIPMENT_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Shipment date as planned or arrived at in the Sterling system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>A computed field used internally by the receipt monitor to proactively identify when the receipt could potentially be realerted on a business exception as per the monitor rules setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfCartons" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The number of cartons in the receipt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfPallets" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The number of pallets in the receipt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpenReceiptFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OPEN_RECEIPT_FLAG" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>This flag indicates whether the receiving can be done against the receipt. Receiving can be done only for open receipts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Link to YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Order number of the order for the Shipment while creating with SingleOrder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Link to YFS_ORDER_RELEASE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickticketNo"
                type="yfctype:VarcharID-24" use="optional">
                <xsd:annotation yfc:columnName="PICKTICKET_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>User input. A number assigned to group related shipments under one head.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The pipeline to which this receipt belongs. This is determined during receipt creation based on the document type and several other key attributes of the shipment and order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Proof of Delivery #.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                    <xsd:documentation>PrimeLineNo of the corresponding OrderLine.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Progessive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_DATE" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The date when the receipt was started.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The primary key for the YFS_RECEIPT_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingDock" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_DOCK_ID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The location where the receiving is done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The Receiving Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>ReleaseNo of the OrderRelease for the Shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SealNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Seal number on the load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Seller organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Ship node from where shipment was made.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Part of Unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The status of the receipt. As various transactions in the receipts pipeline act upon Receipt, the Receipt Status changes. Typical values are 1200-Receipt Started, 1300-Receipt In Progress, 1400-Inspection In Progress, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerLPNNo" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_LPN_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The License Plate Number of the Trailer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>Trailer number by which the shipment leaves the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountRequest">
        <xsd:annotation yfc:tableName="YFS_COUNT_REQUEST">
            <xsd:documentation>This transaction table stores count requests to perform inventory count in a warehouse. The count process in a warehouse begins with the count request.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CountRequestNo"
                type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_NO" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>Identifier of the request within the context of a document type and node</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-24" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>Purpose for the request.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                    <xsd:documentation>Node where the request was processed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
