Data/xapidocs/api_javadocs/XSD/YFS_RECEIVE_ORDER.INVENTORY_COST_WRITEOFF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/RECEIVE_ORDER/INVENTORY_COST_WRITEOFF"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/RECEIVE_ORDER/INVENTORY_COST_WRITEOFF" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_RECEIVE_ORDER.INVENTORY_COST_WRITEOFF.xsd" yfc:rootElement="Cost">
        <xsd:appinfo source="yfc:structure">
            <Cost hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Cost" type="yfc:CostXSDType"/>
    <xsd:complexType name="CostXSDType">
        <xsd:attribute name="AverageCost" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current Average Cost of the item at the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Buyer Organization Code of the order received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Enterprise Code of the order received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryValue" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current Inventory value of the item at node. This is the final inventory value as is stands now.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation>
                <xsd:documentation>Item Id of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Order Number of order getting received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PostingClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Posting Classification of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimarySupplier" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Primary Supplier of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Prime Line No. of the order line received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation>
                <xsd:documentation>Product Class of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>Quantity received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Seller Organization Code of the order received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Node that received the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Sub Line No. of the order line received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionType" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>RECEIPT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unit Of Measure of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unit Price of the order line received. This represents the cost of each unit</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WriteOffAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>Inventory Write-Off Amount.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
