Data/xapidocs/api_javadocs/XSD/YFS_getReturnOrderList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getReturnOrderList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getReturnOrderList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getReturnOrderList_input.xsd" yfc:rootElement="GetReturnOrderList">
        <xsd:appinfo source="yfc:structure">
            <GetReturnOrderList>
                <SearchCriteria hasAttributes="Y"/>
            </GetReturnOrderList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetReturnOrderList" type="yfc:GetReturnOrderListXSDType"/>
    <xsd:complexType name="GetReturnOrderListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:SearchCriteria"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="SearchCriteria">
        <xsd:complexType>
            <xsd:attribute name="CustomerAccountNo"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CustomerInfo" type="yfctype:String" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y"/>
            </xsd:attribute>
            <xsd:attribute name="CustomerInfoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerInfoType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DateFrom" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DateTo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DateType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromCustomerInfo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromItemInfo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromOrderInfo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemInfo" type="yfctype:String" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y"/>
            </xsd:attribute>
            <xsd:attribute name="ItemInfoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ItemInfoType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OrderInfo" type="yfctype:String" use="optional">
                <xsd:annotation yfc:qryTypeSupported="Y"/>
            </xsd:attribute>
            <xsd:attribute name="OrderInfoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderInfoType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SearchCriteriaOne"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="SearchCriteriaTwo"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToCustomerInfo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToItemInfo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ToOrderInfo" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
