Data/xapidocs/api_javadocs/XSD/YFS_getOrderInvoiceDetailList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getOrderInvoiceDetailList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getOrderInvoiceDetailList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getOrderInvoiceDetailList_input.xsd" yfc:rootElement="OrderInvoiceDetail">
        <xsd:appinfo source="yfc:structure">
            <OrderInvoiceDetail hasAttributes="Y">
                <InvoiceHeader hasAttributes="Y">
                    <Order hasAttributes="Y"/>
                </InvoiceHeader>
            </OrderInvoiceDetail>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderInvoiceDetail" type="yfc:OrderInvoiceDetailXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
            <xsd:documentation>Stores line details for an invoice.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderInvoiceDetailXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InvoiceHeader"/>
        </xsd:all>
        <xsd:attribute name="IsHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values:
						<br/>
                        <b>
                            <code>N</code>
                        </b>- Returns records that satisfy the input criteria from the YFS_ORDER_INVOICE_DETAIL table.
						<br/>
                        <b>
                            <code>Y</code>
                        </b>- Returns records that satisfy the input criteria from the YFS_ORDER_INVOICE_DETAIL_H table (the history table).
						<br/>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies the Maximum Number of records to be returned. Default is 500.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderInvoiceDetailKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_INVOICE_DETAIL_KEY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE_DETAIL.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InvoiceHeader">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE">
            <xsd:documentation>Stores order invoices raised against an order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
            </xsd:all>
            <xsd:attribute name="ChargeTransactionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_TRANSACTION_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to charge transaction record for which this invoice was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The document type. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The enterprise code. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceNo" type="yfctype:InvoiceNo" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Invoice number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Classifies an invoice. For example, Orders, Returns, Debit Memo, Credit Memo, Info etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterInvoiceNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MASTER_INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Not used internally. Can be updated externally by custom logic to group invoices together.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to order header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderInvoiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_INVOICE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The order number. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RETURN_RELEASE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to a return release if invoice is created for a return.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The seller organization. This is a part of a shipment's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The ship node. This is a part of a shipment's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to a shipment if invoice was created for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The shipment number. This is a part of a shipment's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Order">
        <xsd:annotation yfc:UsedForIndexing="Order" yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerUserId"
                type="yfctype:ContactUserId" use="optional">
                <xsd:annotation yfc:columnName="BUYER_USER_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This is the User Id of the customer for which order is created. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerContactID"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_CONTACT_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This is the customer contact ID for the order. This field maps to contact ID field of YFS_Customer_Contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerEMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_EMAILID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The E-mail ID of the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ORDER_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date on which the order was taken. If not passed during order creation, it is defaulted to current system date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderName" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NAME" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The name given to the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalContainerKey" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_CONTAINER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PaymentStatus"
                type="yfctype:VarcharShortStatus" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_STATUS" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The information about the payment status of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingClassificationCode" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_CLASSIFICATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqShipDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_SHIP_DATE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date the customer has requested the order to be shipped on. Based on the 'Driver Date' parameter of the document type, the ship date or delivery date will be calculated based on transit time calculations (if not passed at order creation).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ShipToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the ship to customer.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SoldToKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SOLD_TO_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is internal. Validate value is 'Quote'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
