Data/xapidocs/api_javadocs/XSD/YFS_ADJUST_INVENTORY.INVENTORY_COST_CHANGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/ADJUST_INVENTORY/INVENTORY_COST_CHANGE"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/ADJUST_INVENTORY/INVENTORY_COST_CHANGE" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_ADJUST_INVENTORY.INVENTORY_COST_CHANGE.xsd" yfc:rootElement="Cost">
        <xsd:appinfo source="yfc:structure">
            <Cost hasAttributes="Y">
                <CostFactorGroup hasAttributes="Y">
                    <CostFactorGroupDetailList>
                        <CostFactorGroupDetail hasAttributes="Y"/>
                    </CostFactorGroupDetailList>
                </CostFactorGroup>
            </Cost>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Cost" type="yfc:CostXSDType"/>
    <xsd:complexType name="CostXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CostFactorGroup"/>
        </xsd:all>
        <xsd:attribute name="AverageCost" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current Average Cost of the item. This is the new average cost.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChangeInInvValue" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>Change in Inventory Value. Amount by which the inventory value is increased due to the receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryValue" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current Inventory value of the item. This includes the change in inventory value due to this transaction.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation>
                <xsd:documentation>Item Id of the item getting received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PostingClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Posting Classification of the item received</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimarySupplier" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Primary Supplier of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation>
                <xsd:documentation>Product Class of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>Quantity received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Ship node that received the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionType" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <code>ADJUSTMENT</code>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unit Of Measure of the item received.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CostFactorGroup">
        <xsd:annotation yfc:tableName="YFS_COST_FACTOR_GROUP">
            <xsd:documentation>This table stores information about cost factor groups defined in the system. Cost factor group are defined by the enterprise organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CostFactorGroupDetailList"/>
            </xsd:all>
            <xsd:attribute name="CostFactorGroupName"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COST_FACTOR_GROUP_NAME" yfc:tableName="YFS_COST_FACTOR_GROUP">
                    <xsd:documentation>Name of the LANDED Cost Factor Group used to calculate the average cost. Each cost factor group will have the collection of cost factors.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CostFactorGroupDetailList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CostFactorGroupDetail"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CostFactorGroupDetail">
        <xsd:annotation yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
            <xsd:documentation>This table stores information about the cost factor setup for each cost factor groups. This is defined by the enterprise organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Cost" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Calculated Cost value to be applied (Based on the calculation method and application method).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostApplicationMethod"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COST_APPLICATION_METHOD" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>Application Method of the Cost factor that is applied to calculate the average cost.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostCalculationMethod"
                type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="COST_CALCULATION_METHOD" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>Calculation Method of the Cost factor that is applied to calculate the average cost. (00-PERCENTAGE,01-AMOUNT)</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CostFactorName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="COST_FACTOR_NAME" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>Name of the Cost factor that is applied to calculate the average cost.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Uom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="COST_FACTOR_UOM" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>Unit Of Measure of the Cost factor value that is applied to calculate the average cost.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="COST_FACTOR_VALUE" yfc:tableName="YFS_COST_FACTOR_GROUP_DTL">
                    <xsd:documentation>Value of the Cost factor that is applied to calculate the average cost.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
