Data/xapidocs/api_javadocs/XSD/YFS_manageDistributionRule_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageDistributionRule/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageDistributionRule/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_manageDistributionRule_output.xsd" yfc:rootElement="DistributionRule">
        <xsd:appinfo source="yfc:structure">
            <DistributionRule hasAttributes="Y">
                <ItemShipNodes>
                    <ItemShipNode hasAttributes="Y"/>
                </ItemShipNodes>
            </DistributionRule>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DistributionRule" type="yfc:DistributionRuleXSDType">
        <xsd:annotation yfc:tableName="YFS_DISTRIBUTION_RULE">
            <xsd:documentation>This table stores distribution rules for all sellers.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DistributionRuleXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemShipNodes"/>
        </xsd:all>
        <xsd:attribute name="DefaultFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DEFAULT_FLAG" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>This flag indicates whether a distribution rule is the default rule for the owner organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The description of the distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_KEY" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The primary key for the YFS_DISTRIBUTION_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>This field incidates what kind of item this is.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>The owner organization that is associated with this distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_DISTRIBUTION_RULE">
                <xsd:documentation>This field indicates the purpose of this distribution rule. Valid values is SOURCING.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemShipNodes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemShipNode"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemShipNode">
        <xsd:annotation yfc:tableName="YFS_ITEM_SHIP_NODE">
            <xsd:documentation>This table stores distribution group information for an organization. This information is used during any inventory operation that involves distribution groups.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether or not a sourcing entry is active.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveEndDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The date until which a souring entry is effective.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveStartDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The date from which a sourcing entry is effective.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternalInvOrg" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EXTERNAL_INV_ORG" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>This flag indicates whether or not an item is sourced from an external inventory organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the sourced item. "ALL" indicates all items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The only valid value for this field is currently "ALL", which indicates all items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemshipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ITEMSHIPNODE_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The primary key of the YFS_ITEM_SHIP_NODE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The priority for this distribution.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeItem" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE_ITEM" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The item as it is identified at the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The ship node associated with a given item ID, or with all items if ITEM_ID is set to "ALL".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceFromOrganization"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SOURCE_FROM_ORGANIZATION" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The external inventory organization from which an item is sourced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
