Data/xapidocs/api_javadocs/XSD/YFS_getEntitlementRuleDetailItemList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getEntitlementRuleDetailItemList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getEntitlementRuleDetailItemList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getEntitlementRuleDetailItemList_output.xsd" yfc:rootElement="EntitlementRuleDetailItemList">
        <xsd:appinfo source="yfc:structure">
            <EntitlementRuleDetailItemList hasAttributes="Y">
                <EntitlementRuleDetailItem hasAttributes="Y"/>
            </EntitlementRuleDetailItemList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntitlementRuleDetailItemList" type="yfc:EntitlementRuleDetailItemListXSDType"/>
    <xsd:complexType name="EntitlementRuleDetailItemListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EntitlementRuleDetailItem"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Number of Records in the DB satisfying the passed criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="EntitlementRuleDetailItem">
        <xsd:annotation yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
            <xsd:documentation>This table stores information of an item for an item entitlement rule detail that represents a set of items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
                    <xsd:documentation>The identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ENTITLE_RULE_DTL_ITEM">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
