Data/xapidocs/api_javadocs/XSD/YFS_checkOrderLine_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/checkOrderLine/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/checkOrderLine/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_checkOrderLine_output.xsd" yfc:rootElement="CheckOrderLine">
        <xsd:appinfo source="yfc:structure">
            <CheckOrderLine>
                <InventoryInformation>
                    <Item hasAttributes="Y">
                        <GlobalInventory>
                            <ShipNodes>
                                <ShipNode hasAttributes="Y"/>
                            </ShipNodes>
                        </GlobalInventory>
                        <AvailableToPromiseInventory hasAttributes="Y"/>
                        <InventoryCalculator hasAttributes="Y">
                            <Inventory hasAttributes="Y"/>
                        </InventoryCalculator>
                        <IncomingPurchaseOrders>
                            <IncomingPurchaseOrder hasAttributes="Y"/>
                        </IncomingPurchaseOrders>
                        <ItemReservations>
                            <ItemReservation hasAttributes="Y"/>
                        </ItemReservations>
                        <AvailableToSegment hasAttributes="Y"/>
                    </Item>
                </InventoryInformation>
                <LinePriceInfo hasAttributes="Y"/>
            </CheckOrderLine>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CheckOrderLine" type="yfc:CheckOrderLineXSDType"/>
    <xsd:complexType name="CheckOrderLineXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:InventoryInformation"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:LinePriceInfo"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="InventoryInformation">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Item"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:GlobalInventory"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AvailableToPromiseInventory"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:InventoryCalculator"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:IncomingPurchaseOrders"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ItemReservations"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AvailableToSegment"/>
            </xsd:sequence>
            <xsd:attribute name="AllocationDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="AvailableToSell" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InventoryIndicator"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LeadTime" use="optional">
                <xsd:annotation yfc:columnName="LEAD_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The lead time for getting the product delivered. Purchase order placed today will arrive after this many days at the warehouse. Default value: 0.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfDays"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PeriodicalLength" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProcessingTime"
                type="yfctype:NumberOfDays" use="optional">
                <xsd:annotation yfc:columnName="PROCESSING_TIME" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Define processing time for items in days such as special services.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReservationDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAllocated" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalAvailable" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalBackOrdered" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalIncoming" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOnHand" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOnHandAvailable"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOnHandHeld" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOpenOrder" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOutgoing" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOutgoingForSegments"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOutgoingOrders"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalReservedForOrders"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalReservedForSegments"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TrackedEverywhere"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GlobalInventory">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ShipNodes"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNodes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipNode"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNode">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNodeDescription"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalAllocated" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalAvailable" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOnHandAvailable"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalOnHandHeld" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Tracked" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AvailableToPromiseInventory">
        <xsd:complexType>
            <xsd:attribute name="AvailableQuantity"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="EndDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="IncomingQty" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OutgoingQty" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryCalculator">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Inventory"/>
            </xsd:sequence>
            <xsd:attribute name="RequiredQty" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Inventory">
        <xsd:complexType>
            <xsd:attribute name="AvailableQuantity"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="Date" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IncomingPurchaseOrders">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:IncomingPurchaseOrder"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="IncomingPurchaseOrder">
        <xsd:complexType>
            <xsd:attribute name="AvailableReference"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="CanAllocateDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ETA" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExpirationDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNodeDescription"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemReservations">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemReservation"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemReservation">
        <xsd:complexType>
            <xsd:attribute name="AllocationDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReservationDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReservationID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReservationPool" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReservedQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipDate" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AvailableToSegment">
        <xsd:complexType>
            <xsd:attribute name="EndDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FromDate" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ReservedQuantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalAvailableQty"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LinePriceInfo">
        <xsd:complexType>
            <xsd:attribute name="DiscountPercentage"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedHandlingCharges"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedPersonalizationCharges"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="FixedShippingCharges"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="InvoicedPricingQty"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="IsLinePriceForInformationOnly"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="LineTotal" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ListPrice" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingQty" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingQtyConversionFactor"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PricingUOM" type="yfctype:String" use="optional"/>
            <xsd:attribute name="RetailPrice" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Tax" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxPercentage" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TaxableFlag" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalHandlingCharges"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalPersonalizationCharges"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="TotalShippingCharges"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitHandlingCharges"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitPersonalizationCharges"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitPrice" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitShippingCharges"
                type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
