Data/xapidocs/api_javadocs/XSD/YFS_getDistributionList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getDistributionList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getDistributionList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getDistributionList_input.xsd" yfc:rootElement="ItemShipNode">
        <xsd:appinfo source="yfc:structure">
            <ItemShipNode hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemShipNode" type="yfc:ItemShipNodeXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_SHIP_NODE">
            <xsd:documentation>This table stores distribution group information for an organization. This information is used during any inventory operation that involves distribution groups.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemShipNodeXSDType">
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This flag indicates whether or not a sourcing entry is active.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostCurrency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="COST_CURRENCY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The distribution group that this sourcing entry is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The date until which a souring entry is effective.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The date from which a sourcing entry is effective.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Inventorytype" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="INVENTORYTYPE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The unique identifier for the sourced item. "ALL" indicates all items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ITEM_TYPE" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The only valid value for this field is currently "ALL", which indicates all items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemshipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ITEMSHIPNODE_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The primary key of the YFS_ITEM_SHIP_NODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The owner organization that is associated with this distribution group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority"
            type="yfctype:PriorityWithDecimal" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The priority for this distribution.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNodeItem" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE_ITEM" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The item as it is identified at the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The ship node associated with a given item ID, or with all items if ITEM_ID is set to "ALL".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourceFromOrganization"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SOURCE_FROM_ORGANIZATION" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The external inventory organization from which an item is sourced.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>This field is not currently used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
