Data/xapidocs/api_javadocs/XSD/YFS_getOverriddenDGForItem_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getOverriddenDGForItem/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getOverriddenDGForItem/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getOverriddenDGForItem_output.xsd" yfc:rootElement="InventoryItem">
        <xsd:appinfo source="yfc:structure">
            <InventoryItem hasAttributes="Y">
                <EnterpriseLevelMonitoringDGList>
                    <EnterpriseLevelMonitoringDG hasAttributes="Y">
                        <ShipNodesToMonitor>
                            <ShipNode hasAttributes="Y"/>
                        </ShipNodesToMonitor>
                    </EnterpriseLevelMonitoringDG>
                </EnterpriseLevelMonitoringDGList>
                <NodeLevelMonitoringDGList>
                    <NodeLevelMonitoringDG hasAttributes="Y">
                        <ShipNodesToMonitor>
                            <ShipNode hasAttributes="Y"/>
                        </ShipNodesToMonitor>
                    </NodeLevelMonitoringDG>
                </NodeLevelMonitoringDGList>
                <Components>
                    <Component hasAttributes="Y">
                        <EnterpriseLevelMonitoringDGList>
                            <EnterpriseLevelMonitoringDG hasAttributes="Y">
                                <ShipNodesToMonitor>
                                    <ShipNode hasAttributes="Y"/>
                                </ShipNodesToMonitor>
                            </EnterpriseLevelMonitoringDG>
                        </EnterpriseLevelMonitoringDGList>
                        <NodeLevelMonitoringDGList>
                            <NodeLevelMonitoringDG hasAttributes="Y"/>
                            <ShipNodesToMonitor>
                                <ShipNode hasAttributes="Y"/>
                            </ShipNodesToMonitor>
                        </NodeLevelMonitoringDGList>
                    </Component>
                </Components>
            </InventoryItem>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryItem" type="yfc:InventoryItemXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryItemXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="EnterpriseLevelMonitoringDGList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="EnterpriseLevelMonitoringDG">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="ShipNodesToMonitor">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
								List of additional ship nodes at which item availability needs to be monitored.
							</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ShipNode">
                                    <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
                                    <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Node"
                                    type="yfctype:String" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                                <xsd:attribute name="DistributionRuleId"
                                    type="yfctype:DistributionRuleId" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The owner organization of the distribution group. This attribute corresponds to the OrganizationCode Fact.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" name="NodeLevelMonitoringDGList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="NodeLevelMonitoringDG">
                            <xsd:complexType>
                                <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="ShipNodesToMonitor">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
								List of additional ship nodes at which item availability needs to be monitored.
							</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ShipNode">
                                    <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
                                    <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Node"
                                    type="yfctype:String" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                </xsd:all>
                                <xsd:attribute name="DistributionRuleId"
                                    type="yfctype:DistributionRuleId" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="OrganizationCode"
                                    type="yfctype:OrgCode" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The owner organization of the distribution group. This attribute corresponds to the OrganizationCode Fact.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Components"/>
        </xsd:all>
        <xsd:attribute name="InventoryOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Components">
        <xsd:annotation>
            <xsd:documentation>
                <div>
				List of components (of bundle item) for which availability has to be inquired at a Distribution Group and/or ship nodes which are different from that of parent.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Component"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Component">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="EnterpriseLevelMonitoringDGList">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="EnterpriseLevelMonitoringDG">
                                <xsd:complexType>
                                    <xsd:all>
                                    <xsd:element maxOccurs="1"
                                    minOccurs="0" name="ShipNodesToMonitor">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
										List of additional ship nodes at which component availability needs to be inquired.
									</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ShipNode">
                                    <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
                                    <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>

                                    <xsd:attribute
                                    name="Node"
                                    type="yfctype:String" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:all>
                                    <xsd:attribute
                                    name="DistributionRuleId"
                                    type="yfctype:DistributionRuleId" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="NodeLevelMonitoringDGList">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="NodeLevelMonitoringDG">
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="DistributionRuleId"
                                    type="yfctype:DistributionRuleId" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShipNodesToMonitor">
                                <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
							List of additional ship nodes at which component availability needs to be inquired.
						</div>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                    <xsd:element
                                    maxOccurs="unbounded"
                                    minOccurs="0" name="ShipNode">
                                    <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
                                    <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                    <xsd:attribute
                                    name="Node"
                                    type="yfctype:String" use="optional"/>
                                    </xsd:complexType>
                                    </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unique identifier for the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="required">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The unit of measure for item quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
