Data/xapidocs/api_javadocs/XSD/YFS_getOrderAuditDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getOrderAuditDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getOrderAuditDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getOrderAuditDetails_input.xsd" yfc:rootElement="OrderAudit">
        <xsd:appinfo source="yfc:structure">
            <OrderAudit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderAudit" type="yfc:OrderAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_AUDIT">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>No Order Audit is found for information passed.</Condition>
                        <Error Description="No Record Found" ErrorCode="YFS10001"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>OrderAuditKey</code> not passed.</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                    <Validation>
                        <Condition>Invalid Root Node Passed.</Condition>
                        <Error Description="Invalid XML" ErrorCode="YFS10013"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderAuditXSDType">
        <xsd:attribute name="OrderAuditKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ORDER_AUDIT_KEY" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The primary key for the YFS_ORDER_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
