Data/xapidocs/api_javadocs/XSD/YFS_getPriceSetList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getPriceSetList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getPriceSetList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getPriceSetList_output.xsd" yfc:rootElement="PriceSetList">
        <xsd:appinfo source="yfc:structure">
            <PriceSetList hasAttributes="Y">
                <PriceSet hasAttributes="Y"/>
            </PriceSetList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceSetList" type="yfc:PriceSetListXSDType"/>
    <xsd:complexType name="PriceSetListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PriceSet"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="PriceSet">
        <xsd:annotation yfc:tableName="YFS_PRICE_SET">
            <xsd:documentation>Price list master table. This table stores a list of valid price lists for an organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Only Price Sets which are marked as active will be considered when computing tax.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Description of a price set.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemGroupCode"
                type="yfctype:ItemGroupCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Indicates whether the price list is for a Product, Delivery or Service Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Link to YFS_Organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceSetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_SET_KEY" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Primary key that identifies a price set.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceSetName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="PRICE_SET_NAME" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Name of a price set.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ValidTillDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="VALID_TILL_DATE" yfc:tableName="YFS_PRICE_SET">
                    <xsd:documentation>Price Set is valid till this date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
