Data/xapidocs/api_javadocs/XSD/YFS_Load_Status_Audit_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Load_Status_Audit_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Load_Status_Audit_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Load_Status_Audit_master.xsd" yfc:rootElement="LoadStatusAudit">
        <xsd:appinfo source="yfc:structure">
            <LoadStatusAudit hasAttributes="Y">
                <OldStatus hasAttributes="Y"/>
                <NewStatus hasAttributes="Y"/>
            </LoadStatusAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LoadStatusAudit" type="yfc:LoadStatusAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD_STATUS_AUDIT">
            <xsd:documentation>This table stores load status change audit. Each time the load status changes because of a business process, an audit is posted along with the status, timestamp, reason code and text, user ID and program ID. All transactions in the load pipeline have entries in this table upon completion of a transaction. In addition, the receiveIntransitUpdates API posts transport status updates for additional transport statuses that are not a part of the delivery (load) pipeline.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadStatusAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OldStatus"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NewStatus"/>
        </xsd:all>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Load for which a status change audit is written.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadStatusAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_STATUS_AUDIT_KEY" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Primary key attribute of YFS_LOAD_STATUS_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Location" type="yfctype:Text-4000" use="optional">
            <xsd:annotation yfc:columnName="LOCATION" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Description of the location for which the transport status is being sent across.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Status of the load after the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS_DATE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Status date recorded on the load at the most recent status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldStatus" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Status of the load before the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldStatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="OLD_STATUS_DATE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Status date as recorded on the load at the previous status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Reason code indicating the reason for the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Free-form reason text indicating any additional information related to the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransportStatusCode"
            type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="TRANSPORT_STATUS_CODE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Transport status code indicating status of the load when intransit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransportStatusDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="TRANSPORT_STATUS_DATE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Status date of the load at the transport status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if data is fetched from the regular table or the history table. Valid values are Y and N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OldStatus">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NewStatus">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
