Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Activity_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Activity_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Activity_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Work_Order_Activity_master.xsd" yfc:rootElement="WorkOrderActivity">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderActivity hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderActivity" type="yfc:WorkOrderActivityXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
            <xsd:documentation>This table stores the list of activities to be performed to complete the work order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderActivityXSDType">
        <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                <xsd:documentation>Activity Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivitySeqNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_SEQ_NO" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                <xsd:documentation>Identifies the sequence in which this activity needs to be performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_COMPLETE" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                <xsd:documentation>Indicates if the entire activity is complete for the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityComplete" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_COMPLETE" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                <xsd:documentation>Quantity completed on confirmation of this activity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderActivityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_ACTIVITY_KEY" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                <xsd:documentation>Primary Key of YFS_WORK_ORDER_ACTIVITY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER_ACTIVITY">
                <xsd:documentation>Primary Key of YFS_WORK_ORDER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
