Data/xapidocs/api_javadocs/XSD/YFS_getOrderInvoiceList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getOrderInvoiceList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getOrderInvoiceList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getOrderInvoiceList_input.xsd" yfc:rootElement="OrderInvoice">
        <xsd:appinfo source="yfc:structure">
            <OrderInvoice hasAttributes="Y">
                <Order hasAttributes="Y"/>
            </OrderInvoice>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderInvoice" type="yfc:OrderInvoiceXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE">
            <xsd:documentation>Stores order invoices raised against an order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderInvoiceXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Order"/>
        </xsd:all>
        <xsd:attribute name="ChargeTransactionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CHARGE_TRANSACTION_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Link to charge transaction record for which this invoice was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ChargeTransactionKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The currency code in which this invoice is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The document type. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The enterprise code. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromChargeTransactionKey"
            type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromInvoiceNo" type="yfctype:InvoiceNo" use="optional"/>
        <xsd:attribute name="FromMasterInvoiceNo" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromOrderInvoiceKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromReturnReleaseKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="FromShipmentKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="IgnoreOrdering" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				By default, the output is ordered by <code>ORDER_HEADER_KEY</code> and <code>INVOICE_NO</code>. If <code>IgnoreOrdering</code> is passed as <b>
                            <code>Y</code>
                        </b>, the default ordering is omitted.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvoiceCreationReason"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INVOICE_CREATION_REASON" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The reason for which the invoice is created. The system populates this field only for adjustment invoices.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvoiceNo" type="yfctype:InvoiceNo" use="optional">
            <xsd:annotation yfc:columnName="INVOICE_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Invoice number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvoiceNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="InvoiceType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INVOICE_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Classifies an invoice. For example, Orders, Returns, Debit Memo, Credit Memo, Info etc.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LatestFirst" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Governs the order in which <code>OrderInvoices</code> are returned.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: 
				<br/>
                        <b>
                            <code>Y</code>
                        </b> :the <code>OrderInvoices</code> are ordered in descending order of<code>ORDER_HEADER_KEY</code> and <code>INVOICE_NO</code>.
				<br/>
                        <b>
                            <code>N</code>
                        </b> :the <code>OrderInvoices</code> are ordered in ascending order of <code>ORDER_HEADER_KEY</code> and <code>INVOICE_NO</code>.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MasterInvoiceNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="MASTER_INVOICE_NO"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Not used internally. Can be updated externally by custom logic to group invoices together.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MasterInvoiceNoQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Specifies the Maximum Number of records to be returned. Default is 500.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Link to order header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OrderInvoiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_INVOICE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderInvoiceKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The order number. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReadFromHistory" type="yfctype:Text-1" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                    Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values:
                    <br/>
                        <b>
                            <code>N</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_ORDER_INVOICE table.
                    <br/>
                        <b>
                            <code>Y</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_ORDER_INVOICE_H table (the history table).
                    <br/>
                        <b>
                            <code>B</code>
                        </b> - Returns records that satisfy the input criteria from both YFS_ORDER_INVOICE and YFS_ORDER_INVOICE_H tables. Records returned from the current table are first in the output.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnReleaseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RETURN_RELEASE_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Link to a return release if invoice is created for a return.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnReleaseKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The seller organization. This is a part of a shipment's unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The ship node. This is a part of a shipment's unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Link to a shipment if invoice was created for a shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKeyQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The shipment number. This is a part of a shipment's unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToChargeTransactionKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToInvoiceNo" type="yfctype:InvoiceNo" use="optional"/>
        <xsd:attribute name="ToMasterInvoiceNo" type="yfctype:Text-40" use="optional"/>
        <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToOrderInvoiceKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToReturnReleaseKey" type="yfctype:Key" use="optional"/>
        <xsd:attribute name="ToShipmentKey" type="yfctype:Key" use="optional"/>
    </xsd:complexType>
    <xsd:element name="Order">
        <xsd:annotation yfc:UsedForIndexing="Order" yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>This table stores all order documents in the system.  These orders can be further classified into various types of documents. For example, ORDERS, PLANNED ORDERS and any other future types that the system may provide.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuthenticationKey" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Not Used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="BILL_TO_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the bill to customer.  If a customer definition representing the buyer organization exists within the system, the BillToID can represent the CustomerID of the customer.  Otherwise, the BillToID can represent the PersonID of the bill to address or the BuyerOrganizationCode of the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillToIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="BuyerUserId"
                type="yfctype:ContactUserId" use="optional">
                <xsd:annotation yfc:columnName="BUYER_USER_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This is the User Id of the customer for which order is created. This field maps to User_Id field of YFS_Customer_Contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerUserIdQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="CustomerContactID"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_CONTACT_ID" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This is the customer contact ID for the order. This field maps to contact ID field of YFS_Customer_Contact.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerEMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_EMAILID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The E-mail ID of the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerEMailIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromBillToID" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="FromBuyerUserId"
                type="yfctype:ContactUserId" use="optional"/>
            <xsd:attribute name="FromCustomerEMailID"
                type="yfctype:EMailID" use="optional"/>
            <xsd:attribute name="FromHoldReasonCode"
                type="yfctype:HoldReasonCode" use="optional"/>
            <xsd:attribute name="FromOrderDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="FromOrderName" type="yfctype:Text-100" use="optional"/>
            <xsd:attribute name="FromOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="FromPaymentStatus"
                type="yfctype:VarcharShortStatus" use="optional"/>
            <xsd:attribute name="FromReqShipDate"
                type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="FromSearchCriteria1"
                type="yfctype:Text-100" use="optional"/>
            <xsd:attribute name="FromSearchCriteria2"
                type="yfctype:Text-100" use="optional"/>
            <xsd:attribute name="FromShipToID" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="HoldReasonCode"
                type="yfctype:HoldReasonCode" use="optional">
                <xsd:annotation yfc:columnName="HOLD_REASON_CODE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The reason code for putting the order on hold.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoldReasonCodeQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ORDER_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date on which the order was taken. If not passed during order creation, it is defaulted to current system date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKeyQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderName" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NAME"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The name given to the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNameQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNoQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Not Used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OriginalContainerKey" use="optional">
                <xsd:annotation yfc:columnName="ORIGINAL_CONTAINER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PaymentStatus"
                type="yfctype:VarcharShortStatus" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_STATUS"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The information about the payment status of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentStatusQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="PricingClassificationCode" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_CLASSIFICATION_CODE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqShipDate" use="optional">
                <xsd:annotation yfc:columnName="REQ_SHIP_DATE"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The date the customer has requested the order to be shipped on. Based on the 'Driver Date' parameter of the document type, the ship date or delivery date will be calculated based on transit time calculations (if not passed at order creation).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ReqShipDateQryType"
                type="yfctype:DateQryType" use="optional"/>
            <xsd:attribute name="SearchCriteria1"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SEARCH_CRITERIA_1"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SearchCriteria1QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SearchCriteria2"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SEARCH_CRITERIA_2"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is provided for allowing custom searches. You can decide at implementation time what should be stored in this field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SearchCriteria2QryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="ShipToID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="SHIP_TO_ID"
                    yfc:qryTypeSupported="Y" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>The identifier of the ship to customer.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipToIDQryType"
                type="yfctype:StringQryType" use="optional"/>
            <xsd:attribute name="SoldToKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SOLD_TO_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is used by Sterling Multi-Channel Selling Solution.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SourceKey" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is deprecated.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Number20"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="SourceType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SOURCE_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                    <xsd:documentation>This field is internal. Validate value is 'Quote'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToBillToID" type="yfctype:ID-40" use="optional"/>
            <xsd:attribute name="ToBuyerUserId"
                type="yfctype:ContactUserId" use="optional"/>
            <xsd:attribute name="ToCustomerEMailID"
                type="yfctype:EMailID" use="optional"/>
            <xsd:attribute name="ToHoldReasonCode"
                type="yfctype:HoldReasonCode" use="optional"/>
            <xsd:attribute name="ToOrderDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToOrderHeaderKey" type="yfctype:Key" use="optional"/>
            <xsd:attribute name="ToOrderName" type="yfctype:Text-100" use="optional"/>
            <xsd:attribute name="ToOrderNo"
                type="yfctype:VarcharDocumentNo" use="optional"/>
            <xsd:attribute name="ToPaymentStatus"
                type="yfctype:VarcharShortStatus" use="optional"/>
            <xsd:attribute name="ToReqShipDate" type="yfctype:TimeStamp" use="optional"/>
            <xsd:attribute name="ToSearchCriteria1"
                type="yfctype:Text-100" use="optional"/>
            <xsd:attribute name="ToSearchCriteria2"
                type="yfctype:Text-100" use="optional"/>
            <xsd:attribute name="ToShipToID" type="yfctype:ID-40" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
