Data/xapidocs/api_javadocs/XSD/YFS_getEncryptedString_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getEncryptedString/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getEncryptedString/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getEncryptedString_input.xsd" yfc:rootElement="GetEncryptedString">
        <xsd:appinfo source="yfc:structure">
            <GetEncryptedString hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetEncryptedString" type="yfc:GetEncryptedStringXSDType"/>
    <xsd:complexType name="GetEncryptedStringXSDType">
        <xsd:attribute name="StringToEncrypt" type="yfctype:Text-1000" use="optional">
            <xsd:annotation>
                <xsd:documentation>The string to encrypt.
					   <div>
                        <Validation>
                            <Condition>If <code>StringToEncrypt</code> is not passed.
						</Condition>
                            <Error
                                Description="StringToEncrypt is a mandatory field." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
