Data/xapidocs/api_javadocs/XSD/YFS_Location_Inventory_Audit_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Location_Inventory_Audit_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Location_Inventory_Audit_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Location_Inventory_Audit_keys.xsd" yfc:rootElement="LocationInventoryAudit">
        <xsd:appinfo source="yfc:structure">
            <LocationInventoryAudit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LocationInventoryAudit" type="yfc:LocationInventoryAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
            <xsd:documentation>Stores audit information for every single location inventory transaction.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LocationInventoryAuditXSDType">
        <xsd:attribute name="LocnInventoryAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOCN_INVENTORY_AUDIT_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                <xsd:documentation>The primary key for the YFS_LOCN_INVENTORY_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
