Data/xapidocs/api_javadocs/XSD/YFS_changePriceSet_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/changePriceSet/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/changePriceSet/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_changePriceSet_input.xsd" yfc:rootElement="PriceSet">
        <xsd:appinfo source="yfc:structure">
            <PriceSet hasAttributes="Y">
                <ItemPriceSetList>
                    <ItemPriceSet hasAttributes="Y">
                        <ItemPriceSetDtlList>
                            <ItemPriceSetDtl hasAttributes="Y"/>
                        </ItemPriceSetDtlList>
                    </ItemPriceSet>
                </ItemPriceSetList>
            </PriceSet>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceSet" type="yfc:PriceSetXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_SET">
            <xsd:documentation>
                <div>
			Identify price set to be deleted.  <code>PriceSetKey</code> or a combination of <code>OrganizationCode</code> and <code>PriceSetName </code> attributes can be used to identify an order.
			<Validation>
                        <Condition>Root node is not PriceSet 
				</Condition>
                        <Error
                            Description="Input document is empty or contains invalid data." ErrorCode="YFS10363"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>PriceSetKey</code> or a combination of <code>OrganizationCode</code> and <code>PriceSetName </code> attributes is not passed. 
				</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>PriceSetKey</code> or a combination of <code>OrganizationCode</code> and <code>PriceSetName </code> attributes given is invalid. 
				</Condition>
                        <Error Description="Invalid price set." ErrorCode="OMP10001"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceSetXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemPriceSetList"/>
        </xsd:all>
        <xsd:attribute name="ActiveFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Only Price Sets which are marked as active will be considered when computing tax.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Description of a price set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Organization that maintains the price set.
					<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is modified. 
						</Condition>
                            <Error
                                Description="Modify API tried to modify fixed parameters." ErrorCode="YFS10525"/>
                        </Validation>
                        <Validation>
                            <Condition>Invalid <code>OrganizationCode</code> is passed. 
						</Condition>
                            <Error
                                Description="YFS:Invalid organization code." ErrorCode="YCM0019"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceSetKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_SET_KEY" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Primary key that identifies a price set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceSetName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRICE_SET_NAME" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>
                    <div>
					Name of a price set.
					<Validation>
                            <Condition>
                                <code>PriceSetName</code> is modified. 
						</Condition>
                            <Error
                                Description="Modify API tried to modify fixed parameters." ErrorCode="YFS10525"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidTillDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="VALID_TILL_DATE" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Price Set is valid till this date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemPriceSetList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemPriceSet"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSet">
        <xsd:annotation yfc:tableName="YFS_ITEM_PRICE_SET">
            <xsd:documentation>
                <div>
				Price sets for item.
				<Validation>
                        <Condition>If <code>ItemGroupCode</code> of the price set is not the same as <code>ItemGroupCode</code> of the item.
					</Condition>
                        <Error Description="Invalid item for price set." ErrorCode="OMP10083"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ItemPriceSet</code> already exists in the system when creating a new <code>ItemPriceSet</code>.
					</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ItemPriceSet</code> does not exist in the system when deleting or modifying an existing <code>ItemPriceSet</code>. 
					</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemPriceSetDtlList"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>
                        <div>
						An Item for which price set is maintained.
						<Validation>
                                <Condition>
                                    <code>ItemID</code> is not passed. 
							</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>List price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Text-7" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Operation to be performed (Create/Modify/Delete).   
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RetailPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Retail price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Uom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Item's Unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSetDtlList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemPriceSetDtl"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSetDtl">
        <xsd:annotation yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
            <xsd:documentation>
                <div>
							If item requires step pricing, this table stores the quantity breaks and price associated
							<Validation>
                        <Condition>
                            <code>ItemPriceSetDtl</code> already exists in the system when creating a new <code>ItemPriceSetDtl</code>.
								</Condition>
                        <Error
                            Description="Record already exists in the database." ErrorCode="YFC0001"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ItemPriceSetDtl</code> does not exist in the system when deleting or modifying an existing <code>ItemPriceSetDtl</code>. 
								</Condition>
                        <Error
                            Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BreakQtyHigh" type="yfctype:Quantity" use="required">
                <xsd:annotation yfc:columnName="BREAK_QTY_HIGH" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Break High Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BreakQtyLow" type="yfctype:Quantity" use="required">
                <xsd:annotation yfc:columnName="BREAK_QTY_LOW" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>
                        <div>
									Break quantity low.
									<Validation>
                                <Condition>
                                    <code>BreakQtyLow</code> is not passed. 
										</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Text-7" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									Operation to be performed (Create/Modify/Delete).   
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Link to YFS_REGION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Unit price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
