Data/xapidocs/api_javadocs/XSD/YFS_getReceivingPreference_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getReceivingPreference/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getReceivingPreference/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getReceivingPreference_output.xsd" yfc:rootElement="ReceivingPreference">
        <xsd:appinfo source="yfc:structure">
            <ReceivingPreference hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReceivingPreference" type="yfc:ReceivingPreferenceXSDType">
        <xsd:annotation yfc:tableName="YFS_RECEIVING_PREFERENCE">
            <xsd:documentation>This table stores receiving preferences at the enterprise level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReceivingPreferenceXSDType">
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Buying organization code. Typically will be selling organization of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseContentEntryRequired"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CASE_CONTENT_ENTRY_REQUIRED" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Indicates whether the contents should be specified while receiving a case.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_CLASSIFICATION" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Classification of customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Document type to which the preference is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseOrgCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_ORG_CODE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Organization code of enterprise that owns the preference.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Item storage definition - custom defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>The unique identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineType" type="yfctype:LineType" use="optional">
            <xsd:annotation yfc:columnName="LINE_TYPE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Can be used in process modeling in pipeline determination or for doing conditional processing for this line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverReceiptPercentage"
            type="yfctype:BigPercentage" use="optional">
            <xsd:annotation yfc:columnName="OVER_RECEIPT_PERCENTAGE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Specifies percentage in excess of line quantity that may be received for lines of this type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QCPercentage" type="yfctype:BigPercentage" use="optional">
            <xsd:annotation yfc:columnName="QC_PERCENTAGE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Indicates the percentage of the product that needs to be quality controlled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QCRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="QC_REQUIRED" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Indicates whether the QC is required or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Identifies the selling organization. Must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VendorClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VENDOR_CLASSIFICATION" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Classification of vendor.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
