Data/xapidocs/api_javadocs/XSD/YFS_Cntr_Ret_Track_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Cntr_Ret_Track_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Cntr_Ret_Track_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Cntr_Ret_Track_master.xsd" yfc:rootElement="ContainerReturnTracking">
        <xsd:appinfo source="yfc:structure">
            <ContainerReturnTracking hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ContainerReturnTracking" type="yfc:ContainerReturnTrackingXSDType">
        <xsd:annotation yfc:tableName="YFS_CNTR_RET_TRACK">
            <xsd:documentation>Stores all the return tracking number associated with a container.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerReturnTrackingXSDType">
        <xsd:attribute name="ReturnTrackingNumber"
            type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="RETURN_TRACKING_NUMBER" yfc:tableName="YFS_CNTR_RET_TRACK">
                <xsd:documentation>The return tracking number for the container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_CNTR_RET_TRACK">
                <xsd:documentation>The shipment key that is associated with this container List.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_CNTR_RET_TRACK">
                <xsd:documentation>The shipment key that is associated with this shipment container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
