Data/xapidocs/api_javadocs/XSD/YFS_deleteCostFactorGroup_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/deleteCostFactorGroup/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/deleteCostFactorGroup/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_deleteCostFactorGroup_input.xsd" yfc:rootElement="CostFactorGroup">
        <xsd:appinfo source="yfc:structure">
            <CostFactorGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CostFactorGroup" type="yfc:CostFactorGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_COST_FACTOR_GROUP">
            <xsd:documentation>This table stores information about cost factor groups defined in the system. Cost factor group are defined by the enterprise organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CostFactorGroupXSDType">
        <xsd:attribute name="CostFactorGroupName" type="yfctype:String" use="required">
            <xsd:annotation yfc:columnName="COST_FACTOR_GROUP_NAME" yfc:tableName="YFS_COST_FACTOR_GROUP">
                <xsd:documentation>
                    <div>
          Name of the cost factor group.
          <Validation>
                            <Condition>
              A value should be passed.
            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COST_FACTOR_GROUP">
                <xsd:documentation>
                    <div>
          The enterprise code associated with the cost factor group.
          <Validation>
                            <Condition>
              A value should be passed.
            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
