Data/xapidocs/api_javadocs/XSD/YFS_beforeSendReturnReleaseToDCS_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/beforeSendReturnReleaseToDCS/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/beforeSendReturnReleaseToDCS/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_beforeSendReturnReleaseToDCS_input.xsd" yfc:rootElement="SendReturnReleaseToDCS">
        <xsd:appinfo source="yfc:structure">
            <SendReturnReleaseToDCS hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SendReturnReleaseToDCS" type="yfc:SendReturnReleaseToDCSXSDType"/>
    <xsd:complexType name="SendReturnReleaseToDCSXSDType">
        <xsd:attribute name="ActionCode" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:String">
                    <xsd:enumeration value="CH"/>
                    <xsd:enumeration value="CL"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InstructionType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InterfaceType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderLineKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderReleaseKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PrimeLineNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="RecordType" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:String">
                    <xsd:enumeration value="RMAHDR"/>
                    <xsd:enumeration value="RMADTL"/>
                    <xsd:enumeration value="RMACMT"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SequenceNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="SubLineNo" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
