Data/xapidocs/api_javadocs/XSD/YFS_scheduleOrderLines_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/scheduleOrderLines/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/scheduleOrderLines/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_scheduleOrderLines_output.xsd" yfc:rootElement="Promise">
        <xsd:appinfo source="yfc:structure">
            <Promise>
                <PromiseLine hasAttributes="Y">
                    <Tag hasAttributes="Y"/>
                    <Result hasAttributes="Y"/>
                </PromiseLine>
            </Promise>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Promise" type="yfc:PromiseXSDType"/>
    <xsd:complexType name="PromiseXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:PromiseLine"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PromiseLine">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Tag"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Result"/>
            </xsd:all>
            <xsd:attribute name="DeliveryDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							If driver date of the order is <b>
                                <code>DeliveryDate</code>
                            </b> then a <code>DeliveryDate</code> must be passed. <code>OrderLine</code> is scheduled to deliver on the passed <code>DeliveryDate</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromScheduleNo" type="yfctype:Count" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates a schedule number allocate from. One line can be in multiple schedules. Pass a valid <code>FromScheduleNo</code> to allocate quantity in a particular schedule. 
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromStatus" type="yfctype:Status" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Specifies a status that quantity should be allocated from. If <code>FromStatus</code> is passed, allocation is done only from that status. If <code>FromStatus</code> is not passed, allocation is made from any status.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Unique identifier of the OrderLine. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Part of a key for the <code>OrderLine</code>. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The quantity to schedule for the <code>OrderLines</code>. If not passed, line quantity is not scheduled.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipDate" type="yfctype:Date" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							If driver date of the order is <b>
                                <code>ShipDate</code>
                            </b> then a <code>ShipDate</code> must be passed. <code>OrderLine</code> is scheduled to ship on the passed <code>ShipDate</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Indicates the <code>ShipNode</code> this <code>OrderLine</code> should use.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						Part of a key for the <code>OrderLine</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToStatus" type="yfctype:Status" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Indicates a status to which <code>OrderLines</code> are set, if the <code>OrderLines</code> are succesfully scheduled during this <code>scheduleOrderLines</code> call. If <code>ToStatus</code> is not passed, the Status is determined from the pipeline.
							<br/>Valid Values: An equivalent status of one of these statuses:  <b>
                                <code>1500</code>
                            </b>,<b>
                                <code>1600</code>
                            </b>,<b>
                                <code>1300</code>
                            </b>.<br>The value of this attribute is not populated in split line scenario.</br>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToTagNumber" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Tag">
        <xsd:complexType>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
			Lot Number
			</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Result">
        <xsd:complexType>
            <xsd:attribute name="AssignedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Quantity assigned for scheduling
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoInventoryFoundQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Quantity for which no inventory has been found during scheduling
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoStatusFoundQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Quantity for which no drop status has been found during scheduling
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					Quantity requested for scheduling
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
