Data/xapidocs/api_javadocs/XSD/YFS_Productivity_Type_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Productivity_Type_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Productivity_Type_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Productivity_Type_keys.xsd" yfc:rootElement="ProductivityType">
        <xsd:appinfo source="yfc:structure">
            <ProductivityType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProductivityType" type="yfc:ProductivityTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY_TYPE">
            <xsd:documentation>This table stores Standard Allowable Minutes for different Productivity Types.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProductivityTypeXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Owner organization of the node for which this productivity type is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityType"
            type="yfctype:ProductivityType" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>The productivity type defined for this SAM.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE_KEY" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Primary key attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
