Data/xapidocs/api_javadocs/XSD/YFS_getOverriddenOveragePercentageUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getOverriddenOveragePercentageUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getOverriddenOveragePercentageUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getOverriddenOveragePercentageUE_output.xsd" yfc:rootElement="GetOverriddenOveragePercentage">
        <xsd:appinfo source="yfc:structure">
            <GetOverriddenOveragePercentage hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetOverriddenOveragePercentage" type="yfc:GetOverriddenOveragePercentageXSDType"/>
    <xsd:complexType name="GetOverriddenOveragePercentageXSDType">
        <xsd:attribute name="OveragePercentage"
            type="yfctype:Percentage" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Overridden overage percentage.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
