Data/xapidocs/api_javadocs/XSD/YFS_getFundsAvailableUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getFundsAvailableUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getFundsAvailableUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getFundsAvailableUE_output.xsd" yfc:rootElement="PaymentMethod">
        <xsd:appinfo source="yfc:structure">
            <PaymentMethod hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PaymentMethod" type="yfc:PaymentMethodXSDType"/>
    <xsd:complexType name="PaymentMethodXSDType">
        <xsd:attribute name="FundsAvailable" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The funds available to be charged on this payment method as determined by the <code>GetFundsAvailable</code> user exit, if it was invoked.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
