Data/xapidocs/api_javadocs/XSD/YFS_changeOrderInvoice_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/changeOrderInvoice/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/changeOrderInvoice/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_changeOrderInvoice_input.xsd" yfc:rootElement="OrderInvoice">
        <xsd:appinfo source="yfc:structure">
            <OrderInvoice hasAttributes="Y">
                <LineDetails>
                    <LineDetail hasAttributes="Y"/>
                </LineDetails>
            </OrderInvoice>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderInvoice" type="yfc:OrderInvoiceXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE">
            <xsd:documentation>
                <div>
			Stores order invoices belonging to an order.
			<Validation>
                        <Condition>The <code>OrderInvoiceKey</code> attribute must be passed and must be valid.
				</Condition>
                        <Error Description="Blank Invoice Key." ErrorCode="YFS10275"/>
                    </Validation>
                    <Validation>
                        <Condition>The <code>InvoiceNo</code> or <code>Status</code> attributes if passed must be valid.
				</Condition>
                        <Error
                            Description="Only invoice number, status or extended attributes can be changed." ErrorCode="OMP10061"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderInvoiceXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineDetails"/>
        </xsd:all>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>The enterprise code. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvoiceNo" type="yfctype:InvoiceNo" use="optional">
            <xsd:annotation yfc:columnName="INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Invoice number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderInvoiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_INVOICE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ID-15" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_INVOICE">
                <xsd:documentation>
                    <div>Invoice status.
			<Validation>
                            <Condition>The new <code>Status</code> must be 00 (Created) or 01 (Published).
				</Condition>
                            <Error Description="Invalid Status" ErrorCode="YFS10235"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="LineDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineDetail"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineDetail">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
            <xsd:documentation>
                <div>
                    <code>LineDetail</code> modifies existing invoice line details. 
					<Validation>
                        <Condition>The <code>OrderInvoiceDetailKey</code> attribute  must be passed and must be valid.     
						</Condition>
                        <Error Description="Blank invoice line key." ErrorCode="OMP10060"/>
                        <Error
                            Description="Only extended attributes can be changed." ErrorCode="OMP10061"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderInvoiceDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_INVOICE_DETAIL_KEY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE_DETAIL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
