Data/xapidocs/api_javadocs/XSD/YFS_getTransitionsForDisposition_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getTransitionsForDisposition/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getTransitionsForDisposition/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getTransitionsForDisposition_output.xsd" yfc:rootElement="ReturnDisposition">
        <xsd:appinfo source="yfc:structure">
            <ReturnDisposition hasAttributes="Y">
                <NextReturnDispositionList>
                    <NextReturnDisposition hasAttributes="Y"/>
                </NextReturnDispositionList>
            </ReturnDisposition>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReturnDisposition" type="yfc:ReturnDispositionXSDType">
        <xsd:annotation yfc:tableName="YFS_RETURN_DISPOSITION">
            <xsd:documentation>Configuration table. This table stores rules for handling of dispositions. Based on a chosen disposition, inventory can be updated or product class switched for the item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReturnDispositionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NextReturnDispositionList"/>
        </xsd:all>
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Description for a Disposition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DispositionCode"
            type="yfctype:DispositionCode" use="optional">
            <xsd:annotation yfc:columnName="DISPOSITION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>A code used for identifying a return disposition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DispositionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DISPOSITION_KEY" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Primary key of a return disposition record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Document type for which a disposition code is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsDamaged" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_DAMAGED" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>If Y, this means that the disposition code represents damaged product.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsFinalDisposition" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_FINAL_DISPOSITION" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>If Y, this means that the disposition is a final one.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Organization Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Product class of an item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="NextReturnDispositionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:NextReturnDisposition"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NextReturnDisposition">
        <xsd:annotation yfc:tableName="YFS_RETURN_DISPOSITION">
            <xsd:documentation>Configuration table. This table stores rules for handling of dispositions. Based on a chosen disposition, inventory can be updated or product class switched for the item.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Description for a Disposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DispositionCode"
                type="yfctype:DispositionCode" use="optional">
                <xsd:annotation yfc:columnName="DISPOSITION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>A code used for identifying a return disposition.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DispositionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="DISPOSITION_KEY" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Primary key of a return disposition record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Document type for which a disposition code is defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsDamaged" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_DAMAGED" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>If Y, this means that the disposition code represents damaged product.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFinalDisposition" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FINAL_DISPOSITION" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>If Y, this means that the disposition is a final one.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Organization Code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_RETURN_DISPOSITION">
                    <xsd:documentation>Product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
