Data/xapidocs/api_javadocs/XSD/YFS_getEncryptedCreditCardNumber_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getEncryptedCreditCardNumber/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getEncryptedCreditCardNumber/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getEncryptedCreditCardNumber_input.xsd" yfc:rootElement="GetEncryptedCreditCardNumber">
        <xsd:appinfo source="yfc:structure">
            <GetEncryptedCreditCardNumber hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetEncryptedCreditCardNumber" type="yfc:GetEncryptedCreditCardNumberXSDType"/>
    <xsd:complexType name="GetEncryptedCreditCardNumberXSDType">
        <xsd:attribute name="CreditCardNo" type="yfctype:Text-32" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The credit card number which needs to be encrypted. 
				<br/>Valid Values:
				<br/>
                        <ul>Alphabetic characters A through Z
				<br/>Alphabetic characters a through z
				<br/>Numbers from 0 through 9
				<br/>Symbols ~  !  @  #  $  %   ^  &amp;  *  (
				)  _  +  {  }  |  :  "  &lt;  &gt;  ? `
				 -  =  [  ]  \  ;  '  ,  .  /
				<br/>Keys <code>Tab</code> and <code>Space</code>
                        </ul>
                        <Validation>
                            <Condition>Invalid value is passed.
						</Condition>
                            <Error
                                Description="Credit Card Encryption Failed" ErrorCode="YFS10294"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional"/>
    </xsd:complexType>
</xsd:schema>
