Data/xapidocs/api_javadocs/XSD/YFS_getInventorySnapShot_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getInventorySnapShot/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getInventorySnapShot/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getInventorySnapShot_input.xsd" yfc:rootElement="GetInventorySnapShot">
        <xsd:appinfo source="yfc:structure">
            <GetInventorySnapShot hasAttributes="Y">
                <InventorySupplyTypeList>
                    <InventorySupplyType hasAttributes="Y"/>
                </InventorySupplyTypeList>
            </GetInventorySnapShot>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetInventorySnapShot" type="yfc:GetInventorySnapShotXSDType"/>
    <xsd:complexType name="GetInventorySnapShotXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventorySupplyTypeList"/>
        </xsd:all>
        <xsd:attribute name="GetFutureSupplies" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
					Pass this flag as <code>Y</code> if future supply types is desired in the output. Also, <code>InventorySupplyType</code> filter will work only if this flag is passed as <code>Y</code>.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastInventoryItemKey" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
					This attribute indicates the starting inventory item key of required batch of inventory item for the ship node provided.
					<code>ShipNode</code> is required for this attribute to be honored.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumNumberOfItems" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
					This attribute indicates the maximum number of items to return in the result for the ship node provided.
					<code>ShipNode</code> is required for this attribute to be honored.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>
				Unique identifier for an organization. 
				<Validation>
                            <Condition>If <code>OrganizationCode</code> is passed and not valid.
					</Condition>
                            <Error
                                Description="Invalid Organization Code." ErrorCode="YCP0040"/>
                        </Validation>
                        <Validation>
                            <Condition>If both <code>ShipNode</code> and <code>OrganizationCode</code> are not passed.
					</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YCM0002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                <xsd:documentation>
                    <div>
				Business key or unique identifier for a ship node. 
				<Validation>
                            <Condition>If both <code>ShipNode</code> and <code>OrganizationCode</code> are not passed.
					</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YCM0002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InventorySupplyTypeList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InventorySupplyType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventorySupplyType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
            <xsd:documentation>Configuration table. Stores valid supply types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>A Supply type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
