Data/xapidocs/api_javadocs/XSD/YFS_getOrderInvoiceList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getOrderInvoiceList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getOrderInvoiceList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getOrderInvoiceList_output.xsd" yfc:rootElement="OrderInvoiceList">
        <xsd:appinfo source="yfc:structure">
            <OrderInvoiceList hasAttributes="Y">
                <OrderInvoice hasAttributes="Y"/>
            </OrderInvoiceList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderInvoiceList" type="yfc:OrderInvoiceListXSDType"/>
    <xsd:complexType name="OrderInvoiceListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderInvoice"/>
        </xsd:sequence>
        <xsd:attribute name="LastOrderInvoiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Last Order Invoice Key in the output.<br/>
                        <em>
                            <code>LastOrderInvoiceKey</code> is not supported when getPage API is used in multiTenancy environment.</em>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastRecordSet" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Flag to indicate if the records obtained are a complete list. If there are more than 500 records matching the criteria passed in input xml, only 500 records are returned and this flag is set to <b>N</b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReadFromHistory" type="yfctype:Text-1" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                    Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values:
                    <br/>
                        <b>
                            <code>N</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_ORDER_INVOICE table.
                    <br/>
                        <b>
                            <code>Y</code>
                        </b> - Returns records that satisfy the input criteria from the YFS_ORDER_INVOICE_H table (the history table).
                    <br/>
                        <b>
                            <code>B</code>
                        </b> - Returns records that satisfy the input criteria from both YFS_ORDER_INVOICE and YFS_ORDER_INVOICE_H tables. Records returned from the current table are first in the output.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Total number of records that match the input criteria.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalOrderInvoiceList" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Total Order Invoice List
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderInvoice">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE">
            <xsd:documentation>Stores order invoices raised against an order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActualFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Actual freight charge or the charge for transporting the shipment from the origin  node to the destination node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AmountCollected"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="AMOUNT_COLLECTED" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Total amount which has been paid against this invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AmountPassedToAr" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="AMOUNT_PASSED_TO_AR" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Amount which was passed to A/R system for collection. This would typically be same as total amount unless there was some pre-payment on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeTransactionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_TRANSACTION_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to charge transaction record for which this invoice was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargedActualFreight"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CHARGED_ACTUAL_FREIGHT" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>If shipping charges were charged on actual, this is set to 'Y'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CollectedExternally"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="COLLECTED_EXTERNALLY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Flag to indicate if invoice collection is happening externally in A/R system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The currency code in which this invoice is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The document type. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The enterprise code. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceCreationReason"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_CREATION_REASON" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The reason for which the invoice is created. The system populates this field only for adjustment invoices.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceNo" type="yfctype:InvoiceNo" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Invoice number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Classifies an invoice. For example, Orders, Returns, Debit Memo, Credit Memo, Info etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubtotal" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="LINE_SUBTOTAL" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Total of extended price for all the lines. This only includes the price * quantity information and excludes line charges and taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterInvoiceNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MASTER_INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Not used internally. Can be updated externally by custom logic to group invoices together.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to order header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderInvoiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_INVOICE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The order number. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherCharges"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="OTHER_CHARGES" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Total of all header level charges for the invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RETURN_RELEASE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to a return release if invoice is created for a return.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The seller organization. This is a part of a shipment's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The ship node. This is a part of a shipment's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to a shipment if invoice was created for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The shipment number. This is a part of a shipment's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumInvoiceStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Invoice status. Used for publishing invoice at appropriate time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Tax for header charges.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAmount"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Grand total for the invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalTax" type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_TAX" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Total of all taxes across header and lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                    Valid Values:
                    <br/>
                            <b>
                                <code>N</code>
                            </b> - Record is from the current table, YFS_ORDER_INVOICE.
                    <br/>
                            <b>
                                <code>Y</code>
                            </b> - Record is from the history table, YFS_ORDER_INVOICE_H.
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
