Data/xapidocs/api_javadocs/XSD/YFS_Productivity_Type_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Productivity_Type_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Productivity_Type_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Productivity_Type_master.xsd" yfc:rootElement="ProductivityType">
        <xsd:appinfo source="yfc:structure">
            <ProductivityType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ProductivityType" type="yfc:ProductivityTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY_TYPE">
            <xsd:documentation>This table stores Standard Allowable Minutes for different Productivity Types.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProductivityTypeXSDType">
        <xsd:attribute name="AllowedMinsConstant"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_CONSTANT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per trip.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerCase" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per case handled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerItem" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per item handled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerPallet"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per pallet handled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerSourceAisle"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_SOURCE_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per source aisle visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerSourceLevel"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_SOURCE_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per source level visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerSourceLocn"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_SOURCE_LOCN" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per source location visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerTargetAisle"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_TARGET_AISLE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per target aisle visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerTargetLevel"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_TARGET_LEVEL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per target level visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerTargetLocn"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_TARGET_LOCN" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per target location visited.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerTask" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per task performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerUnit" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALLOWED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per unit handled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerUnitHorizontalDistance"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_UNIT_HOR_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per unit horizontal distance covered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerUnitVerticalDistance"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_UNIT_VER_DIST" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per unit vertical distance covered.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllowedMinsPerUnitWeight"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation
                yfc:columnName="ALLOWED_MINS_PER_UNIT_WEIGHT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates the time credit for users  per unit weight of item moved.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaptureTripLevelMetrics"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="CAPTURE_TRIP_LEVEL_METRICS" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the productivity metrics should be captured by trip level.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Program that created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>User who created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Description of productivity type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentType" type="yfctype:EquipmentType" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Equipment type associated with the productivity type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsConstantAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_CONSTANT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per trip is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerCaseAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_CASE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per case handled is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerItemAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_ITEM_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per item handled is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerPalletAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_PALLET_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per pallet handled is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerSourceAisleAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_SOURCE_AISLE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per source aisle visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerSourceLevelAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_SOURCE_LEVEL_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per source level visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerSourceLocnAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_SOURCE_LOCN_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per source location visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerTargetAisleAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_TARGET_AISLE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per target aisle visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerTargetLevelAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_TARGET_LEVEL_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per target level visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerTargetLocnAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_TARGET_LOCN_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per target location visited is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerTaskAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_TASK_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per task performed is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerUnitAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MINS_PER_UNIT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit handled is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerUnitHorizontalDistanceAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_UNIT_HOR_DIST_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit horizontal distance covered is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerUnitVerticalDistanceAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_UNIT_VER_DIST_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit vertical distance covered is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsAllowedMinsPerUnitWeightAppl"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_MINS_PER_UNIT_WEIGHT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit weight of item moved is applicable to this productivity type or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerBatchAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_BATCH_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per batch is applicable to this productivity type during planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerCaseAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_CASE_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per case is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerItemAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_ITEM_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per item is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerPalletAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_PALLET_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per pallet is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerTaskAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_TASK_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per task is applicable to this productivity type during planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerUnitAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_UNIT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPlannedPerUnitWtAppl" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PLANNED_PER_UNIT_WT_APPL" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>This column indicates whether the time credit for users  per unit weight is applicable to this productivity type in planning.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Program that modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>User who modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Owner organization of the node for which this productivity type is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerBatch"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_BATCH" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerCase" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_CASE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per case.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerItem" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_ITEM" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerPallet"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_PALLET" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per pallet.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerTask" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_TASK" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerUnit" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_UNIT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per unit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PlannedMinsPerUnitWt"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="PLANNED_MINS_PER_UNIT_WT" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Estimated time credit in minutes for users per unit wt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityType"
            type="yfctype:ProductivityType" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>The productivity type defined for this SAM.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE_KEY" yfc:tableName="YFS_PRODUCTIVITY_TYPE">
                <xsd:documentation>Primary key attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
