Data/xapidocs/api_javadocs/XSD/YFS_createDiscrBasedAdjustmentInvoice_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createDiscrBasedAdjustmentInvoice/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createDiscrBasedAdjustmentInvoice/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_createDiscrBasedAdjustmentInvoice_output.xsd" yfc:rootElement="OrderInvoiceList">
        <xsd:appinfo source="yfc:structure">
            <OrderInvoiceList hasAttributes="Y">
                <OrderInvoice hasAttributes="Y">
                    <LineDetails hasAttributes="Y">
                        <LineDetail hasAttributes="Y">
                            <OrderLine hasAttributes="Y">
                                <Item hasAttributes="Y"/>
                                <LinePriceInfo hasAttributes="Y"/>
                                <References>
                                    <Reference hasAttributes="Y"/>
                                </References>
                            </OrderLine>
                            <LineCharges>
                                <LineCharge hasAttributes="Y"/>
                            </LineCharges>
                            <LineTaxes>
                                <LineTax hasAttributes="Y"/>
                                <TaxSummary>
                                    <TaxSummaryDetail hasAttributes="Y"/>
                                </TaxSummary>
                            </LineTaxes>
                            <References>
                                <Reference hasAttributes="Y"/>
                            </References>
                        </LineDetail>
                    </LineDetails>
                </OrderInvoice>
            </OrderInvoiceList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderInvoiceList" type="yfc:OrderInvoiceListXSDType"/>
    <xsd:complexType name="OrderInvoiceListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderInvoice"/>
        </xsd:all>
        <xsd:attribute name="LastOrderInvoiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE for the last order invoice.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LastRecordSet" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of invoices.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReadFromHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of invoices.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfRecords"
            type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of invoices.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalOrderInvoiceList"
            type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of invoices.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderInvoice">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE">
            <xsd:documentation>Stores order invoices raised against an order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineDetails"/>
            </xsd:all>
            <xsd:attribute name="ActualFreightCharge"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="ACTUAL_FREIGHT_CHARGE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Actual freight charge or the charge for transporting the shipment from the origin  node to the destination node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AmountCollected"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="AMOUNT_COLLECTED" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Total amount which has been paid against this invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeTransactionKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_TRANSACTION_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to charge transaction record for which this invoice was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargedActualFreight"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CHARGED_ACTUAL_FREIGHT" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>If shipping charges were charged on actual, this is set to 'Y'.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CollectedExternally"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="COLLECTED_EXTERNALLY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Flag to indicate if invoice collection is happening externally in A/R system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CollectedThroughAR"
                type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="AMOUNT_PASSED_TO_AR" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Amount which was passed to A/R system for collection. This would typically be same as total amount unless there was some pre-payment on the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The currency code in which this invoice is being processed. All price fields are assumed to be in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceNo" type="yfctype:InvoiceNo" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Invoice number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoiceType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="INVOICE_TYPE" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Classifies an invoice. For example, Orders, Returns, Debit Memo, Credit Memo, Info etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineSubTotal"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="LINE_SUBTOTAL" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Total of extended price for all the lines. This only includes the price * quantity information and excludes line charges and taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MasterInvoiceNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="MASTER_INVOICE_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Not used internally. Can be updated externally by custom logic to group invoices together.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to order header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderInvoiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_INVOICE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>The order number. This field is a part of an order's unique key. The enterprise code and order number together uniquely identify an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherCharges"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="OTHER_CHARGES" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Total of all header level charges for the invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReturnReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RETURN_RELEASE_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to a return release if invoice is created for a return.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Link to a shipment if invoice was created for a shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumInvoiceStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Invoice status. Used for publishing invoice at appropriate time.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Tax amount in the invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalAmount"
                type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_AMOUNT" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Grand total for the invoice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalTax" type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_TAX" yfc:tableName="YFS_ORDER_INVOICE">
                    <xsd:documentation>Total of all taxes across header and lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineDetail"/>
            </xsd:all>
            <xsd:attribute name="TotalLines" type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Total number of invoice lines.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineDetail">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
            <xsd:documentation>Stores line details for an invoice.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLine"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineCharges"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineTaxes"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="References">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Reference">
                                <xsd:annotation yfc:tableName="YFS_REFERENCE_TABLE">
                                    <xsd:documentation>This table stores dynamic order references that can be passed to the createOrder API and returned by the getOrderDetails API. Database extensibility of the order tables should be used instead of this table to store implementation specific order fields.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-40" use="optional"/>
                                    <xsd:attribute name="Value"
                                    type="yfctype:Text-40" use="optional"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="Charges" type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="OTHER_CHARGES" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Total of all charges for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedPrice" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_PRICE" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Quantity * Unit price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineTotal" type="yfctype:ComputedMoney" use="optional">
                <xsd:annotation yfc:columnName="FINAL_LINE_CHARGES" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Total of all charges for the line including taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OptionPrice" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="OPTION_PRICE" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Total Option Price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderInvoiceDetailKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ORDER_INVOICE_DETAIL_KEY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE_DETAIL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderInvoiceKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_INVOICE_KEY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Primary key attribute of YFS_ORDER_INVOICE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Link to order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Quantity being invoiced in Pricing UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Prime line no of the order line.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:LineNo"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Quantity being invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShippedQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY_SHIPPED" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Quantity being invoiced.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Sub line no of the order line.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:LineNo"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:Money" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Total of all taxes for the line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Unit price of invoice line item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Item"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LinePriceInfo"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="References">
                    <xsd:complexType>
                        <xsd:all>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Reference">
                                <xsd:annotation yfc:tableName="YFS_REFERENCE_TABLE">
                                    <xsd:documentation>This table stores dynamic order references that can be passed to the createOrder API and returned by the getOrderDetails API. Database extensibility of the order tables should be used instead of this table to store implementation specific order fields.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-40" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FIELD_NAME1" yfc:tableName="YFS_REFERENCE_TABLE">
                                    <xsd:documentation>Reference name.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Value"
                                    type="yfctype:Text-254" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="FIELD_VALUE1" yfc:tableName="YFS_REFERENCE_TABLE">
                                    <xsd:documentation>Reference value.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:all>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The identifier for the item. The ITEM_ID, UOM, and PRODUCT_CLASS form the unique inventory identifier for an order line. The ITEM_ID, UOM and ORGANIZATION_CODE form the unique item identifier for the Product Management module.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The product class. This field is used as an inventory identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LinePriceInfo">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="DiscountPercentage"
                type="yfctype:Percentage" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_PERCENTAGE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The discount percentage is the percentage decrease in price between the list and unit price for a given buyer. This value is calculated by subtracting the difference between the list price and unit price and divided by the list price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscountReference"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_REFERENCE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The reference number for the discount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscountType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="DISCOUNT_TYPE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The type of discount used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvoicedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="INVOICED_PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The invoiced pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>the list price of the item. This is an informational field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderedPricingQty"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQtyConversionFactor"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_QUANTITY_CONV_FACTOR" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing quantity conversion factor. This field is used for finding Pricing_Quantity, using Ordered_Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingUOM" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="PRICING_UOM" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The pricing UOM for the order line. If "PricingUOM" is not passed it will be defaulted from Catalog. If "PricingUOM" is passed and different from inventory uom, "PricingQtyConversionFactor" attribute will be used for pricing quantity conversion. If "PricingQtyConversionFactor" is not passed it will be considered as zero.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RetailPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The retail price of the item. this is an informational field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The Tax Exemption Certificate applied to this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxableFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAXABLE_FLAG" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>This flag indicates whether this order line is taxable or not. This field is for informational purposes only. Currently, it is not used in any tax calculations. If not passed, this flag is defaulted to that of item in the catalog, if exists, else it is defaulted to "N".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit price for the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineCharges">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineCharge"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineCharge">
        <xsd:annotation yfc:tableName="YFS_LINE_CHARGES">
            <xsd:documentation>This table stores any additional charges or discounts that can be added to an  order line.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeAmount"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="CHARGEAMOUNT" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Total charge for this line taking into account the quantity on order and charge per unit of the line and the charge per line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Link to YFS_CHARGE_CATEGORY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Link to YFS_CHARGE_NAME.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeNameKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME_KEY" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>Primary key for a charge name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargePerLine"
                type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="CHARGEPERLINE" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Fixed charge amount for this order/invoice line. When the line charge is associated with an order line, this amount will be invoiced on the first invoice for this order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargePerUnit" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="CHARGEPERUNIT" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Charge per unit for the item on this order/invoice line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsShippingCharge" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Determines whether the charge is a shipping charge. This attribute value is system defined and cannot be overridden. The value for this attribute is set as <code>Y</code> only for Charge Name configured as <code>CHARGE_NAME_FOR_SHIPPING</code> in financial rule. For all other Charges this attribute is set to <code>N</code>.
							</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:Flag">
                        <xsd:enumeration value=""/>
                        <xsd:enumeration value="Y"/>
                        <xsd:enumeration value="N"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Reference" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE" yfc:tableName="YFS_LINE_CHARGES">
                    <xsd:documentation>Any additional reference related to this line charge.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTaxes">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineTax"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TaxSummary"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineTax">
        <xsd:annotation yfc:tableName="YFS_TAX_BREAKUP">
            <xsd:documentation>This table stores tax related information for various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ChargeCategory"
                type="yfctype:ChargeCategory" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_CATEGORY" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The charge category for which tax is being charged. For example, Labeling or Handling.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeName" type="yfctype:ChargeName" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Charge name for which tax is being charged. For example, Price Ticket.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChargeNameKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CHARGE_NAME_KEY" yfc:tableName="YFS_CHARGE_NAME">
                    <xsd:documentation>Primary key for a charge name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE1" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE2" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE3" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Additional reference information. This field can be customized by the Enterprise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tax" type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxPercentage" type="yfctype:TaxType" use="optional">
                <xsd:annotation yfc:columnName="TAX_PERCENTAGE" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>Percentage amount for tax calculation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaxSummary">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TaxSummaryDetail"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TaxSummaryDetail">
        <xsd:annotation yfc:tableName="YFS_TAX_BREAKUP">
            <xsd:documentation>This table stores tax related information for various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Tax" type="yfctype:PlusMinusMoney" use="optional">
                <xsd:annotation yfc:columnName="TAX" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax amount.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxName" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_NAME" yfc:tableName="YFS_TAX_BREAKUP">
                    <xsd:documentation>The tax name.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
