Data/xapidocs/api_javadocs/XSD/YFS_getCarrierServiceOptionsForOrdering_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getCarrierServiceOptionsForOrdering/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getCarrierServiceOptionsForOrdering/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getCarrierServiceOptionsForOrdering_input.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <PersonInfoShipTo hasAttributes="Y"/>
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <PersonInfoShipTo hasAttributes="Y"/>
                    </OrderLine>
                </OrderLines>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>
                <div>
					Pass either the <code>EnterpriseCode</code> or the <code>OrderHeaderKey</code> to be able to search for the item in the catalog. If <code>EnterpriseCode</code> is not passed, it is defaulted from the enterprise of the <code>OrderHeaderKey</code>.
					<Validation>
                        <Condition>
                            <code>EnterpriseCode</code> or <code>OrderHeaderKey</code> must be passed and must be valid.
						</Condition>
                        <Error
                            Description="YCM:Missing Mandatory parameters." ErrorCode="YCM0002"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="PersonInfoShipTo">
                <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="AddressID"
                        type="yfctype:Text-256" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_ID" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>A user specified label for an address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine1"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 1 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine2"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 2 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine3"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 3 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine4"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 4 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine5"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 5 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AddressLine6"
                        type="yfctype:Address" use="optional">
                        <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The address line 6 field.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="AlternateEmailID"
                        type="yfctype:EMailID" use="optional">
                        <xsd:annotation
                            yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="City" type="yfctype:City" use="optional">
                        <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The city in the address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                        <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The company this person is associated with.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                        <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The country in the address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DayFaxNo"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="DayPhone"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Department"
                        type="yfctype:Department" use="optional">
                        <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                        <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EveningFaxNo"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="EveningPhone"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="FirstName"
                        type="yfctype:PersonName" use="optional">
                        <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The first name of the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="IsCommercialAddress"
                        type="yfctype:Flag" use="optional">
                        <xsd:annotation
                            yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="JobTitle"
                        type="yfctype:Title-40" use="optional">
                        <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The job title of the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="LastName"
                        type="yfctype:PersonName" use="optional">
                        <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The last name of the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="MiddleName"
                        type="yfctype:MiddleName" use="optional">
                        <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The middle name of the person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="MobilePhone"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="OtherPhone"
                        type="yfctype:PhoneNo" use="optional">
                        <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="PersonID"
                        type="yfctype:PersonId" use="optional">
                        <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="State" type="yfctype:State" use="optional">
                        <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The state in the address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                        <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="TaxGeoCode"
                        type="yfctype:GeoCode" use="optional">
                        <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                        <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                        <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                            <xsd:documentation>The zip code in the address.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
        </xsd:all>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="PersonInfoShipTo">
                    <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
                        <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="AddressID"
                            type="yfctype:Text-256" use="optional">
                            <xsd:annotation yfc:columnName="ADDRESS_ID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>A user specified label for an address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine1"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 1 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine2"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 2 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine3"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 3 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine4"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 4 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine5"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 5 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AddressLine6"
                            type="yfctype:Address" use="optional">
                            <xsd:annotation
                                yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The address line 6 field.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="AlternateEmailID"
                            type="yfctype:EMailID" use="optional">
                            <xsd:annotation
                                yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Beeper"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="City" type="yfctype:City" use="optional">
                            <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The city in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Company"
                            type="yfctype:Company" use="optional">
                            <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The company this person is associated with.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Country"
                            type="yfctype:Country" use="optional">
                            <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The country in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DayFaxNo"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="DayPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Department"
                            type="yfctype:Department" use="optional">
                            <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EMailID"
                            type="yfctype:EMailID" use="optional">
                            <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EveningFaxNo"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="EveningPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="FirstName"
                            type="yfctype:PersonName" use="optional">
                            <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The first name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="IsCommercialAddress"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="JobTitle"
                            type="yfctype:Title-40" use="optional">
                            <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The job title of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="LastName"
                            type="yfctype:PersonName" use="optional">
                            <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The last name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MiddleName"
                            type="yfctype:MiddleName" use="optional">
                            <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The middle name of the person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="MobilePhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="OtherPhone"
                            type="yfctype:PhoneNo" use="optional">
                            <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PersonID"
                            type="yfctype:PersonId" use="optional">
                            <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="State" type="yfctype:State" use="optional">
                            <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The state in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Suffix"
                            type="yfctype:Suffix" use="optional">
                            <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="TaxGeoCode"
                            type="yfctype:GeoCode" use="optional">
                            <xsd:annotation
                                yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Title"
                            type="yfctype:Title-10" use="optional">
                            <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ZipCode"
                            type="yfctype:ZipCode" use="optional">
                            <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                                <xsd:documentation>The zip code in the address.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="EarliestShipDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EARLIEST_SHIP_DATE" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The earliest date that the item or the order line can be shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The identifier for the item. The ITEM_ID, UOM, and PRODUCT_CLASS form the unique inventory identifier for an order line. The ITEM_ID, UOM and ORGANIZATION_CODE form the unique item identifier for the Product Management module.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The product class. This field is used as an inventory identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The address to which the order line or the item needs to be shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
