Data/xapidocs/api_javadocs/XSD/YFS_Shipment_Line_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Shipment_Line_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Shipment_Line_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Shipment_Line_tran.xsd" yfc:rootElement="ShipmentLine">
        <xsd:appinfo source="yfc:structure">
            <ShipmentLine hasAttributes="Y">
                <ShipmentLineInvAttRequest hasAttributes="Y"/>
            </ShipmentLine>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipmentLine" type="yfc:ShipmentLineXSDType">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE">
            <xsd:documentation>Stores information about shipment lines. Shipment lines are created using createShipment or changeShipment API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShipmentLineXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentLineInvAttRequest"/>
        </xsd:all>
        <xsd:attribute name="BackroomPickComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="BACKROOM_PICK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>This field indicates whether the backroom pick of shipment line is complete.The filed will be Y when the Backroom pick is complete</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BackroomPickedQuantity" type="xsd:string" use="optional"/>
        <xsd:attribute name="BatchPickPriority" use="optional">
            <xsd:annotation yfc:columnName="BATCH_PICK_PRIORITY" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>This field contains the priority in which the shipment line is picked when the shipment line is included in a batch.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:LineNo"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="BuyerMarkForNodeId" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BUYER_MARK_FOR_NODE_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>Mark For Node as identified by the buyer for eg: it could be a person,store,DC.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The country of origin.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerPoLineNo" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_PO_LINE_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The customer PO # for the order during createorder time. While creating shipments, this values is consolidated acroos all orders belonging to this shipment and stored in the shipment header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerPoNo" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_PO_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The customer PO # for the order during createorder time. While creating shipments, this values is consolidated acroos all orders belonging to this shipment and stored in the shipment header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentCode" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>A Consolidated values that is propogated from the order line.This will be populated if we consider Department Code as a  Do Not Mix criteria during the consolidation process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:String" use="optional">
            <xsd:annotation yfc:isConditional="Y"/>
        </xsd:attribute>
        <xsd:attribute name="ExternalReleaseIdentifier"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="EXTERNAL_RELEASE_IDENTIFIER" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The identifier of the external release. This attribute along with OrderNo and ReleaseNo will uniquely identify the order release external to the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPackComplete" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_PACK_COMPLETE" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>This field indicates whether the packing of shipment line is complete.The filed will be Y when the container packing is complete</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemDesc" type="yfctype:Text-500" use="optional">
            <xsd:annotation yfc:columnName="ITEM_DESCRIPTION" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The description of item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The identifier of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="KitCode" use="optional">
            <xsd:annotation yfc:columnName="KIT_CODE" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The kit code of the item, if it is a Kit item.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Text-20">
                    <xsd:enumeration value="LK"/>
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value=" "/>
                    <xsd:enumeration value=" "/>
                    <xsd:enumeration value="Blanks"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="KitQty" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="KIT_QTY" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>
                    <div>The number of components required for one kit.  The quantity is used only for bundle components only when the order is not available for the shipment line. When order is available for the shipment line, <code>KitQty</code> is defaulted from order information.
					  </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LevelOfService"
            type="yfctype:LevelOfService" use="optional">
            <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>Indicates the level of service required for this shipment line.  Default from corresponding order release.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NetWeight" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="NET_WEIGHT" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The weight of the items in the shipment. The unit of weight is as specified by the NetWeightUom attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NetWeightUom" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="NET_WEIGHT_UOM" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The unit of net weight.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The order header key that is associated with this shipment line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The order line key that is associated with this shipment line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The order number corresponding to the order for the shipment line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The order release key that is associated with this shipment line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="PRIME_LINE_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The prime line number of the corresponding order line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The product class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The shipment line quantity. Entering a quantity is mandatory when creating a shipment line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The release number of the order release for the shipment line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedSerialNo" type="yfctype:SerialNo" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_SERIAL_NO" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The requested serial number of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnShippingLabelLevel"
            type="yfctype:Text-1" use="optional">
            <xsd:annotation yfc:columnName="RETURN_SHIPPING_LABEL_LEVEL" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>This field indicates the level at which the Return Shipping Label should be generated for the item present in the shipment line. Valid values are N,S and P. N indicates that the item does not require return label, S indicates that the item requires return label at SKU level and P indicates that the item requires retun label at package level. If the value for the field is not passed, it is defaulted to the corresponding value of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The segment of inventory customized for an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The segment type of inventory customized for an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipAdviceNo" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="SHIP_ADVICE_NO" yfc:tableName="YFS_ORDER_RELEASE">
                <xsd:documentation>
                    <div>Ship advice number of the order release.  <code>ShipAdviceNo</code> will only be used when order release identifiers such as <code>OrderReleaseKey</code>
                        <i>or</i>
                        <code>ReleaseNo</code> and <code>OrderHeaderKey</code> are not provided.  <code>ShipAdviceNo</code> and <code>ShipNode</code> (if provided) will be used to determine the order release in the system.  If more than one order releases are found in the system with the same <code>ShipAdviceNo</code> and <code>ShipNode</code> (if provided), the order release with a pickable status will be used. 
				  <Validation>
                            <Condition>More than one order releases in a pickable status are found with the same  <code>ShipAdviceNo</code> and <code>ShipNode</code> (if provided).
					</Condition>
                            <Error
                                Description="Multiple order releases found with ShipAdviceNo." ErrorCode="OMP75_10000"/>
                        </Validation>
                        <Validation>
                            <Condition>System cannot find an order release with the provided <code>ShipAdviceNo</code> and <code>ShipNode</code> (if provided).
					</Condition>
                            <Error Description="Invalid ShipAdviceNo." ErrorCode="YDM75_00001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipToCustomerId" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="SHIP_TO_CUSTOMER_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The ship to identifier.  If a customer definition representing the buyer organization exists within the system, the ShipToID can represent the CustomerID of the customer.  Otherwise, the ShipToID can represent the PersonID of the ship to address or the receiving node of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentConsolidationGroupId"
            type="yfctype:VarcharShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONSOL_GROUP_ID" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>It is a consolidation group id  that is used as a standard do not mix constraint. Releases belonging to same shipment consolidation group may consolidate to same shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_LINE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The primary key for the YFS_SHIPMENT_LINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_LINE_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>A part of the primary key . The shipment line number is unique for a shipment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentSubLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_SUB_LINE_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>This is a part of the unique key. ShipmentSubLineNo along with the ShipmentLineNo is used to identify the logical kit component shipment line. The value of this field is zero - for kit parent shipment lines and shipment lines with items that are not kit components, and greater than zero if the the shipment line corresponds to a logical kit component item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShortageQty" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="SHORTAGE_QTY" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The quantity that is not available at the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StoreBatchKey" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="STORE_BATCH_KEY" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>This field contains the StoreBatchKey of the batch to which this shipment line belongs. This is for batch picking.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="SUB_LINE_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The sub line number of the corresponding order line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE">
                <xsd:documentation>The unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipmentLineInvAttRequest">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
            <xsd:documentation>This table stores requested inventory attributes of an item on a shipment line .</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER"
                    yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT_LINE_REQ_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
