Data/xapidocs/api_javadocs/XSD/YFS_Equipment_Type_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Equipment_Type_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Equipment_Type_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Equipment_Type_keys.xsd" yfc:rootElement="EquipmentType">
        <xsd:appinfo source="yfc:structure">
            <EquipmentType hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EquipmentType" type="yfc:EquipmentTypeXSDType">
        <xsd:annotation yfc:tableName="YFS_EQUIPMENT_TYPE">
            <xsd:documentation>All equipment types of the warehouse are defined in this table. e.g. GRABTRUCK, FORKLIFT etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="EquipmentTypeXSDType">
        <xsd:attribute name="EquipmentType" type="yfctype:EquipmentType" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE" yfc:tableName="YFS_EQUIPMENT_TYPE">
                <xsd:documentation>This field specifies the equipment type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EquipmentTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="EQUIPMENT_TYPE_KEY" yfc:tableName="YFS_EQUIPMENT_TYPE">
                <xsd:documentation>The primary key for the YFS_EQUIPMENT_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
