Data/xapidocs/api_javadocs/XSD/YFS_manageInventoryAlerts_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageInventoryAlerts/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageInventoryAlerts/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_manageInventoryAlerts_output.xsd" yfc:rootElement="InventoryAlerts">
        <xsd:appinfo source="yfc:structure">
            <InventoryAlerts hasAttributes="Y">
                <AvailabilityInformation>
                    <AvailableInventory hasAttributes="Y"/>
                </AvailabilityInformation>
            </InventoryAlerts>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryAlerts" type="yfc:InventoryAlertsXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ALERTS">
            <xsd:documentation>Stores information on inventory alerts raised by the system.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryAlertsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AvailabilityInformation"/>
        </xsd:all>
        <xsd:attribute name="AlertAction" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ALERT_ACTION" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Deprecated. Action raised using the INVENTORY_MONITOR.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertLevel" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="ALERT_LEVEL" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Level of alert raised. 3 for low, 2 for medium, 1 for high, and 0 for thresholds greater.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertPeriodEnd" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="ALERT_PERIOD_END" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Deprecated. End date of period for which alert was raised using the INVENTORY_MONITOR.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertPeriodStart" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="ALERT_PERIOD_START" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Deprecated. Start date of period for which alert was raised using the INVENTORY_MONITOR.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ALERT_QUANTITY" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Available Quantity corresponding to the AlertLevel.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertRaisedOn" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ALERT_RAISED_ON" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Date alert was raised.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertType" type="yfctype:AlertType" use="optional">
            <xsd:annotation yfc:columnName="ALERT_TYPE" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Type of alert.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>The unique identifier for a distribution rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EstimatedCost" use="optional">
            <xsd:annotation yfc:columnName="ESTIMATED_COST" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>The estimated cost of the item to be fulfilled by the ShipNode. Includes item cost and outbound handling cost.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:UnitPrice"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FirstFutureAvailableDate"
            type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="FIRST_FUTURE_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Earliest date when any future inventory will be available.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FutureAvailableDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="FUTURE_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Date when the maximum future inventory will be available.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FutureAvailableQuantity"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="FUTURE_AVAILABLE_QUANTITY" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Maximum future inventory available quantity within the monitoring period.  The end of the monitoring period is determined by the lead time override (if specifies) in the monitor rule or the lead time of the monitoring item. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryAlertKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_ALERT_KEY" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Primary key of YFS_Inventory_Alerts.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Inventory item for which alert was raised for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Latitude" use="optional">
            <xsd:annotation yfc:columnName="LATITUDE" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>The latitude of the node for which this alert. If the alert is for a distribution group, then this will be null.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:DecimalWithNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Longitude" use="optional">
            <xsd:annotation yfc:columnName="LONGITUDE" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>The longitude of the node for which this alert. If the alert is for a distribution group, then this will be null.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:DecimalWithNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OnhandAvailableDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="ONHAND_AVAILABLE_DATE" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Date when on-hand inventory quantity is available.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OnhandAvailableQuantity"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="ONHAND_AVAILABLE_QUANTITY" yfc:tableName="YFS_INVENTORY_ALERTS">
                <xsd:documentation>Total on-hand inventory available quantity. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="AvailabilityInformation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AvailableInventory"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AvailableInventory">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ALERT_DETAIL">
            <xsd:documentation>This table stores details about the parent alert if shipping calculation is enabled.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AvailableQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="AVAILABLE_QUANTITY" yfc:tableName="YFS_INVENTORY_ALERT_DETAIL">
                    <xsd:documentation>
                        <div>
							This indicates the available quantity. If inventory is not tracked, unplanned, or infinite,
							the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the 
							RealisticQuantityForInfiniteInventory property (if set).
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveStartDate" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YFS_INVENTORY_ALERT_DETAIL">
                    <xsd:documentation>
							The timestamp for which the ShipDate is effective from. Calculated based on the last RTAM execution time or the last <code>EffectiveUntilDate</code>.
					</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EffectiveUntilDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_UNTIL_DATE" yfc:tableName="YFS_INVENTORY_ALERT_DETAIL">
                    <xsd:documentation>
                        <div>
							The timestamp for which the ShipDate is effective until.This is calculated based on earliest timestamp of the computed date of each node.   The computed date of each node is computed based on the last cut-off time of the ship date and subtract back the minimum notification time based on the node's shipping calendar.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsOnhand" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ONHAND" yfc:tableName="YFS_INVENTORY_ALERT_DETAIL">
                    <xsd:documentation>
                        <div>
							This flag indicates whether the AvailableQuantity is based on on-hand supply.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaxShipDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MAX_SHIP_DATE" yfc:tableName="YFS_INVENTORY_ALERT_DETAIL">
                    <xsd:documentation>
                        <div>
							The date when this inventory is available. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
