Data/xapidocs/api_javadocs/XSD/YFS_getItemNodeCostForSourcing_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getItemNodeCostForSourcing/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getItemNodeCostForSourcing/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getItemNodeCostForSourcing_input.xsd" yfc:rootElement="ItemCostList">
        <xsd:appinfo source="yfc:structure">
            <ItemCostList hasAttributes="Y">
                <ItemCost hasAttributes="Y">
                    <Nodes>
                        <Node hasAttributes="Y"/>
                    </Nodes>
                </ItemCost>
                <PromiseLines>
                    <PromiseLine hasAttributes="Y">
                        <ShipToAddress hasAttributes="Y"/>
                    </PromiseLine>
                </PromiseLines>
            </ItemCostList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemCostList" type="yfc:ItemCostListXSDType"/>
    <xsd:complexType name="ItemCostListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemCost"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PromiseLines"/>
        </xsd:sequence>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                  Enterprise Code.
                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderReference" type="yfctype:ID-24" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The unique identifier for the order. The <code>OrderReference</code> is the Order Header Key.	
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemCost">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Nodes"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="required">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="required">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Nodes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Node"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Node">
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                  Currency for <code>InventoryItemCost</code>.  It Will always be enterprise' local currency.
                </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryUnitCost" type="yfctype:Money" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                  Indicates inventory item cost at a node.  If average costing is maintained internally, then cost will be internally computed, and passed as input to user exit.
                </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Qty" type="yfctype:Quantity" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                  Total quantity that is being scheduled.
                </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:Key" use="required">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_ORDER_LINE_SCHEDULE">
                    <xsd:documentation>The ship node fulfilling this scheduled order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PromiseLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PromiseLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PromiseLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipToAddress"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The identifier for the item. The ITEM_ID, UOM, and PRODUCT_CLASS form the unique inventory identifier for an order line. The ITEM_ID, UOM and ORGANIZATION_CODE form the unique item identifier for the Product Management module.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineId" type="yfctype:Text-128" use="optional">
                <xsd:annotation yfc:isConditional="Y">
                    <xsd:documentation>
                        <div>
						Unique identifier for the line. 
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineReference" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:isConditional="Y">
                    <xsd:documentation>
                        <div>
	            		Reference to the orderLine.
	            	  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The product class. This field is used as an inventory identifier.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The ship node that is associated with this order line. If provided, all releases will be made against this node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipToAddress">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AddressLine1" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE1" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 1 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine2" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE2" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 2 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine3" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE3" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 3 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine4" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE4" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 4 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine5" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE5" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 5 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AddressLine6" type="yfctype:Address" use="optional">
                <xsd:annotation yfc:columnName="ADDRESS_LINE6" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The address line 6 field.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AlternateEmailID"
                type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="ALTERNATE_EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Beeper" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="BEEPER" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The beeper number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="City" type="yfctype:City" use="optional">
                <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The city in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Company" type="yfctype:Company" use="optional">
                <xsd:annotation yfc:columnName="COMPANY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The company this person is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DayPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="DAY_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The day time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Department" type="yfctype:Department" use="optional">
                <xsd:annotation yfc:columnName="DEPARTMENT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The primary department in charge of procurement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EMailID" type="yfctype:EMailID" use="optional">
                <xsd:annotation yfc:columnName="EMAILID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The email address at which the person or a predesignated employee of the organization referred to in the address can be contacted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxt" type="yfctype:ErrorText" use="optional">
                <xsd:annotation yfc:columnName="ERROR_TXT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningFaxNo" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_FAX_NO" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time fax at which the person or a predesignated employee of the organization referred to in the address can be notified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EveningPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="EVENING_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The evening time phone at which the person or organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FirstName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="FIRST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The first name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HttpUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="HTTP_URL" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The URL of the person or organization referred to in this contact information.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsAddressVerified" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ADDRESS_VERIFIED" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This flag indicates whether or not the address in this record has been verified by an address verification program. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCommercialAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COMMERCIAL_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>Indicates whether the address is commercial, residential or none. Values of this field can be Y -Commercial address.N - Residential address. undefined for Null.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="JobTitle" type="yfctype:Title-40" use="optional">
                <xsd:annotation yfc:columnName="JOB_TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The job title of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastName" type="yfctype:PersonName" use="optional">
                <xsd:annotation yfc:columnName="LAST_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The last name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Latitude" use="optional">
                <xsd:annotation yfc:columnName="LATITUDE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The latitude of this location.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:DecimalWithNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Longitude" use="optional">
                <xsd:annotation yfc:columnName="LONGITUDE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The longitude of this location.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:DecimalWithNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MiddleName" type="yfctype:MiddleName" use="optional">
                <xsd:annotation yfc:columnName="MIDDLE_NAME" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The middle name of the person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MobilePhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="MOBILE_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The mobile phone at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OtherPhone" type="yfctype:PhoneNo" use="optional">
                <xsd:annotation yfc:columnName="OTHER_PHONE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The alternate phone number at which the person or a predesignated employee of the organization referred to in the address can be called.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PersonID" type="yfctype:PersonId" use="optional">
                <xsd:annotation yfc:columnName="PERSON_ID" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The unique identifier for a person.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreferredShipAddress"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PREFERRED_SHIP_ADDRESS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The preferred ship address over and above the address in this record. Pointer to another record of this type in this table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The state in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suffix" type="yfctype:Suffix" use="optional">
                <xsd:annotation yfc:columnName="SUFFIX" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The suffix for a person, such as Jr., or Sr.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxGeoCode" type="yfctype:GeoCode" use="optional">
                <xsd:annotation yfc:columnName="TAX_GEO_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The tax geo code for this location. Intended for future use.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Title" type="yfctype:Title-10" use="optional">
                <xsd:annotation yfc:columnName="TITLE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The title for the person such as Ms., Mr., or Dr..</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UseCount" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="USE_COUNT" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VerificationStatus"
                type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="VERIFICATION_STATUS" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>This field is currently not used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Flag to indicate if the address is in history tables.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
