Data/xapidocs/api_javadocs/XSD/YFS_convertUOM_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/convertUOM/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/convertUOM/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_convertUOM_output.xsd" yfc:rootElement="convertedUOM">
        <xsd:appinfo source="yfc:structure">
            <convertedUOM hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="convertedUOM" type="yfc:convertedUOMXSDType"/>
    <xsd:complexType name="convertedUOMXSDType">
        <xsd:attribute name="FromUOM" type="yfctype:UOM" use="optional"/>
        <xsd:attribute name="InputValue" type="yfctype:Dimension" use="optional"/>
        <xsd:attribute name="OutputValue" type="yfctype:Dimension" use="optional"/>
        <xsd:attribute name="ToUOM" type="yfctype:UOM" use="optional"/>
    </xsd:complexType>
</xsd:schema>
