Data/xapidocs/api_javadocs/XSD/YFS_getEncryptedCreditCardNumber_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getEncryptedCreditCardNumber/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getEncryptedCreditCardNumber/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getEncryptedCreditCardNumber_output.xsd" yfc:rootElement="GetEncryptedCreditCardNumber">
        <xsd:appinfo source="yfc:structure">
            <GetEncryptedCreditCardNumber hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetEncryptedCreditCardNumber" type="yfc:GetEncryptedCreditCardNumberXSDType"/>
    <xsd:complexType name="GetEncryptedCreditCardNumberXSDType">
        <xsd:attribute name="EncryptedCCNo" type="yfctype:Text-32" use="required"/>
    </xsd:complexType>
</xsd:schema>
