Data/xapidocs/api_javadocs/XSD/YFS_beforeSendPOToWMSUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/beforeSendPOToWMSUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/beforeSendPOToWMSUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_beforeSendPOToWMSUE_input.xsd" yfc:rootElement="WMSPODownload">
        <xsd:appinfo source="yfc:structure">
            <WMSPODownload hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WMSPODownload" type="yfc:WMSPODownloadXSDType"/>
    <xsd:complexType name="WMSPODownloadXSDType">
        <xsd:attribute name="ActionCode" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:String">
                    <xsd:enumeration value="CH"/>
                    <xsd:enumeration value="CL"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InterfaceType" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderLineKey" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PrimeLineNo" type="yfctype:String" use="optional"/>
        <xsd:attribute name="RecordType" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:String">
                    <xsd:enumeration value="POHDR"/>
                    <xsd:enumeration value="PODTL"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="SubLineNo" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
