Data/xapidocs/api_javadocs/XSD/YFS_Container_Inner_Pack_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Container_Inner_Pack_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Container_Inner_Pack_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Container_Inner_Pack_master.xsd" yfc:rootElement="ContainerInnerPack">
        <xsd:appinfo source="yfc:structure">
            <ContainerInnerPack hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ContainerInnerPack" type="yfc:ContainerInnerPackXSDType">
        <xsd:annotation yfc:tableName="YFS_CONTAINER_INNER_PACK">
            <xsd:documentation>This table stores information about inner packs contained in a shipment container.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ContainerInnerPackXSDType">
        <xsd:attribute name="ContainerInnerPackKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CONTAINER_INNER_PACK_KEY" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Primary key attribute of YFS_CONTAINER_INNER_PACK table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Country of origin.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>FIFO number is a date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived first than the ones that arrived later.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InnerPackQuantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="INNER_PACK_QUANTITY" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Number of Items contained in each inner-pack.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>The unique identifier of the Item in the inner pack. It is a part of unique key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NoOfInnerPacks" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="NO_OF_INNER_PACKS" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Number of particular type of inner-packs packed in the shipment container.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Product class of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedTagNo" type="yfctype:TagNumber" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_TAG_NUMBER" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Requested Tag Number of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Segment of inventory customized for an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Segment type of inventory customized for an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentContainerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Link to the container key in YFS_SHIPMENT_CONTAINER table to which this inner pack belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Link to YFS_SHIPMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_CONTAINER_INNER_PACK">
                <xsd:documentation>Unit of measure of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHistory" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
