Data/xapidocs/api_javadocs/XSD/YFS_presentToBuyer_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/presentToBuyer/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/presentToBuyer/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_presentToBuyer_input.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <Notes>
                            <Note hasAttributes="Y"/>
                        </Notes>
                    </OrderLine>
                </OrderLines>
                <Notes>
                    <Note hasAttributes="Y"/>
                </Notes>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>
                <div>
				This table stores the quote document in the system.
					<Validation>
                        <Condition>Order fails on item validation.
						</Condition>
                        <Error
                            Description="Cannot Move Order Status due to order line validation failure." ErrorCode="OMP90_0012"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="Notes">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Note">
                            <xsd:annotation yfc:tableName="YFS_NOTES">
                                <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="AuditTransactionId"
                                    type="yfctype:TransactionID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ContactReference"
                                    type="yfctype:NotesContactReference" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone no can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ContactTime"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ContactType"
                                    type="yfctype:CommonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ContactUser"
                                    type="yfctype:UserId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_USER" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The user who made the contact. The default value will the logged in user.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute
                                    name="CustomerSatIndicator"
                                    type="yfctype:CustomerSatisfactionLevel" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="NoteText"
                                    type="yfctype:NoteText" use="required">
                                    <xsd:annotation
                                    yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Priority"
                                    type="yfctype:PriorityWithDecimal" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIORITY" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ReasonCode"
                                    type="yfctype:ReasonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_CODE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="SequenceNo"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="VisibleToAll"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
        <xsd:attribute name="AuditTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The identifier of the audit transaction. All records for a modification are tied together using this ID.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>
				Part of a unique identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code> of the order must be passed.
					<Validation>
                            <Condition>Either <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>
				Identifies the Enterprise. Part of an identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code> , <code>DocumentType</code> and <code>OrderNo</code> of the order must be passed.
				<Validation>
                            <Condition>Either <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReasonCode"
            type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The reason code of this order audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReasonText"
            type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The reason text of this order audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference1"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference2"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference3"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference4"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO"
                yfc:isConditional="Y" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>
                    <div>
				Part of a unique identifier of the Order. Either <code>OrderHeaderKey</code>
                        <i>or</i>
                        <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code> of the order must be passed.
					<Validation>
                            <Condition>Either <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code>
                                <i>or</i>
                                <code>OrderHeaderKey</code> of the order is not passed.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                        <Validation>
                            <Condition>Order cannot be identified based on passed values.
					</Condition>
                            <Error Description="Invalid Order" ErrorCode="YFS10003"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SelectMethod" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				This attribute determines whether database select operations are carried out in the <b>
                            <code>WAIT</code>
                        </b> or <b>
                            <code>NO_WAIT</code> mode</b>.
				<br/>Default: <b>
                            <code>NO_WAIT</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>WAIT</code>
                        </b> or  <b>
                            <code>NO_WAIT</code> mode</b>.
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SkipBOMValidations" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Determines whether BOM XML specific validations should be skipped. Default: N
        		</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="Y"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SuppressStatusChangeAudits"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Identifies if CHANGE_STATUS audits have to be suppressed. If <b>
                            <code>Y</code>
                        </b> is passed, CHANGE_STATUS audits are suppressed.	
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidateItem" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Determines if item validation is required for this API.<br/>
			Default: <b>
                            <code>Y</code>
                        </b>
                        <br/>
			Valid Values:<b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_RELEASE_STATUS">
            <xsd:documentation>
                <div>
					Either both the <code>PrimeLineNo</code> and the <code>SubLineNo</code> or just the <code>OrderLineKey</code> by itself must be passed to identify the <code>OrderLine</code>.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Notes">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Note">
                                <xsd:annotation yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="AuditTransactionId"
                                    type="yfctype:TransactionID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ContactReference"
                                    type="yfctype:NotesContactReference" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone no can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContactTime"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContactType"
                                    type="yfctype:CommonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContactUser"
                                    type="yfctype:UserId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_USER" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The user who made the contact. The default value will the logged in user.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="CustomerSatIndicator"
                                    type="yfctype:CustomerSatisfactionLevel" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="NoteText"
                                    type="yfctype:NoteText" use="required">
                                    <xsd:annotation
                                    yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Priority"
                                    type="yfctype:PriorityWithDecimal" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIORITY" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ReasonCode"
                                    type="yfctype:ReasonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_CODE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SequenceNo"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="VisibleToAll"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>
                        <div>
						Either both the <code>PrimeLineNo</code> and the <code>SubLineNo</code> or just the <code>OrderLineKey</code> by itself must be passed to identify the <code>OrderLine</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>
                        <div>
						Either both the <code>PrimeLineNo</code> and the <code>SubLineNo</code> or just the <code>OrderLineKey</code> by itself must be passed to identify the <code>OrderLine</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO"
                    yfc:isConditional="Y" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>
                        <div>
						Either both the <code>PrimeLineNo</code> and the <code>SubLineNo</code> or just the <code>OrderLineKey</code> by itself must be passed to identify the<code>OrderLine</code>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
