Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Work_Order_tran.xsd" yfc:rootElement="WorkOrder">
        <xsd:appinfo source="yfc:structure">
            <WorkOrder hasAttributes="Y">
                <WorkOrderTag hasAttributes="Y"/>
            </WorkOrder>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrder" type="yfc:WorkOrderXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER">
            <xsd:documentation>This table stores the information about the work orders to be done at a node on an inventory item or a license plate.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderTag"/>
        </xsd:all>
        <xsd:attribute name="AllocatedLevel" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates the extent of allocation for the work order. The valid values are FULL, PARTIAL, NONE, and ANY. The respective values tells wether the work order is fully, partially, not allocated or is in any of the the previously mentioned states.
	        		</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Case for which the work order is processed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The document type for this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The code of the enterprise to which the item or license plate belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FinishNoLaterThan" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The date a task should not finish later than. Pass through fields to be stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HoldFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HOLD_FLAG" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This flag indicates whether the work order has any non-resolved hold type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvUpdateActivityCode"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="INV_UPD_ACTIVITY_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The activity code against which inventory needs to be updated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The item identifier for this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LevelOfService"
            type="yfctype:LevelOfService" use="optional">
            <xsd:annotation yfc:columnName="LEVEL_OF_SERVICE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>Indicates the level of service required for this work order.  Default from corresponding order lines.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NextAlertTs" use="optional">
            <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the next time the work order would be considered for monitoring.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="NodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The node associated with this work order, where work orders would be executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpenWorkOrderFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OPEN_WORK_ORDER_FLAG" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This flag indicates whether the execution of the work order has ended.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The order that is associated with this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The order line associated with this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The order number of the order with which the work order is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:LPNNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pallet for which the work order is processed.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipeLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The pipeline associated with this work order. This is determined by the document type and several other key attributes of the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PreCallStatus" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRE_CALL_STATUS" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the status of the pre-call process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>An integer priority. Requests will be processed in the order of this priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:Text-10" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The product class of an item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptEndDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The promised end date of the appointment. Used in case of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptStartDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_START_DATE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The promised start date of the appointment. Used in case of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:EnumPurpose2" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the purpose for the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityAllocated" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_ALLOCATED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity that was allocated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityCompleted" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_COMPLETED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity for which work order is completely confirmed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityReleased" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_RELEASED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity released.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRemoved" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REMOVED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity removed due to exceptions.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRequested" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REQUESTED" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The quantity for which the work order is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The reason code indicating the reason for the work order to get cancelled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The reason text indicating the reason entered by user while cancelling the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleasedLevel" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Indicates the extent to which the work order is released. The valid values are FULL, PARTIAL, NONE, and ANY. The respective values tells wether the work order is fully, partially, not relased or is in any of the previously mentioned states.
	            	</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The segment to which the inventory involved in the work order belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the segment type. Valid values are: - MTO : Made To Order - MTC : Made To Customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field identifies a serial number for the serialized item involved in the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceComplexityLevel"
            type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_COMPLEXITY_LEVEL" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The service complexity level which indicates complexity of the work order, and is computed based on all service lines in the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceItemGroupCode"
            type="yfctype:EnumServiceItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_ITEM_GROUP_CODE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field indicates the service item group on this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceItemID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_ITEM_ID" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The identifier for the service item on this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceSupervisorId" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_SUPERVISOR_ID" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>This field represents the supervisor responsible for this work order.This will be a valid user ID in the system. This user will belong to the node performing the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceUom" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_UOM" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The unit of measure for the service item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The date before which a time-sensitive inventory must be shipped out.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The shipment associated with this work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The shipment number of the shipment with which the work order is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The date a task should not start earlier than. Pass through fields to be stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The status of the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Uom" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The unit of measure for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The primary key of the YFS_WORK_ORDER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_NO" yfc:tableName="YFS_WORK_ORDER">
                <xsd:documentation>The work order number. Identifies a work order within the context of a node and enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="WorkOrderTag">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_TAG">
            <xsd:documentation>This table stores details of the inventory tag attributes of the work order item that is tag tracked.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Stores reference information for the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_TAG_KEY" yfc:tableName="YFS_WORK_ORDER_TAG">
                    <xsd:documentation>Primary Key of YFS_WORK_ORDER_TAG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
