Data/xapidocs/api_javadocs/XSD/YFS_convertCurrency_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/convertCurrency/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/convertCurrency/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_convertCurrency_output.xsd" yfc:rootElement="convertCurrency">
        <xsd:appinfo source="yfc:structure">
            <convertCurrency hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="convertCurrency" type="yfc:convertCurrencyXSDType"/>
    <xsd:complexType name="convertCurrencyXSDType">
        <xsd:attribute name="OutputAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The resulting value of the currency conversion. 
				<br/>For example, if the desired conversion is to convert 1,000 euros to yen, the <code>OutputAmount</code> value is 
				the equivalent amount of yen. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
