Data/xapidocs/api_javadocs/XSD/YFS_getDemandDetailsList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getDemandDetailsList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getDemandDetailsList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getDemandDetailsList_output.xsd" yfc:rootElement="DemandDetailsList">
        <xsd:appinfo source="yfc:structure">
            <DemandDetailsList hasAttributes="Y">
                <DemandDetails hasAttributes="Y"/>
            </DemandDetailsList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DemandDetailsList" type="yfc:DemandDetailsListXSDType"/>
    <xsd:complexType name="DemandDetailsListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:DemandDetails"/>
        </xsd:all>
        <xsd:attribute name="InvtDemandDetailsKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVTDMDDTL_VW_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The primary key for the YFS_INVTDMDDTL_VW view.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:CommonCode" use="optional"/>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional"/>
    </xsd:complexType>
    <xsd:element name="DemandDetails">
        <xsd:annotation yfc:tableName="YFS_INVTDMDDTL_VW">
            <xsd:documentation>The view formed by joining YFS_Order_Header, YFS_Order_Line, YFS_Inventory_Demand, YFS_Inventory_Item and YFS_Invt_Demand_Details tables.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The buyer organization of the order associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandCancelDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_CANCEL_DATE" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The cancel date on the demand.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandShipDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_SHIP_DATE" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The date when demand should be shipped.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The demand type of the demand associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The document type of the order associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The enterprise of the order associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryDemandKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_DEMAND_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The inventory demand associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The inventory item associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The inventory organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InvtDemandDetailsKey"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The item associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinShipByDate" use="optional">
                <xsd:annotation yfc:columnName="MIN_SHIP_BY_DATE" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The minimum ship by date of the demand.  The demand can only consume from supplies with ship by dates, which are greater than or equal to its minimum ship by date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The order header key of the order associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The order line key of the order line associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The order order number of the order associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The prime line number of the order line associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The product class of the item associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The  quantity of the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SegmentType" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The seller organization of the order associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The node of the demand associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The subline number of the order line associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVTDMDDTL_VW">
                    <xsd:documentation>The unit of measure of the item associates with the demand details.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
