Data/xapidocs/api_javadocs/XSD/YFS_Activity_Constraint_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Activity_Constraint_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Activity_Constraint_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Activity_Constraint_master.xsd" yfc:rootElement="ActivityConstraint">
        <xsd:appinfo source="yfc:structure">
            <ActivityConstraint hasAttributes="Y">
                <Activity hasAttributes="Y"/>
                <LocationPreferences>
                    <LocationPreference hasAttributes="Y"/>
                </LocationPreferences>
            </ActivityConstraint>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ActivityConstraint" type="yfc:ActivityConstraintXSDType">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
            <xsd:documentation>Stores attributes values based on whose values locations where the activity may be perfomed is configured. Allows setup at Item classification level, by inventory status (quality status), UOM etc. The Location selection algorithm uses the best matched configuration for determining locations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ActivityConstraintXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Activity"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationPreferences"/>
        </xsd:all>
        <xsd:attribute name="ActivityConstraintKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_CONSTRAINT_KEY" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>The primary key for the YFS_ACTIVITY_CONSTRAINT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field is an audit reference, which indicates that the inventory transaction is for an order associated with this enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ForActivityCode" type="yfctype:Activity" use="optional">
            <xsd:annotation yfc:columnName="FOR_ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field uniquely identifies an activity for which the constraint is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromActivityGroup"
            type="yfctype:ActivityGroup" use="optional">
            <xsd:annotation yfc:columnName="FROM_ACTIVITY_GROUP" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field identifies an activity group for the activity for which the constraint is defined. However, the constraint activity need not belong to this activity group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field is an unique key of YFS_INVENTORY_STATUS table. This field refers to an inventory sub-classification based on the inventory control processe results within the warehouse.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryType"
            type="yfctype:EnumWMSInventoryType" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_TYPE" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>Indicates the putaway type. Supported types are Single SKU put away, multi SKU put away or Put away of pallets/cases without contents.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification1" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_1" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under the item classification one.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification2" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_2" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under the item classification two.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification3" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_3" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field indicates that the items are grouped under the item classification three.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LPNType" type="yfctype:EnumLPNType" use="optional">
            <xsd:annotation yfc:columnName="LPN_TYPE" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field indicates the LPN type that was putaway. At this time the supported values are Pallet and Case.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>The primary key for the YFS_ACTIVITY_CONSTRAINT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field indicates the product class of the stock that is considered for putaway.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field indicates that when inventory is customized for a specific order, it needs to be tracked separately so that it can be allocated to that order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field indicates that when inventory is customized, it needs to be tracked separately. This field indicates the buyer or buyer category for who the inventory is customized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SplitPallet" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SPLIT_PALLET" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This flag indicates whether the pallet can be split to perform this activity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UOM" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ACTIVITY_CONSTRAINT">
                <xsd:documentation>This field indicates the unit of measure of the stock that is considered for put away. This attribute is used for a 'Single SKU' putaway.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Activity">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY">
            <xsd:documentation>Stores master list of diversions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Identifier of an activity E.g. PUTAWAY, COUNT, MONOGRAM, EMBROIDER, PROGRAM FREQUENCY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityGroupId" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>The group to which an activity belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ActivityKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_KEY" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Primary key of the YFS_ACTIVITY table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Program that created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Description of the activity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Program that modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SYSTEM_DEFINED" yfc:tableName="YFS_ACTIVITY">
                    <xsd:documentation>Indicates if the activity is system defined.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationPreferences">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationPreference"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationPreference">
        <xsd:annotation yfc:tableName="YFS_LOCATION_PREFERENCE">
            <xsd:documentation>For an activity, the preference list of zones where that activity may be performed is configured by priority.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ActivityConstraintKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ACTIVITY_CONSTRAINT_KEY" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The primary key for the YFS_LOCATION_PREFERENCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_KEY" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The primary key for the YFS_LOCATION_PREFERENCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationPreferenceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_PREFERENCE_KEY" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The primary key for the YFS_LOCATION_PREFERENCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationStorageCode"
                type="yfctype:StorageCode" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_STORAGE_CODE" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>Ths field is an attribute of the location that allows the warehouse to store items, which has the same storage profile as that of the location.  For example, hazardous inflammable items need locations close to fire extinguishers. In this case, the locations will be marked as having a storage code, which is suitable for storing 'Inflammable item'. This ensures that only inflammable items get to these locations. A list of zones in the order of priority will be used for putaway after filtering out locations that honor the storage code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>This field indicates the zone priority where the product must be putaway based upon the business criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_LOCATION_PREFERENCE">
                    <xsd:documentation>The primary key for the YFS_LOCATION_PREFERENCE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
