Data/xapidocs/api_javadocs/XSD/YFS_Order_Line_Reservation_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Order_Line_Reservation_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Order_Line_Reservation_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Order_Line_Reservation_master.xsd" yfc:rootElement="OrderLineReservations">
        <xsd:appinfo source="yfc:structure">
            <OrderLineReservations>
                <OrderLineReservation hasAttributes="Y"/>
            </OrderLineReservations>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderLineReservations" type="yfc:OrderLineReservationsXSDType"/>
    <xsd:complexType name="OrderLineReservationsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLineReservation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OrderLineReservation">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE_RESERVATION">
            <xsd:documentation>This table stores reservations that are available for the order line.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The batch number that has been specified on the reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The inventory demand type used by the reservation.  For all user-created reservations, this will be defaulted from the document params.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The reserved item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The lot number that has been specified on the reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The ship node at which the item has been reserved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductAvailabilityDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation
                    yfc:columnName="PRODUCT_AVAILABILITY_DATE" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The first date on which the reserved inventory is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The reserved item's product class.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>
                        <div>The quantity reserved.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequestedReservationDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REQ_RESERVATION_DATE" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The date when the reserved inventory is needed, such as the shipping date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The revision number that has been specified on the reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TagNumber" type="yfctype:TagNumber" use="optional">
                <xsd:annotation yfc:columnName="TAG_NUMBER" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The tag number that has been specified on the reservation.  This field is calculated based on the tag identifiers.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ORDER_LINE_RESERVATION">
                    <xsd:documentation>The reserved item's unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
