Data/xapidocs/api_javadocs/XSD/YFS_getTransactionSummary_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getTransactionSummary/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getTransactionSummary/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getTransactionSummary_input.xsd" yfc:rootElement="getTransactionSummary">
        <xsd:appinfo source="yfc:structure">
            <getTransactionSummary hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getTransactionSummary" type="yfc:getTransactionSummaryXSDType"/>
    <xsd:complexType name="getTransactionSummaryXSDType">
        <xsd:attribute name="RollingCount" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Flag to indicate if rolling count is to be done.System will do rolling count only when both StartDate is passed and value of RollingCount is Y.
					Rolling count will not be applicable for YTD calculations. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDate" type="yfctype:Date" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Date to indicate year and month to start rolling count.For Startdate to get considered RollingCount must be set to Y.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Year" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>Valid year in YYYY format.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
