Data/xapidocs/api_javadocs/XSD/YFS_SCAC_And_Service_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/SCAC_And_Service_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/SCAC_And_Service_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_SCAC_And_Service_keys.xsd" yfc:rootElement="ScacAndService">
        <xsd:appinfo source="yfc:structure">
            <ScacAndService hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ScacAndService" type="yfc:ScacAndServiceXSDType">
        <xsd:annotation yfc:tableName="YFS_SCAC_AND_SERVICE">
            <xsd:documentation>Services offered by a Carrier.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ScacAndServiceXSDType">
        <xsd:attribute name="CarrierServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An identifier to a master service from which this service is derived.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>The organization code of organization that defines this service offered by the carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndService" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>An identifier for a service offered by a carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacAndServiceKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC_AND_SERVICE_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Primary key attribute of YFS_SCAC_AND_SERVICE.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ScacKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SCAC_KEY" yfc:tableName="YFS_SCAC_AND_SERVICE">
                <xsd:documentation>Servicing carrier.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
