Data/xapidocs/api_javadocs/XSD/YFS_getSubCatalogOrganizationAssignmentList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getSubCatalogOrganizationAssignmentList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getSubCatalogOrganizationAssignmentList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getSubCatalogOrganizationAssignmentList_input.xsd" yfc:rootElement="SubCatalogOrganizationAssignment">
        <xsd:appinfo source="yfc:structure">
            <SubCatalogOrganizationAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SubCatalogOrganizationAssignment" type="yfc:SubCatalogOrganizationAssignmentXSDType">
        <xsd:annotation yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
            <xsd:documentation>This table stores sub-catalog organization assignments to their catalog organization assignment as well as the rules, which are applied to the sub-catalog organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SubCatalogOrganizationAssignmentXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
                <xsd:documentation>The catalog organization that maintains the sub-catalog organization assignment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubCatalogOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
                <xsd:documentation>The organization that represents the sub-catalog organization of the catalog organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
