Data/xapidocs/api_javadocs/XSD/YFS_changeExportDataStatus_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/changeExportDataStatus/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/changeExportDataStatus/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_changeExportDataStatus_input.xsd" yfc:rootElement="ChangeExportDataStatus">
        <xsd:appinfo source="yfc:structure">
            <ChangeExportDataStatus hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ChangeExportDataStatus" type="yfc:ChangeExportDataStatusXSDType"/>
    <xsd:complexType name="ChangeExportDataStatusXSDType">
        <xsd:attribute name="ExportKey" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="EXPORT_KEY" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>The primary key of YFS_EXPORT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatus" type="yfctype:EnumNewStatus" use="required">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_EXPORT">
                <xsd:documentation>This field indicates whether the data has been processed by the IntegrationServer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
