Data/xapidocs/api_javadocs/XSD/YFS_convertUOM_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/convertUOM/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/convertUOM/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_convertUOM_input.xsd" yfc:rootElement="convertUOM">
        <xsd:appinfo source="yfc:structure">
            <convertUOM hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="convertUOM" type="yfc:convertUOMXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			To successfully complete the conversion, supply both the <code>FromUOM</code> and <code>ToUOM</code>, and the <code>InputValue</code>. 
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="convertUOMXSDType">
        <xsd:attribute name="FromUOM" type="yfctype:UOM" use="required"/>
        <xsd:attribute name="InputValue" type="yfctype:Dimension" use="required"/>
        <xsd:attribute name="ToUOM" type="yfctype:UOM" use="required"/>
    </xsd:complexType>
</xsd:schema>
