Data/xapidocs/api_javadocs/XSD/YFS_manageSubCatalogOrganizationAssignment_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageSubCatalogOrganizationAssignment/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageSubCatalogOrganizationAssignment/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_manageSubCatalogOrganizationAssignment_input.xsd" yfc:rootElement="SubCatalogOrganizationAssignmentList">
        <xsd:appinfo source="yfc:structure">
            <SubCatalogOrganizationAssignmentList>
                <SubCatalogOrganizationAssignment hasAttributes="Y"/>
            </SubCatalogOrganizationAssignmentList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SubCatalogOrganizationAssignmentList" type="yfc:SubCatalogOrganizationAssignmentListXSDType"/>
    <xsd:complexType name="SubCatalogOrganizationAssignmentListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:SubCatalogOrganizationAssignment"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="SubCatalogOrganizationAssignment">
        <xsd:annotation yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
						Both <code>OrganizationCode</code> and <code>SubCatalogOrganizationCode</code> must be provided.
						</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing" ErrorCode="YCM0002"/>
                    </Validation>
                    <Validation>
                        <Condition>
						The organization, specified as <code>SubCatalogOrganizationCode</code> does not have its catalog organization set to the organization that is specified in the <code>OrganizationCode</code> field
						</Condition>
                        <Error
                            Description="Invalid catalog organization" ErrorCode="YCM83_013"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Operation" type="yfctype:ID-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					The action that is to be performed during the invocation of this API.
					<br/>Valid values:  <b>
                                <code>Create</code>
                            </b>, <b>
                                <code>Modify</code>
                            </b>, or 	<b>
                                <code>Delete</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
                    <xsd:documentation>The catalog organization that maintains the sub-catalog organization assignment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubCatalogOrganizationCode"
                type="yfctype:OrgCode" use="required">
                <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
                    <xsd:documentation>The organization that represents the sub-catalog organization of the catalog organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
