Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Appointment_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Appointment_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Appointment_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Work_Order_Appointment_master.xsd" yfc:rootElement="WorkOrderAppointment">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderAppointment hasAttributes="Y">
                <ResourcePoolCapacityConsumptionDetails hasAttributes="Y"/>
                <WorkOrderAppointmentUsers>
                    <WorkOrderAppointmentUser hasAttributes="Y"/>
                </WorkOrderAppointmentUsers>
            </WorkOrderAppointment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderAppointment" type="yfc:WorkOrderAppointmentXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_APPT">
            <xsd:documentation>This table stores information about appointments taken on the work order. Used only for PS/DS work orders.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderAppointmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ResourcePoolCapacityConsumptionDetails"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:WorkOrderAppointmentUsers"/>
        </xsd:all>
        <xsd:attribute name="AdditionalEquipmentUsed"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ADDITIONAL_EQUIPMENT_USED" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates items that were used, which were not originally requested.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertSales" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ALERT_SALES" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates that the sales person has to be notified and entered information is send to the sales person.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AlertScheduler" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ALERT_SCHEDULER" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates that the scheduler has to be notified and entered information is send to the scheduler.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AllocatedQuantity" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="ALLOCATED_QUANTITY" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The capacity allocated for the service or delivery line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApptSeq" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="APPT_SEQ" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This number denotes the position in the sequence when the current appointment would be executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApptStatus" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="APPT_STATUS" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The appointment status. Will be in synch with the service order line. Used in case of provided service work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AttentionRequired" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ATTENTION_REQUIRED" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This flag indicates that some problems exist with work order and it has to be looked at.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderCurrentSlot" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The <code>ConsiderCurrentSlot</code> flag indicates that system should consider the available capacity of the current slots, which the current timestamp falls under.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionBy" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_BY" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The technician executing the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionComments" type="yfctype:Text-1500" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_COMMENTS" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The execution comments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionDuration"
            type="yfctype:NumberOfHours" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_DURATION" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The amount of time took to perform the service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExecutionEndTime" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_END_TIME" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The last date when the execution of the service was attempted. This can correspond to either a successful or failed attempt.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExecutionStartTime" use="optional">
            <xsd:annotation yfc:columnName="EXECUTION_START_TIME" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The last date when the execution of the service was attempted. This can correspond to either a successful or failed attempt.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExpectedApptEndDate" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_APPT_END_DATE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The expected end date of the appointment. Populated during route planning of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExpectedApptStartDate" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_APPT_START_DATE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The expected start date of the appointment.Populated during route planning of provided service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IsRoutePlanningComplete"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ROUTE_PLANNING_COMPLETE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This flag indicates whether the route planning has been completed and expected appointments dates and stop number were populated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemsNotUsed" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ITEMS_NOT_USED" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates items that were returned back and were not used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NonInventoryItemsReturned"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="NON_INV_ITEMS_RETURNED" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates special tools that were used and then returned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptEndDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_END_DATE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The promised end date of the appointment. Used in case of provided service or delivery service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PromisedApptStartDate" use="optional">
            <xsd:annotation yfc:columnName="PROMISED_APPT_START_DATE" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The promised start date of the appointment. Used in case of provided service or delivery service work order.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="RequestedQuantity" type="yfctype:Capacity" use="optional">
            <xsd:annotation yfc:columnName="REQUESTED_QUANTITY" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The requested capacity for the service or delivery line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedVolume" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The quantity requested in the work order's volume unit of measure, which is specified in the <code>VolumeUOM</code> field of the work order</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedWeight" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The quantity requested in the work order's weight unit of measure, which is specified in the <code>WeightUOM</code> field of the work order</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The identifier for the resource pool associated with this work order appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
            <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The identifier for the service resource associated with this work order appointment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopNumber" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="STOP_NUMBER" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The stop number assigned during route planning, indicating the order in which this appointemnt will be attempted during the route execution.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleNumber" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_NUMBER" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates vehicle number that was used for job completion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleOdometerReading"
            type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_ODOMETER_READING" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates odometer reading at the time of appointment completion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VehicleServiceRequest"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="VEHICLE_SERVICE_REQUEST" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>This field indicates what were the problems with the vehicle that required service.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderApptKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_APPT_KEY" yfc:tableName="YFS_WORK_ORDER_APPT">
                <xsd:documentation>The primary key of the YFS_WORK_ORDER_APPT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ResourcePoolCapacityConsumptionDetails">
        <xsd:annotation yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
            <xsd:documentation>This table stores capacity consumption details of reservations, service lines, and work order appointments.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Capacity" type="yfctype:Capacity" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>The capacity consumed by this reservation.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverrideCapacityCheck"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAPACITY_OVERRIDDEN" yfc:tableName="YFS_RES_POOL_CONSMPTN_DTLS">
                    <xsd:documentation>This flag indicates whether capacity was ignored when taking the appointment. Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ResourcePoolId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="RESOURCE_POOL_ID" yfc:tableName="YFS_RES_POOL">
                    <xsd:documentation>The unique identifier of the resource pool.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServiceResourceId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="SERVICE_RESOURCE_ID" yfc:tableName="YFS_SERVICE_RESOURCE">
                    <xsd:documentation>The unique identifier of the service resource.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderAppointmentUsers">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:WorkOrderAppointmentUser"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="WorkOrderAppointmentUser">
        <xsd:annotation yfc:tableName="YFS_WO_APPT_USER">
            <xsd:documentation>This table stores the list of users who worked/assigned for an appointment in the work order.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OverriddenFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OVERRIDDEN_FLAG" yfc:tableName="YFS_WO_APPT_USER">
                    <xsd:documentation>By default, the users configured in the resource user table will be copied in to this table if the appointment is serviced by the resource. If any other  user served this appointment then the overridden flag will be "Y".</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:ID-24" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_WO_APPT_USER">
                    <xsd:documentation>The unique identifier of the user who is working on this appointment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Username" type="yfctype:UserName" use="optional">
                <xsd:annotation yfc:columnName="USERNAME" yfc:tableName="YFS_USER">
                    <xsd:documentation>The name of the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WoApptUserKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WO_APPT_USER_KEY" yfc:tableName="YFS_WO_APPT_USER">
                    <xsd:documentation>The primary key of the YFS_WO_APPT_USER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorkOrderApptKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="WORK_ORDER_APPT_KEY" yfc:tableName="YFS_WO_APPT_USER">
                    <xsd:documentation>Key pointing to the appointment in the work order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
