Data/xapidocs/api_javadocs/XSD/YFS_getAdditionalServicesForLine_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getAdditionalServicesForLine/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getAdditionalServicesForLine/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getAdditionalServicesForLine_input.xsd" yfc:rootElement="OrderLine">
        <xsd:appinfo source="yfc:structure">
            <OrderLine hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderLine" type="yfc:OrderLineXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>
                <div>
		To identify the <code>OrderLine</code> for which services can be added to, pass either <code>OrderLineKey</code>, the combination of <code>EnterpriseCode</code>, <code>OrderNo</code>, <code>DocumentType</code>, <code>PrimeLineNo</code>, and <code>SubLineNo</code>, or the combination of <code>OrderHeaderKey</code>, <code>PrimeLineNo</code>, and <code>SubLineNo</code>.
		<Validation>
                        <Condition>
                            <code>OrderLineKey</code>, the combination of <code>EnterpriseCode</code>, <code>DocumentType</code>, <code>OrderNo</code>, <code>PrimeLineNo</code>, and <code>SubLineNo</code>, or the combination of <code>OrderHeaderKey</code>, <code>PrimeLineNo</code>, and <code>SubLineNo</code> must be passed and must be valid.
			</Condition>
                        <Error Description="YFS: Get Order Line Failed" ErrorCode="YFS10185"/>
                        <Error Description="YFS:Invalid Line" ErrorCode="YFS10009"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderLineXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                <xsd:documentation>The order line number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestedItemGroupCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Item Group Code of the requested lines. Valid values are PS (Provided Service) and DS (Delivery Service).</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Text-20">
                    <xsd:enumeration value="PS"/>
                    <xsd:enumeration value="DS"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                <xsd:documentation>The sub line number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
