Data/xapidocs/api_javadocs/XSD/YFS_getStatusInventoryTypesList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getStatusInventoryTypesList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getStatusInventoryTypesList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getStatusInventoryTypesList_input.xsd" yfc:rootElement="StatusInventoryTypes">
        <xsd:appinfo source="yfc:structure">
            <StatusInventoryTypes hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="StatusInventoryTypes" type="yfc:StatusInventoryTypesXSDType">
        <xsd:annotation yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
            <xsd:documentation>This internal configuration table links inventory bucket with order status based on document type. When order status is changed, application looks into this table to determine how inventory updates should be done. Inventory is updated for buyer and seller organizations. For buyer organizations, supply is moved from one bucket to another. For seller organizations, both supply and demand are moved from one bucket to another.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="StatusInventoryTypesXSDType">
        <xsd:attribute name="BaseProcessType"
            type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="BASE_PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>
                    <div>
					If <code>BaseProcessType</code> is passed, <code>DocumentType</code> should also be passed. If <code>ProcessTypeKey</code> or <code>ProcessType</code> is passed,
					its value is used to make the matches, and <code>BaseProcessType</code> is ignored. 					
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BuyerSupplyType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="BUYER_SUPPLY_TYPE" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>For the status, buyer supply would be in this inventory bucket.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>Key parameter identifying which document type this record applies to.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Fob" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="FOB" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>Not Used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="HasChainedChild" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="HAS_CHAINED_CHILD" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>
                    <div>
						Valid Values:
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - For Orders with chained children.
						<br/>
                        <b>
                            <code>N</code>
                        </b> - For Orders without chaining and for Procurement Orders.						
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IncrementSellerSupply" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="INCREMENT_SELLER_SUPPLY" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>Indicates is seller's supply should be incremented/decremented at all when something is moved to this status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessType" type="yfctype:ProcessType-40" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE" yfc:tableName="YFS_PROCESS_TYPE">
                <xsd:documentation>
                    <div>
						If <code>ProcessTypeKey</code> is passed, <code>ProcessType</code> is ignored.						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>Identifies the process type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerDemandType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SELLER_DEMAND_TYPE" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>For the status, seller's inventory demand would be in this bucket.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerSupplyType" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="SELLER_SUPPLY_TYPE" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>For the status, seller's supply would be in this bucket.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>Order Status.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusInventoryID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="STATUS_INVENTORY_ID" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>
                    <div>
						Valid Values:
						<br/>
                        <b>
                            <code>DEFAULT</code>
                        </b> - For Orders with or without chained children.
						<br/>
                        <b>
                            <code>PROCURE</code>
                        </b> - For Procurement Orders.							
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusInventoryTypesKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STATUS_INVENTORY_TYPES_KEY" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>Primary key of status inventory types.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_DEFINED" yfc:tableName="YFS_STATUS_INVENTORY_TYPES">
                <xsd:documentation>Indicates if a status inventory type configuration is system defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
