Data/xapidocs/api_javadocs/XSD/YFS_manageSubCatalogOrganizationAssignment_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageSubCatalogOrganizationAssignment/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageSubCatalogOrganizationAssignment/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_manageSubCatalogOrganizationAssignment_output.xsd" yfc:rootElement="SubCatalogOrganizationAssignmentList">
        <xsd:appinfo source="yfc:structure">
            <SubCatalogOrganizationAssignmentList>
                <SubCatalogOrganizationAssignment hasAttributes="Y"/>
            </SubCatalogOrganizationAssignmentList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SubCatalogOrganizationAssignmentList" type="yfc:SubCatalogOrganizationAssignmentListXSDType"/>
    <xsd:complexType name="SubCatalogOrganizationAssignmentListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:SubCatalogOrganizationAssignment"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="SubCatalogOrganizationAssignment">
        <xsd:annotation yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
            <xsd:documentation>This table stores sub-catalog organization assignments to their catalog organization assignment as well as the rules, which are applied to the sub-catalog organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
                    <xsd:documentation>The catalog organization that maintains the sub-catalog organization assignment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubCatalogOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SUB_CAT_ORG_CODE" yfc:tableName="YFS_SUB_CAT_ORG_ASSIGN">
                    <xsd:documentation>The organization that represents the sub-catalog organization of the catalog organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
