Data/xapidocs/api_javadocs/XSD/YFS_Pick_List_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Pick_List_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Pick_List_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Pick_List_tran.xsd" yfc:rootElement="PickList">
        <xsd:appinfo source="yfc:structure">
            <PickList hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PickList" type="yfc:PickListXSDType">
        <xsd:annotation yfc:tableName="YFS_PICK_LIST">
            <xsd:documentation>Stores picklist created during the picklist creation process. A picklist is a document used for picking. It is generated for a ship node across one or more shipments and contains information on the       shipment lines and the quantity for each line that is to be picked. Picklist is created by the printPickList API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PickListXSDType">
        <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>A logical way of grouping data in the system, so that different business processes can be applied to the data. The document type on the picklist restricts addition of only those shipments that belong to this document type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickListDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="PICK_LIST_DATE" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>The date on which the picklist was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickListKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PICK_LIST_KEY" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>The primary key for the YFS_PICK_LIST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PickListNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="PICK_LIST_NO" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>The pick list number. This is a unique key or business key, which by itself identifies a picklist.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_PICK_LIST">
                <xsd:documentation>The shipnode key that is associated with this pick list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
