Data/xapidocs/api_javadocs/XSD/YFS_presentToBuyer_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/presentToBuyer/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/presentToBuyer/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_presentToBuyer_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order hasAttributes="Y">
                <Notes>
                    <Note hasAttributes="Y"/>
                </Notes>
                <OrderLines>
                    <OrderLine hasAttributes="Y">
                        <Notes>
                            <Note hasAttributes="Y"/>
                        </Notes>
                    </OrderLine>
                </OrderLines>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation yfc:tableName="YFS_ORDER_HEADER">
            <xsd:documentation>
                <div>
				This table stores the quote document in the system.
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" name="Notes">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Note">
                            <xsd:annotation yfc:tableName="YFS_NOTES">
                                <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="AuditTransactionId"
                                    type="yfctype:TransactionID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ContactReference"
                                    type="yfctype:NotesContactReference" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone no can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ContactTime"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ContactType"
                                    type="yfctype:CommonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ContactUser"
                                    type="yfctype:UserId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_USER" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The user who made the contact. The default value will the logged in user.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute
                                    name="CustomerSatIndicator"
                                    type="yfctype:CustomerSatisfactionLevel" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="NoteText"
                                    type="yfctype:NoteText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Priority"
                                    type="yfctype:PriorityWithDecimal" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIORITY" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ReasonCode"
                                    type="yfctype:ReasonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_CODE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="SequenceNo"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="TableKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TABLE_KEY" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Link to the entity</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="TableName"
                                    type="yfctype:TableName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TABLE_NAME" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Identifies the entity for which this note is stored</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Tranid"
                                    type="yfctype:TranId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TRANID" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Tranname"
                                    type="yfctype:Text-50" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Specifies the name of the Transaction</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="VisibleToAll"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it.</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrderLines"/>
        </xsd:all>
        <xsd:attribute name="AuditTransactionId"
            type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The identifier of the audit transaction. All records for a modification are tied together using this ID.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="BaseDropStatus" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The base drop status for the transaction ID.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReasonCode"
            type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The reason code of this order audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReasonText"
            type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>The reason text of this order audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference1"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference2"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference3"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModificationReference4"
            type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_ORDER_AUDIT">
                <xsd:documentation>This field provides additional reference information, and field can be customized by the enterprise.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionId" type="yfctype:TransactionID" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Identifies a transaction that changes the status of the order.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OrderLines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:OrderLine"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrderLine">
        <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
            <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="Notes">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Note">
                                <xsd:annotation yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Generic table used to stores notes associated with various entities in the system.</xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="AuditTransactionId"
                                    type="yfctype:TransactionID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="AUDIT_TRANSACTION_ID" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The identifier of the order modification audit that caused this record.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="ContactReference"
                                    type="yfctype:NotesContactReference" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_REFERENCE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>If the notes were entered because of customer contact by phone, the phone no can be stored in this column. If the contact is by email, email ID can be stored here.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContactTime"
                                    type="yfctype:TimeStamp" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_TIME" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The time at which the customer contact occurred.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContactType"
                                    type="yfctype:CommonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_TYPE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The contact type like Phone call, email etc. The values will be selected from common code of code type "CONTACT_TYPE"</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ContactUser"
                                    type="yfctype:UserId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CONTACT_USER" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The user who made the contact. The default value will the logged in user.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute
                                    name="CustomerSatIndicator"
                                    type="yfctype:CustomerSatisfactionLevel" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="CUSTOMER_SAT_INDICATOR" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The customer satisfaction level.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="NoteText"
                                    type="yfctype:NoteText" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NOTE_TEXT" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Detailed Notes.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Priority"
                                    type="yfctype:PriorityWithDecimal" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRIORITY" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Priority of the note. 1 is High, 0 is Low.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ReasonCode"
                                    type="yfctype:ReasonCode" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="REASON_CODE" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The reason for which the notes are logged. Like "CustomerContact" etc. The values will be selected from common code of code type "NOTES_REASON"</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SequenceNo"
                                    type="yfctype:Count" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>The sequence of the note.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="TableKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TABLE_KEY" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Link to the entity</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="TableName"
                                    type="yfctype:TableName" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TABLE_NAME" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Identifies the entity for which this note is stored</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Tranid"
                                    type="yfctype:TranId" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="TRANID" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>Transaction for which these notes are applicable.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Tranname"
                                    type="yfctype:Text-50" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>Specifies the name of the Transaction</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="VisibleToAll"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VISIBLE_TO_ALL" yfc:tableName="YFS_NOTES">
                                    <xsd:documentation>This flag determines whether the note applied should be visible to all users. This field is used for filtering. No logic is currently applied to it.</xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The order line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                    <xsd:documentation>The sub line number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
