Data/xapidocs/api_javadocs/XSD/YFS_getInvoicePricingQtyUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getInvoicePricingQtyUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getInvoicePricingQtyUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getInvoicePricingQtyUE_output.xsd" yfc:rootElement="InvoiceDetail">
        <xsd:appinfo source="yfc:structure">
            <InvoiceDetail>
                <InvoiceHeader>
                    <LineDetails>
                        <LineDetail hasAttributes="Y"/>
                    </LineDetails>
                </InvoiceHeader>
            </InvoiceDetail>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InvoiceDetail" type="yfc:InvoiceDetailXSDType"/>
    <xsd:complexType name="InvoiceDetailXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InvoiceHeader"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="InvoiceHeader">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineDetails"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineDetails">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LineDetail"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LineDetail">
        <xsd:annotation yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
            <xsd:documentation>Stores line details for an invoice.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Link to order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingQty" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="PRICING_QUANTITY" yfc:tableName="YFS_ORDER_INVOICE_DETAIL">
                    <xsd:documentation>Quantity being invoiced in Pricing UOM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
