Data/xapidocs/api_javadocs/XSD/YFS_GetOpportunityIDUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/GetOpportunityIDUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/GetOpportunityIDUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_GetOpportunityIDUE_output.xsd" yfc:rootElement="Opportunity">
        <xsd:appinfo source="yfc:structure">
            <Opportunity hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Opportunity" type="yfc:OpportunityXSDType">
        <xsd:annotation yfc:tableName="YFS_OPPORTUNITY">
            <xsd:documentation>This tables stores an opportunity. An opportunity is a sales opportunity that a sales representative foresees and is used to keep track of multiple quotes that will be presented to a specific buyer. Any of these quotes can be negotiated upon but only one of these quotes can be accepted by the buyer, thereby permanently rejecting all other quotes. The opportunity will be closed once an order is created from the buyer selected quote.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OpportunityXSDType">
        <xsd:attribute name="OpportunityID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="OPPORTUNITY_ID" yfc:tableName="YFS_OPPORTUNITY">
                <xsd:documentation>The identification number of the opportunity, which can be passed during opportunity creation or generated based on a system rule setting or obtained directly from the user exit implementation. OpportunityID, DocumentType, EnterpriseCode are required attributes to uniquely identify an opportunity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
