Data/xapidocs/api_javadocs/XSD/YFS_shouldOrderMonitorAlertBeRaisedUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/shouldOrderMonitorAlertBeRaisedUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/shouldOrderMonitorAlertBeRaisedUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_shouldOrderMonitorAlertBeRaisedUE_output.xsd" yfc:rootElement="OrderMonitor">
        <xsd:appinfo source="yfc:structure">
            <OrderMonitor hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="OrderMonitor" type="yfc:OrderMonitorXSDType"/>
    <xsd:complexType name="OrderMonitorXSDType">
        <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>This determines the earliest time when the order will be picked up for monitoring again.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RaiseAlert" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Determines whether to raise an alert or not based on this flag.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
