Data/xapidocs/api_javadocs/XSD/YFS_getAdjustmentDetailsUE_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getAdjustmentDetailsUE/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getAdjustmentDetailsUE/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getAdjustmentDetailsUE_input.xsd" yfc:rootElement="Supply">
        <xsd:appinfo source="yfc:structure">
            <Supply hasAttributes="Y">
                <Tag hasAttributes="Y"/>
            </Supply>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Supply" type="yfc:SupplyXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
            <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SupplyXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Tag"/>
        </xsd:all>
        <xsd:attribute name="AccountNo" type="yfctype:AccountNo" use="optional">
            <xsd:annotation yfc:columnName="ACCOUNT_NO" yfc:tableName="YFS_INVENTORY_PENDING_ADJ">
                <xsd:documentation>The account number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="AdjustmentType" type="yfctype:CommonCode" use="required"/>
        <xsd:attribute name="Currency" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                <xsd:documentation>Any other lot attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                <xsd:documentation>Any other lot attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                <xsd:documentation>Any other lot attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotKeyReference" type="yfctype:Text-4000" use="optional">
            <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotNumber" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ManufacturingDate" use="optional">
            <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity"
            type="yfctype:QuantityPositiveAndNegative" use="required">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The quantity of this inventory supply. If inventory is not tracked, unplanned, or infinite, the value may be Java's Integer.MAX_VALUE, Java's Long.MAX_VALUE, or the RealisticQuantityForInfiniteInventory property (if set)</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The code of the reason for this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The description of the reason for this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference_1" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The reference1 for this inventory audit.  If the inventory adjustment is the result of a change in the order for which the inventory is associated, the order's OrderHeaderKey will be posted as the value of Reference1.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference_2" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The reference2 for this inventory audit.  If the inventory adjustment is the result of a change in the order line for which the inventory is associated, the order line's OrderLineKey will be posted as the value of Reference2.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference_3" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The reference3 for this inventory audit.  If the inventory adjustment is the result of receiving order, the receipt's ReceiptHeaderKey will be posted as the value of Reference3.  If the inventory adjustment is the result of shipment confirmation, the shipment's ShipmentHeaderKey will be posted as the value of Reference3.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference_4" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The reference4 for this inventory audit.  If the inventory adjustment is the result of receiving order, the receipt line's ReceiptLineKey will be posted as the value of Reference4.  If the inventory adjustment is the result of shipment confirmation, the shipment line's ShipmentLineKey will be posted as the value of Reference4.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Reference_5" type="yfctype:Text-254" use="optional">
            <xsd:annotation yfc:columnName="REFERENCE_5" yfc:tableName="YFS_INVENTORY_AUDIT">
                <xsd:documentation>The reference5 for this inventory audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The date when this inventory supply will be last available.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The ship node where this inventory supply is located.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyReference" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="SUPPLY_REFERENCE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The reference for this inventory supply.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyReferenceType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="SUPPLY_REFERENCE_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The reference type for this inventory supply.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The supply type of this inventory supply.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_INVENTORY_PENDING_ADJ">
                <xsd:documentation>The unit cost of the pending adjustment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Tag">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
