Data/xapidocs/api_javadocs/XSD/YFS_Load_Stop_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Load_Stop_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Load_Stop_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Load_Stop_keys.xsd" yfc:rootElement="LoadStop">
        <xsd:appinfo source="yfc:structure">
            <LoadStop hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LoadStop" type="yfc:LoadStopXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD_STOP">
            <xsd:documentation>Stores information about a load stop. A load stop is identified by a stop node -  which is a receiving or shipping node on the system, or a stop address in cases where stop nodes do correspond to a receiving node which is not maintained on the system. A load stop is created and managed by the manageLoad API. Certain time related attributes such as actual arrival and departure dates, and the stop reached attribute are updated by the receiveIntransitUpdates API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadStopXSDType">
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The load for which stops are maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadStopKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_STOP_KEY" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The primary key for the YFS_LOAD_STOP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopAddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STOP_ADDRESS_KEY" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The stop address key. A stop may be identified alternatively by a stop address. This is typically the case when receiving or destination nodes are not maintained on the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="STOP_NODE" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The stop node. A stop node corresponds to a receiving or ship node on the system. The information of such nodes are maintained in YFS_SHIP_NODE entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
