Data/xapidocs/api_javadocs/XSD/YFS_getPossibleSchedules_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getPossibleSchedules/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getPossibleSchedules/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getPossibleSchedules_input.xsd" yfc:rootElement="Promise">
        <xsd:appinfo source="yfc:structure">
            <Promise hasAttributes="Y">
                <ShipToAddress hasAttributes="Y"/>
                <Overrides hasAttributes="Y"/>
                <OmittedLines>
                    <OrderLine hasAttributes="Y"/>
                </OmittedLines>
                <MultipleOrderLines>
                    <OrderLine hasAttributes="Y"/>
                </MultipleOrderLines>
            </Promise>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Promise" type="yfc:PromiseXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
		To identify the <code>Order</code>, pass either the <code>OrderHeaderKey</code> or  the <code>EnterpriseCode</code>, <code>DocumentType</code> and <code>OrderNo</code>.
		<Validation>
                        <Condition>
                            <code>OrderHeaderKey</code> or <code>EnterpriseCode</code>, <code>DocumentType</code>  and <code>OrderNo</code> must be passed and must be valid.
			</Condition>
                        <Error Description="Invalid order." ErrorCode="YFS10126"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PromiseXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipToAddress"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Overrides"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OmittedLines"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:MultipleOrderLines"/>
        </xsd:all>
        <xsd:attribute name="AggregateSupplyOfNonRequestedTag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The <code>AggregateSupplyOfNonRequestedTag</code> flag indicates that system should aggregate the supplies that are returned by the API unless specific tag information is provided in the input. If the flag is set to Y, supplies are aggregated irrespective of the tag information and displayed in the output XML. If the flag is set to N, supplies are returned in the output XML with the tag information.
				<br/>Default: <b>
                            <code>Y</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="AllocationRuleID" type="yfctype:ID-10" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				An Enterprise can configure multiple allocation rule sets with different document types.
				If an <code>AllocationRuleID</code> is  passed, the  allocation rules associated with the <code>AllocationRuleID</code> is used to select <code>Option</code>. 
				<Validation>
                            <Condition>The <code>AllocationRuleID</code> passed must be valid for both the Enterprise's rule set and document type of the order.
					</Condition>
                            <Error
                                Description="Invalid Allocation Rule Id." ErrorCode="YFS10309"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CheckInventory" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates if inventory should to be checked.
				<br/>Default: <b>
                            <code>Y</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>If  <b>
                            <code>Y</code>
                        </b>, either the <code>DistributionRuleId</code> passed or the organization's default <code>DistributionRuleId</code> is used to obtain a distribution rule for supply and demand filtering for the availability calculations.
				<br/>If  <b>
                            <code>N</code>
                        </b>, either the <code>DistributionRuleId</code> passed or the organization's default <code>DistributionRuleId</code>  is used to obtain a distribution rule for inventory availability. No supply or demand is read. Distribution drives inventory availability calculations.
				</div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ConsiderSupplementalCapacity" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The <code>ConsiderSupplementalCapacity</code> flag indicates that supplemental capacity should also be considered when computing the availability of the resource pools which can serve the service lines.
				<br/>If <code>ConsiderSupplementalCapacity</code> flag is not passed as <b>
                            <code>Y</code>
                        </b>, then the value of the <code>CanConsumeSupplementalCapacity</code> attribute of the customer (if existed) in the order will be used.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="DelayWindow" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
			The number of days specified in <code>DelayWindow</code> is counted from the day on which the API is run. If this attribute is not passed, then <code>Allowed_Shipment_Delay_Days</code> and the <code>Service_Search_Window</code> (for delivery service lines) specified by the allocation rules are used to determine the delay window. 
			</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The document type that is associated with this order. For example, Sales Order document (0001), Planned Order document (0002), Return Order document (0003) , and Purchase Order document (0005). This field determines the order's fulfillment cycle and controls the inventory and payment updates performed on the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The enterprise that is associated with this order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreMinNotificationTime" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates whether to ignore the minimum notification time associated with the item and node.
				<br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IgnoreServices" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If set to Y, check will be made only for product lines.  Service lines will be ignored.  If not passed, assumed N.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreUnpromised" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>If <code>IgnoreUnpromised</code> is passed as <b>
                            <code>Y</code>
                        </b>, unpromised demands are not considered during inventory availability calculations.
				<BR/>Default: <code>Y</code>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IncludeAllOrderLines" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The <code>IncludeAllOrderLines</code> flag indicates that all order lines of the order should be included as required lines.  System will only look at this flag when there is no order line information provided in the root element.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InvLock" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates if the API will lock inventory or not. If passed <code>
                            <b>N</b>
                        </code>, the api will not lock YFS_INVENTORY_ITEM table in <b>Inquire</b> Mode.
				<br/>Valid Values: <b>
                            <code>Y</code>
                         or 
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Determines the maximum number of possible solutions to find. Passing this attribute may improve best solution found, but may impact the performance of this api. 
				<BR/>Default: <b>
                            <code>1</code>
                        </b>
                        <Validation>
                            <Condition>Valid positive integer.
					</Condition>
                            <Error
                                Description="java.lang.NumberFormatException" ErrorCode=""/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Mode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The mode in which the API is run. Possible values are <code>
                            <b>Inquire</b>
                        </code> or <code>
                            <b>Schedule</b>
                        </code>. Schedule mode provides backward compatibility to look at schedulable quantity. However an appointment is needed.
			<br/>In Inquire mode, no appointment is necessary on the order lines to obtain possible schedules. Further, if running in Inquire mode, a new Appointment can be obtained for a PS order line even after the order line has been scheduled.
			<br/>Valid Values:  <b>
                            <code>Inquire</code>
                        </b> or <b>
                            <code>Schedule</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Text-40">
                    <xsd:enumeration value="Inquire"/>
                    <xsd:enumeration value="Schedule"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OptimizationType"
            type="yfctype:EnumOptimizationType" use="optional">
            <xsd:annotation yfc:columnName="OPTIMIZATION_TYPE" yfc:tableName="YFS_ALLOCATION_RULE">
                <xsd:documentation>
                    <div>
				This value determines the optimization rules to be applied to the scheduling process.
				<br/>Default: <b>
                            <code>01</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The primary key for the YFS_ORDER_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:VarcharDocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_ORDER_HEADER">
                <xsd:documentation>The number of the order, which can be passed during order creation or generated based on a system rule setting.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                <xsd:documentation>The order line number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReturnMultipleSrvcSlots" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates if the API returns multiple service slots. If passed <code>
                            <b>N</b>
                        </code>, the <code>Slots</code> element and its child elements are not be returned.
				<br/>Valid Values: <b>
                            <code>Y</code>
                        </b>Y or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                <xsd:documentation>The sub line number.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UseUnplannedInventory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The <code>UseUnplannedInventory</code> flag indicates that system should assume that there is available unplanned inventory (inventory for which assumes to be available on current date + item's lead time) for any unavailable quantities.  If the <code>UseUnplannedInventory</code> flag is passed, it will override the <code>UseUnplannedInventory</code> attribute on the item in the catalog.  Otherwise, the <code>UseUnplannedInventory</code> attribute on the item will be used.
				<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipToAddress">
        <xsd:annotation yfc:tableName="YFS_PERSON_INFO">
            <xsd:documentation>This table stores relevant personal information and addresses. Addresses are typically organization address, ship node address, customer address, and so forth. Personal information is required in cases where person to person contact needs to be established; for example, taking appointments or speaking during negotiations. The key of this table is posted in various tables to allow access to people and address information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="required">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The country in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="ZIP_CODE" yfc:tableName="YFS_PERSON_INFO">
                    <xsd:documentation>The zip code in the address.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Overrides">
        <xsd:complexType>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The carrier service code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributionRuleId"
                type="yfctype:DistributionRuleId" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The distribution rule ID to be used to determine the node(s) that will ship the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReqDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The requested delivery date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The node to be used for sourcing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OmittedLines">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			Contains information on the lines which are not to be considered while finding possible schedules. 
		</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderLine">
                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                        <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PrimeLineNo"
                            type="yfctype:LineNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The order line number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SubLineNo"
                            type="yfctype:LineNo" use="optional">
                            <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The sub line number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="MultipleOrderLines">
        <xsd:annotation>
            <xsd:documentation>
                <div>
			Used only if possible schedules are needed for multiple lines of an order. Line information should not be passed in the <code>Promise</code> element if any information is to be passed in this node.
		</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrderLine">
                    <xsd:annotation yfc:tableName="YFS_ORDER_LINE">
                        <xsd:documentation>This table stores order line information, including item details and shipping information. Multiple lines can be created for a single order defined in the YFS_ORDER_HEADER table.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="OrderLineKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation
                                yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The primary key for the YFS_ORDER_LINE table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="PrimeLineNo"
                            type="yfctype:LineNo" use="optional">
                            <xsd:annotation
                                yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The order line number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SubLineNo"
                            type="yfctype:LineNo" use="optional">
                            <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_ORDER_LINE">
                                <xsd:documentation>The sub line number.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
