Data/xapidocs/api_javadocs/XSD/YFS_getShipNodeInventory_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getShipNodeInventory/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getShipNodeInventory/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getShipNodeInventory_output.xsd" yfc:rootElement="ShipNodeInventory">
        <xsd:appinfo source="yfc:structure">
            <ShipNodeInventory>
                <Item hasAttributes="Y">
                    <PrimaryInformation hasAttributes="Y"/>
                    <LanguageDescriptionList>
                        <LanguageDescription hasAttributes="Y"/>
                    </LanguageDescriptionList>
                    <ShipNodes>
                        <ShipNode hasAttributes="Y">
                            <Supplies hasAttributes="Y">
                                <InventorySupplyType hasAttributes="Y"/>
                            </Supplies>
                            <Demands hasAttributes="Y">
                                <InventoryDemandType hasAttributes="Y"/>
                            </Demands>
                        </ShipNode>
                    </ShipNodes>
                </Item>
            </ShipNodeInventory>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShipNodeInventory" type="yfc:ShipNodeInventoryXSDType"/>
    <xsd:complexType name="ShipNodeInventoryXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Item"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PrimaryInformation"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LanguageDescriptionList"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ShipNodes"/>
            </xsd:all>
            <xsd:attribute name="ConsiderAllNodes" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="ConsiderAllSegments"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				Default is <code>N</code>.   
				<br/>If set to <b>
                                <code>Y</code>
                            </b>, <code>SegmentType</code> and <code>Segment</code> are ignored.  
				</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ConsiderInventoryNodeControl"
                type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                Indicates whether inventory node control data were used in the inventory reporting.
                </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributionRuleId"
                type="yfctype:DistributionRuleId" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                    <xsd:documentation>The distribution group that this sourcing entry is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The organization code whose product information is being stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:CommonCode" use="optional"/>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional"/>
            <xsd:attribute name="ShipDate" type="yfctype:Date" use="optional"/>
            <xsd:attribute name="TrackedEverywhereFlag"
                type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PrimaryInformation">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescriptionList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:LanguageDescription"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LanguageDescription">
        <xsd:annotation yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
            <xsd:documentation>This table stores description in different languages.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Text-500" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>A localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExtendedDescription"
                type="yfctype:Text-2000" use="optional">
                <xsd:annotation yfc:columnName="EXTENDED_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>An extended localized description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_CODE" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Locale for which the extended description is stored.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShortDescription"
                type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_LANGUAGE_DESCRIPTION">
                    <xsd:documentation>Short description.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNodes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ShipNode"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ShipNode">
        <xsd:annotation yfc:tableName="YFS_SHIP_NODE">
            <xsd:documentation>This table stores receiving node, ship node, and distribution centers in the system for various organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Supplies"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Demands"/>
            </xsd:all>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>the description of the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternalNode" type="yfctype:Flag" use="optional"/>
            <xsd:attribute name="IdentifiedByParentAs"
                type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="IDENTIFIED_BY_PARENT_AS" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The store or distribution center identifier assigned by the parent organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The owner organization that is associated with this ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_SHIP_NODE">
                    <xsd:documentation>The unique identifier for the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalDemand" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Total demand at this <code>ShipNode</code>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalSupply" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Total supply at this ShipNode.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tracked" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <b>
                                <code>Y</code>
                            </b> - Inventory is tracked at this <code>ShipNode</code>.
							<br/>
                            <b>
                                <code>N</code>
                            </b> - Inventory is not tracked at this <code>ShipNode</code>.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Supplies">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InventorySupplyType"/>
            </xsd:sequence>
            <xsd:attribute name="TotalSupply" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Quantity of supplies with all supplies.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventorySupplyType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
            <xsd:documentation>Configuration table. Stores valid supply types.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="OnhandSupply" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ONHAND_SUPPLY" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>Set to 'Y' if this supply type if considered as on-hand. ETA in SUPPLY table is set to low date to indicate immediate availability.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Quantity of supplies of the  specified <code>SupplyType</code>.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY_TYPE">
                    <xsd:documentation>A Supply type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Demands">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:InventoryDemandType"/>
            </xsd:sequence>
            <xsd:attribute name="TotalDemand" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Total demand at this <code>ShipNode</code>.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryDemandType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
            <xsd:documentation>This table stores valid demand types for the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AllocatedDemand" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ALLOCATED_DEMAND" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>
                        <div>
										Value is <b>
                                <code>Y</code>
                            </b> if demand is allocated demand.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>A Demand type code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PromisedDemand" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PROMISED_DEMAND" yfc:tableName="YFS_INVENTORY_DEMAND_TYPE">
                    <xsd:documentation>
                        <div>
										 Value is  <b>
                                <code>Y</code>
                            </b> if the demand is promised demand.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
										Quantity of demands with the specified <code>DemandType</code>.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
