Data/xapidocs/api_javadocs/XSD/YFS_getInventoryCost_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getInventoryCost/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getInventoryCost/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getInventoryCost_input.xsd" yfc:rootElement="Cost">
        <xsd:appinfo source="yfc:structure">
            <Cost hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Cost" type="yfc:CostXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
            <xsd:documentation>This table stores information about the item cost and current inventory value of an item at a specific node.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CostXSDType">
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
            The Item ID for which the inventory item cost is maintained.
            <Validation>
                            <Condition>
                The Item ID should be passed
              </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
            Organization Code of the organization maintaining the inventory.
            <Validation>
                            <Condition>
                The value should be passed
              </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                        </Validation>
                        <Validation>
                            <Condition>
                The organization code must be valid
              </Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
            The product class of the inventory item cost is maintained.
            <Validation>
                            <Condition>
                The product class should be passed
              </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
            Ship Node for which inventory item cost is maintained.
            <Validation>
                            <Condition>
                The ship node should be passed
              </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
            The unit of measure for which the inventory item cost is maintained.
            <Validation>
                            <Condition>
                The unit of measure should be passed
              </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
