Data/xapidocs/api_javadocs/XSD/YFS_Move_Request_Status_Audit_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Move_Request_Status_Audit_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Move_Request_Status_Audit_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_Move_Request_Status_Audit_keys.xsd" yfc:rootElement="MoveRequestStatusAudit">
        <xsd:appinfo source="yfc:structure">
            <MoveRequestStatusAudit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="MoveRequestStatusAudit" type="yfc:MoveRequestStatusAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
            <xsd:documentation>This entity stores audits of all status changes on the move request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="MoveRequestStatusAuditXSDType">
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="MOVE_REQUEST_KEY" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The move request key that is associated with this move request status audit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MoveRequestStatusAuditKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="MOVE_REQUEST_STATUS_AUDIT_KEY" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The primary key for the YFS_MOVE_REQ_STATUS_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NewStatus" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The new (latest) status of the move request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OldStatus" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="OLD_STATUS" yfc:tableName="YFS_MOVE_REQ_STATUS_AUDIT">
                <xsd:documentation>The old (previous) status of the move request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
