Data/xapidocs/api_javadocs/XSD/YFS_updateInventoryCost_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/updateInventoryCost/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/updateInventoryCost/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_updateInventoryCost_input.xsd" yfc:rootElement="Cost">
        <xsd:appinfo source="yfc:structure">
            <Cost hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Cost" type="yfc:CostXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
            <xsd:documentation>
                <div>
                    <Validation>
                        <Condition>
              Inventory Cost data for the item at the node is not available in the system.
            </Condition>
                        <Error
                            Description="Cost details are already available for the given Item/ShipNode." ErrorCode="YFS10531 "/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CostXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Enterprise Code of the transaction. This is just a reference attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryValue" type="yfctype:UnitPrice" use="required">
            <xsd:annotation yfc:columnName="INVENTORY_VALUE" yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
                <xsd:documentation>Amount of Inventory value that has to be adjusted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
            Item Id of the item for which inventory value has to be adjusted. 
            <Validation>
                            <Condition>
                The Item ID should be passed
              </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Order No of the transaction. This is just a reference attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
            Organization Code of the organization maintaining the inventory.
            <Validation>
                            <Condition>
                The value should be passed
              </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                        </Validation>
                        <Validation>
                            <Condition>
                The organization code must be valid
              </Condition>
                            <Error
                                Description="Invalid Organization Code" ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Prime Line No of the transaction. This is just a reference attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
		            Product Class of the item for which inventory value has to be adjusted.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="required">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
                <xsd:documentation>
                    <div>
            Quantity for which inventory value has to be adjusted. This should be a positive non-zero number.
            <Validation>
                            <Condition>
                The quantity must be greather than zero
              </Condition>
                            <Error
                                Description="Invalid Quantity to adjust inventory value. Quantity should be a positive non-zero value." ErrorCode="YFS10532"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
            Ship Node for which inventory value has to be adjusted.
            <Validation>
                            <Condition>
                The ship node should be passed
              </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364 "/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Sub Line No of the transaction. This is just a reference attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>
                    <div>
					Unit Of Measure of the item for which inventory value has to be adjusted.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
