Data/xapidocs/api_javadocs/XSD/YFS_getAuditList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getAuditList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getAuditList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getAuditList_output.xsd" yfc:rootElement="AuditList">
        <xsd:appinfo source="yfc:structure">
            <AuditList>
                <Audit hasAttributes="Y"/>
            </AuditList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="AuditList" type="yfc:AuditListXSDType"/>
    <xsd:complexType name="AuditListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Audit"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Audit">
        <xsd:annotation yfc:tableName="YFS_AUDIT">
            <xsd:documentation>This table stores the audit record for entities that require an audit. A record for every update and delete for the 'audited' entity will be inserted in this table.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuditContextId"
                type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_CONTEXT_ID" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>The unique identifier for the context in which an audit record is created. The context can either be an API call or a user exit. The value starts at 0 and will get incremented when an API or a user exit is called from the originating API. Once the called API or user exit has terminated, the value get decremented.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_KEY" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Key of the record</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditTranKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_TRAN_KEY" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Unique key of the transaction.  A transaction may have multiple api's</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuditXml" type="yfctype:CLOB" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_XML" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Actual audit xml</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1"
                type="yfctype:ReferenceValue-255" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference4"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference5"
                type="yfctype:ReferenceValue-200" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_5" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference6"
                type="yfctype:ReferenceValue" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_6" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Reference value for the transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TABLE_KEY" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Audit record is created for table name and table key combination</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TableName" type="yfctype:TableName" use="optional">
                <xsd:annotation yfc:columnName="TABLE_NAME" yfc:tableName="YFS_AUDIT">
                    <xsd:documentation>Audit record is created for table name and table key combination</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
