Data/xapidocs/api_javadocs/XSD/YFS_updateConversionRates_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/updateConversionRates/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/updateConversionRates/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_updateConversionRates_input.xsd" yfc:rootElement="UpdateCurrencyConversion">
        <xsd:appinfo source="yfc:structure">
            <UpdateCurrencyConversion hasAttributes="Y">
                <ConversionRates hasAttributes="Y"/>
            </UpdateCurrencyConversion>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UpdateCurrencyConversion" type="yfc:UpdateCurrencyConversionXSDType"/>
    <xsd:complexType name="UpdateCurrencyConversionXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConversionRates"/>
        </xsd:all>
        <xsd:attribute name="BaseCurrency" type="yfctype:Currency" use="optional"/>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromDate" type="yfctype:Date" use="optional"/>
        <xsd:attribute name="Mode" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Mode">
                    <xsd:enumeration value="Add"/>
                    <xsd:enumeration value="Update"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ToDate" type="yfctype:Date" use="optional"/>
    </xsd:complexType>
    <xsd:element name="ConversionRates">
        <xsd:complexType>
            <xsd:attribute name="ConversionRateFromBase"
                type="yfctype:ConversionRate" use="optional"/>
            <xsd:attribute name="ConversionRateToBase"
                type="yfctype:ConversionRate" use="required"/>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
