Data/xapidocs/api_javadocs/XSD/YFS_manageEntitlementRuleAssignment_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/manageEntitlementRuleAssignment/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/manageEntitlementRuleAssignment/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_manageEntitlementRuleAssignment_output.xsd" yfc:rootElement="EntitlementRuleAssignmentList">
        <xsd:appinfo source="yfc:structure">
            <EntitlementRuleAssignmentList>
                <EntitlementRuleAssignment hasAttributes="Y">
                    <Customer hasAttributes="Y">
                        <BuyerOrganization hasAttributes="Y"/>
                    </Customer>
                    <Region hasAttributes="Y">
                        <RegionSchema hasAttributes="Y"/>
                        <ParentRegion hasAttributes="Y"/>
                        <ZipCodeRanges>
                            <ZipCodeRange hasAttributes="Y"/>
                        </ZipCodeRanges>
                    </Region>
                </EntitlementRuleAssignment>
            </EntitlementRuleAssignmentList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="EntitlementRuleAssignmentList" type="yfc:EntitlementRuleAssignmentListXSDType"/>
    <xsd:complexType name="EntitlementRuleAssignmentListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:EntitlementRuleAssignment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EntitlementRuleAssignment">
        <xsd:annotation yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
            <xsd:documentation>This table stores information on the assignments of selling entitlement rules to organizations and the assignments of buying entitlement rules to customers.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Customer"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Region"/>
            </xsd:all>
            <xsd:attribute name="AssignedToOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="ASSIGN_TO_ORGANIZATION_CODE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>This field indicates the organization for which the selling entitlement rule is assigned to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The identifier of the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>Level of customer membership (Gold, Tin, Platinum, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerType" type="yfctype:Text-2" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The type of customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntitlementRuleAssignmentKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ENTITLE_RULE_ASSIGNMENT_KEY" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The primary key of the YFS_ENTITLE_RULE_ASSIGNMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EntitlementRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ENTITLEMENT_RULE_HDR_KEY" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The entitlement rule that is assigned to the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>
                        <div>
				The organization that maintains the entitlement rule assignment.
			</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Purpose" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>This field indicates whether the entitlement rule is used for selling entitlement or buying entitlement.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Region" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>Region to which entitlement rule is assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The type of the relationship that exists between an organization and an enterprise (distributor, retailer, reseller, etc.).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YFS_ENTITLE_RULE_ASSIGNMENT">
                    <xsd:documentation>The vertical customer belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Customer">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER">
            <xsd:documentation>This table stores customer definitions as defined by an organization for a buyer organization, a receiving node, or a consumer.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BuyerOrganization"/>
            </xsd:all>
            <xsd:attribute name="AggregateStatus" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>AggregateStatus</code> is the resulting <code>Status</code> for the customer or contact after taking into consideration the <code>Status</code> of its customer hierarchy.  It will only go up the hierarchy to compare statuses.  The highest <code>Status</code> value (10,20,30) will always take priority. 
						Examples: 
						If the customer's <code>Status</code> is 10 (Active) and parent's <code>Status</code> is 30 (Inactive), then the current customer's <code>AggregateStatus</code> will be 30.  
						If the customer's <code>Status</code> is 20 (On Hold), parent's <code>Status</code> is 10 (Active), and child's <code>Status</code> is 30 (Inactive), then the customer's <code>AggregateStatus</code> will be 20.  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedReps"
                type="yfctype:NumberOfAssignment" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_REPS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates number of users currently assigned to this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The organization code of buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanConsumeSupplementalCapacity"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAN_CONSUME_SUPPL_CAPACITY" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This flag indicates whether the customer can be scheduled against the supplemental capacity.  Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommitmentTime" use="optional">
                <xsd:annotation yfc:columnName="COMMITMENT_TIME" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Hours taken to send commitment to the customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CustomerAssignedVendorID"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_ASSIGNED_VENDOR_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This is the ID issued by Customer to the vendor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerClassificationCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_CLASSIFICATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The classification code of customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The primary key for the YFS_CUSTOMER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a level a customer has achieved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerRewardsNo"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_REWARDS_NO" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The identifier of the customer's rewards number</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerType"
                type="yfctype:EnumCustomerType" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This field indicates the type of customer. Default value is Consumer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternalCustomerID"
                type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="EXTERNAL_CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The external identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FuncAckTime" use="optional">
                <xsd:annotation yfc:columnName="FUNC_ACK_TIME" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Hours taken to send functional acknowledgement to the customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaxAssignRepsOrTeams"
                type="yfctype:NumberOfAssignment" use="optional">
                <xsd:annotation
                    yfc:columnName="MAX_ASSIGN_REPS_OR_TEAMS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates maximum number of users or teams that can be assigned to manage this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegisteredDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REGISTERED_DATE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The date and time when the user was registered or when registration goes into effect. Default: current timestamp.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates the type of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsAsn" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_ASN" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the  customer has to be sent an advance ship notice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsCommitment" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_COMMITMENT" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the  customer has to be sent commitment against a purchase order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsFuncAck" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_FUNC_ACK" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the customer  has to be sent functional acknowledgment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SlotPreferenceType"
                type="yfctype:EnumSlotPreferenceType" use="optional">
                <xsd:annotation yfc:columnName="SLOT_PREFERENCE_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This field indicates the slot preference type of the customer. Default value is NONE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumCustomerStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a status on a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a vertical of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BuyerOrganization">
        <xsd:annotation yfc:tableName="YFS_ORGANIZATION">
            <xsd:documentation>This table stores attributes that are common to all oganizations. Organizations may play different roles in trade. For example,  Buyer, Seller, Enterprise, ShipNode.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AccountWithHub" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ACCOUNT_WITH_HUB" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The account with the hub.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorityType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="AUTHORITY_TYPE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The nature of the authority that issued the tax exemption to the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillingAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILLING_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The billing address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CatalogOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="CATALOG_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that owns the catalog of this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The contact address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CorporateAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CORPORATE_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The corporate address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreatorOrganizationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that created this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DunsNumber" type="yfctype:DunsNumber" use="optional">
                <xsd:annotation yfc:columnName="DUNS_NUMBER" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The DUNS number of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that owns the inventory of this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryPublished" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_PUBLISHED" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether inventory is published by the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsBuyer" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_BUYER" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is a buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHubOrganization" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HUB_ORGANIZATION" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is hub. There can be only one hub organization in the system, and that organization is the owner of the entire market place. A hub organization has maximum visibility in the market place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsLegalEntity" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_LEGAL_ENTITY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is a legal entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsNode" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_NODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSourcingKept" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SOURCING_KEPT" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether sourcing is maintained for the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IssuingAuthority"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ISSUING_AUTHORITY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The authority that issued tax exemption certificate.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemXrefRule" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_XREF_RULE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The rule used for cross referencing items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The locale that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The primary key attribute for the YFS_ORGANIZATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationName"
                type="yfctype:OrganizationName" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_NAME" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The name of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="PARENT_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field indicates the parent of an organization. An organization can have multiple child organizations but only one parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentProcessingReqd"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_PROCESSING_REQD" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization requires payment processing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryEnterpriseKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_ENTERPRISE_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field indicates the primary enterprise that is associated with this organization. Organizations may participate with multiple enterprises, one of which is primary.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimarySicCode" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_SIC_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The primary SIC code of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_URL" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization's primary URL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAX_EXEMPT_FLAG" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This indicates whether the organization is exempt from taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The certificate of tax exemption.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxJurisdiction" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_JURISDICTION" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The tax jurisdiction to which the organization belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxpayerId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="TAXPAYER_ID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The tax payer identifier for the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="XrefAliasType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="XREF_ALIAS_TYPE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The cross reference alias type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="XrefOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="XREF_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Region">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>
                <div>
				This table contains information about the Region definition. A region schema key must be given to indicate the schema with which the Region is associated.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RegionSchema"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ParentRegion"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ZipCodeRanges"/>
            </xsd:all>
            <xsd:attribute name="CanAggregate" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_AGGREGATE" yfc:tableName="YFS_REGION">
                    <xsd:documentation>This flag indicates whether this region can be a parent of other regions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentRegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_REGION_KEY" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The parent region associated with this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="REGION_DESCRIPTION" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The description of this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The primary key for the YFS_REGION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_LEVEL_NAME" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The name of the region level associated with this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_NAME" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The unique name of this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RegionSchema">
        <xsd:annotation yfc:tableName="YFS_REGION_SCHEMA">
            <xsd:documentation>This table contains information about Region Schema created for an organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Country for which region schema is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Organization Key for which the region schema is created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_KEY" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Primary key attribute of YFS_REGION_SCHEMA table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionSchemaName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_SCHEMA_NAME" yfc:tableName="YFS_REGION_SCHEMA">
                    <xsd:documentation>Unique Name for the region schema.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ParentRegion">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>
                <div>
					This table contains information about the Region definition. A region schema key must be given to indicate the schema with which the Region is associated.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanAggregate" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_AGGREGATE" yfc:tableName="YFS_REGION">
                    <xsd:documentation>This flag indicates whether this region can be a parent of other regions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentRegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_REGION_KEY" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The parent region associated with this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="REGION_DESCRIPTION" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The description of this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The primary key for the YFS_REGION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_LEVEL_NAME" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The name of the region level associated with this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_NAME" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The unique name of this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZipCodeRanges">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ZipCodeRange"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ZipCodeRange">
        <xsd:annotation yfc:tableName="YFS_REGION_DETAIL">
            <xsd:documentation>This table stores information about region details for the region. This entry will be available only for the lowest region level.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Country" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The country of the region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FromZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="FROM_ZIP" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The zip code from which the range starts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ToZip" type="yfctype:ZipCode" use="optional">
                <xsd:annotation yfc:columnName="TO_ZIP" yfc:tableName="YFS_REGION_DETAIL">
                    <xsd:documentation>The zip code where the range ends.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
