Data/xapidocs/api_javadocs/XSD/YFS_createPriceSet_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createPriceSet/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createPriceSet/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createPriceSet_input.xsd" yfc:rootElement="PriceSet">
        <xsd:appinfo source="yfc:structure">
            <PriceSet hasAttributes="Y">
                <ItemPriceSetList>
                    <ItemPriceSet hasAttributes="Y">
                        <ItemPriceSetDtlList>
                            <ItemPriceSetDtl hasAttributes="Y"/>
                        </ItemPriceSetDtlList>
                    </ItemPriceSet>
                </ItemPriceSetList>
            </PriceSet>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceSet" type="yfc:PriceSetXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_SET">
            <xsd:documentation>
                <div>
				The Price List master table. Stores a list of valid price lists for an organization.
					<Validation>
                        <Condition>
                            <code>PriceSet</code> should be the root node. If not valid:
						</Condition>
                        <Error
                            Description="Input document is empty or contains invalid data" ErrorCode="YFS10363"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceSetXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemPriceSetList"/>
        </xsd:all>
        <xsd:attribute name="ActiveFlag" use="optional">
            <xsd:annotation yfc:columnName="ACTIVE_FLAG" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Only Price Sets which are marked as active will be considered when computing tax.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="required">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>
                    <div>
						The currency.
						<Validation>
                            <Condition>
                                <code>Currency</code> is a mandatory attribute. If not passed:
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Description of a price set.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode" type="yfctype:ItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Indicates whether the price list is for a Product, Delivery or Service Line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>
                    <div>
						Link to YFS_Organization.
						<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is a mandatory attribute. If not passed:
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> must be valid. If not valid
							</Condition>
                            <Error
                                Description="YFS:Invalid organization code" ErrorCode="YCM0019"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceSetName" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="PRICE_SET_NAME" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>
                    <div>
						The name of a price set.
						<Validation>
                            <Condition>
                                <code>PriceSetName</code> is a mandatory attribute. If not passed:
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidTillDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="VALID_TILL_DATE" yfc:tableName="YFS_PRICE_SET">
                <xsd:documentation>Price Set is valid till this date.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ItemPriceSetList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemPriceSet"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSet">
        <xsd:annotation yfc:tableName="YFS_ITEM_PRICE_SET">
            <xsd:documentation>
                <div>
						The price list for items.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ItemPriceSetDtlList"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>
                        <div>
								An Item for which a price set is maintained. 
								<Validation>
                                <Condition>
									If <code>ItemPriceSet</code> is passed, <code>ItemID</code> is mandatory. If not passed:
									</Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing" ErrorCode="YFS10364"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>List price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Product class of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RetailPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="RETAIL_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Retail price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Uom" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_ITEM_PRICE_SET">
                    <xsd:documentation>Item's Unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSetDtlList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:ItemPriceSetDtl"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ItemPriceSetDtl">
        <xsd:annotation yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
            <xsd:documentation>
                <div>
									If an item requires step pricing, this table stores the quantity breaks and associated price.
									</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BreakQtyHigh" type="yfctype:Quantity" use="required">
                <xsd:annotation yfc:columnName="BREAK_QTY_HIGH" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Break High Quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BreakQtyLow" type="yfctype:Quantity" use="required">
                <xsd:annotation yfc:columnName="BREAK_QTY_LOW" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>
                        <div>
											The Break Low quantity.
											<Validation>
                                <Condition>
                                    <code>BreakQtyLow</code> cannot be greater than <code>BreakQtyHigh</code>. If invalid:
												</Condition>
                                <Error
                                    Description="BreakQtyLow cannot be greater than BreakQtyHigh" ErrorCode="OMP10031"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Link to YFS_REGION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation yfc:columnName="UNIT_PRICE" yfc:tableName="YFS_ITEM_PRICE_SET_DTL">
                    <xsd:documentation>Unit price.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
