Data/xapidocs/api_javadocs/XSD/YFS_loadInventoryNodeCost_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/loadInventoryNodeCost/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/loadInventoryNodeCost/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_loadInventoryNodeCost_output.xsd" yfc:rootElement="Items">
        <xsd:appinfo source="yfc:structure">
            <Items>
                <Item hasAttributes="Y">
                    <Nodes>
                        <Node hasAttributes="Y"/>
                    </Nodes>
                </Item>
            </Items>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Items" type="yfc:ItemsXSDType"/>
    <xsd:complexType name="ItemsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Item"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Item">
        <xsd:annotation yfc:tableName="YFS_ITEM">
            <xsd:documentation>The table stores product information.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Nodes"/>
            </xsd:all>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>Item Id of the item for which inventory value has to be loaded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>Organization Code of the organization maintaining the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>Product Class of the item for which inventory value has to be loaded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Ship Node for which inventory value has to be adjusted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>Unit Of Measure of the item for which inventory value has to be loaded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Nodes">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Node"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Node">
        <xsd:complexType>
            <xsd:attribute name="AverageCost" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Average Cost of the item at the shipnode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryValue"
                type="yfctype:UnitPrice" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Inventory Value of the item at the shipnode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Quantity for which inventory value has to be loaded. This should be a equal to the current on-hand inventory for the item/shipnode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation>
                    <xsd:documentation>Ship Node for which inventory value has to be loaded.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
