Data/xapidocs/api_javadocs/XSD/YFS_getTransitionsForDisposition_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getTransitionsForDisposition/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getTransitionsForDisposition/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_getTransitionsForDisposition_input.xsd" yfc:rootElement="ReturnDisposition">
        <xsd:appinfo source="yfc:structure">
            <ReturnDisposition hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReturnDisposition" type="yfc:ReturnDispositionXSDType">
        <xsd:annotation yfc:tableName="YFS_RETURN_DISPOSITION">
            <xsd:documentation>
                <div>
                Configuration table. Stores rules for handling of dispositions. Based on a chosen disposition, inventory can be updated or product class switched for the item.
                    <Validation>
                        <Condition>
                        (<code>DispositionKey</code> or <code>DispositionCode</code>), (<code>OrganizationCode</code> or <code>CallingOrganizationCode</code>) and <code>DocumentType</code> should be passed in the input. Errors if the unique keys are not passed:     
                        </Condition>
                        <Error
                            Description="Key attributes to get a disposition setup are missing. (DispositionKey or DispositionCode), (OrganizationCode or CallingOrganizationCode), and DocumentType should be passed." ErrorCode="OMP11021"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReturnDispositionXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="DispositionCode"
            type="yfctype:DispositionCode" use="optional">
            <xsd:annotation yfc:columnName="DISPOSITION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>A code used for identifying a return disposition.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DispositionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="DISPOSITION_KEY" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Primary key of a return disposition record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Document type for which a disposition code is defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_RETURN_DISPOSITION">
                <xsd:documentation>Organization Code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
