Data/xapidocs/api_javadocs/XSD/YFS_getInventorySupply_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getInventorySupply/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getInventorySupply/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getInventorySupply_input.xsd" yfc:rootElement="InventorySupply">
        <xsd:appinfo source="yfc:structure">
            <InventorySupply hasAttributes="Y">
                <Tag hasAttributes="Y"/>
            </InventorySupply>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventorySupply" type="yfc:InventorySupplyXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_SUPPLY">
            <xsd:documentation>This table stores all inventory supply information.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventorySupplyXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Tag"/>
        </xsd:all>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <code>CallingOrganizationCode</code> is used to validate against the owner of the <code>ShipNode</code> or the <code>ShipNode</code> itself when <code>ValidateShipNodeOwner</code> is set to <b>
                            <code>Y</code>
                        </b>.
					If no value is passed for <code>CallingOrganizationCode</code>, there will be no validation done against it.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderAllNodes" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates whether all nodes are to be considered in the availability checking.
						<br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>Default:<b>
                            <code>N</code>
                        </b>
                        <br/>If the <code>ConsiderAllNodes</code> value is <b>
                            <code>Y</code>
                        </b>:
						<br/>- The availability check is done without applying any distribution rule filter.
						<br/>- No particular <code>DistributionRule</code> is used and all supplies and demand for the item are considered, including unassigned demands.
						<br/>- No <code>DistributionRule</code> is used to match supplies and demands for availability calculations.
						<br/>- <code>DistributionRuleId</code> is ignored.
						<br/>
                        <br/>If the <code>ConsiderAllNodes</code> value is <b>
                            <code>N</code>
                        </b>, then either the <code>DistributionRuleId</code> passed or the calling organization's default <code>DistributionRuleId</code> is used for availability calculations.
						</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConsiderAllSegments" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Indicates whether all segments are to be considered in the availability checking.
				<br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
				 Default:<b>
                            <code>N</code>
                        </b>
                        <br/>If the <code>ConsiderAllSegments</code> value is <b>
                            <code>Y</code>
                        </b>, then all matching inventories, regardless of <code>Segment</code> and <code>SegmentType</code>, are considered. The <code>Segment</code> and <code>SegmentType</code> are ignored even if provided.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>
                    <div>
					If a <code>DistributionRuleId</code> is passed then supplies and demands are read applying the distribution rule filter.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ETA" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="ETA" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The date when this inventory supply will be first available.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                <xsd:documentation>
                    <div>
					 LotNumber. Validated if <code>ValidateItem</code> is passed as <b>
                            <code>Y</code>
                        </b>.
					 <Validation>
                            <Condition>
                                <code>ValidateItem</code>  is <b>
                                    <code>Y</code>
                                </b>, the <code>Item</code> is Tag controlled and neither <code>LotNumber</code> nor <code>Tag</code> element is passed.
						</Condition>
                            <Error
                                Description="No LotNumber or Tag information found" ErrorCode="INV10028"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>ValidateItem</code>  is <b>
                                    <code>Y</code>
                                </b>, the <code>Item</code> is not Tag controlled and <code>LotNumber</code> or <code>Tag</code> element is passed.
							</Condition>
                            <Error
                                Description="Item is not lot controlled." ErrorCode="YFSI10014"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The product class for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The segment for this inventory supply.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>The segment type for this inventory supply.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>
                    <div>
				Date when inventory is last available.   Validated if <code>ValidateItem</code> is passed as <b>
                            <code>Y</code>
                        </b>.
				If <code>ValidateItem</code> is <b>
                            <code>Y</code>
                        </b>, and the <code>Item</code> is time-sensitive and the <code>ShipByDate</code> is not passed and <code>ETA</code> is passed, then <code>ShipByDate</code> will be defaulted to <code>ETA</code> + Item's default expiration days.
				If <code>ValidateItem</code> is <b>
                            <code>Y</code>
                        </b>, and the <code>Item</code> is time-sensitive and the <code>ShipByDate</code> is not passed and <code>ETA</code> is not passed, then <code>ShipByDate</code> will be defaulted to Today + Item's default expiration days.
				<Validation>
                            <Condition>The <code>ValidateItem</code> is <b>
                                    <code>Y</code>
                                </b>, the item is not time-sensitive and <code>ShipByDate</code> is passed 
						</Condition>
                            <Error
                                Description="Item is not time sensitive" ErrorCode="YFSI10016"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Node where inventory is located. Validated if <code>ValidateShipNode</code> is passed as <b>
                            <code>Y</code>
                        </b>.
					<Validation>
                            <Condition>
                                <code>ValidateShipNode</code> is <b>
                                    <code>Y</code>
                                </b>, and an invalid <code>ShipNode</code> is passed.
						</Condition>
                            <Error Description="Invalid shipnode" ErrorCode="YFS10048"/>
                        </Validation>
                        <Validation>
                            <code>ValidateShipNode</code> is <b>
                                <code>Y</code>
                            </b>, and no <code>ShipNode</code> is passed.
							<Condition/>
                            <Error Description="No Shipnode specified" ErrorCode="YFS10005"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>ValidateShipNode</code> is <b>
                                    <code>Y</code>
                                </b>, and the <code>ShipNode</code> is not owned by the organization identified by the <code>OrganizationCode</code>.
							</Condition>
                            <Error
                                Description="Enterprise does not own the shipnode" ErrorCode="YFS10311"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SupplyType" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="SUPPLY_TYPE" yfc:tableName="YFS_INVENTORY_SUPPLY">
                <xsd:documentation>
                    <div>
					Supply is returned for the passed <code>SupplyType</code>.
					<Validation>
                            <Condition>Not a valid <code>SupplyType</code>.
						</Condition>
                            <Error Description=" No Supply Type." ErrorCode="YFSI10006"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidateItem" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Indicates if item attributes should be passed, and should be validated.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>If <b>
                            <code>Y</code>
                        </b>, item attributes must be passed, and are validated.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidateShipNode" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Indicates if a <code>ShipNode</code> should be passed, and should be validated.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>If <b>
                            <code>Y</code>
                        </b>, a <code>ShipNode</code> must be passed, and is validated.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ValidateShipNodeOwner" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					Indicates if a <code>ShipNode</code> should be passed, and if the owner of the <code>ShipNode</code> or the <code>ShipNode</code> itself should be validated against the <code>CallingOrganizationCode</code>.
					<br/>Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values: <b>
                            <code>Y</code>
                        </b> or <b>
                            <code>N</code>
                        </b>
                        <br/>If <b>
                            <code>Y</code>
                        </b>, a <code>ShipNode</code> must be passed, and the <code>CallingOrganizationCode</code> must either be the owner of the <code>ShipNode</code> or the <code>ShipNode</code> itself.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Tag">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>
                <div>
			Tag information is stored only if the Node tracks tag information in inventory.
			<Validation>
                        <Condition>
                            <code>ValidateItem</code>  is <b>
                                <code>Y</code>
                            </b>, the <code>Item</code> is Tag controlled and neither <code>LotNumber</code> nor <code>Tag</code> is passed.
				</Condition>
                        <Error
                            Description="No LotNumber or Tag information found" ErrorCode="INV10028"/>
                    </Validation>
                    <Validation>
                        <Condition>
                            <code>ValidateItem</code>  is <b>
                                <code>Y</code>
                            </b>, the <code>Item</code> is not Tag controlled and <code>LotNumber</code> attribute in <code>InventorySupply</code> element or <code>Tag</code> element is passed.
				</Condition>
                        <Error Description="Item is not lot controlled." ErrorCode="YFSI10014"/>
                    </Validation>
                    <Validation>
                        <Condition>If Tag Information is passed, the complete Tag Unique Identifiers must be passed
				</Condition>
                        <Error
                            Description="Missing Inventory Identifier Attribute." ErrorCode="INV10029"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
