Data/xapidocs/api_javadocs/XSD/YFS_ADJUST_INVENTORY.INVENTORY_COST_WRITEOFF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/ADJUST_INVENTORY/INVENTORY_COST_WRITEOFF"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/ADJUST_INVENTORY/INVENTORY_COST_WRITEOFF" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_ADJUST_INVENTORY.INVENTORY_COST_WRITEOFF.xsd" yfc:rootElement="Cost">
        <xsd:appinfo source="yfc:structure">
            <Cost hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Cost" type="yfc:CostXSDType"/>
    <xsd:complexType name="CostXSDType">
        <xsd:attribute name="AverageCost" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current Average Cost of the parent item at the production location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryValue" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>Current Inventory value of the parent item at production location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation>
                <xsd:documentation>Item Id of the parent item produced.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PostingClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>Posting Classification of the parent item produced.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimarySupplier" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Primary Supplier of the parent item produced.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation>
                <xsd:documentation>Product Class of the parent item produced.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation>
                <xsd:documentation>Quantity produced.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Production location of the parent item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionType" type="yfctype:Text-40" use="optional">
            <xsd:annotation>
                <xsd:documentation>WIP.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unit Of Measure of the parent item produced.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WriteOffAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>Inventory Write-Off Amount.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
