Data/xapidocs/api_javadocs/XSD/YFS_getDecryptedString_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getDecryptedString/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getDecryptedString/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getDecryptedString_input.xsd" yfc:rootElement="GetDecryptedString">
        <xsd:appinfo source="yfc:structure">
            <GetDecryptedString hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetDecryptedString" type="yfc:GetDecryptedStringXSDType"/>
    <xsd:complexType name="GetDecryptedStringXSDType">
        <xsd:attribute name="StringToDecrypt" type="yfctype:Text-1000" use="required">
            <xsd:annotation>
                <xsd:documentation>The string to decrypt.
				 <div>
                        <Validation>
                            <Condition>If <code>StringToDecrypt</code> is not passed.
						</Condition>
                            <Error
                                Description="StringToDecrypt is a mandatory field." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
