Data/xapidocs/api_javadocs/XSD/YFS_getEncryptedString_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getEncryptedString/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getEncryptedString/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getEncryptedString_output.xsd" yfc:rootElement="GetEncryptedString">
        <xsd:appinfo source="yfc:structure">
            <GetEncryptedString hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetEncryptedString" type="yfc:GetEncryptedStringXSDType"/>
    <xsd:complexType name="GetEncryptedStringXSDType">
        <xsd:attribute name="EncryptedString" type="yfctype:Text-1000" use="optional">
            <xsd:annotation>
                <xsd:documentation>The encrypted string.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
