Data/xapidocs/api_javadocs/XSD/YFS_createEnvironment_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createEnvironment/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createEnvironment/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createEnvironment_input.xsd" yfc:rootElement="YFSEnvironment">
        <xsd:appinfo source="yfc:structure">
            <YFSEnvironment hasAttributes="Y">
                <Templates>
                    <Template hasAttributes="Y"/>
                </Templates>
                <clientProperties>
                    <clientProperty hasAttributes="Y"/>
                </clientProperties>
            </YFSEnvironment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="YFSEnvironment" type="yfc:YFSEnvironmentXSDType"/>
    <xsd:complexType name="YFSEnvironmentXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Templates"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:clientProperties"/>
        </xsd:all>
        <xsd:attribute name="adapterName" type="yfctype:String" use="optional"/>
        <xsd:attribute name="progId" type="yfctype:String" use="required"/>
        <xsd:attribute name="systemName" type="yfctype:String" use="optional"/>
        <xsd:attribute name="tokenId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="userId" type="yfctype:String" use="required"/>
    </xsd:complexType>
    <xsd:element name="Templates">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Template"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Template">
        <xsd:annotation>
            <xsd:documentation>Template document for the API as string node under this element.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType mixed="true">
            <xsd:attribute name="ApiName" type="yfctype:CLOB" use="required">
                <xsd:annotation>
                    <xsd:documentation>The name of the API for which template is being passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="clientProperties">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:clientProperty"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="clientProperty">
        <xsd:complexType mixed="true">
            <xsd:attribute name="propertyName" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The name of the property being passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="propertyValue" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The value of the property being passed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
