Data/xapidocs/api_javadocs/XSD/YFS_Activity_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Activity_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Activity_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Activity_master.xsd" yfc:rootElement="Activity">
        <xsd:appinfo source="yfc:structure">
            <Activity hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Activity" type="yfc:ActivityXSDType">
        <xsd:annotation yfc:tableName="YFS_ACTIVITY">
            <xsd:documentation>Stores master list of diversions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ActivityXSDType">
        <xsd:attribute name="ActivityCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_CODE" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Identifier of an activity E.g. PUTAWAY, COUNT, MONOGRAM, EMBROIDER, PROGRAM FREQUENCY.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivityGroupId" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_GROUP_ID" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>The group to which an activity belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActivityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ACTIVITY_KEY" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Primary key of the YFS_ACTIVITY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Program that created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>User who created the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Description of the activity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Program that modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>User who modified the record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:String" use="optional"/>
        <xsd:attribute name="SystemDefined" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_DEFINED" yfc:tableName="YFS_ACTIVITY">
                <xsd:documentation>Indicates if the activity is system defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
