Data/xapidocs/api_javadocs/XSD/YFS_getDemandDetailsList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getDemandDetailsList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getDemandDetailsList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getDemandDetailsList_input.xsd" yfc:rootElement="DemandDetails">
        <xsd:appinfo source="yfc:structure">
            <DemandDetails hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="DemandDetails" type="yfc:DemandDetailsXSDType">
        <xsd:annotation yfc:tableName="YFS_INVTDMDDTL_VW">
            <xsd:documentation>
                <div>
					A view formed by joining the YFS_Order_Header, YFS_Order_Line, YFS_Inventory_Demand, YFS_Inventory_Item, and YFS_Invt_Demand_Details tables.<br>
					If <code>ItemID</code>, <code>ProductClass</code>, and/or <code>UnitOfMeasure</code> are passed, the list of demands is filtered, depending on the attribute passed.</br>
					If  <code>EnterpriseCode</code>,  <code>DocumentType</code> and <code>OrderNo</code> are passed, a list of demands for a particular order is returned.<br>
					If either the buyer or seller organization code is passed in the <code>OrganizationCode</code> attribute, a list of demands for a particular order organization is returned.</br>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DemandDetailsXSDType">
        <xsd:attribute name="ConsiderAllNodes" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ConsiderUnassignedDemand" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <Validation>
                            <Condition>
                                <code>ConsiderUnassignedDemand</code> cannot be passed if <code>ConsiderAllNodes</code> is passed as "Y".
				</Condition>
                            <Error
                                Description="ConsiderUnassignedDemand' cannot be passed if 'ConsiderAllNodes' is pass as 'Y'." ErrorCode="YFS10499"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="yfctype:Flag">
                    <xsd:enumeration value="Y"/>
                    <xsd:enumeration value="N"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="DemandCancelDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_CANCEL_DATE" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The cancel date on the demand.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DemandShipDate" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_SHIP_DATE" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The date when demand should be shipped.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DemandType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DEMAND_TYPE" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The demand type of the demand associates with the demand details.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The distribution group that this sourcing entry is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The document type of the order associates with the demand details.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The enterprise of the order associates with the demand details.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="required">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The item associates with the demand details.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MaximumRecords" type="yfctype:Integer" use="optional"/>
        <xsd:attribute name="MinShipByDate" use="optional">
            <xsd:annotation yfc:columnName="MIN_SHIP_BY_DATE" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The minimum ship by date of the demand.  The demand can only consume from supplies with ship by dates, which are greater than or equal to its minimum ship by date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Date"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The order order number of the order associates with the demand details.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required"/>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The product class of the item associates with the demand details.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:CommonCode" use="optional"/>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional"/>
        <xsd:attribute name="ShipNode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The node of the demand associates with the demand details.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVTDMDDTL_VW">
                <xsd:documentation>The unit of measure of the item associates with the demand details.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
