Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Service_Tools_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Service_Tools_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Service_Tools_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_Work_Order_Service_Tools_master.xsd" yfc:rootElement="WorkOrderServiceTool">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderServiceTool hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderServiceTool" type="yfc:WorkOrderServiceToolXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_SERVICE_TOOLS">
            <xsd:documentation>This table stores information about service tools included in the work order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderServiceToolXSDType">
        <xsd:attribute name="Comments" type="yfctype:Text-1500" use="optional">
            <xsd:annotation yfc:columnName="COMMENTS" yfc:tableName="YFS_WORK_ORDER_SERVICE_TOOLS">
                <xsd:documentation>Free form comments that may be recorded during the association of Service Item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemDescription" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ItemID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_WORK_ORDER_SERVICE_TOOLS">
                <xsd:documentation>The unique identifier for a Service Tool Item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QuantityRequired" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY_REQUIRED" yfc:tableName="YFS_WORK_ORDER_SERVICE_TOOLS">
                <xsd:documentation>Required quantity of the associated service tool item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_WORK_ORDER_SERVICE_TOOLS">
                <xsd:documentation>Unit of measure for the service tool item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_KEY" yfc:tableName="YFS_WORK_ORDER_SERVICE_TOOLS">
                <xsd:documentation>Primary Key of YFS_WORK_ORDER.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderServiceToolKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WO_SRVC_TOOL_KEY" yfc:tableName="YFS_WORK_ORDER_SERVICE_TOOLS">
                <xsd:documentation>Primary Key of YFS_WORK_ORDER_SERVICE_TOOLS.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
