Data/xapidocs/api_javadocs/XSD/YFS_Load_Status_Audit_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Load_Status_Audit_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Load_Status_Audit_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Load_Status_Audit_tran.xsd" yfc:rootElement="LoadStatusAudit">
        <xsd:appinfo source="yfc:structure">
            <LoadStatusAudit hasAttributes="Y">
                <OldStatus hasAttributes="Y"/>
                <NewStatus hasAttributes="Y"/>
            </LoadStatusAudit>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LoadStatusAudit" type="yfc:LoadStatusAuditXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD_STATUS_AUDIT">
            <xsd:documentation>This table stores load status change audit. Each time the load status changes because of a business process, an audit is posted along with the status, timestamp, reason code and text, user ID and program ID. All transactions in the load pipeline have entries in this table upon completion of a transaction. In addition, the receiveIntransitUpdates API posts transport status updates for additional transport statuses that are not a part of the delivery (load) pipeline.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadStatusAuditXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OldStatus"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NewStatus"/>
        </xsd:all>
        <xsd:attribute name="City" type="yfctype:City" use="optional">
            <xsd:annotation yfc:columnName="CITY" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Indicates the city of the load's location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Country" type="yfctype:Country" use="optional">
            <xsd:annotation yfc:columnName="COUNTRY" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Indicates the country of the load's location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Latitude" use="optional">
            <xsd:annotation yfc:columnName="LATITUDE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Indicates the latitude of the load's location.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Decimal"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Load for which a status change audit is written.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadStatusAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_STATUS_AUDIT_KEY" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Primary key attribute of YFS_LOAD_STATUS_AUDIT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Location" type="yfctype:Text-4000" use="optional">
            <xsd:annotation yfc:columnName="LOCATION" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Description of the location for which the transport status is being sent across.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Longitude" use="optional">
            <xsd:annotation yfc:columnName="LONGITUDE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Indicates the longitude of the load's location.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Decimal"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Reason code indicating the reason for the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Free-form reason text indicating any additional information related to the status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="State" type="yfctype:State" use="optional">
            <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Indicates the state of the load's location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="NEW_STATUS_DATE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Status date recorded on the load at the most recent status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransportStatusCode"
            type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="TRANSPORT_STATUS_CODE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Transport status code indicating status of the load when intransit.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransportStatusDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="TRANSPORT_STATUS_DATE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Status date of the load at the transport status change.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransportationStatusText"
            type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="TRAN_STAT_TXT" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Indicates the transportation status of the load.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZipCode" type="yfctype:ZipCode" use="optional">
            <xsd:annotation yfc:columnName="ZIPCODE" yfc:tableName="YFS_LOAD_STATUS_AUDIT">
                <xsd:documentation>Indicates the country's zipcode of the load's location.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="OldStatus">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NewStatus">
        <xsd:annotation yfc:tableName="YFS_STATUS">
            <xsd:documentation>This table stores a master list of statuses associated for a process type.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Description" type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_STATUS">
                    <xsd:documentation>The description of the status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
