Data/xapidocs/api_javadocs/XSD/YFS_startReceipt_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/startReceipt/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/startReceipt/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_startReceipt_input.xsd" yfc:rootElement="Receipt">
        <xsd:appinfo source="yfc:structure">
            <Receipt hasAttributes="Y">
                <Shipment hasAttributes="Y"/>
                <Instructions>
                    <Instruction hasAttributes="Y"/>
                </Instructions>
            </Receipt>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Receipt" type="yfc:ReceiptXSDType">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReceiptXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Shipment"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Instructions"/>
        </xsd:all>
        <xsd:attribute name="ArrivalDateTime" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ARRIVAL_DATE_TIME" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The timestamp when the receipt arrived.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:DocumentType" use="required">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_DOCUMENT_PARAMS">
                <xsd:documentation>
                    <div>
					The Document Type of the order being received.
						<Validation>
                            <Condition>
                                <code>DocumentType</code> should not be void.
							</Condition>
                            <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DriverName" type="yfctype:Text-50" use="optional">
            <xsd:annotation yfc:columnName="DRIVER_NAME" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The name of the driver.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumOfCartons" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The number of cartons in the receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumOfPallets" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The number of pallets in the receipt.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OpenReceiptFlag" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OPEN_RECEIPT_FLAG" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>This flag indicates whether the receiving can be done against the receipt. Receiving can be done only for open receipts.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_DATE" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>
                    <div>
					The date when the receipt was started. If void it is defaulted to the current date.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingDock" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The receiving dock for the receipt. <code>ReceivingDock</code> is required if the receipt is being created and if the receiving node tracks inventory at location level using Sterling Warehouse Management System. 
						<Validation>
                            <Condition>
                                <code>ReceivingDock</code> should be a valid location in the warehouse.
							</Condition>
                            <Error
                                Description="Location does not exist." ErrorCode="WMS00005"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceivingNode" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The Node that is receiving the shipment. If passed alongwith <code>ShipmentKey</code>, <code>ReceiptNo</code> and <code>ReceiptHeaderKey</code> should identify an open receipt. Should be an open receipt and should be in the status that can be picked by <code>RECEIVE_RECEIPT</code> transaction.
						<Validation>
                            <Condition>
                                <code>ReceivingNode</code> should not be void.
							</Condition>
                            <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>ReceivingNode</code> should be a valid node.
							</Condition>
                            <Error Description="Invalid Receiving Node." ErrorCode="YFS10371"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TrailerLPNNo" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="TRAILER_LPN_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                <xsd:documentation>The License Plate Number of the Trailer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Shipment">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT">
            <xsd:documentation>
                <div>
				Stores shipment information. A shipment is a collection of order lines which will be shipped as a unit. One or more orders from a buyer organization may be grouped into the same shipment to minimize transportation costs.
				<Validation>
                        <Condition> The input provided should be able to find exactly one shipment.
					</Condition>
                        <Error Description="Invalid Shipment." ErrorCode="YFS10533"/>
                    </Validation>
                    <Validation>
                        <Condition>The shipment status should be eligible for INCLUDE_IN_RECEIPT transaction.
					</Condition>
                        <Error
                            Description="Shipment status is not in the pickup status for this transaction." ErrorCode="OMP10004"/>
                    </Validation>
                    <Validation>
                        <Condition>The combination of order attributes and <Code>ReleaseNo</Code> or <Code>OrderReleaseKey</Code> should identify an OrderRelease if shipment is not present on system.
					</Condition>
                        <Error
                            Description="Either Order or Order Release identifier has to be passed." ErrorCode="YFS10473"/>
                    </Validation>
                    <Validation>
                        <Condition>The combination of <Code>OrderNo</Code>, <Code>DocumentType</Code> and <Code>EnterpriseCode</Code> or <Code>OrderHeaderKey</Code> should identify an Order if shipment is not present on system.
					</Condition>
                        <Error
                            Description="YFS: Invalid Order Header Key." ErrorCode="YFS10126"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The bill of lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The buyer organization to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE"
                    yfc:isConditional="Y" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier service availed for transporting this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>A classification of data on which a particular set of business processes must be applied. In this case, it happens to be the document type of the order document - basically the document type of the orders comprising the shipment. A document type derived from the base document type 0001 - ORDER.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The enterprise to which this shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExpectedDeliveryDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EXPECTED_DELIVERY_DATE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The date on which the shipment is expected to be delivered at the buyer organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order header key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order number of the order for the shipment while creating with SingleOrder.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The order release key that is associated with this shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PodNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="POD_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The proof of delivery number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="PRO_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The progressive number assigned by a carrier to track a shipment (usually for LTL shipments).</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_NODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The node that receives the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The release number of the OrderRelease for the shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SCAC" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The carrier by which this shipment will be transported.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SealNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SEAL_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seal number on the load.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The seller organization to which the shipment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
                <xsd:annotation yfc:columnName="SHIPNODE_KEY" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The ship node where the shipment was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The shipment number. This is a part of the unique key or business key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackingNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRACKING_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_SHIPMENT">
                    <xsd:documentation>The trailer number by which the shipment leaves the ship node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instructions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Instruction"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Instruction">
        <xsd:annotation yfc:tableName="YFS_INSTRUCTION_DETAIL">
            <xsd:documentation>Generic table used to store instructions associated with various entities in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="InstructionText"
                type="yfctype:InstructionText" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TEXT" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Free-form text indicating any additional information related to the instruction type or otherwise.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionType"
                type="yfctype:InstructionType" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_TYPE" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>Categorization of instructions so that they can be grouped together for reference. For example, you may have instructions of type Pick, Pack, and Ship for an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InstructionURL" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="INSTRUCTION_URL" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>The URL relating to and/or containing the instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_INSTRUCTION_DETAIL">
                    <xsd:documentation>You could have an instruction exceeding the limits of a single record. Sequence number is used to provide a way to store a link between such instructions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
