Data/xapidocs/api_javadocs/XSD/YFS_deleteSourcingRule_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/deleteSourcingRule/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/deleteSourcingRule/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_deleteSourcingRule_input.xsd" yfc:rootElement="SourcingRuleHeader">
        <xsd:appinfo source="yfc:structure">
            <SourcingRuleHeader hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="SourcingRuleHeader" type="yfc:SourcingRuleHeaderXSDType">
        <xsd:annotation yfc:tableName="YFS_SOURCING_RULE_HDR">
            <xsd:documentation>This table stores information about sourcing rule headers which provide selection criteria for sourcing, procurement and service nodes for each organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SourcingRuleHeaderXSDType">
        <xsd:attribute name="FulfillmentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="FULFILLMENT_TYPE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The fulfillment type of this sourcing rule. This field can be matched with the corresponding field in the the YFS_ORDER_LINE table and the appropriate sourcing rule can be selected during scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification2" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION2" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing2&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification3" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION3" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field indicates the item classification associated with the &lt;b&gt;Sourcing3&lt;/b&gt; classification purpose. This field is only valid in the context of product sourcing for shipping. A blank item classification specifies all classifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemGroupCode"
            type="yfctype:EnumItemGroupCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_GROUP_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>This field incidates what kind of item this is.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The identifier of the item for which sourcing is setup. This field is only valid only for product sourcing for shipping.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NodeTypeID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="NODE_TYPE_ID" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>Indicates node type id of the receiving node associated to the sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderSourcingClassification"
            type="yfctype:Text-40" use="optional">
            <xsd:annotation
                yfc:columnName="ORDER_SOURCING_CLASSIFICATION" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The order sourcing classification used for this sourcing rule. This field can be matched with the corresponding field in the YFS_ORDER_HEADER table and the appropriate sourcing rule can be selected during scheduling.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The organization that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Purpose" type="yfctype:EnumPurpose" use="optional">
            <xsd:annotation yfc:columnName="PURPOSE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The purpose of this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The region that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The seller organization that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SourcingRuleHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SOURCING_RULE_HDR_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The primary key for the YFS_SOURCING_RULE_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToNodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="TO_NODE_KEY" yfc:tableName="YFS_SOURCING_RULE_HDR">
                <xsd:documentation>The ship node that is associated with this sourcing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
