Data/xapidocs/api_javadocs/XSD/YFS_Zone_Enterprise_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Zone_Enterprise_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Zone_Enterprise_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Zone_Enterprise_master.xsd" yfc:rootElement="ZoneEnterprise">
        <xsd:appinfo source="yfc:structure">
            <ZoneEnterprise hasAttributes="Y">
                <Enterprise hasAttributes="Y"/>
                <Zone hasAttributes="Y"/>
                <StorageConstraints>
                    <StorageConstraint hasAttributes="Y"/>
                </StorageConstraints>
            </ZoneEnterprise>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ZoneEnterprise" type="yfc:ZoneEnterpriseXSDType">
        <xsd:annotation yfc:tableName="YFS_ZONE_ENTERPRISE">
            <xsd:documentation>This table defines different enterprises that store inventory in a given zone. One or more enterprise's inventory can be stored in a zone. However, whether inventory from two different enterprises can be mixed in a location depends on the mix enterprise attribute on the zone, which is propagated to every location of the zone.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ZoneEnterpriseXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Enterprise"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Zone"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StorageConstraints"/>
        </xsd:all>
        <xsd:attribute name="Createprogid" type="yfctype:Createprogid" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>This field specifies the enterprise identifier. This is a unique key attribute of the YFS_ENTERPRISE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:Modifyprogid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneEnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ENTERPRISE_KEY" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The primary key for the YFS_ZONE_ENTERPRISE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_ZONE_ENTERPRISE">
                <xsd:documentation>The primary key for the YFS_ZONE_ENTERPRISE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Enterprise">
        <xsd:annotation yfc:tableName="YFS_ORGANIZATION">
            <xsd:documentation>This table stores attributes that are common to all oganizations. Organizations may play different roles in trade. For example,  Buyer, Seller, Enterprise, ShipNode.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AccountWithHub" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ACCOUNT_WITH_HUB" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The account with the hub.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorityType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="AUTHORITY_TYPE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The nature of the authority that issued the tax exemption to the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillingAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILLING_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The billing address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BusinessCalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BUSINESS_CALENDAR_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The default calendar that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CapacityOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="CAPACITY_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The capacity organization for this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CatalogOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="CATALOG_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that owns the catalog of this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The contact address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CorporateAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CORPORATE_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The corporate address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>Program that created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreatorOrganizationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that created this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultDistributionRuleId"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="DEFAULT_DISTRIBUTION_RULE_ID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The default distribution rule that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultPaymentRuleId"
                type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="DEFAULT_PAYMENT_RULE_ID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The default payment rule the organization adopts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DefaultPriceProgramKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="DEFAULT_PRICE_PROGRAM_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The default price program that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DunsNumber" type="yfctype:DunsNumber" use="optional">
                <xsd:annotation yfc:columnName="DUNS_NUMBER" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The DUNS number of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InheritConfigFromEnterprise"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="INHERIT_CONFIG_FROM_ENTERPRISE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The enterprise to inherit configuration parameters from.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InheritOrgConfig" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INHERIT_ORG_CONFIG" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether the configuration was inherited from the parent organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryKeptExternally"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_KEPT_EXTERNALLY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether inventory in an organization is maintained within or outside the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that owns the inventory of this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryPublished" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_PUBLISHED" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether inventory is published by the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHubOrganization" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HUB_ORGANIZATION" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is hub. There can be only one hub organization in the system, and that organization is the owner of the entire market place. A hub organization has maximum visibility in the market place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSourcingKept" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SOURCING_KEPT" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether sourcing is maintained for the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IssuingAuthority"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ISSUING_AUTHORITY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The authority that issued tax exemption certificate.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemXrefRule" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_XREF_RULE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The rule used for cross referencing items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The locale that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>Program that modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The primary key attribute for the YFS_ORGANIZATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationName"
                type="yfctype:OrganizationName" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_NAME" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The name of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="PARENT_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field indicates the parent of an organization. An organization can have multiple child organizations but only one parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentProcessingReqd"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_PROCESSING_REQD" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization requires payment processing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryEnterpriseKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_ENTERPRISE_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field indicates the primary enterprise that is associated with this organization. Organizations may participate with multiple enterprises, one of which is primary.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimarySicCode" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_SIC_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The primary SIC code of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_URL" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization's primary URL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresChainedOrder"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="REQUIRES_CHAINED_ORDER" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization requires chained order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresChangeRequest"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="REQUIRES_CHANGE_REQUEST" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAX_EXEMPT_FLAG" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This indicates whether the organization is exempt from taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The certificate of tax exemption.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxJurisdiction" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_JURISDICTION" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The tax jurisdiction to which the organization belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxpayerId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="TAXPAYER_ID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The tax payer identifier for the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="XrefAliasType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="XREF_ALIAS_TYPE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The cross reference alias type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="XrefOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="XREF_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Zone">
        <xsd:annotation yfc:tableName="YFS_ZONE">
            <xsd:documentation>This table stores the zone level setup details for a warehouse. The warehouse may be divided into multiple zones based on the product storage, packaging types, etc. Zone is a way of classifying a set of locations that share common properties. Locations belong to zones. Zone level storage constraints are auto propagated to locations through membership in a zone. The mix and do not mix constraints at zone level, apply to every single location in the zone.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttemptSKUConsolidation"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ATTEMPT_SKU_CONSOLIDATION" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This flag indicates whether the putaway item should be consolidated in a location that contains similar items as per the inventory. This attribute is used during putaway location selection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuildingNumber" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="BUILDING_NUMBER" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field identifies the building number where zone is located.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-200" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>A brief description of the zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveZone" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ZONE" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This flag indicates whether the zone is a forward pick zone. This is used by putaway location selection.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationsPerItem"
                type="yfctype:NonZeroCount" use="optional">
                <xsd:annotation yfc:columnName="LOCATIONS_PER_ITEM" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates the maximum number of locations that any item can occupy in this zone. This is relevant in zones that are close to the docks, considered premium zones, which typically stock all representative fast selling items. The number of locations per item should not exceed this number as they may occupy a more number of locations when they arrive in large numbers while receiving.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixCountryOfOrigin"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_COUNTRY_OF_ORIGIN" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items with different country of origin can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items with different country of origin will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items with different country of origin, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory with different country of origin within that zone. Never allow: Indicates that items with different country of origin will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixEnterprise"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_ENTERPRISE" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items belonging to different enterprises can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different enterprises will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different enterprises, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to various enterprises within that zone. Never allow: Indicates that items belonging to different enterprises will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixFifo"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_FIFO" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items arriving at the node on a  different date and at a different time with different FIFO numbers can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items with different FIFO numbers will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items with different FIFO numbers, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory with different FIFO numbers within that zone. Never allow: Indicates that items with different FIFO numbers will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixInventoryStatus"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_INVENTORY_STATUS" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This flag indicates whether the items belonging to different statuses can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different statuses will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different statuses, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to different statuses within that zone. Never allow: Indicates that items belonging to different statuses will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixInventoryTag"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_INVENTORY_TAG" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items belonging to different lots can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different lots will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different lots, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to various lots within that zone. Never allow: Indicates that items belonging to different lots will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixProductClass"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_PRODUCT_CLASS" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items belonging to different product classes can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different product classes will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different product classes, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to various product classes within that zone. Never allow: Indicates that items belonging to different product classes will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixReceiptNo"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_RECEIPT_NO" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items belonging to different receipts can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different receipts will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different receipts, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to different receipts within that zone. Never allow: Indicates that items belonging to different receipts will never be mixed in this zone. This ensures that the receipt number of all non-license plated stock in that location will be blanked out.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixSKU"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_SKU" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items belonging to different SKUs can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items belonging to different SKUs will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items belonging to different SKUs, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory belonging to various SKUs within that zone. Never allow: Indicates that items belonging to different SKUs will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixSegment"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_SEGMENT" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items customized for a customer or a customer's order can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items customized for a customer or a customer's order will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that customized for a customer or a customer's order, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory customized for a customer or a customer's order within that zone. Never allow: Indicates that items customized for a customer or a customer's order will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MixShipByDate"
                type="yfctype:EnumMixConstraints" use="optional">
                <xsd:annotation yfc:columnName="MIX_SHIP_BY_DATE" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field indicates whether the items with different ship by date can be mixed in a location within the zone. Valid values are: Allow only if license plated: This indicates that the items with different ship by date will be mixed in this zone, only if they are license plated. Warehouses with most of their items license plated will choose this option. Always allow: Indicates that items with different ship by date, whether license plated or not, would always be mixed in this zone. Some warehouses may choose to always allow mixing for want of real estate. A physical separation may be used to differentiate between inventory with different ship by date within that zone. Never allow: Indicates that items with different ship by date will never be mixed in this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The node key that is associated with this zone.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryBulkZoneId"
                type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_BULK_ZONE_ID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This field identifies the primary bulk zone identifier. The primary bulk zone identifies the active zone in which a bulk stock is stored to replenish the zone. This is used for forward pick zones when suggesting putaway to locations nearest to the dedicated locations.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PutOnVarianceHold" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PUT_ON_VARIANCE_HOLD" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This flag indicates whether the locations belonging to a zone are put on variance hold for pick and putaway. When negative variance is found during the count process, all locations belonging to the zone with this flag checked will be put on variance hold for pick and putaway.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackCaseLPN" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TRACK_CARTON_LPN" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This flag indicates whether the inventory is tracked in this zone. Typically, in forward pick zone, the business process may mandate that inventory should not be tracked at license plate level to avoid extra scans from the user at every pick. Otherwise, the user would need to scan the license plate for every unit picked to specify the license plate from where the stock was picked up.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackInventory" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TRACK_INVENTORY" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This flag indicates whether the inventory is tracked in this zone. In instances where a warehouse has a manufacturing plant attached to it, and it is required that there be a hand-off of inventory between these two systems, then the WMS application will simply move inventory to a location in this zone, and automatically move inventory out of the system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrackPalletLPN" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TRACK_PALLET_LPN" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>This flag indicates whether the inventory is tracked in this zone. Typically, in forward pick zone, the business process may mandate that inventory should not be tracked at license plate level to avoid extra scans from the user at every pick. Otherwise, the user would need to scan the license plate for every unit picked, to specify the license plate from where the stock was picked up.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The field indicates the zone identifier. This forms a unique key for the YFS_ZONE table associated with the NODE_KEY.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_KEY" yfc:tableName="YFS_ZONE">
                    <xsd:documentation>The primary key for the YFS_ZONE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StorageConstraints">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:StorageConstraint"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="StorageConstraint">
        <xsd:annotation yfc:tableName="YFS_STORAGE_CONSTRAINT">
            <xsd:documentation>This table stores one or more records indicating what items or category of items may be stored in a zone/location. This could also be imagined to as having dedication information for a zone/location for an item, product line, velocity, catalog organization, etc. While doing put away, these constraints are used to determine the zone to stow away received inventory. Zones or locations with no storage constraints can store any inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification1"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_1" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>This field indicates that the items are grouped under item classification one.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification2"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_2" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>This field indicates that the items are grouped under item classification two.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassification3"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION_3" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>This field indicates that the items are grouped under item classification three.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StorageConstraintKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="STORAGE_CONSTRAINT_KEY" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The primary key for the YFS_STORAGE_CONSTRAINT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ZoneEnterpriseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ZONE_ENTERPRISE_KEY" yfc:tableName="YFS_STORAGE_CONSTRAINT">
                    <xsd:documentation>The primary key for the YFS_STORAGE_CONSTRAINT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
