Data/xapidocs/api_javadocs/XSD/YFS_createImportDataEx_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/createImportDataEx/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/createImportDataEx/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_createImportDataEx_input.xsd" yfc:rootElement="CreateImportDataEx">
        <xsd:appinfo source="yfc:structure">
            <CreateImportDataEx hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CreateImportDataEx" type="yfc:CreateImportDataExXSDType">
        <xsd:annotation yfc:tableName="YFS_IMPORT">
            <xsd:documentation>This table is used as an interface table to publish/read data from/to external systems.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CreateImportDataExXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>Deprecated</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
            <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>The Service that has published the data</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ImportSystemId" type="yfctype:SystemName" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_NAME" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>The system identifier the data is published for.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InterfaceType" type="yfctype:Text-20" use="optional"/>
        <xsd:attribute name="ShipString" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="SHIP_NODE" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>Deprecated</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
            <xsd:annotation yfc:columnName="SUB_FLOW_NAME" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>The SubFlow(RuntimeID) that has published the data</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionType" type="yfctype:Text-20" use="optional"/>
        <xsd:attribute name="UserReference" type="yfctype:UserReference" use="optional">
            <xsd:annotation yfc:columnName="USER_REFERENCE" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>The User reference to this record</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="XmlImportData" type="yfctype:CLOB" use="required">
            <xsd:annotation yfc:columnName="MESSAGE" yfc:tableName="YFS_IMPORT">
                <xsd:documentation>The Data that has been published by the internal or external System</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
