Data/xapidocs/api_javadocs/XSD/YFS_Work_Order_Audit_Detail_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Audit_Detail_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Work_Order_Audit_Detail_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Work_Order_Audit_Detail_tran.xsd" yfc:rootElement="WorkOrderAuditDetail">
        <xsd:appinfo source="yfc:structure">
            <WorkOrderAuditDetail hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WorkOrderAuditDetail" type="yfc:WorkOrderAuditDetailXSDType">
        <xsd:annotation yfc:tableName="YFS_WORK_ORDER_AUDT_DTL">
            <xsd:documentation>This table stores work order attributes which were modified while excuting a transaction on the work order.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WorkOrderAuditDetailXSDType">
        <xsd:attribute name="AttributeName" type="yfctype:AttributeName" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_NAME" yfc:tableName="YFS_WORK_ORDER_AUDT_DTL">
                <xsd:documentation>The name of the attribute that was changed on the work order other than the status of the work order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderAuditDetailKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_AUDT_DTL_KEY" yfc:tableName="YFS_WORK_ORDER_AUDT_DTL">
                <xsd:documentation>Primary key.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WorkOrderStatusAuditKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WORK_ORDER_STS_AUDIT_KEY" yfc:tableName="YFS_WORK_ORDER_AUDT_DTL">
                <xsd:documentation>Foreign Key to YFS_WORK_ORDER_STS_AUDIT.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
