Data/xapidocs/api_javadocs/XSD/YFS_Count_Result_keys.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Count_Result_keys"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Count_Result_keys" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Count_Result_keys.xsd" yfc:rootElement="CountResult">
        <xsd:appinfo source="yfc:structure">
            <CountResult hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountResult" type="yfc:CountResultXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_RESULT">
            <xsd:documentation>This transaction table stores results of the count requests.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CountResultXSDType">
        <xsd:attribute name="CaseId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The count request key that is associated with this count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountResultKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_RESULT_KEY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The primary key for the YFS_COUNT_RESULT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryStatus"
            type="yfctype:InventoryStatus" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field is a unique key for the YFS_INVENTORY_STATUS table. This field refers to an inventory sub-classification based on the inventory control process results within the warehouse.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The inventory tag key that is associated with this count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates the item that was counted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>A Location in the node where count was performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The node key that is associated with this count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The organization to which the inventory belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The inventory classification of the item that is classified based on the product characteristics.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>Whenever the inventory is customized for a specific order, the inventory needs to be tracked separately. This field indicates the order to which the inventory is allocated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
            <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>Whenever inventory is customized, it needs to be tracked separately. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
            <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates the serial number that was generated during the count process.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>The task id that is associated with this count result.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT_RESULT">
                <xsd:documentation>This field indicates the item's unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
