Data/xapidocs/api_javadocs/XSD/YFS_getReceivingPreference_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getReceivingPreference/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getReceivingPreference/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getReceivingPreference_input.xsd" yfc:rootElement="ReceivingPreference">
        <xsd:appinfo source="yfc:structure">
            <ReceivingPreference hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ReceivingPreference" type="yfc:ReceivingPreferenceXSDType">
        <xsd:annotation yfc:tableName="YFS_RECEIVING_PREFERENCE">
            <xsd:documentation>This table stores receiving preferences at the enterprise level.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ReceivingPreferenceXSDType">
        <xsd:attribute name="BuyerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Buying organization code. Typically will be selling organization of the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>
                    <div>
					Document type to which the preference is defined.
						<Validation>
                            <Condition>
                                <code>DocumentType</code> should not be void.
							</Condition>
                            <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseOrgCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ENTERPRISE_ORG_CODE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>
                    <div>
					Organization code of enterprise that owns the preference.
						<Validation>
                            <Condition>
                                <code>EnterpriseOrgCode</code> should not be void.
							</Condition>
                            <Error Description="Field Mandatory." ErrorCode="YCP0046"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>The unique identifier for the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LineType" type="yfctype:LineType" use="optional">
            <xsd:annotation yfc:columnName="LINE_TYPE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Can be used in process modeling in pipeline determination or for doing conditional processing for this line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation>
                <xsd:documentation>Product class.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YFS_RECEIVING_PREFERENCE">
                <xsd:documentation>Identifies the selling organization. Must be a valid organization defined in the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation>
                <xsd:documentation>Unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
