Data/xapidocs/api_javadocs/XSD/YFS_Department_Master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Department_Master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Department_Master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Department_Master.xsd" yfc:rootElement="Department">
        <xsd:appinfo source="yfc:structure">
            <Department hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Department" type="yfc:DepartmentXSDType">
        <xsd:annotation yfc:tableName="YFS_DEPARTMENT">
            <xsd:documentation>Maintains all departments for organizations.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="DepartmentXSDType">
        <xsd:attribute name="DepartmentAbbreviation"
            type="yfctype:DepartmentAbbreviation" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_ABBR" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Abbreviation of the department name.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentCode"
            type="yfctype:DepartmentCode" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_CODE" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Identifier to the department.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DepartmentName"
            type="yfctype:DepartmentName" use="optional">
            <xsd:annotation yfc:columnName="DEPARTMENT_NAME" yfc:tableName="YFS_DEPARTMENT">
                <xsd:documentation>Name of the department.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
