Data/xapidocs/api_javadocs/XSD/YFS_Load_Stop_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Load_Stop_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Load_Stop_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Load_Stop_master.xsd" yfc:rootElement="LoadStop">
        <xsd:appinfo source="yfc:structure">
            <LoadStop hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="LoadStop" type="yfc:LoadStopXSDType">
        <xsd:annotation yfc:tableName="YFS_LOAD_STOP">
            <xsd:documentation>Stores information about a load stop. A load stop is identified by a stop node -  which is a receiving or shipping node on the system, or a stop address in cases where stop nodes do correspond to a receiving node which is not maintained on the system. A load stop is created and managed by the manageLoad API. Certain time related attributes such as actual arrival and departure dates, and the stop reached attribute are updated by the receiveIntransitUpdates API.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="LoadStopXSDType">
        <xsd:attribute name="ActualArrivalDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_ARRIVAL_DATE" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The actual arrival date and time of the load at this load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ActualDepartureDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="ACTUAL_DEPARTURE_DATE" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The actual departure date and time of the load from this load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DockLocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="DOCK_LOCATION_ID" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The identifier of the dock location for the load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedArrivalDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_ARRIVAL_DATE" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The date and time at which the load is expected to arrive at the load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExpectedDepartureDate"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="EXPECTED_DEPARTURE_DATE" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The date and time at which the load is expected to depart from the load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_KEY" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The load for which stops are maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LoadStopKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="LOAD_STOP_KEY" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The primary key for the YFS_LOAD_STOP table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopAddressKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="STOP_ADDRESS_KEY" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The stop address key. A stop may be identified alternatively by a stop address. This is typically the case when receiving or destination nodes are not maintained on the system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation yfc:columnName="STOP_NODE" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The stop node. A stop node corresponds to a receiving or ship node on the system. The information of such nodes are maintained in YFS_SHIP_NODE entity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopReached" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="STOP_REACHED" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>This flag indicate whether updates have been received for this load stop, and is updated by the receiveIntransitUpdates API.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopSequenceNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation yfc:columnName="STOP_SEQUENCE_NO" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The stop sequence number that determines the load travel path. The origin stop is assigned the sequence no. -1 and the destination stop is assigned the sequence no. 99999. All intermediate stops may be sequenced by the user to fall within this range. Stop Type attribute of the stop determines whether a stop is the origin, destination or an intermediate stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StopType" type="yfctype:EnumStopType" use="optional">
            <xsd:annotation yfc:columnName="STOP_TYPE" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The type of the load stop. There are three types of load stops: O - corresponds to the origin stop, D - corresponds to the destination stop and I - for an intermediate stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalVolumeIn" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_VOLUME_IN" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The total volume of the load as it arrives at this load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalVolumeOut" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_VOLUME_OUT" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The total volume of the load as it departs from this load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalWeightIn" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_WEIGHT_IN" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The total weight of the load as it arrives at this load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalWeightOut" type="yfctype:Dimension" use="optional">
            <xsd:annotation yfc:columnName="TOTAL_WEIGHT_OUT" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The total weight of the load as it departs from this load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="VolumeUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="VOLUME_UOM" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The unit of measure for the units of volume specified in Total_Volume_In and Total_Volume_Out attributes of this load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WeightUOM" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="WEIGHT_UOM" yfc:tableName="YFS_LOAD_STOP">
                <xsd:documentation>The unit of measure for the units of weight specified in Total_Weight_In and Total_Weight_Out attributes of this load stop.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="isHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates if data is fetched from the regular table or the history table. Valid values are Y and N.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
