Data/xapidocs/api_javadocs/XSD/YFS_postInventoryMatch_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/postInventoryMatch/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/postInventoryMatch/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_postInventoryMatch_output.xsd" yfc:rootElement="InventoryMatch">
        <xsd:appinfo source="yfc:structure">
            <InventoryMatch>
                <Match hasAttributes="Y"/>
            </InventoryMatch>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="InventoryMatch" type="yfc:InventoryMatchXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_MATCH">
            <xsd:documentation>This table stores matched data of receipts and shipments with regards to inventory costing.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InventoryMatchXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Match"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Match">
        <xsd:complexType>
            <xsd:attribute name="AccountNo" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Currency" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DateReceived" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DateShipped" type="yfctype:String" use="optional"/>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ItemID" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductClass" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Quantity" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ShipNode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SupplyReference" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SupplyReferenceType"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitCost" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
