Data/xapidocs/api_javadocs/XSD/YFS_getDistanceUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/getDistanceUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/getDistanceUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_getDistanceUE_output.xsd" yfc:rootElement="GetDistance">
        <xsd:appinfo source="yfc:structure">
            <GetDistance hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GetDistance" type="yfc:GetDistanceXSDType"/>
    <xsd:complexType name="GetDistanceXSDType">
        <xsd:attribute name="Distance" type="yfctype:Number" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The distance to be shipped.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
