Data/xapidocs/api_javadocs/XSD/YFS_Count_Request_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Count_Request_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Count_Request_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Count_Request_master.xsd" yfc:rootElement="CountRequest">
        <xsd:appinfo source="yfc:structure">
            <CountRequest hasAttributes="Y">
                <CountResultList>
                    <CountResult hasAttributes="Y">
                        <CountResultTag hasAttributes="Y"/>
                    </CountResult>
                </CountResultList>
                <LocationInventoryAuditList>
                    <LocationInventoryAudit hasAttributes="Y">
                        <TagDetail hasAttributes="Y"/>
                        <InventoryItem hasAttributes="Y"/>
                        <Receipt hasAttributes="Y"/>
                    </LocationInventoryAudit>
                </LocationInventoryAuditList>
                <AllowedTransactions>
                    <Transaction hasAttributes="Y"/>
                </AllowedTransactions>
            </CountRequest>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CountRequest" type="yfc:CountRequestXSDType">
        <xsd:annotation yfc:tableName="YFS_COUNT_REQUEST">
            <xsd:documentation>This transaction table stores count requests to perform inventory count in a warehouse. The count process in a warehouse begins with the count request.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CountRequestXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountResultList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationInventoryAuditList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AllowedTransactions"/>
        </xsd:all>
        <xsd:attribute name="CancellationReasonCode"
            type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="CANCELLATION_REASON_CODE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The cancellation reason code for canceling the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CaseId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="CountProgramName" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="COUNT_PROGRAM_NAME" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The count program name for which the count request is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The primary key for the YFS_COUNT_REQUEST table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CountRequestNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation yfc:columnName="COUNT_REQUEST_NO" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The count request number associated with the document type and node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-24" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The document type associated with the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The enterprise for which the count request is created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FinishNoLaterThan" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="FINISH_NO_LATER_THAN" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The timestamp associated with the task. This timestamp is stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromLocation" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="FROM_LOCATION" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>This is starting location of the range of locations that the user wants to count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification1"
            type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION1" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The first item classification for the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification2"
            type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION2" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The second item classification for the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemClassification3"
            type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_CLASSIFICATION3" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The third item classification for the count request.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The item to be counted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
            <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>A Location in the node where the count should be performed. The LOCATION_ID associated with the NODE_KEY field identifies a unique location in the node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The node key that is associated with this count request list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PalletId" type="yfctype:String" use="optional"/>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>A logical foreign key to the YFS_PIPELINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The count request priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The item's inventory classification, classified based on the product's characteristics. Typical examples are, FQ - First Quality, SQ - Second Quality, and so on.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>Additional information as to why the count request was cancelled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The logical foreign key to the YFS_RECEIPT_HEADER table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestType" type="yfctype:RequestType" use="optional">
            <xsd:annotation yfc:columnName="REQUEST_TYPE" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>This field indicates the count request type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RequestingUserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="REQUESTING_USER_ID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The user who requested for the count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartNoEarlierThan"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="START_NO_EARLIER_THAN" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The timestamp associated with the task. This timestamp is stamped on each task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The current status of the count request. Some of the statuses are 1100 - Count Request Created, 1200 - Count Tasks Created, 1300 - Count Tasks Completed, 2000 - Count Request Completed and 9000 - Count Request Cancelled.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToLocation" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="TO_LOCATION" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>This is the end location of the range of locations that the user wants to count.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The item's unit of measure.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ZoneId" type="yfctype:ZoneId" use="optional">
            <xsd:annotation yfc:columnName="ZONE_ID" yfc:tableName="YFS_COUNT_REQUEST">
                <xsd:documentation>The zone where the count should be performed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="CountResultList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountResult"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountResult">
        <xsd:annotation yfc:tableName="YFS_COUNT_RESULT">
            <xsd:documentation>This transaction table stores results of the count requests.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CountResultTag"/>
            </xsd:all>
            <xsd:attribute name="CaseId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CountQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="COUNT_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the physically counted quantity for the count criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The count request key that is associated with this count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountResultKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_RESULT_KEY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The primary key for the YFS_COUNT_RESULT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field is a unique key for the YFS_INVENTORY_STATUS table. This field refers to an inventory sub-classification based on the inventory control process results within the warehouse.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The inventory tag key that is associated with this count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsResolvable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_RESOLVABLE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This flag indicates whether the variance can be resolved for the count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the item that was counted.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>A Location in the node where count was performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The node key that is associated with this count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The organization to which the inventory belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PalletId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The inventory classification of the item that is classified based on the product characteristics.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>Whenever the inventory is customized for a specific order, the inventory needs to be tracked separately. This field indicates the order to which the inventory is allocated.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>Whenever inventory is customized, it needs to be tracked separately. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the serial number that was generated during the count process.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SummaryTaskId"
                type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="SUMMARY_TASK_ID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The summary task identifier associated with the count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemQuantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="SYSTEM_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the system reported quantity for the count criteria.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskId" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="TASK_ID" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>The task id that is associated with this count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates the item's unit of measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VarianceAccepted" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_ACCEPTED" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field indicates if the variance was accepted for the count result.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VarianceQuantity"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_QUANTITY" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field specifies the difference between the count quantity and system quantity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VarianceType"
                type="yfctype:EnumVarianceType" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_TYPE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field determines the variance type based on the count results. If the Variance Quantity &gt; 0, the Variance Type for the items will be 'New', 'Missing' if the Variance Quantity &lt; 0, and 'No Variance' if the Variance Quantity = 0. However, for License Plates the Variance Type will not be computed based on the Variance Quantity. Instead, the Variance Type will be set to 'New' if a Case/Pallet is found in the location, but does not exist in the system inventory of the location, 'Missing' if the Case/Pallet is not found in the location, but  exists in the system inventory of the location, 'No Variance' in situations when there is no count discrepancy.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VarianceValue"
                type="yfctype:VarianceValue" use="optional">
                <xsd:annotation yfc:columnName="VARIANCE_VALUE" yfc:tableName="YFS_COUNT_RESULT">
                    <xsd:documentation>This field is computed as the summation of VARIANCE_QUANTITY * UNIT_COST for all tasks in the count request for the latest completed iteration.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CountResultTag">
        <xsd:annotation yfc:tableName="YFS_COUNT_RESULT_TAG">
            <xsd:documentation>This transaction table stores tag information of the inventory that resulted after counting.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the batch number associated with the tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountResultKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_RESULT_KEY" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The count result key that is associated with this count result tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountResultTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_RESULT_TAG_KEY" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The primary key for the YFS_COUNT_RESULT_TAG table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the lot number associated with the inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The date on which the lot was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_COUNT_RESULT_TAG">
                    <xsd:documentation>This field indicates the revision number associated with the tag.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationInventoryAuditList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:LocationInventoryAudit"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="LocationInventoryAudit">
        <xsd:annotation yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
            <xsd:documentation>Stores audit information for every single location inventory transaction.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:TagDetail"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InventoryItem"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Receipt"/>
            </xsd:all>
            <xsd:attribute name="AuditOperation" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OPERATION" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>This flag indicates whether it was a an addition to or a substraction of inventory.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The Bill of Lading number. An audit reference indicating that this inventory transaction was for a BOL is detailed here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CaseId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="CountRequestKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUNT_REQUEST_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The count request key that is associated with this location inventory audit. This specifies the count request against which the audit is written.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CountryOfOrigin" type="yfctype:Country" use="optional">
                <xsd:annotation yfc:columnName="COUNTRY_OF_ORIGIN" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The country in which the item was manufactured.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid"
                type="yfctype:Createprogid" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The inventory organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FifoNo" type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="FIFO_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>A date based inventory attribute that helps understand the order in which stock arrived at the node. This is used to send out items that arrived earlier than the ones that arrived later.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The inventory item key that is associated with this location inventory audit. This points to a SKU that comprises the Inventory Organization, Item ID, Product Class, and Unit of Measure.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryStatus"
                type="yfctype:InventoryStatus" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_STATUS" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The status in which inventory is sub-classified once it is received in the warehouse. For example, product class is a classification of inventory that the product comes with when it arrives at the warehouse. Typical values of product class are First Quality and Second Quality. Due to additional inventory processes within the warehouse, it is required to further classify inventory. Typical inventory status values are Normal, Awaiting Inventory Check, Inventory Held, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The inventory tag key that is associated with this location inventory audit. This points to the lot and related attributes (revision, etc.) for the item whose inventory is tracked here.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocationId" type="yfctype:LocationId" use="optional">
                <xsd:annotation yfc:columnName="LOCATION_ID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The identifier for the location. This, in conjunction with NODE_KEY, identifies a unique location in the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocnInventoryAuditKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="LOCN_INVENTORY_AUDIT_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The primary key for the YFS_LOCN_INVENTORY_AUDIT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid"
                type="yfctype:Modifyprogid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The node key that is associated with this location inventory audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The order # against which inventory transaction was made. This is a part of the unique key for the order.The Enterprise code and the order # together uniquely identify an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OuterMostCaseId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="OuterMostPalletId"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="PalletId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The order line number. This is part of an order line's unique key.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The number of units of the item available at this location.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
                <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The reason for the inventory transaction. This field is typically populated when the user does an inventory adjustment. Inventory bins, which will be used to adjust inventory (for inventory synchronization) on the host systems, will be tied to this reason code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
                <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The description of the reason for the inventory adjustment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The receipt header key that is associated with this location inventory audit. This helps identify all stocks attached to a receipt. This number is of significance until the sample from the receipt has been certified as having passed or failed QC. This number is used to pull out all stocks based on the receipt. This is usually flled in situations where the LPN does not have contents.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference1" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_1" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>Generic references.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference2" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_2" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>Generic references.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference3" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_3" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>Generic references.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference4" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_4" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>Generic references.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Reference5" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="REFERENCE_5" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>Generic references.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The release number. This is generated as a one up number against that release.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Segment" type="yfctype:Segment" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The segment to which the inventory belongs. This helps to track inventory separately when the inventory is customized for a specific order so that the inventory can be allocated to that order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SegmentType" type="yfctype:SegmentType" use="optional">
                <xsd:annotation yfc:columnName="SEGMENT_TYPE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The segment type of the inventory. This field indicates the buyer or buyer category for whom the inventory is customized.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceNo" type="yfctype:LongSequence" use="optional">
                <xsd:annotation yfc:columnName="SEQUENCE_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The sequence number of the program creating the audit.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SerialNo" type="yfctype:SerialNo" use="optional">
                <xsd:annotation yfc:columnName="SERIAL_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The serial of the inventory being modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipByDate" type="yfctype:Date" use="optional">
                <xsd:annotation yfc:columnName="SHIP_BY_DATE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The date by which the item must be shipped so that it is usable. This is also referred to as the expiration date.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The shipment number against which the inventory transaction was performed.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskType" type="yfctype:TaskType" use="optional">
                <xsd:annotation yfc:columnName="TASK_TYPE" yfc:tableName="YFS_LOCN_INVENTORY_AUDIT">
                    <xsd:documentation>The nature of the work (task type) that caused the inventory picture to be altered. Typical examples are RECEIPT, PUTAWAY, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TagDetail">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_TAG">
            <xsd:documentation>This table stores tag information for inventory.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Batch Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Program that created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>User who created the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Primary key of YFS_INVENTORY_ITEM.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryTagKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_TAG_KEY" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Primary key of YFS_INVENTORY_TAG.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute1" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE1" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute2" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE2" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotAttribute3" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_ATTRIBUTE3" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Any other lot attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotKeyReference"
                type="yfctype:Text-4000" use="optional">
                <xsd:annotation yfc:columnName="LOT_KEY_REFERENCE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Stores reference information of the lot number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LotNumber" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="LOT_NUMBER" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManufacturingDate" use="optional">
                <xsd:annotation yfc:columnName="LOT_MANUFACTURE_DATE" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Lot Manufacturing Date.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Date"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Program that modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>User who modified the record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RevisionNo" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="REVISION_NO" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Revision Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalDemand" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_DEMAND" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total demand.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalOnhandSupply"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_ONHAND_SUPPLY" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total onhand type supply.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TotalOtherSupply"
                type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="TOTAL_OTHER_SUPPLY" yfc:tableName="YFS_INVENTORY_TAG">
                    <xsd:documentation>Total supply not of the type onhand.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InventoryItem">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM">
            <xsd:documentation>This table stores definitions for all inventory items.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid"
                type="yfctype:Createuserid" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryItemKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_ITEM_KEY" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The primary key for the YFS_INVENTORY_ITEM table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The code of the organization associated with this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The identifer for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The program that last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProductClass"
                type="yfctype:ProductClass" use="optional">
                <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The product class for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                    <xsd:documentation>The unit of measure for this inventory item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Receipt">
        <xsd:annotation yfc:tableName="YFS_RECEIPT_HEADER">
            <xsd:documentation>Stores receipt information. A receipt is a collection of receipt lines which are received against a shipment or order or order release.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ArrivalDateTime"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="ARRIVAL_DATE_TIME" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The timestamp when the receipt arrived.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The type of document to which a receipt belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DriverName" type="yfctype:Text-50" use="optional">
                <xsd:annotation yfc:columnName="DRIVER_NAME" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The name of the driver.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The enterprise to which this receipt belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Lockid" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NextAlertTs" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="NEXT_ALERT_TS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>A computed field used internally by the receipt monitor to proactively identify when the receipt could potentially be realerted on a business exception as per the monitor rules setup.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfCartons" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CARTONS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The number of cartons in the receipt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumOfPallets" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The number of pallets in the receipt.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OpenReceiptFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="OPEN_RECEIPT_FLAG" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>This flag indicates whether the receiving can be done against the receipt. Receiving can be done only for open receipts.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The pipeline to which this receipt belongs. This is determined during receipt creation based on the document type and several other key attributes of the shipment and order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_DATE" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The date when the receipt was started.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_HEADER_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The primary key for the YFS_RECEIPT_HEADER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptNo" type="yfctype:ReceiptNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The unique key or business key, which by itself identifies a receipt along with ReceivingNode.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingDock" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RECEIVING_DOCK_ID" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The location where the receiving is done.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceivingNode" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="RECEIVINGNODE_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The Receiving Node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The shipment key that is associated with this receipt header.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status" type="yfctype:ShortStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The status of the receipt. As various transactions in the receipts pipeline act upon Receipt, the Receipt Status changes. Typical values are 1200-Receipt Started, 1300-Receipt In Progress, 1400-Inspection In Progress, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StatusDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="STATUS_DATE" yfc:tableName="YFS_RECEIPT_HEADER">
                    <xsd:documentation>The date and time when the last status change took place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerCaseId" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AllowedTransactions">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Transaction"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Transaction">
        <xsd:annotation yfc:tableName="YFS_TRANSACTION">
            <xsd:documentation>This table stores transactions defined within the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AgentJavaClass"
                type="yfctype:JavaClass" use="optional">
                <xsd:annotation yfc:columnName="AGENT_JAVA_CLASS" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The java class used for consuming work flow messages being sent to a pipeline.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BaseTransactionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BASE_TRANSACTION_KEY" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The base transaction that is associated with this transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ChainedDocumentType"
                type="yfctype:DocumentType-24" use="optional">
                <xsd:annotation yfc:columnName="CHAINED_DOCUMENT_TYPE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The chained document type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DerivedDocumentType"
                type="yfctype:DocumentType-24" use="optional">
                <xsd:annotation yfc:columnName="DERIVED_DOCUMENT_TYPE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The derived document type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DerivedFromAbstract"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DERIVED_FROM_ABSTRACT" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether the transaction is derived from an abstract transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DropStatusFilter"
                type="yfctype:EnumDropStatusFilter" use="optional">
                <xsd:annotation yfc:columnName="DROP_STATUS_FILTER" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This field indicates how drop statuses will be filtered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternallyTriggerable"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EXTERNALLY_TRIGGERABLE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether this transaction is externally triggerable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternallyTriggered"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="EXTERNALLY_TRIGGERED" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether the transaction is externally triggered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsManual" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MANUAL" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether this is a manual transaction requiring human intervention.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListenerType"
                type="yfctype:EnumListenerType" use="optional">
                <xsd:annotation yfc:columnName="LISTENER_TYPE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This field indicates the type of the listener transaction. Each process type to process type combination consistutes a different listener type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The owner organization that is associated with this transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickStatusFilter"
                type="yfctype:EnumPickStatusFilter" use="optional">
                <xsd:annotation yfc:columnName="PICK_STATUS_FILTER" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This field indicates how pickup statuses will be filtered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PreDefined" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PRE_DEFINED" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether the transaction is a predefined transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROCESS_TYPE_KEY" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The process type that is associated with this transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresChainedDocType"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRES_CHAINED_DOC_TYPE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether this transaction requires a chained document type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RequiresDerivedDocType"
                type="yfctype:EnumRequiresDerivedDocType" use="optional">
                <xsd:annotation
                    yfc:columnName="REQUIRES_DERIVED_DOC_TYPE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This field indicates whether derived document types are required.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SingleDropStatus" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SINGLE_DROP_STATUS" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether this transaction can only have one drop status.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpawnedProcessTypeKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="SPAWNED_PROCESS_TYPE_KEY" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The process type that this transaction spawns.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SpawnsPipeline" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SPAWNS_PIPELINE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether a new type of process is spawned by this transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaskQKeyType"
                type="yfctype:TaskType-40" use="optional">
                <xsd:annotation yfc:columnName="TASK_Q_KEY_TYPE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The type of tasks this transaction processes. This field is used by the workflow engine to determine if tasks needs be created for this transaction upon completion by other transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TimeTriggerable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TIME_TRIGGERABLE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether this transaction is time triggerable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TimeTriggered" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TIME_TRIGGERED" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether the transaction is time triggered.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TranSequence"
                type="yfctype:TransactionSequence" use="optional">
                <xsd:annotation yfc:columnName="TRAN_SEQUENCE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Trangroup"
                type="yfctype:TransactionGroup" use="optional">
                <xsd:annotation yfc:columnName="TRANGROUP" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The group identifier for the transaction. This field can be used to better organize the transactions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranid" type="yfctype:TranId" use="optional">
                <xsd:annotation yfc:columnName="TRANID" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The unique identifier for a transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Tranname"
                type="yfctype:TransactionName-50" use="optional">
                <xsd:annotation yfc:columnName="TRANNAME" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The name of the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="TRANSACTION_KEY" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The primary key for the YFS_TRANSACTION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Trantype" type="yfctype:EnumTranType" use="optional">
                <xsd:annotation yfc:columnName="TRANTYPE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This field indicates the type of the transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserTaskFlowKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="USER_TASK_FLOW_KEY" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>The identifier of the user task flow associated with a transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserTriggerable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="USER_TRIGGERABLE" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>This flag indicates whether this transaction is user-triggerable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WorksOffTaskQ" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="WORKS_OFF_TASK_Q" yfc:tableName="YFS_TRANSACTION">
                    <xsd:documentation>this flag indicates whether a task queue record needs to be created for this transaction. Tasks are created if a document reaches the status picked by this transaction.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
