Data/xapidocs/api_javadocs/XSD/YFS_convertCurrency_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/convertCurrency/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/convertCurrency/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_convertCurrency_input.xsd" yfc:rootElement="convertCurrency">
        <xsd:appinfo source="yfc:structure">
            <convertCurrency hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="convertCurrency" type="yfc:convertCurrencyXSDType"/>
    <xsd:complexType name="convertCurrencyXSDType">
        <xsd:attribute name="ConversionDate" type="yfctype:Date" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The <code>ConversionDate</code> is used to determine the conversion rates in effect on that date.
				<Validation>
                            <Condition>If <code>ConversionDate</code> is not passed
					</Condition>
                            <Error Description="Blank ConversionDate." ErrorCode="YFS10347"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional"/>
        <xsd:attribute name="FromCurrency" type="yfctype:Currency" use="required">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>
                    <div>
				The currency from which the conversion should begin. The <code>InputAmount</code> is based on this currency.
				<br/>For example, if the desired conversion is to convert 1,000 euros to yen, the <code>FromCurrency</code> is euro. 
				<Validation>
                            <Condition>Must be a valid existing currency.
					</Condition>
                            <Error Description="Invalid currency." ErrorCode="YFS10325"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InputAmount" type="yfctype:Money" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The amount that is to be converted. 
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCurrency" type="yfctype:Currency" use="required">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_CURRENCY">
                <xsd:documentation>
                    <div>
				The currency to which the <code>InputAmout</code> should be converted. 
				<br/>For example, if the desired conversion is to convert 1,000 euros to yen, the <code>ToCurrency</code> is yen. 
				<Validation>
                            <Condition>Must be a valid existing currency.
					</Condition>
                            <Error Description="Invalid currency." ErrorCode="YFS10325"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
