Data/xapidocs/api_javadocs/XSD/YFS_Wave_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Wave_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Wave_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Wave_master.xsd" yfc:rootElement="Wave">
        <xsd:appinfo source="yfc:structure">
            <Wave hasAttributes="Y">
                <ShipmentGroup hasAttributes="Y"/>
            </Wave>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Wave" type="yfc:WaveXSDType">
        <xsd:annotation yfc:tableName="YFS_WAVE">
            <xsd:documentation>This table stores wave definitions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="WaveXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ShipmentGroup"/>
        </xsd:all>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:FreeText-200" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_WAVE">
                <xsd:documentation>A brief description of the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the document type to which the wave belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EstimatedMinutes" use="optional">
            <xsd:annotation yfc:columnName="ESTIMATED_MINUTES" yfc:tableName="YFS_WAVE">
                <xsd:documentation>Indicates the number of minutes it is estimated that the wave would take to execute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Count"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Node" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideConcurrentWave" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERRIDE_CONCURRENT_WAVE" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This flag indicates whether the wave overrides the concurrent wave that is released. If 'Y' is selected, the Assign Pick Location (Release Wave) agent ignores the number of waves released concurrently that is defined for a specific shipment group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverrideReleaseDate" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="OVERRIDE_RELEASE_DATE" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This flag indicates whether the wave overrides the wave release date. If 'Y' is selected, the Assign Pick Location (Release Wave) agent ignores the Release No Earlier Than and Release No Later Than date ranges.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The pipeline key that is associated with the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the priority to apply to the wave. All waves will be processed in the order of this priority.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonCode" type="yfctype:ReasonCode" use="optional">
            <xsd:annotation yfc:columnName="REASON_CODE" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the reason code for modifying the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReasonText" type="yfctype:ReasonText" use="optional">
            <xsd:annotation yfc:columnName="REASON_TEXT" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field describes any additional information as to why the wave was modified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoEarlierThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_EARLIER_THAN" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking before this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ReleaseNoLaterThan" use="optional">
            <xsd:annotation yfc:columnName="RELEASE_NO_LATER_THAN" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates that the wave is not released for picking after this date.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="RemainingMinutes" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the time required for the planned tasks that are not yet complete.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Count"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the sequence number associated with the wave.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
            <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field identifies the shipment group to which the wave belongs. The combination of the Node_Key and Shipment_Group_Id columns form a foreign key to the YFS_Wave table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="WAVE_KEY" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The primary key for the YFS_WAVE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
            <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_WAVE">
                <xsd:documentation>The wave number is a one up number that system generates to uniquely identify the wave in a node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="WaveStatus" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="WAVE_STATUS" yfc:tableName="YFS_WAVE">
                <xsd:documentation>This field indicates the status the wave is currently in.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ShipmentGroup">
        <xsd:annotation yfc:tableName="YFS_SHIPMENT_GROUP">
            <xsd:documentation>A shipment group is a group of shipments that share similar operational characteristics.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AcceptWave" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="ACCEPT_WAVE" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Valid values are: Auto, Manual, Conditional. If it is conditional then either Min_Volume or Min_No_Of_Shipments should be specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CalendarKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CALENDAR_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Calendar Key used in wave release schedule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>A brief description of the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveDateFrom"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_DATE_FROM" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the date on which the shipment group is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EffectiveDateTo" use="optional">
                <xsd:annotation yfc:columnName="EFFECTIVE_DATE_TO" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the date after which this shipment group is not available.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinNoOfShipments"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MIN_NO_OF_SHIPMENTS" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>If the number of shipments in a wave exceeds this number, the wave will be accepted automatically depending on the accept_value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinVolume" type="yfctype:Volume" use="optional">
                <xsd:annotation yfc:columnName="MIN_VOLUME" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>If volume of the wave exceeds this number, the wave will be accepted automatically depending on the accept_value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinVolumeUom" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid"
                type="yfctype:Modifyuserid" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfConcurrentWaves"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="NO_OF_CONCURRENT_WAVES" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field specifies the number of waves that were released concurrently.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Node" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="NODE_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PickStrategyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PICK_STRATEGY_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PipelineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PIPELINE_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the pipeline this wave belongs to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:EnumPriority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>Valid values are: 1 - Urgent, 2 - High, 3 - Normal (Default), 4 - Low.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SeqNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="SEQ_NO" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field indicates the sequence number for the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentGroupId" type="yfctype:ID-10" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_GROUP_ID" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>This field identifies the shipment group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentGroupKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_GROUP_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SortStrategyKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SORT_STRATEGY_KEY" yfc:tableName="YFS_SHIPMENT_GROUP">
                    <xsd:documentation>The primary key for the YFS_SHIPMENT_GROUP table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
