Data/xapidocs/api_javadocs/XSD/YFS_updateInventoryCost_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/updateInventoryCost/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/updateInventoryCost/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_updateInventoryCost_output.xsd" yfc:rootElement="Cost">
        <xsd:appinfo source="yfc:structure">
            <Cost hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Cost" type="yfc:CostXSDType">
        <xsd:annotation yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
            <xsd:documentation>This table stores information about the item cost and current inventory value of an item at a specific node.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CostXSDType">
        <xsd:attribute name="AverageCost" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="AVERAGE_COST" yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
                <xsd:documentation>Average Cost of the item at the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CostCurrency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="COST_CURRENCY" yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
                <xsd:documentation>Currency in which inventory cost is maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Enterprise Code of the transaction. This is just a reference attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="InventoryValue" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="INVENTORY_VALUE" yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
                <xsd:documentation>Total value of the current on-hand inventory for item at the shipnode.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>Standard Cost of the inventory item at the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderNo" type="yfctype:DocumentNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Order No of the transaction. This is just a reference attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Organization Code of the organization maintaining the inventory.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Prime Line No of the transaction. This is just a reference attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductClass" type="yfctype:ProductClass" use="optional">
            <xsd:annotation yfc:columnName="PRODUCT_CLASS" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>Product Class of the item for which inventory value is adjusted.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" type="yfctype:Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
                <xsd:documentation>Current on-hand inventory for the item at the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipNode" type="yfctype:ShipNode" use="optional">
            <xsd:annotation>
                <xsd:documentation>Ship Node for which inventory item cost is maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
            <xsd:annotation>
                <xsd:documentation>Sub Line No of the transaction. This is just a reference attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitCost" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation yfc:columnName="UNIT_COST" yfc:tableName="YFS_INVENTORY_ITEM_NOD_COST">
                <xsd:documentation>Standard Cost of the inventory item at the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YFS_INVENTORY_ITEM">
                <xsd:documentation>Standard Cost of the inventory item at the ship node.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
