Data/xapidocs/api_javadocs/XSD/YFS_beforeSendShipAdviceToWMSUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/beforeSendShipAdviceToWMSUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/beforeSendShipAdviceToWMSUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YFS_beforeSendShipAdviceToWMSUE_output.xsd" yfc:rootElement="WMSShipmentAdviceDownload">
        <xsd:appinfo source="yfc:structure">
            <WMSShipmentAdviceDownload hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="WMSShipmentAdviceDownload" type="yfc:WMSShipmentAdviceDownloadXSDType"/>
    <xsd:complexType name="WMSShipmentAdviceDownloadXSDType">
        <xsd:attribute name="Action" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="yfctype:String">
                    <xsd:enumeration value="Append"/>
                    <xsd:enumeration value="None"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="InterfaceData" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
