Data/xapidocs/api_javadocs/XSD/YFS_Productivity_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/Productivity_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/Productivity_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_Productivity_master.xsd" yfc:rootElement="Productivity">
        <xsd:appinfo source="yfc:structure">
            <Productivity hasAttributes="Y">
                <ProductivityReferences hasAttributes="Y"/>
                <ProductivityMetrics hasAttributes="Y"/>
            </Productivity>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Productivity" type="yfc:ProductivityXSDType">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ProductivityXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProductivityReferences"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ProductivityMetrics"/>
        </xsd:all>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:Createuserid" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DateOfExecution" type="yfctype:Date" use="optional">
            <xsd:annotation yfc:columnName="DATE_OF_EXECUTION" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The date on which the tasks were executed.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EarliestTaskStartTimeStamp"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation
                yfc:columnName="EARLIEST_TASK_START_TIME_STAMP" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The start time of the earliest task included in this productivity batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The enterprise key that is associated with this productivity.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="LatestTaskEndTimeStamp"
            type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="LATEST_TASK_END_TIME_STAMP" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The end time of the latest task included in this productivity batch.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Lockid" type="yfctype:Count" use="optional">
            <xsd:annotation yfc:columnName="LOCKID" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>An integer used to track and prevent concurrent modifications.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:Modifyuserid" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The organization of the task.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The primary key for the YFS_PRODUCTIVITY table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ProductivityType"
            type="yfctype:ProductivityType" use="optional">
            <xsd:annotation yfc:columnName="PRODUCTIVITY_TYPE" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The productivity type for which the metrics has been calculated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:LoginId" use="optional">
            <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_PRODUCTIVITY">
                <xsd:documentation>The user for whom the productivity is being defined.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ProductivityReferences">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The batch number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BolNo" type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="BOL_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The Bill of Lading number.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContainerNo" type="yfctype:ContainerNo" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The Container Number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DocumentType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="DOCUMENT_TYPE" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The document type to which the task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemClassificationCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="ITEM_CLASSIFICATION_CODE" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>An attribute used to store the classification code of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LoadNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="LOAD_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The load number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ManifestNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="MANIFEST_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>An attribute used to store manifest number assigned by carrier server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_HEADER_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The order header key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_LINE_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The order line key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="ORDER_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The order number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrderReleaseKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORDER_RELEASE_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The order release key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimeLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="PRIME_LINE_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The prime line number. This is a part of the unique key of the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReceiptNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="RECEIPT_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>Thereceipt number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ReleaseNo" type="yfctype:Count" use="optional">
                <xsd:annotation yfc:columnName="RELEASE_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The release number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Scac" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="SCAC" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The carrier organization code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentContainerKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_CONTAINER_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The shipment container key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_KEY" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The shipment key that is associated with this productivity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ShipmentNo" type="yfctype:DocumentNo" use="optional">
                <xsd:annotation yfc:columnName="SHIPMENT_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The shipment number for which the user has done some task.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubLineNo" type="yfctype:LineNo" use="optional">
                <xsd:annotation yfc:columnName="SUB_LINE_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The sub line number. This is a part of the unique key of the order line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TrailerNo"
                type="yfctype:VarcharDocumentNo" use="optional">
                <xsd:annotation yfc:columnName="TRAILER_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The trailer number by which the shipment leaves the node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="WaveNo" type="yfctype:SequenceNo" use="optional">
                <xsd:annotation yfc:columnName="WAVE_NO" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The wave number in which a task belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ProductivityMetrics">
        <xsd:annotation yfc:tableName="YFS_PRODUCTIVITY">
            <xsd:documentation>This table gives the productivity metrics for tasks done by users.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CreditedMins" type="yfctype:Quantity" use="optional">
                <xsd:annotation yfc:columnName="CREDITED_MINS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The minutes credited to the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfItems"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_ITEMS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of items handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfPallets"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_PALLETS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of pallets handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfSourceAislesVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_SOURCE_AISLES_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of source aisles visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfSourceLocationsVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_SOURCE_LOCATIONS_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of source locations visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTargetAislesVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_TARGET_AISLES_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of target aisles visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTargetLocationsVisited"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation
                    yfc:columnName="NUM_TARGET_LOCATIONS_VISITED" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of target locations visited by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfTasks"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_TASKS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of tasks performed by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NoOfUnits"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_UNITS" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of units handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NofOfCases"
                type="yfctype:ProductivityMetric" use="optional">
                <xsd:annotation yfc:columnName="NUM_OF_CASES" yfc:tableName="YFS_PRODUCTIVITY">
                    <xsd:documentation>The number of cases handled by the user.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
