Data/xapidocs/api_javadocs/XSD/YFS_changePriceProgram_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/changePriceProgram/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/changePriceProgram/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_changePriceProgram_input.xsd" yfc:rootElement="PriceProgram">
        <xsd:appinfo source="yfc:structure">
            <PriceProgram hasAttributes="Y">
                <PriceProgramDefnList>
                    <PriceProgramDefn hasAttributes="Y"/>
                </PriceProgramDefnList>
            </PriceProgram>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceProgram" type="yfc:PriceProgramXSDType">
        <xsd:annotation yfc:tableName="YFS_PRICE_PROGRAM">
            <xsd:documentation>
                <div>
			Contains data related to a price program.
				<Validation>
                        <Condition>
                            <code>PriceProgramKey</code> or <code>OrganizationCode</code> and <code>PriceProgramName</code> must be passed and must be valid.
				</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceProgramXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceProgramDefnList"/>
        </xsd:all>
        <xsd:attribute name="OrganizationCode" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Link to YFS_Organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramDescription"
            type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_DESCRIPTION" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Description of a price program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_KEY" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>Primary key that identifies a price program.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceProgramName" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="PRICE_PROGRAM_NAME" yfc:tableName="YFS_PRICE_PROGRAM">
                <xsd:documentation>The price program used for pricing the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PriceProgramDefnList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PriceProgramDefn"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceProgramDefn">
        <xsd:annotation yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
            <xsd:documentation>
                <div>
					A price program definition identifies the price list to be used for a given curreny and date.
						<Validation>
                        <Condition>If <code>Operation</code> is set to <code>
                                <b>Create</b>
                            </code>, <code>PriceSetKey</code> or <code>PriceSetName</code> must be passed and must be valid.
						</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YFS10364"/>
                    </Validation>
                    <Validation>
                        <Condition>The organization that owns the price set must be the same organization that owns the price program.
						</Condition>
                        <Error
                            Description="Price set owner organization and price program owner organization are different" ErrorCode="OMP10030"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="required">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>
                        <div>
						The currency in which pricing needs to be done. 
							<Validation>
                                <Condition>The <code>Currency</code> passed must be the same as the associated price set's.
							</Condition>
                                <Error
                                    Description="Price program definition and associated price set should have same currency" ErrorCode="OMP10032"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDate" type="yfctype:Date" use="required">
                <xsd:annotation yfc:columnName="END_DATE" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>
                        <div>
						The date the price program ends.  
							<Validation>
                                <Condition>
                                    <code>StartDate</code> must be less than <code>EndDate</code>
                                </Condition>
                                <Error
                                    Description="Start Date must be before End Date" ErrorCode="OMP10033"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <br/>Valid Values:  <b>
                                <code>Create</code>
                            </b> or <b>
                                <code>Delete</code>
                            </b>
                            <Validation>
                                <Condition>If <code>Operation</code> is set to <code>
                                    <b>Delete</b>
                                    </code>, a corresponding record should exist in system.
							</Condition>
                                <Error
                                    Description="Record does not exist in the database." ErrorCode="YFC0002"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="yfctype:String">
                        <xsd:enumeration value="Create"/>
                        <xsd:enumeration value="Delete"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceSetKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_SET_KEY" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>Price List to be used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceSetName" type="yfctype:Text-40" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The price program used for pricing the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDate" type="yfctype:Date" use="required">
                <xsd:annotation yfc:columnName="START_DATE" yfc:tableName="YFS_PRICE_PROGRAM_DEFN">
                    <xsd:documentation>
                        <div>
						The date the price program takes effect.  
							<Validation>
                                <Condition>
                                    <code>StartDate</code> must be less than <code>EndDate</code>
                                </Condition>
                                <Error
                                    Description="Start Date must be before End Date" ErrorCode="OMP10033"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
