Data/xapidocs/api_javadocs/XSD/YFS_updateMasterInvoiceNo_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/updateMasterInvoiceNo/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/updateMasterInvoiceNo/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_updateMasterInvoiceNo_input.xsd" yfc:rootElement="UpdateMasterInvoiceNo">
        <xsd:appinfo source="yfc:structure">
            <UpdateMasterInvoiceNo hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="UpdateMasterInvoiceNo" type="yfc:UpdateMasterInvoiceNoXSDType"/>
    <xsd:complexType name="UpdateMasterInvoiceNoXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="InvoiceNo" type="yfctype:DocumentNo" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The invoice number. 
					<Validation>
                            <Condition>
                                <code>InvoiceNo</code> must be passed for an existing invoice.
					</Condition>
                            <Error Description="Invalid Invoice No." ErrorCode="YFS10272"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MasterInvoiceNo" type="yfctype:DocumentNo" use="required"/>
    </xsd:complexType>
</xsd:schema>
