Data/xapidocs/api_javadocs/XSD/YFS_deleteDistribution_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFS/deleteDistribution/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFS/deleteDistribution/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFS_deleteDistribution_input.xsd" yfc:rootElement="ItemShipNode">
        <xsd:appinfo source="yfc:structure">
            <ItemShipNode hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ItemShipNode" type="yfc:ItemShipNodeXSDType">
        <xsd:annotation yfc:tableName="YFS_ITEM_SHIP_NODE">
            <xsd:documentation>This table stores distribution group information for an organization. This information is used during any inventory operation that involves distribution groups.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ItemShipNodeXSDType">
        <xsd:attribute name="DistributionRuleId"
            type="yfctype:DistributionRuleId" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTION_RULE_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The distribution group that this sourcing entry is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemId" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The unique identifier for the sourced item. "ALL" indicates all items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemshipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ITEMSHIPNODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The primary key of the YFS_ITEM_SHIP_NODE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="OWNER_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The owner organization that is associated with this distribution group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShipnodeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPNODE_KEY"
                yfc:isConditional="Y" yfc:tableName="YFS_ITEM_SHIP_NODE">
                <xsd:documentation>The ship node associated with a given item ID, or with all items if ITEM_ID is set to "ALL".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
