Data/xapidocs/api_javadocs/XSD/YFX_publishPickList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YFX/publishPickList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YFX/publishPickList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YFX_publishPickList_output.xsd" yfc:rootElement="PICKLIST">
        <xsd:appinfo source="yfc:structure">
            <PICKLIST>
                <SHIP_NODE/>
                <PAGE>
                    <PICKLISTNUMBER/>
                    <PRINT_DATE/>
                    <PICKLIST_DATE/>
                    <ORDERS>
                        <ORDER hasAttributes="Y">
                            <ORDER_RELEASE_KEY/>
                            <RELEASE_NO/>
                            <SCAC/>
                            <CARRIER_SERVICE_CODE/>
                            <SALES_ORDER_NO/>
                            <SHIP_ADVICE_NO/>
                            <ITEM>
                                <ORDERED_QTY/>
                                <ITEM_DESCRIPTION/>
                                <ITEM_ID/>
                                <UOM/>
                                <SUPPLIER_ITEM/>
                                <SUPPLIER_ITEM_DESCRIPTION/>
                                <UPC_CODE/>
                            </ITEM>
                        </ORDER>
                    </ORDERS>
                </PAGE>
                <SUMMARY>
                    <TOTALORDERS/>
                    <PICKLISTNUMBER/>
                </SUMMARY>
            </PICKLIST>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PICKLIST" type="yfc:PICKLISTXSDType"/>
    <xsd:complexType name="PICKLISTXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:SHIP_NODE"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PAGE"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:SUMMARY"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="SHIP_NODE">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="PAGE">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" name="PICKLISTNUMBER">
                    <xsd:complexType/>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PRINT_DATE"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PICKLIST_DATE"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ORDERS"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PRINT_DATE">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="PICKLIST_DATE">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="ORDERS">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:ORDER"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ORDER">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ORDER_RELEASE_KEY"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:RELEASE_NO"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SCAC"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:CARRIER_SERVICE_CODE"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SALES_ORDER_NO"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:SHIP_ADVICE_NO"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ITEM"/>
            </xsd:all>
            <xsd:attribute name="FORMAT" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ORDER_RELEASE_KEY">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="RELEASE_NO">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SCAC">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CARRIER_SERVICE_CODE">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SALES_ORDER_NO">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SHIP_ADVICE_NO">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string"/>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ITEM">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ORDERED_QTY"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ITEM_DESCRIPTION"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:ITEM_ID"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:UOM"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:SUPPLIER_ITEM"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:SUPPLIER_ITEM_DESCRIPTION"/>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:UPC_CODE"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ORDERED_QTY">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="ITEM_DESCRIPTION">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="ITEM_ID">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="UOM">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="SUPPLIER_ITEM">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="SUPPLIER_ITEM_DESCRIPTION">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="UPC_CODE">
        <xsd:complexType/>
    </xsd:element>
    <xsd:element name="SUMMARY">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:TOTALORDERS"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="PICKLISTNUMBER">
                    <xsd:complexType/>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="TOTALORDERS">
        <xsd:complexType/>
    </xsd:element>
</xsd:schema>
