Data/xapidocs/api_javadocs/XSD/YIC_getModelGroupsAndModels_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/getModelGroupsAndModels/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/getModelGroupsAndModels/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_getModelGroupsAndModels_input.xsd" yfc:rootElement="Models">
        <xsd:appinfo source="yfc:structure">
            <Models hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Models" type="yfc:ModelsXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The root XML header with criteria for fetching models. Pass the following to fetch the model groups and models:
						<br/>-<code>Language</code>
                    <br/>-<code>Country</code>
                    <br/>-<code>OrganizationCode</code> or <code>CallingOrganizationCode</code>.
						<Validation>
                        <Condition>If any of the above data is not passed.</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ModelsXSDType">
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>Calling Organization used to determine catalog organization.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Country" type="yfctype:Text-120" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The country identifier for the models.
						<Validation>
                            <Condition>
                                <code>Country</code> is not valid.</Condition>
                            <Error
                                Description="Invalid locale attributes passed to the API." ErrorCode="YIC10010"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Depth" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicates the depth of traversal.  If not specified or if the empty string the API will return only a single level of depth.  If depth is '*' then all the descendents no matter how deep they exist will be returned.
						Otherwise, the attribute should be an integer which is greater than 0.
						<Validation>
                            <Condition>
                                <code>Depth</code> is invalid. </Condition>
                            <Error Description="Invalid Integer" ErrorCode="PLT0001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Group" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The model group to start looking in.  If not specified or the empty string, the API will start from the root model group. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-120" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The language identifier for the models to search for.
						<Validation>
                            <Condition>
                                <code>Language</code> is not valid.</Condition>
                            <Error
                                Description="Invalid locale attributes passed to the API." ErrorCode="YIC10010"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE"
                yfc:isConditional="Y" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>
                    <div>
						Models maintained by the <code>Organization</code> are returned. This organization is the organization that maintains the catalog.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Variant" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The variant attribute denotes the variant (dialect) of the <code>Language</code> input
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
