Data/xapidocs/api_javadocs/XSD/YIC_purgeConfiguration_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/purgeConfiguration/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/purgeConfiguration/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_purgeConfiguration_input.xsd" yfc:rootElement="Configuration">
        <xsd:appinfo source="yfc:structure">
            <Configuration hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Configuration" type="yfc:ConfigurationXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The root node of the XML document contains header information for purge.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ConfigurationXSDType">
        <xsd:attribute name="ConfigId" type="yfctype:Key" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The Id of the configuration to purge.                    
						<Validation>
                            <Condition>If the passed <code>ConfigId</code> does not identify an existing configuration.</Condition>
                            <Error
                                Description="Invalid key was passed to the api." ErrorCode="YIC10005"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="IsHistory" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Default: <b>
                            <code>N</code>
                        </b>
                        <br/>Valid Values:
						<br/>
                        <b>
                            <code>N</code>
                        </b> - Purges the configuration from transaction to the history tables.
						<br/>
                        <b>
                            <code>Y</code>
                        </b> - Deletes configuration from history tables.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The <code>OrganizationCode</code> to be used for schema determination.	
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
