Data/xapidocs/api_javadocs/XSD/YIC_generateConfigurationBOM_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/generateConfigurationBOM/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/generateConfigurationBOM/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIC_generateConfigurationBOM_input.xsd" yfc:rootElement="GenerateBom">
        <xsd:appinfo source="yfc:structure">
            <GenerateBom hasAttributes="Y">
                <Picks>
                    <Pick hasAttributes="Y">
                        <NestedConfiguration>
                            <ConfiguratorBOM hasAttributes="Y">
                                <message hasAttributes="Y"/>
                                <LineItem hasAttributes="Y">
                                    <property hasAttributes="Y"/>
                                    <LineItem hasAttributes="Y"/>
                                    <AdditionalLinePrices>
                                    <AdditionalLinePrice hasAttributes="Y"/>
                                    </AdditionalLinePrices>
                                </LineItem>
                            </ConfiguratorBOM>
                        </NestedConfiguration>
                        <NestedProperties>
                            <properties>
                                <property hasAttributes="Y"/>
                            </properties>
                        </NestedProperties>
                    </Pick>
                </Picks>
                <InputProperties>
                    <Property hasAttributes="Y"/>
                </InputProperties>
            </GenerateBom>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="GenerateBom" type="yfc:GenerateBomXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The root xml element of the header.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GenerateBomXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Picks"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InputProperties"/>
        </xsd:all>
        <xsd:attribute name="BuyerUserId" type="yfctype:ContactUserId" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>An identifier of the customer. This is a pass through field available to user exits.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ConfigurationDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Date on which the configuration is generated. 
						This date is used for all time sensitive information associated with the configuration, like pricing, entitlements, rule and constraint evaluations etc. 
						If void it is defaulted to current date and time.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Country" type="yfctype:Text-120" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The country identifier for the models.
						<Validation>
                            <Condition>
                                <code>Country</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Country</code> is not valid.</Condition>
                            <Error
                                Description="Invalid locale attributes passed to the API." ErrorCode="YIC10010"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Currency used for pricing data selection.
		  				<Validation>
                            <Condition>
                                <code>Currency</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Currency</code> is not valid.</Condition>
                            <Error Description="YFS: Invalid currency." ErrorCode="YFS10325"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YPM_PRICELIST_ASSIGNMENT">
                <xsd:documentation>
                    <div>The identifier for the customer.
						<Validation>
                            <Condition>If not void then <code>CustomerID</code> must be of one of the valid customer.</Condition>
                            <Error
                                Description="Invalid customer Id passed in the input." ErrorCode="YIC10015"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The <code>EnterpriseCode</code> on which behalf pricing inquiry is being made. If not passed <code>OrganizationCode</code> primary enterprise will be used.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FiringPhase" type="yfctype:Text-480" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Firing Phase</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreCustomerEntitlements"
            type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
			  			If <code>IgnoreCustomerEntitlements</code> is passed as <b>
                            <code>Y</code>
                        </b> then the customer entitlements are not applied. Default value is <b>
                            <code>N</code>
                        </b>.
				  	</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-120" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The language identifier for the models to search for.
						<Validation>
                            <Condition>
                                <code>Language</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Language</code> is not valid.</Condition>
                            <Error
                                Description="Invalid locale attributes passed to the API." ErrorCode="YIC10010"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModelDepth" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The depth of the current model with respect to the root model. 
						The <code>ModelDepth</code> attribute must be set for child models. Default value is <b>
                            <code>0</code>
                        </b>.
						<Validation>
                            <Condition>
                                <code>ModelDepth</code> is invalid. </Condition>
                            <Error Description="Invalid Integer" ErrorCode="PLT0001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pricing data is read on behalf of the organization specified by <code>OrganizationCode</code>.
						<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not valid. </Condition>
                            <Error
                                Description="YFS:Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Path" type="yfctype:Text-480" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The path to the model that should be retrieved.
						<Validation>
                            <Condition>
                                <code>Path</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Path</code> is not valid.</Condition>
                            <Error
                                Description="Invalid model path has been passed in the input." ErrorCode="YIC10013"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Variant" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The variant attribute denotes the variant (dialect) of the <code>Language</code> input
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Picks">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The <code>Picks</code> element from the output of previous API 
					call should be included in the input for subsequent API call.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Pick"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Pick">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						A pick node contains the internal information about a pick. 
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NestedConfiguration"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:NestedProperties"/>
            </xsd:all>
            <xsd:attribute name="Item" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The configurator item name for a pick.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemId" type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The <code>id</code> of the configurator item. This is applicable only
							for option items created dynamically through <code>instantiateSubModel</code> API. 
							This value is initially captured while creating child model instances using 
							<code>instantiateSubModel</code> API.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Quantity" type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The quantity of the pick.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The type of action to be performed on the pick. Default value is <code>add</code>. 
							For option items created dynamically through <code>instantiateSubModel</code> API,
							the type should be specified as <code>create</code>. This value is initially captured
							while creating child model instances using <code>instantiateSubModel</code> API.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The user entered value associated with the item.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NestedConfiguration">
        <xsd:annotation>
            <xsd:documentation>
                <div>
							The configuration of the entire sub-model tree associated with the option item. The nested 
							configuration includes all the configuration information from the descendants. This information 
							is initially captured while returning from the sub-model.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConfiguratorBOM"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ConfiguratorBOM">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					This element has the header information of configurator BOM.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:message"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="LineItem">
                    <xsd:annotation>
                        <xsd:documentation>
                            <div>
							LineItems form a tree structure in that they can contain other line items.  The top most LineItem is the root of the model.  
						</div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="property">
                                <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
								The holder of properties associated with the <code>LineItem</code>. It contains:
								<ol>
                                    <li>The Configurator Properties that are attached to the items in the model and 
									flagged as "output" properties.</li>
                                    <li>The external input properties injected into the model to influence its
									runtime behavior.</li>
                                    </ol>
                                    </div>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute name="external"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
									The flag to differentiate externally injected input properties from output properties.
									The attribute value is <b>
                                    <code>Y</code>
                                    </b>, if the property is an externally injected
									input property. Default value is <b>
                                    <code>N</code>
                                    </b>.
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="name"
                                    type="yfctype:Text-480" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
									Name of the property.							
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="type"
                                    type="yfctype:Integer" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
									The type of the property in the configurator BOM.	
									<br/>Valid Values: <b>
                                    <code>bigdecimal</code>
                                    </b> or <b>
                                    <code>int</code>
                                    </b> or <b>
                                    <code>List</code>
                                    </b> or <b>
                                    <code>long</code>
                                    </b> or <b>
                                    <code>double</code>
                                    </b> or <b>
                                    <code>String</code>
                                    </b> or <b>
                                    <code>date</code>
                                    </b> or <b>
                                    <code>unknown</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="value"
                                    type="yfctype:Text-480" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
									The value of the property in string form.
								</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="LineItem">
                                <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
											LineItems form a tree structure in that they can contain other line items.  The top most LineItem is the root of the model.  
										</div>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="CommerceItemKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												An optional key for the item from an order.  These keys are preserved if it is passed in the input. It will be returned in the output.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-480" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The description of the <code>LineItem</code>.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ItemID"
                                    type="yfctype:Integer" use="required">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The item configurator ID for the item.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ItemKey"
                                    type="yfctype:Integer" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The visual modeler key for the item. This attribute is not considered in the input.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-480" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The unique name for the <code>LineItem</code> in a particular depth of the hierarchy.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Price"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The price of the <code>LineItem</code>.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity"
                                    type="yfctype:Integer" use="required">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The quantity of the item ordered for the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="RulePicked"
                                    type="yfctype:Flag" use="required">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												This attribute is true if the item was picked by a rule otherwise false.
												<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SKU"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The sku associated to the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UOM"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The UOM associated to the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Visible"
                                    type="yfctype:Flag" use="required">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												This attribute is true if the item should be visible to the user in the order, otherwise false.  Very often models contain information needed for reconfiguration that should not be visible in the order.
												<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="lockprice"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												This attribute is true if the price in the BOM should used in the order, otherwise false. 
												<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="uevValue"
                                    type="yfctype:Text-240" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The user entered value associated to the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalLinePrices"/>
                        </xsd:sequence>
                        <xsd:attribute name="CommerceItemKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								An optional key for the item from an order.  These keys are preserved if it is passed in the input. It will be returned in the output.							
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Description"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The description of the <code>LineItem</code>.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ItemID"
                            type="yfctype:Integer" use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The item configurator ID for the item.							
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ItemKey"
                            type="yfctype:Integer" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The visual modeler key for the item.  This attribute is not considered in the input.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Name"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The unique name for the <code>LineItem</code> in a particular depth of the hierarchy.							
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Price"
                            type="yfctype:UnitPrice" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The price of the <code>LineItem</code>.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Quantity"
                            type="yfctype:Integer" use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The quantity of the item ordered for the <code>LineItem</code>.								
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="RulePicked"
                            type="yfctype:Flag" use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								This attribute is true if the item was picked by a rule otherwise false.
								<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SKU"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The sku associated to the <code>LineItem</code>.								
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UOM" type="yfctype:UOM" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The UOM associated to the <code>LineItem</code>.								
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Visible"
                            type="yfctype:Flag" use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								This attribute is true if the item should be visible to the user in the order, otherwise false.  Very often models contain information needed for reconfiguration that should not be visible in the order.
								<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="lockprice"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								This attribute is true if the price in the BOM should used in the order, otherwise false. 
								<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="uevValue"
                            type="yfctype:Text-240" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The user entered value associated to the <code>LineItem</code>.								
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="ModelName" type="yfctype:Text-254" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The full configurator name for the model.
						<Validation>
                                <Condition>
                                    <code>ModelName</code> is not passed. </Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Version" type="yfctype:PositiveInteger" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The current BOM version.					
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="containerOnly" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This attribute is true if the model root has the container only flag set otherwise false.
						<br/>Valid Values: <b>
                                <code>true</code>
                            </b> or <b>
                                <code>false</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="errors" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This attribute is true if there are errors in the BOM, otherwise false.
						<br/>Valid Values: <b>
                                <code>true</code>
                            </b> or <b>
                                <code>false</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="message">
        <xsd:annotation>
            <xsd:documentation>
                <div>
							BOMs can contain messages about the status of the configuration and are produced by rules or constraint tables.  
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="item" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Name of the message.							
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="type" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The type of the message in the configurator BOM.	
								<br/>Valid Values: <b>
                                <code>error</code>
                            </b> or <b>
                                <code>warning</code>
                            </b> or <b>
                                <code>suggest</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="value" type="yfctype:Text-240" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The displayable value for the message.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalLinePrices">
        <xsd:annotation>
            <xsd:documentation>
                <div>
									The holder of additional line prices associated with the <code>LineItem</code>. It contains one or more <code>AdditionalLinePrice</code> elements.
								</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalLinePrice"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalLinePrice">
        <xsd:annotation yfc:tableName="YFS_ADDNL_LINE_PRICE">
            <xsd:documentation>
                <div>
										Contains the details of an additional line price type that is associated to the <code>LineItem</code>.
									</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IsPriceLocked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>
                        <div>
											This attribute is true if the price type value in the BOM should used in the order, otherwise false. 
											<br/>Valid Values: <b>
                                <code>true</code>
                            </b> or <b>
                                <code>false</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" use="optional">
                <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>
                        <div>
											The price value of the price type.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:UnitPrice"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeName" type="yfctype:Text-240" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>
                        <div>
											The name of the price type						
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="NestedProperties">
        <xsd:annotation>
            <xsd:documentation>
                <div>
							The output properties from the sub-model and its descendants associated with the option item. This information 
							is initially captured while returning from the sub-model.
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:properties"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="properties">
        <xsd:annotation>
            <xsd:documentation>
                <div>
								The holder of output properties.
							</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="property">
                    <xsd:annotation>
                        <xsd:documentation>
                            <div>
									This element holds information about properties associated to item.  
								</div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="name"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
										The name of the property.							
									</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="path"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
										The path to the item that contains the property.									
									</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="type"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
										The datatype of the property.
										<br/>Valid Values: <b>
                                    <code>bigdecimal</code>
                                    </b> or <b>
                                    <code>int</code>
                                    </b> or <b>
                                    <code>List</code>
                                    </b> or <b>
                                    <code>long</code>
                                    </b> or <b>
                                    <code>double</code>
                                    </b> or <b>
                                    <code>String</code>
                                    </b> or <b>
                                    <code>date</code>
                                    </b> or <b>
                                    <code>unknown</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="value"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
										The value in string form for the property. List values are returned with each value separated by a carriage return.		
									</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="InputProperties">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					A holder of input properties applicable for the current model. It contains:
					<ol>
                        <li>External properties to be injected into the current model.</li>
                        <li>Properties derived from parent state, based on the input property list defined in the current model. 
						This information is initially captured while punching into the current model from its parent.</li>
                    </ol>
					These input property values are considered while evaluating the rules in the current model. The <code>InputProperties</code>
					element from the output of previous API call should be included in the input for subsequent API call.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Property"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Property">
        <xsd:annotation yfc:tableName="PLT_PROPERTY">
            <xsd:documentation>
                <div>
						This element holds information about input properties for the current model. 
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="External" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
				  			The flag to indicate whether the property is an external input property or not. If <code>External</code> 
				  			is passed as <b>
                                <code>Y</code>
                            </b>, the property is injected into the model and also captured in the BOM 
				  			under the corresponding <code>LineItem</code>. Default value is <b>
                                <code>N</code>
                            </b>.
					  	</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The name of the property in the property pool.
							<code>Name</code> is mandatory, if the property is an external input property.		
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The path to a property from the property pool.
							<code>Path</code> is mandatory, if the property is an external input property.				
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The datatype of the property. Valid values: 
							<code>String</code> or <code>Double</code> or <code>Integer</code> or <code>List</code> or <code>Date</code>.
							<code>Type</code> is mandatory, if the property is an external input property.
							<Validation>
                                <Condition>
                                    <code>Type</code> is not valid.</Condition>
                                <Error
                                    Description="Invalid property type was passed in input." ErrorCode="YIC10020"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The value of the property.				
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
