Data/xapidocs/api_javadocs/XSD/YIC_getConfigurationModel_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationModel/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationModel/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_getConfigurationModel_output.xsd" yfc:rootElement="Model">
        <xsd:appinfo source="yfc:structure">
            <Model hasAttributes="Y">
                <Tab hasAttributes="Y">
                    <Member hasAttributes="Y"/>
                </Tab>
                <Property hasAttributes="Y"/>
                <Optionclass hasAttributes="Y">
                    <Property hasAttributes="Y"/>
                    <Optionitem hasAttributes="Y">
                        <Property hasAttributes="Y"/>
                    </Optionitem>
                </Optionclass>
            </Model>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Model" type="yfc:ModelXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					A model is a terminal node and represents a configurable product or a reusable building block.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ModelXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Tab"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Property">
                <xsd:annotation yfc:tableName="PLT_PROPERTY">
                    <xsd:documentation>
                        <div>
					This element holds information about properties associated to item.  
				</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="Name" type="yfctype:Text-480" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The name of the property.							
					</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Path" type="yfctype:Text-120" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The path to the item that contains the property.									
					</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The datatype of the property.
						<br/>Valid Values: <b>
                                    <code>bigdecimal</code>
                                    </b> or <b>
                                    <code>int</code>
                                    </b> or <b>
                                    <code>List</code>
                                    </b> or <b>
                                    <code>long</code>
                                    </b> or <b>
                                    <code>double</code>
                                    </b> or <b>
                                    <code>String</code>
                                    </b> or <b>
                                    <code>date</code>
                                    </b> or <b>
                                    <code>unknown</code>
                                    </b>
                                </div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Value" type="yfctype:Text-480" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The value in string form for the property. List values are returned with each value separated by a carriage return.		
					</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Optionclass"/>
        </xsd:sequence>
        <xsd:attribute name="Country" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The country identifier for the model.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Depth" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The depth of items within the model that is retrieved.  
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Id" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Configurator item id of the node.  For any given model the item ids are unique within that model.  The root node of a model always has an ID 0.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The language identifier for the model.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The human-readable model name. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The configurator path to a model. This path is mangled such that special characters are replaced by their Unicode code preceded by an underscore char.						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The type of model. This attribute is returned as tree for this api.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Tab">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						This element holds information about tabs.  
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Member"/>
            </xsd:sequence>
            <xsd:attribute name="Errors" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Flag indicating if the tab returned has errors or not.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GuidingText" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The guiding text for the tab.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The name of the tab.									
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Suggestions" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Flag indicating if the tab returned has suggestions or not.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Warnings" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Flag indicating if the tab returned has warnings or not.							
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Member">
        <xsd:annotation>
            <xsd:documentation>
                <div>
							This element holds information about the member option classes.  
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Class" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The name of a member option class.									
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Optionclass">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						This element holds information about the option classes.  
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Property">
                    <xsd:annotation yfc:tableName="PLT_PROPERTY">
                        <xsd:documentation>
                            <div>
					This element holds information about properties associated to item.  
				</div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Name"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The name of the property.							
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Path"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The path to the item that contains the property.									
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Type"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The datatype of the property.
						<br/>Valid Values: <b>
                                    <code>bigdecimal</code>
                                    </b> or <b>
                                    <code>int</code>
                                    </b> or <b>
                                    <code>List</code>
                                    </b> or <b>
                                    <code>long</code>
                                    </b> or <b>
                                    <code>double</code>
                                    </b> or <b>
                                    <code>String</code>
                                    </b> or <b>
                                    <code>date</code>
                                    </b> or <b>
                                    <code>unknown</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Value"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The value in string form for the property. List values are returned with each value separated by a carriage return.		
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="unbounded" minOccurs="1" ref="yfc:Optionitem"/>
            </xsd:sequence>
            <xsd:attribute name="Id" type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							Configurator item id of the node.  For any given model the item ids are unique within that model.  The id of the root node of a model is always 0.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The name for the option class.									
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The full path to the option class. This attribute includes the option classes name as the last portion of the path.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Optionitem">
        <xsd:annotation>
            <xsd:documentation>
                <div>
							This element holds information about the option item.  
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Property">
                    <xsd:annotation yfc:tableName="PLT_PROPERTY">
                        <xsd:documentation>
                            <div>
					This element holds information about properties associated to item.  
				</div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Name"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The name of the property.							
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Path"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The path to the item that contains the property.									
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Type"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The datatype of the property.
						<br/>Valid Values: <b>
                                    <code>bigdecimal</code>
                                    </b> or <b>
                                    <code>int</code>
                                    </b> or <b>
                                    <code>List</code>
                                    </b> or <b>
                                    <code>long</code>
                                    </b> or <b>
                                    <code>double</code>
                                    </b> or <b>
                                    <code>String</code>
                                    </b> or <b>
                                    <code>date</code>
                                    </b> or <b>
                                    <code>unknown</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Value"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The value in string form for the property. List values are returned with each value separated by a carriage return.		
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Id" type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Configurator item id of the node.  For any given model, the item ids are unique within that model.  The id of the root node of a model is always 0.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The name for the option item.									
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The full path to the option item. This attribute includes option items name as the last portion of the path.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
