Data/xapidocs/api_javadocs/XSD/YIC_validateConfiguration_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/validateConfiguration/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/validateConfiguration/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_validateConfiguration_output.xsd" yfc:rootElement="ConfiguratorBOM">
        <xsd:appinfo source="yfc:structure">
            <ConfiguratorBOM hasAttributes="Y">
                <message hasAttributes="Y"/>
                <LineItem hasAttributes="Y">
                    <property hasAttributes="Y"/>
                    <LineItem hasAttributes="Y"/>
                    <AdditionalLinePrices>
                        <AdditionalLinePrice hasAttributes="Y"/>
                    </AdditionalLinePrices>
                </LineItem>
            </ConfiguratorBOM>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ConfiguratorBOM" type="yfc:ConfiguratorBOMXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					This element has the header information of configurator BOM.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ConfiguratorBOMXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:message"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LineItem">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							LineItems form a tree structure in that they can contain other line items.  The top most LineItem is the root of the model.  
						</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:property"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="LineItem">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
											LineItems form a tree structure in that they can contain other line items.  The top most LineItem is the root of the model.  
										</div>
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:attribute name="CommerceItemKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												An optional key for the item from an order.  These keys are preserved if it is passed in the input. It will be returned in the output.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Description"
                                    type="yfctype:Text-480" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The description of the <code>LineItem</code>.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ItemID"
                                    type="yfctype:Integer" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The item configurator ID for the item.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="ItemKey"
                                    type="yfctype:Integer" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The visual modeler key for the item. This attribute is not considered in the input.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Name"
                                    type="yfctype:Text-480" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The unique name for the <code>LineItem</code> in a particular depth of the hierarchy.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Price"
                                    type="yfctype:UnitPrice" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The price of the <code>LineItem</code>.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Quantity"
                                    type="yfctype:Integer" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The quantity of the item ordered for the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="RulePicked"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												This attribute is true if the item was picked by a rule otherwise false.
												<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="SKU"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The sku associated to the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="UOM"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The UOM associated to the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="Visible"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												This attribute is true if the item should be visible to the user in the order, otherwise false.  Very often models contain information needed for reconfiguration that should not be visible in the order.
												<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:AdditionalLinePrices"/>
                    </xsd:sequence>
                    <xsd:attribute name="CommerceItemKey"
                        type="yfctype:Key" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								An optional key for the item from an order.  These keys are preserved if it is passed in the input. It will be returned in the output.							
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Description"
                        type="yfctype:Text-480" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								The description of the <code>LineItem</code>.
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ItemID" type="yfctype:Integer" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								The item configurator ID for the item.							
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="ItemKey" type="yfctype:Integer" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								The visual modeler key for the item.  This attribute is not considered in the input.
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Name" type="yfctype:Text-480" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								The unique name for the <code>LineItem</code> in a particular depth of the hierarchy.							
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Price" type="yfctype:UnitPrice" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								The price of the <code>LineItem</code>.
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Quantity"
                        type="yfctype:Integer" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								The quantity of the item ordered for the <code>LineItem</code>.								
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="RulePicked" type="yfctype:Flag" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								This attribute is true if the item was picked by a rule otherwise false.
								<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                </div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="SKU" type="yfctype:Text-120" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								The sku associated to the <code>LineItem</code>.								
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="UOM" type="yfctype:UOM" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								The UOM associated to the <code>LineItem</code>.								
							</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Visible" type="yfctype:Flag" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
								This attribute is true if the item should be visible to the user in the order, otherwise false.  Very often models contain information needed for reconfiguration that should not be visible in the order.
								<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                </div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Currency used for pricing data selection.		  				
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YPM_PRICELIST_ASSIGNMENT">
                <xsd:documentation>
                    <div>The identifier for the customer.						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The <code>EnterpriseCode</code> on which behalf pricing inquiry is being made. If not passed <code>OrganizationCode</code> primary enterprise will be used.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ModelName" type="yfctype:Text-254" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The full configurator name for the model.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pricing data is read on behalf of the organization specified by <code>OrganizationCode</code>.					
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Version" type="yfctype:PositiveInteger" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The current BOM version.						
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="containerOnly" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						This attribute is true if the model root has the container only flag set otherwise false.
						<br/>Valid Values: <b>
                            <code>true</code>
                        </b> or <b>
                            <code>false</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="country" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The country identifier for the model.  			
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="errors" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						This attribute is true if there are errors in the BOM, otherwise false.
						<br/>Valid Values: <b>
                            <code>true</code>
                        </b> or <b>
                            <code>false</code>
                        </b>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="language" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The language identifier for the model . 			
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="path" type="yfctype:Text-480" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The path to the model that should be retrieved.							
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="message">
        <xsd:annotation>
            <xsd:documentation>
                <div>
							BOMs can contain messages about the status of the configuration and are produced by rules or constraint tables.  
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="item" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								Name of the message.							
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="type" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The type of the message in the configurator BOM.	
								<br/>Valid Values: <b>
                                <code>error</code>
                            </b> or <b>
                                <code>warning</code>
                            </b> or <b>
                                <code>suggestion</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="value" type="yfctype:Text-240" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
								The displayable value for the message.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="property">
        <xsd:annotation>
            <xsd:documentation>
                <div>
								The holder of properties associated with the <code>LineItem</code>. It contains:
								<ol>
                        <li>The Configurator Properties that are attached to the items in the model and 
									flagged as "output" properties.</li>
                        <li>The external input properties injected into the model to influence its
									runtime behavior.</li>
                    </ol>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="external" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The flag to differentiate externally injected input properties from output properties.
									The attribute value is <b>
                                <code>Y</code>
                            </b>, if the property is an externally injected
									input property. Default value is <b>
                                <code>N</code>
                            </b>.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="name" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									Name of the property.							
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="type" type="yfctype:Integer" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The type of the property in the configurator BOM.	
									<br/>Valid Values: <b>
                                <code>bigdecimal</code>
                            </b> or <b>
                                <code>int</code>
                            </b> or <b>
                                <code>List</code>
                            </b> or <b>
                                <code>long</code>
                            </b> or <b>
                                <code>double</code>
                            </b> or <b>
                                <code>String</code>
                            </b> or <b>
                                <code>date</code>
                            </b> or <b>
                                <code>unknown</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="value" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The value of the property in string form.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalLinePrices">
        <xsd:annotation>
            <xsd:documentation>
                <div>
									The holder of additional line prices associated with the <code>LineItem</code>. It contains one or more <code>AdditionalLinePrice</code> elements.
								</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:AdditionalLinePrice"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="AdditionalLinePrice">
        <xsd:annotation yfc:tableName="YFS_ADDNL_LINE_PRICE">
            <xsd:documentation>
                <div>
										Contains the details of an additional line price type that is associated to the <code>LineItem</code>.
									</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="IsPriceLocked" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_PRICE_LOCKED" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>
                        <div>
											This attribute is true if the price type value in the BOM should used in the order, otherwise false. 
											<br/>Valid Values: <b>
                                <code>true</code>
                            </b> or <b>
                                <code>false</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Price" use="optional">
                <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>
                        <div>
											The price value of the price type.
										</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:UnitPrice"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeName" type="yfctype:Text-240" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YFS_ADDNL_LINE_PRICE">
                    <xsd:documentation>
                        <div>
											The name of the price type						
										</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
