Data/xapidocs/api_javadocs/XSD/YIC_manageConfiguration_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/manageConfiguration/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/manageConfiguration/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_manageConfiguration_output.xsd" yfc:rootElement="manageConfiguration">
        <xsd:appinfo source="yfc:structure">
            <manageConfiguration hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="manageConfiguration" type="yfc:manageConfigurationXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The root node of the XML document. This has the header information of the saved configurator BOM.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="manageConfigurationXSDType">
        <xsd:attribute name="configId" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BOM_ID" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The ID of the saved configuration.						
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="createDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The date of creation of the record.						
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="partial" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						This is a derived attribute. The value is <code>Y</code>, if the configuraton has errors. The value of the attribute is <code>N</code> otherwise.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sku" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="SKU_NAME" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The SKU from the root node of the configuration.						
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						A caller supplied identifier string used to group saved configurations.						
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="updateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The date of subsequent update of the record.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
