Data/xapidocs/api_javadocs/XSD/YIC_getConfigurationDetail_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationDetail/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationDetail/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_getConfigurationDetail_input.xsd" yfc:rootElement="Configuration">
        <xsd:appinfo source="yfc:structure">
            <Configuration hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Configuration" type="yfc:ConfigurationXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The root node of the XML document contains header information for querying configuration detail. This is a required attribute.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ConfigurationXSDType">
        <xsd:attribute name="ConfigId" type="yfctype:Key" use="required">
            <xsd:annotation yfc:columnName="BOM_ID" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The ID of the configuration to retrieve.
						<Validation>
                            <Condition>
                                <code>ConfigId</code> is not passed or invalid. </Condition>
                            <Error
                                Description="Invalid key was passed to the api." ErrorCode="YIC10005"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The <code>OrganizationCode</code> to be used for schema determination.	
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
