Data/xapidocs/api_javadocs/XSD/YIC_getModelGroupsAndModels_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/getModelGroupsAndModels/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/getModelGroupsAndModels/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIC_getModelGroupsAndModels_output.xsd" yfc:rootElement="Models">
        <xsd:appinfo source="yfc:structure">
            <Models hasAttributes="Y">
                <Model hasAttributes="Y"/>
                <Group hasAttributes="Y">
                    <Model hasAttributes="Y"/>
                </Group>
            </Models>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Models" type="yfc:ModelsXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The root XML header with criteria for fetching models.  
					</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ModelsXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Model">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
					A model is a terminal node and represents a configurable product or a reusable building block.  
				</div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="Country"
                        type="yfctype:Text-120" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The country identifier for the model.
					</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Language"
                        type="yfctype:Text-120" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The language identifier for the model.
					</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The human-readable model name. 
					</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The configurator path to a model. This path is 'mangled' such that special characters are replaced by their Unicode code preceded by an underscore char.						
					</div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
                        <xsd:annotation>
                            <xsd:documentation>
                                <div>
						The type of model.
						<br/>Valid Values: <b>
                                    <code>model</code>
                                    </b> or <b>
                                    <code>ocg</code>
                                    </b> or <b>
                                    <code>oig</code>
                                    </b>
                                </div>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Group"/>
        </xsd:sequence>
        <xsd:attribute name="Country" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The country identifier for the models.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Depth" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						Indicated the depth of traversal.						
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Group" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The model group to start looking in. 
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The language identifier for the models to search for.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Group">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						A group is a container of other groups and models.  
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Model">
                    <xsd:annotation>
                        <xsd:documentation>
                            <div>
					A model is a terminal node and represents a configurable product or a reusable building block.  
				</div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="Country"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The country identifier for the model.
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Language"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The language identifier for the model.
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Name"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The human-readable model name. 
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Path"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The configurator path to a model. This path is 'mangled' such that special characters are replaced by their Unicode code preceded by an underscore char.						
					</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Type"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
						The type of model.
						<br/>Valid Values: <b>
                                    <code>model</code>
                                    </b> or <b>
                                    <code>ocg</code>
                                    </b> or <b>
                                    <code>oig</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="Country" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The country identifier for the model group.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Language" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The language identifier for the model group.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The human-readable name of a model group. 
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The configurator path to a model group.						
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
