Data/xapidocs/api_javadocs/XSD/YIC_getConfigurationList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_getConfigurationList_output.xsd" yfc:rootElement="getConfigurationList">
        <xsd:appinfo source="yfc:structure">
            <getConfigurationList hasAttributes="Y">
                <Configuration hasAttributes="Y"/>
            </getConfigurationList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getConfigurationList" type="yfc:getConfigurationListXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The root node of the XML document contains header information for querying configuration list.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getConfigurationListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Configuration"/>
        </xsd:sequence>
        <xsd:attribute name="TotalNumberOfRecords"
            type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The total number of returned configurations.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="limit" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The limit for the maximum number of records to be returned.			
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxCreateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The maximum create date for the returned configurations.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxUpdateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The maximum update date for the returned configurations.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="minCreateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The minimum create date for the returned configurations.					
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="minUpdateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The minimum update date for the returned configurations.						
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sku" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="SKU_NAME" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The matching top level sku of the returned configurations.					
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The type of configurations returned.						
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Configuration">
        <xsd:annotation>
            <xsd:documentation>
                <div>
						The root node of the XML document contains header information.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ConfigId" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BOM_ID" yfc:tableName="YIC_BOM_HEADER">
                    <xsd:documentation>
                        <div>
							The ID of the saved configuration.			
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreateDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YIC_BOM_HEADER">
                    <xsd:documentation>
                        <div>
							The date of creation of the record.			
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Partial" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							This flag indicates if the saved configuration has errors or not. This is a derived attribute. If there are error messages associated to the saved configuration this flag is true else false.			
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SKU" type="yfctype:Text-120" use="optional">
                <xsd:annotation yfc:columnName="SKU_NAME" yfc:tableName="YIC_BOM_HEADER">
                    <xsd:documentation>
                        <div>
							The SKU from the root node of the configuration.				
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
                <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YIC_BOM_HEADER">
                    <xsd:documentation>
                        <div>
							A caller supplied identifier string used to group saved configurations.	
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UpdateDate" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YIC_BOM_HEADER">
                    <xsd:documentation>
                        <div>
							The date of subsequent update of the record.		
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
