Data/xapidocs/api_javadocs/XSD/YIC_getConfigurationDetail_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationDetail/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationDetail/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_getConfigurationDetail_output.xsd" yfc:rootElement="Configuration">
        <xsd:appinfo source="yfc:structure">
            <Configuration hasAttributes="Y">
                <ConfiguratorBOM hasAttributes="Y">
                    <message hasAttributes="Y"/>
                    <LineItem hasAttributes="Y">
                        <property hasAttributes="Y"/>
                        <LineItem hasAttributes="Y"/>
                    </LineItem>
                </ConfiguratorBOM>
            </Configuration>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Configuration" type="yfc:ConfigurationXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The root node of the XML document contains header information.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ConfigurationXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ConfiguratorBOM"/>
        </xsd:all>
        <xsd:attribute name="ConfigId" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="BOM_ID" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The ID of the configuration to retrieve.			
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The date of creation of the record.			
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Partial" type="yfctype:Flag" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						This flag indicates if the saved configuration has errors or not. This is a derived attribute. If there are error messages associated to the saved configuration this falg is true else false.			
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SKU" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="SKU_NAME" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The SKU from the root node of the configuration.				
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						A caller supplied identifier string used to group saved configurations.	
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UpdateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						The date of subsequent update of the record.		
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="ConfiguratorBOM">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					This element has the header information of configurator BOM.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:message"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="LineItem">
                    <xsd:annotation>
                        <xsd:documentation>
                            <div>
							LineItems form a tree structure in that they can contain other line items.  The top most LineItem is the root of the model.  
						</div>
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" ref="yfc:property"/>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="LineItem">
                                <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
											LineItems form a tree structure in that they can contain other line items.  The top most LineItem is the root of the model.  
										</div>
                                    </xsd:documentation>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:attribute
                                    name="CommerceItemKey"
                                    type="yfctype:Key" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="LI_KEY" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												An optional key for the item from an order.  These keys are preserved if it is passed in the input. It will be returned in the output.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Description"
                                    type="yfctype:Text-480" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="DESCRIPTION" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												The description of the <code>LineItem</code>.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="ItemID" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="ITEM_ID" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												The item configurator ID for the item.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Integer"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="ItemKey"
                                    type="yfctype:Integer" use="optional">
                                    <xsd:annotation>
                                    <xsd:documentation>
                                    <div>
												The visual modeler key for the item. This attribute is not considered in the input.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Name"
                                    type="yfctype:Text-480" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="NAME" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												The unique name for the <code>LineItem</code> in a particular depth of the hierarchy.							
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Price" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICE" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												The price of the <code>LineItem</code>.
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:UnitPrice"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="Quantity" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="QUANTITY" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												The quantity of the item ordered for the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                    <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Integer"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                    </xsd:union>
                                    </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="RulePicked"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="RULE_PICK" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												This attribute is true if the item was picked by a rule otherwise false.
												<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="SKU"
                                    type="yfctype:Text-120" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="SKU_NAME" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												The sku associated to the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="UOM"
                                    type="yfctype:UOM" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="UOM" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												The UOM associated to the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="Visible"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VISIBLE" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												This attribute is true if the item should be visible to the user in the order, otherwise false.  Very often models contain information needed for reconfiguration that should not be visible in the order.
												<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="lockprice"
                                    type="yfctype:Flag" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="PRICE_LOCKED" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												This attribute is true if the price in the BOM should used in the order, otherwise false. 
												<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                    <xsd:attribute name="uevValue"
                                    type="yfctype:Text-240" use="optional">
                                    <xsd:annotation
                                    yfc:columnName="VALUE" yfc:tableName="YIC_BOM_LINE">
                                    <xsd:documentation>
                                    <div>
												The user entered value associated to the <code>LineItem</code>.								
											</div>
                                    </xsd:documentation>
                                    </xsd:annotation>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="CommerceItemKey"
                            type="yfctype:Key" use="optional">
                            <xsd:annotation yfc:columnName="LI_KEY" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								An optional key for the item from an order.  These keys are preserved if it is passed in the input. It will be returned in the output.							
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Description"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								The description of the <code>LineItem</code>.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ItemID" use="optional">
                            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								The item configurator ID for the item.							
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Integer"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="ItemKey"
                            type="yfctype:Integer" use="optional">
                            <xsd:annotation>
                                <xsd:documentation>
                                    <div>
								The visual modeler key for the item.  This attribute is not considered in the input.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Name"
                            type="yfctype:Text-480" use="optional">
                            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								The unique name for the <code>LineItem</code> in a particular depth of the hierarchy.							
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Price" use="optional">
                            <xsd:annotation yfc:columnName="PRICE" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								The price of the <code>LineItem</code>.
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:UnitPrice"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="Quantity" use="optional">
                            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								The quantity of the item ordered for the <code>LineItem</code>.								
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:union>
                                    <xsd:simpleType>
                                    <xsd:restriction base="yfctype:Integer"/>
                                    </xsd:simpleType>
                                    <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value=""/>
                                    </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:union>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="RulePicked"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation yfc:columnName="RULE_PICK" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								This attribute is true if the item was picked by a rule otherwise false.
								<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="SKU"
                            type="yfctype:Text-120" use="optional">
                            <xsd:annotation yfc:columnName="SKU_NAME" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								The sku associated to the <code>LineItem</code>.								
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="UOM" type="yfctype:UOM" use="optional">
                            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								The UOM associated to the <code>LineItem</code>.								
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="Visible"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation yfc:columnName="VISIBLE" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								This attribute is true if the item should be visible to the user in the order, otherwise false.  Very often models contain information needed for reconfiguration that should not be visible in the order.
								<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="lockprice"
                            type="yfctype:Flag" use="optional">
                            <xsd:annotation
                                yfc:columnName="PRICE_LOCKED" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								This attribute is true if the price in the BOM should used in the order, otherwise false. 
								<br/>Valid Values: <b>
                                    <code>true</code>
                                    </b> or <b>
                                    <code>false</code>
                                    </b>
                                    </div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="uevValue"
                            type="yfctype:Text-240" use="optional">
                            <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YIC_BOM_LINE">
                                <xsd:documentation>
                                    <div>
								The user entered value associated to the <code>LineItem</code>.								
							</div>
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="ModelName" type="yfctype:Text-254" use="optional">
                <xsd:annotation yfc:columnName="MODEL_NAME" yfc:tableName="YIC_BOM_HEADER">
                    <xsd:documentation>
                        <div>
						The full configurator name for the model.						
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Version" use="optional">
                <xsd:annotation yfc:columnName="VERSION" yfc:tableName="YIC_BOM_HEADER">
                    <xsd:documentation>
                        <div>
						The current BOM version.						
                    </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PositiveInteger"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="containerOnly" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CONTAINER_FLAG" yfc:tableName="YIC_BOM_HEADER">
                    <xsd:documentation>
                        <div>
						This attribute is true if the model root has the container only flag set otherwise false.
						<br/>Valid Values: <b>
                                <code>true</code>
                            </b> or <b>
                                <code>false</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="errors" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This attribute is true if there are errors in the BOM, otherwise false.
						<br/>Valid Values: <b>
                                <code>true</code>
                            </b> or <b>
                                <code>false</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="message">
        <xsd:annotation>
            <xsd:documentation>
                <div>
							BOMs can contain messages about the status of the configuration and are produced by rules or constraint tables.  
						</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="item" type="yfctype:Text-480" use="optional">
                <xsd:annotation yfc:columnName="ITEM_NAME" yfc:tableName="YIC_BOM_MESSAGE">
                    <xsd:documentation>
                        <div>
								Name of the message.							
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="type" type="yfctype:Text-120" use="optional">
                <xsd:annotation yfc:columnName="MESSAGE_TYPE" yfc:tableName="YIC_BOM_MESSAGE">
                    <xsd:documentation>
                        <div>
								The type of the message in the configurator BOM.	
								<br/>Valid Values: <b>
                                <code>error</code>
                            </b> or <b>
                                <code>warning</code>
                            </b> or <b>
                                <code>suggest</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="value" type="yfctype:Text-240" use="optional">
                <xsd:annotation yfc:columnName="MESSAGE" yfc:tableName="YIC_BOM_MESSAGE">
                    <xsd:documentation>
                        <div>
								The displayable value for the message.
							</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="property">
        <xsd:annotation>
            <xsd:documentation>
                <div>
								The holder of properties associated with the <code>LineItem</code>. It contains:
								<ol>
                        <li>The Configurator Properties that are attached to the items in the model and 
									flagged as "output" properties.</li>
                        <li>The external input properties injected into the model to influence its
									runtime behavior.</li>
                    </ol>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="external" type="yfctype:Flag" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
									The flag to differentiate externally injected input properties from output properties.
									The attribute value is <b>
                                <code>Y</code>
                            </b>, if the property is an externally injected
									input property. Default value is <b>
                                <code>N</code>
                            </b>.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="name" type="yfctype:Text-480" use="optional">
                <xsd:annotation yfc:columnName="PROPERTY_NAME" yfc:tableName="YIC_BOM_PROP">
                    <xsd:documentation>
                        <div>
									Name of the property.							
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="type" use="optional">
                <xsd:annotation yfc:columnName="PROPERTY_TYPE" yfc:tableName="YIC_BOM_PROP">
                    <xsd:documentation>
                        <div>
									The type of the property in the configurator BOM.	
									<br/>Valid Values: <b>
                                <code>bigdecimal</code>
                            </b> or <b>
                                <code>int</code>
                            </b> or <b>
                                <code>List</code>
                            </b> or <b>
                                <code>long</code>
                            </b> or <b>
                                <code>double</code>
                            </b> or <b>
                                <code>String</code>
                            </b> or <b>
                                <code>date</code>
                            </b> or <b>
                                <code>unknown</code>
                            </b>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Integer"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="value" type="yfctype:Text-480" use="optional">
                <xsd:annotation yfc:columnName="PROPERTY_VALUE" yfc:tableName="YIC_BOM_PROP">
                    <xsd:documentation>
                        <div>
									The value of the property in string form.
								</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
