Data/xapidocs/api_javadocs/XSD/YIC_getConfigurationList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_getConfigurationList_input.xsd" yfc:rootElement="getConfigurationList">
        <xsd:appinfo source="yfc:structure">
            <getConfigurationList hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="getConfigurationList" type="yfc:getConfigurationListXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The root node of the XML document contains header information for querying configuration list.
					<Validation>
                        <Condition>If none of the following attributes <code>limit</code>, <code>type</code>, <code>sku</code>, <code>minCreateDate</code>, <code>maxCreateDate</code>, 
							 <code>minUpdateDate</code> and <code>maxUpdateDate</code>  are passed in the input XML.</Condition>
                        <Error
                            Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                    </Validation>
                    <Validation>
                        <Condition>If the <code>minCreateDate</code> is greater than <code>maxCreateDate</code> or the <code>minCreateDate</code> is greater than <code>maxCreateDate</code>.</Condition>
                        <Error
                            Description="Min date is greater than the corresponding max date." ErrorCode="YIC10006"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="getConfigurationListXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:String" use="optional"/>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The <code>OrganizationCode</code> to be used for schema determination.	
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="limit" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If specified sets the maximum number of records to return.  If not specified, the default of 25 will be used.			
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxCreateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If specified, limits the returned configurations to those initially created before the specified date.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="maxUpdateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If specified, limits the return configurations to those last updated before the specified date.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="minCreateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If specified, limits the returned configurations to those initially created after the specified date.					
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="minUpdateDate" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						If specified, limits the returned configurations to those last updated after the specified date.						
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sku" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="SKU_NAME" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						If specified, limits the configurations returned to those that match the top level sku.					
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="TYPE" yfc:tableName="YIC_BOM_HEADER">
                <xsd:documentation>
                    <div>
						If specified, limits the types of configurations returned to the specified set.  For example, if set to "cart", the api will only return configurations saved by the shopping cart.	If this attribute is not passed, the api returns all types of configurations in the output.					
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
