Data/xapidocs/api_javadocs/XSD/YIC_getConfigurationModel_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationModel/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIC/getConfigurationModel/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIC_getConfigurationModel_input.xsd" yfc:rootElement="Model">
        <xsd:appinfo source="yfc:structure">
            <Model hasAttributes="Y">
                <Include hasAttributes="Y"/>
                <Exclude hasAttributes="Y"/>
            </Model>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Model" type="yfc:ModelXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The root xml element for getConfigurationModel api.  
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ModelXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Include"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:Exclude"/>
        </xsd:sequence>
        <xsd:attribute name="Country" type="yfctype:Text-120" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The country identifier for the models.
						<Validation>
                            <Condition>
                                <code>Country</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Country</code> is not valid.</Condition>
                            <Error
                                Description="Invalid locale attributes passed to the API." ErrorCode="YIC10010"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Depth" type="yfctype:Integer" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The depth of items within the model that should be retrieved.  If attribute is not set or is -1 , the entire depth of the model will be returned.
						Otherwise, the attribute should be an integer number &gt; 0 that specifies how deep the traversal should continue.	<Validation>
                            <Condition>
                                <code>Depth</code> is invalid. </Condition>
                            <Error Description="Invalid Integer" ErrorCode="PLT0001"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Language" type="yfctype:Text-120" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The language identifier for the models to search for.
						<Validation>
                            <Condition>
                                <code>Language</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Language</code> is not valid.</Condition>
                            <Error
                                Description="Invalid locale attributes passed to the API." ErrorCode="YIC10010"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Pricing data is read on behalf of the organization specified by <code>OrganizationCode</code>.
						<Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not valid. </Condition>
                            <Error
                                Description="YFS:Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Path" type="yfctype:Text-480" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The path to the model that should be retrieved.
						<Validation>
                            <Condition>
                                <code>Path</code> is not passed. </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Path</code> is not valid.</Condition>
                            <Error
                                Description="Invalid model path has been passed in the input." ErrorCode="YIC10013"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Variant" type="yfctype:Text-120" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The variant attribute denotes the variant (dialect) of the <code>Language</code> input
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="Include">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                    <p>
						Used to include the elements that are returned from the API. The API includes an 
						element if:
						<ul>
                            <li>The element matches the one of the inclusion specifiers <b>OR</b> no include filters are specified</li>
                            <br/>
                            <b>AND</b>
                            <li>The element doesn't match any of the exclusion specifiers <b>OR</b> no exclude filters are specified</li>
                        </ul>
                    </p>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Class" type="yfctype:Text-120" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						The class of item this inclusion specifier operates on.							
						<br/>Valid Values: <b>
                                <code>Item</code>
                            </b> or <b>
                                <code>Optionclass</code>
                            </b> or <b>
                                <code>Optionitem</code>
                            </b> or <b>
                                <code>Property</code>
                            </b> or <b>
                                <code>Tab</code>
                            </b> or <b>
                                <code>Messages</code>
                            </b> or <b>
                                <code>Summary</code>
                            </b> or <b>
                                <code>TraceLog</code>
                            </b> or <b>
                                <code>PropertyPool</code>
                            </b>
                            <p>
                                <b>
                                    <code>Item</code>
                                </b> can be specified to include both <code>Optionclass</code> and <code>Optionitem</code>.
						</p>
                            <Validation>
                                <Condition>
                                    <code>Class</code> is not passed or is void. </Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						A regular expression that is matched against the name of the item, property name, or tab name.				
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						A regular expression that is matched against the path of an item. Not valid for tab class.				
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
						This attribute is only valid for the property class. This attribute should contain the datatype 
						name of the properties that need to match.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Exclude">
        <xsd:annotation>
            <xsd:documentation>
                <div>
                    <p>
						Used to filter the elements that are returned from the API. The API filters an 
						element if:
						<ul>
                            <li>The element doesn't match any of the inclusion specifiers</li>
                            <br/>
                            <b>OR</b>
                            <li>The element matches one of the exclusion specifiers</li>
                        </ul>
						
						The API doesn't filter <code>Optionclass<br/>
                        </code> and <code>Optionitem</code> elements
						if it has child elements. <br/>
						
						For eg. To filter <code>Optionitem</code> element(s) which 
						has a set of properties associated to it, both <code>Optionitem</code>
						and <code>Property</code> has to be excluded by specifying exclude filters in 
						the following manner: <br/>
                        <code>
						&lt;Exclude Class="Optionitem"/&gt;<br/>
						&lt;Exclude Class="Property"/&gt;
						</code>
                    </p>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Class" type="yfctype:Text-120" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <p>
							The class of item this exclusion specifier operates on.							
							<br/>Valid Values: <b>
                                    <code>Item</code>
                                </b> or <b>
                                    <code>Optionclass</code>
                                </b> or <b>
                                    <code>Optionitem</code>
                                </b> or <b>
                                    <code>Property</code>
                                </b> or <b>
                                    <code>Tab</code>
                                </b> or <b>
                                    <code>Messages</code>
                                </b> or <b>
                                    <code>Summary</code>
                                </b> or <b>
                                    <code>TraceLog</code>
                                </b> or <b>
                                    <code>PropertyPool</code>
                                </b>
                            </p>
                            <p>
                                <b>
                                    <code>Item</code>
                                </b> can be specified to exclude both <code>Optionclass</code> and <code>Optionitem</code>.
							</p>
                            <Validation>
                                <Condition>
                                    <code>Class</code> is not passed or is void. </Condition>
                                <Error
                                    Description="Mandatory Parameters for the Operation are missing." ErrorCode="YIC10000"/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Name" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							A regular expression that is matched against the name of the item, property name, or tab name.				
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Path" type="yfctype:Text-480" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							A regular expression that is matched against the path of an item. Not valid for tab class.				
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Type" type="yfctype:Text-120" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							This attribute is only valid for the property class. This attribute should contain the datatype 
							name of the properties that need to match.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
