Data/xapidocs/api_javadocs/XSD/YIF_getIntegrationErrorList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIF_getIntegrationErrorList_input.xsd" yfc:rootElement="IntegrationError">
        <xsd:appinfo source="yfc:structure">
            <IntegrationError hasAttributes="Y">
                <Queue hasAttributes="Y"/>
            </IntegrationError>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationError" type="yfc:IntegrationErrorXSDType">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR_VW">
            <xsd:documentation>This is a view over the YFS_REPROCESS_ERROR table, refer to descriptions of YFS_REPROCESS_TABLE entity for attribute descriptions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="IntegrationErrorXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Queue"/>
        </xsd:all>
        <xsd:attribute name="ApiName" type="yfctype:ApiName-40" use="optional">
            <xsd:annotation yfc:columnName="APINAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>This field is deprecated</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ApiNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreatetsQryType" type="yfctype:DateQryType" use="optional"/>
        <xsd:attribute name="ErrorReference"
            type="yfctype:ErrorReference" use="optional">
            <xsd:annotation yfc:columnName="ERROR_REFERENCE"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>An Error Reference</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorReferenceQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
            <xsd:annotation yfc:columnName="FLOW_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>The Service associated with this error</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromApiName" type="yfctype:ApiName-40" use="optional"/>
        <xsd:attribute name="FromCreatets" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="FromErrorReference"
            type="yfctype:ErrorReference" use="optional"/>
        <xsd:attribute name="FromFlowName" type="yfctype:FlowName" use="optional"/>
        <xsd:attribute name="FromSubFlowName" type="yfctype:SubFlowName" use="optional"/>
        <xsd:attribute name="FromSystemName" type="yfctype:SystemName" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:String" use="optional"/>
        <xsd:attribute name="State" type="yfctype:State" use="optional">
            <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>
					The filter criteria is passed in the input XML via the <code>State</code> attribute.
					When the <code>State</code> attribute is passed as:
					<ul>
                            <b>
                                <code>Initial</code>
                            </b> - errors that are in "Initial" state are returned.<br>
                                <b>
                                    <code>Ignored</code>
                                </b> - errors that are completely in "Ignored" state are returned.</br>
                            <b>
                                <code>Saved</code>
                            </b> - errors that have been Saved or Reprocessed one or more times are returned. When a error is saved, a new error is created with "Saved" state. The state of the original error changes to "Modified" state.<br>
                                <b>
                                    <code>PendingReprocess</code>
                                </b> - errors that are submitted for Reprocessing but not yet processed are returned.</br>
                            <b>
                                <code>Fixed</code>
                            </b> - errors that are completely in "Fixed" state are returned.
					</ul>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
            <xsd:annotation yfc:columnName="SUB_FLOW_NAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>The sub service or Runtime Id associated with this error.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="SystemName" type="yfctype:SystemName" use="optional">
            <xsd:annotation yfc:columnName="SYSTEMNAME"
                yfc:qryTypeSupported="Y" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>This field is deprecated</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToApiName" type="yfctype:ApiName-40" use="optional"/>
        <xsd:attribute name="ToCreatets" type="yfctype:TimeStamp" use="optional"/>
        <xsd:attribute name="ToErrorReference"
            type="yfctype:ErrorReference" use="optional"/>
        <xsd:attribute name="ToFlowName" type="yfctype:FlowName" use="optional"/>
        <xsd:attribute name="ToSubFlowName" type="yfctype:SubFlowName" use="optional"/>
        <xsd:attribute name="ToSystemName" type="yfctype:SystemName" use="optional"/>
    </xsd:complexType>
    <xsd:element name="Queue">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Primary key attribute of YFS_QUEUE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
