Data/xapidocs/api_javadocs/XSD/YIF_getIntegrationErrorList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_getIntegrationErrorList_output.xsd" yfc:rootElement="IntegrationErrors">
        <xsd:appinfo source="yfc:structure">
            <IntegrationErrors hasAttributes="Y">
                <IntegrationError hasAttributes="Y">
                    <Queue hasAttributes="Y"/>
                </IntegrationError>
            </IntegrationErrors>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationErrors" type="yfc:IntegrationErrorsXSDType"/>
    <xsd:complexType name="IntegrationErrorsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:IntegrationError"/>
        </xsd:all>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="IntegrationError">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR_VW">
            <xsd:documentation>This is a view over the YFS_REPROCESS_ERROR table, refer to descriptions of YFS_REPROCESS_TABLE entity for attribute descriptions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Queue"/>
            </xsd:all>
            <xsd:attribute name="ApiName" type="yfctype:ApiName-40" use="optional">
                <xsd:annotation yfc:columnName="APINAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>This field is deprecated</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DestinationCode"
                type="yfctype:DestinationCode" use="optional">
                <xsd:annotation yfc:columnName="DESTINATIONCODE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Destination Code</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorCode" type="yfctype:ErrorCode-15" use="optional">
                <xsd:annotation yfc:columnName="ERRORCODE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Error Code</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorMessage"
                type="yfctype:ErrorMessage-100" use="optional">
                <xsd:annotation yfc:columnName="ERRORMESSAGE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Error Message</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorReference"
                type="yfctype:ErrorReference" use="optional">
                <xsd:annotation yfc:columnName="ERROR_REFERENCE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>An Error Reference</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorString"
                type="yfctype:NonUnicode-ErrorString" use="optional">
                <xsd:annotation yfc:columnName="ERRORSTRING" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Error String</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxnId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="ERRORTXNID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Primary Key of the Error Reprocess table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionGroupId"
                type="yfctype:ExceptionGroupId" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTIONGROUPID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Exception Group Id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionGroupName"
                type="yfctype:GroupName-40" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_GROUP_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Exception Group Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTIONID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Exception Id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
                <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>The Service associated with this error</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Message" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ParentTxnId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="PARENTTXNID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Parent Transaction Id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKey" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUEID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Queue Id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>State</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Storefront" type="yfctype:StoreFront" use="optional">
                <xsd:annotation yfc:columnName="STOREFRONT" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Store Front</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
                <xsd:annotation yfc:columnName="SUB_FLOW_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>The sub service or Runtime Id associated with this error.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemName" type="yfctype:SystemName" use="optional">
                <xsd:annotation yfc:columnName="SYSTEMNAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>This field is deprecated</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TransactionName"
                type="yfctype:TransactionName-40" use="optional">
                <xsd:annotation yfc:columnName="TXNNAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Transaction Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UniqueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="UNIQUEKEY" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Key</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Queue">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuditThisQueue" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_THIS_QUEUE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>'Y' if assignments needs to be audited</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursAssignExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_ASSIGN_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not assigned within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_ASSIGN_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unassign alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignment"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_ASSIGNMENT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue must be assigned within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForExceedRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_EXCEED_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which a re-alert should be raised for queue overflows</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolution"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_RESOLUTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue should be resolved within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolveRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_RESOLVE_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unresolved alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursResolveExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_RESOLVE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not resolved within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastQueueExceedAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_QUEUE_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Date when last overflow exception was raised for the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumActiveSize"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MAXIMUM_ACTIVE_SIZE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Maximum # of active exceptions that can be posted in the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumSizeExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MAXIMUM_SIZE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be performed if the active exceptions exceed the limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Organization code that owns the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Not used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue priority</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForAssignAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_ASSIGN_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unassignment exception should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForExceedAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which overflow exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForResolveAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_RESOLVE_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unresolve exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_DESCRIPTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Description of a Queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueGroup" type="yfctype:QueueGroupId" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_GROUP" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Group id. Can be used for better organization of queues</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Unique id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Primary key attribute of YFS_QUEUE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueName" type="yfctype:QueueName" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_NAME" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Name for queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
