Data/xapidocs/api_javadocs/XSD/YIF_partiticipantData_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/partiticipantData/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/partiticipantData/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIF_partiticipantData_output.xsd" yfc:rootElement="ParticipantData">
        <xsd:appinfo source="yfc:structure">
            <ParticipantData>
                <Organization hasAttributes="Y">
                    <OrgDocument hasAttributes="Y"/>
                    <OrgProtocol hasAttributes="Y">
                        <Protocol hasAttributes="Y"/>
                        <OrgProtocolReferenceList>
                            <OrgProtocolReference hasAttributes="Y"/>
                        </OrgProtocolReferenceList>
                    </OrgProtocol>
                </Organization>
            </ParticipantData>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ParticipantData" type="yfc:ParticipantDataXSDType"/>
    <xsd:complexType name="ParticipantDataXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Organization"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Organization">
        <xsd:annotation yfc:tableName="YFS_ORGANIZATION">
            <xsd:documentation>This table stores attributes that are common to all oganizations. Organizations may play different roles in trade. For example,  Buyer, Seller, Enterprise, ShipNode.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrgDocument"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrgProtocol"/>
            </xsd:all>
            <xsd:attribute name="CatalogOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="CATALOG_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that owns the catalog of this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DunsNumber" type="yfctype:DunsNumber" use="optional">
                <xsd:annotation yfc:columnName="DUNS_NUMBER" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The DUNS number of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The primary key attribute for the YFS_ORGANIZATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationName"
                type="yfctype:OrganizationName" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_NAME" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The name of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrgDocument">
        <xsd:annotation yfc:tableName="YFS_ORG_DOCUMENT">
            <xsd:documentation>All document requirements for an organization are captured here.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ProtocolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROTOCOL_KEY" yfc:tableName="YFS_ORG_DOCUMENT">
                    <xsd:documentation>Identifies protocol used to deliver a document.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RoleDocumentKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ROLE_DOCUMENT_KEY" yfc:tableName="YFS_ORG_DOCUMENT">
                    <xsd:documentation>Identifies a role document.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VariantReference1"
                type="yfctype:VariantReference" use="optional">
                <xsd:annotation yfc:columnName="VARIANT_REFERENCE_1" yfc:tableName="YFS_ORG_DOCUMENT">
                    <xsd:documentation>A variant reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VariantReference2"
                type="yfctype:VariantReference" use="optional">
                <xsd:annotation yfc:columnName="VARIANT_REFERENCE_2" yfc:tableName="YFS_ORG_DOCUMENT">
                    <xsd:documentation>A variant reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VariantReference3"
                type="yfctype:VariantReference" use="optional">
                <xsd:annotation yfc:columnName="VARIANT_REFERENCE_3" yfc:tableName="YFS_ORG_DOCUMENT">
                    <xsd:documentation>A variant reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VariantReference4"
                type="yfctype:VariantReference" use="optional">
                <xsd:annotation yfc:columnName="VARIANT_REFERENCE_4" yfc:tableName="YFS_ORG_DOCUMENT">
                    <xsd:documentation>A variant reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="VariantReference5"
                type="yfctype:VariantReference" use="optional">
                <xsd:annotation yfc:columnName="VARIANT_REFERENCE_5" yfc:tableName="YFS_ORG_DOCUMENT">
                    <xsd:documentation>A variant reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrgProtocol">
        <xsd:annotation yfc:tableName="YFS_ORG_PROTOCOL">
            <xsd:documentation>Various communication protocols supported by an organization are maintained here.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Protocol"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrgProtocolReferenceList"/>
            </xsd:all>
            <xsd:attribute name="OrgProtocolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORG_PROTOCOL_KEY" yfc:tableName="YFS_ORG_PROTOCOL">
                    <xsd:documentation>Primary key attribute of YFS_ORG_PROTOCOL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_ORG_PROTOCOL">
                    <xsd:documentation>Organization that supports a protocol.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Password" type="yfctype:Password" use="optional">
                <xsd:annotation yfc:columnName="PASSWORD" yfc:tableName="YFS_ORG_PROTOCOL">
                    <xsd:documentation>Password of the user used to connect to an organization's server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProtocolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROTOCOL_KEY" yfc:tableName="YFS_ORG_PROTOCOL">
                    <xsd:documentation>Protocol supported by an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerIp" type="yfctype:ServerIp" use="optional">
                <xsd:annotation yfc:columnName="SERVER_IP" yfc:tableName="YFS_ORG_PROTOCOL">
                    <xsd:documentation>IP Address of a server within the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ServerPort" type="yfctype:ServerPort" use="optional">
                <xsd:annotation yfc:columnName="SERVER_PORT" yfc:tableName="YFS_ORG_PROTOCOL">
                    <xsd:documentation>The server port to which participants with an organization would talk to.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:UserId-100" use="optional">
                <xsd:annotation yfc:columnName="USER_ID" yfc:tableName="YFS_ORG_PROTOCOL">
                    <xsd:documentation>A user id used to connect to an organization's server.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Protocol">
        <xsd:annotation yfc:tableName="YFS_PROTOCOL">
            <xsd:documentation>Lists all available protocols in the system.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ProtocolDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="PROTOCOL_DESCRIPTION" yfc:tableName="YFS_PROTOCOL">
                    <xsd:documentation>Description of a protocol.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProtocolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PROTOCOL_KEY" yfc:tableName="YFS_PROTOCOL">
                    <xsd:documentation>Primary key attribute of YFS_PROTOCOL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProtocolName"
                type="yfctype:ProtocolName" use="optional">
                <xsd:annotation yfc:columnName="PROTOCOL_NAME" yfc:tableName="YFS_PROTOCOL">
                    <xsd:documentation>Name of a protocol.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrgProtocolReferenceList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:OrgProtocolReference"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="OrgProtocolReference">
        <xsd:annotation yfc:tableName="YFS_ORG_PROTOCOL_REFERENCE">
            <xsd:documentation>References for protocols used by organizations are maintained here.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:ReferenceName" use="optional">
                <xsd:annotation yfc:columnName="NAME" yfc:tableName="YFS_ORG_PROTOCOL_REFERENCE">
                    <xsd:documentation>Name of a reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrgProtocolKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORG_PROTOCOL_KEY" yfc:tableName="YFS_ORG_PROTOCOL_REFERENCE">
                    <xsd:documentation>Link to YFS_ORG_PROTOCOL</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrgProtocolReferenceKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="ORG_PROTOCOL_REFERENCE_KEY" yfc:tableName="YFS_ORG_PROTOCOL_REFERENCE">
                    <xsd:documentation>Primary key of an org-protocol reference.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProtocolKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Value"
                type="yfctype:ReferenceValue-2000" use="optional">
                <xsd:annotation yfc:columnName="VALUE" yfc:tableName="YFS_ORG_PROTOCOL_REFERENCE">
                    <xsd:documentation>A reference value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
