Data/xapidocs/api_javadocs/XSD/YIF_modifyXReferenceValue_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/modifyXReferenceValue/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/modifyXReferenceValue/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIF_modifyXReferenceValue_input.xsd" yfc:rootElement="XrefValues">
        <xsd:appinfo source="yfc:structure">
            <XrefValues hasAttributes="Y">
                <XrefValue hasAttributes="Y"/>
            </XrefValues>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="XrefValues" type="yfc:XrefValuesXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					The input document root node should contain a node <code>XrefData</code> with <code>XmlName</code> as the attribute.	
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="XrefValuesXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:XrefValue"/>
        </xsd:all>
        <xsd:attribute name="Action" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>Valid values for Action are "LIST", "CREATE", "MODIFY", or "DELETE".</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="XrefValue">
        <xsd:annotation yfc:tableName="YFS_XREF_VALUE">
            <xsd:documentation>
                <div>
						This table lists all the cross-reference code values used by the nomenclature transformation engine.
						<br>One <code>XrefValue</code> record for <b>
                            <code>LIST</code>
                        </b>; one or more <code>XrefValue</code> records for <b>
                            <code>CREATE</code>
                        </b>, <b>
                            <code>MODIFY</code>
                        </b>, or <b>
                            <code>DELETE</code>
                        </b>.</br>
						The requirements for attributes are the same as those for any entity API.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="Code1Name" type="yfctype:CodeName" use="optional">
                <xsd:annotation yfc:columnName="CODE1_NAME" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Code identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code1Value" type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="CODE1_VALUE" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Code value for the Code identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code2Name" type="yfctype:CodeName" use="optional">
                <xsd:annotation yfc:columnName="CODE2_NAME" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Additional Code identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code2Value" type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="CODE2_VALUE" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Code value for the Code identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code3Name" type="yfctype:CodeName" use="optional">
                <xsd:annotation yfc:columnName="CODE3_NAME" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Additional Code identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code3Value" type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="CODE3_VALUE" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Code value for the Code identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code4Name" type="yfctype:CodeName" use="optional">
                <xsd:annotation yfc:columnName="CODE4_NAME" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Additional Code identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Code4Value" type="yfctype:CodeValue" use="optional">
                <xsd:annotation yfc:columnName="CODE4_VALUE" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Code value for the Code identifier</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CodeDescription"
                type="yfctype:CodeDescription" use="optional">
                <xsd:annotation yfc:columnName="CODE_DESCRIPTION" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Uniquely identifies a combination of four code names</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Identifier for participant communicating with Sterling</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemName" type="yfctype:SystemName" use="optional">
                <xsd:annotation yfc:columnName="SYSTEM_NAME" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Identifier for system with which Sterling is communicating</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="XrefValueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="XREF_VALUE_KEY" yfc:tableName="YFS_XREF_VALUE">
                    <xsd:documentation>Primary Key</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
