Data/xapidocs/api_javadocs/XSD/YIF_getIntegrationErrorDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_getIntegrationErrorDetails_output.xsd" yfc:rootElement="IntegrationError">
        <xsd:appinfo source="yfc:structure">
            <IntegrationError hasAttributes="Y">
                <InputXml hasAttributes="Y"/>
                <ErrorXml hasAttributes="Y"/>
                <History>
                    <IntegrationError hasAttributes="Y"/>
                </History>
            </IntegrationError>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationError" type="yfc:IntegrationErrorXSDType">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR_VW">
            <xsd:documentation>This is a view over the YFS_REPROCESS_ERROR table, refer to descriptions of YFS_REPROCESS_TABLE entity for attribute descriptions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="IntegrationErrorXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InputXml"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ErrorXml"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:History"/>
        </xsd:all>
        <xsd:attribute name="ApiName" type="yfctype:ApiName-40" use="optional">
            <xsd:annotation yfc:columnName="APINAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>This field is deprecated</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreateTs" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorCode" type="yfctype:ErrorCode-15" use="optional">
            <xsd:annotation yfc:columnName="ERRORCODE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>The error code of the exception.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorReference"
            type="yfctype:ErrorReference" use="optional">
            <xsd:annotation yfc:columnName="ERROR_REFERENCE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>An error reference. During configuration of a service, name/value pairs can be entered which are populated in this table. These values can be used to filter data when looking for specific errors.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorString"
            type="yfctype:NonUnicode-ErrorString" use="optional">
            <xsd:annotation yfc:columnName="ERRORSTRING" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>The error description of the exception is stored in this column.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorTxnId" type="yfctype:TransactionID" use="optional">
            <xsd:annotation yfc:columnName="ERRORTXNID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>The primary key of the INTEROP_ERROR_DISPATCH table.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionGroupID"
            type="yfctype:ExceptionGroupId" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTIONGROUPID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>The unique identifier of an exception group.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionGroupName"
            type="yfctype:GroupName-40" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTION_GROUP_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>
					The reprocessable errors can be grouped by the group name, so all related errors can be reprocessed at the same time.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="EXCEPTIONID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>Exception Id</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
            <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>The service associated with this error.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
            <xsd:annotation yfc:columnName="QUEUEID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>The unique identifier of a queue.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="State" type="yfctype:State" use="optional">
            <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>
					The filter criteria is passed in the input XML via the <code>State</code> attribute.
					When the <code>State</code> attribute is passed as:
					<ul>
                            <b>
                                <code>Initial</code>
                            </b> - error groups that have any exception detail in "Initial" state are returned.<br>
                                <b>
                                    <code>Ignored</code>
                                </b> - error groups that have all exception details in "Ignored" state are returned.</br>
                            <b>
                                <code>Saved</code>
                            </b> - error groups that have any exception detail in "Saved" state are returned.<br>
                                <b>
                                    <code>PendingReprocess</code>
                                </b> - error groups that have all exception details either in "PendingReprocess", "Ignored", or "Fixed" state are returned. At least one exception detail in the group must be in "PendingReprocess" state.</br>
                            <b>
                                <code>Fixed</code>
                            </b> - error groups that have all exception details either in "Fixed" or "Ignored" state are returned. At least one exception detail in the group must be in "Fixed" state.
					</ul>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
            <xsd:annotation yfc:columnName="SUB_FLOW_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>The sub flow associated with this error.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemName" type="yfctype:SystemName" use="optional">
            <xsd:annotation yfc:columnName="SYSTEMNAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>This field is deprecated</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InputXml">
        <xsd:complexType>
            <xsd:attribute name="InputXml" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ErrorXml">
        <xsd:complexType>
            <xsd:attribute name="ErrorXml" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="History">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" name="IntegrationError">
                    <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR_VW">
                        <xsd:documentation>This is a view over the YFS_REPROCESS_ERROR table, refer to descriptions of YFS_REPROCESS_TABLE entity for attribute descriptions.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute name="CreateTs"
                            type="yfctype:TimeStamp" use="optional">
                            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                                <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ErrorCode"
                            type="yfctype:ErrorCode-15" use="optional">
                            <xsd:annotation yfc:columnName="ERRORCODE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                                <xsd:documentation>Error Code</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ErrorString"
                            type="yfctype:NonUnicode-ErrorString" use="optional">
                            <xsd:annotation yfc:columnName="ERRORSTRING" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                                <xsd:documentation>Error String</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ErrorTxnId"
                            type="yfctype:TransactionID" use="optional">
                            <xsd:annotation yfc:columnName="ERRORTXNID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                                <xsd:documentation>Primary Key of the Error Reprocess table.</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ExceptionGroupId"
                            type="yfctype:ExceptionGroupId" use="optional">
                            <xsd:annotation
                                yfc:columnName="EXCEPTIONGROUPID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                                <xsd:documentation>Exception Group Id</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="ExceptionId"
                            type="yfctype:Identifier" use="optional">
                            <xsd:annotation yfc:columnName="EXCEPTIONID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                                <xsd:documentation>Exception Id</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="QueueId"
                            type="yfctype:Identifier" use="optional">
                            <xsd:annotation yfc:columnName="QUEUEID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                                <xsd:documentation>Queue Id</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="State" type="yfctype:State" use="optional">
                            <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                                <xsd:documentation>State</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
