Data/xapidocs/api_javadocs/XSD/YIF_reprocessAllIntegrationErrorsInGroup_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/reprocessAllIntegrationErrorsInGroup/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/reprocessAllIntegrationErrorsInGroup/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_reprocessAllIntegrationErrorsInGroup_input.xsd" yfc:rootElement="IntegrationErrorGroup">
        <xsd:appinfo source="yfc:structure">
            <IntegrationErrorGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationErrorGroup" type="yfc:IntegrationErrorGroupXSDType">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR">
            <xsd:documentation>This table stores infomation about the interop reprocessable errors.  When a service is configured to reprocess errors, the IntegrationServer populates this table with the appropriate error message and the input XML. This information is displayed in the exception console and the user can correct the XML and reprocess the error.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="IntegrationErrorGroupXSDType">
        <xsd:attribute name="ExceptionGroupId"
            type="yfctype:ExceptionGroupId" use="required">
            <xsd:annotation yfc:columnName="EXCEPTIONGROUPID" yfc:tableName="YFS_REPROCESS_ERROR">
                <xsd:documentation>
                    <div>
							System Generated unique identifier for the exception group.
							<Validation>
                            <Condition> If error state is not "Initial" or "Saved" (it cannot be saved):</Condition>
                            <Error Description="" ErrorCode=""/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
