Data/xapidocs/api_javadocs/XSD/YIF_executeXReferenceTransform_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/executeXReferenceTransform/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/executeXReferenceTransform/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_executeXReferenceTransform_input.xsd" yfc:rootElement="RootElement">
        <xsd:appinfo source="yfc:structure">
            <RootElement>
                <XrefData hasAttributes="Y"/>
            </RootElement>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="RootElement" type="yfc:RootElementXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
            Any XML may be used as input, but the input document root node should contain a node <code>XrefData</code> with <code>XmlName</code> as the attribute.
			</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="RootElementXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:XrefData"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="XrefData">
        <xsd:complexType>
            <xsd:attribute name="XmlName" type="yfctype:Text-40" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                Uniquely identifies a combination of From System, From Organization, To System and To Organization.
                </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
