Data/xapidocs/api_javadocs/XSD/YIF_getIntegrationErrorGroupDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorGroupDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorGroupDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_getIntegrationErrorGroupDetails_output.xsd" yfc:rootElement="IntegrationErrorGroup">
        <xsd:appinfo source="yfc:structure">
            <IntegrationErrorGroup>
                <IntegrationError hasAttributes="Y"/>
            </IntegrationErrorGroup>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationErrorGroup" type="yfc:IntegrationErrorGroupXSDType"/>
    <xsd:complexType name="IntegrationErrorGroupXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:IntegrationError"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="IntegrationError">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR_VW">
            <xsd:documentation>This is a view over the YFS_REPROCESS_ERROR table, refer to descriptions of YFS_REPROCESS_TABLE entity for attribute descriptions.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApiName" type="yfctype:ApiName-40" use="optional">
                <xsd:annotation yfc:columnName="APINAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>This field is deprecated</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreateTs" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Timestamp when the record was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorCode" type="yfctype:ErrorCode-15" use="optional">
                <xsd:annotation yfc:columnName="ERRORCODE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Error Code</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorReference"
                type="yfctype:ErrorReference" use="optional">
                <xsd:annotation yfc:columnName="ERROR_REFERENCE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>An Error Reference</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorString"
                type="yfctype:NonUnicode-ErrorString" use="optional">
                <xsd:annotation yfc:columnName="ERRORSTRING" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Error String</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ErrorTxnId"
                type="yfctype:TransactionID" use="optional">
                <xsd:annotation yfc:columnName="ERRORTXNID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Primary Key of the Error Reprocess table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionGroupId"
                type="yfctype:ExceptionGroupId" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTIONGROUPID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Exception Group Id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExceptionGroupName"
                type="yfctype:GroupName-40" use="optional">
                <xsd:annotation yfc:columnName="EXCEPTION_GROUP_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Exception Group Name</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FlowName" type="yfctype:FlowName" use="optional">
                <xsd:annotation yfc:columnName="FLOW_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>The Service associated with this error</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ModifyTs" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Timestamp when the record was last modified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ProcessingOrder" type="yfctype:String" use="optional"/>
            <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUEID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>Queue Id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="State" type="yfctype:State" use="optional">
                <xsd:annotation yfc:columnName="STATE" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>State</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SubFlowName" type="yfctype:SubFlowName" use="optional">
                <xsd:annotation yfc:columnName="SUB_FLOW_NAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>The sub service or Runtime Id associated with this error.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SystemName" type="yfctype:SystemName" use="optional">
                <xsd:annotation yfc:columnName="SYSTEMNAME" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                    <xsd:documentation>This field is deprecated</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
