Data/xapidocs/api_javadocs/XSD/YIF_getIntegrationInputXML_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationInputXML/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationInputXML/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIF_getIntegrationInputXML_input.xsd" yfc:rootElement="IntegrationError">
        <xsd:appinfo source="yfc:structure">
            <IntegrationError hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationError" type="yfc:IntegrationErrorXSDType">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR_VW">
            <xsd:documentation>This is a view over the YFS_REPROCESS_ERROR table, refer to descriptions of YFS_REPROCESS_TABLE entity for attribute descriptions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="IntegrationErrorXSDType">
        <xsd:attribute name="ErrorTxnId" type="yfctype:TransactionID" use="required">
            <xsd:annotation yfc:columnName="ERRORTXNID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>
                    <div>
                        <code>ErrorTxnId</code> is a required field for this API and is validated when the API is invoked.
						<Validation>
                            <Condition>
							If not passed:
							</Condition>
                            <Error Description="" ErrorCode=""/>
                        </Validation>
                        <Validation>
                            <Condition>
							If not valid:
							</Condition>
                            <Error Description="" ErrorCode=""/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
