Data/xapidocs/api_javadocs/XSD/YIF_getIntegrationErrorGroupDetails_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorGroupDetails/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorGroupDetails/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_getIntegrationErrorGroupDetails_input.xsd" yfc:rootElement="IntegrationErrorGroup">
        <xsd:appinfo source="yfc:structure">
            <IntegrationErrorGroup hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationErrorGroup" type="yfc:IntegrationErrorGroupXSDType"/>
    <xsd:complexType name="IntegrationErrorGroupXSDType">
        <xsd:attribute name="ExceptionGroupId" type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
                        <code>ExceptionGroupId</code> is a required field for this API and is validated when the API is invoked.
						<Validation>
                            <Condition>
							If not passed:
							</Condition>
                            <Error Description="" ErrorCode=""/>
                        </Validation>
                        <Validation>
                            <Condition>
							If not valid:
							</Condition>
                            <Error Description="" ErrorCode=""/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
