Data/xapidocs/api_javadocs/XSD/YIF_modifyXReferenceMapping_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/modifyXReferenceMapping/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/modifyXReferenceMapping/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_modifyXReferenceMapping_output.xsd" yfc:rootElement="XrefMapping">
        <xsd:appinfo source="yfc:structure">
            <XrefMapping hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="XrefMapping" type="yfc:XrefMappingXSDType">
        <xsd:annotation yfc:tableName="YFS_XREF_MAPPING">
            <xsd:documentation>
                <div>
					This table lists all the cross-reference code mappings used by the nomenclature transformation engine.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="XrefMappingXSDType">
        <xsd:attribute name="FromCode1Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE1_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Code Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCode1Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE1_VALUE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Code Value for the code</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCode2Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE2_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Code Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCode2Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE2_VALUE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Code Value</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCode3Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE3_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Code Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCode3Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE3_VALUE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Code Value</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCode4Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE4_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Code Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCode4Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE4_VALUE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Code Value</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromCodeDescription"
            type="yfctype:CodeDescription" use="optional">
            <xsd:annotation yfc:columnName="FROM_CODE_DESCRIPTION" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Source Code description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromOrganizationCode"
            type="yfctype:OrganizationCode" use="optional">
            <xsd:annotation yfc:columnName="FROM_ORGANIZATION_CODE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Source Organization Code</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FromSystemName" type="yfctype:SystemName" use="optional">
            <xsd:annotation yfc:columnName="FROM_SYSTEM_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Identifier for the System for which the mapping cross reference is maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCode1Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE1_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Target Code Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCode1Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE1_VALUE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Target Code Value</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCode2Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE2_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Target Code Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCode2Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE2_VALUE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Target Code Value</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCode3Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE3_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Target Code Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCode3Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE3_VALUE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Target Code Value</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCode4Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE4_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Target Code Name</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCode4Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE4_VALUE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Additional Target Code Value</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToCodeDescription"
            type="yfctype:CodeDescription" use="optional">
            <xsd:annotation yfc:columnName="TO_CODE_DESCRIPTION" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Target Code Description</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToOrganizationCode"
            type="yfctype:OrganizationCode" use="optional">
            <xsd:annotation yfc:columnName="TO_ORGANIZATION_CODE" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Target Organization Code</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ToSystemName" type="yfctype:SystemName" use="optional">
            <xsd:annotation yfc:columnName="TO_SYSTEM_NAME" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Target System identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="XrefMappingKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="XREF_MAPPING_KEY" yfc:tableName="YFS_XREF_MAPPING">
                <xsd:documentation>Primary Key</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
