Data/xapidocs/api_javadocs/XSD/YIF_ignoreIntegrationError_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/ignoreIntegrationError/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/ignoreIntegrationError/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIF_ignoreIntegrationError_input.xsd" yfc:rootElement="IntegrationError">
        <xsd:appinfo source="yfc:structure">
            <IntegrationError hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationError" type="yfc:IntegrationErrorXSDType">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR_VW">
            <xsd:documentation>
                <div>
				The <code>ignoreIntegrationError</code> API ignores an error.
				The Error Id is passed as an input parameter.
				Only errors that are in an "Initial" state are ignored.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="IntegrationErrorXSDType">
        <xsd:attribute name="ErrorTxnId" type="yfctype:TransactionID" use="required">
            <xsd:annotation yfc:columnName="ERRORTXNID" yfc:tableName="YFS_REPROCESS_ERROR_VW">
                <xsd:documentation>Primary Key of the Error Reprocess table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
