Data/xapidocs/api_javadocs/XSD/YIF_modifyXReferenceValue_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/modifyXReferenceValue/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/modifyXReferenceValue/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YIF_modifyXReferenceValue_output.xsd" yfc:rootElement="XrefValue">
        <xsd:appinfo source="yfc:structure">
            <XrefValue hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="XrefValue" type="yfc:XrefValueXSDType">
        <xsd:annotation yfc:tableName="YFS_XREF_VALUE">
            <xsd:documentation>
                <div>
					This table lists all the cross-reference code values used by the nomenclature transformation engine.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="XrefValueXSDType">
        <xsd:attribute name="Code1Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="CODE1_NAME" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Code identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Code1Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="CODE1_VALUE" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Code value for the Code identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Code2Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="CODE2_NAME" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Additional Code identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Code2Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="CODE2_VALUE" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Code value for the Code identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Code3Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="CODE3_NAME" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Additional Code identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Code3Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="CODE3_VALUE" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Code value for the Code identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Code4Name" type="yfctype:CodeName" use="optional">
            <xsd:annotation yfc:columnName="CODE4_NAME" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Additional Code identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Code4Value" type="yfctype:CodeValue" use="optional">
            <xsd:annotation yfc:columnName="CODE4_VALUE" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Code value for the Code identifier</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeDescription"
            type="yfctype:CodeDescription" use="optional">
            <xsd:annotation yfc:columnName="CODE_DESCRIPTION" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Uniquely identifies a combination of four code names</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Identifier for participant communicating with Sterling</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemName" type="yfctype:SystemName" use="optional">
            <xsd:annotation yfc:columnName="SYSTEM_NAME" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Identifier for system with which Sterling is communicating</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="XrefValueKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="XREF_VALUE_KEY" yfc:tableName="YFS_XREF_VALUE">
                <xsd:documentation>Primary Key</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
