Data/xapidocs/api_javadocs/XSD/YIF_resequenceIntegrationErrorsInGroup_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/resequenceIntegrationErrorsInGroup/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/resequenceIntegrationErrorsInGroup/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_resequenceIntegrationErrorsInGroup_input.xsd" yfc:rootElement="IntegrationErrorGroup">
        <xsd:appinfo source="yfc:structure">
            <IntegrationErrorGroup>
                <IntegrationError hasAttributes="Y"/>
            </IntegrationErrorGroup>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationErrorGroup" type="yfc:IntegrationErrorGroupXSDType"/>
    <xsd:complexType name="IntegrationErrorGroupXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:IntegrationError"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="IntegrationError">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR">
            <xsd:documentation>This table stores infomation about the interop reprocessable errors.  When a service is configured to reprocess errors, the IntegrationServer populates this table with the appropriate error message and the input XML. This information is displayed in the exception console and the user can correct the XML and reprocess the error.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ErrorTxnId"
                type="yfctype:TransactionID" use="required">
                <xsd:annotation yfc:columnName="ERRORTXNID" yfc:tableName="YFS_REPROCESS_ERROR">
                    <xsd:documentation>
                        <div>
							ErrorTxnId is a required field for this API and is validated when the API is invoked.
							<Validation>
                                <Condition> If error state is not "Initial" or "Saved" (it cannot be resequenced):</Condition>
                                <Error Description="" ErrorCode=""/>
                            </Validation>
                        </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SequenceOrder" type="yfctype:String" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
