Data/xapidocs/api_javadocs/XSD/YIF_getIntegrationErrorGroupList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorGroupList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorGroupList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_getIntegrationErrorGroupList_input.xsd" yfc:rootElement="IntegrationErrorGroup">
        <xsd:appinfo source="yfc:structure">
            <IntegrationErrorGroup hasAttributes="Y">
                <Queue hasAttributes="Y"/>
            </IntegrationErrorGroup>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationErrorGroup" type="yfc:IntegrationErrorGroupXSDType"/>
    <xsd:complexType name="IntegrationErrorGroupXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Queue"/>
        </xsd:all>
        <xsd:attribute name="Createts" type="yfctype:String" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>Create Time Stamp</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CreatetsQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ExceptionGroupName" type="yfctype:String" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y">
                <xsd:documentation>
                    <div>
					The reprocessable errors can be grouped by the group name, so all related errors can be reprocessed at the same time.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionGroupNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="FromCreatets" type="yfctype:String" use="optional"/>
        <xsd:attribute name="FromExceptionGroupName"
            type="yfctype:String" use="optional"/>
        <xsd:attribute name="FromSystemName" type="yfctype:String" use="optional"/>
        <xsd:attribute name="MaximumRecords" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The Maximum number of record to be outputted by the API.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="State" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
					The filter criteria is passed in the input XML via the <code>State</code> attribute.
					When the <code>State</code> attribute is passed as:
					<ul>
                            <b>
                                <code>Initial</code>
                            </b> - error groups that have any exception detail in "Initial" state are returned.<br>
                                <b>
                                    <code>Ignored</code>
                                </b> - error groups that have all exception details in "Ignored" state are returned.</br>
                            <b>
                                <code>Saved</code>
                            </b> - error groups that have any exception detail in "Saved" state are returned.<br>
                                <b>
                                    <code>PendingReprocess</code>
                                </b> - error groups that have all exception details either in "PendingReprocess", "Ignored", or "Fixed" state are returned. At least one exception detail in the group must be in "PendingReprocess" state.</br>
                            <b>
                                <code>Fixed</code>
                            </b> - error groups that have all exception details either in "Fixed" or "Ignored" state are returned. At least one exception detail in the group must be in "Fixed" state.
					</ul>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SystemName" type="yfctype:String" use="optional">
            <xsd:annotation yfc:qryTypeSupported="Y"/>
        </xsd:attribute>
        <xsd:attribute name="SystemNameQryType"
            type="yfctype:StringQryType" use="optional"/>
        <xsd:attribute name="ToCreatets" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ToExceptionGroupName" type="yfctype:String" use="optional"/>
        <xsd:attribute name="ToSystemName" type="yfctype:String" use="optional"/>
    </xsd:complexType>
    <xsd:element name="Queue">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Primary key attribute of YFS_QUEUE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
