Data/xapidocs/api_javadocs/XSD/YIF_reprocessIntegrationError_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/reprocessIntegrationError/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/reprocessIntegrationError/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_reprocessIntegrationError_input.xsd" yfc:rootElement="IntegrationError">
        <xsd:appinfo source="yfc:structure">
            <IntegrationError hasAttributes="Y">
                <InputXml hasAttributes="Y"/>
            </IntegrationError>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationError" type="yfc:IntegrationErrorXSDType">
        <xsd:annotation yfc:tableName="YFS_REPROCESS_ERROR">
            <xsd:documentation>This table stores infomation about the interop reprocessable errors.  When a service is configured to reprocess errors, the IntegrationServer populates this table with the appropriate error message and the input XML. This information is displayed in the exception console and the user can correct the XML and reprocess the error.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="IntegrationErrorXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InputXml"/>
        </xsd:all>
        <xsd:attribute name="ErrorTxnId" type="yfctype:TransactionID" use="required">
            <xsd:annotation yfc:columnName="ERRORTXNID" yfc:tableName="YFS_REPROCESS_ERROR">
                <xsd:documentation>
                    <div>
						ErrorTxnId is a required field for this API and is validated when the API is invoked.
						<Validation>
                            <Condition> If error state is not "Initial" or "Saved" (it cannot be reprocessed):</Condition>
                            <Error Description="" ErrorCode=""/>
                        </Validation>
                        <Validation>
                            <Condition> If error belongs to an error group:</Condition>
                            <Error Description="" ErrorCode=""/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InputXml">
        <xsd:complexType>
            <xsd:attribute name="InputXml" type="yfctype:String" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
							The input XML that has resulted in generating the exception.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
