Data/xapidocs/api_javadocs/XSD/YIF_getIntegrationErrorGroupList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorGroupList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YIF/getIntegrationErrorGroupList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YIF_getIntegrationErrorGroupList_output.xsd" yfc:rootElement="IntegrationErrorGroups">
        <xsd:appinfo source="yfc:structure">
            <IntegrationErrorGroups hasAttributes="Y">
                <IntegrationErrorGroup hasAttributes="Y">
                    <Queue hasAttributes="Y"/>
                </IntegrationErrorGroup>
            </IntegrationErrorGroups>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="IntegrationErrorGroups" type="yfc:IntegrationErrorGroupsXSDType"/>
    <xsd:complexType name="IntegrationErrorGroupsXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:IntegrationErrorGroup"/>
        </xsd:all>
        <xsd:attribute name="ApiName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Name of the api that created this exception.
				</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DestinationCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div/>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorCode" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Error Code</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorMessage" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The complete error message
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorReference" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				An error reference.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorString" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The error description of the exception is stored in this column.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ErrorTxnId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The primary key of the INTEROP_ERROR_DISPATCH table.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionGroupId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The unique identifier of an exception group.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionGroupName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The reprocessable errors can be grouped by the group name, so all related errors can be reprocessed at the same t
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExceptionId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				This is the primary key of the registered alert in YFS_INBOX.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="FlowName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The Service associated with this error.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Message" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Message
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ParentTxnId" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The system generated unique identifier for the exception grou
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="QueueKey" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Exception queue to which exception should be routed.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="State" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>The error state.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Storefront" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				This field is used internally for processing error groups.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SubFlowName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The SubFlow(RuntimeID) that has published.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				Total Number of record fetched by the API.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TransactionName" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				The name of the transaction.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UniqueKey" type="yfctype:String" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
				A unique key used to identify the message.This key is returned as part of the response.
                                </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="IntegrationErrorGroup">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Queue"/>
            </xsd:all>
            <xsd:attribute name="ApiName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="DestinationCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ErrorCode" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ErrorMessage" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ErrorReference" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ErrorString" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ErrorTxnId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExceptionGroupId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExceptionGroupName"
                type="yfctype:String" use="optional"/>
            <xsd:attribute name="ExceptionId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="FlowName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Message" type="yfctype:String" use="optional"/>
            <xsd:attribute name="ParentTxnId" type="yfctype:String" use="optional"/>
            <xsd:attribute name="QueueKey" type="yfctype:String" use="optional"/>
            <xsd:attribute name="State" type="yfctype:String" use="optional"/>
            <xsd:attribute name="Storefront" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SubFlowName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="SystemName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="TransactionName" type="yfctype:String" use="optional"/>
            <xsd:attribute name="UniqueKey" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Queue">
        <xsd:annotation yfc:tableName="YFS_QUEUE">
            <xsd:documentation>Master table for exception queues.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AuditThisQueue" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="AUDIT_THIS_QUEUE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>'Y' if assignments needs to be audited</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursAssignExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_ASSIGN_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not assigned within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_ASSIGN_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unassign alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForAssignment"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_ASSIGNMENT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue must be assigned within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForExceedRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_EXCEED_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which a re-alert should be raised for queue overflows</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolution"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="HOURS_FOR_RESOLUTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Any exception in this queue should be resolved within this many hours</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursForResolveRealert"
                type="yfctype:NumberOfHoursWithDecimal" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_FOR_RESOLVE_REALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Number of hours in which unresolved alerts should be raised again</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="HoursResolveExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="HOURS_RESOLVE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be raised if exception is not resolved within the defined hour limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LastQueueExceedAlert"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="LAST_QUEUE_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Date when last overflow exception was raised for the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumActiveSize"
                type="yfctype:Integer" use="optional">
                <xsd:annotation yfc:columnName="MAXIMUM_ACTIVE_SIZE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Maximum # of active exceptions that can be posted in the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MaximumSizeExceedAction"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="MAXIMUM_SIZE_EXCEED_ACTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Action to be performed if the active exceptions exceed the limit</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="OWNER_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Organization code that owns the queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OwnerType" type="yfctype:OwnerType" use="optional">
                <xsd:annotation yfc:columnName="OWNER_TYPE" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Not used</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority"
                type="yfctype:PriorityWithDecimal" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue priority</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForAssignAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_ASSIGN_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unassignment exception should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForExceedAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_EXCEED_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which overflow exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QKeyForResolveAlert" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="Q_KEY_FOR_RESOLVE_ALERT" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Queue to which unresolve exceptions should be raised</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueDescription"
                type="yfctype:Description" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_DESCRIPTION" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Description of a Queue.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueGroup" type="yfctype:QueueGroupId" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_GROUP" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Group id. Can be used for better organization of queues</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueId" type="yfctype:Identifier" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_ID" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Unique id</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_KEY" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Primary key attribute of YFS_QUEUE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="QueueName" type="yfctype:QueueName" use="optional">
                <xsd:annotation yfc:columnName="QUEUE_NAME" yfc:tableName="YFS_QUEUE">
                    <xsd:documentation>Name for queue</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
