Data/xapidocs/api_javadocs/XSD/YPM_getCouponCodeExportAuditList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/getCouponCodeExportAuditList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/getCouponCodeExportAuditList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_getCouponCodeExportAuditList_input.xsd" yfc:rootElement="CouponCodeExportAudit">
        <xsd:appinfo source="yfc:structure">
            <CouponCodeExportAudit hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CouponCodeExportAudit" type="yfc:CouponCodeExportAuditXSDType">
        <xsd:annotation yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
            <xsd:documentation>
                <div>
					Returns the audit list showing who has exported codes for a given coupon defintion.
				</div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CouponCodeExportAuditXSDType">
        <xsd:attribute name="CouponID" type="yfctype:CouponId" use="required">
            <xsd:annotation yfc:columnName="COUPON_ID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                <xsd:documentation>
                    <div>Unique identifier of a coupon.
						<Validation>
                            <Condition>
                                <code>CouponID</code> must be passed.
							</Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                <xsd:documentation>The program that created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Createuserid" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                <xsd:documentation>The user who created this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
            <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                <xsd:documentation>The program that modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
            <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Modifyuserid" type="yfctype:UserId" use="optional">
            <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                <xsd:documentation>The user who last modified this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                <xsd:documentation>
                    <div>Pricing organization to which to export from.
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> must be passed.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not valid.
                            </Condition>
                            <Error
                                Description="YFS:Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UserId" type="yfctype:String" use="optional"/>
    </xsd:complexType>
</xsd:schema>
