Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Seller_Assignment_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Seller_Assignment_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Seller_Assignment_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricing_Rule_Seller_Assignment_master.xsd" yfc:rootElement="PricingRuleSellerAssignment">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleSellerAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleSellerAssignment" type="yfc:PricingRuleSellerAssignmentXSDType">
        <xsd:annotation yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
            <xsd:documentation>This table maintains the assignment of pricing rule to Seller organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleSellerAssignmentXSDType">
        <xsd:attribute name="AssignmentID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNMENT_ID" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                <xsd:documentation>Used to UNIQUELY identify a pricing rule seller assignment. The other columns are still included in the key for backward                     compatible purposes. Note that existing records, which have NULL for ASSIGNMENT_ID, will have the column populated automatically                      by SEQ_YPM_ASSIGNMENTID whenever managePricingRuleSellerAssignment on the record. Once populated, it should be solely used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                <xsd:documentation>Organization code of the enterprise to which assignment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                <xsd:documentation>Pricing rule that is assigned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleSellerAssignmentKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRC_RULE_SLR_ASSNMNT_KEY" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                <xsd:documentation>Primary key attribute of YPM_PRC_RULE_SLR_ASSNMNT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                <xsd:documentation>The region to which the pricing rule is assigned. If null then this assignment is applicable irrespective of the region of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                <xsd:documentation>Seller who maintains this pricing rule. Pricing rule is defined by the seller.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
