Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Attribute_Value_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Attribute_Value_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Attribute_Value_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricing_Rule_Attribute_Value_master.xsd" yfc:rootElement="PricingRuleAttributeValue">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleAttributeValue hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleAttributeValue" type="yfc:PricingRuleAttributeValueXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
            <xsd:documentation>This table maintains information about the item attributes of the products on which pricing rule is triggered.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleAttributeValueXSDType">
        <xsd:attribute name="GroupId" use="optional">
            <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>Logical group id for the attribute values. All attributes with same group id are evaluated together.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Integer"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IncludeOrExclude"
            type="yfctype:EnumIncludeOrExclude" use="optional">
            <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>Indicates whether the item's attribute value and Quantity combination is used to trigger or to filter out the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleAttributeValueKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_ATTR_VALUE_KEY" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>Primary key attribute of YPM_PRCNG_RULE_ATTR_VALUE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>The rule this trigger item attribute value is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>Quantity of the item which has the attribute being configured.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TriggerAttributeDomainID"
            type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TriggerAttributeDoubleValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOUBLE_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>The double value of the item attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TriggerAttributeGroupID"
            type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TriggerAttributeID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>Unique identifier of the item attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TriggerAttributeIntegerValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_INTEGER_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>The integer value of the item attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Integer"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TriggerAttributeMaxValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_MAX_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>The Max value of the item attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TriggerAttributeMinValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_MIN_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>The Min value of the item attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TriggerAttributeValue"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_VALUE" yfc:tableName="YPM_PRICING_RULE_ATTR_VALUE">
                <xsd:documentation>The TEXT value of the item attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
