Data/xapidocs/api_javadocs/XSD/YPM_MANAGE_PRICELIST_LINE.ON_SUCCESS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/MANAGE_PRICELIST_LINE/ON_SUCCESS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/MANAGE_PRICELIST_LINE/ON_SUCCESS" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_MANAGE_PRICELIST_LINE.ON_SUCCESS.xsd" yfc:rootElement="PricelistLine">
        <xsd:appinfo source="yfc:structure">
            <PricelistLine hasAttributes="Y">
                <PricelistLineQuantityTierList>
                    <PricelistLineQuantityTier hasAttributes="Y"/>
                </PricelistLineQuantityTierList>
                <PricelistHeader hasAttributes="Y"/>
            </PricelistLine>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricelistLine" type="yfc:PricelistLineXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_LINE">
            <xsd:documentation>This table stores the price associated with the item and quantity tiered prices.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricelistLineXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistLineQuantityTierList"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PricelistHeader"/>
        </xsd:all>
        <xsd:attribute name="AbsoluteAdjustment" use="optional">
            <xsd:annotation yfc:columnName="ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Absolute uplift or discount on the List Price.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Price"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EndDateActive" use="optional">
            <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>After this date the price list line is not active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="FromQuantity" use="optional">
            <xsd:annotation yfc:columnName="FROM_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>The quantity from which the tier begins.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Item for which the price is defined in this price list line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemShortDesc" type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                <xsd:documentation>The short description of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ListPrice" use="optional">
            <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>List Price of an item.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:UnitPrice"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="MassAuditID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="MASS_AUDIT_ID" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>The unique identifier for the mass audit record.  Indicates the last mass operation that was performed on this price list line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Operation performed
						<br/>Valid Values: 
						<br/>
                        <b>
                            <code>Create</code>
                        </b> - A new price list line is created. 
						<br/>
                        <b>
                            <code>Modify</code>
                        </b> - Existing price list line is modified.
						<br/>
                        <b>
                            <code>Delete</code>
                        </b> - Price list line is deleted.
					</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PercentAdjustment" use="optional">
            <xsd:annotation yfc:columnName="PERCENT_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Percent uplift or discount on the List Price.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:PercentAdjustment"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PriceTypeName" type="yfctype:PriceTypeName" use="optional">
            <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Price Type for this Pricelist Line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Price List for which the price list lines are maintained.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricelistLineKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_LINE_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Primary key attribute of YPM_PRICELIST_LINE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingStatus" type="yfctype:PricingStatus" use="optional">
            <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Indicates the status of the price list line.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDateActive" use="optional">
            <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Date from which the price list line is active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ToQuantity" use="optional">
            <xsd:annotation yfc:columnName="TO_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>Upper limit of the quantity tier. A quanity x belongs to the tier only if (FromQuatity &lt;= x &lt; ToQuantity).</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICELIST_LINE">
                <xsd:documentation>The unit of measure of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
            <xsd:annotation>
                <xsd:documentation>The price for one unit of an item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PricelistLineQuantityTierList">
        <xsd:annotation>
            <xsd:documentation>
                <div>Quantity tiers associated with this price list line.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricelistLineQuantityTier"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistLineQuantityTier">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_LINE">
            <xsd:documentation>
                <div>Quantity tiers associated with this price list line.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AbsoluteAdjustment" use="optional">
                <xsd:annotation yfc:columnName="ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Absolute uplift or discount on the List Price.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>After this date the price list line is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FromQuantity" use="optional">
                <xsd:annotation yfc:columnName="FROM_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The quantity from which the tier begins.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Item for which the price is defined in this price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemShortDesc" type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="SHORT_DESCRIPTION" yfc:tableName="YFS_ITEM">
                    <xsd:documentation>The short description of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>List Price of an item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:UnitPrice"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MassAuditID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="MASS_AUDIT_ID" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The unique identifier for the mass audit record.  Indicates the last mass operation that was performed on this price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentAdjustment" use="optional">
                <xsd:annotation yfc:columnName="PERCENT_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Percent uplift or discount on the List Price.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PercentAdjustment"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeName"
                type="yfctype:PriceTypeName" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Price Type for this Pricelist Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Price List for which the price list lines are maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_LINE_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Indicates the status of the price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Date from which the price list line is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ToQuantity" use="optional">
                <xsd:annotation yfc:columnName="TO_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Upper limit of the quantity tier. A quanity x belongs to the tier only if (FromQuatity &lt;= x &lt; ToQuantity).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitPrice" type="yfctype:UnitPrice" use="optional">
                <xsd:annotation>
                    <xsd:documentation>The price for one unit of an item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistHeader">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>
                <div>The price list to which this line belongs.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AbsoluteAdjustmentOverride" use="optional">
                <xsd:annotation
                    yfc:columnName="ABSOLUTE_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Absolute override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Prices in this price list are applicable in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-240" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Description of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>After this date the price list is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="InheritFromPricelistHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="INHERIT_FROM_PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>The pricelist header key of the price list from which this price list inherits its prices from.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MarkedForListPrice" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MARKED_FOR_LIST_PRICE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Indicates this price list is marked for listing prices. Applicable only for master price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentAdjustmentOverride" use="optional">
                <xsd:annotation
                    yfc:columnName="PERCENT_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Percentage override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PercentAdjustment"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_HDR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistName"
                type="yfctype:PricelistName" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Name of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Indicates the status of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Seller who maintains this price list. Prices of items in the price list are defined by the seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Date from which the price list is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
