Data/xapidocs/api_javadocs/XSD/YPM_Pricelist_Seller_Assignment_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricelist_Seller_Assignment_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricelist_Seller_Assignment_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricelist_Seller_Assignment_master.xsd" yfc:rootElement="PricelistSellerAssignment">
        <xsd:appinfo source="yfc:structure">
            <PricelistSellerAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricelistSellerAssignment" type="yfc:PricelistSellerAssignmentXSDType">
        <xsd:annotation yfc:tableName="YPM_PRCLST_SLR_ASSNMNT">
            <xsd:documentation>This table maintains the assignment of price list to Seller organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricelistSellerAssignmentXSDType">
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YPM_PRCLST_SLR_ASSNMNT">
                <xsd:documentation>Organization code of the enterprise to which assignment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRCLST_SLR_ASSNMNT">
                <xsd:documentation>Price list that is assigned.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricelistSellerAssignmentKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRCLST_SLR_ASSNMNT_KEY" yfc:tableName="YPM_PRCLST_SLR_ASSNMNT">
                <xsd:documentation>Primary key attribute of YPM_PRCLST_SLR_ASSNMNT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_PRCLST_SLR_ASSNMNT">
                <xsd:documentation>The region to which the price list is assigned. If null then this assignment is applicable irrespective of the region of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRCLST_SLR_ASSNMNT">
                <xsd:documentation>Seller who maintains this pricing rule. Price list is defined by the seller.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
