Data/xapidocs/api_javadocs/XSD/YPM_getCouponCodeExportAuditList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/getCouponCodeExportAuditList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/getCouponCodeExportAuditList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_getCouponCodeExportAuditList_output.xsd" yfc:rootElement="CouponCodeExportAuditList">
        <xsd:appinfo source="yfc:structure">
            <CouponCodeExportAuditList>
                <CouponCodeExportAudit hasAttributes="Y"/>
            </CouponCodeExportAuditList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CouponCodeExportAuditList" type="yfc:CouponCodeExportAuditListXSDType"/>
    <xsd:complexType name="CouponCodeExportAuditListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:CouponCodeExportAudit"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CouponCodeExportAudit">
        <xsd:annotation yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
            <xsd:documentation>
                <div>The data for the code export audit record.
					</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="BatchNumber" use="optional">
                <xsd:annotation yfc:columnName="BATCH_NUMBER" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>the batch number that was exported</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-10"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="BatchSize" use="optional">
                <xsd:annotation yfc:columnName="BATCH_SIZE" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>the size of the batch exported</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-10"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CouponID" type="yfctype:CouponId" use="optional">
                <xsd:annotation yfc:columnName="COUPON_ID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>identifies the coupon definition associated with this entry</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="CREATEPROGID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>The program that created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="CREATETS" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>The timestamp for the creation of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Createuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="CREATEUSERID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>The user who created this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyprogid" type="yfctype:ProgramID" use="optional">
                <xsd:annotation yfc:columnName="MODIFYPROGID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>The program that modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyts" type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="MODIFYTS" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>The timestamp for the last modification of this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Modifyuserid" type="yfctype:UserId" use="optional">
                <xsd:annotation yfc:columnName="MODIFYUSERID" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>The user who last modified this record.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_CPN_CODE_EXP_AUDIT">
                    <xsd:documentation>Organization to which the coupon code belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UserId" type="yfctype:String" use="optional"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
