Data/xapidocs/api_javadocs/XSD/YPM_manageCouponCharacterSet_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/manageCouponCharacterSet/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/manageCouponCharacterSet/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_manageCouponCharacterSet_input.xsd" yfc:rootElement="CouponCharacterSet">
        <xsd:appinfo source="yfc:structure">
            <CouponCharacterSet hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="CouponCharacterSet" type="yfc:CouponCharacterSetXSDType">
        <xsd:annotation yfc:tableName="YPM_COUPON_CHAR_SET">
            <xsd:documentation>
                <div>
                    Specify the pricing rule to be created, modified or deleted.  
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CouponCharacterSetXSDType">
        <xsd:attribute name="Abbreviation" type="yfctype:CHAR-1" use="optional">
            <xsd:annotation yfc:columnName="ABBREVIATION" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>
                    <div>Abbreviation representing this character set in the coupon format.
                        <Validation>
                            <Condition>
                                <code>Abbreviation</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Abbreviation</code> is modified to void.
                            </Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CharSet" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="CHAR_SET" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>
                    <div>Character set string. Each character in this string is a possible character in the assigned position of unique coupon code.
                        <Validation>
                            <Condition>
                                <code>CharSet</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>CharSet</code> is modified to void.
                            </Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponCharSetKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUPON_CHAR_SET_KEY" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>Primary key of table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>
                    <div>Description for the coupon character set.
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-40" use="required">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>
                    <div>Name for the coupon character set. 
                        <Validation>
                            <Condition>
                                <code>Name</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>Name</code> is modified to void.
                            </Condition>
                            <Error
                                Description="The attribute cannot be void." ErrorCode="YPM10002"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div> Operation to perform
                        <br/>Valid Values: 
                        <br/>
                        <b>
                            <code>Manage</code>
                        </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
                        <br/>
                        <b>
                            <code>Create</code>
                        </b> - Creates a new record. 
                        <br/>
                        <b>
                            <code>Modify</code>
                        </b> - Change values in an existing record.
                        <br/>
                        <b>
                            <code>Delete</code>
                        </b> - Deletes an existing record.
                        <br/>The default behavior is <b>
                            <code>Manage</code>
                        </b>.
                        <Validation>
                            <Condition>attempting to <code>Delete</code> a charset that is being used by existing pricing rules.
                            </Condition>
                            <Error
                                Description="Can not modify or delete charset because it is being used" ErrorCode="YPM10170"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="required">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON_CHAR_SET">
                <xsd:documentation>
                    <div>Pricing organization to with this policy belongs. Mandatory when <code>Operation</code> is <b>
                            <code>Create</code>
                        </b>.
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> must be passed when <code>Operation</code> is <b>
                                    <code>Create</code>
                                </b>.
                            </Condition>
                            <Error
                                Description="Mandatory Parameters for the Operation are missing." ErrorCode="YPM10000"/>
                        </Validation>
                        <Validation>
                            <Condition>
                                <code>OrganizationCode</code> is not valid.
                            </Condition>
                            <Error
                                Description="YFS:Invalid organization code." ErrorCode="YFS10395"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
