Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Target_Attribute_Value_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Target_Attribute_Value_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Target_Attribute_Value_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricing_Rule_Target_Attribute_Value_master.xsd" yfc:rootElement="PricingRuleTargetAttributeValue">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleTargetAttributeValue hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleTargetAttributeValue" type="yfc:PricingRuleTargetAttributeValueXSDType">
        <xsd:annotation yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
            <xsd:documentation>This table maintains information about the item attribute values of the items on which the pricing rule adjustments are targeted. Targeting by item attribute is allowed only for item quantity and surcharge rule types of pricing category only.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleTargetAttributeValueXSDType">
        <xsd:attribute name="GroupId" use="optional">
            <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The group id of the attribute value. All attributes with same group id are evaluated together.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Integer"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="IncludeOrExclude"
            type="yfctype:EnumIncludeOrExclude" use="optional">
            <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>Indicates whether certain items should be included or excluded from adjustments depending on item's attribute values.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The rule this target item attribute value is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleTargetAttributeValueKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="PRCNG_RULE_TARG_ATTR_VALUE_KEY" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>Primary key attribute of YPM_PRCNG_RULE_TARG_ATTR_VALUE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>Quantity of the item.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TargetAttributeDomainID"
            type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetAttributeDoubleValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOUBLE_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The double value of the item attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TargetAttributeGroupID"
            type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetAttributeID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>Unique identifier of the item attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetAttributeIntegerValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_INTEGER_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The integer value of the item attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Integer"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TargetAttributeMaxValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_MAX_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The Max value of the item attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TargetAttributeMinValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_MIN_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The Min value of the item attribute.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TargetAttributeValue"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_VALUE" yfc:tableName="YPM_PRCNG_RULE_TARG_ATTR_VALUE">
                <xsd:documentation>The TEXT value of the item attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
