Data/xapidocs/api_javadocs/XSD/YPM_managePriceTypeAssociation_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/managePriceTypeAssociation/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/managePriceTypeAssociation/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_managePriceTypeAssociation_input.xsd" yfc:rootElement="PriceTypeAssociationList">
        <xsd:appinfo source="yfc:structure">
            <PriceTypeAssociationList hasAttributes="Y">
                <PriceTypeAssociation hasAttributes="Y"/>
            </PriceTypeAssociationList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceTypeAssociationList" type="yfc:PriceTypeAssociationListXSDType">
        <xsd:annotation>
            <xsd:documentation>
                <div>
					Specifies the list of PriceTypeAssociations to be managed and their target PriceType.
					<Validation>
                        <Condition>A valid PriceType must be specified by <code>PriceTypeName</code> and the Pricing Organization of <code>CallingOrganizationCode</code>.</Condition>
                        <Error Description="Price Type Not Found" ErrorCode="YPM10191"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceTypeAssociationListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PriceTypeAssociation"/>
        </xsd:sequence>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:String" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    <div>
						The calling Organization. If passed will be used to determine the correct Pricing Organization. 
						<Validation>
                            <Condition>
                                <code>CallingOrganizationCode</code> must refer to a valid Organization</Condition>
                            <Error
                                Description="Pricing Org not found for CallingOrganizationCode" ErrorCode="YPM10193"/>
                        </Validation>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceTypeName" type="yfctype:PriceTypeName" use="required">
            <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YPM_PRICE_TYPE">
                <xsd:documentation>Name of the PriceType</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PriceTypeAssociation">
        <xsd:annotation yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
            <xsd:documentation>
                <div>
						Maintains a list of Pricing Type Associations for Items Categories
						<Validation>
                        <Condition>Associations should be created for an individual attribute value, or a valid pair of entity attributes (<code>ItemID</code> and <code>UOM</code> for Item, <code>CategoryID</code> and <code>CategoryPath</code> for Category).</Condition>
                        <Error
                            Description="Inputs for PriceTypeAssociation are not valid" ErrorCode="YPM10190"/>
                    </Validation>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Unique identifier for this Category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryPath"
                type="yfctype:VARCHAR2-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>The path for the Category of products for which this Price Type is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Unique identifier for this Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Operation" type="yfctype:Action" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div> Operation to perform
							<br/>Valid Values: 
							<br/>
                            <b>
                                <code>Manage</code>
                            </b> - Creates a new record if it does not exist, or modifies an existing record if it does.
							<br/>
                            <b>
                                <code>Create</code>
                            </b> - Creates a new record. 
							<br/>
                            <b>
                                <code>Modify</code>
                            </b> - Change values in an existing record.
							<br/>
                            <b>
                                <code>Delete</code>
                            </b> - Deletes an existing record.
							<br/>The default behavior is <b>
                                <code>Manage</code>
                            </b>.
						</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>The Unit of Measure for the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
