Data/xapidocs/api_javadocs/XSD/YPM_Pricelist_Header_tran.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricelist_Header_tran"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricelist_Header_tran" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_Pricelist_Header_tran.xsd" yfc:rootElement="PricelistHeader">
        <xsd:appinfo source="yfc:structure">
            <PricelistHeader hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricelistHeader" type="yfc:PricelistHeaderXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>This table stores the price list.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricelistHeaderXSDType">
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Primary key attribute of YPM_PRICELIST_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricelistName" type="yfctype:PricelistName" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Name of the price list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
