Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Target_Item_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Target_Item_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Target_Item_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricing_Rule_Target_Item_master.xsd" yfc:rootElement="PricingRuleTargetItem">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleTargetItem hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleTargetItem" type="yfc:PricingRuleTargetItemXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
            <xsd:documentation>This table maintains information about the items on which the pricing rule adjustments are targeted.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleTargetItemXSDType">
        <xsd:attribute name="IncludeOrExclude"
            type="yfctype:EnumIncludeOrExclude" use="optional">
            <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                <xsd:documentation>Indicates whether certain items should be included or excluded from adjustments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                <xsd:documentation>The rule this target item is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleTargetItemKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="PRICING_RULE_TARGET_ITEM_KEY" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_TARGET_ITEM table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                <xsd:documentation>Quantity of the item.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="TargetItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="TARGET_ITEM_ID" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                <xsd:documentation>The unique identifier of the target item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="TargetUnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="TARGET_UOM" yfc:tableName="YPM_PRICING_RULE_TARGET_ITEM">
                <xsd:documentation>The unit of measure of the target item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
