Data/xapidocs/api_javadocs/XSD/YPM_manageShippingChargePolicy_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/manageShippingChargePolicy/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/manageShippingChargePolicy/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_manageShippingChargePolicy_output.xsd" yfc:rootElement="ShippingChargePolicy">
        <xsd:appinfo source="yfc:structure">
            <ShippingChargePolicy hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ShippingChargePolicy" type="yfc:ShippingChargePolicyXSDType">
        <xsd:annotation yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
            <xsd:documentation>Maintains list of shipping charge policies for a pricing organization</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="ShippingChargePolicyXSDType">
        <xsd:attribute name="Description" type="yfctype:Text-2000" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                <xsd:documentation>Description of the Shipping Charge Policy</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EffectiveEndDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_END_DATE" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                <xsd:documentation>date and time from which this policy is effective</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EffectiveStartDate" use="optional">
            <xsd:annotation yfc:columnName="EFFECTIVE_START_DATE" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                <xsd:documentation>Date and time from which this policy is effective</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Name" type="yfctype:Text-120" use="optional">
            <xsd:annotation yfc:columnName="NAME" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                <xsd:documentation>Name of Shipping Charge Policy</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                <xsd:documentation>Organization to which the mass managed pricing data belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Sequence" type="yfctype:Number-11" use="optional">
            <xsd:annotation yfc:columnName="SEQUENCE" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                <xsd:documentation>Sequence of the policy in comparison with other policies</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ShippingChargePolicyKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="SHIPPING_CHARGE_POLICY_KEY" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                <xsd:documentation>Primary key of table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Status" type="yfctype:Status" use="optional">
            <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YPM_SHIPPING_CHARGE_POLICY">
                <xsd:documentation>Indicates the status of the shipping policy</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
