Data/xapidocs/api_javadocs/XSD/YPM_getPricelistHeaderList_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/getPricelistHeaderList/input"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/getPricelistHeaderList/input" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_getPricelistHeaderList_input.xsd" yfc:rootElement="PricelistHeader">
        <xsd:appinfo source="yfc:structure">
            <PricelistHeader hasAttributes="Y">
                <InheritFromPricelistHeader hasAttributes="Y"/>
                <ChildPricelistHeaderList>
                    <ChildPricelistHeader hasAttributes="Y"/>
                </ChildPricelistHeaderList>
                <PricelistLineList>
                    <PricelistLine hasAttributes="Y"/>
                </PricelistLineList>
                <PricelistSellerAssignmentList>
                    <PricelistSellerAssignment hasAttributes="Y"/>
                </PricelistSellerAssignmentList>
            </PricelistHeader>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricelistHeader" type="yfc:PricelistHeaderXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>This table stores the price list.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricelistHeaderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ComplexQuery"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:InheritFromPricelistHeader"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChildPricelistHeaderList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistLineList"/>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistSellerAssignmentList"/>
        </xsd:all>
        <xsd:attribute name="AbsoluteAdjustmentOverride" use="optional">
            <xsd:annotation
                yfc:columnName="ABSOLUTE_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Absolute override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Price"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="CallingOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                <xsd:documentation>Calling Organization used to determine pricing organization.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Prices in this price list are applicable in this currency.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Description" type="yfctype:Text-240" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Description of the price list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDateActive" use="optional">
            <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>After this date the price list is not active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="InheritFromPricelistHeaderKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation
                yfc:columnName="INHERIT_FROM_PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>The pricelist header key of the price list from which this price list inherits its prices from.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MarkedForListPrice" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="MARKED_FOR_LIST_PRICE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Indicates this price list is marked for listing prices. Applicable only for master price list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PercentAdjustmentOverride" use="optional">
            <xsd:annotation yfc:columnName="PERCENT_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Percentage override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:PercentAdjustment"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Primary key attribute of YPM_PRICELIST_HDR table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricelistName" type="yfctype:PricelistName" use="optional">
            <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Name of the price list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingStatus" type="yfctype:PricingStatus" use="optional">
            <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Indicates the status of the price list.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Seller who maintains this price list. Prices of items in the price list are defined by the seller.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDateActive" use="optional">
            <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                <xsd:documentation>Date from which the price list is active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InheritFromPricelistHeader">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>
                <div>The master price list from which this price list inherits it's prices.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AbsoluteAdjustmentOverride" use="optional">
                <xsd:annotation
                    yfc:columnName="ABSOLUTE_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Absolute override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Prices in this price list are applicable in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-240" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Description of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>After this date the price list is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="InheritFromPricelistHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="INHERIT_FROM_PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>The pricelist header key of the price list from which this price list inherits its prices from.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MarkedForListPrice" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MARKED_FOR_LIST_PRICE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Indicates this price list is marked for listing prices. Applicable only for master price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentAdjustmentOverride" use="optional">
                <xsd:annotation
                    yfc:columnName="PERCENT_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Percentage override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PercentAdjustment"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_HDR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistName"
                type="yfctype:PricelistName" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Name of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Indicates the status of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Seller who maintains this price list. Prices of items in the price list are defined by the seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Date from which the price list is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChildPricelistHeaderList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:ChildPricelistHeader"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ChildPricelistHeader">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_HDR">
            <xsd:documentation>
                <div>The price list whose prices are derived from the <code>PricelistHeader</code>.</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AbsoluteAdjustmentOverride" use="optional">
                <xsd:annotation
                    yfc:columnName="ABSOLUTE_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Absolute override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Prices in this price list are applicable in this currency.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Description" type="yfctype:Text-240" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Description of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>After this date the price list is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="InheritFromPricelistHeaderKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="INHERIT_FROM_PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>The pricelist header key of the price list from which this price list inherits its prices from.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MarkedForListPrice" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="MARKED_FOR_LIST_PRICE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Indicates this price list is marked for listing prices. Applicable only for master price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentAdjustmentOverride" use="optional">
                <xsd:annotation
                    yfc:columnName="PERCENT_ADJUSTMENT_OVERRIDE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Percentage override valid only for a child price list. This adjustment is applied over the unit price obtained from the parent price list.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PercentAdjustment"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_HDR table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistName"
                type="yfctype:PricelistName" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_NAME" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Name of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Indicates the status of the price list.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Seller who maintains this price list. Prices of items in the price list are defined by the seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_HDR">
                    <xsd:documentation>Date from which the price list is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistLineList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistLine"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistLine">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_LINE">
            <xsd:documentation>This table stores the price associated with the item and quantity tiered prices.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AbsoluteAdjustment" use="optional">
                <xsd:annotation yfc:columnName="ABSOLUTE_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Absolute uplift or discount on the List Price.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Price"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>After this date the price list line is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FromQuantity" use="optional">
                <xsd:annotation yfc:columnName="FROM_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The quantity from which the tier begins.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Item for which the price is defined in this price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>List Price of an item.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:UnitPrice"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MassAuditID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="MASS_AUDIT_ID" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The unique identifier for the mass audit record.  Indicates the last mass operation that was performed on this price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PercentAdjustment" use="optional">
                <xsd:annotation yfc:columnName="PERCENT_ADJUSTMENT" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Percent uplift or discount on the List Price.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PercentAdjustment"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeName"
                type="yfctype:PriceTypeName" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Price Type for this Pricelist Line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Price List for which the price list lines are maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_LINE_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Indicates the status of the price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Date from which the price list line is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ToQuantity" use="optional">
                <xsd:annotation yfc:columnName="TO_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Upper limit of the quantity tier. A quanity x belongs to the tier only if (FromQuatity &lt;= x &lt; ToQuantity).</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistSellerAssignmentList">
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistSellerAssignment"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistSellerAssignment">
        <xsd:annotation yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
            <xsd:documentation>This table maintains the assignment of pricing rule to Seller organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssignmentID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNMENT_ID" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                    <xsd:documentation>Used to UNIQUELY identify a pricing rule seller assignment. The other columns are still included in the key for backward                     compatible purposes. Note that existing records, which have NULL for ASSIGNMENT_ID, will have the column populated automatically                      by SEQ_YPM_ASSIGNMENTID whenever managePricingRuleSellerAssignment on the record. Once populated, it should be solely used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                    <xsd:documentation>Organization code of the enterprise to which assignment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                    <xsd:documentation>Pricing rule that is assigned.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleSellerAssignmentKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRC_RULE_SLR_ASSNMNT_KEY" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                    <xsd:documentation>Primary key attribute of YPM_PRC_RULE_SLR_ASSNMNT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                    <xsd:documentation>The region to which the pricing rule is assigned. If null then this assignment is applicable irrespective of the region of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRC_RULE_SLR_ASSNMNT">
                    <xsd:documentation>Seller who maintains this pricing rule. Pricing rule is defined by the seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="ComplexQuery">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded" minOccurs="1">
                <xsd:choice>
                    <xsd:element maxOccurs="1" minOccurs="1" name="And" type="yfc:ComplexQueryAnd"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Or" type="yfc:ComplexQueryOr"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="Exp" type="yfc:ComplexQueryExp"/>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="Operator" use="optional">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value=""/>
                        <xsd:enumeration value="AND"/>
                        <xsd:enumeration value="And"/>
                        <xsd:enumeration value="and"/>
                        <xsd:enumeration value="OR"/>
                        <xsd:enumeration value="Or"/>
                        <xsd:enumeration value="or"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ComplexQueryAnd">
        <xsd:sequence maxOccurs="unbounded" minOccurs="1">
            <xsd:choice>
                <xsd:element maxOccurs="1" minOccurs="1" name="And" type="yfc:ComplexQueryAnd"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Or" type="yfc:ComplexQueryOr"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Exp" type="yfc:ComplexQueryExp"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ComplexQueryOr">
        <xsd:sequence maxOccurs="unbounded" minOccurs="1">
            <xsd:choice>
                <xsd:element maxOccurs="1" minOccurs="1" name="And" type="yfc:ComplexQueryAnd"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Or" type="yfc:ComplexQueryOr"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="Exp" type="yfc:ComplexQueryExp"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ComplexQueryExp">
        <xsd:attribute name="Name" type="xsd:string" use="required"/>
        <xsd:attribute name="Value" type="xsd:string" use="optional"/>
        <xsd:attribute name="QryType" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value=""/>
                    <xsd:enumeration value="EQ"/>
                    <xsd:enumeration value="LIKE"/>
                    <xsd:enumeration value="FLIKE"/>
                    <xsd:enumeration value="NE"/>
                    <xsd:enumeration value="GE"/>
                    <xsd:enumeration value="LE"/>
                    <xsd:enumeration value="GT"/>
                    <xsd:enumeration value="LT"/>
                    <xsd:enumeration value="ISNULL"/>
                    <xsd:enumeration value="NOTNULL"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
