Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Order_Attr_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Order_Attr_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Order_Attr_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricing_Rule_Order_Attr_master.xsd" yfc:rootElement="PricingRuleOrderAttribute">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleOrderAttribute hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleOrderAttribute" type="yfc:PricingRuleOrderAttributeXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
            <xsd:documentation>This table maintains the list of Order Attribute filter conditions for Pricing Rules. Each GroupId represents a set of co-requirements, or ANDed conditions for a pricing rule to be applicable. Only one GroupId condition set needs to be satisfied for a pricing rule to be applicable. A condition can be one of one of three types: text, numeric, or Boolean. For numeric conditions, the condition can either be an exact match, or greater than or equal to a value and less than another value.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleOrderAttributeXSDType">
        <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>Foreign key attribute from YFS_ATTRIBUTE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GroupId" type="yfctype:Integer" use="optional">
            <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>Logical group id for the attribute values. All attributes with same group id are evaluated together.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderAttributeBooleanValue"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_BOOLEAN_VALUE" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>The Boolean value to match against the attribute value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderAttributeDomainID"
            type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderAttributeGroupID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderAttributeID" type="yfctype:ID-40" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>The unique identifier of the attribute.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrderAttributeMaxValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_MAX_VALUE" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>The maximum numeric value to match against the attribute value, exclusive.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrderAttributeMinValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_MIN_VALUE" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>The minimum numeric value to match against the attribute value, inclusive.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrderAttributeNumberValue" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_NUMBER_VALUE" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>The numeric value to match against the attribute value.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrderAttributeTextValue"
            type="yfctype:Text-200" use="optional">
            <xsd:annotation yfc:columnName="ATTRIBUTE_TEXT_VALUE" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>The text value to match against the attribute value.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleOrderAttributeKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_ORDER_ATTR_KEY" yfc:tableName="YPM_PRICING_RULE_ORDER_ATTR">
                <xsd:documentation>Primary key attribute of YPM_Pricing_Rule_Order_Attr table</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
