Data/xapidocs/api_javadocs/XSD/YPM_getPricingRuleAssignmentList_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/getPricingRuleAssignmentList/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/getPricingRuleAssignmentList/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_getPricingRuleAssignmentList_output.xsd" yfc:rootElement="PricingRuleAssignmentList">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleAssignmentList hasAttributes="Y">
                <PricingRuleAssignment hasAttributes="Y">
                    <Region hasAttributes="Y"/>
                    <PricingRule hasAttributes="Y"/>
                    <Coupon hasAttributes="Y"/>
                    <Customer hasAttributes="Y">
                        <BuyerOrganization hasAttributes="Y"/>
                    </Customer>
                </PricingRuleAssignment>
            </PricingRuleAssignmentList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleAssignmentList" type="yfc:PricingRuleAssignmentListXSDType"/>
    <xsd:complexType name="PricingRuleAssignmentListXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:PricingRuleAssignment"/>
        </xsd:all>
        <xsd:attribute name="TotalNumberOfRecords" type="yfctype:Count" use="optional">
            <xsd:annotation>
                <xsd:documentation>Total number of records that match the input criteria.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PricingRuleAssignment">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
            <xsd:documentation>This table maintains the assignment of pricing rule to customer and customer attributes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Region"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricingRule"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Coupon"/>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:Customer"/>
            </xsd:all>
            <xsd:attribute name="AssignmentID" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNMENT_ID" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>Used to UNIQUELY identify a pricing rule assignment. The other columns are still included in the key for backward                     compatible purposes. Note that existing records, which have NULL for ASSIGNMENT_ID, will have the column populated automatically                      by SEQ_YPM_ASSIGNMENTID whenever managePricingRuleAssignment on the record. Once populated, it should be solely used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>The identifier for the customer. If null then this assignment is applicable irrespective of the CustomerID of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>The level of a customer with the enterprise. If null then this assignment is applicable irrespective of the customer level of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerType"
                type="yfctype:EnumAssignmentCustomerType" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>Indicates the type of customer. If null then this assignment is applicable irrespective of the type of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>Organization code of the enterprise to which assignment belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleAssignmentKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="PRICING_RULE_ASSIGNMENT_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_ASSIGNMENT table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>The pricing rule that this assignment is associated with.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>The region associated to the price list. If null then this assignment is applicable irrespective of the region of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>The type of the relationship that exists between an organization and an enterprise. If null then this assignment is applicable irrespective of the relationship type of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Shareable" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SHAREABLE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>Indicates whether the rule should be shared with the customer's descendant customers or not. Applicable only when CustomerID is populated on this assignment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                    <xsd:documentation>Vertical of the customer to which the pricing rule is assigned. If null then this assignment is applicable irrespective of the vertical of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Region">
        <xsd:annotation yfc:tableName="YFS_REGION">
            <xsd:documentation>
                <div>
				This table contains information about the Region definition. A region schema key must be given to indicate the schema with which the Region is associated.
				</div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CanAggregate" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="CAN_AGGREGATE" yfc:tableName="YFS_REGION">
                    <xsd:documentation>This flag indicates whether this region can be a parent of other regions.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentRegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PARENT_REGION_KEY" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The parent region associated with this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionDescription"
                type="yfctype:FreeText-100" use="optional">
                <xsd:annotation yfc:columnName="REGION_DESCRIPTION" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The description of this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The primary key for the YFS_REGION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionLevelName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_LEVEL_NAME" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The name of the region level associated with this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegionName" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="REGION_NAME" yfc:tableName="YFS_REGION">
                    <xsd:documentation>The unique name of this region.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricingRule">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE">
            <xsd:documentation>This table provides the information for each pricing rule.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ApplyProratedAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="APPLY_PRORATED_ADJUST" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>When enabled adjustment will be distributed to both the target and the qualifiers for combination rules</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateExclusionCategoryAttributeForTarget"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_EX_CAT_ATTR_TAR" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether exclusion target category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateExclusionCategoryAttributeForTrigger"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_EX_CAT_ATTR_TRIG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether exclusion trigger category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateInclusionCategoryAttributeForTarget"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_IN_CAT_ATTR_TAR" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether inclusion target category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="AssociateInclusionCategoryAttributeForTrigger"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSOC_IN_CAT_ATTR_TRIG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether inclusion trigger category and attributes are associated or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CarrierServiceCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>The carrier service that this rule applies on. Applicable only for shipping category of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommonTriggerQuantity" use="optional">
                <xsd:annotation yfc:columnName="COMMON_TRIGGER_QUANTITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates quantity required to trigger rule, which all valid trigger items count towards.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute
                name="CopyTriggerExclusionsToTargetExclusions"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="COPY_TRIG_EXCLUDES_TO_TARG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates, Trigger Exclusions are copied to Target Exclusions. Default is Y</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute
                name="CopyTriggerInclusionsToTargetInclusions"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="COPY_TRIG_INCLUDES_TO_TARG" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates, Trigger Inclusions are copied to Target Inclusions. Default is N</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
                <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Currency in which this rule is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerRedemptionLimit" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_REDEMPTION_LIMIT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This option limits the number of times that a pricing rule or coupon can be used by a single customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PositiveInteger"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="Description"
                type="yfctype:PricingRuleDescription" use="optional">
                <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Description of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DiscountAllCombinationItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="DISCOUNT_ALL_COMBO_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If 'Y' all target items that create a combination will be discounted</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributeAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DISTRIBUTE_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Boolean indicating if the rule adjustments should be distributed to lines or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DistributeAdjustmentAcrossCombo"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="DIST_ADJ_ACROSS_COMBO" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If 'Y' the adjustment for the rule will be distributed across the target combinations</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EnableMixNMatchItems"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="ENABLE_MIX_N_MATCH_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable for multiple target items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>After this date the rule is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="EndTime" use="optional">
                <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If not void indicates that the rule is applicable till this time.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ExclusivityId" type="yfctype:Text-100" use="optional">
                <xsd:annotation yfc:columnName="EXCLUSIVITY_ID" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>ExclusivityID is used to group set of Pricing Rules for mutual exclusivity. Exclusivity Type settings are applicable among Pricing Rules having same ExclusvityID</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExclusivityType"
                type="yfctype:EnumPricingExclusivityType" use="optional">
                <xsd:annotation yfc:columnName="EXCLUSIVITY_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Exclusivity Type of the Pricing Rule</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IgnoreRuleOnManualAdjustment"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IGNORE_RULE_ON_MANUAL_ADJ" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates that this rule is not applicable on entire order or lines that have either manual adjustments or manual rule adjustments specified.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IgnoreRuleOnPriceLock"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IGNORE_RULE_ON_PRICE_LOCK" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule should not be fired if the line item's unit price is locked. The line item can be the target or the rule trigger. Applicable only for rules that are item targeted, like combination and item quantity rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnFriday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_FRIDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Friday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnMonday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_MONDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Monday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnSaturday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SATURDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Saturday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnSunday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SUNDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Sunday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnThursday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_THURSDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Thursday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnTuesday" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_TUESDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Tuesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsActiveOnWednesday"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ACTIVE_ON_WEDNESDAY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If set indicates that the rule is applicable on Wednesday.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCouponRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_COUPON_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether this rule is a coupon or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsCustomRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_CUSTOM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is custom or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsFreeGiftRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_FREE_GIFT_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is a free gift rule or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemAttributeValueRule"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_ITEM_ATTRIBUTE_VALUE_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates that this item targeted rule is defined on item attribute values. Applicable for all types of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsItemRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_ITEM_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether the rule is targeted on items or not.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsManualRule" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_MANUAL_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether this pricing rule is a manually applied adjustment rule or not. A manual pricing rule is suggested by the pricing service based on contents or total of the order, which then again should be specified with the amount of adjustment to be applied against the order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsNonInstantDiscountRule"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="IS_NON_INSTANT_DISCOUNT_RULE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates if the pricing rule is a Non-Instant Discount pricing Rule</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemOperatorCode"
                type="yfctype:EnumItemOperatorCode" use="optional">
                <xsd:annotation yfc:columnName="ITEM_OPERATOR_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates how the trigger for the rule is evaluated. Applicable only for combination type of rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="MinimizeNumberOfShipments"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="MINIMIZE_NUMBER_OF_SHIPMENTS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates whether to optimize on the number of shipments or not. Applicable only for shipping category of rules.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OverallRedemptionLimit" use="optional">
                <xsd:annotation
                    yfc:columnName="OVERALL_REDEMPTION_LIMIT" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This option limits the number of times that a pricing rule or coupon can be used in total, by all customers</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:PositiveInteger"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>The rule is applicable for this Payment Type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingComplexity"
                type="yfctype:Text-12" use="optional">
                <xsd:annotation yfc:columnName="PRICING_COMPLEXITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This attribute is used by SBC application. It is a free text field. This attribute is not used by any pricing api internally.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Primary key attribute of YPM_PRICING_RULE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleName"
                type="yfctype:PricingRuleName" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_NAME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Name of the pricing rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingStatus"
                type="yfctype:PricingStatus" use="optional">
                <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the status of the pricing rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
                <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>This attribute is used to prioritize Pricing Rule among a list of applicable pricing rules with same Exclusivity settings. Higher the value of this attribute, higher the priority of Pricing Rule, to be applied to an order/item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleCategory"
                type="yfctype:EnumRuleCategory" use="optional">
                <xsd:annotation yfc:columnName="RULE_CATEGORY" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the category to which the rule belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RuleType" type="yfctype:EnumRuleType" use="optional">
                <xsd:annotation yfc:columnName="RULE_TYPE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Indicates the type of the rule.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SellerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Seller who maintains this pricing rule. Promotion is defined by the seller.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>Date from which the rule is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="StartTime" use="optional">
                <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YPM_PRICING_RULE">
                    <xsd:documentation>If not void indicates that the rule is applicable from this time.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Time"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Coupon">
        <xsd:annotation yfc:tableName="YPM_COUPON">
            <xsd:documentation>This table stores information about the coupon. The coupon behavior is defined by the pricing rule associated with it.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AssignedUniqueCodes"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates  associated unique codes are individual customer assignments.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CodeFormat" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CODE_FORMAT" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Format of generated part of unique code.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CouponID" type="yfctype:CouponId" use="optional">
                <xsd:annotation yfc:columnName="COUPON_ID" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Unique identifier of a coupon.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CouponKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="COUPON_KEY" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Primary key attribute of YPM_COUPON table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GenerateUniqueCodes"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="GENERATE_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Specifies whether coupon definition has generated unique codes</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GenerationStatus"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="GENERATION_STATUS" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Status of Unique Code generation</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ImportUniqueCodes" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IMPORT_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates associated unique codes are imported from an external system.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsExclusive" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_EXCLUSIVE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Indicates whether the coupon is exclusive or not. Either a single exclusive coupon or multiple non-exclusive coupons can be applied on an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="NumberOfCodesToGenerate" use="optional">
                <xsd:annotation
                    yfc:columnName="NUMBER_OF_CODES_TO_GENERATE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Specifies the number of unique codes to generate</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NUMBER-10"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_COUPON">
                    <xsd:documentation>Pricing rule associated with the coupon.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="Customer">
        <xsd:annotation yfc:tableName="YFS_CUSTOMER">
            <xsd:documentation>This table stores customer definitions as defined by an organization for a buyer organization, a receiving node, or a consumer.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:BuyerOrganization"/>
            </xsd:all>
            <xsd:attribute name="AggregateStatus" type="yfctype:String" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>AggregateStatus</code> is the resulting <code>Status</code> for the customer or contact after taking into consideration the <code>Status</code> of its customer hierarchy.  It will only go up the hierarchy to compare statuses.  The highest <code>Status</code> value (10,20,30) will always take priority. 
						Examples: 
						If the customer's <code>Status</code> is 10 (Active) and parent's <code>Status</code> is 30 (Inactive), then the current customer's <code>AggregateStatus</code> will be 30.  
						If the customer's <code>Status</code> is 20 (On Hold), parent's <code>Status</code> is 10 (Active), and child's <code>Status</code> is 30 (Inactive), then the customer's <code>AggregateStatus</code> will be 20.  </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AssignedReps"
                type="yfctype:NumberOfAssignment" use="optional">
                <xsd:annotation yfc:columnName="ASSIGNED_REPS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates number of users currently assigned to this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BuyerOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="BUYER_ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The organization code of buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CanConsumeSupplementalCapacity"
                type="yfctype:Flag" use="optional">
                <xsd:annotation
                    yfc:columnName="CAN_CONSUME_SUPPL_CAPACITY" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This flag indicates whether the customer can be scheduled against the supplemental capacity.  Default value is N.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CommitmentTime" use="optional">
                <xsd:annotation yfc:columnName="COMMITMENT_TIME" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Hours taken to send commitment to the customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="CustomerAssignedVendorID"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_ASSIGNED_VENDOR_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This is the ID issued by Customer to the vendor.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerClassificationCode"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="CUSTOMER_CLASSIFICATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The classification code of customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_KEY" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The primary key for the YFS_CUSTOMER table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a level a customer has achieved.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerRewardsNo"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_REWARDS_NO" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The identifier of the customer's rewards number</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CustomerType"
                type="yfctype:EnumCustomerType" use="optional">
                <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This field indicates the type of customer. Default value is Consumer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ExternalCustomerID"
                type="yfctype:CustomerId" use="optional">
                <xsd:annotation yfc:columnName="EXTERNAL_CUSTOMER_ID" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The external identifier for the customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="FuncAckTime" use="optional">
                <xsd:annotation yfc:columnName="FUNC_ACK_TIME" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Hours taken to send functional acknowledgement to the customer.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:NumberOfHours"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="MaxAssignRepsOrTeams"
                type="yfctype:NumberOfAssignment" use="optional">
                <xsd:annotation
                    yfc:columnName="MAX_ASSIGN_REPS_OR_TEAMS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates maximum number of users or teams that can be assigned to manage this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The organization code of organization that defines this customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RegisteredDate"
                type="yfctype:TimeStamp" use="optional">
                <xsd:annotation yfc:columnName="REGISTERED_DATE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>The date and time when the user was registered or when registration goes into effect. Default: current timestamp.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="RelationshipType"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates the type of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsAsn" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_ASN" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the  customer has to be sent an advance ship notice.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsCommitment" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_COMMITMENT" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the  customer has to be sent commitment against a purchase order.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SendsFuncAck" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="SENDS_FUNC_ACK" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates whether the customer  has to be sent functional acknowledgment.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="SlotPreferenceType"
                type="yfctype:EnumSlotPreferenceType" use="optional">
                <xsd:annotation yfc:columnName="SLOT_PREFERENCE_TYPE" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>This field indicates the slot preference type of the customer. Default value is NONE.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Status"
                type="yfctype:EnumCustomerStatus" use="optional">
                <xsd:annotation yfc:columnName="STATUS" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a status on a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YFS_CUSTOMER">
                    <xsd:documentation>Indicates a vertical of a customer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="BuyerOrganization">
        <xsd:annotation yfc:tableName="YFS_ORGANIZATION">
            <xsd:documentation>This table stores attributes that are common to all oganizations. Organizations may play different roles in trade. For example,  Buyer, Seller, Enterprise, ShipNode.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AccountWithHub" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ACCOUNT_WITH_HUB" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The account with the hub.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="AuthorityType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="AUTHORITY_TYPE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The nature of the authority that issued the tax exemption to the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="BillingAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="BILLING_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The billing address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CatalogOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="CATALOG_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that owns the catalog of this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ContactAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CONTACT_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The contact address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CorporateAddressKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="CORPORATE_ADDRESS_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The corporate address that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CreatorOrganizationKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation
                    yfc:columnName="CREATOR_ORGANIZATION_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that created this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="DunsNumber" type="yfctype:DunsNumber" use="optional">
                <xsd:annotation yfc:columnName="DUNS_NUMBER" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The DUNS number of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="INVENTORY_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization that owns the inventory of this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="InventoryPublished" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="INVENTORY_PUBLISHED" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether inventory is published by the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsBuyer" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_BUYER" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is a buyer.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsHubOrganization" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_HUB_ORGANIZATION" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is hub. There can be only one hub organization in the system, and that organization is the owner of the entire market place. A hub organization has maximum visibility in the market place.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsLegalEntity" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_LEGAL_ENTITY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is a legal entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsNode" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_NODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization is a node.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IsSourcingKept" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="IS_SOURCING_KEPT" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether sourcing is maintained for the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IssuingAuthority"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ISSUING_AUTHORITY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The authority that issued tax exemption certificate.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemXrefRule" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="ITEM_XREF_RULE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The rule used for cross referencing items.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LocaleCode" type="yfctype:Locale" use="optional">
                <xsd:annotation yfc:columnName="LOCALE_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The locale that is associated with this organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The unique identifier for an organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The primary key attribute for the YFS_ORGANIZATION table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationName"
                type="yfctype:OrganizationName" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_NAME" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The name of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ParentOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation
                    yfc:columnName="PARENT_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field indicates the parent of an organization. An organization can have multiple child organizations but only one parent.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PaymentProcessingReqd"
                type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="PAYMENT_PROCESSING_REQD" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This flag indicates whether this organization requires payment processing.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryEnterpriseKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_ENTERPRISE_KEY" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field indicates the primary enterprise that is associated with this organization. Organizations may participate with multiple enterprises, one of which is primary.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimarySicCode" type="yfctype:Text-10" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_SIC_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The primary SIC code of the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PrimaryUrl" type="yfctype:URL" use="optional">
                <xsd:annotation yfc:columnName="PRIMARY_URL" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The organization's primary URL.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptFlag" type="yfctype:Flag" use="optional">
                <xsd:annotation yfc:columnName="TAX_EXEMPT_FLAG" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This indicates whether the organization is exempt from taxes.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxExemptionCertificate"
                type="yfctype:Text-40" use="optional">
                <xsd:annotation
                    yfc:columnName="TAX_EXEMPTION_CERTIFICATE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The certificate of tax exemption.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxJurisdiction" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="TAX_JURISDICTION" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The tax jurisdiction to which the organization belongs.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="TaxpayerId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="TAXPAYER_ID" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The tax payer identifier for the organization.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="XrefAliasType" type="yfctype:Text-40" use="optional">
                <xsd:annotation yfc:columnName="XREF_ALIAS_TYPE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>The cross reference alias type.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="XrefOrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="XREF_ORGANIZATION_CODE" yfc:tableName="YFS_ORGANIZATION">
                    <xsd:documentation>This field is not currently used.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
