Data/xapidocs/api_javadocs/XSD/YPM_getPriceTypeDetails_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/getPriceTypeDetails/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/getPriceTypeDetails/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_getPriceTypeDetails_output.xsd" yfc:rootElement="PriceType">
        <xsd:appinfo source="yfc:structure">
            <PriceType hasAttributes="Y">
                <PriceTypeAssociationList>
                    <PriceTypeAssociation hasAttributes="Y"/>
                </PriceTypeAssociationList>
            </PriceType>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PriceType" type="yfc:PriceTypeXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICE_TYPE">
            <xsd:documentation>Maintains a list of Pricing Types for Items</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PriceTypeXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PriceTypeAssociationList"/>
        </xsd:all>
        <xsd:attribute name="Description" type="yfctype:Text-240" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICE_TYPE">
                <xsd:documentation>Description for Price Type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsPriceTypeForInformationOnly"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="PRICE_TYPE_INFO_ONLY" yfc:tableName="YPM_PRICE_TYPE">
                <xsd:documentation>Flag to indicate that his Price Type is for informational use only.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICE_TYPE">
                <xsd:documentation>Pricing Organization Code for the Price Type</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceTypeKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICE_TYPE_KEY" yfc:tableName="YPM_PRICE_TYPE">
                <xsd:documentation>Primary key attribute of YPM_PRICE_TYPE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PriceTypeName" type="yfctype:PriceTypeName" use="optional">
            <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YPM_PRICE_TYPE">
                <xsd:documentation>Name of the PriceType</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RecurringType" type="yfctype:CommonCode" use="optional">
            <xsd:annotation yfc:columnName="RECURRING_TYPE" yfc:tableName="YPM_PRICE_TYPE">
                <xsd:documentation>Recurring Interval for Price Type; if null, then Price Type is considered non-recurring.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="PriceTypeAssociationList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PriceTypeAssociation"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PriceTypeAssociation">
        <xsd:annotation yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
            <xsd:documentation>Maintains a list of Pricing Type Associations for Items Categories</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="CategoryID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_ID" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Unique identifier for this Category.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="CategoryPath"
                type="yfctype:VARCHAR2-800" use="optional">
                <xsd:annotation yfc:columnName="CATEGORY_PATH" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>The path for the Category of products for which this Price Type is applicable.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Unique identifier for this Item</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="OrganizationCode"
                type="yfctype:OrgCode" use="optional">
                <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Pricing Organization Code for the Price Type</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PriceTypeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICE_TYPE_KEY" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>Primary key attribute of YPM_PRICE_TYPE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICE_TYPE_ASSOCIATION">
                    <xsd:documentation>The Unit of Measure for the Item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
