Data/xapidocs/api_javadocs/XSD/YPM_calculateShippingChargeUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/calculateShippingChargeUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/calculateShippingChargeUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_calculateShippingChargeUE_output.xsd" yfc:rootElement="Order">
        <xsd:appinfo source="yfc:structure">
            <Order>
                <Shipping hasAttributes="Y"/>
            </Order>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Order" type="yfc:OrderXSDType">
        <xsd:annotation>
            <xsd:documentation>Output of shipping charge calculation user exit.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="OrderXSDType">
        <xsd:all>
            <xsd:element maxOccurs="1" minOccurs="1" ref="yfc:Shipping"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="Shipping">
        <xsd:complexType>
            <xsd:attribute name="ShippingCharge" type="yfctype:Price" use="required">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>
                            <code>ShippingCharge</code> calculated by the user exit.
					</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
