Data/xapidocs/api_javadocs/XSD/YPM_Manual_Rule_Adjustment_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Manual_Rule_Adjustment_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Manual_Rule_Adjustment_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_Manual_Rule_Adjustment_master.xsd" yfc:rootElement="ManualRuleAdjustment">
        <xsd:appinfo source="yfc:structure">
            <ManualRuleAdjustment hasAttributes="Y">
                <StatusAttribute hasAttributes="Y"/>
            </ManualRuleAdjustment>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="ManualRuleAdjustment" type="yfc:ManualRuleAdjustmentXSDType"/>
    <xsd:complexType name="ManualRuleAdjustmentXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:StatusAttribute"/>
        </xsd:sequence>
        <xsd:attribute name="Adjustment" type="yfctype:Price" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div>Adjustment passed as part of this manual rule.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>
                    <div>Primary key of the manual rule.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleName"
            type="yfctype:PricingRuleName" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_NAME" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>
                    <div>Name of the manual rule.</div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StatusMsgCode" type="yfctype:Text-100" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <div class="portlet"
                            style="width:90%">
					Indicates the status of the manual rule validation and application on the order. Following table lists the possible status codes: 
					<table
                            border="0" cellpadding="0" cellspacing="0" class="table">
                            <tr>
                                <td class="tablecolumnheader" width="20%">StatusMsgCode</td>
                                <td align="center"
                                    class="tablecolumnheader" width="40%">Description</td>
                                <td align="center" class="tablecolumnheader">Attributes returned</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_VALID</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule is valid.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_INVALID</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule does not exist.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_NOT_ACTIVE</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule is not active.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>PricingStatus</code> of the manual rule</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_NOT_YET_EFFECTIVE</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule is not yet active.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>StartDateActive</code> of the manual rule</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_EXPIRED</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule is expired.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>EndDateActive</code> of the manual rule</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_CUSTOMER</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule is not assigned to the <code>CustomerID</code>
                                </td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>CustomerID</code> passed in the input. A blank <code>CustomerID</code> indicates that the manual rule has no assignments with void <code>CustomerID</code> for the <code>SelectionCriteria</code>.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_REGION</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule is not assigned to the passed <code>RegionKey</code> or <code>PersonInfo</code>
                                </td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>RegionKey</code> passed or derived based on <code>PersonInfo</code> from the input. A blank <code>RegionKey</code> indicates that the manual rule has no assignments with void <code>RegionKey</code> for the <code>SelectionCriteria</code>.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_BAD_ATTRIBUTE</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule is not assigned to the passed customer attribute</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">Any one of the input <code>CustomerType</code>, <code>RelationshipType</code>, <code>Vertical</code> or any extended attribute of the <code>YPM_PRICING_RULE_ASSIGNMENT</code> that didn't match the manual rule assignments.  A blank attribute value indicates that the manual rule has no assignments with void value for the <code>SelectionCriteria</code> of that customer attribute.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_ADJUSTMENT_NOT_VALID</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The adjustment specified in the input is not valid for the applicable manual rule action. The reason can be any one of the below: 
							<ul>
                                    <li>Adjustment is not passed or passed adjustment is null and the applicable manual rule action doesn't have any default adjustment (<code>Adjustment</code> on the manual rule action) specified.</li>
                                    <li>The maximum allowed manual adjustment (<code>MaximumManualAdjustment</code> on the manual rule action) on the applicable manual rule action is null and the passed adjustment is not equal to the default adjustment.</li>
                                    <li>if action is supposed to produce a discount and the condition ( 0 &gt;= Passed adjustment &gt;= <code>MaximumManualAdjustment</code> of the applicable manual rule action ) is false.</li>
                                    <li>if action is supposed to produce a uplift and the condition ( 0 &lt;= Passed adjustment &lt;= <code>MaximumManualAdjustment</code> of the applicable manual rule action ) is false.</li>
                                    </ul>
                                </td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">Attributes of the applicable manual rule action are returned.</td>
                            </tr>
                            <!-- Validation END -->
                            <!-- Execution BEGIN-->
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_TARGET_SKU_MISSING</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The item on which this manual rule applies adjustments does not exist in this order</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">
                                    <code>TargetItemID</code> and <code>TargetUnitOfMeasure</code> of the manual rule.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_CONDITION_NOT_SATISFIED</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule condition is not satisfied. Hence the rule is not fired.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_NOT_APPLIED</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">Even though the manual rule is valid and condition is satisfied the manual rule is not applied.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None.</td>
                            </tr>
                            <tr>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">YPM_RULE_NOT_APPLICABLE</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">The manual rule is not applicable. For example an order total rule is passed at line level.</td>
                                <td align="center" class="tablecolumn"
                                    style="border-bottom:1px solid #8C92C6" valign="top">None.</td>
                            </tr>
                        </table>
                    </div>
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="StatusAttribute">
        <xsd:complexType>
            <xsd:attribute name="Name" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Name of the attribute on the manual rule or in the input due to which the manual rule is not applicable. </div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="Value" type="yfctype:Text-100" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <div>Value of the attribute.</div>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
