Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Assignment_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Assignment_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Assignment_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricing_Rule_Assignment_master.xsd" yfc:rootElement="PricingRuleAssignment">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleAssignment hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleAssignment" type="yfc:PricingRuleAssignmentXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
            <xsd:documentation>This table maintains the assignment of pricing rule to customer and customer attributes.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleAssignmentXSDType">
        <xsd:attribute name="AssignmentID" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNMENT_ID" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Used to UNIQUELY identify a pricing rule assignment. The other columns are still included in the key for backward                     compatible purposes. Note that existing records, which have NULL for ASSIGNMENT_ID, will have the column populated automatically                      by SEQ_YPM_ASSIGNMENTID whenever managePricingRuleAssignment on the record. Once populated, it should be solely used.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerID" type="yfctype:CustomerId" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_ID" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The identifier for the customer. If null then this assignment is applicable irrespective of the CustomerID of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerLevel" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_LEVEL" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The level of a customer with the enterprise. If null then this assignment is applicable irrespective of the customer level of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerType"
            type="yfctype:EnumAssignmentCustomerType" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_TYPE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Indicates the type of customer. If null then this assignment is applicable irrespective of the type of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnterpriseCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ENTERPRISE_CODE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Organization code of the enterprise to which assignment belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleAssignmentKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_ASSIGNMENT_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_ASSIGNMENT table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The pricing rule that this assignment is associated with.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RegionKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="REGION_KEY" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The region associated to the price list. If null then this assignment is applicable irrespective of the region of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RelationshipType" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="RELATIONSHIP_TYPE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>The type of the relationship that exists between an organization and an enterprise. If null then this assignment is applicable irrespective of the relationship type of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Shareable" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="SHAREABLE" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Indicates whether the rule should be shared with the customer's descendant customers or not. Applicable only when CustomerID is populated on this assignment.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Vertical" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="VERTICAL" yfc:tableName="YPM_PRICING_RULE_ASSIGNMENT">
                <xsd:documentation>Vertical of the customer to which the pricing rule is assigned. If null then this assignment is applicable irrespective of the vertical of a customer.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
