Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Price_Type_Trigger_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Price_Type_Trigger_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Price_Type_Trigger_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation
        yfc:fileName="YPM_Pricing_Rule_Price_Type_Trigger_master.xsd" yfc:rootElement="PricingRulePriceTypeTrigger">
        <xsd:appinfo source="yfc:structure">
            <PricingRulePriceTypeTrigger hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRulePriceTypeTrigger" type="yfc:PricingRulePriceTypeTriggerXSDType">
        <xsd:annotation yfc:tableName="YPM_PRC_RULE_PRC_TYP_TRIG">
            <xsd:documentation>Maintains a list of Pricing Rules and the price types which contribute to the total price for Rule criteria.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRulePriceTypeTriggerXSDType">
        <xsd:attribute name="PriceTypeName" type="yfctype:PriceTypeName" use="optional">
            <xsd:annotation yfc:columnName="PRICE_TYPE_NAME" yfc:tableName="YPM_PRC_RULE_PRC_TYP_TRIG">
                <xsd:documentation>Price Type associated with this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRC_RULE_PRC_TYP_TRIG">
                <xsd:documentation>Primary Key attribute of the Pricing Rule associated with this record.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRulePriceTypeTriggerKey"
            type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRC_RULE_PRC_TYP_TRIG_KEY" yfc:tableName="YPM_PRC_RULE_PRC_TYP_TRIG">
                <xsd:documentation>Primary key attribute of YPM_PRC_RULE_PRC_TYP_TRIG table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
