Data/xapidocs/api_javadocs/XSD/YPM_Coupon_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Coupon_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Coupon_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_Coupon_master.xsd" yfc:rootElement="Coupon">
        <xsd:appinfo source="yfc:structure">
            <Coupon hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="Coupon" type="yfc:CouponXSDType">
        <xsd:annotation yfc:tableName="YPM_COUPON">
            <xsd:documentation>This table stores information about the coupon. The coupon behavior is defined by the pricing rule associated with it.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="CouponXSDType">
        <xsd:attribute name="AssignedUniqueCodes" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ASSIGNED_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Indicates  associated unique codes are individual customer assignments.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CodeFormat" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CODE_FORMAT" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Format of generated part of unique code.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponID" type="yfctype:CouponId" use="optional">
            <xsd:annotation yfc:columnName="COUPON_ID" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Unique identifier of a coupon.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CouponKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="COUPON_KEY" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Primary key attribute of YPM_COUPON table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GenerateUniqueCodes" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="GENERATE_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Specifies whether coupon definition has generated unique codes</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="GenerationStatus" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="GENERATION_STATUS" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Status of Unique Code generation</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ImportUniqueCodes" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IMPORT_UNIQUE_CODES" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Indicates associated unique codes are imported from an external system.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsExclusive" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_EXCLUSIVE" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Indicates whether the coupon is exclusive or not. Either a single exclusive coupon or multiple non-exclusive coupons can be applied on an order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="NumberOfCodesToGenerate" use="optional">
            <xsd:annotation yfc:columnName="NUMBER_OF_CODES_TO_GENERATE" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Specifies the number of unique codes to generate</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:NUMBER-10"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_COUPON">
                <xsd:documentation>Pricing rule associated with the coupon.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
