Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_Pricing_Rule_master.xsd" yfc:rootElement="PricingRule">
        <xsd:appinfo source="yfc:structure">
            <PricingRule hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRule" type="yfc:PricingRuleXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE">
            <xsd:documentation>This table provides the information for each pricing rule.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleXSDType">
        <xsd:attribute name="ApplyProratedAdjustment"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="APPLY_PRORATED_ADJUST" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>When enabled adjustment will be distributed to both the target and the qualifiers for combination rules</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute
            name="AssociateExclusionCategoryAttributeForTarget"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ASSOC_EX_CAT_ATTR_TAR" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether exclusion target category and attributes are associated or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute
            name="AssociateExclusionCategoryAttributeForTrigger"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ASSOC_EX_CAT_ATTR_TRIG" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether exclusion trigger category and attributes are associated or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute
            name="AssociateInclusionCategoryAttributeForTarget"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ASSOC_IN_CAT_ATTR_TAR" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether inclusion target category and attributes are associated or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute
            name="AssociateInclusionCategoryAttributeForTrigger"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ASSOC_IN_CAT_ATTR_TRIG" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether inclusion trigger category and attributes are associated or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CarrierServiceCode" type="yfctype:Text-40" use="optional">
            <xsd:annotation yfc:columnName="CARRIER_SERVICE_CODE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>The carrier service that this rule applies on. Applicable only for shipping category of rules.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CommonTriggerQuantity" use="optional">
            <xsd:annotation yfc:columnName="COMMON_TRIGGER_QUANTITY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates quantity required to trigger rule, which all valid trigger items count towards.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="CopyTriggerExclusionsToTargetExclusions"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="COPY_TRIG_EXCLUDES_TO_TARG" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates, Trigger Exclusions are copied to Target Exclusions. Default is Y</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CopyTriggerInclusionsToTargetInclusions"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="COPY_TRIG_INCLUDES_TO_TARG" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates, Trigger Inclusions are copied to Target Inclusions. Default is N</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Currency" type="yfctype:Currency" use="optional">
            <xsd:annotation yfc:columnName="CURRENCY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Currency in which this rule is applicable.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="CustomerRedemptionLimit" use="optional">
            <xsd:annotation yfc:columnName="CUSTOMER_REDEMPTION_LIMIT" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>This option limits the number of times that a pricing rule or coupon can be used by a single customer.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:PositiveInteger"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Description"
            type="yfctype:PricingRuleDescription" use="optional">
            <xsd:annotation yfc:columnName="DESCRIPTION" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Description of the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DiscountAllCombinationItems"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DISCOUNT_ALL_COMBO_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If 'Y' all target items that create a combination will be discounted</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributeAdjustment" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DISTRIBUTE_ADJUSTMENT" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Boolean indicating if the rule adjustments should be distributed to lines or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="DistributeAdjustmentAcrossCombo"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="DIST_ADJ_ACROSS_COMBO" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If 'Y' the adjustment for the rule will be distributed across the target combinations</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EnableMixNMatchItems" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="ENABLE_MIX_N_MATCH_ITEMS" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule is applicable for multiple target items.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="EndDateActive" use="optional">
            <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>After this date the rule is not active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="EndTime" use="optional">
            <xsd:annotation yfc:columnName="END_TIME" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If not void indicates that the rule is applicable till this time.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Time"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ExclusivityId" type="yfctype:Text-100" use="optional">
            <xsd:annotation yfc:columnName="EXCLUSIVITY_ID" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>ExclusivityID is used to group set of Pricing Rules for mutual exclusivity. Exclusivity Type settings are applicable among Pricing Rules having same ExclusvityID</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ExclusivityType"
            type="yfctype:EnumPricingExclusivityType" use="optional">
            <xsd:annotation yfc:columnName="EXCLUSIVITY_TYPE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Exclusivity Type of the Pricing Rule</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreRuleOnManualAdjustment"
            type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IGNORE_RULE_ON_MANUAL_ADJ" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates that this rule is not applicable on entire order or lines that have either manual adjustments or manual rule adjustments specified.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IgnoreRuleOnPriceLock" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IGNORE_RULE_ON_PRICE_LOCK" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule should not be fired if the line item's unit price is locked. The line item can be the target or the rule trigger. Applicable only for rules that are item targeted, like combination and item quantity rules.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActiveOnFriday" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE_ON_FRIDAY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule is applicable on Friday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActiveOnMonday" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE_ON_MONDAY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule is applicable on Monday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActiveOnSaturday" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SATURDAY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule is applicable on Saturday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActiveOnSunday" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE_ON_SUNDAY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule is applicable on Sunday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActiveOnThursday" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE_ON_THURSDAY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule is applicable on Thursday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActiveOnTuesday" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE_ON_TUESDAY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule is applicable on Tuesday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsActiveOnWednesday" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ACTIVE_ON_WEDNESDAY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If set indicates that the rule is applicable on Wednesday.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsCouponRule" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_COUPON_RULE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether this rule is a coupon or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsCustomRule" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_CUSTOM_RULE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether the rule is custom or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsFreeGiftRule" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_FREE_GIFT_RULE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether the rule is a free gift rule or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsItemAttributeValueRule"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_ITEM_ATTRIBUTE_VALUE_RULE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates that this item targeted rule is defined on item attribute values. Applicable for all types of rules.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsItemRule" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_ITEM_RULE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether the rule is targeted on items or not.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsManualRule" type="yfctype:Flag" use="optional">
            <xsd:annotation yfc:columnName="IS_MANUAL_RULE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether this pricing rule is a manually applied adjustment rule or not. A manual pricing rule is suggested by the pricing service based on contents or total of the order, which then again should be specified with the amount of adjustment to be applied against the order.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="IsNonInstantDiscountRule"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="IS_NON_INSTANT_DISCOUNT_RULE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates if the pricing rule is a Non-Instant Discount pricing Rule</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemOperatorCode"
            type="yfctype:EnumItemOperatorCode" use="optional">
            <xsd:annotation yfc:columnName="ITEM_OPERATOR_CODE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates how the trigger for the rule is evaluated. Applicable only for combination type of rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="MinimizeNumberOfShipments"
            type="yfctype:Flag" use="optional">
            <xsd:annotation
                yfc:columnName="MINIMIZE_NUMBER_OF_SHIPMENTS" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates whether to optimize on the number of shipments or not. Applicable only for shipping category of rules.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OrganizationCode" type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Pricing organization to which the configuration belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="OverallRedemptionLimit" use="optional">
            <xsd:annotation yfc:columnName="OVERALL_REDEMPTION_LIMIT" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>This option limits the number of times that a pricing rule or coupon can be used in total, by all customers</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:PositiveInteger"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="PaymentType" type="yfctype:Text-20" use="optional">
            <xsd:annotation yfc:columnName="PAYMENT_TYPE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>The rule is applicable for this Payment Type.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingComplexity" type="yfctype:Text-12" use="optional">
            <xsd:annotation yfc:columnName="PRICING_COMPLEXITY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>This attribute is used by SBC application. It is a free text field. This attribute is not used by any pricing api internally.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleName"
            type="yfctype:PricingRuleName" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_NAME" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Name of the pricing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingStatus" type="yfctype:PricingStatus" use="optional">
            <xsd:annotation yfc:columnName="PRICING_STATUS" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates the status of the pricing rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Priority" type="yfctype:Priority" use="optional">
            <xsd:annotation yfc:columnName="PRIORITY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>This attribute is used to prioritize Pricing Rule among a list of applicable pricing rules with same Exclusivity settings. Higher the value of this attribute, higher the priority of Pricing Rule, to be applied to an order/item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleCategory"
            type="yfctype:EnumRuleCategory" use="optional">
            <xsd:annotation yfc:columnName="RULE_CATEGORY" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates the category to which the rule belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="RuleType" type="yfctype:EnumRuleType" use="optional">
            <xsd:annotation yfc:columnName="RULE_TYPE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Indicates the type of the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="SellerOrganizationCode"
            type="yfctype:OrgCode" use="optional">
            <xsd:annotation yfc:columnName="SELLER_ORGANIZATION_CODE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Seller who maintains this pricing rule. Promotion is defined by the seller.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="StartDateActive" use="optional">
            <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>Date from which the rule is active.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:TimeStamp"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="StartTime" use="optional">
            <xsd:annotation yfc:columnName="START_TIME" yfc:tableName="YPM_PRICING_RULE">
                <xsd:documentation>If not void indicates that the rule is applicable from this time.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Time"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
