Data/xapidocs/api_javadocs/XSD/YPM_selectPricelistLineUE_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/selectPricelistLineUE/output"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/selectPricelistLineUE/output" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_selectPricelistLineUE_output.xsd" yfc:rootElement="PricelistLineList">
        <xsd:appinfo source="yfc:structure">
            <PricelistLineList>
                <PricelistLine hasAttributes="Y">
                    <PricelistLineAttrList>
                        <PricelistLineAttr hasAttributes="Y"/>
                    </PricelistLineAttrList>
                </PricelistLine>
            </PricelistLineList>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricelistLineList" type="yfc:PricelistLineListXSDType"/>
    <xsd:complexType name="PricelistLineListXSDType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricelistLine"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PricelistLine">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_LINE">
            <xsd:documentation>This table stores the price associated with the item and quantity tiered prices.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:all>
                <xsd:element maxOccurs="1" minOccurs="0" ref="yfc:PricelistLineAttrList"/>
            </xsd:all>
            <xsd:attribute name="EndDateActive" use="optional">
                <xsd:annotation yfc:columnName="END_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>After this date the price list line is not active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="FromQuantity" use="optional">
                <xsd:annotation yfc:columnName="FROM_QUANTITY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The quantity from which the tier begins.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:Quantity"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
                <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Item for which the price is defined in this price list line.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistHeaderKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_HDR_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Price List for which the price list lines are maintained.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="PricelistLineKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_LINE_KEY" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Primary key attribute of YPM_PRICELIST_LINE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="StartDateActive" use="optional">
                <xsd:annotation yfc:columnName="START_DATE_ACTIVE" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>Date from which the price list line is active.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:TimeStamp"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
                <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICELIST_LINE">
                    <xsd:documentation>The unit of measure of the item.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistLineAttrList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" ref="yfc:PricelistLineAttr"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="PricelistLineAttr">
        <xsd:annotation yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
            <xsd:documentation>Supports item attribute based pricing. If the attributes of an item, either in the catalog or overridden for the pricing call, match the attribute conditions for a group, the list price from this table is considered as a valid price for the item.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="AttributeKey" type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_KEY" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>Foreign key attribute from YFS_ATTRIBUTE table.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="GroupId" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="GROUP_ID" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>Logical group id for the attribute values. All attributes with same group id are evaluated together.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="IncludeOrExclude"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>Indicates whether the price should be included or excluded if the condition is satisfied. All include and exclude conditions in a group must be satisfied. Defaulted to Include if not passed</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineAttributeDomainID"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_DOMAIN_ID" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute domain.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineAttributeGroupID"
                type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_GROUP_ID" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute group.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineAttributeID" type="yfctype:ID-40" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_ID" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>The unique identifier of the attribute.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="LineAttributeMaxValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_MAX_VALUE" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>The maximum numeric value to match against the attribute value, exclusive.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="LineAttributeMinValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_MIN_VALUE" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>The minimum numeric value to match against the attribute value, inclusive.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="LineAttributeNumberValue" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_NUMBER_VALUE" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>The numeric value to match against the attribute value.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:QuantityPositiveAndNegative"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="LineAttributeTextValue"
                type="yfctype:Text-200" use="optional">
                <xsd:annotation yfc:columnName="ATTRIBUTE_TEXT_VALUE" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>The text value to match against the attribute value.</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="ListPrice" use="optional">
                <xsd:annotation yfc:columnName="LIST_PRICE" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>ListPrice of item attribute</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:union>
                        <xsd:simpleType>
                            <xsd:restriction base="yfctype:UnitPrice"/>
                        </xsd:simpleType>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value=""/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:union>
                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="PricelistLineAttrKey"
                type="yfctype:Key" use="optional">
                <xsd:annotation yfc:columnName="PRICELIST_LINE_ATTR_KEY" yfc:tableName="YPM_PRICELIST_LINE_ATTR_VALUE">
                    <xsd:documentation>Primary key attribute of YPM_PricelistLine_Attr table</xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
