Data/xapidocs/api_javadocs/XSD/YPM_Pricing_Rule_Item_master.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    targetNamespace="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Item_master"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:yfc="http://www.sterlingcommerce.com/documentation/YPM/Pricing_Rule_Item_master" xmlns:yfctype="http://www.sterlingcommerce.com/documentation/types">
    <xsd:annotation yfc:fileName="YPM_Pricing_Rule_Item_master.xsd" yfc:rootElement="PricingRuleItem">
        <xsd:appinfo source="yfc:structure">
            <PricingRuleItem hasAttributes="Y"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import
        namespace="http://www.sterlingcommerce.com/documentation/types" schemaLocation="datatypes.xsd"/>
    <xsd:element name="PricingRuleItem" type="yfc:PricingRuleItemXSDType">
        <xsd:annotation yfc:tableName="YPM_PRICING_RULE_ITEM">
            <xsd:documentation>This table maintains the information of combinations of item and quantity conditions that trigger the pricing rule. The data in this table is populated only for combination rule type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PricingRuleItemXSDType">
        <xsd:attribute name="IncludeOrExclude"
            type="yfctype:EnumIncludeOrExclude" use="optional">
            <xsd:annotation yfc:columnName="INCLUDE_OR_EXCLUDE" yfc:tableName="YPM_PRICING_RULE_ITEM">
                <xsd:documentation>The attribute indicates whether the Item and Quantity combination is used to trigger or to filter out the rule.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ItemID" type="yfctype:ItemID" use="optional">
            <xsd:annotation yfc:columnName="ITEM_ID" yfc:tableName="YPM_PRICING_RULE_ITEM">
                <xsd:documentation>The unique identifier of the target item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleItemKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_ITEM_KEY" yfc:tableName="YPM_PRICING_RULE_ITEM">
                <xsd:documentation>Primary key attribute of YPM_PRICING_RULE_ITEM table.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="PricingRuleKey" type="yfctype:Key" use="optional">
            <xsd:annotation yfc:columnName="PRICING_RULE_KEY" yfc:tableName="YPM_PRICING_RULE_ITEM">
                <xsd:documentation>The rule this item quantity condition is associated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="Quantity" use="optional">
            <xsd:annotation yfc:columnName="QUANTITY" yfc:tableName="YPM_PRICING_RULE_ITEM">
                <xsd:documentation>Quantity of the item.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union>
                    <xsd:simpleType>
                        <xsd:restriction base="yfctype:Quantity"/>
                    </xsd:simpleType>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value=""/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:union>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="UnitOfMeasure" type="yfctype:UOM" use="optional">
            <xsd:annotation yfc:columnName="UOM" yfc:tableName="YPM_PRICING_RULE_ITEM">
                <xsd:documentation>The unit of measure of the item.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
